<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Lakatoi v Walker [1999] NSWSC 156 (11 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 156</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+156 or 1999+NSWSC+156">Noteup</a>]
[<a href="156.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Lakatoi v Walker [1999] NSWSC 156 (11 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_156.html-->
<!--sino date 11 March 1999-->


<P>Last Updated: 15 March 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	LAKATOI v WALKER  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/156.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 156</a>
<P>

CURRENT JURISDICTION: 	COMMERCIAL
<P>

FILE NUMBER(S): 	50035/1998
<P>

HEARING DATE{S): 	3 March 1999
<P>

JUDGMENT DATE: 	11/03/1999
<P>

 PARTIES: 
<P>

LAKATOI UNIVERSAL PTY LIMITED - First Plaintiff
<P>

ROBERT MARTIN HOGARTH - Second Plaintiff
<P>

HIGHFIELD GROVE PTY LIMITED - Third Plaintiff
<P>

ENSILE PTY LIMITED - Fourth Plaintiff
<P>

LANGLEY ALEXANDER WALKER - First Defendant
<P>

PETER JAMES DRANSFIELD - Second Defendant
<P>

WALKER CONSOLIDATED INVESTMENTS PTY LIMITED - Third Defendant
<P>

MITSUI MINING RESOURCES PTY LIMITED - Fourth Defendant
<P>

WALKER CORPORATION LIMITED - Fifth Defendant
<P>

VAMDEN PTY LIMITED - Sixth Defendant
<P>

ROSAMOND PTY LIMITED - Seventh Defendant
<P>

JUDGMENT OF: 	Rolfe J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr V.R.W. Gray - Plaintiffs
<P>

SOLICITOR:  Mr A. Bouris - Mallesons Stephen Jaques
<P>

SOLICITORS: 
<P>

Gye Associates Lawyers - Plaintiffs/ Applicants
<P>

Mallesons Stephen Jaques - Respondents
<P>

CATCHWORDS: 
<P>

Client Legal Privilege
<P>

"Confidential Communication" and "Confidential Document".
<P>

Waiver.
<P>

Whether <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/ea80/" class="autolink_findacts">Evidence Act</a> or common law principles applicable.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Claim for client legal privilege in relation to communications by solicitors
not only to the clients, but also to third parties
who were members of the Due
Diligence Committee in respect of the public flotation of the client company in
respect of which flotation
the communications were made.
<P>

(a) Held that client legal privilege applied to copies of documents furnished
for the sole purpose of obtaining legal advice, notwithstanding
that the
originals were not privileged: Commissioner of Australian Federal Police &amp;
Anor v Propend Finance Pty Limited  <a href="/cgi-bin/LawCite?cit=%281997%29%20188%20CLR%20501" title="View LawCiteRecord" class="autolink_findcases">(1997) 188 CLR 501</a> applied.
<P>

(b) Consideration of draft documents: Dalleagles Pty Limited v Australian
Securities Commission  <a href="/cgi-bin/LawCite?cit=%281991%29%206%20ACSR%20498" title="View LawCiteRecord" class="autolink_findcases">(1991) 6 ACSR 498</a> applied where the drafts were amended
or corrected or bore notations following Mostyn v West Mostyn Coal and Iron Co
Ltd  <a href="/cgi-bin/LawCite?cit=%281876%29%2034%20LT%20531" title="View LawCiteRecord" class="autolink_findcases">(1876) 34 LT 531.</a>  
<P>

Held that recommunicated drafts subject to privilege.
<P>

(c) Held the applicable law at an interlocutory stage is the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/ea80/" class="autolink_findacts">Evidence <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1998/254.html" title="View Case" class="autolink_findcases_inserted">[1998] NSWSC 254</a>; Act</a>.
Akins &amp; Ors v Abigroup Limited  <a href="/cgi-bin/LawCite?cit=%281998%29%2043%20NSWLR%20539" title="View LawCiteRecord" class="autolink_findcases">(1998) 43 NSWLR 539</a> and Sevic v Roarty
<a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1998/462.html" title="View Case" class="autolink_findcases_inserted">[1998] NSWSC 462</a>;  <a href="/cgi-bin/LawCite?cit=%281998%29%2044%20NSWLR%20287" title="View LawCiteRecord" class="autolink_findcases">(1998) 44 NSWLR 287</a> followed.
<P>

Carnell v Mann <a href="http://www.austlii.edu.au/au/cases/cth/FCA/1998/1566.html" title="View Case" class="autolink_findcases_inserted">[1998] FCA 1566</a>;  <a href="/cgi-bin/LawCite?cit=%281998%29%20159%20ALR%20647" title="View LawCiteRecord" class="autolink_findcases">(1998) 159 ALR 647</a> not followed.
<P>

(d) Held no waiver because in the circumstances the communications and
documents were "confidential" and, accordingly, s.122(2)(a)
did not lead to a
waiver.  Question of confidentiality dependent on the particular
circumstances.
<P>

JUDGMENT: 
<P>

17
<P>


<P>

<center><b>I   N   D   E   X</b></center>
<P>

<b>												PAGE</b>
<P>

<b>Introduction									  1</b>
<P>

<b>Some Areas of Dispute								  5</b>
<P>

<b>The Applicable Law								  9</b>
<P>

<b>The Main Issue									11</b>
<P>

<b>Conclusions										17</b>
<P>

THE SUPREME COURTOF NEW SOUTH WALESEQUITY DIVISIONCOMMERCIAL LISTROLFE
JTHURSDAY, 11 MARCH 1999<b>50035/1998 - LAKATOI UNIVERSAL PTY LIMITED &amp; ORS
 v  WALKER &amp; ORSJUDGMENT</b>HIS HONOUR:<b>Introduction</b>
<P>

1	By a Notice of Motion filed on 22 February 1999 the plaintiffs, for which and
whom Mr V.R.W. Gray of Counsel appeared, sought
the following orders:-
<P>

<b>"1.	That all parties be granted access to the documents produced by
Mallesons Stephen Jaques on 22 October 1998 and 30 October 1998
in compliance
with a Subpoena for Production dated 8 October 1998 and to which the said
Mallesons Stephen Jaques have made a claim
for privilege.</b>
<P>

<b>  2.	That the Plaintiff be granted first access to the documents referred to
in Order 1 for a period of 7 days from the date of this
Order."</b>
<P>

Mallesons Stephen Jaques, ("MSJ"), for whom Mr A. Bouris, Solicitor, appeared,
opposed the inspection of the documents on the ground
that they attracted
client legal privilege in favour of the fifth defendant, Walker Corporation
Limited.  No point was taken that
the claim for privilege should have been made
by the fifth defendant, it apparently being accepted that MSJ was making the
claim
on its behalf.
<P>

2	The Notice of Motion was supported by the affidavit of Ms Tania Schiff, a
Solicitor in the employ of the plaintiffs' solicitors,
to which she annexed the
subpoena addressed to MSJ, which sought the production of a number of documents
relating to a prospectus
issued by the fifth defendant and dated 22 February
1994, including but not limited to due diligence reports, due diligence
questionnaires,
minutes of all Due Diligence meetings, verification indexes or
schedules, and the verified copy of the Prospectus. MSJ acted as the
solicitors
for the fifth defendant on the public flotation.  MSJ raised no objection to
the width of the subpoena, but made a claim
for client legal privilege in
respect of certain of the documents, which they produced. The submissions
proceeded on the basis of
principle, and I was not invited to inspect any of
the documents for which privilege was claimed.
<P>

3	Ms Schiff deposed that MSJ were the solicitors responsible for the Due
Diligence in respect of the Prospectus, that a claim for
privilege had been
made for a number of the documents, and that portion of the documents produced
had parts masked to retain the
confidentiality of the information therein.
<P>

4	The affidavit of Ms Helen Cook sworn on 1 March 1999 was relied upon in
opposition to the application.  She is the legally qualified
employee of MSJ to
whom, essentially, the task fell of considering the documentation and whether a
claim for client legal privilege
should be made.
<P>

5	In paragraph 5 she deposed that the majority of documents produced related to
the public flotation of the fifth defendant for
the legal requirements of which
MSJ were responsible.
<P>

6	In paragraph 11 she deposed:-
<P>

<b>"11.	Mr David Friedlander, then an employed solicitor of MSJ, now a partner
of the firm, worked on the retainer.  I am informed by
Mr Friedlander, and
verily believe:</b>
<P>

<b>(a)	That Grant Samuel &amp; Associates were responsible for the tendering
process having as its aim the appointment of a legal firm
to appoint the legal
firm to work upon the public flotation, and that this tender was won by MSJ,
which then acted as legal adviser
to the fifth defendant upon the public
flotation;</b>
<P>

<b>(b)	That Grant Samuel &amp; Associates acted as an investment bank adviser
to the fifth defendant and as co-ordinators of the due
diligence system,
putting together the professional advisers who were to be involved;</b>
<P>

<b>(c)	That the purpose of the Due Diligence Committee was to take all
reasonable precautions and conduct all relevant investigations
to ensure that
the prospectus did not contain a statement that was false or misleading in any
material particular and did not omit
anything which could lead to the
prospectus being false or misleading;</b>
<P>

<b>(d)	That the deliberations of the Due Diligence Committee were extremely
confidential and sensitive.  Those deliberations involved
a consideration of
all matters which might reveal any or any potential breaches of the law and the
sensitivity of which would be
obvious in the context of for example, compliance
with taxation responsibilities, Corporations Law responsibilities, obligations
due to outside contractors, to employees and other persons.  The deliberations
of the committee were designed to ensure that in respect
of financial,
corporate and legal affairs of the company, the prospectus to be issued to
members of the public was accurate;</b>
<P>

<b>(e)	MSJ was retained to act on behalf of both the fifth defendant and its
parent company McRoss Developments No 2 Pty Limited."</b>
<P>

7	None of this evidence was challenged.  
<P>

8	In paragraph 12 Ms Cook deposed that as McRoss Developments No 2 Pty Limited
was, prior to the public flotation, the parent corporation
of the fifth
defendant and therefore liable for various obligations it was a member of the
Due Diligence Committee.  KPMG Peat Marwick
were the accountants to the public
flotation, dealing with all matters of potential concern applicable to the
financial affairs of
the fifth defendant relevant to the preparation of the
Prospectus.  CS First Boston were the underwriters to the public flotation
"and
therefore had a significant interest in ensuring" its success, and Allen Allen
&amp; Hemsley were the solicitors for CS First
Boston.  The Due Diligence
Committee comprised representatives of all these entities.  MSJ were only the
solicitors for the fifth
defendant and McRoss Developments No 2 Pty Limited.
<P>

9	In paragraph 13 Ms Cook stated that she utilised the "sole purpose" test for
legal privilege "when I came to consider every document
that MSJ had falling
within the terms of the subpoena". In paragraph 15 she continued:-
<P>

<b> "The documents in respect of which client legal privilege has been claimed
fall into the following categories:</b>
<P>

<b>(a)	Letters sent to or from the fifth defendant and MSJ or to and from MSJ
and the fifth defendant, some, but not all of which were
copied to other
members of the Due Diligence Committee, where the contents of the letters
revealed a confidential communication for
the purpose of giving or seeking
legal advice.</b>
<P>

<b>(b)	Internal memoranda between solicitors of MSJ with regard to the
preparation of the prospectus.</b>
<P>

<b>(c)	Drafts of Reports, drafts of Verification Reports, drafts of
prospectus.</b>
<P>

<b>(d)	Copies of documents provided to MSJ where the originals were not
privileged, but the copies were provided to MSJ for the purpose
of MSJ
providing legal advice or direction."</b>
<P>

<b>Some Areas Of Dispute</b>
<P>

10	It was essentially around these categories of documents that the submissions
ranged.  Mr Gray conceded that client legal privilege
was properly claimed in
respect of the letters in sub-paragraph (a), other than those "copied to other
members of the Due Diligence
Committee".  He submitted that client legal
privilege had been waived in respect of them by their being so copied. On that
basis
 he sought access to them.  He also conceded that client legal privilege
was properly claimed in respect of the internal memoranda
referred to in
sub-paragraph (b).  Accordingly he did not press the application to inspect the
letters which had not been copied
to other members of the Due Diligence
Committee, or any of the internal memoranda. 
<P>

11	Confronted with the decision of the High Court in <b>Commissioner of
Australian Federal Police &amp; Anor v Propend Finance Pty Limited</b>  <a href="/cgi-bin/LawCite?cit=%281997%29%20188%20CLR%20501" title="View LawCiteRecord" class="autolink_findcases">(1997)
188 CLR 501</a>, Mr Gray accepted that client legal privilege attached to a copy
document provided to a lawyer, so long as the copy was made solely
for the
purpose of obtaining legal advice or solely for use in legal proceedings, even
where the original document was not privileged.
 Ms Cook's statement in
paragraph 13 makes clear that she applied the sole purpose test. It was not
suggested in cross-examination
that she had not applied that test in
considering the copies for which privilege was sought.  Therefore, the claim
for client legal
privilege has been made out.  The originals, which it is not
suggested attract client legal privilege, can be demanded from the fifth
defendant.
<P>

12	In paragraph 17 she repeated that she based her judgment as to which
documents were privileged on the sole purpose of providing
legal advice:-
<P>

	<b>".. as the due diligence exercise was not carried out in contemplation of
legal proceedings but represented the exercise of legal
skill and knowledge of
flotation of a private company as a public company in respect of which legal
advice had been sought by the
fifth defendant."</b>
<P>

She continued, in paragraph 18:-
<P>

	<b>"Based upon this limb of client legal privilege, I consider the documents
and communications referred to in paragraph 15 above to
amount to confidential
communications: </b>
<P>

<b>	(a)	Between the fifth defendant and MSJ;</b>
<P>

<b>	(b)	Within MSJ between solicitors;</b>
<P>

<b>	(c)	Within the confidential circle of the Due Diligence Committee since I
have obtained no knowledge that any of the deliberations
of the committee have
been made public.</b>
<P>

<b>	I considered that these matters justified the claiming of client legal
privilege even where the legal advice was communicated in
the presence not only
of our client but the other members of the Due Diligence Committee.  Therefore
if I perused the document created
by MSJ or sent to MSJ which was copied not
only to the client or MSJ (as the case might be) but to all the other members
of the committee
then as long as I was satisfied that the nature of the
communication had the substance of a confidential communication which appeared
to give legal direction or advice concerning the course to be followed for the
purposes of the public flotation or which sought such
legal direction or
advice, then I made a claim for client legal privilege."</b>
<P>

13	There was also some argument about the documents specified in sub-paragraph
(c).  Mr Bouris submitted that drafts referred to
in that paragraph, attract
client legal privilege.  He relied on the decision of <b>Dalleagles Pty Limited
v Australian Securities Commission</b>  <a href="/cgi-bin/LawCite?cit=%281991%29%206%20ACSR%20498" title="View LawCiteRecord" class="autolink_findcases">(1991) 6 ACSR 498</a>, in which at p.505,
Anderson J said:-
<P>

	<b>"As I have said, I do not consider that in any of those cases, the High
Court was purporting to exhaustively state the categories
of legal professional
privilege.  I respectfully agree with the observations of MacPherson J in
<i>Packer v DCT (Qld)</i>  <a href="/cgi-bin/LawCite?cit=%281985%29%2055%20ALR%20242" title="View LawCiteRecord" class="autolink_findcases">(1985) 55 ALR 242</a> at 250 when, in reference to the
remarks made by the members of the High Court in <i>Baker v Campbell</i>, his
Honour said: `In applying (their remarks) it is no doubt necessary to bear in
mind that a communication may be privileged even
though it is not intended for
use in litigation and not strictly speaking made for the purpose of legal
advice but for the purposes
of providing legal assistance, e.g., draft
conveyances and the like: <i>Mostyn v West Mostyn Coal and Iron Co Ltd</i>
 <a href="/cgi-bin/LawCite?cit=%281876%29%2034%20LT%20531" title="View LawCiteRecord" class="autolink_findcases">(1876) 34 LT 531</a>, although they are not perhaps legal advice in a literal
sense'.</b>
<P>

<b>	<i>Mostyn v West Mostyn Coal and Iron Co Ltd</i> ... is longstanding
authority for the rule that summaries of agreements and draft agreements
prepared by legal advisers <u>with handwritten observations and cancellations
on them are prima facie privileged</u>, as well as instructions given to drawn
an agreement."  (My emphasis.)</b>
<P>

14	Mr Bouris further submitted that drafts of the type referred to in
sub-paragraph (c) should be equated with draft pleadings and
draft
correspondence.
<P>

15	In my opinion <b>Dalleagles</b> confirms the proposition, which is well
established, that drafts "with handwritten observations and cancellations on
them are prima
facie privileged".   It is not, as I understand it, authority
for the proposition that drafts without such notations attract that
privilege.
However, a further question is whether a draft, without notations, amendments
and corrections, which has not been furnished
to another party for comment or
otherwise in a non-privileged circumstance, nonetheless attracts client legal
privilege on the basis
that it reflects, one is entitled to infer, the
instructions, or the essential nature of them, furnished to the solicitors by
the
client.  Thus a situation may arise where a draft is prepared, on the
existing instructions, which, after consideration by the client
and before the
draft has been furnished to any other party, is the subject of substantial
amendment because of a change in instructions.
 It seems to me that in
principle the production of such a draft, even without notations, amendments
and corrections, would properly
be held to constitute a disclosure of
instructions and, in my opinion, for this reason the draft would attract client
legal privilege.
 The situation, however, becomes very different once the draft
goes into the public domain, e.g. by its being sent to the solicitors
for the
other party for comment in the usual course of drafting and ultimately
concluding commercial documentation.  Accordingly
the statement in
sub-paragraph (c) does not necessarily mean that the drafts do or do not
attract client legal privilege.
<P>

16	In the present case they would do so because of notations, amendments or
corrections, or because they are nothing more than drafts
which have not been
disclosed in circumstances waiving the privilege. Ms Cook's evidence satisfies
me that this was considered and
the conclusion reached that client legal
privilege applied.  However, if they were disclosed only to other members of
the Due Diligence
Committee, the substantive issue which arises in this case
will apply to them, viz whether that disclosure was of a confidential
communication or a confidential document.  On those hypotheses, and no others
were argued, the drafts will only be susceptible of
inspection if the main
issue is answered favourably to the plaintiffs.
<P>

<b>The Applicable Law</b>
<P>

17	The present application arises at an interlocutory stage.  It does not arise
when evidence is being adduced.  This led to a submission
by Mr Gray that the
<b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/ea80/" class="autolink_findacts">Evidence Act</a></b> 1995, ("the Act"), does not, in terms, apply to it because
this is not an adduction of evidence in a proceeding in a Court.  He submitted
that the common law rules apply.  Mr Bouris submitted that the provisions of
the Act applied, but, even if they did not, the application
by Ms Cook of the
"sole purpose" test made any distinction irrelevant.  There may be other
distinctions depending on the applicable
law.
<P>

18	In my opinion, I am bound by the decisions of the Court of Appeal in
<b>Akins &amp; Ors v Abigroup Limited</b> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1998/254.html" title="View Case" class="autolink_findcases_inserted">[1998] NSWSC 254</a>;  <a href="/cgi-bin/LawCite?cit=%281998%29%2043%20NSWLR%20539" title="View LawCiteRecord" class="autolink_findcases">(1998) 43 NSWLR 539</a> and <b>Sevic v
Roarty</b> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1998/462.html" title="View Case" class="autolink_findcases_inserted">[1998] NSWSC 462</a>;  <a href="/cgi-bin/LawCite?cit=%281998%29%2044%20NSWLR%20287" title="View LawCiteRecord" class="autolink_findcases">(1998) 44 NSWLR 287</a>, which hold that the provisions of the Act apply
to interlocutory proceedings. I consider that the doctrine of precedent demands
that I follow decisions of the New South Wales Court of Appeal.  It would be
necessary for those decisions to be over-ruled by that
Court or the High Court
before a Judge sitting at first instance in this Court was justified in not
doing so.  Further, in so far
as it is relevant, as a member of the Court in
<b>Akins</b>, my agreement with Mason P demonstrates that I consider that the
Act's provisions apply to interlocutory proceedings.
<P>

19	In determining the issues raised in this application I propose to apply the
provisions of the Act.
<P>

<b>The Main Issue</b>
<P>

20	The main issue is whether the disclosure of documents to persons on the Due
Diligence Committee, other than representatives of
MSJ, the fifth defendant and
McRoss Developments No 2 Pty Limited, constituted a waiver of client legal
privilege within the meaning
of s.122(2)(a).  Mr Gray submitted it did because
there was no relationship of solicitor and client between Grant Samuel &amp;
Associates,
KPMG Peat Marwick, CS First Boston and Allen Allen &amp; Hemsley,
on the one hand, and MSJ on the other.  Although there was some
argument about
agency, this was not seriously in issue. The submission continued that
disclosure to third parties constituted a waiver
and, accordingly, that client
legal privilege was lost. Mr Bouris submitted, for various reasons, that client
legal privilege was
maintained notwithstanding disclosure to those members of
the Due Diligence Committee.
<P>

21	Division 1 of Part 3.10 of the Act is concerned with client legal privilege.
In s.117 "client" is defined as including an employee
or agent of a client, and
"confidential communication" is defined as meaning:-
<P>

	<b>".. a communication made in such circumstances that, when it was
made:</b>
<P>

<b>	(a)	the person who made it, or </b>
<P>

<b>	(b)	the person to whom it was made, </b>
<P>

<b>	was under an express or implied obligation not to disclose its contents,
whether or not the obligation arises under law."</b>
<P>

22	"Confidential document" is defined as meaning:-
<P>

	<b>".. a document prepared in such circumstances that, when it was
prepared:</b>
<P>

<b>	(a)	the person who prepared it, or</b>
<P>

<b>	(b)	the person for whom it was prepared, </b>
<P>

<b>	was under an express or implied obligation not to disclose its contents,
whether or not the obligation arises under law."</b>
<P>

23	"Party" is defined as including an employee or agent of a party.  
<P>

24	Section 118, which is headed "Legal Advice", provides that evidence is not
to be adduced if, on objection by a client, the Court
finds that doing so would
result in the disclosure of a confidential communication between the client and
a lawyer or between two
or more lawyers acting for the client, or of the
contents of a confidential document prepared by the client or a lawyer where
the
dominant purpose of the lawyer, or one of the lawyers, was the providing of
legal advice to the client.  As Ms Cook made clear, she
applied the "sole
purpose" test, which, arguably (although I do not accept that submission), is
the correct test at an interlocutory
level.  However, if it is ultimately held
that there should be a more stringent test imposed at an interlocutory level
than that
of "predominant purpose", Ms Cook has complied with it.
<P>

25	Section 119 deals with litigation, and s.120 with the position of
unrepresented parties.  Section 122(2)(a) provides:-
<P>

	<b>"Subject to sub-section (5), this Division does not prevent the adducing of
evidence if a client or party has knowingly and voluntarily
disclosed to
another person the substance of the evidence and the disclosure was not
made:-</b>
<P>

<b>	(a)	in the course of making a confidential communication or preparing a
confidential document, or</b>
<P>

<b>	..."</b>
<P>

<b>	</b>
<P>

26	No submissions were made in relation to sub-section (5).
<P>

27	The submissions revolved around the question whether, because the
communication to other members of the Due Diligence Committee
was made in
circumstances where there was either an express or implied obligation not to
disclose its contents, or a document was
provided as a confidential document in
the same circumstances, the knowing and voluntary disclosure to the other
members of the Due
Diligence Committee fell within the exception provided by
s.122(2)(a).
<P>

28	Mr Gray submitted, as I understood it, that there could not be a
confidential communication or confidential document save as
between the
solicitor and the solicitor's client, and that once the terms of the
communication or document were made known to other
parties, even though they
were under an express or implied obligation not to disclose its contents, it
ceased to be a "confidential
communication" or "confidential document".  He
submitted that the only recipients of a "confidential communication" to whom
the Act
applied were typists and, I think, others, who had to perform
administrative tasks on behalf of the solicitors or the recipients
of the
communications or documents.  Mr Bouris submitted that the words of the various
sections had to be given their full meaning
and that once it was established
that the recipient of the confidential communication or confidential document
was under a specified
obligation not to disclose its contents it remained "a
confidential communication" or "a confidential document" and, therefore, the
disclosure was not made in the course of making such a communication or
providing such a document.
<P>

29	I was informed that the researches of Mr Gray and Mr Bouris had not
disclosed any cases which dealt with the proper construction
of s.122(2)(a).
The definitions of "confidential communication" and "confidential document"
found upon a communication made by or
to or for "the person".  I have
difficulty with the definitions in so far as they presuppose that when the
confidential communication
was made or the confidential document was prepared,
the person who made or prepared it was under an express or implied obligation
not to disclose its contents. The definitions are more easily susceptible of a
meaning when they refer to "the person to whom it
was made" and "the person for
whom it was prepared", and, relevantly for present purposes, those are the
parts of the definitions
to which attention must be paid.  
<P>

30	The use of the words "the person" must be distinguished from the
identification of "client", "lawyer" and "party".  Further,
when one comes to
s.118, sub-ss.(a) and (b) preclude the adducing of evidence on objection by a
client if the Court is satisfied
that there was a confidential communication or
confidential document. There is the requirement, of course, for the specified
dominant
purpose.  
<P>

31	Section 122 is intended to provide for circumstances in which client legal
privilege may be lost.  Sub-section (2) is concerned
with the knowing and
voluntary disclosure "to another person", which, in my opinion, means a person
other than "a client" or "party",
which words have the extended definitions to
which I have referred.  The very restrictive construction for which Mr Gray
contends
would, in my opinion, deprive the words of the definitions of much of
their meaning.  I do not accept that a person "under an express
or implied
obligation not to disclose the contents", in the context of the Act, is so
limited.  In my opinion, it extends to any
person who, by virtue of his or her
position, is under the obligation not to disclose, i.e. receives the
information in circumstances
where it is communicated, either expressly or
impliedly, for the benefit of the party having the privilege, at least in part,
and
where it is to remain confidential. The unchallenged evidence of Ms Cook
makes it clear that the information circulated to the Due
Diligence Committee
was treated as being confidential to its members.
<P>

32	The proper inference, on the material before me, is that the members of the
Due Diligence Committee were under that obligation.
 They were clearly not at
liberty to disclose the information and the contrary was not argued.
Accordingly, the communication to
them of legal advice is a confidential
communication and, therefore, attracts the protection of s.122(2)(a).  There
would only be
a waiver, on this view, if the substance of the evidence was
knowingly and voluntarily disclosed to a person not under the obligation
specified in the definition of "confidential communication" or "confidential
document".
<P>

33	I do not find anything surprising in this result, because I do not
understand the common law to have provided that a voluntary
and knowing
disclosure of material, which attracted legal professional privilege,
necessarily amounted to a waiver of that privilege.
 Accordingly, a solicitor
may submit material based on his client's statement, or his client's proof of
evidence, to an expert with
a view to the expert providing an opinion founded
on that material. I do not consider this could be treated as a waiver because
the
information would be given in circumstances of confidence: <b>Sevic v
Roarty</b> and <b>Tyco Australia Pty Limited v Optus Networks Pty Limited &amp;
Ors</b> (Court of Appeal - 18 December 1998 - unreported) provide examples.
If, however, this is wrong the position remains that the words
of the Act must
be given their full effect and, in my opinion, the narrow construction for
which Mr Gray contends does not allow
this.  In giving the words their full
meaning one must, of course, have regard to all the circumstances.
<P>

<b>Conclusions</b>
<P>

34	The claim for client legal privilege in respect of the documents referred to
in paragraphs (a), in so far as its absence was
asserted, and (d) has,
therefore, been established.  The balance of paragraph (a) and the whole of
paragraph (b) were not pressed.
 The conclusions to which I have come mean that
the main issue is determined favourable to MSJ so that the application in
relation
to the documents in sub-paragraph (c) must fail.
<P>

35	I order that the plaintiffs' Notice of Motion filed on 22 February 1999 be
dismissed with costs and that the exhibit be returned.
<P>

                                 _______________________
<P>

LAST UPDATED: 	11/03/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/156.html</i><br>
</p>
</small>
</body>
</html>
