<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Goodwin v La Macchia and Ors [1999] NSWSC 1184 (7 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1184</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1184 or 1999+NSWSC+1184">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Goodwin v La Macchia and Ors [1999] NSWSC 1184 (7 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1184.html-->
<!--sino date 7 December 1999-->


<P>Last Updated: 8 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Goodwin v La Macchia &amp; Ors  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1184.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1184</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	W200002/95
<P>

HEARING DATE{S): 	11 October 1999
<P>

JUDGMENT DATE: 	07/12/1999
<P>

 PARTIES: 
<P>

Williams Thomas John Easdown (2nd Defendant)
<P>

Texole Pty Limited (3rd Defendant)
<P>

Stephen Walker (4th Defendant)
<P>

JUDGMENT OF: 	Studdert J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

I. Mescher (2nd Defendant)
<P>

S.J. Longhurst (3rd Defendant)
<P>

F.S. Stevens (4th Defendant)
<P>

SOLICITORS: 
<P>

Michell Sillar (2nd Defendant)
<P>

Miller Harris (3rd Defendant)
<P>

South and Geldard (4th Defendant)
<P>

CATCHWORDS: 
<P>

CONTRACT
<P>

construction
<P>

meaning to be given to agreement to insure..."including insurance of all crew
for personal injury and death"
<P>

relevant principles of construction considered
<P>

RECEIVER
<P>

whether personally liable on contract entered into within scope of and in
course of his agency
<P>

EMPLOYER AND EMPLOYEE
<P>

employee liable in negligence to third party
<P>

claim for indemnity by employee against employer
<P>

action brought in New South Wales
<P>

application of law of Queensland
<P>

employee's claim to be indemnified by employer not maintainable.
<P>

ACTS CITED: 
<P>

Corporations Law
<P>

Jurisdiction of Courts (Cross Vesting) Act
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ela1991217/" class="autolink_findacts">Employee's Liability Act, 1991</a>
<P>

DECISION: 
<P>

See para 55
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

COMMON LAW DIVISION
<P>

STUDDERT J
<P>

Tuesday 7 December 1999
<P>

2/95	<b>KERRY GOODWIN   v   B.A. LA MACCHIA &amp; ORS</b>
<P>

JUDGMENT
<P>

1  	HIS HONOUR:  On Monday 11 October the hearing on the outstanding
claims was concluded.  There are two remaining cross claims
calling for the
decision of the Court and these I now address.
<P>

<b>1.	The cross claim of the third defendant against the second
defendant</b>
<P>

2  	The cross claim by the third defendant against the second
defendant was expressed as being based in negligence and breach of
contract.
<P>

3  	The plaintiff failed to prove that the second defendant was
negligent and the third defendant introduced no evidence on its
cross claim
against the second defendant directed to the issue of the second defendant's
negligence.  It follows that I am not satisfied
that the third defendant has
proved that the second defendant was negligent in the circumstances in which
the plaintiff was injured
and, accordingly, the third defendant's cross claim
against the second defendant is not established in negligence.
<P>

4  	The cross claim, to the extent that it is based in contract, is
dependent upon the construction of the agreement which I find
was entered into
between the second defendant and the third defendant on 8 May 1991 (Exhibit
K).
<P>

5  	In my earlier judgment I identified the documents in consequence
of which the second defendant became the receiver of the "Tagula
Bay" (see
Exhibits H and J). Exhibit K is the agreement governing the relationship
between the second defendant as <i>"the operator" </i>of the "Tagula Bay" and
the third defendant as <i>"the skipper" </i>of the vessel.  The agreement
recites the second defendant's agreement to employ the third defendant <i>"to
fish the vessel"</i> on the terms and conditions set out in the document.  The
document provides for the manner of supply of provisions and equipment
required
to operate the vessel and the remuneration of the third defendant by a share of
the catch (see the schedule).
<P>

6  	In clauses 3 and 4 there are a number of requirements imposed
upon the third defendant concerning the operation and maintenance
of the
vessel.  It is unnecessary to recite those requirements for present purposes,
except for clause 3(b) which is important. 
Under this sub-paragraph the third
defendant is charged with the responsibility of engaging the necessary
fishermen to work the vessel.
 That sub-paragraph also imposes the requirement
to pay those fishermen for their work upon the third defendant.
<P>

7  	It is clause 5 which represents the foundation of the third
defendant's cross claim.  I set the terms of the clause out in full:
<P>

<i>"5.	(a)	The Operator [that is, the second defendant] shall at its
expense:-</i>
<P>

<i>(i)	Supply the fuel for the vessel, cartons for the product, and attend to
payment of all freight charges and commission on product
sales;</i>
<P>

<i>(ii)	Effect any necessary structural alterations and major repairs to the
vessel which cannot be effected in the course of operations
by the Skipper
[that is, the third defendant];</i>
<P>

<i>(iii)	Insure the vessel during the voyage including insurance of all crew
for personal injury and death..</i>
<P>

<i>(b)	The Skipper shall at his expense supply the provisions and equipment (if
any) specified in Item 6(b) of the Schedule."</i>
<P>

8  	It is to be observed that in the above clause is to be found the
expression of obligations imposed upon the second defendant.
The second
defendant was to supply the fuel for the vessel and cartons for the catch.  It
was also to pay any relevant freight charges
and commission and it was also
required to carry out any necessary alterations and repairs to the vessel that
the third defendant
could not effect in the course of the fishing operations.
The second defendant also had the obligation to insure under clause 5(a)(iii).
For its part, the third defendant had the responsibility to pay for such
supplies, provisions and equipment as were contemplated
in the schedule,
namely:
<P>

<i>"A proportionate part of ship's stores and provisions together with all
usual and necessary personal navigational aids."</i>
<P>

9  	Mr Longhurst submitted that the obligation to insure imposed upon
the second defendant under clause 5(a)(iii) is to be read
as imposing a
contractual obligation on the second defendant to arrange insurance to cover
the third defendant against its liability
to crew members in circumstances such
as have occurred regarding the plaintiff in this case.  This submission
involves construing
the insurance provision in or to the following effect:
<P>

<i>"The operator shall at its own expense:-</i>
<P>

<i>Effect insurance to indemnify the third defendant in respect of any
liability to crew for personal injury and death caused during
the operation of
the vessel."</i>
<P>

10  	Mr Mescher submitted that the document cannot be so construed,
and that where the meaning is uncertain the document should
be construed
against the third defendant, since it is the third defendant which contends for
a broad interpretation of the insurance
provision.
<P>

11  	Neither the second defendant nor the third defendant called
evidence as to the execution of the agreement and no oral evidence
was sought
to be introduced by either party in relation to it.  Mr Mescher did however
tender the backsheet to the agreement.  The
document when first tendered as
Exhibit K had no backsheet to indicate its author, but the backsheet, when
added to the document
by Mr Mescher's tender, is in a form commonly seen.  It
bears the date, it identifies the parties, it carries the description
"Agreement",
and then at its foot there is typed:
<P>

<i>"MacDonnells,</i>
<P>

<i>Solicitors,</i>
<P>

<i>Level 6,</i>
<P>

<i>National Mutual Tower,</i>
<P>

<i>15 Lake Street,</i>
<P>

<i>CAIRNS.  QLD.  4870"</i>
<P>

12  	I note also that in the schedule to the agreement the third
defendant is described:
<P>

<i>"Texole Pty Limited</i>
<P>

<i>c/- MacDonnells</i>
<P>

<i>Solicitors</i>
<P>

<i>15 Lake Street,</i>
<P>

<i>Cairns"</i>
<P>

13  	The inference I draw is that MacDonnells were the solicitors who
prepared the agreement, and I draw the further inference from
the schedule that
MacDonnells were the solicitors acting for the third defendant.
<P>

14  	Counsel did not refer to authority as to how I should construe
the document but I must, of course, consider the construction
of the clause in
question in accordance with settled principles.
<P>

15  	In the much cited passage from the judgment of Lord Wright in
<i>Hillas &amp; Co. Limited v Arcos Limited</i> <a href="http://www.bailii.org/uk/cases/UKHL/1932/2.html" title="View Case" class="autolink_findcases_inserted">[1932] UKHL 2</a>;  <a href="/cgi-bin/LawCite?cit=%5b1932%5d%20147%20LT%20503" title="View LawCiteRecord" class="autolink_findcases">[1932] 147 LT 503</a> at 514. Lord
Wright stated that commercial contracts should be construed <i>"fairly and
broadly, without being too astute or subtle in finding defects."</i>  That
principle is not to be limited to cases where documents are drawn by
businessmen without legal assistance, and applies to the
construction of this
document even though it was apparently prepared by a solicitor:  see the dicta
of Gibbs J in <i>Australian Broadcasting Commission v Australasian Performing
Right Association Limited</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1973/36.html" title="View Case" class="autolink_findcases_inserted">[1973] HCA 36</a>;  <a href="/cgi-bin/LawCite?cit=%281973%29%20129%20CLR%2099" title="View LawCiteRecord" class="autolink_findcases">(1973) 129 CLR 99</a> at 109-110.
<P>

16  	In <i>Contract Law in Australia</i> - Carter and Harland, 3rd
ed., at para 260 is to be found the following statement of principle apposite
to the task which I face:
<P>

<i>"<b>[260]</b>  <b>Difficulty of interpretation distinguished from absence of
meaning</b>.  It has frequently been said that the courts will interpret the
language used broadly and fairly (especially when approaching a
document
drafted by laymen) (see Hillas &amp; Co Ltd v Arcos Ltd <a href="http://www.bailii.org/uk/cases/UKHL/1932/2.html" title="View Case" class="autolink_findcases_inserted">[1932] UKHL 2</a>;  <a href="/cgi-bin/LawCite?cit=%281932%29%20147%20LT%20503" title="View LawCiteRecord" class="autolink_findcases">(1932) 147 LT 503</a> at
514; Cohen v Mason  <a href="/cgi-bin/LawCite?cit=%5b1961%5d%20Qd%20R%20518" title="View LawCiteRecord" class="autolink_findcases">[1961] Qd R 518)</a> and that it is their duty to place a
reasonable meaning on that language unless this is `utterly impossible' (Brown
v Gould  <a href="/cgi-bin/LawCite?cit=%5b1972%5d%20Ch%2053" title="View LawCiteRecord" class="autolink_findcases">[1972] Ch 53</a> at 57; Hammond v Vam Ltd  <a href="/cgi-bin/LawCite?cit=%5b1972%5d%202%20NSWLR%2016" title="View LawCiteRecord" class="autolink_findcases">[1972] 2 NSWLR 16</a> at 18.  See
also Murphy v Wright  <a href="/cgi-bin/LawCite?cit=%281992%29%20NSW%20Conv%20R%2055%2d652" title="View LawCiteRecord" class="autolink_findcases">(1992) NSW Conv R 55-652</a> at 59733).  While it may be
questioned whether the courts do in fact always avoid the temptation `to repose
on the easy pillow of
saying that the whole is void for uncertainty' (In re
Roberts  <a href="/cgi-bin/LawCite?cit=%281881%29%2019%20Ch%20D%20520" title="View LawCiteRecord" class="autolink_findcases">(1881) 19 Ch D 520</a> at 529, discussed in Brown v Gould  <a href="/cgi-bin/LawCite?cit=%5b1972%5d%20Ch%2053" title="View LawCiteRecord" class="autolink_findcases">[1972] Ch 53</a> at
57) (alternatively described by Goff LJ as `a counsel of despair') (Nea Agrax
SA v Baltic Shipping Co Ltd  <a href="/cgi-bin/LawCite?cit=%5b1976%5d%201%20QB%20933" title="View LawCiteRecord" class="autolink_findcases">[1976] 1 QB 933</a> at 948), the prevailing approach is
one of upholding agreements wherever possible."</i>
<P>

17  	That the task of construction should not be approached too
narrowly was emphasised by Barwick CJ in the <i>Council of the Upper Hunter
County District v Australian Chilling and Freezing Co. Limited</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1968/8.html" title="View Case" class="autolink_findcases_inserted">[1968] HCA 8</a>;  <a href="/cgi-bin/LawCite?cit=%281967%29%20118%20CLR%20429" title="View LawCiteRecord" class="autolink_findcases">(1967) 118
CLR 429</a> where the former Chief Justice said at 436-437:
<P>

<i>"But a contract of which there can be more than one possible meaning or
which when construed can produce in its application more than
one result is not
therefore void for uncertainty.  As long as it is capable of a meaning, it will
ultimately bear that meaning which
the courts, or in an appropriate case, an
arbitrator, decides is its proper construction: and the court or arbitrator
will decide
its application.  The question becomes one of construction, of
ascertaining the intention of the parties, and of applying it. Lord
Tomlin&#180;s words in this connexion in Hillas &amp; Co. Ltd. v. Arcos Ltd.
<a href="http://www.bailii.org/uk/cases/UKHL/1932/2.html" title="View Case" class="autolink_findcases_inserted">[1932] UKHL 2</a>;  <a href="/cgi-bin/LawCite?cit=%281932%29%20147%20LT%20503" title="View LawCiteRecord" class="autolink_findcases">(1932) 147 LT 503</a>, at p 512 ought to be kept in mind. So long as the language
employed by the parties, to use Lord Wright&#180;s words in Scammell
(G.) &amp;
Nephew Ltd. v. Ouston  <a href="/cgi-bin/LawCite?cit=%281941%29%20AC%20251" title="View LawCiteRecord" class="autolink_findcases">(1941) AC 251</a> is not "so obscure and so incapable of any
definite or precise meaning that the Court is unable to attribute to the
parties any particular
contractual intention", the contract cannot be held to
be void or uncertain or meaningless. In the search for that intention, no
narrow or pedantic approach is warranted, particularly in the case of
commercial arrangements. Thus will uncertainty of meaning,
as distinct from
absence of meaning or of intention, be resolved."</i>
<P>

18  	See also <i>Meehan v Jones</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1982/52.html" title="View Case" class="autolink_findcases_inserted">[1982] HCA 52</a>;  <a href="/cgi-bin/LawCite?cit=%281982%29%20149%20CLR%20571" title="View LawCiteRecord" class="autolink_findcases">(1982) 149 CLR 571</a> and in
particular the judgment of Gibbs CJ at 578.
<P>

19  	I am considerably assisted in examining the insurance provision
here by the dicta of Gibbs J in the <i>Australian Broadcasting Commission
</i>case (supra) at 109-110:
<P>

<i>"It is trite law that the primary duty of a court in construing a written
contract is to endeavour to discover the intention of the
parties from the
words of the instrument in which the contract is embodied. Of course the whole
of the instrument has to be considered,
since the meaning of any one part of it
may be revealed by other parts, and the words of every clause must if possible
be construed
so as to render them all harmonious one with another. If the words
used are unambiguous the court must give effect to them, notwithstanding
that
the result may appear capricious or unreasonable, and notwithstanding that it
may be guessed or suspected that the parties intended
something different. The
court has no power to remake or amend a contract for the purpose of avoiding a
result which is considered
to be inconvenient or unjust. On the other hand, if
the language is open to two constructions, that will be preferred which will
avoid consequences which appear to be capricious, unreasonable, inconvenient or
unjust, 'even though the construction adopted is
not the most obvious, or the
most grammatically accurate', to use the words from earlier authority cited in
Locke v Dunlop,  <a href="/cgi-bin/LawCite?cit=%281888%29%2039%20Ch%20D%20387" title="View LawCiteRecord" class="autolink_findcases">(1888) 39 Ch D 387</a> at 393, which, although spoken in relation
to a will, are applicable to the construction of written instruments generally;
see also
Bottomley's case  <a href="/cgi-bin/LawCite?cit=%281880%29%2016%20Ch%20D%20681" title="View LawCiteRecord" class="autolink_findcases">(1880) 16 Ch D 681</a> at 686.  Further, it will be
permissible to depart from the ordinary meaning of the words of one provision
so far as is necessary
to avoid an inconsistency between that provision and the
rest of the instrument. Finally, the statement of Lord Wright in Hillas
&amp;
Co. Ltd v Arcos Ltd <a href="http://www.bailii.org/uk/cases/UKHL/1932/2.html" title="View Case" class="autolink_findcases_inserted">[1932] UKHL 2</a>;  <a href="/cgi-bin/LawCite?cit=%281932%29%20147%20LT%20503" title="View LawCiteRecord" class="autolink_findcases">(1932) 147 LT 503</a> at 514 that the court should construct
commercial contracts 'fairly and broadly, without being too astute or subtle in
finding defects',
should not, in my opinion, be understood as limited to
documents drawn by businessmen for themselves and without legal assistance
(cf.
Upper Hunter County District Council v Australian Chilling and Freezing Co. Ltd
<a href="http://www.austlii.edu.au/au/cases/cth/HCA/1968/8.html" title="View Case" class="autolink_findcases_inserted">[1968] HCA 8</a>;  <a href="/cgi-bin/LawCite?cit=%281968%29%20118%20CLR%20429" title="View LawCiteRecord" class="autolink_findcases">(1968) 118 CLR 429</a> at 437."</i>
<P>

20  	With the above statements of principle in mind, I return to the
subject agreement.  This was an agreement in contemplation
of the operation of
this vessel for fishing purposes and it sought to define who was to undertake
the various obligations perceived
to be relevant in the fishing operation.
Amongst these matters was the recognition of the need to insure and plainly it
was perceived
that there was a need for appropriate insurance not only against
loss or damage to the vessel itself but against liability for injury
or death
to the crew.  It seems to me that the parties to this agreement must have
intended to make effective provision to insure,
not the crew members directly,
but against liability to compensate crew members for harm that befell them in
the course of the operation
of the vessel.
<P>

21  	It was the third defendant which had the responsibility of
engaging crew members and it was the third defendant which had the
day to day
control of the operation of the vessel.  It is plain that by reason of those
circumstances the third defendant was to
be exposed in the performance of the
agreement to the risk of liability for any harm that might come to a crew
member by reason of
breach of the duty of care which the third defendant
inevitably owed to those who sailed under its control.
<P>

22  	It seems to me, looking at the whole of the document and
considering its objective, there is to be found in clause 5(a)(iii)
an
intention that the second defendant was to effect insurance cover of the kind
for which Mr Longhurst contends, namely that the
second defendant was to effect
insurance which did afford indemnity to the third defendant in respect of any
liability of the third
defendant to compensate members of the crew in damages
for personal injury or death occurring during the operation and use of the
vessel for the purposes of the agreement.
<P>

23  	Having defined the contractual obligation, the next question is
whether there was a breach of this obligation.  Mr Mescher
submitted that this
has not been proved.  He submitted that the third defendant has not proved that
the second defendant failed to
arrange insurance cover such as I have found was
required by the clause.
<P>

24  	Mr Longhurst tendered in his case insurance documents (Exhibit
9) and a further file of flagged documents (Exhibit 10).  The
transcript reads
that these various documents were produced at the trial by Mr Mescher (T 124).
This was done after a call had been
made for the production of all current
policies.  I refer to the transcript at T 99:
<P>

<i>"KING:  I would like to call upon Mr Mescher pursuant to a notice, to
produce all policies of insurance for personal injury current
in relation to
`Tagula Bay' as at 10 January 1992.</i>
<P>

<i>MESCHER:  My understanding is that those documents were produced under
subpoena, and they have been available for inspection.  However,
in light of
that call I will make some inquiries."</i>
<P>

25  	Exhibit 9 contains the following:
<P>

(i)	A document entitled "Entry Form for Protection and Indemnity".  This is a
request document addressed to the insurer, the Shipowners'
Mutual Protection
and Indemnity Association.  The document requests the entry for insurance of
the Tagula Bay identifying the applicant
as "W.T.J. Easdown as Receiver for
B.A. La Macchia Pty Limited (Receiver and Manager Appointed)."  The entry date
is 23 February
1991.
<P>

(ii)	The next document identifies the master and crew of the vessel.  It bears
dated 13 March 1991.
<P>

(iii)	There is then a confirmation slip from Queenscorp, the broker, which
bears date 18 March 1991 and refers to cover from 23
February 1991 to 14
February 1992.  The insured under the cover are identified in this document as
being:  
<P>

<i>"W.T.J. Easdown, acting as Receiver on behalf of the Commonwealth Bank of
Australia as Mortgagee in possession of F V "Tagula Bay"
and noting the
interests of B.A. La Macchia, as owner, and Sanwa Australia Limited and
Commonwealth Development Bank of Australia
for their respective rights and
interests."</i>
<P>

(iv)	There is then a certificate of entry from the insurer and the schedule
identifies the <i>"member"</i> as <i>"Easdown, W.TJ. and Others".  </i>It
identifies the "Tagula Bay" as one of the vessels the subject of the policy and
it then identifies the terms and conditions of
insurance.  It then fully
identifies the insured for the vessel "Tagula Bay" as being:
<P>

<i>"W.T.J. Easdown, acting as Receiver on behalf of the Commonwealth Bank of
Australia as Mortgagee in possession of F V "Tagula Bay"
and/or B.A. La
Macchia, as owner, and Sanwa Australia Limited and Commonwealth Development
Bank of Australia for their respective
rights and interests."</i>
<P>

26  	I note the correspondence of "insured" in this document with the
earlier note from the broker (iii).  The policy is expressed
to be effective
from 14 February 1991.  I observe that one of the protections afforded (as
defined in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ela1991217/s1.html" class="autolink_findacts">s 1)</a> was against the following:
<P>

<i>"(A)	Liability to pay damages or compensation (excluding hospital, medical
and funeral expenses) for personal injury, illness or death
of any seaman of
the insured vessel whether or not on board that vessel..."</i>
<P>

27  	Nowhere in Exhibit 9 is to be found any reference to the third
defendant as a party insured, and of course the "entry" documents
record an
entry of 23 February 1991.
<P>

28  	Exhibit 10 is to be found in a file.  Mr Longhurst did not
tender the complete file but only those documents which are flagged
in it.  One
of the documents in Exhibit 10 is a letter from Price Waterhouse written by Mr
Beasley.  Mr Beasley gave evidence in
the proceedings in Wollongong and
explained that he worked with Mr Easdown in this receivership.  He said of the
roles of himself
and Mr Easdown:  <i>"We sort of jointly did the receivership."
</i>Mr Beasley wrote to the broker Queenscorp on 6 November 1991 informing the
broker that Mr Walker was to become the skipper of "Tagula
Bay" from 7 December
1991.  I do not propose to describe the other documents to be found in Exhibit
10.  In the main the documents
are copies of insurance cover notifications
which range over a period of time from February 1991 until August 1991.
<P>

29  	Nowhere in either Exhibit 9 or Exhibit 10 is there to be found
any document either requesting or recording the extension of
cover concerning
the "Tagula Bay" to the third defendant.
<P>

30  	Notwithstanding Mr Mescher's submission to the contrary, I draw
the inference which Mr Longhurst has submitted should be drawn
from this
material, namely that the second defendant failed to arrange the insurance
cover which I have decided it was obliged to
arrange pursuant to clause
5(a)(iii) of the agreement, Exhibit K.  I should add that Mr Mescher sought at
the conclusion of the proceedings
in Wollongong, and was granted, an
adjournment to afford the second defendant the opportunity of introducing
further evidence in
Sydney in relation to the cross claims between the second
defendant and the third defendant.  Had the second defendant acted following
the execution of the agreement of 8 May 1991 to obtain insurance cover for the
third defendant, there was ample opportunity for the
second defendant to
introduce evidence to this effect before the conclusion of this hearing.  Hence
I have concluded from the documentary
evidence introduced by Mr Longhurst that
it is more probable than not that the second defendant failed to take
appropriate action
to meet its obligation under clause 5(a)(iii).
<P>

31  	Mr Mescher has submitted that if, as I have found, there was an
obligation to insure and there was a breach of this obligation,
the second
defendant is nevertheless not to be found liable to the third defendant.  This
submission is based upon the fact that
the second defendant was acting as a
receiver and accordingly is not to be held personally liable for contracts
entered into within
the scope of his agency.
<P>

32  	I am satisfied that the second defendant was indeed acting as an
agent, having been appointed to do so by the Commonwealth
Bank pursuant to its
powers under the mortgage, Exhibit H.  Under clause C2 of the mortgage the bank
was authorised to appoint a
receiver and in the event of such appointment the
receiver was to be the agent of the mortgagor and the mortgagor alone was to be
responsible for acts and defaults:
<P>

<i>"2.  At any time after the moneys hereby secured become payable or after
this mortgage shall have become enforceable the Bank or an
authorised officer
of the Bank may appoint in writing any person to be a receiver of the mortgaged
premises or any part thereof and
may remove any such receiver and in case of
the removal retirement or death of any such receiver may appoint another in his
place
and may fix the remuneration of any such receiver at such amount or at
such rate as the Bank shall think fit PROVIDED ALWAYS that
every such receiver
shall be the agent of the Mortgagor and the Mortgagor alone shall be
responsible for his acts and defaults..."
</i>
<P>

33  	Although this issue of the liability of the receiver for his
acts as receiver was addressed in submissions in Wollongong, there
had been no
formal pleading which addressed the issue until leave was granted on the second
defendant's application to amend the
pleading on 11 October 1999.  The issue is
pleaded in paragraph 8 of the amended defence to the third defendant's cross
claim:
<P>

<i>"In relation to the whole of the Cross-Claim, the Second Defendant says that
he at all material time entered into the Agreement dated
8 May 1991 as agent
for and on behalf of the First Defendant and cannot be found liable for any
alleged breach of the said Agreement."</i>
<P>

34  	The third defendant was given the opportunity of having the
matter relisted should it wish to pursue any application either
to reopen or to
make further submissions, but no such application has been made by the third
defendant, and no submissions have been
placed before the Court to meet the
submissions which Mr Mescher has based upon the status of the second defendant
as receiver.
<P>

35  	It is observed that in Exhibit K (the agreement upon which the
cross claim in contract is based) the first recital discloses
that the second
defendant <i>"has been appointed receiver and manager of the vessel"</i>.
Clause 10(ii)(b) makes provision for the termination of the agreement by the
second defendant in the event of termination of his
appointment as receiver and
manager of the vessel.  Then in the schedule he is described <i>"as receiver
and manager of the vessel"</i>.
<P>

36  	The status of the second defendant was thus disclosed in Exhibit
K.
<P>

37  	The failure to insure by the second defendant is a "default"
under clause C2 of the relevant mortgage document.
<P>

38  	Since the status upon which the second defendant was entering
into the agreement, Exhibit K, was disclosed to the third defendant
in the
expression of the document itself, Mr Mescher submitted that the second
defendant's principal became liable under that agreement,
rather than the
second defendant.
<P>

39  	I consider that submission is correct.
<P>

40  	The law appears to be clear that, statute apart, a receiver is
protected against personal liability in respect of any contract
he enters into
within the scope of, and in the course of, his agency:  see <i>Gosling v
Gaskell</i>  <a href="/cgi-bin/LawCite?cit=%281897%29%20AC%20575" title="View LawCiteRecord" class="autolink_findcases">(1897) AC 575</a>; <i>re Vimbos Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281900%29%201%20Ch%20470" title="View LawCiteRecord" class="autolink_findcases">(1900) 1 Ch 470</a>, and <i>Cully v
Parsons</i>  <a href="/cgi-bin/LawCite?cit=%281923%29%202%20Ch%20512" title="View LawCiteRecord" class="autolink_findcases">(1923) 2 Ch 512.</a>  See also <i>O'Donovan:  Company Receivers and
Managers</i> 2nd ed 11.270.
<P>

41  	Mr Mescher has referred to two recent decisions in the High
Court in which consideration was given to a clause for practical
purposes
identical to the clause in the mortgage that led to the second defendant's
appointment as receiver which I set out earlier.
<P>

42  	<i>Shehan v Carrier Air Conditioning Pty Limited</i> (1997) 189
CLR 407 involved the appointment of a receiver by a bank, the appointment being
made under powers conferred by the mortgage
and, like Exhibit H, the mortgage
empowered the appointment of a qualified person to be a receiver <i>"provided
always that every such receiver shall be the agent of the mortgagor and the
mortgagor alone shall be responsible for his
acts and defaults..."</i>
<P>

43  	There are dicta in the judgment of Brennan CJ at 419 and in the
joint judgment of Dawson, Gaudron and Gummow JJ at 431-433
and in the judgment
of Kirby J at 444 supportive of the proposition that a clause such as the one
in the mortgage in <i>Shehan</i> and the one in the mortgage in this case was
effective to render the mortgagor, not the receiver, liable.
<P>

44  	Similarly, <i>Kendle v Melsom</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1998/13.html" title="View Case" class="autolink_findcases_inserted">[1998] HCA 13</a>;  <a href="/cgi-bin/LawCite?cit=%281998%29%20193%20CLR%2046" title="View LawCiteRecord" class="autolink_findcases">(1998) 193 CLR 46</a> involved the
appointment of a receiver under a power conferred in a mortgage and contained a
proviso concerning receivers appointed
in these words:
<P>

<i>"Provided always that every such receiver shall be the agent of the
mortgagor and the mortgagor alone shall be responsible for his
acts and
defaults."</i>
<P>

45  	Commenting on the effect of the document, Gummow and Kirby JJ
said at 64:
<P>

<i>"With respect to dealings by the receivers with third parties, liability was
imposed upon Velcrete [the mortgagor] rather than upon
the bank or the
receivers personally..."</i>
<P>

46  	Mr Longhurst has not sought to argue that liability attaches to
the second defendant by reason of s 419 of the <i>Corporations Law</i>, or
indeed any other provision of the statute.
<P>

47  	In my opinion the agreement which was entered into between the
second defendant and the third defendant was an agreement entered
into by the
second defendant within the scope of his agency as a receiver and his default
in failing to arrange the appropriate insurance
cover does not expose him to
personal liability.  Any action for breach of the agreement would have to be
taken against the principal
of the second defendant.
<P>

48  	It follows that the cross claim brought by the third defendant
against the second defendant fails.
<P>

<b>The cross claim by the fourth defendant against the third defendant</b>
<P>

49  	When I delivered judgment in <i>Goodwin v La Macchia &amp;
Ors</i>  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/963.html" title="View Case" class="autolink_findcases">[1999] NSWSC 963</a> I dealt with the cross claims of the fourth defendant,
save for the claim against the third defendant. As to that, I afforded the
fourth defendant the opportunity of applying to amend this cross claim.  The
fourth defendant availed himself of that opportunity
and Mr Stevens, on 11
October 1999, filed in Court, without objection by Mr Longhurst for the third
defendant, an amended cross claim.
 In that claim the fourth defendant sought
<i>"contribution and/or indemnity"</i> by reason of:
<P>

<i>"(i)	By application of Section 11(1)(a) of the Jurisdiction of Courts (Cross
Vesting) Act, 1987 and/or in the alternative,</i>
<P>

<i>(ii)	By application of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ela1991217/s3.html" class="autolink_findacts">Section 3(1)</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ela1991217/" class="autolink_findacts">Employees Liability Act, 1991</a>
and/or in the alternative,</i>
<P>

<i>(iii)	by application of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/lrla1983321/s7.html" class="autolink_findacts">Section 7</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/lrla1983321/" class="autolink_findacts">Law Reform (Vicarious Liability)
Act, 1983</a> and/or in the alternative,</i>
<P>

<i>(iv)	The Plaintiff relies on the common law doctrine of vicarious
liability."</i>
<P>

50  	It seems to me, having heard the matter argued, that this cross
claim cannot succeed.  In my earlier judgment I stated that
I did not consider
it correct to proceed on the basis that s 11(1) of the <i>Jurisdiction of
Courts (Cross Vesting) Act</i> had been attracted in this case, for reasons set
out at para 64.  However, if contrary to the view I reached, s 11(1)(a) did
apply,
this Court, in exercising jurisdiction by reason of the statute, would
be required to apply the law in force in New South Wales <i>"(including choice
of law rules)"</i>.  It seems to me however one approaches the jurisdiction of
this Court, the principles in <i>McKain</i> (expressed in my earlier judgment
at para 52) are applicable.  Thus before the fourth defendant can maintain a
cause of action based
upon the statute as pleaded, he must prove that by the
law of Queensland a civil liability arose of the kind which he here seeks
to
enforce.
<P>

51  	Herein lies the fourth defendant's difficulty, as Mr Stevens
frankly conceded in the course of submissions.
<P>

52  	The Court was informed that in Queensland there is no
counterpart to the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ela1991217/" class="autolink_findacts">Employee's Liability Act, 1991</a></i>.  Since there is no
statutory right of indemnity in Queensland under which the fourth defendant
could look to his employer in that
State, he cannot rely upon the <i>Employee's
Liability Act </i>(New South Wales) to recover indemnity for the consequences
of his own casual act of negligence.
<P>

53  	Nor does the common law doctrine of vicarious liability avail
him.  The consequences of the decision in <i>Lister v Romford Ice and Cold
Storage Co. Limited</i> <a href="http://www.bailii.org/uk/cases/UKHL/1956/6.html" title="View Case" class="autolink_findcases_inserted">[1956] UKHL 6</a>;  <a href="/cgi-bin/LawCite?cit=%281957%29%20AC%20555" title="View LawCiteRecord" class="autolink_findcases">(1957) AC 555</a> have not been altered by statute in
Queensland:  see <i>A.R. Griffiths &amp; Sons Pty Limited v Richards</i>  <a href="http://www.austlii.edu.au/au/cases/qld/QCA/1996/417.html" title="View Case" class="autolink_findcases">[1996]
QCA 417</a>; and at common law, following <i>Lister,</i> an employee cannot
maintain an action against his employer seeking indemnity or contribution for
the consequences of his own negligence,
at least in the absence of some
contractual basis.  Since I have found the third defendant's liability to the
plaintiff to be based
solely upon the fourth defendant's casual act of
negligence, no basis has been shown in tort for the recovery of indemnity or
contribution
by the fourth defendant against the third defendant.  Nor does the
evidence support any contractual right of redress by the fourth
defendant
against the third defendant.  Indeed, such has not been claimed.
<P>

54  	I have every sympathy for the fourth defendant who finds himself
liable to the plaintiff, without recourse to his employer
or to insurance in
respect of such liability.  Particularly is this so where the evidence has
disclosed that the fourth defendant
has not been paid for any of his service to
the third defendant.  Nevertheless, I must and I do conclude that his cross
claim against
the third defendant fails.
<P>

<b>Formal orders</b>
<P>

55  	1.	On the cross claim by the third defendant against the second
defendant, judgment for the second defendant.
<P>

2.	On the cross claim by the fourth defendant against the third defendant,
judgment for the third defendant.
<P>

3.	Costs on both cross claims are reserved and the matters may be relisted by
arrangement with my associate for the purpose of argument
as to costs.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	08/12/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1184.html</i><br>
</p>
</small>
</body>
</html>
