<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>McGrath v Ter Hedde [1999] NSWSC 1192 (7 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1192</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1192 or 1999+NSWSC+1192">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
McGrath v Ter Hedde [1999] NSWSC 1192 (7 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1192.html-->
<!--sino date 7 December 1999-->


<P>Last Updated: 7 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	McGrath v Ter Hedde  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1192.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1192</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	2124/99
<P>

HEARING DATE{S): 	08/11/99, 09/11/99
<P>

JUDGMENT DATE: 	07/12/1999
<P>

 PARTIES: 
<P>

Patricia Aileen McGrath v Gerrit Lambertus Josef Ter Hedde
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr A.R. Ridley for plaintiff
<P>

Mr B.J. Knox for defendant
<P>

SOLICITORS: 
<P>

Tilbury &amp; Co. Solicitors, Armidale for plaintiff
<P>

Stephen Rugendyke, Armidale for defendant
<P>

CATCHWORDS: 
<P>

Family Law.  Application under Property Relationships Act 1984 for adjustment
of parties' property interests.  Orders made for adjustment.
 No matter of
principle.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Paragraph 52
<P>

JUDGMENT: 
<P>

- 1-
<P>

THE SUPREME COURT 
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

MASTER MACREADY
<P>

Tuesday, 7 December 1999
<P>

<b>NO 2124 of 1999 PATRICIA AILEEN MCGRATH  v  GERRIT LAMBERTUS JOSEF TER
HEDDE</b>
<P>

<b>JUDGMENT</b>
<P>

1  	MASTER:  This is an application under the Property Relationships
Act 1984 for an adjustment of the parties' property pursuant
to s 20.  The
parties are agreed that they lived in a defacto relationship between May 1978
and the end of February1996.  There were
no children of the relationship and
throughout the relationship they did not have any children forming part of the
household.  The
defendant did have children from a prior marriage.  The
defendant was born on 28 November 1943 and the plaintiff on 7 April 1957.
 When
they met they were respectively 35 and 21 years of age.  They are now aged 55
and 42 years respectively.  
<P>

2  	Both parties were qualified and employed as either a printer or a
lithoplate maker.  At the time they met and for many years
thereafter they
worked at the University of New England.  They commenced cohabitation in May
1978 and in December of 1979 they purchased
a property at 67 Dangar Street,
Armidale as tenants in common in equal shares for $26,000.  The source of the
funds was monies borrowed
from the New England Credit Union.  Apart from one
exception towards the end of the relationship, for many years the parties
purchased
properties as tenants in common in equal shares and they each
maintained accounts at the New England Credit Union upon which they
drew to
finance such acquisitions.  In this case each of them borrowed $13,000 from the
New England Credit Union to purchase 67 Dangar
Street.  In December 1983 the
parties purchased a quarter share each in Lot 1583 Crescent Head, Kempsy for a
total of $37,000.  Once
again the sums came from the Credit Union and this
property was purchased by them along with another family.
<P>

3  	The defendant's parents had lived in Australia for some time and
in 1985 they returned to Holland with a view to living there
permanently.  They
could not settle there and instead they came back to Armidale.  This caused a
change in the housing arrangements.
 The defendant's parents provided the
parties with a loan for $38,000  and as part of the arrangements the parties
executed a lease
in favour of the defendant's parents of the property which
gave them a right to live there for life with the parties paying rates
and
taxes and making repayments of $200 per week.  The funds provided were used to
purchase 140 Barney Street, Armidale for $47,000.
 This required each of the
parties to borrow a further $23,500.  A short time later there was also a
further advance of $14,000 by
the defendant's parents.  
<P>

4  	In October 1989 the defendant who had from time to time also
carried on business as a bookmaker, won $25,000 on a Trifecta which
he used to
reduce the plaintiff's debt by $8,885 and his own debt by $16,000.  In December
of that year he had a further win of $8,000
and reduced his debt by $6,600.

<P>

5  	In May 1988 the parties purchased 2 acres of land at 16 Lynches
Road, Armidale for $38,000.  Over the next 18 months a house
was erected on the
property.  Substantially this was done by the defendant.  He employed
subcontractors and did a substantial amount
of the labouring with assistance
from others.  In January 1990 the Barney Street property was sold for $92,500
and the proceeds were
divided equally between the parties.  Towards the middle
of 1990 the parties gave up their employment at the University of New England
and purchased the Girraween Newsagency for $140,000 plus stock of $15,000.
They borrowed funds of $140,000 to make this purchase.
 The balance of the
funds substantially came from the parties' retirement payments when they left
the University of New England.
 The defendant received about $9,000 and the
plaintiff $7,000.  In July 1993 they purchased the freehold of the newsagency
business
for $225,000.
<P>

6  	The parties worked hard in the newsagency business and purchased
a sub-agency to increase its turnover.  They were working seven
days a week for
twelve hours a day.  In August 1995 they sold the newsagency for $650,000.  All
the parties' loans were paid out
and the balance left over of $160,000 was
deposited in an A.N.Z. Cash Management account.  
<P>

7  	In late 1995 without consulting the plaintiff the defendant
purchased a unit in a block at the Gold Coast for $108,000.  It
was in a
building in which the defendant's brother also had a unit.  On 10 February 1996
the parties separated.  In July 1996 they
divided the cash management account
after various withdrawals had been made by the defendant and each received
$19,926 each.  
<P>

8  	On 6 August 1997 the Kemsey property was sold for $57,000 and
each party received $14,285.  In December 1997 the defendant purchased
Nyssa
Street, Armidale for $101,000 using a loan from his credit union of $78,000.
This was purchased in his own name as had been
the unit at the Gold Coast.  In
February 1998 the plaintiff moved back into the home at 16 Lynches Road she
having left it when the
parties separated on 10 February 1996.  The basis on
which she moved back was the subject of some argument at the trial.  In
December
1998 the defendant received $113,207 from his superannuation.
Proceedings were commenced on 9 February 1998.
<P>

<b>Property of the parties at the commencement of the relationship.</b>
<P>

9  	As has been point out in numerous cases it is convenient when
carrying out the task under s 20 to note the property of the parties
at the
commencement of the relationship and at the conclusion.  At the commencement of
this relationship the parties had minimal
assets.  The plaintiff had a 1976
Datsun 220B valued at $5,000 and furniture of a minor value.  The defendant had
a Datsun 240K motor
vehicle valued at $5,000 and other minor assets.  
<P>

<b>Assets at the conclusion of the relationship.</b>
<P>

10  	At the conclusion of the relationship the parties held the
following assets.
<P>

1.	67 Dangar Street, Armidale which was occupied by the defendant's parents who
had the benefit of a lease for life.
<P>

2.	16 Lynches Road, Armidale.  
<P>

3.	Unit 31 Paradise Towers, Surfers Paradise in the name of the defendant.
<P>

4.	25 acres at Crescent Head Road, Crescent Head.
<P>

5.	The balance of a personal loan which was being repaid by the purchasers of
the newsagency business.
<P>

6.	Furniture some of which was taken by the plaintiff when she left Lynches
Road on separation.
<P>

7.	1979 Ford Cortina having a value of $2,000 in the name of the plaintiff.
<P>

8.	The defendant's Subaru Station wagon having a value of $12,000.
<P>

9.	The defendant's interest in the Lifetrack Super Fund having a value of
approximately $100,000.  The amount received by the defendant
when it matured
in December 1998 was $113,207.11.
<P>

10.	The plaintiff's interest in the Lifetrack Super Fund having a present value
of $42,804.30.
<P>

11.	The balance of the Cash Management Account in joint names being
approximately $55,604.
<P>

11  	As I have mentioned Crescent Head Road was subsequently sold
after separation and the parties paid out for their interest.
 Each contributed
an equal amount to its purchase and received an equal amount on its sale.
Accordingly that property can be put
to one side in the consideration of the
matter apart from noting the benefit which they received from the
investment.
<P>

12  	After separation the defendant withdrew $13,959 from the Cash
Management account without the knowledge of the plaintiff.  The
balance of the
account was divided so that each received $19,926 and the account was
closed.
<P>

13  	As I have mentioned in late 1997 the defendant purchased a
property at Nissa Street, Armidale in his own name and in February
1998 the
plaintiff moved back into 16 Lynches Road which had been vacated by the
defendant.
<P>

14  	There were disputes in the evidence on the value of the relevant
properties some of which were agreed during the hearing. 
In respect of 67
Dangar Street, Armidale the plaintiff's valuer originally valued it at $102,000
and the defendant's valuer at $98,000.
 As a result of discussions between the
valuers it is agreed by the parties that the value of the property is now
$98,000 and, taking
account of the life leasehold interest of the defendant's
parents, it has a value of $67,000.  
<P>

15  	The property at 16 Lynches Road was valued by the plaintiff's
valuer at $167,000 as at 22 October 1999.  However, $15,000 of
that sum was as
a result of improvements made to the property by the plaintiff and her present
partner after they moved into the
property in September 1998.  The defendant's
valuer  originally valued it at $180,000.  After discussion with the valuer for
the
plaintiff the defendant's valuer, Mr Broun, reduced his valuation at the
commencement of his evidence to $175,000.  This followed
what he described as
discussions on comparables with Mr Knight the valuer for the plaintiff.  In the
witness box he further conceded
that he would have to reduce the value to
$173,000 because apparently he was mistaken as to whether the site was
connected to the
sewer.
<P>

16  	It is necessary to consider which of the two valuations is
appropriate.  Strangely, Mr Broun did not set out in his valuation
of Lynches
Road the comparables upon which he relied.  When tackled about this he
explained he was merely trying to save the parties'
costs in this regard and,
in the event that the matter ultimately went to a hearing, he would look at the
comparables prior to a
trial.  In any event apart from one property at 91
Trelawney Road he did not give details of the other comparables that he
considered.
 Mr Knight, apart from the considering the comparables, also did a
valuation on a summation basis in which he adopted a rate of $575
per square
metre for building.  Mr Broun adopted a far higher figure.  It seems to me when
looking at the comparable sales which
have been advanced by Mr Knight that the
summation method seems to be borne out by those comparables.  
<P>

17  	There was criticism of Mr Knight in that he described Lynches
Road in his valuation as being located on the south eastern outskirts
of the
city in a fringe residential area.  I think it is probably inaccurate to
describe it on the "fringe" but I do not see this
as a major problem with the
valuation.  In my view, having regard to the more open use of comparables by Mr
Knight and also having
regard to the summation method he has adopted, that his
valuation is preferable.  Accordingly, I am satisfied that the value of 16
Lynches Road at the present time is $167,000.  It should be appreciated that
part of the value has arisen because of improvements
made by the plaintiff and
her partner after separation.  The clear valuation evidence of Mr Knight is
that the improvements added
$15,000 to the value.  Given a description of the
improvements and comparing photographs this seems quite a rational conclusion.
Even Mr Broun conceded the substantial improvement in the presentation of the
place between 1995 and the present time.  In these
circumstances the value of
these improvements which occurred after separation was solely the result of the
plaintiff's endeavours
and should not be taken into account.  Accordingly, the
value for the purposes of adjustment should be $152,000.  That the value
is so
is also indicative of the fact that both valuers agreed that there had been a
fall in the value of residential property in
Armidale of about 5% over the
period from separation to date.
<P>

18  	The personal loan as a result of the sale of the newsagency was
$33,000 with the purchaser repaying it at $550 per month. 
The defendant
received since separation $23,650 and there is still $5,500 to be received.
The amount the defendant has received should
be taken into account.
<P>

19  	The property at Paradise Towers, Surfers Paradise.  This was
purchased in 1995 for $108,000.  There is no valuation evidence
directed to its
present value.  The property has been let and the defendant has paid the
outgoings and received the net rent.  The
figures are as follows:-
<P>

Rates                                  12,908.45
<P>

Electricity                                394.95
<P>

Legal Costs                           4,925.00
<P>

Repairs &amp; maintenance       <u>  1,500.00</u>
<P>

                                                    19,728.00
<P>

Less net rent received                   <u>  6,416.00</u>
<P>

                                                   <u>$13,312.00</u>
<P>

20  	There was criticism of the defendant for not dealing with what
rental was received prior to 30 June 1998. The parties do not
appear to have
resided in the property and, given the absence of cross examination on the
subject, I would conclude that it was not
leased prior to that time.  I take
the reference to "net rent" to be a reference to rent after agent's
commission.
<P>

21  	It would be appropriate for the unit to be considered in the
adjustment process at $108,000 and for the defendant to be credited
with the
sum of $13,312.
<P>

22  	The furniture.  The plaintiff claimed that at separation she
took $5,000 worth of furniture and left approximately $20,000
behind.  There
was an expert valuation of the furniture left behind which was taken by the
defendant to his property at Nissa Street
which amounted to $4,765 rather than
the $20,000 alleged by the plaintiff.  Accordingly I conclude that the parties
have had an equal
share of the furniture and there should be no adjustment in
this regard.
<P>

<b>Financial Contributions by the parties.</b>
<P>

23  	It is important when considering these not to merely note the
amount of the contributions but also to note when they were made.
 The time
value of money is important particularly when, as happened in this case, the
parties were able to invest in appreciating
real estate.
<P>

24  	During the relationship the parties' wages from the University
were apparently equal.  They were in two businesses, namely,
the after hours
print business and the Girroween Newsagency.  Both worked full time and,
accordingly, their income contribution to
the relationship, leaving aside the
defendant's alleged betting income, were equal.
<P>

25  	The defendant appears to have had an obligation to pay
maintenance to his former wife in the amount of $108.33 per month and
I accept
the plaintiff's evidence that this was paid from May 1978 to December 1983, a
total of $7,258.11.  He also paid his younger
son's school fees in an amount of
at least $2,586.  Apart from these payments there is no suggestion that the
parties did not apply
their income to their joint purposes.  The defendant's
payments above will be taken into account when making the necessary adjustment.

<P>

<b>Financial Contributions by the plaintiff</b>
<P>

26  	The plaintiff's main financial contributions were her wages and
efforts in the two businesses to which I have referred.  These
must be taken
into account in her favour.  There is also:-
<P>

(a) The defendant's withdrawal of $13,959 from the joint cash management
account in 1996.
<P>

(b)  The defendants receipt of the vendor payments since separation amounting
to $23,650.
<P>

(c) The payments made by the deceased for maintenance and school fees of
$9,834.
<P>

<b>Financial Contributions by the defendant</b>
<P>

27  	The defendant submitted that from his betting activities he had
a surplus of $143,000.   The defendant kept records of his
winning bets of
$227,742.  However, he kept no records of his losing bets.  He merely estimated
these at $100,000.  He sought to
justify these winnings on the basis that the
parties would not have their present assets without such winnings.  This
ignores the
extensive capital gains the parties have made through their
dealings in real estate.  The defendant's post separation expenditure
demonstrated a use of capital for living expenses.  The various explanations
for the change in his gambling luck after separation
are not believable.
<P>

28  	Generally, I did not find the defendant as accurate a witness as
the plaintiff.  Given the incomplete nature of the records,
I am not prepared
to accept the defendant's claim of betting winnings except to the extent
admitted by the plaintiff.  These were
Trifecta wins in late 1987 of
$31,550.
<P>

29  	Since 1966 the defendant has met expenses of the Gold Coast unit
of $13,312 and is to be credited with this amount.
<P>

30  	The other major contribution on the defendant's part is the
provision by his parents of a loan of $38,000 in 1986 and $14,000
in 1993.  By
separation they had repaid $14,300 off this loan but had the opportunity to use
the funds to invest in real estate which
as a result of inflation has greatly
increased in value and led to their present wealth.  The first use of these
funds was to purchase
140 Barney Street, Armidale in 1986.  The property was
sold in 1988 realising a capital gain of $45,500.  It is thus a substantial
contribution on the part of the defendant.
<P>

<b>Financial Resources</b>
<P>

31  	There is the superannuation which is a financial resource of the
parties.  The defendant's contribution was $113,207 and the
plaintiff's
contribution was $42,809.  The defendant gave the following evidence.
<P>

"After purchasing the newsagency business, both the plaintiff and I began to
make superannuation contributions to Lifetrack Superannuation
Funds managed by
Lifetrack Management Pty Limited.  As I was older and my superannuation would
vest upon attaining the age of 55
years, my superannuation contributions were
greater than those of the plaintiff who would be able to continue contributions
for many
years after my own superannuation entitlements vested."
<P>

32  	All the payments came from the business in which they had both
worked.
<P>

33  	In <b>Green v Robinson</b>  <a href="/cgi-bin/LawCite?cit=%281995%29%2036%20NSWLR%2096" title="View LawCiteRecord" class="autolink_findcases">(1995) 36 NSWLR 96</a> the Court, inter
alia, dealt with the way superannuation should be dealt with.  His Honour, the
President, at p 103 of the judgment
had the following to say in relation to
superannuation:
<P>

"It is as erroneous to ascribe the superannuation payments to the separate and
differentiated income of the parties as it is to
ignore superannuation
altogether.  Despite equal pay legislation, and industrial decisions to the
same end, it is well known that
in Australia, female earnings are typically
lower than male earnings. Inherent in the notion that each 'owns' the
superannuation
entitlements accumulated from his or her income, in an
inescapable bias against vulnerable (usually female) members of a marriage
or
marriage-like relationship.  This is a bias which the Act, far from condoning,
forbids.  By section 3(1), the Act requires, in
relation to 'de facto partners
or either of them', that the financial resources, which must be taken into
account under section 20(1)
of the Act, are to include entitlements under a
superannuation scheme.  This is therefore something which, in the exercise of
the
section 20(1) discretion, the Court must view as belonging not to Mr
Robinson separately however he actually banks or notionally
receives the
contingent benefit, but to the financial resources of the parties which need to
be adjusted, having regard to the contributions
'made directly or indirectly'
by them.  Conformably with the language of the Act and applicable jurisprudence
which has developed
in the Family Court on analogous problems, it is my view
that Ms Green made an indirect contribution to Mr Robinson's superannuation
entitlements.  Just as he did to hers.  The only difference is that his
entitlement was more substantial.  This was because of its
longer duration and
because of his higher base income.
<P>

I shall assume that the contributions to superannuation made before the
relationship commenced to be disregarded.  See <b>Lipman v Lipman </b> <a href="/cgi-bin/LawCite?cit=%281989%29%2013%20FAM%20LR%201" title="View LawCiteRecord" class="autolink_findcases">(1989) 13
FAM LR 1</a>;  DFC 95-068 (SCNSW).  Both parties argued the case on this basis,
although it is not without controversy and contrary opinions exist.
 See e.g.
<b>In The Marriage of Gill</b>  <a href="/cgi-bin/LawCite?cit=%281984%29%209%20FAM%20LR%20969" title="View LawCiteRecord" class="autolink_findcases">(1984) 9 FAM LR 969.</a>
<P>

The funds must therefore be reduced pro rata for the contributions made before
1974.  I agree generally in the approach of Cole
JA to this adjustment.  But,
with respect, the error in his Honour's approach, is to require, in effect,
proof by evidence of the
direct or indirect contributions made by Ms Green to
Mr Robinson's accumulating superannuation entitlements during the relationship.
Such proof is not required in cases under the Family Law Act.  In my view, the
express mention of superannuation entitlements in
<a href="http://www.austlii.edu.au/au/legis/nt/consol_act/dfra220/s3.html" class="autolink_findacts">section 3(1)</a> of the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/dfra220/" class="autolink_findacts">De Facto
Relationships Act</a>, makes it plain that Parliament accepted that ordinarily,
partners to such relationships would be making at least indirect, if not
direct, contribution to the accumulation of the form of savings which
superannuation constitutes.  That, in my view, gave Ms Green,
for the period of
the relationship at least, such a stake in that aspect of the 'financial
resources' of Mr Robinson, as must be
reflected in a 'just and equitable
order', designed to adjust the interests of the partners, as section 20(1) of
the Act requires."
<P>

34  	Powell J at p110 referred to the need to establish that one of
the parties had in some way contributed to the other's superannuation
entitlements and that by reason of that contribution, it was "just and
equitable" that some order based upon, or derived from, those
entitlements
should be made.  Cole JA dealt with the matter on p118  and inclined to the
view that there was no evidence in the case
to suggest that the appellant had
made any contribution, direct or indirect, to the respondent's present
superannuation entitlement,
it being a deduction from his service pay.  He held
that a similar situation pertained to the appellant's superannuation.
<P>

35  	It is not easy to reconcile the different views but it would
appear from the comments of Powell J and Cole JA that there must
be some
factual matter which enables one to form the view that there had been a
contribution to a spouse's superannuation entitlements.
 A common example of
this would be a partner who stays at home to look after children thus enabling
the other partner to go to work
and earn a superannuation entitlement.
<P>

36  	In the present case the relevant factual matter is that the
parties' equal contributions led to the differential outcome. 
In these
circumstances the total of the contributions should be equally shared in the
adjustment process.
<P>

<b>Non-financial Contributions</b>
<P>

<b>Contributions by the plaintiff</b>
<P>

The plaintiff alleges that as far as non-financial contributions are concerned
she contributed substantially to the homemaker role.
 She alleges that she -
<P>

(a) prepared 95% of meals
<P>

(b) did 95% of the cleaning
<P>

(c) did 100% of the laundry and ironing
<P>

(d) and did 90-95% of the gardening.
<P>

37  	The defendant did not seriously dispute this evidence.  The
contributions were for the whole of the 18 years and should be
recognised in a
real and not token way, see <b>Black v Black<i> </i></b> <a href="/cgi-bin/LawCite?cit=15%20Fam%20LR%20109" title="View LawCiteRecord" class="autolink_findcases">15 Fam LR 109.</a>
<P>

<b>Defendant's non-financial contributions</b>
<P>

38  	These appear to be his efforts as an owner /builder in
constructing the home at 16 Lynches Road.  There was also his labour
in the
erection of the home.  There is no quantification of the extent of this
contribution but I will assume that there were some
real savings for the
parties.
<P>

<b>Discussion</b>
<P>

39  	The plaintiff claimed that the appropriate orders would be as
follows:-
<P>

1.	A transfer to the plaintiff of the defendant's interest in the whole of the
property at 16 Lynches Road, Armidale.
<P>

2.	Payment by the defendant to the plaintiff of $97,296.
<P>

3.	Transfer by the plaintiff to the defendant of her interest in 67 Dangar
Street, Armidale.
<P>

4.	That each party retain their respective superannuation entitlements together
with all items of personal property including motor
vehicles now in their
respective possession.
<P>

40  	This would mean that the defendant would retain the unit at
Surfers Paradise and presumably receive the $5,500 from the vendors
of the
business..
<P>

41  	For his part the defendant contended:-
<P>

1.	That the plaintiff receive
<P>

(a) The property at 16 Lynches Road, Armidale.
<P>

(b) Her interest in her superannuation.
<P>

(c) Her motor vehicle.
<P>

	(d) Furniture and effects removed at separation.
<P>

2.	That the plaintiff pay the defendant $66,852.
<P>

3.	That the defendant receive -
<P>

	(a) Dangar Street, Armidale subject to the life estate to his parents.
<P>

	(b) The unit at Surfers Paradise.
<P>

	(c) The Subaru motor vehicle.
<P>

	(d) All furniture and effects retained.
<P>

42  	The parties are agreed that Lynches Road should go to the
plaintiff and Dangar Street to the defendant.  There are future liabilities
in
respect of Dangar Street namely the outstanding repayments of $28,960 and the
liability for future rates, insurance and maintenance.
 Based on the parents'
life expectancy these are $64,861 and the defendant, if he indemnified the
plaintiff in respect of her share
of these liabilities, will be assuming a
burden of $46,910 over the next 7.91 years.  
<P>

43  	Whether or not the defendant will repay the loan to his parents
is doubtful because nothing has been repaid over the last 18
months without
complaint from his parents.  However, it is a liability which he will be
assuming and should be taken into account.
<P>

44  	The pool of assets to be divided between the parties is as
follows:-
<P>

Gold Coast Unit                         108,000
<P>

67 Dangar Street                         67,000
<P>

16 Lynches Road                        152,000
<P>

Car of plaintiff                                2,000
<P>

Car of defendant                           12,000
<P>

Superannuation of plaintiff           42,809
<P>

Superannuation of defendant      113,207
<P>

Balance of newsagency sale         <u>   5,500</u>
<P>

                                                 $502,516
<P>

One half                                    $251,258
<P>

45  	This pool of assets has resulted from the equal financial
contributions of the parties except for the following minor adjustments.
(excluding the time value of money).
<P>

<u>Plaintiff</u>                    
<P>

Defendant's withdrawals                13,959
<P>

Newsagency repayments                 23,650
<P>

Defendant's maintenance                <u> 9,834</u>
<P>

                                                              <u>$47,443</u>
<P>

	<u>Defendant</u>
<P>

Trifecta winnings                           31,550
<P>

Gold Coast Unit                             <u>13,312</u>
<P>

                                                             <u>$44,862</u>
<P>

46  	The difference in these figures is minor with the lapse of time
making it even less.
<P>

47  	The pool is also affected on the contribution side by:-
<P>

<u>Plaintiff</u>                                      <u>Defendant</u>
<P>

Homemaker for                          Parents' loans of $52,000
<P>

18 years                                    contributions to the erection
<P>

                                                          of Lynches Road.
<P>

48  	The properties to be retained by each of the parties is as
follows:-
<P>

<u>Plaintiff</u>
<P>

16 Lynches Road                        $152,000
<P>

Car                                                   2,000
<P>

Superannuation                           <u>  42,809</u>
<P>

                                                  <u>$196,809</u>
<P>

<u>Defendant</u>
<P>

Gold Coast unit                            108,000
<P>

67 Dangar Street                            67,000
<P>

Car                                                 12,000
<P>

Superannuation                            113,207
<P>

Balance of newsagency sale          <u>    5,500</u>
<P>

                                                    <u>$305,707</u>
<P>

49  	On the basis of an equal division the defendant would have to
pay $54,449 to the plaintiff to achieve equality.
<P>

50  	This leaves for consideration the more difficult assessment,
namely, the above-mentioned non-financial contributions and the
liability
assumed by the defendant as a result of him indemnifying the plaintiff for the
liability in respect of the arrangement
with his parents. 
<P>

51  	The exercise is not capable of precise expression but, bearing
in mind the various contributions and liabilities accepted,
I think the
appropriate result is that the parties should retain the properties referred to
above with the defendant paying the plaintiff
the sum of $60,000.  The
defendant has already received his superannuation and purchased his home at 6
Nyssa Street, Armidale.
<P>

52  	The orders I make are as follows:-
<P>

1.  Order that by way of adjustment of the parties' property interests:-
<P>

(a) The plaintiff is to transfer her interest in the property at 67 Dangar
Street, Armidale to the defendant.
<P>

(b) The defendant is to transfer his interest in the property 16 Lynches Road,
Armidale to the plaintiff.
<P>

(c) The plaintiff is to retain her superannuation entitlement.
<P>

(d) The parties are to retain the cars and other personal property in their
possession.
<P>

(e) The defendant is to indemnify the plaintiff against any liability of the
plaintiff to his parents in respect of the arrangement
for the parents to
occupy 67 Dangar Street, Armidale.
<P>

(f) The defendant is to pay the plaintiff $60,000 within 2 months.
<P>

(g) The defendant is to retain all repayments of the personal loan from the
purchasers of the parties' newsagency.
<P>

2.	Order the defendant to pay the plaintiff's costs.
<P>

LAST UPDATED: 	07/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1192.html</i><br>
</p>
</small>
</body>
</html>
