<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Pacific Rim Developments Pty Ltd v Mary Anketell [1999] NSWSC 304 (9 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 304</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+304 or 1999+NSWSC+304">Noteup</a>]
[<a href="304.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Pacific Rim Developments Pty Ltd v Mary Anketell [1999] NSWSC 304 (9 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_304.html-->
<!--sino date 9 April 1999-->


<P>Last Updated: 9 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	PACIFIC RIM DEVELOPMENTS PTY LTD v Mary ANKETELL  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/304.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
304</a>
<P>

CURRENT JURISDICTION: 	Supreme Court
<P>

FILE NUMBER(S): 	12508/98
<P>

HEARING DATE{S): 	9 November 1998
<P>

JUDGMENT DATE: 	09/04/1999
<P>

 PARTIES: 
<P>

Plaintiff:  Pacific Rim Developments Pty Ltd
<P>

Defendant:  Mary Anketell
<P>

JUDGMENT OF: 	Hulme J      
<P>

LOWER COURT JURISDICTION: 	Local Court
<P>

LOWER COURT FILE NUMBER(S): 	41 of 1996
<P>

LOWER COURT JUDICIAL OFFICER: 	Mr B. Bright, Magistrate
<P>

COUNSEL: 
<P>

Plaintiff:  B. Kinsella
<P>

Defendant: D. Murr
<P>

SOLICITORS: 
<P>

Plaintiff: Attwood Marshall
<P>

Defendant:  Peter Brooke &amp; Company
<P>

CATCHWORDS: 
<P>

Sale of Land, option, "void", estoppel against statute
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act 1919</a> <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">s66ZG</a>
<P>

DECISION: 
<P>

Appeal allowed.
<P>

JUDGMENT: 
<P>

11
<P>


<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

COMMON LAW DIVISION
<P>

No:  12508 of 1998
<P>

Friday, 9 April 1999
<P>

<b>HULME J</b>
<P>

<center><b><u>PACIFIC RIM DEVELOPMENTS PTY LTD -v- Mary ANKETELL </u></b>
<P>

<b><u>JUDGMENT</u></b></center>
<P>


<P>

1	<b>HIS HONOUR</b>: These Reasons concern an appeal by way of stated case from
the decision of a Magistrate dismissing a claim by Pacific Rim Developments
Pty
Ltd, the Plaintiff in both the Local and this Court seeking recovery of a sum
of $30,000.00 paid pursuant to an option agreement.
 So far as is presently
relevant the agreement provides:-
<P>

<center><b>"OPTION FOR PURCHASE OF LAND</b>.
<P>

	This Agreement is made on the 22nd day of July 1994 <b>BETWEEN MARY
ANKETELL</b> of 18 Queen Street, Fingal Head New South Wales ("Optioner") of
the One Part <b>AND PACIFIC RIM DEVELOPMENTS PTY. LTD.</b> ... ("The Optionee")
of the Other Part.</center>
<P>

	<b>WHEREBY</b> it is agreed as follows:
<P>

<b>	OPTION CONSIDERATION AND PROPERTY</b>
<P>

<b>	</b>1.	In consideration of the sum of Thirty thousand dollars ($30,000.00)
to be paid by the Optionee to the Optioner in the following
manner, namely One
thousand dollars $1,000.00 upon the execution hereof and the sum of Twenty nine
thousand dollars ($29,000.00)
within 30 days thereafter, the Optionee (or its
nominee) shall have the option of purchasing with vacant possession all that
land
described in the schedule hereto and together with the improvements
erected thereon (together "the property") upon the terms and
conditions
contained in the Contract for Sale of Land annexed hereto and marked with the
letter "A".
<P>

<b>	PERIOD AND EXERCISE </b>
<P>

<b>	</b>2.	Such option shall (if exercised) be exercised by notice in writing
to the Optioner on or before the date being twelve months from
the date hereof
and such notice shall be delivered personally to the Optioner or sent by
prepaid registered post addressed to her
at her last known place of abode and
if by post shall be posted at such time that in the ordinary course of post it
would be delivered
at such address on or before the aid date being 12 months
from the date hereof.  A copy of such notice shall in like fashion be sent
to
the Optioner's solicitor or solicitors Messrs Peter Brooke &amp; Co of 4
Seaview Street, Kingscliff..
<P>

<b>OPTION FEE AND PURCHASE PRICE</b>
<P>

<b>	</b>5.	It is declared that the payment of the said sum of Thirty thousand
dollars ($30,000.00) as consideration for the option hereby
granted by the
Optioner to the Optionee is unconditional so that the Optioner is entitled to
retain the aid sum whether a sale under
such option shall be obtained or not.
In the event of the option being exercised, the said sum of Thirty thousand
dollars ($30,000.00)
shall be deducted from the purchase price by deeming a
deposit in the amount of the said sum of $30,000.00 had already been paid
to
the Optioner.
<P>

<b>	RIGHT TO CAVEAT</b>
<P>

<b>	</b>7.	The Optionee shall have the right to lodge a Caveat over the
property in terms not inconsistent with the purchasers right to caveat
in the
Agreement for Sale of Land annexed hereto and marked with the letter "A".
<P>

2	Facts found by the Magistrate and to which reference should be made include
the following:-
<P>

	1.	The Option Agreement was prepared by the Defendant's solicitor after a
period of negotiation by the solicitors for both parties.
<P>

	2.	The land the subject of the option included a dwelling house that was the
Defendant's place of residence.
<P>

	3.	The option was executed on 22 July 1994.  $1,000.00 was paid on 28 July
1994.
<P>

	4.	On or before 17 August 1994 the Plaintiff sought and obtained an extension
of time to 5 September 1994 for payment of the $29,000.00
balance of the option
fee.
<P>

	5.	On 7 September 1994 the Plaintiff sought and obtained a further extension
of time to 9 September 1994 for payment of the $29,000.00.
<P>

	6.	On 9 September 1994 the Plaintiff paid the Defendant the $29,000.00.
<P>

	7.	On 5 October 1994 the Plaintiff lodged a caveat against the title to the
Defendant's property to protect its interest under
the Option Agreement.
<P>

	8.	On 31 May 1995 the Plaintiff sought an extension of time to 21 September
1995 for the exercise of the option.
<P>

	9.	On 15 June 1995 the Plaintiff's solicitors wrote to the Defendant's
solicitors enclosing a Notice of Rescission and requested
the Defendant to
refund the fee of $30,000.00.
<P>

	10.	At all material times the Defendant believed the option was on foot and
she and the Plaintiff bound by it.  This belief was
induced by:-
<P>

	(a)	The Plaintiff's requests for an extension of time within which to pay the
$29,000.00.
<P>

	(b)	The Plaintiff lodging the caveat.
<P>

	(c)	The Plaintiff's failure to terminate the Option Agreement.
<P>

	(d)	The Plaintiff's request for an extension of time for the exercise of the
option. 
<P>

	11.	Induced by a belief that she was bound by the option, the Defendant took
her property off the market.  She also suffered detriment
in having the title
to her property encumbered by a caveat.
<P>

3	The Magistrate records in the stated case that both parties accepted that the
land fell within the definition of "residential
property" in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66q.html" class="autolink_findacts">Section 66Q</a> of the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act</a>.  His Worship held that on the proper construction of the
agreement, the Plaintiff was not entitled to exercise the option until
the
balance of the option fee was paid.  The date of payment of 9 September 1994
was more than 42 days after 22 July 1994.
<P>

4	His Worship also held that on the basis of his findings recorded in
paragraphs 10 and 11 above, the Defendant had made out a defence
of equitable
estoppel and the Plaintiff was estopped from asserting its entitlement to the
return of the option fee.
<P>

5	<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">Section 66ZG</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act</a> and some other sections to which it is
desirable to have regard, as in force in April 1994, relevantly provided:-
<P>

	 "66ZD
<P>

	(1)	The purchaser under an option to purchase residential property may serve a
written notice to the effect that the purchaser
rescinds the option.  
<P>

	(2)	The notice may only be served during the cooling off period.
<P>

	(3)	The notice of rescission must be signed by:
<P>

	(a)  The purchaser or the purchaser's solicitor; or
<P>

	(b)  If there is more than one purchaser, each of the purchasers or their
respective solicitors. 
<P>

	(4)	The notice of rescission must be served on:
<P>

	(a)  The vendor or the vendor's solicitor; or
<P>

	(b)  If there is more than one vendor, any one of the vendors or the solicitor
of any one of them; or
<P>

	(c)  The agent of the vendor or vendors.
<P>

	(5)	...
<P>

	66ZE
<P>

	(1)	On service of an effective notice of rescission in accordance with <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zd.html" class="autolink_findacts">Section
66ZD</a> in relation to an option to purchase residential property, the option is
to be taken to be rescinded ab initio, but subject to the
rights and
obligations conferred with by this section.
<P>

	(2)	The purchaser forfeits 0.25% of the purchase price of the property to the
vendor.
<P>

	(3)	...
<P>

	(5)	The balance of the consideration or deposit remaining after deduction of
any amount forfeited is payable to the purchaser.
<P>

	(6)	Subject to sub-section (7), neither the Vendor nor the purchaser is liable
to pay any other sum for damages, costs or expenses.
<P>

	(7)	Either party is entitled to make a claim for:
<P>

	(a)  Such compensation... where the purchaser has received the benefit of
possession of the property; or
<P>

	(b)   the payment of damages, costs or expenses arising out of a breach of any
term, condition or warranty contained or implied
in the option, 
<P>

	but not so as to affect rights and obligations arising under this Division.
<P>

	(8)	... 
<P>

	66ZG
<P>

	(1)	An option granted for the purchase of residential property is void if:
<P>

	(a)  it is not signed in duplicate by both parties; or
<P>

	(b)  it is exercisable within 42 days after it is granted or, if a different
period is prescribed, within that period.
<P>

	(2)	If an option is void under this section, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66ze.html" class="autolink_findacts">section 66ZE</a> applies as if an
effective notice of rescission of the option had been served under this
Division, except that:
<P>

	(a)  the purchaser is not liable to the forfeiture provided for under that
section, and
<P>

	(b)  that section has effect as if it provided that the whole of the
consideration paid in relation to the option and the whole
of any deposit paid
in relation to the purchase of the property are payable to the purchaser.
<P>

	66ZH
<P>

	(1)	A statement in the form prescribed by the regulations, relating to the
cooling off period is required to be included in every
option to purchase
residential property.
<P>

	(2)	If an option does not contain the statement required under this section,
either party may serve a written notice to the effect
that the party rescinds
the option or (if the option had been exercised) the contract resulting from
the exercise of the option.
<P>

	(3)	On service of the effected notice of rescission under this Section,
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66ze.html" class="autolink_findacts">Section 66ZE</a> or (if relevant) <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66v.html" class="autolink_findacts">Section 66V</a> applies, except that...
<P>

	66ZI
<P>

	(1)	If an option to purchase residential property is granted and the required
documents are not attached to the option document
at the time it is granted,
either party may service a written notice to the effect that the party rescinds
the option or (if the
option has been exercised) the contract resulting from
the exercise of the option.
<P>

	(2)	For the purposes of this Section, the required documents are:
<P>

		...
<P>

	(3)	On service of an effective notice of rescission under this Section,
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66ze.html" class="autolink_findacts">Section 66ZE</a> or (if relevant) <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66v.html" class="autolink_findacts">Section 66V</a> applies, except that ..."
<P>

6	<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zj.html" class="autolink_findacts">Section 66ZJ</a> then goes on to stipulate matters with which a notice of
rescission under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zh.html" class="autolink_findacts">Sections 66ZH</a> or <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zi.html" class="autolink_findacts">66ZI</a> must comply.
<P>

7	The first question which arises is whether "void" means "void" or "voidable".
As was recognised in <b>Victoria v Sutton</b>  <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1998/56.html" title="View Case" class="autolink_findcases">[1998] HCA 56</a> at  <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1998/56.html#para38" class="autolink_findcases">[38]</a>, "`void'
has never been an easy word".  See also <b>National Acceptance Corp Pty Ltd v
Benson and Ors</b>  <a href="/cgi-bin/LawCite?cit=%281988%29%2012%20NSWLR%20213" title="View LawCiteRecord" class="autolink_findcases">(1988) 12 NSWLR 213</a> at 218.
<P>

8	The differences between <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">Section 66ZG</a> on the one hand and the parts of the
other sections which I have quoted are noteworthy.  <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">Section 66ZG</a> merely
declares an option void in the circumstances to which it refers and specifies
the rights which follow.  Under other sections
a notice of rescission which, to
be effective, must comply with statutory requirements must be served.  These
other sections thus
make it clear that there must be a decision or election on
the part of a party wishing to bring the legal arrangement effected by
the
option agreement to an end.  This difference argues strongly for the view that
"void" in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">Section 66ZG</a> should be given its natural meaning rather than that of
"voidable", at the option of one of the parties.
<P>

9	The terms of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">s66ZG(2)</a> argue in the same direction.  It is impossible to see
how the stipulation that "<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66ze.html" class="autolink_findacts">Section 66ZE</a> applies ..." can operate until the
option has come to an end.  If "void" means "voidable" that will be only after
one of the parties
has elected to avoid it.  Thus one is required to read the
opening words in sub-section (2) as if they provided "if an option is
void
under this section and has been avoided" or to regard the word "void" in
sub-section (2) as meaning "void" and thus having a
meaning different from that
which, on the argument advanced, it bears in sub-section (1).  Ordinary canons
of statutory construction
make both of these possibilities unlikely as ones
reflecting the intention of Parliament. 
<P>

10	Although these remarks are not confined to  <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">s66ZG</a>, it should be noticed also
that any failure to comply with its requirements will commonly be the fault of
both parties.  The absence
of a duplicate or, at least if the document(s) are
signed by both parties, failure to have the option drafted so as to preclude it
being exercisable within 42 days will fall into this category.  When regard is
had to the general principal that a person in a contractual
relationship
cannot, in connection with the contract, take advantage of his or her own
wrong, nothing is to be gained in those situations
if "void" is construed as
"voidable".
<P>

11	It is clear also from the second reading speech of the Minister who
introduced the Conveyancing (Sale of Land) Amendment Bill
in March 1990 to the
Legislative Council that the section was intended to provide protection for
both grantors of, and grantees under,
an option.  The requirement that the
grantee sign the option agreement was designed to avoid a situation whereby a
grantee could
stand to lose possibly a large fee without seeing the agreement.
The requirement that the document be signed in duplicate was an
attempt to
ensure that both parties received a copy of it.
<P>

12	I am unable to see anything in the description of the mischief to which the
section was directed or the circumstances in which
it is likely to come into
play to incline one to the view that "void" should be construed as "voidable".
The term should thus be
given the operation which the context in which it
appears suggests, i.e. "void".
<P>

13	The next question is whether the subject option was, within the terms of
sub-paragraph (1)(b) "exercisable within 42 days after
it was granted".  This
depends upon the proper construction of clause 1 of the Option Agreement and in
my view it was so exercisable.
 In this regard I disagree with a number of
conclusions of the learned Magistrate.
<P>

14	The principal rights of the parties were defined in such part of clause 1 as
provided "in consideration of the sum of $30,000.00
to be paid by the Optionee
to the Optioner ..., the Optionee ... shall have the option of purchasing" the
land.  The words which
followed the reference to $30,000.00 "to be paid ... in
the following manner ..." were directed merely to the time of payment and
though failure to make the payments as stipulated may have amounted to a
fundamental breach of the contractual provisions, I can
see nothing to indicate
that prior payment of the $29,000.00 was a condition precedent to the exercise
of the option.  In this regard,
the terms of the subject agreement differ from
those commonly found in option agreements and statements to which I was
referred such
as are contained in <b>Bristow v Manning</b> (1988) 4 BPR 9337
and <b>Ferraro v Smith &amp; Ors</b>  <a href="/cgi-bin/LawCite?cit=%281991%29%20NSW%20Conv%20R%2055%2d581" title="View LawCiteRecord" class="autolink_findcases">(1991) NSW Conv R 55-581</a> that "it is quite
clear that if the consideration for the grant of an option is not paid then
effectively there is no option" have
no application.  It follows that the
Option Agreement was, from its inception, void.  
<P>

15	Even if the view was taken that payment of the full sum of $30,000.00 was a
condition precedent to the exercise of the option,
the same conclusion would
follow.  The legislation is directed to the form and terms and rights given by
the option agreement rather
than to the actions of the parties.  Under the
document it was open to the grantee to pay the $30,000.00 on or at any time
after
execution of it and thus, even if full payment was a condition precedent
thereto, to exercise the option within the 42 day period.
<P>

16	I turn to the question of estoppel.  The conclusion at which I have arrived
to the effect that "void" means "void" carries with
it the consequence that
there is no room for the operation of this doctrine.  As was said in <b>Roach v
Bickle </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1915/80.html" title="View Case" class="autolink_findcases_inserted">[1915] HCA 80</a>;  <a href="/cgi-bin/LawCite?cit=%281915%29%2020%20CLR%20663" title="View LawCiteRecord" class="autolink_findcases">(1915) 20 CLR 663</a> at 671:-
<P>

	"In any case, where an act of Parliament lays down a rule of public policy it
is impossible for private individuals to abrogate
it at will... .  Where that
rule of public policy takes the form of express declaration of invalidity no
Court can permit personal
relations to effect a virtual repeal of the
enactment."
<P>

17	See also Spencer Bower and Turner "Estoppel by Representation", 3rd ed.,
para 141 and the cases referred to therein.  It seems
to me that there is a
general public policy apparent in s66ZG and in the group of sections of which
it forms part.  The general policy
is to provide protection to particularly
purchasers of residential land by defining in some detail the steps to be
taken, and the
consequences if they are not, for there to be binding contracts
relating to the sale of residential land.  S66ZG in part reproduces
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66u.html" class="autolink_findacts">s66U</a> of the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act</a> as introduced in 1987, and both in its reflection of that
earlier section and in its further provision, it is a reflection of that
policy.  The existence of such a policy behind a statutory provision is
inconsistent with any estoppel being allowed to operate to
defeat it - <b>Kok
Hoong v Leong Cheong Kweng Mines Ltd</b>  <a href="/cgi-bin/LawCite?cit=%281964%29%20AC%20993" title="View LawCiteRecord" class="autolink_findcases">(1964) AC 993</a> at 1016.
<P>

18	This conclusion makes it unnecessary for me to consider at length the
Appellant's other criticisms of the Magistrate's findings
on the topic of
estoppel.  It is sufficient for me to say, however, firstly that some of those
criticisms were directed to findings
of fact by the Magistrate which it is not
open to this court to review: secondly the Appellant's submissions paid
insufficient attention
to the fact that the Appellant had, by lodging a caveat,
exercised rights under the Option Agreement.  Had the option been merely
voidable, the exercise of those rights would have precluded the Appellant from
relying on matters within the Appellant's knowledge
at the time of the exercise
of those rights to avoid it - see <b>Elder's Trustee and Executor Company
Limited v Commonwealth Homes and Investment Co Ltd</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1941/31.html" title="View Case" class="autolink_findcases_inserted">[1941] HCA 31</a>;  <a href="/cgi-bin/LawCite?cit=%281942%29%2065%20CLR%20603" title="View LawCiteRecord" class="autolink_findcases">(1942) 65 CLR 603</a> at 618
<b>Kadner v Brune Holdings Pty Ltd </b> <a href="/cgi-bin/LawCite?cit=%281973%29%201%20NSWLR%20498" title="View LawCiteRecord" class="autolink_findcases">(1973) 1 NSWLR 498.</a>
<P>

19	It follows from my conclusions and the terms of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66zg.html" class="autolink_findacts">s66ZG</a> and s<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66ze.html" class="autolink_findacts">66ZE</a> that the
consideration paid by the Appellant for the grant of the option is returnable
to him.  Appropriate orders are:-
<P>

	1.  Quash the verdict and judgment for the Defendant Mary Anketell given in
the Local Court at Tweed Heads on 12 February 1998.
<P>

	2.  Remit the matter to the Local Court to be determined in accordance with
these Reasons.
<P>

	3.  Order the Respondent Mary Anketell to pay the costs of the Appellant in
this Court.
<P>


**********
<P>

LAST UPDATED: 	09/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/304.html</i><br>
</p>
</small>
</body>
</html>
