<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Panel Tech Industries v Pacific Sheet and Coilpanel Tech Industries v Pacific Sheet and Coil [1999] NSWSC 1230 (17 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1230</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1230 or 1999+NSWSC+1230">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Panel Tech Industries v Pacific Sheet and Coilpanel Tech Industries v Pacific Sheet and Coil [1999] NSWSC 1230 (17 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1230.html-->
<!--sino date 17 December 1999-->


<P>Last Updated: 17 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Panel Tech Industries v Pacific Sheet &amp; CoilPanel Tech
Industries v Pacific Sheet &amp; Coil  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1230.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1230</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	4466/99
<P>

3947/99
<P>

HEARING DATE{S): 	18/11/99
<P>

JUDGMENT DATE: 	17/12/1999
<P>

 PARTIES: 
<P>

Panel Tech Industries (Aust) Pty Ltd v Pacific Sheet &amp; Coil Pty Ltd
(Receiver Manager Appointed)
<P>

Panel Tech Industries (Aust) Pty Ltd v Pacific Sheet &amp; Coil Pty Ltd
(Receiver Manager Appointed)
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr R.D. Wilson for plaintiff
<P>

Mr J. Sheahan SC for defendant
<P>

SOLICITORS: 
<P>

Coleman &amp; Greig, Parramatta for plaintiff
<P>

Raj Lawyers Brisbane, Qld for defendant
<P>

CATCHWORDS: 
<P>

Corporations Law.  Application to set aside statutory demand.  Demand set
aside. No matter of principle.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Paragraph 44
<P>

JUDGMENT: 
<P>

- 2 -
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

MASTER MACREADY
<P>

Friday 17 December 1999
<P>

<b>4466/99 PANEL TECH INDUSTRIES (AUSTRALIA) PTY LTD v PACIFIC SHEET AND COIL
PTY LTD (RECEIVER MANAGER APPOINTED)</b>
<P>

<b>3947/99 PANEL TECH INDUSTRIES (AUSTRALIA) PTY LTD v PACIFIC SHEET AND COIL
PTY LTD (RECEIVER MANAGER APPOINTED)</b>
<P>

1  	<b>MASTER:</b>  These are actions to set aside statutory demands
which have been served by the defendant upon the plaintiff pursuant to the
<i>Corporations Law.  </i>I have ordered that both matters be heard together
and the evidence in one evidence in the other.  In matter 3947/99 the statutory
demand was dated 19 August 1999 and demanded payment of $677,000.  The parties
are agreed that since the demand $82,336.66 has been
paid leaving an amount of
$595,598.10 claimed under the demand.  In matter 4466/99 the demand was dated 1
October 1999 and claimed
the sum of $183,624.56.  
<P>

2  	The plaintiff is a manufacturer who produces material for cool
rooms and in the process of doing so requires rolls of sheet
steel in order to
manufacture its products.  The defendant is the importer of various types of
sheet steel which is manufactured
outside Australia.  The disputes between the
parties relates to the supply of that steel and the terms upon which it was
supplied.
<P>

3  	The plaintiff says that in respect of these demands there is
first a genuine dispute as to the trading terms and that as a consequence
monies claimed were not due at the date of the issue of the demand.  Second,
the plaintiff propounds offsetting claims arising out
of the defects in the
goods supplied.  Third the plaintiff submits that there are defects in the
affidavits sworn supporting the
demands such as would lead the court to set
aside the demands.  I turn to the first of these matters.
<P>

4  	Mr White in his affidavit of 13 September 1999 articulated the
first dispute in paragraph 6(c) in the following terms:-
<P>

"Invoice" supply was supplied on terms that payment was due 90 days after the
end of the month of supply, or after statement, statements
being sent at the
end of each month.  "Stock" supply was supplied on consignment on terms that
payment was to be due upon sale by
Panel Tech.  In effect, this supply was paid
for within 120 days, and if the stock was earlier, Panel Tech paid earlier.
This was
the manner in which the account was conducted over most of the period
of 15 months, and arose from a conversation between me and
Craig Corliss at
Panel Tech's Silverwater premises in or about July or August 1998.  I said to
him words to the effect of "Payments
from larger clients are stringing over the
60 days.  I can pay you before 90, but I really need the extra 30 days".  He
said words
to the effect of "No problem, but just before 90 days, because
that's when our insurers get anxious".  I said words to the effect
of "With the
consignment stock, we'll pay at latest within a further month".  He said, "OK".
Craig Corliss and I had other conversations
to similar effect.  Although
Pacific's invoices stated shorter terms for payment, Pacific has never sought
to enforce those terms,
so far as I am aware."
<P>

5  	Mr Corliss of the defendant denied that he allowed Panel Tech to
pay outstanding invoices up to a period of 90 days but conceded
that he did say
words to the effect that he was prepared to extend the terms of payment from 30
to 60 days.  There is thus a dispute
about the particular conversation which it
is said that the terms of payment were agreed.  The defendant's case is that
there is
in fact no a genuine dispute on this aspect.  
<P>

6  	In <b>Eyota v Hanave </b> <a href="/cgi-bin/LawCite?cit=%281994%29%2012%20ACLC%20669" title="View LawCiteRecord" class="autolink_findcases">(1994) 12 ACLC 669</a> at page 671<b>
</b>McLelland CJ in Equity his Honour made the following comments respect of
the expression "Genuine dispute":
<P>

"It is, however, necessary to consider the meaning of the expression 'genuine
dispute' where it occurs in s.459H.  In my opinion
that expression connotes a
plausible contention requiring investigation, and raises much the same sort of
considerations as the 'serious
question to be tried' criterion which arises on
an application for an interlocutory injunction or for the extension or removal
of
a caveat.  This does not mean that the Court must accept uncritically as
giving rise to a genuine dispute, every statement in an
affidavit 'however
equivocal, lacking in precision, inconsistent with undisputed contemporary
documents or other statements by the
same deponent, or inherently improbable in
itself, it may be' not having 'sufficient prima facie plausibility to merit
further investigation
as to (its) truth' (cf <b>Eng Mee Yong v Letchumanan</b>
 <a href="/cgi-bin/LawCite?cit=%281980%29%20AC%20331" title="View LawCiteRecord" class="autolink_findcases">(1980) AC 331</a> at 341), or 'a patently feeble legal argument, or an assertion of
facts unsupported by evidence' (cf <b>South Australia v Wall </b> <a href="/cgi-bin/LawCite?cit=%281980%29%2024%20SASR%20189" title="View LawCiteRecord" class="autolink_findcases">(1980) 24 SASR
189</a> at 194).
<P>

But it does mean that, except in such an extreme case, a Court required to
determine whether there is a genuine dispute should not
embark upon an inquiry
as to the credit of a witness or a deponent whose evidence is relied on as
giving rise to the dispute.  There
is a clear difference between, on the one
hand, determining whether there is a genuine dispute and, on the other hand,
determining
the merits of, or resolving, such a dispute.  In <b>Mibor
Investments </b>(at ACLC  <a href="/cgi-bin/LawCite?cit=1066%20ACSR%20366%2d7" title="View LawCiteRecord" class="autolink_findcases">1066; ACSR 366-7)</a> Hayne J said, after referring to the
state of the law prior to the enactment of Division 3 of Part 5.4 of the
Corporations Law, and
to the terms of Division 3:
<P>

'These matters, taken in combination, suggest that at least in those cases, it
is not expected that the Court will embark upon any
extended inquiry in order
to determine whether there is a genuine dispute between the parties and
certainly will not attempt to weigh
the merits of that dispute.  All that the
legislation requires is that the Court conclude that there is a dispute and
that it is
a genuine dispute.'
<P>

7  		In <b>Re Morris Catering (Australia) Pty Limited</b>  <a href="/cgi-bin/LawCite?cit=%281993%29%2011%20ACLC%20919" title="View LawCiteRecord" class="autolink_findcases">(1993) 11
ACLC 919</a> at 922;  <a href="/cgi-bin/LawCite?cit=%281993%29%2011%20ACSR%20601" title="View LawCiteRecord" class="autolink_findcases">(1993) 11 ACSR 601</a> at 605 Thomas J said:
<P>

'There is little doubt that Division 3 . . . prescribes a formula that requires
the Court to assess the position between the parties,
and preserve demands
where it can be seen that there is no genuine dispute and no sufficient genuine
offsetting claim.  That is not
to say that the Court will examine the merits or
settle the dispute.  The specified limits of the Court's examination are the
ascertainment
of whether there is a "genuine dispute" and whether there is a
"genuine claim".
<P>

It is often possible to discern the spurious, and to identify mere bluster or
assertion.  But beyond a perception of genuineness
(or the lack of it) the
Court has no function.  It is not helpful to perceive that one party is more
likely than the other to succeed,
or that the eventual state of the account
between the parties is more likely to be one result than another.
<P>

The essential task is relatively simply - to identify the genuine level of a
claim (not the likely result of it) and to identify
the genuine level of an
offsetting claim (not the likely result of it).'
<P>

I respectfully agree with those statements."
<P>

8  	The defendants particularly relied upon the statement that the
court must accept uncritically every statement:-
<P>

 'however equivocal, lacking in precision, inconsistent with undisputed
contemporary documents or other statements by the same deponent,
or inherently
improbable in itself".
<P>

9  	In particular it relied upon a course of correspondence
commencing on 25 August 1998 and running through to 31 July 1999.  In
the first
piece of correspondence the question of supply arrangement was referred to as
having been discussed in Brisbane on 20 August
1998.  It specified payment
strictly 60 days from statement.  The letter also enclosed contracts to be
returned and certainly the
documentation being the order forms and the invoices
similarly showed payment 60 days from statement in contrast to what was
contended
for by the plaintiff.  There is no evidence of any response querying
the statement about the agreement which had been reached.  By
10 February 1999
the defendant was writing referring to the account being a 60 day account and
refusing to deliver until the account
which was then 90 days was brought back
to 60 days.  The response to this letter was not to query the terms of trade
but simply to
propose a repayment schedule for what must be taken to have been
admitted arrears.  The correspondence in April also reported Mr
White of the
plaintiffs having stated that he would be getting the account down to a 60 day
payment.  
<P>

10  	In no correspondence prior to the issue of the demands did the
plaintiff ever assert that the agreement for payment was in
fact 90 days.  This
is exceedingly strange as one would have thought that it would be the first
thing that would be said if there
was such an agreement or belief that such an
agreement existed.  
<P>

11  	The evidence of Mr White in paragraph 6(c) (see above) is not
consistent with the defendant merely tolerating late payment.
 It goes to the
terms of the payment.  Accordingly, it is necessary to see whether such
evidence does not have "sufficient prima
facie plausibility to merit further
investigation as to (its) truth".  If it were merely evidence of tolerating
late payment one
could put it aside as not relevant.  As it goes to the terms
and is sworn evidence it is very relevant and must be considered.  To
put it
aside involves a process of evaluating other evidence and assessing the credit
of Mr White.  As indicated in <b>Eyota </b>this is not appropriate.
<P>

12  	The temptation when given clear documentary evidence to the
contrary of the sworn conversation, is to make the final judgment.
 This I
decline to do and I am satisfied that there is a genuine dispute as to the
terms of trade.  There is, however, some outstanding
monies which amount to
$46,693.12.  Accordingly, the demand should be reduced to $46,693.12 unless the
subsequent matters to which
I refer provide a different result.
<P>

<b>Offsetting claims</b>
<P>

13  	The areas of offsetting claim are as follows:-
<P>

(a) Steel returned and resupplied at the plaintiff's cost $195,294
<P>

(b) Repainting and replacement of steel supplied due to inconsistent colour
$65,000
<P>

(c) Coils of steel damaged in transit $21,962.44
<P>

(d) Loss of goodwill and custom $192,000 - $282,000.
<P>

(e) Rectification work at Watsons $300,000.
<P>

(f) Acro-refrigeration defects $3,000.
<P>

14  	Subject to the legal matters to which I am about to turn the
first three matters are established to the extent necessary. 
With regard to
the fourth matter the evidence establishes that the plaintiff has lost a
customer as result of the supply of faulty
steel sourced from the defendant.
There is no evidence to suggest that the range of estimated loss of profits
based on two years
further business with that customer would not be
appropriate.  Such claims are normally allowable.  <b>See GKN Centrax v
Matbro</b><i> </i>(1976) 2 Lloyds Law Reports 555 at 574,<i> </i><b>Flamingo
Park v Dolly Dolly</b><i> </i>(1985) 65 ALR at 521.
<P>

15  	Some rectification work at Watsons is likely given the problems
with the steel supplied.  It is a little early in the dispute
to determine
whether the whole estimated rectification work of $300,000 will be claimed.  It
certainly seems that at least $70,000
will be claimed and this is an offsetting
claim for at least this amount.  The defects for Acro-refrigeration of $3,000
are an existing
claim and should be considered as an offsetting claim in this
amount.
<P>

16  	The defendant's contentions in respect of the offsetting claims
are that for a variety of reasons they are not maintainable
given the terms of
the agreement for the supply of goods between the parties.  
<P>

17  	It is necessary to look a little more closely at the legal basis
for the offsetting claims in order to consider the defendant's
submissions.
<P>

18  	The following causes of action are relied upon to establish the
offsetting claims to which I have referred.
<P>

(i) Damages for breach of an express condition printed on each sales contract
and commercial invoice that "epoxy coating (is) suitable
for coolroom sandwich
panel adhesion".  Delamination constitutes a breach of this condition.
<P>

(ii) Damages under s 52 (misleading, deceptive conduct), s 53(a) ("falsely
represent that goods are of a particular standard, quality,
grade") of the
<a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act 1974</a> arising from a false representation printed on each
sales contract and commercial invoice that "epoxy coating (is) suitable for
coolroom
sandwich panel adhesion".  Delamination establishes the falsity of the
representation and the fact that the steel coil is not of
a standard or quality
suitable for sandwich panel adhesion.
<P>

(iii) Damages for breach of an express condition printed on each sales
contract, commercial invoice that the steel coil would be
prepainted to a
particular colour, eg, invoice 621 (p29 White 13/9/99 "Topside: off
white...Reverse: foam grey".  Discolouration
constitutes a breach of this
condition.  In addition, this representation founds an action for damages under
<a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s53.html" class="autolink_findacts">s 53(a)</a> of the <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act</a> - falsely representing that the steel coil
would be of a particular quality, standard.
<P>

(iv) Damages for breach of an implied condition as to fitness for purpose and
merchantability arising at common law.  Discolouration
and delamination
constitute breaches of these conditions.
<P>

(v) A defence under <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/soga128/s54.html" class="autolink_findacts">s 54(1)(b)</a> of the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/soga128/" class="autolink_findacts">Sale of Goods Act</a> (1923) NSW, by which
breaches of the express and implied conditions in ((i), (iii), (iv) above are
"set up...in diminution or extinction
of the price" of the steel coil.
<P>

(vi) In relation to goods damaged in transit, a defence that the risk had not
passed to the plaintiff at the time the damage occurred
(see cl 4.3 of terms of
trade, <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/soga128/s25.html" class="autolink_findacts">s 25</a> <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/soga128/" class="autolink_findacts">Sale of Goods Act</a>).
<P>

19  	The plaintiff suggests that the offsetting claims can be
supported by the following causes of action.
<P>

(a) Steel returned, resupplied at plaintiff's
<P>

cost - causes of action (i) to (v)                                195,294.00
<P>

(b) Repainting, replacement due to inconsistent
<P>

colour - causes of action (iii),(iv), (v)                          65,000.00
<P>

(c) Coil damage in transit - causes of action (vi)        21,962.44
<P>

(d) Loss of goodwill and custom - causes
<P>

of action (i) to (iv)
192,000.00
<P>

                                                                            -
282,000.00
<P>

(e) Rectification work at Watsons - causes
<P>

of action (I) - (v)
70,000.00
<P>

(f) Acro Refrigeration - causes of action
<P>

(iii), (iv)
 3,000.00
<P>

20  	The application for credit by the plaintiff, which included
standard terms of trade, included the following terms:-
<P>

"6.  Implied Terms - all conditions and warranties expressed or implied by
statute the common law equity trade custom or usage or
otherwise however are
hereby expressly excluded to the medium extent permitted by law.  Where so
permitted the liability of the company
for a breach of a condition or warranty
that cannot be excluded is limited at the Company's opinion, in the case of
goods, to the
replacement or repair of the goods or the supply of equivalent
goods or the cost of replacing or repairing the goods or of acquiring
goods
and, in the case of services, to the supplying of the services again or the
payment of the cost of having the services, to
the supplying of the services
again or the payment of the cost having the services applied again.
<P>

 7.  Indirect Loss - so far as the law permits the company shall not be liable
in any way whatsoever for any indirect or consequential
loss or loss of profit
including in particular but not limited to any loss by reason of delay,
defective or faulty materials or workmanship,
negligence or any act or matter
or thing done, permitted or omitted by the Company."
<P>

21  	In addition the invoices which accompanied the goods included
the following conditions:-
<P>

"3.1  Any claim against the supplier must be made in writing within 7 days of
delivery of goods except claims for non-delivery which
must be made in writing
within 14 days from the date of delivery.  All claims must refer to the
original invoice number, date and
reason for the claim.
<P>

         ...........
<P>

4.3  Risk in the goods shall unless otherwise agreed in writing pass to the
customer upon dispatch from the suppliers warehouse
save and except where the
goods are carried in the suppliers own ...in which case the goods shall pass
upon delivery to the customer
or its agent.
<P>

4.4  These terms and conditions do not exclude, restrict or modify the
application of any provision of the <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act 1974</a> or any other
relevant Federal or State legislation which by law cannot be excluded,
restricted or modified.
<P>

4.5  Except where goods are
<P>

manufactured by the supplier and acquired by the customer for the supply or
acquired by the customer as a consumer within the meaning
of the <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade
Practices Act</a> then the supplier shall not be liable or responsible for any
loss, damage, injury to property or persons (including loss of profits
or other
consequential indirect incidental or special damage) resulting from any defects
in the goods or arising out of or in connection
with the acquisition,
installation, use or possession of the goods and all representations terms,
conditions and warranties that
the goods 
<P>

(i) shall correspond with the description
<P>

(ii) correspond with any sample
<P>

(iii) be of merchantable quality or 
<P>

(iv) be reasonably fit for a purpose, expressed or implied, by common, law or
by Federal, State or territorial laws (that are capable
of being excluded) are
hereby excluded.
<P>

4.6  Where the goods are:
<P>

4.6.1 Manufactured by the supplier and acquired by the customer for resupply or
acquired by the customer as a consumer and the goods
are not of a kind
ordinarily acquired for personal, domestic or household use or consumption
within the meaning of the <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act</a> then, the liability of the
supplier for breach of a condition or warranty that the goods shall correspond
with any sample, shall
be of merchantable quality or shall be reasonably fit
for a purpose, shall be limited to
<P>

4.6.2 the replacement of the goods or the supply of equivalent goods
<P>

4.6.3 repair of the goods
<P>

4.6.4 the payment of the cost of replacing the goods or of acquiring goods,
or
<P>

4.6.5 the payment of the cost of having the goods repaired, whichever the
supplier in its absolute discretion shall think fit."
<P>

22  	I turn to the individual causes of action to see whether the
various exemption clauses could affect the claims.
<P>

<b>(i) Damages for breach of an express condition.</b>
<P>

23  	It is submitted that this claim is excluded by clause 3.1 (time
limit for claims and clause 4.5.
<P>

24  	Clause 3.1 is in a section of the conditions in the invoice
which is related to claims, returns and allowances.  Notably it
is not within
the section headed liability.  Normally such clauses are construed strictly
against the party relying upon it.  If
a party wishes to exclude the ordinary
consequences that would flow in law from the breach of contract it must do so
on the clearest
of terms.  See <b>Duncan v Porter </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1953/78.html" title="View Case" class="autolink_findcases_inserted">[1953] HCA 78</a>;  <a href="/cgi-bin/LawCite?cit=%281953%29%2090%20CLR%20295" title="View LawCiteRecord" class="autolink_findcases">(1953) 90 CLR 295</a> and
<b>World Travel Service Pty Ltd v McNiven </b> <a href="/cgi-bin/LawCite?cit=%281964%2d5%29%20NSWR%20731" title="View LawCiteRecord" class="autolink_findcases">(1964-5) NSWR 731.</a>  The factual
circumstances under consideration in both these cases indicate the clear need
to exclude a claim for damages for breach
of contract.  In the circumstances it
would seem to me that it is at least arguable that 3.1 does not apply to this
claim.  
<P>

25  	Under clause 4.5 the defendant suggests that that clause would
exclude any claims which would be loss or damage resulting from
defects in the
goods and, secondly because the clause excludes all conditions express or
implied that the goods correspond with their
description or be reasonably fit
for a purpose.  Although the express term appears in a heading, "Description of
Goods", it would
seem to be able to be construed as an express term as to the
colour of the goods and suitability for a particular purpose.  In these
circumstances it is necessary to see, on the assumption that both the express
term and clause 4.5 are contractual terms, whether
there is an arguable case
that clause 4.5 does not have the effect contended for by the defendant.  One
of the principles of construction
was that the general provisions should be
read down so as to give effect to particular provisions.  See <b>Penny v Grand
Central Car Park </b><a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1965/45.html" title="View Case" class="autolink_findcases_inserted">[1965] VicRp 45</a>;  <a href="/cgi-bin/LawCite?cit=%281965%29%20VR%20323" title="View LawCiteRecord" class="autolink_findcases">(1965) VR 323</a> at 341 and <b>World Travel Service </b>at
737. 
<P>

26  	As has been pointed out in submissions and the literature
(Sutton <b>Sales and Consumer Law </b>4th Ed at page 4) these decisions were in
the time when the doctrine of fundamental breach was in its heyday.  The basis
now is somewhat
different and has been laid down by the High Court in
<b>Darlington Futures Ltd v Delco Australia Pty Ltd </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1986/82.html" title="View Case" class="autolink_findcases_inserted">[1986] HCA 82</a>;  <a href="/cgi-bin/LawCite?cit=%281986%29%20161%20CLR%20500" title="View LawCiteRecord" class="autolink_findcases">(1986) 161 CLR 500</a> at
510.  There the High Court said:-
<P>

These decisions clearly establish that the interpretation of an exclusion
clause is to be determined by construing the clause according
to its natural
and ordinary meaning, read in the light of the contract as a whole, thereby
giving due weight to the context in which
the clause appears including the
nature and object of the contract, and, where appropriate, construing the
clause contra proferentem
in case of ambiguity. Notwithstanding the comments of
Lord Fraser in Ailsa Craig   31  [1983] 1 WLR, at 970; [1983] 1 All ER, at
105., the same principle applies to the construction of limitation clauses. As
King CJ noted in his judgment in the Supreme Court,
a limitation clause may be
so severe in its operation as to make its effect virtually indistinguishable
from that of an exclusion
clause. And the principle, in the form in which we
have expressed it, does no more than express the general approach to the
interpretation
of contracts and it is of sufficient generality to accommodate
the different considerations that may arise in the interpretation
of a wide
variety of exclusion and     limitation clauses in formal commercial contracts
between business people where no question
of the reasonableness or fairness of
the clause arises."
<P>

27  	The House of Lords had reached a similar result by 1980 when the
decision was given in <b>Photo Production Ltd v Securicor Transport Ltd
</b><a href="http://www.bailii.org/uk/cases/UKHL/1980/2.html" title="View Case" class="autolink_findcases_inserted">[1980] UKHL 2</a>;  <a href="/cgi-bin/LawCite?cit=%281980%29%20AC%20827" title="View LawCiteRecord" class="autolink_findcases">(1980) AC 827.</a>
<P>

28  	A similar case to the present reached the House of Lords in
<b>Tor Line AB v Alltrans Group of Canada Ltd </b> <a href="/cgi-bin/LawCite?cit=%281984%29%201%20WLR%2048" title="View LawCiteRecord" class="autolink_findcases">(1984) 1 WLR 48.</a>  The charter
contained in clause 26 of detailed contractual description of the vessel which
was required for roll on - roll off service.
 Under the sub-heading "Free
Height" appeared the statement that in the case of the main deck this was 6.1
metres.  In fact it was
only 6.05 metres with the result that a trailer with
containers could be not be loaded on to that deck.  The charterers claimed
damages
and the owners relied upon clause 13 of the Ball Time Charter second
sentence of which read:
<P>

"The owners not to be responsible in any other case nor for damage nor delay
whatsoever and howsoever caused even if caused by the
neglect or default of
their servants".
<P>

29  	Lord Roskill, who delivered the principal speech, emphasised (at
52C-D; 106E-F) that the charter had "to be construed as a
whole" and dealing
with the second sentence of cl 13 said (at 53-54; 107-108):
<P>

"... If one construes the words `in any other case' literally the second part
of the second sentence and indeed the whole of the
third sentence ... become
surplusage because on that view there would necessarily be no other `case',
liability for which is not
already excluded. Moreover such a literal
construction would mean ... that the owners would be under no liability if they
never delivered
the vessel at all for service under the charter or delivered a
vessel of a totally different description ... My Lords I cannot think
that this
can be right. Some limitation must be read in the first part of the second
sentence."
<P>

He noted (at 55-56; 109) that exception clauses in charters are to be construed
contra proferentem and after a close analysis of
the clause he concluded that
it did not protect the owners from breach of the express description in cl 26.
He then added (at 58-59;
111-112):
<P>

"... Even had I reached a different conclusion on construction ... I would
still have rejected (counsel for the owners') submissions
that there was no
relevant limitation upon what he contended was the natural meaning and scope of
clause 13. ... if clause 13 were
to be construed so as to allow a breach of the
warranties as to description in clause 26 to be committed or a failure to
deliver
the vessel at all to take place without financial redress to the
charterers, the charter virtually ceases to be a contract for the
letting of
the vessel and the performance of services ... and becomes no more than a
statement of intent by the owners in return
for which the charterers are
obliged to pay large sums by way of hire, ... I find it difficult to believe
that this can accord with
the true common intention of the parties and I do not
think that this conclusion can accord with the true construction of the
charter.
 ... ''
<P>

30  	This case was referred to by His Honour Mr Justice Handley JA in
<b>Glebe Island Terminals Pty Ltd v Continental Seagram Pty Ltd </b> <a href="/cgi-bin/LawCite?cit=%281993%29%2040%20NSWLR%20206" title="View LawCiteRecord" class="autolink_findcases">(1993) 40
NSWLR 206.</a>  His Honour at page 214 said 
<P>

In my opinion this reasoning, if I may say so with respect, appears to be a
useful illustration of the result in a given case of
"construing the
(exclusion) clause according to its natural and ordinary meaning, read in the
light of the contract as a whole, thereby
giving due weight to the context in
which the clause appears including the nature and object of the contract, and,
where appropriate,
construing the clause contra proferentem in case of
ambiguity": Darlington Futures Ltd v Delco Australia Pty Ltd (at 510).
<P>

31  	The factual situation in <b>Tor Line </b>was one concerned with
warranties as to description.  In relation to the two claims with which I am
here concerned at least one of
them, the term as to suitability is in the same
situation.  The case does illustrate how even adopting the modern approach one
can
still arrive at a result that the general words in an exclusion clause are
read down to have regard to the specific express provision
in order to properly
construe the contract as a whole.  
<P>

32  	The difficulties with this area of the law is well illustrated
by the different factual result achieved in <b>Glebe Island Terminals Pty Ltd v
Continental Seagram Pty Ltd</b> and the decision of the Victorian Court of
Appeal in <b>Karmel Export (Aus) Pty Ltd v NPL (Australia) Pty Ltd</b> <a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1996/39.html" title="View Case" class="autolink_findcases_inserted">[1996] VicRp 39</a>;  <a href="/cgi-bin/LawCite?cit=%281996%29%201%20VR%20538" title="View LawCiteRecord" class="autolink_findcases">(1996) 1
VR 538.</a>  In my view in the present case it certainly is arguable that the
clause 4.5 may need to be read down given the express term as to
suitability.
It would be more difficult to come to this conclusion in respect of the express
term as to the colour of the goods.
 However, the claim which relies upon the
express term as to suitability is for a large amount and well in excess of the
amount which
still remains claimable under the demands as a result of the
earlier conclusion I have reached.  There is an appropriate off-setting
claim
which can be advanced under this head.
<P>

<b>(ii) Damages under <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s52.html" class="autolink_findacts">s 52</a> <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s53.html" class="autolink_findacts">s 53(a)</a> of the <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act</a>. </b>
<P>

33  	Given the public policy behind the operation of the <b><a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade
Practices Act</a> </b>it is unlikely that clauses 3.1 or 4.5 of the invoice terms
would exclude these claims.  See <b>Henjo v Collins </b><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1988/40.html" title="View Case" class="autolink_findcases_inserted">[1988] FCA 40</a>;  <a href="/cgi-bin/LawCite?cit=%281988%29%2079%20ALR%2083" title="View LawCiteRecord" class="autolink_findcases">(1988) 79 ALR 83</a> at
98-99 and  <a href="/cgi-bin/LawCite?cit=72%20ALR%20601" title="View LawCiteRecord" class="autolink_findcases">72 ALR 601</a> at 612-613.  See also <b>Petera v EAJ </b><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1985/277.html" title="View Case" class="autolink_findcases_inserted">[1985] FCA 277</a>;  <a href="/cgi-bin/LawCite?cit=1984%207%20FCR%20375" title="View LawCiteRecord" class="autolink_findcases">(1984 7 FCR 375.</a>
There is, however, a real problem with the plaintiff succeeding in establishing
the falsity which arises by the fact of delamination.
 Normally a warranty as
to the quality of goods which will be delivered in the future will not amount
to a misrepresentation merely
by pointing to its non-fulfilment, see <b>Bill
Acceptances Corporation v GWA Limited </b><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1982/269.html" title="View Case" class="autolink_findcases_inserted">[1982] FCA 269</a>;  <a href="/cgi-bin/LawCite?cit=%281983%29%2050%20ALR%20242" title="View LawCiteRecord" class="autolink_findcases">(1983) 50 ALR 242</a>, <b>Global
Sportsman Pty Ltd v Mirror Newspapers Ltd </b><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1984/180.html" title="View Case" class="autolink_findcases_inserted">[1984] FCA 180</a>;  <a href="/cgi-bin/LawCite?cit=%281984%29%202%20FCR%2082" title="View LawCiteRecord" class="autolink_findcases">(1984) 2 FCR 82</a> at 88.  In these
circumstances it would seem that this cause of action would not be sufficient
to justify a genuine dispute.
<P>

<b>(iii) Damages for breach of an express condition as to the colour of the
goods.</b>
<P>

34  	For the reasons which I have expressed above at least this claim
for the express condition may not give rise to a genuine dispute.
<P>

<b>(iv) Damages for breach of an implied condition as to fitness for
purpose.</b>
<P>

35  	Given the exclusion of these claims this cause of action would
not be maintainable.  As has been pointed out in <b>Nissho Iwai Australia
Limited v Malaysian International Shipping Corporation, Berhad </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1989/32.html" title="View Case" class="autolink_findcases_inserted">[1989] HCA 32</a>;  <a href="/cgi-bin/LawCite?cit=%281989%29%20167%20CLR%20219" title="View LawCiteRecord" class="autolink_findcases">(1989) 167
CLR 219</a> at 227 such exclusion clauses are effective and are to be given effect
in accordance with their natural and ordinary meaning.  Special
condition 6 is
quite clear in this regard.
<P>

<b>(v) Defence under <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/soga128/s54.html" class="autolink_findacts">s 54(1)(b)</a> of the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/soga128/" class="autolink_findacts">Sale of Goods Act</a> </b>
<P>

36  	This depends upon both the express and implied conditions.  The
implied conditions would not give rise to such a defence but
the express
conditions, as I have mentioned above, may well give rise to a genuine dispute
in that regard.
<P>

<b>(vi) Goods damaged in transit</b>
<P>

37  	The goods in question here were damaged in transit and it would
seem that there is a genuine dispute that the risk had not
passed to the
purchaser under condition 4.3 at the time the damage occurred.  There is thus
an appropriate off setting claim.
<P>

38  	Given my findings above it is clear that there is at least an
offsetting claim for an amount in excess of the sum of $46,693.12
which is
referred to above.  In the circumstances clearly the claims in respect of steel
returned and goods damaged in transit are
such that they should be allowed as
offsetting claims.  In these circumstances it is not necessary to deal with the
more complex
matters as to whether the claim for loss of profits and potential
further claims are either excluded by the conditions or are not
presently
existing claims.  See <b>Advance Ship Design Pty Ltd v D.J. Ryan </b> <a href="/cgi-bin/LawCite?cit=%281995%29%2016%20ACSR%20129" title="View LawCiteRecord" class="autolink_findcases">(1995) 16
ACSR 129</a> at 135.  
<P>

<b>Defects in the affidavits</b>
<P>

39  	In the demand in matter 3947 of 1999 the three particular
matters complained of are non-compliance with the New South Wales
Rules in
respect of such affidavits as follows:-
<P>

1. It does not state the source of knowledge as required under rule
15(1)(c).
<P>

2. It does not state that the deponent believes there is no genuine dispute
about the existence or the amount of the debt. Rule
15(1)(e).
<P>

3. The affidavit does not contain the statement headed "Important Note" set out
in the form rule 15(3)(b).  
<P>

40  	In respect of the demand in matter 4466 of 1999 the areas of
non-compliance are:-
<P>

1. It does not state the deponent's knowledge of the matters.  Rule
15(1)(c).
<P>

41  	2. It is not in accordance with the prescribed form as it does
not contain the statement headed "Important Note".  See rule
15 3(a)(b).
<P>

42  	The demands specified two addresses for service, one at Raj
Lawyers at an address in Queensland where the defendant is incorporated
and the
other at Raj Lawyers, Pitt Street, Sydney.  It is apparent that the affidavits,
or at least the one for the major amount,
have been drafted having regard to
the terms of the Queensland rules.  Those rules simply provide:
<P>

 "52. The affidavit verifying the statutory demand under s 459E(3) must be
sworn by a person having knowledge of the facts".  
<P>

43  	Clearly, given both the contents of the affidavit and the actual
evidence before me as to the part played by the deponent of
the affidavit he
was a person with knowledge of the facts.  Plainly the affidavits do comply
with the Queensland Rules.  In a similar
circumstance to the present one, in
<b>Beta Trading Co Pty Ltd v Specialised Laminators </b>8 November 1996 I
decided that the New South Wales Rules were applicable given that the demand
was to be served in New South Wales.
 That decision, however, has been
overtaken by the decision of the Full Court of the Federal Court in <b>Spencer
Constructions Pty Ltd v G.M. Aldridge Pty Ltd</b><i> </i><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1997/681.html" title="View Case" class="autolink_findcases_inserted">[1997] FCA 681</a>;  <a href="/cgi-bin/LawCite?cit=%281997%29%2076%20FCR%20452" title="View LawCiteRecord" class="autolink_findcases">(1997) 76 FCR 452.</a>
The court decided that an affidavit may be sworn in any of the forms prescribed
by the rules of any court having<i> </i>jurisdiction in respect of the demand
or in the event of non-compliance the winding up.  Bearing the mind the
strictures of the High
Court set out in <b>ASC v Marlborough Gold Mines
Ltd</b><i> </i><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1993/15.html" title="View Case" class="autolink_findcases_inserted">[1993] HCA 15</a>;  <a href="/cgi-bin/LawCite?cit=%281993%29%20177%20CLR%20485" title="View LawCiteRecord" class="autolink_findcases">(1993) 177 CLR 485</a> at 492 it is clear that I should follow the
full Federal Court decision .  Accordingly, as the affidavit does comply with
the Queensland
Rules it would be inappropriate to set aside the demand on these
grounds.
<P>

44  	Given the conclusions which I have reached it is clear that the
demand should be set aside.  Accordingly, I order:-
<P>

1.	In matter No. 3947 of 1999 that the statutory demand dated 19 August 1999
served by the defendant on the plaintiff be set aside.
<P>

2.	In matter No. 4466 of 1999 that the statutory demand dated 1 October 1999
served by the defendant on the plaintiff be set aside.
<P>

3.	In each matter order the defendant to pay the plaintiff's costs.
<P>

LAST UPDATED: 	17/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1230.html</i><br>
</p>
</small>
</body>
</html>
