<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Brown v Brown [1999] NSWSC 604 (21 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 604</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+604 or 1999+NSWSC+604">Noteup</a>]
[<a href="604.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Brown v Brown [1999] NSWSC 604 (21 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_604.html-->
<!--sino date 21 June 1999-->


<P>Last Updated: 21 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Brown  v  Brown  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/604.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 604</a>
<P>

CURRENT JURISDICTION: 	EQUITY
<P>

FILE NUMBER(S): 	2107/90
<P>

HEARING DATE{S): 	11/06/99
<P>

JUDGMENT DATE: 	21/06/1999
<P>

 PARTIES: 
<P>

Mary Patricia NELSON and Jean FARRELL as Executrices of the Estate of Alice
Veronica BROWN v Raymond BROWN &amp; Anor
<P>

JUDGMENT OF: 	Bryson J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

M.S. Willmott for the Plaintiff
<P>

Ms J. Sanford for the Defendant
<P>

SOLICITORS: 
<P>

Lees &amp; Givney for the Plaintiff
<P>

Ronald S. Czinner &amp; Co for the Defendant
<P>

CATCHWORDS: 
<P>

TRUSTS and TRUSTEES - variations under Slip Rule of errors in judgment dated 29
April 1999.  
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

See Paragraph 18.
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

BRYSON J.
<P>

MONDAY 21 JUNE 1999
<P>

<b>2107/9	MARY PATRICIA NELSON and JEAN FARRELL as Executrices of the Estate of
ALICE VERONICA BROWN v RAYMOND BROWN &amp; ANOR.</b>
<P>

<b>JUDGMENT</b>
<P>

1  	HIS HONOUR:  Two Notices of Motion seek further consideration of
matters in my judgment of 29 April 1999.  It was my view that
the defendants
should account as if they had made a fair charge in the nature of rent for
occupation of No. 118 Morrison Road by
Mr Jack Brown and his family.  The
plaintiffs' Notice of Motion of 27 May 1999 Claim 3(a) asked me to re-open my
consideration of
findings relating to the charge in the nature of rent (para.
59), and to interest thereon (para. 65), and of the orders based on
those
findings.
<P>

2  	In para. 59 I adopted $300 per week as the fair market rental
value of the property from 28 October 1990 until 19 April 1999;
so I applied
$300 per week to the period from 1 January 1997 to 28 April 1999.  It appeared
to me that $300 per week was supported
by Mr Phippen's affidavit evidence.
After hearing submissions on the Notice of Motion I am satisfied that
reconsideration is appropriate,
because I did not have regard to Exhibit P
(tendered at transcript p.242), which was an agreed Schedule Market Rental
Values.  Exhibit
P was based on Mr Phippen's evidence but there were agreed
handwritten modifications, and it was not appropriate to base findings
on Mr
Phippen's affidavits, or on anything other than the agreed Schedule.  As
para.59  was affected by a slip or accidental omission
to give attention to
Exhibit P I withdraw the paragraph.  
<P>

3  	Exhibit P does not produce an agreed outcome.  Column (a) sets
out rental values for the whole property and Column (b) sets
out rental values
on a notional basis in which the property is treated as if the defendants had
not added an upper storey and the
property had a ground floor only.  In my view
I should adopt the rental value for the whole property, because the defendants
were
trustees of the whole property throughout the whole period to which the
accounting for rent relates.  The late Mrs A.V. Brown was
and her estate is
beneficial owner of a share in the property in whatever state of improvement it
has been from time to time, and
the defendants are accountable for its rental
value as it actually was, irrespective of the earlier history of the
improvements.
 This is no less so because, while Mrs A.V. Brown was still
alive, the defendants, for their own purposes, improved the property
by adding
the upper storey.  
<P>

4  	The findings which I substitute for para.59 are as follows.  The
fair market rental value of the property is established at
$114,159.25 for the
period 29 October 1990 to 4 August 1998 by addition from Exhibit P of the
agreed Schedule of Market Rental Values.
 I adopt $340 per week for the period
from 5 August 1998 until 28 April 1999; 38 weeks at $340 produces $12,920.  The
total is $127,079.25.
 Exhibit O shows that the agreed outgoings incurred by
the defendants total $12,935.00.  The defendants are accountable to the trust
for the balance of $114,144.25 and to the estate for 2125 parts in 4800 parts
of that balance; that is for $50532.60.  My judgment
will include that sum of
$50532.60.
<P>

5  	This requires me to reconsider interest on the charge in the
nature of rent, which I earlier dealt with in para.65.  In calculating
interest
I treat the notional rent as having increased to $340 per week on 1 January
1997.  Overall the adoption of notional balances
at annual intervals produces a
conservative calculation which is more favourable to the defendants than
calculation based on the
total rental value as it increased week by week
throughout the whole period from 29 October 1990.
<P>

6  	Defendants' counsel pointed out errors in the rates of interest
which I earlier used.  I used interest rates for the first five
interest
calculations up to 28 October 1993 which were higher than those actually found
in Schedule J.  In my re-calculation I have
adhered, as I earlier intended, to
the rates actually found in Schedule J.
<P>

7  	The Notional Balances on which the last three interest
calculations in para 65 were based should be increased to allow for the
higher
rental value from 1 January 1997.  The notional balance on which the interest
calculation for the period from 29 October 1997
to 28 October 1998 is based
should be increased by $761 from $34,300 to $35,061 to allow for the increase
in rental value to $340
per week from 1 January 1997.  The calculations are:
<P>

1.1.97 to 28.10.97: 43 weeks: 43 x 40 = 		$1720
<P>

	Accountable to Estate for  2125  4800 = 	$  761
<P>

The notional balance on which the interest calculation for the period from 29
October 1998 to 29 April 1999 is based should be increased
by $1682 from
$39,200 to $40,882.  The calculations are:-
<P>

29.10.97 to 29.4.98:  52 weeks: 52 x 40 =	 	$2080
<P>

	Accountable to Estate for 2125  4800 = 	$  921
<P>

	Add: $761 + $921=				$1682
<P>

8  	I withdraw the interest calculations in paragraph 65 of my
judgment of 29 April 1999 and adopt the following calculations in
their
place.
<P>

28.10.91 to 28.10.92: Notional Balance $4900
<P>

123 days at 15% to 28.2.92		   247.68
<P>

185 days at 13% to 31.8.92		   322.86
<P>

	58 days at 11.25% to 28.10.92		       87.59
<P>

29.10.92 to 28.10.93: Notional Balance $9800
<P>

307 days at 11.25% to 31.8.93		    927.30
<P>

58 days at 10.5% to 28.10.93		    163.51
<P>

29.10.93 to 28.10.94: Notional Balance 14700
<P>

	1 year at 10.5%				  1,543.50
<P>

29.10.94 to 28.10.95: Notional Balance 19600
<P>

	123 days at 10.5% to 28.2.95		     693.51
<P>

	242 days at 12% to 28.10.95		  1,559.40
<P>

29.10.95 to 28.10.96: Notional Balance 24500
<P>

	1 year at 12%				  2,940.00
<P>

29.10.96 to 28.10.97: Notional Balance 29400
<P>

	123 days at 12% to 28.2.97		  1,188.89
<P>

	184 days at 10.5% to 31.8.97		  1,556.19
<P>

	58 days at 10% to 28.10.97		     467.18
<P>

29.10.97 to 28.10.98: Notional Balance 35061
<P>

	307 days at 10% to 31.8.98		   2,948.97
<P>

	58 days at 9.5% to 28.10.98		      529.28
<P>

29.10.98 to 29.4.99: Notional Balance 40882
<P>

183 days at 9.5%				   1,947.22
<P>

							__________
<P>

Total interest:					<u>$17,252.74</u>
<P>

9  	Claim 3(b) in the plaintiffs' Notice of Motion claimed reopened
consideration of loss relating additional income tax on the
amount awarded.
This claim was not pressed at the hearing of the Notice of Motion.
<P>

10  	Claims 1 and 2 claim extension of the time to appeal and of the
time to apply for leave to appeal against the orders which
I made on 29 April
1999.  The orders which I then made included (order 1) my certificate of the
findings on the Inquiry ordered on
29 October 1990.  It is possible that leave
to appeal may be necessary for an appeal against that order as it may be
interlocutory
in character.  I leave the question whether leave to appeal is
necessary undecided.  I have power to extend the time for an application
for
leave to appeal and the time to institute an appeal, because the plaintiffs'
Notice of Motion was filed on 27 May 1999, the last
day within which an
application for leave to appeal might have been made under Pt.51 r.4(1) or an
appeal might have been instituted
under Pt.51 r.6(1).  Power to grant the
extensions is conferred by subr.4(5) and subr.5(3).  It is appropriate to
extend time for
a further 28 days after the present decision because each party
brought forward matters on which reconsideration was required.
<P>

11  	The defendants' Notice of Motion of 25 May 1999 asked me to vary
or vacate the costs order of 29 April 1999.  As the costs
order was made as of
course and the application for reconsideration was made reasonably promptly and
before my order had been entered
I am prepared to reconsider costs.
<P>

12  	Claim (1) in the Notice of Motion is to the effect that the
plaintiffs should pay the defendants' costs of so much of the proceedings
as
relate to the determination of the appropriate amount of the proceeds of sale
of Lot 101, alternatively that each party should
pay his or her own costs of
that part.  Defendants' counsel asked me to consider the costs of determination
of the amount of the
proceeds of the sale of Lot 101 which was subject to the
trust for the estate of the late Mrs A.V. Brown.  By far the greater part
of
the hearing time in 1998 was given to the determination of that amount, and
relatively little hearing time, evidence and argument
dealt with other matters
for which the defendants were accountable, while the claim for the appointment
of trustees for sale was
little more than a formality. 
<P>

13  	In August 1996, about 18 months before the hearing before me
began in February 1998, the defendants' solicitor contended that
the deceased's
share of the proceeds of Lot 101 was <i>"$132,812.50 less part agent's
commission and part legal fees."</i>  In a reply of 8 October 1996 the
plaintiffs' solicitor contended for $194,791.65, also subject to a deduction of
part of agent's
commission and part of legal fees, but offered to agree to
$163,802.07.  After the inquiry had proceeded for three days before me
on 16,
17 and 18 February 1998, the defendants' solicitors offered $146,000 on 16
April 1998 by telephone, confirmed by letter of
23 April 1998.  In reply on 25
May 1998 the plaintiffs' solicitors offered to accept $197,000 .  On 10 July
1998 by letter the defendants'
solicitor offered to accept $157,000.  No
agreement emerged, the hearing continued on 3 and 4 August 1998 and the value
as found
by me on 29 April 1999 was $130,216.00. 
<P>

14  	None of these offers was put in evidence as they were privileged
offers made in the course of settlement negotiations.  I doubt
that they were
relevant on the issue.  They were not made in accordance with Rules of Court
relating to consideration of offers on
the question of costs, and were not made
under any arrangement between the parties which provided for them to be
considered on the
question of costs.  
<P>

15  	Defendants' counsel contended that the history of the offers
made  shows that the defendants made genuine and keen endeavours
to resolve the
major issue in dispute, and that if any of the defendants' positions had been
accepted by the plaintiffs the attention
given at the hearing to this issue
would have been unnecessary and the plaintiffs would have achieved a better
outcome than they
ultimately did.  It was contended that although the
provisions of the Rules of Court do not strictly apply, the principles of the
Rules should be applied by analogy.  The plaintiffs' counsel contended that the
defendants' supposed offers were not in unqualified
terms and that the
defendants never adopted an identifiable and open position establishing a sum
of money for which they contended
that they were liable to account.  
<P>

16  	In my opinion there are no useful analogies with the formal
offers for which Rules of Court provide.  The parties were in contention
in a
situation very different to damages litigation, particularly damages litigation
where liability is in issue.  The defendants
were trustees at all times and
were liable to account, and their liability was plainly established by judicial
decision in October
1990.  At no time before or during the Inquiry did they in
any way account or purport to account for any part of the proceeds of
Lot 101,
and they had no identifiable position on what part of the moneys which they had
received was payable to the plaintiffs as
executrices of the estate.  As I
commented in the judgment, they took a position which in substance was that
they defied the plaintiffs
to prove whatever they could.  It was not
appropriate for trustees to proceed in this way, even though they supplemented
it by off-the-record
offers of settlement which were not available to the
Court.  The appropriate course for trustees was to produce accounts which
adopted
an identifiable position which could be admitted or disputed and could
be the basis for any further debate which was appropriate.
 They did not ever
do this.  Their manner of proceeding contributed greatly to the complexity of
the Inquiry and to its length. 
In the circumstances I do not regard it as
appropriate for me to modify the ordinary result in costs which flows from the
plaintiffs'
success.  I am not prepared to vary the costs order.
<P>

17  	To give effect to these reasons I withdraw the calculations in
paragraph 66 of my judgment of 29 April 1999 and substitute
the following:
<P>

	Amount certified at Inquiry	$130,216.00
<P>

	Interest thereon			  132,166.59
<P>

	Charge in the nature of rent	    50,532.60
<P>

	Interest thereon			    17,252.74
<P>

						__________
<P>

						<u>$330,167.93</u>
<P>

18  	My Orders are:
<P>

(1)	Order 2 of the orders of 29 April 1999 is vacated and in lieu thereof I
order with effect as of 29 April 1999:
<P>

	Give judgment for the plaintiffs for $330,167.93.
<P>

(2)	Order pursuant to Pt.51 r.4(5) and r.5(3) that the time for an application
for leave to appeal and the time to institute an
appeal from the orders of 29
April 1999 as varied by Order (1) hereof be extended for 28 days from the date
of this Order.
<P>

(3)	Order that the costs of the Plaintiffs' Notice of Motion of 27 May 1999 and
of the Defendants' Notice of Motion of 25 May 1999
be plaintiffs' costs in the
proceedings.
<P>

**********
<P>

LAST UPDATED: 	21/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/604.html</i><br>
</p>
</small>
</body>
</html>
