<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Olsen v Nodcad [1999] NSWSC 364 (23 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 364</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+364 or 1999+NSWSC+364">Noteup</a>]
[<a href="364.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Olsen v Nodcad [1999] NSWSC 364 (23 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_364.html-->
<!--sino date 23 April 1999-->


<P>Last Updated: 27 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Olsen v Nodcad  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/364.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 364</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	4039/96
<P>

HEARING DATE{S): 	19 April 1999
<P>

JUDGMENT DATE: 	23/04/1999
<P>

 PARTIES: 
<P>

David Athol Olsen &amp; Anor (P)
<P>

v 
<P>

Nodcad Pty Limited &amp; Ors (D)
<P>

JUDGMENT OF: 	Austin J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

D R Pritchard (Applicant)
<P>

J K Chippendall (Respondent)
<P>

SOLICITORS: 
<P>

Kemp Strang (Applicant)
<P>

Michell Sillar (Respondent)
<P>

CATCHWORDS: 
<P>

Corporation - company - winding up - 'relation back day' - administrator
appointed after commencement of proceedings for winding
up, and subsequently
winding up order made by Court -'relation-back day' is date of appointment of
administrator, rather than earlier
date when proceedings for winding up were
commenced
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Separate question answered in favour of applicant
<P>

JUDGMENT: 
<P>

CASES CITED
<P>

<i>Energy &amp; Resource Conservation Co Ltd (In Liq) v Abigroup Contractors
Pty Ltd </i> <a href="/cgi-bin/LawCite?cit=%281997%29%2041%20NSWLR%20169" title="View LawCiteRecord" class="autolink_findcases">(1997) 41 NSWLR 169</a>
<P>

<i>Federal Commissioner of Taxation v Macquarie Health Corporation Ltd</i>
 <a href="/cgi-bin/LawCite?cit=%281999%29%2017%20ACLC%20171" title="View LawCiteRecord" class="autolink_findcases">(1999) 17 ACLC 171</a>
<P>

STATUTE CITED
<P>

Corporations Law, ss 9, 513A, 513C, 588FA, 588FETHE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

AUSTIN J
<P>

23 APRIL 1999
<P>

<b>4039/96 - DAVID ATHOL OLSEN &amp; ANOR  V  NODCAD PTY LTD</b>
<P>

<b>JUDGMENT</b>
<P>

1	These proceedings were commenced by summons filed on 15 November 1996 in
which the plaintiffs sought to establish that they were
beneficially entitled
to money held by the third defendant, MLC Investments Limited.  The case
subsequently proceeded by way of a
statement of claim, from which it appeared
that the plaintiffs claimed that they had paid money to the first defendant,
Nodcad Pty
Ltd (`Nodcad'), for Nodcad to issue them redeemable preference
shares, in reliance on a misleading prospectus and other misleading
representations.  According to the plaintiffs' allegations, the shares were not
issued and they subsequently withdrew their application
for shares, with the
result that they were entitled to reimbursement of the subscription money.  The
plaintiffs also made claims
based on breach of fiduciary duty, unconscionable
conduct, constructive trust and breach of various provisions of the Trade
Practices
Act and the Fair Trading Act.  The statement of claim also made
claims against the second defendant, Mr Basto, who was a director
of the first
defendant, essentially for knowing involvement in the Nodcad's wrongdoing.
Nodcad and Mr Basto filed a defence to the
statement of claim.
<P>

2	On 21 February 1997 the trustees of three superannuation funds, namely the
Richard William Fennell Superannuation Fund, the Mears
Industries
Superannuation Fund and the Cuthbert Superannuation Fund, filed a cross-claim
against Nodcad, Mr Basto and MLC Investments
Limited in the proceedings.  The
cross-claim made allegations broadly similar to the allegations in the
plaintiffs' amended statement
of claim, referring to several prospectuses
alleged to have been issued by Nodcad.  However, the cross-claim departed from
the statement
of claim by including in the prayers for relief a claim that
Nodcad be wound up by the court on the `just and equitable' ground
(Corporations
Law, s 461(k)).
<P>

3	According to the evidence before me, Andrew Hugh Jenner Wily was appointed
administrator of Nodcad by resolution of the company's
directors on 2 July
1997.  
<P>

4	The parties to the proceedings, other than Mr Basto, reached agreement as to
the orders which they regarded as appropriate in
the proceedings.  On 14 July
1997 Hodgson J made orders by the consent of those parties.  The orders
included orders for the winding
up of Nodcad and the appointment of Mr Wily and
his father as joint liquidators.  Subsequently Mr Wily Snr was removed as a
liquidator
upon his retirement.
<P>

5	In his short reasons for making the orders, Hodgson J commented on the
winding up order as follows:
<P>

	`The third matter is whether there should be an immediate winding up order.
It was suggested this morning by Mr Basto that the
company had claims against
other people which were such that all creditors of the company could be paid in
full.  However, it seems
clear that even if this was so, it in no way negatives
the plain existing insolvency of the company;  and in circumstances where
the
administrator seeks an immediate order for winding up, I think it is
appropriate to make that order as agreed by the parties.'
<P>

	I infer from these remarks that his Honour made the order under s 459B, which
applies where an application to wind up the company
is made under s 461 (as it
was here) and the court is satisfied that the company is insolvent.
<P>

6	The matter has come before me now, after the expiry of so much time, because
of some notices of motion filed in the proceedings.
 On 10 June 1998 an
application was filed by notice of motion to recover a payment of $69,850 from
Robert George Moore trading as
Robert Moore &amp; Associates, as an unfair
preference under ss 588FA and 588FE of the Corporations Law.  (I assume that
the correct
figure is $69,850 because that is the amount referred to in Mr
Moore's affidavit sworn on 7 October 1998, and Annexure K to that
affidavit,
but I note that the application states the amount as $69,855.)  
<P>

7	The notice of motion and certain subsequent related notices of motion were
headed `The Application of Andrew Hugh Jenner Wily
in his Capacity as Joint
Liquidator of Nodcad Pty Limited (In Liquidation)'.  However, the document also
stated that the notice of
motion was filed for the First Defendant, Nodcad, and
that the Applicant was Nodcad.  In my opinion the true applicant was and is
Mr
Wily in his capacity as liquidator, rather than Nodcad in liquidation.  This is
because under s 588FF(1) the court has the power
to make orders in respect of a
voidable transaction, including a transaction which is voidable because it is
an unfair preference
and an insolvent transaction, only on the application of
the company's liquidator.  Thus, if the applicant were Nodcad in liquidation
rather than Mr Wily as liquidator, the application would necessarily fail.
<P>

8	The evidence before me indicates that Mr Moore was engaged by Mr Basto in
March 1995 to undertake surveying and engineering work
for the subdivision of
land at Kellyville.  Although there was some uncertainty as to whether Mr Moore
had been engaged by Basto
Management Limited or by Nodcad, he eventually
rendered invoices to Nodcad.  He was handed a bank cheque for full payment of
the
amount claimed on 5 September 1996.  
<P>

9	By letter dated 8 February 1999 Mr Moore's solicitor wrote to Mr Wily's
solicitor raising a point of law with respect to the claim
that the payment to
Mr Moore was an unfair preference.  The point of law is that the claim cannot
succeed if the payment was made
more than six months before the relation-back
day (s 588FE(2)(b)), and Mr Moore's solicitors alleged that the relation-back
day is
the date of commencement of the administration of the company (namely 2
July 1997, more than six months after the payment) rather
than the date of
commencement of the winding up proceedings (21 February 1997, when the
cross-claim seeking winding up was filed).
 
<P>

10	Since the point of law raised by Mr Moore's solicitors would, if correct,
defeat the claim to recover the payment as an unfair
preference, a further
notice of motion was filed on 23 March 1999, this time by Mr Moore, seeking a
determination of the question
of law pursuant to Part 31 Rule 2 of the Supreme
Court Rules.  Master McLaughlin ordered that the following question be decided
as
a separate question under the Rule:  
<P>

	`Whether the payment made by Nodcad Pty Limited (In Liquidation) to Robert
George Moore on or about 6 September 1996 in the sum
of $69,855 [for reasons
already given, I believe the correct sum should be $69,850] was made during the
six months ending on the
relation-back day (as such term is defined in Section
9 of the Corporations Law).'
<P>

11	The separate question came before me for hearing on 19 April 1999 and is the
subject of the present reasons for judgment.  
<P>

12	Division 2 of Part 5.7B of the Corporations Law is headed `Voidable
transactions'.  Section 588FE(2) states:
<P>

	`The transaction [that is, a transaction entered into after the commencement
of Part 5.7B] is voidable if:
<P>

(a) 	it is an insolvent transaction of the company;  and
<P>

(b) 	it was entered into, or an act was done for the purpose of giving effect
to it:
<P>

(i) 	during the 6 months ending on the relation-back day...'
<P>

13	If a transaction is voidable because of s 588FE the court may make various
orders on the application of the company's liquidator
under s 588FF, except in
circumstances described in s 588FG.  `Insolvent transactions' include a
transaction which is an unfair prejudice
within s 588FA, if the circumstances
of insolvency described in s 588FC are present.  
<P>

14	Therefore, if as in the present case a transaction is attacked solely
because it is unfair preference which is an insolvent transaction,
the
transaction is not voidable and the court cannot make orders in respect of it
unless it was entered into, or an act was done
for the purpose of giving effect
to it, during the six months ending on the relation-back day.  For the purpose
of answering the
separate question in the present case, the relevant
transaction is the payment made to Mr Moore of $69,850 on or about 5 or 6
September
1996.  It has not been contended that anything was done for the
purpose of giving effect to that transaction at a later time.  The
application
of Part 5.7B Division 2 to that transaction depends, under s 588FE(2), on
whether the payment occurred during the six
months ending on the `relation-back
day'.
<P>

15	`Relation-back day' is defined, in relation to the winding up of a company,
in s 9.  It means:
<P>

	`(a) if, because of Division 1A of Part 5.6, the winding up is taken to have
begun on the day when an order that the company or
body be wound up was made -
the day on which the application for the order was filed;  or
<P>

(b) 	otherwise - the day on which the winding-up is taken because of Division
1A of Part 5.6 to have begun.'
<P>

16	Division 1A of Part 5.6 is headed `When winding up taken to begin'.  Section
513A states:
<P>

	`If the Court orders under section ... 459B ... that a company be wound up,
the winding up is taken to have begun or commenced:
...
<P>

(b) 	if immediately before the order was made, the company was under
administration - on the section 513C day in relation to the
administration;
...
<P>

	(e) otherwise - on the day when the order was made.'
<P>

17	In the present case paragraph 513A(b) applies because, immediately before
Hodgson J made the winding up order on 14 February
1997, Nodcad was under
administration, by virtue of the resolution of its directors appointing Mr Wily
as administrator which they
adopted on 2 July 1997.  Consequently paragraph
513A(e) does not apply to the present case.  That being so, the present case is
not
one to which paragraph (a) of the definition of `relation-back day' applies
- that is to say, this is not a case where, under s 513A,
the winding up is
taken to have begun on the day when the order that Nodcad be wound up was made.
Therefore paragraph (a) of that
definition does not cause the relation-back day
to be the day on which application for winding up of Nodcad was made, which on
the
present facts was 21 February 1997.  Rather, this is a case where paragraph
(b) of the definition applies, and the relation-back
day is therefore the day
on which the winding up it taken to have begun or commenced by virtue of s
513A(b), that is to say the `section
513C day' in relation to the
administration of Nodcad.  The `section 513C day' is defined in that section to
be, in the present circumstances,
the day on which the administration began,
namely 2 July 1997.
<P>

18	My conclusion, therefore, is that the payment of $69,850 to Mr Moore, being
made on or about 5 or 6 September 1996, was made
during the six months ending
on the relation-back day, because in the present case the relation-back day was
2 July 1997 rather than
21 February 1997.  I propose to answer the separate
question accordingly.  
<P>

19	In my opinion the application of the statutory provisions in the manner
described above is clear beyond argument.  Counsel for
the liquidator argued
courageously that in the present case it could not be said that the company was
under administration `immediately
before order was made' for the purposes of s
513A(b).  He referred to the <i>Federal Commissioner of Taxation v Macquarie
Health Corporation Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281999%29%2017%20ACLC%20171" title="View LawCiteRecord" class="autolink_findcases">(1999) 17 ACLC 171</a> and <i>Energy &amp; Resource
Conservation Co Ltd (In Liq) v Abigroup Contractors Pty Ltd </i> <a href="/cgi-bin/LawCite?cit=%281997%29%2041%20NSWLR%20169" title="View LawCiteRecord" class="autolink_findcases">(1997) 41 NSWLR
169</a>, though he conceded that both were cases which went against him.  
<P>

20	In the <i>Macquarie Health </i>case the application to wind up the company
was filed on 3 July 1996 and administrators were appointed on 20 November 1996.
On 28
February 1997 the court ordered that the administration of the company
end and that the company be wound up, but those orders were
stayed until 10
March 1997.  Thus, that was a case where, as here, the application to wind up
was filed first, then administrators
were appointed, and then a winding up
order was made.  That case may have been an even easier one than the present
because there,
it was arguable that the winding up order was made on 28
February 1997, but that the administration did not end until 10 March 1997,
when the order became effective;  and therefore it must have been the case that
for the purposes of s 513A(b), the company was under
administration immediately
before the winding up order was made (see, as to the ending of the
administration, ss 435C(3)(a) and (g)).
 However, Emmett J did not think it
necessary to rely on any such distinction in order to reach a conclusion as to
the application
of s 513A (see 17 ACLC at 191).  
<P>

21	The case was the converse of the present case in that there, the liquidator
was arguing that s 513A(b) applied and so the winding
up began on the date of
appointment of the administration (20 November 1996) rather than on the later
date when the winding up order
was made (28 February 1997).  The liquidator
wished to establish that the winding up commenced on the earlier date of 20
November
1996 rather than the later date of 28 February 1997 in order to invoke
s 468, which applies to dispositions made after the commencement
of the winding
up, even though success on that point would mean that the relation-back day was
the later date of 20 November 1996
rather than the earlier date of commencement
of the application to winding up, namely 3 July 1996.  In the present case the
liquidator
wishes to establish the earlier relation-back day (namely 21
February 1997 rather than 2 July 1997) in order to attack an alleged
unfair
preference, even though that would mean a later date of commencement of the
winding up (that is, 14 July 1997 rather than
2 July 1997) - presumably here
there was no disposition during the short period between 2 and 14 July 1997
which the liquidator might
have wished challenge and s 468.
<P>

22	Emmett J held that on the facts before him, s 513A(b) applied and
consequently the winding up commenced on the date on which
the administration
began, namely 20 November 1996.  He said that the contrasting uses of the words
`when' and `immediately before'
in paragraphs (a), (b), (c) and (d) of s 513A
suggested that a company may be under administration `immediately before' the
winding
up order is made even if there is a short interval of time between the
ending of the administration and the making of the winding
up order (at 191).
However, it was unnecessary for him to decide how long an interval would be
sufficient to preclude the operation
of s 513A(b) because in the case before
him the Court's orders for termination of the administration and the winding up
of the company
took effect at the same moment.  
<P>

23	In the present case there was an order for the winding up of the company and
no separate order was made for termination of the
administration.  That being
so, the administration of Nodcad ended by virtue of s 435C(3)(g), which says
that the administration
of a company may end because the Court orders that the
company be wound up.  The winding up order itself terminated the
administration,
and consequently it must have been true that immediately before
the winding up order was made, the company was still under administration.
 
<P>

24	As I have mentioned, counsel for the liquidator also referred to the
<i>Energy &amp; Resource Conservation</i> case.  In that case McLelland CJ in
Eq held that where creditors resolved under s 439C(c) to wind up a company
which was under administration,
the winding up was by force of ss 513B and 513C
taken to have begun or commenced on the day on which the administration began
(at
173).  Section 513B is the equivalent, for a voluntary winding up, of s
513A, which applies to a winding up by the court.  McLelland
CJ in Eq proceeded
to hold that although the winding up was taken to have commenced on that
earlier day, the appointment of the liquidator
was not retrospective to that
day.  
<P>

25	My conclusion, therefore, is that the separate question is answered as
follows:
<P>

	The payment made by Nodcad Pty Ltd (In Liq) to Robert George Moore on or about
5 or 6 September 1996 in the sum of $69,850 was
not made during the six months
ending on the relation-back day (as such term is defined in Section 9 of the
Corporations Law).
<P>

26	Since Mr Moore as applicant has been successful in his contentions as to the
correct answer of the separate question, and the
liquidator has been
unsuccessful, I am disposed to order that Mr Moore's costs as applicant on the
motion be paid by Mr Wily as liquidator
of Nodcad Pty Ltd (In Liq) as
respondent to the motion.  However, I shall hear any submissions which the
parties wish to make on
the question of costs.
<P>

* * * * * * * *
<P>

LAST UPDATED: 	23/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/364.html</i><br>
</p>
</small>
</body>
</html>
