<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Camilleri v Pudig [1999] NSWSC 118 (25 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 118</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+118 or 1999+NSWSC+118">Noteup</a>]
[<a href="118.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Camilleri v Pudig [1999] NSWSC 118 (25 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_118.html-->
<!--sino date 25 February 1999-->


<P>Last Updated: 26 March 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Camilleri v Pudig  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/118.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 118</a>
<P>

CURRENT JURISDICTION: 	
<P>

FILE NUMBER(S): 	12645/98
<P>

HEARING DATE{S): 	01/02/99
<P>

JUDGMENT DATE: 	25/02/1999
<P>

 PARTIES: 
<P>

Anthony Joseph David Camilleri (Plaintiff)
<P>

Grant Francis Pudig (Defendant)
<P>

JUDGMENT OF: 	Windeyer J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. M. Ashhurst (Plaintiff)
<P>

Ms N. Abadee (Defendant)
<P>

SOLICITORS: 
<P>

Vasso P. Tsolakis - Plaintiff
<P>

W.G. McNally &amp; Co - Defendant
<P>

CATCHWORDS: 
<P>

STATED CASE - Appeal from Magistrate's decision whether there was sufficient
evidence to support finding
<P>

ACTS CITED: 
<P>

Australian Broadcasting Tribunal v Bond <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1990/33.html" title="View Case" class="autolink_findcases_inserted">[1990] HCA 33</a>;  <a href="/cgi-bin/LawCite?cit=%281990%29%20170%20CLR%20321" title="View LawCiteRecord" class="autolink_findcases">(1990) 170 CLR 321</a>
<P>

DECISION: 
<P>

Summons dismissed with costs
<P>

JUDGMENT: 
<P>

1	This is an appeal by way of stated case from a decision of Mr. J.R. Dive,
Senior Civil Magistrate of 23 April 1998, giving judgment
for Mr. Pudig, the
respondent, against the appellant, Mr. Camilleri for $28,000.00 plus
interest.
<P>

2	In the Local Court action Mr. Pudig claimed damages in negligence against Mr.
Camilleri on the basis that a motor vehicle he had
purchased from Mr. Camilleri
was not what it was represented to be.  The facts are as set out in the stated
case.  Put briefly the
Alpina BMW motor vehicle was built under contract for
Mr. Camilleri by a Mr. Feichtinger; it was stolen from Feichtinger's workshop
by a Mr. Szakall, whom Mr. Camilleri had commissioned at an earlier time to
build a car for him, but this commission was not concluded;
the vehicle was
taken into police custody and impounded between 16 September 1992 and 18 March
1994 on which later date His Honour
Judge Herron in the District Court ordered
its release to Mr. Camilleri.  Mr. Pudig purchased the vehicle from Mr.
Camilleri in 1994,
during negotiations he inspected the vehicle's service book
which was handed to him by Mr. Camilleri on his inquiring about it. 
The book
contained a servicing record showing what on their face would be regular
services at appropriate intervals, all signed by
Mr. Feichtinger.  Two of these
entries showed services on 13 April 1993 and 2 November 1993, while the vehicle
was in police custody.
 The odometer reading showed increases in distances
travelled during that period.  On 22 February 1995, the vehicle engine "blew
up" while Mr. Pudig was driving the vehicle at the Eastern Creek Raceway.
<P>

3	The material in the stated case under the headings "Determination" and
"Grounds for Determination" is set out hereunder:
<P>

	DETERMINATION
<P>

	On 23 April 1998 I gave verdict and judgment in the sum of $28,000 plus
interest in favour of the plaintiff (Grant Francis Pudig)
on the action brought
by way of Further Amended Statement of Claim against the defendant (Anthony
Joseph David Camilleri).  The plaintiff
claimed damages in the sum $28,000
(together with interest) arising from a transaction in which the plaintiff had
purchased a motor
vehicle from the defendant and which was completed on 24
November 1994.
<P>

	The plaintiff alleged that the defendant had negligently misrepresented that
the motor vehicle had been serviced regularly at the
Padstow Prestige Car
Centre, including on two dates when it was in police custody.
<P>

	I found that the defendant had knowingly misrepresented to the plaintiff that
the subject vehicle had been serviced regularly at
the Padstow Prestige Car
Centre on two dates when the vehicle was in fact in police custody.
<P>

	GROUNDS OF DETERMINATION
<P>

	I found that the defendant was aware of the contents of the service booklet
including the two entries of 13 April 1993 and 2 November
1993 and on this
basis I found that the defendant had represented that the subject motor vehicle
had been serviced regularly by Padstow
Prestige Car Centre, that such
representation was untrue, and that the misrepresentation was made, at the very
least, negligently.
 I also found that the defendant knew that it was likely
that the plaintiff would rely on that representation and be thereby induced
to
purchase the subject vehicle
<P>

	I based this finding on the fact that it was clearly to the defendant's
benefit that these entries had been made because it covered
the period in which
the vehicle had been in police custody.  Without the false entries, the service
record would be a significant
problem for the defendant as a vendor.  I found
the defendant was a man very familiar with BMW motor vehicles and who realised
that
the service record was something a prospective purchaser would be likely
to look at.  I found it most unlikely that Mr. Feichtinger
would have falsified
records of this type out of the goodness of his heart.
<P>

	I accepted the plaintiff's claim that the damages he suffered as a result of
this misrepresentation was the difference between
the value of the vehicle at
the date it was purchased and the amount the plaintiff paid for the vehicle.  I
accepted that this figure
was $28,000.
<P>

4	It is common ground that the plaintiff did not allege fraud, his claim being
for damages for negligence.  There was no claim in
contract.  It is not
contended there was any error of law in the determination of the figure for
damages although its expression
may be somewhat elliptical.  
<P>

5	The appellant's contentions set out in the stated case are as follows:
<P>

	APPELLANT'S CONTENTIONS:
<P>

	The appellant contends that I erred in law on the grounds that:
<P>

1.	There was no evidence upon which I could reasonably base my finding that the
defendant had knowledge of the 13 April 1993 and
2 November 1993 entries in the
service log book which was exhibit 1.
<P>

2.	My findings that the defendant knew of the two entries of 13 April 1993 and
2 November 1993 were speculation.
<P>

3.	That my finding of negligence by the defendant was in effect a finding of
fraud.
<P>

4.	That in instances where serious allegations such as fraud, or conduct
amounting to fraud are made, I am not entitled to speculate
as to what the
facts were.
<P>

5.	That in the absence of evidence of knowledge of the two misleading service
book entries, the claim against the defendant must
fail.
<P>

6	There was no evidence that the plaintiff had relied on the two entries of 13
April 1993 and 2 November 1993 in exhibit 1 so as
to cause him to purchase the
vehicle.
<P>

7.	In the absence of evidence of reliance the plaintiff's claim for damages
should have failed.
<P>

8.	Any loss suffered by the plaintiff was not caused by any act of the
defendant.
<P>

9.	Any loss suffered by the plaintiff was not a loss which could have been
foreseeable as a result of the alleged misrepresentation.
<P>

6	These contentions arise from two more generally expressed contentions, namely
that there was no evidence upon which the learned
magistrate could find that
Camilleri had knowledge of the false entries without which the claim must fail;
and secondly there was
no evidence that the plaintiff relied upon the log book
entries.  It was accepted by counsel for the appellant that contention number
8
went to inducement only and no argument was addressed to contention 9.
<P>

7	The transcript taken in the proceedings before the magistrate was in evidence
before me, being relied upon on the question of
whether there was any evidence
to justify the findings of the magistrate.
<P>

8	One difficulty with the matter is that there appears to be some confusion in
the grounds for determination as to the distinction
between fraud and negligent
misrepresentation.  To establish fraud it was necessary for the magistrate to
find that the representation
as to regular servicing was made by Camilleri,
that he knew that it was untrue, that he intended Mr. Pudig to rely upon it and
that
Mr. Pudig did rely upon it in making his purchase.  To establish
negligence which appears to be what the learned magistrate did find,
it would
have been sufficient for the magistrate to have found as a fact that Camilleri
represented to Pudig that the record of service
entries was correct, in doing
so he breached a duty of care he owed to Pudig who relied upon these
representations in deciding to
purchase the vehicle.  Inducement may be readily
inferred in some cases of fraud but reliance is not readily inferred in actions
based in negligence.
<P>

	<b>Appellant's contentions</b>
<P>

9	It is convenient to deal first with contentions 3 and 4.  The magistrate did
not make a finding of fraud.  Knowledge in the circumstances
did not in itself
amount to fraudulent representation.  The magistrate found negligence.  
<P>

10	I turn to the questions of negligence and evidence.  In <b><cite>Australian
Broadcasting Tribunal v Bond</cite></b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1990/33.html" title="View Case" class="autolink_findcases_inserted">[1990] HCA 33</a>;  <a href="/cgi-bin/LawCite?cit=%281990%29%20170%20CLR%20321" title="View LawCiteRecord" class="autolink_findcases">(1990) 170 CLR 321</a> the Mason CJ said at
p355:
<P>

	The question whether there is any evidence of a particular fact is a question
of law:  <i>McPhee v S. Bennett Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281934%29%2052%20WN%20%28NSW%29%208" title="View LawCiteRecord" class="autolink_findcases">(1934) 52 WN (NSW) 8</a> at p9;
<i>Australian Gas Light Co. v Valuer General</i> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWStRp/1940/9.html" title="View Case" class="autolink_findcases_inserted">[1940] NSWStRp 9</a>;  <a href="/cgi-bin/LawCite?cit=%281940%29%2040%20SR%20%28NSW%29%20126" title="View LawCiteRecord" class="autolink_findcases">(1940) 40 SR (NSW) 126</a>, at
pp137-138.  Likewise, the question whether a particular inference can be drawn
from facts found or agreed is a question of law:
 <i>Australian Gas Light; Hope
v Bathurst City Council</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1980/16.html" title="View Case" class="autolink_findcases_inserted">[1980] HCA 16</a>;  <a href="/cgi-bin/LawCite?cit=%281980%29%20144%20CLR%201" title="View LawCiteRecord" class="autolink_findcases">(1980) 144 CLR 1</a>, at pp 8-9.  This is because,
before an inference is drawn, there is the preliminary question whether the
evidence reasonably admits
of different conclusion: <i>Federal Commissioner of
Taxation v Broken Hill South Ltd</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1941/33.html" title="View Case" class="autolink_findcases_inserted">[1941] HCA 33</a>;  <a href="/cgi-bin/LawCite?cit=%281941%29%2065%20CLR%20150" title="View LawCiteRecord" class="autolink_findcases">(1941) 65 CLR 150</a>, at pp 155, 157, 160.
<P>

	Mr. Ashhurst for the plaintiff/appellant placed some reliance on this last
sentence, which is perhaps not altogether clear.  However
it does not establish
that if facts from which a conclusion is drawn could admit of a different
conclusion, the conclusion or inference
drawn cannot be properly drawn.  The
question is whether the conclusion drawn is reasonably drawn from the facts
found.
<P>

11	I have concluded it was open to the magistrate to make the finding of
knowledge which he did from the facts he found.  There
was evidence the service
record was significant to a purchaser (Mr. Phillips transcript 18 December 1997
page 61-62); if that were
the case then it was a fact that it was to the
benefit of Mr. Camilleri that the service book entries be made.  There was
evidence
that Mr. Camilleri accepted that the record was of some relevance to a
purchaser.  The finding that Mr. Feichtinger was unlikely
to have falsified the
records "out of the goodness of his heart" was open in the absence of evidence
from him which Camilleri could
have been expected to call and was a fact from
which knowledge could be found.  It amounts to no more than a finding that
evidence
of Feichtinger would not have assisted the appellant's case that he
had no knowledge of the entries.
<P>

12	The appellant does not allege that the magistrate did not find reliance but
that there was no evidence of reliance.  Mr. Pudig
said that the evidence of
regular servicing was of great significance to him.  He said that he believed
the vehicle was as presented
to him after he went through the substantiating
paperwork.  It follows that there was evidence on which the learned magistrate
could
find reliance.  
<P>

13	Finally I turn to contention 5.  It is not correct that in the absence of
evidence of knowledge the claim must have failed. 
Negligent misrepresentation
does not depend upon knowledge that false representations are made.  It would
have been open to the magistrate
to find that in making available to the
purchaser the service record book containing the relevant entries, the vendor
represented
to the purchaser that the entries were correct; that in so acting
he was in breach of a duty of care owed to the purchaser who relied
upon the
representations in deciding to purchase the vehicle and thereby suffered damage
in making the purchase.  That is not a conclusion
the magistrate was bound to
come to, but it was one which was open to him.  That is an answer to contention
5, but it would have
been relevant only had it been necessary to decide whether
to remit the matter to the magistrate..  
<P>

14	The summon should be dismissed with costs.
<P>

I certify that paragraphs 1 to 14 are a true copy of the Reasons for Judgment
given by Windeyer J in matter 12645/98 Camilleri v
Pudig
<P>

______________________________
<P>

Laurel Laurent
<P>

Associate to Mr. Justice Windeyer
<P>

25 February 1999
<P>

LAST UPDATED: 	23/03/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/118.html</i><br>
</p>
</small>
</body>
</html>
