<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Thomas v Glaxo Australia [1999] NSWSC 282 (1 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 282</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+282 or 1999+NSWSC+282">Noteup</a>]
[<a href="282.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Thomas v Glaxo Australia [1999] NSWSC 282 (1 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_282.html-->
<!--sino date 1 April 1999-->


<P>Last Updated: 7 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Thomas v Glaxo Australia  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/282.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 282</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	20570 of 1995
<P>

HEARING DATE{S): 	10 March 1999
<P>

JUDGMENT DATE: 	01/04/1999
<P>

 PARTIES: 
<P>

Patricia Mary Thomas (Plaintiff)
<P>

Glaxo Australia Limited (First Defendant)
<P>

Dr. Edmund Graham (Second Defendant)
<P>

Dr. Peter J. Geddes (Third Defendant)
<P>

JUDGMENT OF: 	Windeyer J      
<P>

LOWER COURT JURISDICTION: 	Supreme Court (Master)
<P>

LOWER COURT FILE NUMBER(S): 	20570/95
<P>

LOWER COURT JUDICIAL OFFICER: 	Harrison M
<P>

COUNSEL: 
<P>

Mr. K.W. Andrews (Plaintiff)
<P>

Mr. R.B.C. MacFarlan QC with him Mr. G.A. Seib (First Defendant)
<P>

Mr.S.A. Woods (Second and Third Defendants)
<P>

SOLICITORS: 
<P>

Gordon &amp; Johnstone (Plaintiff)
<P>

Dunhill Madden Butler (First Defendant)
<P>

Blake Dawson Waldron (Second and Third Defendants0
<P>

CATCHWORDS: 
<P>

LIMITATION OF ACTIONS - product liability and medical negligence - appeal from
Master's decision refusing extension of time under
s60G of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act 1969</a>
- exercise of discretion as to extension of the limitation period
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act 1969</a> <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G</a>
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

- 17 -
<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>WINDEYER J</b>
<P>

<b>THURSDAY 1 APRIL 1999</b>
<P>

<b><u>20570/95 PATRICIA MARY THOMAS v GLAXO AUST LTD &amp; ORS</u></b>
<P>

<b>JUDGMENT</b>
<P>

<b>Outline of case</b>
<P>

1	This is an appeal from a decision of Master Harrison, dated 1 September 1998
refusing extension of time to commence proceedings
for product liability and
medical negligence.  The plaintiff seeks to bring an action for personal
injuries she claims she sustained
as a result of a contrast substance Myodil
being injected into her cervical spine during a myelogram performed in May
1978.
<P>

2	The plaintiff seeks an extension of time to bring an action against Glaxo
Australia Ltd, (Glaxo) the manufacturer and distributor
of the product Myodil,
against Dr. E. Graham, an orthopaedic surgeon, who referred the plaintiff for a
myelogram; and against Dr.
P. Geddes, a specialist radiologist, who performed
the myelogram.
<P>

<b>Facts</b>
<P>

3	The myelogram was carried out on 4 May 1978.  This action commenced on 22
June, 1995, on which date the notice of motion seeking
an extension of time was
filed.  Without being apprised of the reasons and without laying the blame at
any particular door it is
appalling that it took over three years to determine
whether an extension of time should be granted.
<P>

4	A claim for extension of time was made under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s58.html" class="autolink_findacts">s58(2)</a> and s<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">60G</a> of the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act 1969</a> (the Act).  The learned Master held that the claim under
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s58.html" class="autolink_findacts">s58(2)</a> failed because the plaintiff had acquired the relevant knowledge prior
to one year before 22 June 1995 thus precluding a claim under
that section.
There is no appeal from that part of the decision.
<P>

5	The Master then went on to consider the claim under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G</a> which required a
consideration of the matters set out in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60i.html" class="autolink_findacts">s60I.</a>  I should acknowledge here the
very careful and considered judgment of the Master in dealing both with the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s58.html" class="autolink_findacts">s58(2)</a> and s<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">60G</a> bases for extension.  I do not intend to repeat here all that
she said, or all the facts accepted by her for the purpose of the application.
Suffice it to say that the Master found, (for the purposes of the application
and creating no estoppel otherwise) that the plaintiff
became aware, on reading
an article in the Sydney Morning Herald on 14 June 1994, that her considerable
physical problems could be
associated with the use of Myodil in the myelogram;
and that there was evidence from the plaintiff that she had not been warned by
either doctor of what was involved in the procedure or its possible
consequence, and that had she been warned of the possible effects
she would not
have undergone the cervical myelogram.
<P>

6	There is evidence that a myelogram performed with Myodil may cause
arachnoiditis; there is evidence to suggest that the plaintiff
has lumbar
arachnoiditis which may be attributable to the myelogram and that this may have
been the cause of some of the problems
experienced by the plaintiff.
<P>

7	The case against the first defendant is that it was the manufacturer and
distributor of Myodil and that it was negligent on a
number of grounds which
the Master summarised, quite appropriately, as:
<P>

1.	That it failed to warn of risk of injury which could arise through injection
of Myodil;
<P>

2.	That it failed to withdraw Myodil from the market.
<P>

8	The first defendant did include a warning on its packaging in 1978.  The
learned Master found that in the light of the state of
knowledge in 1978, it
had not been shown that the warning was inadequate or that it would be shown to
be inadequate.  There was no
possible case made of negligence for failure to
withdraw the product from the market.  On the evidence available any spinal
surgery
without prior myectomy was undesirable and the alternative contrast
agents available were not considered satisfactory in any of the
United Kingdom,
New Zealand or Australia.  The Master so found.  There is no ground of appeal
specified in the notice of appeal from
this part of the judgment.  It follows,
and the Master so held, that the plaintiff had established no real case against
the first
defendant and that no extension of time should be granted to bring
the action against that defendant unless the principles set out
in
<b><cite>Briggs v James Hardie &amp; Co Pty. Limited</cite></b>  <a href="/cgi-bin/LawCite?cit=%281989%29%2016%20NSWLR%20549" title="View LawCiteRecord" class="autolink_findcases">(1989) 16 NSWLR
549</a> at 564-5 could be brought to the assistance of the plaintiff.  The relevant
passage quoted by the learned Master set out in her judgment
is that from the
judgment of Hope JA at page 554, which is as follows:
<P>

As I would understand this principle, it does not mean that in no circumstances
can one of a number of defendants be dismissed from
an action.  Indeed such a
course is often adopted.  But where a plaintiff brings an action against two
defendants alleging that one
or both are liable, and there is some evidence to
connect each defendant with the events the subjects of the action, then
provided
the plaintiff establishes a prima facie case against one of the
defendants, the other defendant will not be dismissed from the action
until the
whole of the evidence has been heard.  As it seems to me this means that a
plaintiff is entitled to bring an action against
two defendants if he has
evidence to establish a prima facie case against one of the defendants, and
also has evidence pointing to
the possibility of the other defendant being
liable.
<P>

9	The Master emphasised the words "and also has evidence pointing to the
possibility of the other defendant being liable", or perhaps
she understood the
words were given emphasis by Beazley JA in <b><cite>Dow Corning Australia Pty.
Ltd v Paton</cite></b> (1998) Australian Torts Reports 81.485, and in my
opinion close attention ought to be paid to them on an application such as the
one here in question.  Where an action is brought within time and a plaintiff
sues multiple defendants it can be perceived to be
fair for the plaintiff to be
entitled to have all the evidence in which may be adduced by the plaintiff or
by any defendant, before
an application by one of those defendants for a
verdict by direction is allowed to be made.  The reasons for this were
explained
in <b><cite>Menzies v Australian Iron &amp; Steel Limited</cite>
</b> <a href="/cgi-bin/LawCite?cit=%281952%29%2052%20SR%28NSW%29%2062" title="View LawCiteRecord" class="autolink_findcases">(1952) 52 SR(NSW) 62.</a>  But in an extension of time matter where the court
has to consider whether it is just and reasonable to extend a limitation period
to allow an action otherwise barred to proceed, it is certainly just and
reasonable to see whether there is any evidence pointing
to the possibility
that one defendant - here Glaxo - could be found liable, and before all the
evidence is in.  In the long run the
Master did not have to determine that
matter because she found that there was no evidence available or which might be
available to
establish the plaintiff's claim against the second defendant or
the third defendant.  Assuming that she was incorrect in that finding
it is my
view that there was no evidence pointing to the possibility of the first
defendant being liable.  There was nothing to show
any evidence could be
adduced to support the claim that Myodil should have been withdrawn, because as
I have said there was evidence
that myectomy was a desirable and really
necessary procedure, and that a substance such as Myodil was the appropriate
substance to
use as a contrast agent as other substances were less suitable and
one was needed.  The Master also found that it has not been established
by any
evidence, or that it might be established by evidence in the future that the
warning was insufficient.  In such circumstances,
even leaving aside the
decision of the Court of Appeal in <b><cite>Dow Corning</cite></b> by which, of
course, I am bound, I would dismiss the appeal so far as it concerned the first
defendant.  I say "even leaving aside"
because in <b><cite>Dow
Corning</cite></b>  Beazley JA said at 65,246 that the principle set out in the
quoted passage from <b><cite>Briggs</cite></b> did not operate in relation to
claims against successive as opposed to joint tortfeasors.  Senior Counsel for
the first respondent
raised this matter saying that the defendants in this case
were not joint tortfeasors so that the <b><cite>Briggs</cite></b> principle did
not apply.  I did not think he had much enthusiasm for this submission and I
can well understand why.  I think it certain
Beazley JA intended to include
"concurrent tortfeasors" when she used the words "joint tortfeasors".  If she
did not then the cases
such as <b><cite>Menzies</cite></b> could not have been
relied upon to support the statement which I have set out from the judgment in
<b><cite>Briggs</cite><i>.</i></b>  I conclude that there is no evidence, nor
any evidence to show any evidence might be available, to suggest that might be
liable.
 In those circumstances, while bearing in mind the possibly differing
requirements in applications under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G</a> as opposed to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s58.html" class="autolink_findacts">s58(2)</a>, the appeal should
be dismissed so far as that defendant is concerned.  It would not be just and
reasonable to allow that claim to
proceed.  There was no appeal against the
Master's findings on the cause of action against the first defendant.  It was
therefore
accepted that unless the claim should be allowed to remain on foot on
the <b><cite>Briggs</cite></b> principle the appeal so far as it affected Glaxo
should be dismissed.
<P>

10	I turn now to Dr. Graham and Dr. Geddes.  It is not desirable to attempt to
restate in different words the various formulations
used in various decisions
about what the plaintiff needs to establish as a prerequisite to obtaining an
extension.  "Prima facie
case" (<b><cite>Briggs</cite></b><i>)</i> "real case
to advance" (Mason P in <b><cite>Dow Corning</cite></b>); "evidence to
establish the cause of action exists or will be available at the trial"
(<b><cite>Martin v Abbott Australia Pty. Limited</cite></b>  <a href="/cgi-bin/LawCite?cit=%5b1981%5d%202%20NSWLR%20430" title="View LawCiteRecord" class="autolink_findcases">[1981] 2 NSWLR 430)</a>
may be ways of expressing much the same requirement in different words.  Some
care needs to be taken when considering these decisions
and statements.  That
is because under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s58.html" class="autolink_findacts">s58(2)(b)</a> there is a requirement to show "evidence to
establish the cause of action".  That requirement does not exist for
applications under
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60c.html" class="autolink_findacts">s60C</a> and <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">60G</a> of the Act.  However, as the Master pointed
out, it would be unlikely to be reasonable to grant an extension if no basis
for the
claim were shown, apart from an unverified pleading.  In any event
<b><cite>Williams v The Minister, Aboriginal Land Rights</cite></b>  <a href="/cgi-bin/LawCite?cit=%281994%29%2035%20NSWLR%20497" title="View LawCiteRecord" class="autolink_findcases">(1994) 35
NSWLR 497</a> appears to hold the requirements do not differ in substance   The
Master clearly understood the different wording as can be seen
from page 18 of
her judgment.
<P>

11	So far as Drs. Graham and Geddes are concerned the learned Master said at pp
30-32:
<P>

Like the first defendant, the second and third defendants submit that there is
no evidence of a cause of action. In this regard
they submit that there is no
evidence that the defendants breached their duty of care nor is there evidence
of causation or damage.
<P>

In relation to breach of duty of care, the second and third defendants submit
that the plaintiff has not shown by the availability
of any evidence that it
was inappropriate for Dr Graham to refer her for the myelogram, nor that the
myelogram was performed negligently
by Dr Geddes. I agree with the second
defendant that there is no evidence to show that it was inappropriate for Dr
Graham to refer
the plaintiff for the myelogram. There was no other diagnostic
tool available and a myelogram was preferable to spinal surgery without
investigation. Although Dr Blum raises the issue that it was possible that Dr
Geddes caused some damage to the nerve root that caused
the plaintiff's pain,
he says that it would be unusual for that damage to be helped by an operative
procedure. He concluded that
the plaintiff's operations and treatment were not
the result of the myelogram itself.
<P>

In respect of the allegations concerning failure to warn/advise, the second and
third defendants submit that there is no evidence
that Dr Graham and Dr Geddes
should have advised the plaintiff of alternative procedures. The first and
second defendants submit
that at best it can be said that the link between
myelography and arachnoiditis was purely speculative and a medical practitioner
is not in breach of his duty of care if he or she does not warn of speculative
risks - see Bonello v Lotzof (Grove J, unreported,
27 September 1997) and
Perrin v Cahill (Rolfe J, unreported, 6 July 1995). In 1978 the myelogram was
the only procedure available
to ascertain if cervical surgery was necessary.
The plaintiff has not produced any evidence to show that in 1978 doctors should
have
warned the plaintiff of the risks of developing arachnoiditis when
undergoing a single myelogram. Even one of the plaintiff's medical
experts, Dr
Blum says that at the time the plaintiff underwent the myelogram no-one knew
about the effect of myodil in regard to
arachnoiditis.
<P>

The second and third defendants submit that the plaintiff suffered from most if
not all her symptoms before the myelogram was performed
on 4 May 1978. There is
evidence from Dr Browne (based on a history provided by the plaintiff) that the
plaintiff did not experience
right leg pain prior to the cervical myelogram.
This submission fails.
<P>

It is my view that the plaintiff has not established any of the particulars of
negligence pleaded against the second and third defendants
in the statement of
claim. She has not demonstrated that she has a cause of action against either
the second or third defendants.
She has not established that the myelogram was
performed negligently nor that she should have been warned of the risks of
developing
arachnoiditis when undergoing a single myelogram nor that there was
an alternative procedure available. It was not pleaded that the
third defendant
should have aspirated the myodil after the myelogram had been performed. The
plaintiff has not established that there
is evidence to establish a cause of
action against any of the defendants and her application for an extension of
time to commence
proceedings should be dismissed.
<P>

12	With much of this passage there could be no disagreement, particularly so
far as Dr. Graham is concerned.  There are, however,
two matters where I
consider the Master has made findings not supported by the material available
to her.  The first concerns the
failure to warn.  The Master did not find that
suggestion of a link between myelography and arachnoiditis was purely
speculative.
 What she did was to note this as a submission of the medical
defendants.  She then went on to say that the plaintiff had not adduced
any
evidence of breach of duty in failure to warn.  That is I think, incorrect.
There was evidence from which it was reasonable to
expect that a case could be
made out that there was a material risk of arachnoiditis following myelogram.
The Master referred to
an article published in the Medical Journal of Australia
in 1976 on page 22 of her judgment.  She said:
<P>

The study showed that complications of myelography can still happen if
recognised precautions (such as removal of the dye) are not
observed. The
article continued that it is a general principle in medicine that a certain
incidence of complications must be accepted
in a procedure provided that
incidence is low in relation to the seriousness of the condition, and that the
procedure is essential.
Because of complications with myodil, water soluble
contrast media have been used. These agents, however, produced their own
undesired
effects and are at present rarely used. In 1976 the authors stated
that, despite the considerable morbidity associated with its use,
iodophenylundecylate was the best agent available for contrast studies at all
levels of the subarachnoid space. It was important
for the clinician to
appreciate the dangers in its use and to use it only when the investigation was
essential. 
<P>

13	It would, I consider, be possible for a fact finder to come to a conclusion
that there was a duty to inform a patient of the
risk referred to in this
passage.  This would, I think, require a far better pleading that the present
statement of claim, but that
can be cured.
<P>

14	Second, the Master said that it was not pleaded that Dr. Geddes should have
aspirated the Myodil after the myelogram had been
performed.  The particulars
of negligence, which are stated in the most general terms, as against both the
doctors, which could hardly
be equally appropriate to the claim against each
doctor, include a claim that the myelogram was not carried out in the correct
manner
or in a proper manner.  I think it clear that evidence of failure to
aspirate the Myodil could be adduced as been covered by these
particulars.
<P>

15	It follows from this that I consider the Master's decision was incorrect in
finding that evidence was not available to establish
a cause of action based on
the particulars of negligence pleaded against the doctors.  Whether this is
called a prima facie case
or a real case to advance or is categorised on the
basis that there is evidence to establish that the cause of action exists, does
not matter.  Both matters were significant in the reasoning process.
<P>

16	It thus becomes necessary to consider the other matters to be taken into
account in the exercise of discretion as to whether
or not an extension of the
limitation period should be allowed.  The Master considered this on the
assumption that she was incorrect
in her conclusion reached in the passage
which I have quoted at length.  It is however important to realise, as I have
said earlier,
that the question whether or not it is just and reasonable to
grant an extension operates over the whole of the consideration of
the
application; that is because it would be extraordinary if it were just and
reasonable to grant an extension if there were no
evidence that a case might be
able to be made out.
<P>

17	The Master gave careful consideration to the decision of the High Court in
<b><cite>Brisbane South Regional Health Authority v Taylor </cite></b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1996/25.html" title="View Case" class="autolink_findcases_inserted">[1996] HCA 25</a>;  <a href="/cgi-bin/LawCite?cit=%281996%29%20186%20CLR%20541" title="View LawCiteRecord" class="autolink_findcases">(1996)
186 CLR 541</a> as to the onus borne by the applicant for the extension to satisfy
the court that the discretion should be exercised in her favour;
particularly
to the judgment of McHugh J as to presumptive and actual prejudice; that of
Dawson J where he said at page 2:
<P>

The applicant must establish that the commencement of an action beyond the
limitation period would not result in significant prejudice
to the prospective
defendant.
<P>

and
<P>

The onus of satisfying the court that the discretion should be exercised in
favour of an applicant lies on the applicant.
<P>

18	and to the passage in the joint judgment of Toohey and Gummow JJ at p580:
<P>

The real question is whether the delay has made the chances of a fair trial
unlikely.
<P>

19	The learned Master then said at page 36:
<P>

It is not known whether the second and third defendants have their records or
have specific recollections of the advice they gave
to the plaintiff. It is
also not known whether the first defendant has still retained its records,
although, at least one, such as
the warning given, remains. In relation to the
second and third defendants, of crucial importance is whether Dr Geddes and Dr
Graham
gave a warning to the plaintiff and if they did, in what terms. It may
be that they did give a warning and this is noted on their
records.
Alternatively their records (including hospital records if available) may be
silent on this topic or they may recollect
not giving a warning. If there are
no records which refer to any warning given, the doctors will be reliant upon
their memories.
If they cannot remember the plaintiff, they will have to rely
on their memories as to what was their normal practice in 1978 in relation
to
warnings given in relation to myelograms. However there is no evidence of the
availability of records of the defendants or of
the state of the second and
third defendants recollections concerning the treatment by them of the
plaintiff. In these circumstances
I accept that the second and third defendants
would be seriously disadvantaged if a case based on events which occurred 20
years
ago is now permitted to be brought. It is my view that the defendant
would suffer significant prejudice and their chances of a fair
trial are
unlikely.
<P>

20	When discussing this matter in considering the exercise of discretion it is,
I think, proper to say that I am aware of a decision
of the Master in a
separate judgment as to the exclusion of certain evidence sought to be tendered
on behalf of the two doctors.
 While nothing turned on this in the appeal, and
I was told nothing about it, the separate judgment was included in the bundle
of
documents handed up by counsel for the applicants at the commencement of the
hearing which I have marked Exhibit X for reference.
 When hearing the appeal I
did not see this as I was working from the official copy of the judgment on the
file, but on reading the
material in Exhibit X while considering my judgment, I
read this particular decision on evidence.  I considered that I should say
this, although I cannot see it bears on the matter.  The evidence sought to be
read was excluded, there was no appeal and as far
as I know there was no
application for adjournment.  Like the Master I must put this out of my mind,
although I accept there is a
certain artificiality in so doing in this case in
view of my subsequent findings.
<P>

21	The Master said that as there was no evidence of availability of records or
the state of recollection of the doctors concerning
the treatment given by them
to the plaintiff then they must be seriously disadvantaged if the trial
proceeded and it was unlikely
that a fair trial could be held.  As I understand
her judgment the Master on considering this would have come to the conclusion
in
the absence of anything else that it was not just and reasonable to grant
the extension.  On this matter I consider that the discretion
miscarried.  That
is because no one other than the doctors could have given evidence of their
recollection or non-recollection of
treatment of the plaintiff, including their
recollection of whether or not any warning was given.  The plaintiff could not
be required
to call the doctors to establish the state of their recollection.
The onus on an application for extension could not go so far. 
Second, I
consider that the same applies to records.  The doctors would know whether
their records remained available; the plaintiff
would not.  This matter was the
subject of some consideration in <b><cite>Sydney City Council v
Zegarac</cite></b>  <a href="/cgi-bin/LawCite?cit=%281998%29%2043%20NSWLR%20195" title="View LawCiteRecord" class="autolink_findcases">(1998) 43 NSWLR 195.</a>  This was a matter concerning an
application for extension of time under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60e.html" class="autolink_findacts">s60E</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act</a>, but what
was said would be equally relevant to an application <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G.</a>  At page 197 Mason P
said:
<P>

Like the other factors listed in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60e.html" class="autolink_findacts">s60E(1)</a>, para(b) applies "to the extent that
[it is] relevant to the circumstances of the case". Persuasive dicta in
Brisbane South indicate
that it is for the party opposing the application to
adduce evidence of facts suggesting particular prejudice if the discretion were
exercised in the applicant's favour: see (at 547), per Toohey J and Gummow J
citing Cowie v State Electricity Commission (Vic) <a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1964/103.html" title="View Case" class="autolink_findcases_inserted">[1964] VicRp 103</a>;  <a href="/cgi-bin/LawCite?cit=%5b1964%5d%20VR%20788" title="View LawCiteRecord" class="autolink_findcases">[1964] VR 788</a> at 793 and
Campbell v United Pacific Transport Pty Ltd  <a href="/cgi-bin/LawCite?cit=%5b1966%5d%20Qd%20R%20465" title="View LawCiteRecord" class="autolink_findcases">[1966] Qd R 465</a> at 474; see also
Kirby J (at 566- 567). Failure to adduce such evidence may draw the
unfavourable inference that specific prejudice
is absent, due to the fact that
it is very much in that party's camp to know of the existence, impact and
"extent" of such prejudice.
<P>

	and at p240 Powell JA said:
<P>

although a prospective defendant may be subject to an evidentiary onus to raise
any consideration telling against the exercise of
the discretion to extend the
limitation period, the ultimate onus of satisfying the court that, in all the
circumstances of the case,
it is just and reasonable that an order may be made
lies on the applicant.
<P>

22	I will not repeat the passage referred to from <b><cite>Brisbane
South</cite></b> but the views expressed are quite clear.  I do not consider
that it could be correct to think that the applicant for extension, in
a case
such as this, must subpoena the doctors to produce their records, and upon no
documents being produced, seek to examine them
as to their answer to the
subpoena.  During the hearing I expressed the view that if the doctors did not
give evidence that the records
did not exist one could infer that they did.
Thus one could infer that no actual prejudice arose from this, although I
accept, in
accordance with the strong judgment of McHugh J in <b><cite>Brisbane
South</cite></b>, that prejudice could be assumed by reason of the delay for
the reasons set out in the passage quoted by Mason P in <b><cite>Sydney City
Council v Zegarac</cite></b> immediately below the passage which I have already
quoted from his judgment.  Cases of failure to warn are probably more likely to
give rise to presumed prejudice than are cases involving allegations of
negligent treatment.
<P>

23	In coming to the conclusion she did on this aspect, I consider that the
Master made an incorrect statement which must have been
based upon the opinion
that the plaintiff bore the onus in respect of the medical records as opposed
to the ultimate onus to show
it was proper to grant the extension.
<P>

24	There was a further ground of prejudice put forward by the doctors and
considered by the Master.  That prejudice was claimed
to arise "because the
legal test by which they are to be judged is entirely different from the legal
test that applied at the time
the limitation period expired."  Shortly, what is
alleged is that in 1978 the test which can be referred to as the Bolam test set
out in <b><cite>Bolam v Friern Hospital Management Committee </cite></b> <a href="/cgi-bin/LawCite?cit=%5b1957%5d%201%20WLR%20582" title="View LawCiteRecord" class="autolink_findcases">[1957]
1 WLR 582</a> applied when determining whether or not a doctor was negligent
whereas at the present time the test is that laid down by the High
Court of
Australia in <b><cite>Rogers v Whittaker</cite></b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1992/58.html" title="View Case" class="autolink_findcases_inserted">[1992] HCA 58</a>;  <a href="/cgi-bin/LawCite?cit=%281992%29%20175%20CLR%20479" title="View LawCiteRecord" class="autolink_findcases">(1992) 175 CLR 479.</a>  On
this aspect of the case the Master's deliberations are found at pages 38 and 39
of the judgment as follows:
<P>

According to Rogers v Whittaker the test is now that the law should recognise
that a doctor has a duty to warn a patient of a material
risk inherent in the
proposed treatment; a risk is material if, in the circumstances of the
particular case, a reasonable person
in the patient's position, if warned of
the risk, would be likely to attach significance to it or if the medical
practitioner is
or should reasonably be aware that the particular patient, if
warned of the risk, would be likely to attach significance to it (this
duty is
subject to the therapeutic privilege). The court, not the medical profession
determines whether there has been a breach of
duty of care.
<P>

In between Bolam and Rogers v Whittaker were a series of cases which gradually
changed the law. In 1988 there was a decision of
Justice Cole, Ellis v Wallsend
District Hospital (unreported, SC, 16 September 1988) where his Honour
indicated that the test was
a subjective one and there were South Australian
cases going back to 1985 which raised the issue of the applicability of the
Bolam
test. In Rogers v Whittaker the High Court said:
<P>

Whether a medical practitioner carries out a particular form of treatment in
accordance with the appropriate standard of care is
a question in the
resolution of which responsible professional opinion will have an influential,
often a decisive, role to play;
whether the patient has been given all the
relevant information to choose between undergoing and not undergoing the
treatment is
a question of a different order. Generally speaking, it is not a
question the answer to which depends upon medical standards or practices.
<P>

Rather, the skill is in communicating the relevant information to the patient
in terms which are reasonably adequate for that purpose
having regard to the
patient's apprehended capacity to understand that information.
<P>

In relation to warnings associated with risks involved in a proposed medical
procedure, there has been a shift in the law from a
doctor not being negligent
if he acts in accordance with the practice accepted by a responsible body of
medical opinion to one where
professional medical opinion is taken into account
when the court makes the decision as to whether the doctor is obliged to ensure
that the relevant material risk in a proposed treatment has been communicated
to the patient. Currently there is evidence that in
1978 doctors did not warn
of the risks of the possibility of suffering severe arachnoiditis when a
patient was undergoing a single
myelogram, as that event was considered
extremely rare. The change in the law may but does not necessarily mean that
the second and
third defendants have a higher risks of being found negligent as
the court will form its own view as to whether a warning should
have been given
and if so, what the appropriate warning should have been.
<P>

25	It is not quite clear what conclusion the Master arrived at on this matter,
but it does seem to be clear that she accepted there
was a change in the law
which could give rise to prejudice.  There are difficulties with this whatever
jurisprudential view one has
on the role of judges in lawmaking.  The duty
recognised by the High Court in <b><cite>Rogers v Whittaker</cite></b>, is set
out at p490 as follows:
<P>

The law should recognise that a doctor has a duty to warn a patient of a
material risk inherent in the proposed treatment; a risk
is material if, in the
circumstances of the particular case, a reasonable person in the patient's
position, if warned of the risk,
would be likely to attach significance to it,
or if the medical practitioner is or should reasonably be aware that the
particular
patient, if warned of the risk, would be likely to attach
significance to it.
<P>

This statement followed a careful consideration of previous case law; it could
not be claimed that it changed the law.  It is clear
enough as shown in Rogers
that the <b><cite>Bolam</cite></b> principle had not been accepted as
representing the law in Australia, where lack of appropriate advice was
alleged.  There is no
reason to think that had the action been commenced within
the ordinary limitation period the applicable law would have been thought
to
have differed from the law as now stated by the High Court.  Thus insofar as
the Master considered there was prejudice arising
from a change in the law, I
consider she erred in law.
<P>

26	It follows from what I have said that the grounds of appeal 1, 2, 3 and 4
have been made out.  Unfortunate as it is, having come
to this conclusion that
the discretion of the Master miscarried, it is necessary for me to exercise the
discretion afresh and to
determine whether it is just and reasonable to extend
the limitation period. I have come to the conclusion that it should be.  There
is evidence to show that the plaintiff has a real case to make out; there is no
evidence to show the doctors will be prejudiced in
any specific way if an
extension of time is granted.  In other words, apart from the obvious fact that
memories will have dimmed,
there is nothing to suggest that some evidence the
doctors would have been able to adduce at an earlier time cannot be adduced
now.
 As I have explained it is not the obligation of the plaintiff to negative
any unidentified possible ground of prejudice.  I consider
an extension of time
should be granted, but upon terms.
<P>

27	In considering this question it is essential to understand that the Master
found that the plaintiff satisfied the requirements
of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60i.html" class="autolink_findacts">s60I(1)(a)(iii)</a> of the
Act, but had not otherwise made out any entitlement for an extension.  Thus the
Master was satisfied that the plaintiff was
unaware, at the end of the relevant
limitation period, of the possible connection between her personal injury and
the acts or omissions
of the doctors, namely the connection between a myelogram
using Myodil as the contrast agent, and her subsequent disabilities and
it was
this only that brought the plaintiff the entitlement to consideration of
whether an extension should be granted under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G</a> of the Act.
<P>

28	The statement of claim would seem to me to be a hopeless example of the
pleader's art.  Leaving aside the first defendant it
alleges that Dr. Graham
was treating the plaintiff for injuries, Dr. Geddes was engaged (presumably by
Dr. Graham) to perform a myelogram
on the plaintiff; following a conversation
with Dr. Graham the plaintiff went to the surgery of Dr. Geddes where the
myelogram procedure
was carried out; that Myodil was introduced as a medium;
and as a result of the myelogram and/or the introduction of Myodil, the
plaintiff suffered loss and damage and that this was caused by negligence of
the defendants.  There are then set out particulars
of negligence of Drs.
Graham and Geddes.  They are in precisely the same words.  Those said to relate
to Dr. Graham are marked 'a'
to 'f' inclusive and those referrable to Dr.
Geddes '(1)' to '(6)' inclusive.  I set them out as claims against Dr.
Graham:
<P>

a.	Failure to warn the Plaintiff of the risk of injury by the use of Myodil in
a cervical myelogram.
<P>

b.	Failure to advise the Plaintiff of alternative remedies.
<P>

c.	Failure to ensure that the cervical myelogram was carried out in the correct
manner.
<P>

d.	Failure to determine any allergies that the Plaintiff might have suffered
prior to conducting the said cervical myelogram.
<P>

e.	Failure to ensure that the cervical myelogram was carried out in the proper
manner and/or with the use of appropriate mediums.
<P>

f.	Failure to ensure that the Plaintiff was fully aware of the risk of injury
and the effects of such injury as opposed to the injuries
the Plaintiff was
suffering from prior to the said cervical myelogram.
<P>

29	While I am not regularly in touch with personal injuries pleadings I would
be very surprised to think that this statement of
claim could be regarded as
adequate.  One would expect in a matter as serious as this that proper
attention would have been given
to a clear expression of the plaintiff's claim.
It is difficult to know what would be the difference between "correct manner"
and
"proper manner".  There has not been shown to be any possible basis for the
claim in 'b', namely "failure to advise the plaintiff
of alternative remedies,"
as on all the evidence the alternative remedies are less desirable than Myodil.
Either a myelogram was
to be performed with an agent such as Myodil or it was
not to be performed.  As against Dr. Graham there is not shown to be any
possible
cause of action in particular of negligence 'c', 'd', or 'e'.  It
would not be just and reasonable to allow an extension of time
for the
plaintiff to bring an action based on claims which are not "real".  As against
Dr. Geddes, the same applies to particular
(2) and (4).  It is, I think,
perfectly clear that a claim for damages based upon negligent advice through
failure to warn should
be properly pleaded as failure itself does not give rise
to any injury.  This is a matter for proper pleading and not a matter for
particulars.  In these circumstances, while I consider that an extension of
time under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G</a> should be allowed to enable the plaintiff to bring a claim
based on causes of action and particulars referable to a claim under that
Section, I do not think that an order should be made extending the time on the
basis of the present document which is why I consider
that an extension of time
should be granted on terms.
<P>

30	It follows from this that I consider the appropriate orders to be the
following:
<P>

1.	Appeal dismissed as against the first defendant.
<P>

2.	Appeal allowed as against second and third defendants.
<P>

3.	In lieu of the order of the Master make the following orders:
<P>

1.	Notice of Motion dismissed as against the first defendant.
<P>

2.	Pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act 1969</a> extend the time for bringing an
action against the second and third defendants up to 23rd June 1995, subject to
the following conditions:
<P>

a	That an amended statement of claim be filed within twenty eight days of this
date re-pleading the claims against those defendants,
separating the facts
alleged against each defendant and the particulars of negligence alleged
against each defendant and deleting
any claim as against the second defendant
based on particulars 'b', 'c' 'd' and 'e' as alleged in the present statement
of claim
against the second defendant and deleting particulars (2) and (4) as
against the third defendant.
<P>

b	Such amended statement of claim be filed within 28 days of this date.
<P>

3.	Claim against the first defendant be dismissed.
<P>

4.	Plaintiff pay the costs of the first defendant of the proceedings including
the notice of motion before the Master and this appeal.
<P>

5.	Otherwise costs of proceedings before the Master be costs in the
proceedings.
<P>

6.	The second and third defendants pay the plaintiff's costs of the appeal
referable to those defendants.
<P>

7.	Second and third defendants to have certificate under Suitors Fund Act if
qualified.
<P>

8.	Exhibit may be returned
<P>

Following orders made on 1st April 1999
<P>

1.	Appeal dismissed as against the first defendant.
<P>

2.	Appeal allowed as against second and third defendants.
<P>

3.	In lieu of the order of the Master make the following orders:
<P>

1.	Notice of Motion dismissed as against the first defendant.
<P>

2.	Pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s60g.html" class="autolink_findacts">s60G</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act 1969</a> extend the time for bringing an
action against the second and third defendants up to 23rd June 1995, subject to
the following conditions:
<P>

a	That an amended statement of claim be filed within twenty eight days of this
date re-pleading the claims against those defendants,
separating the facts
alleged against each defendant and the particulars of negligence alleged
against each defendant and deleting
any claim as against the second defendant
based on particulars 'b', 'c' 'd' and 'e' as alleged in the present statement
of claim
against the second defendant and deleting particulars (2) and (4) as
against the third defendant.
<P>

b	Such amended statement of claim be filed within 28 days of this date.
<P>

3.	Claim against the first defendant be dismissed.
<P>

4.	Plaintiff pay the costs of the first defendant of the proceedings including
the notice of motion before the Master and this appeal.
<P>

5.	Plaintiff to pay costs of second and third defendants in the proceedings
before the Master.
<P>

6.	The second and third defendants pay the plaintiff's costs of the appeal
referable to those defendants.
<P>

7.	Second and third defendants to have certificate under Suitors Fund Act if
qualified.
<P>

8.	Exhibit may be returned
<P>

I certify that paragraphs <b>1 to 30 and orders made on 1st April 1999</b> are
a true copy of the Reasons for Judgment given by Mr Justice Windeyer in matter
<b>20570/95 Thomas v Glaxo Australia Ltd &amp; Others.</b>
<P>

______________________________
<P>

Laurel Laurent
<P>

Associate to Mr. Justice Windeyer
<P>

1st April 1999.
<P>

<center><b>			**********</b></center>
<P>


<P>

LAST UPDATED: 	01/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/282.html</i><br>
</p>
</small>
</body>
</html>
