<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Australian Development Corporation v Allco Steel [1999] NSWSC 757 (11 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 757</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+757 or 1999+NSWSC+757">Noteup</a>]
[<a href="757.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Australian Development Corporation v Allco Steel [1999] NSWSC 757 (11 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_757.html-->
<!--sino date 11 June 1999-->


<P>Last Updated: 30 July 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Australian Development Corporation v Allco Steel  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/757.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
757</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

Construction List
<P>

FILE NUMBER(S): 	55032/91
<P>

HEARING DATE{S): 	11 June 1999
<P>

JUDGMENT DATE: 	11/06/1999
<P>

 PARTIES: 
<P>

Australian Development Corporation Pty Limited (Plaintiff)
<P>

Allco Steel Corporation Pty Limited (First Defendant)
<P>

White Constructions (ACT) Pty Limited (In Liquidation) (Second Defendant)
<P>

JUDGMENT OF: 	Einstein J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr P Liney (Plaintiff)
<P>

Mr G McVay (First Defendant)
<P>

SOLICITORS: 
<P>

Colin Biggers &amp; Paisley (Plaintiff)
<P>

Sparke Helmore (First Defendant)
<P>

CATCHWORDS: 
<P>

Practice and procedure - Proceedings fixed for hearing - Claimed entitlement of
defendant to put into issue matters said to have
been determined previously
between the parties - Appropriate to leave those questions for determination by
the trial judge on motion
for leave to amend pleadings
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

(1)	I grant leave to the first defendant to file and serve a notice of motion
seeking leave to amend the first defendant's defence
and/or to amend or
propound a cross claim, those amendments seeking to deal with the matters
presently sought to be raised under
cover of the notice of motion filed on 11
June 1999. That notice of motion maybe made returnable before the trial Judge
at 10 am
on 12 July 1999.
<P>

(2)	All affidavits in support of that notice of motion including the proposed
amended pleadings to be propounded, are to be served
by 18 June 1999. Any
affidavits in answer to that notice of motion are to be filed and served by no
later than 7 July 1999.
<P>

(3)	I direct that the defendants file and serve detailed submissions in support
of the defendants two proposed notices of motion
and in answer to the notice of
motion sought to be pressed by the plaintiff, being the notice of motion filed
on 31 May 1999. Those
submissions are to be filed and served by 5 July 1999.
Those submissions are to detail the whole of the circumstances sought to be
relied upon by the first defendant, all the evidence on which the first
defendant seeks to rely and the same submissions are to specify
in detail the
authorities and principles sought to be relied upon by the first defendant when
the motions are to be heard.
<P>

(4) 	Costs of the two motions before the court today will be reserved.
<P>

JUDGMENT: 
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION - COMMERCIAL LIST
<P>

EINSTEIN J
<P>

Friday 11 June 1999 - ex tempore
<P>

Revised 28 July 1999
<P>


<P>

<b>55032/91 - AUSTRALIAN DEVELOPMENT CORPORATION v ALLCO STEEL CORPORATION PTY
LIMITED &amp; ORS</b>
<P>

<b>JUDGMENT</b>
<P>

1   	HIS HONOUR:  In proceedings No 55032/91 there are before
the court two notices of motion. The first is that filed by the plaintiff
on 31
May 1999 seeking an order that the first defendant is not entitled to put in
issue at the hearing, presently set down to commence
on 12 July 1999, the
tonnage of off site steel converted which was the subject of declarations and
orders by Rolfe J on 29 May 1992
and the Court of Appeal in November 1996.
<P>

2   	The same motion seeks an order that the first defendant is
not entitled to adduce evidence to the effect of the Nulla Partnership
T.
Corbett Report dated 4 August 1999.
<P>

3   	At the same time the defendant moves on a motion filed on
11 June 1999 for orders that pursuant to Pt 40 r 9 (iv) the order
dated 23
March 1993 be varied by deleting from paragraph 1a the words and figures
"403.27 tons of". The motion also seeks a deletion
by Court Order from
paragraph 1b of the words and figures "398.57 tons of". 
<P>

4   	The proceeding are proceedings in which the plaintiff
claims damages against the first defendant (Allco) for conversion by
Allco of
steel to which the plaintiff apparently had title but which was in the
possession of Allco (referred to throughout the proceedings
as "off site
steel") and consisting of two lots of steel referred to throughout the
proceedings as the October steel and November
steel, these being references to
the months in which Allco claimed payment for the respective losses of steel.
Allco supplied and
directed the steelworks for the plaintiff's project as
subcontractor for the second defendant, which was the builder. 
<P>

5   	The question of liability was determined separately from
that of damages by Rolfe J in a trial which commenced on 7 October
1992. In
delivering reasons for judgment Rolfe J formally made an order pursuant to Pt
31 r 2 that the question of liability be determined
as a separate issue.
<P>

6   	Rolfe J made certain declarations and orders together with
orders relating to costs on 30 March 1993. His Honour held that
Allco was
liable for conversion of the October steel but not the November steel.
<P>

7   	Evidence has been adduced before me that the short minutes
were agreed upon by the parties pursuant to his Honour's indications
in reasons
for judgment on 9 March 1993 that short minutes be brought in to give effect to
his Honour's decision on the issue of
liability.
<P>

8   	The plaintiff appealed against declarations 1b and 1c of
his Honour's declarations and the Court of Appeal by judgment of 14
November
1996 allowed the appeal and decided that Allco was also liable for conversion
of the November steel.
<P>

9   	Allco's appeal did not challenge the quantities of steel
referred to in orders of Rolfe J. Allco's appeal was dismissed.
<P>

10   	There has now been set down for final hearing commencing
12 July 1999 the assessment of damages to which the plaintiff is
entitled for
conversion of the October and November steel. The hearing date of 12 July was
fixed on 5 February 1999.
<P>

11   	On 2 March 1999 the first defendant's solicitors served a
copy of a report of Nulla Partnership which seeks to demonstrate
that the
quantity of steel converted was not the 901.8 referred to in the orders of the
court today, (that is, 403.27 tons of October
steel and 298.57 tons of November
steel), but only 696.52 tons.
<P>

12   	There is evidence before the court that this is the first
time in the proceedings that there has been any dispute at all about
the
quantity of steel contained in the October and November steel which was
converted.
<P>

13   	Mr Kermond, solicitor for the plaintiff, in his affidavit
of 31 May 1999 has referred to certain material which evidences
the quantities
of the October and November steel and which is said not to have been the
subject of challenge in any way at the trial
before Rolfe J. Mr Kermond has
deposed that it was not considered necessary for the plaintiff to call Mr Hardy
to give evidence of
the quantities of steel as they were, Mr Kermond
understood, not in dispute. Mr Kermond's affidavit deposes that had the point
now
raised in relation to the quantities of October and November steel which
was converted been taken at the liability hearing the trial
would probably have
been conducted differently, including, it is suggested, the calling of further
evidence relating to quantities
of steel remaining in the defendant's
possession, a further examination of documents and cross examination of the
defendant's witnesses.
<P>

14   	Mr Kermond deposes and I accept that extensive evidence
has been served for the purpose of the final hearing on 12 July. 
He deposes
that he understood the only point was the proper value of the 491.8 tons of
steel converted. Mr Kermond makes certain
suggestions in relation to the
statements of evidence other than Mr Corbett's report as to the manner in which
they be dealt with.

<P>

15   	Mr Kermond deposes that he is concerned that if the
plaintiff be required to meet this new point for the purpose of the assessment
of the damages hearing commencing on 12 July the plaintiff will be prejudiced
in doing so. He deposes as to the necessity, if the
plaintiff is to rebut the
defendant's point, that it will be necessary first to prove the amount of the
off site steel included in
the October and November claims by Allco and
consequently to prove what steel was delivered by Allco to the plaintiff's site
at various
times so as to establish that none of the October or November steel
was in fact delivered to the site.
<P>

16   	Mr Kermond deposes that he is concerned that the plaintiff
may not now be able to prove these matters, having regard to the
remoteness in
time of the relevant events, the difficulty of locating such records as may
still exist and the inability at present,
despite inquiries to locate Mr Hardy
and the difficulty in dealing with the evidence of the project manager of the
second defendant
who was closely appointed with the progress of steel
deliveries to an erection on site.
<P>

17   	Mr Kermond deposes that if the plaintiff is required to
meet these matters he believes it will involve considerable time,
costs and
difficulties in doing so and that this will adversely affect the efficient and
proper preparation of the case on assessment
of damages.
<P>

18   	Mr Wylie, solicitor for the defendant, has in turn deposed
that he considered that at the time of the hearing before Rolfe
J any
preparation for the hearing in relation to the number of tons of steel actually
converted was a matter which went to quantum.
He has deposed that because
issues of liability and quantum were split, he did not inquire into whether the
number of tons of steel
claimed in the October and November claims remained at
the date of conversion, which was January 1999. To his mind the quantity of
tons of steel and the price per ton of that steel were matters relating to the
issue of quantum of damages. 
<P>

19   	In particular Mr Wylie deposes that he did not inquire
whether any part of the October and November steel was fabricated and
sent to
the plaintiff's site before the conversion. Evidence that went to the quantity
of the tons of steel converted and the price
per ton he left until after the
hearing on liability. As to the short minutes of order dated 23 March 1993 he
recalls seeing them
at or about the time they were signed and the reference to
the number of tons of steel. He considered the references to the number
of tons
of steel to be descriptive of the steel converted and not a determination that
the number represented the actual number of
tons converted, for the purpose of
assessing quantum.
<P>

20   	Mr Liney has contended that it is now appropriate for the
court to deal with the two notices of motion so that the parties
should not be
in any doubt as to the precise issues covered under the rules of quantum in
respect of the hearing date now fixed.
Mr Liney submits that the plaintiff
needs now to clarify whether this further issue is or is not to be in issue. He
submits that
there will be prejudice to the plaintiff if in addition to the
preparation now in train for the hearing it is to be encumbered with
preparation for the hearing of the suggested further issues.
<P>

21   	Having given the matter close consideration, to my mind
this is a situation in which the appropriate order should be that
both notices
of motion are simply stood over for hearing before the trial Judge at 10am on
the morning of the hearing.
<P>

22   	Further, it seems to me that the matters which are now
sought to be raised by the defendant are quite likely matters which
are
appropriate to be raised in pleadings. In those circumstances the defendant
should be given a proper opportunity to consider
and if it determines to be
appropriate, to seek to propound amended pleadings by way of an amended defence
and/or an amended cross
claim to raise these issues. Any application by the
defendant for leave to amend the pleading will require to be brought by notice
of motion also returnable before the trial Judge at 10am on the morning of the
hearing.
<P>

23   	To my mind the convenient course is to give a direction
that such a notice of motion be filed by a particular date and time
and
supported by affidavits. Naturally the notice of motion will require to include
within the affidavits the proposed amended pleadings
to be propounded. To my
mind the appropriate course is then to direct the plaintiff to file and serve
the affidavits in answer to
that motion shortly before the hearing.
<P>

24   	A number of fairly complex questions are then to be before
the trial Judge by these three notices of motion. To my mind it
is the trial
Judge who, following the plaintiff's opening and the defendant's opening will
be best in the position to understand
the whole of the background of the matter
and to understand and then to deal with these motions. The trial Judge will
have available
to himself or herself any number of ways of dealing with the
subject matter of the motions. One is simply to allow one or other of
the
motions. No doubt in determining whether or not and if so for what reasons, to
allow the first defendant to amend its pleadings
and/or to move for the court
orders to be altered, the court will need to take into account what the
relevant principles are and
what the prejudice to the plaintiff will be.
<P>

25   	Another possibility is that the trial Judge will simply
allow the hearing to proceed and will permit evidence to be adduced
in relation
to the new issues on the basis that that evidence is to be adduced subject to
relevance and on the basis that the trial
Judge will determine the three
motions as part and parcel of the final judgment.
<P>

26   	Yet a further possibility is that the trial Judge will be
persuaded when the motions are argued at the hearing that the convenient
course
is to permit the hearing to proceed in all circumstances in the way that it
would have proceeded but for the defendant's new
pursuit of the orders and to
as it were, fix for hearing in some further and later bracket of time, an
occasion when these notices
of motion can be pursued. 
<P>

27   	That may not exhaust all the ways in which the trial Judge
may adjudicate the determination of these motions, applying naturally
to the
touchstone of that adjudication, the principle that the interests of justice
should be served.
<P>

28   	So that the only other matter which I make quite plain is
that it is my view that the defendants who are to move for the amended
pleadings and who are to pursue the notice of motion filed today should be
obliged to file and serve detailed written submissions
in support of their
applications made by motion. Those submissions should, it seems to me detail
all the factual background, detail
the evidence and detail the relevant
principles of law by specific reference to the authorities. 
<P>

29   	I propose to direct that submissions of that order be
filed and served by the defendants before the hearing so that the plaintiff
is
well aware precisely how the defendants propose to put the matter and will not
be prejudiced at the commencement of the hearing
by for the first time hearing
some new principles of law or evidence which it was unaware were to be relied
upon.
<P>

30   	The court gives the following directions: 
<P>

(1)	I grant leave to the first defendant to file and serve a notice of motion
seeking leave to amend the first defendant's defence
and/or to amend or
propound a cross claim, those amendments seeking to deal with the matters
presently sought to be raised under
cover of the notice of motion filed on 11
June 1999. That notice of motion maybe made returnable before the trial Judge
at 10 am
on 12 July 1999.
<P>

(2)	All affidavits in support of that notice of motion including the proposed
amended pleadings to be propounded, are to be served
by 18 June 1999. Any
affidavits in answer to that notice of motion are to be filed and served by no
later than 7 July 1999.
<P>

(3)	I direct that the defendants file and serve detailed submissions in support
of the defendants two proposed notices of motion
and in answer to the notice of
motion sought to be pressed by the plaintiff, being the notice of motion filed
on 31 May 1999. Those
submissions are to be filed and served by 5 July 1999.
Those submissions are to detail the whole of the circumstances sought to be
relied upon by the first defendant, all the evidence on which the first
defendant seeks to rely and the same submissions are to specify
in detail the
authorities and principles sought to be relied upon by the first defendant when
the motions are to be heard.
<P>

(4) 	Costs of the two motions before the court today will be reserved.
<P>

31   	I add as a postscript to the extempore judgment delivered
that to my mind the plaintiff will be in a position at the commencement
of the
hearing to put before the trial Judge detailed evidence as to any prejudice
which the plaintiff asserts that it would suffer
if the new issues are to be
heard as part and parcel of the trial. The court anticipates that to the extent
applicable and possibly
consistent with the plaintiff's otherwise preparation
of the hearing now fixed and the issues previously understood to be before
the
trial Judge, the plaintiff will carry out its best endeavours to meet in an
evidentiary way the matters now sought to be relied
upon by the first
defendant. 
<P>

32   	Whether the plaintiff is or is not able within the time
and consistent with its otherwise necessary preparation of the case
it had
understood it was to run, is of course a matter entirely for the plaintiff. All
of those considerations should be on affidavit
and before the trial Judge so
that the trial Judge can see when the hearing begins precisely to what extent
the plaintiff, having
carried out its best endeavours to treat on an
evidentiary basis these matters before the trial, has been able to or has not
been
able to achieve a position in which it is able to handle an expansion of
the issues.
<P>

33   	The trial Judge will no doubt deal with any costs of and
occasioned by the motion. It would seem to me to be most unlikely
that the
trial Judge would make any order otherwise than that all costs of the plaintiff
of and occasioned by any necessity for the
plaintiff between now and the
hearing to investigate these new issues and to deal with the new issues, may
well have to be paid by
the first defendant as the price for seeking to raise
at the eleventh hour issues of the type now sought to be raised. 
<P>

34   	Having said that, nothing which I have said is intended of
course to trammel in any way the trial Judge's undoubted discretion
to deal
with such costs as the trial Judge elects to be appropriate.
<P>

********
<P>

LAST UPDATED: 	30/07/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/757.html</i><br>
</p>
</small>
</body>
</html>
