<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Cyrene Holdings Pty Ltd v Ambermill Pty Ltd and 4 Ors [1999] NSWSC 1199 (8 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1199</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1199 or 1999+NSWSC+1199">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Cyrene Holdings Pty Ltd v Ambermill Pty Ltd and 4 Ors [1999] NSWSC 1199 (8 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1199.html-->
<!--sino date 8 December 1999-->


<P>Last Updated: 9 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Cyrene Holdings Pty Ltd v Ambermill Pty Ltd &amp; 4 Ors  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1199.html" title="View Case" class="autolink_findcases">[1999]
NSWSC 1199</a> revised - 09/12/99
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	5132/98
<P>

HEARING DATE{S): 	2 December 1999
<P>

JUDGMENT DATE: 	08/12/1999
<P>

 PARTIES: 
<P>

Cyrene Holdings Pty Limited (Plaintiff)
<P>

Dunecar Pty Limited (Third Defendant)
<P>

JUDGMENT OF: 	Bergin J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

G Sirtes (Plaintiff)
<P>

W Haffenden (Third Defendant)
<P>

SOLICITORS: 
<P>

Price &amp; Co (Plaintiff)
<P>

Cowley Hearne (Third Defendant)
<P>

CATCHWORDS: 
<P>

Application by plaintiff (the unsuccessful party in a claim for specific
performance) for a costs order to facilitate payment of
indemnity costs by the
defendant claimed to have been agreed to in a Deed settling the main
proceedings.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Application refused.  Plaintiff to pay the third defendant's costs of the
motion.
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>BERGIN J</b>
<P>

<b>DATE  8 DECEMBER 1999</b>
<P>

<b>5132/98 - CYRENE HOLDINGS PTY LTD v AMBERMILL PTY LTD &amp;  4 ORS</b>
<P>

<b>JUDGMENT</b>
<P>

1   	This matter was the subject of a hearing on 27 and 28
October 1999 on which latter date I dismissed a notice of motion brought
by the
plaintiff seeking an order for specific performance.  
<P>

2   	On that occasion application was made by the third
defendant (the defendant) for costs as it had been successful in resisting
the
motion brought by the plaintiff.  Although I acceded to that application I
subsequently vacated that order upon the application
of the plaintiff when it
was indicated that there were matters material to the decision as to costs
which had not been brought to
my attention.
<P>

3   	I heard further argument in the Duty List on 2 December
1999 when Mr Sirtes appeared for the plaintiff and Mr Haffenden appeared
for
the defendant.  The history of the matter is set out in my judgment of 28
October 1999 and I do not intend to repeat it here.
 The issue for decision on
this occasion is whether by reason of Clause 11 of the Deed entered into at the
time of settlement of
the main proceedings the plaintiff should have a costs
order made in its favour notwithstanding the claim for specific performance
was
dismissed.
<P>

4   	Order 11 of the Short Minutes of Order provides:
<P>

THAT in the event that the judgment debt of $637,500 is not paid on or before
18 October 1999 then the Defendants shall pay upon
demand and shall be jointly
and severally liable to pay on an indemnity basis the Plaintiff's costs of and
incidental to all and
any enforcement proceedings which the Plaintiff
undertakes against all or any one or more of the Defendants arising out of and
incidental
to these Orders or any aspect thereof, and such costs as incurred by
the Plaintiff shall be liquidated debt at law due and payable
to the Plaintiff
by the Defendants jointly and severally.
<P>

5   	Clause 11 of the Deed provides:
<P>

In the event that the Defendants or any of them have not complied with any
aspect of this deed or the consent orders by no later
than 5 pm on 18 October
1999, then the Plaintiff shall be at liberty to undertake all such steps and
action as the Plaintiff in its
discretion deems fit including but not limited
to:
<P>

i.	Enforcement proceedings for recovery of the outstanding balance of the
Judgment (as referred to in the Consent Orders) and all
other moneys owing to
the Plaintiff by the Defendants against all or any of the Defendants;
and/or
<P>

ii.	Enforcing the Plaintiff's rights as a mortgagee of the hotel;  and/or
<P>

iii.	Enforcing the Plaintiff's rights pursuant to this deed or the Consent
Orders;  and/or
<P>

iv.	Such other action as the Plaintiff is legally entitled to undertake;  
<P>

and the defendants shall be jointly and severally liable to pay the plaintiff's
costs of and incidental to any such action as referred
to in sub clauses
11(i)-(iii) above inclusive, on an indemnity basis, which costs shall be
payable by the defendants upon demand
and shall form a liquidated debt due and
payable at law to the plaintiff by the defendants jointly and severally.
<P>

6   	The Deed and the Consent Orders were structured to
facilitate the payment of the judgment debt to the plaintiff.  One of the
steps
to be taken to enable the judgment debt to be paid was the auction or
re-financing of the Rutherford Hotel.  The regime set
up for the auction of the
hotel is referred to in some little detail in my judgment of 28 October 1999
but is set out in particular
in paragraph 3 of the Deed.
<P>

7   	Although a properly based application for specific
performance may be a step along the way to recovery of a judgment in my
view
they are not proceedings that fall within the description outlined in clause
11(i) nor are they proceedings that fall within
the description in Clause
11(ii) of the Deed.  
<P>

8   	The real question in my view is whether the proceedings
fall within the description in Clause 11 (iii) of the Deed "enforcing
the
plaintiff's rights pursuant to this deed or the consent orders" 
<P>

9   	Clause 11 of the Deed entitles the plaintiff to take action
for non-compliance with "any aspect of this Deed".  If such action
is one that
falls within the description of enforcing the plaintiff's "rights pursuant to
the deed" then the plaintiff submits the
defendant has agreed to pay "the
plaintiff's costs of and incidental to any such action" on an indemnity
basis.
<P>

10   	Assuming that the plaintiff's contention is sound it would
mean that the plaintiff would be entitled to indemnity costs for
any
unsuccessful action it brought that fell within that category.  Mr Sirtes does
not shy away from this proposition, indeed he
submits that is exactly what the
parties agreed to in this Deed. He relies upon the authorities referred to by
Mr Haffenden to submit
that the only costs that would not be covered in an
unsuccessful application would be those that were "unjustifiably or vexatiously
incurred" (<b>Re a Solicitor's</b> <b>Bill of Costs</b>;  in <b>Re Shanahan
&amp; Anor</b>  <a href="/cgi-bin/LawCite?cit=%281941%29%2058%20WN%20132" title="View LawCiteRecord" class="autolink_findcases">(1941) 58 WN 132</a> per Street J, as His Honour then was, at 135)
or not "properly incurred" (<b>Elders Trustee &amp; Executor Co Ltd v Eagle
Star Nominees Ltd &amp; Ors</b> (1987) NSW Conv R 57045 per McLelland J, as His
Honour then was at 57048).
<P>

11   	Mr Haffenden relied on these authorities in support of his
submission that the defendant should have its costs paid because
the plaintiff
was unsuccessful and therefore the costs of the application were not "properly
incurred". 
<P>

12   	Both of the cases relied upon involved a clause in a
mortgage. In the latter case McLelland J in analysing the limitation
upon the
meaning of the clause in the mortgage said at 57,048:
<P>

In my opinion there is a necessarily implied qualification that the provision
applies only to costs, charges, expenses or payments
properly incurred.  ..
For this purpose I consider that "properly" means reasonably and in good
faith.
<P>

13   	That analysis is not truly analogous to the situation with
which I am dealing and is therefore not decisive.  However His
Honour dealt
with another matter at 57,049 when he said:
<P>

The fate of the respective proceedings and the making of orders for costs are
relevant only insofar as they may assist a conclusion
to be reached on the
question whether it was "proper" for Eagle to institute and prosecute the
proceedings.
<P>

14   	Although the plaintiff may suggest that this may `beg the
question' for decision in this matter I am of the view that this
passage of His
Honour's judgment favours the defendant's submissions.  This passage, leaving
aside the reference to the costs order,
is a recognition that the outcome or
"fate" of the proceedings is a relevant consideration as to whether the costs
incurred were
"proper".
<P>

15   	This analysis assists me in the view that I have formed in
respect of the meaning of Clause 11.  I am of the view that the
proceedings
contemplated by the Clause are proceedings that are successful.  In reaching
this view I have paid particular regard
to the use of the word "enforcing" in
Cl 11(iii).  Such a term leads me to the conclusion that they have to be
proceedings in which
the plaintiff's rights are enforced not merely sought to
be enforced.  These were not such proceedings.
<P>

16   	In all these circumstances I am persuaded that the
appropriate order is that the plaintiff pay the defendant's costs of the
application.  I make that order.
<P>

****************************
<P>

LAST UPDATED: 	09/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1199.html</i><br>
</p>
</small>
</body>
</html>
