<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Richardson v Hough [1999] NSWSC 448 (12 May 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 448</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+448 or 1999+NSWSC+448">Noteup</a>]
[<a href="448.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Richardson v Hough [1999] NSWSC 448 (12 May 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_448.html-->
<!--sino date 12 May 1999-->


<P>Last Updated: 20 May 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Richardson v Hough  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/448.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 448</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	1028/95
<P>

HEARING DATE{S): 	23/04/1999
<P>

JUDGMENT DATE: 	12/05/1999
<P>

 PARTIES: 
<P>

Anthony Charles Richardson  (P)
<P>

Elaine Margaret Maria Hough  (D)
<P>

JUDGMENT OF: 	Santow J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

M J Stevens  (P)
<P>

J Millar  (D)
<P>

SOLICITORS: 
<P>

John R Quinn &amp; Co  (P)
<P>

Kearns &amp; Garside  (D)
<P>

CATCHWORDS: 
<P>

COSTS --  Offer of Compromise -- Onus to demonstrate satisfaction of Pt 52A
r22(6) -- Offer construed as inclusive of costs where
silent as to costs.
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/" class="autolink_findacts">Supreme Court Act</a> s76
<P>

Supreme Court Rules Pt 22 r1A
<P>

Pt 52A r21
<P>

r22
<P>

DECISION: 
<P>

Ordered that no order as to costs be made.
<P>

JUDGMENT: 
<P>

- 3 -
<P>

<b><i>IN THE SUPREME COURT</i></b>
<P>

<b><i>OF NEW SOUTH WALES</i></b>
<P>

<b><i>IN EQUITY</i></b>
<P>

<b><i>SANTOW J</i></b>
<P>

<b><i>No.  1028/95 </i></b>
<P>

<b><i>ANTHONY CHARLES RICHARDSON</i></b>
<P>

Plaintiff
<P>

<b><i>ELAINE MARGARET MARIA HOUGH</i></b>
<P>

Defendant
<P>

<b>JUDGMENT</b>
<P>

<b>12 May 1999</b>
<P>

1	The only remaining matter is the appropriate orders to be made in relation to
costs, following orders on the remaining issues
made by Windeyer J on 13
November 1998.
<P>

2	At the conclusion of my judgment of 7 September 1998 I indicated that my
present inclination "is to make no order as to costs"
though giving leave to
the parties to address me on costs if they wished. That has now occurred and
the Defendant in particular has
submitted that by virtue of the correspondence
in DCX1 cost orders should be made, either under or as if in accordance with Pt
22
in conjunction with Pt 52A r21 of the Supreme Court Rules. The
correspondence contains what is described as an "offer of compromise"
first
made by the Defendant on 11 October 1995 and expressed in these terms:
<P>

"1.	That the defendant pay to the plaintiff the sum of FIFTY THOUSAND DOLLARS
($50,000.00) in full satisfaction of the plaintiff's
claim.
<P>

2.	That this offer remains open for a period of twenty-eight (28) days from the
date it is served upon the plaintiff."
<P>

3	On 17 January 1996 an identical offer was made save that $60,000 was
substituted for $50,000. In the events that happened neither
offer was
accepted. The Defendant then points to the fact that what the Plaintiff derived
from the Court's order, namely 42/87ths
of the proceeds of sale of the Dapto
property ($73,258.14 with interest), amounted to the sum of $35,366.14 and that
this self-evidently
is substantially <i>less</i> than the $50,000 offered.
<P>

4	The Defendant contends that the offer of compromise though silent as to costs
and not expressed as required by Pt 22 r1A, as "prepared
in accordance with
this Division" must impliedly be understood as an offer that costs be dealt
with, as they would have been dealt
with, pursuant to Pt 52A r22(1). That is to
say, in conformity with that rule, the Defendant was impliedly offering that
costs would
be paid by the Defendant on a party and party basis up to and
including the day the offer was accepted and thereafter the Plaintiff
would pay
the costs.
<P>

5	The Defendant relies upon the decision in <i>McLean v Commonwealth of
Australia</i> (NSWSC, Sperling J, 22 August 1996, unreported) as authority for
the proposition that minor irregularities should not prevent the
offer of
compromise satisfying Pt 22. In that case, there was a mistaken reference to
the Defendant when the Plaintiff was meant,
and a reference to "plus costs".
The latter expression was read in conformity with "the everyday language of the
legal profession"
as meaning "plus costs to the date of settlement on a party
and party basis".
<P>

6	But significantly, in <i>McLean</i> (supra) the offer of compromise was
actually expressed to be in accordance with Div. 1 of Pt 22 of the Supreme
Court Rules. In the
present case, no such expression can be called in aid to
justify importing an intention for Pt 52A r22(1) to override the reference
to
"full satisfaction of the Plaintiff's claim", when the latter clearly included
a claim for costs.
<P>

7	In my view the present offer of compromise as the Plaintiff contended could
only be understood as the kind of offer which was
"inclusive of costs" and thus
incapable of being made pursuant to Pt 22; see <i>McLean</i> and <i>Associated
Confectionery (Aust) Ltd v Mineral &amp; Chemical Traders Pty Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281991%29%2025%20NSWLR%20349" title="View LawCiteRecord" class="autolink_findcases">(1991) 25
NSWLR 349.</a> Clearly enough, the Plaintiff, in its original claim, was seeking
costs. Equally clearly the Defendant was offering a lump sum in
full
satisfaction of <i>all</i> of the Plaintiff's claim which necessarily includes
costs. That is fatal to the offer being one which conforms to Pt 22 and it
likewise
follows that Pt 52A r22(6) could not apply automatically. However, the
Defendant contends that as a matter of my discretion under
s76 of the
<i><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/" class="autolink_findacts">Supreme Court Act</a></i> I should still treat the offer of compromise as in
sufficient conformity with the underlying purposes of those rules as to
exercise
my discretion as if the rules applied.
<P>

8	It is however not in my view appropriate to do so for a further reason. The
onus must lie on the Defendant as the party relying
upon an offer of compromise
to demonstrate that the conditions in <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/index.html#p52a" class="autolink_findacts">Pt 52A</a> r22(6) for an award of
post-settlement costs to the Defendant are satisfied, that is to say, that the
amount obtained by way of order
or judgment on the claim is not more favourable
to the Defendant than the terms of the compromise offer. Here, however, the
claim
also includes the return of various items of equipment of which, in my
judgment of 7 September 1998 at 27, I said:
<P>

	"The various items of personalty to which the Plaintiff attributes substantial
value and some of which has apparently been removed,
whilst in part at least
described as junk by the Defendant, may have indeed have some scrap value to
the extent it can be now found
and salvaged. Given that the Defendant
attributes no real value to this property, it would not be inappropriate for
the Plaintiff
to have all of it as can now be found available to be taken away
by him as his property, for what it might fetch. That indeed should
be an
element of any property adjustment."
<P>

It follows, in my judgment, that the Defendant's contentions must fail.
<P>

9	Thus while I gave no quantified value for that personal property, I certainly
contemplated that this properly may indeed have
some scrap value. Thus it
simply has not been established by the Defendant, on whom the onus rests, that
the value of that personal
property, when added to the amount ordered of
$35,366.14, must fall below the $60,000 offered.
<P>

10	I do not however see any reason for departing from my earlier inclination to
make no order as to costs and instead take up the
Plaintiff's invitation and
award him the costs. Both parties had some measure of success. It would be
wrong to attempt a precise
apportionment.  Accordingly, I formally order that
no order as to costs be made.
<P>

<center>**********</center>
<P>


<P>

LAST UPDATED: 	18/05/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/448.html</i><br>
</p>
</small>
</body>
</html>
