<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Park v The Consumer Claims Tribunal [1999] NSWSC 74 (11 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 74</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+74 or 1999+NSWSC+74">Noteup</a>]
[<a href="74.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Park v The Consumer Claims Tribunal [1999] NSWSC 74 (11 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_74.html-->
<!--sino date 11 February 1999-->


<P>Last Updated: 7 May 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Park v The Consumer Claims Tribunal  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/74.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 74</a>
<P>

CURRENT JURISDICTION: 	
<P>

FILE NUMBER(S): 	30122/97
<P>

HEARING DATE{S): 	10/02/99
<P>

JUDGMENT DATE: 	11/02/1999
<P>

 PARTIES: 
<P>

Jonathon Park
<P>

The Consumer Claims Tribunal
<P>

JUDGMENT OF: 	      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mrs Gilmour
<P>

Mr Davidson
<P>

SOLICITORS: 
<P>

Davidsons Solicitors
<P>

Crown Solicitor
<P>

CATCHWORDS: 
<P>

Consumer Claims Tribunal
<P>

Denial of natural justice - not demonstrated 
<P>

ACTS CITED: 
<P>

Consumer Claims Tribunal Act 1977
<P>

DECISION: 
<P>

Amended Summons dismissed; Plaintiff to pay costs of the intervenor
<P>

JUDGMENT: 
<P>

- 11 -
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DOWD J</b>
<P>

<b>11 February 1999</b>
<P>

<b>30122/97</b>
<P>

<center><b>PARK v CONSUMER CLAIMS TRIBUNAL</b>
<P>

<b>REASONS FOR JUDGMENT</b></center>
<P>


<P>

1	This is an appeal instituted by Summons seeking to quash or set aside the
decision of a referee appointed by the first defendant,
The Consumer Claims
Tribunal in a claim between the plaintiff, Jonathon Park, and the second
defendant, Dr Kristina Morawetz ("Morawetz")
and the third defendant Dr Ina Van
der Merwe ("Van der Merwe"). Each of the first, second and third defendants
filed submitting appearances,
except as to costs. The Minister for Fair Trading
("the Minister") was granted leave to intervene and the appeal was conducted
therefore
on behalf of the plaintiff and the Minister as parties. The tribunal
whose decision the Amended Summons appeals is a tribunal constituted
under the
<u>Consumer Claims Tribunals Act</u> 1987 ("the Act") which constitutes a
referee, the tribunal, to hear and determine a consumer claim. There is no
appeal or review
of the decision of the tribunal that is relevant in this
application, however the tribunal is obliged under s.17 of the Act to comply
with the rules of natural justice. It is for a contended breach of the rules of
natural justice in the tribunal's finding against
the plaintiff in the Tribunal
hearing that gives rise to this appeal: <i>Kioa v West</i>  <a href="/cgi-bin/LawCite?cit=%281985%29%20169%20CLR%20550" title="View LawCiteRecord" class="autolink_findcases">(1985) 169 CLR
550.</a>
<P>

2	One of the particular circumstances to be taken into consideration in its
determination of an allegation of breach of natural
justice is the functioning
of a tribunal set up by the Act. The tribunal is an inexpensive and simple
procedure for determining complaints
expeditiously without considerable
expense. There is a registry established for facilitating the operation of
tribunals and for the
keeping of records. The referee has control, subject to
the requirement of conforming with the rules of natural justice to set up
his
own procedures and is given wide powers of amendment and adjournment. The Act
subject to certain restrictions precludes legal
representation and requires the
hearings to be heard in private and that the evidence may be given orally or in
writing. A tribunal
is not bound by the rules of practice or of evidence and
can inform itself on any matter as it considers appropriate. There is a
power
for tribunals to re-hear matters. No costs may be awarded.
<P>

3	The subject matter of this appeal was a tribunal hearing before referee, Tom
Kelly who determined a claim brought by the plaintiff
which claim was heard
before the tribunal on three separate hearings, the first on 19th June 1997,
the second on 23rd June 1997 and
the third on 10th October 1997. The tribunal
gave its decision on 31st October 1997. 
<P>

4	The original claim was brought against Morawetz as an employee of Van der
Merwe in respect of dental treatment provided to the
plaintiff on 8 October
1996 and contended that Morawetz mis-handled the slow speed hand piece onto the
plaintiff's lower teeth causing
him pain and suffering, costs and expenses as a
result of damage to his teeth. 
<P>

5	At the hearing of the 19 June 1997, the plaintiff made an oral statement,
Morawetz made a brief statement and the matter was adjourned
to 23 July 1997.
The plaintiff said that at that hearing Morawetz asked for a copy of a receipt
from a Dr Erskine-Smith which the
Referee declined. The plaintiff said that
that refusal indicated to him that the parties were not allowed copies of the
evidence
of the other side. At the hearing on 23 July 1997 the plaintiff
tendered two reports from Dr Erskine-Smith, a report from Dr Stoermer,
Dr
Godfrey, records of the Royal North Shore Hospital and a statutory declaration
by the plaintiff. Morawetz and Van der Merwe tendered
a statutory declaration
of  S. Ashton a dental nurse, two declarations of Morawetz and a declaration of
Van der Merwe. They made
an oral reply to the plaintiff's evidence and used the
tooth mould, which was produced in evidence. On 24th July Morawetz sent a
letter to the tribunal requesting copies of those reports. On 29th July the
plaintiff sought access to the teeth mould. On 30th July
the tribunal decided
to supply copies of the plaintiff's reports to Dr Morawetz but decided that the
plaintiff could not take the
teeth mould and only inspect it at the tribunal
registry. On 4 August the reports of Drs Stoermer, Godfrey and Erskine-Smith
were
sent by the tribunal to Morawetz.
<P>

6	On 8 September 1997 the plaintiff says that he made a call to the registry as
one of a large number of calls that he made to the
registry. The plaintiff
contends that he requested documents furnished by Morawetz and Van de Merwe on
the 8th September 1997. He
did not however, subsequently refer to this request
in correspondence except  somewhat obliquely in a statutory declaration which
he filed on 12 October 1997. He says that he was told by a registry officer
that he was not entitled to have copies of the evidence
of Morswetz and Van der
Merwe. I should note that evidence by way of statutory declaration included the
evidence of Morawetz pointing
out the dental problems including evidence of
grinding. Her evidence also was that a splint may be necessary to prevent his
teeth
from continually grinding.
<P>

7	At the third hearing on 10 October 1997 the plaintiff tendered a report of Dr
Ashton, Dr Churchin, Dr Godfrey and his own statutory
declaration. The second
and third defendants tendered a report of Dr Harty. The total hearing time of
the hearings was some five
hours. Subsequent to the hearing on 12 October 1997
the plaintiff furnished a statutory declaration to the tribunal and
subsequently
wrote letters to the tribunal on 22 and 24 October 1997. The
tribunal replied on 28 October and gave a decision on 31 October 1997.
<P>

8	In his statutory declaration of 12 October 1997 the complaint of the
plaintiff was that he had been refused copies of the Morawetz
and Van der Merwe
evidence by the tribunal however Morawetz and Van der Merwe received copies of
his dentist reports. The plaintiff
said he was not allowed to have copies of
"their materials" to prepare for the third hearing. He then sought copies of
the material
and wished the tribunal to reserve their decision until they had
been obtained. In the tribunals letter prior to judgment the referee
declined
to re-open the hearing.
<P>

9	The referee dismissed the plaintiffs claim. After reviewing the evidence he
commented that the expert evidence called on behalf
of the plaintiff in
relation to the quite substantial chip to the plaintiffs lower incisor relied
on the history given to the plaintiff's
experts by the plaintiff. He reviewed
the evidence of Morawetz who denied the dropping of the drill and noted that
she gave her opinion
that grinding can be caused by stress. The dental nurse
gave evidence which corroborated that of Morawetz. The evidence called by
Morawetz and Van der Merwe included evidence of a Dr Harty which said that the
loss of the tooth structure could be caused by biting
on hard food or grinding
and that he did not consider the loss of tooth structure was consisted with the
removal of tooth structure
by a dental drill. The referee accepted the dental
nurses' evidence as a reliable witness. The referee commented adversely on the
plaintiff's credibility and his agitation level and the way in which he
presented his evidence. The referee also commented adversely
on the variations
in the evidence given by the plaintiff and in his statements and various
documents. 
<P>

	
<P>

10	In the referee's reasons for judgment he adverted to the fact that he had
"declined to supply copies of material supplied by
the respondents." The
declaration by Mr Harty was produced at the final hearing and the plaintiff was
given an opportunity to read
it and comment thereon. The referee found that
neither the plaintiff's evidence nor that of his experts satisfied the referee
that
Morawetz was negligent or caused any deterioration to the plaintiff's
bottom incisor.
<P>

11	The complaint of the plaintiff as articulated by Mr Davidson before me in
the hearing was first, that the plaintiff was denied
by the tribunal copies of
the evidence provided on behalf of Morawetz and Van der Merwe in his letter of
17 June 1997 and at the
hearing on 19 June 1997 and in his telephone call of 8
September 1997. Secondly, the plaintiff claims that at the third hearing
insufficient
time was afforded to permit the plaintiff an opportunity to
examine the material filed, particularly the evidence of Warwick Harty,
refuting the evidence filed on behalf of the plaintiff, and thirdly, that he
was not afforded an opportunity to reply to that statutory
declaration. There
was considerable evidence before me by way of affidavits and their exhibits and
correspondence at the hearing
and the subsequent correspondence between the
various parties. It is clear, and I accept this, that the plaintiff feels a
sense of
grievance that the two dentists were supplied with his evidence and he
was not supplied with theirs. He feels that there is an injustice
in that the
parties were not treated in the same ways. 
<P>

12	It is accepted by Mr Davidson on the plaintiff's behalf that the tribunal is
obliged to furnish to those against whom a complaint
is made, copies of the
material. It must be remembered that Consumer Claims Tribunals are intended to
be informal proceedings and
that the intention is to expeditiously and
inexpensively resolve disputes. The tribunal gave some five hours of hearing.
Although
the plaintiff said that he was intimidated by the time provided to him
in examining particularly Warwick Harty's evidence, which
was supplied at the
hearing of 10 October 1997 in answer to his own, which evidence refuted the
contention that the damage to the
tooth was done by some action of Morawetz, he
does not allege in evidence or otherwise that there was any action on the part
of the
referee to prevent him from reading the material. 
<P>

13	Although I accept  that he felt intimidated by the fact that people were
looking at him as he read, he does not allege and cannot
point to any action
which denied him an opportunity to properly examine the material. The plaintiff
is an articulate, forthright
and assertive person who does not appear to me to
be readily intimidated, although I accept that he felt so intimidated.
<P>

14	In the light of the function of the tribunal in its speedy and expeditious
disposal of claim (<i>Singer v Statutory and Other Officers Remuneration
Tribunal</i>  <a href="/cgi-bin/LawCite?cit=%281986%29%205%20NSWLR%20633" title="View LawCiteRecord" class="autolink_findcases">(1986) 5 NSWLR 633</a> at p.635), I do not feel that any evidence has
been put before me to show that the plaintiff was denied natural justice in not
being
furnished material which he said he sought. I do not accept his evidence
in the light of his cross-examination and the lack of clear
corroboration in
the material, written and filed by him, that he requested written material, in
his telephone call of 8 September
1997 but even if he had the relevant,
significant evidence of Warwick Harty had not yet been filed before the
tribunal. Even if the
June and July material had been furnished at that stage,
this would not have altered the result.
<P>

15	The rules of natural justice apply to the tribunal, not the registry. It is
not the registry's function to provide that material.
I do not accept that at
the third hearing there was insufficient time afforded to the plaintiff to
examine the material. He says
that he was given either between five and
thirteen minutes to examine it although there is no evidence that his
examination of the
material was terminated in any way. The termination was of
his own choosing.
<P>

16	It is conceded that the plaintiff did not seek an adjournment to answer
Warwick Harty's report.
<P>

17	His request for the material being forwarded to him in his statutory
declaration of 12 October was denied, being a decision made
by the tribunal
after the conclusion of the hearing. His application did not set out that he
had been prejudiced by the evidence
of Warwick Harty he was simply seeking the
furnished material, on the basis that the two dentists had had it furnished to
them and
that he should have theirs furnished to him. The plaintiff's reasons
furnished to the referee of 10 October 1997, in the light of
the fact that the
hearing had been concluded, did not show that if he had been granted an
opportunity to furnish additional material
a different result would have
ensued. There was nothing in that statutory declaration that would reasonably
support a request for
further re-opening of the hearing and it has not been
shown to the Court that any denial of natural justice occurred thereby.
<P>

18	In the High Court in <i>Stead v SGIO</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1986/54.html" title="View Case" class="autolink_findcases_inserted">[1986] HCA 54</a>;  <a href="/cgi-bin/LawCite?cit=%281986%29%20161%20CLR%20141" title="View LawCiteRecord" class="autolink_findcases">(1986) 161 CLR 141</a> held that not
every departure from the rules of natural justice at a trial will entitle an
aggrieved party to a new trial. All that
an appellate needs to show is that the
denial of natural justice deprived him of a successful outcome. It is necessary
for the appellate
court to find that a properly conducted trial could not
possibly have produced a different result. 
<P>

19	In terms of the reasons put forward by the plaintiff in his statutory
declaration of 12 October he did not therein clearly articulate
that he
required an opportunity to refute the evidence of Warwick Harty. I do not see
any basis in the light of the evidence, at
that stage, before the tribunal and
in the articulated reasons furnished by the tribunal, that even evidence that
completely answered
Warwick Harty's evidence could have altered the evidentiary
balance in favour of the plaintiff. The issue of grinding had arisen
at the
second hearing. There was ample opportunity for the plaintiff to answer that.
The evidence of grinding as a basis for the
chip was also adduced at the third
hearing. The plaintiff has not shown that even if he had been furnished an
opportunity to produce
further evidence that he could have produced evidence to
show that the grinding could not have produced the chip therefore even if
the
referee had breached the rules of natural justice the plaintiff has not shown
that such evidence would have produced a different
result. The onus is on the
plaintiff to show evidence which would have negatived the evidence of Morawetz,
in the first place, and
in particular Warwick Harty at the final hearing. I do
not find that he was denied the opportunity to produce the evidence but. He
had
not shown this court, the evidence that he would have produced to change the
result. He therefore fails the test in <i>Stead</i>. 
<P>

20	There was no evidence before the tribunal either at the hearing or
subsequently that the plaintiff was under any disadvantage
and there is no
obligation on the tribunal under the Act to furnish copies of any statutory
declarations filed by a respondent: <i>Hodgekinson v Companies Auditors and
Liquidators Board</i>  <a href="/cgi-bin/LawCite?cit=%281994%29%2050%20FCR%20504" title="View LawCiteRecord" class="autolink_findcases">(1994) 50 FCR 504.</a>  And Archcom Pty Ltd v CCT, unreported
decision of Simpson J of this Court of 29th September 1995.
<P>

21	In my view the plaintiff has failed to establish any denial of natural
justice in respect of any of the three claims made by
out by him. The Amended
Summons is therefore dismissed. An application has been made by the first
defendant for costs. In the light
of the plaintiff failing to succeed in this
hearing I can see no basis for making a finding other than in terms of the
normal principle
that costs should follow the event and therefore I allow the
first defendant costs against the plaintiff. I make no order for costs
in
respect of any of the defendants. 
<P>

	
<P>

22	The orders that I make therefore are as follows;
<P>

		1. The Amended Summons is dismissed.
<P>

		2. The plaintiff should pay the costs of the intervener.
<P>

		3. I make no order as to the costs of the defendants.
<P>

oOo
<P>

LAST UPDATED: 	04/05/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/74.html</i><br>
</p>
</small>
</body>
</html>
