<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Miglietta v Biesiada [1999] NSWSC 1206 (13 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1206</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1206 or 1999+NSWSC+1206">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Miglietta v Biesiada [1999] NSWSC 1206 (13 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1206.html-->
<!--sino date 13 December 1999-->


<P>Last Updated: 13 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Miglietta v Biesiada  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1206.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1206</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	5205/93
<P>

HEARING DATE{S): 	15, 16, 17 and 18 February, 10 and 11 May 1999
<P>

JUDGMENT DATE: 	13/12/1999
<P>

 PARTIES: 
<P>

Bruno Miglietta (P)
<P>

Jenny Biesiada (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr L. R. De Vere Tyndall (P)
<P>

Mr M. Evans with Miss B. Vukadinovic (D)
<P>

SOLICITORS: 
<P>

Browne Jeppesen &amp; Sligar (P)
<P>

Nowacki &amp; Company (D)
<P>

CATCHWORDS: 
<P>

De facto relationship
<P>

Existence asserted by plaintiff and denied by defendant
<P>

Credibility of respective testimony of parties
<P>

Factors relevant to conclusion as to whether a de facto relationship existed
<P>

Respective contributions of each party.
<P>

ACTS CITED: 
<P>

De Facto Relationships Act 1984
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/pa1984298/" class="autolink_findacts">Property (Relationships) Act 1984</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act 1987</a>
<P>

DECISION: 
<P>

1. I order that the defendant pay to the plaintiff the sum of $20,000
<P>

2. I make no order as to costs, to the intent that each party will bear his or
her own costs of the proceedings.
<P>

JUDGMENT: 
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Monday, 13 December 1999</i>
<P>

<b>5205/93	BRUNO MIGLIETTA   -v-   JENNY BIESIADA</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:   </b>These are proceedings under the <i>De
Facto Relationships Act</i> 1984 (now known as the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/pa1984298/" class="autolink_findacts">Property (Relationships)
Act </i>1984</a>).
<P>

2   	The proceedings were instituted by statement of claim filed
by the plaintiff Bruno Miglietta on 24 November 1993. 
<P>

3   	Essentially, it was the case for the plaintiff that for a
period of more than twenty years, from about 1971 until 1991 he and
the
defendant Jenny Biesiada lived in a de facto relationship. The plaintiff
asserted that from about 1971 until 1978 they lived
together in such a
relationship at Andamooka in South Australia and that from 1978 until 1991 that
de facto relationship continued
at Lightning Ridge in New South Wales. He
asserted that throughout the period from about 1971 until 1991 (except for
relatively short
absences when he made trips back to his homeland, Italy, and
visits to other parts of Australia) he and the defendant occupied the
same
residence, slept in the same bedroom, in the same bed, and engaged in sexual
activity once or twice a week. Further, the plaintiff
contended that, by reason
of his asserted contributions towards the business enterprises of the
defendant, he was entitled to an
order in respect to the property of the
defendant. 
<P>

4   	The defendant totally denied the existence of such a de
facto relationship. She denied that she and the plaintiff had ever
lived
together, that she and the plaintiff had ever slept in the same bedroom, let
alone in the same bed, and denied that they had
ever engaged in sexual
activity. The defendant denied any involvement on the part of the plaintiff in
her business enterprises.
<P>

5   	The defendant did, however, concede that she was acquainted
with the plaintiff. She said that at one stage she had allowed
the plaintiff to
rent her shop for the conduct by him of his opal activities, and that at
various times, both in Andamooka and in
Lightning Ridge, she had employed the
defendant on a part-time basis as a projectionist in the drive-in cinema which
she had conducted
at each of those locations. In her words, however, he was
just a casual employee. 
<P>

6   	It is difficult, if not impossible, to reconcile the
totally conflicting versions of their acquaintanceship which have been
presented respectively by the plaintiff and by the defendant. Despite a natural
reluctance to conclude that one or other of the parties
to litigation is
deliberately lying, it is in the instant case impossible for me to explain the
total divergence between the assertions
of the plaintiff and the responses of
the defendant concerning the nature of their contact and acquaintance upon the
basis of faulty
memory or genuine mistake. One or other of them must be
deliberately attempting to mislead the Court. 
<P>

7   	It will be necessary for me, therefore, in due course to
express my views concerning the credibility of the testimony of each
of the
plaintiff and the defendant.
<P>

8   	The plaintiff was born in Italy on 7 September 1933 (and is
presently 66 years of age). He served in the French Army (apparently
in the
Foreign Legion) for five years, and subsequently worked in France as a mechanic
for four years, before coming to Australia
in 1967. He later became naturalised
as an Australian citizen. 
<P>

9   	When he first arrived in Australia it would appear that the
plaintiff worked in the mining industry in Kalgoorlie in Western
Australia for
a period of several years, until about 1969 or 1970, when he removed to
Andamooka. He said that when he arrived at
Andamooka he lived in his motor car
and in a tent, which he located near the creek at Andamooka. Those residentiary
arrangements
obtained for a period, apparently of some months, until a time
when, having become acquainted with the defendant, who was residing
in a house
in the vicinity of the creek, the plaintiff rented from her a shed, which he
described as being on top of the hill. The
plaintiff said that he paid rent to
the defendant for that shed for a period of only about two weeks, before moving
into residence
in the defendant's house. 
<P>

10   	During the period from his arrival at Andamooka the
plaintiff was digging for opal upon a claim which he had registered in
his name
with the Department of Lands of South Australia. Apparently that claim was for
a period of twelve months, but, not having
succeeded in finding any opals in
the land which was the subject of the claim, the plaintiff did not renew that
claim upon its expiry.
<P>

11   	According to the plaintiff, the de facto relationship
commenced when he moved from the shed which he had been renting from
the
defendant into the house occupied by the defendant.
<P>

12   	Thereafter, according to the plaintiff, for the next
twenty years he assisted the defendant with her opal activities in Andamooka
and later in Lightning Ridge, worked for her as a part-time cinema
projectionist (having first received instruction in such  activity
from Mr Gino
Scopel, the owner of the drive-in cinema at Andamooka), and lived in the
various residences which she occupied, firstly
in Andamooka and later in
Lightning Ridge.
<P>

13   	I have already referred to the totally conflicting
versions of their acquaintanceship and relationship which have been presented
by the two parties. It is appropriate, therefore, that I should now proceed to
a consideration of the credibility of each of those
persons and of the reliance
which should be placed upon their respective testimony. 
<P>

14   	There were a number of inconsistencies in the plaintiff's
evidence (which was given in English). For example, his statement
under
cross-examination that he did not work in the defendant's opal shop, but that
he used machinery to cut opals in the shop, was
inconsistent with his affidavit
evidence. During the first day of his cross-examination the plaintiff said that
he maintained no
bank account whilst he was residing at Andamooka. However,
under cross-examination on the following day he was shown a bank passbook
which
contained various entries, including one for 26 November 1971 relating to a
deposit made by him at Andamooka. The plaintiff
then agreed that the evidence
which he had given on the previous day, that he had no bank account whilst
residing in Andamooka, was
false.
<P>

15   	Further, under cross-examination the plaintiff said that
his trip to Italy in June 1973 for a period of two months was paid
for by the
defendant, although he did not remember how much she paid. He suggested,
perhaps, an amount of $2,000 in cash. However,
no mention was made of the
plaintiff's affidavit evidence of any money having been given to him by the
defendant for a trip to Italy
in 1973. 
<P>

16   	Despite the denial by the plaintiff that in Lightning
Ridge he had worked as an opal miner or as an opal cutter, there were
admitted
into evidence invoices issued by the plaintiff in 1986 upon the printed
letterhead of the plaintiff on which he is described
as "Opals Miner &amp;
Cutter".
<P>

17   	The plaintiff under cross-examination constantly sought
refuge in the response, "I don't remember". That response did not
engender in
the Court confidence in the reliability or accuracy of the evidence given by
the plaintiff, especially since the response
was usually given when the
plaintiff under cross-examination was confronted with a question the answer to
which almost certainly
(if the plaintiff had had some recollection of the
incident or event about which he was being questioned) would have been
inconsistent
with the assertions made in his affidavit evidence. 
<P>

18   	The defendant, who was born on 3 October 1923 (and is
presently aged 76) was born in Poland, where she obtained tertiary
qualifications
as an economist. She migrated to Australia in January 1960, and
at the outset resided with her brother, Tadeusz Rogowski, in Port
Augusta in
South Australia. Subsequently she and her brother moved to Andamooka, and the
defendant established herself as an opal
buyer for a family business located in
Hong Kong (the Matrix Company). The defendant also became naturalised as an
Australian citizen.
<P>

19   	For some time the defendant continued to reside with her
brother, until the marriage of the latter in 1964. In Andamooka the
defendant
engaged in mining opal claims; she also conducted a store, which appears to
have been established by her brother and herself
in about 1964. Later, in 1971,
she acquired the Andamooka drive-in cinema.
<P>

20   	The defendant at the outset of her testimony gave her
evidence through a Polish interpreter. This was done at the request
of her
Counsel. I would here observe that neither the defence (which was verified by
affidavit of the defendant sworn on 16 August
1994) nor either of the two
affidavits of the defendant (sworn on, respectively, 27 August 1997 and 31 July
1998) contains any suggestion
that the affidavit was, or needed to be,
translated to the defendant before it was sworn by her. 
<P>

21   	As the evidence of the defendant proceeded, it became
abundantly clear that she fully and completely understood the English
language.
Indeed, on many occasions she responded in English to a question asked of her
in English before the interpreter had an
opportunity to translate the question
into the Polish language. When I raised with Counsel for the defendant the fact
that the defendant
appeared to be fully able to understand English, he agreed
that she could understand the questions. However, Counsel requested that
the
services of the interpreter still be retained because, according to Counsel,
the defendant had difficulty in expressing herself
in English.
<P>

22   	In those circumstances, I allowed the plaintiff to
continue to give her evidence through the interpreter, but I required that
the
totality of her evidence (both questions and answers) should be given through
the interpreter, and that her evidence should not
be given in some  hybrid form
of Polish and English. Concerning the ability of the defendant to communicate
in English, it should
be noted that under cross-examination she said that she
always communicated with the plaintiff in English, and that throughout the
period from 1971 to 1991 she spoke in English to everyone and she wrote in
English. 
<P>

23   	I regarded the defendant as a totally unsatisfactory
witness. Her evidence was given with vehemence and enthusiasm --- and
completely without restraint. On many occasions her answer was not responsive
to the question asked. The defendant appeared to be
using the cross-examination
as a vehicle for expressing her version of the relationship between herself and
the plaintiff (in a manner
always totally to the detriment to the plaintiff),
without the faintest regard to whether or not her outbursts were even relevant
--- let alone responsive --- to the question asked of her.
<P>

24   	On more than one occasion whilst she was in the witness
box the defendant complained of physical distress on account of elevated
blood
pressure. If those complaints were genuine, they were not the result of any
questions asked of her under cross-examination.
They were the result solely of
outbursts which she chose to make, which were in no way responsive to questions
properly asked of
her by Counsel for the plaintiff. 
<P>

25   	The evidence of the defendant concerning her assets and
liabilities was totally unsatisfactory. In the course of her cross-examination
there emerged various matters which either had not been mentioned at all in her
affidavit evidence or concerning which a completely
different impression had
been given by her affidavit evidence.
<P>

26   	Those matters included the disclosure that the house
property in which she resided in Andamooka had been bought by the defendant
from Gino Scopel in about 1975, and that she still owned that house property to
the present time. Further, that the defendant also
owned five other houses
(which she described as huts) in Andamooka. For those huts, which are held by
her on leasehold, the defendant
pays rent of $200 a year, although she asserted
that none of those properties was of any value.
<P>

27   	When asked to explain why in her affidavit evidence she
had made no reference to any of those items of real property, the
defendant
attempted to explain that omission firstly by saying, "nobody asked me", and
then by saying that the properties were "of
no value" and that she had been
trying to sell the freehold house for the past fifteen years. Those two
explanations are not entirely
consistent. 
<P>

28   	I also regarded the evidence of the defendant concerning a
trip to Japan with various items (including a fossilised Plesiosaur
skeleton, a
fossilised opal fish and various small stones and rock specimen) as totally
unsatisfactory.
<P>

29   	Since the hearing of this matter had not concluded in the
four days allocated by the Court (upon the basis of the estimate
given at
call-over by the legal representatives of the parties), the hearing was
adjourned for a period of almost three months. At
the resumption of the hearing
on Monday, 10 May 1999 Counsel for the defendant informed the Court that on the
preceding Friday, 7
May, the defendant had terminated the instructions of her
solicitor, and that, in consequence, Counsel was being directly retained
by the
defendant herself. 
<P>

30   	Counsel for the defendant also informed the Court that the
defendant (who on 18 February 1999 had given her evidence through
a Polish
interpreter) would no longer be availing herself of the services of an
interpreter and would be giving the entirety of her
evidence in English. 
<P>

31   	The views which I had already formed concerning the
ability of the defendant to understand the English language were confirmed
when
she continued to give her evidence in English. It was quite apparent that the
defendant had an excellent understanding of the
English language, and that
there had been no need whatever for her to have availed herself (as she did) of
the advantages of giving
her evidence through an interpreter. 
<P>

32   	The defendant continued to present her evidence in a most
vehement and totally unrestrained manner. Very frequently her answers
were not
responsive to the question asked, and were employed by her a vehicle for making
self-serving statements and for volunteering
matters which she obviously
thought would assist and be of advantage to her case. Much of her evidence I
considered was deliberately
fabricated and was intentionally false. 
<P>

33   	During the early part of her evidence upon the resumption
of the hearing it became obvious that a source of the defendant's
intense
animus and complaint against the plaintiff was that he had not paid the
defendant for opals which, according to her, he had,
at her request, taken with
him to sell in Italy on one of his visits to that country. (The date of that
alleged incident did not
emerge from the evidence.)
<P>

34   	I have already observed that it was the case for the
defendant that she hardly knew the plaintiff, that the only relationship
between them was that he had worked as a part-time casual employee (or even
that he had worked only in a voluntary capacity) in the
drive-in cinemas which
the defendant had conducted sequentially at Andamooka and at Lightning Ridge.

<P>

35   	However, in the course of her evidence on 10 May the
defendant was caught out in a number of lies. These included a denial
that she
knew what happened to the plaintiff at the time when she departed Andamooka for
Lightning Ridge in July 1979. The defendant
was eventually forced to admit that
the plaintiff had, in fact, travelled to Lightning Ridge with her in her motor
car. The defendant
then denied that it was in her motor car that they
travelled, and asserted that the motor vehicle belonged to the plaintiff. That
was despite the defendant's answer given only a few minutes previously in which
she had denied that the plaintiff at that time owned
a motor car. Shortly after
her denial, her subsequent admission, and her later denial in respect to the
identity of the motor car
in which they were travelling during the conjoint
removal of herself and the plaintiff from Andamooka and Lightning Ridge, the
defendant
then said that she now "cannot remember". The defendant also in the
course of her evidence on this point volunteered that the plaintiff
had
requested her to "give him under the table $8,000, for not pay tax". That
gratuitous assertion can only have been intended to
injure the plaintiff by
suggesting that he desired to participate in deceitful and illegal conduct.
<P>

36   	Further, for someone who, as she asserted, hardly knew the
plaintiff except as a casual part-time employee in a drive-in cinema,
it is
more than passing strange, and is totally inconsistent with her assertions,
that the defendant, as she admitted, gave money
to the plaintiff, about $1,500,
to finance a prospecting trip by him and two companions to Queensland in the
early 1980s and that
the defendant had in fact accompanied the plaintiff on
that trip, which extended over a period of about one month.
<P>

37   	In January 1982 the plaintiff was injured in a motor
vehicle accident whilst he was visiting Newcastle. As soon as she received
word
of that accident the defendant travelled to Newcastle from Lightning Ridge to
look after the plaintiff whilst he was in hospital,
and then when he was
recuperating. 
<P>

38   	Further, when the plaintiff suffered another motor vehicle
accident some seven years later, in 1989, near Moree, the defendant,
who had
been travelling with the plaintiff at the time of that accident, again provided
care for the plaintiff during the period
whilst he was recuperating.
<P>

39   	Although the defendant, both in her affidavit evidence and
in her oral evidence, asserted a fear of the plaintiff (who, she
said, owned a
pistol), under cross-examination the defendant, somewhat inconsistently, denied
that the plaintiff was a strong man.

<P>

40   	The vehemence of the defendant in asserting, in
emphasising, in repeating, and in then further asserting, emphasising and
repeating, time and again during her evidence, that she did not trust the
plaintiff, was totally inconsistent with her conduct in
purchasing with the
plaintiff, as joint tenants, land at 45 Morilla Street, Lightning Ridge in
1981, and then having a residence
constructed upon that land. The defendant
conceded that upon completion of the construction, she and the plaintiff moved
into residence
at that address in July 1982. It was asserted by the defendant,
however, that she lived in the front part of the structure on that
land, whilst
the plaintiff resided in what she described as a "portable home" at the rear of
that structure.
<P>

41   	The defendant conceded that the plaintiff had contributed
$5,000 to the purchase of the Morilla Street property, but she said
that he
made no other contribution to the purchase price or to the construction of the
residence on the land.
<P>

42   	The defendant at the relevant time maintained a post
office box, being P.O. Box 273, Lightning Ridge, and she agreed that
that post
office box was used by the plaintiff as well as by herself.
<P>

43   	The unreliability of the defendant's evidence was also
manifest in the fact that to the date of hearing she still retained
ownership
of five properties at Andamooka, which assets were not referred to in her
affidavit evidence or in her oral evidence in
chief, and the existence of which
only emerged during the course of her cross-examination. The defendant
attempted to explain that
omission by saying that she wanted to sell those
properties, and that they constituted nothing more than a nuisance for her, and
that they were of little if any value. 
<P>

44   	I have already referred to the unsatisfactory nature of
parts of the evidence of the plaintiff. However, those unsatisfactory
aspects
of the plaintiff's evidence are as nothing compared to the deliberate lies
which I am satisfied were constantly perpetrated
by the defendant throughout
the course of her evidence. Despite the unsatisfactory aspects of the evidence
of the plaintiff, I preferred
his evidence to that of the defendant.
<P>

45   	Where the only evidence concerning any matter in issue in
these proceedings consists of an assertion by one party and a denial
by the
other party, and concerning which there is no other evidence, either
documentary or oral, I prefer the evidence of the plaintiff
to that of the
defendant.
<P>

46   	The first question which must be decided is whether or not
there existed a de facto relationship between the plaintiff and
the defendant.
In <i>Roy v Sturgeon</i>  <a href="/cgi-bin/LawCite?cit=%281986%29%2011%20NSWLR%20454" title="View LawCiteRecord" class="autolink_findcases">(1986) 11 NSWLR 454</a> Powell J (as he then was) spoke
(at 458 - 459) of each case involving the Court making a value judgment, having
regard to a variety
of factors relating to the particular relationship, those
factors including, but not being limited to, the following:
<P>

&#183;	The duration of the relationship.
<P>

&#183;	The nature and extent of the common residence.
<P>

&#183;	Whether or not a sexual relationship existed.
<P>

&#183;	The degree of financial interdependence, and any arrangements for
support, between or by the parties.
<P>

&#183;	The ownership, use and acquisition of property.
<P>

&#183;	The procreation of children.
<P>

&#183;	The care and support of children.
<P>

&#183;	The performance of household duties.
<P>

&#183;	The degree of mutual commitment and mutual support.
<P>

&#183;	Reputation and "public" aspects of the relationship.
<P>

Some of those factors, for example those relating to children, have no
relevance to the instant case.
<P>

47   	In the instant case, I am satisfied upon the balance of
probabilities that a relationship obtained between the parties from
1971 until
1991, and that throughout the totality of that period (interrupted only by
journeys to Italy and to other places in Australia
by the plaintiff) the
parties occupied a common residence, in which they regularly slept in the same
bedroom in the same bed. Despite
the denials of the defendant, I am satisfied
that a sexual relationship existed between the parties. 
<P>

48   	According to the plaintiff, whilst he was a part-time
employee of the defendant he was paid only intermittently, in cash,
and only
when he requested some money from the defendant. Despite the defendant's
assertion that she complied with the taxation law
and provided group
certificates for the plaintiff and any other casual part-time employees who
worked at the drive-in cinemas, the
defendant could produce no documentary
material to substantiate that assertion.
<P>

49   	I accept the plaintiff's evidence that it was the
defendant who controlled the financial aspects of the relationship. For
her to
do so was quite understandable, since the defendant had business experience
(she had conducted a store, opal businesses and
drive-in cinemas) and held
tertiary qualifications as an economist, whilst the plaintiff appears to have
been without business or
commercial experience.
<P>

50   	Upon their arrival in Lightning Ridge from Andamooka the
plaintiff and the defendant resided in a property owned by Gino Scopel
and his
wife Sylvana Scopel, although it was the assertion of the defendant that whilst
she resided in the house, the plaintiff lived
in a caravan on that property.
The plaintiff asserted that they both had lived in the house. Mr and Mrs Scopel
were absent in Italy
during this period.
<P>

51   	I have already referred to the purchase of the Morilla
Street property by the parties as joint tenants. The plaintiff contributed
$5,000 from his savings to the purchase price of $10,000. Subsequently the
plaintiff, according to the defendant, was paid by her
amounts totalling
$39,000, that total amount being, so it was asserted by the defendant,
sufficient to compensate the plaintiff for
his interest in that property. On 12
June 1990 the plaintiff, at the request of the defendant, contracted to sell to
the defendant
his interest in the Morilla Street property, for a price of $2.
That contract was completed on 22 April 1991.
<P>

52   	It should also be noted that the transfer by the plaintiff
to the defendant of his interest in the Morilla Street property
was made after
the plaintiff had received legal advice. Further, there has been no attempt on
the part of the plaintiff to impugn
that transaction, either by way of
proceedings under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act</i> 1987</a> or by proceedings under the
general law. The present claim of the plaintiff under the <i>De Facto
Relationships Act</i> has proceeded upon the basis that the transfer to the
defendant of the plaintiff's interest in that property was a legally
enforceable
and proper transaction.
<P>

53   	It is also relevant to the transfer of the plaintiff's
interest in the Morilla Street property that on 22 March 1987 he executed
a
statutory declaration (Exhibit 4), in which he declared as follows,
<P>

That in consideration of $2,200, advanced for trip to Italy and over $1,800
advanced to cover expenses while recuperating from accident,
also opal supplied
for trips to Italy, I hereby rescind all claim to my share in the property at
45 Morilla Street, in which I was
in partnerships with Jenny Biesaida of the
same address.
<P>

The property is herein described as allotment 21 of Section 11, in the town of
Lightning Ridge in the Shire of Walgett, Parish of
Wallangulla, County of
Finch.
<P>

54   	There was relatively little evidence concerning the
performance of household duties, but it would appear that whatever household
duties were performed, were essentially the responsibility of the defendant.
The plaintiff certainly agreed that the defendant cooked
his meals.
<P>

55   	As to the degree of mutual commitment and mutual support,
there was evidence concerning what might be described as a business
relationship between the plaintiff and the defendant, by which the defendant
allowed the plaintiff the use of her facilities to perform
certain opal
activities, and entrusted to the plaintiff opals belonging to her for sale on
consignment in Italy. (As I have already
observed, the apparent non-payment by
the plaintiff for the sale of such opals appears to have given rise to the
extreme animus now
manifested by the defendant against the plaintiff.)
<P>

56   	As to the reputation and public aspects of the
relationship, a number of affidavits were filed and deponents were
cross-examined.
<P>

57   	Mrs Eleanor Lyons might be regarded as a mainstay of the
town of Andamooka where she has resided since 1965 and where she
conducts the
general store. She was what could be described as an impartial witness, whom I
regarded as being completely honest and
desirous of helping the Court without
preference for one or other of the parties to the proceedings. Mrs Lyons, who
in the course
of her evidence referred to the nature of relationships between
various members of the opal mining community in Andamooka, did not
know what,
if any, was the nature of the domestic arrangements between the plaintiff and
the defendant. She said that whenever the
defendant came to do her shopping at
Mrs Lyons' general store she was not accompanied by the plaintiff. To the
knowledge of Mrs Lyons
the plaintiff was, however, associated with the
defendant in her opal business and he worked for her at the cinema in
Andamooka.
Mrs Lyons said that she would almost certainly have heard gossip
around the town if the plaintiff and the defendant had been living
in a
relationship.
<P>

58   	Affidavits relevant to the existence of the de facto
relationship were also sworn by Peter Milas and Lucia Veronica Miesel
(on
behalf of the plaintiff) and by the defendant's brother Tadeusz Rogowski, Gino
Scopel and Sylvana Scopel (on behalf of the defendant).

<P>

59   	Mr Milas had been acquainted with the plaintiff since the
late 1960s in Western Australia, and had met him again in Andamooka
in 1970 and
had maintained his friendship both there and in Lightning Ridge (whither Mr
Milas had gone in 1978, several months after
the plaintiff and the defendant
had moved there). He said of the plaintiff and the defendant in his affidavit
that he "always saw
them together", and that from his observation the plaintiff
and the defendant went everywhere together. The degree of contact between
Mr
Milas and the parties, both in Andamooka and in Lightning Ridge, suggested in
his affidavit was not, however, entirely supported
by his own oral evidence
under cross-examination.
<P>

60   	Mrs Miesel described in considerable detail the
circumstances in which, as she asserted, the defendant had defrauded her of
at
least $78,000 in respect of a large opal matrix, and she recounted how that
conduct on the part of the defendant had, according
to her, been the cause of
the financial disasters which had beset Mrs Miesel and her husband. Mrs Miesel
concluded her oral evidence
by saying that she did hate the defendant when the
incident originally occurred, but that she did not hate the defendant any more,
she just felt sorry for her, and that the defendant must be a most unhappy
person. 
<P>

61   	Each of Mr Milas and Mrs Miesel gave evidence of
observations of the domestic arrangements of the plaintiffs and the defendant,
which observations would tend to support the existence of a relationship in
which the parties were living as a husband and wife.
However, in the light of
the responsibility which Mrs Miesel attributed to the defendant for the
financial disasters which Mrs Miesel
and her husband had suffered, it may be
necessary to discount, to an extent, the reliance to be placed upon the
evidence of Mrs Miesel.

<P>

62   	The defendant's brother, Mr Rogowski, in his affidavit,
said that he first met the plaintiff in about March 1973 in Andamooka,
but that
he did not develop any personal association with him and did not socialise with
him. According to Mr Rogowski, his sister
the defendant resided with him in
Andamooka from 1963 until 1979, and throughout the entire time whilst the
defendant resided in
Andamooka she lived with her brother and his family. Mr
Rogowski said that the plaintiff did not come to his residence socially while
Mr Rogowski was present, and that to his knowledge the plaintiff never stayed
overnight at his residence. Mr Rogowski also said that
the plaintiff had never
worked, with the permission of himself and his sister, on their opal claim, and
that he never saw the plaintiff
work on his opal claim. Mr Rogowski asserted
that during his absence on a trip to Poland in the mid-1970s his bulldozer was
damaged,
apparently seriously, that being an incident for which he regarded the
plaintiff as being responsible.
<P>

63   	Mr Rogowski was cross-examined on his affidavit.
Essentially, he would have had the Court believe that he hardly knew the
plaintiff. He said that he was "not interested in the plaintiff", that he had
"nothing to do with him". He said that, although he
saw the defendant talking
with the plaintiff sometimes, it was not very often. Throughout the period from
1973 to 1979, whilst Mr
Rogowski was residing at Andamooka, he said that he saw
the plaintiff "maybe once a week, maybe, maybe not". 
<P>

64   	Mr Rogowski conducted the kiosk at the drive-in cinema at
Andamooka (at which it will be appreciated the plaintiff was employed
by the
defendant as a part-time projectionist). During the course of his evidence Mr
Rogowski inadvertently volunteered the information
that the defendant had paid
the plaintiff in cash. Of course, it will be appreciated that both the
defendant and her brother asserted
that there was no business relationship
between the plaintiff and the defendant. Mr Rogowski also said --- what can
hardly have been
the truth --- that he did not know where the plaintiff lived
in Andamooka. He further said that he did not know that the plaintiff
was doing
business with the defendant. 
<P>

65   	At the outset of his cross-examination Mr Rogowski made
the startling assertion that he had not read his affidavit before
signing it,
and that he did not know if it was true or correct. In due course, during
submissions, I invited Counsel for the defendant
to make any comment which he
might wish upon the evidence of Mr Rogowski. Counsel pointed to the fact that
the solicitor who had
prepared the affidavit (being the former solicitor for
the defendant) was a Polish speaking solicitor. Counsel said that otherwise
he
wished to say nothing concerning the assertion by Mr Rogowski that he had not
read his affidavit and that he did not know if it
was true or correct. 
<P>

66   	Mr Rogowski gave evidence of having found a pistol in the
defendant's room at the rear of the Morilla Street premises at Lightning
Ridge.
He said that he had taken a box containing that pistol to the police station
where he had been given a receipt (which was
admitted into evidence as Exhibit
10). There appears to be no adequate explanation as to how it came about that
the defendant's brother
(who said that he hardly knew the plaintiff, and that
there was no relationship between the plaintiff and the defendant) was
searching
through the property of the plaintiff.
<P>

67   	I considered that the testimony of Mr Rogowski was almost
as unreliable as that of his sister. 
<P>

68   	Reference has already been made to Mr Gino Scopel and his
wife Mrs Sylvana Scopel, who had owned the drive-in cinema at Andamooka,
which
was subsequently sold to the defendant, and who later owned the drive-in cinema
at Lightning Ridge, which also was subsequently
acquired from them by the
defendant. An affidavit was sworn by each of Mr and Mrs Scopel. However,
neither of those deponents was
available for cross-examination, and their
affidavits were not admitted into evidence. Apart from an assertion by the
defendant during
the course of her oral evidence under cross-examination that
the Scopels were unwell and that Mrs Scopel had been suffering from
what was
described as "women's problems" (which I rather gathered from the nature of the
description proffered by the defendant to
have been a hysterectomy), there was
no evidence to explain the absence of either Mr or Mrs Scopel. Since affidavits
of Mr and Mrs
Scopel had been prepared on behalf of the defendant and had been
filed on her behalf, they can be regarded as witnesses whose evidence
the
defendant considered to be relevant to her case. In their absence, I am
entitled to infer, in the circumstances which obtain,
that no evidence of Mr
and Mrs Scopel would have advanced the case of the defendant.
<P>

69   	I do not agree with the submission made by Counsel for the
defendant that the appropriate inference to be drawn from the absence
of Mr and
Mrs Scopel is that their evidence would not assist the case for the plaintiff.
Such a submission disregards the fact that
it was on behalf of the defendant
that affidavits of these witnesses had been prepared and filed. In such
circumstances, it is not
reasonable to expect that at the trial the plaintiff
should rely upon their affidavits and arrange (presumably by the issue of
subpoenas)
for the attendance of the deponents, who would then be
cross-examined at the instance of the defendant. 
<P>

70   	In the light of the views which I have already expressed
concerning the respective credibility of each of the parties, and
in
consequence of my preference for the evidence of the plaintiff to that of the
defendant on any issue where the only evidence consists
of an assertion by one
party and a denial by the other, unsupported by any other evidence (whether of
a documentary or oral nature),
I am satisfied that the plaintiff and the
defendant for a substantial period of about twenty years resided together; that
throughout
that period the parties conjointly worked together, both in opal
activities and, sequentially, in two drive-in cinemas; that they
conjointly
purchased land at 45 Morilla Street, Lightning Ridge (contributing equally to
the purchase price), upon which they constructed
a residence in which they
lived together, and that the interest of the plaintiff in that property was
subsequently transferred to
the defendant. Despite the denials by the
defendant, I am satisfied, upon the balance of probabilities, that a sexual
relationship
obtained between the parties throughout the period from 1971 to
1991. 
<P>

71   	It is my conclusion that the plaintiff has, upon the
balance of probabilities, established that a de facto relationship obtained
between himself and the defendant throughout the foregoing period. 
<P>

72   	That conclusion, however, is not determinative of the
present claim of the plaintiff. 
<P>

73   	Although in the statement in the claim the plaintiff
sought a lump sum payment to him by the defendant of $600,000, the relief
which
the plaintiff, through his Counsel, sought at the hearing was that he should
receive one half of the totality of the assets
of the defendant. 
<P>

74   	The only significant asset of the defendant at the
commencement of the de facto relationship appears to have consisted of
the
various pieces of real estate in Andamooka. The only evidence concerning the
value of those pieces of real estate was the otherwise
unsupported assertion of
the defendant that they were of no value. 
<P>

75   	There was no precise evidence concerning the assets of the
plaintiff at the commencement of the relationship, although I am
prepared to
accept that he had no assets other than his personal effects and a motor
vehicle (to which no value was ascribed), and
some money in a bank account.
Similarly, at the termination of the relationship the plaintiff had no assets
other than his personal
effects. He has not worked sine that time, and he is in
receipt of an invalid pension.
<P>

76   	At the termination of the relationship the only
significant asset of the defendant was the house property at Morilla Street.
Despite an attempt made by the plaintiff to file evidence of the present value
of that house property, in the face of an objection
in that regard by the
defendant, and consonant with the principles set forth in <i>Evans v
Marmont</i> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1997/331.html" title="View Case" class="autolink_findcases_inserted">[1997] NSWSC 331</a>;  <a href="/cgi-bin/LawCite?cit=%281997%29%2042%20NSWLR%2070" title="View LawCiteRecord" class="autolink_findcases">(1997) 42 NSWLR 70</a> (in particular, the joint judgment of Gleeson CJ
and McLelland CJ in Eq), I did not allow such evidence to be adduced. The
relevant
evidence was the value of the Morilla Street property at the time of
the termination of the relationship in 1991. I am prepared to
accept that the
value of $76,629 ascribed to that property in 1992 can be accepted as the value
of the property at the termination
of the relationship. 
<P>

77   	In addition, the plaintiff in her affidavit of 27 August
1997 set forth details of her assets and liabilities at that date.
Those
details are not of relevance to the present claim of the plaintiff. The
evidence is silent as to any assets or liabilities
of the plaintiff, apart from
the Morilla Street property and the various properties still owned by her at
Andamooka, at the termination
of the relationship. 
<P>

78   	It will be appreciated that the defendant paid to the
plaintiff an amount of money totalling $39,000 some time after the plaintiff
had transferred to the defendant his interest in the Morilla Street property
for a consideration of $2. (It should here be recorded
that in
cross-examination the defendant totally denied all knowledge of that contract
of sale and denied that her signature appeared
thereon; nevertheless Counsel
for the defendant during submissions conceded that it was the defendant's
signature that appeared on
that document.) It will be further appreciated that
the defendant conceded that the plaintiff had contributed $5,000 to the
purchase
of the Morilla Street property.
<P>

79   	I am satisfied that the defendant has already received an
amount equivalent to about one-half of the value of the Morilla
Street
property. 
<P>

80   	There remains only the question of whether the plaintiff
through working for the defendant, both in her opal activities and
in the
drive-in cinemas, contributed to her business enterprises to an extent for
which he has not already been adequately recompensed.
<P>

81   	Although the evidence was far from precise, it seems to me
that the defendant by his work as a part-time projectionist for
the defendant,
for which (contrary to the assertions of the defendant) I am satisfied that he
did not regularly receive a specified
wage, and by his assistance to her in her
opal activities, contributed to the business enterprises of the defendant to an
extent
for which he has not received adequate recompense, by, for example, the
provision of accommodation and sustenance for him over a
period of twenty
years, as well as intermittent payments of wages. In consequence I consider
that he has established an entitlement
to receive from the defendant a
relatively small amount of money. 
<P>

82   	I consider that the plaintiff should receive from the
defendant an amount of $20,000. Since that sum is less than the limit
of the
jurisdiction of the Local Court, the plaintiff is not entitled to receive any
costs. 
<P>

83   	Accordingly, I make the following orders:
<P>

1.	I order that the defendant pay to the plaintiff the sum of $20,000.
<P>

2.	I make no order as to costs, to the intent that each party will bear his or
her own costs of the proceedings.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	13/12/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1206.html</i><br>
</p>
</small>
</body>
</html>
