<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Pahlow-Silady v Siladi [1999] NSWSC 890 (3 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 890</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+890 or 1999+NSWSC+890">Noteup</a>]
[<a href="890.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Pahlow-Silady v Siladi [1999] NSWSC 890 (3 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_890.html-->
<!--sino date 3 September 1999-->


<P>Last Updated: 7 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Pahlow-Silady v Siladi  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/890.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 890</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

Probate List
<P>

FILE NUMBER(S): 	109172/1993
<P>

HEARING DATE{S): 	26 August 1999
<P>

JUDGMENT DATE: 	03/09/1999
<P>

 PARTIES: 
<P>

Pauline Mary Pahlow-Silady (Plaintiff)
<P>

John Siladi (Defendant)
<P>

Estate of Stephen Silady
<P>

JUDGMENT OF: 	Bergin J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

B Coles QC/J Jobson (Plaintiff)
<P>

P Jacobson QC/A Bulley (Defendant)
<P>

SOLICITORS: 
<P>

DG Stuart (Plaintiff)
<P>

O'Connor Filewood &amp; Co (Defendant)
<P>

CATCHWORDS: 
<P>

Whether statutory declaration constituted the deceased's will pursuant to s18A
of the Wills, Probate and Administration Act (NSW)
1898.
<P>

ACTS CITED: 
<P>

Wills, Probate and Administration Act (NSW) 1898
<P>

DECISION: 
<P>

Statutory declaration constituted deceased's will
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>PROBATE LIST</b>
<P>

<b>BERGIN J</b>
<P>

<b>FRIDAY 3 SEPTEMBER 1999</b>
<P>

<b>109172/93 - PAULINE MARY PAHLOW-SILADY v JOHN SILADI</b>
<P>

<b>Estate of STEPHEN SIDADY</b>
<P>

<b>JUDGMENT</b>
<P>

1   	The plaintiff made application for a grant of Letters of
Administration of the Estate of the late Stephen Silady (the deceased)
by
summons filed on 9 June 1993.
<P>

2   	The matter was heard by Santow J on 6 July 1994 when the
issue for determination was whether a statutory declaration made by
the
deceased on 9 April 1983 constituted his valid will pursuant to s18A of the<b>
Wills, Probate and Administration Act NSW (1898) </b>(the Act).
<P>

3   	The terms of the statutory declaration are as follows:
<P>

<b><i>Statutory Declaration</i></b>
<P>

<i>I, STEPHEN SILADY, Company Director, of 152 Greville Street Chatswood West,
in the state of New South Wales, do hereby solemnly declare
that in the event
of my death, my one-third share in the business of Derwent Thermostats Pty Ltd
and Derwent Controls, 27 Higginbotham
Road, Gladesville, is to be given to my
brother, John Siladi, to be kept operating as a going concern and a family
business.  In
the event of my illness and mental incapacity rendering me
incapable of conducting the business, my share of the business is to be
conducted by my brother, John Siladi, and in the event of his illness, mental
incapacity or death, by my brother Anthony Siladi,
and his two sons Edward
Siladi and John Siladi as a going concern and a family business.</i>
<P>

<i>In the event of my death, my half-share in the business of Derwent
Properties is to be given to my brother John Siladi, including
rents accrued
and owing at that date by Derwent Thermostats Pty Ltd or others.  In the event
of my illness or mental incapacity,
my half share of the rent of the premises,
27 Higginbotham Road, Gladesville, to be paid to me as half owner, for the
duration of
such illness or incapacity per calendar month.</i>
<P>

<i>					Signed `Stephen Silady'</i>
<P>

						<i>9/4/83</i>
<P>

<i>Witnessed:  	`Pauline Silady'</i>
<P>

		<i>9/4/83</i>
<P>

4   	Santow J delivered his judgment on 21 November 1994.  He
found that pursuant to s18A of the Act the statutory declaration constituted
the deceased's will.  Because the statutory declaration dealt with only part of
the deceased's estate administration with the will
dated 9 April 1983 was
granted to the plaintiff, the widow of the deceased.  Santow J's judgment was
the subject of a successful
appeal (Court of Appeal unreported 22 April 1997.
Gleeson CJ, Mason P (dissenting) and Powell JA).  The Court of Appeal set aside
His honour's orders and made the following order:
<P>

<u>ORDER</u>
<P>

That insofar as they deal with the question of the application of s18A of the
<b>Wills <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/paaa1898259/" class="autolink_findacts">Probate and Administration Act 1898</a></b> to the document entitled
"statutory declaration" and executed by the deceased on 9 April 1983, the
proceedings be remitted to the
Probate Division for rehearing.
<P>

5   	This remitted matter was heard by me on 26 August 1999 when
Mr Coles QC, leading Mr J Jobson of counsel, appeared for the plaintiff
and Mr
Jacobson QC, leading Mr Bulley of counsel, appeared for the defendant.
<P>

6   	After the plaintiff's evidence was read Mr Jacobson QC made
application for an adjournment of the proceedings to enable the
defendant to
pursue a further line of inquiry that had been identified on the perusal of
documents that had been unearthed as a result
of a subpoena that had been
served on the defendant by the plaintiff. That line of inquiry related to
whether there had ever been
a partnership agreement executed between the
deceased and any of his brothers. This was a matter identified in the judgment
of the
Court of Appeal in the appeal in this matter some 2 years ago and in the
circumstances I declined the application.
<P>

7   	This matter had been adjourned once before on the
application of the plaintiff's representatives because the plaintiff was
unavailable to be cross examined because of ill health.  The plaintiff was once
again too ill to attend for cross examination in
the proceedings before me but
no application for adjournment was made on the basis of such inability.  No
objection was taken to
the reading of the plaintiff's affidavits or to the
tender of the transcript of the plaintiff's evidence before Santow J on 6 July
1994.
<P>

<b>Background</b>
<P>

<b>The Business and the Corporate structure</b>
<P>

8   	The deceased and his brothers Anthony and John were born in
Yugoslavia.  The Siladi family immigrated from Yugoslavia to Australia
some
time prior to 1945.  In 1945 Anthony Siladi, commenced a small tool making and
engineering business at 58 Derwent Lane, Glebe.
 By 1948 the business had
expanded to the point that a partner was required.  The deceased, who was
Anthony's elder brother, commenced
working in the business and on 14 October
1948 the company known as Derwent Tool, Engineering and Plastic Co Pty Ltd was
incorporated
to operate the business.
<P>

9   	Two further directors were appointed to the company.  They
were Bessie Patterson Henrics and Eileen Joyce Richardson.  In 1954
the
directors decided to purchase a property at 27 Higginbotham Road Gladesville
which at that time was a vacant block of land.
<P>

10   	Resolutions to the following effect were agreed to:
<P>

8.1	Title to the land would vest to each director as tenant in common in one
quarter equal share and correspondingly, each director
was to enter into a
mortgage in favour of the Commonwealth Bank of Australia.
<P>

8.2	The payment of the balance of the purchase price and any further capital
works on the land were to be met by the company through
the mortgage executed
by the directors.  The capital works included the cost of constructing a
factory, fixtures and associated machinery
and equipment required in the
business of the company including the costs of annual maintenance and
repairs.
<P>

8.3	The initial monetary contributions made by the directors and the interest
thereof was to be recouped by the directors in the
way of "rent".  The rent was
to be determined by the company each year and paid into an account to be opened
at the Commonwealth
Bank which was called the "Derwent Properties" account.
<P>

8.4	The Derwent Properties account was also to be used for the purposes of
securing bank overdrafts and as a record of the mortgage
repayments.  
<P>

11   	In the 1950's the youngest of the three brothers, John
Siladi, who held an engineering degree, was employed as a fitter and
turner
with the company.  In 1960 John began to experiment in his own time with
certain thermostat controls, controlling temperature
and electricity flows.  By
mid 1961 John had convinced his brothers, Anthony and the deceased, of the
market potential for thermostat
controls.  
<P>

12   	Although it is clear from the evidence that John Siladi
spent time and effort working on the thermostat "controls" and convincing
his
brothers that there was a market for them, the word "controls" did not find its
way into the new name of the Company.
<P>

13   	In 1961 the deceased informed John:
<P>

<i>"We are into thermostats now and we are going to call our new company
Derwent Thermostats Pty Ltd".</i>
<P>

14   	The company changed its name to Derwent Thermostats Pty
Ltd by special resolution passed on 4 May 1961.
<P>

15   	From 1961 until 1975/76 John Siladi was employed as the
Derwent Thermostats Pty Ltd project manager.  
<P>

16   	In 1975 the deceased had a conversation with Anthony
Siladi in which he said: 
<P>

<i>"We should have got John in as a partner a long time ago.  We've worked
together well and that is the way it must be from now on.
 I think its time
John became a co-director and we will share the profits as brothers and the
business has got to be kept that way.</i>
<P>

Anthony Siladi then said to the deceased:
<P>

<i>"I could not agree more but how is this going to affect your wife and mine?
John is not married but we are." </i> 
<P>

The deceased then replied:
<P>

<i>"No, I do not want our wives involved.  We built the business up as brothers
and its going to stay that way."</i>
<P>

17   	John Siladi was appointed as a co-director of Derwent
Thermostats Pty Ltd in 1975.  Thereafter both the profits and the burdens
and
responsibilities of the company were shared equally between each of the three
brothers.  Each brother held 668 shares in Derwent
Thermostat Pty Ltd.  The
evidence disclosed that the shared responsibilities included:
<P>

&#183;	staff and management matters;
<P>

&#183;	the identification and development of markets and marketing
techniques;
<P>

&#183;	supervision of production lines including the performances and training
of employees;
<P>

&#183;	the maintenance of product standards;
<P>

&#183;	contracts and the maintenance of products sold;  and
<P>

&#183;	the development and implementing of company policies and monitoring
these to adapt to altered conditions in the market.
<P>

18   	On 12 August 1980 the mortgage on the factory site at 27
Higginbotham Road Gladesville had been fully paid.   The two directors,
Bessie
Patterson Henrics and Eileen Joyce Richardson resigned as directors.  The title
to the land previously held by those two directors
was transferred to Anthony
and the deceased. 
<P>

19   	From 12 August 1980 the deceased became the "half-owner"
of the property at 27 Higginbotham Road, Gladesville and collected
half the
rent paid into the Derwent Properties account by Derwent Thermostats Pty Ltd.

<P>

20   	The evidence disclosed that by 1982 the three brothers had
developed a close working relationship based on experiences with
each other and
the company itself.  However, Anthony Siladi gave evidence that he recalled
disagreements with the deceased over money.

<P>

<b>The Plaintiff and the deceased</b>
<P>

21   	The plaintiff first met the deceased in 1949 when she
commenced to work for him as his secretary in the business at Glebe.
 The
plaintiff composed and typed all the deceased's correspondence.  The deceased
was a champion boomerang thrower and had created
a boomerang moulding die.  The
plaintiff was a writer and was preparing research on the boomerang. This shared
interest led to their
courtship and they married on 1 July 1967.  
<P>

22   	The plaintiff said that the deceased was a very busy and
astute businessman.  She described his "wonderful" way of spelling
phonetically
and claimed that he had been too busy to learn how to spell other than
phonetically.  
<P>

23   	After their marriage the plaintiff continued to act as the
deceased's secretary and her duties extended to "co-running" a
business known
as Derwent Book Co which was the publisher of The Complete Australian Boomerang
Book (2nd Edition).  Although there
is some evidence that by 1982 the deceased
and the plaintiff had succeeded in developing a successful commercial venture
selling
Aboriginal artefacts it formed no part of the deceased's estate.  
<P>

<b>Statutory Declaration</b>
<P>

24   	The plaintiff was of the view that the deceased was very
loyal to both of his brothers, Anthony and John, however in 1983
there had been
a disagreement between the deceased and Anthony because Anthony was a bit of a
"spendthrift with money".  The deceased
discussed with the plaintiff that it
was his intention, "at that stage" that John "would have his controlling
interest rather than
Tony, because Tony spends too much money".
<P>

25   	The plaintiff said that on 9 April 1983 she was a bit
bored and so she went upstairs and typed the statutory declaration.
 She
composed it herself.  Prior to the composition of the statutory declaration the
plaintiff discussed with the deceased "his position
in the family company
Derwent Thermostats Pty Ltd as to how the eventualities of his illness, mental
incapacity or death might affect
his position".  
<P>

26   	The only evidence in relation to the deceased's health as
at 1983 was that he had some vascular trouble and although he died
in 1991 as a
result of a massive stroke whilst at work, his capacity to work as at 1983 was
apparently unaffected.
<P>

27   	The plaintiff did not recall discussing the document with
the deceased after she typed it but she recalled him signing the
document.  It
is clear that she witnessed it on the same day that the deceased signed it.
After it was signed the plaintiff put it
upstairs in her writing desk.  The
document was never mentioned again in any conversation between the plaintiff
and the deceased.
<P>

28   	Mr Rudolph Dominic first met the deceased in 1957 when he
commenced working with the company at Glebe.  He was employed with
the company
for fourteen and half years until 1971 when the business relocated from Glebe
to the property at Gladesville.  At the
time of the relocation Mr Dominic
decided not to continue with his employment with the company and travelled
overseas for approximately
three months.  He took up employment elsewhere on
his return from overseas.
<P>

29   	Mr Dominic kept up social contact with the brothers and
would visit the factory at Gladesville on Friday or Saturday.  He
would see the
deceased and John "perhaps once a week and even more frequently on
occasions".
<P>

30   	In about 1985 he had a discussion with the deceased about
wills.  He said he recalled the conversation came about because
his mother had
recently died and there had been problems with her estate.  The deceased said
to him:
<P>

<i>"I have fixed things up so that if anything happens to me then the business
goes to my brother John.  Don't say anything about this
to John".</i>  
<P>

<b>1964 Will</b>
<P>

31   	Prior to the deceased's marriage to the plaintiff he made
a will on 25 July 1964.  In that will the deceased appointed John
Siladi as the
sole executor and if he pre-deceased him then Anthony Siladi.  He bequeathed
two parcels of real estate to the plaintiff
together with a half share in his
shares in Email Limited and deposits with various institutions.  The other half
share in the moneys
and shares went to the deceased's siblings and mother and
to Anthony's children.   
<P>

32   	The residue of the estate went to John Siladi and if he
pre-deceased to his brother Anthony, if he pre-deceased to another
brother
George, if he pre-deceased to his sister Frances, if she pre-deceased to his
mother Maria and then to the children of Anthony.
This will was revoked by the
deceased's marriage to the plaintiff on 1 July 1967.
<P>

<b>The deceased's estate</b>
<P>

33   	The deceased's estate consists of five parcels of real
estate valued as at 9 June 1993 at $1.325 million.  The plaintiff's
evidence
was that as at 1983 the deceased's real property, except for the Gladesville
property, was in the plaintiff's name to protect
them against loss in the event
of any financial trouble with the business or possible consequential
bankruptcy.
<P>

34   	The one half share as tenant in common of the property at
27 Higginbotham Road, Gladesville was estimated to be worth $150,000.
 The
furniture, watches and jewellery was estimated at a value of $25,100.  The
money in the deceased's house, current accounts and
banks or financial
institutions on deposit was $344,987.73.  Superannuation and long service leave
amounted to $26,943.63.  Motor
vehicles were valued at $2,700 and a taxation
credit of $2,640.
<P>

35   	Additionally shares in companies were listed as:
<P>

<i>668 shares of $2 each in Derwent Thermostats Pty Ltd @ $167.68 per share
$112,010.24</i>
<P>

Debts due to the estate were listed as:
<P>

<i>Amount owing by Derwent Thermostats Pty Ltd under loan account $32,830.00;
and;</i>
<P>

Interest in partnership was listed as;
<P>

<i>One-half share in partnership "Derwent Properties" between Anthony Siladi
and Stephen Silady excluding value of interest in partnership
real estate 27
Higginbotham Road, Gladesville $93,732.</i>
<P>

The total estimated or known value of the estate as at 9 June 1993 was
$1,964,618.60. 
<P>

<b>The Law</b>
<P>

36   	Section 18A of the Act provides:
<P>

<i>(1)	A document purporting to embody the testamentary intentions of a
deceased person, even though it has not been executed in accordance
with the
final requirements of this Act, constitutes a will of the deceased person, an
amendment of such a will or the revocation
of such a will if the Court is
satisfied that the deceased person intended the document to constitute his or
her will, an amendment
of his or her will or the revocation of his or her
will.</i>
<P>

<i>(2)	In forming its view, the Court may have regard (in addition to the
document) to any other evidence relating to the manner of execution
or
testamentary intentions of the deceased person, including evidence (whether
admissible before the commencement of this section
or otherwise) of statements
made by the deceased person.</i>
<P>

37   	This section was introduced into the Act by Act No 17 of
1989 consequent upon the New South Wales Law Reform Commission Report
<b>Wills-Execution and Revocation, </b>LRC 47 (1986).
<P>

38   	There is no issue between the parties that for the
statutory declaration to constitute the deceased's will:
<P>

1.	it must be in documentary form;
<P>

2.	it must embody the testamentary intentions of the deceased;  and
<P>

3.	it must be intended to take legal effect as a will.
<P>

39   	As Mahoney JA said in <b>In the Estate of Masters
(deceased);  Hill v Plummer; Plummer</b> <b>v Hill</b>  <a href="/cgi-bin/LawCite?cit=%281994%29%2033%20NSWLR%20445" title="View LawCiteRecord" class="autolink_findcases">(1994) 33 NSWLR 445</a> at
455:
<P>

<i>"What is to be determined in respect of the document propounded under s18A
is whether, assuming it to embody the testamentary intentions
of the deceased,
it was intended by the deceased as his testamentary act in the law, that is, to
have present operation as a will."
 </i>
<P>

40   	His Honour went on to make an observation which is
applicable to the present case.  His Honour said also at 455 - 456:
<P>

<i>"This distinction is plain in concept.  But the application of it may give
rise to difficulty.  Particularly is this so where the
person whose intention
is to be analysed is a lay person not fully</i> <i>familiar with the nature of
a will or with the way in which the law in this regard operates.  If, for
example, the deceased were asked
whether his intention was that the document
brought into being should `constitute his will', he might be unable to answer
the question
precisely because he did not understand, in the relevant respects,
what a will is."  </i>  
<P>

41   	It is clear in this case that the first matter,
documentary form, has been satisfied.  The real issues between the parties
are
whether the statutory declaration embodied the testamentary intentions of the
deceased and whether it was intended to take legal
effect as a will. 
<P>

<b>Testamentary Intention</b>
<P>

42   	The defendant relied upon the following portions of the
statutory declaration in support of the submission that it embodied
the
deceased's testamentary intentions:
<P>

<i>I, Stephen Silady, Company Director of 162 Greville Street, Chatswood West
in the state of New South Wales do hereby solemnly declare
that in the event of
my death, my one-third share in the business of Derwent Thermostats Pty Ltd and
Derwent Controls, 27 Higginbotham
Road, Gladesville, is to be given to my
brother, John Siladi, to be kept operating as a going concern and a family
business.  </i>
<P>

<i>In the event of my death, my half share in the business of Derwent
Properties is to be given to my brother John Siladi, including
rents accrued
and owing at that date by Derwent Thermostats Pty Ltd or others.</i>
<P>

43   	The defendant submits that these are sufficiently clear
statements of an embodiment of the deceased's testamentary intentions
as to the
way in which his share in Derwent Thermostats Pty Ltd and his interest in
Derwent Properties were to pass.  
<P>

44   	It was submitted that the fact that the statutory
declaration also referred to an intended regime in circumstances in which
the
deceased may have become ill or incapacitated should not detract from the
testamentary nature of the declaration.  Mr Jacobson
QC submitted that the
defendant could not do better than to respectfully adopt  the following portion
of the learned President's
judgment in the appeal in this matter (p 12):
<P>

<i>"In my view, the statutory declaration is a document which purports to
embody the `testamentary intentions' of the deceased and, at
the same time, to
satisfy the court that the deceased intended the document `to constitute
his...will'.  The required standard of
proof is the civil standard.  The fact
that the document was prepared in the form of the statutory declaration in
which the deceased
did `solemnly declare' his wishes in a document that was
signed by him, witnessed by his wife, and handed to his wife for safekeeping
all support this conclusion.  </i>
<P>

<i>The evidence of Mr Dominic tends in the same direction:  it is admissible
pursuant to s18A(2).  That the statutory declaration is
testamentary, at least
in part, and reveals an intention, at least in part, that the deceased intended
that it should `constitute
his...will is indicated by the dispositions `in the
event of my death' of the deceased's one-third share in the business of Derwent
Thermostats Pty Ltd and Derwent Controls and of his half share in the business
of Derwent Properties, in each case in favour of the
deceased's brother John
Siladi.</i>
<P>

 <i>In my view these matters tend firmly in favour of the document having a
testamentary as distinct from a merely precatory intent, and
they support
Santow J's conclusion that he was also satisfied that the deceased intended the
document to constitute his will."</i>
<P>

45   	This statement of the learned President refers to both
issues of testamentary intention and the intention to constitute a
will but I
have extracted it under this issue for ease of reference.  However I am
conscious of Mr Coles QC's caution that I should
not be allured to the
conclusion that the deceased intended the document to constitute his will
simply by a seemingly testamentary
statement in a document.
<P>

46   	Mr Coles QC submitted that the statutory declaration was a
document with the dominant purpose of meeting the exigencies of
the moment.  He
submitted it found its origin or genesis in some subsisting but seemly not
protracted or long lasting dispute between
the deceased and his brother
Anthony.
<P>

47   	Mr Coles QC made the point that there was a paucity of
evidence in relation to the "disagreement" between the deceased and
Anthony and
that the evidence that was given by Anthony was a most oblique account of such
disagreement.  It was simply that Anthony
Siladi recalled that he had
disagreements with the deceased about money.  It was submitted that there was
no evidence about Anthony's
"habit" of being a spendthrift, nor was there any
evidence that the disagreement persisted beyond or was likely to persist beyond
1983.  
<P>

48   	It was further submitted that I would be satisfied that
this was not an instrument made in contemplation of a present need
to order
testamentary affairs but more to deal with immediate operational concerns about
the day to day conduct of the business in
the event of the deceased's illness
and/or incapacity.  
<P>

49   	The statutory declaration certainly deals in part with the
deceased's desires as to what was to happen in the event that he
became too ill
or incapacitated to remain involved in the business.  However this is a
statutory declaration in which the deceased
solemnly declared his intentions as
to what should happen upon his death.  The solemn declarations that in the
event of the deceased's
death his one-third share in the business of Derwent
Thermostats Pty Ltd and Derwent Controls and his half share in the business
of
Derwent Properties were to "be given to" his brother John Siladi in my view are
clearly an embodiment of the deceased's testamentary
intentions.  
<P>

50   	I therefore conclude on the balance of probabilities that
the first two issues in respect of the application of s18A of the
Act are
satisfied.  The real issue in this case is whether the deceased intended this
document to constitute his will.  
<P>

<b>Intention to constitute his will</b>
<P>

51   	Mr Coles QC submitted that the statutory declaration was a
transitory measure to deal with the exigencies of the moment. 
He submitted it
could be, although not necessarily had to be, categorised as a stopgap measure
for the duration of the commercial
disagreement the deceased was having with
his brother Anthony. 
<P>

52   	Other circumstances relied upon in support of the
submission that this was a document not intended to constitute the deceased's
will but more to accommodate present operational concerns were as follows:
<P>

&#183;	the plaintiff prepared this document of her own volition;
<P>

&#183;	although there was discussion between the deceased and the plaintiff
prior to the preparation of the statutory declaration
it was the plaintiff who
composed the document;
<P>

&#183;	there was no discussion about its contents with the deceased after it
was composed;  and
<P>

&#183;	the deceased signed it at home in the plaintiff's presence probably
whilst listening to Parliament on the radio.
<P>

53   	These circumstances are contrasted to the formal and
careful approach to the making of the 1964 will.  It is clear that on
that
occasion a solicitor was instructed and it was submitted that the inference is
that the deceased gave instructions for a detailed
and complex arrangement for
the dispositions expressed to take effect on his death.  It is submitted that
with that experience an
occasion so lacking in formality as was the execution
of a statutory declaration in the circumstances outlined above would tend to
suggest that the deceased did not intend the declaration to constitute his
will.
<P>

54   	I would regard Mr Coles QC's submission as more persuasive
if the deceased had simply written the contents out or simply signed
a piece of
paper with these statements in it.  But this was a statutory declaration with a
witness and notwithstanding Mr Coles caution
I am of the view that I should
weigh this factor in the balance when deciding this issue. 
<P>

55   	Mr Coles QC submitted that other features which militate
against a finding that the statutory declaration was intended to
constitute his
will are as follows:
<P>

&#183;	if the deceased did not know that his 1964 will had been revoked he
would not have intended to replace it with a statutory
declaration making the
same disposition.  That is that the business would pass to his brother John;

<P>

&#183;	if the deceased did know that his marriage had revoked his 1964 will he
would have made a much more formal will consistent
with his experience  in
1964.  Presumably consistently with that experience he would have dealt
comprehensively with all of his estate
with careful consideration as to how his
assets were to be allocated;
<P>

&#183;	he disposed of so little of his property;
<P>

&#183;	on the assumption that testators do not intend to die intestate a
finding that the deceased intended this document to constitute
his will (in the
knowledge that his 1964 will had been revoked) would amount to a finding that
he intended to leave his wife to the
mercies of the law of intestacy; and
<P>

&#183;	the Company's Articles of Association prohibited a transfer of the
deceased's shares to his brother.
<P>

56   	The statutory declaration does not make the same
disposition in respect of the deceased's brother John as was made in the
1964
will.  As Justice Santow pointed out in his judgment (21 November 1994
unreported p 9-10):
<P>

<i>"Whilst both the 1964 will and the 1983 document preferred John Siladi over
Anthony Siladi so far as the business was concerned, the
1964 will provided a
gift over to Anthony if John pre-deceased and then a gift over for George if
Anthony pre-deceased - with further
gifts over for the next generation if John
and Anthony pre-deceased.  However the 1983 document leaves Anthony and George
out altogether
so far as any gift over is concerned should John pre-decease.
This perhaps reflects some circumspection concerning Anthony because
he was
then thought of "as a bit of a spendthrift with money".</i>
<P>

57   	A further point of relevance is that the 1964 will was
made at a time when John was not a co-director or shareholder.  This
did not
occur until 1975.    After 1975 John held one third of the shares in the
company Derwent Thermostats Pty Ltd with the deceased
and Anthony each holding
one third of the shares.    
<P>

58   	Mr Coles QC submitted that the terms of the conversation
between the deceased and Mr Dominic are consistent with the deceased
referring
to the 1964 will and would therefore not support the contention that the
deceased intended the statutory declaration to
constitute his will.  I
disagree. The conversation occurred approximately two years after the statutory
declaration was made.  The
conversation referred only to the fact that if
anything happened to the deceased John was to get the business.  Mr Dominic was
not
cross examined.  There was no evidence from Mr Dominic that the deceased
mentioned any of the other brothers.  
<P>

59   	If the deceased had been referring to the 1964 will in the
conversation with Mr Dominic one might have expected him to tell
Mr Dominic
that his brother John was to get much more than the business.  If the 1964 will
had been on his mind he would have known
that John was to get the residuary of
his estate after the division of the shares and money and the two parcels of
land going to
the plaintiff.  It was the statutory declaration that gave John
the deceased's share of the business.  
<P>

60   	Contrary to Mr Coles QC's submission I regard this
conversation as some evidence that the "commercial disagreement" about
money
and/or the deceased's opinion that Anthony was a "bit of a spendthrift" did
persist beyond 1983.
<P>

61   	I am satisfied on the balance of probabilities that the
conversation with Mr Dominic was a conversation in which the deceased
was
referring to the dispositions referred to in the statutory declaration in 1983
and is evidence in favour of a finding that the
deceased intended it to
constitute his will.
<P>

62   	Some of the other matters relied upon by Mr Coles QC can
be dealt with together.  Put shortly they are encompassed by the
submission
that the deceased would not have intended the statutory declaration to operate
as his will in the circumstances where
he made provision for such a small
amount of his estate, failed to make any provision for his wife and was aware
of the formalities
of will making from his experience in 1964.  
<P>

63   	In dealing with these arguments I am assisted by the
approach adopted by the learned President in the appeal in this matter.
 The
fact of the matter is that the deceased did only deal with part of his estate
in the statutory declaration.  I agree with the
learned President that a
rational explanation for such an approach is that the deceased was concerned
about the break up of the family
business in the event of his death or serious
illness. 
<P>

64   	The deceased may not have realised that his 1964 will had
been revoked by his marriage or if he did he may have intended to
deal with his
remaining assets on another occasion.  The plaintiff's evidence was that as at
1983 the majority of the deceased's
real property had already been transferred
into her name and it is not clear how much was in term deposits and bank
accounts at that
time. As the learned President said the deceased may well have
thought that all the assets of any value were covered by the arrangement
with
the plaintiff and by the statutory declaration.
<P>

65   	Mr Coles QC also relied upon the prohibition on the
transfer of the shares in the Articles of Association in support of the
submission that the deceased would not have intended the statutory declaration
to constitute his will.  Had the deceased called a
meeting after he made the
statutory declaration to change the Articles of Association to accommodate such
a transfer then it is submitted
I would be satisfied that the deceased intended
the statutory declaration to constitute his will. However he did not do
this.
<P>

66   	These Articles were agreed to in 1948.  Although Article 6
is relied upon for this submission Article 5 is also important.
 The Articles
provide as follows:
<P>

<i>"5".</i>	<i>Notwithstanding anything contained in these Articles or in Table
`A' a share may be transferred by a member selected by the transferor
but save
as by these Articles expressly provided no shares shall be transferred to a
person who is not a member so long as any member
or any person selected by the
directors as one whom it is desirable in the interest of the Company to admit
to membership is willing
to purchase the same within a period of one month at
the value fixed by the intending transferor.  If any such shares are not
purchased
within a period of one month by any member or any person selected by
the directors then the intending transferor shall be at liberty
to sell them to
any person at the same or at a greater value but if such intending transferor
is desirous of transferring the shares
at any lesser value then they shall
first be offered at such lesser value in accordance with the provisions of this
Article.</i>
<P>

<i>6.	Any shares may be transferred by a member to any other member or to any
son, daughter, grandson, grand-daughter, or other issue;
 son-in-law,
daughter-in-law, father, mother, brother, sister, nephew, niece, wife, husband,
sister-in-law, brother-in-law, or cousin
of a member and any share of a
deceased member may be transferred by his executors or administrators to any
son, daughter, grandson,
grand-daughter, or other issue;  son-in-law,
daughter-in-law, widow, widower, sister-in-law, brother-in-law or cousin of
such deceased
member (to whom such deceased member may have specifically
bequeathed the same) and shares standing in the name of the trustees of
the
will of any deceased member may be transferred upon any change of trustees to
the trustee for the time being of such will."</i>
<P>

67   	Mr Coles QC relied upon the observations made by Powell JA
in the appeal in this matter and Mr Jacobson QC relied upon the
observations of
Mason P in the appeal in this matter.  In considering each party's submission I
have also had regard to the observations
made by Mason P and Powell JA.  In the
circumstances of the evidence before me I am assisted by the following approach
adopted by
the learned President (p 16):
<P>

<i>The deceased may never have read Article 6;  if he had, or had it in
contemplation in 1983, he may (probably with good cause) have
formed a view
that, when read with Article 5, Article 6 did not restrict the capacity to
transmit the shares in the family company
to a fellow member;  the deceased may
have been ignorant of the law;  the deceased may (with good cause) have formed
the view that
Article 6 would not have impeded his legal personal
representative from holding the deceased's shares in trust for his brother
John;
 the deceased may have thought it likely that the surviving brothers
would have been prepared to waive the possible effect of Article
6 and, by
amending the Articles or otherwise, to permit John to become registered in
accordance with the deceased's "testamentary"
wishes.  </i>
<P>

68   	I have weighed this matter carefully but I am of the view
that the existence of Article 6 viewed with all the other factors
to which I
have had regard does not persuade me that the deceased did not intend the
statutory declaration to constitute his will.
<P>

69   	There are two other matters with which I should deal in
relation to this final issue. They are the references to Derwent Controls
and
Derwent Properties in the statutory declaration.  Mr Coles QC once again relied
upon the observations made by Powell JA in the
appeal in the matter on these
topics.  He also referred me to the judgment of the Chief Justice in particular
to the following (p
2):
<P>

<i>"There may have been a good reason why the deceased would have intended to
deal, in a testamentary fashion, with that property separately
from all his
other assets.  Before reaching a conclusion about that, however, I would want
to be sure that I understood the nature
of the property in question, and the
family and commercial background against which the Statutory Declaration was
prepared.  That
would include the terms of any relevant partnership agreement,
and the structure of any relevant corporation.</i>
<P>

<i>It would be dangerous to make a judgment about whether the document
constituted a will, by virtue of s18A of the Wills, Probate &amp;
Administration Act 1898 without appreciating what the deceased's understanding
would have been of the nature of the property to which
he was referring.  To
take an example not directly related to the central issue in the present case,
what did the deceased have in
mind when he said that, in the event of illness
rendering him  incapable of conducting the business, his share of the business
was
to be conducted by John Siladi?  The meaning of that statement or direction
is obscure, and in the absence of reasonably clear evidence
as to the nature of
the asset or assets to which the deceased was referring it is difficult to
reach any confident conclusion as
to what he had intended."</i>
<P>

70   	Powell JA analysed the problems in greater detail
particularly at pp 5 - 8 of His honour's judgment which I need not extract
here.  From the premise of this careful analysis Mr Coles QC submitted that
notwithstanding the additional evidence before me that
had not been before the
Court previously I would not be able to conclude with any confidence what
property the deceased was purporting
to deal with in the statutory declaration.
It was further submitted that in such circumstances I could not be satisfied
that the
deceased intended the statutory declaration to constitute his will.
<P>

71   	Not unexpectedly Mr Coles QC focused upon the reference to
Derwent Controls in the statutory declaration.  There is no evidence
that there
was such an entity. Certainly there was evidence that John Siladi worked on the
thermostat controls and that they were
profitable.  However the words "Derwent
Controls" do not appear in the company name. Mr Jacobson QC conceded that there
was no evidence
in relation to that entity and as he called no witness to give
evidence about it Mr Coles QC submitted that no witness could have
given any
evidence of assistance to the defendant on that topic.
<P>

72   	In the circumstances I am of the view that there was no
such formal entity or business name. However I am satisfied on the
evidence of
the development of the business that the reference to Derwent Controls is on
the balance of probabilities a reference
to the business of manufacturing and
selling the thermostat controls which was conducted by the company Derwent
Thermostats Pty Ltd.

<P>

73   	I am not aware of any more detail of the "partnership" of
Derwent Properties than that contained in the evidence of the Siladi
brothers
to which I have already referred and in the plaintiff's affidavit of assets and
liabilities to which I have also made reference.
Mr Coles QC made the
submission consistently with the observations made by Powell JA in the appeal
in this matter that I am not in
a position to know whether or not there was a
written partnership agreement or whether the partnership dissolved on the death
of
one of the partners.
<P>

74   	He made the point that there is a world of difference
between a disposition of a business as a going concern and a disposition
of a
purported interest in a business which is not really a going concern but an
unliquidated distributable share in a wound up trading
concern.
<P>

75   	I am of the view on all the evidence before me that in
signing this statutory declaration the deceased intended that on his
death his
brother, John, was to have his shares in the company and his share of the
Derwent Properties account and his half interest
in the Gladesville
property.
<P>

76   	Although the deceased may not have turned his mind to the
distinctions and differences to which Mr Coles QC took me in detail,
I am of
the view that these circumstances do not detract from the view that I have
reached which is that I am comfortably satisfied
on the balance of
probabilities that the deceased intended the statutory declaration to operate
as his will.
<P>

77   	The parties are to bring in short minutes of order to
finalise this matter after I hear any application that is made in relation
to
costs.
<P>

**********
<P>

LAST UPDATED: 	07/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/890.html</i><br>
</p>
</small>
</body>
</html>
