<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Ian Cohen v Nationwide News Pty Limited [1999] NSWSC 528 (2 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 528</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+528 or 1999+NSWSC+528">Noteup</a>]
[<a href="528.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Ian Cohen v Nationwide News Pty Limited [1999] NSWSC 528 (2 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_528.html-->
<!--sino date 2 June 1999-->


<P>Last Updated: 3 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Ian COHEN  v  NATIONWIDE NEWS PTY LIMITED  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/528.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 528</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

Defamation List
<P>

FILE NUMBER(S): 	21422 of 1996
<P>

HEARING DATE{S): 	28 May 1999
<P>

JUDGMENT DATE: 	02/06/1999
<P>

 PARTIES: 
<P>

Ian COHEN - Plaintiff
<P>

NATIONWIDE NEWS PTY LIMITED - Defendant
<P>

JUDGMENT OF: 	Simpson J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

C Evatt - Plaintiff
<P>

T Blackburn - Defendant
<P>

SOLICITORS: 
<P>

Carters - Plaintiff
<P>

Blake Dawson Waldron - Defendant
<P>

CATCHWORDS: 
<P>

Defamation - Interlocutory application to file a third further amended
statement of claim granted
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Notice of motion is dismissed
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>Defamation List</b>
<P>

<b>SIMPSON J</b>
<P>

<b>Wednesday 2 June 1999</b>
<P>

<b>21422/96</b>
<P>

<center><b><u>Ian COHEN  v  NATIONWIDE NEWS PTY LIMITED</u></b></center>
<P>


<P>

<center><b><u>Judgment</u></b></center>
<P>


<P>

<b>  HER HONOUR :</b>
<P>

1	On 19 December 1996 the plaintiff commenced proceedings against the defendant
claiming damages for defamation.   He claims to
have been defamed on two
separate occasions, in successive issues of a daily newspaper, the Daily
Telegraph.   It may be assumed
for present purposes that the defendant is the
publisher of that newspaper.   The first publication of which the plaintiff
complained
was contained in the issue of 4 December 1996 and appears to be a
standard news item headlined "Aborigines accused over parks". 
 It is published
under the byline of a journalist described as "Political Reporter".   The
second, published in the following day's
edition, appears under the heading
"Piers Ackerman", and is sub-titled "Deep greens should park elsewhere" and, so
far as can be
ascertained, is an opinion piece.
<P>

2	Each article on its face is concerned with proposed legislation of the NSW
Parliament relating to management of national parks,
and a conflict of views
and interests between members of the environmental movement and Aboriginal
groups.   The plaintiff is identified
in each article as a parliamentary
representative of the environmental or green movement.
<P>

3	There have been a number of amendments to the statement of claim.   Initially
the plaintiff pleaded only two imputations arising
from the first article, and
four from the second.   Each was pleaded as having arisen from the natural and
ordinary meaning of the
words published.   On 5 December 1997 Levine J dealt
with certain objections to the statement of claim as then pleaded.
<P>

4	The plaintiff now seeks leave to file a "Third Further Amended Statement of
Claim".    He wishes to increase to five the imputations
pleaded to arise from
the natural and ordinary meaning of the words in the first article;  to nine
the imputations said to arise
from the natural and ordinary meaning of the
second article;  and to plead each imputation as a true innuendo by reference
to extrinsic
facts.
<P>

5	The defendant objects to leave being granted to the plaintiff to file the
proposed amended statement of claim.   The only basis
for the objection is that
the imputations the plaintiff now seeks to plead would, in any event, be struck
out, and that the leave
sought would therefore be a futility.
<P>

6	It is necessary now to look more closely at the matter complained of, the
imputations sought to be pleaded and the objections
thereto.
<P>

	<b>The first publication</b>
<P>

7	The first matter complained of begins with the assertion that:
<P>

	"A rift has developed in the green movement with environmental groups claiming
traditional Aboriginal owners could not be trusted
with the management of
national  parks."
<P>

and purports to quote "key  conservation groups" as saying that Aboriginal
groups were driven by the "profit motive" and would
<P>

	"overdevelop the five national parks the State Government has agreed to hand
over to traditional owners."
<P>

8	A Mr Jeff Angel, identified as "Total Environment Centre head" is extensively
quoted.   The following paragraphs should be reproduced:
<P>

	"Total Environment Centre head Jeff Angel said yesterday the Aboriginal people
would `economically exploit' the national parks
by way of low scale resort
development.
<P>

	He said the traditional owners would allow development and logging in the
pristine wilderness.
<P>

	`This is a blank cheque for them,'   he said.
<P>

	`They have no right to economically exploit national parks.'"
<P>

9	The first and only mention of the plaintiff appears in the last of the three
columns of the item, where he is reported to be opposed
to the proposed
legislation and to be lobbying to have it referred to a parliamentary
committee.   No precise statements are attributed
to him and he is not
quoted.
<P>

10	The item concludes by attributing to an Aboriginal Land Council spokesman,
Mr Wright, the assertion that 
<P>

	"yesterday's statements by green groups were similar to those of controversial
Federal MP Pauline Hanson".
<P>

11	Mr Wright is directly quoted as saying:
<P>

	" `We are very disappointed and deeply regret the things that have been said -
they are unjustified, unreasonable and uncalled
for' "
<P>

12	Of the five imputations pleaded in the Third Further Amended Statement of
Claim,  no objection was taken to the first and second
 and, after argument,
counsel for the plaintiff withdrew the third, imputation (c), so far as it was
said to arise from the natural
and ordinary meaning of the matter complained
of, but maintained its availability as a true innuendo.  I will return to this.
 Imputations
(d) and (e)  are pleaded as follows:
<P>

	"(d)	The plaintiff was a Parliamentary member of the Greens who made
statements which were unjustified, unreasonable and uncalled
for.
<P>

	(e)	The Plaintiff is the Parliamentary member of the Greens who criticised
traditional Aboriginal owners of National Parks by stating
they were driven by
the profit motive and would over develop them".
<P>

13	The only passages in the matter complained of which have any real link or
association with the words in either of these imputations
are those in the last
two paragraphs, referring to statements attributed to Mr Wright.   The
reference there is to "yesterday's statements
by green groups".   The
"statements" to which reference was made are plainly the statements attributed
to Mr Angel and those attributed
to "key conservation groups".   There is
nothing in the matter complained of that could possibly be taken to attribute
the  statements
described as "unjustified, unreasonable and uncalled for"
directly to the plaintiff.   They are statements which, it is clearly said
in
the matter complained of, were made by Mr Angel or by unidentified members of
the environmental movement.  The matter complained
of is not capable of
conveying imputation (d) or (e).
<P>

14	I should note here that, at the conclusion of the argument on this aspect,
counsel for the defendant made some attempt to challenge
imputation (a) which
is pleaded in the following way:
<P>

	"The plaintiff is a racist because he was the Parliamentary member of the
Greens who made statements similar to those of Pauline
Hanson".
<P>

15	In his judgment of 5 December 1997 Levine J held that the matter complained
of was capable of conveying the imputation that the
plaintiff was a racist.
The imputation has been extended to include the words that follow.  They are,
in effect, an explanation of
how the imputation arises.  There is no reason why
the plaintiff should not confine the imputation in this way if so advised.   It
is consistent with the judgment of Levine J in which his Honour held that Ms
Hanson's notoriety is such that it was unnecessary to
plead extrinsic facts in
order to establish the defamatory imputation.
<P>

16	The attack on imputation (a) was not really pursued, and, having regard to
the judgment of Levine J, I would not interfere with
it.   
<P>

17	It is necessary now to deal with the argument that imputations (c), (d) and
(e), pleaded as true innuendos, are not capable of
being conveyed by the matter
complained of even taken together with the extrinsic facts pleaded.   The
extrinsic facts on which the
plaintiff seeks to rely to establish the true
innuendo are three in number.   They are:
<P>

	"(a)	The plaintiff had said he supported the concept of Aboriginal land
rights.
<P>

	(b)	The green movement supported the concept of Aboriginal land rights.
<P>

	(c)	The plaintiff was the Parliamentary representative of the Greens."
<P>

18	Imputation (c) is:
<P>

	"The Plaintiff was hypocritical because on the one hand he supported the
concept of Aboriginal land rights but on the other hand
he did not believe the
Aboriginal people should have control or management of land in national parks
of which they were the traditional
owners."
<P>

19	Analysis of the imputation as framed shows that it depends upon a conclusion
that hypocrisy is demonstrated by a contradiction
between two philosophical
positions - support for Aboriginal land rights on the one hand, and
non-Aboriginal control of national
parks on the other.   It is one thing for
the charge contained in an imputation to be that a plaintiff is "hypocritical";
there is,
in my view, no question that such a charge is defamatory.   However,
the imputation as formulated proceeds to explain how and why
it is said that
the matter complained of carries that imputation.  It is, in fact, a statement
of the reasoning process the jury
would be invited to apply in order to extract
the imputation that the plaintiff is a racist.  It is not directly asserted in
the
matter complained of that the plaintiff was hypocritical;  rather what is
sought on his behalf is to show that, because he on the
one hand was known to
be a supporter of the concept of Aboriginal land rights, for him then to oppose
Aboriginal management of national
parks is an inconsistency amounting to
hypocrisy.   Essential to the line of reasoning is that supporters of
Aboriginal land rights
must of necessity also be supporters of Aboriginal
management of national parks, or at least that to oppose the notion of
Aboriginal
control of national parks is inconsistent with support of Aboriginal
land rights.   The reasoning depends upon an absolutism in the
support of
Aboriginal land rights, which cannot and does not give way to any other
philosophies.  In this respect the reasoning is
flawed.  It is perfectly
legitimate to be a supporter of a philosophical position but to see it as
subservient to other philosophical
positions.   It is not necessarily
hypocritical to support Aboriginal land rights, but to give that philosophy a
lesser significance
than protection from exploitation of national parks.   This
is simply a question of priorities accorded to a range of beliefs adopted
by
individuals.   With or without the extrinsic facts pleaded in support of the
imputation, it cannot arise and will not go to the
jury.
<P>

20	Imputations (d) and (e) pleaded as true innuendos are not strengthened in
any way by the extrinsic facts pleaded. The extrinsic
facts do nothing to add
to the suggestion that the plaintiff made the statements referred to.
Accordingly they will not go to the
jury either as the natural and ordinary
meaning of the publication or as true innuendos.
<P>

	<b>The second publication.</b>
<P>

21	As I have noted above, the item the subject of the second claim purports to
be an opinion or commentary piece.
<P>

22	The item opens with the following paragraphs:
<P>

	"No one would be surprised that there has been a split between the
professionals in the environmental movement and groups of Aboriginal
Australians.
<P>

	The deep greens have always regarded Aboriginal people as cannon fodder in
their war to lock up the resources of this country.
<P>

	When it has suited the darkest greens to go along with Aborigines their
relationship has been harmonious.   When the Greens wish
to push their agenda
further, however, the Aborigines have been expendable commodities."
<P>

23	The article concludes with:
<P>

	"Interestingly, Upper House Green MP Ian Cohen and Independent Richard Jones,
the nudists' representative, are out there fighting
Aborigines.   
<P>

	Both members live in national parks in buildings constructed on property held
on permissive occupation leases.   They were shrill
in their condemnation of
pastoralists who ran cattle on crown leases but have been reluctant to discuss
their own arrangements.
<P>

	It would be fitting if the Aboriginal management found that their occupation
of national park leases was not conducive to good
park management and ousted
them."
<P>

24	Some way into the article the author makes reference to Mr Angel, and quotes
similar statements to those attributed to Mr Angel
in the previous news item.

<P>

25	The plaintiff seeks to plead nine imputations both as being conveyed on the
natural and ordinary meaning of the words published,
and as true innuendos.
Of these, during the course of argument, counsel abandoned imputations (d), (e)
and (i).   No objection was
taken on behalf of the defendant to imputations
(a), (b) or (c), but objection was taken to the remaining imputations.   It is
therefore
necessary to consider imputations (f), (g) and (h).   They are framed
as follows:
<P>

	"(f)	The plaintiff so misconducted himself that he deserved to be ousted from
his occupation of his national park lease.
<P>

	(g)	The plaintiff is the member of an environmental movement which regards the
Aborigines as expendable commodities.
<P>

	(h)	The plaintiff is a member of an environmental group which charges that
Aboriginal people cannot be trusted with the management
of the national
parks."
<P>

26	The attack that is made on imputation (b) is that it imputes some form of
misconduct to the plaintiff and that, on a proper reading
of the article, no
misconduct is attributed to him.   I do not accept this.   Although
"misconduct", perhaps in some circumstances
carries connotations of more
blameworthy behaviour than the behaviour by the plaintiff referred to,
nevertheless there is a clear
message in the last paragraph of the article,
particularly by the use of the word "fitting", that, by reason of the
plaintiff's earlier
behaviour, conduct or stance, he deserved to be ousted from
his national park lease.   The "conduct" is the plaintiff's opposition
to the
proposed legislation, together with the stance he had earlier allegedly adopted
in relation to national park use.   I will
allow imputation (f) as pleaded.
<P>

27	Imputations (g) and (h) both depend upon the same form of reasoning:  that
is, that a member of a particular group is identified
with the whole set of
beliefs and ideologies of that group, and with expressions of opinion by that
group.
<P>

28	Bearing in mind that the ordinary reader is permitted a certain amount of
loose thinking, and having regard to the overall tone
of the article, I have
concluded that these imputations are capable of being conveyed by the natural
and ordinary meaning of the
words.   It is a jury question whether they are in
fact conveyed.   I have reached this conclusion because the article opens with
the somewhat  florid and general attack on members of the environmental
movement so far as their attitude to Aboriginal groups is
concerned, and the
plaintiff is, at a later point, identified as an "Upper House Green MP" who is
"out there fighting the Aborigines".
 I will allow the amendment to this
extent.
<P>

29	These imputations are not in any way advanced by the three extrinsic facts
upon which the plaintiff relies and will not be permitted
to go to the jury in
that fashion.
<P>

30	The plaintiff will have leave to file further an amended statement of claim
in accordance with these conclusions.
<P>

**********
<P>

LAST UPDATED: 	02/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/528.html</i><br>
</p>
</small>
</body>
</html>
