<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Karmas and Anor v Toothill and Anor [1999] NSWSC 927 (14 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 927</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+927 or 1999+NSWSC+927">Noteup</a>]
[<a href="927.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Karmas and Anor v Toothill and Anor [1999] NSWSC 927 (14 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_927.html-->
<!--sino date 14 September 1999-->


<P>Last Updated: 15 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Karmas &amp; Anor v Toothill &amp; Anor  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/927.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 927</a>
<P>

CURRENT JURISDICTION: 	Common Law 
<P>

Administrative Law list
<P>

FILE NUMBER(S): 	30025/1999
<P>

30030/1999
<P>

HEARING DATE{S): 	11 August 1999
<P>

JUDGMENT DATE: 	14/09/1999
<P>

 PARTIES: 
<P>

John Karmas (First Plaintiff)
<P>

Danka Durovic (Second Plaintiff)
<P>

v
<P>

William Kirk Toothill (First Defendant)
<P>

Residential Tenancies Tribunal/Residential Tribunal (Second Defendant)
<P>

JUDGMENT OF: 	Master Malpass      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

N/A (Plaintiff)
<P>

Mr G Durie (First Defendant)
<P>

N/A (Second Defendant)
<P>

SOLICITORS: 
<P>

In Person (First and Second Plaintiffs)
<P>

Biddulph &amp; Salenger (First Defendant)
<P>

I V Knight - Crown Solicitor - Submitting 
<P>

appearance (Second Defendant)
<P>

CATCHWORDS: 
<P>

Appeal from Residential Tenancies Tribunal/Residential Tribunal
<P>

restricted relief or remedy available in this Court (decision with respect to a
matter of law).
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Residential Tenancies Act 1987</a>, s 107, s 110, s 111.
<P>

Residential Tribunal Act 1998, s 63.
<P>

DECISION: 
<P>

See paragraph 23
<P>

JUDGMENT: 
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

COMMON LAW DIVISION
<P>

ADMINISTRATIVE LAW LIST
<P>

MASTER MALPASS
<P>

TUESDAY 14 SEPTEMBER 1999
<P>

<u>30025/1999</u>	<u>JOHN KARMAS &amp; ANOR v WILLIAM KIRK TOOTHILL &amp;
ANOR</u>
<P>

<u>30030/1999</u>	<u>JOHN KARMAS &amp; ANOR v WILLIAM KIRK TOOTHILL &amp;
ANOR</u>
<P>

<b><u>JUDGMENT</u></b>
<P>

1  	These proceedings were heard together on 11 August 1999.  Each
proceeding was commenced by Summons.  Each of them seeks relief
under the
<u><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Residential Tenancies Act</u> 1987</a> (the Act).
<P>

2  	Each Summons is a lengthy document.  Each of them contains
voluminous claims for relief.
<P>

3  	The relationship of landlord and tenant exists between the
plaintiffs and Mr Toothill (pursuant to a residential tenancy agreement
dated
10 August 1998) in respect of the premises 26/39 Francis Street Darlinghurst
(the premises).  The premises comprise a unit
in a block of units under Strata
Title.
<P>

4  	Two applications were brought before the Residential Tenancies
Tribunal (the tribunal).  In one of the applications, the landlord
sought
termination of the tenancy on the basis of non-payment of rent.  In the other
application, the tenants sought inter alia compensation
arising out of water
damage to the premises (there had been water penetration on 23 November 1998).
The applications were dealt with
by a member of the tribunal (Ms Gurr).  In
each application, a decision has been given and detailed reasons have been
provided.
<P>

5  	In the termination application, the real issue was whether or not
a valid termination notice had been given.  This question
was resolved in
favour of the landlord.  It was common ground that no rental had been paid
since 6 December 1998.  The member did
not make a termination order.
Ultimately, she did make an order for payment of arrears.
<P>

6  	In the compensation application, the tenants sought compensation
in the order of about $7,000 in respect of a variety of matters
(including for
economic loss, for inconvenience and lack of amenities and for non-economic
loss for stress and anxiety).  The member
found a liability in damages in the
sum of $942.  The sum of $942 was then set-off against the amount owed in
respect of arrears
of rent ($3,060).  A final order was made that the tenants
pay the landlord the sum of $2,118 by 31 July 1999.  This sum has not
been
paid.
<P>

7  	In each of these proceedings, the plaintiffs seek to challenge
what was done by the member in the course of the determination
of each of the
applications.
<P>

8  	Section 107 of the Act deals with "Appeal against decision of
Tribunal with respect to matter of law".  It enables only a restricted
ambit of
challenge to be brought to this Court.  An appeal lies only where "the Tribunal
decides a question with respect to a matter
of law".  The reference to "a
matter of law" is expressed to include "a matter relating to the Jurisdiction
of the Tribunal".
<P>

9  	Save for the avenue provided by s 107 (and s 110), an order of
the tribunal is expressed to be binding on all parties and no
appeal lies in
respect of that order (s 111).  The Act makes it clear that no appeal lies in
respect of questions of fact.
<P>

10  	Section 110 makes provision for the variation or setting aside
of orders.  This section may provide an avenue for redress,
under the Act,
where the complaint relates to questions of fact.  For completeness, it may be
observed that s 63 of the <u>Residential Tribunal Act</u> 1998 enables the
making of an application for a re-hearing.
<P>

11  	Largely, the court has received material which was made
available to the member.  I should mention at this stage that the plaintiffs
unsuccessfully made numerous attempts to show a video (part of which had been
shown to the member).  It had been taken one day after
the leak had occurred
and depicted inter alia the effects of the water penetration (including damage
to goods of the plaintiffs).
 I shall return to this matter in due course.
<P>

12  	The plaintiffs have appeared in person.  Largely, the first
plaintiff presented the case on behalf of both plaintiffs.  The
landlord was
represented by counsel.  A submitting appearance was made on behalf of the
tribunal (at least in one of the proceedings).
<P>

13  	The first plaintiff has addressed the court at great length.
There was much repetition and rhetoric.  The plaintiffs have been
productive of
voluminous documentary material.  Some of it was handed up during the hearing.
Some was provided immediately after
the hearing had concluded.  The plaintiffs
were then informed that further communication should not be made without the
consent of
the other parties.  This information was completely ignored.
Shortly thereafter further attempts at communication and the forwarding
of
documentation to chambers, without the consent of the other parties, followed.
In these circumstances, it became necessary for
the Principal Registrar to
contact the plaintiffs in writing and to again remind them of the information
that had been previously
given.  The documentation sent to chambers was
returned to the plaintiffs by the Principal Registrar.
<P>

14  	Again, this information went unheeded.  The Principal Registrar
then arranged for a Deputy Registrar to make contact with the
plaintiffs for
the purpose of advising them in relation to the matter.  On 24 August 1999, a
Deputy Registrar did telephone and speak
with the first plaintiff.  Further
advice was given to him (inter alia he was reminded that contact should be made
with a judicial
officer only with the consent of the other parties and he was
advised that they should proceed by way of Notice of Motion returnable
in open
court if the plaintiffs desired to make any further application in the
proceedings).  I should add that the delivery of judgment
has been held back to
afford the plaintiffs a more than reasonable opportunity to make in open court
any formal application which
they considered appropriate.  Although they have
had the benefit of that opportunity, no such application has been made.
<P>

15  	The submissions made on behalf of the plaintiffs were many and
various.  Although the impression was given that there had been
some legal
assistance, there were submissions which either could not be understood or were
lacking in relevance.  Generally speaking,
the submissions related to questions
of fact.  It would not be a productive exercise to deal with each of the many
complaints individually.
<P>

16  	There were submissions which were presented as relating to error
of jurisdiction.  Despite the attempt to categorise questions
of fact as errors
of jurisdiction, it was clear  that there was no basis for relief in respect of
a matter relating to jurisdiction.
<P>

17  	The plaintiffs are extremely unhappy as to various findings of
fact made by the member.  It has been sought to present these
matters as errors
of law.  I have carefully examined the voluminous material placed before the
court.  In my view largely, none of
these matters related to the deciding of a
question with respect to a matter of law and none of them would give rise to an
error
of law in the sense that this expression is used in the cases.  I may add
that, in each instance there was relevant evidence before
the member and the
finding made by her was open on the evidence.  No application of wrong
principle or misdirection has been demonstrated.
 The plaintiffs' unhappiness
in relation to her findings does not invoke the limited jurisdiction of this
Court.
<P>

18  	I should make it clear that, in respect of the termination
application, the plaintiffs do not seek to disturb the decision
made by the
tribunal in the landlord's application (the member did not make a termination
order).  As a consequence, that possession
was left undisturbed.  There were
arrears of rent and the quantum was not in issue.  The complaints agitated in
respect of that application
relate to findings made in the course of reaching
the decision not to make a termination order.  Much time was devoted inter alia
to challenging findings made which led to the member forming the view that a
valid termination notice had been given.  A disturbing
of any of these findings
would not provide the plaintiffs with any relief or remedy.  The submissions
made in respect of the application
amounted to a pointless exercise.
<P>

19  	I should also mention that, in respect of the compensation
application, the plaintiffs sought a variation of the quantum of
the amount
awarded for compensation (which was in the sum of $942).  Whilst it appeared
that the plaintiffs took the view that some
larger sum should have been
awarded, the attempts made to identify the precise quantum of compensation
which they claim should have
been awarded proved to be largely unproductive.
The first plaintiff appeared to be more concerned with agitating matters
relating
to various findings of fact with which they were unhappy.  For
completeness, I should observe that no matter of law was thrown up
in the
submissions made relating to this application.
<P>

20  	The arguments put on behalf of the landlord sought to identify
two possible areas which appear to be put forward by the plaintiffs
as
incidents of denial of natural justice.  The first related to the matter of an
adjournment which followed an amendment of the
landlord's application.  The
second related to the admission into evidence by the member of part only of the
video.  In my view,
to the extent that they may be open to the plaintiffs,
there is no substance in either suggestion.  Only the matter of the video
perhaps needs some further comment.  Earlier observations deal with the other
matter (which in any event saw them being given a reasonable
opportunity to
present their case).
<P>

21  	At the relevant time, the plaintiffs had legal representation.
It appears that there was some dispute between the plaintiffs
and their legal
representative as to whether or not the balance of the video should be tendered
in evidence.  The transcript records
the first plaintiff saying that he was
trying to bully his legal representative to tender it.  It appears that the
legal representative
made a tactical decision not to tender the balance of the
video.  Upon making that decision, he continued with the conduct of the
case
for the plaintiffs.  Any redress available in respect of this matter does not
lie in these proceedings.
<P>

22  	I have mentioned that the plaintiffs repeatedly sought to show
the whole of the video in this hearing.  There was an unwillingness
to accept
the clear ruling made in respect of this matter.  As a result, it was necessary
to remind the plaintiffs of the ruling
and repeat it on many occasions.  The
repeated rulings of the court were simply disregarded.  The ruling was made and
the attempts
to re-agitate the matter were unsuccessful because no basis could
be demonstrated for justifying the showing of the video at that
time.  On the
one hand, it had potential to touch upon questions of fact only and could not
assist the plaintiffs in the areas in
which this Court had its limited
jurisdiction.  On the other hand, it had the potential to unnecessarily further
protract an already
lengthy hearing.  The plaintiffs seemed to be unwilling to
accept that the jurisdiction of this Court was restricted to cases where
the
tribunal had decided a question with respect to a matter of law.
<P>

23  	Accordingly, I am not satisfied that any basis for relief has
been demonstrated by the plaintiffs.  Each Summons is dismissed.
 The
plaintiffs are to pay the costs of both proceedings.
<P>

**********
<P>

LAST UPDATED: 	15/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/927.html</i><br>
</p>
</small>
</body>
</html>
