<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Turnley v Swaab [1999] NSWSC 594 (28 May 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 594</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+594 or 1999+NSWSC+594">Noteup</a>]
[<a href="594.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Turnley v Swaab [1999] NSWSC 594 (28 May 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_594.html-->
<!--sino date 28 May 1999-->


<P>Last Updated: 23 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	TURNLEY v SWAAB  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/594.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 594</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	4856/97
<P>

HEARING DATE{S): 	28/05/99
<P>

JUDGMENT DATE: 	28/05/1999
<P>

 PARTIES: 
<P>

DONALD HERBERT TURNLEY v FREDERICK SWAAB AND ANOR
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

J.N. West QC and N.J. Kidd for the plaintiff
<P>

L. Ellision for the defendant
<P>

SOLICITORS: 
<P>

Richard Barron for the plaintiff
<P>

Swaab Attorneys for the defendant
<P>

CATCHWORDS: 
<P>

Family Provision
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Paras 76-78
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>MASTER MACREADY</b>
<P>

<b>FRIDAY 28 MAY 1999</b>
<P>

<b>4856/97 - DONALD HERBERT TURNELY  v  FREDERICK SWAAB - ESTATE OF GLORIA
JARMAN</b>
<P>

<b>JUDGMENT</b>
<P>

1   	MASTER:  This is an application under the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision
Act</a> in respect of the estate of the late Gloria Elvira Jarman who died on 19
July 1995 aged ninety-two years.  She was survived by two
second cousins and
the plaintiff.  The plaintiff alleges that he was in a de facto relationship
with the deceased from 1975 until
the date of death.  
<P>

2   	The last will of the deceased was made on 28 October 1993
and under that will the deceased appointed two solicitors who were
executors
and gave a bequest of the residue of the money in her Advance Bank account to
her second cousin, Doctor Sandor.  She gave
her property which is Unit 9, 59
Gilderthorpe Avenue, Randwick, to the trustees to sell it and pay a legacy of
$5000 to her other
second cousin, Eva Sandor, and the rest of the proceeds of
sale to the National Representative of Hungarian Jewish Children to use
for the
benefit and advancement of sick Hungarian Jewish orphan children.  Effectively
she gave the rest and residue of the estate
to the National Representative of
Hungarian Jewish Children.  
<P>

3   	She had, at an earlier time, made another will and that was
on 22 May 1990.  That will, in effect, gave legacies of $15,000
to Eva Sandor,
two other pecuniary legacies of $15,000 and $5000 to people who did not take
any part in this case, $5000 to Thomas
Sandor and the residue to the same
charity.  
<P>

4   	The estate of the deceased at the date of death consisted
of Unit 9, 59 Gilderthorpe Avenue, Randwick which in the past has
been
estimated to have a value of $195,000 although a recent report for the purposes
of marketing for sale suggests that it might
be in the vicinity of $250,000 to
$300,000.  There is also a bank account having a sum of $10,387.82 and there
was a refund due of
a sum of $266.67 and a number of payments worth $6000.

<P>

5   	There are substantial costs which have been incurred, both
in the administration of the estate and in these proceedings.  The
defendant's
costs are estimated at $17,000 and those of the plaintiff are estimated in a
similar amount. 
<P>

6   	It is probably useful to deal with a little of the history
first.  The deceased was born on 21 December 1902 and the plaintiff
was born on
28 April 1927.  There was thus a twenty-five year age difference between them.
It seems clear that they first met in
late 1960 and in July 1969 the plaintiff
was involved in a real estate business and helped the deceased to purchase the
property
which is the one that she held at the date of death.  
<P>

7   	The plaintiff also alleges that an intimate relationship
commenced between himself and the deceased at this time.   In the
early 1970s
the plaintiff was involved in a rebuilding or development of boarding houses
when he ran into trouble with the Builders
Labourers Union and could not
complete it.  Effectively he got into financial difficulties.  At that stage he
was still married and
in due course, because of the financial difficulties, and
the building up of interest over time the project was foreclosed.  He
ultimately
sold what properties he was able to salvage from the split up of his
marriage to pay out his creditors.   His wife and he separated,
his wife taking
some other properties and leaving him little.  In 1975 after that debacle he
moved in to the unit of the deceased
and commenced to live with the deceased,
according to him, in a de facto relationship.  
<P>

8   	The plaintiff puts the time of when the deceased's health
deteriorated in the early 1990s and it is clear that was so.  Some
other
independent witnesses also said of this happening at this time.  The plaintiff
himself was not in good health and by 1979 had
problems with his middle ear.
In 1992 he was in hospital for surgery for some form of cancer.  In 1993 he was
back again in hospital
with injuries to both shoulders and from then on he
seems to have suffered from high blood pressure and emphysema and a number of
other difficulties.  
<P>

9   	The deceased's will was made in October 1993 and there was
some contact at this stage with a solicitor who drew it, Mr Swaab,
who is the
executor in these proceedings.  I will come back to that. 
<P>

10   	In late 1993 the deceased suffered a stroke and that meant
that she effectively was disabled and in full-time care in hospital.
 On 7 June
1994 the Guardianship Board made an order appointing the plaintiff as guardian
and manager of her affairs.  That was for
a period of six months and on 5
December 1994 there was an order continuing that guardianship.  On 19 July 1995
the deceased passed
away.  A short time afterwards on 10 August 1995 written
notice was given to the defendant's solicitor of the plaintiff's intentions
to
seek an order under the Act.  
<P>

11   	In due course in December 1995 an application for probate
was lodged.  In March 1996 the defendant renounced probate.  By
19 January 1997
the time by which the plaintiff ought to have commenced proceedings expired.
Proceedings were in fact commenced on
24 November 1997 and on 3 December 1997
probate was granted.  It can be seen that the application is thus out of time.
Accordingly,
it is necessary under the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision Act</a> to allow an
application to be made notwithstanding it is out of time.
<P>

12   	There are a number of cases which refer to the principles
to be applied in an application for an extension of time.  In Re
Guskett
(deceased) <a href="http://www.austlii.edu.au/au/cases/vic/VicLawRp/1947/27.html" title="View Case" class="autolink_findcases_inserted">[1947] VicLawRp 27</a>;  <a href="/cgi-bin/LawCite?cit=%281947%29%20VLR%20211" title="View LawCiteRecord" class="autolink_findcases">(1947) VLR 211</a> the following was said:
<P>

"It is necessary for the applicant to make out a case that will justify the
grant of the indulgence sought.  He is to show reasons
why his failure to apply
within the time allowed should be excused.  Every case will have to be dealt
with on its own facts but it
would seem necessary for the applicant to satisfy
the Court that the circumstances are such as to make it unjust for him to be
penalised
for being out of time.  As moreover he is seeking an indulgence he
should apply promptly for an extension of time."
<P>

13   	His Honour Young J has in several cases dealt with the
principles governing application to extend time under this Act.  In
Massie v
Laundry (unreported 7 February 1986) he indicated that the factors which one
looks at include the following:
<P>

(a) is the reason for making a late claim sufficient?
<P>

(b) will the beneficiaries under the will be unacceptably prejudiced if the
time were extended?
<P>

(c) has there been any unconscionable conduct on either side which would enter
into the equation?
<P>

14   	He also accepts apparently a view which was expressed by
his Honour Needham J in Fancett v Ware (3 June 1986) that there is
no purpose
in extending the time with respect to a claim which must fail.  In Phillips v
Quinton (unreported 31 March 1988) Powell
J, when considering the matter at the
substantive hearing, leant to the view that a plaintiff seeking an extension of
time under
the Testators Family Maintenance Act must now demonstrate not merely
a reasonable prospect but at least a strong probability of obtaining
substantive relief.  That view was not accepted by his Honour Hodgson J in
Basto v Basto (unreported 8 September 1989).
<P>

15   	In De Winter v Johnston, a decision of the Court of Appeal
on 23 August 1995, his Honour Powell J referred to this matter
and in
particular the fact that nowadays the application for extension of time is
invariably dealt with at the time of the application
for substantive relief.
He said at page 23:
<P>

"In such a case, so it seems to me, no extension of time ought to be granted
unless it be established (inter alia) that the application
for an extension of
time would, in the event of that extension being granted, be entitled to an
order for substantive relief."
<P>

16   	His Honour Mr Justice Sheller considered that it was only
necessary to show that the application was not bound to fail.  His
Honour Mr
Justice Cole seems to have adopted the parties' approach of looking at the
strength of the plaintiff's case.
<P>

17   	It is necessary, of course, to consider firstly whether
the reason for making a late claim is sufficient.  It is perfectly
obvious in
this case that the plaintiff new about the time at which he had to make an
application very shortly after the death of
the deceased.  He does not dispute
that and he was also given a copy of the will and he knew that he did not take
any benefit.  The
explanation that is proffered is one which relates to the
plaintiff's health problems.  In his affidavit of 14 April 1998 he referred
to
the fact that he has had osteoarthritis.  This requires treatment and his
medication means that he was unable to leave home or
deal with even the
simplest task.  He said that these problems created enormous difficulties for
him to provide instructions to his
solicitors for the carriage of the matter.
He mentions that he had to cancel conferences due to ill health with both
solicitors and
counsel and at that particular stage he had not been well enough
to attend any meetings with counsel.  
<P>

18   	This story is also repeated in his affidavit of 7 December
1998.  His solicitor who had the carriage of the matter has also
dealt with it
and he annexes correspondence which passed between the solicitors recording the
continued intention to commence the
proceedings and at one stage a suggestion
was made that time for bringing the proceedings be shortened.  He gave evidence
of the
conference on 28 July 1995 in which he said that he had given
appropriate advice to the plaintiff as to the time limit within which
he could
make an application.
<P>

19   	He also then referred to the difficulty in obtaining
instructions from the plaintiff and then referred to the many occasions
when
appointments were made for the plaintiff in advance to enable him to be
medication free.  He said that on most of these occasions
he was advised by
telephone that he had had a relapse and required medication and could not keep
the appointment.   On the few occasions
that he did come it was not easy to
obtain instructions from him because of his hypertension.  
<P>

20   	The evidence is in the most general terms and it is
perhaps what might be described as a fairly meagre explanation.  
<P>

21   	I have been referred to two decisions, one of Burns v
Hayes and also a recent decision of mine in Mozley v Mozley.  In particular
in
that later decision I was there concerned with a situation about a person who,
knowing her rights made a conscious decision to
refrain from making an
application, basically because she was happy with the terms of the provision
made for her.  It was only when
some later factors supervened she changed her
mind and at that stage she was out of time to bring an application.  
<P>

22   	The factual circumstances in this case are quite
different.  Here is a man who, on his story, has lived for some twenty years
in
a de facto relationship.  He, by this time, is in his late seventies and he has
to face up going to court.  I do not think there
is any doubt about the fact
that he has many problems and part of the explanation may be, although this may
be speculation as he
was not cross-examined on it, that was some aspect of
approach avoidance.  He perhaps could not face up to giving the appropriate
instructions to commence the proceedings.  
<P>

23   	However, it certainly is not a situation where he has
deliberately decided not to proceed. The evidence does not indicate
that at
all.  For myself, I think the explanation is fairly marginal were it not for
two matters which I am about to refer to on
the question of the ultimate
conclusion on the application and its chances of success.  
<P>

24   	The next matter to consider is, of course, whether there
is any prejudice to the beneficiaries if time were extended.  On
this matter
there was early advice given and the estate has not changed.  In actual fact
the plaintiff has been in occupation doing
things such as paying rates on the
premises.   Accordingly, I cannot see that there is any prejudice at all.
<P>

25   	The next question is whether or not there is any
unconscionable conduct on either side.  The evidence gives no indication
of any
such conduct.  
<P>

26   	The next matter to consider is of course the strength of
the plaintiff's case and before making any final decision on extending
time I
will turn to the substantive aspects of the matter.   The plaintiff suggests
that he is an eligible person by reason of the
fact that he was, at the date of
death, living with the deceased person as her husband on a bona fide domestic
basis.  Alternatively,
it is put that if this is not established then he was
part of the household of the deceased and dependent upon her. 
<P>

27   	The question of whether or not the plaintiff and the
defendant were living together as husband and wife on a bona fide domestic
basis must be determined in accordance with the principles recently referred to
by the Court of Appeal in Light v Anderson &amp;
Ors(1992) DFC 95120.  They
referred with approval to the decision of Mr Justice Kearney in Simonis v
Perpetual Trustee Co Limited
 <a href="/cgi-bin/LawCite?cit=%281987%29%2021%20NSWLR%20677" title="View LawCiteRecord" class="autolink_findcases">(1987) 21 NSWLR 677</a> where his Honour, in dealing
with the similar expression in the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/fpa1982209/" class="autolink_findacts">Family Provision Act 1982</a>, after reviewing
the authorities said at p 685 the following:
<P>

"I consider that the expression under consideration constitutes a single
composite expression of a comprehensive notion or concept
and therefore has to
be approached by considering the expression as a whole and not in several
parts.  This approach, as adopted
by Powell J, was also the approach preferred
by the Administrative Appeals Tribunal in Waterford's case (see 106).  I
consider that
the factors referred to by Powell J, while not being regarded as
a complete test, serve the purpose adequately in the present case
to determine
the question of eligible person.  The factors indicated by Powell J are as
follows (at 459):
<P>

1. The duration of the relationship.
<P>

2.The nature and extent of the common residence.
<P>

3.Whether or not a sexual relationship existed.
<P>

4.The degree of financial interdependence and any arrangements for support,
between or by the parties.
<P>

5.The ownership, use and acquisition of property.
<P>

6.The procreation of children.
<P>

7.The care and support of children.
<P>

8.The performance of household duties.
<P>

9.The degree of mutual commitment and mutual support.
<P>

10.Reputation and 'public' aspects of the relationship.
<P>

28   	His Honour also referred to the support to be gained for
this approach from the report of the New South Wales Law Reform Commission
concerning de facto relationships (LRC 36 (1983)).  His Honour quoted the
following passage in the report (at 459):
<P>

"17.10.  The application of the basic definition to the myriad facets of
private personal relationships between men and women will
inevitably be a
matter of degree and proportion.  The attributes and circumstances of such
relationships differ greatly, ranging
from what is little more than a casual
liaison to a continuing affectionate companionship, to a long-term merging of
lives and resources.
 Moreover, the nature and quality of a particular
relationship may change and develop over time, making it sometimes very
difficult
to pinpoint a time when the relationship should assume a new legal
significance."
<P>

As I understand it, the parties substantially treated Powell J's approach as
being appropriate to the circumstances of the present
case."
<P>

29   	Obviously, the list is not immutable and in particular
cases other factors will have to be considered.  The list is of use
and it is
convenient to discuss many of the incidents of the relationship between the
plaintiff and the deceased under the headings
set out above.
<P>

30   	The first matter to deal with perhaps before turning to
the individual matters is the question of the credit of the plaintiff.
 The
plaintiff impressed me in the witness box as a straight-forward and honest
person.  In two documents that he has produced there
is the appearance of
inconsistent evidence to that which he has advanced in this case.  One of these
is a report from Sandra Radvin,
a social worker, which she made to the
Guardianship Board on 10 February 1994.  In that he said, according to the
author of the report,
that he had been a close friend for thirty years and came
to live together three years ago, upon her asking him to do so.  That clearly
is inconsistent with his story and there is also reference in another report of
the Guardianship Board, exhibit E, that the plaintiff
said that he lived in a
de facto relationship with Mrs Jarman on an on and off basis for about ten
years.  The only explanation that
the plaintiff can give was that he was upset
at the time as the deceased had gone to hospital.  They are inconsistent but
one of
the other witnesses who gave evidence, who was a friend of the
plaintiff, said that the plaintiff had been living at the unit for
quite some
time which really was quite inconsistent with what was reported.  Overall I am
happy to accept the plaintiff as a witness
of truth.
<P>

31   	I turn to the individual matters, firstly the duration of
the relationship.  It is clear that according to the plaintiff's
evidence that
they met in the 1960s and the plaintiff recounts the evidence, as I have
mentioned in dealing with the history of finding
a unit for the deceased and
assisting her in purchasing it.  He says, and there is no reason to doubt it,
that he gave her $2000
towards the purchase price.  The purchase price of the
unit was $13,900.  The transfer is annexed and that shows the date of transfer
as 14 July 1969.  Accordingly that is a good substantiation of the purchase and
of the plaintiff's evidence.   At that stage according
to the plaintiff the
deceased's husband was critically ill with cancer in hospital and died shortly
after the purchase.
<P>

32   	There was other evidence given by other witnesses.  In
particular there was the evidence given by Maria Paino.  In her affidavit
evidence she deposed to the fact that she had known the deceased for thirty
years when she first moved into the same block of units.
 Substantially she
gave evidence of conversations with the deceased which includes one that the
deceased said that the plaintiff
was her lover and he moved completely into the
unit with her in 1980 in a de facto relationship.  The deceased mentioned that
the
only time Don was away was on business up the coast with his fishing boat
or his boat business.   She also spoke of the deceased
receiving assistance
from the plaintiff.  She said that in 1989 the deceased said she would like Don
to have the unit and she was
going to leave it to him.  She then goes on to
deal with the period in 1990 when the deceased and the plaintiff had bad health
and
they were looking after each other.  Clearly there is in the form of the
affidavit a time frame or time order in respect of the matters
dealt with.  I
also just mention for completeness that she also spoke of the problems that the
deceased had with bowel trouble and
with unbearable pain.  
<P>

33   	When she was cross-examined it was suggested to her quite
properly on the basis of what was in exhibit 2 that in fact the
plaintiff only
moved into the unit in the early 1990s and before that did not live there.  She
agreed with that statement and thought
she must have been in error.  It is one
of those rare occasions when perhaps the impression a witness creates is
important when considering
precisely the nature of her answer.  It seems to me
that when she was answering those questions she seemed to think that she was
being presented with what were the established facts and therefore it was being
suggested that she must have been in error.  In other
words, there was an
acceptance by her of what was being put simply because it was being put as an
established fact.  I thus have
reservations about accepting her answers in
cross-examination because they are inconsistent with the general structure of
what she
was trying to tell the Court before.   
<P>

34   	There was some evidence also given by Mr Horbury who was a
close friend of the plaintiff for about thirty years.  He said
that he met the
deceased some twenty-five years ago and was a regular visitor to the property.
His evidence was vague on the times
of visits and accordingly is not of much
assistance in determining the duration of the relationship.  It is important to
note that
the deceased was in hospital from 1993 to 1995.  
<P>

35   	It seems to me that so far as duration, there was a
relationship, the details of which I will come to later, and it existed
certainly in the relevant sense from 1975.  One of the notable things about
this case is that there is no evidence that suggests
that the plaintiff may
have had another relationship or where he may have been if he was not at the
unit or engaged on the business
which took him away occasionally.
<P>

36   	The second matter is the nature and extent of the common
residence.  According to the plaintiff they shared the main bedroom
until the
early 1990s when their health deteriorated.  He then moved out into a separate
bedroom.  That is, of course, quite different
to the story shown in exhibit 2
but it is at least, in part, consistent with the later reports made to the
Guardianship Board.
<P>

37   	Mr Horbury gave evidence of visiting the unit and noting
that the deceased was in her bedroom and the plaintiff occupied another
room.
That is equally consistent with what the plaintiff said at the relevant time
and the evidence does not explore the particular
time to which reference was
made.
<P>

38   	There is an area of evidence which has to be considered
and that is there are a number of statements made by the deceased
as to whether
or not the plaintiff was a boarder.  
<P>

39   	Mr Swaab, who is the executor, gave evidence of
discussions with the deceased.  He does say that he visited her at her home
and
had known her over a period of time but I do not get the impression from his
evidence that there was some personal friendship.
 He gave evidence following
the making of the will in August 1990 that he raised the question of marital
status.  He asked whether
the plaintiff was her de facto and the deceased said
no.  During 1991 he had a conversation with the deceased when he asked was the
plaintiff her boyfriend and she replied, "I am 87 years old.  He is not my
boyfriend."  In November 1993 there was a conversation
when again the deceased
said that he was living there as a boarder, he doesn't pay any money, and
expressed some view that she would
like him to go.  The request for him to go
is perhaps explainable and perhaps did happen because the plaintiff perceives
that the
deceased became irritable and cross towards the end, perhaps because
of problems she had with her health.  
<P>

40   	In assessing these statements and perhaps also a statement
made to the Guardianship Board, one has to have regard to the person
to whom
they are being made.   The solicitor was not a personal friend, apparently, and
was not someone whom the deceased might take
into her confidence when she was
planning to leave her estate to family in Hungary or to some charity.  Maybe by
this time, and clearly
on the plaintiff's version, they were not having a
sexual relationship and that she was not feeling like communicating the true
story
to the solicitor to whom she was giving instructions to leave money to
someone in Hungary.  
<P>

41   	Similarly, regarding the Guardianship Board, that may also
have caused embarrassment to the deceased in disclosing those matters.
 I think
not too much store can be placed on these statements. They are when the
deceased was quite old and perhaps spoken on occasions
when she would not
normally wish to disclose the existence of the relationship.
<P>

42   	The other area that one has to consider is, of course, the
evidence of statements made to friends.  There are the statements
made, for
instance to Mr Horbury, that she was very close to Don, he was a good lover and
a mate and did work around the house. 
A statement like that made to a close
friend or a long time friend is likely to be true.  There are also the
statements made to Maria
Paino and they are also in the same situation.  They
bespeak of a close relationship and a close association including a desire to
leave the plaintiff the unit in both instances.  
<P>

43   	I am satisfied that in fact the plaintiff was not a
boarder.  There is no suggestion anywhere in the evidence that he paid
any
rent.  When one looks at the evidence the appropriate conclusion is that they
did have a common residence and they shared a bedroom
up until the late 1980s
or early 1990s when they moved into separate rooms. 
<P>

44   	Number 3 is whether or not a sexual relationship existed.
I have previously referred to the evidence of the other two independent
people
who have given evidence and I am prepared to accept the plaintiff's evidence as
to the extent of the sexual relationship.
 
<P>

45   	Number 4, the degree of financial inter-dependence and any
arrangements for support, between or by the parties. There is evidence
of the
plaintiff paying bills from time to time and that does not seem to be disputed.
He continued to do so after the date of death.
<P>

46   	Number 5, the ownership, use and acquisition of property.
There is no relevant property.  
<P>

47   	Numbers 6 and 7, children - clearly these matters are not
relevant. 
<P>

48   	Number 8, the performance of household duties.  There is
evidence from the plaintiff that they would shop together and even
on the
deceased's statement to which I have referred they went shopping together.
There is no reason not to accept the plaintiff's
evidence of washing clothes of
the deceased during the periods when she was ill.
<P>

49   	Number 9, the degree of mutual commitment and mutual
support.  The evidence of this is probably the most compelling evidence.
 The
evidence the plaintiff gives, which is also backed up by Mrs Paino, is of
personal assistance to the deceased during the period
from 1990 to 1993.  She
did have apparently great pain and needed things such as suppositories.  She
needed attention and the plaintiff
did all these personal matters for the
deceased which bespeaks a close relationship.  
<P>

50   	Another matter is, that between 1993 and 1995 when the
deceased was in hospital and unable to communicate, the plaintiff still
visited
her.  That is not disputed and that also bespeaks of support for the deceased.
To a certain extent the appointment of the
plaintiff as guardian of the
deceased also indicates continued support in her illness.  If the relationship
had not been a close
one, the giving of this sort of care that I have referred
to and the taking on responsibilities in respect of a person could well
not
occur.  
<P>

51   	Number 10, reputation and public aspects of the
relationship.  There is some reference to visits by friends tailing off as
she
became more ill.
<P>

52   	Overall I am satisfied that there was a de facto
relationship between the plaintiff and the deceased.  The question which
arises, given some of the evidence, is whether there was any interruption to
it.  The evidence indicates that over the period of
the relationship the
plaintiff had a number of occupations.  On occasions he would do up cars and
sell them.   His interests seem
to be more maritime.  He was involved in
chartering boats and occasionally involved in deals selling boats.  From time
to time he
would go away to sea for fishing and other commercial duties.  The
evidence seems to indicate that he may have been away for a period
of a month
or two on those occasions.  
<P>

53   	The other area, of course, is the fact that between 1993
and 1995 the deceased was in hospital.  It is necessary, of course,
for the
plaintiff to be an eligible person that he was in the appropriate relationship
at the date of death.  This raises the question
of how a relationship of this
nature does terminate.   
<P>

54   	There have been a number of references in the cases to the
problem which started to surface in Australia in cases under matrimonial
legislation which provided for parties living separately and apart as a ground
for divorce.  An earlier case which is of use on the
general principles is Main
v Main  <a href="/cgi-bin/LawCite?cit=%281978%29%20CLR%20636" title="View LawCiteRecord" class="autolink_findcases">(1978) CLR 636.</a>  At p 642 in the joint decision of the majority the
following was said:
<P>

"Although usually the existence of the conjugal or matrimonial relationship or
consortium vitae means that the spouses share a common
home and live in the
closest association, it is not inconsistent with absences one from another,
even for very long periods of time.
 It rests rather on a real mutual
recognition by husband and wife that the marital relationship continues to
subsist and a definite
intention to resume the closer association of a common
life as soon as the occasion or exigency has passed which has led to an
interruption
regarded by both as temporary.
<P>

In deciding whether there was at any specified date an existing matrimonial
relationship, it is, I think, right to say that such
a relationship does not
end so long as both the spouses bona fide recognize it as subsisting, and in
particular it does not end by
reason of a separation brought about by the
pressure of external circumstances such as absence on professional or business
pursuits,
or in search of health or it may be even of pleasure.  Marital
intercourse, the dwelling under the same roof, society and protection,
support,
recognition in public and in private, correspondence during separation, making
up as a whole the consortium vitae, which
the old writers distinguish from the
divortium a mensa et thoro, may be regarded separately as different elements,
the presence or
absence of which go to show more or less conclusively that the
matrimonial relationship does or does not exist. The weight of each
of these
elements varies with the health, position in life and all the other
circumstances of the parties."
<P>

55   	As indicated by the High Court, there are matters of
degree of separation, and particularly in accordance with the passages
I have
indicated, separation by reason of illness or otherwise does not mean that the
relationship has ceased.
<P>

56   	A matter also arising in a number of cases under the De
Facto Relationship Act frequently occurs in the context of whether
or not there
have been several separate periods of relationship.  This sometimes is
significant because a period of relationship
and a separation period might be
before the commencement of the Act.  The matter was dealt with at an early
stage in Hibberson v
George.  That was a decision of his Honour Cohen J which
went on appeal to the Court of Appeal.  At the trial his  Honour Cohen J
had
the following to say:
<P>

"The use of the words 'living or having lived together as husband and wife on a
bona fide domestic basis' suggests a degree of permanence
which will not cease
merely because one party separates for the purpose of going on holidays or
going on business.  Nor would it
cease if, after an argument, one party moved
out and stayed elsewhere for a short while or went home to his or her family,
if there
was an intention to return and if there was a reasonable indication of
that intention.  See the reviews of the Law Reform Commission
in its reports at
para 17.18.
<P>

It must be a question of fact whether, on separation, one party intended that
there should be an end to the relationship or whether
the parties or either of
them acted in such a way as would indicate that that intention existed.  Once
that intention or indication
is found to exist then, as occurred in McRae v
McRae (1967) 68 SR (NSW) 361, the relationship will only be renewed when the
parties
actually return and live together.  It would not be sufficient merely
to form an intention to enter into an agreement to resume life
together."
<P>

57   	The theme which his Honour there picked up was repeated in
the words of Mahoney JA in Hibberson v George  <a href="/cgi-bin/LawCite?cit=%281989%29%2012%20Fam%20LR%20725" title="View LawCiteRecord" class="autolink_findcases">(1989) 12 Fam LR 725</a> at 740 where
his Honour said of the statutory definition the following:
<P>

"It is correct...that the relevant relationship may continue notwithstanding
that the parties are apart, for example on holidays.
 There is, of course, more
to a relevant relationship than living in the same house.  But there is, I
think, a significant distinction
between the relationship of marriage and the
instant relationship.  The relationship of marriage, being based in law,
continues notwithstanding
that all of the things for which it was created have
ceased.  Parties will live in the relationship of marriage notwithstanding that
they are separated, without children, and without the exchange of the incidents
which the relationship normally involves.  The essence
of the present
relationship lies not in law but in a de facto situation. I do not mean by this
that cohabitation is essential to
its continuance: holidays and the like show
this.  But where one party determines not to 'live together' with the other and
in that
sense keeps apart, the relationship ceases, even though it be merely,
as it was suggested in the present case, to enable the one
party or the other
to decide whether it should continue.  The learned judge, correctly, treated
the matter as a question of fact."
<P>

58   	McHugh JA agreed with Mahoney JA.  Hope JA said he agreed
with McHugh JA so that it would seem that this expression by Mahoney
JA is a
considered view of the Court of Appeal.
<P>

59   	Since then the matter has been considered in a number of
cases.  In particular, Powell JA has dealt with this on a number
of occasions.
In Lipman v Lipman  <a href="/cgi-bin/LawCite?cit=%281989%29%2013%20Fam%20LR%201" title="View LawCiteRecord" class="autolink_findcases">(1989) 13 Fam LR 1</a>, his Honour had the following to say:
<P>

"Although I accept that the concept of 'a de facto relationship' does not
involve the notion that the parties to it must always
be together under the
same roof, so that such a relationship may continue to subsist notwithstanding
the absence of one party from
'the matrimonial home', and although I do not
discount the possibility that 'a de facto relationship' may properly be
regarded as
continuing notwithstanding that the parties may have separated only
temporarily while they attempted to work through some difficulty
which they had
encountered in their relationship, I am quite unable to see how such a
relationship can be said to continue in a case
such as this, in which the 'de
facto husband' requires the 'de facto wife' to leave the 'matrimonial home' and
installs another in
her place.  As Mahoney JA said in Hibberson v George 12 Fam
LR at 740; DFC at 75 supra: 'The essence of the present relationship
lies, not
in law, but in a de facto situation.  I do not mean by this that cohabitation
is essential to its continuance; holidays
and the like show this.  But where
one party determines not to "live together" with the other and in that sense
keeps apart, the
relationship ceases, even though it be merely, as it was
suggested in the present case, to enable the one party or the other to decide
whether it should continue."  I therefore conclude that in this case, there
were two discreet 'de facto relationships'."
<P>

60   	In Thomson v Badger  <a href="/cgi-bin/LawCite?cit=13%20Fam%20LR%20559" title="View LawCiteRecord" class="autolink_findcases">13 Fam LR 559</a>, his Honour Young J had
to deal with a case where, as does not infrequently happen, the relationship
was one which was interrupted
by absences on quite a number of occasions. His
Honour referred to the cases to which I have referred and also referred to
Australian
National Railways Commission v Gerlach (1987) DFC 95/048.  He used
that as a reference to the fact that one must view the circumstances
in which
the parties ceased to live under the same roof in the context of their total
relationship and he posed the question that
one must ask in the context of the
total relationship as whether there was a mere lovers' quarrel or a termination
of the relationship.
 His Honour looked at the case in hand and described it as
one:
<P>

".. not being the happiest of relationships but was one which always continued
on from where it left off.  There was an incident,
a separation, then usually a
short time later the parties got together on the same basis against as before.
In my view the proper
determination of the factual question raised is that
there was a de facto relationship which continued..."
<P>

61   	The matter has also been again referred to by Powell JA in
Theodoropoulos v Theodosiou  <a href="/cgi-bin/LawCite?cit=%281995%29%2038%20NSWLR%20424" title="View LawCiteRecord" class="autolink_findcases">(1995) 38 NSWLR 424</a>, where he referred, with
approval, to the statement of Mahoney JA.  Also in Gazzard v Winders,
unreported Court of Appeal, 23 July
1998, he once again quoted with approval
the statement by Mahoney JA in Hibberson v George.  In that case Beazley JA had
the following
comments to make about Hibberson v George:
<P>

"I would comment in passing only that I do not endorse in any unqualified way
the comments of Mahoney JA in Hibberson v George 
<a href="/cgi-bin/LawCite?cit=%281989%29%2012%20Fam%20LR%20725" title="View LawCiteRecord" class="autolink_findcases">(1989) 12 Fam LR 725.</a>  For
myself, I do not know that it accords either with reality or a proper
construction of the Act to find that an interruption which,
in a long
relationship, may be no more than a hiccup, would have completely brought the
relationship to an end.  In any event, I
can see no reason why a short
interruption of the relationship for six weeks in a period of fourteen and a
half years should prevent
the Court from taking into account the circumstance
that this was a lengthy relationship of that order.  Even if I am wrong, I
consider
ten and a half years to be a relationship of a lengthy duration."
<P>

62   	In the light of those matters, I think clearly t here is a
strong weight of authority which supports the view expressed by
Mahoney JA in
the Court of Appeal in Hibberson v George.  Of particular note is his view
that:
<P>

"... where one party determines not 'to live together' with the other and in
that sense keeps apart, the relationship ceases, even
though it be merely to
enable the one party or the other to decide whether it should continue."
<P>

63   	The qualification that perhaps emerges from what his
Honour Young J was referring to in Thomson v Badger is that when one
has a
situation of frequent interruptions and then a return to the relationship that
may, in fact, lead one, on a factual basis,
to suggest that perhaps an
expressed intention to leave the relationship was not the real intention and
was more a pattern of behaviour.
 That is perhaps what Beazley JA was alluding
to in her comments on Gazzard v Winders.  But in any event she was also there
more
concerned with the more difficult circumstance as to wether the Court can
take into account earlier periods of interruption to a
relationship.
<P>

64   	Here in the present case I think the evidence is all the
one way.  The absences on trips north on fishing trips or in dealings
with
boats are nothing more than the parties being separated by virtue of
employment.  It is quite telling that the plaintiff indicated
that sometimes
the deceased would be upset about this and demanded that he come back and on
those occasions he simply came.  
<P>

65   	The other question is the period of illness between 1993
and 1995.  As can be seen from the quotations that I have referred
to from the
High Court and the Court of Appeal, such a matter is not an interruption of the
relationship.  There is nothing to suggest
there was an intention to terminate.
Even if I were not of this view, clearly the plaintiff was part of the
household and was dependent
at least for the provision of accommodation on the
deceased.  It may well have been, even though it was not put to him, he could
have had some other accommodation, but that is not what the parties chose to
do.  They lived in her house and in those circumstances,
given the extent of
the contact that I have found, I would have thought there would be factors
warranting under s 9(1). 
<P>

66   	In applications under the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/fpa1982209/" class="autolink_findacts">Family Provision Act</a>, the High
Court has recently in Singer v Berghouse <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1994/40.html" title="View Case" class="autolink_findcases_inserted">[1994] HCA 40</a>;  <a href="/cgi-bin/LawCite?cit=%281994%29%20181%20CLR%20201" title="View LawCiteRecord" class="autolink_findcases">(1994) 181 CLR 201</a> set out the
two-stage approach that a court must take.  At page 209 it said the
following:
<P>

"The first question is, Was the provision (if any) made for the applicant
'inadequate for (his or her) proper maintenance, education
and advancement in
life?'  The difference between 'adequate' and 'proper' and the
interrelationship which exists between 'adequate
provision' and 'proper
maintenance' et cetera were explained in Bosch v Perpetual Trustee Co Limited.
The determination of the first
stage in the two-stage process calls for an
assessment of whether the provision (if any) made was inadequate or what, in
all the
circumstances, was the proper level of maintenance et cetera
appropriate for the applicant having regard, amongst other things, to
the
applicant's financial position, the size and nature of the deceased's estate,
the totality of the relationship between the applicant
and the deceased and the
relationship between the deceased and other persons who have legitimate claims
upon his or her bounty. 

<P>

The determination of the second stage, should it arise, involves similar
considerations.  Indeed, in the first stage of the process,
the Court may need
to arrive at an assessment of what is the proper level of maintenance and what
is adequate provision, in which
event, if it becomes necessary to embark upon
the second stage of the process, that assessment will largely determine the
order which
should be made in favour of the applicant.  In saying that, we are
mindful that there may be some circumstances in which a court
could refuse to
make an order notwithstanding that the applicant is found to have been left
without adequate provision for proper
maintenance.  Take, for example, a case
like Ellis v Leeder where there were no assets from which an order could
reasonably be made
and making an order could disturb the testator's
arrangements to pay creditors."
<P>

67   	The plaintiff's situation is fairly simple.  He is a
single man aged seventy-two in poor circumstances.  His assets consist
of a
1982 Datsun 280ZX valued at $1500 which has suffered hail damage.  He has an
unregistered Ford Fairlane worth about $500 and
a trailer worth about $1000.
He has negligible amounts in a bank account and liabilities on credit cards of
about $3900.  His income
is the old age pension of $362.70 a fortnight.  He
still engages, when he can, in his minor businesses of buying and selling boats
or cars.  Given his age, that, no doubt, is tailing off.  Recent medical
reports indicate that he is suffering from emphysema, hypertension
and capsular
tears to both shoulders.  He has generalised osteoarthritis and some other
matters.  He is on medication and in fact
is taking five different sorts of
medication.  
<P>

68   	It is necessary to have regard to other persons who might
have claim on the bounty of the deceased.  These, in this case,
are the
beneficiaries in the will of which probate has been granted.  The evidence
indicates that the two persons who take legacies
are second cousins.  The
doctor has corresponded with the deceased and occasionally contacted her by
phone.  Apart from that there
is no other indication of any close personal
contact with those relatives.  There is no evidence placed before the Court
about their
financial circumstances.  The Court can assume that they do not
wish those circumstances to be taken into account.  In respect of
the charity,
there is no evidence in this case as to any contact between the deceased and
the charity.  No doubt the deceased's background
may provide a reason why she
may have included them in her will.
<P>

69   	Widow's claims are frequently the subject of applications
in this Court.  The Court of Appeal in Goloski v Goloski (unreported
5 October
1993) has referred to formulations of this standard to be expected in respect
of a widow in terms which refer to the decision
of Powell J in Luciano v
Rosenblum  <a href="/cgi-bin/LawCite?cit=%281985%29%202%20NSWLR%2065" title="View LawCiteRecord" class="autolink_findcases">(1985) 2 NSWLR 65</a> and Elliott v Elliott which was approved by the
Court of Appeal on 24 April 1986.  There his Honour said:
<P>

"Where the marriage of a deceased and his widow has been long and harmonious,
where the widow has loyally supported her husband
and assisted him to build up
and maintain his estate, the duty which a deceased owes to his widow can be no
less than to the extent
to which his assets permit him to achieve that result;
first, to ensure that his widow be secure in her home for the rest of her
life
and that if either the need arises or the whim strikes her she have the
capacity to change her home; secondly, that she have
available to her an income
sufficient to enable her to live in a reasonable degree of comfort and free
from any financial worry;
and thirdly, that she have available to her a fund to
which she might have resort in order to provide herself with such modest
luxuries
as she might choose and which would provide her with a hedge against
any unforeseen contingency or disaster that life might bring."
<P>

70   	There is, of course, no difference between widows' claims
and widowers' claims.  So far as the personal nature of the relationship
with
the deceased at the date of death is concerned, there also can be little
difference.  Here in this case we have a relationship
which existed for some
twenty years.  It appears to have been happy up until the recent last few years
when the plaintiff talked
about the deceased becoming cranky and friends
starting not to visit as often.  So obviously there was some unhappiness at
that stage.
 
<P>

71   	An important matter to be considered, is that the
plaintiff himself has helped to build up the estate of the deceased.  He
contributed $2000 to the purchase price of the unit which was $13,900.  That
was a substantial proportion of the price at that stage
and it is a matter
which has to be taken into account.   
<P>

72   	The other matter, of course, is that there was help and
assistance during the years from 1990 to 1993.  There has been strong
submissions about the lack of evidence as to what would be an appropriate
provision.  It is trite that the Court can only make provision
for a plaintiff
left without adequate and proper provision for his maintenance, education and
advancement in life.  
<P>

73   	I have frequently in this Court, as counsel knows referred
to the absence of such evidence and how that directly leads to
applications not
being successful or not receiving what might be expected.  The practical
situation in this estate is that there
are costs of some $34,000, if I make an
order in favour of the plaintiff, which will have to be met.  There is not
sufficient cash
and that would lead to the sale of the unit.  The unit, having
been sold, there will be an amount available.  Although the expected
price
range is said to be between $250,000 and $300,000, one might perhaps take that
with some reserve, but there may be, after the
payment of costs, a sum in the
order of $200,000 available to the estate.
<P>

74   	The question is: In what way has the plaintiff been left
without adequate provision?  I have earlier indicated the provision
that the
Court might make in the case of a widow's claim where there has been a long and
happy association and contribution to the
estate.  There should be provided,
first, accommodation, secondly, a fund for contingencies and thirdly,
sufficient so that the plaintiff
can have an appropriate amount of income.
This is a relationship of some twenty years, which is of a reasonable duration.
The plaintiff
will certainly need accommodation.  How he might provide it is
difficult to see, other than by moving to some cheaper accommodation
or moving
in with his children.  He has four children, two of whom live in Sydney and
they are boys in their thirties.   They have
no assets between them, apart from
one of them having an interest in an investment unit with his sister.  Two of
his daughters live
on the Gold Coast, one of them is married with a family, a
husband and a home.  The other has the interest in the investment unit.
 It may
be a possibility that his children may come to his assistance but certainly the
plaintiff cannot count on that.  If they
did it may be that the house will be
preserved and not sold but, given the absence of evidence, I cannot assume that
is likely to
happen.  Be that as it may, if the house is sold there is a sum of
$200,000 and the plaintiff has need for accommodation which he
may be able to
meet although it would possibly mean moving elsewhere to a cheaper area.  He is
not well and he has difficulty getting
about.  He is living modestly on the
pension. 
<P>

75   	The provision of a capital sum, even if he moves out to
rented accommodation, will provide him with assistance for rent and
provide him
with assistance for his everyday living.  I do not think the sum likely to come
is such that one can categorise it as
being beyond what he should have, even if
he were to rent and use the sum to supplement his income.  Often in these
circumstances
one sees competing claims on the property.  Frequently there are
children from the first marriage and one raises questions of whether
or not it
is appropriate that the whole of the capital should pass to the plaintiff.   In
my view, it is noticeable in this case
that there is little evidence of the
association with the minor legatees and absolutely no evidence of the
association with the charity
or the reason why the deceased decided to leave
the property to that charity.  
<P>

76   	In those circumstances the appropriate order is that in
lieu of the provisions under the will the plaintiff should receive
the whole of
the estate of the deceased. 
<P>

77   	I am satisfied in those circumstances that it is
appropriate to extend time and I extend time for the making of this application
to the date of the filing of the summons of the plaintiff.  
<P>

78   	The defendant's costs on an indemnity basis and the
plaintiff's costs on a part and party basis to be paid out of the estate.
  The
exhibits may be returned.
<P>

LAST UPDATED: 	17/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/594.html</i><br>
</p>
</small>
</body>
</html>
