<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Bhagat v Royal and Sun Alliance Life Assurance Australia Limited and Ors. [1999] NSWSC 159 (17 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 159</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+159 or 1999+NSWSC+159">Noteup</a>]
[<a href="159.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Bhagat v Royal and Sun Alliance Life Assurance Australia Limited and Ors. [1999] NSWSC 159 (17 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/2000_159.html-->
<!--sino date 17 March 1999-->


<P>Last Updated: 16 October 2000
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	BHAGAT V. ROYAL &amp; SUN ALLIANCE LIFE ASSURANCE AUSTRALIA LIMITED
&amp; ORS.  <a href="/cgi-bin/LawCite?cit=%5b2000%5d%20NSWSC%20159" title="View LawCiteRecord" class="autolink_findcases">[2000] NSWSC 159</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	3018/99
<P>

HEARING DATE{S): 	09/03/00
<P>

JUDGMENT DATE: 	17/03/1999
<P>

 PARTIES: 
<P>

Hari Bhagat - Plaintiff
<P>

Royal &amp; Sun Alliance Life Assurance Australia Ltd. - 1st Defendant
<P>

Duncan Boyle - 2nd Defendant
<P>

Tyndall Australia Limited - 3rd Defendant
<P>

Michael Wilkins - 4th Defendant
<P>

JUDGMENT OF: 	Hodgson CJinEq      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiff in person
<P>

Mr. S. Robb QC for 1st and 2nd defendants
<P>

Mr. A. Bell for 3rd and 4th defendants
<P>

SOLICITORS: 
<P>

The plaintiff acted for himself
<P>

Middletons Moore &amp; Bevins, Sydney for 1st &amp; 2nd defendants
<P>

Mallesons Stephen Jaques, Sydney for 3rd &amp; 4th defendants
<P>

CATCHWORDS: 
<P>

CORPORATIONS - Takeover offers - Application by dissenting offerees - Need for
clarity and expedition.
<P>

ACTS CITED: 
<P>

Corporations Law s.701
<P>

DECISION: 
<P>

See par.18 of judgment
<P>

JUDGMENT: 
<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

CORAM:   HODGSON, CJ in Eq.
<P>

<u>Friday 17th March 2000</u>
<P>

<b><u>NO. 3018 OF 1999</u></b>
<P>

<b><u>BHAGAT  V.  ROYAL &amp; SUN ALLIANCE LIFE ASSURANCE AUSTRALIA LTD. &amp;
ORS. </u></b>
<P>

<b><u>JUDGMENT</u></b>
<P>

1  	On 15th February 2000, I delivered a judgment in these
proceedings, in which I made certain orders including an order for costs
against Mr. Bhagat.  However, when I handed the judgment down in Court, I
offered Mr. Bhagat an opportunity to make further submissions
on costs if he
wished to do so.  Mr. Bhagat did wish to do so, and in those circumstances, I
stayed the order in relation to costs,
and I heard submissions on costs on 9th
March 2000.  
<P>

2  	One matter which Mr. Bhagat raised in his submissions requires me
to re-visit one aspect of the judgment.  Mr. Bhagat pointed
out that the time
for making an application under s.701(6) of the Corporations Law did not expire
until fourteen days after a dissenting
offeree had been given a statement under
s.701(9); and in those circumstances, he submitted that his summons, filed
within that time,
was a valid application under s.701(6).  He pointed out that
he had asked for a list of dissenting offerees on 24th June 1999, and
that his
summons was filed on 6th July 1999.  
<P>

3  	In order to consider this submission, it is necessary to have
regard to s.701 of the Corporations Law, which is in the following
terms:
<P>

<b><i>701.(1)   For the purposes of this section: </i></b>
<P>

<b><i>(a)   where takeover offers have been made under a full takeover scheme
in respect of shares in a class of shares, the shares in respect
of which the
offers were made (other than shares to which the offeror was entitled when the
first of the offers was made) are shares
subject to acquisition; </i></b>
<P>

<b><i>(b)   where a takeover announcement has been made in respect of shares in
a class of shares, the shares in that class (other than
shares to which the
offeror is entitled) are shares subject to acquisition; </i></b>
<P>

<b><i>(c)   a reference to outstanding shares is a reference to: </i></b>
<P>

<b><i>(i)    shares subject to acquisition by virtue of paragraph (a) in
respect of which a takeover offer was made but has not been accepted,
excluding
shares acquired by the offeror otherwise than under the takeover scheme; or
</i></b>
<P>

<b><i>(ii)   shares subject to acquisition by virtue of paragraph (b) in
respect of which an offer made under a takeover announcement has
not been
accepted, excluding shares acquired by the offeror otherwise than by the
acceptance of offers made under the takeover announcement;
and </i></b>
<P>

<b><i>(d)   a reference to a dissenting offeree is a reference to: </i></b>
<P>

<b><i>(i)    in relation to shares in respect of which takeover offers have
been made---a person who is the holder of shares that are outstanding
shares by
virtue of subparagraph (c)(i); and </i></b>
<P>

<b><i>(ii)   in relation to shares in respect of which a takeover announcement
has been made---a person who is the holder of shares that
are outstanding
shares by virtue of subparagraph (c)(ii). </i></b>
<P>

<b><i>(2)   Where: </i></b>
<P>

<b><i>(a)   takeover offers have been made under a full takeover scheme, or a
takeover announcement has been made, in respect of a class
of shares;
</i></b>
<P>

<b><i>(b)   during the takeover period the number of shares in that class to
which the offeror is entitled has become not less than 90%
of the shares in
that class (notwithstanding that that number of shares may subsequently become
less than that percentage as a result
of the issue of further shares in that
class); and </i></b>
<P>

<b><i>(c)   if the shares subject to acquisition constitute less than 90% of
the shares in that class: </i></b>
<P>

<b><i>(i)    three-quarters of the offerees have disposed of to the offeror
(whether under the takeover scheme or by acceptance of offers
made by the
takeover announcement, as the case may be, or otherwise) the shares subject to
acquisition that were held by them; or
</i></b>
<P>

<b><i>(ii)   at least three-quarters of the persons who were registered as the
holders of shares in that class immediately before the day
on which the Part A
statement was served on the target company or the takeover announcement was
made are not so registered at the
end of one month after the end of the offer
period; </i></b>
<P>

<b><i>the offeror may, before the end of 2 months after the end of the offer
period, give notice, as prescribed, to a dissenting offeree
to the effect that
the offeror desires to acquire the outstanding shares held by the dissenting
offeree. </i></b>
<P>

<b><i>(3)   For the purposes of subparagraph (2)(c)(ii), 2 or more persons
registered as holding shares jointly shall be deemed to be one
person.
</i></b>
<P>

<b><i>(4)   An offeror to whom subsection (2) applies in relation to a
particular company shall, on the first day on which the offeror gives
a notice
under that subsection in relation to that company, lodge a copy of that notice
or, if on that day the offeror gives 2 or
more notices under that subsection in
relation to that company, a copy of any one of those notices. </i></b>
<P>

<b><i>(5)   Where a notice is given under subsection (2), the offeror is
entitled and bound, subject to this section, to acquire the shares
to which the
notice relates on the terms that were applicable in relation to the acquisition
of shares under the takeover scheme
or pursuant to the takeover announcement
immediately before the end of the offer period. </i></b>
<P>

<b><i>(6)   Subsection (5) does not apply in relation to a dissenting offeree
where, on an application made by the dissenting offeree: </i></b>
<P>

<b><i>(a)   before the end of one month after the day on which the notice was
given under subsection (2); or </i></b>
<P>

<b><i>(b)   before the end of 14 days after the day on which the dissenting
offeree was given a statement under subsection (9); </i></b>
<P>

<b><i>whichever is the later, the Court orders that subsection (5) is not to
apply in relation to the dissenting offeree. </i></b>
<P>

<b><i>(7)   Where alternative terms were offered under a takeover offer to
which this section applies, the dissenting offeree may, by notice
given to the
offeror: </i></b>
<P>

<b><i>(a)   before the end of one month after the day on which the notice was
given under subsection (2); or </i></b>
<P>

<b><i>(b)   before the end of 14 days after the day on which the dissenting
offeree was given a statement under subsection (9); </i></b>
<P>

<b><i>whichever is the later, specify which of those terms the dissenting
offeree prefers, and the terms so specified shall apply to the
acquisition of
the outstanding shares held by the dissenting offeree. </i></b>
<P>

<b><i>(7A)   A notice under subsection (7): </i></b>
<P>

<b><i>(a)   if it relates to shares that are entered on an SCH
subregister---must be in an electronic form approved by the SCH business
rules
for the purposes of this Part; or </i></b>
<P>

<b><i>(b)   if it relates to shares that are not entered on an SCH
subregister---must be in writing. </i></b>
<P>

<b><i>(8)   If a dissenting offeree fails to give a notice before the time
applicable under subsection (7), the offeror may, unless the
Court otherwise
orders, determine which of the terms referred to in that subsection is to apply
to the acquisition of the outstanding
shares of the dissenting offeree.
</i></b>
<P>

<b><i>(9)   A dissenting offeree may, by written notice given to the offeror
before the end of one month after the day on which the notice
under subsection
(2) was given, ask for a written statement of the names and addresses of all
other dissenting offerees and the offeror
shall as soon as practicable give a
written statement accordingly. </i></b>
<P>

<b><i>(10)   Unless the Court, on an application made under subsection (6), has
ordered to the contrary, the offeror shall, before the end
of 14 days after:
</i></b>
<P>

<b><i>(a)   the end of one month after the day on which the notice under
subsection (2) was given; </i></b>
<P>

<b><i>(b)   the end of 14 days after the last day on which a statement under
subsection (9) was given; or </i></b>
<P>

<b><i>(c)   where an application has been made to the Court under subsection
(6)---the day on which the application has been disposed of;
</i></b>
<P>

<b><i>whichever last happens, serve a copy of the notice under subsection (2)
on the company that issued the shares, together with an instrument
of transfer
of the shares signed on behalf of the holder of the shares by a person
appointed by the offeror and also signed by the
offeror, and pay, allot or
transfer to the target company the consideration for the transfer, and the
target company shall thereupon
register the offeror as the holder of those
shares. </i></b>
<P>

<b><i>(11)   The target company shall hold the consideration so received in
trust for the former holder of the shares and shall as soon
as practicable give
written notice to the former holder that the consideration has been received
and is being held by that company
pending instructions from the former holder
as to how it is to be dealt with. </i></b>
<P>

<b><i>(12)   Where consideration held as provided by subsection (11) consists
of or includes money, that money shall be paid into a bank
account opened and
maintained for that purpose only. </i></b>
<P>

4  	Mr. Bhagat's summons, as originally filed on 6th July 1999,
sought the following orders:
<P>

<b><i>1.	A declaration that the First, Second, Third and Fourth Defendants were
aware, or must have been aware, that the controlled entity
of the Third
Defendant, Tyndall Funds Management (NSW) Limited may be in breach of its duty
and that its directors, who were also
the directors of the Third Defendant, may
have acted dishonestly prior to the takeover scheme takeover offers made by the
First Defendant
for the acquisition of the fully paid ordinary shares of the
Third Defendant.</i></b>
<P>

<b><i>2.	A declaration that the First, Second, Third and Fourth Defendants
failed to make full and proper disclosure to the Third Defendant's
shareholders, that the controlled entity of the Third Defendant, Tyndall Funds
Management (NSW) Limited, may have been in breach
of its duty and that its
directors, who were also the directors of the Third Defendant, may have acted
dishonestly prior to the takeover
scheme takeover offers made by the First
Defendant for the acquisition of the fully paid ordinary shares of the Third
Defendant.</i></b>
<P>

<b><i>3.	A declaration that the Directors of the Third Defendant who are also
the Directors of its controlled entity Tyndall Funds Management
(NSW) Limited
may, on the determination of Supreme Court Proceedings No. 1848/1999 Equity
Division, be convicted for dishonesty prior
to the recommendation made by them
to the Third Defendant's shareholders, including the Plaintiff, to accept the
First Defendant's
takeover offer.</i></b>
<P>

<b><i>4.	An order that the First Defendant not acquire the shares of the
Plaintiff held in the Third Defendant until the determination of
Supreme Court
proceedings No. 1848/1999 Equity Division and the completion of the Australian
Securities and Investment Commission's
enquiries.</i></b>
<P>

<b><i>5.	Costs.</i></b>
<P>

<b><i>6.	Other or further orders.</i></b>
<P>

5  	Mr. Bhagat submitted that Order 4 did amount to an order that
s.701(5) not apply, and for that reason the summons was an application
within
s.701(6).  
<P>

6  	In paragraph 53 of my judgment dated 15th February 2000, I noted
that Mr. Bhagat had not adopted the statutory remedy given
by s.701 of the
Corporations Law.  I went on to say that, in my opinion, there was no
possibility of a case being made out for extension
of time for initiating the
procedure under s.701(6).  At that stage, I had not understood Mr. Bhagat to
have submitted that his summons
was in truth such an application.  However,
plainly now he does so, and I should consider that submission.  
<P>

7  	The making of an application under s.701(6) has significant
consequences.  For example, under s.701(10) it means that the time
within which
the offeror must complete the acquisition of shares is extended to fourteen
days from disposal of the application. 
Having regard to the seriousness of the
offeror's obligation under s.701(5), and the importance of the time limits in
s.701(10),
in my opinion, for something to count as an application under
s.701(6), it must be reasonably clear that that is what it is.  
<P>

8  	In considering whether Mr. Bhagat's summons of 6th July 1999
could be so considered, I accept that it is relevant to take account
of the
fact that he is a litigant in person, and to have regard to the principles
concerning litigants in persons set out in <u>Wentworth v. Rogers (No.5)</u>
 <a href="/cgi-bin/LawCite?cit=%281986%29%206%20NSWLR%20534" title="View LawCiteRecord" class="autolink_findcases">(1986) 6 NSWLR 534</a> at 536-7.  In relation to the question I am considering, I
think one would not expect such accurate draftsmanship from a litigant
in
person, and any unsuitability to s.701(6) in the drafting may carry more
weight, in suggesting that an application is not an application
under s.701,
when the drafting is by lawyers, than when it is by a litigant in person.  In
my opinion, the mere fact that s.701(5)
or s.701(6) is not expressly referred
to would not be conclusive against the application being one under s.701(6).

<P>

9  	However, even allowing for those considerations, I do not think
that the summons in this case was an application under s.701(6).
 Order 4 is
plainly expressed as an order to hold a position temporarily until certain
other things happened, whereas an order under
s.701(6) would have final effect,
namely that s.701(5) would not apply in relation to the dissenting offerees'
shares.  The evidence
put on by Mr. Bhagat was also directed to the matters
referred to in the first three orders, and to the appropriateness of holding
the position until those matters had been investigated.  It did not in fact
ever occur to me, in my consideration of the case, that
the summons could
possibly itself have been an application under s.701(6), until Mr. Bhagat made
his submission on 9th March 2000.
 
<P>

10  	That is sufficient to dispose of this aspect of Mr. Bhagat's
submissions.  However, I would also note that the structure of
s.701 makes it
plain that it is important that an application under s.701(6) be pursued
quickly to finality.  Even where a s.701(6)
application is made, s.701(5)
continues to apply, unless and until an order is made, leaving the offeror
still entitled and bound
to acquire the shares:  all that s.701(10) does is to
extend the ultimate time limit for this to happen.  If an application is made,
but not pursued in the Court, and the s.701(10) procedure is completed before
the matter is considered by the Court, I think it probable
that an order could
still be made; but this would mean that the s.701(10) steps would have to be
reversed.  This consideration confirms
in my mind how important it is that
s.701(6) applications be made clearly and pursued expeditiously.  It may even
be that a s.701(6)
application is not made at all until actually made to a
judge or other judicial officer of the Court:  s.459G in relation to statutory
notices has a particular provision as to what is required for an application to
be made, whereas there is no such provision in relation
to s.701(6).  
<P>

11  	Mr. Bhagat made further submissions in support of his contention
that costs should not be ordered against him.  He submitted
that he was a
litigant in person, at a significant disadvantage; and referred me to
<u>Wentworth v. Rogers (No.5)</u>.  He submitted that it is possible that in
due course, discovery against the third and fourth defendants could show such
knowing
participation in fraud as to justify the action against the first and
second defendants.  He submitted that he was a public interest
litigant.  He
was pursuing the interests of several thousand pensioners, at great personal
cost.  Such a person deserved a "fair
go", in this case by not having costs
ordered against him.  
<P>

12  	Finally, he referred me to the case of <u>Village Roadshow
Broadcasting Pty. Limited v. Austereo Limited</u>  <a href="/cgi-bin/LawCite?cit=%281997%29%2024%20ACSR%20185" title="View LawCiteRecord" class="autolink_findcases">(1997) 24 ACSR 185</a>, for the
proposition that costs would not be ordered in s.701 proceedings, except in
favour of a successful objector.  I would say
straight away that that
submission has no relevance, having regard to my earlier decision on s.701.
<P>

13  	Dealing with his other submissions, I accept that a court does
have to make allowances for the position of litigants in person,
and to try to
ensure that such a litigant does not lose out because of lack of expertise;
although there is a limit to what the Court
can do in that regard, while still
remaining an impartial determinant of a dispute.  The Court may in those
circumstances refrain
from making orders against litigants in person for
conduct that might be considered as justifying orders for costs against
represented
litigants.  By the same token, litigants in person can cause great
hardship and expense to other parties, through making allegations
and claims
that lawyers would recognise as allegations and claims that could not
reasonably or even properly be made, and through
making proceedings much longer
and much more expensive than they otherwise would be, by not focusing
accurately on the real issues
in the case.  Conduct of that nature by legally
represented parties would often lead to orders for indemnity costs.  Litigants
in
person may escape the consequence of indemnity costs, but I do not think
that the circumstance that a party is a litigant in person
is a ground for
displacing the ordinary result that costs follow the event.  
<P>

14  	As regards Mr. Bhagat's submission that he is a public interest
litigant, this may have some relevance in relation to the claim
he is bringing
as a unit holder of the Meridian Trust.  However, it seems to me that it has no
merit in relation to this claim, as
against the first and second defendants.
In this claim, he was seeking a remedy which could detrimentally affect the
holders of millions
of shares, on the basis of what could at best be a very
small affectation of the value of his very small number of shares.  
<P>

15  	The possibility that he may in the future obtain evidence which
may support a cause of action against the first and second
defendants is in my
opinion irrelevant.
<P>

16  	For those reasons, I adhere to the view that Mr. Bhagat should
be ordered to pay the costs of the first and second defendants.
 The stay of
that order will cease, and it will take effect as originally proposed.  
<P>

17  	The other matter debated on 9th March 2000 concerned the costs
of the third and fourth defendants of Notices of Motion to which
they were
respondents.  Those Notices of Motion did seek relief which would have affected
those defendants.  They were entitled to
oppose them, although in the event
they did little more than rely on the opposition of the first and second
defendants.  In my opinion,
those defendants are entitled to the costs of the
Notices of Motion brought against them, although I would expect that those
costs
would be relatively small, having regard to the limited role which those
defendants took in opposing the Notices of Motion.  I would
also make it clear
that those costs orders should not be enforced until the end of the proceedings
against the third and fourth defendants.
 
<P>

18  	For those reasons, apart from leaving the earlier order
standing, I make the following order:
<P>

I order that the plaintiff pay the costs of the third and fourth defendants of
his Notices of Motion filed 2nd August 1999 and 13th
October 1999, but that
those costs not be enforced until the conclusion of these proceedings.
<P>

<center><b>***********</b></center>
<P>


<P>

LAST UPDATED: 	17/03/2000
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/159.html</i><br>
</p>
</small>
</body>
</html>
