<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Hulme v Schaecken [1999] NSWSC 1291 (17 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1291</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1291 or 1999+NSWSC+1291">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Hulme v Schaecken [1999] NSWSC 1291 (17 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1291.html-->
<!--sino date 17 December 1999-->


<P>Last Updated: 24 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Hulme v Schaecken  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1291.html" title="View Case" class="autolink_findcases">[1999] NSWSC 1291</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	5048/99
<P>

HEARING DATE{S): 	17 December 1999
<P>

JUDGMENT DATE: 	17/12/1999
<P>

 PARTIES: 
<P>

Edwin Cuthbert Hulme (P)
<P>

Robin Marie Schaecken (D)
<P>

JUDGMENT OF: 	Austin J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

D Raphael (P)
<P>

T Faulkner (D)
<P>

SOLICITORS: 
<P>

Kirkpatrick Farr &amp; Associates (P)
<P>

CATCHWORDS: 
<P>

REAL PROPERTY - joint tenancy - severance - whether severance by unilateral
declaration of intention is effective - whether Court
has inherent jurisdiction
to effect severance by order - whether commencement of proceedings effects a
severance
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act 1919</a> (NSW) <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s35.html" class="autolink_findacts">s 35</a>
<P>

DECISION: 
<P>

Application denied
<P>

JUDGMENT: 
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

AUSTIN J
<P>

FRIDAY 17 DECEMBER 1999
<P>

<b>5048/99 - EDWIN CUTHBERT HULME v ROBIN MARIE SCHAECKEN</b>
<P>

<b>JUDGMENT (ex tempore;  revised 21 December 1999)</b>
<P>

1  	HIS HONOUR:  These proceedings were commenced by summons filed on
16 December 1999 and then amended by an amended summons filed
today.  One of
the forms of relief which the plaintiff seeks is an order that the joint
tenancy in which the plaintiff and the defendant
hold certain land at 20
Pinetree Crescent, Mount Pleasant (`the Property') be severed.  A similar order
is sought in respect of another
property.
<P>

2  	By notice of motion filed on 16 December 1999 and returnable
today the plaintiff seeks an immediate order for the severance
of the joint
tenancy of the Property.  The application arises because the plaintiff and the
defendant have become estranged and,
indeed, there appears to be considerable
antagonism between them.  The plaintiff's desire now is to leave the Property
by will rather
than to allow it to pass by survivorship.  Additionally, there
is some evidence that the plaintiff is in extremely poor health and
on the
basis of that evidence counsel expressed from the bar table an apprehension as
to whether the plaintiff would survive even
for the next few days.
<P>

3  	The plaintiff's application assumes that the Court has the power
to make an order that a joint tenancy be severed. The notice
of motion is
framed so that the severance is caused by virtue of the order.  However, in
submissions the plaintiff contended in the
alternative that I should make a
declaration to the effect that the plaintiff's own conduct, rather than the
order of the Court,
has caused severance to occur.  The conduct upon which the
plaintiff relies in this submission is the filing of the summons, the
amended
summons and the notice of motion, their service upon the defendant, and the
plaintiff's making of the application in the
Court today.
<P>

4  	The defendant has not filed any evidence and so it is difficult
for me to form a view as to any matter going to the merits of
their respective
positions.  The defendant simply submits that the Court has no jurisdiction to
make an order of the kind sought
in the application and that the plaintiff's
conduct cannot in law amount or give rise to severance of the joint tenancy.
<P>

5  	I agree with the defendant's submissions.  A joint tenancy may be
severed in three ways, as Page Wood V-C said in his well-known
judgment in<b>
</b><i>Williams v Hensman</i> <a href="http://www.worldlii.org/int/cases/EngR/1861/701.html" title="View Case" class="autolink_findcases_inserted">[1861] EngR 701</a>;  <a href="/cgi-bin/LawCite?cit=%281861%29%201%20John%20%26%20H%20546" title="View LawCiteRecord" class="autolink_findcases">(1861) 1 J &amp; H 546</a>;  <a href="/cgi-bin/LawCite?cit=70%20ER%20862" title="View LawCiteRecord" class="autolink_findcases">(70 ER 862).</a>  He
described the first way as follows (at 557):
<P>

`An act of any one of the persons interested operating upon his own share may
create a severance as to that share.  The  right of
each joint-tenant is a
right by survivorship only in the event of no severance having taken place of
the share which is claimed under
the jus accrescendi.  Each one is at liberty
to dispose of his own interest in such manner as to sever it from the joint
fund - losing,
of course, at the same time, his own right of survivorship.'
<P>

6  	The second and third methods of severance which his Lordship
dealt with were severance by mutual agreement and severance in
a course of
dealing sufficient to make it clear that the interests of all parties were
mutually treated as constituting a tenancy
in common.  Those two methods of
severance are not relevant here, as they depend upon a mutuality which is
clearly not present. 
The first method of severance seem to envisage some form
of irrevocable step being taken by the joint tenant, such as a transfer
to a
third party or trustee, a declaration of trust, a transfer of the interest to
oneself, or any other form of alienation.  On
their face, his Lordship's words
do not appear to allow severance merely by declaration of an intention to sever
or by some other
revocable step such as the filing or serving of a summons or
application.
<P>

7  	That this is so is supported by the decision in<b> </b><i>Re
Wilks</i><b> </b> <a href="/cgi-bin/LawCite?cit=%5b1891%5d%203%20Ch%2059" title="View LawCiteRecord" class="autolink_findcases">[1891] 3 Ch 59.</a>  In that case a joint tenant issued a summons
for payment out to him of one-third of a fund.  The joint tenant died before
the case
came on for hearing and the question for Stirling J was whether the
joint tenancy had been severed by the joint tenant making an
application which,
if acceded to, would imply the severance of the joint tenancy.  His Lordship
held that no severance had occurred
because the joint tenant's conduct in
taking proceedings was essentially revocable, since a summons may be abandoned
or amended.
 He observed (at 62) that `if an act of a joint tenant [is to
amount] to a severance it must be such as to preclude him from claiming
by
survivorship any interest in the subject matter of the joint tenancy.'  Those
remarks were approved by Needham J in<b> </b><i>McNab v Earle</i>  <a href="/cgi-bin/LawCite?cit=%5b1981%5d%202%20NSWLR%20673" title="View LawCiteRecord" class="autolink_findcases">[1981] 2
NSWLR 673</a>, 676. 
<P>

8  	The law as to severance of a joint tenancy was considered by the
High Court of Australia in<b> </b><i>Corin v Patton</i><b> </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1990/12.html" title="View Case" class="autolink_findcases_inserted">[1990] HCA 12</a>;  <a href="/cgi-bin/LawCite?cit=%281990%29%20169%20CLR%20540" title="View LawCiteRecord" class="autolink_findcases">(1990) 169 CLR
540.</a>  Mason CJ and McHugh J specifically considered whether a unilateral
declaration of intention can cause a severance.  Relying on observations
by
Lord Hardwicke LC in<b> </b><i>Partriche v Powlet</i> <a href="http://www.worldlii.org/int/cases/EngR/1740/185.html" title="View Case" class="autolink_findcases_inserted">[1740] EngR 185</a>;  <a href="/cgi-bin/LawCite?cit=%281740%29%202%20Atk%2054" title="View LawCiteRecord" class="autolink_findcases">(1740) 2 Atk 54</a>, 55 <a href="http://www.worldlii.org/int/cases/EngR/1740/185.html" title="View Case" class="autolink_findcases_inserted">[1740] EngR 185</a>;  <a href="/cgi-bin/LawCite?cit=26%20ER%20430" title="View LawCiteRecord" class="autolink_findcases">(26
ER 430</a>, 431) to the effect that the declaration of one of the parties to a
joint tenancy that it should be severed is not sufficient unless
there is an
agreement, their Honours found powerful reasons for declining to adopt any
alternative approach.  
<P>

9  	In <i>Burgess v Rawnsley</i>  <a href="/cgi-bin/LawCite?cit=%5b1975%5d%20Ch%20429" title="View LawCiteRecord" class="autolink_findcases">[1975] Ch 429</a>, 439 Lord Denning MR
had expressed the opinion that it would be sufficient for there to be a course
of dealing in which one party
makes clear to the other that he desires that
their shares no longer be held jointly but be held in common.  Mason CJ and
McHugh
J rejected this approach for several reasons, including the proposition
that severance of a joint tenancy can only be brought about
by the destruction
of one of the so-called `four unities'.  The unity which is most relevant in
such a case as the present is unity
of title.  As to that, their Honours said
that unilateral action can only destroy the unity of title if the title of the
party acting
unilaterally is transferred or otherwise dealt with or affected in
a way which results in a change in the legal and equitable estate
in the
relevant property.  In their view a statement of intention, without more, does
not affect the unity of title (at 548).  This
approach was accepted by Brennan
J (as he then was) at 565 and by Toohey J at 587, and Deane J took a similar
approach at 574 ff.
<P>

10  	It is true that the High Court's observations about severance by
unilateral declaration were obiter dicta, since in the case
before the Court
there was no evidence of Mrs Patton's intention of severing the joint tenancy
having been communicated to Mr Patton.
 Nevertheless, the statements by members
of the High Court are authoritative statements of the law of Australia on this
point and
no authority has been cited which could justify my departure from
their Honours' observations even if I were inclined to do so.
<P>

11  	Counsel for the plaintiff submitted that the present case is not
simply one of unilateral declaration of intention to sever,
since the plaintiff
has taken some categorical steps by bringing the present application to Court.
It seems to me that the principle
enunciated by the High Court applies, as
nothing which the plaintiff has done in the present case can be said to have
affected the
unity of title which the joint tenancy has achieved.
Additionally,<b> </b><i>Re Wilks</i> is an obstacle in the way of the
plaintiff's submission.
<P>

12  	In light of<b> </b><i>Corin v Patton</i> and the other cases
which I have mentioned, the contention that the plaintiff's conduct in the
present case should be declared to
be severance of the joint tenancy is
contrary to law and the plaintiff's contention on that point fails. 
<P>

13  	<i>Corin v Patton</i> largely disposes of the plaintiff's other
contention, that the Court has some inherent jurisdiction which would entitle
it to give
effect to a severance of joint tenancy by order, since if there were
such an equitable jurisdiction, the Court in its exposition
of the principles
of severance would have said so.
<P>

14  	The plaintiff's submission that authority arises by virtue of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s30.html" class="autolink_findacts">s
30</a> of the<b> </b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act 1919</a> (NSW) fails because that section does
not on its face have any application to<b> </b><a href="http://www.austlii.edu.au/au/legis/vic/hist_act/rpa178/" class="autolink_findacts">Real Property Act</a> land.  
<P>

15  	In summary, I see no legal basis for the Court to intervene by
the exercise of some supposed discretion to alter the property
rights of the
parties before it.
<P>

16  	Consequently, the plaintiff's application by the notice of
motion filed on 16 December 1999 is denied.  On the question of
costs, although
the application has been unsuccessful the plaintiff submits costs of the
application be costs of the proceedings.
 However, the application was made on
a ground contrary to law and was in that sense bound to fail.  There is no
evidence of intransigence
on the part of the defendant, or any other evidence
which would suggest that the costs of this application not be dealt with now.
Therefore, it seems to me that the plaintiff should be ordered to pay the
defendant's costs of the application.
<P>

17  	I make the following orders:
<P>

(1)	Application in the notice of motion filed 16 December 1999 is denied.
<P>

(2)	Order that the plaintiff pay the defendant's costs of that application.
<P>

(3)	Stand the matter over to the Registrar's list Friday, 4 February 2000 at
9.30am for further directions as to the disposition
of the proceedings.
<P>

<center>* * * * * * * * * *</center>
<P>


<P>

LAST UPDATED: 	23/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1291.html</i><br>
</p>
</small>
</body>
</html>
