<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Chau v Christian [1999] NSWSC 4 (8 January 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 4</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+4 or 1999+NSWSC+4">Noteup</a>]
[<a href="4.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Chau v Christian [1999] NSWSC 4 (8 January 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_4.html-->
<!--sino date 8 January 1999-->


<P>Last Updated: 1 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	CHAU v CHRISTIAN  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/4.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 4</a>
<P>

CURRENT JURISDICTION: 	EQUITY DIVISION
<P>

FILE NUMBER(S): 	2612/97
<P>

HEARING DATE{S): 	7 January 1999
<P>

JUDGDMENT DATE: 	08/01/1999
<P>

 PARTIES: 
<P>

TONY MUN CHAU v KEVIN LAWRENCE CHRISTIAN &amp; ANOR
<P>

JUDGMENT OF: 	Bryson J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

PLAINTIFF: NO APPEARANCE
<P>

FIRST DEFENDANT: MR T S MURPHY
<P>

SECOND DEFENDANT: MR A KOUMOUKELIS SOLICITOR
<P>

SOLICITORS: 
<P>

PLAINTIFF: NO APPEARANCE
<P>

FIRST DEFENDANT: MESSRS STEWART LEVITT &amp; COMPANY
<P>

SECOND DEFENDANT: CASULA AND KELSO
<P>

CATCHWORDS: 
<P>

FAMILY LAW
<P>

De Facto Relationships
<P>

procedural directions for sum to be set aside for payment of F's costs out of
proceeds of sale of co-owned house
<P>

no important question of legal principle
<P>

ACTS CITED: 
<P>

De Facto Relationships Act 1984 s20
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act 1919</a> <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66g.html" class="autolink_findacts">s66G</a>
<P>

DECISION: 
<P>

SEE PARAGRAPH 27
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

BRYSON J
<P>

FRIDAY 8 JANUARY 1999
</p>
<TABLE><TR valign="TOP" align="left">
<TD colspan=1 align="left"><p><b>2612/97</b></p>
</TD>
<TD colspan=1 align="left"><p><b>TONY
MUN CHAU  v  KEVIN LAWRENCE CHRISTIAN AND ANOR 
</b></p>
</TD></TR></TABLE><p>
<P>

<b>JUDGMENT</b>
<P>

1	<b>HIS HONOUR : </b>The second defendant applied by Notice of Motion of 6
January 1999 for an order to the effect that an amount of $62,156.59 be held
in
a solicitor's trust account out of the proceeds of the impending completion of
the sale of the property the subject of these proceedings,
so as to secure
payment to the second defendant of her costs.
<P>

2	     The order claimed in the Notice of Motion would be an order varying
orders made on 21 October 1998. In my view, it is not
necessary or appropriate
that orders now made should take the form of a variation of earlier orders, or
of the agreement on which
the earlier orders were based.
<P>

3	     The terms of settlement and orders of 21 October 1998 disposed of two
lawsuits which related to interests in the house property
co-owned by the
defendants at 104 Young Street Annandale.  Mr Chau, the plaintiff in
proceedings 2612 of 1997, was also a party to
the terms of settlement and
orders and is not a party to the Notice of Motion, but I am satisfied that the
orders sought would have
no adverse impact on his interests. The terms of
settlement provide for resolution of his claims against the first defendant and
the property by payment under cl 2 of $147,500 to him, with supplementary
provisions for payment of a share in the proceeds of sale
to him if that sum
were not paid by 18 January 1999.  The terms of settlement and the orders make
provisions about the payment to
Mr Chau in cl 2 and, amongst other things,
provide that on the payment being made to him his interest in the property will
be extinguished
and he is to withdraw a caveat.
<P>

4	     The next provision in the terms of settlement in logical order, but not
in numerical sequence, is cl 5 which provides for
adjustment of property rights
between the defendants under s 20 of the<b> De Facto Relationships Act</b>; sub
cl 5 (i) ordered the first defendant to pay the second defendant $105,000 and
sub cl (ii) ordered him to pay her costs of the
<b>De Facto Relationships
Act</b> proceedings 1518 of 1995 as agreed or assessed.  Sub cl (iii) ordered
that he pay her the sum of $105,000 by 18 January 1999; and
if not paid the
order with interest was to stand as a judgment and be paid by trustees for sale
of the property. Upon payment the
second defendant was to transfer her rights
and interests in the property to the first defendant, withdraw her caveat and
be discharged
as co-mortgagor: see sub cl (iv).
<P>

5	     Clause 3 provided what was to happen in the  event that the sums of
$147,500 and $105,000 were not paid:  two trustees, who
were named, would be
appointed trustees for sale under s 66G of the<b> <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act</a></b>. They
were to sell the property and pay some nominated charges out of the net
proceeds, pay 50 per cent of what was left to the plaintiff's
solicitors and
out of the balance they were to pay $105,000 to the second defendant and also
to pay her costs of both proceedings.
The first defendant was to receive the
balance.
<P>

6	     There were some supplementary and ancillary provisions in clauses 1, 4
and 6.
<P>

7	     Overall, the workings of the agreement are such that if the first
defendant in some way found resources to pay the two large
sums to the
plaintiff and the second defendant before 18 January, he was to receive the
property discharged from their claims, but
if he did not, the trustees would
have to take the property, sell it and pay their claims, with the plaintiff's
claim calculated
on a slightly different basis.
<P>

8	     As to costs, if the first defendant paid both the large sums and was to
receive the title of the property, he was subject
to orders to pay the second
defendant's costs (by sub cl 2 (c) for one case and sub cl 5 (ii) for the
other.) If he proceeded in
that way, there was no provision for the second
defendant to have security in respect of her costs.  She was to be entitled to
the
ordinary remedies to enforce the costs orders, but that was to happen in
the context that the first defendant became the owner of
the house property. If
he did not find the resources to make those payments, what was contemplated was
sale by trustees and resolution
by them, amongst other things, of the second
defendant's entitlements to a large payment and to her costs.
<P>

9	     What the parties are proceeding to do is something not expressly
contemplated, or dealt with at all, in the terms of settlement.
The parties as
co-owners have entered into a contract to sell the property to a purchaser who
is not otherwise involved in the controversy.
 The sale price is $600,000, the
date of the contract was 3 December 1998 and the contractual date for
completion is 15 January 1999,
time of the essence.  The expectation of the
parties is that the contract will be completed within that time.
<P>

10	     The second defendant has served a bill of costs on the first defendant,
but there had been no agreement as to the amount
of the costs or as to their
assessment.  The figure of $62,156.59 for which the second defendant seeks
protection is the total of
those bills of costs for both proceedings.  Of
course, the amount which ultimately will become payable cannot be clearly known
as
there may well be moderations of the bills and there may be other
variations, for example for interest or costs of assessment.
<P>

11	     The first defendant's position on the Notice of Motion is that the
second defendant has no entitlement to security for her
costs in the events
which are now unfolding, that is that the parties are joining together in
selling the property and collecting
the proceeds.  The assumption on which the
application has been made and debated is that both parties to the application
expect that
the sale will be settled by 15 January.  If that does not happen
for some reason, such as that the purchaser defaults, or I suppose
I should add
the vendors default, the arrangements presently under consideration will not
have effect.  Some other circumstances
may arise and prevent completion on or
before 15 January;  the assumption is that all will go well.  A quite different
regime of
rights will come up for consideration if the two large payments are
not made (from whatever source) before 18 January.
<P>

12	     Completion depends on the co-operation of the first defendant with the
second defendant to bring about completion, but so
far neither has taken any
disruptive action of which evidence speaks. Completion cannot occur without
further co-operation, for example,
in attending on settlement, or in both
authorizing some solicitor to do so on behalf of both, and also both giving
authorization
for any necessary act which must happen on settlement, such as
handing over the Certificate of Title Transfer and other documents,
authorizing
payment to the discharging mortgagee and receiving and holding the proceeds.
The second defendant has given some authorization
for a payment to the
plaintiff, but of course any other disposition of proceeds of sale such as
applying them to make the two large
payments contemplated by the terms of
settlement cannot take place unless the two of them, as co-owners of the
property and the proceeds
arising from its sale, both join in giving
authorization for the disposition. The proceeds will be co-owned like the
property and
cannot be dealt with by either party, or by any solicitor acting
for either of them or for both of them, unless that solicitor has
the
authorization of both for that disposition, or has authorization conferred by
an order of the court. To some extent the current
proceedings appear to have
been coloured by an assumption that on completion the proceeds are available
for the first defendant to
use to make the two large payments, but the facts
must be addressed with advertence to the need for the authority of both for
that
or any other disposition of the proceeds.
<P>

13	     By making this application, the second defendant has shown readiness to
act constructively with a view to completion of
the sale, avoidance of loss and
avoidance of liability to damages for failure to complete.
<P>

14	     The orders which are claimed would, in my understanding, be made in
exercise of the court's powers to carry out and execute
its order of 21 October
1998. In doing so the court should act directly and not adopt the form put
forward of varying the orders
of 21 October or anything which the parties then
agreed. The court should give effect to whatever equitable interests exist in
the
property, including equitable charges, whether or not they are expressly
created by the terms of settlement, or indeed created by
the terms of
settlement at all. Further, the court should see that its orders of 21 October
1998, including the costs orders, are
carried out in a just and convenient
manner, and this extends to seeing that costs orders are carried out just as
much as to seeing
that any other orders are carried out.  The orders sought do
not in my opinion involve reopening the issues in the proceedings or
varying
the previous orders.
<P>

15	     I think it is obvious, and it was not disputed,  that when and if cl 3
comes into effect with non-payment by 18 January
of the two large sums, it
creates a security interest or a charge in favour of the second defendant for
her costs against the property
and the proceeds of sale. In my view that must
be so because of the detailed requirements which are to have effect as orders
of the
court for the manner in which the trustees are to pay out proceeds of
sale including payment of the costs. When a court order together
with the
agreement of the parties requires conversion of real property into a fund and
payment of the fund to a party there is an
equitable interest or charge, a
security interest in the property and the fund.
<P>

16	18 January has not yet arrived.  A contractual provision such as cl 3 in my
view brings with it an implied term that no party
will deal with the property
before 18 January in any way which would defeat the security or prevent it from
then coming into existence.
Clause 4 supplements this necessary implication and
expresses it in part, by noting an undertaking by the first defendant that he
will do various things including that he will refrain from encumbering the
property without consent.
<P>

17	     In my view a security interest already exists even though 18 January
has not yet arrived. This is so notwithstanding that
the mechanism created by
cl 3 points to the security not being realized until a later date.  The
appointment of the trustees and
the times at which they are to act are not
essential elements of the equitable interest. They are not conditions limiting
the circumstances
in which the security exists, but they are machinery
provisions stating the circumstances and time of its realization.  If there
are
different trustees, or if the parties act as vendors and trustees themselves,
or if they do so earlier than 18 January, the equitable
interest pointed to in
cl 3 would still exist. This is a close analogy with a mortgage debt which is
not yet repayable, but is secured
before there is any obligation to repay
it.
<P>

18	     In my view the security interest conferred on the second defendant with
respect to her entitlement to costs and any other
security interest conferred
by cl 3 would extend to any property such as a fund of money into which the
house property is converted,
and would so extend before as well as after 18
January 1999.
<P>

19	     In my view, cl 5 sub cl (iv) creates an opportunity for the first
defendant to defeat this security in part. However, he
can only defeat the
security by acting under cl 5 (iv), that is by paying the second defendant
$105,000 and then taking title, after
which he could dispose of the property
himself.  On the facts there is no prospect that he will act under cl 5 by 18
January or that
he will gain the advantage of defeasance of the security for
costs.
<P>

20	     (I note that he would have to do more than pay the second defendant
$105,000 to defeat her security.  He would also have
to pay the plaintiff
$147,500 under cl 2 before 18 January.)
<P>

21	     What the first defendant proposes to do is to pay both the large sums
out of the proceeds of the sale by the co-owners.
This is not a course which is
authorized or provided for by the terms of settlement;  he has no authorization
under the terms of
settlement to deal with the property by selling it himself,
or to require the  second defendant to join in that course, or to dispose
of
the proceeds of sale. It was assumed by the first defendant and his solicitor
before this application was made, and in advocacy
on his behalf before me, that
when the proceeds of sale become available with settlement the first defendant
will be able to direct
its disposition and retain the balance under his
control, and that in some way he will be able to see to it that the second
defendant
has no share in control over the proceeds.  There is no basis for
this as the proceeds will be co-owned.
<P>

22	     Even if the first defendant manages in some way to get an advance out
of the proceeds with the second defendant's approval
(or for that matter, even
if he misappropriates the money or disposes of it without her authorization)
and pays both the large sums
before 18 January, there will be no exercise under
cl 5 (iv) because the property will not be available to transfer to him; it
will
have gone to the purchaser. The assurance of a kind afforded by his owning
the property that he will have local assets might conjecturally
explain why the
second defendant agreed that there would be no security for part of the costs
if the property was transferred to
him.  His evidence about the financial
resources available to him seemed to exclude the possibility that he would pay
the large sums
from any other source within the time available.
<P>

23	     The repeated observations by his counsel to the effect that the terms
of settlement do not provide for the second defendant
to have security for
costs if there was a sale by the parties were beside the point in my opinion.
Neither party can point to any
right expressly conferred by the terms of
settlement in the case of a sale by the co-owners.  The advantage of escaping
from the
security for costs which complying with cl 5 (iv) could confer on the
first defendant if he paid both sums and took title cannot
accrue to him in any
other circumstances than if clause 5 (iv) is followed (and I interpose, if
clause 2 is also followed). Those
things are not going to happen.
<P>

24	     The parts of orders which the second defendant puts forward which turn
on varying earlier orders are superfluous.  When
viewed without the superfluous
parts, the arrangement put forward appears to me to give effect to elementary
justice and convenience
in carrying out the court's order of 21 October and
supervising the sale of the property which is the subject of the litigation.
Even if there had been no security interest in the house property or its
proceeds I find it difficult to suppose that the court will
allow one of the
former co-owners of the property in suit before it to leave the court's control
with part of the proceeds but without
complying with the court's orders as to
costs, or with any other part of the court's orders. All the orders are made
with contemplation
of equal strength that they will be complied with, the costs
orders no less than the orders which conferred benefits on the first
defendant,
his entitlement to receive the balance after sale or any other benefit. The
second defendant's claim of justice to payment
of her costs has the same
strength as his claim to receive anything out of the sale. When the property in
dispute is converted into
money, it is elementary justice that the court should
see that all obligations under its orders relating to the dispute are complied
with and should not create the inconvenience of setting one party off on the
road with funds and requiring the other to address means
of enforcement after
his departure.
<P>

25	     The first defendant claimed that there were elements of inconvenience
and defeat of expectations in his being required to
allow the second
defendant's claim to be secured. I do not see any reasonable basis on which it
could be said that he had an expectation
which ought to be protected that he
would receive the balance of the proceeds of sale and have the proceeds at his
disposal without
meeting his obligations to comply with the orders for costs at
the same time. If he had any such expectation it was not legitimately
based and
was not reasonably based on the terms of settlement, which simply say nothing
whatever about the turn of events which has
occurred.
<P>

26	     I see no sign in his evidence of any serious financial difficulty being
created by protecting the second defendant's rights,
certainly not serious
enough to justify neglecting the second's defendant rights.  He can raise
enough money to keep his bank at
bay with respect to the security over his
property at Mooloolaba, at least for the time being, and the other obligations
to which
he referred in evidence do not have any higher priority than the
second defendant's claim for costs and do not have the same direct
relationship
with the Young Street Annandale property.
<P>

27	     I make the following orders:
<P>

	1. These orders have effect in the event that completion of sale by the first
defendant and the second defendant of the property
104 Young Street Annandale
takes place.
<P>

	2. Order that in the event that the second defendant's costs referred to in
order 2 (c) and order 5 (ii) (as agreed or assessed)
are not paid at or before
the date of completion of the contract for sale of the property at 104 Young
Street Annandale then at completion
of the sale an amount of $62,156.59 must be
paid to the trust account of Casula and Kelso, Solicitors, Sydney, from the
proceeds
of sale, to be held by them on trust
<P>

		(a) for payment out to the second defendant of the costs due to her as agreed
or assessed; and
<P>

		(b) for payment to the first defendant of the balance, if any.
<P>

	3. Each party has liberty to apply on four hours' notice.
<P>

	4. I order that the first defendant pay the second defendant's costs of the
Notice of Motion.
<P>

     I should add that when I referred to the disruption that each party can
bring about, I was certainly not encouraging such behaviour.
<P>

	I hereby certify that paragraphs 1-27 are the reasons for judgment of the
Honourable Mr Justice John Bryson
<P>

	Dated 29 January 1999.			(H D LEWIS)
<P>

	Associate
<P>

LAST UPDATED: 	29/01/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/4.html</i><br>
</p>
</small>
</body>
</html>
