<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Richardson v Richardson [1999] NSWSC 1220 (8 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1220</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1220 or 1999+NSWSC+1220">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Richardson v Richardson [1999] NSWSC 1220 (8 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1220.html-->
<!--sino date 8 December 1999-->


<P>Last Updated: 17 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Richardson v Richardson   <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1220.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1220</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	2765/98
<P>

HEARING DATE{S): 	08/12/99
<P>

JUDGMENT DATE: 	08/12/1999
<P>

 PARTIES: 
<P>

John Ellis Richardson v Therese Ann Richardson
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr M. Willmott for plaintiff
<P>

Mr P. Sharpe for defendant
<P>

SOLICITORS: 
<P>

Needs Chan &amp; Monahan for plaintiff
<P>

R.A. Davies for defendant
<P>

CATCHWORDS: 
<P>

Family Provision.  Application by son. Order made. No matter of principle.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Paragraphs 43-48
<P>

JUDGMENT: 
<P>

- 1 -
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

MASTER MACREADY
<P>

WEDNESDAY 8 DECEMBER 1999
<P>

<b>2765/98 - JOHN ELLIS RICHARDSON  v  THERESE ANN RICHARDSON - ESTATE OF HARRY
RICHARDSON</b>
<P>

<b>JUDGMENT</b>
<P>

1  	MASTER:  This is an application under the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision Act</a> in
respect of the estate of the late Harry Richardson who died on 11 December 1996
aged 81 years.
<P>

2  		The deceased was survived by the plaintiff, his son and by the
defendant, his daughter.  Under his last will which was made
on 28 September
1995 the deceased in effect left the whole of his estate to his daughter, the
defendant, subject to a charge in favour
of the plaintiff in the sum of
$20,000.  That amount has been paid to the plaintiff by the defendant.
<P>

3  		The estate principally comprises the property of 1 Russell
Street, Eastwood.  The parties are agreed that that property has
a present
value of about $450,000.  Clearly the property has appreciated in value and at
the date of death was estimated by the executor
at a value of some $315,000.
There was also cash in the estate of $9,127 approximately which will be used
for administration expenses
and there have been the costs involved in this
piece of litigation on the plaintiff's side of some $16,000 and on the
defendant's
side of some $13,300.
<P>

4  		I will firstly deal with a little of the history of the matter.
The plaintiff and defendant's mother was born on 3 May 1911,
the deceased
himself was born on 3 June 1915.  The plaintiff who was the eldest child was
born on 19 August 1948 and the defendant
was born on 11 December 1953.  By 1963
the plaintiff had completed his education at Marist Brothers and he obtained an
apprenticeship
as an electrician.  He left home in 1967 and married in March
1968.  By 1970 he had completed his apprenticeship and started work
in his
profession.  He was divorced in 1972 and he remarried in September 1983.  He
married Genoveva Richardson.  Since sometime
after that he has been
self-employed as an electrician.
<P>

5  		The defendant herself married in 1985, however she apparently
did not have any children.  The plaintiff had a number of children,
firstly
there was Mark who was born on 25 December 1986 and Carmen who was born on 22
May 1989.
<P>

6  		By August 1993 the plaintiff and defendant's mother was admitted
to a nursing home.  She soon started to deteriorate and apparently
was
suffering from Alzheimer's.  At about this time the plaintiff and his wife
Genoveva separated and divorced some 18 months later.
<P>

7  		In September 1993 the defendant moved back into the deceased's
home to look after the deceased.  She herself separated from
her husband and
was divorced in June 1994.
<P>

8  		I have mentioned the deceased executed his last will in
September 1995 and he died on 11 December 1996.  The parties' mother
died on 23
April 1997.  There was little in her estate, about $10,000 and that was equally
divided between the two parties.  Apparently
after she had gone into the
nursing home her interest in the main property had been transferred back to the
deceased and her real
estate was held by the deceased.
<P>

9  		The Summons was filed on 11 June 1998 and accordingly was just
within time.  The real estate has been transferred to the defendant
as
beneficiary.
<P>

10  		In applications under the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision Act</a> the High Court
has recently in <b>Singer v Berghouse</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1994/40.html" title="View Case" class="autolink_findcases_inserted">[1994] HCA 40</a>;  <a href="/cgi-bin/LawCite?cit=%281994%29%20181%20CLR%20201" title="View LawCiteRecord" class="autolink_findcases">(1994) 181 CLR 201</a> set out the two
stage approach that a Court must take.  At page 209 it said the following:
<P>

"The first question is, was the provision (if any) made for the applicant
'inadequate for (his or her) proper maintenance, education
and advancement in
life'?  The difference between 'adequate' and 'proper' and the
interrelationship which exists between 'adequate
provision' and 'proper
maintenance' etc were explained in <b>Bosch v Perpetual Trustee Co Limited</b>.
The determination of the first stage in the two-stage process calls for an
assessment of whether the provision (if any) made was
inadequate or what, in
all the circumstances, was the proper level of maintenance etc appropriate for
the applicant having regard,
amongst other things, to the applicant's financial
position, the size and nature of the deceased's estate, the totality of the
relationship
between the applicant and the deceased, and the relationship
between the deceased and other persons who have legitimate claims upon
his or
her bounty.
<P>

The termination of the second stage, should it arise, involves similar
considerations.  Indeed, in the first stage of the process,
the court may need
to arrive at an assessment of what is the proper level of maintenance and what
is adequate provision, in which
event, if it becomes necessary to embark upon
the second stage of the process, that assessment will largely determine the
order which
should be made in favour of the applicant.  In saying that, we are
mindful that there may be some circumstances in which a court
could refuse to
make an order notwithstanding that the applicant is found to have been left
without adequate provision for proper
maintenance.  Take, for example, a case
like <b>Ellis v Leeder</b> where there were no assets from which an order could
reasonably be made and making an order could disturb the testator's
arrangements
to pay creditors."
<P>

11  		As directed by the High Court it is necessary to look at the
financial situation of the plaintiff.  The plaintiff is married
now for the
third time, he apparently has had four children although he only has three
dependant children, his son Mark aged 12,
Carmen aged 10 and Karen who is four
months old a child by his new wife.
<P>

12  		As far as income is concerned he last year had an income of
$21,388 per annum and he presently estimates his monthly income
of $2,074.53.
This includes the rent he receives from a boarder of $100 a week but which he
expects will stop in a little while once
his youngest daughter is able to or
needs to occupy a room by herself.
<P>

13  		As I have mentioned he works for his own company as an
electrician and his work depends upon small domestic and commercial
business.
In the past he has had to restrict the amount of his work because of the need
for him to look after his two children. 
He shares custody of those with his
former wife.  The situation will change no doubt because he has a new wife who
is no doubt able
to be at home for the children.  There is some suggestion that
she may have to return to Indonesia and come back in some years time.
<P>

14  		His outgoings are estimated by him at $2,070 per month.  These
include the education of his children at a modest level in
Catholic schools.
<P>

15  		He does have assets of some substance.  He has his home worth
about $400,000, it has four bedrooms and is unencumbered.  He
has a half
interest in a caravan of $1,000 and apart from the fact he has a Toyota Hyace
owned by the company worth $10,600 there
is also a Ford Falcon which is his
family car that is of little value.  He has apparently some interest in
superannuation of $58,000
which cannot be accessed, $20,000 at least of which
is for the benefit of his children when they are 21.  
<P>

16  		He has some medical problems connected with his back and that
resulted from a motorbike accident.  The pay out he received
when he made a
claim in respect of that was some $5,000.  At the moment he is 51 years of age,
is able to compete in the City to
Surf even though he feels his time of 107
minutes to walk and run it is not up to what he was obviously doing as a
younger man.
<P>

17  		One of the critical things in this case is the relationship
between the deceased and the plaintiff.  In a statement made by
the deceased at
the time he executed his will the deceased recorded the reasons for why he had
made greater provision in his will
for his daughter Tess than for his son
John.
<P>

18  		At para 3 of his statement he had the following to say:
<P>

"I have made a greater provision by my Will for my daughter Tess than I have
for my son John because:
<P>

(a)  Tess has looked after her mother and myself for over fifteen years.
<P>

(b)  For the last two years Tess has lived with me permanently at 1 Russell
Street, Eastwood and cared for me.
<P>

(c)  My income is insufficient for me to properly maintain my home 1 Russell
Street, Eastwood and Tess has contributed from her
own moneys for the upkeep of
the home:- lawn mowing, painting and other maintenance work.
<P>

(d)  Tess could work full time however she works part time in order to care for
her mother and myself and as a result has incurred
and is incurring a loss of
income.
<P>

(e)  Tess visits her mother in the Mary Potter Nursing Home, Ryde every day and
twice on each day that she does not work.  Tess
pays from her own moneys for
her mother's nighties, toiletries and minor living expenses.
<P>

(f)  John left home when he was 18 years of age and has not financially
contributed to our family nor has he cared or offered to
care for his mother or
myself."
<P>

19  		The contents of that statement were put to the plaintiff and in
substance he agrees with the factual matters but indicates
that he himself of
course had his family responsibilities and accordingly unlike his sister was
not able to look after the deceased.
 It is obviously clear though his sister
has done a great deal for the deceased and also for the parties' mother.
<P>

20  		One of the things that the deceased did not refer to in that
statement was the tensions in the home that obviously existed.
 The evidence
indicates that there were cross arguments between the plaintiff and his mother
during the course of the plaintiff's
younger years.
<P>

21  		The plaintiff himself concedes that there were continual
arguments and he puts this down to the fact that he and his mother
were of the
same type of personality.  Observing the plaintiff in the witness box it is
perfectly clear that he is very argumentative
and at times garrulous and the
situation which he concedes existed probably made it extremely difficult during
his formative years.
 His father with whose estate we are concerned seems to
have played little role in these matters.
<P>

22  		The relations which existed between the plaintiff and his
parents is illustrated by the evidence that his mother told him
when he did
leave home to never come back.  Notwithstanding this it seems to me that at
least from 1983 onwards there is evidence
that suggests there were still visits
between the plaintiff and the deceased and the plaintiff's mother.  These
tended to be formal
occasions such as Christmas, birthdays and the like.  There
were not a lot of them and, for instance, during the period from 1983
to 1993
when the plaintiff and his wife separated there were probably only three
occasions when the deceased would come to the plaintiff's
home.  The evidence
also indicates that the plaintiff visited his mother in hospital fairly
frequently and he would see the deceased
there in the last few years.
<P>

23  		One of the other things that has emerged in the case is the
clear antipathy that the plaintiff bears towards his father. 
He feels that his
father did not treat him properly as a son during his upbringing and he feels
strongly about this fact.  This may
well explain the fact that there was little
communication between them.
<P>

24  		Although he would go to the hospital to see his mother in the
latter years and saw his father then, he never took the trouble
to go and see
his father at home, at least not to any serious extent.
<P>

25  		It is difficult in a matter such as this to work out precisely
where the fault lies.  Clearly the plaintiff was difficult
at home but it also
appears that some of the problems may have also been because of the nature of
the parties' mother.  Whatever
it is there was a complete distancing and it
seems to me that in the middle of the plaintiff's adult life he made little
contact
with his father but that improved to a reasonable extent in the latter
years.
<P>

26  		This relationship is not one which I would have thought amounts
to disentitling conduct but the break with the father in the
middle years is
something which ought to be taken into account when one comes to assess the
order.
<P>

27  		Another matter that has to be taken into account is the
provisions made during the lifetime of the deceased.  There was only
one matter
in question and that was the sum of $1,000 that was given by the mother to the
plaintiff.  Apparently that resulted from
work the plaintiff had done and it
certainly seems from his evidence that he did work, perhaps unhappily, in
various ways at home
to help the family.  In any event it is not a substantial
amount and will not affect the result in this matter.
<P>

28  		It is necessary also of course to look at the situation of
others who have a claim on the bounty of the deceased.  In this
case the only
person is the defendant.  She is 46 years of age, she has no dependants and
presently is engaged to be married.
<P>

29  		Her assets are as follows.  She firstly has a home unit at 3/50
Meadow Crescent, Meadowbank and that is valued in the order
of $160,000 to
$170,000.  She also has the property comprising the estate which is valued at
about $450,000, a St George Visa account
of $3,000, Westpac accounts of $2,350
and $70,153.  She has 4,113 shares in GJ Coles having a value of $32,023, 1,150
AMP shares
worth $17,440.  She has a joint account with her fiance in the sum
of $18,000.  She is planning to marry once this matter has been
finalised.  Her
net salary from employment at the moment is $554.75 per week and she receives a
net rent from the tenant of her Meadowbank
property of $149 per week.   Clearly
she is in a reasonable position.
<P>

30  		It is necessary to look at the relationship between her and the
deceased.  It seems that she was of a different nature to
the plaintiff and was
able to accommodate her mother's nature which caused the plaintiff so much
antagonism.  Clearly she had a good
relationship with the deceased and perhaps
as the plaintiff himself described she was too good in looking after the
deceased and
the mother.  However, she did it and she came and lived with them
for the last years of their life to help.  She did work on the
home, repaired
it, painted it and things of this nature, all out of her own funds.  Clearly
she was a great support to her parents.
<P>

31  		It is necessary to see how the plaintiff says that he has been
left without adequate and proper provision for his maintenance,
education and
advancement in life.  In his affidavit of 12 November 1999 the plaintiff
addresses these matters.  In particular what
concerns him is the fact that he
has a young family, one of his children is only four months old and he also has
Mark and Carmen
who are at the ages I mentioned before.  
<P>

32  		He can look forward to raising them for some years and he is
self-employed.  At the present stage he is 51 years of age. 
When one looks at
the ages of his children clearly there is some worry for him being able to
provide in his type of employment beyond
a period of about ten years.
<P>

33  		He has suggested that a capital sum of some $72,000 will assist
in maintaining the family because it will provide an income
of about $100 per
week over a period of 18 years.  Apart from that the other needs that he
advances are in number several others.
<P>

34  		Firstly, the question of his motor vehicle.  I accept that the
present vehicle which he has is of no value and obviously he
will need to
provide another vehicle.  Certainly his Hyace truck would not be appropriate as
it does not have the number of seats,
and he suggests $25,000 would be an
appropriate figure for a replacement motor vehicle.  Perhaps this provision
might be slightly
excessive but probably not too far from the mark.
<P>

35  		There is also the question of replacement of carpets for some
$5,000.  These have not been replaced since sometime prior to
1983.  There is
also the replacement of household appliances of some $5,000.  No doubt some of
that may be justified, precise details
are not available, and accordingly it
may be something nice to have but not absolutely necessary.
<P>

36  		I think that in general there is a need to provide something
more for the plaintiff.  The plaintiff does have the prospect
of having to look
after children for sometime.  In particular there is some uncertainty as to
when his wife will have to return to
Indonesia, she being a refugee, and
whether she may return.  If she does not the plaintiff will no doubt have a
difficult time in
continuing to bring up the youngest child.  I think it is
appropriate that there be some additional legacy over and above the $20,000
that was provided.
<P>

37  		The estate has already been distributed.  However, the court
can designate property as notional if it is satisfied some order
ought to be
made.  I am so satisfied.
<P>

38  		Section 27 of the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision Act</a> is in the following
terms:
<P>

"(1)  On an application in relation to a deceased person, the Court shall not
make an order designating property as notional estate
of the deceased person
unless it has considered:
<P>

	(a)  the importance of not interfering with 
<P>

		reasonable expectations in relation to
<P>

		property;
<P>

	(b)  the substantial justice and merits 	
<P>

		involved in making or refusing to make
<P>

		the order; and
<P>

	(c)  any other matter which it considers 
<P>

		relevant in the circumstances.
<P>

(2)   In determining what property should be designated as notional estate of a
deceased person, the Court shall have regard to:
<P>

	(a)  the value and nature of property the
<P>

		subject of any relevant prescribed
<P>

		transaction or distribution from the
<P>

		estate of the deceased person;
<P>

	(b)  where, in relation to any such
<P>

		prescribed transaction, consideration
<P>

		was given, the value and nature of the
<P>

		consideration;
<P>

	(c)  any changes over the time which has
<P>

		elapsed since any such prescribed
<P>

		transaction was entered into, any such
<P>

		distribution was made or any such
<P>

		consideration was given in the value
<P>

		of property of the same nature as the
<P>

		property the subject of the prescribed
<P>

		transaction, the distribution or the
<P>

		consideration, as the case may be;
<P>

	(d)  whether property of the same nature as
<P>

		the property the subject of any such
<P>

		prescribed transaction, any such
<P>

		distribution or any such consideration
<P>

		could, during the time which has elapsed
<P>

		since the prescribed transaction was
<P>

		entered into, the distribution was made
<P>

		or the consideration was given, as the
<P>

		case may be, have been applied so as to
<P>

		produce income;  and
<P>

	(e)  any other matter which it considers
<P>

		relevant in the circumstances."
<P>

39  		The first thing the court ought to consider is the importance
of not interfering with a reasonable expectation in relation
to the property.
Here the application was brought on the last day available.  Although a notice
of distribution may have been given
the administrator or executor should be
well aware particularly in circumstances of personal antipathy like there is in
the present
case that claims may be made.
<P>

40  		Accordingly I find it hard to see there are any reasonable
expectations in relation to the property.  Certainly there were
no promises to
the defendant about receiving it, although she had done work on it.  The extent
of any legacy that might be provided
would not be such as would interfere with
her reasonable future enjoyment in the property.  There is nothing under s
27(1)(b) or
(c) that need be considered.
<P>

41  		Importantly, (and this goes to the general consideration of the
matter) when one looks at the Testator's intention one has
a property which has
increased substantially in value since the time that the deceased himself
considered the provision that was
appropriate to be made.  At that time he
assessed the differential no doubt based upon what he thought his daughter
should have and
what was appropriate for his son and came upon a figure of
$20,000.
<P>

42  		In my view taking into account the future needs of the
plaintiff particularly in relation to the youngest child, the fact
of which the
Testator was not aware, and which I have to take into account, there ought to
be provision of an additional legacy of
a further $60,000.
<P>

43  		Accordingly, the orders I make are that in lieu of the
provision in the will in favour of the plaintiff of $20,000 the plaintiff
receive a sum of $80,000 of which $20,000 has already been paid.
<P>

44  		I order that the plaintiff's costs on a party to party basis
and the defendant's on an indemnity basis be paid or retained
out of the estate
of the deceased.
<P>

45  		I designate to the extent necessary to meet the orders I have
made the property at 1 Russell Street, Eastwood as a notional
estate.
<P>

46  		I have designated to the extent necessary as notional estate,
the property at 1 Russell Street, Eastwood and accordingly the
legacy is to be
charged upon that property.
<P>

47  		I order that interest shall run on the provision in favour of
the plaintiff at the rate provided in the Wills, Probate and
Administration Act
if not paid within two months of today's date.
<P>

48  		Exhibits to be returned.
<P>

	oOo
<P>

LAST UPDATED: 	17/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1220.html</i><br>
</p>
</small>
</body>
</html>
