<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Kable v State of New South Wales and Anor [1999] NSWSC 201 (18 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 201</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+201 or 1999+NSWSC+201">Noteup</a>]
[<a href="201.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Kable v State of New South Wales and Anor [1999] NSWSC 201 (18 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_201.html-->
<!--sino date 18 March 1999-->


<P>Last Updated: 18 March 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Kable v State of New South Wales &amp; Anor  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/201.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 201</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	21296/96
<P>

HEARING DATE{S): 	11 March 1999
<P>

JUDGMENT DATE: 	18/03/1999
<P>

 PARTIES: 
<P>

Gregory Wayne Kable
<P>

(Plaintiff)
<P>

State of New South Wales
<P>

(First Defendant)
<P>

Director of Public Prosecutions
<P>

(Second Defendant)
<P>

JUDGMENT OF: 	Master Harrison      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr G B  Hall QC with Mr D Elliott
<P>

(Plaintiff)
<P>

Mr M  Leeming
<P>

(First Defendant)
<P>

Mr G S Hoskings SC
<P>

(Second Defendant)
<P>

SOLICITORS: 
<P>

Mr Neil-Smith
<P>

Brezniak Neil-Smith &amp; Co., Sydney
<P>

(Plaintiff)
<P>

Mr Ian Linwood
<P>

Crown Solicitors Office, Sydney
<P>

(First Defendant)
<P>

Mr S E O'Connor
<P>

Solicitor of Public Prosecutions
<P>

(Second Defendant)
<P>

CATCHWORDS: 
<P>

Strike out defence
<P>

Summary judgment
<P>

Directions
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/" class="autolink_findacts">Community Protection Act 1994</a> (NSW)
<P>

<a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/" class="autolink_findacts">Supreme Court Act</a> - s 88
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/doppa1986343/" class="autolink_findacts">Director of Public Prosecutions Act 1986</a>
<P>

DECISION: 
<P>

See para 25
<P>

JUDGMENT: 
<P>

12
<P>

<center> </center>
<P>


<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES </b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>MASTER HARRISON</b>
<P>

<b>THURSDAY, 18 MARCH 1999</b>
<P>

<b>21296/96   -   GREGORY WAYNE KABLE  v  STATE OF</b>
<P>

<b>			NEW SOUTH WALES &amp; ANOR</b>
<P>

<b>JUDGMENT	(Strike out defence - summary judgment;</b>
<P>

<b>directions )</b>
<P>

1	<b>MASTER:</b>  By notice of motion filed 2 November 1998 the plaintiff seeks
that judgment be entered for him with damages to be assessed and that
the
proceedings be set down for trial.  Alternatively, the plaintiff seeks that the
proceedings be referred for trial and assessment
of the following issues,
firstly, is the plaintiff entitled to damages for wrongful imprisonment?  and,
if so, in what amount should
damages be assessed and secondly, is the plaintiff
entitled to damages for wrongful imprisonment or malice and if so what amount
of damages should be assessed?  The plaintiff did not seek an order in the
notice of motion to dispense with the jury and this issue
was not determined.
The defendants opposed the motion.
<P>

2	On 1 August 1990 the plaintiff pleaded guilty to a charge of manslaughter.
The plea was accepted on the basis of diminished responsibility
and the
plaintiff was sentenced to imprisonment for 5 years and 4 months.  The
plaintiff was entitled to be released on 5 January
1995.  However, on 6
December 1994, the Community Protection Bill had passed through both Houses of
the New South Wales Parliament
and was assented to by the Governor.  It
commenced on 9 December 1994.
<P>

3	Section 5(1) of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/" class="autolink_findacts">Community Protection Act</a></b> 1994 (NSW) empowered the
Supreme Court to make an order for the detention of a specified person in
prison for a specified period
if it was satisfied on reasonable grounds that
the person was more likely than not to commit a serious act of violence and
that it
was appropriate, for the protection of a particular person or the
community generally that the person be held in custody.  The maximum
period for
detention was six months (sub-s (2)) but more than one application could be
made in relation to the same person (sub-s
(4)).  <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/s3.html" class="autolink_findacts">Section 3(3)</a> stated that the
Act authorised the making of a detention order against a named individual and
no other.  There was only one named
individual, the plaintiff.
<P>

4	On 13 December 1994 the Director of Public Prosecutions commenced proceedings
(No 13152 of 1994) in this court seeking an interim
order that the plaintiff be
detained in prison for 3 months pursuant to the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/" class="autolink_findacts">Community Protection Act</a></b>
1994 (NSW) and that the plaintiff undergo medical examination.  On 19 December
1994 Spender JA gave judgment and held that the <b>Act</b> was constitutional
and declined to stay the proceedings and made an order requiring the plaintiff
to be psychiatrically examined
by doctors selected by the Director of Public
Prosecutions and the application for an interim detention order was stood over
to 22
December 1994.  On 30 December 1994 Hunter J made an interim order
pursuant to the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/" class="autolink_findacts">Community Protection Act</a></b> 1994 (NSW) for the detention of
the plaintiff and set the application for a final order down for hearing on 9
January 1995.  On 23
February 1995 Levine J made an order for preventive
detention, pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/s5.html" class="autolink_findacts">s 5(1)</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/" class="autolink_findacts">Community Protection Act</a></b> 1994 (NSW)
in respect of the plaintiff for a period of six months.  
<P>

5	On 9 May 1995 the plaintiff's appeal against the order made by Levine J was
dismissed.  On 19 July 1995 Sully J dismissed the
plaintiff's application to
revoke the order.  On 3 August 1998 the Director of Public Prosecutions filed a
summons seeking an interim
order for the plaintiff's detention and a further
order that the plaintiff be detained for six months.  On 21 August 1995 Grove J
decline to revoke the order made by Levine J but also declined to make any
further order against the plaintiff.  On 22 August 1995
the plaintiff was
released from prison.  
<P>

6	The plaintiff had sought and been granted special leave to appeal on 8 August
1995.  On 12 September 1996 the High Court delivered
its judgment in
<b><u>Kable v Director of Public Prosecutions (NSW)</u></b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1996/24.html" title="View Case" class="autolink_findcases_inserted">[1996] HCA 24</a>;  <a href="/cgi-bin/LawCite?cit=%281997%29%20189%20CLR%2051" title="View LawCiteRecord" class="autolink_findcases">(1997) 189 CLR 51.</a>
The issue before the High Court for determination was whether the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/" class="autolink_findacts">Community
Protection Act</a></b> 1994 (NSW) is a valid law of the Parliament of New South
Wales.  Brennan CJ and Dawson J held that the Act was valid.  Toohey, Gaudron
and McHugh JJ held that the <b>Act</b> was invalid.  Her Honour also stated
that it was not possible to sever <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/s5.html" class="autolink_findacts">s 5</a> from the rest of the Act which exists
only to give effect to that section.  Gummow J concluded that the whole of the
provisions of
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p2" class="autolink_findacts">Pt 2</a> of the Act <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/s5.html" class="autolink_findacts">(ss 5</a>-<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/s26.html" class="autolink_findacts">26</a>) are invalid.  The provisions of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p1" class="autolink_findacts">Pt 1</a>
(ss<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p1" class="autolink_findacts">1</a>-<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p4" class="autolink_findacts">4</a>) are ancillary to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p2" class="autolink_findacts">Pt 2</a> and fall with it, save in so far as they may have
any valid operation in relation to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p3" class="autolink_findacts">Pt 3</a> (ss <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p27" class="autolink_findacts">27</a>-<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p31" class="autolink_findacts">31</a>).  In relation to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p3" class="autolink_findacts">Pt 3</a> Gummow
J stated that: 
<P>

	<b>"Sections 27, 29, 30 and 31 are ancillary to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1994270/index.html#p2" class="autolink_findacts">Pt 2</a> and have no operation in
respect of other persons, subject matters or circumstances within the meaning
of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/s31.html" class="autolink_findacts">s 31(2)</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/" class="autolink_findacts">Interpretation Act</i> 1987</a> (NSW), such as to preserve an
operation unaffected by the invalidity of the balance of the statute. There
remains <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/s28.html" class="autolink_findacts">s 28.</a>  This states that no action lies against any person (including
the State) for or in respect of any act or omission done or omitted
by the
person so long as it was done or omitted in good faith for the purposes of, or
in connection with the administration or execution
of, this Act.  The section
operates to confer protection in respect of acts or omissions done or omitted
"in good faith".  But they
must have been done or omitted also for the purposes
of, or in connection with the administration or execution of, "this Act".  That
assumes, contrary to the true situation, the validity of the statute.  In
truth, there was no law to be administered or executed.
 I conclude that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/s28.html" class="autolink_findacts">s 28</a>
falls also (301)."</b>
<P>

7	It is convenient to deal with the second defendant's submission that at trial
it would be argued that the High Court decision
did not hold that the whole of
the <b>Act</b> was invalid. Three of the six Judges held that the <b>Act</b>
was invalid.  It is my view that Gummow J held that the whole of the <b>Act</b>
was invalid.  Hence four Judges held that the <b>Act</b> was invalid.  This
submission fails.
<P>

8	The plaintiff alleges in the amended statement of claim that the conduct of
the first and second defendants jointly and severally
in instituting
proceedings against him were unconstitutional, improper, arbitrary and
malicious and were an abuse of process (para
21 ASC).  The plaintiff alleges
causes of action against the first defendant of false imprisonment and assault
and battery (paras
31 and 32 ASC).  He alleges that the joint and several
abuses by the defendants of the court's process in instituting the former
proceedings against him caused and materially contributed to his suffering,
harm, injury and loss (para 22 ASC).  He is seeking damages
including
aggravated exemplary damages.
<P>

9	On 9 March 1998, both defendants filed defences to the amended statement of
claim.  Both defendants deny the allegations in paragraph
21.  In relation to
paragraph 31 the defendants deny false imprisonment and say that the orders, on
their face appeared to be within
jurisdiction and without legal error (para 12
D). The first defendant has not specifically pleaded to the allegations of
assault
and battery.  The second defendant has denied any abuse of process.  It
has also denied that it acted improperly, arbitrarily, oppressively
or
maliciously.  It says that the second defendant was entitled and obliged to
assume the validity (paras 8 and 9 D).  It denies
that it acted with malice
(para 10 D).  In answer to the whole of the statement of claim it pleads that
the action is wholly barred
by virtue of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/s35.html" class="autolink_findacts">s 35(2)</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/doppa1986343/" class="autolink_findacts">Director of Public
Prosecutions Act</a></b> 1986 (para 12 D).
<P>

10	The issue to be decided is whether the plaintiff is entitled to summary
judgment against the defendants pursuant <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/doppa1986343/s2.html" class="autolink_findacts">rule 2</a> of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/doppa1986343/index.html#p13" class="autolink_findacts">Part 13</a> of the <b>Supreme
Court Rules</b>, notwithstanding the provisions of s 88(b) of the <b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/" class="autolink_findacts">Supreme
Court Act</a></b> and <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/s1.html" class="autolink_findacts">rule 1</a> of <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/index.html#p13" class="autolink_findacts">Part 13</a> of the <b>Rules</b>.
<P>

11	<a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/index.html#p13" class="autolink_findacts">Part 13</a> of the <b>Supreme Court Rules</b> is headed "Summary Disposal".
Part 13 rules 1 and 2 fall into Division 1 of Part 13 which is headed "summary
judgment".  The relevant
parts of Pt 13 rules 1 and 2 say:
<P>

	<b>"Application</b>
<P>

<b>1.	This Division applies to all proceedings except proceedings within the
application of section 88 of the Act (which relates to cases
of fraud and other
matters).</b>
<P>

<b>Summary judgment</b>
<P>

<b>2(1)	Where, on application by the plaintiff in relation to any claim for
relief or any part of any claim for relief of the plaintiff
-</b>
<P>

<b>(a)	there is evidence of the facts on which the claim or part is based;
and</b>
<P>

<b>(b)	there is evidence given by the plaintiff or by some responsible person
that, in the belief of the person giving the evidence,
the defendant has no
defence to the claim or part, or no defence except as to the amount of any
damages claimed,</b>
<P>

<b>the Court may, by order, on terms, give such judgment for the plaintiff on
that claim or part as the nature of the case requires.</b>
<P>

<b> (2)	Without limiting subrule (1), the Court may, under that subrule, give
judgment for the plaintiff for damages to be assessed."</b>
<P>

11	Section 88 of the <b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/" class="autolink_findacts">Supreme Court Act</a></b> provides:
<P>

	<b>"Proceedings on a common law claim in which there are issues of fact
-</b>
<P>

<b>(a)	on a charge of fraud against a party;  or</b>
<P>

<b>(b)	on a claim in respect of defamation, malicious prosecution, false
imprisonment, seduction or breach of promise of marriage,</b>
<P>

<b>shall be tried with a jury."</b>
<P>

12	It is my view that the meaning of <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/s13.html" class="autolink_findacts">s 13(1)</a> is clear.  The summary judgment
provision does not apply to cases that fall within s 88.  The plaintiff has
alleged causes of action
of malicious prosecution against both defendants and
false imprisonment against the first defendant in these proceedings.  These
causes of action fall within s 88.  These causes of action shall be tried by a
jury.  The plaintiff is not entitled to seek summary
judgment.  If I am wrong
then I turn to consider the plaintiff's other submissions.
<P>

13	In <b><u>General Steel Industries Inc v Commissioner for Railways</u></b>
<a href="http://www.austlii.edu.au/au/cases/cth/HCA/1964/69.html" title="View Case" class="autolink_findcases_inserted">[1964] HCA 69</a>;  <a href="/cgi-bin/LawCite?cit=%281964%29%20112%20CLR%20125" title="View LawCiteRecord" class="autolink_findcases">(1964) 112 CLR 125</a> Barwick CJ, who heard the application alone, referred to
Dixon J's passage quoted above at p 130.  He then stated:
<P>

	<b>"Although I can agree with Latham CJ in the same case when he said that the
defendant should be saved from the vexation of the continuance
of useless and
futile proceedings, in my opinion great care must be exercised to ensure that
under the guise of achieving expeditious
finality a plaintiff is not improperly
deprived of his opportunity for the trial of his case by the appointed
tribunal.  On the other
hand I do not think that the exercise of the
jurisdiction should be reserved for those cases where argument is unnecessary
to evoke
the futility of the plaintiff's claim.  Argument, perhaps even of an
extensive kind, may be necessary to demonstrate that the case
of the plaintiff
is so clearly untenable that it cannot possibly succeed."</b>
<P>

14	Barwick CJ also said:
<P>

	<b>"It is sufficient for me to say that these cases uniformly adhere to the
view that the plaintiff ought not to be denied access to
the customary tribunal
which deals with actions of the kind he brings, unless his lack of cause of
action - if that be the ground
on which the Court is invited, as in this case,
to exercise its powers of summary dismissal - is clearly demonstrated.  The
test
to be applied has been variously expressed;  `so obviously untenable that
it cannot possibly succeed';  `manifestly groundless';
 `so manifestly faulty
that it does not admit of argument';  `discloses a case which the Court is
satisfied cannot succeed';  `under
no possibility can there be a good cause of
action';  `be manifest that to allow them' (the pleadings) `to stand would
involve useless
expense."</b>
<P>

15	In a recent decision in <b><u>Air Services Australia v Zarb</u></b> (NSWCA
unreported, 26 August 1998) Rolfe AJA found it useful to remind himself of the
highly demanding test imposed on a party seeking
summary judgment.  His Honour
referred to <b><u>Dey v Victorian Railway Commissioners</u></b> (1948-49)78 CLR
62, <b><u>General Steel</u></b> and <b><u>Webster &amp; Anor v Lampard</u></b>
<a href="http://www.austlii.edu.au/au/cases/cth/HCA/1993/57.html" title="View Case" class="autolink_findcases_inserted">[1993] HCA 57</a>;  <a href="/cgi-bin/LawCite?cit=%281993%29%20177%20CLR%20598" title="View LawCiteRecord" class="autolink_findcases">(1993) 177 CLR 598.</a>  Other than <b><u>General Steel</u></b> I need not
reproduce the relevant parts of those decisions.
<P>

16	The plaintiff's Counsel conceded that the onus is on him to demonstrate that
there is evidence of the facts, but submitted that
there are no facts that are
truly in issue and that the decision of the High Court implies that there was
malice.  It should be noted
that the first defendant was not a party to the
High Court proceedings.  It is my view that the High Court did not imply malice
nor
did they consider malicious prosecution, false imprisonment, assault and
the other causes of action pleaded by the plaintiff.
<P>

17	The plaintiff referred to <b><u>R v Governor of Brockhill Prison ex parte
Evans (No 2)</u></b>  <a href="/cgi-bin/LawCite?cit=%5b1998%5d%20All%20ER%20993" title="View LawCiteRecord" class="autolink_findcases">[1998] All ER 993</a> particularly the following passage by
Lord Woolf MR:
<P>

	<b>"The appeal raises issues of importance involving two principles which are
deeply embedded in our law.  The first is that any authoritative
decision of
the courts stating what is the law operates retrospectively.  The decision does
not only state what the law is from the
date of the decision, it states what it
has always been.  This is the position even if in setting out the law the court
overrules
an earlier decision which took a totally different view of the law.
The second principles is that a person imprisoned without authority
is entitled
to damages irrespective of any question of fault on the part of the person
responsible for the imprisonment."</b>
<P>

18	The plaintiff's counsel submitted that the law was clear.  However, in
<b><u>Brockhill</u></b> the plaintiff's cause of action was false imprisonment.
She did not plead malicious prosecution, assault and abuse of process.  
<P>

19	A person alleging abuse of process must show that the predominant purpose of
the other person using the legal process has been
other than that for which it
was designed and there is a heavy onus placed upon the party alleging it - (see
<b><u>William v Spautz</u></b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1992/34.html" title="View Case" class="autolink_findcases_inserted">[1992] HCA 34</a>;  <a href="/cgi-bin/LawCite?cit=%281991%2d92%29%20174%20CLR%20509" title="View LawCiteRecord" class="autolink_findcases">(1991-92) 174 CLR 509</a>, joint judgment of Mason
CJ, Dawson, Toohey and McHugh JJ at p 529).  Malicious prosecution requires the
plaintiff to prove that
there was an absence of reasonable or probable cause
for instituting proceedings and malice in instituting them.  The mental state
of the defendants through their officers will be relevant.  There is no
evidence on this issue before the court.  The High Court
in <b><u>Kable</u></b>
did not determine these causes of action of malicious prosecution, false
imprisonment, assault or an abuse of process.  
<P>

20	The first defendant intends to rely on <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sca183/s35.html" class="autolink_findacts">s 35</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/doppa1986343/" class="autolink_findacts">Director of Public
Prosecutions Act</a></b> 1986 which affords officers, crown prosecutors and their
assistants protection from liability.  
<P>

21	It is my view that there will be evidence of the facts adduced by the
defendants on which the claim is based.  Additionally,
the second defendant has
arguable legal points such as to whether <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/doppa1986343/s35.html" class="autolink_findacts">s 35</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/doppa1986343/" class="autolink_findacts">Director of Public
Prosecutions Act</a></b> 1986 affords protection from liability.  It must also be
borne in mind that this is a novel case arising out of a statute being passed
by the New South Wales Parliament to keep one person in prison despite serving
his sentence and not being convicted of a crime. 
At the hearing, the first
defendant's reasons for passing the legislation will be canvassed.  In the
exercise of my discretion, I
do not think that this is an appropriate matter in
which to exercise summary judgment. 
<P>

22	Alternatively, the plaintiff sought that this matter be listed for trial for
which he is ready.  The defendants have yet to arrange
for joint medical
examinations but are otherwise ready for hearing.  It is anticipated that
matter which appears in public records
will not be disputed.  The plaintiff
estimates that the case will take one week and seeks expedition.  The
defendants estimate it
will take 2 weeks.  The defendants were reluctant to
prepare a joint memorandum of issues in dispute as they say that those issues
appear in the pleadings.  
<P>

23	These proceedings were commenced on 20 November 1996 and aside from an
initial status conference in 1997 and this motion, there
has been little
activity initiated by the plaintiff's legal representatives to have this matter
listed for trial since then.  Nevertheless,
in light of the High Court's
decision striking down the legislation as invalid, it is my view that the
plaintiff should be afforded
some priority.  However this case should not be
permitted to totally bypass the case management system - see Practice Note 88.
This
matter is to be referred to a status conference in about two weeks time.
At that conference the parties are to furnish the registrar
with a joint
timetable of steps that need to be taken by them or failing agreement, each
party is to submit his timetable.  This
timetable should include a statement as
to whether or not that party is willing to attend mediation.  It is intended
that this matter
should be ready to be placed in the next long matters callover
which usually occurs annually in about November each year.
<P>

24	The plaintiff was unsuccessful with his part of the motion seeking summary
judgment.  However a court appearance would have been
necessary in any event to
progress this matter.  Directions were made as sought in para (3) of the notice
of motion.  Accordingly
it is my view that the appropriate order for costs is
that costs of the motion be costs in the cause.
<P>

25	The orders I make are:
<P>

(1)	Paragraph (1) of the plaintiff's notice motion filed 2 November 1998 is
dismissed.
<P>

(2)	A status conference is to be allocated in about 2 weeks time.  The Registry
is to notify the parties of the time and date of
the conference.  Parties are
to submit either a proposed joint timetable or failing that, individual
proposed timetables to the Registrar
at that conference.
<P>

(3)	Costs of the plaintiff's motion filed 2 November 1998 are to be costs in
the cause.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	18/03/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/201.html</i><br>
</p>
</small>
</body>
</html>
