<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Konstantinidis v Foreign Media Pty Limited and 3 Ors Konstantinidis v Foreign Language Publications Pty Limited [1999] NSWSC 1054 (27 October 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1054</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1054 or 1999+NSWSC+1054">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Konstantinidis v Foreign Media Pty Limited and 3 Ors Konstantinidis v Foreign Language Publications Pty Limited [1999] NSWSC 1054 (27 October 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1054.html-->
<!--sino date 27 October 1999-->


<P>Last Updated: 27 October 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Konstantinidis v Foreign Media Pty Limited &amp; 3 Ors
Konstantinidis v Foreign Language Publications Pty Limited  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1054.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
1054</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	20998 of 1995
<P>

20819 of 1996
<P>

HEARING DATE{S): 	20 May 1998
<P>

JUDGMENT DATE: 	27/10/1999
<P>

 PARTIES: 
<P>

SIMON KONSTANTINIDIS
<P>

(Plaintiff)
<P>

v
<P>

FOREIGN MEDIA PTY LIMITED
<P>

(First Defendant)
<P>

THEODORE SKALKOS
<P>

(Second Defendant)
<P>

TONY LEONIS
<P>

(Third Defendant)
<P>

GEORGE STAVROULAKIS
<P>

(Fourth Defendant)
<P>

SIMON KONSTANTINIDIS
<P>

(Plaintiff)
<P>

v
<P>

FOREIGN LANGUAGE PUBLICATIONS PTY LIMITED
<P>

(Defendant)
<P>

JUDGMENT OF: 	Levine J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

J S Wheelhouse
<P>

(Plaintiff)
<P>

SOLICITORS: 
<P>

Mallesons Stephen Jaques
<P>

(Plaintiff)
<P>

T Lazaropoulos
<P>

(Defendants)
<P>

CATCHWORDS: 
<P>

Amendment of pleadings - costs - issues as to translation of publication in a
foreign language
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

See paragraph 22
<P>

JUDGMENT: 
<P>

DLJ:  3
<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DEFAMATION LIST</b>
<P>

<b>No. 20998 of 1995</b>
<P>

<b>No. 20819 of 1996</b>
<P>

<b>JUSTICE DAVID LEVINE</b>
<P>

<b>WEDNESDAY 27 OCTOBER 1999</b>
<P>

<center><b>Simon KONSTANTINIDIS</b>
<P>

<i>(Plaintiff)</i>
<P>

<b>v</b>
<P>

<b>FOREIGN MEDIA PTY LIMITED</b>
<P>

<i>(First Defendant)</i>
<P>

<b>THEODORE SKALKOS</b>
<P>

<i>(Second Defendant)</i>
<P>

<b>TONY LEONIS</b>
<P>

<i>(Third Defendant)</i>
<P>

<b>GEORGE STAVROULAKIS</b>
<P>

<i>(Fourth Defendant)</i></center>
<P>


<P>


<P>

<center><b>Simon KONSTANTINIDIS</b>
<P>

<i>(Plaintiff)</i>
<P>

<b>v</b>
<P>

<b>FOREIGN LANGUAGE PUBLICATIONS PTY LIMITED</b>
<P>

<i>(Defendant)</i></center>
<P>


<P>

<b>Judgment (Amendment of pleadings - costs - issues as to translation of
publication in a foreign language)</b>
<P>

1   	As at 9 December 1997 there were four matters in issues
between the parties in each action.  The first was the question of
whether or
not an order for indemnity costs should be made in respect of the complex
applications dealt with in the judgment delivered
by me on 8 August 1997.  The
second matter then in issue was the question of whether the Amended Defence
filed on 3 September 1997complied
with the Orders made by me on 8 August 1997,
and the status of a further Amended Defence accepted by the Registry on 8
December 1997
(the day before the first day of argument).  The third matter in
contention was the question of the translations of the various matters
complained of which had been put in issue by the defendants.  The fourth matter
was a foreshadowed application to have severed a
cross-claim which the
defendants had instituted.
<P>

2   	There were two days of argument in connection with the four
matters to which I have referred, that is, two days set aside therefor
namely,
9 December 1997 and 20 May 1998.  The Court was in respect of each day's
argument inundated with bundles of correspondence
which overall exemplifies the
acrimonious point taking that can arise in litigation of this kind, the
daunting quantum of paper the
judge is considered to be required to attend to
for the disposition of these matters leading to the extraordinary burden upon
the
judge to "<i>sort out"</i> so-called interlocutory disputes inevitably
leading to what the litigants themselves might perceive to be an
extraordinarily and
unsatisfactory delay in having their case at this level
disposed of. 
<P>

3   	As it turns out however the four matters to which I have
referred, by 20 May 1998 had resolved to a great extent.  By the end
of the
hearing on 9 December the question of whether or not indemnity costs should be
awarded had been argued.  The nature and ambit
of the dispute in relation to
translations had been explored and an order made by me for further discovery in
relation to certain
radio tapes.  The disposition of the dispute in relation to
translations remains outstanding.
<P>

4   	It is quite clear that the Further Amended Defence filed by
the defendants on 8 December 1997 should not have been received
by the
Registry, the leave to file an Amended Defence having been availed of by that
filed on 3 September.  In the course of submissions
on 9 December Mr
Lazaropolous for the defendants pointed to the pleading filed on 8 December as
being one that merely cured clear
defects in that filed on 3 September and one
constituting compliance with the Orders made by me on 8 August.  
<P>

5   	The so-called Further Amended Defence being filed on 8
December clearly disadvantaged the plaintiff who on that day was ready
to argue
the insufficiency (admitted) in the Amended Defence filed in September pursuant
to my judgment of August.  The time taken
on 9 December to deal with the
question of indemnity costs and translations precluded consideration of the
propriety of the Amended
Defence filed in September and the status of the
Further Amended filed on 8 December.
<P>

6   	On 20 May 1998 however a degree of good sense had obviously
prevailed and the plaintiff was prepared to accept that leave be
granted to the
defendants to file that defence in fact filed on 8 December 1997, subject to
certain conditions not only as to costs
but in relation to the formalisation of
the issue between the parties on the question of translation.  Furthermore, on
20 May 1998
the plaintiff announced that he did not propose to proceed with the
application to sever the cross-claims but reserved his position
in regard
thereto provided that such actions were diligently prosecuted by the
cross-claimants.
<P>

7   	A matter to be disposed of with comparative simplicity, in
my view, is the issue as to translations.  In <b><i>Chinatown Enterprises Pty
Limited v Maxims Entertainment Pty Limited </i></b>(unreported, 13 December
1996) I held that the question of whether or not the translation of a given
matter complained of, when in
issue, has been proved is a matter for the trial
judge and not the jury.  This clearly must be so as the jury has the function
of
determining only whether or not the matter complained of conveys in fact
pleaded imputations.  It is not part of a jury's function
to decide whether the
matter said to convey those imputations is a proper translation from a foreign
language.  
<P>

8   	If there is an issue as to translation it is one that must
be resolved prior to the determination by the jury of the issue
reserved to it
under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/s7a.html" class="autolink_findacts">s 7A</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/" class="autolink_findacts">Defamation Act 1974</a></i>.  It is one that can be litigated
and decided prior to the empanelling of the jury and upon an order being made
that pursuant to
SCR <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/index.html#p31" class="autolink_findacts">Pt 31</a> r 2, ss 76A and <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/s85.html" class="autolink_findacts">85</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/" class="autolink_findacts">Supreme Court Act</i>
1970</a> that it be separately determined.
<P>

9   	What the complex exchange of correspondence between the
parties points to is the necessity to structure the litigation of that
issue.
Mr Lazaropolous quite sensibly pointed out that the starting point at least is
the comparison between the translation upon
which the plaintiff relies with
that upon which the defendant relies.  The differences may be quite clear.
There may be however issues
far more complex than, for example, whether or not
the plaintiff has correctly translated the word in Greek for a "<i>motor
vehicle" </i>by using the word in English, "<i>pineapple".  </i>If the
plaintiff's translation is defective on such simplistic grounds it would be an
easy task for the defendant to identify them.
 If however the issue is beyond
one of merely translation in the strict sense but rather one of rendering into
English both in words
and sense that which was published in Greek, then it is a
matter which could call for expert evidence.  The dispute can boil down
to
questions of vocabulary, grammar, punctation and what I have described as
"<i>sense</i>".  If the defendant is putting in issue the translation relied
upon by the plaintiff then the plaintiff is entitled to particulars
at least of
those areas upon which the defendant relies in its challenge.  That seems to me
to be an exquisitely simple exercise.
 The litigation of any one or all of
those issues might well depend in the end upon expert evidence as I have said
in which event
orders will be made for the exchange of expert reports or the
equivalent thereof.  
<P>

10   	If it were not for the intervention of the cross-claim
this would be a case where orders could be made for the separate trial
of the
question of fact as to what the publication in the original language means in
English and upon that being decided, whether
or not the publication in fact
conveys (assuming capacity not to be in issue) the imputations pleaded by the
plaintiff.  If there
is no dispute or issue in relation to a cross-claim for
defamation and even if the cross-claim itself involves similar matters in
issue
as between the cross-claimants and cross-defendants as exist between the
plaintiff and defendant then those matters in issue
also can be the subject of
orders for separate trial.  And if there is to be jury involvement then the
jury can attend to those matters
for its role at the same time.  
<P>

11   	To bring this area of dispute to some crystallised point
of finality even at a interlocutory stage notwithstanding and despite
the
exchanges of correspondence that have persisted in this regard, at the next
Directions hearing I propose making order to the
effect (a) that the plaintiff
in respect of each publication within 3 days provides to the defendant the
translation upon which he
relies.  (b)  Within three days thereafter the
defendant is to provide the plaintiff with the translation upon which it relies
together
with particulars of the basis of challenge in relation to vocabulary,
grammar, punctuation, sense or any other matter upon which
the defendant relies
in support of its translation.  Upon an order being made for the separate trial
of that issue then directions
can be given as to the exchange of expert
reports.
<P>

12   	To complain that the plaintiff's translation as appended
to the pleading does not appear to bear the seal or stamp of some
authorised
translator is really a futile point.  If it turns out that the plaintiff's
translation was made by an "<i>amateur"</i> then that may be a matter which
affects the determination of the integrity of the translation.  It is not to
the point for the defendant
to whinge to the effect "<i>we have a NAATI
translation and you do not therefore we put in issue your translation"</i>.
That is the type of querulous nonsense that is to be eliminated from this
List.
<P>

13   	As to the question of indemnity costs.  It became
clarified that what the plaintiff seeks is in effect an order for costs
under
SCR <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/index.html#p52a" class="autolink_findacts">Pt 52A</a> r 8 (and r 16 in relation to interlocutory proceedings);  that that
order for costs be on an indemnity basis pursuant to SCR <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/index.html#p52a" class="autolink_findacts">Pt 52A</a> r 32 and that
those costs be ordered to be payable pursuant to SCR <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/index.html#p52a" class="autolink_findacts">Pt 52A</a> r 9.
<P>

14   	At the outset I reject the submission that I understood Mr
Lazaropolous to have made on 9 December that I had in effect dealt
with the
question of costs in my judgment of 8 August 1997.  That is not so.  Costs were
specifically reserved with directions as
to submissions as to indemnity costs.

<P>

15   	Counsel for the plaintiff relied upon the matters of
principle dealt with by Badgery-Parker J in <b><i>Rouse v Shepherd</i></b>
<b><i>(No. 2) &amp; Ors</i></b>  <a href="/cgi-bin/LawCite?cit=%281994%29%2035%20NSWLR%20277" title="View LawCiteRecord" class="autolink_findcases">(1994) 35 NSWLR 277</a> and his Honour's
incorporation of the observations made by Shepphard J in
<b><i>Colgate-Palmolive v Cussons</i></b> <a href="http://www.austlii.edu.au/au/cases/cth/FCA/1993/536.html" title="View Case" class="autolink_findcases_inserted">[1993] FCA 536</a>;  <a href="/cgi-bin/LawCite?cit=%281993%29%2046%20FCR%20225" title="View LawCiteRecord" class="autolink_findcases">(1993) 46 FCR 225</a> at 233-34.
<P>

16   	I was taken by Mr Wheelhouse to a bundle of correspondence
and directions and pleadings commencing with the original timetable
of 6
September 1996 up to a letter from Mallesons Stephens Jaques solicitors for the
plaintiff to the solicitor for the defendants
dated 6 November 1997.
<P>

17   	Whilst there is no question that the plaintiff is entitled
to an order for costs in his favour in relation to the proceedings
culminating
in my judgment of 8 August 1997 I am not persuaded that the mere fact that the
defendant was unsuccessful is reason for
departure from the usual rule.  I am
not persuaded that there has existed any ulterior motive or improper disregard
of the Court's
resources, the plaintiff's resources or time that requires
departure from the usual rule, particularly in the light of the intervention
of
the Royal Commission into the New South Wales Police Service and what appears
to me legitimate inquiries made of the Professional
Standards Division of the
Law Society of New South Wales.  The continuing exchange of correspondence
between the parties consequent
upon the filing of the original defence on 26
November 1996 raised the very matters dealt with by me in my judgment of 8
August 1997;
 the language used in some correspondence which I will not bother
to repeat - none of these matters persuade me that the conduct
of the defendant
up to the time of the argument of the issues resulting in my judgment of 8
August 1997 warrants departure from the
usual rule.  The fact that defamation
litigation generates the type of correspondence and time delays exemplified in
this case is
a matter for disapprobation but I am not persuaded that it is a
matter for punishment of the defendant or award for the plaintiff
that might be
perceived as the consequence of the orders of the kind sought by the plaintiff.

<P>

18   	I propose therefore in relation to the proceedings
determined by me on 8 August 1997 simply to make the usual order that the
defendants pay the plaintiff's costs.
<P>

19   	Indemnity and consequential orders for costs were also
sought in relation to the proceedings on 9 December.  The defendants
have
failed to persuaded me that there is any legitimate reason for their failure to
comply with the orders I made on 8 August and
file, even if late, on 3
September that defence ultimately filed as a "<i>Further Amended Defence"
</i>on 8 December 1997.  
<P>

20   	The plaintiff however was prepared as at 9 October 1997 to
permit a further 21 days within which the defendant could file
a Further
Amended Defence with full and proper particulars (see letter dated 9 October
1997 MSJ to Foreign Language Publications
Pty Limited).  Given that indulgence
granted by the solicitors for the plaintiff (and not ignoring the ultimate
acceptance of the
Defence filed on 8 December 1997 if only by reason of the
operation of the calendar) it hardly seems to me to be appropriate to make
the
orders sought for the plaintiff in relation to 9 December 1997 either.
<P>

21   	The appropriate orders for costs are that the defendants
pay the plaintiff's costs of the applications leading to my judgment
of 8
August 1997;  the costs of the hearing before me on 9 December 1997 and 20 May
1998;  costs occasioned to the plaintiff by the
Amended Defence filed on 3
September 1997 and the Further Amended Defence filed on 8 December 1997. 
<P>

22   	The formal orders are:
<P>

1.	The defendants have leave to file a Further Amended Defence;  that leave is
deemed to have been exercised by the filing on 8
December 1997 of the Further
Amended Defence in each action
<P>

2.	The defendant is to pay the plaintiff's costs in accordance with these
reasons.
<P>

3.	The matters will be listed for further directions in the Defamation List on
5 November 1999.
<P>

<center>***********</center>
<P>


<P>

LAST UPDATED: 	27/10/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1054.html</i><br>
</p>
</small>
</body>
</html>
