<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Commisso v United Telecasters Sydney Pty Limited and 8 Ors [1999] NSWSC 51 (12 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 51</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+51 or 1999+NSWSC+51">Noteup</a>]
[<a href="51.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Commisso v United Telecasters Sydney Pty Limited and 8 Ors [1999] NSWSC 51 (12 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_51.html-->
<!--sino date 12 February 1999-->


<P>Last Updated: 17 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Commisso v United Telecasters Sydney Pty Limited &amp; 8 Ors  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/51.html" title="View Case" class="autolink_findcases">[1999]
NSWSC 51</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	11626 of 1989
<P>

HEARING DATE{S): 	18 December 1997
<P>

JUDGDMENT DATE: 	12/02/1999
<P>

 PARTIES: 
<P>

GUISEPPE MARIO COMMISSO
<P>

(Plaintiff)
<P>

v
<P>

UNITED TELECASTERS SYDNEY PTY LIMITED
<P>

(First Defendant)
<P>

CHRIS MASTERS
<P>

(Second Defendant)
<P>

JOHN BUDD
<P>

(Third Defendant)
<P>

JAYNE ANDERSON
<P>

(Fourth Defendant)
<P>

PAUL REE
<P>

(Fifth Defendant)
<P>

MARK MIDDIS
<P>

(Sixth Defendant)
<P>

PRUE MILLER
<P>

(Seventh Defendant)
<P>

NICK MURRAY
<P>

(Eighth Defendant)
<P>

PAUL WILLIAMS
<P>

(Ninth Defendant)
<P>

JUDGMENT OF: 	Levine J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr M Neil Q.C.
<P>

(Plaintiff)
<P>

Mr T Blackburn
<P>

(Second, Third, Fifth, Sixth, Eighth &amp; Ninth Defendants)
<P>

SOLICITORS: 
<P>

John Carmody &amp; Co
<P>

(Plaintiff)
<P>

Blake Dawson Waldron
<P>

(First, Second, Fifth, Sixth &amp; Eighth Defendants)
<P>

Gilbert &amp; Tobin
<P>

(Fourth Defendant)
<P>

CATCHWORDS: 
<P>

Summary Dismissal - SCR Pt 21 rr 1 &amp; 13 - SCR Pt 13 r 5
<P>

ACTS CITED: 
<P>

Supreme Court Rules
<P>

DECISION: 
<P>

See paragraph 79
<P>

JUDGMENT: 
<P>

- 36 -
<P>

DLJ :  1
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>Defamation List </b>
<P>

<b>No.  11626 of 1989</b>
<P>

<b>JUSTICE DAVID LEVINE</b>
<P>

<b>FRIDAY 12 FEBRUARY 1999</b>
<P>

<center><b>GUISEPPE MARIO COMMISSO</b>
<P>

<i>(Plaintiff)</i>
<P>

v
<P>

<b>UNITED TELECASTERS SYDNEY PTY LIMITED</b>
<P>

<i>(First Defendant)</i>
<P>

<b>CHRIS MASTERS</b>
<P>

<i>(Second Defendant)</i>
<P>

<b>JOHN BUDD</b>
<P>

<i>(Third Defendant)</i>
<P>

<b>JAYNE ANDERSON</b>
<P>

<i>(Fourth Defendant)</i>
<P>

<b>PAUL REE</b>
<P>

<i>(Fifth Defendant)</i>
<P>

<b>MARK MIDDIS</b>
<P>

<i>(Sixth Defendant)</i>
<P>

<b>PRUE MILLER</b>
<P>

<i>(Seventh Defendant)</i>
<P>

<b>NICK MURRAY</b>
<P>

<i>(Eighth Defendant)</i>
<P>

<b>PAUL WILLIAMS</b>
<P>

<i>(Ninth Defendant)</i></center>
<P>


<P>

<b>JUDGMENT</b> <b>(Summary Dismissal - SCR Pt 21 rr 1 &amp; 13 - SCR Pt 13 r
5)</b>
<P>

1	By Notice of Motion filed on 8 October 1997 the second, third, fifth, sixth,
eighth and ninth defendants move the Court for orders
that the proceedings be
stayed or dismissed for want of prosecution;  that service of the "<i>Amended
Statement of Claim"</i> on the second, third and ninth defendants be set aside;
the second defendant have leave pursuant to SCR Pt 21 rr 1 and 3 to withdraw
his appearance and defence and that the proceedings summarily be disposed of as
against the fifth, sixth and eighth defendants pursuant
to SCR Pt 13 r 5.  
<P>

2	By reason of the nature of the relief sought by the various parties, it is
necessary to set out at some length the rather extraordinary
history of this
litigation.  
<P>

3	On 24 April 1989 United Telecasters (as it then was) - Channel Ten - telecast
a program with the title "<i>Page One</i>".  The program, Exhibit 2 (being the
videotape thereof in the proceedings before me), is approximately one hour in
length and deals
with the assassination of Colin Winchester and the
investigation by the program into what is described as "<i>two secret
societies</i>", the L'Honnorota ("<i>the so-called Mafia</i>"), and the police.
The transcript is 1,057 lines, 29 pages, and at lines 695-761 there is a
reference to Joe Commisso, the relevant
part of which is:
<P>

<i>	"Bribing policemen is one of L'Honnorata's favourite hobbies.  A second
Bungendore defendant, Mario Cannistra, is known to his colleagues
as Il Volpae,
"The Fox".  He was offering a lot more money aiming to catch a bigger fish -
the then AFP Chief, Superintendent Colin
Winchester.  In February 1984 Mario
Cannistra and his brother-in-law Joe Commisso approached one of Winchester's
colleagues who secretly
tape recorded the encounter".</i>
<P>

4	(It does not assist when the Statement of Claim wrongly, I gather, alleges
publication on 24 April 1988.  An Amended Statement
of Claim repeats the error
and it is not until there is a Further Amended Statement of Claim that came
into existence in 1997 that
this error is corrected).
<P>

5	With commendable promptitude, on 27 April 1989, the solicitors for the
plaintiff wrote a Letter of Demand to Channel Ten enclosing
a form of apology
required to be published.  Nothing indicates that this "<i>apology</i>" was
published though there is a later indication as to a <i>"correction</i>".
<P>

6	On 10 May 1989, 16 days after the publication, a Statement of Claim was filed
in which it was contended that the matter complained
of conveyed the following
imputations of the plaintiff:
<P>

<i>	"3(a)	That the plaintiff participated in the brutal murder of Colin
Winchester, an Assistant Commissioner of the Australian Federal
Police;</i>
<P>

<i>	(b)	That the plaintiff was a member of an organised society of criminals
known as L'Honnorata which engaged in murder, bribery and
the production of
illegal drugs;</i>
<P>

<i>	(c)	That the plaintiff had bribed members of the New South Wales Police
Force;</i>
<P>

<i>	(d)	That the plaintiff had participated in an attempt to bribe Colin
Winchester, an Assistant Commissioner of the Australian Federal
Police;</i>
<P>

<i>	(e)	That the plaintiff had engaged in the criminal activity of producing
large quantities of the illegal drug marijuana".</i>
<P>

7	Particulars of Identification appended to the Statement of Claim state that
the plaintiff is known as "<i>Joe Commisso</i>" and is the brother-in-law of
Mario Connistra.
<P>

8	The Particulars of Aggravation rely upon the falsity of the imputations and
the failure of the defendant to check its allegations
with the plaintiff and
give him and opportunity to deny them.  It is contended that the defendant knew
or ought to have known it
was making an extremely serious and defamatory charge
against the plaintiff to which he could not respond prior to publication. 
I
gather the position to be that the plaintiff is the brother-in-law of Connistra
as alleged and is known as Joe Commisso;  however,
the plaintiff had absolutely
nothing to do with the transaction referred to in the program.
<P>

9	On 25 May 1989 Channel Ten filed its appearance and on 27 June its Defence.
The only defence is that the matter complained of
is not defamatory in that it
does not convey the imputations pleaded.  In mitigation of damages the
defendant relies upon the circumstances
in which it is proved by the plaintiff
that the publication was made.  
<P>

10	There then occurs what appears to be the first "<i>delay</i>".  The Short
Minutes of Order made on 26 May 1989 by David Hunt J presumes that a Reply
would be filed, but in any event provided
for the exchange of Lists of
Documents and inspection to take place by 25 August that year.  It was not
until 28 March 1990 (nine
months delay) that the plaintiff filed his List of
Documents and thereafter on 25 June 1990 the defendant filed its List of
Document
(a delay of three months).
<P>

11	In any event, by 13 September 1990 all interrogatories had been answered and
on 19 October the matter was entered into the Long
Matters Callover List for
call up after 31 March 1991.  Apart from the delays referred to, the course of
the action appears to have
been unremarkable, it being ready for trial within
18 months of the date of the publication sued upon.  
<P>

12	Then on 4 June 1991 the defendant corporation went into liquidation (an
unusual occurrence in this kind of litigation).  On 4
June the solicitors for
the plaintiff wrote to the solicitors for the defendant noting that the
latter's former client was now in
liquidation but, importantly, giving notice
that their client was to "<i>give consideration to whether or not to join the
journalists involved in the broadcast and the manager of the defendant company
or
other officer who authorised publication</i>" (Exhibit A).  The plaintiff's
solicitors also sought the identity of such persons.  Exhibit B is the reply
dated 5 June 1991 from
Messrs Dawson Waldron who merely informed the solicitors
for the plaintiff that their letter had been forwarded to the liquidator
and of
the requirement of the leave of the Court to continue the proceedings against
the company in liquidation (Exhibit B).  The
file indicates that a Notice of
Motion and affidavit in support was filed on 9 December 1991 and returnable on
13 December purportedly
pursuant to s 500(2) of the <i>Corporations Law</i>
seeking leave to proceed.  This is the subject of the correspondence
constituting Exhibit C between the plaintiff's solicitors and
the firm of
accountants handling the liquidation of the first defendant.  The Court record
indicates that on 13 December 1991 the
matter was stood over generally in order
to file some evidence in support of the application.
<P>

13	On 27 May 1993 the plaintiff filed a Notice of Motion seeking leave to
continue the proceedings against the first defendant and
leave to join Masters,
Budd, Anderson, Ree, Middis, Miller, Murray and Williams.  On 6 August 1993
leave to continue against the
first defendant was granted and the liquidators
were joined as defendants.  It can be seen that there was a two year gap
between
the plaintiff becoming aware of the first defendant going into
liquidation and the plaintiff taking steps to proceed against the
company in
liquidation and joining the other defendants. 
<P>

14	Leave to join nine individual defendants was granted by me on 20 August
1993.  It was not however until about six months later
that on 9 February 1994
an Amended Statement of Claim was filed.  
<P>

15	In February 1994 there were unsuccessful attempts to serve Paul Williams.
The Amended Statement of Claim was served on Paul Ree
on 27 February 1994
(fifth defendant);  on Nick Murray on 3 March 1994 (eighth defendant);  on Mark
Middis on 9 March 1994 (sixth
defendant).  
<P>

16	It is to be noted that as at 9 February 1996 under SCR Pt 7 r 7 (as it then
was) the Amended Statement of Claim filed on 9 February
1994 became
"<i>stale</i>" and any service thereafter would be "<i>irregular</i>".
<P>

17	It was on 17 March 1996 that that Amended Statement of Claim was served on
Chris Masters (second defendant).  As at that stage
neither Williams nor Budd
had been served.  The matter was listed in the Defamation List on 26 April and
notices thereof were given
to served defendants other than Budd and Williams.
On 19 April a letter was written to the second defendant (Masters) notifying
him
that failure to file a defence would trigger an application by the
plaintiff for an order for judgment.  The matter was in the Defamation
List on
26 April 1996, 10 May 1996 on which latter date notice was again given to the
second defendant (Masters) of an intention
to seek judgment.
<P>

18	On 17 May 1996 Notices of Appearance were filed on behalf of Masters and
Budd the latter however had not been served.  On 21
May 1996 a Notice of
Appearance was filed on behalf of Murray (eighth defendant).
<P>

19	On 31 May Defences were filed by Masters, Budd and Murray.  On 7 June 1996
leave was granted to Budd to withdraw his appearance
and Defence pursuant to
SCR Pt 21 rr 1 and 3.
<P>

20	Nine months later on 21 March 1997 orders for substituted service on John
Budd were made.
<P>

21	On 18 April 1997 the Court file indicates that I granted leave to the
plaintiff to file an Amended Statement of Claim.  The copy
of that document in
the Court file bears the notion "<i>by order 18-4-97"</i> but is not otherwise
sealed or stamped.
<P>

22	On 30 April 1997, as I understand it, that Amended Statement of Claim was
served on John Budd's employer and on Paul Williams
on 4 July 1997.  
<P>

23	With respect to the second defendant (Masters) that litigant filed a Defence
on 31 May 1996.  It is a minimalist defence putting
in issue whether the matter
complained of was defamatory and raising one matter in mitigation of damages,
not, I note, anything to
do with the publication of a correction.  On 6
February 1997 Mr Masters delivered a list of documents and answered
interrogatories
on 21 March 1997.  The third defendant (Budd) filed a Defence
on 31 May.  It was, as I have indicated, withdrawn.  
<P>

24	As to the fifth defendant (Paul Ree), a Defence was filed in Court on 12
July 1996.  This Defence raises the same issues as that
of the second
defendant.  The sixth defendant filed a Defence in Court on 12 July 1996, in
the same form as the other defendants.

<P>

25	The eighth defendant (Nick Murray) filed his Defence on 31 May 1996.  As I
have said none of the defendants relies on qualified
privilege;  however, on 10
December 1997 there was filed in Court an Amended Defence for Mr Murray which
includes defences of qualified
privilege both under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/s22.html" class="autolink_findacts">s 22</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/" class="autolink_findacts">Defamation
Act, 1974</a></i> and at common law, the foundation being that he was the legal
adviser to the first defendant.
<P>

26	In anticipation of the hearing of this motion directions were given to the
plaintiff to give particulars of the facts, matters
and circumstances upon
which reliance would be placed that the relevant defendants "<i>broadcast</i>"
and "<i>published</i>" the matter complained of.  
<P>

27	It is now appropriate to identify, isolate and discriminate between the
defendants in respect of what each says as to his or
her role.  
<P>

28	It is particularised in Exhibit D, the letter supplying particulars dated 16
December 1997, that the second defendant (Masters)
broadcast/published the
matter complained of in that he (i) was a party to the preparation of the
program for subsequent broadcast;
 (ii) was involved in the preparation of the
program for subsequent broadcast;  (iii) was aware that the program would be
broadcast
in the Sydney Metropolitan Area and most, if not all, State capitals;
(iv) was involved in the publishing of a correction;  (iv)
has made no apology
to the plaintiff.  The last mentioned is an odd component of the case to
establish publication;  it may be that
it was influenced by the decision of the
Court of Appeal in <b><i>Rigby v John Fairfax Group Pty Ltd (Court of Appeal, 1
February 1996, unreported)</i></b>.  There is no need, however, to resolve this
at this stage.
<P>

29	In his sworn answers to interrogatories (Annexure N to the affidavit of J.
E. Carmody sworn 16 October 1997) Mr Masters states:
<P>

<i>	"1A.	Was the second defendant a party to the preparation of the programme
known as `Page One' on 24 April 1989?</i>
<P>

<i>	1B.	Yes.</i>
<P>

<i>	2A.	Was the second defendant in any way involved in the preparation of the
said programme?</i>
<P>

<i>	2B.	Yes.</i>
<P>

<i>	3A.	If the answer to 1 or 2 above, or both is yes, in what capacity was the
second defendant party to or otherwise involved in the
preparation of the said
programme?</i>
<P>

<i>	3B.	The second defendant was the reporter responsible for co-ordinating
research, preparing the script and presenting the report.</i>
<P>

<i>	4A.	If the answer to 1 or 2 above, or both is yes, state all facts relating
to the second defendant's participation/involvement in
the preparation of the
said programme.</i>
<P>

<i>	4B.	The second defendant became involved in preparing the report about two
weeks after the death of Colin Winchester.  The second
defendant's
participation included:</i>
<P>

<i>	(a)	suggesting to the Executive Producer that it was appropriate for the
second defendant to do a report that analysed the investigation
of Colin
Winchester's murder;</i>
<P>

<i>	(b)	identifying potential interviewees;</i>
<P>

<i>	(c)	interviewing the majority of witnesses and other people whose knowledge
was relevant to the matter complained of;</i>
<P>

<i>	(d)	preparing and amending the script in consultation with the producer
including the shooting script, rough cut and final script;</i>
<P>

<i>	(e)	presenting commentary;</i>
<P>

<i>	(f)	assisting with editorial overview including consultations with the
producer and researcher, and with the Executive Producer and
the Associate
Producer; and</i>
<P>

<i>	(g)	assisting with station publicity.</i>
<P>

<i>	5A.	Was the second defendant a party to the broadcast of the programme
known as `Page One' on 24 April 1989?</i>
<P>

<i>	5B.	The second defendant was not involved in any steps or decisions taken
to transmit the prepared programme however was involved
in the preparation of
the programme for subsequent broadcast as set out above.</i>
<P>

<i>	6A.	Was the second defendant in any way involved in the broadcast of the
said programme?</i>
<P>

<i>	6B.	The second defendant refers to 5B above".</i>
<P>

30	I happen to note that the plaintiff in the correspondence which provides the
further and betters particulars makes complaint
of the failure of this and the
other defendants to answer a series of interrogatories (11-15).  Whether or not
the defendants can
be compelled to answer those interrogatories will remain to
be seen.  In the light of the fact that the only issue as between the
parties
is libel or no libel and the circumstances of the publication complained of
then there may be a case allowing for the position
the defendants took in
relation to these interrogatories.
<P>

31	On 16 October 1997 Mr Masters swore an affidavit which was read in these
proceedings deposing as to the end of his employment
with the first defendant
in about August 1988, when the particular program "<i>Page One</i>" was no
longer broadcast (<i>sic</i>).  His responsibilities in the preparation of this
program included writing the script, presentation and most of the editing of
the
program.  Prior to its broadcast he had interviewed about 50 people and
some others were interviewed by the third defendant, John
Budd, and the fourth
defendant, Jayne Anderson.  Not all the material was used, about 10 to 15
people were interviewed on camera.
 The research prior to telecasting took
several months and the deponent's sources of information included police
officers, lawyers,
persons accused of being members of crime syndicates, other
journalists, politicians and public servants.  The script was originally
written as a "<i>shooting script</i>" then as a <i>"rough cut</i>" and then
finally as a "<i>fine cut</i>".  All these drafts were written by the deponent.
As at December 1997 Mr Masters had no recollection of any of the circumstances
under which the plaintiff's name was given to him.  He says he had no idea that
the name was incorrect at the time of broadcasting
of the matter complained of.
He did have extensive documents concerning research conducted prior to the
broadcast which documents
were left with the first defendant upon his
departure. 
<P>

32	As to the fifth defendant (Ree), it is contended by the plaintiff, in his
particulars, that he (i) filmed interviews and reconstructed
events in the
preparation of the program for subsequent telecasting;  (ii) filmed the second
defendant (Masters) reporting to camera
in the preparation of the program for
subsequent broadcast;  (iii) was aware the program would be broadcast in the
Sydney Metropolitan
area and most, if not all, State capitals;  (iv) has made
no apology to the plaintiff.  Mr Ree has taken the position as to the disputed
interrogatories as was taken by Mr Masters.  
<P>

33	In his affidavit 16 December 1997 in support of the Notice of Motion Mr
Rees, the cameraman, says that it was part of his duties
for Channel Ten to
film some of the video material used in the program.  The parts of the program
which he filmed included reconstructions
of events reported on, interviews with
participants, the second defendant reporting to camera and locations around
Canberra.  He
was assigned his job by the ninth defendant (the Executive
Producer), and performed the filming under the direction and supervision
of the
third defendant (Budd, the Producer), and the second defendant.  He filmed the
reconstruction scene being that part of the
program where the plaintiff's name
was mentioned and the tape recorder shown during that scene but took no part in
the production
of the voice-over accompanying the visual material as the sound
component of the program was added at a later stage as were the sub-titles.
 He
swears that at the time of shooting the visual material he was unaware of the
plaintiff's name or that it would be used in the
program.  After he had
completed filming the video material it was given to the sixth defendant
(Middis, the Editor).  He took no
part in writing or otherwise determining the
script of the matter and no part in the decision to publish it.
<P>

34	As to the sixth defendant Mr Mark Middis (the Editor), the plaintiff
particularises that he constructed story segments in accordance
with the script
of the program in preparation for its broadcast, was aware that it would be
broadcast and had made no apology to
the plaintiff.  Mr Middis answered his
interrogatories as follows:
<P>

<i>	</i>"<i>1A.	Was the sixth defendant a party to the preparation of the
programme known as `Page One' on 24 April 1989?</i>
<P>

<i>	1B.	Yes.</i>
<P>

<i>	2A.	Was the sixth defendant in any way involved in the preparation of the
said programme?</i>
<P>

<i>	2B.	Yes.</i>
<P>

<i>	3A.	If the answer to 1 or 2 above, or both is yes, in what capacity was the
sixth defendant party to or otherwise involved in the
preparation of the said
program?</i>
<P>

<i>	3B.	As a video tape editor.</i>
<P>

<i>	4A.	If the answer to 1 or 2 above, or both is yes, state all facts relating
to the sixth defendant's participation/involvement in
the preparation of the
said program.</i>
<P>

<i>	4B.	The sixth defendant constructed the story segments for the matter
complained of from recorded video tapes in accordance with
a script provided to
him.</i>
<P>

<i>	5A.	Was the sixth defendant a party to the broadcast of the program known
as `Page One' on 24 April 1989?</i>
<P>

<i>	5B.	The sixth defendant was not involved in any steps or decisions taken to
transmit the prepared program.</i>
<P>

<i>	6A.	Was the sixth defendant in any way involved in the broadcast of the
said program?</i>
<P>

<i>	6B.	The sixth defendant refers to 5B above".</i>
<P>

35	In his affidavit sworn 15 October 1997 Mr Middis states that he was employed
by the first defendant as a videotape editor as
part of the duties of which he
was given a script and recorded videotapes and he edited the tapes in
accordance with the script.
 His job was to select segments of the visual
material which matched the script and to lay a sound track over the pictures.
He did
not write the script nor did he have editorial control:  his job was of
a technical nature.  In respect to the program the deponent
states that he
chose shots filmed by the cameraman and laid a sound track against the pictures
in accordance with the script provided
to him.  He did these duties under the
direction of the program's producer and was not involved in any decision to
broadcast the
program nor in any decision concerning the final version of it.
He did not have any knowledge that the plaintiff's name was included
in the
matter complained of and had no reason to believe that the name was incorrect
and says that it was not his role to check the
correctness of the material
broadcast.  He was unaware that there were any legal problems with the program
until he was served with
the Amended Statement of Claim.
<P>

36	As to the eighth defendant Mr Murray, the in-house solicitor, the
particulars assert that he  (i) provided legal advice in respect
of scripts and
film of the program in preparation for that program's subsequent broadcast;
(ii) was aware that the program would
be broadcast in the Sydney metropolitan
area, etc.;  (iii) participated in the publishing of a correction;  and, (iv)
has made no
apology to the plaintiff.
<P>

37	Mr Murray took the same objections to the interrogatories delivered to him
by the plaintiff as did the other defendants to whom
I have referred.  However,
by reason of the filing in Court of Mr Murray's Amended Defence to plead
qualified privilege it is unarguable,
one would think, that those
interrogatories should be answered.  Thus, if Mr Murray remains on the record
as a party, he will be
ordered to answer those interrogatories. 
<P>

38	In his answers to interrogatories Mr Murray states as follows:
<P>

<i>	</i>"<i>1A.	Was the eighth defendant a party to the preparation of the
programme known as `Page One' on 24 April 1989?</i>
<P>

<i>	1B.	Yes.</i>
<P>

<i>	2A.	Was the eighth defendant in any way involved in the preparation of the
said programme?</i>
<P>

<i>	2B.	Yes.</i>
<P>

<i>	3A.	if the answer to 1 or 2 above, or both is yes, in what capacity was the
eighth defendant party or otherwise involved in the preparation
of the said
program?</i>
<P>

<i>	3B.	As in-house counsel for United Telecasters Sydney.</i>
<P>

<i>	4A.	If the answer to 1 or 2 above, or both is yes, state all facts relating
to the eighth defendant's participation/involvement in
the preparation of the
said program.</i>
<P>

<i>	4B.	The eight defendant provided legal advice in relation to the
preparation of the matter complained of.  For the most part, such
advice
related to commercial aspects of the matter complained of, such as contracts
entered for the purpose of preparing it.  The
eighth defendant also reviewed
scripts and some of the film prepared for the purpose of the matter complained
of and provided legal
advice in relation to those scripts and that film.  The
film reviewed included that part of the film in which the plaintiff is referred
to.</i>
<P>

<i>	5A.	Was the eighth defendant a party to the broadcast of the programme
known as `Page One' on 24 April 1989?</i>
<P>

<i>	5B.	The eighth defendant was not involved in the transmission of the
prepared programme, however, was involved in the preparation
of the programme
for subsequent broadcast as set out above.</i>
<P>

<i>	6A.	Was the eighth defendant in any way involved in the broadcast of the
said program?</i>
<P>

<i>	6B.	The eighth defendant refers to 5B above".</i>
<P>

39	In his affidavit sworn 16 October 1997 Mr Murray says that he was employed
by the first defendant as its in-house counsel.  He
gave certain advice in
relation to the program such advice relating to commercial aspects of it, such
as contracts entered into for
the purposes of preparing it.  Advice was also
given in relation to scripts and some of the film prepared for the purposes of
the
program.  He did not participate in the preparation of the matter
complained of other than in his capacity as a solicitor providing
legal advice
to the first defendant and its employees.  
<P>

40	Mr Murray also goes on to say that at the time the program went to air he
did have in his possession documents relating to it
including file notes made
in Canberra and in Sydney relating to discussions with Mr Masters, and other
file notes made by him relating
to the provision of legal advice in respect of
the program.  After he ceased his employment with the first defendant the
deponent
left his documents with the first defendant and he no longer has any.
He then deposes to the best of his knowledge and belief, that
the first
defendant no longer has the documents described.  I add that on 17 December
1997 Hugh Wily swore an affidavit stating that
he was a liquidator of the first
defendant and that in relation to any legal advice which was given by the
eighth, Nick Murray, to
the first defendant he, the liquidator, will at all
times rely upon legal professional privilege in relation to Mr Murray's
advice.
<P>

41	As to the third, John Budd, Executive Producer, he was served with the
Amended Statement of Claim which issued on 9 February
1994, filed the Defences
to which I have referred, withdrew them in June 1996 and the later Amended
Statement of Claim came to his
attention upon orders being made for substituted
service.
<P>

42	In his affidavit sworn 16 October 1997 Mr Budd recites what he knows of the
attempts to serve him with the appropriate process.
 He then goes on to say
that he has no recollection of the part of the matter complained of which
mentions the plaintiff nor recollection
of the sources of information leading
to the naming of the plaintiff;  he does not recall any sources to whom he may
have spoken
or anything else about the preparation of that part of the matter
complained of.  He says his role in the preparation of the program
included
checking that the reporters and researchers were doing their jobs, ensuring
material can be interpreted visually, dividing
material prepared into sequences
and organising interviews and filming of the material to be included in a
story.  He once held a
substantial number of documents relevant to the
preparation of the program but they have been destroyed.  In particular he
refers
to documents that included his research book, his diary at the premises
of the first defendant when his employment with that company
ceased in August
1989.  The diary recorded details of his involvement in the production of the
program.  He also stored audio tapes
that related to and/or were used in the
program together with two large manilla folders of documents:  these were
stored under his
house until either 1991 or August 1994 at which times he moved
house and discarded documents stored at home in order to reduce the
amount of
material to be moved.  In 1991 he moved into his current residence and moved
out temporarily in 1994 whilst it was being
renovated;  he cannot recall on
which of these occasions he discarded the documents.  The tapes included tapes
obtained from sources
including members of the police.  The documents included
transcript of relevant proceedings, records of information provided by sources
and other information used to prepare the program the details of which Mr Budd
cannot remember.
<P>

43	In relation to Mr Budd there is not pleaded in either of the Amended
Statements of Claim anything other than that he was a publisher
and no further
and better particulars have been provided.
<P>

44	As to the ninth defendant, Paul Williams, he at the relevant time was acting
as Executive Producer of the "<i>Page One</i>" program.  He filed a Defence in
the proceedings on 12 July 1996.
<P>

45	His role as Executive Producer involved his having overall editorial control
and responsibility for the program, but did not
involve having "<i>hands
on</i>" production responsibility for each segment shown on the program.  He
was unaware of attempts of service upon him.
<P>

46	No further particulars have been provided in relation to Mr Williams.
<P>

47	An affidavit sworn 7 April 1997 by Mr J. E. Carmody deposes to the order for
substituting service having been made by Justice
Abadee on 21 March, that the
Amended Statement of Claim was filed over two years prior to the date of
swearing of the affidavit,
that the new Amended Statement of Claim or the third
one attached is in substance identical to the other Amended Statement of Claim,
there are minor formalities changed only.
<P>

48	It is appropriate at this point to make some general observations.  The
litigation initiated between the plaintiff and the first
defendant promptly
after the broadcast of the matter complained of, while infected by some delay
periods, was overall remarkably
processed to the point that within 18 months
that action was ready to be listed for trial.
<P>

49	There then occurred the unusual event of the first defendant going into
liquidation requiring the plaintiff to find alternative
defendants presumably
with means.  The two year delay is not explained at all.  I find this quite
extraordinary in the face of an
application to dismiss for want of prosecution.
After the expiry of that two year period the "<i>rounding up</i>" of other
defendants progressed in fits and starts but certainly progressed.
<P>

50	A fundamentally very important factor in this matter is the nature of the
defences filed:  all that is in issue is whether the
publication was defamatory
and the quantum of damages if the publication is in fact found to be
defamatory.  This has been the position
of all defendants who filed defences
except Mr Murray the eighth defendant who, as I have said, filed in Court on 17
December 1997
an Amended Defence pleading qualified privilege.  In regard to Mr
Murray it seriously can be argued that the prosecution of proceedings
against
him would, in the end, be futile in that the proper maintenance of the claim
for legal professional privilege will preclude
the adducing of relevant
evidence.
<P>

51	In respect of any question of "<i>prejudice</i>" to the defendants in the
light of the issues it must almost be non-existent.  If the issues are going to
be otherwise then the prejudice
will be the lapse of memory over a period of a
decade and the disappearance of documents.  As the pleadings presently stand,
notwithstanding
the position taken by Mr Murray, a view can be formed that any
defence of qualified privilege is doomed to failure if it be the case
as I
understand it to be the case for the plaintiff though named and identified as
the brother-in-law had nothing to do with the
transaction being dealt with and
a correction was issued.
<P>

52	It is inevitable therefore that the applicant/defendants will fail in their
application to have the actions dismissed for want
of prosecution or stayed.
The more so should there not take place the drastic step of dismissing the case
when whilst there has been
unexplained delay, there is no evidence of prejudice
in any real sense to the defendants in the light of the defences raised.
<P>

53	I will decline to make orders 1 and 2 in the Notice of Motion filed on 8
October 1997.  
<P>

54	As to the SCR <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/index.html#p7" class="autolink_findacts">Pt 7</a> r 7 point I am not constrained to rule that service was
irregular or a nullity.  The rule provides for the exercise of a discretion.
All the relevant defendants save for Mr Williams, have at one time or another
filed defences.  Mr Budd was granted leave to withdraw
his Defence because he
had not been served with the Amended Statement of Claim.  He now has.
<P>

55	Not seeing any prejudice arising to any of these defendants by the mere
confirmation of service upon them of the Amended Statements
of Claim and in
view of the considerations I have referred to in connection with dismissal for
want of prosecution, I will decline
to make order 3 in the Notice of Motion.

<P>

56	The fourth order sought is that Mr Masters have leave to withdraw his
appearance and Defence under SCR <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/index.html#p21" class="autolink_findacts">Pt 21</a> rr 1 and 3.  This was a puzzling
application and I assume it to be founded upon what was alleged in respect of
the relief sought
in order 2 namely the irregularity and service of the Amended
Statement of Claim.  I am not persuaded by that or any other basis,
indeed no
other basis was put to me, apart from the general concept of prejudice, to make
this order and I decline to do so. ** 
Mr Blackburn of counsel for Mr Masters
was at pains to point out how disadvantaged his client is in the context of a
defence of qualified
privilege.  No one has pleaded a defence of qualified
privilege ever in the course of this litigation until Mr Murray was granted
leave to file his in Court during the hearing of these applications.  
<P>

57	The fifth order sought in the Notice of Motion is that the proceedings be
summarily dismissed as against the fifth defendant,
Mr Ree (the cameraman), the
sixth defendant, Mr Middis (Editor), and the eighth defendant, Mr Murray (the
In-house Solicitor).  
<P>

58	At the outset it must be stated that despite a disclaimer made by Mr Neil
Q.C. for the plaintiff to the effect that this was
not a case of joint
tortfeasors, in the light of the way it has been pleaded against the respective
defendants no other approach
than that of joint tortfeasors can be permitted.
If I understood Mr Neil's disclaimer correctly, it could only go to alleging
separate
acts of publication against the respective defendants.  The plaintiff
will have to seek leave of the Court to amend to do that.
<P>

59	In <b><i>Webb v Bloch</i></b><i> </i><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1928/50.html" title="View Case" class="autolink_findcases_inserted">[1928] HCA 50</a>;  <a href="/cgi-bin/LawCite?cit=%281928%29%2041%20CLR%20331" title="View LawCiteRecord" class="autolink_findcases">(1928) 41 CLR 331</a> at 364 Isaacs J
said:
<P>

<i>	In Parkes v. Prescott (1869)  <a href="/cgi-bin/LawCite?cit=LR%204%20Exch%20169" title="View LawCiteRecord" class="autolink_findcases">L.R., 4 Ex. 169</a>, at p. 173 Giffard Q.C. quotes
from the second edition of Starkie: "All who are in any degree accessory to the
publication of a libel,
and by any means whatever conduce to the publication,
are to be considered as principals in the act of publication: thus if one
suggest
illegal matter in order that another may write or print it, and that a
third may publish it, all are equally amenable for the act
of publication when
it has been so effected." </i>
<P>

<i>	In R. v. Paine (1696) 5 Mod. 163, at p. 167 it is held "If one repeat and
another write a libel, and a third approve what is wrote,
they are all makers
of it; for all persons who concur, and show their assent or approbation to do
an unlawful act, are guilty: so
that murdering a man's reputation by a
scandalous libel may be compared to murdering his person; for if several are
assisting and
encouraging a man in the act, though the stroke was given by one,
yet all are guilty of homicide." A little later, in R. v. Drake
 <a href="/cgi-bin/LawCite?cit=%281706%29%20Holt%20423" title="View LawCiteRecord" class="autolink_findcases">(1706) Holt
423</a>, that law was reaffirmed. In The Queen v. Cooper <a href="http://www.worldlii.org/int/cases/EngR/1846/374.html" title="View Case" class="autolink_findcases_inserted">[1846] EngR 374</a>;  <a href="/cgi-bin/LawCite?cit=%281846%29%208%20QB%20533" title="View LawCiteRecord" class="autolink_findcases">(1846) 8 Q.B. 533</a>, at p.
536 Lord Denman C.J. said: "If a man request another generally to write a
libel, he must be answerable for any libel written
in pursuance of his request:
he contributes to a misdemeanour and is therefore responsible as a
principal."</i>
<P>

60	The foundation of the plaintiff's case against the defendants is not that
they committed several tortious acts but contributed
merely to a common
<i>damnium</i>.  They were accessories in the one <i>injuria</i> namely the
publication of defamatory imputations arising from the program telecast by the
first defendant.  It is argued that it
must follow for the plaintiff's to
succeed in respect of any one of the defendants, he must show that a claim can
be made conformably
with the principles as to joint tortfeasors.
<P>

61	In <b><i>Thompson v Australian Capital Television Pty Limited </i></b>
<a href="http://www.austlii.edu.au/au/cases/cth/HCA/1996/38.html" title="View Case" class="autolink_findcases_inserted">[1996] HCA 38</a>;  <a href="/cgi-bin/LawCite?cit=%281996%29%20186%20CLR%20574" title="View LawCiteRecord" class="autolink_findcases">(1996) 186 CLR 574</a> at 580-581 Brennan CJ, Dawson and Toohey J said:
<P>

<i>	"We have no doubt that Channel 9 and Channel 7 were joint tortfeasors. The
difference between joint tortfeasors and several tortfeasors
is that the former
are responsible for the same tort whereas the latter are responsible only for
the same damage Fleming, Law of
Torts, 8th ed (1992), p 255.. As was said in
The "Koursk"  <a href="/cgi-bin/LawCite?cit=%5b1924%5d%20P%20140" title="View LawCiteRecord" class="autolink_findcases">[1924] P 140</a> at 159-160., for there to be joint tortfeasors "there
must be a concurrence in the act or acts causing damage, not merely a
coincidence
of separate acts which by their conjoined effect cause damage".
Principal and agent may be joint tortfeasors where the agent commits
a tort on
behalf of the principal, as master and servant may be where the servant commits
a tort in the course of employment. Persons
who breach a joint duty may also be
joint tortfeasors. Otherwise, to constitute joint tortfeasors two or more
persons must act in
concert in committing the tort".</i>
<P>

62	It is not alleged in this case that a tort was committed by Middis and Ree
for which tort the first defendant is liable.  This
case cannot be understood,
it is argued, as one of joint liability arising because of the liability of the
principal for the agents
tort.  Thus, for Middis and Ree to be liable for the
tort alleged to have been committed by United Telecasters they must have acted
"<i>in concert</i>" with the first defendant in committing the tort.
<P>

63	It is not merely "<i>participation"</i> or "<i>connection</i>" or
"<i>involvement</i>" in the commission of a tort which renders a person liable
as a joint tortfeasor.  It is acting in concert or concurrence to achieve
a
common end which is required.  The emphasis on the concerted nature of the
joint activity is emphasised in the passage cited from
<b><i>Bloch</i></b>
above.
<P>

64	Other cases have dealt with the liability of an editor, printer and
publisher of a newspaper.  The editor and publisher obviously
know what is
contained in the libel and are clearly in a common enterprise with the
publisher to publish it.  It is clear from what
was said in <b><i>Thompson v
Australian Capital Television </i></b><i>(supra) </i>at 586-7 and by the Court
of Appeal in <b><i>McPhersons Limited v Hickey </i></b>  <a href="/cgi-bin/LawCite?cit=%281995%29%20ATR%2081%2d345" title="View LawCiteRecord" class="autolink_findcases">(1995) ATR 81-345</a> that
printers were traditionally encompassed in the concerted action because they
were considered to have known the contents of the
libel, it being fully
composed at the time that the "<i>printer clamped down the press</i>".  In each
of these cases, the libel was formed at the stage of the tortfeasors
involvement in it.  However, it would be absurd,
it is argued, to suggest that
the person who supplied alloy to the printer to form the typeface could be
regarded as having acted
in concert with the printer, unless there was evidence
that that person intentionally supplied the alloy with the common design of
publishing the libel (see Gatley, <i>Libel &amp; Slander, </i>8th ed. para
237).
<P>

65	With respect to the fifth defendant, Mr Ree, the cameraman, he was employed
by the first defendant at the relevant.  He filmed
some of the video material
used in the program;  his particular involvement was to film the reconstruction
scene and the tape recorder
shown during the scene.  He had no involvement in
the production of the voice over accompanying the visual material and did not
know
the plaintiff's name at the time he shot the visual material or that it
would be used in the program.  He simply filmed the material
and presented it
to the sixth defendant for editing.  He had no part in writing or determining
the script or the decision to publish.
 It is said that there is no evidence at
all that Mr Ree acted in concert with United Telecasters or anybody else in the
publication
of the defamatory material.  He only performed an act, namely took
the shots and the film.  It is seriously suggested that he is
no different to
that of the man who presses the button that commences the printing presses to
run or to the supplier of ink or paper
to the newspaper.
<P>

66	I am not persuaded by Mr Blackburn's submissions on this application for
summary dismissal under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/index.html#p13" class="autolink_findacts">Pt 13</a> r 5 that the structural defect in the plaintiff's
claim can now be said to be clearly established.  The argument presupposes or
postulates
that in some way Mr Ree was operating in a vacuum and that cannot be
right.  As Neil Q.C. said, this is a matter for the trial. 
<P>

67	In the case of the video tape editor Mr Middis, the sixth defendant, his
role as revealed in his evidence is that he selected
shots filmed by the
cameraman and laid soundtrack against the pictures in accordance with the
script provided to him.  He said that
he did not participate in the writing of
the script and had no editorial control.  He did these things under the
direction of the
producer of the program and was not involved in any decision
to broadcast it.  It is again suggested that there is no evidence that
Mr
Middis acted in concert with anyone else.  Again, I am not so persuaded for the
purposes of this summary dismissal application:
 it will have to be a matter
for trial. 
<P>

68	The eighth defendant, Mr Murray, was the in-house solicitor.   He gave
advice relating to commercial aspects of the program such
as contracts entered
into for the purposes of preparing it.  He gave advice in relation to scripts
and some of the film prepared
for the purposes of the matter complained of.
His only involvement was as a solicitor providing legal advice to the first
defendant
and its employees.  As I have earlier indicated it is clear that
privilege will not be waived in relation to the advice given by
the solicitor
to the client.  It will not be possible for the plaintiff to prove what advice
the solicitor gave.  The mere giving
of advice, it is argued, cannot constitute
acting in concert to be a joint tortfeasor.  The advice that may have been
given may well
have been not to publish.  The advice however will never be
known.  This is the first basis on which it is be argued that the action
against the eighth defendant should be summarily dismissed, namely,
"<i>futility"</i>.
<P>

69	The second basis is really a matter of policy.
<P>

70	In <b><i>Rondel v </i>Worsley</b> [1969] 1 AC 191 at 227 Lord Reid said:
<P>

<i>	"Every counsel has a duty to his client fearlessly to raise every issue,
advance every argument and ask every question, however distasteful,
which he
thinks will help his client's case.  But as an officer of the Court concerned
in the administration of justice, he has an
overriding duty to the Court, to
the standards of his profession, and to the public which may and often does
lead to a conflict with
his client's wishes or what the client thinks are his
personal interests".</i>
<P>

71	It is submitted that what fell from his Lordship is referrable to solicitors
engaged in giving legal advice to their clients
although the words were
specifically directed to advocates.
<P>

72	No inference can or will be drawn at the trial of this matter that Mr Murray
advised his client in bad faith or in breach of
any duty.  All that will be
able to be inferred is that Mr Murray gave advice in the usual way of a legal
practitioner doing the
best he can and in conformity with his retainer and his
wider obligations to the Court in the community.  It is stressed that the
most
that could be inferred from the fact of Mr Murray giving advice to his client
is that he gave some advice.  The evidence does
not establish that in any way
did he authorise or make a decision on the publication of the matter complained
of.  He simply gave
advice.  In this context a passage from the judgment of
Northrop J in <b><i>O'Donovan v Forsyth</i></b>  <a href="/cgi-bin/LawCite?cit=%281987%29%2076%20ALR%2097" title="View LawCiteRecord" class="autolink_findcases">(1987) 76 ALR 97</a> was cited.
The case concerned the criminal liability of a Queen's Counsel who had given
certain advice in relation to a tax minimisation
scheme.  His Honour said at
117:
<P>

<i>	"This appeal and cross-appeal involve important questions as to the
liability of a barrister when giving advice in his professional
capacity as a
barrister. It is not unusual for a barrister to be briefed to advise on
questions which might involve the client engaging
in conduct which possibly
could constitute a crime. The primary submission of counsel for Forsyth was
that at all times he was acting
in his professional capacity as a leading
barrister in taxation law and that advice so given could not constitute
evidence of Forsyth
having committed any of the crimes with which he is
charged. They referred to what was said by Street CJ, with whom Gordon and
Ferguson
JJ agreed in R v Tighe and Maher <a href="http://www.austlii.edu.au/au/cases/nsw/NSWStRp/1926/3.html" title="View Case" class="autolink_findcases_inserted">[1926] NSWStRp 3</a>;  <a href="/cgi-bin/LawCite?cit=%281926%29%2026%20SR%20%28NSW%29%2094" title="View LawCiteRecord" class="autolink_findcases">(1926) 26 SR (NSW) 94</a> at
108-9:</i>
<P>

<i>	"It is expected of course of every solicitor that he shall act up to proper
standards of conduct, that he shall give his clients
sound advice to the best
of his ability, and that he shall refrain from doing anything likely to mislead
a court of justice; but,
in the course of his practice he may be called upon to
advise and to act for all manner of clients, good, bad or indifferent, honest
or dishonest, and he is not called upon to sit in judgment beforehand upon his
client's conduct, nor, because he does his best for
him as a solicitor within
proper limits, is he to be charged with being associated with him in any
improper way. In acting for a
client, a solicitor is necessarily associated
with him, and is compelled to some extent to appear as if acting in combination
with
him. So he may be, but combination is one thing and improper combination,
amounting to a conspiracy to commit a crime or a civil
wrong, is another thing.
An uninstructed jury may easily fail to draw the necessary distinction between
such combined action as may
properly and necessarily be involved in the
relation of solicitor and client, and such acts on the part of a solicitor,
over and
above what is required of him by his duty as a solicitor, as may
properly give rise to an inference of an improper combination. I
think,
therefore, that it may be useful to point out the importance, in cases where a
solicitor is charged with entering into an
agreement with his client which
amounts to a criminal conspiracy, of seeing that the jury are properly
instructed as to a solicitor's
duty to his client, and that it is made plain to
them that, before a solicitor can be convicted of conspiring with his client to
commit a wrong, it must be proved that he did things in combination with him,
over and above what his duty as a solicitor required
of him, which lead
irresistibly and conclusively to an inference of guilt".</i>
<P>

73	It is submitted that the passage just cited applies with equal force to a
solicitor who is alleged to have been a joint tortfeasor
because of the
provision of advice in relation to the commission of a tort.  Again, it is
emphasised that the highest inference that
will be drawn at the trial of this
matter is that Mr Murray gave advice about the matter complained of which was
entirely within
and consistent with his professional duty.  The advice will not
be the subject of evidence.  It will not be possible to draw an inference
that
he improperly urged the publication of the program.  No inference will be able
to be drawn beyond the inference that he gave
advice in the usual manner.
<P>

74	It is thus submitted that in no circumstances do principal and policy
require a legal practitioner acting within his duty to
be liable in these
circumstances.  To hold otherwise, it is submitted, may lead to drastic
consequences not only for the civil law
but also for the criminal law.  The
result could be that a person giving honest advice to the best of that person's
ability to the
lawfulness of certain actions may be charged with aiding and
abetting.  The possibility that a legal practitioner giving routine
advice as
to whether or not a matter was defamatory in accordance with that
practitioner's duty, could routinely be liable as a joint
tortfeasor if the
advice is wrong, is what is described as a "<i>drastic attack</i>" on the
integrity of legal practitioners.  The facile availability of liability as a
joint tortfeasors in these circumstances, it
is submitted, directly cuts across
the duties that legal practitioners have to their clients, the courts and the
public as formulated
by Lord Reid <i>(supra).</i>
<P>

75	It is unnecessary on this application to attempt to delineate the precise
point at which a legal practitioner could be said to
be an accessory to the
commission of a tort or a crime.  It is sufficient to say that Mr Murray did
his duty in the ordinary way
and in those circumstances, it is submitted, that
a legal practitioner is incapable of being characterised as an accessory of the
subsequent commission of a civil or criminal wrong. 
<P>

76	Mr Blackburn was good enough to provide me with publications that expressed
conformable views by commentators of high authority:
 G. L. Davis Q.C.
"<i>Revenue Offences Generally:  Can the Professional Adviser be a Party or a
Conspirator"</i> (Queensland Law Society Journal June 1998); R. V. Gyles Q.C.
<i>"Criminal Liability of Professional Advisers</i>" (Paper presented to the
Australian Bar Association Bicentennial Conference 13 July 1988 published in
Taxation in Australia, February
1989);  McHugh, J "<i>Jeopardy of Lawyers and
Accountants in Acting on Commercial Transactions"</i> (Taxation in Australia,
April 1988 at 542).  McHugh J considered that a person "<i>may</i>" be liable
as an aider and abettor if that person's conduct is "<i>knowingly directed to
the purpose which the principal has pursued and is likely to bring about or
render more likely the attainment
of that purpose"</i>.  He referred to the
<i>"concept of encouragement</i>".  Davies Q.C. in his paper said that the
"<i>encouragement</i>" referred to by McHugh J was <i>"intentional
encouragement beyond the performance of (the practitioner's) duty to his client
to give advice on the legality of (a
particular course of conduct) and possible
alternative proposals".</i>  Gyles Q.C. suggested that if mere objective
encouragement by the giving of bona fide advice made one an aider and abettor
this would
have "<i>extraordinary consequences</i>".  It would mean that "<i>no
citizen could obtain guidance from those qualified to give it as to the
lawfulness of a proposed course of action</i>".  He also said that a "<i>lawyer
should be able to express his bona fide view as to the lawfulness of the
proposed action without fear of criminal consequences
if it be incorrect".</i>
There is no reason not to apply that principle to the giving of advice in civil
matters.
<P>

77	These submissions do, of course, raise profoundly important issues of the
policy of the law and public policy.  I am persuaded
that this second basis is
available summarily to dismiss the plaintiff's claim against the eighth
defendant as I am satisfied as
to the first basis, namely futility and I will
order accordingly.
<P>

78	The plaintiff however has succeeded predominantly and costs will be awarded
accordingly.
<P>

79	The formal orders are:
<P>

1.	I decline orders 1, 2, 3 and 4 sought in the Notice of Motion filed on 8
October 1997.
<P>

2.	I confirm service on the second defendant (Masters), the third defendant
(Budd) and the ninth defendant (Williams).
<P>

3.	I order that the proceedings against the eighth defendant (Murray) be
summarily dismissed.  I otherwise decline to make the orders
as sought in
paragraph 5 of the Notice of Motion.
<P>

4.	The second, third, fifth, sixth and ninth defendants are to pay the
plaintiff's costs of this application.
<P>

5.	The plaintiff is to pay the costs of the eighth defendant of the application
and of the proceedings.
<P>

6.	Liberty to restore to the Defamation List on 3 day's notice.
<P>

7.	The exhibits are to be returned.
<P>

LAST UPDATED: 	12/02/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/51.html</i><br>
</p>
</small>
</body>
</html>
