<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Bennett v Public Trustee [1999] NSWSC 724 (19 July 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 724</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+724 or 1999+NSWSC+724">Noteup</a>]
[<a href="724.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Bennett v Public Trustee [1999] NSWSC 724 (19 July 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_724.html-->
<!--sino date 19 July 1999-->


<P>Last Updated: 17 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Bennett v Public Trustee  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/724.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 724</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	3750/98
<P>

HEARING DATE{S): 	19 July 1999
<P>

JUDGMENT DATE: 	19/07/1999
<P>

 PARTIES: 
<P>

Belinda Bennett (P)
<P>

Evan Bennett (P)
<P>

The Public Trustee (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. M. S. Willmott (P)
<P>

Mr. M. Meek (D)
<P>

SOLICITORS: 
<P>

Eric Butler Solicitors (P)
<P>

P. J. Whitehead (D)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/fpa1982209/" class="autolink_findacts">Family Provision Act 1982</a>
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Monday, 19 July 1999</i>
<P>

<b>3750/98	BELINDA BENNETT   -v-   PUBLIC TRUSTEE   -   ESTATE OF GEORGE BRIAN
CAMPBELL</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>   These are proceedings under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/fpa1982209/" class="autolink_findacts">Family
Provision Act </i>1982</a>. By summons filed on 28 August 1998 the plaintiffs,
Belinda Bennett and Evan Bennett, each seeks an order for provision for her or
his maintenance, education and advancement in life out of the estate of their
late father George Brian Campbell (to whom I shall
refer as "the deceased").
<P>

2   	The deceased died on 7 July 1998, aged about 62 years. He
left a will dated 20 September 1995. Letter of administration with
that will
annexed were on 1 December 1998 granted to the Public Trustee, who is the
defendant to the present proceedings. The executor
named in that will renounced
probate.  
<P>

3   	The deceased was survived by two children being the two
plaintiffs.
<P>

4   	I shall shortly refer to the circumstances of the
relationship between the deceased and his two children, and to the
circumstances
in which, as it will be observed, the two plaintiffs have a
surname different from that of the deceased.
<P>

5   	By his will, the deceased gave the entirety of his estate
to his grandchildren in equal shares.  The will firstly directed
that any
person who came within the description in the will as a "minor beneficiary"
should not take until that beneficiary had achieved
the age of 32 years.
<P>

6   	At the time of his death, the deceased had two
grandchildren, being the two children of the second plaintiff. Those children
are Cheridyn Bennett, who was born 21 June 1991 and is presently 8 years of
age, and Sharni Bennett, who was born on 30 October 1993
and is presently 5
years of age.
<P>

7   	All parties to the present proceedings were in agreement
that the effect of clause 4 of the will was to give the entire estate
to
Cheridyn Bennett and Sharni Bennett in equal shares, and that upon the death of
the deceased, each of those beneficiaries took
a vested interest in the estate
of the deceased; but that the interest in possession of those two beneficiaries
was postponed at
least until each such beneficiary achieved the age of 18
years.
<P>

8   	Clause 7 of the will gives to the defendant, being the
trustee of the will, a power of advancement in respect to both capital
and
income of the interest of each of the infant beneficiaries of the estate.
<P>

9   	The assets of the estate of the deceased at the time of his
death included certain pieces of real property, together with a
motor vehicle
and money in a building society account. Those assets have now been
realised.
<P>

10   	The defendant, in the affidavit of Peter John Kelly sworn
13 July 1999, sets forth the nature and value of the distributable
estate as
consisting of funds held by the defendant and one piece of realty which is in
the process of being sold, totalling $137,401.
From that amount must be
deducted the Public Trustee's uncharged commission of $450, the estimated cost
of the plaintiffs of the
present proceedings totalling $24,000, and the
estimated costs of the defendant of the present proceedings totalling $10,000.
That
would leave a net amount available for distribution of $102,951.
<P>

11   	The two plaintiffs are the only children of the marriage
of the deceased to Fay Colleen Bennett, which marriage took place
on 21 July
1966.  The second plaintiff Evan was born on 14 April 1968, and he is now 31
years of age.  The first plaintiff was born
on 24 July 1971, and she is now 27
years of age.
<P>

12   	When those children were very young their parents
separated, in January 1972.  Their parents were divorced on 9 February 1973.
The divorce proceedings having been instituted by Mrs Fay Bennett on the
grounds of cruelty, orders were made by the Court in those
proceedings that the
mother have the custody of Evan and Belinda, but that the deceased have access
to them.
<P>

13   	The deceased exercised that right of access for a
relatively short period, and appears not to have exercised it after 1974,
that
is when Evan was aged no more than 6 and Belinda was aged no more than 3.
<P>

14   	In the meantime the mother of the plaintiffs had married
William Benjamin Bennett.  From that time onwards the children used
the surname
Bennett.  It would appear that in 1974 William Benjamin Bennett sought to adopt
the plaintiffs. However, the deceased
refused to give his consent to such
adoption.
<P>

15   	In December 1990, when Evan was aged 22 and Belinda was
aged 19, the plaintiffs formally adopted the surname of Bennett, and
it would
appear that in so doing they caused the registration of their respective births
to be amended in order to reflect such change
of surname.
<P>

16   	For some years until about the time when Evan reached the
age of 21, the plaintiffs continued to receive cards at birthday
and Christmas
from both the deceased and his mother (that is, the paternal grandmother of the
plaintiffs).
<P>

17   	Neither plaintiff had any direct personal contact with
their father from about 1974, when he ceased to exercise his rights
of access,
until contact was effected by the deceased with Evan by telephone when Evan was
aged about 21.
<P>

18   	According to his affidavit evidence Evan was unresponsive
to that contact because, according to Evan, he "was worried that
his return to
our lives after so long would be stressful for our family, especially if he
hadn't changed  his ways."
<P>

19   	However, some years later, after Evan had married and
after his two children had been born, Evan himself effected contact
with the
deceased in about July 1994.  Evan telephoned his father, and arranged a
visit.
<P>

20   	In the next two years there were a number of instances of
contact between Evan and his father.  Those occasions included about
five
personal visits and about fifteen telephone conversations.
<P>

21   	However, the last telephone conversation occurred in about
mid-1995.  During the course of that conversation the deceased
referred to the
alteration upon the birth certificates of each of the plaintiffs of their
surname from Campbell to Bennett.  Apparently
the conversation became heated.
Each party said that he did not want to see the other again.  There was no
further communication
between Evan and his father until the death of the
deceased some three years later.
<P>

22   	At about the time when Evan was communicating with his
father in 1994 he consulted with Belinda, and asked her whether she
wished to
meet the deceased.  Originally she agreed to a personal meeting; later she
changed her mind. There was however telephonic
contact between the deceased and
Belinda on two occasions. There was no personal contact.
<P>

23   	An explanation, or a possible explanation, for the
decision by Belinda not to have face to face contact with her father relates
to
a reference in a telephone conversation between the deceased and Evan, in which
the deceased is said to have referred to Belinda
as "a spoilt brat, just like
her mother".  Apparently Belinda heard that part of the conversation, and that
was one of the reasons
which is advanced by Belinda for not having any personal
contact with her father.
<P>

24   	Each of the plaintiffs as a child of the deceased is an
eligible person within paragraph (b) of the definition of that phrase
contained
within <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/fpa1982209/s6.html" class="autolink_findacts">section 6(1)</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/fpa1982209/" class="autolink_findacts">Family Provision Act</a></i>. As such, each plaintiff
has the standing to bring the present proceedings.  The only other eligible
person in relation to the deceased
is his former wife, Fay Colleen Bennett, the
mother of the two plaintiffs.  Although served with a notice of claim, she has
not made
any claim against the estate of the deceased.
<P>

25   	Evidence has been placed before the Court concerning the
financial and material circumstances of each plaintiff.  
<P>

26   	Evan qualified as a carpenter.  He presently works as a
subcontractor carpenter for an entity called Drew Constructions. 
An updating
affidavit concerning his financial and material circumstances was sworn by Evan
on 5 July 1999.  The evidence concerning
Evan's earnings, and concerning the
likely future prospects of his work as a subcontractor for Drew Constructions
was further updated
by his oral evidence during the course of the hearing.  It
would appear that his subcontracting arrangements will continue for at
least
the next 6 to 8 months.
<P>

27   	It would appear that for the financial year ending 30 June
1999 Evan's gross earnings from that subcontracting work amounted
to $46,603,
from which income tax of $9,316 was deducted, leaving a net  income of about
$37,300.
<P>

28   	Evan's assets consist of a 1994 Toyota Hilux motor
vehicle, having an estimated value of $10,000; an amount of $4,366 in a
bank
account; together with personal property and furniture and furnishings and
second-hand building materials.  His only liability
is an amount owing on a
State Bank Bankcard, being $600.
<P>

29   	I have already recorded that Evan and his wife, whom he
married in February 1991, have two children, presently aged 8 and
5.  Evan's
wife is not in employment;  she receives a family allowance in an amount of
$3,500 a year.  Her only asset is a 1986 four-wheel
drive Hilux utility vehicle
having an estimated value of $6,000.
<P>

30   	Evan and his family live in rented accommodation at
Salamander Bay, for which they pay weekly rent of $70.  They are required
to
maintain that property. The evidence discloses that the residence upon the
property is in poor condition and suffers water incursions
during wet
weather.
<P>

31   	Apparently it is the ambition of Evan to acquire a
residence for himself and his family.  He has placed before the Court evidence
of his enquiries as to the cost of a suitable three bedroom residence in the
Kempsey area, which would require about $120,000 for
what is described as a
modest three bedroom home.
<P>

32   	He has made enquiries of Aussie Home Loans, and has
established that on his current income he could obtain a loan of $77,000
to
purchase such a house.
<P>

33   	Evan has suffered medical problems, one being a physical
deformity to the base of his spine; the other being a problem with
his wrists
which has been described as carpal tunnel syndrome.
<P>

34   	There has been placed in evidence the medical records of
Dr Terry Linsell, who has been Evan's treating medical practitioner;
and also
evidence concerning a report by Drew Constructions to its worker's compensation
insurer concerning an injury which Evan
suffered on 1 May 1977.
<P>

35   	Evan has placed before the Court information concerning
the education arrangements and state of health of each of his two
children;
each of whom attends the Soldiers Point Primary School.  The elder daughter
Cheridyn has an allergy to a number of foods,
and she has also suffered from
asthma.
<P>

36   	Each of the two children requires orthodontic treatment to
her teeth.  However that treatment cannot be undertaken until each
child is in
her early teens.  It will cost between $3,000 and $4,000 for each child.  
<P>

37   	It should here be observed that, although the defendant
has by the terms of the will been given a power of advancement in
respect to
each of the two infant beneficiaries, no request has been made by Evan on
behalf of either of his daughters to the defendant
that that power of
advancement be exercised.
<P>

38   	Belinda left home in 1991, when she was aged 19 or 20. She
trained as an enrolled nurse at the Royal Prince Alfred Hospital
and qualified
in 1992.  Since then she has until recent times been in full employment as an
enrolled nurse earning between $19,000
net and $26,000 net a year.
<P>

39   	In 1988 Belinda formed a relationship with Pelle
Hjelmstrand, with whom she has lived in a de facto relationship since 1991.
They lived together in Sydney until  February 1998, and since that time they
have resided in rented accommodation at Corlette.
<P>

40   	Belinda has for the past 12 months been employed on a
casual basis as an enrolled nurse by an entity called Mobile Nursing
Agency.
For the year ending 30 June 1999 she received a gross income of about $10,000.
She has not obtained any work through that
nursing agency since March of this
year.
<P>

41   	However, in February 1999 Belinda commenced studies at the
University of Newcastle for the degree of Bachelor of Nursing.
 She is in
receipt of Austudy, in an amount of $257.40 a fortnight (totalling almost
$6,700 a year).  Although she is permitted whilst
in receipt of Austudy to work
in paid employment for one day a week, she has been unable to obtain much work
in that field of part
time employment.
<P>

42   	In her affidavit of 2 July 1999 Belinda said that she had
last worked two weeks before then, that is, in about mid June, receiving
$87.66
for a six hours shift.  Before that the last time she had worked was in March
of 1999.
<P>

43   	Belinda's de facto partner commenced studying at the
University of Newcastle for the degree of Bachelor of Arts in February
1999.
He also is in receipt of Austudy at the rate of $260 a fortnight.  Before
commencing his present university studies, Mr Hjelmstrand
was working as a taxi
driver in Sydney.  He occasionally returns to Sydney on a Saturday and works as
a taxi driver.  According to
Belinda's most recent affidavit he receives about
$120 a fortnight from that work as a taxi driver, but apparently that work is
irregular.
<P>

44   	Belinda's present assets consist of a 1994 Mitsubishi
Lancer vehicle, having an estimated value of $11,000; moneys in two
accounts,
totalling about $2,300; and other personal property, to which she ascribes the
value of $5,000.  She has no current liabilities.
 Her de facto partner has a
minimal amount in a bank account; and other personal property, to which the
value of $8,000 is ascribed.
I have already recorded that they reside in rented
accommodation. For that accommodation they pay $7,540 a year.
<P>

45   	Mr Hjelmstrand suffers from asthma, whilst Belinda herself
enjoys good health.
<P>

46   	It has been submitted on behalf of the plaintiffs that the
fact that they had no contact whatsoever with their father for
most of the
period whilst they were growing up, and that their contact with the deceased
after they reached adulthood was minimal,
should not debar them from obtaining
an order for provision from the estate of the deceased.
<P>

47   	It is correct to say that the lack of contact between the
plaintiffs and their father during their childhood and early adulthood
appears
essentially to have been as a result of the conduct of their father.
<P>

48   	In many cases the Court is confronted with the version
given by only those who are still alive concerning circumstances, such
as those
in the present case, where there has been little or no contact between a child
and a parent.
<P>

49   	In this case however the deceased himself recorded the
reasons for his exclusion of the two plaintiffs from any testamentary
benefit
in his estate. Those reasons are set forth in a statutory declaration dated 20
September 1995, being the same date as the
date upon which he executed his
will, and in a letter, a copy of which is annexed to that statutory
declaration, that letter being
dated 14 September 1995.  It appears from those
two documents that the deceased felt that the lack of contact by him with his
children
during their childhood and teenage years was essentially the result of
the attitude of his former wife.
<P>

50   	Further, it appears that the deceased felt extremely hurt
that after there had been some degree of contact between himself
and Evan
(initiated originally by the deceased with Evan in about 1989, and then renewed
at the instance of Evan about five years
later, and initiated by the deceased
with Belinda) neither of his children wished to maintain that contact.
<P>

51   	Further, the deceased appears to have felt very strongly
about not merely the adoption by his two children of the surname
Bennett
(which, I would interpolate, was understandable from their point of view), but
especially about the fact that the children
caused to be altered the surname
disclosed in their birth certificates.  That fact which the deceased regarded
as unnecessary, and
(to use his own phrase) as "a criminal act."
<P>

52   	In the letter annexed to the statutory declaration, the
deceased said 
<P>

After 21 years with no communication with Evan and Belinda I find that I was
never invited to my son's wedding.  I was never informed
that I had a first
grandchild.  I have not as yet seen my daughter.  After all these years they
have both proved to me that they
do not recognise me as their father and never
will.  There is no-one left to carry on the Campbell name.  I am the last and
through
your both change of names any grandchildren or subsequent grandchildren
will be born under the name of Bennett.
<P>

53   	Towards the end of that letter the deceased said, "I will
miss my grandchildren very much.  Just as I missed you both for
21 years, and
life without a family can be very lonely."
<P>

54   	Whilst the lack of contact, which I have outlined, does
not of itself debar the plaintiffs or either of them from bringing
the present
proceedings, or from obtaining an order in the present proceedings, it is a
substantially relevant consideration.  I
have little doubt that if each
plaintiff had wanted to do so, he or she would have been able to maintain
contact and communication
with the deceased.
<P>

55   	Nevertheless, in circumstances where there is no such
contact, there is always a degree of responsibility on each side.  It
is not
purely the plaintiffs who are responsible, but the deceased also to a degree
must be regarded as responsible.
<P>

56   	In approaching the claims of the plaintiffs the Court must
also have consideration to the competing claims of any other persons
who have a
claim upon the testamentary bounty on the deceased. In the instant case it will
be recognised that Evan's two children
are the chosen beneficiaries of their
grandfather.
<P>

57   	It has been submitted that any benefit which might be
awarded to Evan will ultimately benefit his two infant children.  The
 Court
however should be absolutely scrupulous in protecting the rights of those who
because of their age are not in a position to
protect their own rights.  It may
well be that benefits which might be received by Evan from the estate of his
father will ultimately
devolve upon his two infant children.
<P>

58   	The deceased provided that the defendant trustee should
have a power of advancement to benefit the infant beneficiaries during
the
period of their infancy.  Evan has not seen fit to apply to the defendant for
the exercise of such power of advancement in favour
of his two daughters.
<P>

59   	It seems to me however that it would be of present benefit
to the two infant beneficiaries if there were some greater security
in the
lifestyle and the accommodation of their parents. To that extent I consider
that Evan has established an entitlement to receive
a benefit from the estate
of his late father.  It has been submitted that that benefit should be in an
amount which will enable him
to place a deposit on a house property, and also
to provide for the dental work for the two children.
<P>

60   	I do not consider however that the financial circumstances
of Evan are such, especially in the light of the considerably increased
net
amount of his earnings in the past financial year, that it is necessary for the
Court to award to him an amount which would cover
the entirety of the deposit
upon such a house property.
<P>

61   	As to the cost of the dental work, that seems to me to be
a cost which should appropriately be the subject of an application
to the
defendant for the exercise of the power of advancement given by the will.
<P>

62   	I have reached the conclusion that, in all the
circumstances, it is appropriate that Evan should receive from the estate of
his late father a legacy in the sum of $40,000, and I propose so to order.
<P>

63   	The case of Belinda is somewhat different.  Whilst it is
commendable that she is desirous of improving her professional qualifications
by attaining a university degree in nursing, that is a matter of her own
choice.  Similarly, there appears to be little explanation
as to why her
partner has at this stage of their relationship decided to go back to
university, and essentially to deprive himself
of the ability of being the
chief breadwinner during Belinda's period of further tertiary training. Neither
does Belinda have any
dependants. 
<P>

64   	Despite the submissions made on behalf of the defendant
that Belinda's claim should be dismissed, nevertheless I have reached
the
conclusion that she has established an entitlement to receive from the estate
of her father a relatively small legacy to constitute
some slight increase in
the standard of her lifestyle, or to provide her with funds to be available in
order to meet any contingencies.
 I propose in those circumstances to award to
Belinda a legacy in the sum of $15,000.
<P>

65   	I make the following orders:
<P>

1.	I order that the plaintiff, Belinda Bennett, receive from the estate of
George Brian Campbell ("the deceased") a legacy in the
sum of $15,000 and that
the  plaintiff Evan Bennett receive from the estate of the deceased a legacy in
the sum of $40,000, such
legacies not to bear interest if paid on or before 16
July 1999, and if not so paid to bear interest at Supreme Court rates.
<P>

2.	I order that the costs of the plaintiffs on the party and party basis and
the costs of the defendant on the indemnity basis be
paid out of the estate of
the deceased.  
<P>

66   	The exhibits may be returned.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	16/09/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/724.html</i><br>
</p>
</small>
</body>
</html>
