<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Saxby Bridge Mortgages Pty Ltd v Saxby Bridge Pty Ltd [1999] NSWSC 251 (22 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 251</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+251 or 1999+NSWSC+251">Noteup</a>]
[<a href="251.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Saxby Bridge Mortgages Pty Ltd v Saxby Bridge Pty Ltd [1999] NSWSC 251 (22 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_251.html-->
<!--sino date 22 March 1999-->


<P>Last Updated: 9 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Saxby Bridge Mortgages Pty Ltd v Saxby Bridge Pty Ltd  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/251.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
251</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	1618/99
<P>

HEARING DATE{S): 	16, 19 &amp; 22 March 1999
<P>

JUDGMENT DATE: 	22/03/1999
<P>

 PARTIES: 
<P>

Saxby Bridge Mortgages Pty Limited (P)
<P>

Saxby Bridge Pty Limited (D)
<P>

JUDGMENT OF: 	Hamilton J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

R J Webb (P)
<P>

A G Hartnell, Solicitor (D)
<P>

SOLICITORS: 
<P>

Webster O'Halloran &amp; Associates (P)
<P>

Atanaskovic Hartnell (D)
<P>

CATCHWORDS: 
<P>

EQUITY [36] - General principles - Fiduciary obligations - Particular cases -
Joint venturers - Common interest in "trail commissions"
from mortgage
transactions.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Interlocutory injunctions granted.
<P>

JUDGMENT: 
<P>

KLV:CAT 2		 
<P>

~22/03/99	5		
<P>

	
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

 
<P>

 
<P>

HAMILTON J
<P>

 
<P>

MONDAY, 22 MARCH 1999
<P>

 
<P>

<b>1618/99	SAXBY BRIDGE MORTGAGES PTY LIMITED  v  SAXBY BRIDGE PTY
LIMITED</b>
<P>

<b> </b>
<P>

<b>JUDGMENT</b>
<P>

<b> </b>
<P>

HIS HONOUR:
<P>

1	In this matter the defendant is a provider, largely to retail clients, of a
variety of financial services.  One of the services
is the provision of
mortgage finance.  In late 1994 and early 1995, Dr Braysich, principal of the
defendant, had discussions with
Mr Kingston, who became the principal of the
plaintiff about the creation of an entity to be the principal vehicle for the
provision
of mortgage finance to the defendant's clients.  The plaintiff was
created as that entity at that time.  Thereafter, until earlier
this year, it
performed that role, although it seems on the evidence that it was not the sole
provider of mortgage finance to clients
of the defendant.  The plaintiff
operated in part of the premises leased by the defendant, which part is sublet
to the plaintiff.
<P>

2	In 1999 the relationship between the plaintiff and the defendant broke down
and, indeed, has now been effectively severed.  There
is an exception to this.
Part of the arrangement in respect of mortgages was that, after mortgages were
entered into, there were
continuing "trail commissions" payable in respect of
mortgages which were shared during the lifetime of the mortgages between the
plaintiff and the defendant.  In addition to a large number of mortgages in
this category which still exist, there are a number of
instances in which the
provision of mortgage finance in the future by the plaintiff to clients of the
defendant has been negotiated
but the transactions have not yet been settled.
Some of these settlements may be some time into the future because the
arrangements
are in respect of units which have been sold "off the plan", so
that the drawdown of the borrowings is still some time hence.
<P>

3	As a result of the parting of the ways between the plaintiff and the
defendant, the plaintiff seeks injunctive relief in two areas.
<P>

4	The first is that the plaintiff claims that the defendant is threatening to
persuade clients to refinance existing mortgages with
other mortgage providers
or, in the case of mortgages not yet settled, to cancel the arrangement and
take their finance from other
mortgage providers.  These  threats, if carried
out, would deprive the plaintiff of its ongoing "trail commissions".  Now that
the
relationship between the plaintiff and the defendant has been severed, the
plaintiff, a large part of whose business was through
the defendant, will need
to find alternative clients to whom to provide mortgages.  A wholesale cutting
off of the "trail commissions"
to which it is at present entitled could, if the
downturn in income was sufficiently large and sudden, threaten the existence of
the plaintiff's business.  The way in which the plaintiff has sought to
demonstrate that it has an arguable case for relief in respect
of this first
matter is based alternatively in contract and upon an alleged fiduciary
relationship.  As far as contract is concerned,
I am not convinced that the
plaintiff has a case sufficiently arguable to found relief.  The contract was
not in writing and its
terms are not certainly established.  It may be that if
there is further evidence of conversations and a course of conduct, a case
in
contract may be made out, but that is not so at present.  In relation to the
arguable case sought to be put forward of a fiduciary
relationship, Mr
Hartnell, solicitor for the defendant, has pressed upon me that the
relationship is a purely commercial relationship;
that the courts are cautious
in finding fiduciary relationships in such circumstances; and that there is
nothing to indicate a fiduciary
relationship in the present circumstances.  Mr
Webb, of counsel for the plaintiff, has urged upon me that there is a fiduciary
relationship
between the parties that arises at least in one area, and that is
the area that the parties have an ongoing commercial interest in
the income
stream by way of commission from a body of existing mortgages and already
approved future transactions.  Whilst not at
any time losing sight of the
caution necessary before finding a fiduciary relationship in purely commercial
areas to which Mr Hartnell
has correctly adverted, it seems to me, also
reminding myself of the principles laid down in the well known passage in the
majority
judgment in the High Court in <b>United Dominions Corporation Ltd v
Brian Pty Ltd</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1985/49.html" title="View Case" class="autolink_findcases_inserted">[1985] HCA 49</a>;  <a href="/cgi-bin/LawCite?cit=%281985%29%20157%20CLR%201" title="View LawCiteRecord" class="autolink_findcases">(1985) 157 CLR 1</a> at 10-11, that there is an arguable case
that there is a fiduciary relationship between the plaintiff and the defendant
in relation
to this income stream and that the fiduciary obligation in relation
to that income stream may be breached if the defendant were to
seek to divert
that stream from the plaintiff.
<P>

5	Even so, there are further problems which the plaintiff has in relation to
the granting of injunctive relief. The first is that
the evidence of threat to
base the granting of a <i>quia timet </i>injunction is slight.  Parts of two of
the affidavits tendered deposed to threats by unnamed continuing employees of
the defendant.
 They are paragraph 6 of the affidavit of J B Kingston sworn 9
March 1999 and paragraph 8 of the affidavit of M L Stephens sworn
11 March
1999.  I reserved my decision on the admissability of those two paragraphs in
view of the lack of identification of the
source of the information.  I now
reject those paragraphs.  However, there is other evidence of threats in
conversations to divert
from the plaintiff the income stream both from existing
mortgages and from the approved but unsettled transactions.  Those
conversations,
it should be said at once, are denied by the participants in
them on the defendant's behalf.  Nonetheless, bearing in mind what I
say about
the balance of convenience, in my view sufficient evidence of threat exists to
found the granting of injunctive relief.
<P>

6	Another objection taken to the granting of injunctive relief is that it is
said that there is evidence of a breach of undertaking
as to non contact by the
plaintiff with the defendant's consultants.  That undertaking, while recorded
in short minutes of order
made by the Court, was not an undertaking to the
Court, but an undertaking entered into <i>inter partes</i>.  Mr Webb has told
me that evidence answering this allegation would be filed, but has not been
filed because of the late receipt
of the affidavits making the allegation.
However, I do not think it is necessary to investigate this matter, by reason
of the fact
that it does not go to the heart of the subject matter in respect
of which injunctive relief is sought.  Bearing in mind the above
matters, I do
not think that injunctive relief should be refused by reference to that alleged
breach.
<P>

7	Another matter that Mr Hartnell has put in objection to the injunction is
that his client or its agents are themselves under a
fiduciary duty to their
clients, so that if, for example, they become aware of more advantageous
mortgage finance available in the
market, they would be obliged to inform their
clients, so as to permit them to take advantage of the more beneficial finance.
However,
I think it is fair to say that he concedes that that problem is more
token than actual at the moment.  He also points to difficulties
that may arise
if an existing client, with a mortgage provided through the plaintiff, wishes
to refinance to obtain more extensive
finance; should or should not the
defendant in those circumstances be precluded from recommending another finance
provider?  Again,
that is a problem that I think can easily be attended to by
the form of the order.
<P>

8	Turning to the balance of convenience, and bearing in mind what has been said
in relation to the last two objections taken by
Mr Hartnell, it seems to me
that the defendant need in the short term suffer no harm from an appropriately
drawn injunction, whereas,
as I have already indicated, the wholesale
withdrawal of clients from mortgages provided or to be provided by the
plaintiff could
have serious consequences for it.  In those circumstances I
propose to grant appropriately framed injunctive relief in respect of
the first
area.  In further discussion with counsel for the parties, I have explored the
appropriate form of that relief.
<P>

9	The other aspect of the matter in respect of which injunctive relief is
sought is the defendant's desire to eject the plaintiff
from its sublet
premises.  It has given a notice to quit expiring at the end of March.  The
plaintiff sought to make out a case,
as part of the contractual arm of its
submissions, that the contract it propounded was indefinite in duration; that
it had not been
validly terminated; that it was a term of the subletting
between the plaintiff and the defendant that the sublease should have a
similar
indefinite duration; and that the purported termination of the sublease was not
valid.  I have already indicated that I do
not think that an arguable case has
been made out on of the basis of contract, and this is no more so in the case
of the subletting
aspect of the case than of the general aspect.  It seems to
me plain, on the evidence available, that the tenancy arrangement between
the
plaintiff and the defendant was a subletting from month to month.  However,
there is an additional matter which is relevant.
 On 28 June 1998 the plaintiff
tendered, and the defendant accepted, 12 months rent, for the period expiring
on 30 June 1999.  The
plaintiff says that it is to be inferred from that
payment that there was an agreement that the sublease would not be terminated
before 30 June 1999.  However, if the payment of the advance rent was a genuine
one - there are obviously other consequences if it
was not, and I have no
reason to think it was not a genuine transaction - then I think there is an
arguable case that there was an
agreement that the sublease would not be
terminated before 30 June 1999.  It seems to me that the consequences to the
plaintiff of
ejectment are greater than the disadvantage to the defendant of
the plaintiff remaining in possession for the moment, and I propose
to grant
injunctive relief in this regard also.  It should be noted that the defendant's
head lease terminates on 31 March 1999,
a fact which, it is not denied, has at
all times been known to the plaintiff.  There are currently negotiations
between the defendant
and its lessor as to continuation in the premises by the
defendant after 31 March.  Those negotiations are not yet concluded, so
that Mr
Hartnell is unable to inform the Court whether or not the defendant is in fact
continuing in the premises after 31 March,
and for how long.  The relief will
need to be framed so that the defendant can seek to procure the plaintiff's
ejectment from the
premises if in fact the defendant ceases to occupy them
before 30 June, 1999.
<P>

10	I note that the plaintiff informs the Court that it would not regard the
cutting off of its telephone services as a breach of
the injunction relating to
quiet enjoyment, whatever other rights that act might give rise to.
<P>

11	As to the draft minutes of order before the Court, I note the undertaking of
the plaintiff given by its counsel to the Court.
 Order 4 now reads, "Note the
undertaking of the plaintiff given by its counsel to the Court that until
further order it will not
enter the defendant's premises by its servants or
agents except to have access to its subleased premises.  I shall maintain
liberty
to apply or restore for directions since both might be necessary.
Order 9 is the same.  I make orders in accordance with short minutes
of order
initialled by me and placed with the papers.
<P>


<P>

...oOo...
<P>

LAST UPDATED: 	08/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/251.html</i><br>
</p>
</small>
</body>
</html>
