<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Faitrouni v El Omar [1999] NSWSC 84 (10 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 84</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+84 or 1999+NSWSC+84">Noteup</a>]
[<a href="84.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Faitrouni v El Omar [1999] NSWSC 84 (10 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_84.html-->
<!--sino date 10 February 1999-->


<P>Last Updated: 18 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Faitrouni v El Omar  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/84.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 84</a>
<P>

CURRENT JURISDICTION: 	
<P>

FILE NUMBER(S): 	2588/96
<P>

HEARING DATE{S): 	10 February 1999
<P>

JUDGDMENT DATE: 	10/02/1999
<P>

 PARTIES: 
<P>

Abdull Sattar Faitrouni v Ibraham El Omar
<P>

JUDGMENT OF: 	Windeyer J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. A. Clout (Plaintiff)
<P>

Ms J Needham (Defendant)
<P>

SOLICITORS: 
<P>

Johnston &amp; Vaughan (Plaintiff)
<P>

Robinson Creais (Defendant)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Claim for order for accounts dismissed.  Balance of plaintiff's claim
dismissed
<P>

JUDGMENT: 
<P>

1	HIS HONOUR:   This is an action arising out of a partnership which was
carried on from 1 June 1986 between the plaintiff and the
defendant for the
specific purpose of importing tiles from Lebanon into Australia for sale in
Australia.
<P>

2	The action has by an earlier order proceeded on pleadings, but as a result of
consent orders made earlier today to a large extent
the issues which might have
been seen to arise on those pleadings no longer arise.
<P>

3	Under those consent orders, I made declarations that a partnership existed
between the plaintiff and the defendant for this specific
purpose; that the
partners were entitled to share in the profits and obliged to share in the
losses in equal shares; that upon dissolution
of the partnership the partners
were entitled, if there were sufficient funds available, to be repaid their
capital contributions
prior to any balance being distributed to them in equal
shares; and finally, that the partnership was dissolved on 1 January 1990.
<P>

4	On this latter matter it is clear that the purpose of the partnership at that
date came to an end subject to any question of final
accounting.  As a result
of those declarations, the only question which remained for determination by me
was whether or not there
should be an order for accounts which would be taken
before the Master, the accounts, of course, being consequent upon the
dissolution
of the partnership.  In general a partner is entitled to an order
for accounts upon dissolution and it was not suggested otherwise
by counsel for
the defendant.   The grounds upon which an order was opposed were, first, that
applying the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/la133/" class="autolink_findacts">Limitation Act</a> by analogy the time for bringing the action for
accounts had passed; and secondly, that the plaintiff's claim should be
disallowed
by reason of laches.
<P>

5	This action was commenced by summons filed on 29 June 1996 which is, of
course, more than six years after the date upon which
the partnership was
dissolved.  It follows from this that if this were a claim for an account at
law it would be barred by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s15.html" class="autolink_findacts">Section 15</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act 1969</a>.  While
counsel for the defendant did argue that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s15.html" class="autolink_findacts">Section 15</a> applied, I do not think
this argument was pressed very strongly and I think it relevant to state that a
defence based on <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s15.html" class="autolink_findacts">Section 15</a> has never been pleaded.  However, while no
application has been made to mount the defence, I think it right to say that I
am of the
clear view that an action for accounts of a partnership is a claim in
Equity, not a claim which arises at law, and in those circumstances
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s15.html" class="autolink_findacts">Section 15</a>
of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act</a> is not applicable.  That does not mean that a limitation
period of the same kind ought not to be applied by analogy.
<P>

6	As this is, in essence, a claim for an account in Equity, there has been
nothing put to me which would indicate that the same
limitation period should
not be applied to a claim for an account in Equity.  In my view it is clear
that it ought to be, and in
those circumstances the plaintiff is not entitled
to an order for accounts.
<P>

7	I should add that although there is some evidence of an oral acknowledgment,
although this is contested, it is not suggested that
there has been any
acknowledgment in writing and counsel for the plaintiff has not contended, and
quite rightly has not contended,
that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/s54.html" class="autolink_findacts">Section 54</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/la1969133/" class="autolink_findacts">Limitation Act</a> is of
assistance to the plaintiff.
<P>

8	In view of this decision, it is not necessary to deal with the defence based
on laches.  However, I should say that the evidence
is clear that any
documentary evidence which the defendant had has not been available since 1991.
It cannot be said that had a claim
been brought about within a year or two
after that time the claim of the plaintiff would have been defeated by laches,
and I do not
think that it could be said that a subsequent period, albeit of
three years, could make that defence sustainable as there is no evidence
that
there has been any disadvantage to the defendant which would arise through that
consequent delay to make it inequitable to allow
the claim to be brought.
<P>

9	In all those circumstances, albeit with some reluctance, the claim for an
order for accounts must be dismissed.
<P>

10	In addition to the declarations which I made by consent this morning, I
order the plaintiff's claim be otherwise dismissed.
<P>

11	COUNSEL FOR THE DEFENDANT SOUGHT COSTS
<P>

12	COUNSEL FOR THE PLAINTIFF MADE SUBMISSIONS AS TO COSTS
<P>

13	HIS HONOUR:   The only further question that arises is the question of
costs.  In ordinary circumstances this must follow the
event. I do not think
there is anything which justifies a departure from that rule.
<P>

Order the plaintiff pay the defendant's costs.
<P>

LAST UPDATED: 	17/02/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/84.html</i><br>
</p>
</small>
</body>
</html>
