<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Debis Financial Services (Aust) Pty Ltd v Allied Bellambi Collieries Pty Ltd [1999] NSWSC 936 (13 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 936</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+936 or 1999+NSWSC+936">Noteup</a>]
[<a href="936.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Debis Financial Services (Aust) Pty Ltd v Allied Bellambi Collieries Pty Ltd [1999] NSWSC 936 (13 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_936.html-->
<!--sino date 13 September 1999-->


<P>Last Updated: 17 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Debis Financial Services (Aust) Pty Ltd v Allied Bellambi Collieries
Pty Ltd  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/936.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 936</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	3669/99
<P>

HEARING DATE{S): 	13 September 1999
<P>

JUDGMENT DATE: 	13/09/1999
<P>

 PARTIES: 
<P>

Debis Financial Services (Australia) Pty Limited (P)
<P>

Allied Bellambi Collieries Pty Limited (Receivers Appointed) (Voluntary
Administrator Appointed) (D1)
<P>

Sandwork Pty Limited (Voluntary Administrator Appointed) (D2)
<P>

Q Mining Systems Pty Limited (Voluntary Administrators Appointed) (D3)
<P>

Gregory James Robertson in his capacity as Administrator of Allied Bellambi
Collieries Pty Ltd &amp; Sandwork Pty Limited (Voluntary
Administrator
Appointed) (D4)
<P>

JUDGMENT OF: 	Hamilton J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Miss M Wilson (solicitor) (P)
<P>

R S Angyal (D1, 2 &amp; 4)
<P>

No appearance (D3)
<P>

SOLICITORS: 
<P>

Clayton Utz (P)
<P>

Andersen Legal (D1, 2 &amp; 4)
<P>

No appearance (D3)
<P>

CATCHWORDS: 
<P>

CORPORATIONS [182] - Voluntary administration - Protection of company property
- Secured creditor - Application to take possession
of property under s 440C -
Meaning of "in the possession of" - Remaining duration of administration short
- Relevant considerations.
<P>

ACTS CITED: 
<P>

Corporations Law s 440C
<P>

DECISION: 
<P>

Application for leave to take possession refused.
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

HAMILTON J
<P>

MONDAY, 13 SEPTEMBER 1999
<P>

<b>3669/99	DEBIS FINANCIAL SERVICES (AUSTRALIA) PTY LIMITED v ALLIED BELLAMBI
COLLIERIES PTY LIMITED (RECEIVERS APPOINTED) (VOLUNTARY
ADMINISTRATOR
APPOINTED) &amp; ORS</b>
<P>

<b>JUDGMENT (Application for leave under section 440C)</b>
<P>

His Honour:
<P>

1   	In this matter orders are this morning sought on behalf of
the plaintiff against the first and second defendants relating to
the gaining
of access to certain machines known as Un-a-Haulers ("the machines"), that are
at present in the Bellambi West colliery.
 There is a controversy as to whether
there are two or three of the machines in the colliery, but that is immaterial
to the present
judgment.  I have already dealt in these proceedings with
applications relating to a Joy continuous mining machine ("the Joy miner")
in
the same colliery.  In the case of the machines, they are the subject of a
lease under which the lessee is the third defendant,
Q Mining Systems Pty
Limited (voluntary administrators appointed).  The second defendant is the
holder of the coal lease, which is
the title under which the colliery is
conducted.  The first defendant is the owner and mortgagor of the Joy miner and
was the operator
of the colliery.
<P>

2   	The background facts appear in the judgment which I have
already delivered relating to the Joy miner:  <b>Debis Financial Services
(Aust) Pty Ltd v Allied Bellambi Collieries Pty Ltd</b>  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/935.html" title="View Case" class="autolink_findcases">[1999] NSWSC 935.</a>  This
being Monday morning, the administration of the first defendant and the second
defendant will terminate at the latest at the
midnight which separates Tuesday
from Wednesday, so that there is a period of less than 48 hours during which it
will continue. 
It will terminate either by the execution of a deed of company
arrangement ("DCA") under which a purchaser will take over the entire
operation
of the colliery, or by reason of the non-execution of the DCA within the
prescribed time.  If the DCA is executed, there
will be executed with it a
Business Purchase and Sale Agreement ("the agreement") under which the entire
colliery operation will
pass to a purchaser which will become the new
operator.
<P>

3   	The plaintiff seeks leave to take possession of the
machines under s 440C of the Corporations Law ("the Law") which provides
as
follows:
<P>

"440C	Owner or lessor cannot recover property used by company
<P>

During the administration of a company, the owner or lessor of property that is
used or occupied by, or is in the possession of,
the company cannot take
possession of the property or otherwise recover it, except:
<P>

(a)	with the administrator's written consent; or
<P>

(b)	with the leave of the Court."
<P>

The third defendant consents to the removal of the machines from the colliery.
However, the fourth defendant, as administrator of
the first defendant and the
second defendant, objects to leave being granted during the subsistence of the
administration.
<P>

4   	As already stated, the first and second defendants are not
the lessees of the machines, and on the evidence they have no contractual
entitlement to them or their use.  However, it is said that leave is necessary
under s 440C because the machines are "in the possession
of" one, other or both
of those companies.  Miss Williams, solicitor for the plaintiff, urges that a
narrow view should be taken
of the word "possession" in the section and that,
without evidence of any contractual entitlement to the machines or their use,
they
cannot be said to be in the possession of the first defendant or the
second defendant.  That, however, is, in a sense, inconsistent
with the
plaintiff seeking leave to remove them and an order that those defendants give
unfettered access to the equipment.  It is
implicit in the plaintiff seeking
that order, and there is no doubt on the facts, that they are upon premises
controlled by the first
defendant and the second defendant, and that those
defendants can deny access to them.
<P>

5   	In these circumstances, although there has not been time
for detailed argument on what may be a difficult question, I am not
prepared to
hold that the machines are not in the possession of the first defendant and/or
the second defendant, and, on the evidence,
I take the view that they are in
their possession because of the physical control which they exercise over the
premises on which
the machines are located.  As I have said, there is a period
of less than 48 hours of this administration to go and there is no doubt
that
the administrator of the first defendant and the second defendant is heavily
engaged in attempting, during that time, to bring
the DCA, and its attendant
agreement for the sale of the colliery operation, to fruition.
<P>

6   	On the basis of the shortness of time during which the
plaintiff will be inhibited by the administration from pursuing its
rights and
the importance of the administrator attending to the perfection of the DCA, I
am not inclined to grant leave under s 440C
at this time.  The plaintiff can
protect its rights by making it plain to all concerned, including the
prospective purchaser of the
colliery operation, that it will pursue its rights
as soon as the administration is at an end.
<P>

7   	I should add that Mr Angyal of counsel, on behalf of the
first defendant and the second defendant, did offer an undertaking
to the Court
which would have facilitated the removal of the machines, but on terms.  This
was an undertaking to insert a clause
relating to the machines in the sale
agreement, being a clause not dissimilar from one which was offered and
accepted in relation
to the Joy miner, as appears from my previous judgment.
That would have imposed some obligations upon the purchaser in relation to
these machines if the sale agreement be perfected and upon terms which seem to
me not unreasonable.  The offer and refusal of this
undertaking is also a
factor in my decision to refuse leave under s 440C at this stage.
<P>

8   	The proceedings will be stood over till 15 September 1999
before the Duty Judge to permit the plaintiff to pursue its rights
promptly in
light of the regimes in relation to the first defendant and the second
defendant that will be known to prevail by that
time.
<P>

9   	The costs of the application for leave under section 440C
in relation to the machines will be reserved.
<P>

...oOo...
<P>

LAST UPDATED: 	16/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/936.html</i><br>
</p>
</small>
</body>
</html>
