<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Newman v Langhorn [1999] NSWSC 116 (10 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 116</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+116 or 1999+NSWSC+116">Noteup</a>]
[<a href="116.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Newman v Langhorn [1999] NSWSC 116 (10 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_116.html-->
<!--sino date 10 February 1999-->


<P>Last Updated: 25 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Newman v Langhorn  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/116.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 116</a>
<P>

CURRENT JURISDICTION: 	Administrative Law Division
<P>

FILE NUMBER(S): 	30002/98
<P>

HEARING DATE{S): 	10 February 1999
<P>

JUDGMENT DATE: 	10/02/1999
<P>

 PARTIES: 
<P>

BARBARA LESLEY NEWMAN - Plaintiff
<P>

JOHN EWIN LANGHORN - First Defendant
<P>

KEVIN WILSON - Second Defendant 
<P>

KEV WILSON ENTERPRISES PTY LIMITED - Third Defendant
<P>

JUDGMENT OF: 	Rolfe J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiff in Person
<P>

First Defendant in Person
<P>

Ms E. Olssen - Second and Third Defendants
<P>

SOLICITORS: 
<P>

Plaintiff in Person
<P>

First Defendant in Person
<P>

Snelgrove &amp; O'Brien - Second and Third Defendants
<P>

CATCHWORDS: 
<P>

Discontinuance by plaintiff.
<P>

Costs.
<P>

ACTS CITED: 
<P>

Consumer Claims Tribunal Act 1987
<P>

DECISION: 
<P>

Application by plaintiff to discontinue.  Plaintiff ordered to pay defendants'
costs.
<P>

JUDGMENT: 
<P>

10
<P>

<b>JUDGMENT</b>
<P>

 
<P>

1	HIS HONOUR:  On 12 January 1998 the plaintiff, Mrs Barbara Lesley Newman,
filed a summons in the Administrative Law Division list,
whereby she sought an
order that the Court determine whether the Consumer Claims Tribunal has the
jurisdiction to determine the issue
of costs between her as the plaintiff and a
builder, namely, Kev Wilson Enterprises Pty Ltd.  Mrs Newman also sought an
order for
costs.
<P>

2	The summons did not name a defendant and this obviously raised problems for
the judge administering the matter, namely Dunford
J.  The reason for that is
that basically the Court must have before it not only the moving party but a
contradicting party, and
the summons of 12 January 1998, which was obviously
prepared by Mrs Newman who does not have legal training, did not name a
defendant.
<P>

3	When the matter came before his Honour on 3 February 1998, Mrs Newman
appeared in person and there was representation on behalf
of the Consumer
Claims Tribunal. His Honour granted Mrs Newman leave to amend the summons
generally, which she did, and she joined,
as defendants, Mr Langhorn, who is
the arbitrator in a pending arbitration between herself and the builder, by
which phrase I mean
Kevin Wilson and Kev Wilson Enterprises Pty Ltd.  Mrs
Newman sought an order that arbitration between herself and the builder be
quashed and that Mr Langhorn and the builder be joined as defendants.
<P>

4	The matter nextly came before Dunford J on 3 March 1998, when there was no
appearance by any party for reasons which, so far as
I am concerned, are
adequately explained in the letter from Mrs Newman to his Honour's associate,
and I do not need to go into that
matter any further.
<P>

5	It nextly came before his Honour on 5 May 1998 and I think it is probably in
consequence of that appearance that the amended summons
dated 12 May 1998 was
filed.
<P>

6	The matter next came before his Honour on 9 June 1998, when Mrs Newman and Mr
Langhorn appeared in person and Mr Snellgrove, solicitor,
appeared for the
builder. Mrs Newman was granted leave to further amend the summons, I think the
purpose of that being twofold, namely,
to identify the basis pursuant to which
she sought to have the arbitration terminated and in the document filed on 12
June 1998,
she sought to have the arbitration set aside pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caa1984219/s42.html" class="autolink_findacts">section
42(1)</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caa1984219/" class="autolink_findacts">Commercial Arbitration Act 1984</a>.  She also sought orders that Mr
Langhorn and the builder be joined as defendants and that the Consumer Claims
Tribunal be joined
as a defendant.
<P>

7	On 7 July 1998 the matter again came before the Court  and Mrs Newman and Mr
Langhorn appeared in person and Miss Olsson of counsel,
who appears today for
the builder, appeared on the builder's behalf.  It was noted that the matter
was ready to proceed on the issues
formulated and the matter then came before
the list Judge, Barr J, on 13 November 1998, when his Honour specially fixed it
for hearing
today.
<P>

8	When the matter was called on for hearing today Mrs Newman appeared in person
and sought leave, which was not opposed, to file
a notice of discontinuance.
Mr Langhorn appeared in person and Miss Olsson appeared on behalf of the
builder.  The issue which has
to be determined is whether Mrs Newman should
pay, firstly, the costs of the builder, for which Miss Olsson seeks an order
for costs.
<P>

9	Mrs Newman has made the following submissions: Firstly, she has submitted
that the proceedings were instituted to determine whether
the Consumer Claims
Tribunal was obliged to determine certain issues.  On 24 December 1997 that
Tribunal wrote to Mrs Newman advising
her that it had ruled that it did not
have that jurisdiction and that her right to challenge that decision was
conferred by section
12(2) of the Consumer Claims Tribunal Act 1987, which
would require action to be initiated in this Court.  A statement of brief
reasons,
pursuant to section 34A, was provided to Mrs Newman by letter dated 7
January 1998.
<P>

10	It is quite clear that initially Mrs Newman's intention was to seek the
intervention of the Consumer Claims Tribunal in respect
of the dispute, which
gave rise to the arbitration.  The arbitration arose out of a written contract
entered into between Mrs Newman
and the builder for the carrying out of certain
works at premises owned by Mrs Newman at 73 Campbell Drive, Wahroonga.  Mrs
Newman
has stated from the Bar table that the subsequent amendments to the
summons were brought about in consequence of some suggestions
or attempts by
the Court to assist Mrs Newman in the further prosecution of her claim.
Clearly, it would be necessary and the Court
would require that there be a
contradictor to the claim which she wished to propound and obviously a Judge of
the Court administering
the list, whilst not obliged, would feel some desire to
ensure that the proceedings were brought forward properly.
<P>

11	I think in these circumstances it is necessary to note that on 22 May 1998
Mrs Newman filed her affidavit in support of her claim,
in which she made
clear, in paragraph 2, that she was seeking an order that the arbitration be
quashed, and in paragraph 3 she set
forth the basis on which she was seeking
that order, namely, that "the arbitrator misconducted himself and was partial,
biased and
conducted the arbitration in breach of the rules of natural
justice."  Allegations of this sort, clearly enough, gave rise to the
claim
being identified as one pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caa1984219/s42.html" class="autolink_findacts">section 42(1)</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caa1984219/" class="autolink_findacts">Commercial Arbitration
Act 1984</a>.  Of course, this affidavit would indicate that by 22 May 1998 the
issue had changed dramatically from one involving the jurisdiction
of the
Consumer Claims Tribunal to one where the arbitration was being attacked, and
on quite serious grounds.
<P>

12	Prima facie, and I do not need to go further than to say prima facie, the
appropriate defendant would have been the  builder.
 An attack on the
partiality of the arbitrator does not necessarily or, indeed in most cases,
require the arbitrator to be joined
as a party.  In saying that I think it is
also relevant to note that annexed to the affidavit of Mrs Newman was an
interim award
of the arbitrator, Mr Langhorn, signed on 2 February 1998, which
was substantially favourable to Mrs Newman.  I say substantially
favourable,
because I appreciate she has a complaint or had a complaint about that award,
but a reading of the arbitrator's reasons
indicate, if may say with respect to
the arbitrator, that he directed his attention carefully to the matters in
issue, to the evidence
before him and to various relevant legal principles and
gave an interim award which, as I have said, was substantially favourable,
although not entirely favourable, to Mrs Newman.
<P>

13	I think I should add in this context that the allegation of partiality and
bias was alleged to have arisen out of either the
preliminary meeting, when Mrs
Newman was not represented, or perhaps one other meeting after that.
<P>

14	I have dealt with these matters in some little detail because I think it is
important to record the change in the nature of the
litigation, not only at
pleading level, but also at the level where Mrs Newman had reshaped her case to
make the allegations to which
I have referred.  Of course, there is nothing
wrong with that happening, but obviously such allegations could not have gone
forward
without at least the builder being a defendant to the proceedings.
<P>

15	In order to make the chronology clear, I will note that on 4 June 1998 Mr
Langhorn filed an affidavit sworn by him on that day.
 Miss Olsson has informed
me that Mr Snellgrove has sworn two affidavits; neither are on the file,
although Mr Langhorn has a copy,
but Mrs Newman has stated that she has not and
I am informed that there is nothing on the face of the copy, which Mr Langhorn
has,
which would indicate that the original was filed in court.  On the other
hand, it is possible that that happened and that the originals
have become
mislaid.
<P>

16	I think I have said sufficient, subject to one matter, to enable me now to
deal with the question of costs as between Mrs Newman
and the builder.
<P>

17	The further matter to which I should refer is that prior to coming on to the
Bench I had run through the file in the normal way
and read most of the papers
in it and, therefore, I have included in these reasons certain material from
the affidavit of Mrs Newman,
which affidavit as such was not formally read in
open court.  However, I do not think that any party will take any objection to
that
and if they do, I will deal with the objection in due course.
<P>

18	The issue I therefore have to determine, is whether Mrs Newman should pay
the costs of the builder as a price of discontinuing
the proceedings.  As I
have said, leaving aside the way in which the case was pleaded, there remained,
supported by her oath, the
allegation of partiality and bias, which had to be
answered.  That was the issue she propounded at an evidentiary and pleading
level,
for the determination of the Court, and that was an issue which required
the builder to be joined as a defendant.
<P>

19	In those circumstances, it seems to me that the prima  facie rule to which I
referred Mrs Newman, and on which she has addressed
me, namely, that a party
who institutes proceedings and then seeks to discontinue them should pay the
costs of other parties should
be adhered to in the present case.  I have
explained to Mrs Newman that the costs of the builder will be assessed by a
cost assessor,
unless there can be agreement between the parties and that the
costs assessor will be required to take into account at least the
following
matters: Firstly, the extent to which the builder has put on any evidence;
secondly, when it was that the builder was given
notice that Mrs Newman
proposed to discontinue, and thirdly the extent to which the builder has
incurred costs which are properly
the subject of assessment.  In making these
observations I wish to make it very clear that I am not to be taken as in any
way binding
the costs' assessor in the proper discharge of his or her
function.
<P>

20	There is a fourth matter that I should mention, and that is that Miss
Olsson, who appears on behalf of the builder, agrees that
Kevin Wilson and Kev
Wilson Enterprises Pty Ltd should only have one set of costs because the work
for the one has been work for
the other.  I think it appropriate that that
should be expressly noted as a concession made and it is one of the bases that
I have
taken into account in determining that Mrs Newman should pay the costs
of those parties.
<P>

21	In all the circumstances, and for the reasons I have given, I consider that
in the exercise of my discretion the proper order
to make is that Mrs Newman
pay the costs of Kevin Wilson and Kev Wilson Enterprises Pty Ltd of these
proceedings and I so order.
<P>

22	Mr Langhorn also seeks an order for costs.  I do not propose to reiterate
what I have said.  The fact of the matter is that Mr
Langhorn has appeared in
person.  So far as the record of the Court shows, the affidavit he filed on 4
June 1998 was obviously prepared
by him in the sense that his name and address
appears on the cover sheet.  The extent to which, if at all, he is entitled to
any
legal costs will therefore have to be determined according to the
principles which apply to a party who appears in person.  It may
well be, and I
say nothing more about this, that the only amounts to which Mr Langhorn is
entitled are such expenses as he may have
incurred and the extent to which he
is entitled to any such expenses will have to be determined appropriately.  I
am not disposed
to make an order that Mrs Newman pay Mr Langhorn's legal costs
because, as I have just said, there is nothing on the face of the
record which
would indicate that he has incurred any legal costs as such.
<P>

23	I will have it noted, and if I may say so I think Mr Langhorn has acted with
total propriety in this respect, that he does not
seek an order for any
expenses such as attending court and such other matters.  Mr Langhorn has told
me that he has had some legal
assistance in preparing his affidavit, but it may
well be that he will never receive an invoice in respect of that, and I think
in
the circumstances that I should refuse, so that there is no doubt about
matter, Mr Langhorn's application for costs and expenses,
noting as I do, that
he does not seek an order for his expenses in any event.
<P>

24	As between Mrs Newman and Mr Langhorn, I order that there be no order for
costs or expenses of Mr Langhorn in relation to the
proceedings.
<P>

_________________
<P>

LAST UPDATED: 	25/02/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/116.html</i><br>
</p>
</small>
</body>
</html>
