<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>R v Simpson [1999] NSWSC 562 (4 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 562</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+562 or 1999+NSWSC+562">Noteup</a>]
[<a href="562.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
R v Simpson [1999] NSWSC 562 (4 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_562.html-->
<!--sino date 4 June 1999-->


<P>Last Updated: 9 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	R v Simpson  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/562.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 562</a>
<P>

CURRENT JURISDICTION: 	Criminal
<P>

FILE NUMBER(S): 	070215/97
<P>

HEARING DATE{S): 	29/3/99
<P>

27/5/99
<P>

JUDGMENT DATE: 	04/06/1999
<P>

 PARTIES: 
<P>

REGINA v Colin David SIMPSON
<P>

JUDGMENT OF: 	Bell J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Crown:  Mr D Carmody
<P>

Prisoner:  Mr J Stratton
<P>

SOLICITORS: 
<P>

Crown:  DPP (Ms A Farage)
<P>

Prisoner:  Legal Aid NSW
<P>

CATCHWORDS: 
<P>

CRIMINAL LAW
<P>

Maliciously inflicting grievous bodily harm
<P>

Sentencing
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/" class="autolink_findacts">Crimes Act 1900</a>
<P>

DECISION: 
<P>

See para. 41
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>CRIMINAL DIVISION</b>
<P>

<b> </b>
<P>

<b>BELL J</b>
<P>

<b> </b>
<P>

<b>Friday, 4 June 1999</b>
<P>

<b> </b>
<P>

<b><u>070215/97 - REGINA v Colin David SIMPSON</u></b>
<P>

<b> </b>
<P>

<b><u>SENTENCE</u></b>
<P>

<b>                           </b>
<P>

<b> </b>
<P>

1   	<b>HER HONOUR</b>:  On 29 March 1996 Colin David Simpson
was indicted on an indictment containing one count, namely, that on or about 19
August 1996
at Lansvale he did maliciously inflict grievous bodily harm upon
Gary Henderson with intent to inflict grievous bodily harm.  To
that indictment
he pleaded not guilty but guilty to the statutory alternative of maliciously
inflicting grievous bodily harm contrary
to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/s35.html" class="autolink_findacts">s 35</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/" class="autolink_findacts">Crimes Act</a></b>.  The
Crown Prosecutor accepted that plea in full discharge of the indictment.  The
matter was stood over to 27 May when evidence
was led on the prisoner's behalf
and I received submissions on sentence.
<P>

2   	The prisoner was arrested on 30 August 1996 and charged
with the murder of Gary Henderson.  Two other persons, Susan Maria
Hall and
Colin George Hanslow, were also charged with the murder of the deceased.
<P>

3   	The body of the deceased, dressed only in shorts, was found
on the afternoon of 28 August 1996 lying on a mud bank adjacent
to the water's
edge near the Silverwater Boat Ramp at Lansvale.  The deceased was a single man
aged about 35 years.  He was a slightly
built individual who suffered from
cerebral palsy.  His left arm and leg were both wasted.  He also appears to
have been intellectually
disabled.
<P>

4   	Dr Ellis, pathologist, viewed the body at the site and
subsequently conducted a postmortem examination.  He concluded that
death was
caused as the result of head, chest and abdominal injury, compression of the
neck, probable immersion/drowning.
<P>

5   	Within 24 hours of the discovery of the body the police had
ascertained the deceased's identity and address.  He had been living
in a
caravan at the Lansdowne Caravan Park.  The caravan was leased by Susan Hall
and her de facto partner, George Hanslow.
<P>

6   	A statement was taken from Ms Hall on 29 August 1996 and
later that day police accompanied her to the caravan.  An examination
of the
interior of the van revealed what appeared to be blood on one of the walls.
When questioned about this, Ms Hall informed police
that Colin Simpson had
assaulted the deceased last Monday.  Hall and Hanslow had been observed by an
occupant of a neighbouring van
removing a person dressed  only in shorts from
their caravan at around midnight on Monday, 26 August 1996.  It is not clear
whether
Gary Henderson was alive or dead at that time.  He was not seen alive
thereafter.
<P>

7   	The prisoner Colin Simpson together with Susan Hall and
Colin Hanslow all suffer from intellectual disability.
<P>

8   	At the time of these events Colin Simpson was a resident of
the Craigieburn Lodge, a residential care unit for the aged and
disabled.  He
appears to have been on friendly terms with Hall and Hanslow.  It would appear,
partly by reference to records maintained
by the manager of the Craigieburn
Lodge, that he was absent from the lodge and visiting the Lansdowne Caravan
Park between Monday,
19 August 1996 and Wednesday, 21 August 1996.  There is no
evidence that he was at the caravan park after that time.
<P>

9   	Colin Simpson was interviewed by police in the early hours
of the morning of 30 August 1996.  In the course of that interview
he admitted
to bashing the deceased.  It was his account that he had bashed the deceased
"last week" and that he had bashed him "the
week before that".  He said the
assault occurred in the caravan occupied by Hall and Hanslow.  He said that he
had kicked and punched
the deceased.  He had punched him about 20 times, he had
kicked him about 20 times.  The kicks were to the back, the head and the
ribs.
During this time the deceased had "just told me to stop".  Simpson had also
attempted to hang the deceased. However, after
a time, he had taken the
ligature away from the deceased's neck to allow him to go to the toilet.
<P>

10   	The prisoner appears to have assaulted the deceased to
punish him because he had been told that Henderson had given out Hall
and
Hanslow's silent telephone number and that Henderson had been looking up little
girls' dresses.  Further, the deceased would
not clean up after himself.  He
was leaving messes in the caravan and making the place smell.
<P>

11   	The prisoner acknowledged that following his assault upon
the deceased, the deceased had a black eye and was bleeding from
the mouth.
<P>

12   	Dr Ellis gave evidence at the committal hearing.  He
stated that it was impossible to determine which of the various serious
injuries observed by him was the most likely cause of death. All in his view
were contributory.  He was unable to determine whether
death was occasioned by
drowning.
<P>

13   	Understandably, during the initial investigation it was
the police view that the assault to which the prisoner Colin Simpson
made
admissions had occurred in the course of the evening of 26 August, prior to the
time when Hall and Hanslow were seen removing
a body from the caravan.  It is
no longer contended by the Crown that that view is fairly open.  
<P>

14   	The Crown case is that the prisoner Simpson maliciously
inflicted  grievous bodily harm upon the deceased during the course
of an
assault which occurred on or about 19 August 1996.  There is no evidence that
Simpson had any further contact with the deceased
after this time.
<P>

15   	The prisoner Simpson was taken into custody on 30 August
1996.  He remained in custody until his release on bail on 23 September
1998.
That bail was revoked on 6 January 1999 when he was returned to custody.  The
revocation arose out of the breach of conditions
of bail and not as a
consequence of any allegation of the commission of further offences.  He has
remained in custody since that
time.
<P>

16   	It was conceded by Mr Stratton who appears for Mr Simpson
that this assault was a serious one.
<P>

17   	I am not able to determine which of the various injuries
observed by Dr Ellis were inflicted in the course of the assault
to which this
prisoner has pleaded guilty. Mr Stratton took me to a number of passages in the
evidence of Dr Ellis with a view to
establishing that some of the more serious
injuries noted by the doctor appear to have been inflicted within a relatively
short period
of the time of death.  This would place those injuries after any
assault committed on or about 19 August 1996.  I accept that submission.
<P>

18   	The bruising to the deceased's neck and associated damage
to the internal structures of the neck consistent with the use of
a ligature is
referable to the prisoner's assault.  Mr Stratton conceded that that was so.
On the prisoner's own account, this was
a nasty assault involving repeated
punching and kicking of a physically disabled man. I am not satisfied beyond
reasonable doubt
that the prisoner punched and kicked the deceased on a number
of occasions which he volunteered in the course of his interview. 
The
interview records him mantra-like reciting that he had kicked, punched and
assaulted the deceased 20 times in each instance.
 The impression I am left
with is that his account is not reliable as to this detail.  However, I do
accept that the assault involved
both kicking and punching several times,
together with the application of the ligature to the deceased's neck.
<P>

19   	I should observe that the prisoner Susan Maria Hall was
indicted before me on a charge of manslaughter to which she has pleaded
guilty.
I am informed that the Crown relies upon the prisoner's failure to obtain
medical assistance as the basis for that count.
 Colin Hanslow was arraigned on
an indictment charging him with the manslaughter of Gary Henderson, to which he
entered a plea of
not guilty, and with a count alleging that he was an
accessory after the fact to the infliction of grievous bodily harm upon the
deceased. To the latter count he entered a plea of guilty.  
<P>

20   	The basis of the case made against Hall was not entirely
clear to me from the agreed facts which were tendered on the last
occasion.  I
have stood her matter over to 16 July 1999 when I will hear further submissions
in this regard.  The matter  of Colin
Hanslow will also be before me on that
date. However, at the present time, that is a matter which awaits trial.  I do
not consider
that I should stand the matter of the sentence of the prisoner
Colin Simpson over to 16 July 1999.  Mr Simpson has spent a substantial
period
of time in custody and he is entitled to know his sentence without further
delay.
<P>

21   	The prisoner Colin Simpson was aged 34 years at the date
of this assault.  He has a criminal record commencing when he was
aged 16
years.  He appeared before the Lismore Children's Court charged with assault
and was released on probation for 12 months.
 He has a further entry as a
juvenile;  a conviction for an assault.  In relation to that he was released on
a probation order for
3 years subject to the supervision both of his mother and
the Probation and Parole Service.  On 16 April 1986 he was convicted before
the
Casino Local Court on a charge of indecent assault.  On that occasion he was
placed on a recognisance pursuant to section 558
of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/" class="autolink_findacts">Crimes Act</a> for a period
of 3 years conditioned that he accept the supervision of the Probation and
Parole Service.  On 29 April 1988 he appeared
before the Sydney District Court
where he was convicted in relation to an indecent assault on a person under 16
years.  His Honour
Judge Wall directed that no action be taken in relation to
the breach of the earlier recognisance.  The prisoner was again placed
on a 3
year recognisance to be of good behaviour, subject to the supervision of the
Probation and Parole Service.  Thereafter he
appears not to have offended again
until the commission of the subject offence.
<P>

22   	The prisoner was seen by Associate Professor Susan Hayes
on 7 March 1997 and again on 18 May 1999.  A report prepared by Professor
Hayes
is before me.  She administered a number of tests to the prisoner during the
course of her first interview with him.  Those
tests reveal that he is mildly
to moderately intellectually disabled.  His best area of functioning is that of
daily living skills
and his worst is that of communication.  Professor Hayes
noted that the prisoner has a very unreliable concept of time.  This has
some
significance and I will return to it later.
<P>

23   	Professor Hayes obtained a detailed history from the
prisoner which is set out in her report and which has not been the subject
of
any challenge.  It appears that the prisoner is the youngest of seven children.
He grew up in the Casino area and lived with his
mother until her death when he
was aged about 23.  He reported that he had not done well at school and had
failed every test.  He
had worked in a sheltered workshop in Lismore and
subsequently with the House With No Steps.  Following the death of his mother
he
came to Sydney where he has lived ever since.
<P>

24   	It appears that he has had a number of admissions to the
Rozelle Hospital in the years between 1992 and 1996.  On the occasion
of his
first admission, cognitive testing was consistent with mild developmental
disability.  On 15 November 1995 the Guardianship
Board ordered that the
prisoner's estate be committed to the care of the Protective Commissioner.  The
Board accepted that the prisoner
was not able to manage his finances and that
he was vulnerable to exploitation.  It appears that the Public Trustee manages
a small
fund on his behalf, being the proceeds of an award of damages made
following a motor vehicle accident.
<P>

25   	In her report, Professor Hayes extracted a portion of the
Guardianship Board's reasons for decision in these terms.
<P>

 "The matter of accommodation for Mr Simpson is a serious problem as he appears
not to be able to accept the usual rules and regulations
that relate to
boarding houses or the like.  He therefore finds that he is not able to stay in
a particular accommodation for long.
 He has spent considerable time sleeping
on the streets and his condition deteriorates when this happens."
<P>

26   	It appears that the prisoner has maintained a relationship
with a lady named Anne.  She is 20 years older than he and she
suffers from
manic depression.  Anne lives in Glebe and on the prisoner's ultimate release
from custody he would like to live in
premises such as the Rainbow Lodge
boarding house so that he might be near her.
<P>

27   	The prisoner has spent most of his time in prison in the
Developmental Disability Unit in the Long Bay Centre.  He has participated
usefully in a variety of activities while a member of the unit.  In the
mornings he works assembling headsets for Qantas.  On Tuesday
afternoons he
does a carpentry course.  He is particularly enthusiastic about this.  On
Mondays and Thursdays he attends a driving
course. The aim is ultimately to be
able to obtain a driver's licence.  On Fridays he does a gardening course and
he has made arrangements
to attend a cooking course.  He is described by
Professor Hayes as a positive and cheerful man who has little or no insight
into
the difficulties he has in the community.
<P>

28   	A report prepared by Geoffrey Stirling, social worker, an
employee of the Legal Aid Commission, was also tendered on the prisoner's
behalf.  Mr Stirling, a former probation and parole officer, interviewed the
prisoner at the Special Purpose Centre, Long Bay Complex,
on 12 May 1999.  In
addition to that interview Mr Stirling made contact with a number of the prison
staff, with welfare and community
workers and with the prisoner's sister, Fay
Simpkins.
<P>

29   	Ms Simpkins, who lives in Casino, says that the prisoner
was in institutional care between the ages of 5 and 13 in a facility
operated
by the Spastic Centre in Sydney. Apparently the prisoner suffers some degree of
cerebral palsy in addition to his intellectual
handicap.  During these years he
returned to the family home during each school holiday. After his return to
Casino the prisoner
had been placed in a special class for developmentally
delayed students at the Casino High School.  He left school at about 14 or
15
years  of age.  Ms Simpkins confirmed that the prisoner had lived with his
mother up until her death.  He had had difficulty in
dealing with her loss.  He
moved to Sydney and thereafter resided in boarding houses occupied by the
intellectually disabled or on
the streets.
<P>

30   	Both Mr Stirling and Associate Professor Hayes note that
Mr Simpson has had problems with alcohol abuse over the years.  
<P>

31   	In dealing with this matter I have regard to the
prisoner's plea of guilty.  I accept that that plea was offered on the first
occasion when it was available to him to do so.  I also have regard to the
contents of the prisoner's interview with police on 30
August 1996.  He made a
full confession.  This assisted the police in their investigation, not only as
to his own criminal involvement,
but also that of his co-offenders.  I accept
that the interview also demonstrated contrition consistent with the prisoner's
level
of intellectual functioning.
<P>

32   	Having regard to the prisoner's difficulties in life, I do
not consider that his criminal record stands in the way of some
leniency being
extended to him.  I note that for the past 10 years, despite a troubled
lifestyle, he has not offended.
<P>

33   	The prisoner spent 2 years and 26 days in custody in
respect of this matter prior to his release on bail on 23 September 1998.
 He
has now served a further 5 months or so in custody.  As a remand prisoner, the
whole of this time has been spent in conditions
of maximum security.  Despite
the programs available to him in the Developmental Disability Unit, it is to be
borne in mind that
he is locked up at 5.45 pm and remains in his cell by
himself until 6.45 am the following morning.
<P>

34   	I consider the prisoner's intellectual disability
mitigates his culpability for this offence.  The answers in his electronically
recorded interview are eloquent testimony of his limited understanding of the
seriousness of his offending behaviour.  In some cases
that might raise
concerns as to his dangerousness and considerations of the protection of
society would need to be emphasised;  <b>Veen v The Queen (No 2)</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1988/14.html" title="View Case" class="autolink_findcases_inserted">[1988] HCA 14</a>;  <a href="/cgi-bin/LawCite?cit=%281988%29%20164%20CLR%20465" title="View LawCiteRecord" class="autolink_findcases">(1988) 164
CLR 465</a> AT 476.  That consideration does not loom large in the circumstances of
this case.  For a bigly built man leading an itinerant and
rather chaotic
lifestyle with a history of alcohol abuse, the absence of offending behaviour
over the last 10 years is notable. 
Professor Hayes observes that he has the
potential to do well in the community and this is assisted by his cheerful and
pleasant
personality.
<P>

35   	 In the light of the prisoner's intellectual disability, I
propose giving less weight to considerations of general deterrence
than might
otherwise be called for in the circumstances of this case;  <b>R v
Scognamiglio</b>  <a href="/cgi-bin/LawCite?cit=%281991%29%2056%20A%20Crim%20R%2081" title="View LawCiteRecord" class="autolink_findcases">(1991) 56 A Crim R 81</a>; <b> R v Anderson</b> <a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1981/17.html" title="View Case" class="autolink_findcases_inserted">[1981] VicRp 17</a>;  <a href="/cgi-bin/LawCite?cit=%5b1981%5d%20VR%20155" title="View LawCiteRecord" class="autolink_findcases">[1981] VR 155</a>;
<b>R v Letteri </b>(unreported, NSWCCA,18 March 1992)  and<b> R v Wright</b>
(unreported, NSWCCA, 28 February 1997) .  
<P>

36   	In determining the structure of the sentence to be imposed
on the prisoner, I have regard to the evidence of Mr Stirling:
<P>

"Given the fact that Mr Simpson has no real concept of dates or time, it would
be almost impossible for him in my view to fulfil
his reporting obligations to
the Probation and Parole Service.  He could be instructed to report on a given
date and given time and
he may well agree to do that, but his ability to fulfil
that obligation would be very difficult indeed.  This, of course, would or
could lead to him being breached."
<P>

37   	On his release from custody it is the prisoner's wish, as
I have observed, to live in the Glebe area so that he may maintain
contact with
his girlfriend Anne.  The closest office of the Probation and Parole Service to
Glebe is the one located in Annandale.
 Mr Stirling informed me that he had
made contact with the district manager in charge of the Annandale office on 25
May of this year.
 she had indicated that, due to a lack of staffing, it would
not be possible for her officers to visit Mr Simpson rather than to
impose a
requirement that he report to them.  
<P>

38   	I note that Mr Stirling was of the opinion that the
prisoner would require some supervision on release in order to facilitate
his
move back into the community.
<P>

39   	In total, the prisoner has now served approximately 2 and
a half years in custody in conditions of maximum security.  Prior
to the
commission of this offence he had not served a term of imprisonment.
<P>

40   	Taking the approach that I have indicated to the evidence
relating to his intellectual deficits and having regard to the other
favourable
subjective material, I propose imposing a sentence of relatively short duration
to date from 6 January 1999.  That sentence
is less than the sentence that
would otherwise have been imposed in order to give full credit for the 2 years
and 26 days served
in custody as a remand prisoner, which was solely referable
to the present offence.  I had in mind a sentence of 12 months comprising
a 9
month minimum term and a 3 month additional term.  I propose adjusting this to
provide for a minimum term of 8 months in order
to ensure full credit for the
26 day period in addition to the 2 years already served.  This produces the
consequence that the additional
term will not accord with the statutory ratio
provided in <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/s5.html" class="autolink_findacts">section 5(2)</a> of the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/" class="autolink_findacts">Sentencing Act</a>.  This result is the consequence
of an endeavour to properly reflect the full extent of pre-sentence custody and
that consideration
alone constitutes special circumstances within the meaning
of the Act.
<P>

41   	Accordingly, Colin David Simpson, I sentence you to a
minimum term of 8 months penal servitude to date from 6 January 1999.
 That
sentence will expire on 5 August 1999.  I impose an additional term of 3
months penal servitude.  That will commence on 6 August
1999 and expire on 5
November 1999.  I direct that the prisoner is to be released on parole at the
expiration of the minimum term.
<P>

**********
<P>

LAST UPDATED: 	09/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/562.html</i><br>
</p>
</small>
</body>
</html>
