<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Malak v Pepsico Australia Pty Limited [1999] NSWSC 85 (17 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 85</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+85 or 1999+NSWSC+85">Noteup</a>]
[<a href="85.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Malak v Pepsico Australia Pty Limited [1999] NSWSC 85 (17 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_85.html-->
<!--sino date 17 February 1999-->


<P>Last Updated: 18 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Malak v Pepsico Australia Pty Limited  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/85.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 85</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	20166/98
<P>

HEARING DATE{S): 	17 February 1999
<P>

JUDGDMENT DATE: 	17/02/1999
<P>

 PARTIES: 
<P>

SARA MALAK
<P>

(Plaintiff/Respondent)
<P>

PEPSICO AUSTRALIA PTY LIMITED
<P>

(Defendant/Applicant)
<P>

JUDGMENT OF: 	Master Harrison      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr Cleary
<P>

(Plaintiff/Respondent)
<P>

Mr N A Confos
<P>

(Defendant/Applicant)
<P>

SOLICITORS: 
<P>

Mr T Barakat of Keddies
<P>

(Plaintiff/Respondent)
<P>

Ms K A Sibley of A O Ellison &amp; Company
<P>

(Defendant/Applicant)
<P>

CATCHWORDS: 
<P>

Part 40 r 9(2) 
<P>

Set aside default judgment
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

(1)  The default judgment entered on 3 December 1998 is set aside.  (2)  The
plaintiff's costs be costs in the cause.
<P>

JUDGMENT: 
<P>

5
<P>

<center> </center>
<P>


<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES </b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>MASTER HARRISON</b>
<P>

<b>WEDNESDAY, 17 FEBRUARY 1999</b>
<P>

<b>20166/98   -   SARA MALAK  v  PEPSICO AUSTRALIA </b>
<P>

<b>PTY LIMITED</b>
<P>

<b>JUDGMENT	(Part 40 r 9(2) - Set aside default judgment)</b>
<P>

1	<b>MASTER:</b>  By notice of motion filed 24 December 1998 the defendant
seeks that judgment entered on 3 December 1998 be set aside.  The defendant
relied on the affidavit of Kerry Sibley sworn 23 December 1998.  The plaintiff
did not rely on any affidavit evidence.
<P>

2	The relevant part of s 40 r 9(2) of the <b>Supreme Court Rules</b>
provide:
<P>

	<b>"(2)	The Court may set aside or vary a judgment -</b>
<P>

<b>	.....</b>
<P>

<b>	(b)	where the judgment has been entered after 	judgment has been given in
the absence of a party, 	whether or not the absent party
had notice of trial
or of any motion for the judgment."</b>
<P>

3	In determining whether default judgment should be set aside Priestley JA in
<b><u>Cohen v McWilliam</u></b>  <a href="/cgi-bin/LawCite?cit=%281995%29%2039%20NSWLR%20476" title="View LawCiteRecord" class="autolink_findcases">(1995) 39 NSWLR 476</a> at 481 stated:
<P>

	<b>"It is, however, another question whether concern about the extent of
delays, either in a particular case or generally, should, in
the absence of
prejudice in the particular case, be taken into account in exercising a
discretion to set aside default judgment.
 The fundamental duty of the court is
to do justice between the parties.  It is, in turn, fundamental to that duty
that the parties
should each be allowed a proper opportunity to put their cases
upon the merits of the matter.  Any limitation upon that opportunity
will
generally be justified only on the necessity to avoid prejudice to the
interests of some other party, occasioned by misconduct."</b>
<P>

4	For the defendant to succeed in its application to set aside default judgment
it must give an adequate explanation for the delay
in filing its defence and
show that it has a defence on its merits, or as often expressed a bona fide
defence.  However, as Priestley
JA said in <b><u>Cohen</u></b> it is a
fundamental duty of the court to do justice between the parties.
<P>

5	There were prior contested workers compensation proceedings between these
parties which have been finalised.  After those proceedings
were completed the
defendant's solicitor returned her client's documents to her client.  
<P>

6	On 2 June 1998, the plaintiff filed a statement of claim in this court.  The
plaintiff alleges that on 31 August 1995 the plaintiff
in the course of her
employment at the defendant's premises attempted to walk into the kitchen
whilst carrying bags of flour.  The
floor of the kitchen was wet.  The
plaintiff stepped in soapy water on the kitchen floor and slipped and fell.  On
6 July 1998, the
defendant filed a notice of appearance and requested further
and better particulars from the plaintiff.  Those particulars were not
answered
for about 4 months after they were requested.  The defendant received the
answers to particulars on 12 November 1998.  Meanwhile,
the defendant's
solicitor had arranged for the plaintiff to be medically examined.  The
defendant served medical reports on the plaintiff's
solicitor in August,
September and October 1998.  It is clear that the defendant had always intended
to defend this matter.  
<P>

7	In relation to delay, the solicitor's explanation is that she was not in a
position to file a defence at the time she filed a
notice of appearance.  She
asked her client to forward the file to her.  She sent a reminder letter to her
client.  She did not obtain
the complete file from her client until 24 November
1998.  She says that due to an oversight she did not file a defence when the
information became available.  She says that had the plaintiff given an
indication that she intended to file for default judgment
she would have filed
a defence notwithstanding that it would have required amendment.  In cross
examination she admitted that she
did not know the actual time limited for
filing a defence.
<P>

8	No warning was given by the plaintiff's solicitor that she intended to move
for default judgment.  On 3 December 1998 default
judgment was entered.  On 4
December 1998, the plaintiff served a copy of the judgment on the defendant.
Between 9 and 11 December
1998, the parties exchanged correspondence concerning
the setting aside of default judgment.  On 24 December 1998, the plaintiff
filed a notice of motion to set aside default judgment.  There was minimal
delay between the time the defendant's solicitor became
aware that default
judgment had been entered and the filing of the notice of motion to set
judgment aside.  The defendant's solicitor
has provided a satisfactory
explanation for delay.
<P>

9	When the plaintiff was obtaining default judgment in accordance with the
Rules, after taking 4 months to answer particulars and
having been served with
medical reports, it would have been courteous to notify the defendant's
solicitor that if she did not file
a defence shortly, the plaintiff would move
for default judgment.  This was not done.  
<P>

10	In relation to whether there is a bona fide defence, the defendant's
solicitor says that she has been instructed that the cleaning
was performed by
contract cleaners and that the cleaning of the floors was done at close of
business each evening.  Accordingly there
would be no soapy water on the floor
at 8.00 am.  It is my view that the defendant has a bona fide defence.
<P>

11	The plaintiff submitted that it has suffered prejudice as she was unaware
that the defendant used contract cleaners and now will
be statute barred in
relation to joining the cleaners as a defendant.  However there was no evidence
as to the plaintiff's solicitor's
lack of knowledge concerning the contract
cleaning.  In the conduct of this litigation, the plaintiff cannot be said to
be acting
expeditiously.  She filed a statement of claim about 2 months before
the limitation period expired.  She has not taken steps to file
DCM documents
so that active case management can commence and orders could have been made for
the filing of a defence.
<P>

12	It is my view that the defendant's solicitor's oversight cannot be
considered misconduct.  In any event there was no evidence
given by the
plaintiff on the issue of prejudice.  Any prejudice the plaintiff suffers came
about largely due to the delay in her
camp.  There has been a satisfactory
explanation for delay and there is a bona fide defence.  It is my view that the
default judgment
obtained on 3 December 1998 should be set aside.
<P>

13	In relation to costs, the plaintiff submitted that as she had done what she
had been entitled to do, she should receive the benefit
of a costs order and
had the defendant agreed to pay her costs of obtaining default judgment she
would have consented to the setting
aside of the default judgment.  The
defendant submitted that the conduct of the plaintiff's solicitor was
unreasonable and costs
should either be costs in the cause or the plaintiff's
costs in the cause.  It is my view it is unfortunate that due to the lack
of
co-operation between the parties the matter had to be argued in court.
However, the plaintiff acted in accordance with the Rules,
albeit without first
advising the defendant of her intention to enter default judgment when it was
clear that the defendant intended
defending these proceedings.  In these
circumstances it is my view that the appropriate order for costs is that the
plaintiff's costs
be costs in the cause.
<P>

14	The orders I make are:
<P>

(1)	The default judgment entered on 3 December 1998 is set aside.
<P>

(2)	The plaintiff's costs be costs in the cause.
<P>

LAST UPDATED: 	17/02/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/85.html</i><br>
</p>
</small>
</body>
</html>
