<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Obeid v Australian Broadcasting Corporation and 3 Ors [1999] NSWSC 1058 (27 October 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1058</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1058 or 1999+NSWSC+1058">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Obeid v Australian Broadcasting Corporation and 3 Ors [1999] NSWSC 1058 (27 October 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1058.html-->
<!--sino date 27 October 1999-->


<P>Last Updated: 27 October 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Obeid v Australian Broadcasting Corporation &amp; 3 Ors  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1058.html" title="View Case" class="autolink_findcases">[1999]
NSWSC 1058</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	14069 of 1992
<P>

HEARING DATE{S): 	28 October 1998
<P>

JUDGMENT DATE: 	27/10/1999
<P>

 PARTIES: 
<P>

EDWARD OBEID
<P>

(Plaintiff)
<P>

v
<P>

AUSTRALIAN BROADCASTING CORPORATION
<P>

(First Defendant)
<P>

JOE KHOURY
<P>

(Second Defendant)
<P>

SAYED OBEID
<P>

(Third Defendant)
<P>

JOE KHOURY and KINSARVA PTY LIMITED ACN 000 554 665 t/as AL BAIRAK NEWSPAPER
<P>

(Fourth Defendants)
<P>

JUDGMENT OF: 	Levine J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

D Caspersonn
<P>

(Plaintiff)
<P>

M Sexton
<P>

(First Defendant)
<P>

J Gibson
<P>

(Second, Third &amp; Fourth Defendants)
<P>

SOLICITORS: 
<P>

McClellands
<P>

(Plaintiff)
<P>

Michael Martin
<P>

Australian Broadcasting Corporation
<P>

(First Defendant)
<P>

Tony Lazaropoulos
<P>

(Second, Third  &amp; Fourth Defendants)
<P>

CATCHWORDS: 
<P>

Imputations - form - publication - particularisation
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

See paragraph 18
<P>

JUDGMENT: 
<P>

DLJ:  3
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DEFAMATION LIST </b>
<P>

<b>No.  14069 of 1992</b>
<P>

<b>JUSTICE DAVID LEVINE</b>
<P>

<b>WEDNESDAY 27 OCTOBER 1999</b>
<P>

<center><b>EDWARD OBEID</b>
<P>

<i>(Plaintiff)</i>
<P>

<b>v</b>
<P>

<b>AUSTRALIAN BROADCASTING CORPORATION</b>
<P>

<i>(First Defendant)</i>
<P>

<b>JOE KHOURY</b>
<P>

<i>(Second Defendant)</i></center>
<P>


<P>

<center><b>SAYED OBEID</b>
<P>

<i>(Third Defendant)</i>
<P>

<b>JOE KHOURY and KINSARVA PTY LIMITED ACN 000 554 665 t/as </b>
<P>

<b>AL BAIRAK NEWSPAPER</b>
<P>

<i>(Fourth Defendants)</i></center>
<P>


<P>

<b>JUDGMENT (Imputations - form - publication - particularisation)</b>
<P>

1   	On 28 October 1998 the plaintiff sought leave to file a
Further Amended Statement of Claim.  An Amended Statement of Claim
had been
filed on 20 September 1992.  The original initiating process had been filed on
10 August that year.
<P>

2   	By his September 1992 Amended Statement of Claim the
plaintiff structures his action against the defendants as follows.
<P>

3   	The first defendant (the ABC) is sued in respect of four
broadcasts at separate times on 7 July 1992 (the four matters complained
of set
out in Schedule 1 to the pleading).
<P>

4   	The fourth defendants (Joe Khoury and Kinsarva Pty Limited
trading as Al Bairak Newspaper ) are sued in respect of a publication
"<i>on or
about 9 July 1992</i>" of an article in Arabic, the original of which is
Schedule 2 and a translation of which is Schedule 3.  
<P>

5   	The second and third defendants, Joe Khoury and Sayed
Obeid, are sued as follows in respect of what is described as the sixth
matter
being Schedule 4 to the pleading.  It is alleged:
<P>

<i>"12.	Prior to the publication of the First Matter, the Second and Third
Defendants or one of them published to the First Defendant
and or the Fourth
Defendants of and concerning the Plaintiff, the matter set out in Schedule 4
("the Sixth Matter").</i>
<P>

<i>13.	Each of the Second and or Third Defendants published the Sixth Matter -
</i>
<P>

<i>(a)	with the intention that it would be republished in the media and/or by
the First Defendant and/or the Fourth Defendants;</i>
<P>

<i>(b)	in circumstances where such republication was the natural and probable
consequence of the Second and/or Third Defendants publishing
the Sixth
Matter;</i>
<P>

<i>(c)	and thereby authorised and approved the republication of the Sixth
Matter and/or are or is responsible for it republication by
the First Defendant
and/or the Fourth Defendants as aforesaid".</i>
<P>

6   	Each of the broadcasts (four in number) and the fifth and
sixth matters are said to "<i>contain</i>" the following imputations defamatory
of the plaintiff:.
<P>

<i>"14(a)	the plaintiff was guilty of tax avoidance;</i>
<P>

<i>or in the alternative,</i>
<P>

<i>(b)	the plaintiff was reasonably suspected by the Australian Taxation Office
of tax avoidance;</i>
<P>

<i>further, or in the alternative,</i>
<P>

<i>(c)	the plaintiff had so conducted himself in respect of taxation
arrangements as to warrant the accusation of his business associates
that he
was guilty of tax avoidance;</i>
<P>

<i>(d)	the plaintiff had exploited his business associates in order to avoid
tax;</i>
<P>

<i>(e)	the plaintiff used a bogus superannuation scheme to enrich
himself;</i>
<P>

<i>in the alternative,</i>
<P>

<i>(f)	the plaintiff so conducted himself as to warrant the accusation of his
business associates that he had used a bogus superannuation
scheme to enrich
himself".</i>
<P>

7   	On 8 August 1997 I delivered a judgment dealing with a
dispute concerning a Notice to Produce and waiver of legal professional
privilege, and on 10 July 1998 I dismissed an application by the defendants to
have the plaintiff's action stayed or dismissed for
want of prosecution.  As I
understand it notice by the plaintiff of his intention to file this Further
Amended Statement of Claim
was given on or about 13 August 1996;  the matters
the subject of the two judgments to which I have just referred in the meantime
intervened.  It is to be noted however that notice of the proposed amendments
was given within the limitation period.  The plaintiff
seeks to rely now upon
the following four new imputations:  
<P>

<i>"(a)	the plaintiff was guilty of illegal tax avoidance;</i>
<P>

<i>(b)	the plaintiff had used a bogus superannuation scheme to enrich
himself;</i>
<P>

<i>(c)	the plaintiff had so misconducted the affairs of the Media Press Company
that it was reasonably suspected by the Tax Department
of illegal tax
avoidance;</i>
<P>

<i>(d)	the plaintiff had so misconducted the affairs of the Media Press Company
which the plaintiff part owned, that it was reasonably
suspected by the Tax
Department of establishing a bogus superannuation scheme".</i>
<P>

8   	The first defendant (the ABC) objects to the proposed
imputations on the basis of form and non-differentiation in substance.
<P>

9   	As to imputation (a) the problems are immediately apparent
by the use of the words "<i>guilty"</i> and "<i>illegal tax avoidance</i>" in
the sense of clearly giving rise to the <b><i>Ffrench v Singleton</i></b>
problem of uncertainty of the meaning of the imputation itself.  This is
irrespective of any available argument that the matters
complained of against
this defendant are incapable of giving rise to any suggestion of "<i>guilt</i>"
at all.  Whilst generally it was argued by Mr Caspersonn for the plaintiff that
the ordinary reasonable listener would not be troubled
by the fine distinctions
in law between tax avoidance which is legal and tax evasion which is not,
focusing on the question of form,
the problems arising from the use of the
expression "<i>illegal tax avoidance</i>" are, as I have said, readily
apparent.  The submissions for the defendant in regard to this imputation are
well founded.  
<P>

10   	As to imputation (b) it is argued first the as a matter of
impression the imputation is incapable of being defamatory.  This
I reject.
The flaw in the form of the imputation is as to the uncertainty of the meaning
of "<i>used a bogus superannuation scheme"</i> it is argued and I think
correctly that the charge leading to the suggestion of enrichment is not
specified with the requisite precision.
 I accept the submission of the first
defendant in this regard.
<P>

11   	As to imputation (c) this is in the troublesome form of
being a "<i>misconducted</i>" imputation.  There are two difficulties in form
with this imputation.  There is the combination of "<i>misconducted</i>" which
suggests guilt on the one hand with "<i>reasonably suspected</i>" which of
course is suspicion, on the other.  Secondly, it is not the plaintiff who is
reasonably suspected by reason of this so-called
<i>"misconduct</i>" but rather
an entity known as Media Press Company.  Any imputation containing the word
"<i>misconduct</i>" or indeed the word "<i>conduct</i>" must be rejected if the
matter complained of identifies the activities which the pleader purports to
wrap up simply in the word
"<i>misconduct</i>" or "<i>conduct</i>".
<P>

12   	In relation to imputation (d) the defects in form
identified in relation to imputation (c) are identical.  
<P>

13   	At this point one safely can say that the application for
leave to file the Further Amended Statement of Claim should be refused
because
of the futility arising from the defects in form in the pleading of the causes
of action.  I would simply add that when one
reads the proposed imputations
there is also clearly available an argument that the plaintiff would be in
breach of SCR Pt 67 r 11(3)
as to non-differentiation in substance.
<P>

14   	The remaining defendants adopted the submissions as to
form advanced by Mr Sexton for the ABC and thus they too have succeeded
in the
substantial application.
<P>

15   	The second and third defendants nonetheless complain about
the allegation in paragraph 12 of the proposed Further Amended
Statement of
Claim which repeats the terms of paragraph 12 in the Amended Statement of
Claim.  That paragraph refers to the alleged
publication of the sixth matter,
"<i>prior to the publication of the first matter"</i> (the ABC broadcast) by
the second and third defendants "<i>or one of them</i>" to either the "<i>first
defendant or the fourth defendants".  </i>The Amended Statement of Claim
(September 1992) is defective in its non-compliance with the Rules of Court in
giving particulars of
publication pursuant to SCR Pt 67 r 12.  The complaints
by the second and third defendants in relation to paragraph 12 of the Amended
Statement of Claim and the proposed Further Amended Statement of Claim, in my
view, are well founded.  What is there pleaded is mischievous
and embarrassing.
It is said for the plaintiff that this can be cured by an exchange of
correspondence as to particulars.  I do not
see why the second and third
defendants should bear the costs and burden of requesting particulars of what
is, in my view, a meaningless
averment in paragraph 12 of the pleading of
September 1992 six years ago.  That was the time for the plaintiff properly to
comply
with the Rules of Court and succinctly inform the relevant defendants of
the case he proposed to make in relation to the publication
purported to be
pleaded.  
<P>

16   	Paragraph 12 of the Amended Statement of Claim will be
struck out.
<P>

17   	There therefore remains the pleading as constituted by the
Amended Statement of Claim filed on 25 September 1992.  What the
plaintiff
proposed to do in relation to that pleading or, indeed, what the defendants
propose to do in relation to it will be a matter
for them.  This is a case
where serious consideration should be given by the parties to the nature and
extent of its further progress:
<P>

18   	The formal orders are:
<P>

1.	Leave to file a Further Amended Statement of Claim is refused.
<P>

2.	Paragraph 12 of the Amended Statement of Claim filed in Court on 20
September 1992 is struck out.
<P>

3.	The plaintiff is to pay the defendant's costs.
<P>

4.	The matter is stood over to the Defamation List on 5 November 1999.
<P>

	***********
<P>

LAST UPDATED: 	27/10/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1058.html</i><br>
</p>
</small>
</body>
</html>
