<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>R v Polanski [1999] NSWSC 433 (5 May 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 433</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+433 or 1999+NSWSC+433">Noteup</a>]
[<a href="433.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
R v Polanski [1999] NSWSC 433 (5 May 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_433.html-->
<!--sino date 5 May 1999-->


<P>Last Updated: 17 May 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	R v Polanski  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/433.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 433</a>
<P>

CURRENT JURISDICTION: 	Criminal Division
<P>

FILE NUMBER(S): 	70017/98
<P>

HEARING DATE{S): 	3-5/5/99
<P>

JUDGMENT DATE: 	05/05/1999
<P>

 PARTIES: 
<P>

Crown
<P>

Rafal Polanski
<P>

JUDGMENT OF: 	Wood CJatCL      
<P>

LOWER COURT JURISDICTION: 	Supreme Court
<P>

LOWER COURT FILE NUMBER(S): 	
<P>

LOWER COURT JUDICIAL OFFICER: 	
<P>

COUNSEL: 
<P>

G.E. Smith (Crown)
<P>

J. Nicholson SC (Accused)
<P>

SOLICITORS: 
<P>

DPP
<P>

Legal Aid
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Unfit to Plead
<P>

JUDGMENT: 
<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>CRIMINAL DIVISION		 </b>
<P>

No. 700017/98
<P>

<b>WOOD CJ at CL</b>
<P>

<b>WEDNESDAY 5 MAY 1999</b>
<P>

<center><b>REGINA V RAFAL POLANSKI</b></center>
<P>


<P>

<center><b>JUDGMENT</b></center>
<P>


<P>

1  	HIS HONOUR: This matter comes before the Court as an inquiry into
the fitness of the accused to be tried for the offence of
murder of which he
has been charged.   The case is one in which a question as to his fitness to be
tried arose prior to arraignment
and the inquiry has been conducted following a
direction from the Attorney-General pursuant s 8(1) of the <b>Mental Health
(Criminal Procedure) Act</b> 1990.
<P>

2  	The accused has elected for this issue to be tried by Judge alone
following advice which I am satisfied was given to him by
his solicitor.
<P>

3  	As the Court of Criminal Appeal said in <b>Mifsud</b>,
unreported, 8 November 1995, for an accused to make such an election he or she
must not only receive that advice but must also understand
what is involved in
the election.
<P>

4  	Notwithstanding some initial concerns in this regard I am, in
this case, satisfied that the accused had sufficient capacity
to understand,
and did understand, what was involved and gave instructions for the matter to
proceed Judge alone.  This follows from
the evidence of his solicitor, from the
report of Dr Thompson and from the accused's indication that he would accept
the advice which
Mr Nicholson, of Senior Counsel, said was given to him, that
it was preferable for the issue to be heard by Judge alone.
<P>

5  	It is alleged by the Crown that the accused killed one Jozef
Zimmer in a boarding house where that man lived during the evening
of 18/19
October 1997.  In substance, it is the Crown case that the accused, who had
been drinking at the Polish Club, from which
he had earlier been evicted, went
with Mr Zimmer to the boarding home to sleep.  There it is alleged that he
struck him on the head
several times with a fire extinguisher before stabbing
him in the back, ransacking the flat and stealing several items of the
deceased's
property.   It is alleged that the accused covered the body of the
deceased with a mattress and other items.
<P>

6  	In an ERISP he admitted to being responsible for striking the
deceased with the fire extinguisher but said that he did so in
circumstances
where he was heavily intoxicated and where he was fearful of being raped by the
deceased.  Just prior to the attack
he said that the deceased had played a
pornographic video displaying homosexual conduct between males and had
propositioned him for
oral sex in return for $50.
<P>

7  	In order to determine the application I need to instruct myself
as to the regime established under the <b>Mental Health (Criminal Procedure)
Act</b>.
<P>

8  	The question of unfitness is to be determined as at the date of
trial, in a non-adversarial manner (s 12(2)) and upon a balance
of
probabilities (s 6).  The onus of proof on the question of fitness to be tried
does not rest upon any party (s 12(3)).  The findings
open are that the accused
is fit to be tried or unfit to be tried for the offence of murder and, I would
add, for the statutory alternative
of manslaughter that might arise on the
facts of the case.
<P>

9  	If the accused is found fit to be tried then his trial can
proceed as normal (s 13).  If he is found unfit then he is to be
referred to
the Mental Health Review Tribunal (s 14) which is then tasked with determining
whether, on a balance of probabilities,
he will within a period of twelve
months after the finding of unfitness become fit to be tried (s 16(1)).
<P>

10  	If it comes to that conclusion then the Tribunal must also
determine whether he is suffering from mental illness or from a
mental
condition for which treatment is available in a hospital (s 16(2)).  It is
required to report its determination to the Court
(s 16(3)).  If the Tribunal
determines that the accused will not be fit to be tried within the period of
twelve months then it must
notify the Attorney-General and the Director of
Public Prosecutions accordingly (s 18).
<P>

11  	The orders that the Court may make following a determination
under s 16(1), that the accused will be fit within twelve months
to be tried,
are as set forth in s 17 and include orders for bail and detention in a
hospital or other place.  Where the determination
is one of unfitness within
twelve months to be tried, then the Attorney-General may, with the advice of
the Director of Public Prosecutions,
direct that a special hearing be conducted
in accordance with ss 18 and 19 of the Act.  Alternatively, the Attorney may
advise the
Minister for Police and Emergency Services and the Court that the
accused will not be further proceeded against in respect to the
offence
charged, in which event the Court must order his release (s 20).
<P>

12  	If a special hearing is directed then it is to be conducted in
accordance with the provisions of ss 19 and 21 to 26 of the
Act.  The
subsequent management of a person in respect of whom a special hearing has been
conducted, including the conduct of a further
trial in the event of him having
been determined by the Tribunal at a later date to be fit, is provided for
under ss 24(2) and (3)
and ss 27 to 30 of the Act.
<P>

13  	I have, accordingly, instructed myself in relation to the
various consequences of a fitness inquiry as well as the reasons
for such an
inquiry.  In that latter regard it has been recognised that it is unfair to
place a person upon trial unless he or she
is fit to be tried in accordance
with the principles which have been established in that regard.
<P>

14  	The matters to be taken into account in determining the question
of unfitness are as stated in <b>Presser</b> <a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1958/9.html" title="View Case" class="autolink_findcases_inserted">[1958] VicRp 9</a>;  <a href="/cgi-bin/LawCite?cit=%281958%29%20VR%2045" title="View LawCiteRecord" class="autolink_findcases">(1958) VR 45</a> at 48;
<b>Dennison</b>, CCA, 3 March 1988, unreported, and more recently in
<b>Kesavarajah</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1994/41.html" title="View Case" class="autolink_findcases_inserted">[1994] HCA 41</a>;  <a href="/cgi-bin/LawCite?cit=%281994%29%20181%20CLR%20230" title="View LawCiteRecord" class="autolink_findcases">(1994) 181 CLR 230.</a>  Although expressed in somewhat
different terms, these decisions show that the accused is to be found unfit, if
by reason of a mental
illness or a mental condition, a conclusion is reached
upon the balance of probabilities that:
<P>

(a)	he would not be able to understand the nature of the charge that has been
brought against him so as to formulate a plea to it;
<P>

(b)	he would not be able to understand the nature of the proceedings which are
being conducted in respect of him; that is, that
they are an inquiry as to
whether he committed the offence charged;
<P>

(c)	he would not be able to understand or follow the proceedings; that is, to
understand what is going on at the trial or the effect
of the evidence given in
support of the prosecution case;
<P>

(d)	he would not have sufficient understanding to enable him to give proper
instructions to his legal representatives so that he
may properly defend the
proceedings;
<P>

(e)	he would not be able to decide what defence he would rely upon and make
that defence, and his version of the facts, known both
to his counsel and to
the Court.
<P>

15  	In <b>Kesavarajah</b> the majority also emphasised that the
question of unfitness is to be determined in the light of the estimated
duration of the trial.
 In this case, Senior Counsel for the accused indicated
that he anticipated a trial of three weeks duration in which issues would
be
likely to arise as to self-defence, diminished responsibility and provocation,
in respect of which the contributory effects of
intoxication might also be
relevant.
<P>

16  	The evidence concerning the possible unfitness of the accused in
this case is not all the same way.  It is, therefore, necessary
to record some
of his history since that appears to me to be of considerable relevance for the
opinions from the expert witnesses
which were placed before me.
<P>

17  	The accused is now aged twenty-four years.  His childhood was
somewhat disturbed in that his parents were not married until
he was five years
old; in that his paternity was disputed; in that his father was a man who was
violent in drink and totally lacking
in parental affection.  His parents
separated soon after their wedding at which point the father migrated to
Australia.  Some time
later his mother brought the accused out to Australia but
the reconciliation, if that is what it can be called, was apparently brief
and
punctuated by rows and alcohol abuse.
<P>

18  	The accused was said by his mother to have been a difficult
child who could not concentrate at school and who was unable to
finish a
building construction course into which he had been streamed.  He began to use
drugs and to drink heavily, according to
her.  At the age of eighteen years he
admitted himself to a psychiatric hospital in Jaroslaw with complaints of
anxiety, nightmares,
fears of cardiac problems and self-destructive feelings.

<P>

19  	Psychological testing, while not disclosing any symptoms of
frank psychotic disorder, did throw up some results which were
suggestive of
him having a deficiency of moral and social feelings of a psychopathic kind, of
him being socially maladjusted and
of having "very high results in the scale of
schizophrenia".  He was recorded as being a gloomy loner who was at time
arrogant and
disobedient and at other times calm and co-operative.  He was
prescribed anti-depressants and was diagnosed as having an "abnormal
personality".
<P>

20  	He struck up a friendship with only one other person, an older
drug user and eventually he discharged himself, leaving the
hospital with that
person.
<P>

21  	His reported symptoms of delusions in the form of monkeys,
snakes and other creatures getting into and attacking his head were
noted but
they were not confirmed by observations.  The history recorded that the
possibility of a simulation of mental disorder
had not been excluded.  Among
the matters recorded, however, which are of current significance were his
concerns as to his lack of
a girlfriend, a circumstance that he blamed on his
mother; his masturbatory pre-occupation, which he put down to an excess of
hormones;
his concerns with impotence; his fears that his "sexual side was not
in order"; his inability or unwillingness to undress in front
of others and his
demands for an appointment with a urologist because he believed there was
something wrong, which he was not prepared
to disclose, with his genitals.
<P>

22  	The history he has provided to those who have seen him in
Australia, as was also recorded in Jaroslaw, has not always been
consistent;
for example, as to whether or not he used drugs and as to whether or not he has
ever in fact had a girlfriend.  So far
as it can be relied upon, it suggests
that in this country he has worked in various jobs, most consistently as an
assistant painter
working with a team of fellow countrymen.
<P>

23  	A statement from one such worker, Pawel Pastenak, which mirrors
a report from another worker noted by Dr Canaris, records that
from about
mid-1997 the accused could be seen repeatedly talking to himself while working,
repeatedly using the words "whore", and
"dick", sometimes up to five minutes at
a time.  Mr Pastenak said that the accused did not communicate with his fellow
workers in
any meaningful or social sense and described his answers as tending
to be monosyllabic.  He said he observed him to have difficulty
establishing
any relationships either with other men or women.  His work practices were said
to be somewhat unsatisfactory, it being
noted, for example, that he tended to
miss obvious pieces of wall, that when asked to "cut in top and bottom" he cut
in the cornice
around the ceiling but then rather than finish that work by
painting the skirting area, he went to the floor below and began to work
again
on the cornice; that he did not look at the labels of the paint tins to check
their colour or whether they were undercoat or
finish, but rather began
painting with whatever was nearby; that his clothing smelt of faeces and vomit;
that he wore a pair of overalls
that had been provided for him, without washing
them until they virtually stood up on their own through dirt; that he always
hid
when changing into his work clothes, and that when instructed to write out
proper invoices for his work he omitted the hours of work
and described the
place of work in terms such as "over the bridge" or "over the water" or "this
side of the bridge or water".
<P>

24  	While in prison he wrote a letter to his mother in which he
addressed her as "Dear Arabic woman"; said that he was very worried
about her
and all the girls that had been raped all over the world; made various
inconsistent observations about people feeling incredible
bitterness after
death yet had then suggested that they saw the earth with open hearts; observed
that he did not see any success
in "money, in dumb movies, some absurd Muppet
show, songs and in many other things", and said that he did not want any grace
from
the Bible and that nothing much had come out of the Bible's promises.
<P>

25  	In November 1997 it seems that his mental state first came under
notice within the prison system when he reported entertaining
feelings of guilt
concerning the offence and of having nightmares about it.
<P>

26  	On 10 February 1998 he was examined by Dr O'Dea who recorded
that he had pleaded guilty to manslaughter and was due for sentencing.
 He
noted a history of him feeling depressed, lonely and of being isolated and of
worrying about the offence and his predicament.
 Dr O'Dea found no psychotic
symptoms but noted that he was depressed, with flat affect.  He placed him on a
course of anti-depressants
as a trial.  It would appear that this medication
has continued to the present time.
<P>

27  	The accused was later transferred to the MRRC where, from about
September 1998, he came under the care of Dr Jennifer Thompson.
 In a report,
which she has provided, it was noted that when she first saw him she had
difficulty obtaining a history as he appeared
depressed and monosyllabic.  He
complained of hearing voices but on exploring those symptoms he apparently felt
that they were strange
dreams due to his problems with sleeping.  She thought
him not to be psychotic but changed his anti-depressant medication to overcome
the sleeping problems.  She said that she has since seen him on  a monthly
basis and considered him to be intelligent, to relate
well with prison officers
and with his cell mate and to have no difficulties with his work cutting cloth
for theatre gowns.  She
thought that his anxiety increased as court dates
approached.  She said that he was able to discuss the charge, was aware of the
difference between murder and manslaughter, knew the function of the court,
appeared to understand its processes, knew the function
of the Judge and jury
and had chosen not to have a jury.  She also recorded that he wanted to plead
guilty to manslaughter.  She
thought him fit to be tried.
<P>

28  	On 28 April 1999 a clinical psychological assessment was
prepared by Greta Goldberg following tests she conducted on 19 April.
 His
presentation was recorded as displaying a "distinctly flat affect", the
impression given being that he was "withdrawn and/or
medicated".  His manner
was superficially calm and compliant but he displayed fears of failure and
general defensiveness on testing.
<P>

29  	Initially she thought some of his comments were mildly
inappropriate and tangential but said that he became more focused as
the levels
of trust and comfort increased.  His full scale IQ of 78 to 88 was assessed to
be in the borderline to low average general
intelligence range consistent with
his poor school performance and limited educational attainment.
<P>

30  	Some deficits were found in his overall memory functioning and
in attention/concentration.  The pattern of cognitive tests
Miss Goldberg said
were consistent with a psychiatrically disordered thought process.  His
personality profile, she said, was more
consistent with a psychiatric
population norm than with the prison inmate population norm.  Again,
consistently with his admission
to a psychiatric hospital in Poland, his
response to the Draw A Person test suggested to her gender identity problems
and heterosexual
anxiety since he was unable to bring himself to draw a
female.
<P>

31  	This brings me to the two psychiatrists who have reviewed the
accused recently and who gave evidence at the hearing, namely
Drs Canaris and
Strum.  
<P>

32  	Dr Strum's initial assessment was that the accused was unfit to
be tried.  The history he took differed in many respects from
that obtained by
Dr Canaris, but in common they each recorded that the accused had said that he
did not have a girlfriend, that he
had no sexual experience and that he hated
homosexuals.
<P>

33  	The accused informed Dr Strum that he was going to plead guilty,
it being better to do so because "they can drop the charge
to manslaughter".
He disclosed a knowledge of the role of a solicitor and a Judge and understood
the oath to tell the truth.  He
said he talked to other prisoners about courts
and the legal system.  He regarded the prisoners as pawns and he said that he
knew
what he had done was wrong.
<P>

34  	He informed Dr Strum:
<P>

"that he was feeling well.  He was not depressed. He was eating and sleeping
well.  There were no nightmares  His memory and concentration
were intact.  He
was not hearing voices. He was receiving no messages from television sets or
radios.  He was optimistic about the
future".
<P>

35  	In light of that history, it is somewhat difficult to understand
why it was that Dr. Strum reached an initial opinion that
the accused was, upon
the balance of probabilities, unfit to plead; or why it was that he concluded
that Dr Canaris had probably
been correct in saying, at the time of his
interview, the accused was suffering from a schizophrenic episode.  
<P>

36  	The most he seems to have detected was a pre-occupation in the
accused with his lack of success with the opposite sex, doubts
about his
sexuality and some evidence of thought disorder, although even that he
recognised could have been due to the difficulties
occasioned by working
through an interpreter.  Dr Strum did, however, question whether the accused
could instruct his solicitors
or concentrate through a trial if he was actively
psychotic.  He said that if a six month trial on Phenothiazines could be
arranged,
it would become clearer exactly how psychotic the accused was.  
<P>

37  	This opinion was formulated without the assistance of the
correspondence between the accused and his mother, the statement
from Mr
Pastenak or the hospital notes.  It would seem to have been almost entirely
based upon the history taken by Dr Canaris and
upon the opinion expressed by
that witness.  
<P>

38  	Dr Strum came to a different opinion, however, once he reviewed
the additional material that had been available to Dr Canaris,
as well as the
report of Greta Goldberg.
<P>

39  	While finding that the thoughts in the accused's letter to his
mother somewhat strange, Dr Strum expressed the view they were
understandable
by reference inter alia to his pre-occupation with religious ideas and his
belief that his mother had been raped by
his father.  He agreed with Miss
Goldberg that the accused was probably showing a mild psychotic process, but
pointed out that he
had proved to be an inconsistent historian so that the
veracity of what he said could not be relied upon.
<P>

40  	Although he said that there was some doubt about it, he now
thought the balance of probabilities was tipped in the opposite
direction and
that the psychotic process of the accused, if genuine, was not sufficient to
prevent him from being tried.
<P>

41  	I find it somewhat difficult to understand why it was that Dr
Strum changed his opinion after reading the additional material
which, in my
view, only tended to reinforce the opinion of Dr Canaris.  It seems that Dr
Strum did not regard this material, to use
his expression, as "corroboration or
collateral evidence".  I would have thought, quite frankly, that was precisely
what it was.

<P>

42  	I find his explanation as to why the letter to the mother was
understandable to be quite unconvincing.  I reach a similar view
in relation to
his opinion that the cluster of bizarre behavioural characteristics of the
accused, described by his work mates, were
unexceptional.  His dismissal of
concerns about the accused holding beliefs of an apocalyptic kind, of the
instances reported in
the history of ideas of reference, of hearing voices and
delusions, and of his religiose pre-occupation, to be somewhat surprising
since
these are the very kind of things one encounters in persons suffering from
schizophrenic illness.
<P>

43  	The conclusion of Dr Strum seems to have been based, at least in
part, upon his view that some of the experiences reported
were not unusual, or
at least were not indicative of schizophrenic illness.  It also seems that he
based his altered opinion, to
a significant extent, upon his assessment that
the accused had not been telling the truth because of the differences in the
histories
he has provided at various times.  That is a matter for judgment as
to which  Dr Canaris had a different view.
<P>

44  	Dr Canaris examined the accused on 15 February 1999.  He had the
considerable advantage, which Dr Strum recognised, of being
Polish so that he
was able to establish a comfortable relationship with the accused.  It seems
that he was able to extract more information
from him than the other expert
witnesses were able to do.  Those witnesses, it is observed, were either
dependent upon an interpreter,
or spoke to the accused in English, a language
in which his fluency is limited.
<P>

45  	In the history that Dr Canaris took, the accused blamed many of
his difficulties, including his abuse of alcohol which had
led to his earlier
psychiatric admission, upon the lack of a girlfriend.  Dr Canaris received, in
this regard, a history which indicated
an obsession by the accused with a girl
"Alina", a girl whom the accused had never met but whom he believed had been in
the same
mental hospital as him and had also come to Australia.
<P>

46  	Dr Canaris said that he conveyed an unrealistic expectation that
she would visit him in gaol and that a relationship would
then eventuate which
would solve all his problems.  Dr Canaris said that the information he gained
from the accused in this regard
was scattered through a "most tangential and
thought disordered account in which he wandered from topic to topic in a vague,
directionless
and distinctly inappropriate manner", with disrupted, logical
linkages between the ideas expressed.
<P>

47  	Dr Canaris also recorded in a history, that he found somewhat
hard to follow, that a friend of the accused controlled the television
and that
this friend gave him a number that jumped out on the television.  Dr Canaris
went on to record claims by the accused that
the Pope had been to his home to
see his family; that there were people such as Galileo and Nostradamus who saw
certain things; that
the Blessed Sr Faustyna had been speaking to the Pope, and
similar matters.  This was followed by some references to the Bible and
to the
belief of the accused that a fearsome king would come in the 99th year in
France, that king being a person to whom the accused
had spoken, and also that
the Son of Man would manifest himself in the Australian Olympics.
<P>

48  	Dr Canaris thought that these matters displayed evidence of a
manifest thought disorder, as well as evidence of delusional
beliefs,
predominantly of a religiose nature, an utterly inappropriate pre-occupation
with a relationship with a girl that the accused
had never met, a strongly
over-valued propensity to blame all his difficulties on the fact that he did
not have a girlfriend, and
other matters strongly suggestive of an ongoing
psychotic illness.
<P>

49  	He also thought that the concerns of the accused in relation to
his genitals and his desire to see a urologist may have been
related to a
profound insecurity over his sexuality, which was in turn related to his view
that all his problems were attributable
to his lack of a girlfriend.
<P>

50  	Like Dr O'Dea and Miss Goldberg, Dr Canaris observed that the
overall affect of the accused was "strikingly flat", an impression
which I
observed was contrary to that expressed by Dr Strum.  
<P>

51  	The statement from the co-workers, and particularly the letter
to the accused's mother, were further indicators, Dr Canaris
said, of the
presence of a psychotic illness, the latter because of the incoherent and
religiose ramblings it contained, the inappropriate
way in which the mother was
addressed and the absence of any reference to the big issue in his life, namely
the fact he was in prison
awaiting trial on a serious charge.
<P>

52  	His earlier admission in Jaroslaw Dr Canaris thought might have
been mis-diagnosed in that he may have been suffering from
prodromal
schizophrenia, that is, schizophrenia in its early stages manifested by:
<P>

"messy presentation replete with vague complaints, marked anxiety and sometimes
substance abuse which frequently comprises an attempt
to self-medicate the
dysphoria characteristically associated with the prodromal phase of the
illness."
<P>

53  	In Dr Canaris' opinion the accused was suffering from a chronic
psychotic illness, the most likely one of which was chronic
schizophrenia
possibly with secondary depression.  Alternative possibilities were a major
depression with mood incongruent psychotic
features or a schizoaffective
disorder.  It followed, in his opinion, that the accused was not fit to be
tried because his gross
thought disorder, his pre-occupation with the girl
Alina and with the bizarre and religiose themes would make it very difficult
for
him to pay appropriate attention to the proceedings and to give proper
instructions to counsel.
<P>

54  	Moreover, he thought that he might have major difficulty in
weighing up the evidence to be presented, making it extremely difficult
for him
to enter an appropriate plea or to take advice from counsel in that regard.
Once in the witness box he thought it highly
likely that the accused would
respond with material, at best of marginal relevance to questions which were
put to him.
<P>

55  	Dr Canaris expressed concern that the accused had not been
trialed on an anti-psychotic drug and thought that after an appropriate
interval, suggested to be six months, in which he might be given adequate
medication, there was at least a fifty per cent chance
of him being fit to be
tried.
<P>

56  	In relation to the other experts who had seen the accused with
the aid of an interpreter, he expressed a concern as to the
risk of their
interviews having been affected by that fact.  He suggested that it might have
become more an interrogation, in which
the interpreter may have tried to do his
or her best to make the answers more intelligible thereby making it less likely
that features,
such as thought disorder or delusional beliefs, would emerge.

<P>

57  	In a supplementary report dated 21 April, Dr Canaris thought
that the co-workers' description of the accused, which was suggestive
of
profound self-neglect, disorganised behaviour, thought disorder, limited
communication skills, social withdrawal, poverty of thought
and poor sexual
adjustment, were all features strongly consistent with severe chronic
schizophrenia.
<P>

58  	In his evidence he added that while the relatively low IQ of the
accused would not have been a problem in itself, if combined
with a psychotic
illness and thought disorder it may have affected his concentration and ability
to give instructions.  
<P>

59  	The matter is one of some difficulty, given the somewhat
ambivalent opinions of Dr Strum, his concession that the opinion of
Dr Canaris
was one that was open to him as a competent psychiatrist, and his concession
that he himself retained some doubt himself
because of the thought disorder
that he suspected to be evident in the accused.
<P>

60  	I have reached the conclusion that the opinion of Dr Canaris
should be preferred to that of Dr Strum and to that of Dr Thompson.
 I have
come to that conclusion for the following reasons:
<P>

(a)	Dr Canaris had the advantage of speaking with the accused in his own
language and of establishing a relationship with him in
which he was more
likely to have been comfortable.
<P>

(b)	There is a history in this case of mental disturbance or at least of
abnormal behaviour which points to the accused not feigning
his present
condition, both in the prior psychiatric admission and in the accounts given by
work mates as to very odd and disorganised
behaviour on his part.
<P>

(c)	The letter to his mother is bizarre and cannot, in my view, be rationalised
on the basis	that Dr Strum suggested.
<P>

(d)	The fact that the accused was responsible for an outburst in the course of
proceedings while Dr Canaris was giving evidence
when he asked him what he was
"fucking on about" followed by various references to "cocks and sluts".  While
this demonstrated that
the accused could follow what was being said by the
witness it did reveal inappropriate behaviour, and lack of appreciation of the
basis for the evidence and what it was that Dr Canaris, a witness called by his
own counsel, was seeking to do.  This tended to highlight
the problem that  Dr
Canaris identified concerning his ability to understand the proceedings, and to
give appropriate instructions
for his defence or to present his version of
facts to the jury.
<P>

(e)	He has given different accounts to different people at different times as
to whether he was pleading guilty to murder or manslaughter,
or even pleading
guilty at all, and during the fitness hearing on Monday afternoon he asked his
solicitor whether he was to be sentenced
on the following day.  These are
further indicators that he would have difficulty, if not an inability to
understand or follow the
proceedings with the requisite capacity of which the
authorities speak.
<P>

(f)	The observations by Drs Canaris and O'Dea and by Miss Goldberg as to the
presence of a "flat affect" also mirror the observations
recorded in the
hospital notes in Poland, yet as I have observed, the view taken by Dr Strum in
that regard was to the contrary.
<P>

(g)	Dr Thompson did not have the benefit of the additional material provided to
Dr Canaris, particularly the observations by his
work mates  and the letter to
the mother.
<P>

(h)	The accused has not had the benefit of the trial on anti-psychotic
medication of the kind that Dr Canaris favours, which Dr
Strum, at least in his
first report, also favoured.
<P>

(i)	It is difficult to see what gain the accused would have in feigning an
unfitness to plead and there are contra indications to
that, in the long
standing history of abnormal behaviour on his part, which I have mentioned.
<P>

61  	As I observed, the question to be resolved is a difficult one
when faced with opposing opinions of three experienced forensic
psychiatrists.
However, on the balance of probabilities, for the reasons mentioned, and most
particularly because of the distinct
advantage which I am satisfied Dr Canaris
had in speaking to the accused in his own language, I do prefer his account.  I
find on
the balance of probabilities that the accused is unfit at this time to
be tried.  I will refer the matter to the Mental Health Review
Tribunal.  I
direct that he remain in custody until the review of that Tribunal is completed
and further order is made by this Court.
<P>

<center>**********</center>
<P>


<P>

LAST UPDATED: 	17/05/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/433.html</i><br>
</p>
</small>
</body>
</html>
