<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Mfx Research Pty Ltd v Coleman and Anor [1999] NSWSC 692 (2 July 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 692</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+692 or 1999+NSWSC+692">Noteup</a>]
[<a href="692.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Mfx Research Pty Ltd v Coleman and Anor [1999] NSWSC 692 (2 July 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_692.html-->
<!--sino date 2 July 1999-->


<P>Last Updated: 14 July 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	MFX Research Pty Ltd v Coleman &amp; Anor  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/692.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 692</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	2902/99
<P>

HEARING DATE{S): 	1/7/99
<P>

JUDGMENT DATE: 	02/07/1999
<P>

 PARTIES: 
<P>

MFX Research Pty Limited [Plaintiff}
<P>

Leigh Coleman (1st Defendant)
<P>

Samir Ghattas (2nd Defendant)
<P>

JUDGMENT OF: 	Bergin J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr S White (Plaintiff)
<P>

Mr D Pritchard (Defendant)
<P>

SOLICITORS: 
<P>

Freidmann Reeves (Plaintiff)
<P>

Kemp Strang (Defendants)
<P>

CATCHWORDS: 
<P>

Application to dissolve and/or discharge injunction for material
non-disclosure
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Non-disclosure serious but not material
<P>

Injunction continued.
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT </b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b> </b>
<P>

<b>BERGIN J</b>
<P>

<b> </b>
<P>

<b>FRIDAY 2 JULY 1999</b>
<P>

 
<P>

<b>2902/99 - MFX RESEARCH PTY LTD  v  LEIGH COLEMAN &amp; ANOR</b>
<P>

 
<P>

<b>JUDGMENT</b>
<P>

EX TEMPORE - DUTY JUDGE
<P>

1   	This matter came before me on 26 June 1999 when I made
orders in favour of the plaintiff, MFX Research Pty Ltd, which I will
refer to
as MFX, against the defendants, Leigh Coleman and Samir Ghattas.
<P>

2   	That was an ex parte application and the orders I made were
that up to and including 28 June 1999 the defendants themselves,
their servants
and agents are restrained from representing the defendant or Coleman
Technologies Inc as being associated with or
in a relationship with the
plaintiff as distributor or otherwise, or words to similar effect and that they
be restrained from representing
that they were entitled to the sale or
otherwise making available the technology known as MFX 2000 software technology
which is in
compact disc form.
<P>

3   	I also made an order that the defendants, their servants or
agents, forthwith deliver up into the possession of the solicitor
for the
plaintiff, Mr Freidman, all copies or arrangements of the technology, which I
will refer to as MFX 2000.
<P>

     
<P>

4   	I made a further order, that up to and including 28 June
1999 the defendants were restrained from removing from the jurisdiction,
or
otherwise parting with the possession of any copies or originals of the
technology MFX 2000.
<P>

5   	Another order I made was, without fettering the defendants'
entitlement to claim any relevant privilege, they were to deliver
up by 12 noon
on 28 June 1999 an affidavit stating the names and addresses of those persons
or entities with whom they or Coleman
Industries Inc, their servants or agents,
had entered into any contract, arrangement or understanding with
representatives for the
supply, sale or otherwise of MFX 2000.
<P>

6   	Thereafter I granted leave to the plaintiff to serve a copy
of the orders by 10am the following day, 27 June and directed the
proceedings
to come back before me at 10am on Monday, 28 June.
<P>

7   	The plaintiff was also directed to file in Court its
affidavits in support of the orders that I made on 26 June by 28 June
1999 and
I directed the plaintiff to file the summons in Court on 28 June 1999.
<P>

     
<P>

8   	It is apparent that those orders were served on the
defendants in the lobby of the Menzies All Seasons Premier Hotel at 14
Carrington Street, Sydney at 11pm on 26 June. Immediately following the service
of the orders by Mr Freidman, solicitor for the plaintiff,
Mr Freidman read the
orders to the defendants and at approximately 11.30pm on 26 June the first
defendant, Mr Leigh Coleman, delivered
up into Mr Freidman's possession three
compact discs.
<P>

9   	The matter then came back before me on 28 June 1999 when Mr
Alex David Linden, solicitor, appeared for the defendants. Mr Linden
indicated
to me that he was not in a position to oppose or indeed consent to any
continuation of the orders as he was in some difficulty
in respect of obtaining
instructions from the defendants. He did, however, undertake to file a notice
of appearance and that notice
of appearance was filed on 28 June 1999, such
notice indicating that he acted for the first and second defendants.
<P>

10   	On 28 June when the matter was before me I continued the
orders up to and including 1 July 1999 and the defendants were to
file their
affidavits by 10am on 1 July and to deliver the original master copies of MFX
2000 to Mr Freidman by 5pm today. I should
say that in each order there was an
exclusion to the restraining of the defendants and that exclusion was a
contract allegedly between
the plaintiff and Taiyuan Juhua Industrial
Development Co Ltd of China, to which I will refer in due course.
<P>

11   	On 1 July the matter was again returnable before me when
Mr Pritchard of counsel appeared for the defendants and moved on
a notice of
motion  seeking orders that the orders I made on 26 June 1998 and continued on
28 June be dissolved, alternatively that
orders 3 and 4 on 26 June be
dissolved, alternatively that time for compliance with orders 3 and 4, which
are of course the delivery
up and the affidavits, be extended up to and
including 13 July. Order 4 in the notice of motion is that access to the
technology
referred to in order 3 and the affidavit referred to in order 4 be
limited to and kept confidential by the counsel and solicitor
for the plaintiff
until further order.
<P>

     
<P>

12   	Mr White of counsel appears for the plaintiff.  I should
say that he appeared on 26 June and on 28 June as well as yesterday
and today.
He is instructed by Mr Freidman, solicitor of Freidman Reeves and it is noted
on 26 June 1999 when evidence was called
Mr Freidman in fact asked the witness
the questions and took the witness through the evidence that was led, Mr White
indicating at
that time that he had not had the opportunity to see the
documents and so he effectively was counsel making the submissions but Mr
Freidman was permitted to lead the evidence from the witness.
<P>

13   	The history of this matter is that MFX was incorporated
for the purpose of the development and commercial exploitation of
software
technology MFX 2000. The technology is to deal with the Y2K problem. The
technology is said to comprise a set of detect
and modify algorithms capable of
analysing and modifying executable object codes on computer systems.
<P>

14   	It is said that by using this technology MFX has developed
a suite of software diagnosis and correction tools which detect
and correct
short date formats in operating systems, applications programmes and user data
files. The MFX 2000 technology is claimed
by the plaintiff to have significant
advantages over all competing products in the market place because it is said
it operates at
computer  object code level. It is claimed by the plaintiff that
no other product is capable of providing remediation capabilities
across a
computer operating environment.
<P>

15   	In early February 1999 the Managing Director of the
plaintiff, Michael William Carr, whom I will refer to as Dr Carr, was
advised
by Mr Hearn of Y2K Corporation Pty Ltd, a company in Perth, that his company
was represented by the first defendant in the
United States of America. That
company, which I will refer to as Y2K, is a company involved in the sale and
supply of computer hardware
fix for the year 2,000 problem.
<P>

16   	Upon the recommendation of Mr Hearn, Dr Carr decided to
make contact with the first defendant in the United States and had
various
discussions with Mr Hearn about the nature of his dealings with Mr Coleman. It
is apparent from the evidence that Mr Coleman
was contacted by Dr Carr both by
telephone, and by letter and by e-mail.
<P>

    
<P>

17   	In early February 1999 Mr Coleman wrote to Dr Carr and
suggested a regime whereby Mr Coleman could assist the plaintiff in
distributing its product in the United States of America. Mr Coleman set out
his background in short form and informed Dr Carr that
his company, Coleman
Industries, had a means to manufacture and package in southern California the
materials assisting in the set
up and manufacturing capacity of Y2K, the
company in Perth.
<P>

     
<P>

18   	It is to be noted that the parties to these proceedings
and indeed Mr Hearn in Perth have been doing things in what might
be described
and was described by Mr Coleman, as a "bit of a rush". The need for that, of
course, is the impending 1 January 2000,
the time at which the Y2K problem is
said to arise.
<P>

    
<P>

19   	When Mr Coleman wrote to Dr Carr he said:
<P>

"Michael, as we don't have a lot of time to roll this product out, can we get
an agreement in principle that this is a good fit
and we will move immediately?
We actually have already included MFX in our presentation today to some
degree."  
<P>

Mr Coleman then went on to say:
<P>

"I would like to add that to the sales efforts of Y2K in the US as far as
possible."
<P>

It is apparent that Mr Coleman was in fact moving throughout the United States
of America in his effort to sell Y2K's products.
<P>

20   	Mr Coleman set out a list of issues that he saw as
necessary for attention. They were as follows:
<P>

"1.Terms of licence.
<P>

2. Price.
<P>

3. Method of payment.
<P>

4. Control of intellectual property.
<P>

5. Technical support from Australia.
<P>

6. Marketing protection procedures.
<P>

7. Warranty issues.
<P>

8. Product liability issues.
<P>

9. Suggested retail price and pricing in the marketing channel."
<P>

Mr Coleman concluded that he wanted to work with MFX: 
<P>

"...closely as a partner, with mutual support on all issues to achieve an
optimum result for both parties. We have this arrangement
with Y2K.  We feel
and sense we can achieve this  with your organisation too."
<P>

He then concluded by asking Dr Carr:
<P>

"I would appreciate if we could come to some agreement in principle as soon as
possible so we can use the current negotiations to
best effect.
<P>

21   	The parties then negotiated further and there were
communications, to which I will refer a little later but by 3 March Coleman
Industries Inc wrote again to Dr Carr in which Mr Coleman put forward a
proposal with the following:
<P>

"1. We provide market support and distributor coordination to your existing and
future distributors for your product. We would actively
seek out and appoint
and manage new distributors consistent with a sensible distribution strategy.

<P>

2. We provide point of contact on your behalf for the market in general for
promotional and technical reasons. PR for example.
<P>

3. We promote the MFX products in conjunction with the distributors to the
various vertical markets for the product.
<P>

4. We, under policies laid out by you, manage the distribution and marketing
channels so as to optimise the sales of the product.
<P>

5. We attend promotional events, trade shows, et cetera to ensure
representation for your product in the US markets. We would work
with the
distributors and be a central resource to provide promotional materials, sales
aids, et cetera to project an appropriate
image and professionalism.
<P>

6. We provide a US base of operation for MFX.
<P>

7. We provide market intelligence, competitor analysis and trends.
<P>

8. We could provide logistics, customer service support to distributors and
technical support where necessary."
<P>

     
<P>

22   	These proposals were put forward by Mr Coleman that
Coleman Industries Inc, "act as a master distributor for the USA on a
non-exclusive basis".   Mr Coleman suggested that in turn Coleman Industries
would need support from the plaintiff in the form of,
"technical training,
marketing collateral and any direct out of pocket costs". He then suggested "a
proposal, strategy and budget
including corporative advertising" for the
plaintiff's approval. He suggested that a certain amount be allocated in the
pricing as
Coleman Industries would certainly be asked to provide that to large
customers. He suggested that Coleman Industries would implement
the strategy
for the plaintiff. He then said:
<P>

"Again acting as, if you like, a product manager organising a product large and
ongoing sales strategy, we would be accountable
for sales performance and if
you were not happy with us, as we are non-exclusive you could appoint others as
well. We would work
hard to ensure that you would not feel this was
necessary."
<P>

23   	Mr Coleman then suggested to Dr Carr that as Coleman
Industries were developing markets in Asia, the Middle East and South
America:
<P>

"We would take both Y2K and MFX products for these markets together. Mike,
these are my thoughts so far, I hope I convey our enthusiasm
to represent two
Australian companies with world class products to the largest market in the
world."
<P>

      
<P>

24   	Between 3 March 1999 and 26 June 1999 further negotiations
took place between the plaintiff and Mr Coleman and in about April
1999 it is
apparent that Dr Carr made the master copies of MFX 2000 technology in CD
format available to Mr Coleman. This was done
at a time when negotiations were
continuing as claimed by the plaintiff and it is apparent, although not crystal
clear, that the
technology was made available for the purposes of some testing
that was done in the laboratory in China.
<P>

25   	The testing was completed by that laboratory, known as
Chinese Software Testing Centre, also known as CSTC. That laboratory
completed
the testing of that technology, MFX 2000 and produced a report. There is some
controversy about the reference to the plaintiff
and to Coleman Technologies
because it is claimed by the plaintiff that at no stage was there any input and
there is no evidence
that there was any input of a company known as Coleman
Technologies in the creation of the technology.
<P>

26   	The plaintiff and Mr Coleman entered into further
negotiations in respect of Mr Coleman's capacity to put himself forward
as the
plaintiff's agent in China and it is apparent that in March a letter was sent
to him whereby he was authorised to claim that
he was in part representing the
plaintiff for certain contractual negotiations in China. Although that letter
does not have an apparent
limitation on its face the circumstances of its
delivery, according to Dr Carr, are that it was for the purposes of securing
some
confidence in Mr Coleman whilst he was negotiating in China.
<P>

27   	Those negotiations have apparently been fruitful and a
contract for 300,000 units of the technology has been secured. That
contract,
however, is also controversial because the plaintiff alleges that the contract
has been entered into without any reference
to the name of the plaintiff. That
contract is in evidence and the only way the plaintiff was able to find out the
nature of its
terms was through Mr Hearn from Y2K in Perth.
<P>

28   	The negotiations, as I say, continued between April and 26
June and it is apparent that Dr Carr had some concerns with the
conduct of Mr
Coleman because he could not obtain a response to some of the questions that he
posed or alternatively he was concerned
with what was happening in the United
States of America.
<P>

29   	These concerns led him to make a trip to the United States
during the second week of June this year. Whilst in San Diego,
where Mr
Coleman's companies are based, Dr Carr met with Mr Coleman and other
representatives of Coleman Industries and or Coleman
Technologies. Whilst
travelling on the plane he prepared himself for those meetings and during the
course of the meetings it became
apparent that Mr Coleman had to leave the
United States of America to go to China earlier than expected. Dr Carr
anticipated that
the discussions about the problems that the plaintiff was
experiencing could continue to approximately 7pm but Mr Coleman, on the
plaintiff's version of events, left precipitously at about 3pm on the
Sunday.
<P>

30   	As a result of the failure to reach some form of what Dr
Carr says was a final agreement, Dr Carr wrote a letter on 10 June
to Mr
Coleman's wife, who is apparently a lawyer. That  letter is in evidence before
me and puts forward a proposition and indeed
a willingness of the plaintiff to
enter into and sign a distribution agreement with Mr Coleman's interests on
various conditions.
<P>

31   	That letter is dated 10 June and the conditions include
the destruction of MFX stationery and business cards, an acknowledgment
that
Leigh Coleman was appointed as a non-exclusive agent to act on behalf of MFX in
China and various other acknowledgments and
a warranty that Leigh Coleman and
Veronica Whitaker (apparently Mr Coleman's wife) and any companies of which
they are directors
or shareholders would not institute any legal proceedings
against MFX, its directors or staff.
<P>

32   	The plaintiff said if these conditions were satisfied then
a distribution agreement could be put in place and signed and dated
Sunday, 6
June 1999. That, of course, is a reference to a date four days earlier than the
letter sent to Ms Whitaker.
<P>

     
<P>

33   	It is apparent that this letter was not signed or returned
to Dr Carr and it is also apparent that the plaintiff (through
Dr Carr) and Mr
Coleman had a series of e-mails which, on the one hand, the plaintiff alleged
that the defendants were not entitled
to hold themselves out as the plaintiff's
agent, on the other hand, the defendant through Mr Coleman alleging that he was
astonished
that Dr Carr would be making these claims upon him at this stage of
the negotiations.
<P>

    
<P>

34   	Notwithstanding all of that, further communication was
sought and Dr Carr eventually convinced Mr Coleman and Mr Ghattas to
come to
Sydney on their way to China for further discussions. That occurred and both
defendants were in Sydney on Thursday 24 and
Friday, 25 June 1999. Meetings
were held. The contents of those discussions at those meetings were on a
without prejudice basis and
of course have not been referred to in content or
detail before me.
<P>

     
<P>

35   	However, it is apparent that the discussions did not lead
to a settling of the differences that had developed between the
plaintiff and
Mr Coleman.  At this stage, that is on 25 June and on 26 June, the defendants
still held or still had possession of
the plaintiff's copies and it is claimed
the original master copies of MFX 2000.
<P>

36   	Dr Carr understood that the defendants were departing
Australia on Saturday 26 but on enquiry of the Menzies Hotel understood
that
the two defendants would remain in the jurisdiction for another 12 to 24 hours,
although he wasn't sure of the timing of their
departure. Accordingly, he then
instructed Mr Freidman to make an application that precipitated my orders of 26
June 1999.
<P>

     
<P>

37   	It is what happened at that application that has been the
basis upon which the defendants move to have the injunction discharged.
The
basis of the notice of motion is for a material non-disclosure by the
plaintiff.
<P>

38   	It is important therefore to indicate what was before me,
or more objectively, the Judge, on Saturday 26 June 1999. The application
was
made at 7pm in Court 9B.  As there was no Court Reporting staff available I
taped the evidence of Dr  Carr. The transcript of
that tape is exhibit K before
me in this application. The evidence was led by Mr Freidman, to which I have
already made reference
and during the course of that evidence exhibits A to J
were tendered (there being no exhibit I). Upon the evidence led and the
exhibits
before me I made the orders to which I have referred.
<P>

39   	Mr Pritchard for the defendants has submitted a bundle of
documents consistent with the annexures to Dr Carr's affidavit and
an affidavit
that he read of Lisa Berton, the solicitor for the defendants. He points to a
number of documents within that bundle
as being documents that were not
disclosed and not produced to me in the application and relies upon those
documents as forming the
basis upon which he says I will be satisfied that the
Judge was mislead on 26 June 1999 and that there was a material
non-disclosure.
<P>

40   	Mr Pritchard has helpfully referred me to Santow J's
decision in<b> TQM Cargo Logistics Pty Ltd &amp; Ors v Drake, 2 September
1998</b>, wherein his Honour referred to Spry's Equitable Remedies 5th Ed (LBC.
1997) at 495 referring to the duty of candour in disclosure
by an ex parte
applicant for injunctive relief:
<P>

"Where application is made ex parte the obligation of the plaintiff is not
merely not to mislead the Court by expressly or impliedly
making
representations that are untrue as is otherwise ordinarily the case in an
interparties proceedings but in addition he is under
the duty of disclosing to
the Court all matters which are within his knowledge or would have been
discovered by  proper enquiries
and which are material to the proceedings at
hand and tend in favour of an absent party.  A matter is regarded as material
for these
purposes either if it is relevant to the existence of a power to
grant an injunction or if it is one of those circumstances that
the Court takes
into account in exercising its discretion."
<P>

     
<P>

41   	I was also referred to a line of the authority by Mr White
in respect of the materiality of non-disclosures. In particular
<b>Kerr on
Injunctions</b> at page 660 says:
<P>

"If on the motion to dissolve an ex parte injunction it appeared that the
plaintiff has misstated his case either by misrepresentation
or by the
suppression of material facts so that an injunction has been obtained which
would not have been obtained if a more accurate
statement of the case had been
made, the injunction will be dissolved on that ground alone."
<P>

.
<P>

42   	A material non-disclosure in my view is one that has to be
significant and influential upon the outcome of the application.
<P>

43   	Mr White also referred me to a line of authorities
referred to in Ritchie and in particular <b>Gillfillen v Gillfillen  <a href="/cgi-bin/LawCite?cit=%281973%29%206%20SASR%20330" title="View LawCiteRecord" class="autolink_findcases">(1973) 6
SASR 330.</a></b>   In Gillfillen Sangster J said:
<P>

"Returning to the question of whether I should dissolve the injunction made by
Walters J, the law is clear it is the duty of the
party asking for an
interlocutory injunction in any jurisdiction if that application be made ex
parte to bring to the Court all facts
material to the determination of that
party's right to that injunction and any omission to bring any material facts
before the court
is a ground for dissolving the injunction so obtained. I need
only refer to the case of Thomas A Eddison v Bullock <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1912/72.html" title="View Case" class="autolink_findcases_inserted">[1912] HCA 72</a>;  <a href="/cgi-bin/LawCite?cit=%281912%29%2015%20CLR%20679" title="View LawCiteRecord" class="autolink_findcases">(1912) 15 CLR 679</a>, a
decision of Isaacs J and I refer to his Honour's reasoning at page 681 to 683
and to the English Supreme Court Practice 1973 29/1/25
where the learned
authors cited Boyes v Gill  <a href="/cgi-bin/LawCite?cit=%281981%29%2064%20LT%20824" title="View LawCiteRecord" class="autolink_findcases">(1981) 64 LT 824.</a> The omitted material must of
course be such as might have influenced the learned judge upon hearing the
party's application (O'Brien
v Australian Temperance and General Mutual Life
Insurance Society Ltd  <a href="/cgi-bin/LawCite?cit=%281991%29%2024%20SALR%20129" title="View LawCiteRecord" class="autolink_findcases">(1991) 24 SALR 129)"</a>
<P>

44   	So, it seems to me that non-disclosure, as I say, must be
significant and influential to the determination of the ex parte
application.
<P>

45   	Mr Pritchard submits that the correspondence to which I
was not referred falls into such a category. I should therefore deal
with each
of the matters upon which he has relied.
<P>

46   	The first is an e-mail dated 18 February which he submits
is obviously in response to Mr Coleman's letter of 16 February 1999.
That
e-mail says:
<P>

"Leigh, thanks for the comprehensive comments.  I agree and we simply need to
agree on detail. Sorry, I read that 8 hours ago and
forgot to reply.  I will be
in touch."
<P>

     
<P>

47   	Dr Carr was cross-examined about this e-mail and did not
agree with the proposition put to him that it was in fact an e-mail
in which he
agreed with Mr Coleman to an agreement in principle. Indeed, Dr Carr suggested
at one stage that this e-mail may well
have been a response to a telephone
call. Without any need to decide that matter for the moment, if it is a
response to the letter
of 16 February then it is important to know, on one view
of it, what it was that he was agreeing to. Was he agreeing that the issues
that needed to be dealt with were, as I have said earlier, the terms of
licence, the price, method of payment, control of intellectual
property,
technical support, et cetera?  Was he agreeing to Mr Coleman's suggestions that
he had made that there was not a lot of
time to roll the product out and he
wanted an agreement in principle and that what he proposed was a good fit and
he should move
immediately?  Or was he agreeing to the proposal that each of
them should work together in mutual support?
<P>

     
<P>

48   	So far as the e-mail is concerned it is quite clear that
it was not before me on 26 June 1999, nor on 28 June 1999. The plaintiff
says
that this is not any evidence of any agreement, indeed the other correspondence
indicates that  this was simply a statement
that there was some need to agree
to various matters in detail and negotiations were continuing. However, the
defendant says that
the words "I agree and we simply need to agree on detail"
is a most material matter to which the Court should have been taken at
the time
of the ex parte application.
<P>

49   	Dr Carr said he looked at this e-mail and decided that
this was not relevant to the application before me. He said that he
was not of
the opinion that it turned upon any issue of relevance to the ex parte
application and that the e-mail was identified
as originating from Coleman
Industries and not Coleman Technologies. I am not sure of why that
qualification is made but it is apparent
that the e-mail of 18 February is
clearly one that has emanated from Coleman Industries.
<P>

50   	Certainly if, as the defendant claims, the plaintiff was
agreeing that there be an agreement in principle and the detail be
nutted out,
that is a matter that may have been a most important aspect of this case.
Because of other matters, to which I will refer,
I will come back to this
e-mail in due course.
<P>

51   	The next item on Mr Pritchard's list is 24 February 1999,
an e-mail from Dr Carr to Mr Coleman wherein Dr Carr told Mr Coleman
that he
will produce an NDA distribution agreement to Mr Coleman so that "we can
progress ASAP". That item was not before me on 26
June, nor on 28 June. The
evidence given by Dr Carr on this topic was that that was a confidentiality
agreement and that this happens
regularly and that he was of the view that this
did not seem to him to be a matter of any relevance at all, a submission which
Mr
White made in terms of the exercise of my discretion on Saturday, 26 June.
That matter seems to me to be of little importance in
the scheme of things and
so I will move to 18 April which is an e-mail from Dr Carr appointing Mr
Coleman, it is claimed, as agent
in Canada.
<P>

52   	That e-mail of 18 April says in part:
<P>

"Hi Leigh. I have observed how broad your shoulders are.  Are you happy to
manage Canada as well as the USA in North America?"
<P>

53   	The term "Are you happy to manage Canada as well as the
USA in North America?" is relied upon by the defendants in suggesting
that the
distribution agreement was agreed in principle and that not only was it agreed
in principle but that Dr Carr was asking
Mr Coleman whether he was happy to
manage the USA together with Canada in the North American distribution of the
plaintiff's product.
That was not disclosed to me on 26 June, nor on 28 June.
The defendants say that that is a matter material and should have been
disclosed
because of its importance, that the plaintiff was asking the
defendant to manage the USA.  The plaintiff, on the other hand, says
that is
just another step in the negotiations, if at all and really if it is a
non-disclosure, it is not a material one.
<P>

54   	The situation is that seems to me to be right in terms of
that statement but I will return to this e-mail together with the
e-mail of 18
February in due course.
<P>

55   	There was then a submission by Mr Pritchard that the
software licence agreement prepared by Messrs Freehill Hollingdale &amp;
Page
was a material non-disclosure. On the  evidence before me I don't need to go
into a good deal of detail on this particular matter
because it seems to me
that it is abundantly clear that this matter was one in which the defendant was
authorised to act for the
plaintiff in a different vein, that is he was
authorised to sign an agreement with the particular third party as agent for
the plaintiff.
This is something quite different from what is being agitated
here, that is the distribution agreement between the plaintiff and
the
defendant and or Coleman Industries for the purposes of distributing MFX 2000.
It was not disclosed.  If it is to be considered
as a non-disclosure I am of
the view that it was not material.
<P>

56   	There is then a letter of 22 April on which Mr Pritchard
relies from Dr Carr to Mr Coleman. That letter is  headed "Real Time
Marketing
Solution". That in fact is caught up with the software licence agreement to
which I have just referred and is to be encompassed
in the view that I
expressed that if it is a non-disclosure it is not material to this particular
matter. It deals specifically with
the signing of that agreement.
<P>

57   	The last document is a letter of 4 June 1999 from Dr Carr
to Mr Coleman. This is a letter that Mr White submitted that Dr
Carr produced
on the way to America from Sydney in the first and second week of June, to
which I have referred earlier, when the
concerns had arisen between the
plaintiff and the defendant and Dr Carr and another colleague travelled to the
States to thrash out
the issues. The letter was not before me on Saturday 26
nor Monday, 28 June. Mr Pritchard relies upon this letter to submit that
it is
a non-disclosure and a material non-disclosure which entitles his clients to
the discharge of the injunctions. The letter in
part says:
<P>

"Dear Leigh, as you are aware I am subject to the scrutiny of the Board and as
we have previously discussed I have been instructed
to resolve apparent issues
in the running of MFX Research in the USA."
<P>

58   	Dr Carr then for the first time, it is said, in writing
refers to Mr Coleman's letter on Coleman Industries letterhead of
3 March 1999,
to which I have referred earlier. He then comments on eight points raised on
page 1 of that letter by posing various
questions and making various comments
about the matters raised in that letter. He says, for instance, where Mr
Coleman had suggested
that Mr Coleman would attend promotional events in the
United States of America, "provision of a report of such activities".  Where
Mr
Coleman referred to US operations base for MFX, Dr Carr said "needs
confirmation" and where Mr Coleman suggests that Coleman Industries
might
provide marketing intelligence Dr Carr said "we have not seen a report". He
then said: 
<P>

"On page 2 of your document you mention that you would have certain
requirements and we feel that we have provided technical training,
marketing
collateral and economic support. You suggested that you would provide us
promotional strategy and budget but we have not
received a marketing plan. All
of the above has to be seen in the context of a high margin ranging from 7.5
per cent to 10 per cent
of total territory turnover based upon a mutually
agreed goal. It is the aim of Alex and myself to resolve any issues in a
positive
fashion and it is on this basis that we are visiting you in the USA to
remove  any misunderstandings."
<P>

     
<P>

59   	That letter, it seems to me, is an important letter. It
deals with a number of issues that have been raised in the proposal
placed
before the plaintiff by Coleman Industries for the distributorship of MFX 2000
in the United States of America. It formed
part of the thought processes of Dr
Carr as to what he viewed as the appropriate response to the proposal put
forward by the defendant
for its distributorship agreement.
<P>

     
<P>

60   	As to why it was not disclosed to me, Dr Carr swore an
affidavit in the following terms:
<P>

"On or about 4 June 1999 Alex Lopez and myself travelled to California to meet
with Mr Coleman on 6 June 1999 for the purpose of
resolving the issues in
dispute between us. In that regard I refer to paragraph 12 of my affidavit
sworn 28 June 1999.  Annexure
M (which is in fact the letter of 4 June) was
handed to Mr Coleman when we met him on 6 June 1999. It represented an agenda
for the
meeting with Mr Coleman of the document.  Annexure M (that is the 4
June letter) is evidence of negotiations that were continuing
between the
parties as at that point in time. The document does not represent an agreement
in terms or otherwise and I did not think
it is relevant to the issues to be
determined by her Honour on the ex parte application."
<P>

61   	The reference to paragraph 12 of the affidavit of 28 June
encompasses material to which Dr Carr had deposed about his concerns
that Mr
Coleman or his companies would not have the capacity to represent the plaintiff
in the United States of America. He claimed
in paragraph 12 in his 28 June 1999
affidavit:
<P>

"Mr Coleman assured me on a number of occasions his companies had the capacity
to set up an MFX office in San Diego and that there
were resources available to
properly represent the interests of  MFXR."
<P>

62   	After referring to the trip by himself and Mr Lopez to the
United States of America Dr Carr went on to say:
<P>

"Coleman Industries Inc appeared to operate out of offices occupied by Avery
Bennett Inc, which I understand to be an employment
and recruiting agency run
by Mr Coleman's wife.  I was not introduced to any person having a technical or
computer related background.
Further, at about this time, I became aware of the
proposed involvement of another company associated with Mr Coleman, Coleman
Technologies
Inc. I am not aware of the relationship between Coleman Industries
Inc and Coleman Technologies Inc, if any. As a consequence of
my trip to San
Diego I formed the view that Mr Coleman and his companies were incapable of
adequately representing the interests
of MFXR in the United States as agent. I
was however prepared to appoint Coleman Technologies or Coleman Industries as a
distributor
of MFX 2000 technology subject to the terms set out in the
facsimile dated 10 June."
<P>

I have already made reference to the letter of 10 June.
<P>

63   	So, it can be seen that Dr Carr at the time of the ex
parte application apparently had reference to the letter of 4 June but
took the
view that it did not represent an agreement in terms and he did not think this
was relevant to the issues to be determined
by me on an ex parte
application.
<P>

64   	He also told me that he had in fact taken advice from  his
solicitor, Mr Freidman. It is to be noted that Mr Freidman is a
director of the
plaintiff. That fact was not disclosed to me, albeit that that fact is not
relied upon by Mr Pritchard.  He gently
put a submission that Mr Freidman was a
director and therefore should have been aware of the material to which I am
referring now
and inferentially the submission is Mr Freidman, being both the
solicitor leading the evidence from Dr Carr in the ex parte application
and a
director, should have known about and should have disclosed the document to the
Court.
<P>

65   	Just testing the question of whether this is in fact a
matter that would obviously fall outside a category that Dr Carr would
not put
before me through his lawyers, it is the case that he did in fact put before me
material that was evidence of negotiations,
so the fact that it was merely
negotiations and not agreement could not be a basis for not disclosing it. The
whole of his documents
he says were evidence of negotiation and only
negotiation, and not of any agreement having been reached.
<P>

     
<P>

66   	But if one reads the letter of 4 June in a particular way
it becomes, on one view of the evidence, clear that Dr Carr had
claimed that he
had already provided technical training, marketing collateral and economic
support consistent with Mr Coleman's suggestion
in his letter of 3 March.
Nowhere else does it appear in the evidence, indeed I was not told on 26 June
that such technical training,
marketing collateral and economic support had
been provided to the defendants. That seems to me to be a very important matter
and
although this letter is suggested to be a mere agenda for the meeting, the
statements within this letter do not sit happily with
such a description.
<P>

67   	The opening lines of the letter "as you are aware I am
subject to the scrutiny of the Board and as we have previously discussed
I have
been instructed to resolve apparent issues in the running of MFX research in
the USA", suggest that there were previous discussions
and he had to sort out
those things that had in fact occurred in relation to the "running of MFX
research in the USA". If that means
the running of MFX Research in the future
once we get an agreement, that is one thing. If it means the running of MFX
Research as
it currently stands, that is another and very important aspect.
<P>

68   	I simply can not understand how this document could be
thought to be not relevant and a conscious decision was made by Dr
Carr not to
produce it, he having told Mr Pritchard that much in the witness box.
<P>

69   	It is therefore important to decide whether this
non-disclosure was material within the meaning of the authorities to which
I
have already referred.
<P>

70   	Is it a matter which would have been influential for the
determination of the application on 26 June 1999, as has been stated
by Mr
Pritchard?  I am at the disadvantage of being both the Judge who granted the ex
parte application and the Judge who has to
decide this issue, there being
absolutely no application to have it heard before another judge.
<P>

71   	It is a difficult situation because what was disclosed
thereafter seems to me to be in support of the defendant far more than
the
letter of 4 June. If I can transport myself to an objective situation and look
back at the judge on the Saturday night and assess
whether that judge, myself,
would have granted the ex parte application or would not in the circumstances
of the disclosure of 4
June, it is important to rely upon the e-mail of 8 June
from the defendant to the plaintiff to analyse the situation. The defendant
wrote to the plaintiff in astonishment at an e-mail which had been sent to the
defendant on 8 June. The defendant said:
<P>

"I am astonished at the receipt of this e-mail given the discussion that took
place at our meeting. You undertook to immediately
forward a signed
distribution contract for Coleman Technologies Inc the next day. You did this
in my presence and Veronica's. Is
it that you don't want us to sell MFX?"
<P>

Mr Coleman then requires or asks the plaintiff to confirm: 
<P>

"You will honour your agreements with (a), my distribution agreement and as
agreed at our meeting resolve the issue of MFX representation
later. Mike,
remember I wanted you to get here Saturday.  You chose not to meet till the
next day, you knew I was leaving. It is
not my fault I am running hard for your
company. It concerns me however that we have come to an agreement and I trusted
you to follow
through. We know too much about each others activities et cetera
and all you are raising are issues of phone answering and reporting.
Given
that, I have been most patient waiting for you to sign my formal agreement
because I was signing the contract for Coleman Technologies
you even agreed to
back date to cover me."
<P>

That of course is a reference to the back dating of the 10 June promised
distribution agreement to 6 June.
<P>

     
<P>

72   	So, the application came before the judge on 26 June with
the disclosure that the defendant had made these allegations, that
there had
been an agreement and that it was agreed to back date it. The letter of 10 June
indicates a willingness to agree and to
back date it. There has been no
response.
<P>

73   	So did the disclosure of the 8 June e-mail dissipate any
materiality of the non-disclosure of the 4 June letter? Would a judge
seeing
the 4 June letter have been influenced not to grant the ex parte orders that
were granted on 26 June 1999?  It is important
to note that it is not submitted
that the orders should not have been granted on any other basis than
non-disclosure.
<P>

74   	It does seem to me that the 8 June 1999 letter sets out
the defendants' position most clearly in terms of what Mr Dr Carr
had agreed to
do.
<P>

75   	On balance, doing the best I can in this somewhat
difficult circumstance, I am of the view that it was a serious non-disclosure,
that is that it should have been disclosed.
<P>

76   	On balance I am not satisfied that it was material to the
point to have a significant or  influential effect on the determination
of the
matter by the judge on 26 June 1999.  Accordingly the e-mails of 18 February
and 18 April, they being although relevant are
less important  than the 4 June
letter and I form the same view in respect of those two documents.
<P>

    
<P>

77   	Accordingly, the defendant fails to have orders 1 and 2
made in the notice of motion on the basis of material non-disclosure.
<P>

78   	Last evening when the application was not completed until
after the expiration of the orders made on 28 June, the orders were
continued
to 5pm today. Mr Pritchard submits that there is a serious question to be
tried.  It seems to me that that is correct.
The balance of convenience, it is
submitted, is in the defendants' favour because of a number of contracts having
been entered into
and there being  the possibility that the defendants may
suffer a very large amount of damage.  The defendants have not complied
with my
order of 28 June to supply the affidavit evidence and have not in fact produced
the original master copies, albeit that they
have to be produced by 5pm
tonight.
<P>

79   	In requesting Mr Pritchard to obtain instructions
overnight as to where the original MFX 2000 technology was Mr Pritchard
candidly indicated that he was having some difficulty contacting his client who
left the jurisdiction on Sunday morning.
<P>

80   	The difficulty for the plaintiff is that it too is
experiencing exactly the same problems that Mr Pritchard has been experiencing.
Mr Coleman will not tell the plaintiff with whom it is that he entered into the
contracts. There has been one contract produced,
dated 24 June 1999, a day upon
which the two gentlemen were in Sydney. That contract was not sighted by Dr
Carr until it was produced
to the Court on Thursday, 1 July.
<P>

81   	In all the circumstances it seems to me that some
communication should have occurred between the defendants and their solicitors
to at least provide the material required by the Court and should be
provided.
<P>

     
<P>

82   	The balance of convenience is in favour of the plaintiff
in my view. It has produced this technology for the purposes of marketing
world
wide and the urgency of that marketing is because it deals with the Y2K
problem. The suggested regime that Mr Pritchard very
sensibly suggested in
paragraph (g) on page 7 of his outline of submissions for a proper interim
reporting regime would be a sensible
regime if one could speak to the
defendants, one would have thought but it is abundantly clear that these
defendants are, to give
them the benefit of the doubt, so terribly busy or in a
rush, as they have stated, to roll out the product that they have no time
to
even instruct their attorneys in these proceedings.
<P>

83   	I am satisfied that the balance of convenience is with the
plaintiff so that it can in fact pursue the contracts it wishes
to pursue both
nationally and internationally for the purposes of completing its business
plan.
<P>

84   	The important aspects of the defendants' case in this
regard have been brought to my attention through the evidence of Lisa
Berton in
paragraphs 6 to 12.  Ms Berton sets out the instructions that she has received
from Mr Coleman over the telephone whilst
he travels the word.  The highest it
has been put in Ms Berton's affidavit is that if Coleman Technologies Inc, that
is a company
different from Coleman Industries Inc:
<P>

 
<P>

"is unable to meet its distribution arrangements with third parties...it may be
liable to those third parties for damage."
<P>

85   	I emphasise the word "may". There is also a paragraph
which deals with instructions from Mr Coleman and Mr Ghattas in terms
that they
will need "at least ten days to comply with the orders made last Saturday
night." Those orders require, without fettering
the defendants' proper claims
for privilege, the production of the affidavit to indicate to the plaintiff
with whom contracts have
been entered for the purported distribution of the
plaintiff's product and the delivery up to the plaintiff of its original master
copies of MFX 2000. Those orders, in my view, must be complied with.
<P>

86   	In all the circumstances I am of the view then that the
balance of convenience in the plaintiff's favour requires the continuation
of
the orders and I do make those orders.
<P>

87   	The defendants raise an issue about the genuineness or
effectiveness of the undertaking given by the plaintiff in respect
of these
restraining orders. The documentary material relied upon by the defendant to
suggest that the Court would have some concern
about this undertaking in my
opinion does not defeat the genuineness of the undertaking given by the
plaintiff, however, if there
is to be an application by the defendants in
respect of any security for costs, that is a different and separate matter.
<P>

 
<P>

(The matter was stood down for the purpose of short minutes to be prepared.)
<P>

*********
<P>

LAST UPDATED: 	14/07/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/692.html</i><br>
</p>
</small>
</body>
</html>
