<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Permanent Trustee Co Ltd and Anor v Keogh and Ors [1999] NSWSC 716 (22 July 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 716</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+716 or 1999+NSWSC+716">Noteup</a>]
[<a href="716.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Permanent Trustee Co Ltd and Anor v Keogh and Ors [1999] NSWSC 716 (22 July 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_716.html-->
<!--sino date 22 July 1999-->


<P>Last Updated: 9 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Permanent Trustee Co Ltd &amp; Anor v Keogh &amp; Ors  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/716.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
716</a>
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	CLD 15225/92
<P>

HEARING DATE{S): 	21, 22, 23, 24 June 1999 
<P>

JUDGMENT DATE: 	22/07/1999
<P>

 PARTIES: 
<P>

Permanent Trustee Company Limited, Morlend Finance Corporation (Vic) Pty
Limited v R.V. Dimond (Valuations) Pty Limited and R.V.
Dimond (Sales) Pty
Limited trading as Dimonds First National, J. Daczko, R.J. Joice and Stuart
Rowan  
<P>

JUDGMENT OF: 	Davies AJ      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiffs: T.S. Hale
<P>

Defendants 4-7: M.T. McCulloch
<P>

SOLICITORS: 
<P>

Plaintiffs: Watson Mangioni
<P>

Defendants 4-7: Murray Stewart &amp; Fogarty
<P>

CATCHWORDS: 
<P>

Damages
<P>

Negligence
<P>

Property valuation for the purpose of loan
<P>

Failure to take into account Council order under s 310(b) of the Local
Government Act 1919 (NSW)
<P>

ACTS CITED: 
<P>

Local Government Act 1919 (NSW)
<P>

DECISION: 
<P>

Judgment for the plaintiffs
<P>

JUDGMENT: 
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

COMMON LAW DIVISION 	
<P>

						CLD	15225/92
<P>

						DAVIES AJ
<P>

						Thursday, 22 July 1999
<P>


<P>

<center><u>PERMANENT TRUSTEE COMPANY LIMITED &amp; ANOR</u>
<P>

<u>v   KEOGH &amp; ORS</u>
<P>

<u>REASONS</u></center>
<P>


<P>

1   	HIS HONOUR: When the proceedings commenced, the plaintiffs,
Permanent Trustee Company Limited and Morlend Finance Corporation
(Vic) Pty
Limited, who were financiers, claimed that they had suffered damages as the
result of negligence on the part of a firm
of solicitors and on the part of a
firm of valuers.  The solicitors are no longer involved in the proceedings. The
claim against
the valuers, the defendants, is based on the contention that they
failed to obtain and to refer to in their valuation an order by
the Penrith
City Council made under section 310(b) of the Local Government Act 1919
(NSW).
<P>

2   	The plaintiffs lent money on the security of a property
which was occupied at the time of the loan by a tenant.  The notice,
of which
they were not aware and which was not brought to their attention by the
defendants, was a notice that, unless the proprietors
carried out certain works
within a period of 28 days, recommendations would to be made to institute legal
proceedings for breach.
The notice specified 23 matters to be complied with,
the first of which was to complete the buildings in accordance with the
approved
plans and specifications.  Clause 11 referred to condition 652 of the
Building Approval which required that the construction works
be completed to
the Council's satisfaction prior to occupation of the building or issue of the
certificate of compliance.
<P>

3   		The issue as to whether the valuers had been negligent in
failing to become aware of that notice and in failing to advise
the plaintiffs
of it and as to whether loss resulted therefrom was referred to a referee, Mr W
H Nicholas QC. The referee found in
favour of the plaintiffs on the issue of
liability in that he found that there was a duty on the valuers to make
adequate enquiries
and to inform the plaintiffs of the existence of the notice,
which they failed to do.
<P>

4   		Another basis of liability which had been alleged, that
the valuers were in doubt about the validity of their figures, was
rejected.
In the course of dealing with that ground, the referee said:
<P>

"<i>I am not satisfied that Mr Daczko did, as a matter of fact, have any doubt
that the figures advised in the letter to FML of 8th October
1990 were correct.
I accept his evidence in cross-examination that, after investigation, he had no
doubts about the valuation. Furthermore,
</i><cite>there was no
evidence</cite><i> through Mr Robertson, or otherwise, </i><cite>by way of
challenge to the valuation, the methodology, or to the adequacy and relevance
of the comparable sales information obtained</cite><i>. For example, there was
neither evidence nor submission to the effect that the figure of $1.9 million
was wrong.</i>" (emphasis added)
<P>

5   		On the question of reliance and causation the referee
found in favour of the defendants.  The referee said:
<P>

"<i>As a matter of probability I find that the decision to approve and proceed
with the transaction was dependent upon satisfaction as
to valuation, tenancy,
the financial viability of the borrower, and availability of mortgage
insurance. The information obtained
resulted in satisfaction as to those
matters. Any question as to if, when, and in what circumstances the building
would be completed
was never raised as a matter of concern although from the
outset there was opportunity to do so and to investigate it. My conclusion
is
that such a question never was, nor would have been, a matter relevant to the
decision to proceed either on the part of Mr McKay
or of Mr Landy.</i>
<P>

<i>....</i>
<P>

<i>I have already stated that I found Mr Landy to be an unreliable witness. I
am bound to say that I do not accept as the truth his evidence
that had he
become aware of the Notice he simply would not have proceeded."</i>
<P>

6   		The referee's report came before Simpson J.  Her Honour
accepted much of the report but she came to the view that the referee
had not
addressed what she described as two important and related issues on the
question of reliance and causation. Her Honour said
on the first issue:
<P>

<i>"The first of these is the impact on the saleability - and therefore the
value - of the properties of the existence of the notice
as distinct from the
existence of the outstanding work.  There is, in my view, a qualitative
difference between recognising and accepting
that a development is incomplete,
and recognising and accepting that a development is incomplete
</i><cite>and</cite><i> is the subject of a notice from a local government
authority requiring its completion within a specified (and short) time, non
compliance
with which will or might result in the application of sanctions,
including loss of the right to occupy."</i>
<P>

On the second issue her Honour said: 
<P>

<i>"The second issue not addressed flows from that and concerns the right to
occupy.  The referee found that the decision by the plaintiffs
to proceed with
the loans was dependent upon their satisfaction as to, inter alia, valuation
and tenancy.  The reasons for their
interest in the security of the tenancy are
obvious.  It has a bearing on resale value, and presumably a bearing on the
borrowers'
capacity to meet their obligations under the loan agreements.  There
was evidence that the referee was entitled to and did accept
that the existence
of the notice had no bearing on valuation (although it is a rather surprising
view).  But, in the light of the
express threat to the right to occupy
contained in paragraph 11 of the attachment, he could not reasonably have come
to the view
that, even with knowledge of the existence of the notice, the
plaintiffs would have regarded the tenancy as secure and the existence
of the
notice as immaterial to their decision to lend."</i>
<P>

7   		It seems to me that her Honour had in mind by those two
issues that there was a question as to the significance of the s 310(b)
order
and that the answer to that could not be resolved by reference only to the
matters to which the referee referred, namely, that
the officers of the finance
company, Mr McKay and Mr Landy, had at the time been satisfied as to valuation,
tenancy, the financial
viability of the borrower and the availability of the
mortgage insurance, and had been aware that there were works still to be done.
Her Honour considered that there were issues as to the significance of the s
310(b) notice that ought to be examined. One was what
effect the notice and the
works the subject of the notice had on saleability and the second was what
effect they had on what I would
call the risk. The specific element of risk to
which her Honour referred was the possibility of interference with the right to
occupy
as a result of action on the part of the Council.
<P>

8   		The formal order of the Court contained these
provisions:
<P>

"<i>1. 	That the report of Mr W H Nicholas, QC dated 7 April 1997 be adopted
only as to his findings that:</i>
<P>

<i> </i>
<P>

<i>(a) 	 in failing to discover the s 310 Notices and to advise FML of its
effects, the Fourth to Seventh Defendants were negligent and
in breach of their
retainer;</i>
<P>

<i> </i>
<P>

<i>(b) 	 the Plaintiffs had failed to establish as against the Fourth to
Seventh Defendants that in breach of their retainer and of duty
the valuation
was made negligently;</i>
<P>

<i>..........</i>
<P>

<i> </i>
<P>

<i>7. 	That the Plaintiffs' claim against the Fourth to Seventh Defendants be
listed for hearing as to damages, including the issues
of reliance and
causation."</i>
<P>

There is a tension between the matters stated in pars 1(a) and 7 of the order
and that stated in par 1(b) for if the s 310(b) notice
was a relevant matter
one would think that, ordinarily, it would be relevant to the valuation and
therefore, if the valuation did
not refer to it in some way, the valuation
itself would have been negligently done.
<P>

9   		In my opinion, the orders follow the pattern that, before
the referee, the plaintiff did not call any express evidence going
either to
the quantum expressed in the valuation or to the general methodology used in
the valuation. Therefore it is not open, by
reason of order 1(b), for the
plaintiff to call evidence directly attacking the valuation as such. However,
it seems to me there
is still the issue as to the s 310(b) notice and its
significance and it is that matter which her Honour has sent off for trial and
it is that matter which I am now considering. It seems to me that I should not
put artificial restrictions on that issue simply because
evidence about it may
touch upon the valuation.
<P>

10   		A contention throughout the trial has been that, in her
reasons, Simpson J accepted that the referee was entitled to and
did accept
that the valuation had not been negligently done and that, by reason of order
1(b), that issue is entirely foreclosed.
Counsel for the defendants, Mr
McCulloch, said that, before the referee, the defendant Daczko gave evidence
that the s 310(b) notice
would have had no effect upon value. Whether he did or
did not I do not know, but it may be that that was the basis of her Honour's
comment which I have set out above. Mr McCulloch proceeded from that point to
say, in effect, that it could not be contended that
the s 310(b) notice had any
financial implications, excepting of course to the recipient of the notice. He
submitted that that matter
had been determined against the plaintiffs by the
decision of the referee and by the order which her Honour made. 
<P>

11   		In my opinion, her Honour left open issues of saleability
and risk arising from the existence of the s 310(b) notice and
ordered that
those matters be determined in these present proceedings. It follows that the
Court is not bound by evidence which is
not now before the Court and which Mr
Daczko may have given to the referee. The parties are precluded from making any
direct challenge
to the valuation for that issue has by virtue of the referee's
findings and her Honour's order 1(b) been determined in favour of
the
defendants. However, the plaintiffs are not precluded from adducing evidence as
to the implications of the s 310(b) notice. Insofar
as the evidence shows that
the s 310(b) notice had monetary implications with respect both to the
saleability of the property and
its risk as a security, then that evidence goes
directly to the issue specified in orders 1(a) and 7, which her Honour has set
aside
for trial. Such evidence does not become irrelevant or outside the ambit
of the inquiry merely because there may be an inference
from it, even a
necessary implication, that the valuation should have referred to the s 310(b)
notice and been qualified accordingly.
It is the purpose for which the evidence
is tendered and received which is important not the totality of its
ramifications. 
<P>

12   		I shall commence by mentioning first the evidence given
by persons other than officers of the plaintiffs. The evidence given
by Mr
Daczko before the referee is not before the Court and no evidence has been
given by any of the defendants. Mr McCulloch called
Mr S.J. Pillon, an officer
of the Penrith Council who was, in 1990, the District Health and Building
Surveyor of the Council and
who, in company with officers of the Council's
Planning Department and engineers of the Council, carried out the building
inspection
which took place prior to the issue of the s 310(b) notice. Mr
Pillon described the Council's practice with respect to enforcement
of such
notices as follows:
<P>

"<i>The Council's usual practice with developments is to ensure they are
completed in accordance with the approval and one of the ways
of ensuring that
happens is to, at the stage of issuing a notice and prior to taking legal
action, would have been to negotiate amicably
a solution by way of resolving
these issues. Generally by taking legal action it would not have resolved
compliance with those requirements
so it is general practice to try and resolve
outstanding items as best as possible.</i>
<P>

<i>...</i>
<P>

<i>A. I don't think I can give an answer as to the time frame of how long
Council would have allowed completion of the works but certainly
some
indication of a schedule and a time frame would have been entertained within a
reasonable time frame.</i>"
<P>

Later in his evidence, Mr Pillon said that legal proceedings were usually taken
as a last resort. Mr Pillon said that the items
specified in the s 310(b)
notice involved aspects of both the building approval and the development
approval. He said that, in fact,
no further action was taken by the Council
until the property was put up for sale in late 1992 and that, on 9 October
1992, the Council
served two further notices, a notice under s 310(b) of the
Local Government Act and one under s 317D of the Act, having similar effect
to
the notice with which we are concerned.
<P>

13   		This evidence was relied upon by Mr McCulloch to say that
the Council would, in 1989, have been prepared to negotiate time
to complete
the works. I accept that point.
<P>

14   		Mr N.J. Moses, a solicitor called on behalf of the
plaintiffs gave this evidence as to the significance of a s 310(b) notice:
<P>

"<i>Well the existence of a notice under 310B of the Local Government Act which
then applied was a matter which in normal circumstances
would reduce the value
of the property and it would be normal for a solicitor to say to his client, if
the client were relying on
the solicitor for that sort of commercial advice,
"Look, the fact that this notice is issued means that if you ever have to
realise
this security you are going to have difficulty in doing so unless the
notice has been complied with and as your ultimate security
is the property and
the ability to sell the property to recover your money if there is default
under the mortgage, you ought to ensure
before lending the money that the
notice has been complied with so that a purchaser will not object to the
existence of the notice
on the sale of the property.</i>"
<P>

15   		The effect of this evidence, which I accept, is that a s
310(b) notice is a matter which a solicitor would advise had implications
as to
the saleability of the property to be mortgaged and as to the risk of the
security.
<P>

16   		Mr McCulloch did not cross-examine Mr Moses but pointed
out that, if the defendants had brought the notice to the attention
of the
plaintiffs, they would have done so prior to the plaintiffs engaging a
solicitor in the matter. He submitted that the plaintiffs
would have spoken to
the defendants about the notice rather than a solicitor. The point seems to me
to be not significant. I would
expect both valuers and solicitors to take a
like view of a s 310(b) notice, for their work brings them into contact with
such notices
and with the views which valuers and solicitors take in respect of
them.
<P>

17   		Mr T.S. Hale, counsel for the plaintiffs, tendered a
statement from Mr J.D. Robertson, a valuer who earlier had given evidence
before the referee. Mr Robertson, who was not cross-examined, stated that if a
s 310(b) notice came to the attention of a valuer,
the valuer would need to
examine the notice and obtain a costing of the works required to be undertaken
in order to ensure that the
building complied with the Council's requirements.
He said that, in preparing a valuation with knowledge of the notice, a valuer
could approach the matter in either of two ways as follows:
<P>

"<i>(a)	The value can be provided `on completion' of all works being rectified,
with a costing advised. Presumably, the lender would then
ascertain from the
borrower where the source of funds were to be obtained to complete outstanding
works.</i>
<P>

<i>(b)	The value can be provided on an `as is' basis, ie:-</i>
<P>

<i>Value of Building `as is'		$</i>
<P>

<i>Less cost to complete		$</i>
<P>

<i>	This cost may incorporate a developer's profit.</i>"
<P>

Mr Robertson also stated that, if the Council were to take steps which brought
to an end the occupation of the property by the tenant,
those steps would have
consequences for the valuation.
<P>

18   		Although Mr Robertson's statement as expressed was
directed at a valuation, the statement was tendered and I received it
not for
the purpose of challenging the plaintiffs' valuation but for the purpose of
determining the significance of the s 310(b)
notice on saleability and risk. In
my opinion, the effect of  Mr Robertson's statement is that a s 310(b) notice
has significant
implications in this respect.
<P>

19   		I now turn to consider how the officers of the
plaintiffs, a Mr Landy, a Mr McKay and a Mr Grecian, would have reacted to
the
s 310(b) notice had they become aware of it.
<P>

20   		It is not in dispute that the plaintiffs were, as the
referee found, satisfied in 1990 of the valuation, the tenancy, the
financial
viability of the borrower and the availability of mortgage insurance. The
matter commenced with a finance proposal sent
on behalf Bewika Pty Limited
("Bewika") to Mr Landy and Permanent Trustee on 23 May 1990. The letter
proposed a three stage financing
of the subject property and adjacent land, of
which stage one required finance of $1.2 million, the property said to be
valued at
$2 million. I need not mention stages two and three which were not
given consideration by the plaintiffs. Under the heading "<i>Stage  Two</i>"
was a note stating:
<P>

"<i>To provide construction finance for expansion.</i>
<P>

<i>The proposed expansion will provide a further 40,000 square feet of storage
space to which a lease has been prearranged with Trio
Trailers (refer letter
attached) at $4.00 a square foot. This lease is to be provided before drawdown
of Stage Two.</i>
<P>

<i>a)	To provide construction finance for extension to existing depot
(prefabricated - $947,000).</i>
<P>

<i>b)	</i><cite>To provide costs to have Stage One comply with Penrith Council
requirements in preparation of extension.             $133,800</cite>
<P>

<i>Total Stage Two:	$1,080,800.</i>" (emphasis added)
<P>

21   		It was put in cross-examination to Mr Landy and Mr McKay,
who gave evidence on behalf of the plaintiffs, that they must have
understood
when they read this that there was an outstanding requirement by the Penrith
Council respecting work to be done on the
subject property. Mr Landy and Mr
McKay said that they did not understand the letter in that way. I accept their
evidence. I would
not read the letter in that manner, although it may raise a
doubt in an inquiring mind. The passage appeared in a section which was
headed
Stage Two and under the words "<i>To provide construction finance for
expansion</i>".
<P>

22   		On the letterhead of Forward Mortgages Group ("FMG"),
whose relationship with the plaintiffs was not clearly explained, Mr
Grecian
wrote a favourable letter to Bewika setting out an "<i>Indicative Offer</i>",
stating that the amount of the loan was to be $1.2 million for three years and
that there was to be an independent valuation of
the property of not less than
$2 million and stating also that written acceptance by a mortgage insurer was
required for such of
the principal sum as exceeded 50% of the valuation. 
<P>

23   		The valuation by the defendants, of whom Mr Daczko was
the valuer for the purposes of the valuation, was dated 15 June 1990
and was
received on 19 June. Amongst other information the following matters were
stated:
<P>

"<i>It was evident at the time of our inspection that the building is yet to be
completed with inclusion of amenities and an office area.</i>
<P>

<i>Discussions with the owner indicated a further $200,000 would be required to
complete these items.</i>
<P>

<i>...</i>
<P>

<i>The subject building has recently been constructed and was found to be in
good condition. As mentioned previously there are no amenities
or offices
available within the building however these are proposed.</i>"
<P>

The valuation valued the property at $1.9 million. The valuation was arrived at
in two ways, first, by valuing the land from comparable
sales, adding the cost
of the improvements and depreciating the total by 15% to reflect a fall in the
market which had occurred.
Secondly, the valuation capitalised the anticipated
rental. Both methods arrived at $1.9 million. I mention these matters not with
a view to discussing the valuation as a valuation, but to indicate the
information that was before the officers of the plaintiffs.
<P>

24   		As the Permanent Trustee Company lent up to only 50% of
valuation without obtaining mortgage insurance, Mr Grecian wrote
on 20 June
1990 to Australian Mortgage Insurance Corporation Ltd seeking insurance for the
balance to be lent over the 50%. In a
subsequent letter dated 25 June 1990 Mr
Grecian wrote:
<P>

"<i>With regard to the valuer comment regarding works to be completed we advise
that these works will be and only required by the Council,
if our client
proceeds with a further redevelopment of our proposed security. We enclose
relevant Section 317AE Certificate applicable
to the site. Our valuer has
ignored these works in his calculations but has advised that these works to be
completed would not detract
or stop sale of the property at his figure.</i>"
<P>

As can be seen Mr Grecian put together the information which was contained in
the application for finance with respect to stage
two and information which
came from Mr Daczko that the works to be completed would not detract from or
stop the sale of the property.
Mr Grecian did not give evidence; but it is
clear from that letter of 25 June 1990 that he was under a misapprehension as
to the
situation with the incompleted works, thinking that they affected only a
proposed future expansion, which was not the case. 
<P>

25   	It is clear that Mr Grecian had been concerned about the
reference in the valuation to the building being incomplete for there
is a note
in his handwriting of 19 June 1990 which read:
<P>

"<i>Spoke with John Daczko regarding valuation and $200m to complete amenities,
office area and roads etc.</i>
<P>

<i>Land value only is $1.2m and works to be completed would not detract or stop
sale of property.</i>"
<P>

26   		Mr McKay said in his evidence in chief that, if he had
been aware that the building was being occupied unlawfully, that the
local
council had issued the notice under s 310(b) or that work to the value of
approximately $200,000 would need to be undertaken
to put the building in a
state where it could be lawfully occupied and used by the tenant, he would not
have recommended the loan
for approval. This evidence is not particularly
helpful as it concentrated on the tenancy and upon the fact that it had been a
term
of the development approval that: "<i>Before usage of the development
commences, all of the conditions of this consent are to be complied with to
Council's satisfaction</i>". Although there was some risk to the tenancy,
disturbance of the occupation was the least probable of the steps which the
Council
would have been likely to take, certainly within the three year period
of the finance.
<P>

27   		In his oral evidence, Mr McKay said that had he been
aware of the notice:
<P>

"<i>I would have asked my valuer to explore the cost estimates, the quantity of
the works, when they needed to be done by and what impact
such works would have
on our security if not done and I would have checked with my lawyer as to the
probable penalties or repercussions
of the work not being done.</i>"
<P>

When asked what he would have done if he had been informed that the Council did
not have any immediate plan to carry out the threat
contained in its letter, Mr
McKay responded that he would have wanted that information in writing and would
have referred that to
Mr Landy for his final approval. Mr McKay said he would
not have been concerned about the unfinished works if the borrower had been
able to demonstrate that he was able to fund their completion and, if that had
been the case, he would have included that point in
his submissions. Mr McKay
expressed the view that Bewika did not have a surplus cash position, and that
on the contrary the accounts
tended to show the opposite. Mr McKay conceded,
however, that, on the cash flow which had been provided, Bewika would have been
able
to finance improvements to the value of $133,000 in the ensuing year if
that sum needed to be outlaid. 
<P>

28   		Mr McKay gave evidence that, during the consideration of
the transaction, he needed to be satisfied that the uncompleted
works would not
detract from the saleability of the value of the property and he said that, as
he recalled it, there was a conversation
between Mr Landy, Mr Grecian and
himself in which Mr Landy indicated that enquiries on the topic should be made.
He said he could
not recall on what date it had occurred. Mr Landy said that,
if he had been informed of the s 310(b) notice, he would have assessed
what
effect the notice had and would not have been prepared to go ahead with the
loan without doing so. Mr McKay agreed that, provided
the tenant could remain,
he would have been satisfied with that aspect of the transaction and that the
tenant was important because
the rental supported the serviceability of the
loan.
<P>

29   		So far as I could observe, Mr McKay was a straightforward
and honest witness. 
<P>

30   		Mr Landy was the principal decision maker for both
Permanent Trustee and Morlend so far as this transaction was concerned.
In his
evidence in chief, Mr Landy said:
<P>

"<i>8.	Had I known that Penrith City Council had made orders applicable to the
security properties under section 310 of The Local Government
Act, I would have
immediately recognised that there was a risk:</i>
<P>

<i>(a)	that unless these works were undertaken immediately, the Council would
be in a position to close down the premises and thereby
cut off the rent with
the consequence that the tenant, having no right to occupy, would depart and
significantly reduce the value
of the property as security for the
loans.</i>
<P>

<i>(b)	that Bewika would not be in a position itself to borrow or advance the
$200,000 required to comply with Council requirements because
the circumstances
of the advances by the plaintiffs was to discharge all the prior liabilities of
Bewika Pty Limited and that out
of the plaintiffs advances, no funds were to be
paid to Bewika. The advances by both of the plaintiffs were at the limits of
their
respective margins of loan to value ratios. The plaintiffs would have
been in the invidious position if the council was to enforce
immediate
completion of the amenities and office area of having to either advance the
additional funds to preserve the security which
would have been in breach of
the loan to value ratios or risk losing the tenant; and</i>
<P>

<i>(c)	that the value of the property would have been detrimentally
affected.</i>"
<P>

31   		It is clear that Mr Landy was, at the time, concerned
that the building was unfinished, for noted in his handwriting on the
defendants' valuation are the questions "<i>What items to be considered? What
impact on saleability?</i>". On the settlement sheet concerning the Permanent
Trustee loan, Mr Landy noted on 1 August 1990 under "<i>Conditions Precedent to
Settlement</i>" the words "<i>Subject to letter from valuer re value ... no
amenities or office</i>". There was a similar notation on Morlend's settlement
sheet. On 15 August 1990, in answer to enquiries made, a letter was sent from
Mr Daczko to FMG, attention Mr McKay, stating that discussion with the Penrith
City Council revealed that a s 317AE certificate would
issue over an existing
building regardless whether amenities were on site or not. 
<P>

32   		In his written statement, Mr Landy said that, a day or
two after receiving the valuation he telephoned Mr Stuart Rowan, the
principal
of the defendants' firm, and asked about the $200,000, the cost of the
amenities, and what impact this had. He said that
Mr Rowan went away to examine
the matter and, after four to five minutes, he returned to say that it had no
impact on the value.
Mr Landy had earlier been cross-examined on this statement
before the referee and, in the course of that cross-examination, had agreed
that the time of the conversation was incorrect. In this Court he corrected the
time to 1 August 1990. 
<P>

33   		If anything turned on that conversation, it might be
difficult to decide if or when it occurred or what the precise terms
of the
conversation were. However, the conversation is not important. Mr Landy's
notations on the valuation itself and on the settlement
sheets show that at the
time he was concerned about the impact of the unfinished work. Mr Landy agreed
in cross-examination that
it was his recollection that he gave a direction for
the two questions which he noted on the valuation to be asked of the valuer
and
that he gave that direction to Mr McKay and Mr Grecian while they were both
present. Mr Landy said in his cross-examination that
"<i>The impact on
saleability was a critical issue to me</i>". 
<P>

34   		Having heard Mr Landy in the witness box and considered
the transcript of his evidence, I have concluded that he was an honest
witness
notwithstanding that his recollection may well have been faulty about the
discussion with Mr Rowan, which may have concerned
another property. I consider
that, in general, the answers he gave in cross-examination were straightforward
and cogent. 
<P>

35   		There are several factors which tend to favour the view
that the plaintiffs may have entered into the transaction even if
they had been
aware of the s 310(b) certificate. One is that the plaintiffs were happy to
accept the risks of the transaction as
they saw them. Another is that this was
the first transaction in which the plaintiffs had cooperated with FMG. Perhaps
both the plaintiffs
and FMG were anxious to see that the transaction went
through smoothly. Certainly, the application of 23 May was responded to
promptly
by Mr Grecian on the letterhead of FMG on 24 May. A third point is
that the plaintiffs may have been pleased with the transaction
as it was
ultimately formulated. Originally, Bewika had sought $1.2 million. It was at
first proposed that Permanent would lend that
sum. However, the transaction was
restructured so that Permanent lent $1 million at its interest rate of 1.75%
over the bank rate
if interest was paid within seven days of the due date and
Morlend lent $330,000 on a second mortgage at an interest rate of 23%,
the
interest of $75,900 being paid in advance on the making of the loan. Morlend's
return may have seemed quite attractive having
regard to the fact that its loan
was for twelve months only.
<P>

36   	 	Another aspect is that the plaintiffs were satisfied,
principally from the accounts including the balance sheet and a cash
flow
statement, that Bewika would be able to meet its obligations under the loan
agreements. As it was known that the totality of
the loans would go to pay out
existing liabilities and as the letter of 25 June 1990 from Mr Grecian referred
to a winding up petition
which had been withdrawn, one may surmise that the
plaintiffs were unwise to take notice of the accounts presented to them.
However,
they did so and were satisfied with the accounts and with the
enquiries which they made. For example they were informed by Esanda
Finance
that Bewika had twenty-two accounts with Esanda and that the conduct of the
accounts since inception had been satisfactory.

<P>

37   		Another factor, is that the tenant of the land was SCI
Operations Pty Limited, which was a responsible tenant in occupation
of the
land under a lease which provided for a rental adequate to meet the ongoing
payments due under the loans. Another factor,
as shown by its preparedness to
enter into the transaction with Morlend, is that Bewika was prepared to do all
that it could do to
obtain the funds which it wanted from the plaintiffs.
<P>

38   		However, there were factors tending in the opposite
direction. One is that Mr Landy and Mr McKay appear to have been careful
and
methodical. On Mr Landy's part, one can see this in the handwritten notes to
which I have already referred. On Mr McKay's part,
one can see it in the
detailed instructions which he gave to the defendants when he requested a
valuation. Similarly, the letter
to Cohen Brown, the plaintiffs solicitors who
acted in the transaction, which was prepared by Mr Grecian but signed by Mr
Landy,
was extremely detailed being seven pages in length. It was put by Mr
McCulloch in cross-examination of Mr Landy and Mr McKay that,
if they had been
informed of the s 310(b) notice, they would have gone ahead with the
transaction without giving the matter much
attention. That contention was
rejected by the witnesses. My own view of them is that, had the s 310(b) notice
been brought to their
attention, they would have given it serious consideration
and would not have gone ahead with the transaction unless they had been
satisfied that arrangements were in place to overcome its problems. 
<P>

39   		Another factor is that the s 310(b) notice in fact
impacted upon both saleability and risk. Another is that the mere existence
of
the s 310(b) notice would have tended to alert the plaintiffs to the parlous
financial state of Bewika. It is one thing not to
have completed some
extensions that were planned. It is another thing not have completed a building
in accordance with the conditions
laid down for its construction. It is likely
that the plaintiffs would have become aware that Bewika had not been able to
complete
their building in accordance with the development approval and
building permit because they did not have the funds to do so. I infer
from the
material before the Court that Bewika was in fact in a parlous financial
situation because it was not long after, in May
of 1991, that Bewika was wound
up on the petition of the Deputy Commissioner of Taxation. The true position
with respect to Bewika's
tax affairs could not have been made known to the
plaintiffs.
<P>

40   		The next and perhaps the most important factor is that
Bewika did not have the funds to complete the construction of its
development
and it could not borrow those sums from the plaintiffs. The plaintiffs had lent
all that they could lend, $1,330,000
on a valuation of $1.9 million, having
regard to the terms of the trust deeds under which the plaintiffs operated.
Moreover Permanent
could not under its trust deed lend on an uncompleted
development. There may have been a question as to whether Permanent could have
lent the $1 million if it was aware of the existence of the s 310(b) notice.

<P>

41   		Mr McCulloch has submitted that Bewika could have
negotiated time with Penrith Council and could have come to an agreement
with
the Penrith Council to have completed the work within twelve months. It can be
accepted that Bewika would certainly have been
prepared to enter into such an
arrangement with the Penrith Council and that probably the Penrith Council
would have considered that
the completion within twelve months of at least some
of the items was reasonable. Mr McCulloch also obtained a concession from Mr
McKay that, on the cash flows which had been presented to the plaintiffs,
Bewika would have been able to spend $133,000 on completing
the development.
The balance sheets and cash flow showed an adequate financial position to
enable them to do that. However, Bewika's
financial position was much worse
than its published accounts and the cash flow showed. 
<P>

42   		Another factor is that Mr McKay and Mr Landy were in fact
concerned about the unfinished state of the building and were not
prepared to
go ahead until they were satisfied by Mr Daczko that the failure to complete
did not affect saleability or the value
of the property. Had the s 310(b)
notice been brought to the attention of the plaintiffs, they would have made
enquiries of the defendants.
On the evidence of Mr Moses and Mr Robertson, the
defendants ought to have replied in a way which effectively qualified their
valuation,
for they should have said that the plaintiffs should ensure that
Bewika did the work before making the loan or that the cost of the
work should
be taken into account in assessing the security. 
<P>

43   		The issue is a difficult one, but I have come to the view
that the loans would not have gone ahead had the defendants brought
the s
310(b) notice to the attention of the plaintiffs. I have come to that
conclusion mainly because I think that the plaintiffs
would have required an
unqualified valuation of $1.9 million before the loan was made and also because
the existence of the s 310(b)
notice would have alerted the plaintiffs to the
desperate straits that Bewika was in. The plaintiffs would not have been
satisfied
merely by protestations on Bewika's part that it could complete the
development in accordance with the s 310(b) notice. The plaintiffs
would have
required to be satisfied that all matters in relation to the valuation had been
clarified and that they were entitled
to act in accordance with the valuation
which was before them. In my opinion, if the s 310(b) notice had been brought
to the attention
of the plaintiffs and of the defendants, it would not have
been the case that there was an unqualified valuation for $1.9 million
or that
Bewika could readily overcome the problem.
<P>

44   		As I have earlier mentioned, the purpose of these
proceedings is to ascertain the significance of the s 310(b) notice. I
am not
purporting to hold and I do not hold that the defendants were negligent in
their valuation. That is not an issue before me.
But it is necessary that I
consider what would have happened had the s 310(b) notice been known to the
defendants and brought to
the attention of the plaintiffs. I have formed the
opinion that it is not likely that the transaction would have gone ahead.
<P>

45   		The conclusion at which I have arrived is confirmed by
subsequent events. Thus, in 1991, the defendants again valued the
subject
property. In a valuation by Mr J D Smith which accompanied a letter dated 22
August 1991, the following information was contained:
<P>

"<i>Our valuation is subject to the conditions contained in the lease over the
property. We note the existing use does not comply with
council and that as the
building is incomplete the owner does not have the right to occupy the
premises.</i>"
<P>

The valuation itself proceeded upon a capitalisation of the rental less the
cost of completion, which was stated in the valuation
at $159,000. So one can
see that, by the middle of 1991, the defendants themselves took the s 310(b)
notice into account as a qualification
on value.
<P>

46   		The property was auctioned on 30 October 1992. Enquiries
of the Council as to the property were made by interested purchasers.
As a
result, fresh notices issued under s 310(b) and 317D of the Local Government
Act. The totality of the two notices was similar
to the notice issued in 1990.
There is a note from Colliers Jardine, Valuers and Real Estate Agents, on 23
October 1992, that the
Council had advised that the s 149 certificates should
have shown the s 317D notice and that the Council had advised all parties
that
sought a s 149 certificate of the omission. 
<P>

47   		As the auction approached, interest in the property was
poor. A letter from L J Hooker of Penrith to Ray White Project Marketing
of 16
October 1992 said that the positive interest in the property was disappointing.
The letter went on to say:
<P>

"<i>The list of non-compliance requisitions require substantial structural and
site works and it is difficult to quantify the `cost to
complete' in monetary
terms. Feedback is $250,000-$400,000.</i>"
<P>

I do not suggest that the figures there mentioned were the moneys ultimately
required to comply with the Council's requirements.
I assume that the sum
required was much less. However, the letter confirms that the existence of the
notices had an effect upon saleability
and that purchasers were discouraged.
<P>

48   		In the circumstances, I am satisfied that the plaintiffs
are entitled to damages in respect of the defendants' failure to
ascertain the
existence of the s 310(b) notice and to bring it to their attention.
<P>

49   		The damages are agreed as follows:
<P>

A.	First plaintiff - Permanent Trustee Company.
<P>

As at 20 June 1999
<P>

(a)	Principal and interest on the loan					$584,601
<P>

(b)	Costs incurred in connection with the enforcement of the security	$
31,436
<P>

(c)	Interest on costs referred to in (b)					$<u>  25,697</u>
<P>

				TOTAL loss as at 20 June 1999			$641,734
<P>

Continuing interest from 20 June 1999
<P>

(a)	Principal			$105 per day
<P>

(b)	On costs			$    8 per day
<P>

B.	Second Plaintiff - Morelend Finance Corporation (Vic) Pty Ltd
<P>

As at 20 June 1999
<P>

(a)	Loan principal								$254,100
<P>

(b)	Interest on loan principal						$947,136
<P>

(c)	Costs incurred in connection with the enforcement of the security	$
24,617
<P>

(d)	Interest on costs referred to in (c)					$<u>  18,386</u>
<P>

			TOTAL loss as at 20 June 1999		         $1,244,239
<P>

Continuing interest from 20 June 1999
<P>

(a)	On loan principal	$596 per day
<P>

(b)	On costs			$    6 per day
<P>

50   		The defendants submit that the plaintiffs should have
minimised their losses by accepting an offer of $1 million received
from Esanda
Finance on 8 May 1992. The offer was conditional upon Esanda becoming the
registered first and second mortgagee. Mr Landy
has given evidence that the
offer was an indicative offer only, that there were subsequent talks and that
the matter petered out.
It seems likely that a problem arose from the fact that
the offer would have satisfied Permanent but left nothing for Morlend or
its
mortgage insurer. A consensual transaction could not have gone ahead without
Morlend's consent. I assume that this was not forthcoming
because Morlend had
to answer to those who had an interest in its affairs and also to its mortgage
insurer, which on 18 June 1992
expressed annoyance that the offer was being
considered. Although Permanent and Morlend used the same staff, Mr Landy, Mr
McKay and
Mr Grecian, they were unrelated companies. It seems to me to be
likely that the only practicable course was to put the property to
auction,
which occurred later in the year. I see no basis for holding that the
plaintiffs failed to take reasonable steps to minimise
their damages.
<P>

51   		There will be judgment for Permanent Trustee Company
Limited against the defendants in the sum of  $645,350.00 and for Morlend
Finance Corporation (Vic) Pty Limited against the defendants in the sum of
$1,263,503.00.
<P>

52   		I have been asked to reserve the question of costs. The
plaintiffs' submission should be filed and delivered within ten days.
The
defendants' response should be filed and delivered within ten days
thereafter.
<P>

<center>**********</center>
<P>


<P>

LAST UPDATED: 	09/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/716.html</i><br>
</p>
</small>
</body>
</html>
