<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Regina v David Bradley Leonard [1999] NSWSC 510 (28 May 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 510</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+510 or 1999+NSWSC+510">Noteup</a>]
[<a href="510.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Regina v David Bradley Leonard [1999] NSWSC 510 (28 May 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_510.html-->
<!--sino date 28 May 1999-->


<P>Last Updated: 8 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Regina  v  David Bradley LEONARD  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/510.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 510</a>
<P>

CURRENT JURISDICTION: 	Criminal
<P>

FILE NUMBER(S): 	70022/98
<P>

HEARING DATE{S): 	19 May 1999 to 27 May 1999
<P>

JUDGMENT DATE: 	28/05/1999
<P>

 PARTIES: 
<P>

Regina
<P>

David Bradley Leonard
<P>

JUDGMENT OF: 	Sully J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mrs. P. Hock - Crown
<P>

Miss Leonie Flannery - Accused
<P>

SOLICITORS: 
<P>

Crown Solicitor's Office
<P>

Legal Aid of NSW
<P>

CATCHWORDS: 
<P>

Criminal Law - Sentence - Murder - Prisoner shot his de facto wife after an
argument - Provocation rejected by jury - MT 12 yrs;
AT 4 yrs.
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/sa1989121/" class="autolink_findacts">Sentencing Act 1989</a>
<P>

DECISION: 
<P>

Penal servitude for 16 years - minimum term 12 years and additional term 4
years. Minimum term to commence 12 October 1997 and expire
11 October 2009.
Additional term to commence 12 October 2009 and expire 11 October 2013.
Eligible for parole on 11 October 2009
<P>

JUDGMENT: 
<P>

<b>SUPREME COURT OF</b>
<P>

<b>NEW SOUTH WALES</b>
<P>

<b>CRIMINAL DIVISION</b>
<P>

<b>SULLY J</b>
<P>

<b>28 May 1999</b>
<P>

<b><u>70022/98 - REGINA  v  DAVID BRADLEY LEONARD</u></b>
<P>

<b><u>ON SENTENCE</u></b>
<P>

1  	<b>HIS HONOUR:</b>	On Wednesday of last week David Bradley
Leonard, ["the prisoner"], was presented in this Court for trial upon an
indictment charging
tht he had murdered, on 12 October 1997 at  South Windsor,
one Glenda Norris, ["the deceased]". The prisoner pleaded not guilty,
and he
was put accordingly upon trial by jury. Yesterday morning the jury returned a
verdict finding the prisoner guilty as charged.
Submissions on sentence were
made yesterday afternoon; and the passing of sentence was fixed for this
afternoon.
<P>

2  	At trial the prisoner did not dispute that he had by an unlawful
act caused the death in question; and he did not dispute that
such act had been
accompanied by the intent either to kill or to inflict grievous bodily harm.
The prisoner's case depended entirely
upon his claim that he had acted in
response to provocation in the sense recognised by the law as reducing
culpability for an unlawful
killing from that of murder to that of
manslaughter. This issue was clearly articulated; and was fought out, on both
sides of the
record, with a clarity and an economy that were admirable in their
professionalism.
<P>

3  	The objective facts can be summarised as follows:
<P>

4  	The prisoner met the deceased in about December 1996. A
relationship between them developed; and in late May 1997 they began
to live
together. The deceased had previously worked as a prostitute, a fact that she
disclosed to the prisoner. The two of them
discussed that aspect of her past;
and, according to the prisoner, they agreed that she would not work in that way
while ever they
were together.
<P>

5  	The deceased had other and difficult personal problems. She
regularly abused alcohol. She regularly injected methadone and another
prescription drug. She appears to have been very self-willed; and she appears
to have been capable of speaking and of behaving in
a very coarse fashion. She
was some 10 years older that the prisoner, who, although not without some prior
sexual experience, had
lived, certainly by comparison with the deceased, a
sheltered and low-key personal and social life.
<P>

6  	At trial the prisoner gave extensive evidence of what, according
to him, had been the course of his relationship with the deceased,
particularly
from the period July/August 1997, following the death of a man who had been a
close personal friend of the deceased.
The prisoner supported his account by
reference to contemporaneous diary notes. Even if it be accepted, as I think
common sense alone
would suggest, that the diary notes are at best brief
paraphrases of what they describe, it was, nevertheless, not contended at the
trial either that they were fabricated, or that they were in some other way
wholly unreliable as a source from which an outside observer
might obtain a
reasonably fair general idea of what the relationship entailed in its day to
day existence.
<P>

7  	The picture that thus emerges is one of a relationship that was,
on both sides, emotionally brittle; and that moved in frequent
and volatile
swings from one of comparative stability and mutual affection, to one of mutual
acrimony, of mutual recrimination, and
of occasional physical violence. The
whole course of the relationship, whatever its particular phase of the moment,
appears to have
been overshadowed by continuous excessive drinking and drug
abuse on the part of the deceased. The prisoner was not a drug abuser,
but he,
too, seems to have drunk intoxicating liquor, at least from time to time, in
excessive quantities.
<P>

8  	On 12 October, the prisoner and the deceased went to the South
Windsor RSL Club which was situated a short drive away from where
they were
then living. Their relationship was, at this time, very strained. They had been
arguing, according to the prisoner, almost
continuously since 9 October. At the
Club, the deceased was approached by a man whom it seems she knew from her days
of active prostitution.
During a temporary absence of the prisoner, the
deceased apparently agreed to leave in the company of this other man. Before
she
could actually do so, the prisoner returned; saw what was happening, and
had a major confrontation with the deceased outside the
Club premises. Their
argument was loud, abusive and public. Persons nearby, and who gave evidence at
the trial, described how the
deceased had asked one of them to stop the
prisoner from harassing her. In the end, the deceased went off with her
acquaintance,
leaving the prisoner, in his own words, <i>"angry, depressed,
hurt"</i>.
<P>

9  	There was evidence from one Crown witness that she had heard the
prisoner, as it were, fire a parting shot at the deceased in
these words:
<i>"I'll be waiting at home to kill you"</i>. The prisoner himself gave
evidence that he could not now recall whether or not he had said so. I can
imagine that it was just the
thing that the prisoner might well have said,
given the ambient emotional temperature; but there is no evidence to support
the one
Crown witness's recollection of the words, and I think that the fair
approach would be to give the prisoner the benefit of the doubt.
<P>

10  	After the foregoing events, the prisoner left the Club. He drove
home, being sufficiently in possession of his faculties to
realise that he was
not driving safely, and to stop, accordingly, until he had composed himself. He
drove to his place of work; parked
outside for a period; and then decided to go
home, pack his bags and leave.
<P>

11  	Upon his arrival home, the prisoner began to pack his bags. He
was, in his own words, <i>"shattered, angry, hurt, upset"</i>. As he packed, he
came upon an old, but functioning, revolver stored among his clothing, and a
quantity of ammunition. He loaded
the revolver with six rounds of ammunition,
intending to take his own life. He realised that the notion was, in his own
word, <i>"insane"</i>. He telephoned his mother and she tried to calm him down.
While he was so engaged, the deceased returned home.
<P>

12  	The deceased was intoxicated and aggressive. She and the
prisoner had a fiercely abusive argument during the course of which
she
tormented him about his sexual prowess and about what she had been doing, and
was planning to go on doing, in pursuit of what
she described as <i>"having a
good time"</i>. The prisoner, by this time, had placed the loaded revolver in
the back of the waistband of his jeans. At the height of the exchanges
between
him and the deceased, he pulled out the revolver, cocked it, took up the firing
stance of an experienced shooter, - which
the prisoner in fact was, - said
<i>"bye bye baby" </i>or <i>"bye bye dear"</i>, and, from a distance somewhere
between one and three feet, shot the deceased though the forehead, killing her
instantly.
<P>

13  	The prisoner realised immediately the enormity of what he had
done. He tried to fire a second shot through his own jaw, but
only managed to
fire in such a way that the bullet skimmed across the side of his neck and
lodged in the ceiling. Thereafter, and
in a highly agitated state, he called
the ambulance and the police. He was arrested very late on the evening of 12
October and has
been in unbroken custody since the arrest. He co-operated fully
with the investigating police.
<P>

14  	It is, I think, beyond questioning that the verdict of the jury
expresses a conclusion, reached beyond reasonable doubt, that
an ordinary
person in the position of the prisoner at the time he shot the deceased could
not have responded to any demonstrated
provocation offered by the deceased by
so far losing his self-control as to have formed an intent to kill, or to
inflict grievous
bodily harm upon, the deceased. With such a conclusion I
entirely agree.
<P>

15  	It must follow, in my opinion, that the shooting by the prisoner
of the deceased was a crime of very high culpability. It is
the paramount
purpose of the rule of law in any truly civilised society to protect
unflinchingly the sanctity of human life. In such
a society it is the paramount
duty of the Courts to give, unflinchingly, full and public effect to that
purpose. That purpose and
duty are especially important in such a society as
our own, where mutual marital fidelity has been largely supplanted by
extra-marital
liaisons of various kinds, many of which, as the daily experience
of the Court makes plain, are all too apt to break down in circumstances
of
great bitterness. That entails, in its turn, that there cannot, and must not,
be allowed to develop in society any perception
that it is in any way
permissible for an aggrieved party to such a breakdown to lash out in
self-absorbed frustration to the extent
of killing, - or, indeed, of inflicting
any other bodily harm upon, - either the other party to the breakdown, or any
third party,
who is thought to be involved in, or responsible for, the
breakdown.
<P>

16  	It is, of course, necessary to take into proper account for
present purposes not only the objective gravity of the prisoner's
offence and
its concomitant need for 59
<P>

17  	deterrence and retribution in aid of proper public protection,
but also the demonstrated personal circumstances of the prisoner.
They can be
summarised as follow.
<P>

18  	The prisoner was born on 15 August 1969. He was aged a little
over 28 years at the time of the killing; and is now aged 29
years and some 9
months. He has no criminal antecedents.
<P>

19  	The prisoner was educated at school to year 10. Thereafter he
worked at various times in catering-related employment; in a
scrap-metal
business of his own; and in the Army. Shortly before October 1997 he had
commenced working in a factory; and there is
in evidence, as Exhibit 1 on
sentence, a commendatory reference from that employer. Additional, and more
personal, commendations
are in evidence as Exhibit 2 on sentence. I accept what
is said in Exhibits 1 and 2.
<P>

20  	The prisoner, as I have previously noted, appears to have led a
fairly sheltered private life until he began his liaison with
the deceased. He
seems to have been genuinely attached to her in his own way; but the available
evidence suggests tht the relationship
was in truth a mismatch. I am satisfied
that during the course of the relationship the prisoner had, at least for much
of the time,
and to speak colloquially, a lot to put up with.
<P>

21  	The prisoner expressed, from the very moment of the shooting,
remorse for what he had done. I have seen video-taped evidence
of such remorse
and I did not get any impression that what I was seeing was insincere. I think
that the prisoner is genuinely remorseful
for what he did.
<P>

22  	The prisoner's history while in prison to date has some
positive, and some troubling negative, features. 
<P>

23  	On the negative side, the prisoner has made an attempt on his
life by slashing his wrists. He has received medical and psychological
treatment to which he appears to have responded reasonably well. He is held in
protection; in part, I should think, because of that
history; but in part, as I
understand the fact, because of threats made against him, although not actually
to him, by another prisoner
who has, it would seem, some connection with the
deceased and her children. The prisoner does not know the name of this other
inmate;
but know only that he is serving a term in the order of 5 years for
some robbery related offence(s). All of these factors will make
the continuing
imprisonment of the prisoner more than normally difficult, at least for the
foreseeable future.
<P>

24  	On the positive side, the prisoner appears to have made a real
effort to improve his educational level and his vocational prospects.
The
relevant details are certified in the various documents comprising Exhibit 3 on
sentence. These efforts of the prisoner are commendable,
and I will give him
proper credit for them. No doubt all those who are hereafter concerned with the
prisoner's management will give
him all proper encouragement to continue his
efforts.
<P>

25  	I am satisfied that the prisoner is not a likely danger to the
community and that personal deterrence, although a proper matter
for
consideration, does not play as large a part  in his case as it might do in
other and different cases.
<P>

26  	I have found it no easy matter to bring into what I would regard
as a proper overall balance the objective and subjective considerations
that I
have canvassed in my present remarks on sentence. Learned counsel for the
prisoner referred me to a number of unreported decisions:
<b>Regina v Peter
Paul Dundas</b>: unreported, Studdert J, 15 April 1992;  <b>Regina v Whare
Tuakana Gerrard</b>: unreported, David Hunt CJ at CL, 3 July 1992; <b>Regina v
John Charles Edwards</b>: CCA, unreported, 2 August 1995; <b>Regina v Ismail
Capar</b>: unreported, Smart J, 27 October 1995; <b>Regina v Wai Sung Cheung
aka Steve Cheung</b>: CCA, unreported, 11 December 1995; <b>Regina v Koroneria
Kingi</b>: unreported, Hidden J, 18 December 1998. I have scanned them all; but
I have found them to be, at best, of general indicative assistance.
<P>

27  	I have come to the conclusion that a fair sentence would be an
aggregate sentence of penal servitude for 16 years, divided
between a minimum
term of 12 years and an additional term of 4 years.
<P>

28  	I have considered the matter of "special circumstances" of the
kind contemplated by <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/sa1989121/s5.html" class="autolink_findacts">section 5(2)</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/sa1989121/" class="autolink_findacts">Sentencing Act</a></b>, but I have
decided not to alter the division as stated. There are two reasons for that.
First, I am of the opinion that a minimum
term, - that is, a time actually to
be served , - of less than 12 years would not reflect adequately the
seriousness of the point-blank
and intentional shooting of the deceased.
Secondly, I have not been persuaded by the available evidence that the proper
rehabilitation
of the prisoner back into the community after he has served that
minimum term calls for a longer period of supervision than one of
4 years.
<P>

David Bradley Leonard: for the crime of the murder of Glenda Norris, you are
convicted. You are sentenced to penal servitude for
16 years, divided between a
minimum term of 12 years and an additional term of 4 years. The minimum term
will commence on 12 October
1997 and expire on 11 October 2009. The additional
term will commence on 12 October 2009 and expire on 11 October 2013. You will
be eligible for parole on 11 October 2009.
<P>

I direct that a copy of these remarks on sentence be furnished forthwith to the
Commissioner of Corrective Services; and I recommend
that such copy remain with
the prisoner's Corrective Services file.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	07/06/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/510.html</i><br>
</p>
</small>
</body>
</html>
