<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Regina v Wright [1999] NSWSC 1087 (5 November 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1087</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1087 or 1999+NSWSC+1087">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Regina v Wright [1999] NSWSC 1087 (5 November 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1087.html-->
<!--sino date 5 November 1999-->


<P>Last Updated: 17 November 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Regina v Wright  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1087.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1087</a>
<P>

CURRENT JURISDICTION: 	Criminal
<P>

FILE NUMBER(S): 	70052/97
<P>

HEARING DATE{S): 	23 August 1999, 15 October 1999, 22 October 1999
<P>

JUDGMENT DATE: 	05/11/1999
<P>

 PARTIES: 
<P>

Regina v David John Wright
<P>

JUDGMENT OF: 	Bell J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr M Marien (Crown)
<P>

Ms L Flannery (Prisoner)
<P>

SOLICITORS: 
<P>

S E O'Connor (Crown)
<P>

Legal Aid Commission (Prisoner)
<P>

CATCHWORDS: 
<P>

CRIMINAL LAW &amp; PROCEDURE - sentencing - manslaughter by unlawful and
dangerous act - special circumstances (Sentencing Act 1987
(NSW) s 5(2))
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1986188/" class="autolink_findacts">Criminal Procedure Act 1986</a>
<P>

Sentencing Act 1987
<P>

DECISION: 
<P>

See para 37
<P>

JUDGMENT: 
<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>CRIMINAL DIVISION</b>
<P>

<b>BELL J</b>
<P>

<b>Friday, 5 November 1999</b>
<P>

<b><u>70052/97 - REGINA v David John WRIGHT</u></b>
<P>

	<b><u>SENTENCE</u></b>
<P>

1   	<b>HER HONOUR</b>:  On 23 August 1999 the prisoner, David
John Wright, was arraigned on an indictment charging him with the murder of
Geoffrey Compton
at Riverwood on 16 October 1996.  To this indictment he
entered a plea of guilty to the manslaughter of Mr Compton which was accepted
in full discharge of the indictment.  I am informed that the basis upon which
the plea was accepted was one of manslaughter by an
unlawful and dangerous act.
It is upon this basis that the prisoner will be sentenced.
<P>

2   	On the evening of 16 October 1996 Geoffrey Compton was
drinking at the Riverwood Inn, Riverwood.  It appears that he was intoxicated
and his behaviour towards a number of patrons of the hotel was disruptive.  At
about 9.30pm the prisoner became involved in a verbal
altercation with the
deceased. The prisoner did not initiate this incident.  It led to the two of
them leaving the hotel and going
outside to the carpark where they started
fighting.  At one point the deceased was seen to be holding the prisoner in a
headlock
and punching him about the head.  During this fight the prisoner
stabbed the deceased with a knife which he, the prisoner, was carrying.
 The
deceased suffered four stab wounds, one to the ear, two small wounds to the
groin area, and the fatal wound, a 20 millimetre
wound to the heart.  It was
while the prisoner was seen to be being held in the headlock that other patrons
came over and separated
the two. The prisoner walked off in the direction of
Bonds Road.  It was not clear at that time that the deceased had received a
fatal injury.  Patrons of the hotel held the deceased over a car bonnet in the
immediate aftermath of the fight and attempted to
calm him.
<P>

3   	At the time of his death Geoffrey Compton was aged 23
years.  He was the father of an infant boy, Brett.  He came from a very
close
family who have been devastated by his loss.  I have received victim impact
statements prepared by Dawn Compton, his mother,
Michael O'Driscoll, his
stepfather, Bernadette Le-Anne Compton, his sister, and Darren Compton, his 11
year old nephew.  The court
extends its sympathy to the Compton family who have
suffered the tragic loss of a son, brother and uncle who was much loved and who
formed an important part of family life.
<P>

4   	I note the approach adopted to the receipt of statements
pursuant to 
<P>

s 23C(3) of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1986188/" class="autolink_findacts">Criminal Procedure Act</a></b> 1986 by Hunt CJ at CL in
<b>Regina v Previtera</b>  <a href="/cgi-bin/LawCite?cit=%281997%29%2094%20A%20Crim%20R%2076" title="View LawCiteRecord" class="autolink_findcases">(1997) 94 A Crim R 76</a> at 85. I have applied that
approach in the instant case.
<P>

5   	The prisoner was aged 31 at the date of the offence and is
now 34.  He appears to have had a relatively unremarkable  childhood.
 He was
raised in a family where there was some conflict between both parents but they
made an attempt to keep this from him.  He
was particularly close to his
mother. When he was a young man his parents separated and his mother moved to
Queensland where she
remarried.  The marriage was an unhappy one characterised
by violence towards her.  The prisoner has shown a caring concern for his
mother.  When she decided to leave her second husband he helped her move back
to Sydney.  In 1986 she suffered a disabling stroke
and the prisoner has been
endeavouring to look after her since that crisis.
<P>

6   	The prisoner is described as having had a normal
psychosocial development not characterised by any problems in engaging in
social relationships.
<P>

7   	He left school in Year 9 and commenced working with Eastway
Wire Works doing welding work.  He was only 14 years and 10 months
at this
time.  He left that employment for a better job at Scanlons Sweets where he
worked for three years.  At the age of 18 he
obtained employment with the
Sydney City Council.  He started off as a street sweeper but progressed to
become a mechanical plant
operator.  He enjoyed his job, he made friends and
remained with the council for nearly nine years.  This employment came to an
end
in early 1991 when he was imprisoned following his conviction on a charge
of robbery with wounding.
<P>

8   	The prisoner was released from custody in 1993.  Prior to
release he had been working with Hearne Body Works under the day-release
work
program.  He appears to have been a good employee and the firm offered him
full-time employment upon his release.  He remained
in that employment until
the end of 1994.  He left Hearne Body Works to work as a nurses aid in a
nursing home. Following this he
was employed by Linfox as a truck driver. While
engaged in this employment he was hospitalised following an injury to his foot.
This
was in late 1995.
<P>

9   	The prisoner did not resume employment after discharge from
hospital.  He was unemployed at the date of the offence. I accept
that the
prisoner has generally been an adaptable and hard working individual.
<P>

10   	The prisoner met his first girlfriend, Dorothy, when he
was 14 years old.  They were later to form a defacto relationship
and lived
together for 17 years.  They have two children, Garry who is 17 and Corey aged
5.  The prisoner maintains a close relationship
with Corey.  He sees less of
Garry who is presently seen to be making his own way in life.
<P>

11   	It appears that when the prisoner was aged about 24 he and
a friend experimented by taking some liquid amphetamine. The prisoner
had not
previously used this drug although he was a regular user of marijuana.  While
under the influence of the amphetamine he committed
the offence of robbery with
wounding.  I have been furnished with some material concerning that offence.
It occurred on 30 September
1990 and involved the robbery at knife point of the
proprietor of a milk bar in Cabramatta.  In the course of the robbery one of
the victims took hold of the prisoner and sustained a laceration to his mouth
area and to his right index finger. On 24 May 1991
the prisoner was sentenced
to an overall  sentence of three years penal servitude comprising a minimum
term of two years and three
months and an additional term of nine months by the
presiding judge at the Liverpool District Court.
<P>

12   	Among the materials before me is a report of Dr Robert
Lewin dated 6 May 1991 which appears to have been before the court
at the
sentence hearing on the robbery matter. Dr Lewin detailed the prisoner's
account of long term problem marijuana use.  Otherwise,
the doctor detected no
signs of an antisocial personality.  He had regard to the prisoner's background
of stable employment and relationship
and considered that it was unlikely that
the prisoner would re-offend.
<P>

13   	Following his release from custody in 1993 the prisoner
encountered a number of difficulties.  Dorothy had become involved
in a
relationship with another man while he was in custody.  The couple made
attempts to preserve their relationship but ultimately
they separated in 1996.
Dorothy now lives with the other man.  The break up in the relationship with
Dorothy occurred only a matter
of months after the prisoner's mother suffered
her stroke. There is evidence before me which I accept that the prisoner was
profoundly
affected by both incidents.
<P>

14   	Not long after his release from prison, at a time when the
prisoner and Dorothy were fighting over her affair, he moved out
of home for a
while into accommodation with some male friends.  It was at this time of crisis
in his life that he commenced using
heroin.  He appears to have been a heroin
user for a period of four yours.  Ultimately he decided to enter the Langton
Clinic detoxification
program. He was motivated to overcome his drug problem in
order to properly care for his mother.  On first admission to the Langton
Clinic he left following the detoxification phase without completing the after
care component.  He subsequently sought re-admission
as soon as the mandatory
"ten day re-admission turnaround" period had passed, and successfully completed
the program some two weeks
prior to the commission of the present offence.
<P>

15   	The prisoner told Dr Devlin, psychologist, that while on
remand he had been abusing various prescription medications. At the
time Dr
Devlin assessed him he presented as despondent and gave a history of suicidal
thoughts.  He described himself as being depressed
and complained of poor sleep
and generalised anxiety.  He was suffering obsessive thoughts in relation to
the offence.
<P>

16   	On 24 September 1996 the prisoner was the victim of an
assault.  He had been spending time with a woman named Petina.  Her
boyfriend
became jealous, believing that the two were having a sexual relationship.  It
appears that the boyfriend made threats on
several occasions to the prisoner,
saying, among other things, "I know where you live".  Ultimately the boyfriend
is said to have
carried out the threat and to have struck the prisoner across
the face with a crowbar.  Details of the prisoner's injuries are set
out in the
notes of the St George Hospital which were tendered on the prisoner's behalf.
The prisoner's assailant smashed the headlights
of his car and warned him to
stay away from Petina.  It was after this incident that the prisoner started
to carry a knife as a means
of protection.
<P>

17   	On the day of the killing the prisoner was drinking
alcohol in the company of some other men.  I have been assisted by a report
prepared by Assistant Professor Starmer, pharmacologist, concerning the
probable level of his alcohol consumption.  The Professor
based his opinion on
the statements of the various witnesses who were present at the hotel on that
evening and the prisoner's account.
 It is not necessary to detail the contents
of the Professor's report.  Suffice to say I accept his opinion that the
prisoner was
at the time of the killing grossly affected by alcohol.  The
prisoner does not have a history of alcohol abuse.  His consumption
on this
occasion was, I accept, uncharacteristic.
<P>

18   	The prisoner gave an account to Dr Devlin that he had few
memories of the night of the offence.  He was not able to recall
any verbal
altercations with the deceased prior to the fatal fight.  He says that as he
was leaving the hotel the deceased followed
him to the door.  They arrived at
the door simultaneously and he, the prisoner, became frightened.  Once outside
he recalled the
deceased had grabbed him and placed him in a headlock and was
punching him in the vicinity of the jaw and the head.  Dr Devlin said
this in
her report:
<P>

"... it is quite possible that he was hypervigilant to the potential for
serious harm being done to him and that the attack brought
about memories
associated with the previous assault and that he overreacted as a result."
<P>

19   	Dr Devlin was cross-examined at some length.  I was
impressed with her.  Her report was based upon two interviews with the
prisoner.  In total she had spent about five hours with him.  She had gone back
on the second occasion with a list of questions to
take up with the prisoner.
She struck me as a careful and thorough psychologist.  Her qualifications are
impressive and include a
background in policing.  She assessed the prisoner as
having been frank in his interviews with her and I accept that assessment.
<P>

20   	Dr Devlin considered that during the fight with the
deceased the prisoner had what she described as "an exaggerated sense
of
danger".  I accept this evidence and propose to approach the sentencing of the
prisoner upon this basis.  It was Dr Devlin's view
that the prisoner's
exaggerated fears for his safety, arising out of the earlier attack, made the
present offence qualitatively different
to the earlier robbery matter.
<P>

21   	Generally, it was Dr Devlin's opinion that the prisoner
presents a greater threat to himself than to others.  He was severely
depressed
in her view and suicidal when she spoke to him.  She assessed the prisoner's
prospects of rehabilitation in these terms:
 "(they) are reasonably good if he
can get some psychological assistance, psychiatric assistance, or something of
that nature specifically
targeting relapse prevention".
<P>

22   	The prisoner is presently involved in a relationship with
Sarah-Jayne Van Sydam.  Prior to being taken into custody on remand
the two
were living together. Ms Van Sydam comments on her observations of the
prisoner's  concerns about his mother's illness. 
She describes the prisoner as
being generally responsible in the conduct of his family life.
<P>

23   	A letter from the prisoner's mother, Mrs Maralyn Lowe,
attests to him as a devoted and caring son. Dr Grahame Browne, a Fairfield
general practitioner who has been treating the prisoner, described him in this
way:
<P>

"David presents as an anxious but friendly young man interested in progressing
with his life.  He is afraid of being attacked in
gaol and worries about his
mother's poor health.  He has developed a stable, loving relationship and his
drug dependency problem
is well managed."
<P>

24   	It is to be noted that whilst in custody on remand
following his arrest in relation to this matter the prisoner was assaulted.
 He
was apparently hit on the head from behind.  He was not able to say with what
he was hit.  He lost consciousness for a period.
 He was examined by medical
staff attached to the Corrections Health Service who observed lacerations to
his scalp and several areas
of contusion involving the left forearm, right
index finger, right ribs and upper lip.  He was placed in protective custody
following
that assault.
<P>

25   	I was referred to a number of cases involving the
sentencing of offenders for manslaughter:  <b>Regina v Taouk</b> (unreported,
CCA, 20 March 1992);  <b>Regina v Azar</b>  <a href="/cgi-bin/LawCite?cit=%281991%29%2056%20A%20Crim%20R%20414" title="View LawCiteRecord" class="autolink_findcases">(1991) 56 A Crim R 414</a>;  <b>Regina v
Owen</b> (unreported, CCA, 5 June 1996);  <b>Regina v Sofokleous</b>
(unreported, CCA, 13 December 1993);  <b>Regina v Bryant</b> (unreported, CCA,
26 June 1999) and <b>Regina v Lamb</b> (unreported, Hidden J, 20 March
1998).
<P>

26   	In <b>Regina v Blacklidge</b> (unreported, CCA, 12
December 1995) his Honour Gleeson CJ in a judgment, with which Grove J and
Ireland J agreed, observed:
<P>

"It has long been recognised that the circumstances which may give rise to a
conviction for manslaughter are so various, and the
range of degrees of
culpability is so wide, that it is not possible to point to any established
sentencing tariff which can be applied
to such cases.  Of all crimes,
manslaughter throws up the greatest variety of circumstances affecting
culpability."
<P>

27   	I must have regard to the consideration that the unlawful
taking of a human life is always to be viewed as a serious crime.
 The respect
for and protection of human life is a primary objective of our system of
criminal justice;  <b>R v MacDonald</b> (unreported, NSWCCA, 12 December
1995).
<P>

28   	I accept that the prisoner was not the aggressor at the
commencement of the incident which led to the death of the deceased.
 The
accounts of the witnesses Peter McCaw and Adrian Newman suggest that the
deceased in his intoxicated state was harassing a number
of patrons of the
hotel.  It appears from Mr McCaw's statement that the deceased was being
somewhat aggressive towards the prisoner
during a verbal exchange inside the
hotel.  Marc Jones, another patron, attempted to reason with the deceased and
was abused by him.
The witness Dean Velovich described the deceased as being
aggressive and drunk at the time of the incident.  On his account there
had
been verbal altercations between the prisoner and the deceased on several
occasions inside the hotel.  In each instance it was
the deceased who commenced
the incident.  Mr Velovich had on one occasion taken the deceased aside and
unsuccessfully sought to quieten
him down.
<P>

29   	In the light of the evidence of Dr Devlin I accept that
the prisoner had, in the weeks prior to this incident, taken to carrying
a
knife for the purposes of his own protection. Notwithstanding the earlier
robbery offence, in the light of the evidence of Dr Devlin,
and having regard
to the prisoner's background of stable employment and relationships, I am
prepared to accept that he is not a person
generally given to violence.
<P>

30   	Notwithstanding the circumstance that the prisoner had
taken to arming himself with a knife for reasons of self protection,
the fact
that the offence was carried out with a knife remains a matter of aggravation:
<b>Regina v Azar</b>;  <b>Regina v Fernando</b>  <a href="/cgi-bin/LawCite?cit=%281992%29%2076%20A%20Crim%20R%2058" title="View LawCiteRecord" class="autolink_findcases">(1992) 76 A Crim R 58.</a>
<P>

31   	I take into account the prisoner's plea of guilty.
<P>

32   	I consider that the present offence occurred spontaneously
against a background involving the prisoner being grossly affected
by alcohol.
The circumstance that he was not a regular drinker to my mind means that the
alcohol intoxication does not aggravate
the offence.
<P>

33   	I consider the offence is mitigated by my acceptance that
the prisoner was not the aggressor and that he entertained genuine,
if
exaggerated, fears for his safety following the assault upon him weeks earlier
by a person armed with a crowbar.
<P>

34   	Notwithstanding the prisoner's criminal record I am of the
view that he has reasonable prospects of rehabilitation.
<P>

35   	I was invited to find special circumstances within the
meaning of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1986188/s5.html" class="autolink_findacts">s 5(2)</a> of the <b>Sentencing Act</b> 1987 arising out of the evidence
of Dr Devlin as to the prisoner's need for professional support in the nature
of counselling targeting
relapse prevention.  The Crown joined in this
submission commending it as an appropriate course in the light of that
evidence.  I
do find special circumstances justify a departure from the
statutory relationship between minimum and additional terms.
<P>

36   	The prisoner was arrested on 18 October 1996.  He was
refused bail and remained in custody until his release on bail granted
by a
Justice of this Court on 26 March 1997.  I remanded him in custody on 23 August
1999 when he entered his plea.  I propose back-dating
the sentence which I
impose to 23 August 1999.  I consider that an appropriate sentence in the
circumstances of this case is one
of seven years comprising a minimum term of
four years and an additional term of three years.  I intend reducing this to
take into
account the period of five months and eight days already served on
remand in relation to this offence alone.
<P>

37   	David John Wright, I sentence you to serve a minimum term
of three years and six months and twenty-two days penal servitude
to commence
on 23 August 1999 and to expire on 16 March 2003.  I impose an additional term
to commence on 17 March 2003 and to expire
on 13 March 2006.
<P>

				**********
<P>

LAST UPDATED: 	17/11/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1087.html</i><br>
</p>
</small>
</body>
</html>
