<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Application of Hall - In the Matter of Acn 063 865 083 Pty Ltd (In Liquidation) (formerly Digicall Direct Pty Ltd) [1999] NSWSC 984 (7 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 984</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+984 or 1999+NSWSC+984">Noteup</a>]
[<a href="984.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Application of Hall - In the Matter of Acn 063 865 083 Pty Ltd (In Liquidation) (formerly Digicall Direct Pty Ltd) [1999] NSWSC 984 (7 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_984.html-->
<!--sino date 7 September 1999-->


<P>Last Updated: 27 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Application of Hall  -  In the Matter of ACN 063 865 083 Pty Ltd (In
Liquidation) (formerly Digicall Direct Pty Ltd)
 <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/984.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 984</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	3863/99
<P>

HEARING DATE{S): 	7 September 1999
<P>

JUDGMENT DATE: 	07/09/1999
<P>

 PARTIES: 
<P>

Gregory Winfield Hall and Philip Patrick Carter (Plaintiffs)
<P>

JUDGMENT OF: 	Hamilton J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr DJ Hammerschlag (Plaintiffs) (ex parte)
<P>

SOLICITORS: 
<P>

Blake Dawson Waldron (Plaintiffs)
<P>

CATCHWORDS: 
<P>

CORPORATIONS [253] - Winding Up - Conduct and Incidents of Liquidation - Effect
of Winding Up on Other Transactions - Preferences
- Limitation of action to
bring preference claim - Extension of time under Corporations Law, s 588FF -
Relevant condsiderations.
<P>

ACTS CITED: 
<P>

The Corporations Law, s 588FF
<P>

DECISION: 
<P>

Extension of time granted.
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

HAMILTON J
<P>

TUESDAY, 7 SEPTEMBER 1999
<P>

<b>3863/99	GREGORY WINFIELD HALL &amp; ANOR</b>
<P>

<b>	IN THE MATTER OF ACN 063 865 083 PTY LTD (In Liq) (formerly Digicall Direct
Pty Ltd) &amp; Ors</b>
<P>

<b>JUDGMENT</b>
<P>

His Honour:
<P>

1   	These proceedings are brought by Gregory Winfield Hall and
Phillip Patrick Carter who are both the liquidators of four companies
being ACN
063 865 083 Pty Ltd (In liquidation) (formerly Digicall Direct Pty Ltd) and
three associated companies ("the companies").
 The plaintiffs seek leave
pursuant to s 588FF(3)(b) of the Corporations Law ("the Law") for an extension
to 13 September 2000 of
the time within which application may be made to the
Court in respect of any voidable transaction of any of the companies.  Without
such an order the time within which such application could be made would expire
on 13 September 1999.
<P>

2   	The application is supported by the affidavit of Mr Hall
and extensive documentary material.  This seeks to explain the delay
in
investigating and bringing to the Court any claim in respect of any such
voidable transaction.  That explanation, in short, proceeds
by reference to
extensive activities of the liquidators in pursuing claims and investigating
the companies' affairs.  The affidavit
reveals that the liquidators' time has
essentially been taken up with those other activities and that it is only of
comparatively
recent times that all the materials necessary for an
investigation and, if appropriate, pursuit of the relevant claims has come into
the liquidators' hands by reason of the complication of the winding up of the
companies.  Because the investigations are not complete,
specific proceedings
proposed to be brought by the liquidators, if they deem it appropriate, cannot
be identified and the orders
for extension are sought in global terms.
<P>

3   	The matters relevant to be considered by the Court upon the
determination of such an application as the present, have previously
been
considered by at least two Judges, namely, Finn J of the Federal Court of
Australia in<b> Taylor v Woden Constructions Pty Ltd </b>[1998] 1228 FCA and
Austin J of this Division of this Court in<b> Green v Chiswell Furniture
</b> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/608.html" title="View Case" class="autolink_findcases">[1999] NSWSC 608.</a>  The considerations which the Court ought ordinarily take
into account are set out as follows in the judgment of Austin J:
<P>

"15.   Considerations relevant to the exercise of the Court's discretion under
s 588FF(3) were stated by Finn J in <b>Taylor v Woden Constructions Pty Ltd
</b>(Federal Court, 23/8/98, unreported). The following propositions, with
which I respectfully agree, emerge from that case:
<P>

(a) ordinarily, the issues raised on an extension application are threefold:
<P>

(i) the explanation for the delay in bringing proceedings;
<P>

(ii) a preliminary review of merits of the foreshadowed proceedings - that is,
an investigation as to whether such proceedings should
be so devoid of
prospects that it would be unfair, by granting an extension, to expose the
other party to the continuing prospect
of suit;
<P>

(iii) whether the likely actual prejudice resulting from the grant of an
extension is sufficiently substantial to outweigh the case
for granting an
extension;
<P>

(b) where the liquidator's purpose in seeking the extension of time is simply
to put himself into a position where he can properly
decide whether or not to
bring proceedings, a preliminary inquiry into the merits of any consequent
proceedings may not always be
necessary.
<P>

In the present case there is no evidence of any prejudice which would flow from
granting an extension and so that is not an issue.
<P>

16.   In my opinion, there is a risk that in some cases a preliminary inquiry
into the merits may impose an unnecessary burden on
both the liquidator and the
Court, especially in a case where the circumstances appear to give rise to
complex or disputed questions
of fact and law and the evidence before the Court
is manifestly incomplete."
<P>

I respectfully agree that that passage from his Honour's judgment accurately
states the material considerations in the present case.
<P>

4   	In my view, the evidence of Mr Hall, which I have briefly
outlined, provides a satisfactory and proper explanation for the
delay in
bringing the proceedings.  It is obviously impossible to form a view of the
merits of the foreshadowed proceedings but,
no doubt, a review by the
liquidators will take place before any such proceedings are brought and, in my
view, they are unlikely
to bring proceedings which are simply a waste of time
and money.  This state of affairs obviously precludes any realistic assessment
of the prejudice that may arise from the granting of the extension.  However,
there is nothing in the evidence before me that establishes
or suggests that
there would be actual prejudice arising from an extension limited in time in
the fashion sought.  It is only proper
that the liquidators apply, if they
propose to do so, at this stage, before the existing time limit actually
expires.  Unless an
order is made, it seems to me that they may be inhibited in
pursuing proper enquiry into the possible existence of potential proceedings;
in the absence of an order they will have no assurance that the proceedings, if
determined to be worth pursuing, will not be precluded
by the expiry of the
time limit.  I note that Austin J appears in <b>Green v Chiswell Furniture</b>
supra to have granted an order in the terms that are now sought.
<P>

5   	In the circumstances I have come to the conclusion that it
is appropriate to grant leave as asked and I propose to do so. 
The substantive
order sought in the form of orders placed before me is as follows, in respect
of each of the four companies:
<P>

"Pursuant to s 588FF(3)(b) of the Corporation Law the period prescribed by s
588FF(3)(b) of the Corporation Law within which any
application in respect to
any voidable transaction of Digicall Group Pty Ltd ACN  063 865 083 (In
liquidation) under s 588FF may
be extended to 13 December 2000."
<P>

The orders I make are as follows:
<P>

(1)	I grant leave to the plaintiff to file the summons initialled by me.
<P>

(2)	I dispense with service of the summons.
<P>

(3)	I make orders in accordance with orders 1 to 4 in the form of orders
initialled by me and placed with the papers.
<P>

(4)	The exhibits may be returned.
<P>

...oOo...
<P>

LAST UPDATED: 	27/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/984.html</i><br>
</p>
</small>
</body>
</html>
