<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Giblin v Jammal [1999] NSWSC 216 (19 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 216</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+216 or 1999+NSWSC+216">Noteup</a>]
[<a href="216.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Giblin v Jammal [1999] NSWSC 216 (19 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_216.html-->
<!--sino date 19 March 1999-->


<P>Last Updated: 7 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Giblin v Jammal  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/216.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 216</a>
<P>

CURRENT JURISDICTION: 	Administrative Law Division
<P>

FILE NUMBER(S): 	30091/98
<P>

HEARING DATE{S): 	19 March 1999
<P>

JUDGMENT DATE: 	19/03/1999
<P>

 PARTIES: 
<P>

Alan Giblin and Ester Imelda Giblin (Plaintiffs)
<P>

Samir Jammal (First Defendant)
<P>

JUDGMENT OF: 	Dunford J      
<P>

LOWER COURT JURISDICTION: 	Consumer Claims Tribunal
<P>

LOWER COURT FILE NUMBER(S): 	BSY 97/540
<P>

LOWER COURT JUDICIAL OFFICER: 	Cornish (Referee)
<P>

COUNSEL: 
<P>

A Ridley (Plaintiffs)
<P>

A Ogborne (First Defendant)
<P>

SOLICITORS: 
<P>

Somerville &amp; Co. Solicitors, North Sydney (Plaintiffs)
<P>

Williams Hussain, Solicitors, Strathfield (First Defendant)
<P>

CATCHWORDS: 
<P>

ADMINISTRATIVE LAW - Consumer Claims Tribunal
<P>

building contract
<P>

claim by builder for unpaid balance
<P>

cross-claim for defective workmanship
<P>

cross-claim allowed in part
<P>

no reasons given
<P>

no indication of which parts of cross-claim allowed
<P>

whether denial of natural justice
<P>

ADMINISTRATIVE LAW - Consumer Claims Tribunal
<P>

building contract
<P>

claim by builder for unpaid balance
<P>

cross-claim for defective workmanship
<P>

evidence in support of some items in cross-claim
<P>

cross-claim summarily dismissed
<P>

no notice of intention to consider summary dismissal
<P>

no reasons given
<P>

whether denial of natural justice
<P>

ADMINISTRATIVE LAW - Consumer Claims Tribunal
<P>

objection to jurisdiction
<P>

manner of taking objection
<P>

what constitutes objection
<P>

ADMINISTRATIVE LAW - Consumer Claims Tribunal
<P>

jurisdiction limited to orders not exceeding $25,000
<P>

whether amounts established in cross-claim can be set off against amounts
established in claim to bring order within jurisdiction.
<P>

ACTS CITED: 
<P>

Consumer Claims Tribunal Act 1987, ss 12, 17, 32, 34A
<P>

DECISION: 
<P>

Decision of Tribunal quashed, remitted back to Tribunal for further hearing.
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>ADMINISTRATIVE LAW DIVISION</b>
<P>

<b>DUNFORD J</b>
<P>

<b>19 MARCH 1999</b>
<P>

<center><b><u>30091/98  -  Alan GIBLIN &amp; Ester Imelda GIBLIN  v  Samir
JAMMAL &amp; Anor</u></b>
<P>

<b><u>JUDGMENT</u></b></center>
<P>

1	<b>HIS HONOUR:</b>  In these proceedings the plaintiffs seek to set aside an
order made in the Consumer Claims Tribunal (sitting as a building disputes
tribunal) on 19 June 1998, such order being that the plaintiffs pay to the
second defendant the sum of $3,162.  Before proceeding
further, it must be
observed that the costs involved in these proceedings must exceed such amount,
to say nothing of the expense
involved incurring the services of building
consultants in the proceedings before the Tribunal and in the two previous
claims brought
in the Tribunal, by the present plaintiffs all in respect of the
building of one house.  Nevertheless, the plaintiffs having instituted
the
proceedings, it is my duty and responsibility to resolve them in accordance
with the relevant law.
<P>

2	The <b><i>Consumer Claims Tribunal Act 1987 (the Act)</i></b> in s 3 defines
a "claimant" and a "consumer claim", but in respect of building matters the
combined effect of ss 12A and 12B provides
a much wider definition, and it is s
12D that provides that in hearing and determining a building claim a tribunal
is to be known
as a building disputes tribunal.  <b><i>The Act</i></b> provides
for the making of consumer claims: s 13 and see also Regulation 11 and Form 1.
Section 17 provides that except as expressly
provided by <b><i>the Act</i></b>
or Regulations the Tribunal has control of and responsibility for its own
procedures but in exercising its functions under <b><i>the Act</i></b> must
conform to the rules of natural justice.  
<P>

3	The procedure before the Tribunal is set out in ss 21-34A and it is only
necessary to refer specifically to s 26, which provides
for the procedure to be
followed where a Tribunal's jurisdiction is disputed, s 32 and reg 6(1) which
limit the Tribunal's jurisdiction
to make orders to amounts not exceeding
$25,000, s 34A which provides for the giving of reasons which are to be as
brief as reasonably
practical, s 34 which provides for the order of the
Tribunal to be final and without appeal, subject, inter alia, to s 12(2) which
provides for a limited right to prerogative, declaratory and injunctive relief
in respect of matters going to jurisdiction or where
it is shown that in the
hearing and the determination of the claim a party to the claim has been denied
natural justice.
<P>

4	In the present case it has been submitted that the Tribunal erred in three
respects in relation to its jurisdiction and attention
has been drawn to a
number of matters which it is said demonstrated a denial of natural justice.
<P>

5	It is not necessary to refer to the facts in any great detail except to
record that the first defendant was engaged as a builder
for the building of a
house for the plaintiffs at 4 Glenayr Grove, West Pennant Hills, and the
building commenced in November 1995.
 A number of disputes arose between the
parties and on 19 October 1996 the plaintiffs made a claim against the first
defendant. 
That matter was apparently resolved but a second claim was lodged
by the plaintiffs in July 1997.  Mediation apparently failed but
there was some
agreement between the parties in that the papers contained what purports to be
an agreement dated 8 November 1996
whereby the plaintiffs agreed to pay the
first defendant the sum of $15,352 in respect of extras up to that date.
<P>

6	On 26 September 1997 the first defendant lodged the present claim against the
plaintiffs in which he claimed the said sum of $15,352
together with some other
amounts, making a total of $22,750.  That claim is dated 26 September 1997 and
is Ex. E before me.  In respect
of this claim the plaintiffs sought assistance
from Mr Roger Thornton, a building consultant, and it has been submitted on
behalf
of the first defendant that he, in effect, became their agent.  It
appears no order was made for him to present the case on their
behalf pursuant
to s 21 of <b><i>the Act</i></b>, and I am not satisfied that at any stage he
occupied any position other than that of the plaintiffs' expert witness.
<P>

7	The Tribunal conducted hearings on 30 October, on 26 November 1997 and on 21
January 1998 and finally a further hearing and on-site
inspection on 26
February 1998.  On 26 February the referee said, "I am going to be delivering a
judgment on (a specified date),
and if you wish to put any submissions please
do so on or before 21 March".
<P>

8	Previously a Scott Schedule had been submitted on behalf of the plaintiffs by
their expert, Mr Thornton, claiming an amount of
$80,024 for defective
workmanship and such like (Ex. G); but following the site inspection the
plaintiffs themselves submitted a
further Scott Schedule on their own behalf
claiming an amount of $189,907 (Ex. F).
<P>

9	Subsequently it appears that Mr Thornton conferred with Mr King, the first
defendant's expert and they each prepared independent
reports referring to
their discussions, the matters on which they had agreed and not agreed, and
their respective valuations of the
allegedly deficient work; and these were
forwarded to the referee and also to the plaintiffs personally.
<P>

10	In relation to the Scott Schedule prepared by the plaintiffs themselves,
this was also referred by the referee to the two experts,
and Mr Thornton
submitted an opinion/valuation on three items claimed in that schedule by
letter dated 29 May 1998.
<P>

11	By notice dated 19 June 1998 (Ex. H), the Tribunal ordered the plaintiffs to
pay to the first defendant the sum of $3,162 in
full and final settlement of
the claim and annexed to it was a document headed "Brief Reasons as Required by
Section 34A".  I will
not set out those reasons in full. There was reference to
the agreement, the prior agreement for payment of $15,532, a statement
that the
claimant's evidence was accepted, that there remained a contract liability of
$22,751.
<P>

The Reasons also stated:
<P>

	"(4)  I accept the joint expert reports of Mr R W Thornton and Mr N G King as
to the extent of defective work and as to the cost
of rectification which
equates to $19,589. . . . .
<P>

	(7)  I calculate that the Claimant is entitled to payment of $3,162 after
deducting rectification costs.
<P>

	(8)  I note for the record that the expert acting for the Respondent has
advised the Tribunal that Item 5 and 6 of the Scott Schedule
has been
rectified.
<P>

	(9)  I dismiss the cross claim for damages totalling $189,907 pursuant to the
provisions of Section 27A of the Consumer Claims
Tribunal Act 1987 as presented
to the Tribunal after the on-site hearing."
<P>

12	In relation to jurisdiction, Mr Giblin has given evidence that at the first
hearing on 30 October 1997 he said to the referee,
"Your Honour, I think this
matter is out of the jurisdiction of this court because our claim for repairs
is going to total more than
$25,000", to which the referee replied, "No, sit
down.  I am going to hear it in this court".
<P>

13	This version of what occurred is disputed by Mr Jammal, but it is not
necessary for me to determine which, if either, version
is correct because the
matter can be resolved on the basis of the version most favourable to the
plaintiff, namely his own.
<P>

14	The first claim in relation to jurisdiction is that the Tribunal failed to
give a ruling on the matter.  To this it seems to
me there are a number of
answers.
<P>

15	Firstly, no proper objection was taken to the jurisdiction, but Mr Giblin
merely made a suggestion that the matter may be outside
the Tribunal's
jurisdiction.  Even allowing for the fact that Mr and Mrs Giblin are not
lawyers I am satisfied that something more
positive was required to amount to a
challenge to the jurisdiction pursuant to s 26.
<P>

16	Secondly, it was, in my view, not open to the plaintiffs to object to the
jurisdiction at that stage because there was then no
claim before the Tribunal
except the defendant's claim for $22,750 (Ex. E).
<P>

17	Although the practice appeared to have grown up which was considered by
Rolfe J in <b><i>Hutley -v- Meigan &amp; Ors</i></b> (SC NSW - unreported - 19
December 1996) of treating, in building disputes, documents headed "Scott
Schedule" as cross-claims, at
the time this interchange occurred there was no
Scott Schedule before the Tribunal and, the only claim before it was the first
defendant's
claim.  Although for reasons which appear hereunder when discussing
s 32, the limitation of jurisdiction relates to the making of
orders and not to
the hearing of claims, there was at the time no claim for $80,024 or $189,907
being the amounts specified in the
Scott Schedules.  At the most there was the
threat of a claim.
<P>

18	Thirdly, even if these Scott Schedules which were later presented, be
treated as claims, I fail to see how the person alleging
the claims could
object to the jurisdiction. If on reflection the person lodging those so-called
cross-claims considered that they
deprived the Tribunal of jurisdiction, their
remedy was simply to withdraw such cross-claims.
<P>

19	Finally, if what Mr Giblin said is to be treated as an objection to the
jurisdiction, he got a response, namely a negative one.
 If his informal
objection was sufficient, then I would regard the informal over-ruling of his
objection equally sufficient.
<P>

20	It was next submitted that in so far as the Tribunal made a ruling, it erred
or, alternatively, that if it did not make a ruling,
the jurisdiction was in
any event exceeded.  Firstly, it was submitted that the claims for $80,024 and
$189,907 were both in excess
of the $25,000 prescribed by Reg 6 for the
purposes of s 32 of <b><i>the Act</i></b>.  The short answer is that at the
time neither of these claims had been made, and when they were, they were not
made as separate
claims, but by way of set-off or cross actions in mitigation
of so much of the first defendant's claim as he could establish. 
<P>

21	The other objection to the jurisdiction bears on the terms of s 32 and it
was submitted that the Tribunal exceeded its jurisdiction
in making its
determination because, having found the first defendant was entitled to $22,751
and that the plaintiffs were entitled
to $19,589, these two amounts together
exceeded the $25,000 limitation imposed by s 32.  Reliance was placed on the
words of the
section to the effect that the Tribunal has no jurisdiction to
make an order or orders in favour of the claimant or, where there
are more than
two claimants, in favour of those claimants, where the total exceeds the
prescribed amount.  It was submitted if one
added those two amounts together,
the $25,000 was exceeded.  This argument has already been considered and
over-ruled in <b><i>Hales -v- The Consumer Claims Tribunal &amp; Anor</i></b>
 <a href="/cgi-bin/LawCite?cit=%5b1990%5d%20ASC%2055%2d975" title="View LawCiteRecord" class="autolink_findcases">[1990] ASC  55-975</a>, which was followed in <b><i>Sandford -v- Marjen
Building Contractors Pty Ltd &amp; Ors </i></b> <a href="/cgi-bin/LawCite?cit=%5b1992%5d%20ASC%2056%2d148" title="View LawCiteRecord" class="autolink_findcases">[1992] ASC  56-148.</a>  The
effect of those cases is that it is the final order that is made which is
determinative of whether the matter is within the
Tribunal's jurisdiction or
not; and here the only order made was a payment of $3,162.
<P>

22	For these reasons the claim that the Tribunal exceeded its jurisdiction
fails.
<P>

23	I turn now to consider the claim that there was a denial of natural justice
and it was submitted that the Tribunal failed to
observe the rules of natural
justice in a number of respects.  
<P>

24	Firstly, it was submitted that the Tribunal determined the matter by
reference to a report of an expert, namely the first defendant's
expert's
report dated 9 March 1998, in which the plaintiff had no input or opportunity
to provide input.  I am satisfied on the evidence
that Mr King's report of 9
March, which is the report referred to, was provided to the plaintiffs - this
appears from Ex. G1 - and,
having received it, they took no steps to make any
further submissions to the referee about it although they had been informed
that
there was intention to proceed to a determination.
<P>

25	Secondly, it has been submitted that the Tribunal failed to provide reasons
as required by s 34A.  The difficulty about this
ground is that it is extremely
difficult to decide just what the Tribunal did decide.  Mr King's report of 9
March was followed by
a report of Mr Thornton of 13 March in which a number of
the items in the Scott Schedule (Ex. G) prepared by Mr Thornton, were
considered,
but there was nothing by way of a joint expert report or, to use
the words of the Reasons for Judgment, "joint experts' reports".
  It would
appear that what the referee meant was that he considered the two separate
reports of the experts whom he had directed
to confer, and somehow from that
arrived at a figure of $19,589 but we have no idea precisely how he arrived at
that figure.
<P>

26	If one takes Mr Thornton's report of 13 March 1998 and adds up the various
amounts specified therein, one arrives at a total
of $21,395.  There are other
combinations of items or amounts which can produce an amount considerably less,
but nowhere did the
referee indicate which items he allowed, which items he did
not allow, and why not.  Certainly s 34A does not require detailed reasons,
but
in a claim of this nature where there are a large number of items one would at
least expect an indication as to what items were
allowed and which items were
not, and preferably a short statement as to why those items not allowed were
not allowed.  It may be
that they were considered to be part of the contract;
it may be he did not consider the work was defective, and where there was a
dispute as to the amount, the referee may have found one valuation preferable
to the other; but without him saying so, the parties
have no idea on what items
they have been successful and on what items not.
<P>

27	It has been held, for example, in <b><i>Archcom Pty Limited -v- Consumer
Claims Tribunal &amp; Ors</i> </b>(SC NSW - unreported - Simpson J - 29
September 1995), that generally speaking the rules of natural justice do not
include an obligation
to give reasons even though <b><i>the Act</i></b>
specifically requires reasons to be given, and in <b><i>Ciciwill Pty Ltd -v-
Consumer Claims Tribunal &amp; Ors</i></b>  <a href="/cgi-bin/LawCite?cit=%281997%29%2041%20NSWLR%20737" title="View LawCiteRecord" class="autolink_findcases">(1997) 41 NSWLR 737</a> at 752, Hulme J,
whilst expressing general agreement with the former case, expressed the view
that where the failure to give reasons
might indicate that a relevant matter
has not been considered, such failure may amount to a denial of natural
justice. 
<P>

28	The matter is further complicated in the present case because of Ex. F,
which was the further Scott Schedule submitted by Mr
and Mrs Giblin personally
without reference to their expert.  Some of the items appear, at first reading,
to be repetition of items
in Mr Thornton's Scott Schedule, Ex. G, and some of
them, for example a claim for $100,000 for loss of enjoyment, pain, stress and
suffering, appear to be, at first glance at any rate, outside the powers of the
Consumer Claims Tribunal; but at least some of them
appear to have some
validity.  On receipt of this further Scott Schedule the referee referred it to
the experts and was furnished
with two reports, one from Mr King dated 28 May
and one from Mr Thornton dated 29 May.  Mr King appears to have been of the
view
that no further amount should be allowed, but Mr Thornton provided a
report suggesting a further $5,388 should be allowed in favour
of the
plaintiffs.
<P>

29	This was dealt with by the referee in paragraph 9 of his reasons where he
purported to dismiss the whole of that claim under
s 27(a) of the Act which
provides for the dismissal of claims where the claim is frivolous, vexatious,
misconceived or lacking in
substance.
<P>

30	In view of the evidence contained in the report of Mr Thornton, lastly
referred to, I fail to see how the whole of that claim
could have been
dismissed under that section. In any event, not only are there no reasons given
explaining how and why that further
claim was considered to be frivolous,
vexatious, et cetera, but I am satisfied that at no time did the referee
indicate to the plaintiffs
that he was considering summarily dismissing that
part of their claim and giving them an opportunity to make submissions in
respect
thereof.  His failure to hear them on that point, in my view, clearly
amounted to a denial of natural justice. 
<P>

31	There is also a dispute relating to paragraph 8 of the Reasons as to whether
the repairs had been done or whether the Tribunal
had been informed that the
repair work had been carried out.  It appears that an application was made in a
rather informal way to
have the matter rectified under the slip rule pursuant
to s 33 but, in the light of the letter from Mr King, this was not a case
of an
application under the slip rule, but rather an application for a re-hearing of
that part of the claim under s 25.  This however,
 will not now be, in view of
the failure to indicate how the amount of $19,589 was arrived at, and in
summarily totally dismissing
the claim in the plaintiffs' own Scott Schedule,
Ex. F, particularly without giving the plaintiff an opportunity to be heard on
the
matter, I am satisfied that the order of the Tribunal must be set aside and
the matter remitted to it for further hearing.
<P>

32	I therefore make an order in the nature of certiorari removing the
proceedings of the Tribunal BSY 97/540 into this Court, quashing
the order of
18 June 1998, and I order the proceedings be remitted to the Tribunal for
further hearing.
<P>

33	Having regard to the fact that the attack on the Tribunal's order was
twofold and the plaintiffs have only succeeded on one issue,
I consider the
appropriate order is for the first defendant to pay one half of the plaintiffs'
costs of the proceedings, and I so
order.
<P>

34	I order that the first defendant have a certificate under the Suitors Fund
Act.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	01/04/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/216.html</i><br>
</p>
</small>
</body>
</html>
