<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Lykoudis v Lykoudis [1999] NSWSC 1033 (20 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1033</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1033 or 1999+NSWSC+1033">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Lykoudis v Lykoudis [1999] NSWSC 1033 (20 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1033.html-->
<!--sino date 20 September 1999-->


<P>Last Updated: 14 October 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Lykoudis v Lykoudis  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1033.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1033</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	1728/98
<P>

HEARING DATE{S): 	30/07/99, 16/09/99 and 20/09/99
<P>

JUDGMENT DATE: 	20/09/1999
<P>

 PARTIES: 
<P>

Michelle Lykoudis v Angelique Lykoudis
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr P. Blackburn-Hart for the plaintiff
<P>

Mr L. Ellison for defendant
<P>

SOLICITORS: 
<P>

Bartier Perry for the plaintiff
<P>

Macedone Christie Willis - Solari Partners for the defendant
<P>

CATCHWORDS: 
<P>

Family Provisions.  Application by a daughter where the whole of the estate was
left to the widow.  Large estate, small legacy to
plaintiff.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Paragraph 73
<P>

JUDGMENT: 
<P>

- 1 -
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

 
<P>

MASTER MACREADY
<P>

 
<P>

MONDAY 20 SEPTEMBER 1999
<P>

 
<P>

<b>1728/98  -  MICHELLE LYKOUDIS  v  ANGELIQUE LYKOUDIS - ESTATE OF KRISTOS
LYKOUDIS</b>
<P>

 
<P>

<b>JUDGMENT</b>
<P>

 
<P>

1  	MASTER: This is an application under the Family Provisions Act in
respect of the late Kristos Lykoudis who died on 23 November
1996, aged 54
years.  He was survived by his widow, the defendant, and their three children.
He was also survived by the plaintiff,
who was his daughter of a relationship
between the deceased and Beverley Hayward, which was prior to the marriage to
the defendant.
<P>

2  	     The deceased, by the last Will made on 15 April 1981, left
the whole of his estate to his widow, the defendant.
<P>

3  	     It has been a somewhat difficult exercise to determine what
is the value of the estate in this matter.  Ultimately, during
the course of
the hearing Ex 1 was tendered, which was a listing of a variety of different
information, including realised assets,
unrealised assets, liabilities paid,
liabilities outstanding.  It also deals with distributions to the defendant.
<P>

4  	     The details of precisely what is in the estate is
complicated because the defendant and the deceased, during his lifetime,
conducted a wholesale rental business, and there has been sales of that
business' equipment and payment of its liabilities.
<P>

5  	     The defendant was a partner with the deceased in the
business and, accordingly, the assets were owned between them.  They
had joint
liabilities.
<P>

6  	     The schedule incorporates payments of some of the
liabilities in respect of that partnership.  But it also includes as
assets
only one and a half of some of the relevant assets.
<P>

7  	     Probably using the schedule is the easiest way to comprehend
what is the amount of the funds which will flow to the defendant.
 It is
necessary to make some adjustments to it.
<P>

8  	     In the realised assets there are two items of equipment for
sale, and rodeo sale.  They have been included at half their
sale proceeds.
Accordingly, it is necessary to add in the other half of those assets in order
to make the document consistent and
deal with, not only the estate assets, but
those assets which were owned between the deceased and the defendant as a
result of their
joint business.
<P>

9  	     When one does this the amount of the realised assets
increases to $620,066.
<P>

10  	     Under the unrealised assets the reference to the Preston
land is based upon an offer from the Local Council of  $1,095,000
for that
land.
<P>

11  	     It is apparent that there has been a valuation of that land
at a higher figure, namely, $1,235,000.
<P>

12  	     If one takes this into account there is an addition sum of
$31,300 that can be added to the total.
<P>

13  	     Then under 'liabilities paid' and 'liabilities outstanding'
there are amounts for legal fees, and these are, effectively,
the defendant's
legal costs in the proceedings. Accordingly, the figure that one comes to at
the end of the document is one which
takes account of the defendant's legal
fees.
<P>

14  	     Under 'outstanding liabilities' there is an amount of loan
repayments of $40,000.  In fact that should be reduced by $20,000
as $20,000 of
these funds were provided by the defendant from her monies.  The balance of
$20,000 was borrowed from her mother and
sister.  Although not expecting to be
repaid it may be that they should be taken into account in this exercise.
<P>

15  	     When one comes to the final figure under the heading 'paid
out' on Sefton mortgage the document gives a figure of $814,138.
<P>

16  	     Taking account the matters that I have referred to this
increases to $858,605.  Or, if one includes the Preston land at
the higher
figure $889,905.  I think the latter is more likely to be correct.
<P>

17  	     One then sees after this that there are amounts which have
been distributed totalling $191,702.  There have been payments
off the mortgage
and part distribution used in renovations of the defendant's home.  Then there
are other funds including rent collected
to date.  Effectively, the defendant
has been paid $191,700.  With this she has retained about $50,000 to $52,000 in
a bank account
because of the dealings with her funds and the estate's
funds.
<P>

18  	     In these circumstances one can see that there has been a
distribution of just under $200,000, of which the defendant still
has
$50,000.
<P>

19  	     Even after this distribution the amounts which will be
available on the two hypotheses I have put before are $666,903
or the more
likely one $698,203.
<P>

20  	     The costs of the plaintiff have been estimated at $46,900,
which obviously is on a solicitor and client basis. Somewhat
less will have to
be provided for if a legacy is granted.
<P>

21  	     I mention at this stage that the defendant does have her
own home which passed to her by survivorship on the death of
the deceased.
<P>

22  	     I will deal with a few matters of family history.
<P>

23  	     The deceased was born in 1942 and the defendant was born on
10 April 1949.  She is now fifty years of age.
<P>

24  	     In 1967 the deceased and the plaintiff's mother met. The
plaintiff was born on 21 March 1970, making her now 29.
<P>

25  	     In 1974 the deceased and the plaintiff's mother
separated.
<P>

26  	     On 23 February 1975 the deceased and the defendant married.
They had three children, as I have mentioned. Irene, who was
born on 6 February
1977 is now 22, Maria, born on 18 September 1978, is now 20, and Christopher,
who was born 18 March 1987, is now
12.
<P>

27  	     I have mentioned that the deceased made his last Will on 15
April 1981 and died on 23 September 1996.  Probate was taken
out in due course,
and on 28 June 1997 the plaintiff married.  She was retrenched in November of
that year and her first, and so
far only child, Chanel was born on 15 April
1999.
<P>

28  	     In applications under the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision Act</a> the High
Court as recently as<b> Singer v Berghouse</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1994/40.html" title="View Case" class="autolink_findcases_inserted">[1994] HCA 40</a>;  <a href="/cgi-bin/LawCite?cit=%281994%29%20181%20CLR%20201" title="View LawCiteRecord" class="autolink_findcases">(1994) 181 CLR 201</a> set out the
two stage approach that a court must take.  At page 209 it said the
following:-
<P>

 
<P>

"The first question is, was the provision (if any) made for  the applicant
'inadequate for (his or her) proper maintenance, education
and advancement in
life'? The  difference between 'adequate' and 'proper' and the
interrelationship which exists between 'adequate
provision'  and 'proper
maintenance' etc were explained in<b> Bosch v Perpetual Trustee Co Limited</b>.
 The determination of the  first stage in the two-stage process calls for an
assessment of whether the provision (if any) made was
inadequate or  what, in
all the circumstances, was the proper level of maintenance etc appropriate for
the applicant having regard,
 amongst other things, to the applicant's
financial position, the size and nature of the deceased's estate, the totality
of the relationship
between the applicant and the deceased, and the
relationship between the deceased another persons who  have legitimate claims
upon
his or her bounty.
<P>

 
<P>

 The determination of the second stage, should it arise, involves similar
considerations.  Indeed, in the first stage  of the process,
the court may need
to arrive at an assessment of what is the proper level of maintenance and what
is  adequate provision, in which
event, if it becomes necessary to embark upon
the second stage of the process, that  assessment will largely determine the
order
which should be made in favour of the applicant.  In saying that, we are
mindful that there may be some circumstances in which a
court could refuse to
make an order notwithstanding that the  applicant is found to have been left
without adequate provision for
proper maintenance.  Take, for example, a case
like<b> Ellis v Leeder</b> where there were no assets from which an order could
reasonably be made and making an order could  disturb the testator's
arrangements
to pay creditors." 
<P>

29  	     If one turns to the Plaintiff's situation one finds that
she is married.  She is 29 years of age with one child.  She
and her husband
have a property at Ryde.  That has a present value of $320,000.  They have
three vehicles, two of which are not working,
totalling in value $21,500.  They
have savings of some $3,000.  They have debts.  There is a mortgage on their
property of $106,374.42,
and they owe the plaintiff's mother $12,100.
Fortunately, they have been paying a little ahead with their mortgage and,
accordingly,
they have part which they can draw down, amounting to about
$6,000.
<P>

30  	     So far as any income is concerned they are not in a good
situation.  The plaintiff's husband works as a bus driver earning
around $410
to $810 per week.
<P>

31  	     The other sources of income are the Family Allowance and
parenting payments.
<P>

32  	     The plaintiff's work is as a dancing instructor in her own
business and appears to produce little income.  In effect,
they have somewhere
around $450 to $500 a week. Their outgoings appear to be in the order of $630
per week, and they seem to be exceeding
their income at the moment.
<P>

33  	     There was some cross-examination directed towards the
testimentary intentions of the plaintiff's mother.  It appears she
owns a
property at Greenacre, and proposes to leave it equally between the plaintiff
and her other two children.
<P>

34  	     Given the age of the plaintiff's mother and the
uncertainties of the future I really think little weight can be placed
on this
asset.  Circumstances change as children  get older, and as parents get
older.
<P>

35  	     One of the things that has to be considered is the
relationship between the plaintiff and the deceased.  It is important
in
considering this that one bears in mind the nature of the beginning of the
defendant's marriage to the deceased.
<P>

36  	     The defendant made it plain in paragraph 10 of her
affidavit, dated 16 November 1998, that before she married the deceased
they
had a number of conversations about his daughter.
<P>

37  	     According to the defendant she only agreed to marry the
deceased on condition that the child did not interfere with their
life, their
marriage, and any family that they raised. She obtained from the deceased an
assurance that he would keep the child separate
from their own proposed
family.
<P>

38  	     The result of this was that the plaintiff and the deceased
continued to have contact.  However, it was not as part of
the family that the
deceased raised as a result of his marriage.  Clearly, the plaintiff and the
deceased would see each other occasionally
for lunch.  There would be regular
phone contact, and the plaintiff, in fact, changed her surname to that of the
deceased.  There
is evidence from other friends of the high regard the deceased
had for his daughter and of his intentions to help her.
<P>

39  	     In fact, for instance, he did help her to purchase a car
when she first acquired one.
<P>

40  	     Because of the arrangement that the deceased had made he
clearly did not inform his own family and his wife of the extent
of the contact
that he had.  Accordingly, it was quite a different story that was told to the
defendant.
<P>

41  	     It is also worth noting that the deceased who seemed to be
under the belief that the reason why he did not need to leave
anything to the
plaintiff was that the plaintiff was to receive something from her mother's
brother.  That, however, turned out not
to be the case as the property passed
to the Plaintiff's mother.
<P>

42  	     It is also necessary to consider the way in which the
plaintiff alleges that she has been left without adequate and proper
provision
for her education, maintenance and advancement in life.
<P>

43  	     Obviously, there are some areas where her life could be
improved.  She has a deficiency of income.  She has liabilities,
which would be
of assistance if she could have reduced.  Obviously, something also has to be
done about transport, with cars being
traded in on some other car.
<P>

44  	     The property that they ave at Ryde is an old fibro property
which they purchased, no doubt, with knowledge that it might
require further
work.
<P>

45  	     There are a whole range of things which would be advisable
to do to that property, including plumbing, electrical work,
new fences, fixing
the fibro panels, repainting, and trying to ascertain the source of mould
inside the house and to cure that problem.
<P>

46  	     As a result of the late service of affidavits no evidence
of the amount of various needs are set out.  There are photographs
in evidence
that show that, obviously, the house needs work on it.  The yard needs some
fencing work.  The child requires a bed and
bedroom furniture and that will
have  to be provided for fairly soon.
<P>

47  	     As well as considering the plaintiff it is necessary to
consider the other persons who have claims on the deceased's bounty.
 In this
case it is the Defendant widow and three children.
<P>

48  	     The asset position of the defendant is that she holds a
house at Strathfield in what is described as the 'golden mile'
by the valuer.
It is a two storey house with five bedrooms and worth, at least, from $600,000
to $650,000.  It is unencumbered and
recently the defendant has been able to do
some work, including building a garage, or carport, to get the house in
reasonable condition.
 Obviously, other things would be nice to do, but
certainly it is a good property.
<P>

49  	     She has a couple of small bank accounts.
<P>

50  	     There is also the $50,000 that she has in a bank account
which will become available to her now this case is completed.
<P>

51  	     She has a car, some seven years old.
<P>

52  	     So far as the children are concerned, the eldest is Irene.
She is in her last year at university and works part time for
Mercantile
Mutual.  She wants to work full time there once she graduates, but has not yet
heard whether there is a position.
<P>

53  	     Maria, who is in her third year of a four year course. She
is learning to be a primary teacher and works part time on
Saturdays.  She
will, no doubt, obtain employment as a primary teacher in the near future.
<P>

54  	     The son, Christopher, is 12 years of age, and his mother
hopes to send him to Trinity for his education.  His sisters
went to
Meriden.
<P>

55  	     The defendant has not worked during her marriage, but she
did help the deceased with business.
<P>

56  	     Her income from the rented property is $629 per week and
she will receive more income when she receives the balance of
the funds that
are coming to her from the estate.  She gets Family Allowance for her son
Christopher of $23.70 per fortnight.
<P>

57  	     She puts forward in her affidavit estimates of expenses of
some $1278 per week.  However, these, no doubt, are based on
three children and
the household as it exists at the moment.  The two eldest children are almost
self-sufficient, and will become
self-sufficient in a year or two.
<P>

58  	     In her affidavit of 16 July, the defendant dealt with a
number of other expenses which she will have.  These include orthodontic
work,
new clothes, and then a range of future expenses.  There are a whole variety of
matters set out there, including provisions
for the weddings of her children in
the future; sums to put aside for a nest egg; trips to the United States for
the children; new
car; education expenses for Christopher.  They total
$561,582.
<P>

59  	     They are, however, a whole variety of what might be
considered to be an optimistic list of what the defendant would like
to do in
the future for her children.
<P>

60  	     I do not wish to deprecate the good intentions of the
defendant but some of the matters simply may not be able to be accommodated.
<P>

61  	     There is, in these matters, a balancing exercise to be
performed which requires one to take into account what is the 
proper provision
for a widow.
<P>

62  	     Widow's claims are frequently the subject of applications
in this Court.  The Court of Appeal in<b> Goloski v   Goloski</b>, (unreported
5 October 1993) has referred to formulations of his standard to be expected in
respect of a widow in terms which refer
to the decision of Powell J in
<b>Luciano v Rosenblum</b> (1985) 2NSWLR 65 and<b> Elliott  v Elliott </b>which
was approved by the Court of Appeal on 24 april 1986. There his Honour said,
<P>

"Where the marriage of a deceased and his widow has been long and harmonious,
where the widow has loyally supported  her husband
and assisted him to build up
and maintain his estate, the duty which a deceased owes to his widow can be no
less than to the extent
to which his assets permit him to achieve that result;
first to ensure that his widow be secure  in her home for the rest of her
life
and that if either the need arises or the whim strikes her she has the capacity
to  change her home; secondly that she have
available to her an income
sufficient to enable her to live in a reasonable  degree of comfort and free
from any financial worry;
and, third, that she have available to her a fund to
which she  might have resort in order to provide herself with such modest
luxuries
as she might choose and which would provide  her with a hedge against
any unforeseen contingency or disaster that life might bring."
<P>

63  	      Here, of course, one has many of the elements that are
referred to by the Court in that passage I have quoted. There
is 21 year
marriage, and the defendant worked for the business and in that way assisted
the build up of the assets which are now
available.
<P>

64  	     She also raised the deceased's family.
<P>

65  	     Her assets situation is what might be described as
reasonable.  Fortunately, she has a home in a good position which will
be a
great backstop for her in the future once the children are educated.
<P>

66  	     So far as the plaintiff is concerned, one must not lose
sight of the fact that the plaintiff was the deceased's daughter.
 There was a
good relationship between the deceased and his daughter.  But, although this
was the case, she lived in a separate family
unit and was brought up quite
separately from the deceased.  She was not part of his family unit for reasons
none of which, of course,
are the fault of the plaintiff.  The extent of the
ties are not the same as they were with the children of the deceased by his
wife.
<P>

67  	     The deceased quite rightly did not provide for his children
as his widow will obviously provide for them in due course.
 There will, of
course, be no provision for the plaintiff by the Defendant widow.
<P>

68  	     Given the circumstances of the agreement that the deceased
made at the time of his marriage he would well know that no
provision would be
made by the defendant for the plaintiff after her death.
<P>

69  	     The reason why he did not make provision seems to be his
mistaken belief that the plaintiff would be otherwise well provided
for.
<P>

70  	     In submissions it was suggested that the plaintiff should
receive a legacy of $150,000.  I think it is appropriate that
there be some
provision of a legacy for the plaintiff at this stage, but, frankly, the
provision will have to be far more modest.
<P>

71  	     The widow is in a difficult situation.  She has to provide
for herself and her son Christopher.  Her income will not be
substantial and
there is every reason why she should try and give Christopher a good education
like his sisters.
<P>

72  	      One also has to bear in mind that if a legacy is provided
there will be an impact on the estate because of the burden
of costs.
<P>

73  	     In the circumstances I think that the appropriate order is
that the plaintiff receive out of the estate of the deceased
a legacy of
$45,000, and I so order.
<P>

74  	     Subject to any submissions I order that the plaintiff's
costs on a party party basis and the defendant's on an indemnity
basis be paid,
or retained, out of the estate of the deceased.
<P>

75  	     I order that the exhibits be returned.
<P>

LAST UPDATED: 	14/10/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1033.html</i><br>
</p>
</small>
</body>
</html>
