<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Warren v Nationwide News Pty Limited [1999] NSWSC 446 (14 May 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 446</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+446 or 1999+NSWSC+446">Noteup</a>]
[<a href="446.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Warren v Nationwide News Pty Limited [1999] NSWSC 446 (14 May 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_446.html-->
<!--sino date 14 May 1999-->


<P>Last Updated: 17 May 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Warren v Nationwide News Pty Limited  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/446.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 446</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	21322 of 1995
<P>

HEARING DATE{S): 	29 October 1998
<P>

JUDGMENT DATE: 	14/05/1999
<P>

 PARTIES: 
<P>

PETER WARREN
<P>

(Plaintiff)
<P>

v
<P>

NATIONWIDE NEWS PTY LIMITED
<P>

(Defendant)
<P>

JUDGMENT OF: 	Levine J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

J Gibson
<P>

(Plaintiff)
<P>

T Blackburn
<P>

(Defendant)
<P>

SOLICITORS: 
<P>

Denes Ebner Lawyers
<P>

(Plaintiff)
<P>

Blake Dawson Waldron
<P>

(Defendant)
<P>

CATCHWORDS: 
<P>

Comment - protected report - matters for trial
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

See paragraph 12
<P>

JUDGMENT: 
<P>

DLJ : 5
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DEFAMATION LIST</b>
<P>

<b>No.  21322 of 1995</b>
<P>

<b>JUSTICE DAVID LEVINE</b>
<P>

<b>FRIDAY 14 MAY 1999</b>
<P>

<center><b>PETER WARREN</b>
<P>

<i>(Plaintiff)</i>
<P>

v
<P>

<b>NATIONWIDE NEWS PTY LIMITED</b>
<P>

<i>(Defendant)</i></center>
<P>


<P>

<b>JUDGMENT (Comment - protected report - matters for trial)</b>
<P>

1	This matter has been the subject of three substantive rulings namely that of
7 June 1996, 29 August 1997, 27 October 1998 and
further directions on 29
October 1998.
<P>

2	The publications sued upon where on 8 and 9 December 1995.  The issue for the
jury will be whether or not in fact the imputations
are carried by the
respective matters complained of.
<P>

3	The present application is by the plaintiff to have certain particulars
provided for the defence of Comment be struck out and
that the defence of Fair
Protected Report be struck out.
<P>

4	The particulars in relation to the defences of Comment are set out in a
letter from the defendant's solicitors to the plaintiff's
solicitor dated 12
September 1997 (see my judgment 27 October 1998 at 3).  
<P>

5	As I understand the application in relation to the particulars of comment, it
is contended that if the material for comment is
in fact established and the
requisite quality as to that material being "<i>proper</i>" is made out, it is
incapable of supporting any such defence.  The more so, is this contended, when
one considers the imputations
relied upon and the material said by the
defendant to found the defence of Comment (taking into account the fact that
the "<i>correctness</i>" of the comment is irrelevant but rather whether the
comment or opinion is objectively one honestly that could be held in the light
of that material:  <b><i>Merivale v Carson </i></b> <a href="/cgi-bin/LawCite?cit=%281888%29%2020%20QBD%20275" title="View LawCiteRecord" class="autolink_findcases">(1888) 20 QBD 275</a> at
280-1).
<P>

6	Since this matter was argued the Court of Appeal in <b><i>New South Wales
Aboriginal Land Council v Perkins</i></b> (unreported, 20 November 1998) has
authoritatively held that the defence of comment is directed to the imputation
and not to the
matter said to give rise to that imputation.  The judgment of
Priestley JA at 9-13 is of particular significance.  It is clear that
upon the
jury finding an alleged imputation was carried by the matter complained of (and
was defamatory), the defendant is obliged
to show that the imputation was
comment and not a statement of fact and for that purpose the defendant is
entitled "<i>to require the tribunal of fact to consider the published matter
which made the defamatory imputation in order to determine whether
that matter
made an imputation which was comment or ... was not</i>" (at 11).
<P>

7	The powerful submissions made by Ms Gibson, in the end I am of the view, are
more appropriate to be made at trial once the jury
has determined whether or
not the imputations are carried and are defamatory.  The defendant has raised
its defence of comment and
particularised it;  its resolution is fundamentally
dependent upon the jury's finding whereupon the relevant components of the
defence
fully can be argued and proved.  I am not prepared, on an interlocutory
application, to strike out particulars in this context: 
the plaintiff has the
advantage of the defendant's case, such as it may be, as disclosed by its
pleading and particulars and can
make appropriate submissions at the
appropriate time.  I am not persuaded that it is so unarguably clear that no
case of comment
can be made out.  It will be for the trial judge to determine,
in the light of the defamatory imputations found by the jury, whether
in fact
such a defence is established.
<P>

8	As to protected report, again powerful submissions were made by Ms Gibson for
the plaintiff;  they were directed however to matters
more appropriate to be
dealt with at the trial, again after the jury have performed its function with
respect to the imputations.
 The decision of the High Court in
<b><i>Chakravarti v Adelaide Newspapers Limited </i></b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1998/37.html" title="View Case" class="autolink_findcases_inserted">[1998] HCA 37</a>; (1998) 72 ALJR 1085;
 <a href="/cgi-bin/LawCite?cit=%281998%29%20154%20ALR%20294" title="View LawCiteRecord" class="autolink_findcases">(1998) 154 ALR 294</a>, although on appeal from South Australia, in my view, on
this interlocutory application, can be said to have had an effect on the
law in
this State. Insofar as it was held to be necessary for the tribunal of fact to
determine what meanings the publication carries
before it determines the
fairness of the report, it is arguable that the more so is that the case in New
South Wales where the imputations
constitute the cause of action.  Again I am
not persuaded that it is so unarguably clear that the defence as particularised
is incapable
of being made out that it should be struck out.
<P>

9	Accordingly, the subject matter of each of the plaintiff's applications
should be determined at trial.
<P>

10	These applications indicate that the function and operation of the
Defamation List in respect of publications after 1 January
1995 may shift in
its emphasis.  The principal matter for consideration will be the capacity of a
matter complained of to carry the
imputations relied upon.  Except in the
clearest of cases it is unlikely that a Court in the Defamation List will
intervene in a
way that in reality, pre-empts the litigation of issues at trial
after the jury has performed its function.  Certainly occasions
will arise in
relation to discovery and interrogatories to be more amenable for disposition
in the Defamation List.  Upon the determination
of the question of capacity,
the requirement in the parties properly to formulate their respective matters
in Defence and in Reply
should be greater;  to put it starkly, the plaintiff,
or indeed a defendant, may be in a position at an early date to view the
opponent's
case as pleaded and particularised as "<i>if that's the best they
can do let's get on with its litigation at trial</i>".  At trial, of course,
different considerations will have to be taken into account in the event of at
the then "<i>late</i>" stage one or other of the parties seeking to amend.
<P>

11	This present application has given rise to matters of some importance in
relation to the conduct of the Defamation List and the
intervention of the
decision of the Court of Appeal referred to make it appropriate that the costs
be costs in the cause.  I see
no reason why this matter should not be listed
for hearing when next called up.
<P>

12	The formal orders:
<P>

(a)	The plaintiff's applications are dismissed;
<P>

(b)	Costs will be costs in the cause.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	14/05/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/446.html</i><br>
</p>
</small>
</body>
</html>
