<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Franklin v Grima [1999] NSWSC 682 (18 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 682</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+682 or 1999+NSWSC+682">Noteup</a>]
[<a href="682.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Franklin v Grima [1999] NSWSC 682 (18 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_682.html-->
<!--sino date 18 June 1999-->


<P>Last Updated: 7 July 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Franklin v Grima  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/682.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 682</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	ED 1459/99
<P>

HEARING DATE{S): 	18 June 1999
<P>

JUDGMENT DATE: 	18/06/1999
<P>

 PARTIES: 
<P>

Jasmin Franklin v Rita Grima
<P>

JUDGMENT OF: 	Davies AJ      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiff - K. Pierce
<P>

Defendant - J.E. Robson
<P>

SOLICITORS: 
<P>

Plaintiff - Abbott Tout
<P>

Defendant - Napier Keen
<P>

CATCHWORDS: 
<P>

Disputed agreement to settle
<P>

motor vehicle accident
<P>

ACTS CITED: 
<P>

Health &amp; Other Services (Compensation) Act 1995
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/maa1988166/" class="autolink_findacts">Motor Accidents Act 1988</a>
<P>

DECISION: 
<P>

Application dismissed with costs
<P>

JUDGMENT: 
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>							</b>1459/99
<P>

							DAVIES AJ
<P>

							Friday, 18 June 1999
<P>

<center><u>JASMIN FRANKLIN  v   RITA GRIMA</u>
<P>

<u>JUDGMENT</u></center>
<P>


<P>

1   	HIS HONOUR:  This matter arose out of a personal injuries
claim which the defendant, Rita Grima, made against the plaintiff
Jasmin
Franklin.
<P>

2   		On 29 May 1997, Napier Keen, solicitors for Grima, wrote
to the claims officer of CIC Insurance Ltd, who was handling the
matter on
behalf of Jasmin Franklin offering to settle the claim for $41,000.  In the
letter, a number of heads of damage were set
out including expenditure to
Hornsby Physiotherapy and to the Health Insurance Commission.
<P>

3   		Thereafter correspondence passed, questions were asked,
and then, on 16 September 1997, CIC Insurance wrote a letter advising
that it
was prepared to offer $20,500 in full and final settlement. On 15 October 1997
Napier Keen wrote to say that it rejected
the offer and did not have
instructions to reduce its offer below $41,000. On 20 November 1997, CIC
Insurance wrote making an offer
of settlement of $34,500 in full settlement.
On a subsequent date, in a letter which was headed "without prejudice", a sum
of $4000
was offered in respect of costs.
<P>

4   		On 25 November 1997 Napier Keen wrote to say, 
<P>

<i>"We acknowledge your correspondence of 20 November 1997 and am instructed to
reject your offer and maintain our offer to you which
was contained in our
correspondence to you dated 29 May 1997."</i>
<P>

5   		One can see then that there had been somewhat of a flurry
of correspondence in September, October and November with respect
to
settlement.  Nothing occurred thereafter until 4 February 1998 when the claims
officer, who handled the matter at CIC Insurance,
Ms Danica Kolicic, rang
Napier Keen and asked to speak to the person handling the relevant file.  It
appears that she was put through
to a Mr Napier. 
<P>

6   		Ms Kolicic has no independent recollection of the terms of
the conversation but she made a note on the relevant file that,
on 4 February
1998, she made a phone call to the solicitor and "<i>Advised we accept this
offer</i>". Mr Napier has sworn an affidavit.  Apparently he is not able to be
here today and lives somewhere near Taree. His affidavit states
in paragraph 3
that he has no recollection of the exact exchange of words with Ms Kolicic but
that he recorded in a contemporaneous
note that she had telephoned.  The note
is not in evidence.
<P>

7   		The evidence therefore of the terms of the conversation is
slight.  Neither Mr Napier nor Ms Kolicic can recall the terms
of the
conversation and the only notes of the matter do not coincide, Ms Kolicic
having a note that she advised that the matter was
settled and Mr Napier merely
noting that she had phoned. One would expect that, if Ms Kolicic had said in
that conversation that
the matter was settled, Mr Napier would have made a note
of that point.
<P>

8   		On the same day, 4 February 1998, Ms Kolicic wrote to
Napier Keen a letter which stated:
<P>

<i>"We are prepared to offer your client $41,000.00 in full and final
settlement of the claim pursuant to her rights under the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/maa1988166/" class="autolink_findacts">Motor Accidents Act,
1988</a>.  This offer is exclusive of all NSW Public Hospital and Ambulance
accounts and is subject to the following inclusions:"</i>
<P>

A number of out of pocket expenses were then set out.  They do not coincide
with the out-of-pockets listed in Napier Keen's letter
of 29 May 1997.  The
letter went on to say:
<P>

<i>"Accordingly, please find enclosed a Release &amp; Indemnity for execution
by your client and return to this office so that payment
may proceed."</i>
<P>

The letter then went on to say that CIC Insurance intended to make an advance
payment of $4100 to the Health Insurance Commission
and that the Commonwealth
could retain some or all of the payment if moneys were repayable under the
provisions of the Health &amp;
Other Services (Compensation) Act 1995 but that,
if such amounts were greater than the amount of the advance payment, then the
claimant
would be liable to pay the difference to the Commonwealth.  The
release included a statement that the sum of $41,000 was accepted
in full
satisfaction of the claim and an agreement to indemnify CIC Insurance against
any claims made under the provisions of the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/maa1988166/" class="autolink_findacts">Motor Accidents Act 1988</a> in respect
of injuries sustained by the claimant in the accident.
<P>

9   		The issue is whether the matter was settled by what
occurred on 4 February 1998.  Napier Keen on 5 February 1998 said that
instructions would be obtained and they later rejected the offer.  Some time
thereafter CIC claimed that the matter had been settled
on 4 February 1998.
<P>

10   		In my view, the offer of 29 May 1997 and repeated on 25
November 1997 by Napier Keen was no longer open for acceptance by
4 February
1998.  I consider that more than a reasonable time for its acceptance had
elapsed. The offer was repeated in November
after a flurry of written
communications, when the parties were not far apart.  I would have expected
that that offer, if it was
to be accepted, would have been accepted promptly.
It seems to me that by not accepting the offer promptly, and not replying to it
in any way, CIC indicated that it was not accepting it.  
<P>

11   		If needed, reference to the principles of reasonable time
be found in <i>Ballas v Theophilos</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1957/90.html" title="View Case" class="autolink_findcases_inserted">[1957] HCA 90</a>;  <a href="/cgi-bin/LawCite?cit=%281957%29%2098%20CLR%20193" title="View LawCiteRecord" class="autolink_findcases">(1957) 98 CLR 193</a>, particularly in the
judgment of Williams J at  191 where his Honour said:
<P>

<i>"In the absence of any specific time, there is an implication that an option
to purchase must be exercised within a reasonable time.
 What is a reasonable
time depends on the circumstances of the particular case."</i>
<P>

His Honour went on to discuss the authorities.
<P>

12   		In my opinion offers made in the course of personal
injury claims should be accepted promptly, if they are to be accepted.
What
necessarily occurs in personal injury claims is that circumstances change. As
time goes by, legal costs are incurred, medical
reports are obtained, and the
perception of the case on both sides alters.  In my view, to allow two months
to pass was to reject
the claim, as a reasonable time had elapsed.
<P>

13   		That leads me to the question of what happened on 4
February 1998.  It seems to me to be unreliable to act upon the note
which Ms
Kolicic made of the telephone conversation. That note not only appears
inconsistent with what Mr Napier recorded in his
contemporaneous note, but it
is inconsistent with what Ms Kolicic did on the day.  The letter of 4 February
1998 did not confirm
a settlement reached in a telephone conversation.  Without
referring to the telephone conversation, Ms Kolicic made an offer, an
offer
which, in the terms of the letter, if it was to be accepted, should be accepted
by execution of the Release and Indemnity.
<P>

14   		It seems to me, that even if Napier Keen's offer was
still open on 4 February, what was done on that day was not sufficient
to
amount to an acceptance of that offer.
<P>

15   		In <i>A Treatise on the Contract of Sale</i> by R J
Pothier - and I do not have to hand his general work on contractual obligations
- the author makes the point which was so
influential on English law that a
contract requires a meeting of minds and an expression on the part of the
parties which amounts
to a binding agreement to contract. Thus, under our law,
there must be offer and acceptance. Something must be done which, looked
at
objectively, was an offer, and something must be done on the other side which,
again looked at objectively, was an acceptance.
The offer and the acceptance
must coincide in their terms.
<P>

16   		In paragraph 32 Pothier put the point, which was not
always accepted in English law, that there may be acceptance of offers
by
written communication:  
<P>

<i>"... the consent may be manifested not only between those who are present
together; but also between those who are at a distance from
each other, by
means of letters, or through the intervention of an agent, </i>per epistolam,
<i>and </i>per nuntium <i>..."</i>
<P>

17   		In paragraph 33, the author discusses an interesting
illustration which shows the importance of there being, not merely a
meeting of
minds, but an expression which shows that the parties are bound when the
acceptance is communicated:
<P>

<i>"The doctors have agitated the question, whether a discourse, in which one
of the parties says, 'I am willing to sell you such a thing
for such a price'
and the other answers 'I am willing to pay the price', constitutes a perfect
contract of sale."</i>
<P>

18   		In my opinion the letter of 4 February 1998, which was
expressed as an offer, cannot be treated as acceptance of the written
offer
earlier made back in February because it did not use terms of acceptance but
those of offer.  One could not tell from it, when
it was communicated, that
each of the parties was then and there bound by a contract.  It left itself
open for acceptance.
<P>

19   		The other point about the letter, of course, as Mr Robson
of counsel for the defendant has submitted, is that it was in terms
different
from the offer of 29 May 1997. Although the terms were not much different, the
items set out in the CIC Insurance letter
were different from those in Napier
Keen's offer and could not necessarily be said to be those which the law would
imply in any agreement
between the parties.  Thus, even if the letter of 4
February 1998 has been expressed as an acceptance, it could not have been
determined,
by looking at the offer and at the acceptance, that the parties
were <i>ad idem</i>. 
<P>

20   		For those various reasons, I am of the view that the
matter was not settled on 4 February 1998.  I think the letter written
did not
settle the matter and I am not satisfied, on the balance of probabilities, that
there was an oral conversation in which an
agreement to settle was arrived
at.
<P>

21   		Accordingly, the application to the Court will be
dismissed with costs.
<P>


<P>

**********
<P>

LAST UPDATED: 	07/07/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/682.html</i><br>
</p>
</small>
</body>
</html>
