<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Howland v Ellis [1999] NSWSC 1142 (26 November 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1142</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1142 or 1999+NSWSC+1142">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Howland v Ellis [1999] NSWSC 1142 (26 November 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1142.html-->
<!--sino date 26 November 1999-->


<P>Last Updated: 29 November 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Howland v Ellis  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1142.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1142</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	2621/97
<P>

HEARING DATE{S): 	17, 18 June, 8 July and 5 October 1999
<P>

JUDGMENT DATE: 	26/11/1999
<P>

 PARTIES: 
<P>

John Howland (P &amp; Cr-D)
<P>

Lalla Carmela Ellis (D &amp; Cr-Cl)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mrs R. Winfield (P &amp; Cr-D)
<P>

Mr L. Ellison (D &amp; Cr-Cl)
<P>

SOLICITORS: 
<P>

Hovan &amp; Co (P &amp; Cr-D)
<P>

Willis &amp; Bowring (D &amp; Cr-Cl)
<P>

CATCHWORDS: 
<P>

De facto relationship
<P>

Adjustment of interests in property
<P>

Respective contributions of each party
<P>

Date of termination of relationship
<P>

Plaintiff was a convicted felon held in custody in prison
<P>

Whether relationship continued after incarceration of plaintiff
<P>

Proceedings purported to be commenced by plaintiff without leave required by
<a href="http://www.austlii.edu.au/au/legis/cth/consol_act/fpa1981240/" class="autolink_findacts">Felons (Civil Proceedings) Act 1981</a>
<P>

Date of commencement of proceedings
<P>

Whether proceedings were instituted out of time
<P>

Application for leave to extend limitation period under De Facto Relationships
Act 1984
<P>

Application by defendant for maintenance.
<P>

ACTS CITED: 
<P>

De Facto Relationships Act 1984
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/pa1984298/" class="autolink_findacts">Property (Relationships) Act 1984</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/cth/consol_act/fpa1981240/" class="autolink_findacts">Felons (Civil Proceedings) Act 1981</a>
<P>

DECISION: 
<P>

See Paragraph 88
<P>

JUDGMENT: 
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Friday, 26 November 1999</i>
<P>

<b>2621/97	JOHN HOWLAND   -v-   LALLA CARMELLA ELLIS</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>   These are proceedings under the <i>De
Facto Relationships Act</i> 1984 (now known as the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/pa1984298/" class="autolink_findacts">Property (Relationships)
Act </i>1984</a>).
<P>

2   	A statement of claim was filed by the plaintiff John Robert
Howland on 19 June 1997, by which he purported to institute the
present
proceedings against the defendant Lalla Carmella Ellis. A defence was filed by
the defendant on 8 August 1997, and in due
course the matter came on for
hearing before me on Thursday, 17 June 1999 (the parties at the call-over on 26
May 1999 having given
the estimated length of hearing as being two days, and
the Court having reserved both Thursday, 17 June and Friday 18 June for the
hearing).
<P>

3   	At the outset of the hearing on 17 June, because of
concerns which had exercised the legal representatives of the plaintiff
(who at
the time of hearing was a convicted felon held in custody in prison, and who
had been such on 19 June 1997, the date when
the statement of claim had been
filed), on account of the provisions of the <i><a href="http://www.austlii.edu.au/au/legis/cth/consol_act/fpa1981240/" class="autolink_findacts">Felons (Civil Proceedings) Act
</i>1981</a>, the hearing was interrupted to allow the parties to resort to the
Duty Judge in the Equity Division. In consequence, the Duty Judge,
Mr Justice
Santow, made the following orders:
<P>

Pursuant to the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fpa1981240/" class="autolink_findacts">Felons (Civil Proceedings) Act </i>1981</a> (NSW) I give leave
to the plaintiff to institute proceedings under the <i>De Facto Relationships
Act </i>1984, being proceedings in the terms of the plaintiff's statement of
claim of 19 June 1997 subject to those proceedings being now
reinstituted
pursuant to the leave earlier granted.
<P>

I note that the plaintiff has been convicted and incarcerated and that there is
a <i>prima facie</i> ground for the proceedings based upon the matters not
presently disputed by the defendant as to there being a subsisting de facto
relationship and there being relevant property under that Act and noting also
the matters in the plaintiff's affidavit of 11 June
1998.
<P>

While it will be a matter for the Master, it may well be the case that the
Master would disregard any time between the time the
statement of claim was
originally filed on 19 June 1997 and the time of the reinstitution of
proceedings, in determining whether
any necessary extension of time should be
granted under the <i>De Facto Relationships Act</i>. 
<P>

I further order, by consent, that the Master be seized of jurisdiction to deal
with all matters in the amended statement of claim
including paragraphs 21(a)
and 22(a). 
<P>

4   	There was thereupon filed in Court on 17 June 1999 a
document which was originally entitled "Amended Statement of Claim" (and
was
the document referred to by Mr Justice Santow in the last of his Honour's
orders). However, the entitlement thereof was emended
to read "Statement of
Claim", as a result of the acceptance by the parties that the document filed on
19 June 1997 and entitled statement
of claim was not, strictly, such a pleading
(because of the status of the plaintiff at that date and the absence of any
leave entitling
him then to institute the present proceedings), with the
consequence that the only valid statement of claim was that filed on 17
June
1999. 
<P>

5   	There was also on 17 June 1999 filed in Court a notice of
motion by the plaintiff, by which he sought, substantively, an order
in the
following terms:
<P>

To the extent that it is found to be necessary, that leave be granted to the
plaintiff to proceed out of time pursuant to section
18 of the <i>De Facto
Relationships Act</i> 1984. 
<P>

6   	It was not in dispute that the parties had lived together
in a de facto relationship from January 1989 until 29 October 1991
when the
defendant went to prison. He has remained in prison since that time. When the
plaintiff was arrested on 29 October 1989
in respect to drug related offences,
bail was refused. He remained in custody until he was sentenced in the District
Court in 1993.
It would appear that two separate sentences were imposed upon
the plaintiff, firstly, on 25 June 1993, and later, on 3 September
1993, in
respect to separate offences. However, there was no precise evidence given in
the present proceedings concerning the details
of those offences or the
sentences imposed in respect to each. I have not been informed as to whether
the sentences are being served
concurrently or consecutively. However, there
was evidence that the term of imprisonment to which the plaintiff is currently
subject
will not expire until, at the earliest, April 2002 (although the
plaintiff said that he expected to be on what he described as "work
release and
day week-ends" by the end of 1999).
<P>

7   	Although it is arguable that the present proceedings were
not instituted until the filing on 17 June 1999 of the statement
of claim
pursuant to the leave in that regard granted on that date by Mr Justice Santow,
it is apparent that, in any event, even
if the proceedings be regarded as
having been instituted by statement of claim filed on 19 June 1997, the
proceedings were instituted
more than two years after the plaintiff went to
prison and the parties ceased to live together. Accordingly, the question of
when
the relationship came to an end will be of significance, since if it
terminated at the time when the plaintiff went to prison, the
proceedings (on
any view of the matter) were not instituted within the period of two years
after the parties ceased to live together
(as required by section 18(1) of the
<i>De Facto Relationships Act)</i>, and it will be necessary for the plaintiff
to obtain the leave of the Court (pursuant to section 18(2)) in respect to the
institution
and maintenance of the proceedings. It was for that reason that the
plaintiff filed in Court on 17 June 1999 the notice of motion
to which I have
already made reference. Any such application for leave was opposed by the
defendant. 
<P>

8   	There was born to the plaintiff and the defendant one
child, a son Kahl (who was born on 6 March 1991 and who is presently
aged
eight). The defendant is a widow, her husband, Greg Ellis, having died in 1986.
Of the marriage to her late husband the defendant
has a son Tyson, who was born
on 29 February 1984 and is presently aged fifteen. Tyson was accepted as a
child of the parties and
resided with them throughout the relationship. Both
children have remained with the defendant since the plaintiff went to
prison.
<P>

9   	Essentially, the claim of the plaintiff related to a house
property situate at and known as 12 Jinatong Street, Miranda, which
was
acquired during the course of the relationship in about October 1989, and of
which the defendant alone is the registered proprietor.
That house property was
the residence of the parties, their child (after his birth) and the defendant's
child throughout the period
whilst the parties lived together, and has remained
the residence of the defendant and her children since that time.
<P>

10   	By each of the documents entitled statement of claim,
filed respectively on 19 June 1997 and 17 June 1999, the plaintiff claims
a
declaration pursuant to section 14 of the <i>De Facto Relationships Act</i>
that he is a joint tenant or a tenant in common as to a one half share in the
property at 12 Jinatong Street, Miranda; and an order
for the appointment of a
statutory trustee for the sale of that property, pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s66.html" class="autolink_findacts">section 66</a> of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/" class="autolink_findacts">Conveyancing Act </i>1919</a>. In addition, the pleading filed on 17 June 1999
seeks as further, or alternative, relief a declaration that the defendant holds
on trust for the plaintiff fifty per cent of that property. (It was because of
that additional item of relief that the parties sought,
and obtained, from Mr
Justice Santow, the final order made by his Honour on 17 June 1999.) 
<P>

11   	The defendant had on 26 May 1999 (that is, after the
hearing date had been fixed, but before the commencement of the hearing)
filed
a notice of cross-claim, seeking the following relief:
<P>

In the event the Court finds the cross-defendant's Application is brought
within the time for the bringing of such Applications
(which is not conceded),
the cross-claimant claims orders:
<P>

1.	Declaring the cross-claimant to be the beneficial owner of the whole of the
realty at 12 Jinatong Street, Miranda, being the
whole of the property
contained in Folio Identifier 76/30172.
<P>

2.	Ordering the cross-defendant to pay maintenance pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca1919141/s27.html" class="autolink_findacts">section 27(1)</a> in
respect of the cross-claimant and the child of the relationship, Kahl, born 6
March 1991.
<P>

3.	Ordering the cross-defendant to remove, within seven (7) days, Caveat
789721F lodged against the subject realty.
<P>

12   	I have already recorded that the parties commenced living
together in January 1989. At the outset they resided in rented premises
at
Sylvania. 
<P>

13   	However, the period of their relationship was interrupted
in March 1989, when the plaintiff went to prison for a period of
five months
and three weeks. During that period the defendant continued to reside in the
rented premises at Sylvania and visited
the plaintiff in prison on every
visiting day. In addition, they regularly corresponded by mail and spoke by
telephone each week.
<P>

14   	During the period whilst the plaintiff was in prison in
1989 there were discussions between the parties concerning the acquisition
of a
house property, and the defendant inspected a number of residences.
<P>

15   	When the plaintiff was released from prison in about
September 1989, he moved back into residence with the defendant and her
son
Tyson, who at that time were living in another rented residence at Sylvania.

<P>

16   	The house property at 12 Jinatong Street, Miranda (to
which I shall refer variously as "the Miranda residence" or "the house
property") was purchased by the plaintiff in her name alone on 25 October 1989,
for a purchase price of $190,000. That purchase was
funded as follows: the
defendant provided about $133,000, being the net proceeds of sale from a house
property which she had previously
owned at 28 Mirral Road, Lilli Pilli (which
had been sold be her on 20 October 1989); $37,000 by way of a housing loan from
the St
George Building Society, secured by a first mortgage; an amount
variously stated by her to have been either $10,000 or $15,000, said
by the
defendant to have been advanced to her by her parents. In addition, the
defendant received the sum of $10,000 said by her
to have been the repayment of
a loan in that amount which she had made to the plaintiff in 1988. The actual
cheque was drawn in favour
of the defendant by the plaintiff's father, Roy
Howland. (According to the defendant, when she lent that sum of $10,000 to the
plaintiff
in 1988 the arrangement was that that money was to be invested, and
that upon repayment the defendant would receive an additional
amount of $5,000
by way of profit. That assertion by the defendant was denied by the plaintiff.
The defendant was able to produce
no documentary material in support of her
allegation concerning the alleged arrangement relating to that amount of
$10,000.)
<P>

17   	It was the case for the plaintiff that he had made very
substantial contributions, both direct and indirect, both financial
and
non-financial towards the acquisition, conservation and improvement of the
Jinatong Street property. The plaintiff was able to
produce no documentary
material in support of his alleged direct financial contributions. Neither was
he able to produce documentary
material concerning the payments which he had
allegedly made to various tradesman, labourers and other artisans who had
worked upon
the house property under his general direction. The explanation
offered by the plaintiff for the absence of any such documentary
material was
that such material had been in the house at the time of his arrest, and that,
at least by implication, it had been either
abstracted or suppressed by the
defendant.
<P>

18   	Nevertheless, it appeared to be conceded by the defendant
in cross-examination that the plaintiff had made direct financial
contributions
totalling at least $5,000 towards the improvements to the house property.
Further, it appeared to be conceded by the
defendant that the plaintiff had
made very substantial contributions by way of his own physical efforts and
activities towards the
conservation and improvement of the house property. 
<P>

19   	At the time of the plaintiff's arrest, however, the
property was in a state where a very considerable quantity of restoration
and
renovation work still remained to be completed. The plaintiff agreed that after
his arrest in 1991 it still took some years for
the work on the house to be
completed. 
<P>

20   	In early 1995 the defendant had in contemplation selling
the house property, and put it on the market. That action resulted
in the
plaintiff and his father placing on the title to the property three separate
caveats, one of which still remains in force
and is the subject of the relief
sought in prayer 3 of the cross-claim. The proposed sale by the defendant also
appears to have precipitated
the initiation of the present proceedings by the
plaintiff. However, the proposed sale did not proceed, because the defendant
was
not able to obtain the price of about $450,000 which she was seeking for
the house property.
<P>

21   	There was no agreement between the parties concerning the
value of the house property at the time when the plaintiff went
to prison, or
at any subsequent time. Evidence was given by a registered valuer on behalf of
each party. On behalf of the plaintiff
there was tendered in evidence (as
Exhibit A) a valuation by Christopher John McMurray (of Chris McMurray Property
Valuations, of
Cherrybrook). On behalf of the defendant there was tendered in
evidence (as Exhibit 1) a valuation by Peter Allan Cross (of George
T. Cross
&amp; Co Pty Limited, of Sutherland). Mr McMurray valued the property at the
present time at $480,000, in 1995 at $375,000,
and in 1991 at $325,000; whilst
Mr Cross expressed his opinion that the fair market value at the present time
was $430,000, at March
1995 was $325,000, and at March 1991 was $225,000. Each
of Mr McMurray and Mr Cross amplified his written valuation report by oral
evidence and was then cross examined. I shall, in due course, make further
reference to those valuations. 
<P>

22   	It is appropriate that I should, at the outset, consider
the question of when the de facto relationship came to an end, and
then, if
necessary, deal with the application of the plaintiff for leave to bring the
proceedings after the expiration of the limitation
period prescribed by section
18(1) of the <i>De Facto Relationships Act</i>.
<P>

23   	In considering this question of the date of termination of
the relationship (and also in considering other areas of the evidence
where the
parties were in dispute, such as the nature and extent of the contributions
made by the plaintiff towards the improvement
and conservation of the house
property, and any direct financial contributions made by the plaintiff to the
relationship), it is
appropriate that I should express my views concerning the
credit of the parties, and the reliance to be placed upon the oral evidence
given by each party where matters in dispute were the subject only of
assertions by one party and denials by the other, and where
there was no
independent corroborative evidence or documentary material supporting the
evidence of one party or the other. 
<P>

24   	The plaintiff was cross-examined as to his credit. That
cross-examination included the plaintiff being asked questions concerning
his
criminal record. It emerged that, apart from the offences in respect of which
he is serving his present sentence, he had been
convicted of the following
offences:
<P>

1974 
<P>

Four counts of break, enter and steal (when the plaintiff was aged sixteen)
<P>

22 February 1978, Sutherland Court of Petty Sessions 
<P>

Three counts of receiving
<P>

October 1983 
<P>

Use licence plates on a motor vehicle which were calculated to deceive
<P>

November 1986, Campbelltown District Court 
<P>

Supply prohibited drugs (for which the plaintiff was sentenced to three years
gaol, with one year non-probation)
<P>

May 1989, Sydney District Court 
<P>

Supply prohibited drugs (for which the plaintiff was sentenced to two years and
six months)
<P>

25   	The plaintiff pleaded guilty to a number of the foregoing
charges, and on one at least, being the 1989 conviction for which
he was
sentenced to two years and six months, the plaintiff was convicted by a jury.
The plaintiff was cross-examined as to whether
he put himself forward as an
honest person, which he did. He was asked his views concerning honesty in the
context of his evidence
in the present proceedings. The plaintiff said
(transcript, page 44) that honesty had nothing to do with his criminal record,
and
that receiving stolen goods did not have anything to do with whether he was
an honest person. 
<P>

26   	It is a fair summary of the plaintiff's evidence under
cross-examination in relation to his criminal record and his various
convictions (which resulted in him serving three separate prison sentences, the
current sentence not expiring for another two years),
that the plaintiff did
not regard those criminal convictions as constituting a reason why the Court
should not accept his sworn evidence
in the present proceedings.
<P>

27   	When asked to substantiate assertions or allegations
concerning financial contributions, the plaintiff constantly took refuge
in the
response that he did not have any of his documents, that they had all remained
at the house when he was arrested and charged,
and that the defendant had
continued to refuse thereafter to make such documents and records available to
him.
<P>

28   	However, in this regard, it was asserted by the defendant
that she had, shortly after the plaintiff was charged, given to
the plaintiff's
father, Roy Howland, at the request of the plaintiff, all of the plaintiff's
documents. Evidence was given by the
plaintiff's father, Roy Howland. He denied
the foregoing assertion of the defendant that he had gone to the house and
removed the
plaintiff's documents after the plaintiff had gone to prison,
although he conceded that he had in fact taken tools from the house,
saying
that those were tools he had loaned to the plaintiff for his repair work, and
that at a later stage the plaintiff's clothing
had been given to him (although
he did not state by whom). Mr Roy Howland asserted that so far as he knew the
plaintiff's papers
had been removed by the Police pursuant to a search warrant.

<P>

29   	Mr Roy Howland gave evidence of moneys asserted by him to
have been advanced to the plaintiff in amounts totalling $44,000
(being a
cheque for $15,000, a cheque for $9,000 and $20,000 in cash). According to Mr
Roy Howland, the plaintiff had not repaid
any of those advances. Mr Roy Howland
agreed, however, that he had no receipt for the alleged payment of $20,000 made
in cash. I
consider that I should approach the evidence of Mr Roy Howland with
a considerable degree of caution. That is especially so in the
light of the
fact that Mr Roy Howland, who is seventy-one years of age, stated that he had
suffered a cerebral infarct (which he
described as a "stroke") about eighteen
years ago, and that in consequence he had what he described as "very, very
erratic memory
recall". 
<P>

30   	There was, however, annexed to Mr Roy Howland's affidavit
a statutory declaration made by the defendant on 8 March 1995. That
statutory
declaration contains the following:
<P>

The above address [12 Jinatong Street, Miranda] is the family home of I, Lalla
Ellis, and my sons, Tyson and Kahl. It will remain
so until I, Lalla, decide to
sell the property.
<P>

If that decision is made and when that event takes place, I, Lalla Ellis, will
pay you, Roy Howland, the total sum of $24,000 only.
This will be exact
repayment of money borrowed by your son, John, for renovations on the home at
the above address. No other encumbrance
can be claimed on the property.
<P>

31   	According to Mr Roy Howland, that statutory declaration
was received by him from the defendant within seven days of a telephone
conversation initiated by him. In that conversation he said to the defendant
words to the effect, "I want the money back which I
loaned you and John"; the
defendant replied, "If you think I am going to pay John's half you can forget
it. I am not selling the
house. You might get it when I do"; and Mr Roy Howland
responded, "If you don't acknowledge the debt in writing within 14 days I
am
going to take legal action to recover it". The defendant was cross-examined
concerning that statutory declaration. Her explanation
was that it was written
under pressure from the plaintiff who had (so she said) told her that if she
wrote out the statutory declaration
for his father, he and his father would not
harass her.
<P>

32   	Not only have I had the opportunity of listening to the
content of the responses given by the plaintiff during the course
of his oral
evidence, but I have also had the benefit of being able to observe the
plaintiff's demeanour during the evidence. I have
reached the conclusion that
the truth means nothing to the plaintiff; that he was prepared to say in his
evidence whatever he thought
would best suit his case; and that at times he was
deliberately lying.
<P>

33   	By the same token, however, I consider that there were a
number of unsatisfactory aspects in relation to the evidence of the
defendant.
That she was clearly bitter and vindictive in her attitude towards the
plaintiff was manifest in, for example, an outburst
by her under
cross-examination (when she spoke of "a con job to get my house", "a rip off",
"that man used me", "he duped me"). The
defendant also referred to the
plaintiff and his father as "vultures", and said that Mr Roy Howland had been
telephoning her and
harassing her. 
<P>

34   	I regarded the explanation of the defendant concerning the
statutory declaration to be somewhat confusing and unsatisfactory.
<P>

35   	The defendant also said that the plaintiff threatened to
kill her or to have her killed, a remark allegedly made in January
1999. But
she did not report that alleged threat to the Police until April 1999, and it
was not referred to in the present proceedings
until the defendant mentioned it
during the course of her oral evidence. The defendant herself has a conviction
for possession of
marijuana, for which she was fined $150 in 1994.
<P>

36   	Nevertheless, where on any matter in issue the only
evidence consists of an unsupported oral assertion by one party, which
is
denied by the other party, I prefer the evidence of the defendant to that of
the plaintiff.
<P>

37   	In considering the question of when the de facto
relationship came to an end, it is in my view of significance that the various
definitions of "de facto partner" and "de facto relationship" in section 3(1)
of the Act speak of the parties "living or [having]
lived with" and "living or
having lived together". Further, the provisions of section 18 concerning the
time limit for making applications
under Part III of the Act refer to the de
facto partners having "ceased to live together" (section 18(1)). 
<P>

38   	There is abundant authority that a brief or temporary
interruption to the conjoint living arrangements of the parties (for
example, a
holiday, overseas travel, a period in hospital, and the like) does not of
itself terminate the de facto relationship.
However, in the instant case there
has occurred an event which, by its very nature, must preclude the parties from
living together
for a very lengthy period. I have considerable doubt as to
whether, in such circumstances, the continuation of the de facto relationship
can be regarded as dependent solely upon the subjective intention of one, or
even both, of the parties.
<P>

39   	It will be appreciated that the plaintiff was upon his
arrest on 29 October 1991 refused bail, and that it was only in June
of 1993
and in September of 1993 (almost two years after his arrest) that the plaintiff
was sentenced upon the criminal charges in
respect of which he is presently
serving a lengthy term of imprisonment. It may have been the intention of each
of the parties during
the period while the plaintiff was on remand in custody
that, in the event that he were to be released from custody pending his trial,
the de facto relationship would continue. 
<P>

40   	The plaintiff, in asserting that the relationship
continued for a period after he went into prison in October 1991 sought
to rely
upon the continued visits to him in prison by the defendant and by the various
communications (by letter and telephone calls)
between himself and the
defendant for a period of some time after he went to prison. Those
communications as late as February 1994
expressed sentiments of love and
affection on the part of the defendant and the hope that the plaintiff would
come home soon. The
plaintiff asserted that the relationship remained in
existence until the defendant clearly manifested an intention that, so far as
she was concerned, the relationship was at an end. The plaintiff also agreed
that he himself regarded the relationship as being at
an end when he entered
into a relationship with another lady who, from October 1997 for about twelve
months, regularly visited him
and communicated with him whilst he was in
prison. 
<P>

41   	In regard to the asserted continuation of the de facto
relationship after the commencement of his current incarceration the
plaintiff
sought to derive a degree of comfort from the fact that whilst he was serving a
period of almost six months in prison in
1989, the defendant maintained regular
visits to him whenever she was permitted to do so, on a weekly basis, and
corresponded with
him and spoke with him by telephone regularly and frequently.
It was not disputed by the defendant that the de facto relationship
between the
parties remained in existence throughout that period of almost six months in
1989. 
<P>

42   	In respect to this contention on the part of the plaintiff
that the relationship did not terminate for a considerable period
after the
commencement of the plaintiff's current prison sentence, it is also of
relevance to refer to a number of items of documentary
material which were
admitted into evidence at the instance of the defendant and concerning which
the plaintiff was cross-examined.
These included a record of interview between
the plaintiff and Detective Sergeant G. R. Orchard at the Sutherland Police
Station
on Friday, 19 April 1991 (Exhibit 7), in which the following questions
were asked and answers were given:
<P>

ORCHARD:	Are you married or single?
<P>

HOWLAND:	I'm in a de facto relationship.
<P>

ORCHARD: 	Who with?
<P>

HOWLAND: 	Lalla Ellis.
<P>

ORCHARD: 	How long has she been your de facto?
<P>

HOWLAND: 	On and off for two years, continually for four months.
<P>

43   	On 19 April 1995 Mr Brett Galloway, the solicitor at that
time acting on behalf of the plaintiff, wrote to the defendant a
letter
concerning, <i>inter alia</i>, the caveat which had been lodged on behalf of
the plaintiff against the Jinatong Street property (that caveat having been
lodged
on 7 March 1995). In that letter the solicitor said, "I am instructed
that your de facto relationship with my client has recently
come to an end".
The covering letter sent by Mr Galloway to the plaintiff (enclosing a copy of
his letter to the defendant, from
which I have just quoted) stated, "I enclose
copy of my recent correspondence with your former de facto". Those two letters
of 19
April 1995 were admitted into evidence as Exhibit 3. 
<P>

44   	On 25 May 1995 Mr Galloway again wrote to the defendant,
and again a copy of that letter was sent to the plaintiff under cover
of a
letter of the same date from Mr Galloway, which contained the statement, "I
enclose copy of my recent correspondence with your
former de facto". Those two
letters of 25 May 1995 were admitted into evidence as Exhibit 4. 
<P>

45   	Two letters from Mr Galloway to the defendant, dated
respectively 23 January 1996 and 5 March 1996, enclosing copies of memoranda
of
costs and disbursements dated 23 January 1996 were together admitted into
evidence as Exhibit 5. One of those memoranda of costs
and disbursements was
headed "De Facto Relationship Matter", and included a number of items referring
to correspondence with and
from "your former de facto's solicitors" (commencing
with an item on 14 April 1995). 
<P>

46   	Despite the assertions by the plaintiff under
cross-examination concerning his alleged dissatisfaction with conduct of Mr
Galloway in respect to the de facto relationship and the caveat which he had
lodged against the title to the Jinatong Street property,
I am satisfied that
the foregoing items of correspondence support the conclusion that the plaintiff
himself no later than 7 March
1995 (the date of lodgment of the caveat)
regarded the relationship as having come to an end. Notwithstanding the
evidence of the
defendant, especially her evidence under cross-examination,
that she regarded the relationship as having come to an end upon the
plaintiff's arrest on 29 October 1991, it is apparent from her continued visits
and the various communications to which I have referred
that at least until
February 1994 the defendant was missing the plaintiff, and was hoping for his
return to her. Nevertheless, I
am not satisfied that the de facto relationship
between the parties can be regarded as subsisting once the plaintiff was
sentenced
to a term of imprisonment. I have reached the conclusion that at the
very latest the de facto relationship had come to an end when
the plaintiff was
sentenced by the District Court on 25 June 1993 (that being the earlier of the
two sentences imposed upon the plaintiff
by the District Court in that
year).
<P>

47   	It will be appreciated that more than two years after that
date had elapsed when the plaintiff filed the original pleading
on 19 June
1997. That being so, the present proceedings (whether they be regarded as
having been instituted by the pleading filed
on 19 June 1997, or by the
pleading filed on 17 June 1999) were clearly out of time. For the purposes of
the application by the plaintiff
for an extension of the time in which to
institute the proceedings, it seems to me appropriate (as well as being
consonant with the
view in that regard expressed by Mr Justice Santow on 17
June 1999) that I should treat the proceedings as having been, in effect,
instituted in 1997, and that I should disregard the further period between 19
June 1997 and 17 June 1999. 
<P>

48   	Accordingly, it becomes necessary to consider whether, in
accordance with the provisions of subsection (2) of section 18,
the Court
should, on account of the delay between the period of two years after 25 June
1993 (that is, the delay from 26 June 1995
until 19 June 1997 --- a period of
almost two years) grant leave to the plaintiff to bring the present
proceedings. 
<P>

49   	Whether or not such an order for extension of time should
be made depends upon whether the Court is satisfied, "having regard
to such
matters as it considers relevant, that greater hardship would be caused to the
[plaintiff] if that leave were not granted
than would be caused to the
[defendant] if that leave were granted". In approaching that question the Court
should look to the substance
of the claim of the plaintiff. There would, of
course, be no purpose in granting the leave sought unless, in the event that
such
leave were to be granted, the plaintiff were regarded as having otherwise
established an entitlement to the substantive relief which
he claims.
<P>

50   	The defendant is a school teacher by profession. She has,
since graduation from the North Sydney Catholic Teachers College
in 1979, been
continuously employed in that profession from 1980 until the present time,
except for the periods when she was on maternity
leave for the birth of each of
her two children. From 1981 to the present time the defendant has been employed
by the Catholic Education
Office at Marrickville, teaching at St Brigid's
Primary School at Marrickville. It will be appreciated that (apart from the
period
of maternity leave from October 1990 until January 1992) the defendant
was continuously in employment throughout the de facto relationship.

<P>

51   	The plaintiff stated that he had qualifications in various
areas of the building industry. According to his oral evidence
he has a trade
certificate in carpentry and joinery, for which he said he passed with
distinction. He said that he had been working
in the carpentry field since he
was aged twenty-three (he is aged forty-two at the present time), and that the
area in which he worked
was both estimating and carpentry. Before going into
prison the plaintiff conducted his own business intermittently from the age
of
twenty-three. It would appear that he owned, at least to the point when he went
into prison, a considerable quantity of tools
appropriate for carpentry and
estimating. 
<P>

52   	At the time when the de facto relationship commenced the
plaintiff was conducting his own business excavating swimming pools.
He said
that his assets at that time consisted of the following items, to which he
ascribed the following values:
<P>

Toyota LandCruiser				$6,000
<P>

Business tools and equipment			$3,000
<P>

Savings						$5,000
<P>

Cash in ANZ Bank				$3,500
<P>

Building materials relating to business	$5,900
<P>

Swim pool package deals				$2,400
<P>

Furniture and antique glass			$5,000
<P>

Stamp and coin collection		         $10,000
<P>

Kawasaki ZIR 1000 				$1,200
<P>

Proceeds of sale of Bobcat skid loader 
<P>

(sold November 1988) 			        <u>$12,500</u>
<P>

<b>Total						        <u>$81,500</u></b>
<P>

53   	The defendant disputed a number of the foregoing asserted
assets of the plaintiff (for example, what was described by the
plaintiff as
furniture and antique glass and the stamp and coin collection), and disputed
the values ascribed by the plaintiff to
almost all the foregoing assets.
<P>

54   	During the course of the relationship the plaintiff sold
the following items (to which he ascribed the following sale prices):
<P>

Toyota LandCruiser				$5,000
<P>

Kawasaki Jet Ski					$3,000 
<P>

(January 1991)
<P>

Norman Lindsay self portrait sketch		$4,000 
<P>

(sold in 1991)
<P>

Truck (sold to Peter Waters)			$2,500
<P>

Swimming pool liners, above ground pool	$2,400
<P>

55   	The assets of the defendant at the commencement of the
relationship appear to have consisted of, essentially, her former residence
at
         (which, as I have already recorded, was sold in October 1991 for a net
amount of $133,000).
<P>

56   	There was no specific evidence as to the respective assets
and liabilities of either the plaintiff or of the defendant at
the termination
of the relationship (be that termination in September 1995, as asserted by the
plaintiff, or in October 1991, as
asserted by the defendant, or at some
intermediate date). However, it seemed to be implicit in the case mounted by
the plaintiff
that most of his assets, apart from his asserted claim to an
interest in the house property, had been liquidated by the time of or
shortly
after the commencement of his prison term, and had been used for the purpose of
paying the legal costs associated with the
criminal charges against him. It
also appeared to be implicit in the case for the defendant that there had been
little if any change
in her assets after the acquisition of the house property,
and that her liabilities had diminished in consequence of the reduction
in the
amount outstanding under the mortgage. 
<P>

57   	There was, however, considerable evidence given on behalf
of the defendant (both by affidavit and by way of oral evidence)
concerning the
financial and material circumstances of the defendant at the present time,
including evidence of the present expenses
of the defendant relating to the
maintenance and education of her two sons. 
<P>

58   	It will be appreciated that, consonant with the decision
of the Court of Appeal of New South Wales in <i>Evans v Marmont</i> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1997/331.html" title="View Case" class="autolink_findcases_inserted">[1997] NSWSC 331</a>;  <a href="/cgi-bin/LawCite?cit=%281997%29%2042%20NSWLR%2070" title="View LawCiteRecord" class="autolink_findcases">(1997) 42
NSWLR 70</a> (especially the joint judgment of Gleeson CJ and McLelland CJ in Eq.),
such evidence as to the present financial and material circumstances
of the
defendant is not relevant to her resistance to the claim of the plaintiff, and
can, in the instant case, be relevant only
to the application for maintenance
made by her by way of her cross-claim.
<P>

59   	There were some unsatisfactory aspects in relation to the
evidence of the defendant concerning the funding of the purchase
of the
Jinatong Street property, in particular concerning the advance of about $10,000
alleged by the defendant to have been made
to her by her parents. In this
regard it should be recorded that neither of the defendant's parents gave
evidence. In her affidavit
of 15 June 1999 the defendant said that she was
unable to obtain affidavits from her parents, that  her father was in a nursing
home,
and that she did not wish to involve her mother in the present
litigation. Nevertheless, there is no doubt that the substantial part
of the
proceeds of the purchase price was contributed directly or indirectly by the
defendant (the largest contribution towards the
funding of the purchase price
being the net proceeds of sale of the former home of the defendant, in an
amount of about $133,000).
In those circumstances it was quite reasonable, and
to be expected, that the house property should be registered in the name of the
defendant.
<P>

60   	Throughout the relationship the defendant was, as I have
already recorded, continuously in employment. It was not disputed
that she
contributed her entire income towards the mortgage payments, towards the
maintenance of herself and her two children, and
towards the outgoings in
respect to the household.
<P>

61   	Essentially, the contributions of the plaintiff were of a
physical nature, being the improvements to the house property which
were
effected by him personally or by workman under his supervision and control. In
addition, he contributed directly towards the
cost of those improvements, by
purchasing materials. The defendant agreed that she and the plaintiff shared
the mortgage payments,
that whilst she was on maternity leave the plaintiff met
the entirety of the mortgage payments, and that throughout the period of
that
maternity leave it was the plaintiff who was supporting the whole family. By
the same token, however, the defendant alone supported
herself and her son
Tyson while the plaintiff was incarcerated for almost six months in 1989. For a
period after the plaintiff's
release in about September 1989 he had little in
the way of income, and it was the defendant who from her own earnings alone
supported
the household which then consisted of herself, Tyson and the
plaintiff. 
<P>

62   	I have already referred to the discrepancy between the
valuations of Mr McMurray and Mr Cross concerning the Jinatong Street
property
at the present time. Similarly, there was a divergence between the valuations
of those two gentleman in respect to the value
of the property before the
commencement of the renovations and extensions. However, both valuers were in
general agreement that before
that work was performed the property was worth
not more than its land value, to which Mr McMurray ascribed a figure of
$170,000,
whilst Mr Cross ascribed a figure of $194,245. Similarly, those
valuers were in agreement that the cost of the building work was
not
necessarily reflected in an equivalent increase in the value of the property.

<P>

63   	There was considerable cross-examination of each of the
valuers, not only concerning the bases of their respective valuations,
but also
concerning the qualifications of each valuer. Mr Cross was an experienced
licensed real estate agent, and licensed builder,
as well as a registered
valuer. He also had the advantage of being a local resident, with considerable
experience of valuations in
the area of the Jinatong Street property. Mr
McMurray, on the other hand, had little experience in that area.
<P>

64   	It does not seem to me that for the purposes of the
present proceedings it is essential that I should decide between the respective
valuations of Mr McMurray and Mr Cross. If it were necessary for me to do so,
however, I would adopt those of Mr Cross, whom I considered
to have had greater
expertise (especially in valuing properties in the area of the subject
property), and greater experience and
qualifications than Mr McMurray. However,
on what appears to be the essential matter in relation to the house property
--- the effect
upon the valuation of that property of the contributions of the
parties, both by way of the performance of physical activities, and
by
financial contributions --- the two expert valuers were substantially in
agreement, each expressing the opinion that the increase
in the value of the
property was not in an amount equivalent to the expenditure (be it in time,
effort or money) effected upon the
property by way of renovations, improvements
and the like. That conclusion was summarised in the words of Mr McMurray that
"Cost
does not equal value".
<P>

65   	Without any documentary material to support them, I am not
persuaded that the various items of expenditure asserted by the
plaintiff were
in fact made by him to subcontractors and labourers, or that the asserted value
of the improvements actually performed
by the plaintiff himself or by
subcontractors or labourers at his expense and under his direction were worth
the various amounts
asserted by him. 
<P>

66   	In this latter regard, I do not overlook the evidence
given in support of the plaintiff's claim by Peter John Waters, a builder
by
occupation. Mr Waters, a friend and colleague of the plaintiff, attempted to
substantiate the valuations attributed by the plaintiff
to the cost of the
various items of improvement to the house property. But even Mr Waters, who
estimated that $200,000 worth of work
had been done on the house, agreed that
this was not a job that was costed on paper and that it was
"higgledy-piggledy". 
<P>

67   	The renovations and improvements to the house were far
from complete when the plaintiff went to gaol, and it was necessary
for the
defendant then to arrange for and pay for the completion of those works.
<P>

68   	It seems to me also to be relevant to this question of the
respective contributions of the parties that there is no suggestion
that from
the time the plaintiff went into prison in October 1991 he made any
contributions towards the mortgage repayments on the
house, towards the
maintenance, repairs or improvements to the house, towards the maintenance of
the plaintiff and her two children,
or towards the household outgoings and
other expenses of the plaintiff and her children.
<P>

69   	It clearly emerged from the evidence that the plaintiff
made little direct financial contribution to the acquisition of the
house
property, and that his direct financial contribution (admitted by the defendant
to be in the amount of $15,000 asserted in
his original pleading, but not in
the amount of $25,000 asserted in his affidavit evidence) was more than offset
by the substantial
financial contribution of $133,000 made by the defendant to
the purchase price. 
<P>

70   	Further, although it was not disputed that the plaintiff
had performed a considerable quantity of physical work himself on
the
improvements and extensions to the house property, that work was not, in my
conclusion, greater than the indirect contributions
made by the defendant to
the household outgoings, and to the upkeep of the family unit (since she was in
continuous employment and
was in continuous and regular receipt of income
throughout the relationship, whilst the employment and receipt of income by the
plaintiff
was of an intermittent nature); further, the contributions of an
indirect nature by the defendant in her capacity as homemaker and
mother
exceeded those of the plaintiff. Although the defendant said that the mortgage
payments from October 1989 until October 1991
were shared more or less equally
between the parties, for part of that period the plaintiff had no income.
Further, it was the defendant
alone who for the period of almost six months
whilst the plaintiff was in prison in 1989 supported from her own earnings
herself
and her son and paid the rent for their accommodation; she continued to
be the sole support for the household and continued to pay
the rent for some
time after the plaintiff was released in about September 1989. Further,
throughout whatever period after the present
imprisonment of the plaintiff
commenced in October 1991 the de facto relationship continued in existence, it
was the defendant alone
who paid the entirety of household outgoings, and who
made all the mortgage payments. In addition, the cost of completion of
renovations
which had not been completed by October 1991 was borne solely by
the defendant. 
<P>

71   	I am not satisfied that the contributions of a physical
nature and any direct financial contributions made by the plaintiff,
when
compared to the foregoing contributions made by the defendant, are such as to
entitle the plaintiff to any order for an interest
in the house property. 
<P>

72   	For the foregoing reasons I have come to the conclusion
that, even if the proceedings had been brought within the period of
two years
after the termination of the de facto relationship, the plaintiff would not
have established an entitlement to an order
of the nature which he presently
claims, for the adjustment of the interests of the parties in property pursuant
to the provisions
of Division 2 of Part III of the Act. That being so, there is
no purpose in an order for the extension of time being made.
<P>

73   	In any event, I consider that there has not been any
adequate explanation by the plaintiff for the period of delay from April
1995,
when the solicitors for the plaintiff first entered into correspondence with
the defendant's solicitors concerning the assertions
of the plaintiff to an
entitlement to an interest in the house property, until the filing of the first
pleading in June 1997. 
<P>

74   	Further, the totality of all the payments, expenses and
other outgoings in respect to the house property have been made by
the
defendant from the time when the plaintiff went to prison in October 1991.
Since his incarceration the plaintiff has not only
not made any such
contributions, but even during the period after October 1991 throughout which
he asserts the relationship remained
in existence he made no contributions
whatsoever to the maintenance of the plaintiff or of his own child Kahl. These
facts have the
consequence that (in the words of subsection (2) of section 18)
I am not satisfied that greater hardship would be caused to the applicant
if
leave to make the present application were not granted to the plaintiff than
would be caused to the defendant if that leave were
granted. It follows,
therefore, that, in any event, I would not grant the leave which is presently
sought by the plaintiff to bring
the present proceedings out of time. However,
I have already recorded that, in considering this question, I have disregarded
the
period from the filing of the original pleading in June 1997 until the
filing of the later pleading on 17 June 1999. 
<P>

75   	I have already referred to the additional prayer for
relief (being paragraph 22(d)) made in the statement of claim filed on
17 June
1999, by which the plaintiff seeks a declaration that the defendant holds the
house property on trust for the plaintiff as
to 50 per cent thereof. 
<P>

76   	That relief is claimed consequent upon the asserted
existence of a constructive trust of the nature of that recognised by
the High
Court of Australia in <i>Muschinski v Dodds</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1985/78.html" title="View Case" class="autolink_findcases_inserted">[1985] HCA 78</a>;  <a href="/cgi-bin/LawCite?cit=%281985%29%20160%20CLR%20583" title="View LawCiteRecord" class="autolink_findcases">(1985) 160 CLR 583</a> and is
grounded upon the alleged contributions by the plaintiff to the acquisition,
maintenance and improvement of the house property.
For the reasons which I have
already expressed concerning those alleged contributions in the context of the
claim of the plaintiff
under the <i>De Facto Relationships Act</i>, I am not
satisfied that the plaintiff has established the existence of such a trust. 
<P>

77   	It follows, therefore, that the claim of the plaintiff,
both for relief under the <i>De Facto Relationships Act</i>, and for relief
grounded upon the alleged existence of a trust cannot be sustained.
Accordingly, the suit of the plaintiff will be
dismissed. 
<P>

78   	I have already referred to the cross-claim filed by the
defendant on 26 March 1999, by which the defendant seeks a declaration
that she
is the beneficial owner of the entirety of the house property, seeks an order
for the removal of the caveat lodged by the
plaintiff against that property,
and seeks an order, pursuant to section 27 (and the following sections) of the
<i>De Facto Relationships Act</i> that the plaintiff pay maintenance for her
and for their child Kahl.
<P>

79   	In the light of the conclusions which I have already
expressed concerning the claim of the plaintiff, I propose to make a
declaration of the nature of that sought by the defendant in prayer 1 of her
cross-claim, and an order, as sought in prayer 3 thereof,
for the removal of
the caveat lodged by the plaintiff.
<P>

80   	The ground upon which the defendant sought the order for
maintenance was principally on account of the fact that she was the
partner
supporting the child of the relationship.
<P>

81   	The policy of the <i>De Facto Relationships Act</i> is, in
general, directed against the ordering of maintenance. Section 26, in
reflecting that policy, provides,
<P>

Except as otherwise provided by this Division, a de facto partner is not liable
to maintain the other de facto partner and a de
facto partner is not entitled
to claim maintenance from the other de facto partner. 
<P>

82   	However, section 27 empowers the Court, by subsection (1)
thereof, to make an order for maintenance (whether for periodic
maintenance or
otherwise) where the Court is satisfied as to either or both of the following
matters:
<P>

(a)	that the applicant is unable to support himself or herself adequately be
reason of having the care and control of a child of
the de facto partners or a
child of the respondent, being, in either case, a child who is, on the day on
which the application is
made ---
<P>

(i)	except in the case of a child referred to in subparagraph (ii) --- under
the age of 12 years; or
<P>

....
<P>

(b)	that the applicant is unable to support himself or herself adequately
because the applicant's earning capacity has been adversely
affected by the
circumstances of the relationship and, in the opinion of the court ---
<P>

(i)	an order for maintenance would increase the applicant's earning capacity by
enabling the applicant to undertake a course or
programme of training or
education; and
<P>

(ii)	it is, having regard to all the circumstances of the case, reasonable to
make the order.
<P>

83   	I have considerable doubt as to whether the evidence
substantiates either, let alone both, of the factual circumstances contemplated
by the foregoing paragraphs (a) or (b) which I have just quoted. But, in any
event, Counsel for the defendant in the course of his
final address, submitted
that if the statement of claim were to be dismissed, it might be appropriate
also to dismiss the cross-claim
for maintenance, since the Court would not make
an order incapable of enforcement, it being recognised that since the plaintiff
is
in prison, has no assets, and has only a minimal income whilst in prison, he
has no present assets which would enable him to meet
any order for maintenance,
and that it will be another two years before he is capable of earning an
income. I am in agreement with
that submission. It does not seem to me
appropriate that the Court, even if otherwise disposed to do so, should make
against the
plaintiff an order for maintenance (whether for periodic
maintenance or otherwise) that could not, in any fashion, be complied with
by
the plaintiff at the present time, or for a period of some years in the
future.
<P>

84   	I am also mindful of the policy of the Act expressed in
section 19, 
<P>

In proceedings for an order under this Part [being Part III], a court shall, so
far as is practicable, make such orders as will
finally determine the financial
relationships between the de facto partners and avoid further proceedings
between them. 
<P>

85   	The present application for maintenance is brought
pursuant to the provisions of Division 3 of Part III, to which section
19 has
application.
<P>

86   	Accordingly, I do not propose to grant the application by
the defendant for maintenance, as sought in prayer 2 in her cross-claim.
<P>

87   	Since the plaintiff has been totally unsuccessful and
since the defendant has, in effect, not pressed for the substantive
relief
sought by her in the cross-claim, it seems to me that it is appropriate that I
should make an order that the plaintiff pay
the costs of the defendant of the
proceedings. However, since the parties have not had an opportunity of making
any submissions concerning
costs, I will give to them that opportunity, if
either party so desires.
<P>

88   	Accordingly, unless within seven days of the date hereof
either party arranges with my Associate for the matter to be listed
for
argument as to costs, I make the following orders:
<P>

1.	I order that the proceedings be dismissed.
<P>

2.	I make a declaration as in prayer 1 in the cross claim filed on 26 May
1999.
<P>

3.	I make an order as in prayer 3 in the cross-claim.
<P>

4.	I order that the cross-claim be otherwise dismissed.
<P>

5.	I order that the plaintiff pay the costs of the defendant. 
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	26/11/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1142.html</i><br>
</p>
</small>
</body>
</html>
