<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Tejani v Gerrard [1999] NSWSC 939 (16 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 939</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+939 or 1999+NSWSC+939">Noteup</a>]
[<a href="939.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Tejani v Gerrard [1999] NSWSC 939 (16 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_939.html-->
<!--sino date 16 September 1999-->


<P>Last Updated: 17 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Tejani v Gerrard  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/939.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 939</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	4779/97
<P>

HEARING DATE{S): 	13 September 1999
<P>

JUDGMENT DATE: 	16/09/1999
<P>

 PARTIES: 
<P>

Sikkina Tejani (P1)
<P>

Manoochehr Samali (P2)
<P>

Serge Gerrard (D)
<P>

JUDGMENT OF: 	Acting Master Berecry      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. P. Beale (P)
<P>

Mr. G. C. Lindsay S.C. and Mr. I. E. Davidson (for third party John Joseph
Gilles)
<P>

SOLICITORS: 
<P>

McGrath Dicembre &amp; Co (P)
<P>

Giles Payne &amp; Co (D)
<P>

CATCHWORDS: 
<P>

Costs indemnity basis
<P>

Personal liability of solicitor
<P>

Part 52A rule 43
<P>

Costs improperly incurred.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

See paragraph 15
<P>

JUDGMENT: 
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>ACTING MASTER BERECRY</b>
<P>

<i>Thursday, 16 September 1999</i>
<P>

<b>4779/97	SIKKINA TEJANI &amp; ANOR   -v-   SERGE GERRARD</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>ACTING MASTER: </b>   On 3 December 1998 a notice of
motion by the defendant was filed in Court before Mr Justice Windeyer.
Paragraph 3 of the notice
of motion sought the following:
<P>

3.	That the orders of this honourable Court made on 27 October 1998 be varied
by the addition of the following order:
<P>

Notwithstanding orders number 1 and 2 above, if the partners of the firm Giles,
Payne and Co receive after 2 December 1998 any funds
from the defendant which
are necessary to pay into the Court for the purpose of prosecuting Appeal No.
40195/98 then the consent
of the plaintiffs shall not be required for the
partners of Giles, Payne and Co to pay these funds into Court.
<P>

2   	The notice of motion was supported by an affidavit sworn on
3 December 1998 by Joseph John Gilles who, at that time, was a
solicitor for
the defendant. 
<P>

3   	On 7 December 1998 Mr Justice Austin handed down a decision
on the notice of motion. The motion was dismissed. The question
of costs was
stood over. Costs were stood over because of the lack of time to allow
cross-examination of Mr Gilles and his affidavit
of 4 December 1998. It would
appear that the defendant sought to withdraw the motion. However, that course
of action was refused
and the motion was dismissed.
<P>

4   	His Honour's judgment sets out the history of this
litigation. For the purpose of the costs application, the history is relevant
from 20 October 1998. 
<P>

5   	An application was brought by the plaintiffs seeking a
<i>Mareva</i> injunction against the defendant and the defendant's solicitor.
Undertakings were given before Mr Justice Bryson on that occasion.
On 27
October 1998 the matter was before Mr Justice Cohen. His Honour noted that, as
an undertaking had been given to Mr Justice
Bryson, there was an assumption
that the solicitors held some funds on behalf of the client. However, in the
absence of any evidence
his Honour went on to say that he could not come to a
conclusion on that matter and, in his opinion, there may or there may not be
moneys held in the trust account. His Honour then granted the injunction
restraining the defendant and the partners of the firm Giles,
Payne and Co from
taking any steps to reduce the balance of any funds held by that firm below
$74,344 except with the consent of
the plaintiffs. 
<P>

6   	The notice of motion before Mr Justice Windeyer on 3
December 1998 was not disposed of on that day. His Honour was not inclined
to
proceed with the application in the absence of any evidence concerning the
amount of money that was held in the solicitor's trust
account. The matter was
stood over to 4 December and his Honour expressed the view that no order should
be made as sought unless
an affidavit was filed by a partner of Giles, Payne
and Co giving details of the amount held in trust by them as at the 27 October
1998 and confirming that the amount still remains held by them and there have
been no payments in or out of that trust account held
for the defendants since
27 October 1998 or, if there have been, details of those payments in or out.

<P>

7   	Subsequently, on 4 December 1998, an affidavit was sworn by
Mr Gilles deposing to the current position of the trust account
and the
position of that account as at 27 October 1998. 
<P>

8   	At this point it is necessary to set out part of what
happened in the Court of Appeal. On 2 November 1998 the Registrar of
the Court
of Appeal ordered the defendant to pay the Court the sum of $22,000 as security
for costs of the appeal. He also stayed
the leave to appeal until payment was
made no later than 14 December 1998 and, further, that the security for costs
provided after
4 December 1998 the response not required until January by the
other side. I take it that, by response, that meant written submissions.

<P>

9   	According to Mr Gilles affidavit of 3 December the
following took place. The defendant had a telephone conversation with his
solicitor in words to the following effect, "I wish to proceed urgently and
expeditiously with the Court of Appeal matter. I will
telegraphically transfer
to your trust account the sum of $22,000 to pay to the Court of Appeal".
Shortly before 12:00 noon on 2
December 1998, the solicitors for the plaintiff
were notified that their consent would be required. That notification was by
way
of letter. It seems implicit in the letter that the $22,000 was an amount
which was the subject of Mr Justice Cohen's orders of 27
October 1998, hence
consent was required. 
<P>

10   	Shortly before 5:00pm on 2 December 1998 the solicitors
for the plaintiff refused to release the funds. That refusal  was
contained in
a letter drawing attention to the fact that the specific funds held in the
trust account to the extent of $74,000 was
subject to the <i>Mareva</i>
injunction, and the costs on appeal was a different issue. At 9:00pm on 2
December the solicitor had another conversation with the
defendant. The
defendant said words to the effect, "I've been running from bank to bank to
ensure that I get the money to you before
4 December. It has taken me nine
hours to arrange it, but I have now telegraphically transferred to you the
$22,000 which you need
to put into the Court of Appeal.
<P>

11   	On 3 December at approximately 9:00am the defendant's
solicitor wrote again to the plaintiff's solicitor. In that letter he
stated as
follows,
<P>

Perhaps we failed to make the arrangement abundantly clear. The $22,000, which
we are seeking to have released from the trust account,
is new money and in
addition to any funds already there. 
<P>

He also warned the plaintiff's solicitor that unless they responded by 11:00am
that morning the defendant's solicitor would approach
the duty judge for an
appropriate order. At 1:15pm that day the plaintiff's solicitor responded, by
letter, informing the defendant's
solicitor that he would not consent to
release of any funds that would mean that the trust account would hold an
amount less than
the amount the subject of Mr Justice Cohen's order but, to the
extent that the funds exceed that amount, they would have no objection
to the
funds being released unless there are other options open to the defendant to
pay the money into Court other than by way of
filing a notice of motion. At
2:15pm on that day the notice of motion and supporting affidavit was forwarded
to the plaintiffs' solicitor.
As a result of the comments by Mr Justice
Windeyer, Mr Gilles prepared an affidavit on 4 December 1998. In that affidavit
he deposed
the fact that his firm was not holding any money in trusts or any
controlled money account in trust for the defendant as at 27 October
1998.
There had been no movement into and from the trust account or any controlled
money account held in trust for the defendant
since that date. Subsequently, as
I have already noted, Mr Justice Austin dismissed the notice of motion save as
to costs. The plaintiffs'
solicitor indicated they would be seeking costs on an
indemnity basis from either the defendant or the solicitors and that Mr Gilles
would be required for cross-examination. However, time did not permit that to
take place. His Honour therefore stood over the question
of costs. 
<P>

12   	On 29 July 1999 Master McLaughlin, at the callover,
specially fixed the matter for 13 September 1999 and gave directions requiring
the defendants by 6 August 1999 to serve a written statement setting out the
precise terms of each order sought against each respondent
to the application
and the grounds upon which it is alleged that each specified order should be
made. Directions were also made in
relation to written submissions.
Unfortunately, the directions were not complied with so the written submissions
by the plaintiffs
were handed up at the commencement of the hearing. Counsel
for the defendant complained that it still was not clear upon what basis
the
plaintiff sought indemnity costs against either the defendant or the
defendant's solicitor. Counsel for the plaintiff indicated
that it was clear
from the affidavits the basis for the order and from his written
submissions.
<P>

13   	The plaintiff relies on Part 52A rule 43 (i) (c) of the
Supreme Court Rules which provide as follows:
<P>

43(i) 	If costs are incurred improperly for no reasonable cause or are wasted
by undue delay or for any other misconduct or default
and it appears to the
Court that a solicitor is responsible (whether personally or through a servant
or agent) the Court may, after
giving a solicitor a reasonable opportunity to
be heard,
<P>

(a)	-
<P>

(b)	-
<P>

(c)	direct the solicitor to indemnify any party other than the client against
costs payable by the indemnified party.
<P>

14   	Subrule (2) provides as follows:
<P>

Without limiting the generality of subrule (1), a solicitor is responsible for
default for the purpose of that subrule where any
proceedings cannot
conveniently proceed or fail or are adjourned without useful progress being
made, because of the failure of the
solicitor 
<P>

(a)	-
<P>

(b)	to file any document which ought to have been filed;
<P>

(c)	-
<P>

(d)	to be prepared with any proper evidence or account; or
<P>

(e)	-
<P>

15   	The plaintiffs submit that costs on the indemnity basis
are justified because (1) the motion was brought to achieve a purpose
which
was, in the circumstances, wholly unnecessary and were, therefore, entirely
avoidable without litigation of any description;
(2) the application was
brought in great haste and giving the defendant an unreasonable amount of time
to seek instructions; (3)
the application because of its unreasonableness was
unjustified; (4) the solicitor was aware that the defendant had no assets in
Australia and had left Australia permanently and that there was little
likelihood that the plaintiffs would be able to recover their
costs. 
<P>

16   	The defendants submitted that the requirements of Part 52A
rule 43 had not been met. No allegation been made concerning misconduct
of the
solicitor or that he acted other than on the instructions of the client. No
finding could be made, as in all the circumstances,
that the solicitor acted
unreasonably. 
<P>

17   	In the judgment of 7 December 1998, Mr Justice Austin, on
page 7, makes the following comment:
<P>

I note, however, that I would have awarded costs against the applicant, that
is, the defendant, in the normal course were it not
for the application for
indemnity costs by the respondents (plaintiffs) since the application has
wholly failed. Whether this is
a case for awarding costs against the applicant
(defendant) or his solicitor on the indemnity basis depends, in my opinion, on
the
contents of Mr Gilles' affidavit of 4 December 1998 which is not yet in
evidence plus any further evidence arising out of cross-examination
of Mr
Gilles or otherwise.
<P>

18   	Costs may be ordered on the indemnity basis where the
proceedings have been commenced or continued in circumstances where
a party
properly advised should have known that he or she had no chance of success and,
therefore, had an ulterior motive in bringing
or continuing the proceedings.

<P>

19   	In his judgment of 27 October 1998, Mr Justice Cohen
referred to the position of the trust account. On the evidence before
him it
was not clear whether or not there were any moneys in the trust account. His
Honour made the assumption in the absence of
any evidence that there may be
some funds left out in an amount of more than $1 million obtained by the
defendant in the last six
months. On that basis his Honour granted the orders
that were sought by the plaintiff in relation to any funds up to $74,344 in the
defendant's trust account. It is clear then that as of 27 October 1998 there is
no evidence one way or the other about any funds
that were held by the
solicitor. Therefore, it cannot be said at that point that there has ever been
any misrepresentation by the
defendant or his solicitor as to funds still held
in the trust account. 
<P>

20   	On 2 November 1998 the Registrar of the Court of Appeal
made an order in relation to security for costs. The security was
to be
provided by either 4 December 1998 or 14 December 1998 it is not clear from the
affidavit of Mr Gilles of 3 December 1998.

<P>

21   	On 2 December 1998, a month after the order of the Court
of Appeal, the defendant seeks to proceed urgently and expeditiously
with the
Court of Appeal matter. No basis has been given why the appeal had now become
urgent and required to be dealt with expeditiously.
The decision appealed
against was the decision of Mr Justice Cohen of 11 March 1998. The appeal was
not lodged until 7 April 1998
and it was not until 17 September 1998 that the
Court informed the claimant that the appeal was incompetent without leave. 
<P>

22   	On 24 September 1998 a summons seeking leave was filed.
Subsequently, the matter was called-over on 16 November 1998. But,
during that
period, no urgency appeared and no application for expedition was made. It was
only on 2 December 1998 that there appeared
to be some degree of urgency. That
is not articulated. The only basis it seems to be that if the security is not
provided by 4 December
1998, the plaintiffs will have the luxury of
approximately 6 to 7 weeks to put on their written submissions, whereas
otherwise the
submissions would have to be filed and served before the end of
term. 
<P>

23   	The notice of motion was brought on with great haste. On
the evidence it cannot be said that the solicitor intended to mislead
either
the Court or his opponent. However, there does appear to be an absence of
candour. The notice of motion sought a variation
of the orders of Mr Justice
Cohen of 27 October 1998 to the extent that any funds received from the
defendant after 2 December 1998
which were necessary for the prosecuting of the
appeal should not require the consent of the plaintiffs to pay those funds into
Court.
The motion attempts to do that, with funds being available after 2
December 1998. However, the solicitor knew or ought to have known
that, at the
most, when the application was made, the only funds held in the trust account
amounted to $20. That sum is a far cry
from the protection of just over $74,000
made by the order of Mr Justice Cohen.
<P>

24   	Similarly, the correspondence between the parties, on a
close reading of the correspondence, it can be seen of the $22,000
mentioned is
an amount which is subject to the <i>Mareva </i>injunction and, therefore, the
plaintiffs' consent to pay the money into Court from funds out of the trust
account would be required.
However, the defendant's solicitor was not acting
openly and frankly. In his letter of 3 December 1998, he informed the
plaintiffs'
solicitor that the $22,000 is new money and in addition to any
funds already there. Strictly speaking that was correct. He knew or
ought to
have known that the funds already held in the trust account amounted to no more
than $20. By referring to the $22,000 as
new money and in addition to any funds
already there the inference is that, having regard to the background of the
proceedings, there
are substantial funds in the trust account. By substantial I
put no quantum on the funds, but something greater than $20 and less
than
$74,000. 
<P>

25   	The solicitor proceeded with great haste to obtain the
plaintiff's solicitor to consent to allow the money to be used as security
for
costs by threatening to go immediately to the Court to obtain the necessary
orders. All this takes place in the period of forty-eight
hours and yet it was
some five weeks earlier that the Registrar of the Court of Appeal ordered the
defendant to provide the security
for costs. There is no explanation given for
the urgency. I can only assume it was done to obtain some tactical advantage.
The solicitor
embarked on a program of undue haste. In doing so, he not only
caused his opponent to incur costs, but he has not properly searched
and
inspected his own records. Whilst the evidence is that the defendant, in
conversations with Mr Gilles, informed him that money
was being telegraphically
transferred to his trust account. Mr Gilles appears to have taken no steps to
ensure that the funds had
been received. But, of course, that is allowed for in
the notice of motion. The motion refers to funds received after 2 December
1998. 
<P>

26   	Nevertheless, in making such an application, I would have
thought to establish the <i>bona fide </i>of the defendant there would have
been at least an affidavit setting out how much was in the trust account at the
time the application
was made. This did not happen. I do not accept that a
solicitor would bring such an application and would assume that, in the absence
of any evidence establishing either his or the client's <i>bona fide</i>, such
an application could succeed. Surely, in considering such an application, a
matter that the Court would want to be satisfied
about was, having regard to
the orders made by Mr Justice Cohen on 27 October 1998, that there were, in
fact, substantial funds held
by the solicitor in his trust account. It seems to
me that the application was more a bluff rather than a substantial application.
It ran into problems on the first return before Mr Justice Windeyer when he
refused to deal with the application and suggested that
their evidence should
be put on concerning amounts held in the trust account. In fact, his Honour
went further than that. He expressed
the view that no orders should be made as
sought unless an affidavit was filed by a partner of Giles, Payne and Co giving
details
of the amount held in the trust account by them. As at 27 October 1998
and confirming that the amounts still remains held by them
and that there had
been no payments in or out of that trust account held for the defendant since
27 October 1998 or, if there had
been, details of those payments in or out.
This forced the defendant to show his hand. 
<P>

27   	On the following day, on 4 December 1998, the matter was
relisted before Mr Justice Austin. An affidavit had been prepared
and was sworn
on 4 December 1998 by Mr Gilles. In that affidavit Mr Gilles deposed the fact
that, as at 27 October 1998, there were
no moneys in the trust account and,
since that date, there had been no movement of funds into or from the trust
account. 
<P>

28   	As a result of that search of his trust account Mr Gilles
sought to withdraw the motion. It became crystal clear that the
motion could
not succeed. Of course, even the evidence given in that affidavit was found to
be wrong. There was, in fact, an amount
of $20 in the account. 
<P>

29   	Subsequently, it has been established that there was, in
fact, transferred by inter-bank transfer into the solicitor's trust
account on
3 December 1998 an amount of $21,992. It is said that the solicitor did not
become aware of this until late January 1999.
Exhibit A contains a copy of the
account statement from the St George Bank. There is handwritten on that
statement the following
words, "statement received 11/12/98". That is
inconsistent with the statement made during the hearing of the costs
application. 
<P>

30   	In any event I find it difficult to accept that, having
been told by the client that the funds would be transferred into the
trust
account, the solicitor knowing what bank his firm does business with, did not
telephone the banks the practice deals with to
inquire whether or not there had
been a telegraphic transfer of funds. It seems that all that the solicitor did
was to rely on what
the client said he would do and had done and on the records
that were kept by the practice. Of course those records are not  going
to be
updated until there is some acknowledgment by the receiving bank of those
funds. It would appear to me that the solicitor in
preparing this application
had not carried out the proper searches and inquires to establish whether the
funds had been put into
the trust account. That becomes abundantly clear after
the comments made by Mr Justice Windeyer that the Court would not consider
the
application unless it had before it information confirming the quantum of any
funds that flowed into and out of the trust account
since 27 October 1998. 
<P>

31   	In preparing the affidavit of 4 December 1998 it would
seem that the solicitor did no more than have a cursory glance at the
records
of the trust account. No inquiries were made at the bank and no proper search
was conducted of the trust account. At that
point it would appear that the
solicitor knew that the application was absolutely hopeless and doomed to fail.

<P>

32   	However, the conduct of the solicitor, in my view, does
not amount to misconduct. The Professional Conduct and Practice Rules
of the
Law Society of New South Wales set out the duties that a practitioner owes to
the Court and to his opponent. In the Statement
of General Principle, it is
stated that in dealing with the Courts the practitioner is required to act with
competence, honesty and
candour. It seems to me that, for whatever reason in
the haste to bring the application concerning the $22,000 before the Court,
the
solicitor has failed to properly consider the matter and has failed to ensure
that there is material before the Court which would
assist the Court in making
a determination and, even after he conducted the search of his trust account,
he was still unable to give
accurate evidence of the current position of the
trust account. 
<P>

33   	Mr Justice Austin, in his judgment of 7 December 1998,
intimated that because the plaintiffs had succeeded on the motion that
he would
have made an order for costs in the usual manner against the defendant as the
defendant had wholly failed on the motion.
But he stood the motion over on the
question of costs because time did not permit the cross-examination of Mr
Gilles on his affidavit
of 4 December 1998. 
<P>

34   	Therefore without any more at the very least the
plaintiffs are entitled to an order for costs. The question is on what basis
and by whom should those costs be paid. 
<P>

35   	There is evidence that the defendant had, during the
course of 1998 divested himself of assets in New South Wales. There is
also
evidence which establishes that Mr Gilles acted as his solicitor in the sale of
two properties. There is no evidence that Mr
Gilles was aware that, as a result
of those two sales, he, Mr Gilles, knew that the defendant no longer had assets
in New South Wales.
However, the Registrar of the Court of Appeal ordered his
client to provide security for costs for the prosecution of the appeal.
As I
understand it that application was brought on the basis that the defendant, the
appellant in the appeal, was no longer resident
in Australia and had no assets
in the country. Mr Gilles was the defendant's solicitor on that application.
It, therefore, can be
inferred that Mr Gilles had a reasonable knowledge of the
defendant's financial position concerning assets in Australia. Mr Gilles
was,
of course, aware that there was little in the practice's trust account held on
behalf of the defendant. A look at the trust
account records would reveal that
since late April 1998 the practice held little or no funds on behalf of the
defendant. Mr Gilles
was aware that orders made by Mr Justice Cohen were no
restraint on his client because the funds that were held were so minuscule
as
to be meaningless. The solicitor must have been aware that in making the
application that was made before Mr Justice Windeyer
that unless he could
establish the <i>bona fide</i> of the application that it was doomed to
failure. He was also aware that any victory that the plaintiff may have can be
categorised
as nothing but a Pyrrhic victory because, in all probability, his
client had no funds in Australia, has made no attempt to put money
into the
trust account to cover the costs of the Equity Division proceedings and was
only concerned with providing funds to cover
the security for costs
application. It therefore meant that any further costs incurred in the equity
proceedings were costs which
the plaintiffs would have a great deal of
difficulty in recovering and, in fact, as things stand, an almost impossible
task. 
<P>

36   	For those reasons I am of the view that the costs that
have been incurred on this application have been improperly incurred
and they
have been incurred without reasonable cause. It follows that the plaintiffs
should succeed on the question of costs. The
Court should not make orders which
give a party a Pyrrhic victory. Any order of the Court should be an order that
has some substance
to it. The only substance that can be given to the order is
to ensure that there is a capacity within that order for it to be met.
In my
view because the solicitor was a party to an action which improperly incurred
costs. In the absence of proper searches and
inquiries of his own records there
is a degree of negligence. The solicitor should be liable for the plaintiffs'
costs incurred in
the motion. Not only in relation to the costs of and
incidental to the hearings before Mr Justice Windeyer and Mr Justice Austin
but
also the costs of the motion before me on 13 September 1999. 
<P>

37   	Therefore the order I made is that John Joseph Gilles pay
the plaintiff's costs personally on the indemnity basis of the defendant's
motion filed on 3 December 1998.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	16/09/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/939.html</i><br>
</p>
</small>
</body>
</html>
