<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Public Trustee re Estate of T [1999] NSWSC 1027 (11 October 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1027</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1027 or 1999+NSWSC+1027">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Public Trustee re Estate of T [1999] NSWSC 1027 (11 October 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1027.html-->
<!--sino date 11 October 1999-->


<P>Last Updated: 27 October 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Public Trustee re Estate of T  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1027.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1027</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	2887 of 1999
<P>

HEARING DATE{S): 	6 July, 2 and 23 August and 11 October 1999
<P>

JUDGMENT DATE: 	11/10/1999
<P>

 PARTIES: 
<P>

Public Trustee Re Estate of T
<P>

JUDGMENT OF: 	Windeyer J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. L. Ellison
<P>

SOLICITORS: 
<P>

P.J. Whitehead, Solicitor for the Public Trustee
<P>

CATCHWORDS: 
<P>

TRUSTS - judicial advice sought pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s63.html" class="autolink_findacts">s63</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/" class="autolink_findacts">Trustee Act 1925</a> -
whether funds held on trust for children should be used to bring proceedings
against their mother for the benefit she took from
deceased's estate -
reasonable chance of establishing that mother was involved in unlawful killing
of deceased - children living
with mother - insufficient evidence as to benefit
flowing to children from such proceedings.
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ctra1897288/" class="autolink_findacts">Compensation to Relatives Act, 1897</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fa1995134/" class="autolink_findacts">Forfeiture Act 1995</a>
<P>

Public <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/" class="autolink_findacts">Trustee Act 1925</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s43.html" class="autolink_findacts">ss 43</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s44.html" class="autolink_findacts">44</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s47.html" class="autolink_findacts">47</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s63.html" class="autolink_findacts">63</a>
<P>

DECISION: 
<P>

Paragraph 12
<P>

JUDGMENT: 
<P>

1
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>WINDEYER J</b>
<P>

<b>MONDAY 11 OCTOBER 1999</b>
<P>

<b><u>2887/99 PUBLIC TRUSTEE (APPLICATION OF) - ESTATE OF T</u></b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>HIS HONOUR:  </b>  These proceedings were commenced by
way of summons under which the Public Trustee sought judicial advice under
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s63.html" class="autolink_findacts">Section 63</a> of the <u><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/" class="autolink_findacts">Trustee Act 1925</a></u> as to whether funds which the Public
Trustee holds on trust for three infant children of T, deceased, should be
applied or part of
them should be applied for the purpose of bringing
proceedings against CT, the widow of the deceased, claiming first, that she
having
been involved in the unlawful killing of her husband has forfeited the
interest which she would otherwise take by survivorship upon
his death, and
second, for a claim on behalf of the children under the <u><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ctra1897288/" class="autolink_findacts">Compensation to
Relatives Act 1897</a></u> for the loss to those children caused by their mother
having brought about the death of their father.  In the first instance the
question is whether funds should be expended in obtaining evidence to assess
the strength of any claim.
<P>

2   	On the facts available to this Court on the two Statements
of Facts dated 25 June 1999 and 28 July 1999, there is material
which would
indicate that there was a reasonable chance of establishing that CT was
directly involved in bringing about the unlawful
killing of her husband.
<P>

3   	In those circumstances, if that were established then in
the ordinary course she would not be entitled to take the benefit
which she
took by survivorship, namely, the passing of her husband's interest in a
property at Northmead to her as surviving joint
tenant.  The value of that one
half interest would go into the estate and be held by the Public Trustee as
administrator of the estate
for the persons entitled on intestacy, but in the
particular circumstances which would then have occurred, for the children of
the
deceased rather than the widow of the deceased who would have forfeited her
benefit subject to any order made under the <u><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fa1995134/" class="autolink_findacts">Forfeiture Act</a></u>.
<P>

4   	The Public Trustee, the administrator of the estate of the
deceased, in the statements of facts before the Court said there
were no assets
of any value in the estate, but as a consequence of the death of the deceased
certain moneys were payable from a superannuation
fund from the deceased's
employer, namely, Johnston's Transport Industries Retirement Fund.  The
relevant deed or rules are not before
the Court but correspondence shows that
the trustees of that fund have apparently determined that the sum of
$110,110.80 less some
costs be paid for the benefit of the three children of
the deceased, and pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s47.html" class="autolink_findacts">Section 47</a> of the <u><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/" class="autolink_findacts">Trustee Act</a></u> that sum has
been paid by the trustee to the Public Trustee to be held on behalf of the
children.
<P>

5   	The terms of the superannuation trust deed or rules under
which that payment was made are still not available to the Court
in spite of
the requirement for them having been made clear when this matter was first
before the Court, but be that as it may, it
seems almost certain that the funds
are to be held for each of the children until that child attains the age of 18
years.  What happens
if one of the children does not attain that age is quite
unclear.  No explanation has been given for this lack of evidence obviously
required.
<P>

6   	Once those moneys were in the hands of the Public Trustee,
then pursuant to <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s47.html" class="autolink_findacts">Section 47</a> of the <u><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/" class="autolink_findacts">Trustee Act</a></u>, the Public Trustee has
the powers under that Act applicable to moneys held in trust for a minor. It
follows that the powers available
under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/s44.html" class="autolink_findacts">Section 44</a> of the <u><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ta1925122/" class="autolink_findacts">Trustee Act</a></u>
are available, in which case assuming that each of the children is entitled to
the capital of his or her fund on the age of attaining
18 years, then the
Public Trustee would have power to apply one half of the capital of that
child's fund for the maintenance, education,
advancement or benefit of such
child.
<P>

7   	The question for determination is whether or not the Public
Trustee would be justified in using those moneys pursuant to that
Section for
the purposes of bringing an application to the Court to determine the proper
distribution of the estate of the deceased
on intestacy or, more properly, to
determine whether or not the widow should be entitled to retain the benefit she
took by survivorship.
That was the original question placed before the Court
under the original Statement of Facts of 25 June,1999.  The supplementary
statement of facts raises the question of possible action by the Public Trustee
as administrator on behalf of the children against
CT for damages under the
<u><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ctra1897288/" class="autolink_findacts">Compensation to Relatives Act 1897</a></u>.
<P>

8   	Under the new Statement of Facts dated 28 July 1999, there
is some estimate of the amount of money which would be expended
in costs for
the purpose of obtaining evidence and advice to a point where a more considered
decision could be made on whether or
not the proceedings ought to be pursued
but no additional question is posed by the later Statement of Facts.
<P>

9   	The difficulty with this matter is that the Public Trustee
has two positions.   One is his position as administrator of the
estate of the
deceased; the other is his position as trustee pursuant to Section 47 of the
funds held by and on behalf of the children.
In ordinary circumstances, it is
unlikely to be thought that the expenditure of the income or capital of those
children's funds for
the purpose of pursuing the claim envisaged would be a
proper expenditure of those funds unless there was almost absolute certainty
of
obtaining some beneficial result.  In other words, the Public Trustee would
only be authorised to take the action proposed by
means of making use of the
Section 43 or 44 powers if that action were clearly for the benefit of the
infant beneficiaries. The other
problem is that benefit must at least be given
some reasonably wide meaning.  It should be noted that the Public Trustee seems
in
questions 1 and 3 posed in paragraph 7 of the original statement of facts,
to be seeking advice in his different capacities.
<P>

10   	In the circumstances known to the Court at the present
time the three children are living with their mother, being the woman
against
whom the proposed proceedings would be brought and to whom maintenance payments
for the children are being made, those payments
being intended to be applied
towards mortgage payments on the home.  Without any further information, it is
just not possible for
the Court to say that it is necessarily for the benefit
of the children that a claim should be made on their behalf against their
mother with whom they are living, nor that money should be spent on assessing
the strength of possible claims.  It might be to their
financial benefit but it
may not necessarily be to their ultimate benefit.  In the absence of the views
of some independent person
or persons in a position to represent the children's
interests in a way that a tutor would do, it is just not possible for the Court
to give the advice which is sought by paragraph 27 of the Statement of Facts of
25 June 1999.
<P>

11   	That does not mean that the Court is advising the Public
Trustee that no action ought to be taken, nor absolving him from
responsibility
if no action is taken.  All that the Court is doing is stating that on the
facts presented it is not prepared to advise
the Public Trustee that it should
access the moneys for the purpose put forward.  There is an obvious possibility
of conflict in
the two trusteeships of the plaintiff, and it is difficult to
see how the solicitor for the Public Trustee can, even in an advice
matter such
as this, put all relevant matters before the court.  What is certain is that he
has not done so.  However, the matter
has now been before the court on four
occasions and it should be disposed of now on the presented facts.  It if for
the trustee to
establish relevant facts and to give serious consideration to
the position established by those facts.  It is not for the court to
give some
sort of advice on evidence.
<P>

12   	The Court advises on questions put forward in paragraph 27
of the Statement of Facts of 25 June 1999 and based on that statement
and the
supplementary statement of 28 July 1999, as follows:
<P>

1.	No.
<P>

2.	Does not apply.
<P>

3.	For the reasons given this question is not answered.
<P>

LAST UPDATED: 	26/10/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1027.html</i><br>
</p>
</small>
</body>
</html>
