<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Application of Peter Wood and anor Hoy v Wood [1999] NSWSC 802 (6 August 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 802</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+802 or 1999+NSWSC+802">Noteup</a>]
[<a href="802.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Application of Peter Wood and anor Hoy v Wood [1999] NSWSC 802 (6 August 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_802.html-->
<!--sino date 6 August 1999-->


<P>Last Updated: 13 August 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Application of Peter Wood and anor  Hoy v Wood  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/802.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 802</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	4340/98
<P>

1577/99
<P>

HEARING DATE{S): 	05/07/99
<P>

JUDGMENT DATE: 	06/08/1999
<P>

 PARTIES: 
<P>

Application of Peter John Wood &amp; Michael John Bloomfield
<P>

Francis Anthony Hoy v Peter John Wood and Michael John Bloomfield
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr J.M. Atkin for Wood
<P>

Miss D. Stewart for Hoy
<P>

 
<P>

SOLICITORS: 
<P>

Whiteley Ironside &amp; Shillington, Orange for Wood
<P>

Longman Hill, Orange  for Hoy
<P>

CATCHWORDS: 
<P>

Trustees.  Application for Judicial Advice.  Voluntary unincorporated
association for the purpose of conducting a sickness fund
for its members.
Fund ceases to operate and no express provision for dissolution.  Held that
assets should be distributed equally
among all members at time fund ceases to
operate.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Paragraphs 17, 18 and 19
<P>

JUDGMENT: 
<P>

-
<P>

<b>IN THE SUPREME COURT </b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>MASTER MACREADY</b>
<P>

<b>Friday, 6 August 1999</b>
<P>

<b>4340/98 THE APPLICATION OF: PETER JOHN WOOD AND MICHAEL JOHN
BLOOMFIELD</b>
<P>

	<b>1577/99 FRANCIS ANTHONY HOY v PETER JOHN     	WOOD AND</b>
<P>

<b>MICHAEL JOHN BLOOMFIELD</b>
<P>

	
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>  There are two matters before me for
hearing.  Matter No. 4340 of 1998 is a matter in which the plaintiffs seek the
advice of the
court pursuant to s 63 of the <b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/ta122/" class="autolink_findacts">Trustee Act</a></b>.  The other
matter No 1577 of 1999 is an application by way of summons in which Mr Hoy
claims against the two applicants for judicial
advice in matter No 4340 of 1998
and seeks a declaration to the effect that monies held by the Email Hospital
Fund on its dissolution
must be donated to a charity with medical objectives.
A judge of the court has ordered that the whole of the proceedings be heard
by
a Master.  The second matter was apparently commenced after there had been
appropriate advertising as a result of directions given
in the summons for
judicial advice in matter No. 4340 of 1998.  All the evidence including that of
the plaintiff in matter No 1577
of 1999 was filed in the proceedings for
judicial advice, namely,  No 4340 of 1998.  Accordingly I made an order that
both matters
be heard together and that the evidence in one be evidence in the
other.  
<P>

2   	The matters concern the affairs of what is known as the
Email Hospital Fund ("the fund").  It was established apparently some
time
between 1952 and 1957 and has some rules to which I will refer.  The object
appears to have been to collect fees from members
and apply its funds to
meeting needs of members who were in hospital due to accident or illness.  To
be eligible to join a member
had to be an employee of Email.  On 24 August 1998
at a meeting the members present resolved "to wind up the Email Hospital Fund
through the Supreme Court and abide by its decision".  The two applicants for
judicial advice are the signatories to the bank accounts
maintained by the
fund.  The total amount of funds held is $75,888.46.  The applicants for
judicial advice suggest that the fund
should be divided between the existing
members as at 24 August 1998 equally.  There are some 43 members of the fund.

<P>

3   	The alternative position advanced by Mr Hoy is that the
agreement to set up the fund contained a provision that, in the event
of
dissolution, the funds would be made available to and distributed to a charity
to be nominated by the fund's members and he suggests
that this be the Orange
District Hospital which is in the area where the fund's members work.  The
Email factory is apparently at
Orange.  
<P>

4   	There is therefore an initial question which it is
appropriate to resolve in matter No 1577 of 1999 as to what are the terms
of
the fund in question.
<P>

5   	Evidence was given by a number of people connected with the
fund.  Mr Richard James Hennessy was the secretary/treasurer of
the fund
between 1966 and August 1998.  He recalls that originally there were two
companies Emmco and Elcon which companies later
amalgamated and became known as
Email Limited.  He himself joined the fund in 1959 and he says that the fund
became known as the
Email Hospital Fund about three years later.  He recalls
that the founding president of the fund was a Mr Tom Lee and that in 1963
a Mr
Bill Denman was president who remained in that position until 1977 when Mr Pat
Ryan became the president.  He says that the
last annual meeting of the fund
was on 14 May 1970 and the last executive meeting was on 24 June 1977.
Thereafter as secretary he
gave notice of the annual meeting to the members but
virtually no-one turned up.  The quorum required was 25 and accordingly he just
continued to administer the fund.  The only document of which he is aware is
the set of rules a copy of which he annexes to his affidavit
and which was also
annexed to his statement of facts.  Those rules refer in Rule 11 to funds being
deposited in Westpac Bank and
they also have the members' contributions shown
in dollars and cents.  Given that the Bank of New South Wales changed its name
to
Westpac Banking Corporation on 5 October 1982 it is clear that this set of
rules were prepared after that date.  
<P>

6   	One other set of rules has come to light and they are
referred to by Mr Knight in his affidavit of 24 March.  He produced a
set of
rules which would appear to have come from Mrs Lee, the widow of the late Tom
Lee, who founded the fund.  Such rules are headed
"Elcon Hospital Comforts
Fund" and are substantially in the same terms as the other rules to which I
have referred except that the
contributions are in shillings and pence and the
bank account is shown as being with the Commonwealth Bank.  The rules are not
lengthy
and they provide for things such as annual meetings, special meetings
and duties of officers including a committee.  They make absolutely
no
provision for termination of the fund or what should happen to the assets of
the fund on its termination.  
<P>

7   	The evidence in support of the suggestion that there may be
a provision in the arrangements for setting up the fund to the
effect that on
dissolution the fund should go to a charity was sought to be led from a number
of witnesses.  Unfortunately, most
of the evidence was in an inadmissible form.
Mr Hoy reported conversations he had with Mr Tom Lee, the founder, where the
founder
is alleged to have said, "The Orange Base Hospital should be the
ultimate beneficiary of any proceeds of this fund if it ever ceases
to
operate".  There was a suggestion that Mr Siemer who was a member of the fund
may have had a copy of the original agreement but
this did not turn out to be
the situation.  In the end he was unable to give any evidence of the type of
provision that had been
recounted by Mr Lee to Mr Hoy.  Mr Noonan was also a
member up until 1980.  He had previously been with the Small Arms Factory at
Lithgow which had a similar fund.  He spoke of that fund having provisions on
its winding up for the funds to be donated to the Orange
Base Hospital.  The
only relevant evidence he gives about the Elcon Fund was that members expressed
to him an opinion that the monies
should be donated to a medical charity and
not divided up amongst the then members at the time the fund ceased to operate.

<P>

8   	An important matter to note is that Mr Siemer does remember
the original agreement being signed in the canteen and that the
signatories
were Tom Lee, Bill Denman and Pat Ryan.  Mr Ryan gave evidence in this case.
Although he gave some inadmissible evidence
of views of members he did not
speak of any specific provision that might have been agreed upon at the time of
setting up the fund.
 This, I think, is significant.  Also, importantly, a
number of people who were associated with the fund indicated in their evidence
that they did not hear of any such provision for the fund on dissolution to go
to a charity.
<P>

9   	On the evidence before me there is nothing from which I
could conclude that it was a term of the fund that the proceeds on
dissolution
would go to a charity.  Accordingly, the summons in 1577 of 1999 should be
dismissed.
<P>

10   	I turn to the question of the judicial advice.  I am
satisfied that the rules of the Elcon Hospital Comforts Fund at the time
it was
formed are those which are in Annexure A to the affidavit of Peter John Knight
of 24 March 1999 without the alterations that
appear on the face of the
document.  They may have been amended during the period of the operation of the
fund to change the name
to the Email Hospital Fund and to make other minor
amendments which are not relevant to the matters presently before the court.

<P>

11   	I have earlier referred to the decision taken at the
meeting in August 1998.  The resolution clearly evinced an intention
to wind up
the operations of the fund according to the members who were then present.
There were 27 members attending and five proxies
out of a total membership of
43.  After that meeting the secretary, Mr Bloomfield, gave notice to the
employer of the decision and
the employer has ceased deducting membership fees
from the members' salaries.  There has thus been no further payment of
membership
fees.  The former secretary, Mr Hennessy, indicated that there had
been very few claims in the last six or seven years prior to his
retirement in
1998 and in his view the fund had become redundant.  
<P>

12   	In submissions it was suggested that the meeting held in
August 1998 was invalid.  It is perfectly clear that the meeting
was called by
Mr Bloomfield.  He had no authority from the committee to call that meeting
and, indeed, it seems, as I have recounted
earlier, there was no effective
committee for over 30 years.  
<P>

13   	It would seem given these facts that the meeting could not
be described as one having been called in accordance with the provisions
of the
rules of the fund.  However, it is an expression of opinion of some of the then
present members who met together to decide
whether the fund should continue.  I
am satisfied that the purposes for which the fund was established can no longer
be accomplished
and that it has ceased all its activities.  There has been no
suggestion from any member that the fund should continue in existence.
Accordingly, it is appropriate to make some provision for distribution of its
funds.  
<P>

14   	The opinion and advice and direction of the court which is
sought is in the following terms:-
<P>

"(a)	Are the plaintiffs justified in regarding themselves as trustees of the
funds held with the Westpac Bank in Orange?
<P>

(b)	Pursuant to the resolution of the meeting of Email Hospital Fund held 24
August 1998, would the plaintiffs be justified in distributing,
on behalf of
the fund, the assets of the fund to those persons who were as at 24 August 1998
employees of Email Limited and who were
members of the fund?
<P>

(c)	Would the plaintiffs be justified in disregarding any claims made upon the
fund, or upon them, by or on behalf of any person
who was at one time a member
of the fund but as at 24 August 1998 had ceased to be a member of the fund?"
<P>

15   	The fund was established as a voluntary unincorporated
association.  It is clear that it is not a charitable trust.  It is
not a trust
for a purpose but is for the benefit of individual persons who have chosen to
become members.  Such a trust may be terminated
by the exercise of powers or
termination or revocation reserved to it, by the court, or by the decision of
all the beneficiaries
being of full age and capacity.  In the circumstances of
this case it would appear that the fund can only be terminated by the court
determining the proper distribution of the funds.  I mention that those
opposing the advice sought by the trustees did not suggest
that in the present
case there is any resulting trust.  There is also no suggestion that the
property could pass as bona vacantia
to the Crown as the members of the fund at
the present time are the possible claimants to the ownership of the property of
the fund.
 
<P>

16   	The question is, what is the most appropriate method of
distribution?  The possibilities are the equal division among the
members or a
proportionate division among the members.  An equal distribution is the usual
method of division of the assets of an
unincorporated association.  The members
entitled to share in that distribution are those persons who are members at the
time the
fund ceased its activities.  See for example <b>Abbatt v The Treasury
Solicitor </b> <a href="/cgi-bin/LawCite?cit=%281969%29%201%20WLR%201571" title="View LawCiteRecord" class="autolink_findcases">(1969) 1 WLR 1571</a> <b>Re Sick and Funeral Society of St Johns
Sunday School v Golpah </b> <a href="/cgi-bin/LawCite?cit=%281973%29%20Ch%2051" title="View LawCiteRecord" class="autolink_findcases">(1973) Ch 51.</a>  In the absence of any specific rule
or in the absence of an appropriate inference available to be drawn from the
rules as a whole,
a member is not entitled to receive a distribution
proportionate to that member's contribution.  See <b>Re Sick and Funeral
Society of St Johns Sunday School v Golpah </b>at 60.  In the present case
there is no specific rule and there is nothing in the constitution to which I
have referred which would
lead one to draw an inference that it was intended
upon dissolution that those members entitled to receive a distribution would
receive
a distribution proportionate to the contributions made by each
individual member.
<P>

17   	In the circumstances I am satisfied that the appropriate
division is equally between the members of the fund as at 24 August
1998.
Accordingly I would answer the questions sought in the advice:
<P>

9 (a)	Yes.
<P>

9 (b)	The plaintiffs are justified in distributing the assets of the fund
equally between those persons who were, as at 24 August
1998, employees of
Email Limited and who were then members of the fund.
<P>

9 (c)   Yes.
<P>

18   	So far as costs are concerned, I order that the applicant
for Judicial Advice costs in both matters on an indemnity basis
to be paid out
of the fund. 
<P>

19   	The defendant in 1577/99 seeks no costs against the
plaintiff in that matter and, accordingly, I make no order for costs against
the plaintiff in matter 1577/99.
<P>

LAST UPDATED: 	12/08/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/802.html</i><br>
</p>
</small>
</body>
</html>
