<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Assaf v Skalkos [1999] NSWSC 1328 (9 November 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1328</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1328 or 1999+NSWSC+1328">Noteup</a>]
[<a href="1328.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Assaf v Skalkos [1999] NSWSC 1328 (9 November 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1328.html-->
<!--sino date 9 November 1999-->


<P>Last Updated: 19 April 2001
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Assaf v Skalkos  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1328.html" title="View Case" class="autolink_findcases">[1999] NSWSC 1328</a>
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	18374/99
<P>

HEARING DATE{S): 	01/11/99-17/12/99
<P>

JUDGMENT DATE: 	09/11/1999
<P>

 PARTIES: 
<P>

Joseph Assaf &amp; Anor v Theodore Skalkos &amp; Anor
<P>

JUDGMENT OF: 	Carruthers AJ      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

T E F Hughes QC/K Rees (Plaintiffs)
<P>

S M Littlemore QC/J R McKenzie (Defendants)
<P>

SOLICITORS: 
<P>

Mallesons Stephen Jaques (Plaintiffs)
<P>

T Lazaropoulos (Defendants)
<P>

CATCHWORDS: 
<P>

Defamation - pleadings - whether on the pleadings defendants may raise defence
to alleged imputation that the words complained of
should not be construed in
their natural and ordinary meaning, but were trade terms.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

See para 33.
<P>

JUDGMENT: 
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

COMMON LAW DIVISION
<P>

CARRUTHERS AJ
<P>

Tuesday, 9 November 1999
<P>

CLD18374/93
<P>

<center><b><u>Joseph ASSAF &amp; ANOR v Theodore SKALKOS &amp; ANOR</u></b>
<P>

<b><u>EX TEMPORE JUDGMENT- see page 426 of transcript</u></b></center>
<P>

1  	<b>HIS HONOUR</b>:  One of the burdens of a trial Judge,
particularly in defamation proceedings, is to be required to deal, en passant,
as it were,
with difficult procedural and legal problems during the course of
the trial.
<P>

2  	One such difficult situation has arisen in this particular case
and it arises in this fashion.
<P>

3  	The matter does have a long history, the original statement of
claim having been filed in 1993. However, for present purposes
it is sufficient
if I deal with the more recent history of the matter.
<P>

4  	On 19 March this year, Levine J heard an application by the
plaintiffs to file a second further amended statement of claim.
 That document
contained, in relation to the first plaintiff, an imputation in the following
form:
<P>

"7(a) He exploits the ethnic communities in Australia, for his own selfish
financial purposes, by selling government advertising
to media organisations at
exorbitant prices."
<P>

5  	A similar imputation was pleaded in respect of the second
publication. Relevantly, it should be noted, that counsel for the
defendants
submitted in relation to that imputation that it was not capable of arising
with regard to either publication.
<P>

6  	In a reserved judgment, dated 30 April 1999, his Honour said:
<P>

"I am persuaded in relation to each publication that unarguably neither matter
complained of is capable of conveying an imputation
in the form pleaded as in
(a). However carefully one reads each matter complained of (in English) one
cannot be persuaded at all
of any notion of "exploitation" of the ethnic
communities by selling government advertising to media organisations at
exorbitant
prices."
<P>

7  	His Honour then held that the amendment would not be allowed in
respect of the imputation pleaded in paragraph (a).
<P>

8  	I am informed that in the history of this matter that is the
first occasion on which an imputation in that form had been pleaded.
<P>

9  	Accommodating themselves to his Honour's finding, the further
amended statement of claim was not proceeded with by the plaintiffs
in that
form, but a further application was made on 14 May 1999 to his Honour for leave
to file in Court a second further amended
statement of claim with amendments to
those imputations which were sought to be filed on 19 March 1999.  Those
amendments included
the imputation in the present form in relation to both
publications:
<P>

"He exploits publishers of ethnic community newspapers for his selfish
financial purposes by selling government advertising to them
at exorbitant
prices."
<P>

10  	I am unaware of the extent of debate that was engaged in by
respective counsel before his Honour on 14 May, but, in any event,
his Honour
ruled on 19 May that the subject imputation will go to the jury, having
concluded that the matters complained of were
capable of conveying that
imputation (as pleaded in the second further amended statement of claim) and
that the imputation was capable
of being defamatory.
<P>

11  	I am only concerned here, I repeat, with the first
imputation.
<P>

12  	The defendants thereupon filed a second further amended defence,
which included paragraph 4, in the following terms:
<P>

"The defendants deny that each of the matters complained of in their natural
and ordinary meaning is capable of bearing or in fact
bears any of the
imputations pleaded in paragraph 7 of the Second Further Amended Statement of
Claim ("the imputations")."
<P>

13  	One could take paragraph 4 of the defence to refer to both
paragraphs 7 and 7A of the second further amended statement of claim,
which his
Honour gave leave to the plaintiffs to file on 14 May 1999.
<P>

14  	It has always been the plaintiffs' case that the alleged
actionable defamation is based on the natural meaning of the words
complained
of in the articles, or perhaps I should refer to them as publications, because
one is a letter to the Prime Minister.
<P>

15  	This is the way in which the case was clearly opened by Mr
Hughes of Queen's Counsel, for the plaintiffs, before the jury when
the matter
commenced on 1 November 1999.
<P>

16  	However, as the case has developed it has been made clear by Mr
Littlemore of Queen's Counsel, for the defendants, in relation
to the
imputation which is the subject of this judgment, that because of certain words
used in the publications, and particularly
the use of the verb "sell" or "sold"
in quotes, the relevant parts of the publications embrace what may conveniently
be referred
to as, trade terms, and when one understands those trade terms the
defendants contend the publications in fact do not bear, and could
not be taken
to bear, the subject imputation.  It is conceded, however, that, allowing for
those trade terms, the material could
be capable of a defamatory imputation,
but in a different form to that pleaded by the plaintiffs.
<P>

17  	The matter has arisen during the cross-examination of the first
plaintiff who is still giving evidence in the proceedings,
although during the
course of argument Mr Littlemore has indicated to me that he has no intention
of further cross-examining the
plaintiff in relation to the subject imputation,
so far as this particular point is concerned.
<P>

18  	Mr Hughes has submitted, during the course of argument
yesterday, and this morning, that the burden of proof lies upon the
defendants
to displace the natural meaning of the subject words.  He referred me in this
regard to the following passage from paragraph
3.14 of the ninth edition of
Gatley on Libel and Slander:
<P>

"Where a party contends that the words should not be construed in their natural
and ordinary meaning (as where the plaintiff pleads
an innuendo based on an
extrinsic fact which makes apparently innocent words defamatory or the
defendant claims that the circumstances
in which the words were used prevented
them being understood in the defamatory sense) the burden of proof lies on
him."
<P>

19  	Indeed, a similar passage is to be found at para 114 of the
eighth edition of Gatley, which is the edition most commonly used
by the legal
profession in this State.  The wording there is slightly different:
<P>

"But if either party alleges that the words were reasonably to be understood in
a meaning other than their natural and ordinary
meaning, and in that meaning
were either defamatory or not defamatory, as the case may be, the burden of
proof is on that party."
<P>

20  	Of course, in order to pursue the matter which the defendants
seek to pursue with regard to the alleged trade meaning of certain
parts of the
publications, it would be necessary for the defendants to call evidence and
perhaps cross-examine witnesses for the
plaintiffs.  Whether relevant evidence
would be called by the plaintiffs I do not know.
<P>

21  	Mr Littlemore has submitted that this is not a matter which
needs to have been pleaded by way of defence.  He submits that
it is purely an
evidentiary matter and the defendants are not raising, in this regard, a
positive defence, but are raising material
which, as I understand it,
undermines the assertions by the plaintiffs that the subject imputation is
capable of arising from the
relevant parts of the publications.
<P>

22  	This has taken us to a detailed consideration of Pt 15 r
13(2)(b) of the Supreme Court Rules, which deals with matters for
specific
pleading.
<P>

23  	The plaintiffs contend that the relevant portion of the rule is
that in a defence, the party pleading shall plead specifically
any matter:
<P>

"(b)	which, if not pleaded specifically, may  take the opposite party by
surprise."
<P>

24  	I have no doubt that the matter which was raised during the
course of the cross-examination of the first plaintiff, to which
I have already
made reference, has in fact taken the plaintiffs by surprise.  It was not
adverted to during the interlocutory hearing
before Levine J, and was not, in
particular, raised when he made the judicial finding pursuant to Part 31 of the
Rules dealing with
separate decision of questions arising in the
proceedings.
<P>

25  	Rule 13 must be read in the light of the current philosophy of
litigation in this Court, that each party should have adequate
particulars of
the other party's case for the proper and expeditious conduct of litigation.
One could parenthetically add that this
philosophy is particularly relevant to
the conduct of complex defamation proceedings.
<P>

26  	It is, I think, consistent with the judgment in <u>Bright v
Sampson &amp; Duncan Enterprises Pty Ltd</u>.  <a href="/cgi-bin/LawCite?cit=%281985%29%201%20NSWLR%20346" title="View LawCiteRecord" class="autolink_findcases">(1985) 1 NSWLR 346.</a>
<P>

27  	A question has arisen as to whether para 4 of the second further
amended defence, and in particular the second limb of that
paragraph,
sufficiently raises the matters on which the defendants seek to rely with
regard to trade terms.
<P>

28  	I am faced with a paragraph that involves some difficulty of
construction, and I am not persuaded that the paragraph is appropriately
worded
to embrace the matter which the defendants seek to raise.
<P>

29  	We have not yet reached a stage in this case where any amendment
to the defence which specifically raised this particular point,
and gave
sufficient particulars thereof, would necessarily inhibit the plaintiffs from
dealing with the matter as the case progresses.
 That has a very significant
bearing on my approach to this particular problem, because obviously with a
matter of this nature, particularly
bearing in mind its long history, it is
eminently desirable that the parties be given the opportunity - unless one of
them suffers
from some irreparable prejudice - of ensuring that all matters in
issue between the parties are resolved, so far as they can be,
at first
instance.
<P>

30  	Accordingly, the approach which I propose to take is to hold
that, in my view, the matters which have been raised fall within
r 13(2)(b) of
the Supreme Court Rules and are not sufficiently raised by para 4 of the
defence, which I am satisfied is the appropriate
defence.  I do not see how
this problem can fairly be resolved by any amendment to para 5, or any further
particularisation.
<P>

31  	Accordingly, I propose to allow the defendants, if they are so
minded, to seek leave to amend the second further amended defence
by
specifically pleading the matters associated with the alleged reference to
trade terms in the publications, and providing the
plaintiffs with such
particulars thereof as the plaintiffs may seek.  Obviously, if the defendants
seek that leave then these matters
will have to be dealt with expeditiously by
both parties.
<P>

32  	If the procedure, which I have foreshadowed, is one that the
defendants seek to avail themselves of, then it would be necessary,
of course,
to consider the situation when the amended pleading has been formulated and the
particulars have been given.
<P>

33  	Otherwise, I hold that on the present pleadings, it is not open
to the defendants to raise the challenge, if I can use that
expression, to the
subject imputation by reference to the asserted trade terms in the
publications.
<P>

LAST UPDATED: 	06/04/2001
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1328.html</i><br>
</p>
</small>
</body>
</html>
