<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Rogers v Kabriel (No 2) [1999] NSWSC 474 (14 May 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 474</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+474 or 1999+NSWSC+474">Noteup</a>]
[<a href="474.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Rogers v Kabriel (No 2) [1999] NSWSC 474 (14 May 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_474.html-->
<!--sino date 14 May 1999-->


<P>Last Updated: 21 May 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Rogers v Kabriel (No 2)  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/474.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 474</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	3052/97
<P>

HEARING DATE{S): 	14/05/99
<P>

JUDGMENT DATE: 	14/05/1999
<P>

 PARTIES: 
<P>

Joan Freedom Rogers (P1)
<P>

Joan Freedom Rogers Pty Ltd (P2)
<P>

Bedrich Kabriel (D1)
<P>

Narendra Prasad (D2)
<P>

Fontana Films Pty Ltd (D3)
<P>

JUDGMENT OF: 	Young J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiffs:                              B A Coles QC and A P Coleman
<P>

Defendants 1 &amp; 3:                 P L G Brereton SC
<P>

2nd Defendant in person
<P>

SOLICITORS: 
<P>

Plaintiffs:                               Corrs Chambers Westgarth
<P>

Defendants 1 &amp; 3:                  Beilby Poulden Costello
<P>

CATCHWORDS: 
<P>

Procedure [558]
<P>

Costs
<P>

Defendants appearing by one set of counsel and solicitors
<P>

One successful one not
<P>

Appropriate costs order
<P>

Consideration of situation where plaintiff wins on some counts only of its
claim
<P>

ACTS CITED: 
<P>

(NSW) <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/" class="autolink_findacts">Supreme Court Act 1970</a>, s 76
<P>

(NSW) Supreme Court Rules Pt 52A r 11
<P>

DECISION: 
<P>

See para 20
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>YOUNG, J</b>
<P>

<b>FRIDAY 14 MAY 1999</b>
<P>

<b>3052/97 - JOAN FREEDOM ROGERS &amp; ANOR V BEDRICH KABRIEL &amp; ORS (NO
2)</b>
<P>

<b>JUDGMENT</b>
<P>

1	<b>HIS HONOUR :</b>   This morning I made orders carrying out the reasons for
judgment I gave on 23 April 1999, but I reserved over lunch the question
of
costs as between the plaintiffs, on the one hand, and the first and third
defendants, on the other hand.
<P>

2	It will be remembered that in the principal judgment I found the first
defendant not liable to the plaintiffs on any account,
but the third defendant
to be liable to the plaintiffs on both transactions.  However, numerous counts
were laid by the plaintiffs
against each of the first and third defendants, and
in respect of each transaction the plaintiffs only succeeded on one of those
counts.
<P>

3	The $1 million transaction involved the plaintiffs succeeding only on a
statutory count, a matter which involved interpretation
of the Corporations
Law, so that most of the factual material on the million dollar claim was not
material which in the end advanced
the plaintiffs' case.
<P>

4	Costs under s 76 of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/" class="autolink_findacts">Supreme Court Act 1970</a> are in the discretion of the
court.  Since<b> Oshlack v Richmond River Council</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1993/11.html" title="View Case" class="autolink_findcases_inserted">[1993] HCA 11</a>;  <a href="/cgi-bin/LawCite?cit=%281998%29%20193%20CLR%2072" title="View LawCiteRecord" class="autolink_findcases">(1998) 193 CLR 72</a>, 88, it
may be doubted whether there is a rule set in concrete that a successful party
is to be compensated by the unsuccessful party
for costs.
<P>

5	Mr Coles QC, who appeared with Mr A P Coleman for the plaintiffs, put that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/index.html#p52a" class="autolink_findacts">Pt
52A</a> r 11 of the Supreme Court rules had that effect in this court,
notwithstanding<b> Oshlack's</b> <b>case</b>.  That rule is rather obscurely
worded.  It may mitigate against the full force of what was said in<b>
Oshlack</b>, but it still leaves the court with a discretion and a general rule
of thumb.
<P>

6	There was forecast, when the matter was set down for today to argue ancillary
questions, that there might be a stay of proceedings
sought.  That was
abandoned.  A cynical mind such as mine would infer that may be for one of two
reasons.  One, that the defendants
have acknowledged the rightness of the
judgment, or two, that the company against whom the judgment was ordered has
not the financial
wherewithal to meet it in any event.  I think the second is
more likely, so that there is a very real chance that if particular attention
is not paid to the form of the order for costs there might be unfortunate
consequences for one party or the other.
<P>

7	Although Mr Coles QC submitted that I should not take into account the
possible insolvency of any of the defendants, I do consider
that the court can
take that matter into account up to a certain extent and, indeed, there has in
the past been such a consideration,
it being one of the bases of the "partner
in crime" costs rule.  That rule is that if  there are two unsuccessful
defendants and
one goes insolvent then it is fairer that one of those
defendants pay the whole of the costs, rather than the plaintiff get only
half
of the costs; see<b> Trade Practices Commission v Nicholas Enterprises Pty
Ltd</b>  <a href="/cgi-bin/LawCite?cit=%281979%29%2028%20ALR%20201" title="View LawCiteRecord" class="autolink_findcases">(1979) 28 ALR 201</a>, and cases there cited.
<P>

8	Also it has been recognised that, generally speaking, if a co-defendant is
insolvent, so that the other defendants have to pay
the whole of the
solicitors' bill, instead of a part of it, then, to put it colloquially, that
is their fault for teaming up with
an insolvent person; see<b> Ellingsen v Det
Skandinaviske Compani</b>  <a href="/cgi-bin/LawCite?cit=%5b1919%5d%202%20KB%20567" title="View LawCiteRecord" class="autolink_findcases">[1919] 2 KB 567.</a>
<P>

9	However, apart from contributions between defendants and making sure that the
order for costs is framed precisely, the authorities
would not support the
proposition that insolvency, or possible insolvency, of a party would have any
further significance.
<P>

10	The first matter to consider is what order for costs should be made in
favour of the plaintiffs against the third defendant,
against whom they wholly
succeeded, but not in respect of every count.
<P>

11	I reviewed the authorities recently in<b> Fexuto Pty Ltd v Bosnjak Holdings
Pty Ltd (No 3)</b>  <a href="/cgi-bin/LawCite?cit=%281998%29%2030%20ACSR%2020" title="View LawCiteRecord" class="autolink_findcases">(1998) 30 ACSR 20.</a>  I affirm what I said there and I do not
need to repeat the reasoning.
<P>

12	In my view it follows from that reasoning, applied to the facts and
circumstances of this case, that the plaintiffs should not
get their full
costs.  Especially on the second transaction they did not need most of the
factual material proffered and in all the
circumstances they should get fifty
percent of their costs.
<P>

13	The next consideration is what order for costs should be made in favour of
the first defendant.
<P>

14	The authorities show that there is a rule of thumb that is applied when the
plaintiff has succeeded against one defendant and
not the other defendant,
where both defendants have been represented by the same solicitors and counsel.
The rule was laid down as
early as<b> Re Colquhoun</b> <a href="http://www.worldlii.org/int/cases/EngR/1854/247.html" title="View Case" class="autolink_findcases_inserted">[1854] EngR 247</a>;  <a href="/cgi-bin/LawCite?cit=%281854%29%205%20De%20GM%20%26%20GBy%2035" title="View LawCiteRecord" class="autolink_findcases">(1854) 5 De GM &amp; G
35</a>;  <a href="/cgi-bin/LawCite?cit=43%20ER%20781" title="View LawCiteRecord" class="autolink_findcases">43 ER 781</a>, and was affirmed in<b> Ellingsen's</b> <b>case</b>.
<b>Ellingsen's case </b>has been applied in Australia; see<b> Troupp v
Caffery</b>, a decision of the old Queensland District Court in  <a href="/cgi-bin/LawCite?cit=%5b1920%5d%20QWN%2027" title="View LawCiteRecord" class="autolink_findcases">[1920] QWN 27</a>,
in the<b> Nicholas</b> <b>case </b>(supra), and by myself in<b> Mike Gaffikin
Marine Pty Ltd v Princes Street Marina Pty Ltd (No 2)</b> 15 July 1996,
unreported.  That decision was partly reversed in the Court of Appeal
(17.12.1997) but the appeal decision did not
touch this part of the case.
<P>

15	The rule is that in the absence of any evidence as to how the defendants
have retained their solicitor the court infers that
each is liable to pay an
aliquot part of the costs, so that if successful the only order in their favour
is an aliquot part of the
total costs.
<P>

16	That is a rule of thumb and not a rule that must be applied in each case and
in the appropriate case the court will order an
assessment of costs on the
basis that the costs are to be split between the costs referable to all
defendants and the costs referable
to a particular defendant; see<b> Korner v H
Korner &amp; Co Ltd</b>  <a href="/cgi-bin/LawCite?cit=%5b1951%5d%20Ch%2010" title="View LawCiteRecord" class="autolink_findcases">[1951] Ch 10.</a>  The rule of thumb will also not apply
where there is evidence before the court of the exact arrangement that has been
made by the
defendants with their solicitor, particularly where the other side
is  aware of that arrangement.
<P>

17	Although I have given some thought in the instant case as to whether the
defendants' costs should be apportioned between what
are obviously joint costs
and what appear to be costs applicable to each particular defendant, it seems
to me that doing that might
cost the parties more than it is worth and that a
broad brush approach should be taken.
<P>

18	I have not been given any material as to whether the first and third
defendants jointly and severally or severally retained their
solicitor, but I
will make the inference that the retainer is joint.
<P>

19	Accordingly, the plaintiffs should pay one half of the first defendant's
costs.
<P>

20	I make orders 1 to 5 in accordance with the short minutes which were
resolved this morning and further order:  
<P>

6.  That the plaintiffs pay one half of the first defendant's costs.    7.
That the third defendant pay fifty percent of the plaintiffs'
costs of the
issues raised against it.
   8.  The exhibits may be returned.
<P>

 
<P>

 
<P>

                                        oOo
                                   
<P>

LAST UPDATED: 	20/05/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/474.html</i><br>
</p>
</small>
</body>
</html>
