<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Kolacek v Brezina [1999] NSWSC 578 (11 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 578</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+578 or 1999+NSWSC+578">Noteup</a>]
[<a href="578.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Kolacek v Brezina [1999] NSWSC 578 (11 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_578.html-->
<!--sino date 11 June 1999-->


<P>Last Updated: 11 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Kolacek v Brezina  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/578.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 578</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	1201/96
<P>

HEARING DATE{S): 	3, 4 and 14 December 1998
<P>

JUDGMENT DATE: 	11/06/1999
<P>

 PARTIES: 
<P>

Maria Kolacek (P)
<P>

Vojtech Ladislav Brezina (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Ms. J. M. G. Housego (P)
<P>

Mr. A. G. Jamieson (D)
<P>

SOLICITORS: 
<P>

Blaxland Mawson &amp; Rose (P)
<P>

Jeffrey S. Dunn (D)
<P>

CATCHWORDS: 
<P>

De Facto relationship
<P>

Application for orders adjusting interests with respect to property
<P>

Whether the parties lived in a de facto relationship for not less than two
years
<P>

Dispute as to date of termination of relationship
<P>

Credit to be given to the testimony of each party
<P>

Parties lived in residences of the defendant
<P>

Respective contributions of the parties
<P>

Whether proceedings were brought within prescribed period
<P>

If not, whether leave should be granted to bring application.
<P>

ACTS CITED: 
<P>

De Facto Relationships Act 1984
<P>

DECISION: 
<P>

See Paragraph 86
<P>

JUDGMENT: 
<P>

- 26 -
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Friday, 11 June 1999</i>
<P>

<b>1201/96	MARIA KOLACEK   -v-   VOJTECH LADISLAV BREZINA</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>   These are proceedings under the <i>De
Facto Relationships Act </i>1984. 
<P>

2   	By statement of claim filed on 31 January 1996 the
plaintiff Maria Kolacek seeks against the defendant Vojtech Ladislav Brezina,
orders pursuant to section 20 the <i>De Facto Relationships Act,</i> adjusting
the interests of the parties in property. 
<P>

3   	It was not disputed that the parties had entered into de
facto relationship in about April 1987. However, there was a considerable
dispute as to the date of the termination of that relationship. According to
the plaintiff, the relationship continued until December
1994. According to the
defendant, however, the relationship had come to an end by January 1989. No
children were born to the relationship
of the plaintiff and the defendant. 
<P>

4   	By section 17 (1) of the Act, the Court (subject to certain
exceptions set forth in subsection (2) of that section) is precluded
from
making an order of the nature sought by the plaintiff in the present
proceedings unless it is satisfied that the parties to
the application have
lived together in a de facto relationship for a period of not less than two
years. It is appropriate therefore
that, at the outset I should determine the
disputed issue of the date when the de facto relationship between the parties
came to
an end. In doing so, I must of necessity refer to much of the evidence
concerning the circumstances surrounding the commencement
of the relationship
and the conduct of the parties during the period whilst the relationship
indisputedly continued and during the
subsequent period, from January 1989 (by
which time, according to the defendant, the relationship had come to an end) to
December
1994 (at which time, according to the plaintiff, the relationship
terminated). 
<P>

5   	The plaintiff was born in Czechoslovakia (as it then was)
on 2 March 1947. She came to Australia in 1969. The plaintiff commenced
cohabitation with the defendant in April 1987. At that time the plaintiff was
married to Paul Kolacek, although separated from her
husband. She was at that
time not in employment. At the commencement of the relationship the plaintiff's
assets consisted of a small
amount of savings, some jewellery, personal effects
and an entitlement to a property settlement in the Family Court of Australia.
That property settlement was ultimately effected between the plaintiff and her
former husband on 28 April 1989, and the plaintiff
received about $80,000. 
<P>

6   	During the course of the relationship the plaintiff was
employed for most of the year 1987 at Colourcare Laboratory at Rose
Bay (in a
capacity which was not disclosed in the evidence). Thereafter, the plaintiff
was not in full-time employment, but was in
receipt of a part-pension. 
<P>

7   	The defendant also was born in Czechoslovakia (as it then
was), on 25 November 1939. He arrived in Australia in 1968. The defendant
also
had been married before his relationship with the plaintiff. He had married
Alexandra (now Mrs Vesely) in Czechoslovakia in
1965. In 1989, after they had
been separated for eight years, they divorced. Mrs Vesely swore an affidavit in
the present proceedings,
which was filed on behalf of the defendant. 
<P>

8   	It ultimately emerged, from the evidence on Mrs Vesely,
that (despite the assertion of the plaintiff) there was no property
settlement
between the defendant and his former wife in the Family Court of Australia.
However, upon the sale of the Woollahra unit
in July 1992, for $155,000, Mrs
Vesely by agreement between herself and the defendant, received about $79,000
and the defendant received
the balance (which would have consisted of about
$76,000, less commission and associated costs relating to the sale). 
<P>

9   	The evidence was far from precise concerning the assets and
liabilities of the defendant at the commencement of the relationship.
It was
asserted by the plaintiff in the statement of claim (paragraph 10) that at the
commencement of the relationship the defendant
"owned or had an interest in the
following:
<P>

"A 50 percent interest in a property at Dalgety (jointly with his former
wife)
<P>

A 50 percent interest in a property at Jindabyne (jointly with his former
wife)
<P>

A 50 percent interest in a flat at Woollahra, Sydney (jointly with his former
wife --- subject to a mortgage)".
<P>

10   	The foregoing statement (like almost the entirety of the
statement in the statement of claim) was denied by paragraph 2 of
the defence.
In paragraph 9(d) of her affidavit sworn on July 1996 the plaintiff repeated
her foregoing assertion in the statement
of claim, by saying that the defendant
"held with his former wife a 50 percent interest in property at Dalgety,
Jindabyne and Woollahra".
The defendant in his affidavit of 10 September 1996
did not address the matter of his assets and liabilities at the time of the
commencement
of the relationship.
<P>

11   	It eventually emerged that the property referred to by the
plaintiff as being situate at Dalgety was a rural estate known
as Unreachable,
located at Snowy River Goldfields, to which I shall make further reference. 
<P>

12   	The property at Jindabyne (the location whereof was not
disclosed with any greater degree of particularity than that it was
situate at
East Jindabyne) consisted of a block of vacant land. Although the defendant did
not proffer any evidence concerning that
land, it emerged from the evidence of
his former wife, Mr Vesely, that that land had been owned conjointly by the
defendant and Mrs
Vesely and by a Mr Ruzek and his wife. 
<P>

13   	The land was sold in about 1989. On the settlement of that
sale Mrs Vesely received about $26,800. By arrangement between
her and the
defendant, the defendant did not receive any part of the proceeds of the sale
of that land. Apparently, it was agreed
between Mrs Vesely and the defendant
that in return for her receiving the entirety of the proceeds of the interest
of herself and
the defendant in the Jindabyne land, she would ultimately leave
to the defendant all paintings and antiques and furniture and other
contents in
the apartment at Wallace Street, Woollahra. There was some evidence given by
Mrs Vesely concerning details of those paintings
(which come to the defendant
from his mother in Czechoslovakia) and concerning various other <i>objets
d'art</i>, and other items of an antique nature. 
<P>

14   	The property at Woollahra consisted of a home unit situate
at and known as Unit 12, 100 Wallis Street, Woollahra. I shall,
in due course,
make further reference to the Woollahra property.
<P>

15   	It would appear that the defendant had various liabilities
at the time of the commencement of the relationship, and throughout
the period
of the relationship. However, the nature and details of those liabilities were
not revealed with any clarity, let alone
precision.
<P>

16   	However, it did emerge that the defendant owed to Mr Peter
Pokorny (a former business associate, to whom reference will shortly
be made)
sums of $7,500 (which was repaid in 1989) and about $24,000 (the former of
those sums being in respect to a personal indebtedness,
and the latter in
respect to a business liability).
<P>

17   	The evidence of the defendant did not address itself
specifically to the details of his income throughout the period of his
relationship with the plaintiff. However, under cross-examination, the
defendant said that in the period from the commencement of
the relationship
until suffered a heart attack in August 1992 he did some work servicing motor
vehicles for former clients, for whom
he had been doing such work for many
years, and that throughout that period his income was in the range of about
$100 to about $150
a week. He did not throughout the relevant period (from the
commencement of the relationship until its undoubted termination) file
a tax
return, because his income was less than the statutory minimum. After he
suffered his heart attack the defendant commenced
to receive a disability
support pension. 
<P>

18   	As I understood it, it was the assertion of the defendant
that during the period of the relationship and for some time thereafter
he was
subsisting upon the small income which he received from servicing motor
vehicles (and after his heart attack from his disability
support pension, the
amount of which was not expressly stated), and that he supplemented that meagre
income by selling various chattels
and, as I understand it, by having resort to
such funds as the insurance payment on the Lamborghini motor vehicle, and his
interest
in the proceeds of sale of the Wallis Street home unit. In addition,
the defendant said that in about 1990 he borrowed about $20,000
from the
NRMA.
<P>

19   	Although the defendant was far from precise concerning his
financial and material circumstances, his assets and liabilities
at the time of
the commencement of the relationship, it emerged from the evidence of the
plaintiff under cross-examination that at
the commencement of the relationship
the defendant held in a bank account the sum of about $19,000 which he had
received by way of
a workers compensation payment in respect of an accident
which he had suffered whilst working for City Motors. That amount appears
to
have been expended upon maintaining the lifestyle of the plaintiff and the
defendant during the course of their relationship.
<P>

20   	In June 1988 it would appear that the defendant borrowed
$35,000 from one Jan Hochman. At least part of that sum was to be
used towards
the subdivision of the rural estate Unreachable. It would appear that that
amount was repaid by the defendant out of
the proceeds of sale of the
subdivided lots of that estate. The arrangements between the defendant and Mr
Hochman were set forth
in a document dated 20 June 1988 (Exhibit 2).
<P>

21   	The following year the defendant entered into a further
agreement concerning the subdivision of Unreachable with a Mr Stanislav
Petrzilka, details of which were set forth in a document dated 30 June 1989
(Exhibit 3). Also in 1989 the defendant appears to have
borrowed from one Z. D.
Bursak the sum of $8,200 (Exhibit 7). I gather that the indebtedness of the
defendant in respect to each
of those three loans was ultimately repaid. 
<P>

22   	Sometime before the commencement of the relationship the
defendant had conducted a business known as City Motors, firstly
in partnership
with one Peter Pokorny; later that business was conducted through a company, of
which the defendant and Mr Pokorny
were the sole shareholders and directors.

<P>

23   	In about 1969 (although some of the evidence gives the
year as 1979) the defendant and Mr Pokorny (together with their respective
wives) had acquired a rural estate known as Unreachable, located at Snowy River
Goldfields near Dalgety in the Snowy River district.
It is part of that
property (which was subsequently subdivided) which constitutes the only
substantial asset presently held by the
defendant. The parties were in
agreement that the present value of that property is $100,000 (that being the
value ascribed to it
in the valuation of John Mooney &amp; Co. (Exhibit A)).
<P>

24   	In addition to the various items of real property in which
he had a half interest, the defendant also at the commencement
of the
relationship owned a number of chattels, details of which were not disclosed to
the Court either in the defence or in the
various affidavits filed by or on
behalf of the defendant, or, indeed, until the latter part of the oral evidence
given by the defendant
at the trial. A handwritten list of chattels asserted by
the defendant to be owned by him was (over the objection of the plaintiff)
admitted into evidence, as Exhibit 9. 
<P>

25   	It should here be recorded that the defence consisted of a
general denial of the entirety of the substance of the statement
of claim and
(in paragraph 3 of the defence) a statement that "The defendant relies on his
affidavit in support sworn on 10 September
1996". Such a statement in a defence
is clearly embarrassing. Even the present system of pleadings, contemplated by
Part 15 of the
Supreme Court Rules, does not allow such a statement to be made
in a pleading (see, for example, Part 15 rule 7). Nevertheless, the
plaintiff
did not seek to strike out either that paragraph in the defence, or, indeed,
the entirety of the defence. 
<P>

26   	The defence was verified by affidavit sworn by the
defendant on 10 December 1996. It is more than strange that the defendant
was
allowed to swear such an affidavit verifying his denial (contained in paragraph
2 of the defence) of such matters as the assertion
by the plaintiff in the
statement of claim that there was no child of the relationship (paragraph 4 of
the statement of claim), that
the defendant has two children of a former de
facto relationship (paragraph 6), that the plaintiff was born on 2 March 1947
in Czechoslovakia
and arrived in Australia on 2 October 1969 (paragraph 7),
that the defendant was born on 25 November 1939 in Czechoslovakia and arrived
in Australia in about 1968 (paragraph 8), that at the date of the commencement
of the relationship the plaintiff was separated from
but still married to Paul
Kolacek, and that the plaintiff became divorced from Paul Kolacek on 28 April
1989 and received in 1988
$80,000 by way of property settlement arising from
her marriage (paragraph 13), that at the date of the commencement of the
relationship
the defendant was separated from but still married to Alexandra
Brezina, that the defendant became divorced from Alexander Brezina
in or about
1991 - 1992 and received about $50,000 by way of property settlement arising
from his marriage (paragraph 14), that at
the date of commencement of the
relationship the plaintiff was unemployed (paragraph 15), that the defendant
did not work during
the course of the relationship and was unemployed at the
date of commencement of the relationship (paragraph 16). There was no dispute
as to any of those matters, yet the defendant on his oath denied them.
<P>

27   	During the course of the relationship the parties
conducted two joint accounts with the State Building Society (opened in
March
1988 and April 1988 respectively) and two joint accounts with the St. George
Bank (said by the plaintiff to have been opened
in May 1989, but apparently
opened before that time). According to the plaintiff she deposited into those
accounts the amount of
$80,000 which she had received by way of property
settlement from her ex-husband. According to the defendant, during the period
of
fifteen months from the time when he first met the plaintiff (which he
asserts to have been, I gather, in late 1986), he deposited
at least $70,000
into those joint accounts. It was the assertion of the defendant that
throughout the undisputed period of the relationship
--- that is, from April
1987 until January 1989, the parties spent a considerable amount in maintaining
a lifestyle of high (not
to say extravagant) standard, they ate at expensive
restaurants, they purchased various antiques, the defendant purchased a
Lamborghini
motor car. 
<P>

28   	According to the defendant (and the evidence would appear
to support this assertion) the defendant maintained a good and harmonious
relationship with his former wife, both up to the time of his divorce and
thereafter. Indeed, it the suggestion of the defendant
that the plaintiff
should purchase the interest of Mrs Vesely in the home unit at Wallis Street,
Woollahra. 
<P>

29   	It would appear that Mrs Vesely was no longer residing in
the Woollahra premises when in early 1987 the plaintiff and defendant
commenced
cohabitation therein.
<P>

30   	On a visit by Mrs Vesely to the plaintiff and the
defendant in the Woollahra apartment in June 1988 the plaintiff offered
to
purchase for $50,000 Mrs Vesely's half interest in that property. 
<P>

31   	Mrs Vesely was agreeable, at least in principle, to that
proposal, although it would appear that she considered that the apartment
had a
higher value than that reflected in the plaintiff's offer. The parties and Mrs
Vesely consulted a solicitor shortly thereafter.
In that solicitor's office the
plaintiff gave to the solicitor a cheque for $10,000 representing the deposit
on the Woollahra property.
At the same time the defendant said to Mrs Vesely,
"Can we borrow this money, $10,000 back from you, because we are a little bit
short of money." According to Mrs Vesely, the plaintiff then said, "Don't
worry. I will soon get more money from my ex-husband, Paul
Kolacek, and we will
pay you back the whole amount."
<P>

32   	However, after her return from overseas Mrs Vesely
indicated to the plaintiff's solicitor that she did not intend to proceed
with
the sale to the plaintiff of her interest in the Woollahra unit. She told the
plaintiff that she had received a bill from her
solicitor, and that she was not
going to pay any costs for the sale to the plaintiff, and that she would not go
ahead with that sale.

<P>

33   	According to the defendant, he continued to reside in the
Woollahra unit until it was sold at the beginning of 1992. 
<P>

34   	Throughout the period from the commencement of the
relationship until the sale of the Woollahra premises the plaintiff and
the
defendant frequently visited the property Unreachable. According to the
plaintiff, upon the sale of the Woollahra apartment in
1992 the parties removed
to Unreachable on a permanent basis together
<P>

35   	I have already recorded that Unreachable was purchased in
1969 by the defendant and his then wife, and Peter Pokorny and his
wife.
<P>

36   	Mrs Vesely gave evidence (both by affidavit and under
cross-examination) concerning her subsequent contact with the plaintiff
and the
defendant, especially visits by her to the property Unreachable in the period
after December 1991. 
<P>

37   	On 8 June 1988 the plaintiff deposited into one of the
joint bank accounts amounts of $24,000 and $6,000 (totalling $30,000).
Shortly
thereafter, on 21 June 1988, an amount of $7,500 was paid from that joint
account to Mr Pokorny to enable the defendant to
purchase (for $35,000) the
half interest in Unreachable then held by Mr Pokorny. On 28 June 1988 an amount
of $2,168.65 was paid
from that joint account, in order to discharge a mortgage
of the defendant, and an amount of $117 was paid on account of the costs
of the
defendant's solicitors for that purpose. 
<P>

38   	On 10 July 1988 the plaintiff paid $10,000 to the
defendant's former wife. Shortly thereafter, on 15 July 1988, the plaintiff
deposited into the joint bank account cheques for $15,000 and $35,000
(totalling $50,000). That is, in the period from 8 June to
15 July 1988 the
plaintiff deposited a total of $80,000 into the joint accounts, that total sum
representing the entirety of the
amount which she received by way of property
settlement from her former husband. 
<P>

39   	From the joint accounts the defendant shortly thereafter
withdrew an amount of $1,000, which he gave to his former wife, then
about to
depart on a trip to Europe, to use for spending money. A week later the
defendant deposited into the joint account an amount
of $19,270.36, being the
proceeds of an insurance payment which the defendant had received in respect of
the Lamborghini motor car
(which apparently had been damaged in an accident).
From those proceeds of the insurance payment the defendant on 6 August 1988
purchased
a bulldozer for $3,150, and repaid a loan of $16,000 which he had
earlier obtained from one L. Ensor for the purchase of the Lamborghini
motor
vehicle. 
<P>

40   	According to the plaintiff, on 22 December 1988 she paid
an amount of $2,373.09 to the National Australia Bank, in reduction
of a credit
card debt of the defendant which had accrued before the commencement of the de
facto relationship between the parties.

<P>

41   	I have already referred to the rural estate situate at the
Snowy Mountains Goldfields and known as Unreachable. In early 1990
the
defendant subdivided that property into four lots. Three of those lots he sold
for a total of $110,000. He retained the fourth
lot, which has continued to be
known as Unreachable. Upon that remaining lot stood a residence. Photographs of
that residence (described,
it would seem with accuracy, as a hut) were admitted
into evidence (part of Exhibit A, Exhibit 4 and 5). In 1991 the construction
of
extensions to that residence commenced (albeit, it would appear, without any
required approval from the appropriate Local Government
authority). 
<P>

42   	I have already recorded that it was the case for the
defendant that the de facto relationship ceased in January 1989. At that
time,
however, the plaintiff moved to Unreachable, where she resided, firstly, in the
hut on that property. Upon the sale of the
Woollahra unit the defendant
relocated his residence from Sydney to Unreachable. According to him the
plaintiff thereupon moved herself
into a caravan standing upon that property. A
considerable quantity of evidence was devoted to the living (and, especially,
the sleeping)
arrangements of the parties during the period whilst they were
both residing on Unreachable. 
<P>

43   	On 3 August 1992 the defendant suffered a heart attack. He
was admitted to the Cooma Hospital on that date. The admission
form sets forth
the name of the plaintiff (described thereon as "friend") under the heading
"Person for notification". Her address
is shown on that form as Lot 44 Mutton
Road, Dalgety. It was not in dispute that the plaintiff visited the defendant
regularly (she
asserted daily) during the period of eight days whilst he was in
hospital. Although at first denied by the defendant, it was the
assertion of
the plaintiff that upon his discharge on 11 August 1992 the plaintiff
accompanied the defendant from the hospital.
<P>

44   	The plaintiff was cross-examined concerning her present
living arrangements in what was described as "rented accommodation"
at 18 Tumut
Street, Cooma. That property is owned by one Guy Proesser, who also lives in
what the plaintiff described as "the other
flat" in the house. The plaintiff
moved into that residence in 1994. The plaintiff denied that she was in a de
facto relationship
with Mr Proesser, although she agreed that she had what she
referred to as "occasional sex" with him.
<P>

45   	As I understood it, the significance attributed by the
defendant to the plaintiff's relationship with Mr Proesser appeared
to be a
suggestion that the plaintiff had been having some form of relationship with Mr
Proesser (who has been introduced to her
by the defendant, when he had come to
visit the defendant at Unreachable) during at least part of the period whilst
the plaintiff
was residing at Unreachable and during which she now asserts that
the de facto relationship with the defendant was still in existence.
In
addition, the defendant relies upon the plaintiff's evidence on this topic as
going to her credit and to the reliance which the
Court should place upon the
evidence of the plaintiff where her evidence is in conflict with that of the
defendant. 
<P>

46   	It is appropriate that I should here express my views
concerning the credit of each of the parties. I was not favourably impressed
by
either the plaintiff or the defendant. I would be reluctant to accept the
evidence of either of those persons where such evidence
was not supported by
other evidence (especially by documentary evidence or evidence of an objective
nature) in relation to any matter
in issue between the parties.
<P>

47   	It will be appreciated that, since it is the plaintiff who
is making the present claim and since there is no cross-claim brought
by the
defendant, it for the plaintiff to establish her case upon the evidence placed
by her before the Court. Where, as here, that
evidence essentially is the
evidence of the plaintiff herself, I am not prepared to accept the
uncorroborated oral assertions of
the plaintiff where they are disputed by the
defendant, either by his own evidence or by the evidence of any of the other
witnesses.

<P>

48   	In particular, I was most unfavourably impressed by the
evidence given by the plaintiff concerning the nature and character
of her
domestic arrangements with Mr Proesser in the residence at Tumut Street, Cooma.
I consider that she was being deliberately
evasive (if not intentionally
untruthful) in that regard. This plaintiff's evidence concerning the change of
her address (a matter
to which I shall later return) not only reflected poorly
upon her credit, but was also inconsistent with the case she was asserting.
<P>

49   	It was asserted by the plaintiff that she gave
considerable help and assistance to the defendant in the renovation and
reconstruction
of the residence upon Unreachable, and in the general
improvement, care and maintenance of that property. In her affidavit evidence
she said that she attended to the following matters: spraying of weeds,
planting of trees, clearing of building site and collecting
rocks, levelling of
the site, cleaning of timbers, mixing of mortar, repairing of fences, repairing
of roads, renovating and refurbishment
of the property, including the
establishment of an irrigation system and the construction of a dam. However,
under cross-examination
the plaintiff conceded that, on account of a physical
disability, she was not able to perform heavy work.
<P>

50   	In addition, it was the assertion of the plaintiff that
throughout the period of the relationship she undertook the major
part of the
household duties for herself and the defendant, including: washing, cleaning,
cooking, ironing, dusting, shopping, preparation
of all meals, cutting and
loading of firewood; skinning, cleaning, gutting of kangaroos, rabbits and
goats (such activities being
asserted to be for the purpose of preparation of
meals); nursing and care of the defendant following his heart attack in 1992,
including
the performance of all chores during the convalescence of the
defendant.
<P>

51   	The nature and extent of the domestic and household
activities alleged by the plaintiff, and the reconstruction, renovation
and
restoration work upon the property alleged by her were disputed by the
defendant. 
<P>

52   	I am prepared to accept that the major part of the
household and domestic activities was performed by the plaintiff, and that
she
had the primary role as homemaker However, I am not prepared to accept, unless
it be supported by other evidence, the disputed
extent of the contribution made
by the plaintiff to the improvement of Unreachable.
<P>

53   	The evidence of the defendant concerning the circumstances
in which the parties removed from Sydney to Unreachable was very
different from
that of the plaintiff. According to the defendant, by January 1989 the
relationship had deteriorated and the parties
were no longer living as de facto
partners. The defendant said that by that time the plaintiff had moved to
Unreachable, whilst the
defendant continued to reside in Sydney. The reason for
that relocation by the plaintiff was, according to the defendant, that the
plaintiff did not appear to have anywhere to go, and since Unreachable was not
being occupied, except for visits by the defendant,
the defendant considered
that there would be no harm in allowing the plaintiff to reside there "until
she re-established herself".

<P>

54   	In this regard it will be recalled that it was the case
for plaintiff that she remained in residence with the defendant (and
in a de
facto relationship with him) in the Woollahra apartment until the sale of that
property in 1992, when she and the defendant
together removed to Unreachable,
still in a de facto relationship. 
<P>

55   	According to the defendant, he and the plaintiff remained
friends, just as he and his former wife, Mrs Vesely, have remained
friends. The
defendant denied any sexual activity with the plaintiff after January 1989.
<P>

56   	The plaintiff in her evidence conceded that there was no
sexual relationship between the parties after the defendant suffered
his heart
attack in August 1992. According to the plaintiff the reason was that, on
account of his medical condition, the defendant
had become impotent. The
plaintiff asserted that she continued to sleep in the hut with the defendant
until his heart attack, and
that it was only after he returned home in
mid-August 1992 that she "moved into the spare room", because the defendant
watched television
until early hours of the morning and disturbed her when he
came to bed. Since he slept late, whilst she rose early, she said that
she then
would disturb the defendant when she got up.
<P>

57   	The foregoing assertion took on a somewhat different
complexion when it was conceded by the plaintiff that there was, in fact,
no
"spare room" in the hut at the time, and that the plaintiff was sleeping in
what could be described as a corner of the principal
living area. 
<P>

58   	The plaintiff also conceded that she eventually moved into
a caravan on the property. However, she asserted that that move
occurred only
in 1993, following her return to the property after a brief holiday. She also
said that the caravan "adjoined the cabin",
and that, although residing in the
caravan, she still continued to do all the domestic chores in the house.
<P>

59   	There does not appear to be any adequate explanation for
the removal of the plaintiff into the caravan on the property which
is
consistent with a continuation of the de facto relationship between the
parties. I am not satisfied that it is possible to conclude
that the de facto
relationship (even if, contrary to the assertion of the defendant, it had
subsisted to that point) continued after
the plaintiff moved into the
caravan.
<P>

60   	In <i>Roy v Sturgeon</i> (1986) DFC 95,031, Powell J (as
he then was) referred to the various aspects of a couple's relationship which
led to a finding that
the man and woman were living together as husband and
wife on a <i>bona fide</i> domestic basis. His Honour found that those aspects
"vary from case to case" and continued, 
<P>

[I]t seems to me that each case will involve the court making the value
judgment having regard to a variety of factors relating
to the particular
relationship, those factors including, but not being limited to, the following:
(1) the duration of the relationship;
(2) the nature and extent of the common
residence; (3) whether or not a sexual relationship existed; (4) the degree of
financial
interdependence, and any arrangements for support between or by the
parties; (5) the ownership, use and acquisition of property;
(6) the
procreation of children; (7) the care and support of children; (8) the
performance of household duties; (9) the degree of
mutual commitment and mutual
support; and (10) reputation and "public" aspects of the relationship.
<P>

61   	It will be appreciated that a number of the foregoing
elements are not present in the instant case, for example, those relating
to
the procreation and the care and support of children. 
<P>

62   	During the time whilst the parties resided together at
Woollahra (there being an undoubted de facto relationship in existence
throughout that period) a number of the foregoing elements existed, but some
ceased to exist when the parties removed to Unreachable.
The elements which
existed whilst at Woollahra but did not exist at Unreachable were financial
interdependence, a sexual relationship
(at least after August 1992),
performance of household duties for the defendant.
<P>

63   	In determining the period of the de facto relationship, I
attach considerable significance to the date when the plaintiff
departed from
the Woollahra home unit and moved to Unreachable. It will be recalled that the
plaintiff asserted that she remained
with the defendant at Woollahra in a de
facto relationship until the sale of that apartment in early 1992 when she and
the defendant
relocated to Unreachable. The evidence of the defendant was that
the plaintiff departed from the Woollahra premises some three years
earlier, in
January 1989, and that the defendant continued to remain in Woollahra living on
his own until the sale of that property
in early 1992. 
<P>

64   	If the version given by the plaintiff is correct, then it
is possible that the de facto relationship continued at least until
the parties
relocated to Unreachable in early 1992, and probably for some time thereafter.
If, however, the version given by the
defendant is correct, and that for a
period of three years he continued to reside at Woollahra (paying occasional
visits to Unreachable),
whilst the plaintiff was residing at Unreachable, then
I am satisfied that the de facto relationship between the parties came to
an
end when they ceased residing full-time in a common residence.
<P>

65   	I have already observed that the evidence of each of the
parties is far from precise concerning the time when and the circumstances
surrounding the removal by the plaintiff from Woollahra to Unreachable. I have
already recorded my views concerning the unsatisfactory
nature of unsupported
and uncorroborated oral testimony given by each of the parties. 
<P>

66   	In regard to the time when the plaintiff relocated to
Unreachable there is, however, some independent evidence available.
That
evidence relates to the changing by the plaintiff of her address from Unit 12,
100 Wallace Street, Woollahra, to Unreachable
in December 1988 and January 1989
with the Roads and Traffic Authority, and in 1988 with a pistol club of which
she was a member,
and with all other entities with whom she maintained a
mailing address.
<P>

67   	I regarded the attempted explanation by the plaintiff
concerning those changes of address ("because Vic advised me to do that",
"that
was Vic's advice") as being entirely unsatisfactory. The plaintiff attempted to
explain this conduct on her part (which, in
the context of her assertion that
she remained at Woollahra until early 1992, constituted the giving of false
information to the
persons and entities to whom she notified her change of
address) by acknowledging that the information was untrue, "but we were there
[at Unreachable] most of the time anyway". That response is inconsistent with
the assertion made by her in her affidavit and oral
evidence that she remained
in residence at Woollahra until early 1992. 
<P>

68   	I have already observed that it is for the plaintiff to
establish her claim.
<P>

69   	I am not satisfied that the parties resided together after
January 1989. From then until early 1992 the defendant resided
in Woollahra. I
am satisfied that throughout that period the plaintiff resided at Unreachable.
Occasional visits at weekends by the
defendant (if such visits occurred) would
not in my view be sufficient to constitute a continuation throughout that
period of any
de facto relationship between the parties which had obtained
until the removal by the plaintiff to Unreachable in January 1989. 
<P>

70   	It follows, therefore, that I am not satisfied that the
plaintiff has established that the de facto relationship existed after
January
1989. 
<P>

71   	That being so, it follows that, since the relationship
obtained for a period of less than two years, the Court is precluded
from
granting the relief sought by the plaintiff in the present proceedings, unless
the plaintiff can establish that the exceptions
set forth in subsection (2) of
section 17 of the Act have application to the circumstances of the instant
case. The only such exception
relevant to the present proceedings is that
contained in subsection (2)(b)(i) of that section, 
<P>

that the applicant ----
<P>

(i)	has made substantial contributions of the kind referred to in section
20(1)(a) or (b) for which the applicant would otherwise
not be adequately
compensated if the order were not made.
<P>

72   	For reasons which will shortly appear, I am not satisfied
that the plaintiff has established that she is entitled to avail
herself of the
provisions of the foregoing exception. My conclusion that the relationship
obtained for a period of less than two
years has the consequence, therefore,
that the present claim of the plaintiff must be dismissed. 
<P>

73   	If however, I am wrong in that conclusion, and if the
plaintiff be considered to have established that the de facto relationship
continued until the parties moved to Unreachable, or for some time thereafter,
then it is appropriate that I should refer to the
substantive merits of the
plaintiff's claim (which merits are also, it will be appreciated, relevant to
the question of whether the
plaintiff can avail herself of the foregoing
exception provided by section 17(2)(a)(i)).
<P>

74   	Even if the de facto relationship continued after the
parties moved to Unreachable, it certainly came to an end no later than
July
1993 (when the plaintiff moved into the caravan), and probably in August 1992
(after the defendant returned to Unreachable following
his heart attack).
<P>

75   	I considered the evidence given by the defendant
concerning the circumstances in which he had nominated the plaintiff as the
person to be notified when he was admitted into hospital in August 1992, the
circumstances relating to his departure from hospital
with the plaintiff some
eight days later, and the constant and frequent visits by the plaintiff to him
whilst he was in hospital
to have been clearly evasive, if not deliberately
untruthful. 
<P>

76   	In assessing the credibility to be given to the evidence
of the defendant, it must also be appreciated that he was far from
frank
concerning the various chattels which were owned by him either at the
commencement of the relationship or at the termination
of the relationship, and
that the existence of those chattels (and the respective values to be ascribed
thereto) was revealed by
the defendant only in the closing stages of the
hearing.
<P>

77   	However, if the relationship had terminated by July 1993
(the latest date by which in my conclusion, it is possible it could
have
terminated), then the present proceedings, which were instituted by the filing
of the Statement of Claim on 31 January 1996,
were not instituted within a
period of two years after the parties ceased to live together (as required by
section 18 of the Act).
<P>

78   	It is of significance that throughout the period of the
relationship (whatever be that period) the parties resided conjointly
in
properties each of which was brought into the relationship by the defendant.
The plaintiff paid no rent or occupation fee for
residing in either of those
properties. 
<P>

79   	I am satisfied that the plaintiff contributed $80,000 to
the conjoint household consisting of herself and the defendants.
Further, that
she made non-financial contributions to that household, by the performance of
the major part of the household activities,
and by the performance of some (but
considerably less than asserted by her) activities for the improvement of
Unreachable. 
<P>

80   	By the same token, it must be appreciated that for the
period of almost two years whilst they were residing together in the
Woollahra
unit the plaintiff had the benefit of living rent free. For more than half of
that period the plaintiff was not in employment,
and she was largely dependent
upon the income of the defendant. 
<P>

81   	The plaintiff whilst with the defendant also had the
benefit of a very high standard of living and expensive lifestyle, at
least
whilst they were residing at Woollahra. 
<P>

82   	The defendant contributed to the joint bank accounts of
the parties amounts totalling about $75,000. He also had the major
responsibility for the upkeep of the parties, not only whilst they were
residing at Woollahra, but also whilst they were residing
at Unreachable.
Throughout the period at Unreachable the plaintiff, once again, was living free
of charge and at the expense of the
defendant. The plaintiff by her statement
of claim originally sought an order that the defendant pay to her the sum of
$200,000.
She subsequently reduced her claim to $170,000. At the conclusion of
the hearing the amount she was seeking had diminished to $80,000.
<P>

83   	The respective direct financial contributions of the
parties to the relationship were more or less equal. The non-financial
contributions of the defendant to the improvement of Unreachable far exceeded
those of the plaintiff. The contributions by the plaintiff
as homemaker were
more than offset by the contributions of the defendant, firstly, in providing
the residences at Woollahra and at
Unreachable, and, secondly, in providing the
wherewithal to maintain the high lifestyle which the parties enjoyed at least
whilst
they were living together at Woollahra. His income, the proceeds of his
insurance claim, his workers compensation payment were all
used for the living
and household expenses of the parties.
<P>

84   	I have reached the conclusion, therefore, that, upon the
substantive merits of her claim, the plaintiff has not established
any
entitlement any order of the nature sought in the proceedings to adjust the
interests of the parties with respect to property.
My foregoing view concerning
the respective contributions of the parties is also sufficient to determine the
entitlement of the plaintiff
to avail herself of the exception contained in
section 17(2)(i). She has not established such an entitlement.
<P>

85   	It follows, therefore, that, firstly, in consequence of
section 17(1) of the Act, and, secondly, upon its substantive merits,
the
proceedings must be dismissed. 
<P>

86   	I have already adverted to the fact that the proceedings
were not instituted within a period of two years from the time when
the parties
ceased to live together, (which upon my conclusion was in January 1989, but ---
even contrary to that conclusion ---
was no later than December 1993). In those
circumstances, therefore, unless the Court is satisfied of the matters set
forth in subsection
(2) of section 18, the Court is precluded from making an
order in favour of the plaintiff. 
<P>

87   	Since I have already expressed my conclusion that the
proceedings must be dismissed, it is unnecessary for me to consider
further the
question of the failure of the plaintiff to institute the proceedings within
the foregoing limitation period. If, however,
it had been necessary for me to
consider that question, it would be necessary for me to refer to the evidence
placed before the Court
concerning the present financial and material
circumstances of the plaintiff. I would not have been satisfied (were it
necessary
for me to express a conclusion in this regard) that greater hardship
would be caused to the plaintiff if leave were not granted to
her to bring the
present application after the expiration of the period prescribed subsection
(1) of section 18, than would be caused
to the defendant if leave were granted.
Essentially my reason for that conclusion is that if (contrary to all the
foregoing conclusions
which I have herein expressed) the plaintiff had
otherwise established an entitlement to relief under section 20 of the Act, the
effect of any order which might be made in her favour would have been (on
account of the present financial and material circumstances
of the defendant)
to dispossess the defendant of his home on Unreachable, in circumstances where
he is in ill health, unable to work,
and dependent upon a disability pension.

<P>

88   	Accordingly, I make the following orders:
<P>

1.	I order that the suit be dismissed.
<P>

2. 	I order that the plaintiff pay the costs of the defendant.
<P>

<center><b><i>**********</i></b></center>
<P>


<P>

LAST UPDATED: 	11/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/578.html</i><br>
</p>
</small>
</body>
</html>
