<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Regina v Carroll [1999] NSWSC 825 (12 August 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 825</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+825 or 1999+NSWSC+825">Noteup</a>]
[<a href="825.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Regina v Carroll [1999] NSWSC 825 (12 August 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_825.html-->
<!--sino date 12 August 1999-->


<P>Last Updated: 17 August 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	REGINA v. CARROLL  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/825.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 825</a>
<P>

CURRENT JURISDICTION: 	Criminal
<P>

FILE NUMBER(S): 	70217 of 1997
<P>

HEARING DATE{S): 	9.8.99;  10.8.99;  11.8.99;  12.8.99
<P>

JUDGMENT DATE: 	12/08/1999
<P>

 PARTIES: 
<P>

REGINA v.
<P>

CARROLL, Phillip Paul
<P>

JUDGMENT OF: 	Greg James J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Crown:  P. Hock
<P>

Prisoner:  W. Warwick
<P>

SOLICITORS: 
<P>

Crown:  Director of Public Prosecutions 
<P>

Prisoner:  Ramsland &amp; Associates
<P>

CATCHWORDS: 
<P>

Conceal serious offence - sentence - plea of guilty - assistance offered -
lengthy delay in charging - plea and assistance timely
- subjective
circumstances - recognisance imposed.
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/" class="autolink_findacts">Crimes Act 1900</a> - <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/s316.html" class="autolink_findacts">ss.316</a>, 439, 442B, 558
<P>

DECISION: 
<P>

Sentence deferred on recognisance
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

CRIMINAL DIVISION
<P>

No. 70217 of 1997
<P>

GREG JAMES, J.
<P>

THURSDAY 12 AUGUST 1999
<P>

<center><b>REGINA v. PHILLIP PAUL CARROLL</b>
<P>

<b>SENTENCE</b></center>
<P>


<P>

1  	HIS HONOUR:   Phillip Paul Carroll yesterday pleaded guilty
before me to one count that on 18 and 19 December 1996 at Sydney
in the State
of New South Wales, knowing that Lee Dean Carroll had committed the offence of
murder, and having information which
might be of material assistance in
securing the apprehension of Lee Dean Carroll, he failed without reasonable
excuse to bring that
information to the attention of a member of the Police
Service.  He had the previous day pleaded guilty to an indictment charging
a
count to that effect but charging it defectively.  He was re-arraigned as a
consequence of that.  The plea is to an offence under
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/s316.html" class="autolink_findacts">s.316</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/" class="autolink_findacts">Crimes Act</a>
which is punishable by a maximum of two years imprisonment.
<P>

2  	He was arrested with his uncle, Lee Dean Carroll, on 19 December
1996 following circumstances which were set out in the statement
of facts which
have been tendered in these proceedings and marked Exhibit A.
<P>

3  	In summary he had travelled with his uncle to a brothel at
Kingswood.  It is accepted, in the proceedings against Phillip Paul
Carroll, by
the Crown that he was unaware that his uncle carried with him to those
premises, in a bag, a gun.  He saw his uncle walk
into the premises and a short
time later heard a loud bang and saw a male previously unknown to him stagger
out the door apparently
wounded and bleeding.  Thereafter his uncle ran back
down the stairs and passed the prisoner and he, at his uncle's direction, drove
his uncle away from the premises.  Some time later whilst in the van, his uncle
admitted to him that he had shot the victim asserting
that he had done so as
the victim had attempted to "jump me".  He saw that his uncle was in possession
of a shortened pump action
shotgun carried in the green bag.  Later still he
became aware that the man shot by his uncle had died.  The following day he was
arrested.
<P>

4  	He has set out the circumstances of these events in a statement,
Exhibit B in the present proceedings, dated 10 August 1999
in which he has
recited his and his uncle's involvement in the killing and subsequent events.
That statement is prepared in the familiar
form of a statement under the
<a href="http://www.austlii.edu.au/au/legis/nt/consol_act/ja119/" class="autolink_findacts">Justices Act</a> embodying the evidence that the prisoner would, if called, give,
and rendering the prisoner liable to the sanction that if it contains
material
wilfully stated to be true which is not so true, he becomes liable to
prosecution.  He has given evidence before me that
the statement is true and
correct.
<P>

5  	In the statement, having recited in detail the events preceding
the killing, he has turned to his awareness of what had happened,
at paragraphs
10 and onwards.  It is clear that from his viewpoint he had become involved in
an unexpected event, the nature of which
only gradually became clear to him,
and that the events that moved from that point moved with some speed such that
he felt unable
to detach himself from what was occurring.  When he was told by
his uncle what the uncle had done he says:-
<P>

"I thought to myself 'fuck, what have I got myself into'.  It was like a
nightmare.  I wanted to go home and sleep.  I wanted to
wake up in the morning
and think this was just a bad dream."
<P>

6  	He was told of the shooting by the uncle subsequent to driving
the uncle to a relative's home where the uncle's attempts to
enter were
rejected and where the uncle had, in a flamboyant display, fired the gun again.
He went home thereafter and abandoned
the uncle.
<P>

7  	Another uncle approached him at home and there was apparently
some family altercation in the offing.  He was spoken to by Terry
Humphries and
it seems as though he, at that period of time sought to remain detached from
whatever was going on in the family.
<P>

8  	The following morning after there had been some family
discussion, it was pointed out to him that the death had occurred and
that the
uncle was in serious trouble.  Members of the family drove him to other
premises and then in due course he was supplied
with or obtained food and
camping gear.  He and his uncle hid but it was, in due course, a family
suggestion that they should surrender.
 In fact, coincidentally, they were
spotted by a police officer whilst walking down the road in the vicinity of a
cemetery and both
arrested.
<P>

9  	He was charged with murder.  His bail was refused for a period of
some three weeks during which he was in custody, firstly at
Long Bay and
secondly at Parklea.  He has given evidence before me that that custody had
achieved what criminologists have often
referred to as "a short sharp shock".
I have no doubt of the truth of his evidence that that short period in custody
terrified him,
and there is no need to refer to his Aboriginal descent as
supporting a basis for him being in such a state of fear.  He plainly,
personally, disclosed in his evidence that he was. He says he never wants to go
back to gaol. He says he never wants to come to court
again except as a
witness.
<P>

10  	He impressed me as a not unintelligent man who had realised his
position and who had determined, once the Crown were prepared
to deal with the
matter on an appropriate charge, to plead guilty and to assist the prosecution,
at the first reasonable opportunity.
 I say that, notwithstanding the fact that
he was committed for trial, because at the committal the learned magistrate did
not conclude
that he had complicity in the murder,  but did conclude that there
was sufficient evidence to warrant committal on a charge of accessory
after the
fact to the malicious infliction of grievous bodily harm by his uncle.  That
was on the basis that he knew the victim had
been wounded.  Subsequently, a
bill was found on the basis of a charge of accessory after the fact to murder
but that was in respect
of the period after he was given information that the
victim had died.
<P>

11  	On what I have been told so far about the strength of the case,
one cannot say that either charge of accessory after the fact
would necessarily
have succeeded at trial. Indeed, on what I have been told so far about
identification of the prisoner, on that
basis alone a jury may well find a
reasonable doubt, even if the identification had gone into evidence.  It is not
necessary however
to speculate as to these matters because the plea of guilty
is one to which I accept and which is made to the only charge now preferred.
 I
am required by s.439 of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/" class="autolink_findacts">Crimes Act</a> to have regard to it in considering
whether the sentence should accordingly be reduced and I do.
<P>

12  	I regard this plea, in the circumstances where the nature of the
Crown case against this prisoner was only finally ascertained
after a senior
Crown Prosecutor had been brought into the matter last week, and very shortly
before the matter was due for trial,
as timely.
<P>

13  	I am of the view that, in the circumstances, the fact of the
plea and the fact of the undertaking given by the prisoner in
evidence, to
which I am required to have regard under s.442B, to be of very great
significance.
<P>

14  	It is apparent from the prisoner's evidence that his failure to
provide the information was occasioned by reason of the events
moving at a pace
where he felt he had little control, and by the family circumstances which
removed from him much practical opportunity
to do that which the law
required.
<P>

15  	In those circumstances and having regard to the criteria in
s.442B(3), and in particular that the evidence he can give appears
to be
truthful, complete, reliable, and of considerable significance and usefulness,
it seems to me that this is a case in which
it is appropriate, notwithstanding
the seriousness of the principal crime charged against his uncle, which of
course is a matter
to be weighed on sentence of those who fail to report, not
to impose a custodial penalty.  The Crown does not contend otherwise.
<P>

16  	I have been provided with a report by an officer of the
Probation and Parole Service who had the advantage of having a transcript
of
the evidence given before me by the prisoner yesterday, a copy of the police
statement provided by Mr. Carroll, that is Exhibit
B, and the opportunity to
speak to Mr. Carroll's mother.
<P>

17  	That report discloses that Mr. Carroll is now aged 22 and
resides with his mother and younger sister.  He had lived in a close-knit
family group until the mother left the family home in 1994 and had thereafter
continued to reside with his father, brother and sisters.
 On the occasion of
the family break-up, the father's conduct altered dramatically from
disciplinarian to what appears to be that
of an alcoholic.  Mr. Carroll since
leaving school in Year 11 had sought and obtained employment firstly as a motor
mechanic apprentice,
and then in job after job.  Those jobs are not detailed in
that report, however the evidence shows they have included working with
Telstra
as a communications officer, Australia Post as a postal officer, undertaking a
course in that regard, and Campbelltown District
Co-operation working with
Aboriginal people to assist them to gain employment and experience.  He has
also worked as a gas fitter
for some 10 months and as an electricity
officer.
<P>

18  	It is clear from the report and from the other material in
evidence that the family became dysfunctional.  Mr. Carroll had
indicated to
the officer that he had attempted but failed to provide himself as a role model
for his younger siblings. He was seeking
to make up for the loss of the
parental guidance and assistance.  He lost the motivation to succeed and fell
under the influence
of some other members of the family including his uncle.
His statement is telling when he describes himself coming home from work,
to
work on his car while the other members of the family and their associates
proceeded to smoke marijuana in large quantities for
a very extensive period of
time.
<P>

19  	Mr. Carroll himself took up the use of marijuana.  He has now,
according to the report, rejected marijuana, rarely drinks alcohol
and avoids
former associates.  He wishes to complete his secondary education and receive
some formal qualification and wishes to
do so while obtaining employment.  He
has isolated himself from the family and from others in respect to the events
giving rise to
the charges.
<P>

20  	I am informed by the report that he has shown remorse and
concern for the victim. He suffers from nightmares occasioned by
triggered
memories of the victim's injuries and face as the victim rushed past him.  He
is a person who is assessed as suitable for
the various options available to be
supervised by the Probation Service.
<P>

21  	The officer concluded the report with the following
paragraph:-
<P>

"Mr. Carroll is realistic about what may happen to him as a result of his
involvement in the offence that occurred. The significant
changes in his
attitude and behaviour have been supported by his mother. In discussion with
him he presents as a young man who believes
that something positive can arise
out of even the most negative of circumstances."
<P>

22  	In sentencing him, however, I am required to bear in mind that,
under s.442B, I may not reduce a sentence so that the sentence
becomes
unreasonably disproportionate to the nature and circumstances of the offence.
This  qualification does not, strangely, also
apply to s.439.  Were there not
the plea and the offer of assistance, even though this is a matter that might
have been dealt with
summarily, even though the prisoner is young, the
seriousness of the offence would have meant that I would have to consider a
term
of full-time custody, notwithstanding the circumstances of the prisoner
were such that he might have had little practical opportunity
to comply with
his legal duty and avoid offending under the section. But I need not turn to
that.
<P>

23  	The Crown does not contend that this might be an inappropriate
case in which to impose a recognisance.  Plainly in the light
of the Probation
and Parole Service report of the circumstances of the prisoner, this is a case
in which supervision as a term of
a recognisance would be required.  The
prisoner has been at liberty since those three weeks in custody, originally
reporting once
daily, thereafter three times a week, and more recently twice
weekly.  There has not been the slightest suggestion that he has come
adversely
under notice for that period, even though he has not received the benefit of
the assistance of the Service during that
period.  But in my view there should
be supervision and it would seem to me in the light of the period he has been
subject to conditional
liberty in that way, an appropriate term for a
recognisance on the basis of which I would defer passing sentence under s.558
would
be a further two years and six months from today.
<P>

24  	I am therefore of the view that the sentence should be deferred
pursuant to s.558.
<P>

25  	Phillip Paul Carroll, I defer passing sentence upon you and
order your release upon your entering into a recognisance without
surety in the
sum of $1,000 to be of good behaviour for a period of two years and six months
from today and to come up for sentence
if called upon.  That recognisance shall
be further conditioned upon you accepting the supervision of the Probation and
Parole Service
for so long during the period of the recognisance as that
Service deems that supervision to be appropriate.  Mr. Carroll you are
liable
in the event that you breach that recognisance to be called up and
re-sentenced.
<P>

26  	I direct that the solicitor for the prisoner notify the
Liverpool office of the Probation and Parole Service of the making
of this
order.  I direct that the prisoner report to that office on or before 5.00 pm
Tuesday 17 August 1999 and the recognisance
may be taken before any magistrate
or justice.
<P>

********
<P>

LAST UPDATED: 	13/08/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/825.html</i><br>
</p>
</small>
</body>
</html>
