<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Hatzigeorgiou v Baker [1999] NSWSC 171 (10 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 171</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+171 or 1999+NSWSC+171">Noteup</a>]
[<a href="171.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Hatzigeorgiou v Baker [1999] NSWSC 171 (10 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_171.html-->
<!--sino date 10 March 1999-->


<P>Last Updated: 18 March 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Hatzigeorgiou v Baker  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/171.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 171</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	11670/90
<P>

HEARING DATE{S): 	5 March 1999
<P>

JUDGMENT DATE: 	10/03/1999
<P>

 PARTIES: 
<P>

Milton Hatzigeorgiou and Elias Hatzigeorgiou, Executors in the Estate of the
Late Con Hatzigeorgiou (Plaintiffs)
<P>

Warwick Baker (Defendant)
<P>

JUDGMENT OF: 	Studdert J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

A. Howen (Plaintiffs)
<P>

R. Kaye (Defendant)
<P>

SOLICITORS: 
<P>

Photios Vouroudis &amp; Co (Plaintiffs)
<P>

Mallesons Stephen Jaques (Defendant)
<P>

CATCHWORDS: 
<P>

Costs
<P>

ACTS CITED: 
<P>

Workers' Compensation Act
<P>

DECISION: 
<P>

See para 10
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

COMMON LAW DIVISION
<P>

STUDDERT J
<P>

Wednesday 10 March 1999
<P>

11670/90	<b>MILTON HATZIGEORGIOU AND ELIAS HATZIGEORGIOU, EXECUTORS IN THE
ESTATE OF THE LATE CON HATZIGEORGIOU   v   WARWICK BAKER</b>
<P>

JUDGMENT
<P>

1	HIS HONOUR : On 3 March 1999 I assessed damages in this matter at $105,000
and directed the entry of judgment for that amount.
 On that date I also made
orders as to costs.  Accepting a submission by Mr Kaye to that effect, I
ordered that the plaintiffs should
bear the defendant's costs thrown away by
reason of the vacation of the hearing appointed for 11 February 1997.  I
otherwise ordered
the defendant to pay the plaintiffs' costs.
<P>

2	Later on 3 March 1999 counsel for the defendant approached my associate and
asked that the matter be relisted for argument on
the question of costs and the
matter was relisted for this purpose on 5 March 1999.  On that date I was asked
by Mr Kaye to revisit
the issue of costs and to vary the order made two days
previously.
<P>

3	Judgment has not of course been entered and the Court has power to entertain
Mr Kaye's application.  Indeed, Mr Howen did not
submit to the contrary.  As a
matter of practice it is plainly desirable that counsel should address any
submissions they wish to
make as to costs before judgment is delivered unless
for some reason this is not practicable.  The legislative scheme under the
<i>Motor Accidents Act</i>, 1988, and s 73 in particular, renders unavoidable
in proceedings to which that Act applies a further hearing after the
publication
of an assessment of damages in order that interest be considered.
In cases governed by that Act costs are generally then considered
at the same
time as interest.  A similar procedure is followed where damages are assessed
under the <i>Workers' Compensation Act</i>, 1987 because s 151M(4) requires
consideration of interest.  Again, it is only practicable to consider interest
after damages have
been assessed.  Once again costs are dealt with at the same
time as interest.
<P>

4	Whilst the statutory schemes to which I have referred inevitably require
additional court time and costs to address the issues
to which I have referred,
the present case is one in which no such statutory complication exists and it
is regrettable that counsel
did not fully argue costs considerations at the
conclusion of the hearing or, alternatively, request that costs be reserved.  I
make
this observation not to criticise counsel in this case but to emphasise
the desirability, as a matter of routine procedure, of avoiding
a further
hearing and hence further costs merely to argue about costs, unless the
circumstances of the particular case require that
such argument be deferred
until after reasons for judgment have been published.  If there is a perceived
need to defer arguing costs
then the court should be asked to reserve costs.
<P>

5	However, in the circumstances of this case Mr Kaye has persuaded me that I
should review the order for costs which I made.  Whilst
I had understood that
the only special order as to costs he sought was that asked for in the
submissions at the end of the hearing,
and concerning the costs of 11 February
1997, I accept that Mr Kaye misunderstood the situation and believed that he
was going to
be given some later opportunity to put forward submissions on
costs.
<P>

6	Mr Kaye has now had that opportunity, and notwithstanding what Mr Howen had
to say, I am persuaded that there is considerable
merit in Mr Kaye's argument.
The hearing before this Court occupied eight sitting days.  Much of the hearing
time was occupied on
issues upon which the plaintiffs did not succeed.  The
plaintiffs' case was that because of the defendant's negligence, the late
Mr
Hatzigeorgiou was deprived of the benefit of access to his rights under the
<i>Workers' Compensation Act</i>, and the damages should be calculated by
reference to the value of such rights.  The plaintiffs' case so framed did not
succeed by
reason of my finding on the relevant causation issue.  An
alternative basis advanced for the assessment of damages also failed.
<P>

7	Mr Kaye referred to an offer of compromise that had been made by the
defendant in the past but that was of no avail to the defendant
because it was
for a lesser sum than I awarded, and indeed it represented a lesser sum than I
would have awarded at the time that
the offer was made.  It seems to me that
the defendant can draw no comfort from that offer of compromise in the
circumstances.
<P>

8	However, upon reflection I accept Mr Kaye's submission that it would be
unfair to the defendant if the plaintiffs recovered all
their costs, having
regard to the issues on which they failed and the time occupied on the hearing
in the pursuit of those unsuccessful
issues.
<P>

9	I have concluded that it is just to restrict the defendant's exposure for the
plaintiffs' costs upon the hearing to a liability
for sixty percent of such
costs only, with such liability to be determined on a party and party basis.  I
do not intend to limit
the costs recoverable on a party and party basis prior
to the commencement of the hearing in respect of which the defendant is to
pay
100% of such costs on a party and party basis.  The restriction is limited to
the hearing costs incurred between 15 February
1999 and 24 February 1999, both
days inclusive.  I was asked to consider excluding any provision for the
expenses of calling former
Judge McGrath and Mr O'Halloran because their
evidence was directed at issues irrelevant to the basis upon which damages were
ultimately
assessed.  I do not propose to make an order directed specifically
at the costs associated with calling those witnesses, but I have
taken the
submissions concerning them into account in fashioning the costs order I now
consider appropriate.
<P>

10	I vary the order in paragraph 3 of the formal orders expressed on 3 March
1999  and that costs order I now express as follows:
<P>

3.	Save for such costs, I order the defendant to pay the plaintiffs' costs of
the cause on a party and party basis, but in respect
of the costs incurred for
the hearing between 15 February 1999 and 24 February 1999, both days inclusive,
I order the defendant to
pay only sixty percent of such plaintiffs' costs.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	16/03/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/171.html</i><br>
</p>
</small>
</body>
</html>
