<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Krikorian v Medeiros [1999] NSWSC 160 (5 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 160</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+160 or 1999+NSWSC+160">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Krikorian v Medeiros [1999] NSWSC 160 (5 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_160.html-->
<!--sino date 5 March 1999-->


<P>Last Updated: 23 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Krikorian v. Medeiros  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/160.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 160</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	4628/97
<P>

HEARING DATE{S): 	Friday, 5 March 1999.
<P>

JUDGMENT DATE: 	05/03/1999
<P>

 PARTIES: 
<P>

Teresa Krikorian (P)
<P>

Caroline Medeiros (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. S. Donaldson (X-Resp)
<P>

Mr. N. A. Confos (Resp)
<P>

SOLICITORS: 
<P>

Giles Payne &amp; Co (P)
<P>

Swaab Attorneys (D)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

- 10 -
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Friday, 5 March 1999</i>
<P>

<b>4628/98	TERESA KRIKORIAN   -v-   CAROLINE MEDEIROS</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>    By notice of motion filed on 3 February
1999 the cross-defendants seeks an order that the cross claim against them be
struck out.
 That order is sought pursuant to the provisions of Part 15 rule 26
of the Supreme Court Rules.  Subrule (1) of that rule provides
relevantly:
<P>

Where a pleading ---
<P>

(a)	discloses no reasonable cause of action or defence or other case
appropriate to the nature of the pleading;
<P>

the Court may at any stage of the proceedings, on terms, order that the whole
or any part of the pleading be struck out.
<P>

2   	It is submitted on behalf of the applicants that the cross
claim discloses no cause of action against them.  The cross claim
was filed
pursuant to leave in that regard granted by Master Macready on 2 July 1998.
The Master, after a contested hearing, gave
such leave, but also stated in the
course of his judgment as follows:
<P>

By allowing the cross-claim I do not want in any way to foreclose what steps
the cross-defendants might take once they have been
advised as to whether or
not they wish to bring action to strike out the cross claim.
<P>

3   	The cross-claim was filed on 14 July 1998.  The substantive
proceedings were instituted by the plaintiff Teresa Krikorian by
summons filed
on 4 November 1997.  That summons sought declarations as to the existence of a
trust and certain consequential relief.
 Subsequently the plaintiff filed a
statement of claim on 4 June 1998.  The defendant filed a defence to that
pleading on 14 July
1998, that being the same date as the cross-claim was
filed.
<P>

4   	The cause of action relied upon by the plaintiff was that
she being the mother of the defendant (Caroline Medeiros) advanced
to the
defendant certain moneys for the acquisition of a house property at 38 Burke
Street, Chifley.  That house property was registered
in the name of the
defendant.  Subsequently the plaintiff advanced additional moneys which were
used for extensions and improvements
to that house property.
<P>

5   	The defendant executed a mortgage securing the advance of
$120,000 by the plaintiff.  That mortgage was dated 10 April 1985,
the purchase
of the property having taken place in December 1984.
<P>

6   	Subsequently on 14 December 1989 the defendant executed a
variation of mortgage which increased the amount of the principal
sum, and a
further variation of the mortgage was executed by the defendant on 3 September
1991 increasing the principal sum to yet
a further amount.  The mortgage was
discharged on 2 September 1993.
<P>

7   	The cross-defendants are the members of a firm of
solicitors which acted for the defendant and also for the plaintiff in relation
to the mortgage and the two variations of the mortgage and the discharge of the
mortgage.  The relief which is sought by the plaintiff
in the statement of
claim consists of declarations that the defendant holds the house property on
trust for the plaintiff, certain
consequential relief by way of the appointment
of a statutory trustee for sale and an order for what is described as an
equitable
charge to secure payment to the plaintiff of the amount of
expenditure and interest and moneys contributed by the plaintiff towards
the
purchase price of the property and any improvements thereon by the
plaintiff.
<P>

8   	The plaintiff asserts by the statement of claim and by the
various items of relief sought that the defendant holds the house
property on a
resulting trust for the plaintiff upon the basis that it was the plaintiff who
provided the purchase price and the
cost of improvements, or alternatively that
the defendant holds the property on a constructive trust for the plaintiff upon
the basis
that there was a common intention of the parties that, as a result of
the payment by the plaintiff of the purchase price and of the
other moneys to
which I have referred, the property should be held by the defendant for the
benefit of the plaintiff and further
that, in consequence of the moneys
expended by the plaintiff on the improvements to the property, it is equitable
that there should
be a charge upon the property protecting the entitlement of
the plaintiff to those moneys.
<P>

9   	The cross-claim is in the form of a pleading.  The relief
sought therein is (1) contribution or indemnity in respect to the
costs of the
plaintiff; (2) further, and in the alternative, damages, and (3) costs. 
<P>

10   	Essentially, it is the assertion of the defendant against
the cross-defendants that the cross-defendants in acting as solicitors
for her
acted either negligently or in breach of the terms of their retainer in such a
way that any relief which might be granted
to the plaintiff against the
defendant should ultimately be borne by the cross-defendants.  That is, as the
cross claim itself recognises,
that if the plaintiff be successful against the
defendant then (so it is asserted by the cross-claim) the defendant herself
should
not have to bear the financial consequences of the plaintiff's success,
but that those consequences should be borne by the cross-defendants.

<P>

11   	In the cross-claim it is alleged on behalf of the
defendant that the solicitors firstly advised and induced the defendant
to
execute a mortgage and two variations of the mortgage and secondly failed
properly to advise the defendant as to the nature and
effect of those
documents.  The consequences or the potential consequences of this alleged
failure on the part of the cross-defendants
are set forth in paragraph 15 of
the cross claim.  That paragraph is in the following terms:
<P>

In the event that the Court finds that by reason of the cross-claimant having
executed a mortgage, first variation and second variation,
the cross-claimant
has created or otherwise granted an interest in the property in favour of the
plaintiff, the cross-claimant is
denied the benefit or the opportunity to
submit that she did not create and/or grant or did not intend to create and/or
grant an
interest in the property in favour of the plaintiff.
<P>

12   	In substance the cross-claimant by that paragraph alleges
that in consequence of the conduct of the cross-defendants she will
suffer
loss, that loss being that the plaintiff will succeed against the defendant.
Paragraph 16 of the cross-claim is in the following
terms:
<P>

In the premises the cross-claimant claims as against the cross-defendants and
each of them on the basis that they are jointly and
severally liable for such
damages as the Court deems fit and appropriate in the event that the Court
finds that the cross-claimant
granted an interest in the property to the
plaintiff by reason of her having executed the mortgage, the first variation
and the second
variation.
<P>

13   	The cross-defendants submit that the cross-claim discloses
no cause of action against them.  The principles relating to an
application
such as the present to strike out a pleading are well recognised.  It is not
necessary for me to repeat those principles
here. Suffice it to say that it is
not for the Court on a summary application such as the present to deprive the
cross-claimant/defendant
of her entitlement to have her claim heard at a final
hearing of the proceedings if she has any arguable case.  It is not necessary
that the Court at this stage be satisfied that the defendant will necessarily
succeed on her cross-claim.  It is required only that
the Court be satisfied
that the cross-claim is not doomed to failure.  If, however, the Court is
satisfied that there is no arguable
case for the defendant upon the cross-claim
and that the cause of action which she raises by that cross-claim is doomed to
failure,
then the cross-defendants are entitled to have the cross- claim struck
out at this stage of the proceedings.
<P>

14   	The summons which was filed on 4 November 1997 seeks, so
it is submitted on behalf of the cross-defendants, no relief based
upon the
existence of the mortgage or the variations of the mortgage.  The defendant,
however, disputes that fact.  More importantly
the statement of claim filed on
4 June 1998 clearly reveals that the cause of action which the plaintiff
asserts by that pleading
does not claim any interest under the terms of the
mortgage and its variations.
<P>

15   	The references in that pleading to the mortgage and its
variations are as particulars supporting (presumably, in an evidentiary
fashion) the assertions by the plaintiff concerning the advances made by the
plaintiff to the defendant.  
<P>

16   	It does not seem to me, despite the submissions made in
that regard on behalf of the defendant, that the basis of the claim
of the
plaintiff that the defendant holds the subject property on trust --- be it on a
resulting trust or on a constructive trust
--- for the plaintiff is grounded in
any way upon the fact that the defendant executed the mortgage and the two
variations of the
mortgage. Neither does it seem to me that the relief which is
sought by the plaintiff against the defendant concerning the expenditure
upon
improvements giving rise to what is described as an equitable charge over the
property can be regarded as being grounded in
any way upon the mortgage or the
variations of mortgage.
<P>

17   	It must be recognised that the mortgage was discharged on
2 September 1993, that being long before the institution of the
present
proceedings.  The fact of the discharge removes the legal security which under
the mortgage existed over the house property.
 It does not deprive the parties
of the personal rights which may have arisen as a result of the mortgage
documents themselves. 
(In this regard see  the decision of Kearney J in
<i>Grundy v. Ley</i>  <a href="/cgi-bin/LawCite?cit=%281984%29%202%20NSWLR%20467" title="View LawCiteRecord" class="autolink_findcases">(1984) 2 NSWLR 467</a> at 473.)
<P>

18   	It may be (as has been submitted on behalf of the
defendant) that after the discharge of the mortgage there still remained
rights
between the plaintiff and the defendant giving rise to actions in personam,
actions on personal covenants and personal equities.
 None of these actions or
rights in themselves create any interest in the house property.  
<P>

19   	It is basic and fundamental to the claim of the plaintiff
that it is the conduct of the plaintiff in advancing the moneys
used to
purchase the house and to effect the improvements which has given rise to the
plaintiff's claim that the defendant holds
the property on trust for the
plaintiff.  The existence of the mortgage and its variations do not constitute
any facts which give
rise to the claim of the plaintiff asserted in the
statement of claim or to the relief to which by that pleading the plaintiff
says
she is entitled.
<P>

20   	Since the cause of action alleged by the defendant against
the cross-defendants by the cross-claim is firstly a cause of action
seeking
that she be indemnified by the cross-defendants in respect of any relief which
might be awarded to the plaintiff against
the defendant or that there be
contributions by the cross-defendants to meet any such relief, it will be
appreciated that the cross-claimant/defendant
cannot succeed against the
cross-defendants unless she is able to establish that by reason of the conduct
of the cross-defendants
she is liable to the plaintiff. But the only role of
the cross-defendants in the transactions which occurred and in the relationship
between the plaintiff and the defendant concerning this house property was in
respect to the mortgage and the two variations of mortgage.
 Unless the claim
of the plaintiff against the defendant is one which is somehow based upon those
documents, I do not see how ---
irrespective of whether or not the
cross-defendants advised the defendant concerning those documents or improperly
or inadequately
or negligently advised her --- any cause of action can exist at
the instance of the defendant against the cross-defendants.
<P>

21   	At most, the execution of the mortgage documents could
only be regarded as evidence of the intention of the defendant. But
her
intentions are not relevant when it comes to the question of whether there was
a resulting trust or whether the presumption of
advancement (which is one of
the defences raised by the defendant to the plaintiff's claim) can be rebutted.
What is relevant here
is the intention of the party supplying the purchase
money, that is the plaintiff, not the intention of the party receiving the
purchase
money and receiving the benefit of the improvements.
<P>

22   	So far as the presumption of advancement is concerned and
the suggestion by the plaintiff that that presumption should be
rebutted, then
even if the conduct of the defendant in executing the mortgage or its variation
is relevant in rebutting that presumption
(and it is submitted on behalf of the
cross-defendants that it is not relevant), I am not satisfied that the
execution of those documents
could in any way rebut that presumption.  The
execution of the mortgage and its variations is entirely consistent with, and
indeed
supports, the suggestion that the legal title was intended to vest in
the defendant, and that is what was done.
<P>

23   	Further, the existence of the mortgage and the variations
cannot assist the defendant in meeting the claim of the plaintiff
that there
came into existence a resulting trust in favour of the plaintiff.  The mortgage
and its variations evidence loans.  It
is clear beyond doubt that where moneys
are advanced by way of loan no resulting trust arises. In meeting the
plaintiff's claim concerning
the resulting trust the defendant can only be
assisted by the existence of the mortgage.  To that extent she cannot complain
of any
losses resulting to her by the mortgage.  By reason of the mortgage and
its variations she has evidence which will assist in rebutting
the plaintiff's
claim.
<P>

24   	But in all the circumstances it seems to me quite clear
from the form of the cross-claim that it does not disclose any reasonable
cause
of action against the defendant solicitors.  No conduct of the defendant's
solicitors, be it by way of advice given negligently
or incompetently or be it
by way of absence of advice, was such that is in any way relevant to the claim
of the plaintiff against
the defendant.  It is only if the plaintiff succeeds
against the defendant upon a claim grounded in some way or supported in some
way by the existence of the mortgage and its variations that the defendant is
then entitled to seek from the solicitor indemnity
or contribution.
<P>

25   	Since I am satisfied that the plaintiff's claim against
the defendant is not in any way grounded upon rights arising out of
the
mortgage or its variations, it follows in consequence that the defendant does
not have a sustainable cause of action against
the cross-defendants.  In those
circumstances therefore I propose to order that the cross-claim be struck
out.
<P>

26   	It should be recorded that at the commencement of today's
hearing, Mr Green of Counsel appeared for the plaintiff.  He stated
that the
plaintiff supported the present application by the cross-defendants and sought
to be excused.  Accordingly he was excused
from further attendance at today's
hearing.
<P>

27   	I make the following orders:
<P>

(1)	I order that the cross-claim against the cross-defendants be struck out.
<P>

(2)	I order that the cross-claimant pay the costs of the cross-defendants of
the notice of motion filed on 3 February 1999 and of
the proceedings against
them by way of cross-claim.
<P>

(3)	I note that in regard to order (2) that the appearance before me on 19
February 1999 was for the purpose of fixing today's hearing
date.
<P>

<center><b>**********</b></center>
<P>


<P>

LAST UPDATED: 	17/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/160.html</i><br>
</p>
</small>
</body>
</html>
