<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Gardner v Jameson [1999] NSWSC 269 (30 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 269</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+269 or 1999+NSWSC+269">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Gardner v Jameson [1999] NSWSC 269 (30 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_269.html-->
<!--sino date 30 March 1999-->


<P>Last Updated: 17 August 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Gardner v Jameson  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/269.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 269</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	1241/99
<P>

HEARING DATE{S): 	30 March 1999
<P>

JUDGMENT DATE: 	30/03/1999
<P>

 PARTIES: 
<P>

Arthur Alan Gardner (P)
<P>

Julianne Islay Jameson (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiff in Person
<P>

No appearance for Defendant
<P>

SOLICITORS: 
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

De Facto Relationships Act 1984
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Tuesday, 30 March 1999</i>
<P>

<b>1241/99	ARTHUR ALAN GARDNER   -v-   JULIANNE ISLAY JAMESON</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:   </b>These proceedings were instituted by the
plaintiff Arthur Alan Gardner acting for himself without the benefit of a
solicitor or a
barrister.  The proceedings were instituted by the filing of a
Statement of Claim on 1 February 1999.  That Statement of Claim sought
relief
under the <i>De Facto Relationships Act </i>1984.
<P>

2   	In essence, the relief sought in the Statement of Claim was
the effectuation of an agreement which had already been entered
into between
the plaintiff and the defendant, Julianne Islay Jameson.  
<P>

3   	It would appear that the plaintiff and the defendant had
been in a de facto relationship from May 1988 until July 1995 and
had, during
the course of that relationship, acquired a house property situate at and known
as 11 Vines Avenue, Forestville.  
<P>

4   	The parties had reached an agreement that the defendant
would transfer to the plaintiff her interest in that house property,
which was
held by them as joint tenants, upon the payment to her by the plaintiff of the
sum of $30,000.  Of that sum the amount
of $2000 had already been paid before
the filing of the Statement of Claim.
<P>

5   	At the same time as the Statement of Claim was filed on 1
February 1999 there was also filed a document entitled "Order" which
was signed
by the plaintiff and also by the defendant.  Her signature appeared over the
words "the defendant's consent to the order".
  The substantive part of that
document is as follows:
<P>

By consent, the Court orders that - 
<P>

(1)	the plaintiff pay to the defendant the amount of $28,000; 
<P>

(2)	the defendant transfer her share in the property at 11 Vines Avenue,
Forestville, to the plaintiff.
<P>

6   	It would appear that no order was able to be made in
accordance with that agreement between the parties, because the Statement
of
Claim was filed more than two years after the termination of the de facto
relationship; that two year period being referred to
in section 18(1) of the
<i>De Facto Relationships Act </i>as the period in which an application to the
Court for an order of the nature of the present relief claimed by the plaintiff
should
be made.  Further, the Statement of Claim did not include an appropriate
claim for relief by way of the extension of that period,
or the granting of
leave to the plaintiff to make the present application after the expiry of that
period, as contemplated by subsections
(2) of section 18.  
<P>

7   	Subsequently, on 15 March 1999, the plaintiff filed a
Notice of Motion seeking the granting to him of leave, pursuant to section
18(2) of the Act, in order to apply for consent orders in accordance with the
agreement between the parties manifested by the document
entitled "Order" to
which I have already referred.
<P>

8   	In support of that Notice of Motion there has been filed an
affidavit of the plaintiff, Arthur Alan Gardner, sworn 12 March
1999.  The
ground upon which the plaintiff seeks leave is that he was, in fact, unaware of
the limitation period prescribed by section
18(1) of the Act and that he has
remained living in the house property and paying all outgoings, including
mortgage repayments in
respect thereto, since the termination of the
relationship with the defendant.  
<P>

9   	Apparently it was only when the plaintiff sought to
re-finance the mortgage that he became aware of the practical problems
resulting from the defendant still remaining registered as a joint owner of the
subject property. 
<P>

10   	In all the circumstances, it seems to me appropriate that,
firstly, the leave contemplated by section 18(2) of the Act should
be granted
to the plaintiff; and, secondly, that orders of the nature sought in the
document signed by the plaintiff and the defendant
should be made.  
<P>

11   	I should also note that the plaintiff has stated that he
did not expect the defendant to appear today and that it was for
that reason
that she had signed the written document evidencing her consent to the proposed
orders.  The matter was called and there
was no appearance for the defendant.

<P>

12   	Accordingly, I make the following orders:
<P>

1.	I note that these proceedings have been settled in accordance with a
document entitled "Order" signed by the plaintiff and the
defendant and filed
in Court on 1 February 1999.
<P>

2.	I order that leave be and hereby is granted to the plaintiff to apply for an
order for relief of the nature sought in the Statement
of Claim after the
expiration of the period referred to in section 18(1) of the <i>De Facto
Relationships Act </i>1984.
<P>

3.	I order that, upon payment by the plaintiff to the defendant of the sum of
$30,000 ($2000 being part of which sum, already having
been paid), the
defendant transfer to the plaintiff her interest in the house property situate
at and known as 11 Vines Avenue, Forestville.
<P>

4.	I make no order as to costs, but indicate that each party will bear his or
her own costs of the proceedings.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	16/08/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/269.html</i><br>
</p>
</small>
</body>
</html>
