<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Moderngarde Pty Limited v Zipangu Corporation Pty Lmited [1999] NSWSC 197 (15 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 197</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+197 or 1999+NSWSC+197">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Moderngarde Pty Limited v Zipangu Corporation Pty Lmited [1999] NSWSC 197 (15 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_197.html-->
<!--sino date 15 March 1999-->


<P>Last Updated: 23 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Moderngarde Pty Limited v Zipangu Corporation Pty Lmited  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/197.html" title="View Case" class="autolink_findcases">[1999]
NSWSC 197</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	1030/99
<P>

HEARING DATE{S): 	15 March 1999
<P>

JUDGMENT DATE: 	15/03/1999
<P>

 PARTIES: 
<P>

Moderngarde Pty Limited (P)
<P>

Zipangu Pty Limited (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. D. Godwin (D)
<P>

SOLICITORS: 
<P>

Ferrirer &amp; Associates (D)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

- 7 -
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Monday, 15 March 1999</i>
<P>

<b>1030/99	MODERNGARDE PTY LIMITED   -v-   ZIPANGU CORPORATION PTY
LIMITED</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b> There is presently before the Court a
summons filed on 8 January 1999. The plaintiff in that summons is Moderngarde
Pty Limited and
the defendant is Zipangu Corporation Pty Limited. By that
summons the plaintiff claims an order that the demand for payment served
upon
it by the defendant be set aside and seeks a consequential order for costs. 
<P>

2   	Although the summons does not have annexed to it a copy of
the statutory demand, I have been taken by the defendant to the
statutory
demand dated 17 December 1998, which claims an amount of $63,437.62, described
as "being the amount ordered to be paid
to the creditor, such order made by
Judge Dent in District Court proceedings No 484/1997". 
<P>

3   	The summons appears to suggest that it was filed by "the
authorised officer, Moderngarde Pty Limited, c/- Registered Office
10 Pittwater
Road Manly NSW 2095" and the telephone number then following.  The document
also bears as the plaintiff's address for
service "c/- 10 Pittwater Road Manly
NSW 2095". It appears to be signed, by someone identifying himself as the
plaintiff's authorised
officer.
<P>

4   	When the matter was called on for hearing before me, Mr M
Grainger, who stated he was a director of the plaintiff, said that
he was
appearing for the plaintiff company. Mr Godwin of Counsel appeared for the
defendant. I explained to Mr Grainger that he could
not appear for the
plaintiff in the conduct of the present proceedings, but that I would be
prepared to hear what he might wish to
say concerning the matter. 
<P>

5   	It is quite clear from the provisions of Part 4, rule 4A of
the Supreme Court Rules (which enable a corporation in certain
circumstances to
commence or carry on proceedings by a director) that, since the circumstances
contemplated by that rule have not
been complied with in the instant case, the
present proceedings have been improperly constituted. For that reason, if for
no other
reason, it is inevitable that the summons must be dismissed. 
<P>

6   	I gave to Mr Grainger the opportunity of seeking to have
cured the procedural problems confronting the plaintiff, which cure
would have
required at the very least that he be joined  as an additional plaintiff in the
proceedings.
<P>

7   	Mr Grainer declined to avail himself of that opportunity
and stated that he did not seek to be so joined as a plaintiff. I
contemplated
the possibility of an adjournment, to enable Mr Grainger to obtain legal advice
in the matter. It appears that he has
at least at earlier stages had the
benefit of legal advice, or indeed of legal representation both for the
plaintiff company and
for himself personally. That suggestion of a short
adjournment was embraced by Mr Grainger but was opposed by the defendant. 
<P>

8   	Since it is likely that the Court would be able to cure the
procedural deficiencies in the institution and constitution of
the proceedings,
were Mr Grainger to consent to being joined as a plaintiff, there now appears
to me to be no purpose, in the light
of Mr Grainger's presently expressed
attitude in granting  an adjournment of the present proceedings.
<P>

9   	The summons states that the plaintiff disputes the
existence and/or quantum of the debt to which the demand relates and that
the
plaintiff has an offsetting claim. 
<P>

10   	In response to an inquiry by me at the outset of the
hearing whilst I was attempting to ascertain the attitude adopted by
each
party, the clear impression given to me by Mr Grainger was that he was totally
unaware of any judgment in favour of the defendant
against the plaintiff. There
has been placed before me by the defendant a judgment dated 25 September 1998
in the District Court
of New South  Wales in Sydney in file No 484/97. That is
a judgment pursuant to Part 31 rule 15 of the District Court Rules, and
is in
the following form: 
<P>

It is this date adjudged: 
<P>

(1) 	that there be judgment in the sum of $63,680 in favour of the plaintiff
against the first defendant.
<P>

(2) 	that the question of costs and other issues be determined at a date to be
fixed.
<P>

11   	The plaintiff in those proceedings is Zipangu Corporation
Pty Limited and the first defendant is Moderngarde Pty Limited.
That document
bears the seal of the District Court of New South Wales and bears the signature
of the Assistant Registrar of that
Court.
<P>

12   	I have been informed that there has been no application
made on behalf of the present plaintiff, Moderngarde Pty Limited to
set aside
that judgment or to appeal against that judgment. It is not open to me in the
present proceedings to go behind that judgment.
In consequence, there can be no
genuine dispute as to the amount of the debt claimed in the statutory demand
which is the amount
in the judgment to which I have just referred. 
<P>

13   	The present plaintiff to the summons asserts that it has
an offsetting claim. The amount of that offsetting claim is an amount
of $1805.
It appears to relate to a costs entitlement consequent upon a certificate as to
a determination of costs issued on 28 May
1998. The present defendant, Zipangu
Corporation Pty Limited concedes that that offsetting claim should be taken
into account in
determining the amount of the indebtedness of the plaintiff to
the defendant and that the statutory demand should be varied by substituting
for the amount claimed therein the amount of $61,875. 
<P>

14   	I have already recorded that, on account of the improper
constitution and institution of the present proceedings, it is inevitable
that
the summons must be dismissed. But even were I to have proceeded upon the
merits of the assertions contained in the summons,
it is clear beyond doubt
firstly that there is not and cannot be a genuine dispute as to the
indebtedness of the plaintiff to the
defendant grounded upon the judgment in
favour of the defendant against the plaintiff in the District Court of New
South Wales on
25 September 1998 in the sum of $63,680. Further that the
offsetting claim is in an amount of $1805, which is conceded by the defendant
and that the defendant agrees that the amount in the statutory demand should be
varied by deducting from the amount of the District
Court judgment the amount
of $1805.
<P>

15   	I propose, accordingly, to make an order varying the
statutory demand in that fashion. 
<P>

16   	Since both on the ground of the institution and the
constitution of the present proceedings and on the substantive ground
in
relation to the statutory demand itself, the plaintiff has not established that
the relief sought in the summons should be granted,
I propose to make an order
that the summons be dismissed. It is inevitable that that order will attract an
order that the plaintiff
pay the costs of the defendant. 
<P>

(At this stage Mr Godwin made an application that the costs be paid by Mr
Grainger personally. After hearing argument the Court
made the following
ruling).
<P>

17   	<b>MASTER</b>: The defendant seeks an order that the costs
of the present proceedings be paid not by the unsuccessful plaintiff but by Mr
Michael
Grainger, a director of the plaintiff company, who it would appear from
the matters to have which I have already referred in my judgment
on the
substantive proceedings, purported to institute the proceedings on behalf of
the plaintiff.
<P>

18   	I have been taken to the provisions of Part 52A rule 4 of
the Supreme Court Rules. Subrule (5) provides, relevantly: -
<P>

Subrule (2) shall not limit the power of the Court to make any order --- 
<P>

(g)	against a person who commences, carries on, enters an appearance in, or
defends proceedings as the authorised director of a
corporation, or purports to
do so.
<P>

19   	I have also been taken to the decision of the High Court
of Australia in <i>Knight v. FP Special Assets Limited </i> <a href="/cgi-bin/LawCite?cit=1992%20174%20CLR%20178" title="View LawCiteRecord" class="autolink_findcases">1992 174 CLR 178.</a>

<P>

20   	It seems to me that the Court has express power under the
rule to which I have just referred to make an order in a case such
as this
against Mr Grainger. He has stated that the plaintiff company has no assets and
would not be able to meet any costs order
which might be made against it. In an
affidavit sworn by him on 8 January 1999 and filed on that day Mr Grainger
says, in paragraph
2:
<P>

I am aware that I may be liable to pay some or all of the costs of these
proceedings.
<P>

21   	I have already expressed the view that the claim of the
plaintiff to have the statutory demand set aside, quite apart from
the
procedural defects in the manner in which the proceedings have been constituted
and instituted, cannot be sustained on grounds
of substance. The defendant is
entitled to receive it costs of defending the proceedings. Normally such a
costs order would be made
against the unsuccessful plaintiff. In the instant
case however the unsuccessful plaintiff has purported to bring the proceedings
through its director, Mr Grainger. He has stated expressly that the plaintiff
has no assets to meet a costs order. In his affidavit
he has also stated
expressly his awareness that he himself might be liable to pay some or all of
the costs of the proceedings. 
<P>

22   	Under those circumstances I consider that it is
appropriate that a costs order should be made against Mr Grainger personally.

<P>

23   	I make the following orders:
<P>

1.	I make orders as in paragraphs 1,2 and 3 in the short minutes of order dated
15 March 1999 initialled by me and filed in Court
this day. 
<P>

2.	I order that Michael Grainger pay the costs of the defendant of the
proceedings.
<P>

<center><b><i>**********</i></b></center>
<P>


<P>

LAST UPDATED: 	21/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/197.html</i><br>
</p>
</small>
</body>
</html>
