<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>R.A.T. Nominees Pty Limited v Investment Traders Pty Limited. [1999] NSWSC 382 (27 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 382</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+382 or 1999+NSWSC+382">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
R.A.T. Nominees Pty Limited v Investment Traders Pty Limited. [1999] NSWSC 382 (27 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_382.html-->
<!--sino date 27 April 1999-->


<P>Last Updated: 1 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	R.A.T. Nominees Pty Limited v Investment Traders Pty Limited.  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/382.html" title="View Case" class="autolink_findcases">[1999]
NSWSC 382</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	1359/98
<P>

HEARING DATE{S): 	27 April 1999
<P>

JUDGMENT DATE: 	27/04/1999
<P>

 PARTIES: 
<P>

R.A.T Nominees Pty Limited (P)
<P>

Investment Traders Pty Limited (D1)
<P>

Registrar General (D2)
<P>

ICA Mortgage &amp; Finance Pty Limited (D3)
<P>

Peter John Turnbull (D4)
<P>

Robert Miles, Brad Hazzard and Mary Bova t/as Marks Griffiths Hazzard &amp;
Bova (D5)
<P>

Peter John Turnbull (1st Cr-cl)
<P>

ICA Mortgage &amp; Finance Pty Limited (1st Cr-D)
<P>

ICA Mortgage &amp; Finance Pty Limited (2nd Cr-cl)
<P>

R.A.T. Nominees Pty Limited (2nd Cr-D)
<P>

Investment Traders Pty Limtied (3rd Cr-D)
<P>

Gregory Hall (4th Cr-D)
<P>

Richard Harold George (5th Cr-D)
<P>

ICA Real Estate (Texas) Inc (6th Cr-D)
<P>

Dartmouth Project Pty Limited (7th Cr-D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

R. Perrignon
<P>

SOLICITORS: 
<P>

M. Foley (D3)
<P>

A. Rath (4D)
<P>

A Harpur (5D)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Tuesday, 27 April 1999</i>
<P>

<b>1359/98	R A T  NOMINEES PTY LIMITED   -v-   INVESTMENT TRADERS PTY LIMITED
&amp; ORS</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b> By Notice of Motion filed on 12 April 1999,
the plaintiff, R A T Nominees Pty Limited, seeks, substantively, an order that
the defence
of the third defendant, ICA Mortgage and Finance Pty Limited, be
struck out, pursuant to Part 15 rule 26 of the <i>Supreme Court Rules</i>;<i>
</i>or, alternatively, that the third defendant provide the plaintiff with
further and better particulars sought in a request dated 26
November 1998.
<P>

2   	The basis of the first item of relief is that it is
submitted that, in light of the response to a request for particulars dated
26
November 1998, the defence of the third defendant, in the words of subrule (1)
of rule 26 in Part 15,
<P>

has a tendency to cause prejudice, embarrassment or delay in the
proceedings.
<P>

3   	The defence of the third defendant was filed on 20 October
1998.  The particulars, of that defence were sought by letter dated
26 November
1998.  It is unnecessary to set forth the procedural history of the matter,
especially in relation to directions concerning
the provision of particulars
since the request was originally made.  However, by letter dated 28 March 1999,
that is some four months
after the request was originally made, the third
defendant responded to that request.
<P>

4   	It is submitted on behalf of the plaintiff that the
responses to a number of the items of particulars sought are so inadequate
that
the plaintiff is entitled to seek, in the alternative, either that the defence
be struck out, or that an order of the Court
be made requiring the third
defendant to provide the particulars sought.
<P>

5   	It should, at the outset, be emphasised that the purpose of
particulars of a pleading is to enable the opposing party to know
the nature of
the case to be presented against it and which the opposing party must meet, and
to confine the case of the party pleading
to the case presented in that
pleading.  It is not a sufficient response to a request for particulars for a
party to say that the
requesting party already  knows the answers or has
sufficient information to enable it to answer the request for itself.
<P>

6   	In the instant case items 1, 2, 3, 4 and 5 relate to
paragraph 5 of the defence.  That paragraph refers to an arrangement that
the
third defendant had with an entity referred to therein as "ICA Real Estate
(Texas) Inc".  
<P>

7   	The response made by the third defendant to items 1, 2, 3
and 5 is that those requests are not proper requests of the third
defendant and
that it is more appropriate for those requests to be made directly to ICA Real
Estate (Texas) Inc. Since the third
defendant has in its defence referred to an
arrangement between itself and that entity, which (although it may subsequently
have
become a party to the proceedings as a cross-defendant) was not joined as
a defendant by the plaintiff, it is obvious that the plaintiff
is entitled to
further and better particulars concerning the arrangement asserted by the third
defendant to have come into existence
between the third defendant and that
entity.
<P>

8   	Item 4 seeks further and better particulars of the alleged
arrangement between the third defendant and that entity.  There
is a response
to the query:  "What were the terms of the arrangement?"  It seems to me,
however, that the response does not address
itself to the request for
particulars.  It is for the third defendant, if it chooses to plead an
arrangement between itself and some
other entity, to provide the particulars
sought concerning that arrangement.
<P>

9   	Item 8 of the request for particulars relates to
allegations contained in paragraph 10 of the defence.  The relevant allegation
is as follows:-
<P>

The Third Defendant's [<i>sic</i>] says that between 19th December 1996 and
20th December 1996 the negotiations and discussions that subsequently lead
[<i>sic</i>] to the parties entering into the Deed changed significantly.
<P>

10   	It will be appreciated that the parties referred to in
that pleading are, relevantly, the plaintiff and the third defendant.
 The
response to the request for particulars concerning that allegation relates
essentially to arrangements between the plaintiff
and another entity, Dartmouth
Project Pty Limited, which was not named as a defendant to the proceedings but
has subsequently been
joined as a cross-defendant.  I consider that the third
defendant has not adequately responded to the request for particulars contained
in Item 8.
<P>

11   	Item 9 relates to the allegation contained in paragraph 11
of the defence that:-
<P>

The whole basis of the negotiations changed on or about 20th December 1998
[<i>sic</i>, although apparently "1996" was intended] and the Deed properly
reflects the agreement finally reduced to writing.
<P>

12   	The essential response to that request for particulars
contained in item 9 is to refer to the responses to items 8(a) and
(b).  I have
already expressed my view concerning the adequacy of those responses.
<P>

13   	Item 10 relates to paragraph 12 of the defence and to the
allegation that:-
<P>

The Plaintiff has wholly failed to perform its obligations pursuant to the
Fairmont Condominium Contract of Sale (hereinafter referred
to as the "Fairmont
Condominium contract" and the Third Defendant craves leave to refer to the
whole of that Contract as if it were
fully set out herein).
<P>

14   	The response to item 10 is that that is not a proper
request of the third defendant and that it is more appropriate for such
request
to be made to ICA Real Estate (Texas) Inc directly.
<P>

15   	The fact that the plaintiff may be aware of the existence
of a contract of the nature of that referred to in paragraph 12
of the defence
is not, of itself, an answer to the request for particulars.  As I have already
observed, the purpose of such particulars
is to delimit the case for the party
pleading and to enable the opposing party to know the case which it must
meet.
<P>

16   	I am satisfied that the responses of the third defendant
to Items 1, 2, 3, 4, 5, 8, 9 and 10 in the letter of 26 November
1998 from
Harris Lieberman Boyd, the solicitors for the plaintiff, to Foleys, the
solicitors for the third defendant, are not adequate.
 
<P>

17   	I do not, however, consider that it is appropriate at this
stage that I should strike out the defence on account of the inadequacy
of
those particulars.  I do, however, propose to make an order that the third
defendant within a specified period furnish adequate
particulars responding to
those requests.  I will hear the representatives of the parties on an
appropriate period.
<P>

18   	The Notice of Motion of the plaintiff filed on 12 April
1999 also seeks an order that the second cross-claim of the third
defendant
filed on 14 December 1998 be struck out, pursuant to Part 15 rule 26 of the
Rules.  By paragraph 1 of that second cross-claim
the third defendant, as
second cross-claimant, repeats its defences to the plaintiff's statement of
claim and second further amended
summons and first cross-claim. 
<P>

19   	At the outset it seems to me that the incorporation by
reference of the defences to the statement of claim incorporates those
very
problems to which I have already referred in the earlier part of my judgment
herein.  The third defendant seeks leave to amend
the second cross-claim
without, as I understand it, definitely stating that it will avail itself of
such leave.  However, it seems
to me that it is appropriate that I should grant
that leave. In the light of further particulars to be provided by that
cross-claimant,
the situation concerning the form of the present second
cross-claim or of any amendment thereto which might be filed should be
reviewed.
<P>

20   	(Mr Perrignon applied for costs. Mr Foley sought that
costs to the plaintiff be costs in the cause.)
<P>

21   	<b>MASTER</b>:  I make the following orders:-
<P>

(1)	I order that the third defendant on or before 11 May 1999 provide adequate
responses to items 1, 2, 3, 4, 5, 8, 9 and 10 in
the letter of 26 November1998
from Harris Lieberman Boyd to Foleys.
<P>

(2)	I grant to the third defendant/second cross-claimant leave to file an
amended cross-claim on or before 18May 1999.
<P>

(3)	I order that paragraph 3 of the Notice of Motion filed by the plaintiff on
12 April 1999 be stood over generally with liberty
to restore to the
Registrar's list on seven days notice.
<P>

(4)	I order that the third defendant pay the costs of the plaintiff of the
aforesaid Notice of Motion to date. 
<P>

(5)	I grant leave to the plaintiff to proceed forthwith to assessment of the
foregoing costs.
<P>

The various exhibits may be returned, gentlemen.
<P>

22   	(Mr Perrignon sought that the matter be referred back to
the Registrar.)
<P>

23   	<b>MASTER</b>:  For what purpose should it be referred
back to the Registrar?  It seems appropriate to me that it should not be
referred back to
the Registrar until the particulars are provided and any
cross-claim is filed and then you will have  liberty to apply to the
Registrar.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	30/08/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/382.html</i><br>
</p>
</small>
</body>
</html>
