<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Land and National Development Corporation P/L v Tatebrook P/L [1999] NSWSC 669 (6 July 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 669</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+669 or 1999+NSWSC+669">Noteup</a>]
[<a href="669.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Land and National Development Corporation P/L v Tatebrook P/L [1999] NSWSC 669 (6 July 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_669.html-->
<!--sino date 6 July 1999-->


<P>Last Updated: 6 July 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Land &amp; National Development Corporation P/L v Tatebrook P/L
 <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/669.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 669</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	1293/99
<P>

HEARING DATE{S): 	24/05/99
<P>

JUDGMENT DATE: 	06/07/1999
<P>

 PARTIES: 
<P>

Land &amp; National Development Corporation Pty Limited (ACN 003 184 914)
(P)
<P>

Tatebrook Pty Limited (ACN 051 906 926)  (D)
<P>

JUDGMENT OF: 	Santow J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

R W White, SC  (P)
<P>

M Leeming  (D)
<P>

SOLICITORS: 
<P>

Rod J Barnett &amp; Assoc (by their City Agents: Turner Whelan)  (P)
<P>

Mallesons Stephen Jaques  (D)
<P>

CATCHWORDS: 
<P>

CORPORATIONS -- Statutory Demand -- Fulfilment of conditions precedent
affecting whether debt released -- Genuine dispute -- Waiver
of fulfilment of
condition or conventional estoppel precludes reliance on non-fulfilment --
Requirements for waiver -- Need for unambiguity
and precision as to shared
assumption for conventional estoppel -- waiver clauses requiring writing
distinguished from variation
clauses -- Extent to which a question of law can
be resolved when contesting a statutory demand.
<P>

ACTS CITED: 
<P>

Corporations Law s459G(1)
<P>

DECISION: 
<P>

Appeal dismissed.
<P>

JUDGMENT: 
<P>


<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>IN EQUITY</b>
<P>

<b>SANTOW J</b>
<P>

<b>No. 1293/99</b>
<P>

<b>LAND &amp; NATIONAL DEVELOPMENT CORPORATION PTY LIMITED (ACN 003 184
914)</b>
<P>

Plaintiff
<P>


<P>

<b>TATEBROOK PTY LIMITED (ACN 051 906 926)</b>
<P>

Defendant
<P>

<b>JUDGMENT</b>
<P>

<b>6 July 1999</b>
<P>

<b>INTRODUCTION</b>
<P>

1   	This is an appeal by the Plaintiff from the decision of
Master McLaughlin, delivered on 22 April 1999, that the Plaintiff's
Summons be
dismissed. By that Summons, the Plaintiff, Land &amp; National Development
Corporation Pty Ltd ("Land") sought an order
that the Statutory Demand dated 19
January 1999 served upon it by Tatebrook Pty Limited ("Tatebrook") the
Defendant and Respondent
in these proceedings, be set aside, pursuant to the
provisions of s459G(1) of the <i>Corporations Law</i>. This is on the basis
that there is a genuine dispute between Land and its claimant creditor,
Tatebrook, about the existence of the
relevant debt to which the Demand
relates. No issue arises as to offsetting claim. Nor did the Plaintiff either
before the Master
or before me, press any case under s459J of the
<i>Corporations Law</i> based on any defect in the Demand.
<P>

2   	Put generally, the issue before the Master was whether, in
the events that had happened, a release of the relevant debt by
Tatebrook had
taken effect. That in turn depended upon whether a condition of the release of
that debt, namely completion of an associated
agreement, referred to as "the
Lidoform Share Sale Agreement", remained unfulfilled, because either of two of
the conditions precedent
to the latter's completion had not been fulfilled.
<P>

3   	The Master concluded that neither condition had been
fulfilled nor had either condition been waived, with the result that there
was
no genuine dispute as to the liability of the Plaintiff to pay the amount in
the Statutory Demand. As is common ground, <i>both</i> conditions must be
satisfied, before in consequence the release can take effect; if only one is
satisfied (or waived or the subject
of estoppel) the release fails of effect
and the debt is due and payable rather than released.
<P>

4   	The two relevant conditions precedent are contained in Cl
13 of a Deed of Acknowledgment and consisted of:
<P>

"(a)	completion of the First Stage by the First Stage Completion Date,
including the release of the LAND Debt to Viebell;"
<P>

(as defined in the relevant documents) and
<P>

"(e)	compromise of the Tax Claims in an amount and on terms satisfactory to
Contractors by the Second Stage Completion Date ..."
<P>

(also defined in the relevant documents).
<P>

5   	It was not disputed that
<P>

(a)	Land was very substantially indebted to Tatebrook, and
<P>

(b)	Although a conditional release of that indebtedness had been given by
Tatebrook, two of the conditions precedent had not in
actuality been
satisfied.
<P>

6   	Land contends that the Master was in error in failing to
address himself to the proper question. According to Land, the Master
addressed
himself to the question whether the Plaintiff's claim was correct that
fulfilment of these conditions had been waived or
were the subject of a
conventional estoppel precluding reliance on either condition. Whereas the
question he should have addressed
was whether the Plaintiff's contentions to
that effect raised a "plausible contention requiring investigation", or a
serious question
to be tried; <i>Eyota Pty Limited v Hanave Pty Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281994%29%2012%20ACSR%20785" title="View LawCiteRecord" class="autolink_findcases">(1994)
12 ACSR 785</a> at 787; <i>Jarpab Pty Limited v Winter</i>  <a href="/cgi-bin/LawCite?cit=%281994%29%2014%20ACSR%20255" title="View LawCiteRecord" class="autolink_findcases">(1994) 14 ACSR 255</a> at
261.
<P>

7   	I observe that what the Master did in relation to condition
(a) was to conclude in terms suggesting no room for genuine dispute.
Thus he
simply concluded that, "there was no waiver" (para 27 of his judgment). He did
not address conventional estoppel but whether
that was argued independently of
waiver is open to question. In any event waiver remains the principal basis of
the Plaintiff's case.
In relation to condition (e), the Master concluded that
he was "not satisfied" that the Plaintiff has established that the relevant
conduct of the Defendant constituted a waiver of the requirement contained in
condition (e) (para 39 of his judgment). In para 41
of the judgment the Master
says "it follows that there is, and can be, no genuine dispute as to the
liability of the Plaintiff to
pay the amount in the statutory demand". It can
be seen in relation to each condition but relevantly here condition (e). that
what
the Master needed to be satisfied about was whether there was a genuine
<i>dispute</i> about whether the debt was payable. But this in turn necessarily
directs attention to the genuineness of the grounds for denying
the existence
of the debt and thus to the genuineness of the grounds for disputing fulfilment
of the conditions for the release of
the debt. This is <i>not</i> in the sense
of reaching any ultimate determination of the merits, but rather to see if the
claim bears the perception of genuineness.
What he therefore needed to be
satisfied about in relation to both conditions was whether the Plaintiff had
established there was
a plausible contention requiring further investigation
concerning waiver in either case, as that in turn ultimately determined whether
the debt was released.
<P>

8   	Finally before me, but not before the Master, the Plaintiff
initially pressed the argument that whether or not there has been
a waiver or
estoppel, whilst fulfilment of the two conditions still remains a possibility,
there can be no debt <i>presently</i> due and payable.
<P>

9   	To this the Defendant had a relatively straightforward
answer, which the Plaintiff in the end did not seriously contest. That
answer
involves these steps. The non-fulfilment of either condition precedent to
completion of the Lidoform Share Sale Agreement
can be taken to give rise to a
right of rescission, but it does not follow that the debt under that share sale
agreement was never
payable. The parties could agree, as they did in the
Tatebrook Deed of Release, that if a certain event (completion of the Lidoform
Share Sale Agreement) were to take place in the future, the debt would then be
released. If either of the conditions upon which that
event depended had not
been fulfilled by the last date allowed for fulfilment, namely 31 October 1997
in relation to condition (a)
and 30 June 1998 in relation to condition (e),
then the monies must still remain due and owing, these conditions being
conditions
of the release. The condition (a) had not been actually fulfilled by
31 October 1997 concededly (nor indeed by 30 June 1998), leaving
only the
question of waiver (or conventional estoppel). The loan and shareholder's
agreement entered into between the parties on
13 January 1995 clearly enough
provided for the loan constituting the debt by the Defendant to the Plaintiff
to be repaid by 18 November
1997, save so far as the Tatebrook Deed of Release
provided otherwise.
<P>

10   	Thus the real issue between the parties relates to whether
there was a plausible contention requiring further investigation
in relation to
whether <i>both</i> the relevant conditions precedent had been either waived or
were the subject of conventional estoppel, thereby precluding reliance
upon
them. If the answer is "no", in relation to either condition, then there can be
no release and therefore no genuine dispute
as to the relevant debt being due
and payable.
<P>

<b>ELABORATION OF FACTUAL BACKGROUND</b>
<P>

11   	The relevant Statutory Demand seeks payment by the
Plaintiff to the Defendant in the amount of $1,739,758.56, being the amount
of
the debt described in the schedule to that notice. The schedule contains the
following description of the amount of that debt:
"The amount outstanding as at
17 September 1997 under a loan and shareholder's agreement between the company,
the creditor and others,
dated 13 January 1995, being $2,339,758.56 less an
amount of $600,000 of that debt, which has been assigned by the creditor to
Idogear
Pty Ltd ACN 008 592 434."
<P>

12   	It is convenient that I now set out below the Statement of
Agreed Facts as common ground between the parties, together with
what are
agreed to be the essential points at issue (para (4)).
<P>

(1)	The Plaintiff ("Land") acknowledged a loan of $3,141,704 to it from the
Defendant ("Tatebrook") in a Deed described as a "Loan
and Shareholders
Agreement" entered into on 13 January 1995 (Exhibit AWB1). The loan was to be
repaid by 18 November 1997.
<P>

(2)	"On and from the date of (but subject to) completion of the Lidoform Share
Sale Agreement", Tatebrook released Land from its
obligation to repay the then
outstanding balance of the loan ($2,339,758.86). This release was contained in
clause 3 of a deed described
as the "Tatebrook Deed of Release" entered into on
17 September 1997 (Exhibit AWB2).
<P>

(3)	Completion of the Lidoform Share Sale Agreement was conditional on and
subject to the satisfaction of each of the 6 conditions
contained in clause
13.3 of a Deed of Acknowledgment entered into on 17 September 1997 (Exhibit
AWB5).
<P>

It is common ground that the relevant two conditions were conditions precedent
to completion of the Lidoform Share Sale Agreement
and had not been satisfied
in terms of the relevant deed.
<P>

(4)	The only  basis on which it is said that there is a genuine dispute between
the parties in relation to the debt the subject
of the statutory demand is in
relation to the effectiveness of the release. In these proceedings, Tatebrook
contends that conditions
(a) and (e) of the 6 conditions in the Deed of
Acknowledgment have been neither satisfied nor waived, with the consequence
that Land's
debt to Tatebrook was not released and remains payable as alleged
in the statutory demand. Land contends that conditions (a) and
(e) have been
waived or that Tatebrook is otherwise unable to rely upon any non-fulfilment of
conditions by reason of conventional
estoppel and the debt has been accordingly
released.
<P>

13   	Clause 3 of the Tatebrook Deed of Release provided as
follows:
<P>

"On and from the date of, but subject to completion of, the Lidoform share sale
agreement, Tatebrook releases LAND from its obligations
to pay to Tatebrook the
amount in item 2 of the schedule (RELEASE)."
<P>

14   	On 17 September 1997 the parties and others entered into a
deed described as a Deed of Acknowledgment. This contained the
relevant
conditions in these terms: 
<P>

"Notwithstanding any provision of the Lidoform share sale agreement to the
contrary, completion of the Lidoform share sale agreement
is conditional on and
subject to
<P>

(a)	completion of the First Stage by the First Stage Completion Date, including
the release of the LAND Debt to Viebell 
<P>

...... 
<P>

(e)	compromise the Tax Claims in an amount and on terms satisfactory to
Contractors by the Second Stage Completion Date; 
<P>

......"
<P>

15   	In clause 1.1, "First Stage" means "the matters and
transactions contemplated by this deed to occur on or before the First
Stage
Completion Date". "First Stage Completion Date" means "31 October 1997 in
respect of which time is of the essence"; see clause
1.1.
<P>

16   	It was not disputed that although the releases referred to
were only part of the LAND Debt to Tatebrook, it was clearly envisaged
by other
of the interrelated documents executed on the same day that the release, on
completion of the Lidoform Share Sale Agreement,
would be of the entirety of
the debt. Clause 3(b) of the Lidoform Share Sale Agreement provided that the
consideration payable for
each Share was to include: "the release of the LAND
Debt to Tatebrook and all securities held for it from LAND and any guarantee
held for it from Alexander William Brinkmeyer."
<P>

17   	A similar statement appears in clause 13.2 of the Deed of
Acknowledgment (AWB5) which went on to provide (in clause 13.4)
that: 
<P>

"on and by virtue of completion of the Lidoform Share Sale Agreement ......
Tatebrook ...... release(s) the Land Group from all
debts ...... at the date of
completion of the Lidoform Share Sale Agreement ......".
<P>

(With certain debts excluded, not material here.)
<P>

18   	It was thus admitted before Master McLaughlin by the
Defendant that on and subject to completion of the Lidoform Share Sale
Agreement the Defendant had agreed to release the Plaintiff from the then
outstanding balance of the loan, namely $2,339,758.86.
<P>

19   	Completion of the Lidoform Share Sale Agreement was
required to take place on the day on which the last of the conditions
contained
in clause 13 of the Deed of Acknowledgment was satisfied; see clause 4 of the
Lidoform Share Sale Agreement (in fact 30
June 1998). On completion, certain
matters were required to be attended to; clause 5 of the Lidoform Share Sale
Agreement. It is
as I have said common ground that there has in actuality been
no completion. What divides the parties is whether the Defendant is
nonetheless
entitled to rely upon the non-fulfilment of the two conditions precedent which
I have earlier quoted, being those contained
in clauses 13.3(a) and 13.3(e) of
the Deed of Acknowledgment, or is precluded from doing so by waiver or
conventional estoppel.
<P>

20   	To complete the picture of the relevant provisions of the
Deed of Acknowledgment, clauses 8.1 required that by 31 October
1997 (the First
Stage Completion Date) what are described as "the Gordon Shops" must be the
subject of a completed sale (clause 8.1)
failing which Land must procure
re-financing for an amount not exceeding $600,000 by that date (clause 8.2).
<P>

21   	It was common ground before Master McLaughlin that the
position in relation to the Gordon Shops was as stated in a document
called
"Summary of Current Status" ("the Summary") attached to a letter from Woden
Contractors Pty Ltd to a member of companies including
the Plaintiff and marked
for the attention of Alex Brinkmeyer, a principal of the Plaintiff company who
has sworn its principal affidavits.
This letter is dated 18 November 1988
("AWB10"). From the searches contained in AWB16 and 17, Woden Contractors is
closely associated
with the Defendant Tatebrook Pty Limited. Thus the letter's
signatory Doug Fryer is a common director also of Tatebrook. Also Woden
Contractors' ultimate holding company is Woden Constructions Pty Limited which
latter company holds 4,999 shares of Tatebrook out
of 6,000, so is its holding
company. Accepting this document as admissible as a business record, according
to the Summary, the Gordon
Shops were sold on the date <i>after</i> the First
Stage Completion Date, namely 3 December 1997; see clause 1.1 and note also
clauses 1.2 and 1.3. I am satisfied that the
Summary constitutes, prima facie,
representations made on behalf of Tatebrook. But it does not automatically
follow that Tatebrook
has thereby <i>itself</i> waived (in writing) a right
under the Lidoform Share Sale Agreement, within the strict requirements of
clause 12.4 of that Agreement
requiring written waiver by a party; see para 50
of this judgment.
<P>

22   	However, the sale of the Gordon Shops could only be
completed if what was called the Carwoola Street Sale Agreement was completed
at the same time. Clause 8.3 of the Deed of Acknowledgment provided: 
<P>

"8.3	The sale contemplated by clause 8.1 or the re-financing contemplated by
clause 8.2 may only be completed if the Carwoola Street
Sale Agreement is
simultaneously completed."
<P>

23   	The Summary acknowledged (in item 1.2) that there had been
a simultaneous completion of the Carwoola Street Sale Agreement.
<P>

24   	The Carwoola Street Sale Agreement was defined (in clause
1.1 of the Deed of Acknowledgment) by reference to a document referred
to as
the "Idogear Deed of Assignment" ("the Idogear Deed"), being Annexure A to the
affidavit of Mr Brinkmeyer of 13 April 1999
and page 58 of Exhibit AWB8).
<P>

25   	Referring to the Idogear Deed, the Carwoola Street Sale
Agreement is defined in Recital D thereof. It was an agreement for
the sale of
land made between Idogear Pty Limited as vendor and the Defendant as purchaser.
The objective of the Deed was to make
provision for the payment by the
Defendant of the purchase price (Recital E). The provision which was made in
relation to the purchase
price appears in clause 4, which provided:
<P>

"4.	Idogear, LAND, AWB and JB acknowledge that, notwithstanding any other
provision of the Carwoola Street Sale Agreement, the Relevant
Amount is payable
only by assignment of the Relevant Amount according to Clause 3 (Assignment).
If the assignment is void, voidable,
unenforceable or ineffective in whole or
in part for any reasons (including, without limitation under any law relating
to insolvency
or the protection of creditors) (Invalidity):
<P>

a)	Idogear, LAND, AWB and JB acknowledge that no further or other amount is
payable by Tatebrook to Idogear on any account whatsoever
in respect of the
Unpaid Purchase Price as a result of or in connection with the Invalidity;
and
<P>

b)	Idogear releases Tatebrook from all actions, claims, suits, demands, claims
for costs and expenses, and any other proceeding
whatever arising out of or in
any way connected with the Unpaid Purchase Price or the Invalidity."
<P>

26   	Thus, clause 4 provided that the unpaid purchase price
could be satisfied simply by the assignment by the Defendant to Idogear
Pty
Limited of a debt.
<P>

27   	Clause 3.1 of the Idogear Deed provided that:
<P>

"3.1	On the First Stage completion Date but subject to the Conditions
Precedent, in full and final satisfaction of its obligation
to pay the Unpaid
Purchase Price, Tatebrook assigns to Idogear all of its right, title and
interest in so much of the LAND Debt to
Tatebrook as set out in Item 2 of the
Schedule (Relevant Amount)."
<P>

28   	Item 2 of the above referred to schedule specified an
amount of $600,000 of the LAND Debt to Tatebrook of $2,339,758.56. The
expression "conditions precedent" was defined in clause 1 of the Idogear Deed
to mean "completion of the sale or re-financing of
Gordon Shops according to
Clause 8 of the Deed of Acknowledgment".
<P>

29   	Thus it can be accepted that the effect of the Idogear
Deed was to enable completion of the Carwoola Street Sale Agreement
by the
assignment on the part of the Defendant to Idogear Pty Limited of $600,000 of
the LAND Debt to Tatebrook, subject to there
being completion of a sale or
re-financing of the Gordon Shops "according to Clause 8 of the Deed of
Acknowledgment". 
<P>

30   	The Summary states that "the Carwoola Street Sale
Agreement was completed simultaneously with the sale of the Gordon shops"
(item
1.2). In relation to the Idogear Deed, the Summary states (in item 14):
<P>

"14.	The conditions precedent (as defined in the Idogear Deed of Assignment)
have been satisfied and accordingly on the First Stage
Completion Date
Tatebrook assigned to Idogear all its right, title and interest in so much of
the LAND Debt to Tatebrook as is set
out in Item 2 of the Schedule to the
Idogear Deed of Assignment (being $600,000). Otherwise the Idogear Deed of
Assignment continues
in full force and effect."
<P>

31   	In relation to the Summary, the Defendant places
particular emphasis on the fact that it was enclosed with the letter from
Woden
Contractors Pty Limited dated 18 November 1998 (AWB10) earlier referred to and
that this letter contained the significant final
paragraph precluding any
intention to waive, which I quote below. I do so, first quoting the earlier two
paragraphs to provide context:
<P>

"We note that your views differ from ours as to the effect of the Deed of
Acknowledgment and the status of transactions contemplated
by it. It may be
that our further discussions will resolve these issues. Nevertheless, we think
it is important that you understand
the position of Woden Contractors Pty
Limited and Woden Constructions Pty Limited (Wodens) in relation to the Deed of
Acknowledgment
and the transactions contemplated by it.
<P>

We summarise the current status of transactions contemplated by the Deed of
Acknowledgment and associated documents, (using the
headings and defined terms
used in the Deed of Acknowledgment for convenience), on the attachment to this
letter.
<P>

This letter and the attachment do not waive, limit or vary any rights Wodens
may have under the Deed of Acknowledgment or any other
document referred to in,
or contemplated by it."
<P>

<b>THE CONTENTIONS OF THE PARTIES</b>
<P>

<b>The Plaintiff's Case</b>
<P>

32   	By reference to the foregoing facts, the relevant
agreements, and the Summary the Plaintiff contends that the Carwoola Street
Sale Agreement and Idogear Deed of Assignment must be treated <i>as if</i>
completed as at the First Stage Completion Date. This, it is said, necessarily
presupposes that those transactions could only have
been completed by that date
if the contractual necessity for the Gordon shops to be the subject of a
completed sale or re-financing
by the First Stage Completion Date were waived.
The argument is said to be supported by the fact that the transactions the
subject
of the documents entered into on 17 September 1997 were
interconnected.
<P>

33   	If then that condition were waived, the Plaintiff contends
that it was not open to the Defendant to selectively waive nor
does the
evidence suggest any selective waiver. Thus the Plaintiff contends that there
is at least a plausible contention requiring
further investigation that the
consequence of the conduct of the Defendant to which reference has been made
was to waive the need
to satisfy condition precedent 13.3(a) of the Deed of
Acknowledgment or, at least, to waive the requirement for it to be fulfilled
by
the First Stage Completion Date. 
<P>

34   	The Plaintiff further contends that Master McLaughlin
incorrectly perceived the Plaintiff to be asserting that the waiver
was
constituted by the Summary. The conduct grounding waiver relied upon by the
Plaintiff is said to be antecedent to the Summary
being produced. It consists
of (late) completion of the Carwoola Street Sale Agreement and the completion
of the Idogear Deed, that
is after the First Stage Completion Date <i>in
fact</i>.
<P>

35   	The Plaintiff however also contends that the effect of the
Summary, read with the related documents, is that the conditions
precedent must
be taken to have been satisfied; see clause 14 quoted above. It adds that the
purported exclusion of waiver in the
last paragraph of the accompanying letter
does not alter that result.
<P>

36   	It is convenient that I deal with the arguments pertaining
to this first condition (a), before turning to condition (e), though
it should
be noted that non-fulfilment of either condition would be fatal to the
Plaintiff's case.
<P>

37   	I first set out more fully the detailed steps,
cross-referenced to relevant clauses, in the Plaintiff's argument for waiver
or
for conventional estoppel.
<P>

(i)	Concededly the Gordon shops were actually sold <i>after</i> the First Stage
Completion Date of 31 October 1997, namely on 3 December 1997; see clause 1.1
of the Summary.
<P>

(ii)	That sale, acknowledged then to have taken place in clause 1.1 of the
Summary could only be completed if the Carwoola Street
Sale Agreement were
simultaneously completed; see clause 8.3 of the Deed of Acknowledgment.
According to clause 1.2 of the Summary,
the Carwoola Street Sale Agreement was
completed simultaneously with the sale of the Gordon shops.
<P>

(iii)	To complete the Carwoola Street Sale Agreement, the purchase money had to
be paid pursuant to the Idogear Deed, such payment
being effected by assignment
of "the Relevant Amount", viz a debt of $600,000; see Recital C and clause 4 of
the Idogear Deed.
<P>

(iv)	That assignment of the debt of $600,000 must be taken to have occurred, by
force of clause 3.1 of the Idogear Deed, though
the assignment there expressed
is "subject to the Conditions Precedent". See clause 1.2 of the Summary
reinforced by clause 14 where
it is said 
<P>

"... Tatebrook assigned to Idogear all its right, title and interest in so much
of the LAND Debt to Tatebrook as set out in item
2 of the schedule to the
Idogear Deed of Assignment (being $600,000)."
<P>

(v)	The Conditions Precedent referred to above are defined by clause 1 of the
Idogear Deed and "means completion of the sale or
re-financing of the Gordon
shops according to clause 8 of the Deed of Acknowledgment". That in turn meant
that the Gordon shops sale
had to be completed by 31 October 1997
simultaneously with completion of the Carwoola Street Sale.
<P>

(vi)	The end result of the foregoing is either
<P>

(a)	that the fact or conduct of the Defendant in actually completing late the
sale of the Gordon shops and the Carwoola Street Sale
Agreement (as recorded in
the Summary) sufficiently substantiates a plausible contention requiring
further investigation that completion
by 31 October 1997 (the First Stage
Completion Date required by the Lidoform Share Sale Agreement incorporating
clause 13 of the
Deed of Acknowledgment) was either waived or the parties acted
in accordance with a shared assumption giving rise to conventional
estoppel
that completion was effected by that time, or
<P>

(b)	that in any event, the Summary amounts to an express waiver or sufficiently
substantiates a conventional estoppel.
<P>

<b>The Defendant's Response</b>
<P>

38   	The Defendant deals first with the argument that the
Master incorrectly perceived the Plaintiff to be asserting that the waiver
was
constituted by the Summary. The Plaintiff's assertion is that the conduct
relied upon as giving rise to the waiver or conventional
estoppel, was
antecedent to the Summary being produced, and consisted of actual late
completion of the Carwoola Street Sale Agreement
and completion of the Idogear
Deed. But the fundamental problem with that contention is that the only
evidence put forward by the
Plaintiff that the assignment of debt pursuant to
the Idogear Deed of Assignment occurred on 31 October 1997 -- or as I would put
it, must be taken then to have occurred by reason of waiver or conventional
estoppel -- is the letter dated 18 November 1998 read
with clause 14 of the
Summary. As independently thereof there is no factual assertion by the
Plaintiff that the necessary assignment
of the debt occurred pursuant to the
Idogear Deed of Assignment on 31 October 1997 then, contrary to the Plaintiff's
assertion, the
Plaintiff could not rely on the anterior conduct but only on the
letter and Summary and its contrariety with what in fact occurred.
<P>

39   	I turn therefore to the effect of the letter dated 18
November 1998 which enclosed the Summary, against the background of
the
documentation earlier referred to. It must be remembered, that the onus on the
Plaintiff remains one of establishing "sufficient
prima facie plausibility to
merit further investigation as to [its] truth, or whether it constitutes "a
patently feeble legal argument
or an assertion of facts unsupported by
evidence", as cited by McLelland CJ in Eq in <i>Eyota Pty Limited</i> (supra)
at 787. Is it a patently feeble argument to contend that, in the context of
what in fact occurred, this Summary gives rise
to waiver, or substantiates a
conventional estoppel precluding reliance on non-fulfilment of the relevant
conditions? By conventional
estoppel is meant a shared assumption from which it
would be unconscionable to permit departure. In <i>Gillford Pty Ltd v Burdon
Pty Ltd</i> (FCA, 1 December 1995, unreported) Hill J at para 36-38, Whitlam J
agreeing suggested that such a legal question can on occasion
be determined.
Thus accepting the interlocutory character of such determinations nonetheless
where the position of any party is obviously
untenable, to the point where
summary judgment (or a strike out application) could not be resisted, the Court
may dispose of the
point:
<P>

"37.	An analogy can be drawn from cases where summary judgment is resisted. The
general rule is that a party is not to be denied
a trial unless the absence of
a cause of action or defence is clearly demonstrated. The question is often
said to be whether a defence
is so obviously untenable that it can not possibly
succeed: <i>General Steel Industries Inc v Commissioner for Railways (NSW)</i>
<a href="http://www.austlii.edu.au/au/cases/cth/HCA/1964/69.html" title="View Case" class="autolink_findcases_inserted">[1964] HCA 69</a>;  <a href="/cgi-bin/LawCite?cit=%281964%29%20112%20CLR%20125" title="View LawCiteRecord" class="autolink_findcases">(1964) 112 CLR 125</a>, see at 129, <i>Dey v Victorian Railways Commissioners</i>
<a href="http://www.austlii.edu.au/au/cases/cth/HCA/1949/1.html" title="View Case" class="autolink_findcases_inserted">[1949] HCA 1</a>;  <a href="/cgi-bin/LawCite?cit=%281949%29%2078%20CLR%2062" title="View LawCiteRecord" class="autolink_findcases">(1949) 78 CLR 62</a> at 91.
<P>

38.	If the case is one which can be disposed of by determining a short question
of law, or perhaps a question of construction of
an instrument, this can be
done. Where facts may be in dispute, however, it would ordinarily be
inappropriate to proceed to determine
the merits. If the case is one where
there is a "plausible contention requiring investigation" the case will
ordinarily be one where
there is a "genuine dispute": <i>Eyota Pty Ltd v Havane
Pty Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281994%29%2012%20ACSR%20785" title="View LawCiteRecord" class="autolink_findcases">(1994) 12 ACSR 785</a> per McLelland CJ in Eq, <i>Delnorth Pty Ltd v
State Bank of New South Wales</i>  <a href="/cgi-bin/LawCite?cit=%281995%29%2017%20ACSR%20379" title="View LawCiteRecord" class="autolink_findcases">(1995) 17 ACSR 379</a> at 384."
<P>

40   	The distinct, intentional and knowing act required to
constitute waiver is brought out by the cases. In <i>Craine v Colonial Mutual
Fire Insurance Co Ltd</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1920/64.html" title="View Case" class="autolink_findcases_inserted">[1920] HCA 64</a>;  <a href="/cgi-bin/LawCite?cit=%281920%29%2028%20CLR%20305" title="View LawCiteRecord" class="autolink_findcases">(1920) 28 CLR 305</a> at 326, Isaacs J said:
<P>

"A waiver must be an intentional act with knowledge. First, some distinct act
ought to be done to constitute a waiver; next, it
must be intentional, that is,
such as either expressly or by imputation of law indicates an intention to
treat the matter as if the
condition did not exist or as if the forfeiture or
breach of condition had not occurred; and, lastly, it must be with
knowledge."
<P>

That passage was approved by Gibbs ACJ in <i>Deaves v CML Fire and General
Insurance Co Ltd</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1979/12.html" title="View Case" class="autolink_findcases_inserted">[1979] HCA 12</a>;  <a href="/cgi-bin/LawCite?cit=%281979%29%20143%20CLR%2024" title="View LawCiteRecord" class="autolink_findcases">(1979) 143 CLR 24</a> at 42. In <i>Commonwealth v Verwayen</i>
(1990) 170 CLR 394, Mason CJ said that "waiver is an intentional act done with
knowledge whereby a person abandons a right by acting
in a manner inconsistent
with that right" (at 406). Toohey J said that "waiver ... may be found in the
deliberate act of a defendant
not to rely upon a defence available to him" (at
473). See also per Brennan J (at 427), Dawson J (at 451), Gaudron J (at 485).
In
<i>Presmist Pty Ltd v Turner Corporation Pty Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281992%29%2030%20NSWLR%20478" title="View LawCiteRecord" class="autolink_findcases">(1992) 30 NSWLR 478</a> at
486, Cole J held that there was no waiver of a contractual provision because
there was no "specific, conscious, demonstrated surrender
of the right
conferred by cl 42 to cancel the contract".
<P>

41   	Often the construction of a document or the explanation of
conduct said to constitute such an express or implied waiver, or
to
substantiate a conventional estoppel, can give rise to a degree of doubt as to
its having that consequence. In those cases, it
would be inappropriate for the
present equivalent of interlocutory proceedings to attempt any final conclusion
resolving that doubt,
certainly in the case where the full extent of that
evidence is unlikely to be forthcoming before the substantive trial.
Essentially,
the Court has to decide whether the only possible conclusion in
the circumstances is that contended for by the party, here the Defendant,
whose
statutory demand is the subject of a claimed genuine dispute. It is not enough,
in other words, for the Defendant merely to
have the better of the argument at
this point unless the balance in favour of the Defendant could not be expected
to be affected
by further possible evidence as might substantiate a different
construction.
<P>

42   	The present case is one where the proposition of waiver or
conventional estoppel is based on the letter and Summary, as applied
to the
actual facts. As so advanced by the Plaintiff, I am satisfied that the argument
for waiver fails to rise even to the modest
level of a plausible contention
requiring further investigation, when regard is had to those documents
themselves in their context.
The starting point is the covering letter of 18
November 1998. It can be taken that Woden Contractors Pty Limited, the company
whose
director wrote the letter, is closely associated with the Defendant. That
letter states, as the Master has properly emphasised, that
"this letter and the
attachment do not waive, limit or vary any rights Wodens may have under the
Deed of Acknowledgment or any other
document referred to in, or contemplated by
it".
<P>

43   	It was acknowledged by the Plaintiff that the company
search earlier referred to of both the Defendant and of Woden Contractors
Pty
Limited (earlier included under the expression "Wodens" in the second paragraph
of the letter) disclosed that they shared a common
director and there was no
suggestion that Wodens was not here speaking for the Defendant as well. As I
have earlier pointed out,
Mr Fryer the director who signed the letter is also a
director of Tatebrook, the Defendant, and there is no issue taken as to the
share ownership in Tatebrook ultimately residing in the Woden group. Thus the
letter, including the disclaimer quoted as well as
the Summary which formed an
attachment, can be taken to embrace Tatebrook.
<P>

44   	The actual Summary apart from recording the actual date
that the Gordon shops were sold and the Carwoola Street Sale Agreement
was
completed as being 3 December 1997, contains the important provisions of clause
4, not referred to in the Plaintiff's argument
at all:
<P>

"4.1	LAND AWB and JB entered into the Lidoform Share Sale Agreement as vendors
in favour of Contractors or its nominee as purchaser
on 17 September 1997. In
relation to that agreement 
<P>

(a)	Conditions Precedent 13.3(a), (c), (e) and (f) of the Deed of
Acknowledgment <b>have not been satisfied</b>;
<P>

(b)	The Conditions Precedent to completion of the Lidoform Share Sale Agreement
set out in clause 13.3(a), (c) and (e) of the Deed
of Acknowledgment can no
longer be satisfied <b>as timing requirements relating to those Conditions
Precedent are not capable of being satisfied</b>; and
<P>

(c)	The release in clause 13.4 of the Deed of Acknowledgment has not taken
effect."  
<P>

[my emphasis]
<P>

45   	There could hardly be a clearer or more emphatic statement
that the relevant condition precedent not only has not been satisfied
but can
no longer be satisfied with the consequence that the release has not taken
effect and cannot now take effect.
<P>

46   	But then finally one comes to clause 14 which, for
convenience, I quote again: 
<P>

"The Conditions Precedent (as defined in the Idogear Deed of Assignment) have
been satisfied and accordingly on the First Stage
Completion Date, Tatebrook
assigned to Idogear all its right, title and interest in so much of the LAND
Debt to Tatebrook as is set
out in item 2 of the schedule to the Idogear Deed
of Assignment (being $600,000). Otherwise the Idogear Deed of Assignment
continues
in full force and effect."
<P>

47   	Significantly, the Conditions Precedent are referred to as
being "as defined in the Idogear Deed of Assignment". In the Idogear
Deed of
Assignment, Conditions Precedent means "completion of the sale or re-financing
of the Gordon shops according to clause 8
of the Deed of Acknowledgment" --
with clause 8 in turn picking up the sale of the Gordon shops by the First
Stage Completion Date,
with that sale only being able to be completed if
simultaneously the Carwoola Street Sale Agreement is completed.
<P>

48   	Thus clause 14 if it is to be reconciled with clause 4
treats the Conditions Precedent as fulfilled only for the purposes
of there
being an effective assignment of the $600,000 LAND Debt to Tatebrook, but with
the very clear and distinct express provision
in clause 4 that the actual
Conditions Precedent in clause 13 of the Deed of Acknowledgment not only have
not been satisfied but
can no longer be satisfied, with the consequence that
the release in clause 13.4 has not taken effect.
<P>

49   	Such a reconciliation avoids clause 14 being in direct
contradiction to so clearly stated an express provision as clause 4,
dealing as
it does with the very issue of fulfilment of the relevant Condition Precedent.
But whatever be the meaning of clause 14,
the letter of 18 November 1998 in its
concluding paragraph in any event dispels any notion that clause 14 was
intended to constitute
a waiver. The letter (last para) affirms the very
opposite. The parties quite clearly are not behaving as if their rights were
varied
or waived in treating the condition in clause 13.3(a) of the Deed of
Acknowledgment as having been satisfied, when first the reality
was that it had
not and second, the letter disclaims any such intention. By the same reasoning,
any shared assumption to the effect
that condition (a) was fulfilled is clearly
negated.
<P>

50   	The Defendant finds further support for this conclusion in
clause 12 of the Lidoform Share Sale Agreement in requiring a written
waiver by
the party said to have waived. Thus clause 12.1 headed `Waiver and Variation"
provides 
<P>

"12.1	A provision of or a right created under this agreement may not be:
<P>

(a)	waived except in writing signed by the party signing the waiver; or
<P>

(b)	varied except in writing signed by the parties."
<P>

Then under clause 12.4 it is stated:
<P>

"12.4	A provision of or a right created under this agreement may not be:
<P>

(a)	waived except in writing signed by the party granting the waiver; or
<P>

(b)	varied except in writing signed by the parties."
<P>

51   	To this the Plaintiff responds that there is no
corresponding provision in the Deed of Acknowledgment, and the Deed of
Acknowledgment
is the source of the relevant conditions. The only provision in
the Deed of Acknowledgment is headed "Waiver" and provides as follows:

<P>

"25.	All conditions precedent in this deed are included for the benefit of
Contractors and Constructions and may be waived by those
parties (but not by
any other party) in which case the condition precedent waived will be taken to
have been satisfied."
<P>

52   	One may take Woden Contractors and Woden Constructions
because of their close association with Tatebrook, as capable of representing
Tatebrook in the letter and Summary. But when it comes to a formal waiver this
must, if under the Lidoform Share Sale Agreement,
be signed in writing by the
actual party, here Tatebrook. And the right to require fulfilment of the
Condition Precedent arises <i>under</i> the Lidoform Share Sale Agreement,
notwithstanding that the Conditions Precedent are incorporated by reference to
another document,
namely the Deed of Acknowledgment. That is borne out by the
reasoning elaborated below.
<P>

53   	Thus first to put matters in context, the basic
transaction as evidenced by this complex of agreements was the sale of shares
in Lidoform under the Lidoform Share Sale Agreement, in consideration of
(relevantly) a release of debt owed by Land to Tatebrook.
The fundamental
transaction document was the Lidoform Share Sale Agreement, with clauses 2 and
3 of that document describing that
basic transaction. Clause 4 then provides
that, "completion is conditional on satisfaction of the Conditions Precedent on
or before
the Second Stage Completion Date."
<P>

54   	Accordingly, when the basic transactional document
provides that completion is conditional upon the satisfaction of Conditions
Precedent and the right asserted is the release which is obtained only on
completion, that is properly described as "a right created
under this
agreement" within the meaning of clauses 12.1 and 12.4 of the Lidoform Share
Sale Agreement.
<P>

55   	There is no reason to doubt the efficacy of clauses which
define the circumstances in which a waiver is to be taken to have
been
effected; in particular when they require for that purpose that the waiver be
in writing signed by the party actually granting
the waiver, as the Lidoform
Share Sale Agreement expressly provides. The Plaintiffs attempt to introduce
the analogy of cases requiring
that all <i>variations</i> are to be in writing
(see Halsbury Laws of Australia Vol. 6 "Contract" para 110-697) is not to the
point. Thus, as the Defendant
said in its written submissions of 27 May
1999:
<P>

"However, a clause which provides that any <i>waiver</i> is to be in writing is
of different effect. Such a clause consensually restricts or qualifies the
unilateral conduct of one party
which would otherwise amount to waiver by that
party, and is effective in its terms. An illustration is <i>Tricontinental
Corporation Ltd v HDFI Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281990%29%2021%20NSWLR%20689" title="View LawCiteRecord" class="autolink_findcases">(1990) 21 NSWLR 689</a>, in which a contractual
obligation to demand payment was expressed to be dependent upon an event of
default occurring in respect
of which "Tricontinental has not waived that
particular Event of Default by notice in writing" (see clauses 2.2.1(a) and
(b), reproduced
at 711). Samuels JA, one of the majority judges of appeal, was
able to "put the question of waiver to one side as there was no written
notice
to Selkis to this effect" (at 702A). (Such a clause does not preclude an
effective oral election between two inconsistent
choices: <i>R v Paulson</i>
 <a href="/cgi-bin/LawCite?cit=%5b1921%5d%201%20AC%20271" title="View LawCiteRecord" class="autolink_findcases">[1921] 1 AC 271</a> at 282-283; <i>Canberra Advance Bank Ltd v Benny</i> <a href="http://www.austlii.edu.au/au/cases/cth/FCA/1992/530.html" title="View Case" class="autolink_findcases_inserted">[1992] FCA 530</a>;  <a href="/cgi-bin/LawCite?cit=%281992%29%2038%20FCR%20427" title="View LawCiteRecord" class="autolink_findcases">(1992) 38
FCR 427</a> at 440. Although an election is sometimes loosely called waiver, the
species of waiver of present relevance is the unilateral conduct
of a party to
forego a right which is to its exclusive benefit. There having been no agreed
variation of the contract, no waiver
of this type is available absent
writing.)"
<P>

56   	The Master in his judgment (para 28) correctly states that
what is absolutely clear about waiver is that it is "an intentional
act, and
cannot arise in the face of express opposition by the alleged waiving party to
the effecting of such a waiver"; see authorities
in para 40 above. The letter
of 18 November 1998 is thus the clearest preclusion of any intention to waive.
Conventional estoppel
likewise requires the alleged common assumption to be
unambiguously and precisely established whether it be by representation or
implicitly from conduct; <i>Grundt v Great Boulder Gold Mines Pty Ltd</i>
<a href="http://www.austlii.edu.au/au/cases/cth/HCA/1937/58.html" title="View Case" class="autolink_findcases_inserted">[1937] HCA 58</a>;  <a href="/cgi-bin/LawCite?cit=%281937%29%2059%20CLR%20641" title="View LawCiteRecord" class="autolink_findcases">(1937) 59 CLR 641.</a> Here the letter and Summary preclude any such
<i>unambiguously</i> established assumption. 
<P>

<b>CONCLUSION</b>
<P>

57   	I concur with the Master's conclusion that the first
Condition Precedent contained in clause 13.3(a) was not fulfilled, with
the
consequence that the Deed of Release could not take effect. The legal argument
is "patently feeble" that waiver took place or
that a conventional estoppel can
be found, which precludes reliance on condition (a). There is no plausible
contention to the contrary
requiring further investigation. Though not put
precisely in those terms, the Master's decision was clearly enough to that
effect.
I am satisfied he had proper grounds so to conclude. That conclusion of
itself is sufficient to dispose of the present proceedings,
though I should
also refer briefly to the condition contained in clause 13.3(e).
<P>

58   	It is common ground that the "Tax Claims" have not been
compromised at all, let alone to the satisfaction of the contractors.
It is
also common ground that the Second Stage Completion Date has long since past.
The Plaintiff contends that notwithstanding this,
condition (e) either ceased
to be operative or, if it were operative, compliance with it was waived. The
basis of that submission
is that the Defendant failed to use reasonable
endeavours to achieve the compromise with the Australian Tax Office. This is
based
on there being an implied obligation on the part of Woden Contractors to
use reasonable endeavours to conclude negotiations with
the ATO and that, where
Woden Contractors failed to do so, its affiliated company Tatebrook cannot be
permitted to take advantage
of the wrong committed by Woden Contractors; see
<i>TCN Channel 9 v Hayden Enterprises Pty Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281989%29%2016%20NSWLR%20130" title="View LawCiteRecord" class="autolink_findcases">(1989) 16 NSWLR 130</a> at 147;
<i>Suttor v Gundowda Pty Limited</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1950/35.html" title="View Case" class="autolink_findcases_inserted">[1950] HCA 35</a>;  <a href="/cgi-bin/LawCite?cit=%281950%29%2081%20CLR%20418" title="View LawCiteRecord" class="autolink_findcases">(1950) 81 CLR 418</a> at 441. That proposition
can be accepted.
<P>

59   	The Plaintiff then relies upon the fact that the tax claim
was large and the two offers put to the ATO were a payment of first
$100,000
and then $200,000, while the ATO countered with a proposal of $1,655,847.10.
The evidence is thus that there was a very
great gulf between taxpayer and the
ATO. There would still however be difficulties in Land establishing that Woden
Contractors did
not use reasonable endeavours. There is also the further
question as to whether the doctrine of not taking advantage of one's own
wrong
applies where the wrong is committed by an affiliate. However, now to attempt
to resolve such an issue of whether all reasonable
endeavours were carried out
would be to do so where further evidence is likely to affect the result. That
evidence crucially needs
to deal with the relative strength of the tax
commissioner's case, and there was no evidence from either party on that --
understandably
enough, as such a level of detail is not for this stage of
proceedings. It would therefore be premature to conclude that there was
not
even a plausible contention requiring further investigation on that matter,
even if the case be close to the line. In all the
circumstances, I would with
respect, differ from the Master in concluding that there is not on this
condition (e) scope for a genuine
dispute. 
<P>

60   	That of course does not make any difference to the result,
as I have already concluded that the Master was correct in determining
that
there could be no genuine dispute overall as to the debt the subject of the
Statutory Demand. This is because the Conditional
Precedent for the release of
the relevant debt contained in clause 13.3(a) of the Deed of Acknowledgment was
never fulfilled and
could not now be fulfilled and there is no basis for a
plausible contention requiring further investigation as to waiver or
conventional
estoppel. In those circumstances the relevant debt must be both
due and payable.
<P>

<b>CONCLUSION</b>
<P>

61   	The appeal from Master McLaughlin is dismissed.
<P>

					**********
<P>

LAST UPDATED: 	06/07/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/669.html</i><br>
</p>
</small>
</body>
</html>
