<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Malcolm Carr v Trevor Neill [1999] NSWSC 1263 (17 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1263</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1263 or 1999+NSWSC+1263">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Malcolm Carr v Trevor Neill [1999] NSWSC 1263 (17 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1263.html-->
<!--sino date 17 December 1999-->


<P>Last Updated: 20 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Malcolm CARR v Trevor NEILL  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1263.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1263</a>
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	10880/99
<P>

HEARING DATE{S): 	11 November 1999
<P>

JUDGMENT DATE: 	17/12/1999
<P>

 PARTIES: 
<P>

Malcolm Carr
<P>

Trevor Neill
<P>

JUDGMENT OF: 	Sully J      
<P>

LOWER COURT JURISDICTION: 	Local Court
<P>

LOWER COURT FILE NUMBER(S): 	80313/96
<P>

LOWER COURT JUDICIAL OFFICER: 	Price LCM
<P>

COUNSEL: 
<P>

M. J. Watts - Appellant
<P>

G. Kennedy - Respondent
<P>

SOLICITORS: 
<P>

R. D. Black &amp; Associates - Appellant
<P>

North Shore Legal Solicitors - Respondent
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act 1970</a> (NSW)
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act 1902</a>
<P>

Justices Legislation Amendment (Appeals) Act 1998
<P>

<a href="http://www.austlii.edu.au/au/legis/cth/consol_act/adra1977396/" class="autolink_findacts">Administrative Decisions (Judicial Review) Act 1977</a> (C'th)
<P>

DECISION: 
<P>

Appellant's summons dismissed with costs
<P>

JUDGMENT: 
<P>

<b>SUPREME COURT OF</b>
<P>

<b>NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>SULLY J</b>
<P>

<b>17 December, 1999</b>
<P>

<b><u>10880/99 - Malcolm CARR  v  Trevor NEILL</u></b>
<P>

<b><u>JUDGMENT</u></b>
<P>

1  	<b>HIS HONOUR:</b>   Mr. Malcolm Carr, to whom I shall
hereinafter refer as `the appellant', and Mr. Trevor Neill, to whom I shall
hereinafter refer
as `the respondent', are both solicitors of this Court. They
have become embroiled in litigation stemming from a proposal for the
sale by
the respondent to the appellant of a legal practice formerly carried on by the
respondent.
<P>

2  	That litigation commenced with the issue on 19 September 1996 of
an Amended Statement of Liquidated Claim brought by the respondent
as plaintiff
against the appellant as defendant. The respondent claimed a sum of $31,250
<i>"being the balance of moneys payable by the ......(appellant) ......to the
... ... (respondent) ... ...  pursuant to an agreement
between ......(the
respondent) ...... and ......(the appellant) ... ... executed by .....(the
respondent) ......and ......(the appellant)
..... on or about the 3 May 1994
......"</i>. The claim alleged an agreement for the sale by the respondent to
the appellant of the former's legal practice for a sum of $100,000.
It was
alleged that the appellant had agreed to pay the purchase price, as to the sum
of $50,000 on 1 July 1994; and as to the balance
of $50,000 by eight equal
instalments of $6,250 each upon certain nominated days commencing with 1
October 1994 and ending with 1
July 1996. It was alleged that the appellant had
paid the first three of such eight instalments; but had failed to pay the
remaining
five instalments.
<P>

3  	The proceedings thus commenced were vigorously defended. They
proceeded to a vigorously contested hearing at the Downing Centre
Local Court
before Mr. M. Price LCM. Evidence and submissions occupied no less than four
hearing days, on 8, 11 and 12 November 1998
and 1 March 1999. The learned
Magistrate reserved his decision, giving eventually, and on 19 March 1999,
judgment for the respondent
in the amount claimed.
<P>

4  	On 14 April 1999 the appellant filed in this Court a summons
seeking that the judgment of the Local Court be set aside and replaced
by a
judgment in his favour; or, alternatively, by an order that there be a new
trial; and that there be appropriate ancillary orders
as to costs and
otherwise.
<P>

5  	The submissions for the appellant postulated as follows the
questions which are said by the appellant to arise for the determination
of
this Court:
<P>

<i>"1.	Was the Respondent in a position, either as owner or as legal
representative, to sell the legal practice to the Appellant?</i>
<P>

<i>2.	If the answer to the previous question is yes, did the Appellant and the
Respondent, by signing the Heads of Agreement on 3 May,
1994, intend to enter
into a legally binding agreement for the sale of the legal practice?</i>
<P>

<i>3.	If the answer to the previous question is yes, did the parties complete
the agreement for the sale of the legal practice so that
the Respondent is
entitled to the purchase price of $100,000? In particular, (a) did the
Appellant complete the pre-completion audit
referred to in the Heads of
Agreement dated 3 May, 1994; (b) did the Respondent transfer to the Appellant
the goodwill as referred
to in the proposed Agreement for Sale; and (c) had the
respondent discharged all other obligations imposed upon him by the terms
of
the Heads of Agreement, </i>
<P>

<i>so that the Respondent was thereby entitled to the sale price of
$100,000?</i>
<P>

<i>4.	Was His Worship's finding that a pre-completion audit as required by
clause 3.2 of the Agreement `for all its imperfections' took
place on 21 April,
1994 so against the weight of evidence that it was a perverse finding of fact
and amounted to an error of law?"</i>
<P>

6  	The way in which the foregoing questions have been framed makes
it necessary to fix with some precision the actual jurisdiction
of this Court
in connection with the present appeal.
<P>

7  	The appellate jurisdiction of this Court as now invoked is
conferred by s.69 of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act 1970</a> (NSW)</b>.
That section provides, relevantly:
<P>

<i>"69(1)	Subject to sub-section (2), all judgments and orders of a court
exercising jurisdiction under this Act shall be final and conclusive.
</i>
<P>

<i>(2)	A party to proceedings under this Act who is dissatisfied with the
judgment or order of the court as being erroneous in point
of law, may appeal
to the Supreme Court therefrom.</i>
<P>

<i>(2A)...........(not applicable)</i>
<P>

<i>(3)	The provisions of section 101 to section 115, both sections inclusive,
of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act 1902</a></b>, apply, to the extent to which they are
applicable, to appeals under sub-section (2) in the same way as they apply to
appeals to
the Supreme Court under those provisions."</i>
<P>

8  	<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s101.html" class="autolink_findacts">Sections 101</a> to 115 inclusive of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></b> make up
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/index.html#p5" class="autolink_findacts">Part 5</a> of that Act. Part 5 governs, so far as is now relevant, appeals to this
Court in connection with judgments of the kind now in question.
Section 102
deals in general terms with the applicability of Part 5. That section provides,
relevantly:
<P>

<i>"(3)	This Part, to the extent to which it is not inconsistent with any other
Act, applies to any order of a magistrate made under
another Act against which:
(a) an appeal is provided for under the other Act to the Supreme Court,
........."</i>
<P>

9  	Section 104 prescribes the circumstances in which certain
nominated categories of judgment or order may be brought on appeal
to this
Court and pursuant to Part 5. Section 104(1) deals with appeals by defendants.
Section 104(2) deals with appeals by informants.
Section 104(3) deals with
appeals in relation to committal proceedings. Section 104(4) deals with appeals
in relation to interlocutory
orders. Section 104(5) deals with appeals by
parties to civil proceedings. Of these various provisions, only sub-sections
(1) and
(5) are relevant. They provide as follows:
<P>

<i>"(1)	A person against whom any conviction or order was made, or sentence was
imposed, by a Magistrate in summary proceedings may appeal
under this Division
to the Supreme Court on any of the following grounds: (a) a ground that
involves a question of law alone, (b)
a ground that involves a question of
mixed law and fact, but only with the leave of the Supreme Court, (c) the
ground that the conviction,
order or sentence cannot be supported having regard
to the evidence.</i>
<P>

<i>This sub-section does not apply in respect of an order that is made in
relation to committal proceedings or an interlocutory
order.........................................</i>
<P>

<i>(5)	A party to any proceedings under the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act
1970</a></b> may appeal under this Division to the Supreme Court as provided for by
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/s69.html" class="autolink_findacts">section 69</a> of that Act."</i>
<P>

10  	It was submitted for the appellant that sub-sections (1) and (5)
are to be read together, with the consequence that the jurisdiction
conferred
by section 69(2) of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act</a></b> has been
expanded so as to encompass the jurisdiction that is conferred by the various
paragraphs (a), (b) and (c) of sub-section
1.
<P>

11  	In my opinion, this submission is unsound. It is unsound
because, in my opinion, it cuts across the plain provisions of section
102(3).
It would be entirely inconsistent with the plain provisions of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/s69.html" class="autolink_findacts">section 69(2)</a> of
the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act 1970</a></b> to treat an appeal brought to
this Court under that very limited and particular provision, as having been
extensively expanded by
the provisions of sub-section 104(1) of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices
Act</a></b>. 
<P>

12  	In that connection it is to be borne in mind that <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/index.html#p5" class="autolink_findacts">Part 5</a> of the
<b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></b> as it now stands is a substitution for a previous <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/index.html#p5" class="autolink_findacts">Part 5.</a>
The substitution was effected by the <b>Justices Legislation Amendment
(Appeals) Act 1998</b>. The broad legislative purpose of that amending statute
was to simplify the machinery for the bringing of appeals from, relevantly,
Local Courts exercising civil jurisdiction, to this Court. The true
relationship between section 69 of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act</a></b>,
and <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/index.html#p5" class="autolink_findacts">Part 5</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></b> is, in my opinion, that <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s69.html" class="autolink_findacts">section 69</a> of the
<b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act</a></b> confers the jurisdiction which is
relevant to the present case; while <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/index.html#p5" class="autolink_findacts">Part 5</a>, and in particular section 104, of
the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></b> provides the procedural machinery by means of which a
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s69.html" class="autolink_findacts">section 69</a> appeal is to be brought in fact before this Court.
<P>

13  	I propose, therefore, to deal with the present appeal upon the
basis that it lies properly to this Court only in so far as
the judgment from
which the appeal is now brought is shown to have been <i>"erroneous in point of
law"</i>. 
<P>

14  	Just as it is important to be clear, in connection with the
present appeal, as to the true nature and scope of the available
appeal to this
Court, so also it is necessary to be clear about what is conveyed by the
expression, used in <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s69.html" class="autolink_findacts">section 69</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act</a></b>;
<i>"erroneous in point of law"</i>.  The question has been considered in a
number of reported decisions. It is useful to take note of some, in particular,
of them.
<P>

15  	In <b>Australian Gaslight Co v Valuer-General </b><a href="http://www.austlii.edu.au/au/cases/nsw/NSWStRp/1940/9.html" title="View Case" class="autolink_findcases_inserted">[1940] NSWStRp 9</a>;  <a href="/cgi-bin/LawCite?cit=%281940%29%2040%20SR%20%28NSW%29%20126" title="View LawCiteRecord" class="autolink_findcases">(1940) 40 SR
(NSW) 126</a>, a case concerned with a particular question of statutory
construction, Jordan CJ considered the nature and the limitations of an
appeal
which is permitted only as to a question of law. His Honour collected a number
of propositions which he had extracted from
a large number of authorities.
Looking only at those propositions which are relevant to the present appeal,
and omitting the detailed
references to earlier decisions, Jordan CJ states the
following propositions:
<P>

<i>"(3)	A finding of fact by a tribunal of fact cannot be disturbed if the
facts inferred by the tribunal, upon which the finding is
based, are capable of
supporting its finding, and there is evidence capable of supporting its
inferences. </i>
<P>

<i>(4)	Such a finding can be disturbed only (a) if there is no evidence to
support its inferences, or (b) if the facts inferred by it
and supported by
evidence are incapable of justifying the finding of fact based upon those
inferences, or, (c) if it has misdirected
itself in law." </i> <a href="/cgi-bin/LawCite?cit=40%20SR%20%28NSW%29%20138" title="View LawCiteRecord" class="autolink_findcases">[40 SR (NSW),
138]</a>
<P>

16  	In <b>Poricanin v Australian Consolidated Industries Ltd</b>
(1979) 2 NSW 419, the Court of Appeal considered an appeal by an unsuccessful
applicant for compensation in the Workers' Compensation
Commission. Such an
appeal was available only as to a question of law. Hope and Glass JJA said:
<P>

<i>"There was evidence both ways and his Honour was not persuaded that a causal
relationship had been established. It was argued that
he was guilty of an error
of law, because the reasons he gave for finding against the applicant involved
a misconception of the evidence.
Where, however, the party bearing the onus
fails to persuade the tribunal of fact, an alleged error in the evaluation of
the evidence,
even if it extends to the point of perversity, is no more than an
error of fact." </i>[  <a href="/cgi-bin/LawCite?cit=%281979%29%202%20NSWLR%20422F" title="View LawCiteRecord" class="autolink_findcases">(1979) 2 NSWLR, 422F]</a>&#180;
<P>

17  	And later:
<P>

<i>"Going to the facts of the present case, the applicant's evidence of an
offer to work and the refusal of that offer, having been accepted,
would, we
should have thought, have justified an inference that the applicant was ready,
willing and able to perform appropriate
light work offered to him. However, the
Commission was not bound to draw that inference as a matter of law. Likewise,
the evidence
of the applicant as to the work which he was willing to do was
evidence, which if accepted by the Commission, would have justified
or
supported the relevant finding, but the Commission was not bound, as a matter
of law, to accept that evidence. In declining to
draw the inference, and in not
accepting the applicant's evidence, the Commission may have been wrong in fact,
but even if its rejection
was so wrong as to be perverse, that rejection would
not have constituted an error of law." </i>[1979 2 NSWLR, 426E]
<P>

18  	In <b>Mahony v Industrial Registrar of New South Wales &amp;
anor</b> (1986) 8 NSW R1, the Court of Appeal had occasion to consider an
application for prerogative relief directed to the quashing or the
setting
aside of an order of the Industrial Registrar which order amended certain Trade
Union Rules.
<P>

19  	Hope JA said:
<P>

<i>"There are several lines of authority as to what constitutes an error of
law. A dominant rule is that a decision of fact which is
wrong, or even
unreasonable or perverse does not on that account involve an error of law.
..................Another line of authority,
which operates as it were as an
exception to the dominant rule, applies in relation to decisions of fact in
relation to the application
of a statutory description. In these cases there
may be an error of law if the decision on the facts is one which could not be
reasonably
entertained or supported if the tribunal had properly understood the
true construction of the relevant enactment." </i>[1986 8NSWLR, 2G-3B]
<P>

20  	Samuels JA said:
<P>

<i>"It was, however, submitted by the appellant that no reasonable tribunal
properly directed on the law could have come to the conclusion
reached by the
Registrar and that, in those circumstances, an error of law appears; and
reliance is placed upon <b>Edwards v Bairstow </b>[1956] AC14 and <b>R v
Medical Appeal Tribunal; Ex parte Gilmore </b><a href="http://www.bailii.org/ew/cases/EWCA/Civ/1957/1.html" title="View Case" class="autolink_findcases_inserted">[1957] EWCA Civ 1</a>;  <a href="/cgi-bin/LawCite?cit=%5b1957%5d%201%20QB%20574" title="View LawCiteRecord" class="autolink_findcases">[1957] 1 QB 574</a> at 582. But these
cases - and <b>Hope v Bathurst City Council </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1980/16.html" title="View Case" class="autolink_findcases_inserted">[1980] HCA 16</a>;  <a href="/cgi-bin/LawCite?cit=%281980%29%20144%20CLR%201" title="View LawCiteRecord" class="autolink_findcases">(1980) 144 CLR 1</a> at 7-8 - apply
only to the rather special situation where an ultimate finding of fact may
reveal error of law `if the primary facts
found are necessarily within or
outside a statutory description and a contrary decision has been made
.............', per Glass and
Samuels JJA in <b>Azzopardi v Tasman UEB
Industries Ltd</b>  <a href="/cgi-bin/LawCite?cit=%281985%29%204%20NSWLR%20139" title="View LawCiteRecord" class="autolink_findcases">(1985) 4 NSWLR 139</a> at 156. The judge was very hard on the
Registrar describing some of his findings `as such as to strain credulity' and
his reliance
upon certain factors as `nonsensical'. But he appears to have
appreciated that, apart from the type of case exemplified by <b>Edwards </b>and
<b>Rv Medical Appeal Tribunal; Ex parte Gilmore </b>and<b> Hope</b> even
perverse or unreasonable findings of fact do not constitute errors of
law:....................." </i>[  <a href="/cgi-bin/LawCite?cit=%281986%29%208%20NSWLR%201" title="View LawCiteRecord" class="autolink_findcases">(1986) 8 NSWLR 1</a> at 5B-D]
<P>

21  	The question now being considered received some attention in the
High Court of Australia in <b>Australian Broadcasting Tribunal v Bond and ors.
</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1990/33.html" title="View Case" class="autolink_findcases_inserted">[1990] HCA 33</a>;  <a href="/cgi-bin/LawCite?cit=%281990%29%20170%20CLR%20321" title="View LawCiteRecord" class="autolink_findcases">(1990) 170 CLR 321.</a> The Court was considering certain of the provisions of
the <b><a href="http://www.austlii.edu.au/au/legis/cth/consol_act/adra1977396/" class="autolink_findacts">Administrative Decisions (Judicial Review) Act 1977</a> (C'th)</b>. Mason
CJ, (Brennan J agreeing), said, (omitting from the following citation his
Honour's references to authority):
<P>

<i>"The question whether there is any evidence of a particular fact is a
question of law. Likewise, the question whether a particular
inference can be
drawn from facts found or agreed is a question of law. This is because, before
the inference is drawn, there is
the preliminary question whether the evidence
reasonably admits of different conclusions. So, in the context of judicial
review,
it has been accepted that the making of findings and the drawing of
inferences in the absence of evidence is an error of law. </i>
<P>

<i>But it is said that `[t]here is no error of law simply in making a wrong
finding of fact'. Similarly, Menzies J observed in <b>Reg v District Court; ex
parte White:</b></i>
<P>

<i>`Even if the reasoning whereby the Court reached its conclusion of fact were
demonstrably unsound, this would not amount to an error
of law on the face of
the record. To establish some faulty (e.g. illogical) inference of fact would
not disclose an error of law.'</i>
<P>

<i>Thus, at common law, according to the Australian authorities, want of logic
is not synonymous with error of law. So long as there
is <b>some</b> basis for
an inference - in other words, the particular inference is reasonably open -
even if that inference appears to have been
drawn as a result of illogical
reasoning, there is no place for judicial review because no error of law has
taken place.</i>
<P>

<i>On the other hand, there are statements in the English cases which support a
`no sufficient evidence' test in the context of judicial
review of findings of
fact. It remains to be seen whether these statements convey any more than a `no
probative evidence' test. So
far no occasion has arisen to determine whether
this is the case and, if so, whether the statements are to be seen as
expressing
 what is or should be the law of Australia on the topic. There are
also statements in the English cases which suggest that findings
and inferences
are reviewable for error of law on the ground that they could not be reasonably
made on the evidence or reasonably
drawn from the primary facts. Further, in
<b>Mahon v Air New Zealand</b> the Judicial Committee stated that natural
justice requires that `the decision to make [a] finding must be based upon
<b>some</b> material that tends logically to show the existence of facts
consistent with the finding and that the reasoning supportive of the
finding,
if it be disclosed, is not logically self-contradictory'. ...................
The approach adopted in these cases has not
so far been accepted by this
court."</i>  <a href="/cgi-bin/LawCite?cit=170%20CLR%20355%2d357" title="View LawCiteRecord" class="autolink_findcases">[170 CLR, 355-357]</a>
<P>

22  	I have thought it useful to explore, in the early stages of this
judgment, the foregoing principles of law in order to emphasise
the narrowness
of the appellate jurisdiction that the appellant now invokes. It will be
necessary, of course, to look presently at
the relevant detail of the learned
Magistrate's reasons for his Worship's judgment. But it is important to be
clear from the outset
of any such exercise that the present appellant cannot
succeed simply by pointing to findings of fact made by the learned Magistrate,
and by contending, however persuasively, that, in effect, the findings might
well have been made in favour of the appellant rather
than in favour of the
respondent. Nor will it be sufficient for the appellant to convince this Court
that, had the matter been before
this Court at first instance, findings of fact
would have been made in terms more favourable to the appellant than the
findings made
by the learned Magistrate. In so far as the judgment of the
learned Magistrate rests upon inferences of fact drawn by his Worship
from the
evidence before him, it will not be sufficient to sustain the present appeal
that the appellant can demonstrate that the
particular process of reasoning by
which the learned Magistrate arrived at the particular inference is apparently
illogical, provided
only that there is <i>some</i> evidence reasonably capable
of giving rise to the inference.
<P>

23  	All of those propositions having been set in place, it is
appropriate to turn, next, to a consideration of the factual issues
raised,
respectively, by the appellant and by the respondent at the hearing before the
learned Magistrate in the Local Court.
<P>

24  	It was not disputed in the Local Court that the appellant and
the respondent had in fact negotiated for the sale by the respondent
to the
appellant of the legal practice that was then being carried on by the
respondent. Nor was it disputed by either party that
the course of those
negotiations had brought into existence  three connected documents; and,
separately and later, a fourth document.
The issues for trial in the Local
Court turned, essentially, upon the construction of those documents. 
<P>

25  	The first of the documents in question is dated 3 May 1994. It
is headed: <i>"MEMORANDUM OF HEADS OF AGREEMENT'</i>. The parties to it are,
admittedly, the appellant and the respondent. The document is comparatively
short. Its operative provisions
read as follows:
<P>

<i>"1.	The parties have agreed that on the 1st day of July, 1994 they will
enter into and complete a Deed of Agreement for the Sale of
the Solicitor's
practice conducted by Trevor Neill.</i>
<P>

<i>The form and terms of the Deed to be executed on the 1st July, 1994 are
attached hereto and marked "A" and have been signed by the
parties for
identification.</i>
<P>

<i>2.	The parties have agreed that Trevor Neill will procure Vaderi Pty Limited
to enter into a Consultancy Agreement in the terms of
Deed attached hereto and
marked "B" and signed by the parties for identification.</i>
<P>

<i>3.	The parties have agreed that in consideration of their entering into the
agreements above referred to and in order to facilitate
a smooth finalisation
and transition of the practice into the hands of Malcolm Carr, Trevor Neill
will as and from the 30th day of
May 1994, commence to move such equipment,
files, phone numbers and other items connected with the sale of the business
premises
of Malcolm Carr and Forshaws Solicitors and will transfer the day to
day operation of his practice to those premises or vacate his
existing premises
at 2A Boyle Street, Sutherland.</i>
<P>

<i>4.	Trevor Neill will maintain and continue to operate the existing Trust
Account of Trevor Neill &amp; Company and will have such
account audited so as
to comply with the requirements of the Trust Account Regulations and will if
required by Malcolm Carr arrange
for an inspection by a Trust Account Inspector
of the Law Society of New South Wales, such inspection to be completed prior to
the
1st July, 1994."</i>
<P>

26  	The document to which reference is made in clause 1 as Annexure
"A" is a lengthy document running to some nine typewritten
pages. It is,
plainly, an agreement for the sale to the appellant by the respondent of the
latter's current practice as a solicitor.
The agreement nominates a purchase
price of $100,000. It provides for completion on 1 July 1994. It provides that
on the date of
completion the appellant will pay to the respondent the sum of
$50,000 on account of the purchase price, and will pay the balance
of the
purchase price by eight equal quarterly instalments on the first day of each of
eight nominated months. It provides that completion
of the agreement is
conditional upon the respondent's procuring the execution by a service company
of which he was, essentially,
the proprietor, to execute a Deed of Consultancy
agreement, a copy of which is annexed to the sale agreement. Save for one
clause,
it is not necessary to set out in detail the remaining provisions of
the sale agreement. It is sufficient to understand that they
are appropriate to
the sale of a legal practice; and that they provide for such obvious things as
the transfer of files, of accounts,
of services and the like.
<P>

27  	The one clause that needs to be set out in full is clause 3.2.
It appears in a portion of the sale agreement headed: <i>"PRIOR TO
COMPLETION"</i>. The clause reads as follows:
<P>

<i>"3.2	Before the date of completion [1st July 1994] the Vendor will allow Mr.
Martyn Betts Accountant to inspect books of accounts,
invoices, ledger, bank
deposit, bank statements, cash books and any files at their then location for a
pre-completion audit."</i>
<P>

28  	It is not necessary to set out in detail the contents of the
Deed of Consultancy. It is sufficient to note that there is in
that Deed a
recital of an <i>"agreement for sale made the 1st day of July, 1994
.............."</i>.
<P>

29  	The appellant did not dispute at the first instance hearing that
he and the respondent had signed on 3 May 1994 the Memorandum
of Heads of
Agreement; that the document had been dated as of that date; and that the
signatures had been witnessed by a third party.
Nor did the appellant dispute
that on that same occasion he had signed the sale agreement and the deed of
consultancy. The appellant
contended, and the respondent did not dispute, that
when all three of those documents were signed on 3 May 1994, only the
Memorandum
of Heads of Agreement was dated.
<P>

30  	The respondent's case at trial was that he had, between 3 May
1994 and 1 July 1994 put into effect the practical arrangements
that one would
suppose to be appropriate and necessary for the carrying into effect of the
sale of his then practice to the appellant.
It is not necessary to detail those
steps taken by the respondent. 
<P>

31  	The respondent's case was that on 1 July 1994 he had spoken to
the appellant, drawing the attention of the appellant to the
need to date as of
1 July the sale agreement. According to the respondent, the appellant had
replied, simply: <i>"Well you've got your money, you're alright aren't
you?"</i>. The respondent, he said, replied: <i>"Yes, but we should nonetheless
date the agreements as agreed. I am dating mine now."</i>. According to the
respondent the defendant did not reply; but the respondent himself then dated
both the sale agreement and the deed
of consultancy, inserting in each the date
of 1 July 1994.
<P>

32  	The appellant's case was that the Memorandum of Heads of
Agreement did not give rise to binding legal obligations. The appellant
contended that the document was nothing more than an agreement to make an
agreement; and that, as such, it gave rise to no enforceable
legal obligations
as between him and the respondent. The appellant's case as to the sale
agreement and the consultancy deed was that
he had signed such documents, not
as documents evidencing an agreement that had been concluded between himself
and the respondent,
but as documents indicating what they would agree in the
way of contractual engagements provided that, prior to 1 July 1994, a
pre-completion
audit, satisfactory to the appellant, was carried out in
connection with the then current financial worth of the respondent's practice.
The appellant gave extensive evidence at the Local Court hearing. The thrust of
the case that he sought to make is made clear in
the following extracts from
that evidence:
<P>

<i>"Q.	What obligations, legal obligations, came into effect on 3 May when you
signed the documents you signed that day, or when you
signed what you
signed?</i>
<P>

<i>A.	Well I only signed one document. I only signed the Memorandum of Heads of
Agreement. It incorporated by reference in schedules
further pieces of paper
which related to certain contingent arrangements. There was only one document
signed. </i>
<P>

<i>Q.	What legal obligations came into effect on 3 May 1994 in your
opinion?</i>
<P>

<i>A.	By legal obligations do you mean contractual obligations?</i>
<P>

<i>Q.	Actually yes.</i>
<P>

<i>A.	None </i>[T 1.3.99, 30 (35) - (50)]
<P>

<i>Q.	Tell me this Mr. Carr, do you contend that you had any contractual
obligations arising by any of the documents signed on 3 May
1994?</i>
<P>

<i>A.	All in fact no, although other arrangements were made and one of those
was that Trevor Neill moved his office into my office and
we commenced the
consultancy agreement on his move in.</i>
<P>

<i>Q.	So that would you say, sir, that Trevor Neill equally had no obligations
arising by reference to the documents executed on 3 May?</i>
<P>

<i>A.	The answer's yes." </i>[T, 1.3.99, 33(20)-(30)]
<P>

<i>A.	..................Ah, the contract is structured, it is not like, I
didn't draw this contract up, this contract is structured to
assist Trevor
Neill. It is not intended that it will be signed before 1 July but he wants it
signed and executed then quickly after
that. What I have to do on him
presenting certain material to me which related me to do with due diligence, is
to then satisfy myself.
Upon being satisfied the way the contract is structured
I then sign the contract to enter in to it. The reason I didn't sign it on
1
July because I hadn't got the material." </i>[T, 1.3.99 36 (55) - 37 (5)
<P>

33  	In these passages the appellant was attempting to assert the
cardinal point of his case, which point was that the entirety
of the
transaction contemplated by all three of the documents of which I have
previously been speaking, was that they would have
no operative effect unless
and until he, the appellant, had been satisfied by an independent
pre-completion audit that the worth
to him of the respondent's practice
justified the price that he would eventually pay for it. It was a cardinal
feature of the appellant's
case at first instance that he had never agreed to a
fixed purchase price; but had at all times insisted in his dealings with the
respondent that the purchase price should be one related to the independently
audited fee-generating capacity of the respondent's
practice. 
<P>

34  	The appellant gave, during the course of his lengthy
cross-examination, a very long answer in which he outlined in great detail
the
nature of the practice records which he saw himself as needing to have
inspected and audited before he could be in a position
to negotiate a final
purchase price for the practice. The answer is at T.43, 1.3.99, 43(20) - (55).
I will not set it out at length;
but will observe that it goes, I should have
thought, far, far beyond anything contemplated in clause 3.2 of the sale
agreement to
which I have earlier referred.
<P>

35  	At the Local Court hearing it was not disputed that the
respondent had in fact undertaken work in accordance with the deed
of
consultancy earlier herein mentioned. Nor was it disputed that, as the
relationship between the appellant and the respondent steadily
deteriorated
throughout the second half of 1994, it became apparent to both parties that the
deed of consultancy ought to be terminated.
<P>

36  	The undisputed evidence was that on 10 January 1995 both the
appellant and the respondent executed a Deed terminating the consultancy
arrangement previously on foot. Two provisions of the Deed are of present
significance.
<P>

37  	<i>First</i>, the Deed contains a recital in the following
terms:
<P>

<i>"A.	By agreement dated 1-7-94 ..........(the respondent)......... agreed to
sell to .........(the appellant) ........his legal practice,
and it was a term
of such agreement that completion was conditional upon procuring the execution
of a consultancy agreement between
.....(the respondent's service
company).......(the appellant)  and .........(the respondent)."</i>
<P>

38  	<i>Secondly</i>, the document contained a clause in the
following terms:
<P>

<i>"4.	(The appellant)......hereby re-affirms his committment (sic) to pay the
balance of purchase moneys due under the sale agreement
of the 1-7 94 and
.....(the respondent).......re-affirms his committment (sic) to observe all the
covenants in the said sale agreement
to be observed by him.."</i>
<P>

39  	It is noteworthy that one of those covenants on the part of the
respondent was a stringent covenant in restraint of trade.
Not surprisingly it
might be thought, the appellant was cross-examined upon this particular
document. He gave this evidence:
<P>

<i>"Q.	Under that agreement you had an obligation to pay $100,000?</i>
<P>

<i>A.	I had no obligation at that point in time. My re-affirmation was going
back to 3 May. .............</i>
<P>

<i>Q.	............. . You're re-affirming a commitment to pay 100,000 which
arose on 3 May, is that right?</i>
<P>

<i>A.	That's right. If the circumstances were that I had the stuff that I asked
for and that was provided for in the same agreement.
I haven't got those."</i>
[T,1.3.99, 45 (5) - (20)]
<P>

40  	The appellant called in the Local Court Mr. Martyn Betts, to
whom reference is made in clause 3.2 of the sale agreement. Mr.
Betts gave
evidence that he had gone to the respondent's office on 20 April 1994. He had
been handed previously by the appellant
<i>"sheets containing various accounts
including the profit and loss accounts of ..........(the respondent's legal
practice firm)"</i>. His instructions from the appellant were to ascertain, and
to comment upon, the following materials:
<P>

<i>"i	The controls and procedures</i>
<P>

<i>ii	Types of accounting system</i>
<P>

<i>iii	How.....(the respondent's) ........practice could be integrated into the
Locus accounting software</i>
<P>

<i>iv	A list of clients</i>
<P>

<i>v	Details of file openings and closings for 1994"</i>
<P>

41  	The evidence by Mr. Betts did not suggest that he had been in
any way obstructed in the inquiries that he had sought to make
at the
respondent's premises. Mr. Betts said that he had not been engaged for any
great length of time in his inquiries at the respondent's
office. He gave
evidence which, if accepted, would have justified a finding of fact that his
inspection of April 1994 had fallen
a good deal short of what might be
described as a full-blown audit. The appellant could not, of course, dispute
that he had paid
$50,000, and three successive quarterly instalments in the
precise amounts contemplated by the document which, according to him,
had never
been intended to generate, and had not in fact generated, any contractual
obligations on his part. The appellant's explanation
of those payments, taking
what he said at the highest point in his favour, was that he had made the
payments, so to speak, as an
earnest of good faith in connection with the
performance of the transaction witnessed by, in particular, the sale agreement,
but
always provided that he was first satisfied of the fee-generating
potential, as earlier herein discussed, of the respondent's practice.
<P>

42  	Such was, in general terms, the factual contest presented for
decision by the learned Magistrate.
<P>

43  	As to the inspection carried out by Mr. Betts, the learned
Magistrate's conclusions appear in the following passage in his
Worship's
reasons for judgment:
<P>

<i>"As a finding of fact it would have to be established that Mr. Betts was
engaged on behalf of Mr. Carr at what I shall term the negotiation
stage. It
matters not how long or how thoroughly Mr. Betts might have channelled his
professional skills to the perusal or examination
of the manual card system of
clients, as opposed to a computer-based accounting system within the Neill
practice. The fact of the
matter is he was provided with that material,
whatever its shortcomings. Similarly Mr. Fink  an accountant was engaged on
behalf
of the defendant Mr. Carr. He simply was not called."</i>
<P>

44  	All of these findings were, in my opinion, plainly open to the
learned Magistrate.
<P>

45  	The core of the reasoning of the learned Magistrate appears, as
it seems to me, in the following concluding passages of his
Worship's reasons
for judgment:
<P>

<i>"In conclusion, what the evidence clearly established was that Mr. Carr was
unhappy with the draft Sale of Business Document and indeed
the document in
final form did not meet with his entire approval for whatever reasons.
Nevertheless he affixed his signatures to
it. The evidence again is that in the
course of those pre purchase negotiations or discussions the defendant Mr. Carr
released Mr.
Neill from previous representations. It is inescapable that Mr.
Carr engaged Mr. Betts to undertake an examination of the records
of the
practice. However many minutes or days he might have spent in that exercise,
whatever ease or difficulty he might have encountered
whatever the merits of a
manual as opposed to a computer based accounting or record keeping system, the
totality of evidence is that
following that "appraisal" this Heads of Agreement
was signed, signed by both. Without detailing each and every instance or event,
at least on the part of Mr. Neill there was a flurry of activity, transferring
Trust Funds, re-locating client files in the Carr
practice, sharing a common
unit of staff, transferring of the telephone and fax numbers, re-naming the
practice to incorporate the
name Neill, not to mention the physical re-location
of Mr. Neill the plaintiff in the defendants business premises his practice.
Then, of course there was the $50,000 payment and the three instalments
spanning many many months. All this at a time when the Defendant
argues there
was no Agreement or if there was it was allied in some way to a Consultancy.
All the Defendant can basically point to
is the confrontation on 1st July, 1994
when he was asked to affix his signature, and he declined. Yet there is the
$50,000 and these
monotonously regular payments of $6,000 odd each time.</i>
<P>

<i>A telling aspect, in the mind of this court, is that the agreements made no
provision for Arbitration to resolve the purchase price.
The irresistible
inference has to be that it was agreed, at $100,000. What need is there to
Arbitrate on something that has been
concluded or decided. </i>
<P>

<i>What comes through loud and clear throughout the whole of the taking of the
evidence and the two principal witnesses Mr. Neill and
Mr. Carr is that
begrudgingly the latter affixed his signature to the May 3rd document. That
election was not taken lightly but the
court accepts was against the background
of Messrs. Betts and Fink being engaged in some consultancy or advisory basis.
Thereafter,
as was said, a lot of things flowed physical as well as financial.
To now submit, what is essentially that the Agreement was a "Claytons
Agreement" does not find favour with this court. It may well be, as Mr. Carr
exclaimed in one outburst in cross examination that
this exercise almost
bankrupted him, it may well be that with the passage of time post July 1st,
1994 a consideration of the venture
which had virtually unravelled was not
within his, Mr. Carrs' original contemplation.</i>
<P>

<i>If there was no Agreement why, one rhetorically asks, were these significant
sums of money paid, paid by a Solicitor.</i>
<P>

<i>It is relatively easy to assert a collateral aspect of the Agreement about
figures for the 1994 fiscal year.</i>
<P>

<i>The court accepts that Mr. Carr is bitterly disappointed with his business
venture vis a vis Mr. Neill. It cannot, however accede
to the earlier described
litany of complaints levelled at him so far as their dealings were
concerned."</i>
<P>

46  	It should be pointed out, in explanation of something said in
the earlier part of the foregoing extracts, that his Worship's
reference to a
release by the appellant of the respondent from previous representations is, as
I understand what was meant, a reference
to clause 7.0 of the sale agreement.
That clause reads as follows:
<P>

<i>"(The appellant) ...........acknowledges that he has, in entering into this
Agreement, not relied upon any statements, representation,
warranty or
condition made or given by .....(the respondent) ..... or anyone on his behalf
in respect of the subject matter of this
Agreement, other than those that are
expressly herein contained"</i>
<P>

47  	In my opinion the evidence adduced at the hearing in the Local
Court justified the following process of reasoning:
<P>

1)	A fair reading of the Memorandum of Heads of Agreement, of the Sale
Agreement, and of the Consultancy Deed, justifies a finding
of fact that the
documents were intended, both by the appellant and by the respondent, to be
read together. 
<P>

2)	The question whether the documents, when so read together, manifested a
common intention to be bound contractually by the terms
of all three of the
documents, was a question to be decided by reference to principles of law which
are well established. A useful
collection and discussion of the relevant
authorities will be found in <b>Lewison: The Interpretation of Contracts: 2nd
Edition:</b> pages 8-13 under the heading: <b>"Objectivity and
Subjectivity"</b>. Of particular relevance for present purposes are the
principles embodied in the passages quoted by the author from the decision
of
Blackburn J in <b>Smith v Hughes </b>(1871) LR 6QB 597; from the decision of
Stuart-Smith LJ in <b>R v Lord Chancellor's Department, ex p. Nangle</b>  <a href="/cgi-bin/LawCite?cit=%5b1992%5d%201%20All%20ER%20897" title="View LawCiteRecord" class="autolink_findcases">[1992]
1 All ER 897</a>; and the decision of Saville J in <b>Vitol B.V Compagnie Europeene
des Petroles</b>.
<P>

3)	The application of those principles to the facts of the present case was
capable of justifying a finding of fact that a sensible
objective observer in
the position of the respondent would have understood that the appellant, when
he signed all three of the documents
on 3 May 1994, intended that they should
constitute, as an integral set of documents, a binding contractual agreement
between him
and the respondent.
<P>

48  	If, as is my view, the foregoing findings of fact were
reasonably open; and if, as I think is clear from the published reasons
for
judgment, that the learned Magistrate effectively followed that path of
reasoning; then I do not think that it is now open to
this Court to hold that,
in the narrow and particular sense now relevant, the learned Magistrate's
decision is <i>"erroneous in point of law"</i>.
<P>

49  	I take the learned Magistrate to have rejected the assertions of
the appellant that he, the appellant, had never intended that
any of the
documents which he signed in May 1994 should generate binding contractual
obligations. That was entirely a question of
fact for the learned Magistrate. I
do not see how it is possible to say that it was not reasonably open to his
Worship so to reject
the contentions of the appellant.
<P>

50  	I take the learned Magistrate to have found, further, that the
conduct of the appellant in paying over on 1 July 1994 a lump
sum of $50,000,
followed by three quarterly instalments in precise conformity with the terms of
the sale agreement was such as to
justify an inference, drawn in fact by his
Worship, that the appellant did consider himself contractually bound to make
those payments
to the respondent. I take his Worship to have rejected the
evidence of the appellant asserting the contrary. These matters, too,
were
matters of fact for the Magistrate. I do not see how it can be argued that the
findings were not reasonably open to his Worship.
<P>

51  	As to the pre-completion audit contemplated by clause 3.2 of the
sale agreement, I take his Worship to have found as a fact
that Mr. Betts was
given every access to which he was entitled in terms of that clause. That, too,
was entirely a matter of fact
for his Worship. I do not see that it was not
reasonably open to his Worship to reach such a finding of fact. 
<P>

52  	As to the repeated and vehement assertions of the appellant that
he had told the respondent on a number of occasions that he,
the appellant,
would agree to no purchase price unless and until he had first had an audit of
a kind that satisfied him, I take the
learned Magistrate to have rejected that
evidence of the appellant. This was, in my opinion, quintessentially a question
for the
learned Magistrate. I do not consider that any cause has been shown for
a holding by this Court that it was not reasonably open to
his Worship to take
that view of the appellant's evidence. It is trite, but in the circumstances of
this appeal it is worth reiterating
nonetheless, that the learned Magistrate
had the advantage, which this Court does not and cannot have, of seeing and
hearing the
witnesses, and in particular the appellant. In my opinion no cause
has been shown for this Court now to interfere with assessments
of that kind,
made by the learned Magistrate. <i>A fortiori</i> when the basis of the present
appeal is the narrow and particular basis for which provision is made in
section 69(2) of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act</a></b>.
<P>

53  	I have referred earlier in this judgment to the four particular
questions posed by the written submissions put in on behalf
of the appellant.
The first of those questions was not pressed at the hearing of the appeal. I
would answer as follows the other
particular questions.
<P>

54  	<i>Question 2:</i>	The learned Magistrate so found; and was
entitled, in my opinion, so to find.
<P>

55  	<i>Questions 3:</i>	As to the general portion of the question, I
take the learned Magistrate to have made such a finding of fact; and, in my
opinion,
it was open to his Worship to make such a finding.
<P>

56  	As to the particular paragraph (a), the question would be more
accurately posed by reference to clause 3.2 of the sale agreement
as
incorporated by reference into the Memorandum of Heads of Agreement dated 3 May
1994. Approaching the sub-question (a) upon that
basis, I take the learned
Magistrate to have made a finding of fact to that effect; and in my opinion it
was reasonably open to his
Worship so to find.
<P>

57  	It is not necessary, in my opinion, to venture a precise answer
to the sub-questions (b) and (c) for the reason that they pose
issues not truly
litigated at first instance. In reality, as it seems to me, the issues that
were truly litigated at first instance
were: <i>first</i>, was there a binding
contract at all?; and, <i>secondly</i>, if there was, did the respondent do
what he was required to do in terms of clause 3.2 of the sale agreement?
<P>

58  	<i>Question 4:	</i> In my opinion, the finding was not a
perverse finding of fact as postulated by the question. There was no error of
law as suggested
in the question.
<P>

59  	For the whole of the foregoing reasons, I have come to the
conclusion that the appellant has not shown cause, conformably with
the
requirements of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/s69.html" class="autolink_findacts">section 69(2)</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act</a></b>,
for the disturbance by this Court, on appeal, of the judgment given at first
instance.
<P>

60  	The appellant's summons is dismissed with costs.
<P>

61  	The exhibits are to remain in Court for a period of 28 days from
today. If, within that period, an appeal is lodged against
this judgment, then
the exhibits are to remain in Court pending further order. If within that
period no such appeal is lodged, then
the exhibits thereafter may be returned
to the persons or bodies respectively entitled to them.
<P>

**********
<P>

LAST UPDATED: 	17/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1263.html</i><br>
</p>
</small>
</body>
</html>
