<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Woolworths v Waverley Council [1999] NSWSC 308 (20 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 308</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+308 or 1999+NSWSC+308">Noteup</a>]
[<a href="308.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Woolworths v Waverley Council [1999] NSWSC 308 (20 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_308.html-->
<!--sino date 20 April 1999-->


<P>Last Updated: 22 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Woolworths v Waverley Council  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/308.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 308</a>
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	10631 of 1998
<P>

HEARING DATE{S): 	04/06/98
<P>

JUDGMENT DATE: 	20/04/1999
<P>

 PARTIES: 
<P>

Woolworths Limited (plaintiff)
<P>

Waverley Council (defendant 1)
<P>

Judith Mary Fleming (defendant 2)
<P>

JUDGMENT OF: 	Hidden J      
<P>

LOWER COURT JURISDICTION: 	Local Court
<P>

LOWER COURT FILE NUMBER(S): 	
<P>

LOWER COURT JUDICIAL OFFICER: 	Magistrate Judith Mary Fleming 
<P>

COUNSEL: 
<P>

B. Donovan QC with  P. Lakatos (plaintiff)
<P>

I.  Hemmings (defendant 1)
<P>

SOLICITORS: 
<P>

J. P. Gould Solicitors (plaintiff)
<P>

M. E. McMahon, Waverly Council Solicitor (defendant 1)
<P>

I. V. Knight, Crown Solicitor (defendant 2)
<P>

CATCHWORDS: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/" class="autolink_findacts">Impounding Act, 1993</a> - appeal to Local Court under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s38.html" class="autolink_findacts">s38(1)</a> - whether hearing de
novo;  time limit under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s39.html" class="autolink_findacts">s39(a)</a> - estoppel;  power of Local Court to order
costs;  lawfulness of impounding - notification to owner - whether article
"abandoned"
or "left unattended".
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/" class="autolink_findacts">Impounding Act 1993</a> (NSW)
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/" class="autolink_findacts">Interpretation Act 1987</a> (NSW)
<P>

DECISION: 
<P>

Magistrate's order set aside; matter remitted to Local Court.
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>HIDDEN J</b>
<P>

<b>Tuesday 20 April 1999</b>
<P>

<b><u>10631 of 1998   Woolworths Limited v Waverley Council &amp;
Anor</u></b>
<P>

<b>Reasons for judgment</b>
<P>

1	Between 18 December 1996 and 20 June 1997 officers of the first defendant,
Waverley Council, impounded ten shopping trolleys found
in various locations in
the municipality.  The trolleys were the property of the plaintiff, Woolworths
Limited and had come from
its Bondi Junction store.  In respect of each trolley
the plaintiff exercised its right of appeal to a Local Court under the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/" class="autolink_findacts">Impounding Act</i> 1993</a>.  The appeals were heard at Waverley Local Court by
the second defendant, a magistrate, who dismissed them.  
<P>

2	The plaintiff seeks relief in this Court, both directly against the first
defendant and of a supervisory nature arising from the
disposition of the
appeals.  Before examining more closely the facts and the nature of the relief
sought, it is necessary to set
out some relevant provisions of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/" class="autolink_findacts">Impounding Act</a></i>.  
<P>

3	Among the objects of the Act, set out in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s3.html" class="autolink_findacts">s3</a>, is the following:
<P>

	(a) to empower authorised persons to impound and deal with ... articles in
public places and places owned or under the control
of certain public
authorities if ... they have been abandoned or left unattended ...
<P>

Various public authorities, including Councils, are empowered to appoint
impounding officers: see the  Dictionary.
<P>

4	The power to impound articles is conferred by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s15.html" class="autolink_findacts">s15:</a>
<P>

	An impounding officer may impound an article found in the officer's area of
operations if the officer believes on reasonable grounds
that the article has
been abandoned or left unattended. ...
<P>

When something is "impounded" is dealt with by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s8.html" class="autolink_findacts">s8:</a>
<P>

	(1) Something is impounded as soon as an impounding officer ... takes
possession of it under a power conferred by this Act.  It
continues to be
impounded until it is released or disposed of in accordance with this Act.
<P>

	(2) An item does not have to be taken to a pound for it to be "impounded" for
the purposes of this Act.
<P>

5	<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s17.html" class="autolink_findacts">Section 17</a> requires impounded articles to be delivered to a pound.  The
procedure then to be undertaken is set out in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s20.html" class="autolink_findacts">s20:</a>	 
<P>

	(1) An impounding authority must make all reasonable inquiries in an effort to
find out the name and address of the owner of an
impounded item ...
<P>

	(2) The inquiries and search must be made as soon as practicable after the
item is delivered to the authority's pound or (in the
case of an article that
is impounded without being delivered to a pound) as soon as practicable after
the article is impounded.
<P>

	(3) If the impounding authority knows or finds out the name and address of the
owner, the authority must cause notice of the impounding
to be given to the
owner of an impounded item.
<P>

	(4) ...
<P>

	(5) A notice under this section must be in writing addressed to the person to
be given the notice.  It must clearly indicate that
the item has been impounded
and will be sold or otherwise disposed of if not claimed within a stated period
...
<P>

6	<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s23.html" class="autolink_findacts">Section 23</a> enables the owner of an impounded item to apply to the impounding
authority for its release.  The authority must release the item
to the owner
if, among other things, all fees and charges in relation to the impounding and
holding of it have been paid: <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s23.html" class="autolink_findacts">s23(2)(b).</a>  <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s24.html" class="autolink_findacts">Section 24</a> provides for the sale by
public auction of unclaimed articles.  By <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s26.html" class="autolink_findacts">s26</a>, an impounding authority may fix
fees and charges for the impounding, holding and disposing of an impounded
article.  <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s26.html" class="autolink_findacts">Section 26(2)</a> sets out the fees and charges that may be fixed, and
they include the following:
<P>

	&#183; a fee for conveying an impounded article to a pound,
<P>

	&#183; a fee for storing an impounded article at the pound,
<P>

	&#183; a fee to cover the cost of serving a notice notifying the owner of an
impounded item that the item may be or has been impounded.
<P>

7	Each of the ten trolleys impounded by the defendant bore the plaintiff's
name.  Indeed, on the day on which possession was taken
of each of them a
report headed "ABANDONED SHOPPING TROLLEY" was prepared, and each of those
reports acknowledged the plaintiff as
the owner.  Nevertheless, the defendant
did not provide to the plaintiff the notice required by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s20.html" class="autolink_findacts">s20(3)</a> of the Act in
relation to any of the trolleys until 25 June 1997, five days after the last of
them had been impounded.  That notice
was by way of a letter referring to the
impounding of ten shopping trolleys "believed to be owned" by the plaintiff,
and informing
the plaintiff that they would be released under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s23.html" class="autolink_findacts">s23</a> "upon payment
of impounding and holding charges amounting to $100 for each trolley".
<P>

8	The plaintiff's solicitor replied by letter of 8 July 1997 which, among other
things, informed the defendant that it intended
to exercise its rights of
appeal under the Act.  It is necessary at this stage to set out the relevant
provisions.
<P>

9	The only rights of appeal are to be found in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s38.html" class="autolink_findacts">s38(1):</a>
<P>

	The owner of an impounded item has the following rights of appeal to the Local
Court nearest to the place of impounding:
<P>

	&#183; The owner can appeal against the impounding on the grounds that the
impounding of the item was unlawful.
<P>

	&#183; The owner can appeal against any fee or charge required to be paid for
the release of the item ... on the ground that the
fee or charge has been
improperly charged or incorrectly calculated or is excessive.
<P>

10	Time limits for appeals are fixed by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s39.html" class="autolink_findacts">s39:</a>
<P>

	The time limit for an appeal is:
<P>

	(a) 28 days from the date of impounding, in the case of an appeal against
impounding, or
<P>

	(b) 28 days from the date on which application was made for the release of the
impounded item, in the case of an appeal against
an impounding fee.
<P>

11	<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s40.html" class="autolink_findacts">Section 40(1)</a> provides for certain consequences, which are of no present
relevance, if an appeal against impounding is disallowed.  However, if
such an
appeal is allowed, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s40.html" class="autolink_findacts">s40(2)</a> requires the impounding authority to release the
impounded item "free of all impounding fees" and to meet the expenses of
returning
it to the appellant.
<P>

12	On 17 July 1997 the plaintiff filed notices of appeal at Waverley Local
Court in respect of each trolley.  The appeals were on
both the bases set out
in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s38.html" class="autolink_findacts">s38(1):</a> that the impounding was unlawful and that the impounding charges
sought by the defendant had been improperly charged or incorrectly
calculated,
or were excessive.  
<P>

13	At the hearing, the learned magistrate took the view that the plaintiff, as
appellant, bore the onus of proof and should present
its evidence first.  The
store manager, Mr Howard Matthews was called in the plaintiff's case but his
evidence did not bear upon
the lawfulness of the impounding or the
appropriateness of the impounding charges, as the circumstances were not within
his knowledge.
 The defendant led no evidence.  
<P>

14	Her Worship held that, on the question of the lawfulness of the impounding,
nine of the appeals were out of time.  She dismissed
the tenth appeal on the
basis that there was no evidence that the impounding of that trolley was
unlawful.  Similarly, she dismissed
all ten appeals against the impounding
charges on the basis that, in the absence of evidence of how they were arrived
at, she could
not conclude that they had been improperly charged or incorrectly
calculated, or were excessive.  Finally, she ordered the plaintiff
to pay the
defendant's costs.  
<P>

15	All of these matters give rise to the claims for relief in the supervisory
jurisdiction of this Court. 
<P>

	<b>Nature of Appeal</b>
<P>

16	Senior counsel for the plaintiff in this Court submitted that, in concluding
that the plaintiff bore the burden of proof in the
Local Court and was required
to begin, the learned magistrate had misconceived the nature of the appeal
created by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s38.html" class="autolink_findacts">s38(1).</a>  He contended that the appeal is a hearing <i>de novo</i>.
Accordingly, it was the defendant who bore the burden of proof on both issues
raised and who was required to adduce evidence in
relation to them: <i>Builders
Licensing Board v Sperway Constructions (Syd) Pty Ltd </i><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1976/62.html" title="View Case" class="autolink_findcases_inserted">[1976] HCA 62</a>;  <a href="/cgi-bin/LawCite?cit=%281976%29%20135%20CLR%20616" title="View LawCiteRecord" class="autolink_findcases">(1976) 135 CLR 616</a>,
per Mason J (as he then was) at 620.  I am satisfied that this is so.
<P>

17	In <i>Ex parte Australian Sporting Club Ltd; Re Dash </i><a href="http://www.austlii.edu.au/au/cases/nsw/NSWStRp/1947/11.html" title="View Case" class="autolink_findcases_inserted">[1947] NSWStRp 11</a>;  <a href="/cgi-bin/LawCite?cit=%281947%29%2047%20SR%20%28NSW%29%20283" title="View LawCiteRecord" class="autolink_findcases">(1947) 47 SR (NSW)
283</a>, Jordan CJ considered the various senses in which the word "appeal" might
be used.  The Chief Justice said (at 283):
<P>

	The word "appeal" may be used in two connections.  It may refer to an appeal
from one judicial tribunal to another; such an appeal
may be an appeal
<i>stricto sensu </i>or an appeal by way of rehearing, in which latter case the
jurisdiction exercised by the appellate tribunal is in part original; or
the
word may refer to an appeal from an executive authority to some other executive
authority or to a Court.  If such an appeal is
to a Court, the jurisdiction
which it exercises is not appellate but original...
<P>

His Honour concluded that the appellate jurisdiction of a magistrate under the
<i>Motor Traffic Act </i>1909 considered in that case fell into that last
category.
<P>

18	In <i>Sperway Constructions </i>(at 621) Mason J did not think that Jordan
CJ was enunciating "an absolute rule" that any right of appeal given to a Court
from the
decision of an administrative authority involves a hearing <i>de
novo</i>.  His Honour added, however, that there are "sound reasons for
thinking" that in many cases such an appeal would necessarily entail
a hearing
of that kind.  His Honour continued (also at 621):
<P>

	The nature of the proceeding before the administrative authority may be of
such a character as to lead to the conclusion that it
was not intended that the
court was to be confined to the materials before the authority.  There may be
no provision for a hearing
at first instance or for a record to be made of what
takes place there. The authority may not be bound to apply the rules of
evidence
or the issues which arise may be non-justiciable. Again, the authority
may not be required to furnish reasons for its decision. In
all these cases
there may be ground for saying that an appeal calls for an exercise of original
jurisdiction or for a hearing de
novo.
<P>

	On the other hand the character of the function undertaken by the
administrative authority in arriving at its decision may differ
markedly from
the instances already supposed. The authority may be required to determine
justiciable issues formulated in advance;
to conduct a hearing, at which the
parties may be represented by barristers and solicitors, involving the giving
of oral evidence
on oath which is subject to cross-examination; to keep a
transcript record; to apply the rules of evidence; and to give reasons for
its
determination. In such a case a direction that the appeal is to be by way of
rehearing may well assume a different significance.
<P>

19	The last sentence in that passage is couched the way it is because the
legislation with which the High Court was dealing, the
<i>Builders Licensing
Act </i>1971 (NSW), conferred a right of appeal which was expressed to be "by
way of rehearing".  However, the use of the term "rehearing"
was by no means
determinative of the Court's decision.  Mason J commented upon its ambiguity in
this context (at 619-20).  The correct
approach to the classification of the
nature of an appeal was expressed by his Honour in this way (at 621-2):
<P>

	But in the end the answer will depend on an examination of the legislative
provisions rather than upon an endeavour to classify
the administrative
authority as one which is entrusted with an executive or quasi-judicial
function, classifications which are too
general to be of decisive assistance.
Primarily it is a question of elucidating the legislative intent, a question
which in the circumstances
of this case is not greatly illuminated by the
Delphic utterance that the appeal is by way of rehearing.
<P>

20	After an examination of the relevant provisions of the <i>Builders Licensing
Act</i>, the Court concluded that the right of appeal conferred by it was by
way of hearing <i>de novo</i>.  This conclusion was arrived at notwithstanding
the fact that the decision of the Builders Licensing Board appealed against was
reached after consideration of the evidence produced at an enquiry, the
procedure for which was attended by a considerable measure
of formality: Mason
J at 622-5.  
<P>

21	The Court of Appeal took the same view of the appeal from the Victims
Compensation Tribunal to the District Court provided for
in s29 of the
<i>Victims Compensation Act </i>1987: <i>Goldsmith v Victims Compensation
Tribunal </i> <a href="/cgi-bin/LawCite?cit=%281993%29%2030%20NSWLR%20410" title="View LawCiteRecord" class="autolink_findcases">(1993) 30 NSWLR 410.</a>  In so doing, the Court applied the
principles expounded by Mason J in <i>Sperway Constructions</i>: see the
judgment of Mahoney AP at 413-5.  The section there under consideration did not
describe the appeal as "by way of rehearing".
 Nor did the provision with which
Jordan CJ was dealing in <i>Ex parte Australian Sporting Club</i> (supra).  
<P>

22	The right of appeal conferred by the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/" class="autolink_findacts">Impounding Act</a> </i>is against
administrative actions which are not preceded by a hearing of any kind and for
which the relevant authority is not required
to give any reasons.  In my view,
it is clear that the jurisdiction conferred upon the Local Court is original:
that is, the appeal
is by way of hearing <i>de novo</i>.  Indeed, the course of
the appeal in this case demonstrates the potential for injustice if it were
otherwise.  It is no answer to
say, as counsel for the defendant in this Court
did, that the plaintiff might have fashioned its case from an examination of
records
of the defendant produced on subpoena. 
<P>

23	My conclusion is unaffected by the fact that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s38.html" class="autolink_findacts">s38(1)</a>, unlike the provisions
considered in the other cases, does not express the right of appeal in
unfettered terms but specifies grounds
upon which appeals might be brought.
The nature of the administrative action appealed against is such that justice
could be achieved
only by a hearing <i>de novo</i>.  In any event, the grounds
in the subsection are so broad that it is difficult to imagine any other basis
upon which an unqualified
right of appeal might be exercised.  
<P>

24	Accordingly, the learned magistrate misconceived the nature of the
jurisdiction which she was called upon to exercise.  The orders
dismissing the
appeals should be quashed and the plaintiff is entitled to an order that the
appeals be remitted to the Local Court
to be determined according to law.
However, it is necessary to deal with the other matters which were argued and
the other relief
sought.
<P>

	<b>Time limit</b>
<P>

25	As observed, her Worship held that all the appeals on the ground that the
impounding was unlawful were out of time, except the
last.  It will be
remembered that the ten trolleys were impounded on various dates between 18
December 1996 and 20 June 1997.  The
appeals were lodged on 17 July 1997.
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s39.html" class="autolink_findacts">Section 39(a)</a> provides that an appeal on that ground must be lodged within 28
days from "the date of impounding".  If that expression means the
date upon
which Council officers took possession of the trolleys, then only the last of
the ten trolleys, seized on 20 June 1997,
was impounded within the time
limited.
<P>

26	It will also be remembered that the defendant did not notify the plaintiff
that the ten trolleys had been impounded until 25
June 1997.  Even then, more
than 28 days had elapsed since five of the trolleys had been seized and, in any
event, appeals could
not be lodged until the plaintiff had notified the
defendant in writing of its intention to appeal: <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s38.html" class="autolink_findacts">s38(2).</a>  It did so by its
letter of 8 July 1997 and the appeals were filed nine days later.  In the
circumstances, the plaintiff appears
to have proceeded with reasonable dispatch
after receiving the defendant's notification of 25 June.
<P>

27	Mr Matthews gave evidence in the Local Court that "a percentage of
customers" took shopping trolleys away from the store, notwithstanding
signs at
the exit from the store and in the car park informing them that it was illegal
to do so. The problem was persistent enough
to require the plaintiff to engage
a contractor to locate and return trolleys which had been unlawfully removed.
He said that he
was unaware that the ten trolleys in question had been
impounded until the defendant's letter of 25 June was received.  However,
he
did know over the relevant period that trolleys were being impounded from time
to time.  Indeed, over an even longer period he
had been having discussions
with a senior officer of the defendant about the continuing problem.
<P>

28	The learned magistrate took the view that the expression "the date of
impounding" in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s39.html" class="autolink_findacts">s39(a)</a> means the date upon which each trolley was taken into
possession by the defendant's officers.  True it is that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/s8.html" class="autolink_findacts">s8</a> provides that an
article continues to be impounded until it is released or disposed of in
accordance with the Act.  However, if the
word "impounding" were used in that
extended sense in s39(a), there would never be a date from which the time limit
ran and the purpose
of the paragraph would be defeated.  I agree with this
analysis.
<P>

29	The plaintiff then relied upon s20, dealing with the responsibilities of an
impounding authority after an article has been impounded.
 The effect of
subss(1)&amp;(2) of that section is that the authority must make all reasonable
inquiries to identify the owner of
an article as soon as practicable after it
has been impounded.  Those subsections are not directly relevant here, as the
defendant
was aware from the outset that the trolleys were the property of the
plaintiff.  It is subs(3) which is apposite: requiring the impounding
authority
to notify the owner of the impounding if the identity of the owner is known or
is ascertained through inquiries. The subsection
is silent as to when notice
should be given.  Whereas subs(2) provides that  inquiries to identify the
owner must be made "as soon
as practicable" after the impounding, no such
expression appears in subs(3).
<P>

30	Nevertheless, it was argued on behalf of the plaintiff that s20 implies an
obligation to notify the owner of the impounding as
soon as practicable after
the owner's identity becomes known or, if the identity of the owner is known
from the outset, as soon as
practicable after the impounding. Section 39(a), it
was said, should be read in conjunction with s20, so that the time limit runs,
not from the date of the impounding but from the date upon which the owner was
notified of it.  Otherwise, an authority could refrain
from notifying the owner
for more than 28 days after the impounding, so as to frustrate the owner's
statutory right of appeal.  
<P>

31	Senior counsel in this Court relied upon <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/s33.html" class="autolink_findacts">ss33</a> &amp; <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/s34.html" class="autolink_findacts">34</a> of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/" class="autolink_findacts">Interpretation Act</i> 1987</a> and judicial pronouncements about the beneficial
and purposive interpretation of statutory provisions: <i>Cole v Director
General of Youth &amp; Community Services </i> <a href="/cgi-bin/LawCite?cit=%281987%29%207%20NSWLR%20541" title="View LawCiteRecord" class="autolink_findcases">(1987) 7 NSWLR 541</a>, per Kirby P
at 543-4 and McHugh JA at 549; <i>Saraswati v The Queen</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1991/21.html" title="View Case" class="autolink_findcases_inserted">[1991] HCA 21</a>;  <a href="/cgi-bin/LawCite?cit=%281990%2d91%29%20172%20CLR%201" title="View LawCiteRecord" class="autolink_findcases">(1990-91) 172 CLR 1</a>
per McHugh J at 21-3.  
<P>

32	Her Worship was sensitive to the injustice which might result from a literal
interpretation of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1987191/s39.html" class="autolink_findacts">s39(a)</a> and acknowledged that, in the case before her, the
operation of the provision was "harsh".  Nevertheless, she concluded that the
terms of the paragraph are unambiguous and had to be given effect accordingly.
Again, I agree.  A liberal approach to statutory interpretation
does not permit
a court to read into a provision words that are simply not there, even though
its plain language might produce injustices
or anomalies in particular cases:
<i>Kingston v Keprose Pty Ltd</i>  <a href="/cgi-bin/LawCite?cit=%281987%29%2011%20NSWLR%20404" title="View LawCiteRecord" class="autolink_findcases">(1987) 11 NSWLR 404</a>, per McHugh JA at 421.

<P>

33	That said, I commend the matter to the legislature for the consideration of
amendments which might ensure fairness to the owners
of impounded items without
impeding the pursuit of the objects of the Act.
<P>

34	In this Court senior counsel for the plaintiff also relied upon estoppel by
conduct, which had not been argued in the Local Court.
 Indeed, he submitted
that this is the "real way of granting relief" against the imposition of the
time limit.  He referred to the
analysis of estoppel by the High Court in<i>
The Commonwealth v Verwayen</i> (1990) 170 CLR 394. ( He did not suggest that
there was any direct parallel between that case and this and, accordingly, the
differences
of opinion between the members of the court about the outcome of
that appeal are not presently material.)  The most thorough examination
of the
relevant principles is in the judgment of Deane J at 431ff, with his Honour's
summary of the modern law appearing at 444-6.
 Reference might also be made to
the judgments of Mason CJ at 413-6, Brennan J at 428-9,  Dawson J at 451-5 and
McHugh J at 499-501.
<P>

35	The argument for the plaintiff was that the defendant's failure promptly to
notify the plaintiff of the impounding of the trolleys
amounted to an implied
representation that the trolleys were not in its possession.  This was said to
arise from the duty of the
defendant to notify the plaintiff under s20(3) of
the Act.  While that subsection does not expressly require that notice be given
as soon as practicable, the duty to do so arises from the fact that time to
appeal against impounding runs from the date when the
article was seized.  That
implied representation, the argument continued, led the plaintiff to act to its
detriment by not filing
appeals against the impounding of most of the trolleys
within the time limited.
<P>

36	To express the plaintiff's position in the language used by Deane J in
<i>Verwayen </i>at 444-5, the defendant induced an assumption on the part of
the plaintiff by an implied representation and, in the circumstances,
departure
from that assumption would be unconscientious.  It would not be necessary to
prove that the defendant's delay in notifying
the plaintiff of the impounding
was deliberate, calculated to frustrate its right of appeal (although that was
what was suggested
in argument). Deane J observed (at 445) that "a critical
consideration will commonly be that the allegedly estopped party knew or
intended or clearly <i>ought to have known</i> that the other party would have
been induced by his conduct to adopt, and act on the basis of, the assumption"
(my italics).  Toohey
J (at 467) referred to the judgment of Isaacs J in
<i>Craine v Colonial Mutual Fire Insurance Co Ltd</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1920/64.html" title="View Case" class="autolink_findcases_inserted">[1920] HCA 64</a>;  <a href="/cgi-bin/LawCite?cit=%281920%29%2028%20CLR%20305" title="View LawCiteRecord" class="autolink_findcases">(1920) 28 CLR 305</a>, in
which his Honour was distinguishing estoppel by conduct from waiver.  In that
context Isaacs J said (at 327) :
<P>

	First of all, the law of estoppel looks chiefly at the situation of the person
relying on the estoppel; next, as a consequence
of the first, the knowledge of
the person sought to be estopped is immaterial; thirdly, as a further
consequence, it is not essential
that the person sought to be estopped should
have acted with any intention to deceive; fourthly, conduct, short of positive
acts,
is sufficient.
<P>

37	However, it must be borne in mind that the question of estoppel by conduct,
while guided by principle, must not be approached
inflexibly.  As Deane J put
it in <i>Verwayen </i>(at 445):
<P>

	Ultimately, however, the question whether departure from the assumption would
be unconscionable must be resolved not by reference
to some preconceived
formula framed to serve as a universal yardstick but by reference to all the
circumstances of the case, including
the reasonableness of the conduct of the
other party in acting upon the assumption and the nature and extent of the
detriment which
he would sustain by acting upon the assumption if departure
from the assumed state of affairs were permitted.
<P>

38	I see no reason in principle why the plaintiff should not be able to rely
upon an estoppel of the kind contended for, provided
the evidence supports it.
There was some evidence relevant to the matter before her Worship but, as the
issue was not raised, it
is far from sufficient to enable any finding to be
made.  However, it might profitably be explored at a further hearing in the
Local
Court.  If the estoppel were established, it would seem that the
appropriate remedy would be to prevent the defendant relying upon
the time
limitation in s39(a).
<P>

39	Finally, I should record the fact that counsel for the defendant raised the
question whether s39 is not merely a limitation provision,
but a privative or
preclusive clause: see <i>Londish v Knox Grammar School </i> <a href="/cgi-bin/LawCite?cit=%281997%29%2097%20LGERA%201" title="View LawCiteRecord" class="autolink_findcases">(1997) 97 LGERA 1</a>,
per Stein JA at 4-6 (and the cases there referred to).  However, an argument
that it is was not pressed and, certainly, I would
not characterise the section
in that way.
<P>

40	Having found that the appeals against impounding in relation to nine of the
trolleys were out of time, the learned magistrate
concluded that she had no
jurisdiction to hear them.  For the reasons I have given, that conclusion also
was in error and dictates
that the matter be remitted to the Local Court.
<P>

	<b>Lawfulness of impounding</b>
<P>

41	As observed, the learned magistrate found that the appeal against the
impounding of one trolley was within time.  As to that
trolley, the plaintiff
argued that, whatever might have been the circumstances of its seizure in the
first place, its detention became
unlawful because of the defendant's failure
promptly to notify the plaintiff of its impounding.  Again, the plaintiff
relied upon
the implication of a duty to give the notice under s20(3) as soon
as practicable after the defendant took possession of the trolley.
 It was
argued that, for the purpose of an appeal on the basis that the impounding was
unlawful under s38(1), the word "impounding"
includes the detention of an
article after its seizure, as provided by s8(1).
<P>

42	In fact, that trolley was seized on 20 June 1997 and the notice to which I
have referred was forwarded five days later.  However,
that does not appear to
be a matter to which  her Worship had regard in dismissing the appeal.  She
disposed of the matter by holding,
firstly, that "impounding" in s38(1) means
only the seizure of the article and does not extend to its detention and,
secondly, that
in any event s20(3) is silent as to when notice must be given to
the owner.  
<P>

43	Again, I must conclude that her Worship's reasoning was in error.  In my
view, the term "impounding" in s38(1) should be given
the extended meaning
which it is afforded by s8(1).  One can readily conceive of circumstances in
which the seizure of an article
was lawful but its detention became unlawful.
For example, if inquiries to ascertain the identity of the owner were not made
as soon
as practicable after the article was seized, as required by s20(2), its
continued detention would be unlawful.  When the owner eventually
became aware
of the impounding, a successful appeal under s38(1) would lead to the release
of the article free of impounding fees:
s40(2).  Such an outcome would be just
and would conform with the objects of the Act.
<P>

44	The Act should be construed in the light of the fact that it permits the
serious invasion of the proprietary rights of citizens
(and corporations).  The
powers granted by the Act must be exercised in accordance with the conditions
expressly imposed by it, or
fairly to be implied in it.  While s20(3) does not
impose a time frame for notification of an owner whose identity is known, it is
appropriate to imply a requirement that it also be done as soon as practicable.
Unreasonable delay in notifying the owner in those
circumstances, far from
advancing the objects of the Act, would be an abuse of the powers conferred by
it and would render the detention
of the article unlawful.  Whether that is so
in this case would need to be determined in the light of the evidence at a
renewed hearing
in the Local Court.
<P>

45	This view of the ambit of an appeal against impounding under s38(1)
highlights the unfairness of the time limit set by s39(a),
referred to earlier.
Although an owner complains of the detention of an article, rather than its
seizure, the time limit runs from
the date of the seizure.  It is in this very
situation that the owner might not be notified of the impounding until after
the time
limit for appeal has expired.  It may be that the owner could then
rely upon estoppel, but that is hardly a satisfactory state of
affairs.  In my
view, s39(a) should be amended to prescribe a time limit from the date of
notification. 
<P>

46	It will be remembered that s15 enables an officer to impound an article
reasonably believed to have been "abandoned or left unattended".
 In this
Court, but not in the Local Court, it was argued on behalf of the plaintiff
that the defendant impounded the trolleys on
the basis that they were
abandoned, rather than left unattended.  As observed earlier in these reasons
(paragraph 7), on each occasion
a Council officer prepared a report on a
standard form referring to the trolley as "abandoned".  The same expression was
used in
the notification forwarded by the defendant to the plaintiff on 25 June
1997.
<P>

47	That being so, submitted senior counsel for the plaintiff, the seizure of
each trolley was lawful only if the impounding officer
reasonably believed it
to be abandoned, rather than left unattended.  In the Macquarie Dictionary the
word "abandon" is defined,
relevantly for present purposes, as "to cast away or
leave personal property with no intention of reclaiming it, thereby making the
property available for appropriation by any person".   This is consistent with
the legal notion of abandonment to be found, for example,
in the law of
larceny: <i>Hibbert v McKiernan </i>[1948] 2 KB 142.  
<P>

48	Clearly, the argument continued, the plaintiff had not abandoned any of the
trolleys.  They had been removed from the store unlawfully
by customers, who
had left them where they were later found by officers of the defendant.  There
was no basis on which any of those
officers could have believed otherwise.
Accordingly, the only belief they might reasonably have formed was that the
trolleys had
been left unattended.
<P>

49	Counsel for the defendant suggested that a trolley left in the street by a
customer of the plaintiff might properly be described
as "abandoned" by that
customer.  I do not agree.  I accept the plaintiff's argument that the word
should be confined to articles
relinquished by their owner.  On the evidence
before me, it does seem that the trolleys would more properly be described as
"left
unattended".  However, this does not mean that the plaintiff has
succeeded in establishing that they were unlawfully impounded.
<P>

50	In the absence of further evidence, I would not conclude that the officer in
each case formed the belief that the trolley was
abandoned, as opposed to left
unattended, merely from the fact that that word was used in the defendant's
documentation.  More importantly,
however, I do not accept that a valid
exercise of the power conferred by s15 requires the impounding officer to
choose whether the
article has been abandoned or left unattended.  The
plaintiff's argument would put the officer to such an election, much as an
informant
in criminal proceedings might have to select one of a number of
statutory alternatives in framing a charge.  This cannot be the intention
of
the legislation.  In many cases an officer might fairly conclude that an
article has been abandoned or left unattended, but would
have no way of knowing
which.  He or she would still be entitled to impound it.
<P>

51	On the basis of these arguments about the seizure and detention of the
trolleys, the plaintiff invited me to determine that their
impounding was
unlawful and to order that they be delivered up to the plaintiff.  For the
reasons I have given, the evidence is insufficient
for me to make such a
determination.  I put to one side the question whether, even if I could, it
would be appropriate for me to
take such a course.  This matter also must be
decided in the Local Court.
<P>

	<b>Impounding Charges</b>
<P>

52	As recounted above (paragraph 7), in its notification of 25 June 1997 the
defendant required payment of $100 for each trolley
as "impounding and holding
charges".  It is noteworthy that the charges were the same amount in each case,
even though some trolleys
were detained for much longer than others.  This led
to a submission in this Court on behalf of the plaintiff that the charges were
unreasonable, as it was apparent that they had been assessed inflexibly without
regard to the merit of the particular case.  It was
said that this would
entitle a court to intervene, applying the principles enunciated by Gibbs J (as
he then was) in <i>Parramatta City Council v Pestell </i><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1972/59.html" title="View Case" class="autolink_findcases_inserted">[1972] HCA 59</a>;  <a href="/cgi-bin/LawCite?cit=%281972%29%20128%20CLR%20305" title="View LawCiteRecord" class="autolink_findcases">(1972) 128 CLR 305</a> at
327.  On this basis, it was argued, the learned magistrate should have allowed
the appeal against the impounding charges.
<P>

53	On the face of it, the undifferentiated fee does call for some explanation
but, if there be one, the defendant will have the
opportunity of providing it
in the Local Court.  Again, this is not a matter which I could, or should,
decide.
<P>

	<b>Costs of appeals</b>
<P>

54	Having dismissed the appeals, the learned magistrate awarded costs against
the plaintiff.  There is no provision for such an
order in the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/" class="autolink_findacts">Impounding
Act</a></i>.  Her Worship took the view that the proceedings were governed neither
by the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act </i>1902</a> nor the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lcca1970250/" class="autolink_findacts">Local Courts (Civil Claims) Act</i>
1970</a>.  Clearly, this is so and it was common ground before me.  However, her
Worship concluded that a power to award costs should be implied
"in order to do
justice to the parties".  She was concerned generally that the court's
inability to order costs might discourage
citizens from pursuing their rights
of appeal under the Act.
<P>

55	In <i>Grassby v the Queen </i><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1989/45.html" title="View Case" class="autolink_findcases_inserted">[1989] HCA 45</a>;  <a href="/cgi-bin/LawCite?cit=%281989%29%20168%20CLR%201" title="View LawCiteRecord" class="autolink_findcases">(1989) 168 CLR 1</a>, Dawson J (at 16-17)
explained that the jurisdiction of a magistrate's court is confined to that
which it is granted by statute,
but his Honour added that "every court
undoubtedly possesses jurisdiction arising by implication upon the principle
that a grant
of power carries with it everything necessary for its exercise..."
The reasons for which the learned magistrate in this case saw
a power to award
costs as desirable have considerable force, and this also is a matter to which
the legislature might wish to give
its consideration.  However, I am not
persuaded that such a power is necessary for the effective exercise of the
jurisdiction of
the Local Court under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ia1993133/" class="autolink_findacts">Impounding Act</a></i>.  
<P>

56	Whilst allowing for the obvious differences, there is some analogy between
this case and the decisions of McInerney J in <i>Commissioner of Police v
Bennett </i>(1991) 9 Petty Sessions Review 4311 and of Wood J (as he then was)
in <i>Director of Public Prosecutions v Boykin </i>(Wood J, unreported, 21 June
1994).  In the former case, McInerney J did not find an implied power in a
magistrate to order costs
in an application for the return of property held by
the police under s358A (since repealed) of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ca190082/" class="autolink_findacts">Crimes Act </i>1900</a>.  In the
latter, Wood J took the same view when a magistrate ordered that a summary
prosecution be permanently stayed.
<P>

57	Accordingly, I am satisfied that her Worship had no jurisdiction to order
costs upon dismissing the appeals. That order also
must be quashed.
<P>

	<b>Orders</b>
<P>

58	I shall consult the parties about the appropriate orders to give effect to
these reasons and, if necessary, I shall hear argument
on the costs of the
proceedings in this Court.
<P>

**********
<P>

LAST UPDATED: 	20/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/308.html</i><br>
</p>
</small>
</body>
</html>
