<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>R v Phl [1999] NSWSC 961 (13 August 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 961</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+961 or 1999+NSWSC+961">Noteup</a>]
[<a href="961.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
R v Phl [1999] NSWSC 961 (13 August 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_961.html-->
<!--sino date 13 August 1999-->


<P>Last Updated: 30 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	R v PHL  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/961.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 961</a>
<P>

CURRENT JURISDICTION: 	Criminal Division
<P>

FILE NUMBER(S): 	70037/98
<P>

HEARING DATE{S): 	18/06/99; 13/08/99
<P>

JUDGMENT DATE: 	13/08/1999
<P>

 PARTIES: 
<P>

Regina
<P>

PHL
<P>

JUDGMENT OF: 	Hidden J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

M M Cunneen (Crown)
<P>

J W Black QC (PHL)
<P>

SOLICITORS: 
<P>

Director Public Prosecutions (Crown )
<P>

Sydney Regional Aboriginal Corporation ( PHL)
<P>

CATCHWORDS: 
<P>

Sentence - juvenile - s33(1)(e) <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/" class="autolink_findacts">Children (Criminal Proceedings) Act 1987</a>
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/" class="autolink_findacts">Children (Criminal Proceedings) Act 1987</a>
<P>

DECISION: 
<P>

Probation order
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>CRIMINAL DIVISION</b>
<P>

<b>HIDDEN J</b>
<P>

<b>Friday 13 August 1999</b>
<P>

<center><b>70037/98 - REGINA  v  PHL</b></center>
<P>

<b>Closed Court - Juvenile</b>
<P>

	
<P>

<b>Remarks on Sentence - ex-tempore</b>
<P>

1    	HIS HONOUR: The young offender was charged with
murder arising from a tragic incident which took place at Chester Hill on
the
afternoon of Friday, 5 September 1997.
<P>

2    	Upon arraignment he pleaded guilty to an alternative
charge of robbery, which the Crown accepted in full satisfaction of the
indictment.
<P>

3    	Shortly put, the facts are these.  On that afternoon
the offender was a passenger in a vehicle being driven by an adult co-offender,
Jason Paul Maslen.  To Maslen's knowledge, he was looking for someone from whom
to steal property. The victim selected was a 73 year
old woman, Mrs Joan Wills,
in Chester Hill Road.  Maslen stopped the car.  The young offender got out and
snatched Mrs Wills' handbag.
She resisted and as a result she fell to the
ground.  She suffered a fracture to the neck of her left femur and
unfortunately died
in hospital the next day as a result of internal
bleeding.
<P>

4    	It must be borne firmly in mind that the young
offender does not stand for sentence for any form of criminal responsibility
in
respect of that unfortunate lady's death. He stands for sentence only for the
crime of robbery, serious as that crime is.
<P>

5    	In an electronically recorded interview with police
in the presence of his mother on 10 September 1997, the offender admitted
the
offence. There is conflicting evidence about his motive for committing it but I
do not find that necessary to resolve.
<P>

6    	As I have said, the offence is a serious one which,
in other circumstances, would call for a significant deterrent sentence.
 This
particular case, however, is attended by some most unusual circumstances.  This
offender was but thirteen years old at the
time of this offence and is now only
fifteen.  He was in custody from 10 to 29 September 1997.  He was then released
on bail but,
being in breach of the terms of bail, he was returned to custody
on 28 October 1997 and remained in custody until released again
on bail by
order of a judge of this Court on 10 July 1999.  In all, he has served a little
over twenty months in custody referable
to this offence.
<P>

7    	He has a prior criminal history but its significance
must be determined in the light of his age and background.
<P>

8    	I have had the benefit of a comprehensive and very
helpful report of Ms Gina Proudlove of the Department of  Juvenile Justice.
Today I have received a further updated report of Bernadette Logo of that
Department.  It is sufficient to say that that material
discloses a very
disturbed childhood.  It is unnecessary to recite the detail of it comprising,
as it does, conflict at the parental
home, periods in various centres in an
attempt to find some stability in his life and periods when he was in fact a
street dweller.
 It was during one of those periods that this offence was
committed.
<P>

9    	The reports disclose that this young man has a lot of
ground to make up in terms of his personal stability, his education
and his
employment skills. What is encouraging is that, since his release on bail a
little over a month ago, he appears to have made
significant progress in that
regard.
<P>

10    	He has re-established contact with his mother, at
least, and is making efforts in secondary school education. Plans are in
place,
should he remain at liberty, for his being accommodated and being assisted and
supervised by officers of the Department.
<P>

11    	In the whole of his troubled life this period
presents as that with the most promise.  Given his youth, and for that reason
only, I consider that the period he has spent in custody is sufficient
custodial punishment for his crime. The community interest
is now best served
by his rehabilitation and that is best achieved by his remaining at liberty
under the supervision of the Department
of Juvenile Justice.
<P>

12    	I considered imposing a sentence under the<i>
<a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/" class="autolink_findacts">Sentencing Act</a></i>, backdated in such a way as to enable his immediate release
on parole.  That would have symbolic force as a denunciation of his crime
and
it would be an attractive option if he were older.  Given his youth, however, I
don't think an order of that kind is called for.
<P>

13    	I think there is much to be said for the orders
proposed by Mr Black QC who has appeared for him today, and that is an order
releasing him on probation pursuant to<b> </b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/s33.html" class="autolink_findacts">s33(1)(e)</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/" class="autolink_findacts">Children
(Criminal Proceedings) Act</i> 1987</a>.
<P>

14    	This is a power granted to a Children's Court under
that Act but by virtue of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/s18.html" class="autolink_findacts">s18(2)</a> of the Act I have the power to deal with him
in the same way. <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/s33.html" class="autolink_findacts">Section 33</a> places a two year limit on the period of probation
which I might impose but in my view that period is required.
<P>

15    	Accordingly, I order that the offender be released
on probation for a period of two years.
<P>

16    	The conditions of his probation are that he accept
the supervision and guidance of the Juvenile Justice Community Service,
that he
reside as directed by Juvenile Justice Community Service and that he attempt to
obtain and remain in employment.
<P>

17    	In making the probation orders I have taken into
account the matters on the Form One presented to me this morning.
<P>

**********
<P>

LAST UPDATED: 	29/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/961.html</i><br>
</p>
</small>
</body>
</html>
