<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Traviss v Eldridge [1999] NSWSC 1215 (12 November 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1215</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1215 or 1999+NSWSC+1215">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Traviss v Eldridge [1999] NSWSC 1215 (12 November 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1215.html-->
<!--sino date 12 November 1999-->


<P>Last Updated: 13 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Traviss v Eldridge  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1215.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1215</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	2469/99
<P>

HEARING DATE{S): 	12/11/99
<P>

JUDGMENT DATE: 	12/11/1999
<P>

 PARTIES: 
<P>

Kristine Anne Traviss &amp; Anor v Henry William Eldridge
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr  A. Enright for the plaintiff
<P>

SOLICITORS: 
<P>

Harris Hyde Page
<P>

CATCHWORDS: 
<P>

Family Provision. Application by children under <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision Act</a>.  Orders
made in their favour.  No matter of principle.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Para 16
<P>

JUDGMENT: 
<P>

- 1 -
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

MASTER MACREADY
<P>

FRIDAY 12 NOVEMBER 1999
<P>

<b>2464/99 KRISTINE ANNE TRAVISS &amp; ANOR v. HENRY WILLIAM ELDRIDGE</b>
<P>

JUDGMENT
<P>

1  	MASTER:	This is an application under the <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/fpa209/" class="autolink_findacts">Family Provision Act</a> in
respect of the estate of the late Sharon Lynette Davis who died on the 15th
January 1999.  The plaintiffs are the children of
the deceased and the
defendant is the widower of the deceased.
<P>

2  	The deceased died intestate and accordingly under section 61 of
the Wills Probate and Administration Act the whole of the estate
passes to him
on intestacy.  He has not taken out a grant and the plaintiffs have taken out a
grant pursuant to section 41A of the
Wills Probate and Administration Act for
the purpose of bringing these proceedings.
<P>

3  	The estate of the deceased comprises, firstly, some
superannuation which was shared between the two plaintiffs of $90,900, an
amount in the St George Bank account of $25,000, a tax refund of $1,000 and
investments of $104,537.62.  There are administration
expenses and other debts
totalling $4,147.70.
<P>

4  	The deceased was married three times, first to the father of the
second plaintiff, secondly, to the father of the first plaintiff
and, thirdly,
to the defendant.  There was in fact a will which was made on 13 October 1998
which was before the marriage of the
plaintiff to the defendant.  Under that
will she left her estate between her two children equally.
<P>

5  	Notice of the proceedings has been given to the defendant and he
has been served with relevant documents.  He has taken no step
in the
proceedings and has not filed an appearance. There is evidence that indicates
that he has told the process server that he
does not wish to make a claim and
accordingly the Court, given the service of the appropriate notice can
disregard his claim.  I
will however consider the evidence before me in respect
of that defendant.
<P>

6  	It is necessary to consider the circumstances of the plaintiffs.
The plaintiff Kristine Traviss was born on 30 September 1993.
 She had been
living with her mother until the age of 13 when apparently her mother left the
home.  There was then some difficulty
in the relationship between the plaintiff
and the deceased, but that seems to have been resolved a year or two before the
death of
the deceased.
<P>

7  	The plaintiff works as a purchasing manager with TST Australia,
North Sydney.  She has a salary in the new position of purchasing
and logistics
manager of some $45,000.  She lives in rented accommodation and apparently has
a car for which she paid $23,000.  She
owes $12,000 on that car and apart from
that has assets in furniture, white goods and television set.
<P>

8  	It is necessary to consider how the plaintiff Kristine is then
left without adequate and proper provision for her maintenance,
education and
advancement in life.  Clearly she has some debts which she wishes to clear and
the sum of $12,000 plus which she wishes
to obtain to put a deposit on a house.
It is not an unusual request on behalf of a child who is now making her way in
life.
<P>

9  	So far as the plaintiff Warren Anthony Traviss is concerned, he
was born on the 9th April 1968.  He had a difficult time with
his step father,
but clearly during the deceased's life he had contact with the deceased and had
a reasonable relationship with her.
 
<P>

10  	This plaintiff has had difficulties with his health and has had
to have his large bowel removed.  As a result of that he has
had a difficult
time.  He cannot work and his future prospects are somewhat bleak.
<P>

11  	As to his assets, he drives a truck worth about $12,000 which
has some $4,500 outstanding on it.  He has some furniture and
electrical
appliances.  He resides in rented accommodation.  He obviously also has a need
in respect of discharging his debts and
improving his situation in life.  He
apparently has had a difficult time as a result of his inability to work.
<P>

12  	It is clear that the plaintiff does have problems with his
health and being out of work, funds to support him during this period
would be
appropriate.
<P>

13  	The other person who has to be considered is the third husband,
Henry William Eldridge.  He was married to the deceased in
May 1991.  The
marriage apparently lasted only two years with the deceased leaving in 1993.
There is evidence before me that she
contributed some $40,000 by paying it to
the defendant in order to try and save his house from being repossessed by the
National
Bank.  That money has not come back to her.
<P>

14  	In the circumstances, particularly given the fact that he has
not put his financial situation to the Court, one can consider
any claim of his
as being minimal in the circumstances.  I am satisfied it is appropriate that
there be orders in favour of the plaintiff
for provision and the payment of
their costs out of the estate on an indemnity basis.  
<P>

15  	Given the extent of the evidence, it seems to me appropriate in
these circumstances that each should take one half of the estate.
<P>

16  	Accordingly, I make Orders in accordance with the Short Minutes
of Order which I will sign, date today and place with the papers.
<P>

LAST UPDATED: 	13/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1215.html</i><br>
</p>
</small>
</body>
</html>
