<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Raymond Hoser v Christopher Hartcher [1999] NSWSC 527 (2 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 527</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+527 or 1999+NSWSC+527">Noteup</a>]
[<a href="527.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Raymond Hoser v Christopher Hartcher [1999] NSWSC 527 (2 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_527.html-->
<!--sino date 2 June 1999-->


<P>Last Updated: 3 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Raymond HOSER  v  Christopher HARTCHER  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/527.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 527</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

Defamation List
<P>

FILE NUMBER(S): 	20601 of 1995
<P>

HEARING DATE{S): 	19 February 1999
<P>

28 May 1999
<P>

JUDGMENT DATE: 	02/06/1999
<P>

 PARTIES: 
<P>

Raymond HOSER - Plaintiff
<P>

Christopher HARTCHER - Defendant
<P>

JUDGMENT OF: 	Simpson J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

C Evatt, M Rollinson - Plaintiff
<P>

J Gibson - Defendant
<P>

SOLICITORS: 
<P>

Duker &amp; Associates - Plaintiff
<P>

Lynn Boyd - Defendant
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

Limitations Act 1969
<P>

National Parks and Wildlife Act (1974)
<P>

DECISION: 
<P>

Notice of motion dismissed
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>Defamation List</b>
<P>

<b>SIMPSON J</b>
<P>

<b>2 June 1999</b>
<P>

<b>20601/95</b>
<P>

<center><b><u>Raymond HOSER  v  Christopher HARTCHER</u></b>
<P>

<b><u>JUDGMENT</u></b>
<P>

	<b>HER HONOUR</b>  :  </center>
<P>

1	By notice of motion filed on 11 December 1998 the defendant seeks an order
that the statement of claim filed on 28 June 1995 be
struck out for want of
prosecution.  In the statement of claim the plaintiff claims damages for
alleged defamation arising out of
the publication by the defendant of a media
release issued on or about 30 December 1993 - that is, a year and a half before
the statement
of claim was issued.
<P>

2	By way of background, it appears that the plaintiff was the author of a book
titled "Smuggling" which was published in or about
May 1993.   Possibly as a
result of the publication of the book and the allegations contained therein,
the Independent Commission
Against Corruption (ICAC) investigated allegations
of corruption within the National Parks and Wildlife Service ("NPWS") and
within
the kangaroo meat industry.   Some of the allegations related to events
said to have occurred in the 1970's and 1980's.   
<P>

3	Shortly before the publication of the media release ICAC reported on the
result of its investigation, and it was this report that
prompted the media
release.   The release was headed:
<P>

	"ICAC Clears National Parks and Wildlife Service".
<P>

4	The text of the release was as follows:
<P>

	"The Independent Commission Against Corruption has cleared the NSW National
Parks and Wildlife Service of allegations relating
to corruption within the
kangaroo meat industry.
<P>

	After a four month investigation which covered several states, the ICAC
stated, `Commission inquiries have failed to reveal any
evidence of corrupt
conduct by NPWS officers.'
<P>

	The inquiry was called by the Director General of the NPWS in June 1993 to
answer bizarre allegations made in June 1993 relating
to various officers'
involvement in certain activities in wild life smuggling and the meat industry.

<P>

	On hearing the finding, NSW Minister for the Environment Mr Chris Hartcher,
said  `False accusations such as those made by Mr Hoser
detract from the
excellent work being carried out by the NPWS in the management and protection
of the State's native wildlife.
<P>

	`The high standard of work and the good reputation of the NPWS in carrying out
its responsibilities in wildlife management made
it very unlikely that there
had been improper action by Service officers.   I applaud the ICAC's findings
and hope now that the NPWS
can continue its work without the need to weather
such ridiculous claims.
<P>

	`These baseless allegations represent yet another incident where the NPWS has
been used as a whipping post.   It would appear that
the claims served only to
create a profile for the architects of the accusations,'  Mr Hartcher said.
<P>

	`The resources which had to be diverted to clear the name of the NPWS in this
matter would have been better utilised in pursuing
the real issues of wildlife
management in NSW,'  the Minister concluded.
<P>

	`The ICAC's determination is consistent with the findings of other
investigations carried out by the NPWS and the Police Department
in response to
allegations made by Raymond Hoser."
<P>

5	The media release nominated Julian Green as the person to whom further
inquiries should be directed.
<P>

6	The defendant was, at the time of the publication, the NSW Minister for the
Environment.
<P>

7	The plaintiff claims that the publication conveys five imputations, each
defamatory of him.   They are pleaded as follows:
<P>

	"(a)	the plaintiff made allegations against the NSW National Parks and
Wildlife Service which he knew to be false;
<P>

	(b)	the plaintiff made allegations against the NSW National Parks and Wildlife
Service of so ridiculous a nature that he ought
to have known they were
false;
<P>

	(c)	the plaintiff irresponsibly made a series of allegations against the NSW
National Parks and Wildlife Service for the purpose
of gaining publicity for
himself;
<P>

	(d)	the plaintiff had caused the NSW National Parks and Wildlife Service to
expend considerable time and money by making a series
of allegations against it
which he knew to be false;
<P>

	(e)	the plaintiff had caused the NSW National Parks and Wildlife Service to
expend considerable time and money by making a series
of allegations against it
which were so ridiculous that he ought to have known they were false."
<P>

8	The court file shows that the parties appeared in the Defamation List on 7
July 1995, but thereafter there appears to have been
a long period of
inactivity with no further listing of the matter until 20 March 1998, and
thereafter from time to time during 1998.
  No defence has yet been filed.
<P>

9	The defendant's notice of motion was supported by an affidavit sworn by his
solicitor.   He deposed to the following:
<P>

(a)	that the lapse of time between the date of the issue of the press release
and the commencement of the proceedings has prejudiced
the defence;
<P>

(b)	neither the press release nor papers recording its preparation or its issue
can be located other than one undated copy, not
on letterhead, which was
located on 21 January 1994;
<P>

(c)	the officer who found the document can no longer recall where it was or
whether any other documents existed;
<P>

(d)	There have been significant structural and organisational changes in the
administration of the NPWS, and particularly that section
of the NPWS concerned
with media, promotions, and publicity;
<P>

(e)	Julian Green resigned in November 1994, and worked as a temporary employee
for a period in 1995;
<P>

(f)	in March 1995 (that is, after publication of the media release, but before
the commencement of the proceedings) there was a
change of government in NSW
and the defendant ceased to be Minister for the Environment;
<P>

(g)	the defendant did not retain any papers relating to the plaintiff, the
media release, or the ICAC investigations;
<P>

(h)	a number of the persons named in the book "Smuggled" had resigned or
retired prior to the book's publication, and one died in
1988;
<P>

(i)	other officers named in the book have left the NPWS since 1993; another, a
former director of NPWS, died in 1997;   
<P>

(j)	should the action proceed the defendant would wish to plead defences of
truth, contextual truth, comment and qualified privilege;
 
<P>

(k) his capacity to maintain these defences would be compromised by reason of
the delays that have taken place;
<P>

(l)	the plaintiff has been convicted of offences against the National Parks and
Wildlife Act in 1982, 1984, and 1985;
<P>

(m)	In 1995 the plaintiff was convicted in Victoria of perjury, and was
sentenced to a term of imprisonment.
<P>

10	In evidence also was a bundle of correspondence between the solicitors for
the parties, commencing on 23 March 1998 with a letter
from the defendant's
solicitors to the plaintiff's solicitors.   After complaining that the
proceedings had been "revived" and re-listed
without notice to them, the
solicitors advised of their intention to make the present application.   In a
letter dated 24 April 1998
they referred to a direction made by the court
requiring the defendant to file a notice of motion and affidavit within 21
days, and
sought the plaintiff's agreement to an extension of time for
compliance.   The reason they gave was "the length of time the claim
has been
dormant ..."   By facsimile dated 30 April 1998 the plaintiff's solicitors
notified them that they refused to agree to the
extension.  In the absence of
any evidence to the contrary, or any evidence as to any other notice of motion
which the defendant
might have contemplated filing, I assume that the notice of
motion and affidavit referred to were those connected with  the present
application which had been foreshadowed in the first letter of the current
round of correspondence.
<P>

11	In a further letter dated 8 May 1998 the defendant's solicitors told the
plaintiff's solicitors they were unable to comply with
a court imposed
timetable for filing a notice of motion and affidavit "due to the difficulty in
gathering all of the evidence", and
advised that they now considered it
necessary to issue subpoenas for the purpose of obtaining that evidence.
<P>

12	There is no evidence of further correspondence until 2 October 1998 when the
plaintiff's solicitors wrote to the defendant's
solicitors notifying of their
intention to restore the matter to the Defamation List on 13 November for the
purpose of seeking an
order that it be placed in the Holding List.   They asked
the defendant's solicitors "to advise of any outstanding matters in order
that
same may be attended to".
<P>

13	The defendant's solicitors responded with a short history of the
proceedings, noted their opposition to the matter being placed
in the Holding
List, as interlocutory steps had not been completed, and said that in their
view the appropriate orders to be made
on 13 November related to the
defendant's application to strike out for want of prosecution (which still had
not been filed).   They
invited the plaintiff's solicitors to prepare to argue
the application on that date.
<P>

14	The evidence does not disclose what orders, if any, were made on 13
November.  There is another letter from the defendant's solicitors
dated 11
November, the details of which need not here be mentioned.   The next and final
letter in the bundle is another from the
defendant's solicitors dated 10
December, again complaining that the matter had been listed without reference
to them, and reiterating
that they would ask for argument to proceed on the
defendant's notice of motion to strike out the claim on the basis that the
publication
was absolutely privileged.   No mention was made in this letter of
an application to strike out for want of prosecution.
<P>

15	Evidence was given on behalf of the plaintiff by way of an affidavit sworn
by his solicitor, Mr Tees.   Mr Tees deposed that
he had first received
instructions to act on the plaintiff's behalf in late 1996, after the
proceedings had been commenced by other
solicitors.   At the commencement of
argument, the date 1996 was corrected to 1997.   In essence, Mr Tees recounted
instructions
he had received from the plaintiff to the effect that his former
solicitors had deceived him in relation to the progress of the matter
and had
failed to take proper and appropriate steps to have it brought on for hearing.
There was also an allegation that the former
solicitors had entered an
arrangement with the plaintiff concerning fees, but that they had failed to
honour the agreement and demanded
additional payment.   Mr Tees said that the
plaintiff's instructions were that he had always wished, and continued to wish,
to prosecute
the claim to vindicate his reputation, and that the publication
had had a seriously long term damaging effect on his reputation as
a researcher
and commentator on wildlife conservation and other matters.
<P>

16	He also deposed that, as might have been anticipated, the media release was
re-published in certain newspapers, and that, early
in 1994, the plaintiff
complained to the Australian Press Council about the newspapers that repeated
the allegedly defamatory material.
  Annexed to his affidavit was an
adjudication of that body dated September 1994 upholding the plaintiff's
complaints against the
newspapers.   
<P>

17	The evidence showed that the plaintiff was convicted of perjury in Victoria
in 1995, and that, after an unsuccessful appeal,
he served a prison sentence of
six months, of which two months was suspended.   He was released on 13 August
1997.
<P>

18	The notice of motion was filed on 11 December 1998.   In it the defendant
sought, in the alternative, orders that the matter
be struck out for want of
prosecution, or that it be struck out on the basis that no cause of action
could arise because the publication
was absolutely privileged.   The latter was
not ultimately pursued.
<P>

19	It seems to me that the following principles are relevant to the exercise of
the discretion to strike out for want of prosecution.
 The list is not intended
to be exhaustive:   
<P>

20	(1.)	the ultimate question is whether, on balancing the prejudice to the
respective parties by making or not making an order,
justice demands that the
action be dismissed:   <b>Stollznow  v  Calvert</b>  <a href="/cgi-bin/LawCite?cit=%281980%29%202%20NSWLR%20749" title="View LawCiteRecord" class="autolink_findcases">(1980) 2 NSWLR 749</a> at 751 F
(Court of Appeal);  <b>Razvan  v  Berechet</b>, unreported Court of Appeal, 23
February 1990;   <b>Vilo  v  John Fairfax and Sons Limited</b>, unreported, 19
November 1995, per Sperling J;   
<P>

21	(2.)	the discretion should be exercised only in a clear case where it is
manifestly warranted; <b>Razvan</b>, per Kirby P;  as is generally the case
with discretionary decisions, each case depends upon its own facts.   Rigid
formulae should
not be applied to the exercise of the discretion:
<b>Stollznow  v  Calvert </b>at 751 D;   
<P>

22	(3.)	any explanation offered by the plaintiff for the delay in proceeding
must be considered:  <b>Burke  v  TCN Channel Nine Pty Limited</b>, unreported,
16 December 1994, per Levine J;
<P>

23	(4.)	personal blamelessness on the part of a plaintiff(as distinct from any
tardiness or other fault on the part of his/her/its
legal representative) is
relevant: <b>Stollznow, </b>p73.
<P>

24	(5.)	a defendant who takes no steps to secure progress in the proceedings,
or to activate an apparently inactive plaintiff or
who stands by in the hope
that the passage of time will ensure the quiet death of the proceedings or that
the longer delay will strengthen
the case for striking out, runs the risk that
that very behaviour will operate to his/her/its disadvantage.   A defendant has
two
choices:   to attempt to prod the plaintiff into action, or to stand by,
doing nothing, trusting that time will bring about the slow
death of the
action.   Either choice represents something of a gamble, dependent upon future
events that the defendant is unable
with any degree of confidence to predict.
If the defendant opts for the former course, of prodding the plaintiff into
action, it
may succeed in doing so, precluding an application to strike out.
On the other hand, if the plaintiff remains inert, the defendant's
case for
striking out strengthens with passing time.   If the defendant chooses the
latter option and takes no action, the plaintiff
may take no further steps, or
may take no further steps until such irremediable prejudice is caused to the
defendant that the application
to strike out will succeed;  if, however,  some
other event galvanises the plaintiff into action the defendant, having done
nothing
to progress the matter, can hardly be heard to complain of the
plaintiff's earlier inactivity:  <b>Calvert  v  Stollznow</b>, 1 April 1980,
Ritchie's Supreme Court Procedure, (NSW) Vol 2, para 13, 022, per Cross J (at
first instance); and in the Court of
Appeal per Moffitt J,      p 753; <b>Vilo,
</b>p 10;<b> McBride v Australian Broadcasting Corporation</b>, unreported 6
November 1998, per Levine J;  <b>Bass v TCN Channel Nine Limited</b>,
unreported 25 July 1997, per Levine J;  <b>Hart  v  Herron</b>, unreported, 3
June 1993, Court of Appeal per Priestley JA;  
<P>

25	(6.)	delay between the date the cause of action arose and the commencement
of the proceedings may be a relevant factor:  <b>Calvert  v  Stollznow</b>, per
Cross J;   <b>Burke  v  TCN.  </b> But in my view, this circumstance must be
treated with some caution.   The weight that can be accorded to that delay is
limited.
  Where an action is commenced within the period provided for by an
applicable statute of limitations, it would not ordinarily be
appropriate to
take that period into account.   However, if a plaintiff has delayed
significantly in the commencement of the proceedings,
and that delay is
followed by further lethargy in the advancement of the proceedings, the effect
of the initial (but permissible)
delay is compounded.   The real question is
not the length of the delay, but the impact that delay has upon the defendant's
capacity
properly to defend the plaintiff's claim.   That will be a question of
fact in each case.   While there may be some prejudice presumed
by reason of
the passage of time, much will depend upon the nature of the proceedings, and
the identification of the issues involved
in the litigation.  Where, for
example, at the close of pleadings it can be seen that there are disputed
questions of fact dependent
upon the oral evidence of witnesses, or their
recollections, the prejudice will plainly be greater than in cases that depend
essentially
upon the application of legal principle to largely undisputed
facts, or upon disputed questions of fact that will be resolved by
reference to
documentary or other objective evidence not likely to be affected by the
effluxion of time;   
<P>

26	(7)	the onus lies on the defendant to establish any prejudice upon which
reliance is placed.   The disappearance or death of
witnesses, the fading of
their recollections, or the destruction of records, are some obvious examples
of the kind of prejudice that
might arise;   
<P>

27	(8)	prejudice to a defendant caused by delay has to be balanced against
prejudice to a plaintiff deprived of an otherwise valid
claim;  delay in the
commencement of proceedings by a plaintiff is sometimes taken as evidence
contra-indicating prejudice to the
plaintiff in the sense that he/she/it has
evinced no interest in his/her/its own case:  <b>Burke</b>, supra.  Such an
inference may be contra indicated by explanatory evidence;  in this regard the
plaintiff's personal responsibility
for the delay is an important factor as is
any explanation provided for the delay;
<P>

28	(9)	what the defendant has (or has not) done by way of preparation for trial
may be a factor.  This is a distinct question from
that concerning any steps
taken (or not taken) by the defendant in prompting the plaintiff to action.  A
defendant who has not interviewed
witnesses, taken statements or collected
documents, after being served with the claim, has a less meritorious complaint
about the
effect of prejudice caused or presumed by reason of delay:
<b>McBride  v  ABC</b>, unreported,  6 November 1998, per Levine J;
<P>

29	(10)	the plaintiff's prospects of success is a relevant factor.  If it
appears that the prospects are minimal, the discretion
is more likely to be
exercised in favour of the defendant.  Conversely, where the plaintiff's case
is strong (absent the kind of
prejudice to the defendant to which I have
referred) it is less likely that justice will be done by striking the action
out:  <b>Razvan, </b>per Kirby P;
<P>

30	(11)	the exercise of the discretion to strike out should not incorporate any
element of punishing a tardy plaintiff, or of excluding
one who may appear to
have some unworthy characteristics:   <b>Razvan</b>, per Kirby P.   The
ultimate aim of a court is the attainment of justice:   <b>The State of
Queensland  v  J L Holdings Pty Limited</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1997/1.html" title="View Case" class="autolink_findcases_inserted">[1997] HCA 1</a>;  <a href="/cgi-bin/LawCite?cit=%281997%29%20189%20CLR%20146" title="View LawCiteRecord" class="autolink_findcases">(1997) 189 CLR 146.</a>   To adapt the
words of the High Court in that case, discretions such as that presently
invoked ought not to be used to supplant
the overall aim of the attainment of
justice.  
<P>

	<b>The Defendant's Argument</b>
<P>

31	The defendant's first argument involved the provisions of SCR Pt 32A,
introduced into the Rules in August 1998.   These rules
are designed, and
operate, to enable the court of its own motion to dispose of cases which have
been inactive for twelve months or
more.   Although it would have been open to
this court, on the chronology earlier mentioned, to have called upon the
plaintiff to
show cause why the proceedings should not have been dismissed (and
given the defendant also an opportunity to be heard on that question)
that step
was not, apparently, taken.   The rule was not introduced as a weapon in the
armory of the defendant who, after taking
no action for two years and eight
months, is confronted by a reactivated plaintiff.   I regard the provisions of
Pt 32A as irrelevant
to the present application.
<P>

32	Another plank in the defendant's case was based upon what are said to be
special considerations in defamation cases.   A specialist
list has been in
existence in this court to manage defamation cases since 1979, because of what
is perceived to be the need for early
resolution of cases of that kind.   A
plaintiff who fails to act in relation to a perceived defamation may be
regarded as lacking
genuine interest in pursuing the vindication of his or her
rights and this is something that may be factored into the calculation
of any
damages awarded.
<P>

33	If, in any particular case, it is proper to draw an inference that the
plaintiff is not truly concerned about the vindication
of reputation, then that
is one factor in the equation in the consideration of whether the interests of
justice are met by striking
out the claim.
<P>

34	The foundational premise, however, is that the plaintiff is not especially
interested in pursuing the claim, and would therefore
not be unduly prejudiced
by its termination.   In the present case, there is sworn evidence, of a
hearsay character, that the plaintiff
has at all times maintained his interest
in and determination to pursue his rights.   Although no objection was taken to
the evidence,
and the deponent was not cross-examined, given its hearsay
character the evidence can be given little weight.   I would be reluctant
to
make a positive finding on this evidence that the plaintiff is motivated to
pursue the action.   But that is to invert the question.
  The relevant
question for present purposes is whether the plaintiff has been shown to be not
genuinely interested in the claim.
  The onus of establishing that lies upon
the defendant.  On the available evidence, I would not draw the inference that
the plaintiff
lacks commitment to the cause of action he asserts.
<P>

35	Counsel for the defendant next argued that what is crucial in the present
determination is not the length of the delay, but the
explanation for it.
This has created a difficulty.   The action was commenced in July 1995,
although the cause of action is said
to have arisen eighteen months earlier.
Thereafter the record does not disclose any activity at all by either party
until the plaintiff
took steps to re-activate (activate might be a more
appropriate term) in March 1998.   In the affidavit evidence relied on by the
plaintiff blame is unequivocally cast upon his former solicitors.  Relative
blamelessness on the part of a plaintiff is, as indicated
above (para 23) a
relevant factor.   That means that findings of fact in relation to the
inactivity on the plaintiff's side of the
record are necessary.
<P>

36	After judgment was reserved, counsel for the defendant in facsimile
communications sought to re-open the defendant's case, on
the ground that
additional evidence tending to rebut the plaintiff's solicitor's assertions
about the conduct of his former solicitors
was available.   In part, this was
said to be due to the error admittedly made in the affidavit, in which,
originally, the deponent
said that he first received instructions in late 1996,
a date which was corrected to read 1997.   There followed a flurry of
correspondence
by facsimile, the plaintiff opposing the proposed re-opening.
In the end, having considered all that was put to me by both parties,
and
having regard to the tentative view I had reached, I re-listed the matter for
argument on whether leave to re-open should be
granted.   This was largely
because it seemed to me that the issues raised bore largely on the plaintiff's
credibility and could
not properly be decided on the papers alone.  When the
matter was finally relisted, counsel for the plaintiff took no objection to
leave being granted to the defendant to reopen.
<P>

37	Counsel for the defendant read an affidavit of Mr Richard Thomas, formerly
the solicitor for the plaintiff.   Mr Thomas also
gave oral evidence.
<P>

38	He denied the plaintiff's allegations about the arrangements for payment of
fees.   Particularly in the light of the absence
of sworn evidence from the
plaintiff, I accept these denials.   Mr Thomas also said that, on hearing of
the plaintiff's conviction
for perjury, he formed the view that he was unlikely
to succeed in a defamation action, depending as it does upon reputation, and
so
advised the plaintiff.
<P>

39	To some extent Mr Thomas's evidence damages the plaintiff's credibility for
the purpose of the present application.  Counsel
for the defendant argued that
lack of credibility in the plaintiff is a relevant factor in assessing the
plaintiff's prospects of
success, and therefore a relevant factor in the
present determination.  That is so, but there is a limit to how far the damage
to
plaintiff's credibility in the present application can be carried over to a
final hearing on the merits.  I do not regard Mr Thomas's
evidence of being of
great significance on the question whether the proceedings should be struck out
for want of prosecution.
<P>

40	Counsel for the defendant also argued that the plaintiff's conviction for
perjury bears heavily on the present question.  This,
she argued, is because,
in any defamation action, the plaintiff's reputation is a central issue, and,
in this case, his credibility
will be important.   There can be little doubt
that the perjury conviction, and the penalty imposed, have potential to
handicap the
plaintiff in the pursuit of his claim.   That in turn affects his
prospects of success, which, as I have noted earlier, is one relevant
factor in
the present decision.  I take into account, in the defendant's favour, that the
plaintiff's prospects of success are likely,
to some presently undefinable but
probably significant extent, to be compromised by his conviction. 
<P>

41	Another matter relevant to the plaintiff's credit is said to be his trio of
convictions under the <i>National Parks and Wildlife Act, </i> from which, it
was put, an inference might be drawn that he was motivated by spite and ill
will towards the NPWS.   This relates,
as I understand it, principally to the
publication of the book "Smuggled", but also to his motivation in bring these
proceedings
against a former Minister for the Environment.
<P>

42	While this may be an issue that will arise if there is to be a trial, and an
inference that may be drawn by a jury, it is not
an inference that I am
prepared to draw on the present application and on the present state of the
evidence.
<P>

43	All of this brings me to what, as I see it, is really the defendant's
principal argument;  that is, that, by reason of the passage
of time, the death
of some potential witnesses, the movement of others, and the fading of memories
that may be presumed in those
who are available, and the loss or destruction of
relevant documentary material, the defendant has suffered irremediable
prejudice.
  There are a number of facets to this argument.   One is that, the
history and background of the matter being as they are, the circumstances
to be
explored date back, not merely to the date of publication of the media release,
but to the date of events and activities referred
to in the book "Smuggled" -
that is, to the late 1970's and early 1980's.   Issues relating to those events
will or might arise as
a result of the defendant's intention to plead defences
of truth, contextual truth, and qualified privilege.  I have taken it that
the
defendant intends to justify the imputations by reference to the allegations
made by the plaintiff in the book.
<P>

44	In this respect there is, to my mind, a glaring omission in the defendant's
evidence.   As mentioned above, he has not filed
a defence to this date and
neither has he adduced any evidence at all of the reason for his failure to do
so, nor of what steps (if
any) have been taken on his behalf to investigate and
prepare to meet the plaintiff's claim since it was served on 3 July 1995. 
 All
that is said is that, on that date, he requested the Director General of the
NPWS to arrange legal representation and that this
was done.   The deponent of
the affidavit goes on to say that he had caused inquiries to be made, with the
results outlined above
(paragraph 9).   Interestingly enough, one document was
said to have been located on 21 January 1994 - well before the statement
of
claim was issued.
<P>

45	The inference I draw is that, for reasons that remain unexplained, the
defendant did not make the necessary and appropriate inquiries,
investigations
and preparations at or shortly after the time he was served with the statement
of claim.
<P>

46	That being so, his present complaints that the delay since that time has
prejudiced his defence cannot be given any significant
weight.   His own
assertion, through his solicitor, of prejudice has to be seen in the context of
his own inactivity.   Moreover,
on the evidence before me, it is in fact the
defendant who is responsible for the first hiccup in the proceedings, in his
failure
to file a defence.   There is no suggestion in the evidence that this
occurred because of any arrangement between the parties.
<P>

47	During the course of argument counsel for the defendant recounted a
conversation between herself and then counsel for the plaintiff
following the
plaintiff's perjury conviction in October 1995.   The most I could infer from
this (even if it could be treated as
evidence, which it cannot) is that both
counsel made assumptions, unconfirmed by instructions, that the conviction
would bring the
defamation proceedings to an end.   That has proved to be a
false assumption.   
<P>

48	I have reached the conclusion that, if the defendant is prejudiced, it is
because of his own inactivity immediately following
service of the statement of
claim.   There is nothing in the affidavit to show that further prejudice has
been occasioned between
1995 and 1998.   In this regard I am conscious that
there is evidence that one individual, a former director of the NPWS, died in
1997.   However, there is nothing to show whether or not he was interviewed in
1995.  
<P>

49	Nor does it assist the defendant to rely upon the antiquity of the
allegations made in the plaintiff's book "Smuggled".   If,
in 1995, it was the
defendant's intention to defend the claim by alleging that the imputations
pleaded by the plaintiff were (or
any of them was) true, and to do so by
reference to the plaintiff's own writings, which themselves related to events
said to have
occurred as long ago as the early 1970's, then one would have
thought that immediate preparations would have been made to that end.
<P>

50	On behalf of the plaintiff it was suggested that his involvement in, and
pursuit of his complaint to the Press Council should
be taken into account as a
matter into which his energy, and possibly funds, were diverted.   Although his
solicitor mentioned the
complaint and its outcome, there is no evidence that it
had any bearing on the plaintiff's failure diligently to pursue this claim,
or
that it absorbed any of his funds.   Nor is the favourable adjudication
relevant.   The defendant was not involved in that complaint.
  I find this
part of the plaintiff's evidence irrelevant to the present decision.
<P>

51	The plaintiff also argued that to strike out his statement of claim at this
stage would be futile, since he is still within the
period provided by the
<i>Limitations Act 1969</i> to commence afresh.  In <b>Razvan</b> Kirby P
doubted whether that circumstance "necessitated" the exercise of discretion
against a defendant.   It does not seem to me
that his Honour entirely excluded
that fact as a relevant consideration, and a different view appears to have
been taken by Meagher
JA who said that the fact that an order is made would be
a futility has always been recognised as a valid ground for refusing to
make a
discretionary order.   I think the fact that the plaintiff could, if the order
were made, recommence his claim is a matter
I should and do take into account.
It is not, however, decisive.   It is one only of a number of factors.
<P>

52	In my opinion the evidence shows that both parties have been equally
lethargic, the plaintiff in pursuing his own interests,
and the defendant in
protecting his.   I am satisfied that the interests of justice would not be met
by striking out the statement
of claim.   The notice of motion is dismissed.
<P>

**********
<P>

LAST UPDATED: 	02/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/527.html</i><br>
</p>
</small>
</body>
</html>
