<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Arrow v Sportsworld Group [1999] NSWSC 1207 (13 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1207</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1207 or 1999+NSWSC+1207">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Arrow v Sportsworld Group [1999] NSWSC 1207 (13 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1207.html-->
<!--sino date 13 December 1999-->


<P>Last Updated: 13 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	ARROW v SPORTSWORLD GROUP  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1207.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1207</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	3969 OF 1999
<P>

HEARING DATE{S): 	6 and 8 December 1999
<P>

JUDGMENT DATE: 	13/12/1999
<P>

 PARTIES: 
<P>

ARROW ASSET MANAGEMENT PTY LIMITED v SPORTSWORLD GROUP PLC
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr M. Christie for the plaintiff
<P>

Mr M. Orlov for the defendant
<P>

SOLICITORS: 
<P>

Murray Stewart &amp; Fogarty for the plaintiff
<P>

Messrs Gray &amp; Perkins for the defendant
<P>

CATCHWORDS: 
<P>

Corporations Law. Application to set aside demand.  Whether a claim based upon
a total failure of consideration is a debt within
the meaning of s 459E.  Held
that it is a debt for the purposes of the section.  Defects in the affidavit
verifying statutory demand.
 Held that compliance with Queensland rules is
sufficient.  Summons dismissed.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Para 31
<P>

JUDGMENT: 
<P>

- 1 -
<P>

<b>IN THE SUPREME COURT </b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>MASTER MACREADY</b>
<P>

<b>Monday, 13 December 1999</b>
<P>

<b>3969 of 1999 ARROW ASSET MANAGEMENT PTY LIMITED v SPORTSWORLD GROUP
PLC</b>
<P>

<b>JUDGMENT</b>
<P>

1  	<b>MASTER:</b>  This is an application to set aside a statutory
demand served by the defendant on the plaintiff.  The demand was dated 19
August
1999 and sought repayment of $400,000.  The description of the debt in
the demand was "Deposit paid under agreement made between
the company and the
creditor dated 21 March 1997, repayable by reason of the company's repudiation
of the agreement."
<P>

2  	The agreement in question was one for the provision by the
plaintiff as operator and Horwath Corporate Pty Limited as owner
of rooms and
related services during the Olympic period to the defendant.  The provision of
rooms and related services was in a hotel
which was specified in the agreement
as being the Astor Apartment Management Hotel in Sydney.  
<P>

3  	Although when the proceedings were first commenced there was on
the affidavit evidence an issue as to whether or not the $400,000
referred to
in the demand had been paid by the defendant to the plaintiff the plaintiff now
concedes that the amount was paid to
it.  The grounds upon which it is sought
to set aside the notice are fourfold.  They are:-
<P>

1.	A defective affidavit.  It is suggested that the affidavit was not sworn by
an appropriate person with knowledge of the facts.
<P>

2.	A defect in the demand.  This relates to the description of the debt claimed
in the demand.
<P>

3.	A genuine dispute as to whether the $400,000 is in the circumstances which
have happened, repayable.
<P>

4.	A genuine dispute as to whether the plaintiff was liable as it was alleged
to be the agent of the owner of the hotel.
<P>

4  	I will deal with each of these matters in turn.
<P>

<b>1.	A defective affidavit.  It is suggested that the affidavit was not sworn
by an appropriate person with knowledge of the facts.</b>
<P>

5  	The affidavit in support of the statutory was sworn by Anne
Nicolai Irvine.  She swore the affidavit on the 19 August 1999.
 Her affidavit
was in the usual form in which she swore that she had knowledge of the facts of
the matter and that she had examined
the books and records which indicated that
the debtor had not repaid the monies.  The plaintiff in submissions relied upon
comments
by His Honour Mr Justice McLelland, Chief Judge in Equity in <i>B
&amp; M Quality Constructions v Buyrite Steel Supplies </i> <a href="/cgi-bin/LawCite?cit=%281995%29%2013%20ACLC%2088" title="View LawCiteRecord" class="autolink_findcases">(1995) 13 ACLC 88</a> at
90-91.
<P>

"In my opinion the departure from the relevant rule in respect of the affidavit
accompanying the statutory demand is a matter of
substance. The requirement of
that rule, as to the identity of the person making the affidavit accompanying
the statutory declaration,
is designed to serve the public interest as well as
to protect the company against unwarranted demands, by endeavouring to ensure,
within practical limits, that the person who must put his or her oath or solemn
affirmation to the relevant matters (and thereby
risk a conviction for perjury
if a knowingly false statement is made) is the person associated with the
creditor who is most likely
to have direct knowledge of those matters. It is
important in this regard to bear in mind that the relevant matters include not
only
a belief as to the existence and amount of the debt, but also a belief as
to the absence of any genuine dispute about the existence
or amount of the
debt. The express requirement in the rule that the person making the affidavit
depose to his or her belief that
there is no genuine dispute is a significant
mechanism for filtering out cases where there is in fact such a dispute, so as
to prevent
such cases from reaching the Court on such an application as the
present, with a consequent waste of time and resources. This mechanism
would be
substantially weakened unless a person likely to have personal knowledge of the
existence of a dispute if there is one makes
the affidavit. A statement of a
belief that there is no genuine dispute based solely on hearsay is unlikely to
have anything like
the same degree of reliability. I therefore do not regard
what has occurred in the present case as a merely technical breach of the
rules. It goes to the heart of what Part 80A rule 15 was intended to achieve."

<P>

6  	In particular the submissions fastened upon the expression, "This
mechanism would be substantially weakened unless a person
likely to have
personal knowledge of the existence of a dispute if there is one makes the
affidavit".
<P>

7  	The evidence before me established that the deponent was the
Olympics Programme Manager Sportsworld Group of the defendant.
 Apparently she
started with Sportsworld in September 1997 and was moved over to work for the
particular defendant in July 1999.
 The defendant is a company which is
incorporated in England and has its principal place of business in that
country.  Its directors
reside in England as do its shareholders.  The
company's business in Australia is primarily the organisation of ground
operations
for sponsors of the Olympic Games and for members and guests of
various national Olympic committees.  Its responsibilities include
contracting
arrangements for hotel bookings, transport and air travel and related matters.
The duties of the deponent involve the
management of the defendant's activities
in Australia.  The defendant has two employees in Sydney, the deponent, Miss
Irvin, and
an accounts manager.  The deponent reports directly to the directors
in England.  She effectively manages the defendant's activities
in Australia
and the accounts manager reports to her.
<P>

8  	The submissions of the plaintiff concentrated upon the fact that
the negotiations for the agreement in question occurred in
1997 the agreement
itself having been made on 21 March 1997 prior to the deponent's employment by
the defendant or one of its related
companies.  
<P>

9  	Given her responsibility the deponent is an officer within the
definition in 82A of the <i>Corporations Law</i>.  See <i>Jesseron Holdings Pty
Limited v Middle East Trading Consultants Pty Limited </i>(1994) 13 ACSR 455 at
460 and <i>Commissioner for Corporate Affairs v Bracht </i><a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1989/72.html" title="View Case" class="autolink_findcases_inserted">[1989] VicRp 72</a>;  <a href="/cgi-bin/LawCite?cit=%281989%29%20VR%20821" title="View LawCiteRecord" class="autolink_findcases">(1989) VR 821</a> at
830.  In the present case the arrangements surrounding the entering into the
agreement are really not necessary for an understanding
of the defendant's
claim made in the statutory demand.  The claim is a simple one based upon the
existence of an agreement, its repudiation,
acceptance of the repudiation and
the non-payment of the sum of $400,000 paid pursuant to the agreement.  Given
the extent of what
was required to be investigated by an officer it is clear
that a consideration of the records of the company would have enabled her
to
have sufficient knowledge.  In these circumstances I am satisfied that she was
an appropriate person to swear the affidavit. 
In the event that this is wrong
it should be noted that in the evidence it is clear that she had knowledge of
matters prior to July
1999 because of her employment in Australia by other
associated companies of the defendant.
<P>

  
<P>

<b>2.	A defect in the demand.  This relates to the description of the debt
claimed in the demand.</b>
<P>

10  	In order to understand this ground it is necessary to set out a
little of the background to the matter.  As I have said the
agreement was
entered into on 21 March 1997 and dealt with the provision by the plaintiff of
rooms during the Olympic period.  The
rooms were to be provided in a specified
hotel and the agreement provided that certain rates of payment to be made for
accommodation.
 It also provided for a deposit of $400,000 to be paid to the
operator on execution of the agreement.  By letters of 10 April 1997
the
defendant agreed that the sum of $400,000 could be utilised for pre-opening and
operational expenses of the hotel and that it
be treated as a credit against
the total amount payable under the contract in respect of accommodation at the
hotel.  On 20 April
1999 His Honour Mr Justice Young ordered that the owner
Horwath wind up the trust for the hotel and on 27 April 1999 the hotel ceased
to operate.  Clause 7.1 of the agreement provided that if the plaintiff's right
to operate the hotel was terminated then it was obliged
to cause any new
operator to enter into a similar agreement with the defendant.  On12 May 1999
the defendant called upon the plaintiff
to remedy the default under clause 7.
As there was no response the defendant's solicitors by letter of 13 August 1999
wrote to the
plaintiff in these terms:-
<P>

" Our Client - Sportsworld Group PCL
<P>

As you are aware, we act for the about company.
<P>

You are no doubt also aware that on 21 March 1997 our client entered into a
contract with your company by which your company undertook
to provide rooms and
related services to our client during the Olympic Games at the Astor Apartment
Management Hotel.  Pursuant to
the agreement, a deposit of $400,000 was paid
upon account of the accommodation sum as defined within the agreement.
<P>

It is apparent from events that have occurred over a period of time since the
end of last year that your company has repudiated
this agreement.  In these
circumstances, our client accepts the repudiation and now terminates the
agreement.
<P>

Our client holds your company liable in damages both liquidated and
unliquidated.  In relation to liquidated damages, our client
now demands the
return of the deposit paid under the agreement in the sum of $400,000 and
requires this amount to be paid within
the next 7 days."
<P>

11  	Thereafter the demand was served and it claimed an amount in the
terms which I have quoted earlier.  In submissions it was
suggested that this
was not an appropriate description of the claim for repayment which clearly is
based upon a total failure of
consideration.  The submissions were to the
effect that the description of the debt in the schedule leaves one not knowing
whether
it is a claim for damages or restitution.  In submissions reference was
made to <i>Aspermont Ltd v Robash Pty Ltd</i> (1998) 16 ACLC.  That was a case
where the description of the debt was one which included, "Monies lent or paid
on behalf of the
creditor".  It also became apparent that part of the claim was
a restitutionary claim.  His Honour in those circumstances thought
that the
demand was defective.  He said:
<P>

"The debt is not `specified' because it is put on alternatives bases in so far
as it has a restitutionary basis and the essential
element of the claim,
namely, the conferring of a benefit on the company, is not apparent from the
demand in relation to the amounts
of $6,000 and $500."
<P>

12  	His Honour, however, held that the defect would cause no
substantial injustice.
<P>

13  	Although the submissions referred to the ambiguities inherent in
the nature of the claim as it appears from the letter accepting
the repudiation
of the contract, it is more important to concentrate on the words in the
demand.  That description by the use of
the word "repayable" is setting out
clearly the nature of the claim and the words are not apposite to the convey a
suggestion of
a claim for damages.  The submissions suggested that the
description should have included the words, "in acceptance of the repudiation"
and "an election to seek restitution".  For my part I would have thought that
what is set out in the schedule would be understandable
by a lawyer who would
naturally have to deal with the claim on behalf of the company. 
<P>

14  	Even if it were a defect the question that would then arise
would be whether it would cause any substantial injustice because
this must be
established before the demand can be set aside.  In the affidavits in support
of the application no suggestion was made
of any substantial injustice at a
practical level and what was articulated in submissions was the difficulty
facing someone who had
to respond within 21 days to what might be a damages
claim or a restitutionary claim.  The plaintiff seems to have been able to
gather
its evidence together and deal with the restitutionary claim aspects
without any difficulty.  Accordingly, I am not satisfied that
there is any
substantial injustice and I decline to set aside the demand upon this ground.

<P>

<b>3.	A genuine dispute as to whether the $400,000 is in the circumstances
which have happened, repayable.</b>
<P>

15  	It worth noting how the defendant puts his claim for the
$400,000.  The contract provided specifically for the provision of
rooms in the
Astor Apartment Management Hotel, not in any other property.  The closure of
the hotel necessarily meant that the plaintiff
could not perform its obligation
to provide rooms at the hotel at the time of the Olympics.  In these
circumstances there was an
anticipatory breach amounting to a repudiation of
the contract.  Such repudiation was accepted by the letter dated 13 August
1999.
 There was of course no need for the plaintiff to decide at that stage
what course it would take.  No doubt if proceedings were commenced
it would at
some stage be bound to elect whether or not it would claim damages for breach
or seek restitution of the monies paid.
 All that was necessary in the letter
of 13 September 1999 was for there to be an acceptance of the repudiation of
the plaintiff.
 As the plaintiff's obligations under the contract were wholly
executory there has been a total failure of consideration; see <i>David
Securities Pty Ltd v Commonwealth Bank of Australia </i><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1992/48.html" title="View Case" class="autolink_findcases_inserted">[1992] HCA 48</a>;  <a href="/cgi-bin/LawCite?cit=%281992%29%20175%20CLR%20353" title="View LawCiteRecord" class="autolink_findcases">(1992) 175 CLR 353</a> at
382.  In these circumstances the law requires that the money be repaid; see
<i>Baltic Shipping Company v Dillon</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1993/4.html" title="View Case" class="autolink_findcases_inserted">[1993] HCA 4</a>;  <a href="/cgi-bin/LawCite?cit=%281993%29%20176%20CLR%20344" title="View LawCiteRecord" class="autolink_findcases">(1993) 176 CLR 344</a> at 375.  The source
of the obligation to repay money received for a consideration which has wholly
failed is now seen as being grounded
in restitutionary principles based upon
unjust enrichment.  
<P>

16  	The plaintiff's submissions relied in particular upon the
suggestion that the obligation to make restitution is not a debt
but a claim of
a different character which does not fall within the appropriate description of
a debt for the purposes of the <i>Corporations Law.</i>  A statutory demand can
only be issued for recovery of a debt as referred to in s 459E of the
<i>Corporations Law</i> and is not available, for instance, to allow recovery
of a claim for unliquidated damages.  
<P>

17  	In this regard there is authority dealing with what is a debt
for the purposes of the <i>Corporations Law.  </i>In <i>Molit Pty Limited v Lam
Soon Australia Pty Limited </i> <a href="/cgi-bin/LawCite?cit=%281996%29%2021%20ACSR%20157" title="View LawCiteRecord" class="autolink_findcases">(1996) 21 ACSR 157</a> Branson J was concerned with
the meaning of the word "debt" which is in s 443A(1) of the <i>Corporations
</i>
<P>

18  	<i>Law.</i>  On this aspect at page 159 Her Honour had the
following to say:-
<P>

"Mr Clayton referred to the well recognised distinction between the incurring
of a debt and the incurring of a liability for unliquidated
damages (see Ogdens
Ltd v Weinberg  <a href="/cgi-bin/LawCite?cit=%281906%29%2095%20LT%20567" title="View LawCiteRecord" class="autolink_findcases">(1906) 95 LT 567</a>; Young v Queensland Trustees Limited <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1956/51.html" title="View Case" class="autolink_findcases_inserted">[1956] HCA 51</a>;  <a href="/cgi-bin/LawCite?cit=%281956%29%2099%20CLR%20560" title="View LawCiteRecord" class="autolink_findcases">(1956) 99
CLR 560</a>; Hawkins &amp; Ors v Bank of China  <a href="/cgi-bin/LawCite?cit=%281992%29%2026%20NSWLR%20562" title="View LawCiteRecord" class="autolink_findcases">(1992) 26 NSWLR 562).</a> The following
passage from the speech of Lord Davey in Ogdens Ltd v Weinberg at 567 has been
frequently quoted:-
<P>

'The word "debts", no doubt, means something recoverable by an action for debt,
and nothing can be recovered in an action for debt
except what is ascertained
or can be ascertained. A claim for an amount which is uncertain, and cannot be
adjusted in an account,
cannot, I think, be justly called a "debt".'
<P>

There is authority for the proposition that the term "debt" is used in the
Corporations Law in its usual sense which invokes the
well recognised
distinction between a debt and a liability for unliquidated damages (Jelin Pty
Ltd v Johnson &amp; Anor  <a href="/cgi-bin/LawCite?cit=%281987%29%205%20ACLC%20463" title="View LawCiteRecord" class="autolink_findcases">(1987) 5 ACLC 463</a>; Commonwealth Bank of Australia v
Butterell  <a href="/cgi-bin/LawCite?cit=%281994%29%2014%20ACSR%20343" title="View LawCiteRecord" class="autolink_findcases">(1994) 14 ACSR 343).</a> Nothing in the language of s443A(1) of the
Corporations Law, or in the context in which it is found, suggests, in my view,
that the
term "debt" is not used in that section with its usual meaning. In its
usual meaning it does not include a claim for damages for
a failure to comply
with a covenant in a lease to make good damage caused to the leased
premises."
<P>

19  	It would seem to me that the same principles that are referred
to by Her Honour would apply to s 459E of the <i>Corporations Law</i>.
Reliance was placed by the plaintiff upon <i>Shephard v ANZ Banking Group
</i> <a href="/cgi-bin/LawCite?cit=%281997%29%2041%20NSWLR%20431" title="View LawCiteRecord" class="autolink_findcases">(1997) 41 NSWLR 431.</a>  That was a case where there had been no election to
accept a repudiation and accordingly the court was concerned as to whether a
debt had been incurred at certain defined stages prior to an acceptance of the
repudiation.  Giles AJA at 434 talked of the meaning
of a debt in these
terms:-
<P>

"A debt might have been incurred for the purposes of s556(1) notwithstanding
that it was a contingent debt, in the sense of the
undertaking of a conditional
but unavoidable obligation to pay a definite sum of money at a future time. So
in Hawkins v Bank of
China giving a guarantee of payment of an existing debt
was held to be the incurring of a debt, and in Commissioner of State Taxation
v
Pollack  <a href="/cgi-bin/LawCite?cit=%281994%29%2012%20ACLR%2028" title="View LawCiteRecord" class="autolink_findcases">(1994) 12 ACLR 28</a> employing an employee in respect of whom pay-roll tax
must be paid was held to be the incurring of a debt although the amount could
only be ascertained in the future.
<P>

20  	He went on to describe the restitutionary claim in these terms
at 435.
<P>

"The contingent obligations were of a very different kind from the contingent
debt in Hawkins v Bank of China. They depended upon
failure by Holdings to
perform within a reasonable time, upon the customers' elections to terminate
the contracts rather than to
keep them on foot, and upon the circumstances
being such that in the absence of restitution there would be unjust enrichment
and
no defence such as a change of position. The first contingency was up to a
point within Holdings' control, though not inevitably
so. The second
contingency was not, but was a necessary event for recovery of the deposits
because the restitutionary remedy was
not available until the contract had been
discharged. If the circumstances called for a remedy to prevent unjust
enrichment, the
restitutionary obligation was imposed by law rather than by
agreement of the parties, and arose at the time the consideration for
which the
deposits were paid failed, that is, when the contracts were validly terminated
for non-performance: see David Securities
Pty Ltd v Commonwealth Bank of
Australia <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1992/48.html" title="View Case" class="autolink_findcases_inserted">[1992] HCA 48</a>;  <a href="/cgi-bin/LawCite?cit=%281992%29%20175%20CLR%20353" title="View LawCiteRecord" class="autolink_findcases">(1992) 175 CLR 353</a> at 389."
<P>

21  	Abadee AJA, with whom Meagher JA agreed, dealt with
restitutionary claim at 442 in these terms:-
<P>

"Thus, returning to what might be regarded as the core submission of the
respondents, it is that a customer has a restitutionary
remedy if he or she
terminates future performance of the contract and seeks recovery of the money
paid under it. This remedy does
not arise under the contract, and arises only
when the contract has been so terminated by election. The basis of the remedy
is that
in the absence of the customer receiving the agreed performance or its
equivalent in unliquidated damages, the law recognises it
as unjust that the
company continue to retain the purchase moneys received at the expense of the
customer. The law then imposes the
restitutionary obligation on the company.
The restitutionary obligation is "incurred", if at all, only at that time.
Thus, in this
case no restitutionary obligation and hence no debt was incurred
at any of the stages asserted by the appellant.
<P>

In my view the respondent's submissions should be accepted as reflecting a
correct analysis of contractual principles and restitutionary
law and an
appropriate application of them to the facts.
<P>

22  	The restitutionary claim with which he was dealing was one which
was based upon a total failure of consideration and his remarks
are thus
particularly apposite to the present case.  Clearly both judges are of the view
that a debt arises, when based upon a total
failure of consideration upon
acceptance of the repudiation. 
<P>

23  	In submissions I referred to His Honour's comments about the
defence of change of position.  In the context of the plaintiff
 or some other
body having expended the $400,000 the question arose in argument before me as
to whether that might be some change
of position.  Given the terms of the
contract as varied which allowed the use of that sum by the plaintiff it does
not seem to me
that that fact of itself is a change of position.  Accordingly,
it seems to me that quite clearly the restitutionary claim based
upon total
failure of consideration is a debt within the meaning of that expression in the
<i>Corporations Law</i> and there can be no genuine dispute in this regard.
<P>

<b>4.	A genuine dispute as to whether the plaintiff was liable as it was
alleged to be the agent of the owner of the hotel.</b>
<P>

24  	During the hearing I rejected from the supplementary affidavits
filed outside the 21 days period various allegations which
might go to an
argument that the plaintiff merely received the monies as agent for the owner
of the hotel.  At the time I gave my
reasons and referred to a number of cases
in support of those reasons.  Subsequently I have also been referred to a
further case,
namely, a decision of Hill J in <i>Zanjill Pty Limited v Sydney
Autolack Centre Pty Ltd</i> 5 December 1997.  That case does not cause me to
change the view which I took.  Indeed His Honour considered the matter to be
arguable.
<P>

25  	There did remain, however, some evidence in the original
affidavit that was filed within time.  This included in paragraph
5 that the
trustee of the Astor Apartment Hotel was Horwath Corporate Pty Limited and that
the managing agent was the plaintiff.
 Clause 8.1 of the agreement of March
1997 was as follows:-
<P>

"8.1.  If at the date of this agreement the operator is operating the hotel as
agent for the owner then the owner by entering this
agreement assumes the
obligations and liabilities of operator and shall be responsible therefor as if
it had entered this agreement
as the operator."
<P>

26  	The submissions of the plaintiff fastened upon the word,
"assumes" in this clause and suggested that thereby the owner was
liable to the
exclusion of the agent.  The general principles of agency law in this regard
are conveniently referred to in<i> Australian Trade Commissioner v Goodman
Fielder Industries Limited </i><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1992/307.html" title="View Case" class="autolink_findcases_inserted">[1992] FCA 307</a>;  <a href="/cgi-bin/LawCite?cit=%281992%29%2036%20FCR%20517" title="View LawCiteRecord" class="autolink_findcases">(1992) 36 FCR 517</a> at 521.
<P>

Before turning to the particular statutory provisions which have given rise to
the questions of law that are before us, it is appropriate
to refer to some
settled propositions of the law of principal and agent. In Teheran-Europe Co
Ltd v ST Belton (Tractors) Ltd  <a href="/cgi-bin/LawCite?cit=%5b1968%5d%202%20QB%2053" title="View LawCiteRecord" class="autolink_findcases">[1968] 2 QB 53</a> at 59-60 Donaldson J said that an
agent can conclude a contract on behalf of his principal in one of three ways:

<P>

(a) 	By creating privity of contract between the third party and his principal
without himself becoming a party to the contract.
<P>

 
<P>

(b)	By creating privity of contract between the third party and his principal,
whilst also himself becoming a party to the contract.
<P>

 
<P>

(c) 	By creating privity of contract between himself and the third party, but
no such privity between the third party and his principal.

<P>

In considering the issues which arise on this appeal it will be important to
bear in mind, in particular, category (b). Donaldson
J's decision, as regards
questions of agency, was affirmed by the Court of Appeal: see Teheran-Europe Co
Ltd v ST Belton (Tractors)
Ltd  <a href="/cgi-bin/LawCite?cit=%5b1968%5d%202%20QB%20545" title="View LawCiteRecord" class="autolink_findcases">[1968] 2 QB 545.</a> Earlier, in Montgomerie v
United Kingdom Mutual Steamship Association Ltd  <a href="/cgi-bin/LawCite?cit=%5b1891%5d%201%20QB%20370" title="View LawCiteRecord" class="autolink_findcases">[1891] 1 QB 370</a> at 372 Wright J
said, describing it as an important proposition, that: 
<P>

"[I]n all cases the parties can by their express contract provide that the
agent shall be the person liable either concurrently
with or to the exclusion
of the principal, or that the agent shall be the party to sue either
concurrently with or to the exclusion
of the principal." 
<P>

The effect of the authorities was summed up by Mr F M B Reynolds in Chitty on
Contracts (25th ed, 1983), Vol 2, Ch 1. Mr Reynolds
wrote -
<P>

"The fact that a person is an agent and is known to be so does not, however, of
itself necessarily prevent him incurring personal
liability. Similarly he may
be entitled to sue. Whether this is so is to be determined by the construction
of the contract, if written,
and by its nature and the surrounding
circumstances. When the agent does contract personally the scope of the
contract which he makes
requires careful analysis. He may undertake sole
liability to the exclusion of his principal: conversely he may undertake joint
liability
on the main contract together with his principal. He may act as
surety for his principal, or enter into a collateral contract with
its own
terms. The possibilities shade into one another, and there is no general rule."

<P>

See also the commentary by the same author on Art 105 of Bowstead on Agency
(15th ed, 1985), pp 426-429, and Scott v Geoghegan &amp;
Sons Pty Ltd  <a href="/cgi-bin/LawCite?cit=%281969%29%2043%20ALJR%20243" title="View LawCiteRecord" class="autolink_findcases">(1969) 43
ALJR 243</a> at 245, per Taylor J."
<P>

27  	The question of whether the agent has personal liabilities can
be determined quite easily by a perusal of terms of the contract.
 The
following clauses clearly indicate a personal liability of the agent to perform
under the agreement.
<P>

2.1	Provision of Rooms and Services.
<P>

3.	Warranties
<P>

4.1 &amp; 4.2	Number and standard of rooms and hotel.
<P>

4.7 - 4.9	Services to Guests.
<P>

6.1	Refund of Deposit.
<P>

7.1	Obligation to have new operator enter agreement.
<P>

14.	Solving complaints of Guests.
<P>

28  	In addition, the provision of clause 11.1 which deals with
default shows that the obligations owed by the owner and operator
are
distinct.
<P>

29  	It does not seem to me to be arguable that the operator does not
have any liability under the agreement or that its liability
is "assumed" by
the owner under clause 8.1.  All that clause does, in effect, supply a
guarantee by the owner of the hotel for the
existing liability of the operator.

<P>

30  	In the circumstances the matter is so clear that I am of the
view that there is no genuine dispute as to the plaintiff's liability
to refund
the deposit.
<P>

31  	I order that the Summons be dismissed and that the plaintiff pay
the defendant's costs.
<P>

LAST UPDATED: 	13/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1207.html</i><br>
</p>
</small>
</body>
</html>
