<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Abdul-Karim v Attorney General's Department [1999] NSWSC 79 (10 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 79</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+79 or 1999+NSWSC+79">Noteup</a>]
[<a href="79.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Abdul-Karim v Attorney General's Department [1999] NSWSC 79 (10 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_79.html-->
<!--sino date 10 February 1999-->


<P>Last Updated: 25 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Abdul-Karim v Attorney General's Department  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/79.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 79</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	4948/98
<P>

HEARING DATE{S): 	10 February 1999
<P>

JUDGMENT DATE: 	10/02/1999
<P>

 PARTIES: 
<P>

Michael Abdul-Karim (1st plaintiff)
<P>

John McEncroe (2nd plaintiff)
<P>

Attorney General's Department (1st defendant)
<P>

Anthony Hamod (2nd defendant)
<P>

JUDGMENT OF: 	Young J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiff:                    M Hilbery
<P>

2nd Defendant:          P Finch
<P>

SOLICITORS: 
<P>

Plaintiff:                      McKells
<P>

2nd Defendant:            W G McNally &amp; Co      
<P>

CATCHWORDS: 
<P>

Procedure [673]
<P>

Costs
<P>

Cost agreement
<P>

Barrister to receive 20% of monies recovered
<P>

Unenforceable
<P>

<a href="http://www.austlii.edu.au/au/legis/nt/consol_act/lpa179/" class="autolink_findacts">Legal Profession Act</a>
<P>

Professions [151]
<P>

Costs
<P>

Barrister
<P>

Unenforceable costs agreement
<P>

Effect
<P>

Professions [172]
<P>

Lien
<P>

Claim on sum recovered by client for costs under Costs in Criminal Cases Act
<P>

Whether barrister has lien
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/" class="autolink_findacts">Legal Profession Act 1987</a> (NSW) <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/s18.html" class="autolink_findacts">s 18</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/" class="autolink_findacts">Costs in Criminal Cases Act 1967</a> (NSW) <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/s4.html" class="autolink_findacts">ss 4(2)</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/s6.html" class="autolink_findacts">6</a>
<P>

DECISION: 
<P>

Claim for lien refused
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>YOUNG, J</b>
<P>

<b>WEDNESDAY 10 FEBRUARY 1999</b>
<P>

<b>4948/98 - MICHAEL ABDUL-KARIM &amp; ANOR v ATTORNEY GENERAL'S DEPARTMENT
&amp; ANOR</b>
<P>

<b>JUDGMENT</b>
<P>

1	<b>HIS HONOUR :</b> The first  plaintiff is a member of the Bar.  The second
plaintiff is a solicitor who instructed the first plaintiff.  Moneys are
allegedly owing to them.  For reasons set out later moneys for legal costs were
to be paid by the Attorney General's Department to
the second defendant in
respect of costs in the same matter as the plaintiffs were acting for the
second defendant.  The plaintiffs
sought to restrain the payment.  However the
payment was made and an interim injunction was granted to restrain the second
defendant
from dealing with part of the money until the matter could be
heard.
<P>

2	The second defendant had the misfortune to be charged with various criminal
offences in respect of which he was acquitted by Magistrate
Horler.  The second
defendant may have claims against the State or other people in connection with
the charges that were brought
and the month's imprisonment he suffered pending
his acquittal.  The second defendant was associated, to use a neutral word,
with
a company Hamock Investments Pty Ltd.
<P>

3	On 17 October 1996, at a date when it would seem that Mr Hamod himself was
bankrupt (though I am not aware of whether that bankruptcy
was later annulled,
and, if it was, what effect that might have) a document headed "<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/" class="autolink_findacts">Legal
Profession Act</a> Conditional Costs and Disclosure Agreement" was entered into
between Hamock Investments Pty Ltd and the first plaintiff.
<P>

4	That agreement said that Mr Abdul-Karim was briefed to attend court when and
as required, advise, negotiate and draft documents,
and that the assessment of
fees was to be twenty percent of the amount recovered in the proceedings or
negotiated settlement with
any of the "above parties", which presumably meant
the Director of Public Prosecutions and the Fraud Enforcement Agency, or the
New
South Wales Government. The agreement concluded by saying, "all other
terms, whether oral or implied, are excluded".
<P>

5	The document is an extremely peculiar one.  It does not name the parties.  It
is only executed by Mr Abdul-Karim, on the one part,
and Hamock Investments, on
the other part.  Other evidence before me shows this was deliberately done
because of Mr Hamod's bankruptcy.
 In his affidavit Mr Abdul-Karim cursorily
refers to this agreement as being made by Mr Hamod through his company, but
that hardly
accords with what is on the document, especially when one has to
exclude all implied terms.
<P>

6	The agreement is contrary to the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/" class="autolink_findacts">Legal Profession Act 1987</a>.  This is for at
least two reasons.  The first is that <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/s188.html" class="autolink_findacts">s 188</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/" class="autolink_findacts">Legal Profession Act 1987</a>,
as amended, provides that a costs agreement is not to fix costs as a proportion
of the amount recovered in any proceedings.  Secondly,
the provisions in the
Act do not apply to criminal proceedings. There may be some room in criminal
proceedings to apply the Common
Law where one could have a costs agreement on
the basis of no win no pay, but otherwise proper and normal  costs.  Whether
one can
do that or not, the latent breach of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/s188.html" class="autolink_findacts">s 188</a> of the Act is something
which means that the costs agreement is at least unenforceable, if not illegal
and void.
<P>

7	There is a very interesting point here which has not been argued, and I do
not wish to be taken as having decided it, as to whether
the agreement can
operate so as to make it clear that Mr Abdul-Karim agreed to be paid by the
company and only the company and thus
remove Mr Hamod's personal liability.
<P>

8	Against that proposition can be put the well-known case of <b>Head v Kelk</b>
 <a href="/cgi-bin/LawCite?cit=%281961%29%2063%20SR%20%28NSW%29%20340" title="View LawCiteRecord" class="autolink_findcases">(1961) 63 SR (NSW) 340</a>, that one does not draw that inference unless one really
has to, and it may be also said that if this agreement is void one cannot
imply
the inference from it.  On the other hand, the argument is open and should be
left for the proper occasion.
<P>

9	The proceedings before the Magistrate were very protracted.  It is very
difficult to reconstruct from the evidence exactly what
happened, but it would
seem that between 17 March 1997 and 4 June 1997 the matter was before the
Magistrate on at least nine hearing
days whilst the prosecution case was
presented, and that on each of those days Mr Abdul-Karim appeared for the
second defendant,
instructed by John McEncroe &amp; Co.
<P>

10	On 4 June the Magistrate found a prima facie case. There was then discussion
between Mr Abdul-Karim and the second defendant
as to the way the proceedings
should continue.  It would seem that the second defendant rejected Mr
Abdul-Karim's advice and terminated
his retainer.
<P>

11	Thereafter either Mr Hamod appeared for himself or was represented by Mr
Paul Finch of counsel.  The case went on in September
and October 1997, for
five days in January 1998 and for five days in March 1998, and on 3 April 1998
the Magistrate at a summary
trial found Mr Hamod not guilty.
<P>

12	Magistrate Horler then considered an application for a certificate under the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/" class="autolink_findacts">Costs in Criminal Cases Act 1967</a>, and on 30 July 1998 granted such a
certificate to Mr Hamod in the sum of $98,489.  She gave brief reasons for that
view, which are
in evidence before me.  She says that a claim was made for
costs of over $300,000; that the prosecutor had said that only $40,000
should
be allowed, but that having considered the suggested guidelines of daily rates
for barristers and solicitors employed by the
Director General of the Attorney
General's Department to the Department of Public Prosecutions she would allow
$98,489.
<P>

13	The provisions of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/" class="autolink_findacts">Costs in Criminal Cases Act</a> state that when such a
certificate is given the person to whom it has been granted may under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/s4.html" class="autolink_findacts">s 4(2)</a>
apply to the Attorney General's Department for payment of the costs and the
Act, subject to certain exceptions, requires the officer
of the Attorney
General's Department to process the claim and refer it to the Treasurer and for
the Treasurer to pay it to the person
named in the certificate.
<P>

14	I should note that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/s6.html" class="autolink_findacts">s 6</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/" class="autolink_findacts">Costs in Criminal Cases Act</a> for some
extraordinary reason says:
<P>

"No certificate granted pursuant to this Act shall be admissible in evidence in
any proceedings."
<P>

15		The certificate in the instant case was tendered by consent  and without
objection, for the obvious reason that without the
certificate the first
plaintiff could not succeed and without the certificate the second defendant
could not base his arguments.
<P>

16	If somehow or other there was an error in admitting the certificate then the
result would be that the first plaintiff's claim
would fail in limine.
However, I merely make this statement so no-one can say the matter was
overlooked.
<P>

17	The plaintiffs moved as a matter of urgency for the second defendant to be
restrained from dealing with the moneys.  This was
originally granted ex parte
by Windeyer J on 8 December 1998 and has been continued up to today.
<P>

18	The first plaintiff submitted a "bill" which is attached to Mr Hamod's
affidavit of 20 January 1999 and based on an hourly rate
of $300.  It claims
$52,690, that being nine hearing days in court at $1500 per day, and the
remaining amount of approximately $40,000
for reading documents and conferring
and reviewing evidence.
<P>

19	The solicitor Mr McEncroe has submitted a much lower bill for some $3,700.
Although both the barrister and the solicitor have
claimed a lien, Mr Paul
Finch counsel for the second defendant has agreed that his client will, for a
reasonable time, retain in
his current solicitor's trust account the amount
claimed by Mr McEncroe pending the delivery of a bill in taxable form.
<P>

20	It would seem to me that such an undertaking removes consideration of any
further order having to be made to secure Mr McEncroe's
position.  However, as
against Mr Abdul-Karim there is no such undertaking for, I would think, fairly
obvious reasons.
<P>

21	Mr Finch puts that there is no case here for continuing the injunction
freezing the $52,000-odd claimed by Mr Abdul-Karim.  As
I understand his
submissions there are six points:
<P>

 (1)   A lien presupposes a debt, and there is no debt here because the costs
agreement is void;
<P>

 (2)   If there is a debt it is the company that owes it and not Mr Hamod
personally;
<P>

(3)    That the agreement made is completely void so can give no rights at all
to Mr Abdul-Karim;
<P>

(4)    Mr Abdul-Karim cannot apply for a lien because his hands are unclean;
<P>

(5)    Mr Abdul-Karim's efforts did not, on the balance of probabilities,
produce the fund in question; and
<P>

(6)    A whole series of legal advisers were involved and it is not possible on
the evidence to work out what sum is attributable
to Mr Abdul-Karim's
participation.
<P>

22	There is no doubt, as I have said, that the agreement is void, or at least
unenforceable, so that it can give of itself no rights
to Mr Abdul-Karim.  As
Mr Hilbery, Mr Abdul-Karim's counsel submits, it may well be open to Mr
Abdul-Karim to submit a bill in taxable
form so that it can be accepted by Mr
Hamod, or, alternatively, assessed by a costs assessor.  That process may
involve some embarrassment
for Mr Abdul-Karim, but it is a course that is open
to him.
<P>

23	I should make it plain that although the present application is really to
secure a solicitor's lien, the word "lien" in the current
context is a bit of a
misnomer.  As is pointed out in the cases which are summarised in Fisher &amp;
Lightwood's <b> Law of Mortgage </b>Australian Ed (Butterworths, Sydney, 1995)
p 60, the current right does not have the characteristic of a lien because
there is no
actual property in the hands of the barrister which he can retain
pending something happening.  The property is in someone else's
hands and all
that the solicitor or barrister has is a right to claim the intervention of the
Equity Court so that the fund will
stand as security for costs.
<P>

24	Courts have over the centuries considered that they should aid members of
the legal profession and others whose work has brought
into existence a fund of
money, where the person who has possession of that fund of money is going to
take the benefit of it without
acknowledging the real burdens that should be
over it in the claim of the person whose efforts secured it.  So if as a result
of
strenuous negotiations by a solicitor a matter is settled for &#163;50 then
Equity will charge that &#163;50 with the proper costs
of the solicitor in the
negotiations; see<b> Ross v Buxton</b>  <a href="/cgi-bin/LawCite?cit=%281889%29%2042%20Ch%20D%20190" title="View LawCiteRecord" class="autolink_findcases">(1889) 42 Ch D 190.</a>
<P>

25	The court will come to the aid of the barrister or solicitor even before the
bill is taxed; see for instance <b>Johns v Cassel</b> (1993) 6 BPR 13, 134,
though Hodgson J said in that case that before taxation of costs the court will
only intervene to the extent
of what it considers reasonable and not
necessarily for the full amount of the costs claimed by the solicitor.
<P>

26	The cases show that the remedy is a very flexible one, as Jordan CJ said
in<b> Ex parte Patience; Makinson v The Minister</b> (1940) 40 SR 96 at 108:
<P>

"The remedy provided by the inherent jurisdiction is a flexible one.  It is
available whenever a right to receive money has been
established as a result of
legal proceedings, notwithstanding that the costs have not yet been taxed and
that there is not any formal
judgment. ...  It will be made available whenever
it is shown that there is some risk that the solicitor may otherwise go
unpaid."
 (I have omitted reference to authorities)
<P>

27	There is certainly a risk in the present case that Mr Abdul-Karim will not
be paid if he does not get some sort of lien, but
other matters need to be
considered before an order can be made.
<P>

28	The authorities show that in a proper case the jurisdiction will cover
orders for costs that are made in favour of the person
who is retaining the
money.  This appears clearly from<b> Re Wedgwood; Ex parte Bank of New
Zealand</b> <a href="http://www.austlii.edu.au/au/cases/cth/FCA/1993/368.html" title="View Case" class="autolink_findcases_inserted">[1993] FCA 368</a>;  <a href="/cgi-bin/LawCite?cit=%281993%29%20116%20ALR%20153" title="View LawCiteRecord" class="autolink_findcases">(1993) 116 ALR 153</a>, and see<b> Re Fuld (No 4)</b>  <a href="/cgi-bin/LawCite?cit=%5b1968%5d%20P%20727" title="View LawCiteRecord" class="autolink_findcases">[1968] P 727.</a>
<P>

29	However, in<b> Fuld's</b> <b>case</b> the court thought that where there
were a whole series of solicitors, whose collective efforts had brought about
the verdict, it
was not appropriate to make an order for a lien, and it merely
froze the funds for a couple of weeks whilst the solicitors forwarded
bills.
<P>

30	In the instant case, two months have passed from 10 December 1998 to 10
February 1999 and a bill in taxable form could have been
put on, but the claim
has always been, up until Mr Hilbery modified it this morning, for the full
$52,000 pursuant to the costs agreement,
so it would not seem to me that it is
appropriate to make the lesser order as in<b> Fuld's  case</b>.
<P>

31	The question is whether the court should, at the suit of Mr Abdul-Karim,
grant the lien in the sense referred to in the authorities
to which I have
referred.  A very good reason for not doing that would be the entering into and
attempted enforcement of a costs
agreement which is unenforceable under the
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lpa1987179/" class="autolink_findacts">Legal Profession Act</a> and which is completely contrary to the policy of that
Act.
<P>

32	I think another good reason for not granting the lien is that the costs
agreement deliberately put the liability on the company
for the costs and not
Mr Hamod personally.  I think a third good reason for not granting the lien is
that Mr Abdul-Karim's evidence
does not show on the balance of probabilities
that he did produce the fund.
<P>

33	There is no doubt at all that Mr Abdul-Karim did considerable work on behalf
of Mr Hamod, and in particular was in court for
him for nine days.  The
evidence appears to be that what Mr Abdul-Karim did benefited Mr Hamod, in that
at least it ate away at the
credibility or reliability of the prosecution
case.
<P>

34	However, when one turns to see the Magistrate's reasons for her certificate,
she does seem to say that it is what came out in
the defence case that made her
reach the conclusion that the certificate should be granted.  It should be
observed that under the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cicca1967226/" class="autolink_findacts">Costs in Criminal Cases Act</a> the Magistrate just does
not make an order because she finds that the defendant should be acquitted,
rather she has to direct her
mind as to whether the prosecution was reasonable
and whether any act or omission of the defendant contributed to the
prosecution.
<P>

35	 She seems to have considered that it was the material put in the defence
case that brought her to that conclusion. Furthermore,
there is evidence from
Mr Hamod that the matter was argued, so far as costs were concerned, on the
basis of a claim for the costs
for the time when Mr Hamod represented himself,
or was represented by Mr Paul Finch, or Mr Paul Finch's instructing solicitor,
and
not the costs that were incurred towards Mr Abdul-Karim.
<P>

36	 Although cases like<b> Fuld</b> (supra) make it clear that one can deal
with the situation where more than one legal adviser contributes to the result,
it is in
practice difficult to do that.  It is singular in the instant case
that Mr Abdul-Karim and Mr McEncroe are the only ones who are
making any claim.
I would draw the inference that everybody else has been satisfied.  Thus, even
if all else were satisfied, I would
not be satisfied on the balance of
probabilities that Mr Abdul-Karim's efforts produced the fund.
<P>

37	Accordingly, the present proceedings must fail.
<P>

38	It is still open, of course, for Mr Abdul-Karim to proceed to have his costs
assessed and to sue either Mr Hamod or the company
in the ordinary course of
litigation, but that is another matter.
<P>

39	There has been an interim injunction with an undertaking for damages, so the
second defendant is entitled to refer the matter
to a Master to assess the
damages he has suffered through the fund having been frozen.
<P>

40	 Accordingly, I dismiss the proceedings with costs.  The second defendant is
at liberty, provided he files a notice of  motion
not later than 11 March 1999,
to apply to a Master to assess the damages that flow pursuant to the
undertaking as to damages.
<P>

41	I should add that when I say that the proceedings are dismissed with costs I
believe that the first plaintiff should pay the
costs and there should be no
costs by or against Mr McEncroe because the matter has been resolved between
those parties, and the
real dispute was between Mr Abdul-Karim and Mr Hamod.
<P>

42	 The existing injunction is dissolved.
<P>

                                           oOo
<P>

LAST UPDATED: 	24/02/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/79.html</i><br>
</p>
</small>
</body>
</html>
