<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Deputy Commissioner of Taxation v Acn 001 330 203 Pty Ltd (in liq ) [1999] NSWSC 798 (2 August 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 798</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+798 or 1999+NSWSC+798">Noteup</a>]
[<a href="798.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Deputy Commissioner of Taxation v Acn 001 330 203 Pty Ltd (in liq ) [1999] NSWSC 798 (2 August 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_798.html-->
<!--sino date 2 August 1999-->


<P>Last Updated: 11 August 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Deputy Commissioner of Taxation v ACN 001 330 203 Pty Ltd (in liq)
 <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/798.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 798</a> revised - 06/08/99
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	2650/96
<P>

HEARING DATE{S): 	02/08/99
<P>

JUDGMENT DATE: 	02/08/1999
<P>

 PARTIES: 
<P>

Deputy Commissioner of Taxation  (Plaintiff)
<P>

ACN 001 330 203 Pty Ltd (in liquidation) (formerly Bertram &amp; Son Pty
Limited ACN 001 330 203)  (Defendant)
<P>

Andrew Hugh Jenner Wily  (Official Liquidator)
<P>

JUDGMENT OF: 	Santow J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

J K Chippindall   (Official Liquidator)
<P>

ex parte
<P>

SOLICITORS: 
<P>

M D Nikolaidis &amp; Co  (Official Liquidator)
<P>

CATCHWORDS: 
<P>

CORPORATIONS -- One man company when articles required two directors --
Administrator invalidly appointed by one director resolution
-- Appointment
nullity -- Subsequent winding-up deemed to commence before invalid appointment
of administrator, namely on date application
earlier made to wind-up company --
Relation back period for insolvent transactions therefore calculated by
reference to date of winding-up
application -- No remedial order available
under s1322 or s447A.
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/vic/hist_act/ca1961107/" class="autolink_findacts">Companies Act 1961</a> of NSW s114 amended by Act No. 61 of 1971
<P>

Corporations Law s9, s221(1), s447A, s468, s479(3), s513A and C, s588FE
<P>

DECISION: 
<P>

Relation Back Day date of application to wind-up not date of invalid
administration.
<P>

JUDGMENT: 
<P>

<b>REVISED -- 6 August, 1999</b>
<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>IN EQUITY</b>
<P>

<b>SANTOW J</b>
<P>

<b>No. 2650/96</b>
<P>

<b>DEPUTY COMMISSIONER OF TAXATION</b>
<P>

Plaintiff
<P>


<P>

<b>ACN 001 330 203 PTY LTD (in liquidation) (formerly Bertram &amp; Son Pty
Limited ACN 001 330 203)</b>
<P>

<b>JUDGMENT -- </b>ex tempore
<P>

<b>2 August 1999</b>
<P>

1   	I have made the attached directions to the liquidator of
ACN 001 330 203 Pty Ltd ("the Company") pursuant to s479(3) of the
<i>Corporations Law</i>. What follows are brief reasons for those directions
with the essential facts. Details of the relevant circumstances are set out
in
"Outline of Submissions" of Mr Chippindall of Counsel dated 2 August 1999
remaining with the papers.  I am posed this question;
what happens when an
administration is set aside as invalid following earlier lodgment and
adjournment of a winding up application,
which application is then finally
granted?  Within that time period do intervening transactions fall to be set
aside as insolvent
transactions under s588FE of the <i>Corporations Law</i>? Is
the six months relation back period to be brought forward from the earlier date
of lodging the winding-up application to the
date an administrator was
invalidly appointed?
<P>

2   	Essentially, what has happened is that a proprietary
company formed in 1975 required under its Articles of Association a minimum
of
two directors. This was in conformity with the then applicable provisions of
the companies legislation; s114 of the <i><a href="http://www.austlii.edu.au/au/legis/vic/hist_act/ca1961107/" class="autolink_findacts">Companies Act</i> 1961</a> of NSW amended
by Act No. 61 of 1971.  As from 15 December 1971, the concept of a one director
company had been abolished.  Henceforth
a minimum of two directors was
obligatory.  However one director proprietary companies were again allowed, by
further amending legislation
in December 1995.  This modified s221(1) of the
<i>Corporations Law</i> expressly allowing one director for proprietary
companies. So had the wheel come full circle in twenty-five years.  
<P>

3   	However, there was never any meeting of shareholders of the
Company to alter the Articles of Association of the company so
as to reduce the
number of directors required from two to one.  This was a two shareholder
company, so that was no formality.  That
is evidenced by the minutes of
shareholders' meetings contained in Exhibit "KMB1" where in contrast there
<i>were</i> shareholders resolutions dispensing with the requirement of an
auditor.
<P>

4   	I should add that the relevant Articles of Association
adopt Table A and therefore adopt Article 84. It precludes the continuing
directors acting for any other purpose than to increase the number of directors
to the minimum number or to summon a general meeting
of the company.
<P>

5   	The purported resolution of the board of the company to
appoint an administrator on 18 March 1998 was a nullity since such
an
appointment required a resolution of the board and there was no properly
constituted board; see my decision in <i>Wagner v International Health
Promotions</i>  <a href="/cgi-bin/LawCite?cit=%281994%29%2015%20ACSR%20419" title="View LawCiteRecord" class="autolink_findcases">(1994) 15 ACSR 419</a>, approved and followed by Young J in
<i>Gordon v Allied Meridian Pty Ltd</i> (Young J  <a href="/cgi-bin/LawCite?cit=%281999%29%20NSWSC%20558" title="View LawCiteRecord" class="autolink_findcases">(1999) NSWSC 558</a>, 28 May 1999,
unreported).
<P>

6   	Irrespective of what the purported administrator may have
attempted to do but failed to do so far as entering into a deed of
company
arrangement (see Outline Submissions), the administration simply has no legal
existence.  
<P>

7   	The relevant provisions of the <i>Corporations Law</i>, for
relation back purposes in setting aside insolvent transactions are s9
(definition of "relation back day") and s513A and C, though
s468 should also be
noted. I quote the principally relevant provisions for convenience:
<P>

"<b>s9</b> <b>`Relation Back Day'</b> in relation to a winding up of a company
or <a href="http://www.austlii.edu.au/au/legis/vic/hist_act/ca1961107/index.html#p5.7" class="autolink_findacts">Part 5.7</a> body, means:
<P>

(a)	if, because of division 1A of <a href="http://www.austlii.edu.au/au/legis/vic/hist_act/ca1961107/index.html#p5.6" class="autolink_findacts">Part 5.6</a>, the winding up is taken to have
begun on the day when an order that the company or body be wound up was made --
the day on which
the application for the order was filed; or
<P>

(b)	otherwise -- the day on which the winding up is taken because of Division
1A of <a href="http://www.austlii.edu.au/au/legis/vic/hist_act/ca1961107/index.html#p5.6" class="autolink_findacts">Part 5.6</a> to have begun;"
<P>

"<b>468</b>(1)  Any disposition of property of the company, other than an
exempt disposition, and any transfer of shares or alteration in the
status of
the members of the company made after the commencement of the winding up by the
Court is, unless the court otherwise orders,
void."
<P>

"<b>513A</b>  If the Court orders under section 246AA, 459A, 459B or 461 that a
company be would up, the winding up is taken to have begun or
commenced:
<P>

(a)	if, when the order was made, a winding up of the company was already in
progress -- when the last-mentioned winding up is taken
because of this
Division to have begun or commenced; or
<P>

(b)	if, immediately before the order was made, the company was under
administration -- on the section 513C day in relation to the
administration;
or
<P>

(c)	if:
<P>

(i)	when the order was made, a provisional liquidator of the company was
acting; and
<P>

(ii)	immediately before the provisional liquidator was appointed, the company
was under administration;
<P>

on the section 513C day in relation to the administration; or
<P>

(d)	if, immediately before the order was made, a deed of company arrangement
had been executed by the company and had not yet terminated
-- on the 513C day
in relation to the administration that ended when the deed was executed; or
<P>

(e)	otherwise -- on the day when the order was made."
<P>

"<b>513C</b>  The section 513C day in relation to an administration of a
company is:
<P>

(a)	if, when the administration began, a winding up of the company was in
progress -- the day on which the winding up is taken because
of this Division
to have begun; or
<P>

(b)	otherwise -- the day on which the administration began."
<P>

8   	The commencement of the winding-up is an event which owes
its origin to statutory definition and is not to be confused with
the time at
which winding-up occurs; McPherson "The Law of Company Liquidation" (LBC, 1987)
at 161.  The effect of those provisions
of the <i>Corporations Law</i> and in
particular the combination of the relevant definition of "relation back day" in
s9 with s513A, is that in the events that
occurred, the relation back day is
the earlier date (12 June 1996) on which the summons for winding up was first
filed (the deemed
commencement date of the winding-up) and which has since led
to the winding-up of the company.  Insolvent transactions for six months
<i>preceding</i> that date (12 June 1996) may thus be set aside (s588FE of the
<i>Corporations Law</i>) and any non-exempt disposition of property
<i>after</i> that date is void; s468.  That date (12 June 1996) is considerably
earlier than the date the administration purportedly commenced
(18 March 1998)
because of a succession of adjournments.  This has significant implications for
the recovery of monies constituting
insolvent transactions within s588FE.  This
is because there can be no bringing forward of the commencement of the
winding-up to
the date the administration commenced because the latter was a
nullity; compare the effect of s513A(b) with s513C to s513A(e) of
the
<i>Corporations Law</i>.
<P>

9   	I agree with the submissions made, in what has been an
uncontested matter, that s1322(4) of the <i>Corporations Law</i> could not be
applied in the present circumstances.  This is primarily as a matter of
jurisdictional reach but in any event as a matter
of discretion. Thus even if
the section were otherwise capable of application, a remedial order would have
a prejudicial effect on
creditors seeking to set aside earlier insolvent
transactions and thus could not be made.  The same reasoning applies mutatis
mutandis
to any application of s447A of the <i>Corporations Law</i>.
<P>

10   	Finally, I should note that the nullity of the
administration in the present circumstances accords with the reasoning of the
decision of Young J in <i>Gordon v Allied Meridian</i> (supra), though the
facts differed, in that a director was excluded from voting who would have
opposed the resolution to appoint
an administrator. Young J likewise set aside
the administration as a nullity.
<P>

<center><b>SHORT MINUTES OF ORDER</b></center>
<P>


<P>

Pursuant to s479(3) of the <i>Corporations Law</i>, I give the following
directions to the liquidator, namely that he shall conduct the liquidation on
the following basis and findings:
<P>

1.	in the events that have happened Andrew Hugh Jenner Wily was not validly
appointed as administrator of ACN 001 330 203 formerly
Bertram &amp; Sons Pty
Limited.
<P>

2.	in the events that happened, the winding up of ACN 001 330 203 commenced on
4 June 1998.
<P>

3.	in the events that happened the relation-back day in respect of the winding
up of ACN 001 330 203 within the meaning of s588FE
of the <i>Corporations
Law</i> is the date on which the summons was filed which led to the winding up
of ACN 001 330 203, namely 12 June 1996.
<P>

4.	Order that the costs of the applicant to this application be an expense in
the winding up of ACN 001 330 203 Pty Limited.
<P>

					**********
<P>

LAST UPDATED: 	06/08/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/798.html</i><br>
</p>
</small>
</body>
</html>
