<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Marsden v Amalgamated Television Services Pty Limited [1999] NSWSC 284 (1 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 284</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+284 or 1999+NSWSC+284">Noteup</a>]
[<a href="284.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Marsden v Amalgamated Television Services Pty Limited [1999] NSWSC 284 (1 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_284.html-->
<!--sino date 1 April 1999-->


<P>Last Updated: 7 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Marsden v Amalgamated Television Services Pty Limited  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/284.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
284</a> revised - 01/04/99
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	20223 of 1995
<P>

20592 of 1996
<P>

HEARING DATE{S): 	26 March 1999
<P>

JUDGMENT DATE: 	01/04/1999
<P>

 PARTIES: 
<P>

JOHN MARSDEN
<P>

(Plaintiff)
<P>

v
<P>

AMALGAMATED TELEVISION SERVICES PTY LIMITED
<P>

(Defendant)
<P>

NEW SOUTH WALES POLICE SERVICE
<P>

(On Subpoena)
<P>

JUDGMENT OF: 	Levine J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

I Barker Q.C.
<P>

G Reynolds S.C.
<P>

R G McHugh
<P>

(Plaintiff)
<P>

W H Nicholas Q.C.
<P>

J S Wheelhouse
<P>

(Defendant)
<P>

P Singleton
<P>

(New South Wales Police Service)
<P>

SOLICITORS: 
<P>

Phillips Fox
<P>

(Plaintiff)
<P>

Mallesons Stephen Jacques
<P>

(Defendant)
<P>

Crown Solicitors Office
<P>

(New South Wales Police Service)
<P>

CATCHWORDS: 
<P>

Claim for public interest immunity by New South Wales Police Service in respect
of subpoena issued by defendant re interview of
plaintiff on 19 January 1999
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/" class="autolink_findacts">Evidence Act, 1995</a> (NSW)
<P>

DECISION: 
<P>

See paragraphs 35-38
<P>

JUDGMENT: 
<P>

DLJT:  31
<P>

(Corrected)
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DEFAMATION LIST</b>
<P>

<b>No.  20223 of 1995</b>
<P>

<b>No.  20592 of 1996</b>
<P>

<b>JUSTICE DAVID LEVINE</b>
<P>

<b>THURSDAY 1 APRIL 1999</b>
<P>

<center><b>JOHN MARSDEN</b>
<P>

<i>(Plaintiff)</i>
<P>

<b>v</b>
<P>

<b>AMALGAMATED TELEVISION SERVICES PTY LIMITED</b>
<P>

<b>ACN 000 145 246</b>
<P>

<i>(Defendant)</i>
<P>

<b>NEW SOUTH WALES POLICE SERVICE</b>
<P>

<i>(On Subpoena)</i>
<P>

	</center>
<P>

<b>JUDGMENT  (Claim for public interest immunity by New South Wales Police
Service in respect of subpoena issued by defendant - re interview
of plaintiff
on 29 January 1999)</b>
<P>

1	On 19 March 1999 ([1999] NSWC 213:  DLJT:  25) I ruled in favour of the
Commissioner in respect of claim for public interest immunity
founded upon
effective policing in circumstances where an undertaking as to confidentiality
had been given.  
<P>

2	The defendant whilst preserving its position (as I understood it), as to the
application of common law principles to such ancillary
questions, tendered
material to found submissions based upon <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/s130.html" class="autolink_findacts">s 130</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/" class="autolink_findacts">Evidence Act, 1995</a></i>
(NSW).
<P>

3	That evidence was constituted by:  Exhibit 1, being a Table of Contents of
volumes of documents hitherto produced by Police in
answer to the defendant's
subpoena issued on 18 January 1999.  Exhibit 2 "<i>Running Sheets</i>" and
"<i>Records of Interview</i>" conducted with the plaintiff in 1995;  Exhibit 3
is the first page of a subpoena issued by the plaintiff's solicitors to the New
South Wales Police Service accompanied by running sheets, a letter dated 23
December 1998 from the New South Wales Police Service,
Child Protection
Enforcement Agency from Woodhouse to Mr Howard Bell, a solicitor with the Legal
Services section of the New South
Wales Police Service;  and Mr Woodhouse's
running sheets, produced in answer to it (being part of MFI 28 in the
defendant's application
to amend).
<P>

4	The 4th exhibit is made up of two bundles of documents concerning D18.  The
contentious area in the Amendment Application concerns
D 17 to D25.
<P>

5	On 18 January 1999 the defendant issued its subpoena to the Commissioner for
Police to produce, among other things (according
to the Schedule), the
following:
<P>

	<i>"B.	All records, (ie, files, documents, correspondence, memoranda,
statements, statutory declarations, affidavits, records of interview,
transcripts of interview, file notes, computer print-outs, audio tapes, and
video tapes) relating to investigations carried out under
the supervision of
Detective Inspector Inkster into allegations that Marsden had committed
criminal offences by engaging in sexual
intercourse with young male prostitutes
who were under the age of eighteen.</i>
<P>

<i>	C.	Investigations carried out under the supervision of Superintendent
Michael Woodhouse of the Child Protection Enforcement Agency
into allegations
that Marsden had committed criminal offences by engaging in sexual intercourse
with young male prostitutes who were
under the age of 18"</i> (sic).
<P>

6	This subpoena is the subject of an independent application by the plaintiff
to have it set aside.  
<P>

7	On 29 January 1999 the plaintiff, accompanied by the plaintiff's legal
advisers had a meeting with Woodhouse.  Subsequent to that
event, in terms of
point of time, the Police Service in compliance with the defendant's subpoena
commenced production of material:
 I understand the dates of production of
about seventeen volumes of material were 4, 8 and 11 February 1999.  I gather
that before
the Registrar both parties were given access, but, as Mr Wheelhouse
described it, "<i>as a result of faster footwork</i>" the plaintiff gained
access to the material first and a claim for privilege was made.  That claim
for privilege was dealt with by
me in my ruling of 19 March 1999 ([1999] NSWSC
212:  DLJT:  24 - and is subject to an application for leave to appeal listed
in the
Court of Appeal on 6 April 1999).
<P>

8	Amongst the material in fact produced, but not subject to the claim for
privilege, is what is described as Document 142 in Exhibit
1 (the Index), being
documents relating to D18.  Those documents are the two bundles that constitute
Exhibit 4 in the current application
for public interest immunity by the
Commissioner for Police.
<P>

9	Exhibit 4 is a very thick bundle of documents and D18, of course, is one of
the persons in respect of whom the defendant seeks
to amend its case on
justification.
<P>

10	On 25 February a subpoena was issued by the plaintiff to the Police to
produce certain documents and the first page of that subpoena
and the documents
produced in answer to it constitute Exhibit 3.  This exhibit includes the
Woodhouse running sheets that relate
to steps taken by the Commissioner for
Police after the interview with the plaintiff on 29 January 1999.
<P>

11	It is contended for the defendant that that which was produced on or about
11 February 1999 constitutes material that was put,
by way of allegations,
before the plaintiff at the meeting of 29 January 1999.  It indicates that the
Commissioner had taken a certain
view as to a potential claim for public
interest immunity, but that after the meeting with the plaintiff on 29 January
1999, compliance
with the subpoena was embarked upon.  It is acknowledged by
the defendant that the further particulars provided by it to the plaintiff
of
its proposed amended case on justification in relation to D17 to D25 arises
from the material produced by the Police Commissioner,
in point of time, after
29 January 1999 when the meeting with the plaintiff took place.
<P>

12	The material in support of the case the defendant has particularised, it is
said, was not available until the Police had <i>"published</i>" the new
allegations to the plaintiff in the course of the meeting of 29 January and
until the Police had made its decision to waive
any claim for public interest
immunity (and not otherwise seek to stay the civil proceedings in relation to
continuing investigations
or potential prosecutions) after that meeting.  It is
to be inferred therefore, that the reason why the D18 material (Exhibit 4),
for
example, has been produced pursuant to the subpoena, was that the allegations
were "<i>irrelevant</i>" having been put to the plaintiff in the course of the
interview on 29 January.
<P>

13	It is argued that the material in respect of which the claim for public
interest immunity has been made namely, the record by
both audio tape and
transcript, of the meeting with the plaintiff on 29 January is critical to the
defendant not only with respect
to its case generally in the trial, but more
acutely with respect to its application to amend and, within that ambit, for
the determination
of whether or not the plaintiff is prejudiced by the
"<i>new</i>" allegations made by the defendant in its proposed amended case.
<P>

14	Inferring from the production of material that it was produced by reason of
it having been dealt with by the plaintiff at the
meeting of 29 January 1999,
the only thing that is being withheld (subject to three matters referred to in
Exhibit 3, in paragraph
81 of the Woodhouse running sheet), is the plaintiff's
response to what are said to have been the new allegations put to him by
Woodhouse
during the course of that meeting.  Those responses are critical, it
is said, to the determination of the issue of whether or not
the plaintiff
would be prejudiced in terms of requiring further time for preparation by the
grant of leave to amend to incorporate
the case in respect of D17 to D25.
<P>

15	One of the matters which the defendant wishes to contend is that any
adjournment sought by the plaintiff will <i>not</i> be necessary by reason of
the plaintiff's responses to the allegations put to him on 29 January, with the
result that no such extensive
investigation will be required by reason of such
answers.  Inevitably this involves speculation as to the content of the meeting
as recorded as taking place on 29 January 1999.  However, it is reasonable to
deduce from the material produced, it is argued, that
what was put to the
plaintiff were the allegations that were investigated by Detective
Superintendent Woodhouse which <i>"included</i>" the matters now particularised
by the defendant in its case in respect of D17 to D25.  The defendant wishes to
be in a position
to be able to identify precisely what the plaintiff's response
is to those allegations so that it can make submissions contrary to
any
proposition advanced for the plaintiff that a lengthy period of adjournment
will be required upon any grant of leave to amend.
<P>

16	Shortly stated, as I understand it, the defendant's position is:  the Police
have released the material except the Marsden component,
the Marsden component
constitutes his response to the allegations that found the particularised
amendments sought, and there is no
reason in principle, given the weighing
exercise to be carried out upon a finding of public interest immunity, why this
one component
(the <i>"thin sliver of the investigation</i>") of all this
material should be withheld.
<P>

17	<i>A fortiori</i>, it is submitted, in this particular litigation between Mr
Marsden and Channel 7.  A defamation action constitutes the mechanism
whereby
the law, as best as it can, seeks to accommodate a conflict between the right
of free speech and the right of a citizen to
carry on life without that
citizen's reputation indefensibly being injured.  In this particular case, one
itself said to be a matter
of general public interest, the defendant is relying
upon the defence provided by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/s15.html" class="autolink_findacts">s 15</a> (and <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/s16.html" class="autolink_findacts">s 16)</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/da197499/" class="autolink_findacts">Defamation Act,
1974</a></i>, namely justification which involves the component of "<i>public
interest</i>".  This litigation is elevated above what might otherwise be
described as <i>"ordinary litigation</i>" (for example, personal injury
litigation), and constitutes, by the fact of it and by the component of
justification of criminal
charges, a case where the "<i>getting to the
truth</i>" is of transcendent importance.
<P>

18	In this context, reliance was placed upon some observations of McClelland J
in <b><i>Spargos Mining NL &amp; Anor v Standard Chartered Australia Limited
&amp; Ors (No. 1)</i></b>  <a href="/cgi-bin/LawCite?cit=%281990%29%208%20ACLC%2087" title="View LawCiteRecord" class="autolink_findcases">(1990) 8 ACLC 87</a> at 88:
<P>

	<i>"In a proper case the Court is required to perform what has been called a
`balancing exercise' in which it considers the nature of
the injury to the
public interest which would be involved in disclosure as against the forensic
importance of the documents in the
circumstances of the particular litigation,
and the nature of that litigation (see <b>Sankey v Whitlam</b> &amp; Ors <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1978/43.html" title="View Case" class="autolink_findcases_inserted">[1978] HCA 43</a>;  <a href="/cgi-bin/LawCite?cit=%281978%29%20142%20CLR%201" title="View LawCiteRecord" class="autolink_findcases">(1978)
142 CLR 1</a> and <b>Alister &amp; Ors v The Queen</b></i> (1983-1984) 154 CLR
404)".
<P>

19	The significance of the material produced is highlighted further by the fact
that it includes records of interview with Mr Marsden
from 1995.  It is
acknowledged, however, that it is simply not known whether those interviews
were given under the circumstances
of confidentiality that applied to the
meeting of 29 January 1999.  It is highly probable, it is submitted, (and it
can be put no
higher than that), that what was put to Mr Marsden at the 29
January meeting were the very allegations that are now sought to be
included in
the Defence because it was those documents, it is said, which were released
after that meeting and produced by the Police
in answer to the subpoena.
<P>

20	There would be no harm done to the relevant <i>"public interest</i>" sought
to be protected by the claim for immunity from production by what is in effect,
as is implicit in the defendant's submissions,
"<i>left</i>", namely Mr
Marsden's response to the allegations put to him at the meeting.  Reliance is
placed upon the following well known passage
from the speech of Lord Reid in
<b><i>Conway v Rimmer</i></b> <a href="http://www.bailii.org/uk/cases/UKHL/1968/2.html" title="View Case" class="autolink_findcases_inserted">[1968] UKHL 2</a>;  <a href="/cgi-bin/LawCite?cit=%5b1968%5d%20AC%20910" title="View LawCiteRecord" class="autolink_findcases">[1968] AC 910</a> at 940:
<P>

	<i>"It is universally recognised that here there are two kinds of public
interest which may clash.  There is the public interest that
harm shall not be
done to the nation or the public service by disclosure of certain documents,
and there is the public interest that
the administration of justice shall not
be frustrated by the withholding of documents which must be produced if justice
is to be
done.  There are many cases where the nature of the injury would or
might be done to the nation or the public service is of so grave
a character
that no other interest, public or private, can be allowed to prevail over it.
With regard to such cases it would be proper
to say, as Lord Simon did, that to
order production of the document in question would put the interest of the
state in jeopardy.
 But there are many other cases where the possible injury to
the public service is much less and there one would think that it would
be
proper to balance the public interests involved,  I do not believe that Lord
Simon really meant that the smallest probability
of injury to the public
service must always outweigh the gravest frustration of the administration of
justice".</i>
<P>

21	Further, of course, the mere assertion of <i>"confidentiality"</i> is not
sufficient to sustain in general terms a claim for public interest immunity
(<b><i>Alfred Crompton Amusement Machines Limited v Customs &amp; Excise
Commissioners (No. 2) </i></b> <a href="/cgi-bin/LawCite?cit=%5b1974%5d%20AC%20405" title="View LawCiteRecord" class="autolink_findcases">[1974] AC 405).</a>
<P>

22	In the areas of general principle I was also referred to <b><i>Goldberg
&amp; Ors v Ng &amp; Ors</i></b> (1994) 33 NSWLR 639 and particularly the
following passage from the judgment of Mahoney JA (at 663):
<P>

	<i>"... there are means by which the effects of unrestricted public disclosure
of facts can be qualified without requiring Courts to
decide the rights of the
parties before them on evidence known to be incomplete.  The powers of the
Courts to direct that evidence
place before it be not disclosed, be given in
private, or be treated as confidential, have not infrequently been exercised.
For myself,
I would see the grant of public interest immunity in respect of
certain facts as being appropriate only if and to the extent that,
by the use
of such means, the public interest is compelling and the damage to it cannot,
by other means, be reduced to acceptable
dimensions".</i>
<P>

23	Bearing in mind the matters of general principle referred to above and which
were forcibly developed during the course of submissions,
it was argued that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/s130.html" class="autolink_findacts">s
130(4)(c)</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/" class="autolink_findacts">Evidence Act, 1995</a> (NSW)</i> will operate in favour of the
defendant's position on a narrow construction thereof limiting it to the
investigation of <i>"an"</i> offence.  I am of the view that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/s130.html" class="autolink_findacts">s 130(4)</a> is part
and parcel of the first part of the exercise in determining whether or not the
claim for immunity is made.  I acknowledge
that it is arguable that the whole
of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/s130.html" class="autolink_findacts">s 130</a> seems to incorporate both processes:  step one, to determine the
existence of the claim; and step two, the balancing exercising to
determine
whether the immunity can be waived in relation to a particular document or
communication.  The limitation of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/s130.html" class="autolink_findacts">s 130(4)(c)</a> to a <i>"single</i>" offence is
artificial.
<P>

24	Particular reliance was placed on the provisions of subsection (5).
Subsection (5)(a) refers:  "<i>the importance of the information or the
document in the proceeding ... </i>
<P>

	<i>(c)	the nature of the ... cause of action or defence to which the
information or document relates and the nature of the subject matter
of the
proceeding.</i>
<P>

<i>	(d)	the likely effect of adducing evidence of the information or document,
and the means available to limit its publication;</i>
<P>

<i>	(e)	whether the substance of the information or document has already been
published".</i>
<P>

25	As to (a) the importance relates to the trial generally, it is said, more
particularly the defendant's application to amend and
more acutely the
plaintiff's "<i>prejudice</i>" by any grant of leave.
<P>

26	As to (c), it relates to the cause of action in defamation and the defence
of justification and the "<i>public interest</i>" component of the subject
matter of the proceedings to which I have referred above.
<P>

27	As to (d), it is suggested that the disclosure of all the other information
in response to the subpoena points, at the very highest,
to the most narrow
focus in terms of any "<i>continuing investigation</i>" and there are means
available to limit its publication in the sense that pseudonym orders are
already in place (and the defendant
will contend that they should be
maintained) and an order has already been made limiting the publication of the
particulars of the
proposed Amended Defences.  It could be ordered that the
subject matter of the material subject to the claim for public interest
immunity be made available only to the defendant's legal advisers and a
nominated person from the defendant corporation.
<P>

28	As to (e), it is argued that the material has been "<i>published"</i> to the
plaintiff in the course of the meeting on 29 January.  I reject this component
immediately.  That which has been published
to the plaintiff might have been
(and it can only be a matter of inference or indeed speculation), some of the
information contained
in the material already produced by the Police.  What the
claim for public interest immunity is directed to is the confidentiality
of the
plaintiff's participation in the interview itself.  That is the very thing, of
course, as Mr Singleton quite rightly pointed
out, to which the plaintiff is at
forensic pains to avoid the defendant having access, unless required by law,
and it is that which
is the substance of the information to which the immunity
attaches.  The production by the Police of the documents that may (or may
not)
have been the subject of the meeting on 29 January to the Court in answer to
the subpoena I cannot find to be a <i>"publication</i>" in terms of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/ea199580/s130.html" class="autolink_findacts">s 130(5)(e)</a>
in the sense of publication of what the plaintiff said;  nor can I find that
the publication of that material if it took place by
the Police to Mr Marsden
during the course of that meeting is a <i>"publication</i>".  It is not, of
course, a question of whether the material is in the <i>"public domain</i>".  I
take a similar view of the submissions that there has been "<i>publication</i>"
by "<i>production</i>" of the documents in response to the subpoena.
<P>

29	As to (d), given the nature of the claim and its subject matter namely, the
communications in confidence given by Mr Marsden
during the course of the
investigation of offences, the effect of adducing the evidence would be to
damage the very interest in respect
of which the undertaking was given.  As Mr
Singleton argued, whilst I might limit "<i>access</i>", that to which I would
be limiting access is the publication which is sought to be stopped namely,
publication by the Police of
material in respect of which the undertaking as to
confidentiality had been given, and access especially to the defendant.  
<P>

30	As to (c), everything discussed above as to the nature of a case in
defamation is accurate.  By itself, the mere fact that the
defendant is
justifying in this present action brought against by Mr Marsden, I am not
prepared to find, elevates the case to that
level of "<i>public interest"</i>
where the "<i>quest for truth"</i> in the litigation of it could outweigh the
interest in the retention under the blanket of the class of public interest
immunity as
I have found it.
<P>

31	It is subsection (5)(a) in the context of such a proceedings however that is
critical for the determination of the Commissioner's
claim.
<P>

32	It is clear that the defendant has the information that inferentially could
be found to have been the subject matter, amongst
other things about which one
could only speculate, of the meeting on 29 January.  The defendant has relied
upon that information
to particularise its case which it proposes to prove (if
granted leave) against Mr Marsden in relation to D17 to D25.  The allegations
founding that case already hitherto particularised by the defendant will no
doubt, in the event of the grant of leave, be the subject
of evidence in any
event.  What it really boils down to is that the defendant does not presently
know the plaintiff's position in
relation to those allegations.  In the event
of the grant of leave, the plaintiff's position as a matter of evidence will no
doubt
come out in the trial.  What is here sought is the plaintiff's responses
to allegations made by the Police and the subject of the
very case for
amendment <i>already</i> particularised by the defendant.  The real purpose in
the context of the defendant's application is to find out what the plaintiff's
position in relation to "<i>prejudice</i>" would be.  The principles applicable
to an application for a defendant to amend its plea of justification have yet
to be the subject
of submissions, but it can hardly be gainsaid that it is no
doubt part of the defendant's case to show that the plaintiff would not
be
prejudiced, and part of the plaintiff's opposition to the defendant's Motion to
show that he would be.  It is, in my view, a matter
of forensic advantage
rather than forensic necessity that underlines the defendant's quest for the
material in respect of which the
claim for public interest immunity is
advanced.
<P>

33	In the context of the "<i>building block</i>" exercise and the inferential
steps taken by the defendant to come to a conclusion as to what, on the
probabilities, was the content
of Mr Marsden's participation in the interview
of 29 January, I am not persuaded - despite the well structured and forceful
submissions
by the defendant - of the forensic importance when weighed against
the public interest identified in the claim for immunity in respect
of which I
made by earlier ruling.
<P>

34	That ruling having been made, I am in reality confronted with the situation
where the defendant has particularised its case,
has obtained a lot of
information from the Police but would simply rather like to have (as opposed to
there being a compelling forensic
need that outweighs the public interest),
what Mr Marsden said.
<P>

35	In coming to this conclusion, I have not considered the material itself as I
am not persuaded that inspection could satisfy me
in the context of the
defendant's submissions that an order for production should be made:
<b><i>Alister v The Queen</i></b> (1983-1984) 154 CLR 404 at 414.
<P>

36	Accordingly, I uphold the claim for public interest immunity in relation to
confidential exhibit LAS1 to the affidavit of Lola
Ann Scott sworn 3 March
1999. 
<P>

37	That confidential exhibit will be MFI 1 in the Commissioner's claim for
public interest immunity and is to be returned to him.
<P>

38	Exhibits 1 to 4 are to be returned to the defendant.
<P>

39	The defendant is to pay the costs of the Commissioner in respect of his
application for public interest immunity relating to
confidential exhibit
LAS1.
<P>

<center><b>**********</b></center>
<P>


<P>

LAST UPDATED: 	01/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/284.html</i><br>
</p>
</small>
</body>
</html>
