<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>T and I Engines Pty Ltd v Consumer Claims Tribunal and Anor [1999] NSWSC 370 (23 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 370</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+370 or 1999+NSWSC+370">Noteup</a>]
[<a href="370.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
T and I Engines Pty Ltd v Consumer Claims Tribunal and Anor [1999] NSWSC 370 (23 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_370.html-->
<!--sino date 23 April 1999-->


<P>Last Updated: 27 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	T &amp; I Engines Pty Ltd v Consumer Claims Tribunal &amp; Anor
 <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/370.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 370</a>
<P>

CURRENT JURISDICTION: 	Civil
<P>

FILE NUMBER(S): 	30085/98
<P>

HEARING DATE{S): 	20 April 1999
<P>

JUDGMENT DATE: 	23/04/1999
<P>

 PARTIES: 
<P>

T &amp; I Engines Pty Ltd (Plt)
<P>

Consumer Claims Tribunal (1D)
<P>

D &amp; A Orchard Investments Pty Ltd t/as Easy Tours (2D)
<P>

JUDGMENT OF: 	Newman J      
<P>

LOWER COURT JURISDICTION: 	Consumer Claims Tribunal
<P>

LOWER COURT FILE NUMBER(S): 	
<P>

LOWER COURT JUDICIAL OFFICER: 	
<P>

COUNSEL: 
<P>

J B Pender (Plt)
<P>

Submitting appearance (1D)
<P>

J Stoljar (2D)
<P>

SOLICITORS: 
<P>

A Harvey Sutton &amp; Co (Plt)
<P>

Crown Solicitor (1D)
<P>

Orchiston Ranzetta Finney (2D)
<P>

CATCHWORDS: 
<P>

Inferior courts
<P>

Consumer Claims Tribunal
<P>

requirements of natural justice
<P>

particulars of claim
<P>

obligation of Tribunal to supply particulars
<P>

ACTS CITED: 
<P>

Consumer Claims Tribunal Act 1987 s 12
<P>

<a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act 1974</a> <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s74.html" class="autolink_findacts">s 74</a>; s 68A
<P>

DECISION: 
<P>

Judgment for the defendants plus costs
<P>

JUDGMENT: 
<P>

	
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>NEWMAN J</b>
<P>

<b><u>FRIDAY, 23 APRIL 1999</u></b>
<P>

<b><u>30085/98  -  T &amp; I ENGINES PTY LTD  v  CONSUMER CLAIMS </u></b>
<P>

<center><b><u>TRIBUNAL &amp; ANOR</u></b></center>
<P>


<P>

<b>JUDGMENT</b>
<P>

1	<b>HIS HONOUR:</b>  The plaintiff carries on the business of importing and
selling commercial diesel engines and motor vehicles and motor vehicle parts
together with the repair and reconditioning of commercial diesel engines and
parts.
<P>

2	The second defendant carries on the business of a tour operator and utilises
buses in the course of its operations.
<P>

3	In January 1997 the second defendant wished to have a diesel engine in one of
its buses reconditioned. The second defendant's
manager, Mr David Orchard saw
the plaintiff's General Manager, one Leopold Booy to arrange for that work to
be done. Mr Booy agreed
that his company would carry out the work and work was
subsequently carried out on the subject engine, being completed on 20 February
1997 at a cost of $14,899.
<P>

4	In an invoice raised by the plaintiff company on the works' completion the
following words appear:
<P>

	"THIS SALE IS MADE ON THE BASIS THAT:
<P>

	1.	All warranties as to merchantability or fitness for a particular purpose
implied by law are hereby negated.
<P>

	....
<P>

	4.	The Company warrants to the Buyer that provided the said goods are returned
by the Buyer to the Company at its above address
freight prepaid as a complete
unit within 30 days of the date of this invoice the Company will, at its
option:
<P>

	(a)	rectify at the Company's expense any defects in the said goods other than
defects caused by owner abuse of the goods or lack
of proper maintenance and
care of the goods, or repay to the Buyer the purchase price of the said goods,
or replace the said goods,
without further charge excluding freight to the
Buyer, or supply to the Buyer equivalent goods to the said goods without
further
charge excluding freight.
<P>

	(b)	the costs relating to the dismantling, installation and reinstallation
occasioned by any rectification work by the Company
referred to in Clause 4(a)
above shall be the sole responsibility of the Buyer."
<P>

5	Following the receipt of the invoice the second defendant paid for the cost
of the repairs and the bus in which the subject engine
was fitted returned to
operational use.
<P>

6	On 29 October 1997 while the bus was on tour on the south coast of this State
the driver experienced loss of power and noticed
blue smoke coming from the
bus. Since the completion of the engine reconditioning by the plaintiff the
vehicle had travelled approximately
50,000 kilometres.
<P>

7	The bus was taken to a company known as Nowra Alignment Centre Pty Limited
which is the authorised repairer of engines of this
type in that area. Prior to
that happening Mr Orchard attempted to contact the plaintiff but was initially
unable to do so.
<P>

8	Ultimately the second defendant sent a FAX to the plaintiff which gave rise
to a reply that the plaintiff would examine the vehicle
if it were brought to
the plaintiff's premises in Sydney. Having been advised by Nowra Alignment
Centre that the bus required a short
engine and that the work which had been
carried out by the plaintiff was unsatisfactory, the second defendant then
authorised Nowra
Alignment Centre to proceed with the work it recommended. The
actual cost of that work was $21,500. Ultimately the plaintiff declined
to pay
for the repairs which had been carried out by Nowra Alignment Centre.
<P>

9	The second defendant by a claim form dated 12 December 1997 brought the
matter before the Consumer Claims Tribunal seeking an
order that the plaintiff
pay the sum of $21,500.
<P>

10	In a letter accompanying the claim form the second defendant, having set out
its allegations of fact, stated:
<P>

	"We are seeking compensation from T &amp; I Engines for the amount of $21,500
for unsatisfactory workmanship, as we believe the
work in which we had paid
$14,000, was not carried out and the warranty was non existent, therefore
costing us another $21,500 in
repairs as well as several thousand in charters
to cover our work while our coach was off the road."
<P>

11	The matter came before the Consumer Claims Tribunal and was heard by that
Tribunal on a number of days, namely 18 March 1998,
6 May 1998 and 16 June
1998. On the first hearing day the second defendant was represented by a Mrs
Annetta Orchard and on the other
days by Mr David Orchard. The plaintiff, at
all times, was represented by Mr Leopold Booy.
<P>

12	On 27 July 1998 the learned referee upheld the second defendant's claim on
the basis of breaches of warranty pursuant to <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s74.html" class="autolink_findacts">s 74</a> of the <b><a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices
Act</a></b> 1974 and having considered matters going to damages made an order in
favour of the second defendant in the sum of $14,000.
<P>

13	By way of summons the plaintiff, pursuant to <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s12.html" class="autolink_findacts">s 12</a> of the <b>Consumer Claims
Tribunal Act</b> 1987, sought a declaration that it had been denied natural
justice and an order in the nature of certiorari setting aside the Notice
of
Order and the Brief Reasons given by the referee in so determining. 
<P>

14	Pursuant to s 12 of the <b>Consumer Claims Tribunal Act</b>, an order made
by a referee in the Tribunal can only be challenged on very limited grounds
including a denial of natural justice.
<P>

15	In his Brief Reasons, the learned referee, as I have said, found that the
plaintiff had breached warranties implied into the
contract between the parties
by s 74 of the <b><a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act</a></b>. Specifically he found that the
plaintiff did not carry out the reconditioning of the motor with due care and
skill.
<P>

16	Furthermore he found that while s 68A of the <b><a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act</a></b>
permits a supplier of goods and services to limit its liability he found that
the terms contained in the invoice which I have set
out above, did not form
part of the contract.
<P>

17	His reason for so finding was that the invoice was not presented to the
second defendant until the work had been completed. Accordingly,
it was his
finding that the conditions set out above did not constitute part of the terms
of contract between the parties.
<P>

18	At the hearing oral evidence was given by a Mr Gill, the proprietor of Nowra
Alignment Centre of the condition of the motor when
it came to his company. He
deposed that it was his opinion that the reconditioning of the motor had not
been carried out in a proper
tradesman like manner. Mr Gill was not only the
proprietor of the final repairer but was also a qualified diesel engine
mechanic.
He was cross-examined by Mr Booy. 
<P>

19	Additionally, a statutory declaration was adduced in evidence from the
mechanic who had carried out work on the subject engine
at Nowra Alignment
Centre, a Mr Ian Johnstone in which he set out his observations of the
condition of the motor when he first saw
it. No request for his attendance for
cross examination was made by Mr Booy nor did the referee suggest to him that
he had a right
to make such a request.
<P>

20	Mr Booy gave evidence in which he stated that the bus should have been moved
to the plaintiff's premises for assessment pursuant
to the warranty contained
in the invoice, to which reference has already been made. He complained that
the plaintiff had thus not
been given an opportunity to examine the engine.
<P>

21	As I have already said, the learned referee found that the terms contained
in the invoice did not form part of the terms of contract
and that accordingly
the plaintiff had not contractually limited its liability pursuant to s 68A of
the <b><a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act</a></b>
<P>

22	He preferred the oral evidence of Mr Gill and the evidence contained in Mr
Johnstone's statutory declaration to the evidence
of Mr Booy and a Mr Hunt who
was the plaintiff's workshop manager. Mr Hunt had given evidence that if the
engine had the faults listed
by Mr Johnstone his view was the problems
complained of namely loss of power and excessive smoke accompanied by excessive
fuel consumption
and noise from the motor would have been apparent well prior
to 29 October 1997.
<P>

23	Before this Court the plaintiff submitted that it had been denied natural
justice because:
<P>

1.	The referee had failed to identify and appraise the plaintiff of the issues
before the Tribunal.
<P>

2.	The referee failed to draw the plaintiff's attention to the issues which the
plaintiff described as critical, namely whether
the terms of the invoice formed
part of the contract and whether there be a breach of express warranty or any
implied terms and what
those implied terms were.
<P>

3.	The fact that the plaintiff had been unable to inspect the subject engine
which the plaintiff put was a denial of inspection.
<P>

4.	The fact that the referee had not told Mr Booy of his right to cross examine
Mr Johnstone.
<P>

5.	That an invoice from the Nowra Alignment Centre which was tendered in the
course of the hearing was not shown to Mr Booy.
<P>

24	In relation to its allegation that the referee failed to properly formulate
and indeed note the issues, reliance was placed upon
what had fallen from this
Court in a number of case. First in <b>APA Life Insurance v Charles</b>  <a href="/cgi-bin/LawCite?cit=%281981%29%202%20NSWLR%20352" title="View LawCiteRecord" class="autolink_findcases">(1981)
2 NSWLR 352</a> at 359, Hunt J observed:
<P>

	"... where, as here, the issues in dispute are not properly formulated by the
claimant, it is the duty of the referee to formulate
those issues, to note them
on the record of the tribunal and to resolve them on the available evidence:
see <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s12.html" class="autolink_findacts">s 12</a> and <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s32.html" class="autolink_findacts">s 32."</a>
<P>

25	Furthermore in <b>White v Hall</b>  <a href="/cgi-bin/LawCite?cit=%281983%29%20ASC%2055%2d247" title="View LawCiteRecord" class="autolink_findcases">(1983) ASC 55-247</a> at 56,250 he said:
<P>

	"It is (the referee's) obligation to ensure that the parties understand how
their case is to be presented and to assist them -
and that means to assist
both the consumer and the trader - to present both those cases without legal
assistance."
<P>

26	Rogers J in <b>K &amp; H Atkins v Cunningham</b>  <a href="/cgi-bin/LawCite?cit=%281981%29%202%20NSWLR%20288" title="View LawCiteRecord" class="autolink_findcases">(1981) 2 NSWLR 288</a> at
293:
<P>

	"It has been said that natural justice is nothing more than fairness writ
large. Common ordinary fairness, in my view, requires
that where a party is
brought before a tribunal, the boundary of whose jurisdiction and powers are
extremely wide, and where the
scope for error is so large, having regard to the
absence of legal representation and the absence of the constraints of the rules
of evidence, fairness and natural justice cries out for strict adherence to
such safeguards as the legislature has enshrined in the
constituent act."
<P>

27	The learned referee noted the issue as being breach of contract. It was
submitted that what he should have noted and brought
to the attention of the
plaintiff the following as being the issues were:
<P>

1.	Is there a contract or a do and charge agreement?
<P>

2.	Did the plaintiff's invoice set out terms which became part of the
contract?
<P>

3.	Is the defendant entitled to an order upon the basis of a breach of the
express warranty contained in that invoice?
<P>

4.	What other terms form part of the contract?
<P>

5.	Is the second defendant entitled to an order upon the basis of a breach of
any other terms contained in the contract?
<P>

6.	Was there a reasonable opportunity on the plaintiff to inspect the engine in
Nowra?
<P>

7.	What difference does any failure by the plaintiff to take advantage of such
a reasonable opportunity make to the second defendant's
entitlement?
<P>

28	The issue as raised in the letter accompanying the claim form is as I have
set out above.
<P>

29	In <b>Busby v Human Resources Commission</b>  <a href="/cgi-bin/LawCite?cit=%281998%29%2020%20FLR%20463" title="View LawCiteRecord" class="autolink_findcases">(1998) 20 FLR 463</a> at 471 the
full Federal Court in dealing with an allegation of breach of natural justice
concerning the termination of the appellant's
appointment as an officer of the
Australian Telecommunications Commission observed as follows:
<P>

	"What is required for compliance with the rules of natural justice is that if
the Commission takes into consideration something
which might be held against
him it should first give him an opportunity of rebuttal or explanation. A fair
opportunity will of course
only be afforded him if he is told the substance of
the matter to be answered."
<P>

30	Statements of similar effect were made by Olney J in <b>Amerasinghe v
Minister for Immigration, Local Government and Ethnic Affairs</b> <a href="http://www.austlii.edu.au/au/cases/cth/FCA/1991/595.html" title="View Case" class="autolink_findcases_inserted">[1991] FCA 595</a>;  <a href="/cgi-bin/LawCite?cit=%281991%29%2033%20FCR%2030" title="View LawCiteRecord" class="autolink_findcases">(1991) 33 FCR
30.</a>
<P>

31	Indeed, in <b>Amerasinghe</b> Olney J found that there is no general
proposition of law where a decision maker proposes to reach a decision based
upon a particular
fact that the party against whom that finding is to be made
must first be given an opportunity to address the issue. Indeed, he went
on to
observe that much will depend upon whether the issue in question is one which
obviously arises from the circumstances of the
case and that the party in
question should be treated as having knowledge of it.
<P>

32	Indeed, in <b>Videto v Minister for Immigration and Ethnic Affairs</b>
<a href="http://www.austlii.edu.au/au/cases/cth/FCA/1985/449.html" title="View Case" class="autolink_findcases_inserted">[1985] FCA 449</a>;  <a href="/cgi-bin/LawCite?cit=%281985%29%208%20FCR%20167" title="View LawCiteRecord" class="autolink_findcases">(1985) 8 FCR 167</a> Toohey J at 178 observed:
<P>

	"But much will depend upon the nature of the material before the
decision-maker, the importance of the decision to be made and
its consequences
for the person to whom the decision relates."
<P>

33	In my view the plaintiff's attention had been clearly drawn to the substance
of matters upon which the second defendant was relying,
the fact that the
matter was not set out chapter and verse as the plaintiff suggests it should
have been does not mean that it was
denied natural justice.
<P>

34	In my view the nature of the implied warranties to a contract contained in
<a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s74.html" class="autolink_findacts">s74</a> of the <b><a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act</a></b> was clearly brought to the plaintiff's
attention by the letter accompanying the claim form. 
<P>

35	It was plain from the nature of the evidence given by Mr Gill and the
statutory declaration of Mr Johnstone that their evidence
went to the issue
which the second defendant was raising. It was an issue which the referee found
in favour of the second defendant.
<P>

36	Indeed, the plaintiff, through Mr Booy, relied, as I have said, as a matter
of defence upon the terms contained in the invoice
it raised on the completion
of the work. The referee in my view correctly held, as I have said, that the
terms set out in the invoice
could not form part of the contract because the
invoice was raised after the completion of the work.
<P>

37	It follows from what Olney J said in <b>Busby</b> that it was not necessary
for the referee to disclose to the plaintiff prior to deciding the case the
precise basis upon which it
is to be decided.
<P>

38	In short what happened before the referee was that allegations were made in
accordance with the substance of the claim set out
by the second defendant in
its letter accompanying the claim form - the plaintiff raised as matter of
defence to those allegations
the warranty set out in its invoice - and in the
result the referee decided both issues in favour of the second defendant.
<P>

39	In my view the plaintiff has not established that the manner in which the
issues were identified and appraised to it by the referee
and his notation of
the issues amount to a denial of natural justice.
<P>

40	Furthermore, the fact that the plaintiff failed to establish that the
warranty which it claimed was part of the contract did
not occur because Mr
Booy did not have his mind directed to a critical issue.
<P>

41	The matter was raised and as I have said the referee is not required in
making his determination to disclose to the plaintiff
the precise basis upon
which he had to decide the matter.
<P>

42	Again, I am of the view that the plaintiff has failed to establish that it
was denied natural justice in this regard.
<P>

43	I now turn to the plaintiff's allegations that the referee, by not telling
Mr Booy that he had a right to cross examine Mr Johnstone,
amounted to a denial
of natural justice.
<P>

44	As I have said the evidence of Mr Johnstone was challenged through the
evidence of Mr Hunt. Not only that in the conduct of the
proceedings the
evidence of Mr Gill was subject to cross examination. The requirement of
natural justice is that of fairness. See
<b>O'Rourke v Miller</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1985/24.html" title="View Case" class="autolink_findcases_inserted">[1985] HCA 24</a>;  <a href="/cgi-bin/LawCite?cit=%281985%29%20156%20CLR%20342" title="View LawCiteRecord" class="autolink_findcases">(1985) 156
CLR 342</a> at 353 per Gibbs CJ.
<P>

45	The fact that the plaintiff challenged the evidence of Mr Johnstone through
Mr Hunt and cross examined Mr Gill, inter alia, on
the matters raised by Mr
Johnstone does not establish unfairness. Accordingly, I am of the view that the
plaintiff has not established
that this aspect of its case has been
established.
<P>

46	I shall assume for the purposes of these reasons that the invoice emanating
from Nowra Alignment Centre was not shown to Mr Booy
when it was tendered. In
my view nothing of importance in the matter turned upon this fact. The evidence
was given by Mr Gill of
the work done by his company and there is no suggestion
made that the invoice added in any way to that evidence.
<P>

47	Indeed, the amount of the cost of the repairs namely $21,500 was not adopted
as being the measure of damage by the referee. He
found that the second
defendant was entitled to an order for $14,000. No unfairness thus ensued to
the plaintiff as a consequence
of Mr Booy not being shown the invoice and thus
this allegation of denial of natural justice also fails.
<P>

48	Finally, I turn to the plaintiff's allegation that a denial of natural
justice was brought by the referee's failure to provide
the plaintiff an
opportunity to inspect the engine.
<P>

49	There was nothing before the referee which would suggest that the engine was
still available. The plaintiff at all times had
relied upon the warranty
contained in the invoice and thus did not seek to inspect the engine before it
was repaired. It is clear
that had the plaintiff wished to it could have
ascertained prior to the repair being carried out where the engine was and
could have
availed itself of an opportunity to inspect it. 
<P>

50	As there was nothing before the learned referee to suggest that the engine
was still available for inspection and the fact that
the plaintiff could have
inspected the engine prior to those repairs had it sought to do so, leads me to
the conclusion that again
no unfairness arose as a consequence of the ruling of
the learned referee on this point. Accordingly this allegation also fails.
<P>

51	In the event it follows that the plaintiff has failed to establish that it
was denied natural justice and that accordingly there
will be a judgment for
the second defendant plus costs. It follows that there will be judgment for the
defendants plus costs.
<P>

LAST UPDATED: 	23/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/370.html</i><br>
</p>
</small>
</body>
</html>
