<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Hartnett v State of New South Wales [1999] NSWSC 265 (31 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 265</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+265 or 1999+NSWSC+265">Noteup</a>]
[<a href="265.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Hartnett v State of New South Wales [1999] NSWSC 265 (31 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_265.html-->
<!--sino date 31 March 1999-->


<P>Last Updated: 7 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Hartnett v State of New South Wales  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/265.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 265</a>
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	19380/93
<P>

19373/93
<P>

19402/93
<P>

HEARING DATE{S): 	1-3 February 1999
<P>

JUDGMENT DATE: 	31/03/1999
<P>

 PARTIES: 
<P>

Rachel Priness Hartnett (Plaintiff)
<P>

Faith Helleyer (Plaintiff)
<P>

Elizabeth Rogers (Plaintiff)
<P>

State of New South Wales (Defendant)
<P>

JUDGMENT OF: 	Dunford J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr M Finnane QC (Plaintiffs)
<P>

Mr B Donovan QC (Defendant)
<P>

SOLICITORS: 
<P>

Greg Walsh &amp; Co, Solicitors (Plaintiffs)
<P>

IV Knight, Crown Solicitor (Defendant)
<P>

CATCHWORDS: 
<P>

CHILDREN - in need of care
<P>

warrant to search for and remove children
<P>

only one person named to execute warrant
<P>

purported execution by other persons
<P>

validity
<P>

CHILDREN - in need of care
<P>

search warrants obtained
<P>

whether removal of children can subsequently be justified by reference to other
statutory powers
<P>

SEARCH WARRANTS - one person named in warrants
<P>

warrants executed by other persons
<P>

person named co-ordinating purported exeuction by others
<P>

use of assistants to execute warrant
<P>

TRESPASS - entry to premises and removal of children
<P>

execution of valid warrant authorising entry and removal
<P>

purported execution of warrant by persons named therein
<P>

WORDS &amp; PHRASES - "assistants"
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/capa1987250/" class="autolink_findacts">Children (Care and Protection) Act 1987</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/capa1987250/s3.html" class="autolink_findacts">ss 3</a>, 60, 61.
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/" class="autolink_findacts">Search Warrants Act 1985</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/s3.html" class="autolink_findacts">ss 3</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/s14.html" class="autolink_findacts">14</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/s18.html" class="autolink_findacts">18</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/s21.html" class="autolink_findacts">21</a>
<P>

Search Warrants Regulation 1994, Forms 3, 4.
<P>

DECISION: 
<P>

Plaintiffs entitled to declarations to the effect that the defendant's servants
and agents were acting outside the authority conferred
by the warrants and
wrongfully and contrary to law
<P>

Matter pleaded in the alternative in paragraph 7(B) of the Further Amended
Defence struck out.
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DUNFORD J</b>
<P>

<b>31 MARCH 1999</b>
<P>

<b><u>19380/93  -  Rachel Princess HARTNETT v State of New South
Wales</u></b>
<P>

<b><u>19373/93  -  Faith HELLEYER v State of New South Wales</u></b>
<P>

<b><u>19402/93  -  Elizabeth ROGERS v State of New South Wales</u></b>
<P>

<center><b><u>JUDGMENT</u></b></center>
<P>

1	<b>HIS HONOUR:</b>  On the morning of 15 May 1992 three premises, at RMB 70
Windsor Road Kellyville, 50 Robert Road Cherrybrook and 135 Glenhaven Road
Glenhaven, were entered by police officers accompanied by officers of the
Department of Community Services (DOCS).  A number of children
in the premises
were taken into custody, removed from the premises and placed under the care of
the Director-General of the Department
(the Director-General).  Subsequently
"care proceedings" under Part 5 of the <b><i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/capa1987250/" class="autolink_findacts">Children (Care and Protection) Act
1987</a></i></b> <b><i>(the CCP Act) </i></b>were commenced in respect of the
children and these matters proceeded for some time before they were ultimately
settled and the children
discharged.  
<P>

2	In the current proceedings, the three plaintiffs, who are children who were
taken into custody, one from each of the above addresses,
seek damages for
wrongful arrest, false imprisonment, trespass to the person and other alleged
wrongs against the State of New South
Wales based on its vicarious liability
for the acts of the police officers and the DOCS officers who purported to act
pursuant to
warrants issued under s 61 of the <b><i>CCP Act</i></b>. 
<P>

3	Paragraph 11 of the Further Amended Statement of Claim alleges that the
execution of the warrants at the respective premises was
invalid, and that in
purporting to act pursuant to the warrants, the police and DOCS officers acted
contrary to law, wrongfully and
unlawfully arrested and imprisoned the
plaintiffs.  Particulars were set out, alleging that the warrants were not
executed by Sergeant
Gregory Wayne Sullivan the person named in the warrants,
that the warrants were executed by servants of the defendant not named in
the
warrants and that the said Sergeant Sullivan applied for the warrants knowing
that they would be executed simultaneously by unauthorised
persons.
<P>

4	Paragraph 7(B) of the Further Amended Defence in each case was as follows:
<P>

7.	As to paragraph 11 . . . . .
<P>

	(B)	The Defendant asserts that in the exercise of statutory duty to act to
protect children suspected of being in need of care
the warrant was lawfully
executed, when the said applicant Detective Sgt Sullivan remained at the
central command post and 3 other
officers simultaneously attended the named
premises so assisting the said applicant in accordance with section 61(4) of
the <b><i>(CCP) Act</i></b> and section 18 of the <b><i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/" class="autolink_findacts">Search Warrants Act
1985</a></i></b> when the Plaintiff was removed from her carers<i> or in the
alternative</i> the Defendant acted pursuant to s 60(1) of the <b><i>CCP Act
</i></b>in that an officer of the Department and/or a member of the Police
force suspected on reasonable grounds that a child was in immediate
danger of
abuse and therefore entered and removed the Plaintiff and other children on
that premise (my italics).
<P>

5	On 6 July 1998, I ordered that all issues arising under paragraph 11 of the
Further Amended Statement of Claim be tried separately
and before the trial of
any other issues.  I also on 17 August 1998 granted the plaintiff in
proceedings no. 19380/93, Rachel Princess
Hartnett, leave to file a notice of
motion to strike out the second alternative part of paragraph 7(B) and the
whole of paragraph
7(BB) of the further Amended Defence.  The notice of motion
filed 5 November 1998 seeks to strike out the alternative plea in paragraph
7(B), but no application has been made at this stage in respect of paragraph
7(BB).  It is agreed that the outcome of the motion
in the present proceedings
will determine the outcome of the alternative plea in paragraph 7(B) in all the
related proceedings.
<P>

6	The issues at the present hearing are therefore twofold; firstly, whether the
purported execution of the warrants was invalid
because Sergeant Sullivan, the
only person named in the warrants as authorised to execute them, was not
present at any of the subject
premises; and secondly, whether the defendant's
servants having applied for and obtained search warrants under s 61 of the
<b><i>CCP Act</i></b>, they can in the event of the warrants not having been
validly executed, rely on the alleged exercise of the powers conferred under
s
60 of the <b><i>CCP Act</i></b> to enter premises and take children without
obtaining a warrant under s 61.  
<P>

7	The evidence relating to the first issue is within a comparatively small
compass and is contained in a number of affidavits filed
on behalf of the
defendant.  Those affidavits show that, armed with a quantity of information,
Sergeant Sullivan consulted a magistrate
at the Children's Court who advised
him that if those responsible were concerned for the welfare of the children,
the appropriate
course was to obtain warrants.  Subsequently he attended on an
authorised justice at Burwood Court House and applied for warrants
under Part 2
of the <b><i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/" class="autolink_findacts">Search Warrants Act 1985</a> (the SW Act)</i></b>.  Whilst there, he
was contacted by telephone by another police officer involved in the case and
told that DOCS officers would only
go to the relevant premises with the police
if warrants were obtained under s 61 of <b><i>CCP Act</i></b>.  He accordingly
asked the authorised justice to issue warrants in respect of each premises
under both Acts.  This was done and he
left the Court House with six warrants,
three under Part 2 of the<b><i> SW Act</i></b> and three under s 61 of the
<b><i>CCP Act</i></b>, a pair of warrants for each of the three premises where
it was alleged children in need of care were located.  
<P>

8	The warrants under Part 2 of the <b><i>SW Act</i></b> did not name any
particular person to execute the warrants whereas those under s 61 named
Sergeant Sullivan, and only Sergeant Sullivan,
as the person authorised to
execute them.  The warrants had been applied for with some expedition because
word had been received
that similar action was intended to be taken the
following morning in Victoria, and it was felt desirable to co-ordinate action
between
the two states.  
<P>

9	The following morning a meeting was held at Castle Hill Police Station
involving a large number of police and DOCS officers under
Detective Inspector
Rudd where instructions were given by him, and the operation was set out.
After that the police and DOCS officers
left to go to their respective
premises.  Sergeant Sullivan at all times remained at Castle Hill Police
Station purporting to act,
it would seem, in some form of co-ordinating
capacity, although he was subject to the direction and the orders of his
superior officer,
Inspector Rudd, who was in charge of the operation, and who
issued the operational orders before, and gave instructions to police
by
telephone, during the operation.
<P>

10	When the police and DOCS officers arrived at the three premises, the police
entered the premises followed by the DOCS officers.
 The police showed the
Notices to Occupiers to the adults who were present or to some of them, whilst
the DOCS officers "rounded
up" the children and conducted them to buses outside
the premises, whence they were taken to establishments run by DOCS where they
were kept until they were subsequently released by order of the Children's
Court during the care proceedings.  After the children
had been taken away, the
police searched the premises and removed a quantity of documents and other
materials.  
<P>

11	I am not concerned in these proceedings with the searches of the premises
and the removal of the books and other items which
may have been justified
under the Part 2 warrants.  The relevant issue under paragraph 11 of the
Further Amended Statement of Claim
and the first part of paragraph 7(B) of the
Further Amended Defence is whether the removal of the children can be justified
in view
of the fact that the only person named in the relevant warrants was
Sergeant Sullivan, and he was not at any of the premises and
played no physical
part in the removal of any of the children.  
<P>

12	Search warrants are of two kinds, those authorised under Part 2 of the
<b><i>SW Act</i></b> (Part 2 warrants) which are issued in respect of
indictable, firearm and narcotic offences or things alleged to be stolen or
otherwise
unlawfully obtained (s 5); and those issued pursuant to particular
Acts, such as s 61 of the <b><i>CCP Act</i></b>.
<P>

13	That section, so far as material, is as follows:
<P>

	61 (1)  An officer or member of the police force may apply to an authorised
justice for a search warrant if the officer or member
of the police force has
reasonable grounds for believing that there is in any premises a child in need
of care.
<P>

	(2)  An authorised justice to whom such an application is made may, if
satisfied that there are reasonable grounds for doing so,
issue a search
warrant authorising an officer or member of the police force named in the
warrant:
<P>

	(a)	to enter any premises specified in the warrant,
<P>

	(b)	to search the premises for the presence of the child, and
<P>

	(c)	to remove the child from the premises.
<P>

	(3)  <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/index.html#p3" class="autolink_findacts">Part 3</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/" class="autolink_findacts">Search Warrants Act 1985</a></i> applies to a search warrant
issued under this section.
<P>

	(4)  Without limiting the generality of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/s18.html" class="autolink_findacts">section 18</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/" class="autolink_findacts">Search Warrants
Act 1985</a></i>, a member of the police force or a medical practitioner, or
both:
<P>

		(a)	may accompany an officer executing a search warrant issued under 		this
section, and
<P>

	(b) 	may take all reasonable steps to assist the officer in the exercise of
the officer's functions under this section. . . . .
. 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/s10.html" class="autolink_findacts">Section 10</a> defines when "a child is in need of care" as including where
adequate provision is not being made for the child's care or the child
is
being, or is likely, to be "abused", a term defined in <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/s3.html" class="autolink_findacts">s 3.</a>  Section 116
provides for the issue of search warrants where there are reasonable grounds
for believing that there has been or is
a contravention of the Act or
Regulations.  Its terms are not, for present purposes, materially different to
s 61.
<P>

14	<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/swa1985175/index.html#p3" class="autolink_findacts">Part 3</a> of the <b><i>SW Act</i></b> contains a number of provisions
applicable to both Part 2 warrants and warrants issued under particular
statutes including s 61 of
the <b><i>CCP Act</i></b>.  Such provisions include
s 14 requiring that the warrant be in or to the effect of the prescribed from,
s 15 requiring a person
executing the warrant to serve the occupier's notice, s
17 permitting the use of force, s 18 providing that a person may execute
a
search warrant with the aid of such assistance as the person considers
necessary, and s 21 requiring the person to whom the warrant
is issued to
report to the authorised justice on execution of the warrant, while s 23
provides that a warrant is not invalidated
by any defect other than a defect
which affects the substance of the warrant in a material particular.  The
<b><i>Search Warrants Regulation 1994</i></b> prescribes the forms for the
warrants, namely Forms 3 (Part 2 warrants) and 4 (other warrants).
<P>

15	One significant difference between Part 2 warrants and warrants under s 61
of the <b><i>CCP Act</i></b> is that whereas Part 2 warrants authorise "any
member of the police force" to execute the warrant, s 61(2) provides that the
authorised
justice may issue a warrant authorising an officer (ie of DOCS) or a
member of the police force <i>named in the warrant</i> to enter the specified
premises, search the premises for the presence of the child and remove the
child from the premises, and the
prescribed form of warrant (Form 4) expressly
provides for the applicant to be named as the person authorised to execute it
and allows
space for the insertion of "any additional necessary person (eg
police officer) who is required to accompany the applicant".  The
requirement
for a DOCS or police officer to be <i>named</i> is important because if no such
person is<i> named</i> when the legislation so requires, the warrant is
invalid: <b><i>King v The Queen </i></b> <a href="/cgi-bin/LawCite?cit=%5b1969%5d%201%20AC%20304" title="View LawCiteRecord" class="autolink_findcases">[1969] 1 AC 304</a> at 312.  
<P>

16	To enter on private premises without permission, a warrant or other
statutory authorisation constitutes a trespass to the land:
<b><i>Entick v
Carrington </i></b>(1765) 2 WilsKB 275 at 291<a href="http://www.bailii.org/ew/cases/EWHC/KB/1765/J98.html" title="View Case" class="autolink_findcases_inserted">[1765] EWHC J98</a>; ,  <a href="/cgi-bin/LawCite?cit=95%20ER%20807" title="View LawCiteRecord" class="autolink_findcases">95 ER 807</a> at 817, <b><i>George v
Rockett </i></b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1990/26.html" title="View Case" class="autolink_findcases_inserted">[1990] HCA 26</a>;  <a href="/cgi-bin/LawCite?cit=%281990%29%20170%20CLR%20104" title="View LawCiteRecord" class="autolink_findcases">(1990) 170 CLR 104</a> at 110-111, and the removal of children
except pursuant to the due execution of a warrant or other statutory authority
constitutes
a trespass to the person and a false imprisonment.  Under a search
warrant the only persons authorised to execute the warrant are
members of the
police officers (in the case of a Part 2 warrant) or the persons named in the
warrant (if it be a Part 3 warrant -
such as a warrant under s 61 of the
<b><i>CCP Act</i></b>).  In the case of a warrant under s 61 the person
executing the warrant may do so with the aid of such "assistants" as he or she
considers necessary: s 18 <b><i>SW Act</i></b>; and in addition under s 61(4)
of the <b><i>CCP Act</i></b> if an officer (ie a DOCS officer) is executing the
warrant, he or she may be accompanied by and be assisted by a member of the
police
force or a medical practitioner or both, and there seems no reason why
such officer may not still call on the aid of "assistants"
pursuant to s 18 of
the <b><i>SW Act</i></b>.  But all these provisions relate to <i>assisting
</i>the person executing the warrant.
<P>

17	To "execute" a court order or warrant, means to carry out what is directed
or authorised by the order or warrant: <b><cite>Jowitt: Dictionary of English
Law</cite><i> </i></b>(1959) at 753.  Having regard to the terms of s 21(1)(b)
of the <b><i>SW Act</i></b>, the report to the authorised justice relating to
the execution  of the warrant would need to set out whether the premises were
entered,
whether there was a search for the children and whether any children
were removed.  See also Form 7 and the reports actually furnished
in the
instant cases.  This throws some light on what is meant by "execution" of the
warrant.  
<P>

18	What was authorised by the s 61 warrant was to enter the premises, to search
the premises for the presence of the child (or children)
and to remove the
child/ren from the premises.  Sergeant Sullivan did not physically do any of
these things himself, he did not even
attend any of the premises named in the
warrants, but he remained at Castle Hill Police Station.  It was submitted by
Mr Donovan
QC on behalf of the defendant that this in some way amounted to
Sergeant Sullivan executing the warrants with the aid of assistants
authorised
by s 18, and that the section does not require the person authorised to play
any particular part or even to attend the
premises.  
<P>

19	But an <i>assistant</i> is someone who <i>assists </i>and a distinction is
to be drawn between an <i>assistant</i> who acts with and helps a principal and
a <i>delegate</i> or <i>representative</i> or <i>agent </i>who acts <i>in
place</i> of the principal.  It was not, and cannot be, suggested that Sergeant
Sullivan had any power to delegate his authority, and I fail
to see how as a
matter of fact it can be said that he has played any part in the execution of
the warrants.  Being in a radio control
room in touch with the people who were
at the premises is not in my view taking part in the execution.  Indeed
Sergeant Sullivan
was not even directing the other officers who were at the
premises, his superior officer at Castle Hill Police Station, and the person
who was in charge of the operation was Detective Inspector Rudd.  Although not
relevant to these proceedings, I do not consider that
Detective Inspector Rudd
was executing the warrants with assistants; and it would not have been
sufficient if he had been named therein.
 
<P>

20	There have been two recent Australian cases where persons not named in
search warrants have taken part in searches involving
warrants under the
<b><i><a href="http://www.austlii.edu.au/au/legis/cth/consol_act/ca191482/" class="autolink_findacts">Crimes Act 1914</a> (Cth)</i></b>, s 10 which provides that a Magistrate or
Justice of the Peace may in certain circumstances grant a search warrant
authorising any
constable named in the warrant, with such assistance as is
necessary and reasonable, to enter premises, and seize specified items.
<P>

21	In <b><i>R v Applebee (1995)</i></b>  <a href="/cgi-bin/LawCite?cit=79%20A%20Crim%20R%20554" title="View LawCiteRecord" class="autolink_findcases">79 A Crim R 554</a>, the warrant was
addressed to a number of named police officers.  When the police entered and
searched the premises, a number of
items were seized by those police named in
the warrant, but one item, a Nintendo, was recovered and seized by another
constable not
named in the warrant.  In holding that the seizure of the
Nintendo was unlawful, Higgins J said at 559:
<P>

	"Constable Young, had the search been valid, was entitled to enter and search
in accordance with it.  He was the warrant holder.
 There were other officers
named in the warrant who were similarly so authorised.  Those officers were
entitled by the warrant to
avail themselves of "such assistance as is necessary
and reasonable" . . . . . However, s 10 (1) does not authorise the named
officers
to delegate the authority to enter and/or the authority to seize items
to any other officer not so named. . . . . . In this case,
authority was
wrongly delegated by the warrant holder to Constable Kossatz, an officer who
was not named in the warrant, to take
an active part in the search as if he was
a person named in the warrant.  He recovered and seized the Nintendo system.
That seizure
of those goods was, therefore, unlawful for that additional
reason.
<P>

22	The following year in <b><i>Dunesky v Commonwealth of Australia
</i></b> <a href="/cgi-bin/LawCite?cit=%281996%29%2089%20A%20Crim%20R%20372" title="View LawCiteRecord" class="autolink_findcases">(1996) 89 A Crim R 372</a> Lockhart J was concerned with the case of police
officers named in the warrant in a tax fraud case being accompanied by officers
of the Australian Taxation Office (ATO) in a search of premises.  It appears
that one or more of the named police officers examined
the documents before
they were seized, but after they had been examined and selected by the ATO
officers.  His Honour held that the
police officers named in the warrant did
not abdicate their responsibility to consider the relevant documents and decide
whether
or not they fell within the scope of the warrant, and that the presence
of persons other than those authorised to execute the warrant
was not fatal to
the validity of the execution.  His Honour said: (at 384-5)
<P>

	"The authority conferred by s 10 upon constables named in the warrant to enter
premises and seize things found there is to pursue
these activities "with such
assistance . . . as is necessary and reasonable".  The obtaining of the
assistance with entry, search
(by implication), and seizure is not limited
merely to assistance with entry of the premises.  This follows both from the
literal
construction of s 10 and its obvious intent.  The assistance includes
assistance in relation to seizure of things, which in turn
must carry with it,
by implication, inspection of the articles, including documents, to see if they
come within the  terms of the
warrant. . . . . . .
<P>

	On the facts as I have found them there was no impermissible delegation of
authority to the ATO officers.  All ATO officers and
police officers present
were under the control of Purvis (the warrant holder).  It was a large house
that was to be searched and
there were large numbers of documents to be
perused."
<P>

23	With respect I agree with the views expressed by Lockhart J that the
"assistance" authorised is not limited to entry, but includes
assistance with
search and seizure (and removal), provided that the persons named in the
warrant remain in control and do not delegate
their authority to others.  It
follows, with respect to Higgins J, that I have reservations concerning <b><i>R
v Applebee</i></b> because it seems to me that, provided the named officers
were present and in control of the operation, the assistance could extend
to
assistance with search and seizure, as indicated by Lockhart J.
<P>

24	But in both those cases the persons named in the warrants were themselves at
the premises taking an active part in the search.
 That is not the case here,
where Sergeant Sullivan was not present at the premises or physically involved
in the search in any way.
 Both of the cases are authority in my view for the
proposition that providing assistance in the execution of a warrant to the
person(s)
named therein, does not extend to carrying out the execution of the
warrant in lieu of the person(s) named.
<P>

25	I was referred to <b><i>R v Vickery</i></b>  <a href="/cgi-bin/LawCite?cit=%5b1996%5d%201%20QdR%20334" title="View LawCiteRecord" class="autolink_findcases">[1996] 1 QdR 334</a>, a decision of
the Queensland Court of Appeal.  In that case a warrant under the <b><i><a href="http://www.austlii.edu.au/au/legis/qld/consol_act/dma1986165/" class="autolink_findacts">Drugs
Misuse Act 1986</a> (Qld) </i></b>authorised a named Chief Superintendent of Police
to put two listening devices and visual surveillance devices into a house and
intercept
and record private conversations by means of those devices, and a
section of <b><i>the Act</i></b> authorised the use of "assistants"; but the
evidence showed that the installation and interceptions were done by police
officers
other than the named Chief Superintendent.  It was held that, despite
the use of the word "assistants", it was permissible for the
Chief
Superintendent to arrange to have all the physical activity involved in the
inception carried out by persons authorised by
him, doing none of it himself,
provided that he remained in charge of the operation.  The decision depended on
the construction of
the particular legislation, and with respect, I have some
reservations about it, but the Court's ratio included that the Chief
Superintendent
remained in charge of the operation, whereas Sergeant Sullivan
was never, and therefore did not remain, in charge of this operation.
 
<P>

26	Mr Donovan QC has in the alternative sought to rely on s 23 of the <b><i>SW
Act</i></b> to which I have already referred, and has submitted that the
warrant should be regarded as defective because it was known to the
issuing
authorised justice that Sergeant Sullivan was not going to be at the three
premises at once, and would not in fact be attending
any of the premises,
therefore the naming of him was a defect in the warrant; and that as the
warrants could have named the other
police who were going to go, and did go, to
the respective premises, the defect is one which does not affect the substance
of the
warrant in a material particular, and thus does not invalidate it.  To
examine the matter in this way is, in my view, not appropriate.
 The warrants
as issued (subject to any other arguments that may be made in relation to the
grounds for their issue and the information
supplied to the authorised justice)
were perfectly valid on their face, they were issued to a named person (namely
Sergeant Sullivan)
and at least in that regard they were valid.  The invalidity
relates only to the execution, not to the issue or the form of the warrants,
and accordingly s 23 has no application.  
<P>

27	Finally, Mr Donovan QC submitted that the Courts have not taken as strict a
stand on the execution of search warrants as they
have on their issue, but in
<b><i>Crowley v Murphy</i></b> <a href="http://www.austlii.edu.au/au/cases/cth/FCA/1981/31.html" title="View Case" class="autolink_findcases_inserted">[1981] FCA 31</a>;  <a href="/cgi-bin/LawCite?cit=%281981%29%2052%20FLR%20123" title="View LawCiteRecord" class="autolink_findcases">(1981) 52 FLR 123</a>, the Court emphasised the need
for strict compliance with the terms of the search warrant in its execution.

<P>

28	The persons who purported to execute these warrants were the police and/or
DOCS officers who went to the respective premises;
but they were not authorised
by the warrants to exercise the powers conferred by s 61.  It follows that they
acted without the authority
of the warrants and, unless their actions can be
justified by some other authority their actions constituted trespasses.
<P>

29	The other matter involved in the present hearing is the application by
notice of motion to strike out the alternative allegation
in paragraph 7(B) of
the Defence as causing prejudice, embarrassment or delay in proceedings or
otherwise amounting to an abuse of
the process of the Court.  That alternative
allegation is as follows:
<P>

	" . . . . . in the alternative the defendant acted pursuant to s 60(1) of the
<b><i>CCP Act</i></b> in that an officer of the Department and/or a member of
the police force suspected on reasonable grounds that a child was in immediate
danger of abuse and therefore entered and removed the plaintiff and other
children on that premise."
<P>

30	Section 60(1) provides as follows: 
<P>

	An authorised officer, or a member of the Police Force, may (without any
authority other than that conferred by this subsection):
<P>

	(a)	enter any premises in which the officer or member suspects that there is
a person who is a child, if the officer or member
suspects on reasonable
grounds that the person is in need of care by virtue of the person's being 	in
immediate danger of abuse,
and
<P>

	(b)	search the premises for the presence of any such person, and
<P>

	(c)	remove any such person from the premises.
<P>

The balance of the section similarly authorises an authorised officer or a
member of the Police Force without warrant to remove
from a public place a
child suspected on reasonable grounds of being in need of care, not subject to
supervision or control of a
responsible adult and or habitually frequenting a
public place, or who is or has recently been on premises where prostitution or
acts of child prostitution take place or persons are employed for pornographic
purposes, etc.
<P>

31	Mr Finnane QC on behalf of the plaintiffs sought to refer to evidence to the
effect that the persons whose names were particularised
by the defendant as
having the relevant suspicions did not in fact have such suspicions, but I
rejected such evidence as this is
not an application for summary judgment on
the issue, but an application to strike out the pleading.
<P>

32	He next submitted that the pleading was defective because it did not allege
either that the department officers involved were
"authorised officers" (see
definition of "authorised officer" s 3(1)), nor did it allege that the
particular authorised officers
or members of the police force who had the
suspicions required by subs (1) were the same persons as entered the premises
and searched
for and removed the children.  Mr Donovan QC conceded that as a
matter of form this objection was valid and, subject to my ruling
on the
substantive issue, sought leave to redraft the pleading to overcome this
defect.
<P>

33	The main submission on behalf of the plaintiffs was that where a statutory
authority purports to act under a particular statutory
power and it is later
found that such action was invalid, it cannot then turn around and justify its
action by reference to another
statutory power which it did not advert to at
the time the action was taken; and he referred me to <b><i>Australian
Broadcasting Tribunal v Saatchi and Saatchi Compton (Vic) Pty Ltd</i></b>
 <a href="/cgi-bin/LawCite?cit=%281985%29%2010%20FCR%201" title="View LawCiteRecord" class="autolink_findcases">(1985) 10 FCR 1</a> at 9 and <b><i>LS v Director-General of FACS </i></b> <a href="/cgi-bin/LawCite?cit=%281989%29%2018%20NSWLR%20481" title="View LawCiteRecord" class="autolink_findcases">(1989) 18
NSWLR 481</a> at 489.  But this principle is not of universal application:
<b><i>Mercantile Mutual Life Insurance Co Ltd v Australian Securities
Commission</i></b>  <a href="/cgi-bin/LawCite?cit=%281993%29%2040%20FCR%20409" title="View LawCiteRecord" class="autolink_findcases">(1993) 40 FCR 409</a> at 412, 424-5 and <b><i>Anderson v
Sullivan</i></b>  <a href="/cgi-bin/LawCite?cit=%281997%29%2078%20FCR%20380" title="View LawCiteRecord" class="autolink_findcases">(1997) 78 FCR 380</a> at 400; see also: <b><i>Lockwood v The
Commonwealth </i></b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1954/31.html" title="View Case" class="autolink_findcases_inserted">[1954] HCA 31</a>;  <a href="/cgi-bin/LawCite?cit=%281954%29%2090%20CLR%20177" title="View LawCiteRecord" class="autolink_findcases">(1954) 90 CLR 177</a> at 184, <b><i>Warke v Daire</i></b>
 <a href="/cgi-bin/LawCite?cit=%281983%29%2032%20SASR%20321" title="View LawCiteRecord" class="autolink_findcases">(1983) 32 SASR 321</a> at 327.  I am not persuaded that the defendant having relied
on what it was perceived to be powers conferred by the warrants issued
under s
61, cannot seek to justify the actions of its servants by reference to any
other power such as s 60; but in my view the defendant
faces a more fundamental
problem.  
<P>

34	The scheme of Part 5 (ss 55 to 88) of <b><i>the Act</i></b> is directed to
children in need of care (see particularly the objects set out in s 55) and s
57 provides for the making of care applications.
 Where a care application has
been made, a child may be removed from the premises where the child is, by
order of the Children's
Court, while s 61 provides for the removal of a child
pursuant to a warrant issued under that section.  On the other hand, s 60
provides
for entry and removal of a child without a warrant or an order of the
Children's Court if an authorised officer or member of the
police force
suspects on reasonable grounds that the person is in need of care <i>"by virtue
of the person's being in immediate danger of abuse"</i> or the other situations
that are referred to in subs (2) and (3).
<P>

35	The scheme of the sections indicates that s 60 is directed to the situation
where there is believed to be an urgent need to protect
the child from
<i>immediate danger of abuse</i>; in other words, the situation where there is
no time to apply for a warrant because the child may suffer, or continue to
suffer,
abuse etc whilst application is being made for a warrant.  Section 61
provides a degree of protection against arbitrary or unjustified
intrusion or
interference by requiring the available information to be considered by an
authorised justice, who must be satisfied
there are reasonable grounds before
he issues any warrant; but if s 60 were not limited to cases of urgency, there
would be no need
to provide for warrants under s 61 at all, as s 60 could be
utilised in all cases, without the protection I have referred to.
<P>

36	I therefore endorse the view expressed in <b><cite>Blackmore: The Children's
Court and</cite><i> </i><cite>Community Welfare in NSW</cite></b> at 313,
dealing with s 60:
<P>

	"It embraces . . . . . all circumstances in which there is an immediate danger
of abuse to enable urgent action to be taken . .
. . . 
<P>

	The question of whether there is "immediate danger of abuse" appears to be one
of judgment for the officer concerned depending
on the prevailing
circumstances, but obviously a consideration directed to the most urgent
situations when other means of searching
for and removal of the child are
likely to be productive of undue delay or harm to the child."
<P>

37	It follows that in the subject matters, the fact that the relevant persons
(whoever they may be) applied for warrants under s
61, indicates that they did
not regard the situation as so urgent that they did not have time to apply for
such warrants, and accordingly
s 60 could not apply.  The application for the
warrants is inconsistent with a suspicion that the children were in immediate
danger
of abuse within the terms of s 60(1).
<P>

38	It follows that no matter what the evidence may turn out to be, the
defendant cannot rely on the powers contained in s 60(1)
to justify the removal
of the children, and so the alternative plea in the latter part of paragraph
7(B) of the Amended Defence discloses
no reasonable defence and will cause
prejudice, embarrassment and delay in the proceedings, and accordingly should
be struck out
pursuant to SCR Pt15, r26(1)(a) and (b).
<P>

39	In relation to the separate issue for determination, the plaintiffs are
therefore entitled to declarations to the effect that
in entering the relevant
premises, searching for and removing the various plaintiffs, the defendant's
servants and agents were not
acting under any authority conferred by the
warrants issued pursuant to s 61 <b><i>CCP Act</i></b>, but wrongfully and
contrary to law.  I shall stand the matter over to enable the parties to agree,
if they can, on the precise form
of the declarations.  In relation to the
notice of motion, I order that the matter pleaded in the alternative in
paragraph 7(B) of
the Further Amended Defence be struck out.  Unless the
defendant wishes to be heard to the contrary, I will order that the defendant
pay the plaintiffs' costs of the trial of the separate issue and of the
motion.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	31/03/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/265.html</i><br>
</p>
</small>
</body>
</html>
