<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Rsa v Syscon [1999] NSWSC 392 (30 April 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 392</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+392 or 1999+NSWSC+392">Noteup</a>]
[<a href="392.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Rsa v Syscon [1999] NSWSC 392 (30 April 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_392.html-->
<!--sino date 30 April 1999-->


<P>Last Updated: 4 May 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	RSA v Syscon  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/392.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 392</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	3142/97
<P>

HEARING DATE{S): 	15/04/99
<P>

JUDGMENT DATE: 	30/04/1999
<P>

 PARTIES: 
<P>

RSA Technologies Pty Limited v Syscon Justice Systems Limited
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Supreme Court
<P>

LOWER COURT FILE NUMBER(S): 	
<P>

LOWER COURT JUDICIAL OFFICER: 	
<P>

COUNSEL: 
<P>

Mr R. Beech-Jones for the plaintiff
<P>

Mr J. Priestley for the defendant
<P>

SOLICITORS: 
<P>

Bull, Son &amp; Schmidt for the plaintiff
<P>

Henry Davis York for the defendant
<P>

CATCHWORDS: 
<P>

Corporations Law.  Application to set aside statutory demand. Contract. Whether
contract may be made to have retrospective operation
and whether in the
circumstances of this case that occurred.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Para 28
<P>

JUDGMENT: 
<P>

16
<P>

<center>  </center>
<P>


<P>

IN THE SUPREME COURT 
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

MASTER MACREADY
<P>

Friday 30 April 1999
<P>

<b>3142/97 RSA TECHNOLOGIES PTY LTD v SYSCON JUSTICE SYSTEMS LTD.</b>
<P>

<b>JUDGMENT</b>
<P>

1	<b>MASTER MACREADY:</b>  This is an application to set aside a statutory
demand dated 13 June 1997 which demand requires payment of $88,145.61 for what
are
described as "licensing fees due by the company pursuant to distribution
agreement dated 1 April 1996 which demand has been made
on the company".  
<P>

2	The application has been made within time and concerns commercial
arrangements between the two parties for the supply of software
services.
<P>

3	The matter arises as a company in British Colombia, OCS Technologies Group
("OCS") was a manufacturer and supplier of prison offenders
management system
software which was developed in British Colombia, Canada.  Through the medium
of, inter alia, the plaintiff, this
software was to be marketed to various
Government departments in Australia, New Zealand and the South Pacific.  The
plaintiff's first
agreement was entered into on 1 November 1992 with OCS when
they were appointed as a reseller/dealer in the software.  In March 1993
another company Computervision entered into an agreement with the NSW
Department of Corrective Services to supply that department
the software
management system.  That company, Computervision in effect had the head
contract with the Department.  On 16 June 1995
Computervision entered into a
Service Agreement with RSA Justice Systems Pty Ltd for services to be supplied
effectively by way of
subcontract to fulfil the obligations Computervision had
to the Department for the installation, commissioning and eventual running
of
the software system.  
<P>

4	Early in 1996 OCS went into liquidation and a principal of that company
formed another company Syscon Justice Systems Limited
to acquire the rights for
the distribution of the software.  This it did in March 1996.
<P>

5	Not long after the liquidation of OCS and the defendant obtaining the
licensing and distribution rights an agreement was reached
between Mr Phillips
on behalf of the plaintiff and Mr Sully on behalf the defendant whereby the
defendant would assist the plaintiff
with software implementation services for
the purposes of the Computervision agreement both in Canada and on site in
Sydney at the
rate of US$90 per hour.  On 27 June 1996 a letter was sent by the
defendant to the plaintiff referring to the future implementation
of a dealer
agreement between the parties.  It then said:-
<P>

	"In the meantime, for the purposes of continuity please take this
correspondence as a temporary agreement to move ahead with sales
of CSS and/or
OMS to the New South Wales Government. The terms of the temporary agreement
reflect in whole the terms as previously
agreed upon with OCS Technologies Corp
in their dealer re-seller agreement with RSA."  
<P>

6	From the middle of 1996 the defendant continued providing software
implementation services for which the plaintiff was to pay.
 I note that at
this stage that the project with the New South Wales Government was still in
the implementation stage and there had
not been acceptance of the software
package and the ultimate running of it by the Government.  That did not occur
until about April
1997.  The general arrangements which I will come to provide
for licence fees to be payable which amounts come initially from the
Government
through Computervision and the plaintiff  pays part of them, pursuant to the
dealer agreement, to the defendant in Canada.
 In mid December 1996 there were
telephone conversations between Mr Phillips of the plaintiff and Mr Boyle of
the defendant.  This
conversation is important and is set out in paragraph 19
of Mr Phillips' affidavit.  As it is important I set out paragraph 19 in
its
entirety as follows:-
<P>

	"In or about mid December 1966 I had a telephone conversation with Mark Boyle
of Syscom in words to the following effect:
<P>

	`RSA will pay Syscon all its share for software implementation variations when
RSA is paid for those variations by Computervision.
 RSA cannot pay any
outstanding monies due as at 1 December 1996 until we commence to receive
monies for providing maintenance services
under the Computervision contract
which we expect to start in about February 1997.'
<P>

	I had a conversation in words to the above effect with Mark Boyle confirming
deferring payment of any monies due as at 1 December
1966 on a number of
occasions during the period mid December 1996 to February 1997."
<P>

7	On 17 December 1996 the plaintiff and the defendant executed a
Distributorship Agreement for the software providing exclusivity
for Australia,
New Zealand, Malaysia and Singapore.  The agreement was made on 17 December and
was expressed to operate as from 1
April 1996.
<P>

8	On 28 January 1997 the completion date for the software implementation with
Computervision was extended, as I have mentioned,
to April 1997 when
maintenance obligations would then arise.  On 11 February 1997 the defendant
purported to cancel the distribution
agreement for non-payment of monies which
were due thereunder relying upon clause 10.2(c) of the agreement signed in
December.  That
termination was immediately disputed and once again on 26
February 1997 a further notice of termination was issued based upon
non-payment.
 From this time onwards the defendant in fact provided support
services direct to Computervision and the State Government and ultimately
maintenance services after acceptance in April 1997.  In other words relying
upon its termination Syscon stepped into the shoes of
RSA and effectively
prevented RSA from doing anything further with the projects.  As well it also
took over negotiations for projects
which were in an advanced stage of tender
both in Western Australia and New Zealand.  
<P>

9	On 13 May 1997 the defendant again purported to terminate the contract this
time alleging failure to provide services by RSA rather
than relying upon
payment.  On 18 June 1997 a s459 Notice and affidavit was served and on 8 July
1997 the Summons and affidavits
in support were filed.  On 27 May 1998 the
defendant commenced proceedings in Canada against the plaintiff to recover the
same monies
as are claimed in the s459 notice.  No cross claim has been filed
in respect of those proceedings. 
<P>

10	I turn to how the plaintiff puts its case.  The first point is that they say
there is a genuine dispute regarding the amount
outstanding at 1 December 1996.
They rely upon the agreement for postponement contained in para 19 which I have
set out above.  The
plaintiff's case is that the payments which were made after
1 December 1996 were wrongly allocated by the defendant to pre December
1996
invoices.  In respect of these pre December 1996 invoices the arrangement was,
according to the plaintiff, that these were not
to be paid until payment of
maintenance support fees became payable under the contract with Computervision.
This would not occur
until acceptance by the client which happened in April
1997.  In any event none have been received because of, according to the
plaintiff,
the wrongful termination of the contract of the distribution
agreement by the defendant. 
<P>

11	The second way in which the plaintiff puts their case is by submitting that
there is an offsetting claim being damages arising
out of a wrongful breach of
the distribution agreement whether it be 11 February 1997, 26 February 1997 or
13 May 1997.  In respect
of the first two breaches the claim for termination
was based upon clause 10.2(c) which gave a right to termination if there was
fault in payments "due hereunder".  The plaintiff submits that the monies that
were outstanding were not owing under the Distributorship
Agreement but under a
separate agreement made in mid 1996 following upon the liquidation of OCS.
Such fees were software installation
fees.  In support of that argument the
plaintiff draws attention to the Distributorship Agreement which was actually
executed in
December 1996 which it says does not make provision for software
installation fees and also tends to characterise the nature of the
fees by
reference to the way they are sought to be recovered in the British Colombia
proceedings.
<P>

12	In respect of the wrongful breach on 13 May 1997 this termination is said to
be because the plaintiff had not provided software
and support services
following upon the earlier termination.  Assuming the earlier terminations were
not valid then, clearly, neither
would this termination be valid.  The reason
why the services were not able to be provided by the plaintiff had been because
the
defendant wrongfully terminated the agreement and prevented them from doing
so.  In respect of the offsetting claim there are a number
of ways in which the
damages are put.  Probably the most telling comes from documents of the
defendant which on their own estimates
put the value of the rights lost as a
result of the termination at least $600,000.  
<P>

13		I had the benefit of having a number of submissions in respect of the
principles to be applied and I think probably the most
useful summation is that
given by McLelland CJ in Equity in <b>Eyota Pty Limited v Hanave Pty Limited
</b> <a href="/cgi-bin/LawCite?cit=%281994%29%2012%20ACLC%20669" title="View LawCiteRecord" class="autolink_findcases">(1994) 12 ACLC 669.</a>  At page 671 his Honour made the following comments
respect of the expression "Genuine dispute":
<P>

		"It is, however, necessary to consider the meaning of the expression 'genuine
dispute' where it occurs in s.459H.  In my opinion
that expression connotes a
plausible contention requiring investigation, and raises much the same sort of
considerations as the 'serious
question to be tried' criterion which arises on
an application for an interlocutory injunction or for the extension or removal
of
a caveat.  This does not mean that the Court must accept uncritically as
giving rise to a genuine dispute, every statement in an
affidavit 'however
equivocal, lacking in precision, inconsistent with undisputed contemporary
documents or other statements by the
same deponent, or inherently improbable in
itself, it may be' not having 'sufficient prima facie plausibility to merit
further investigation
as to (its) truth' (cf <b>Eng Mee Yong v Letchumanan</b>
 <a href="/cgi-bin/LawCite?cit=%281980%29%20AC%20331" title="View LawCiteRecord" class="autolink_findcases">(1980) AC 331</a> at 341), or 'a patently feeble legal argument, or an assertion of
facts unsupported by evidence' (cf <b>South Australia v Wall </b> <a href="/cgi-bin/LawCite?cit=%281980%29%2024%20SASR%20189" title="View LawCiteRecord" class="autolink_findcases">(1980) 24 SASR
189</a> at 194).
<P>

		But it does mean that, except in such an extreme case, a Court required to
determine whether there is a genuine dispute should
not embark upon an inquiry
as to the credit of a witness or a deponent whose evidence is relied on as
giving rise to the dispute.
 There is a clear difference between, on the one
hand, determining whether there is a genuine dispute and, on the other hand,
determining
the merits of, or resolving, such a dispute.  In <b>Mibor
Investments </b>(at ACLC  <a href="/cgi-bin/LawCite?cit=1066%20ACSR%20366%2d7" title="View LawCiteRecord" class="autolink_findcases">1066; ACSR 366-7)</a> Hayne J said, after referring to the
state of the law prior to the enactment of Division 3 of Part 5.4 of the
Corporations Law, and
to the terms of Division 3:
<P>

			'These matters, taken in combination, suggest that at least in those cases,
it is not expected that the Court will embark upon
any extended inquiry in
order to determine whether there is a genuine dispute between the parties and
certainly will not attempt
to weigh the merits of that dispute.  All that the
legislation requires is that the Court conclude that there is a dispute and
that
it is a genuine dispute.'
<P>

		In <b>Re Morris Catering (Australia) Pty Limited</b>  <a href="/cgi-bin/LawCite?cit=%281993%29%2011%20ACLC%20919" title="View LawCiteRecord" class="autolink_findcases">(1993) 11 ACLC 919</a> at
922;  <a href="/cgi-bin/LawCite?cit=%281993%29%2011%20ACSR%20601" title="View LawCiteRecord" class="autolink_findcases">(1993) 11 ACSR 601</a> at 605 Thomas J said:
<P>

			'There is little doubt that Division 3 . . . prescribes a formula that
requires the Court to assess the position between the
parties, and preserve
demands where it can be seen that there is no genuine dispute and no sufficient
genuine offsetting claim. 
That is not to say that the Court will examine the
merits or settle the dispute.  The specified limits of the Court's examination
are the ascertainment of whether there is a "genuine dispute" and whether there
is a "genuine claim".
<P>

			It is often possible to discern the spurious, and to identify mere bluster
or assertion.  But beyond a perception of genuineness
(or the lack of it) the
Court has no function.  It is not helpful to perceive that one party is more
likely than the other to succeed,
or that the eventual state of the account
between the parties is more likely to be one result than another.
<P>

			The essential task is relatively simply - to identify the genuine level of a
claim (not the likely result of it) and to identify
the genuine level of an
offsetting claim (not the likely result of it).'
<P>

		I respectfully agree with those statements."
<P>

14	The defendant in its submission has not surprisingly suggested that the
nature of matters raised by the plaintiff fell more into
the realm of the
spurious, bluster or mere assertion and were not maintainable.  It is necessary
to look at each area in slightly
more detail to determine the level of
genuineness.
<P>

	<b>Genuine Dispute</b>
<P>

15	I have earlier set out the terms of paragraph 19 of Mr Phillips' affidavit.
In that he reports the conversation with Mark Boyle
the burden of which is that
RSA could not pay the outstanding monies until it started to receive payment
for maintenance services.
 He does not give any response from Mr Boyle to that
statement.  The last paragraph of that paragraph 19 on its true reading in my
view merely means that the statement that RSA cannot pay monies until it
receives maintenance services was repeated on several occasions.
 What is
totally missing is any response which might in any way amount to an agreement
to defer for some consideration.  That there
may have been statements but no
agreement would seem more likely given that Syscon was pressing the plaintiff
for the payment at
this time.  In my view there was no agreement which would
found a genuine dispute as put by the plaintiff.  
<P>

<b>	Offsetting Claim</b>
<P>

16	I have earlier referred to the proceedings already issued by the plaintiff
in British Colombia and it is apparent from a perusal
of the claim in those
proceedings that the same amounts are claimed under the Notice of Demand except
for an amount of $9,470.  In
the British Colombia proceedings the claim is
characterised as one under an agreement made from and after June 1996 for the
provision
of design, planning, project management and software installation and
programming services.  Relevantly there is no reference to
the claim being made
under the agreement dated 1 April 1996 which was executed on 17 December 1996.
These proceedings were commenced
in 1997 well after the execution of that
agreement.  This is an indication that at least the advisers to the defendant
may have thought
the fees were due not under that agreement.  However it does
not go further than that.  
<P>

17	The actual services that were being performed by the plaintiff during 1996
which are allegedly the subject of a claim for termination
were certainly what
have been described in the evidence as software implementation fees and seem to
be fees payable during the period
prior to the acceptance of software by the
client.  It is useful to look at the terms of the agreement executed in
December 1996
to see whether it may have contemplated the payment of fees for
this amount by the plaintiff to the defendant.  
<P>

18	In the definitions "maintenance" means provision of assistance towards the
resolution of the problem or error when the products
are not performing
according to documentation.  "Services" are defined to mean the provision of
qualified personnel (at the expense
of RSA) who shall have appropriate skills
to enable them to perform duties relating to application design, application
development
business practice analysis system implementation, testing and
training.  Under clause 2.1 of the agreement the rights given to the
plaintiff
are to market and distribute the products in the territories.  End users are
required to enter into a software licence
agreement with Syscon and the
plaintiff.  Under clause 2.2 the plaintiff has the right to support end users
who enter into an appropriate
agreement with Syscon.  Such grant of rights are
reflected in the corresponding obligations on the plaintiff to market,
distribute
and provide the services.
<P>

19	When one comes to find out how the payment is made by the plaintiff to the
defendant clause 3.3 provides for a payment by the
plaintiff to the defendant
for the licence fee being a certain percentage of prices.  Clause 3.5 provides
that an invoice for the
payment of fees is payable on 30 days and maintenance
fees are due and payable 30 days from the maintenance effective date.  On the
face of it the document does not seem to provide for payment to the defendant
if it provides services to the plaintiff prior to acceptance
of a product and
the liability for maintenance fees commencing.  In addition the agreement,
although defining "services" as including
the provision of its personnel, does
not seem on the face of it to impose an obligation to support the plaintiff by
the provision
of the defendant's personnel.  See particularly the limited
responsibilities that the defendant has under clause 8.1 of the agreement.
<P>

20	There seems no doubt that certainly with the project for the New South Wales
Government that the defendant did provide services
for which the plaintiff
agreed to pay pursuant to the arrangement made in early 1996 as referred to in
the letter of 27 June 1996.
<P>

21	This contrast is important because the next step in argument is to consider
what is the effect of the written agreement that
was made in December 1996.  I
turn to that question.
<P>

22	Importantly the agreement at the beginning contains these words, "This
agreement made as of at the first day of April 1996 among".
 Clause 12.4 of the
agreement provides that the agreement sets forth the entire understanding
between the parties and supersedes
prior arrangements, "relating to the subject
matter hereof".  It then deals with no other warranties other than contained in
the
document, amongst other things.  The execution of the document clearly
shows that it was signed on 17 December 1996.  There is no
doubt that a
contract can be expressed to have retrospective effect.  In <b>Trollope &amp;
Colls Ltd v Atomic Power Construction Ltd </b> <a href="/cgi-bin/LawCite?cit=%281963%29%201%20WLR%20333" title="View LawCiteRecord" class="autolink_findcases">(1963) 1 WLR 333</a> at 339 Megaw J
had the following to say:-
<P>

	"Logically this position is, I think, unassailable if, but only if, one has to
assume that the acceptance of an offer cannot have
retrospective effect so as
to make the contract apply to things done earlier in anticipation of the
contract.  But, so far as I am
aware, there is no principle of English law
which provides that a contract cannot in any circumstances have retrospective
effect,
or that, if it purports to have, in fact, retrospective effect, it is
in law a nullity.  If, indeed, there were such a principle,
there would be many
important mercantile contracts which would, no doubt to the consternation of
the parties, be nullities.  Frequently,
in large transactions a written
contract is expressed to have retrospective effect, sometimes lengthy
retrospective effect; and this
in cases where the negotiations on some of the
terms have continued up to almost, if not quite, the date of the signature of
the
contract.  The parties have meanwhile been conducting their transactions
with one another, it may be for many months, on the assumption
that a contract
would ultimately be agreed on lines known to both the parties, though with the
final form of various constituent
terms of the proposed contract still under
discussion. The parties have assumed that when the contract is made - when all
the terms
have been agreed in their final form - the contract will apply
retrospectively to the preceding transactions.  Often, as I say, the
ultimate
contract expressly so provides.  I can see no reason why, if the parties so
intend and agree, such a stipulation should
be denied legal effect."
<P>

23	This case has been applied on a number of occasions and was referred in
<b>City of Box Hill v EW Tauschke Pty Ltd</b> <a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1974/5.html" title="View Case" class="autolink_findcases_inserted">[1974] VicRp 5</a>;  <a href="/cgi-bin/LawCite?cit=1974%20VR%2039" title="View LawCiteRecord" class="autolink_findcases">1974 VR 39</a> at 47.  Even if there
is no express term giving retrospective effect the courts still will often in
circumstances where the parties
intend the written contract to apply to their
antecedent transactions imply a term giving retrospective operation to the
provisions
of the written agreement.  See also, for example, <b>Murphy
Corporation Limited v Acumen Design &amp; Development (Queensland) Pty Ltd
&amp; Anor</b> (1995) 11 BCL 274.  
<P>

24	One fundamental difference between cases such as I have referred to and the
present case is that in the present case the parties
clearly did not
contemplate that the agreement to be contemplated in the future would govern
their relations until execution.  The
letter of 27 June makes it perfectly
clear that another contract, namely, the contract with OCS contained the terms
upon which they
would then deal with each other.  
<P>

25	The agreement executed in December 1996 I would have thought, having regard
to the words at the commencement of the document
clearly contained an express
term that it was to be retrospective.  The question that arises is in respect
of what services it is
retrospective.  I have already noted the limited range
of obligations under it in relation to software support prior to final
acceptance
of product by the customer and this perhaps should be contrasted
with the terms of the agreement between the plaintiff and OCS which
under the
letter of 27 June governed the earlier arrangement.  Clause 3.1 of the OCS
agreement imposes arguably a greater responsibility
on OCS and there is
reference to provision of additional support services to the dealer provision
of support and maintenance to users
of the supplier products.  
<P>

26	Ultimately the question I have to determine is not whether the outstanding
monies were due under the arrangements made during
1996 or under the document
executed in December 1997.  All I have to consider is whether there is a
genuine dispute about this matter.
 There are differences between the final
agreement and the one it may have replaced.  The resolution of these apart from
the careful
consideration of the terms of the agreement may also depend upon
evidence of what in fact occurred in terms of the earlier arrangements
between
the parties.  It seems to me this is not a clear cut matter but arguably there
may be a case for saying that the monies were
due under the arrangements made
during 1996 and not the agreement executed at the end of 1996.  In these
circumstances it is appropriate
to suggest that there would be a breach and
clearly, given the evidence of losses following upon termination, a
counter-claim would
exceed the amount claimed in the notice of demand.
<P>

27	I refer to one other matter and that is that in the demand there is a sum of
$9,470 included which it was suggested may have
applied for something to do
with New Zealand.  In my view there is not sufficient evidence for me to form a
view about what this
was for and, accordingly, I am prepared to accept the
evidence of Mr Phillips that no amounts were owed as at 10 February to the
defendant for licence fees or maintenance fees under the distribution agreement
dated 1 August 1996.
<P>

28	Accordingly, I make orders 1 and 2 in the Summons.
<P>

LAST UPDATED: 	30/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/392.html</i><br>
</p>
</small>
</body>
</html>
