<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Commissioner of Police v Payne and Anor [1999] NSWSC 640 (30 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 640</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+640 or 1999+NSWSC+640">Noteup</a>]
[<a href="640.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Commissioner of Police v Payne and Anor [1999] NSWSC 640 (30 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_640.html-->
<!--sino date 30 June 1999-->


<P>Last Updated: 8 July 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Commissioner of Police v Payne &amp; Anor  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/640.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 640</a> revised
- 08/07/99
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	11887 0f 1998
<P>

HEARING DATE{S): 	31/08/98
<P>

JUDGMENT DATE: 	30/06/1999
<P>

 PARTIES: 
<P>

The Commissioner of Police (plaintiff)
<P>

Christopher Payne (defendant 1)
<P>

Ms Carolyn Barkell (defendant 2)
<P>

JUDGMENT OF: 	Hidden J      
<P>

LOWER COURT JURISDICTION: 	Local Court
<P>

LOWER COURT FILE NUMBER(S): 	
<P>

LOWER COURT JUDICIAL OFFICER: 	Ms Carolyn Barkell, Magistrate
<P>

COUNSEL: 
<P>

P J Saidi (plaintiff)
<P>

P Little (defendant 1)
<P>

SOLICITORS: 
<P>

I V Knight (Crown Solicitor) (plaintiff)
<P>

D J Hodgess &amp; Associates (defendant 1)
<P>

CATCHWORDS: 
<P>

Magistrates - <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/" class="autolink_findacts">Commercial Agents and Private Inquiry Agents Act 1963</a> - summons
under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/s11.html" class="autolink_findacts">s11</a> to show cause why licence should not be cancelled - exercise of
magistrate's discretion - whether magistrate has power to award costs.
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/" class="autolink_findacts">Commercial Agents and Private Inquiry Agents Act 1963</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act 1902</a>
<P>

DECISION: 
<P>

Summons dismissed
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>HIDDEN J</b>
<P>

<b>Wednesday 30 June 1999</b>
<P>

<center><b><u>No: 11887 of 1998     The  Commissioner  of  Police  - v -
Christopher  Payne &amp; Anor</u></b>
<P>

<b>	</b></center>
<P>

<b>Reasons for judgment</b>
<P>

1    	<b>HIS HONOUR</b>:  On 1 June 1998 the second
defendant, a magistrate, heard proceedings commenced by summons directed to the
first defendant, Christopher
John Payne, to show cause why a private inquiry
agent's licence issued to him under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/" class="autolink_findacts">Commercial Agents and Private
Inquiry Agents Act </i>1963</a> should not be cancelled.  The proceedings had been
initiated by a police officer, Sergeant Michael Gorman of the licensing office
at Blacktown police station.  Her Worship declined to make an order that the
licence be cancelled and ordered the police officer
to pay the first
defendant's costs of the proceedings.  The plaintiff in this Court, the
Commissioner of Police, seeks to invoke
the Court's supervisory jurisdiction in
relation to her Worship's refusal to cancel the licence and the order for
costs.  I shall
turn to the orders sought by the plaintiff in due course.
<P>

<b>The legislation</b>
<P>

2    	Before recounting the facts, it is necessary to
summarise the effect of some provisions of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/" class="autolink_findacts">Commercial Agents and Private
Inquiry Agents Act</a></i>.  The Act provides for the licensing of commercial
agents, private inquiry agents and subagents.  Section 10 deals with
applications
for licences.  By s10(2) an application is lodged with the clerk
of the Local Court in the district in which the applicant proposes
to carry on
business.  If the applicant has not previously held a licence, the clerk of the
court forwards particulars of the application
to the officer in charge of the
nearest police station: s10(4)(c).  That officer inquires whether there is any
ground for objection
to the granting of the licence and furnishes a report to
the clerk of the court.  If grant of the licence is to be objected to, that
should be disclosed in the report: s10(5).
<P>

3    	Grounds for objection are set out in s10(6).  One of
them, provided by para(a)(iii) of that subsection, is that "the applicant
does
not have the prescribed qualifications or experience".  As will be seen, that
is the ground which is relevant for present purposes.
 If the clerk of the
court does not receive the police report required by subs(5) within one month
of the application for the licence,
the licence is issued (subject to a
qualification which is not presently material): s10(8)(a).  If the report is
received and objection
is taken to the grant of the licence, provision is made
for the hearing of the application by a magistrate.
<P>

4    	Section 11(1) provides for the procedure which was
undertaken in this case.  A licensee may be summoned to a Local Court to
show
cause why the licence should not be cancelled.  Grounds for cancellation
include any ground upon which objection might have
been taken to the issue of
the licence: s11(1)(c).  Accordingly, as in the present case, the fact that the
licensee did not have
the prescribed qualifications or experience would
constitute a ground for cancellation.  A magistrate may order that a licence be
delivered up and cancelled if he or she is satisfied that any ground is made
out "and that, upon that ground, an order under this
subsection is warranted
...": s11(2).
<P>

<b>The facts</b>
<P>

5    	Mr Payne was a member of the Australian Federal
Police (originally the Commonwealth Police) from 1978 to 1997, during which
time he was involved in a wide variety of duties, undertook a number of
internal courses and received a number of awards.  Upon his
retirement, he set
up his own company to provide private inquiry agent services.  On 22 July 1997
he obtained private inquiry and
commercial subagent's licences, and acted as a
subagent for another company.
<P>

6    	On 2 September 1997 he lodged an application for a
private inquiry agent's licence at the Blacktown Local Court.  Particulars
of
his application were forwarded to Blacktown police station, and on 10 September
he was interviewed at that station by Senior Constable
Belinda Caruso.  She
asked him whether he had completed an approved private inquiry agent's course
or had had twelve months experience
as a private inquiry subagent.  He replied
that he had not, but added, "I would have thought that having nineteen years
experience
with the Federal Police would have been sufficient".  Snr Cnst
Caruso said that she would need to make further inquiries.
<P>

7    	On 2 October she furnished a report about the
application to Sergeant Gorman.  On the previous day the period of one month
in
which the police were to report to the clerk of the court, pursuant to
s10(8)(a), expired.  On 17 October Sgt Gorman lodged a
notice of objection,
pursuant to s10(6)(a)(iii), that Mr Payne did not have the prescribed
qualifications or experience to hold a
licence.  It was too late: the licence
had already issued by force of subs(8)(a).  On becoming aware of this, Sgt
Gorman submitted
a report recommending that proceedings for cancellation of the
licence be taken, pursuant to s11(1)(c).  A summons to show cause
under that
provision was issued on 26 November and served on Mr Payne on 8 December.
<P>

8    	Cancellation was sought upon the same ground as that
giving rise to the objection.  The qualifications and experience prescribed
for
the purpose of s10(6)(a)(iii) are to be found in cl 10(2) of the Commercial
Agents and Private Inquiry Agents Regulation 1995.
 The prescribed experience
is having been a licensed subagent for a continuous period of at least twelve
months, and the prescribed
qualification is a certificate in Private Agency
Practice issued by the Technical and Further Education Commission.  Mr Payne
had
enrolled in the appropriate TAFE course in July 1997.  By the time the
cancellation proceedings came on for hearing on 1 June 1998,
he had
successfully completed five of six units and would have finished the entire
course by the end of that month.
<P>

9    	It was for this reason, together with the experience
Mr Payne had gained whilst holding the licence and his many years of
service as
a police officer, that her Worship declined to cancel his licence.  Costs were
awarded to Mr Payne upon the basis that
the proceedings for cancellation were
initiated without reasonable cause, within the meaning of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81(4)(b)</a> of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act </i>1902</a>.
<P>

<b>Relief sought</b>
<P>

10    	By summons in this court, the plaintiff seeks orders
in the nature of prohibition and certiorari, together with declarations
that
the learned magistrate erred in the exercise of her discretion as to the
cancellation of the licence and exceeded her jurisdiction
in awarding costs.
<P>

11    	Counsel for Mr Payne submitted that the appropriate
plaintiff is Sgt Gorman, who had initiated the proceedings before her
Worship,
rather than the Commissioner of Police.  He referred to <i>Ex parte McCormack;
re Paton </i> <a href="/cgi-bin/LawCite?cit=%281953%29%2070%20WN%28NSW%29%20150" title="View LawCiteRecord" class="autolink_findcases">(1953) 70 WN(NSW) 150</a> and <i>Attorney-General of Queensland v
Wilkinson </i> <a href="/cgi-bin/LawCite?cit=%281958%29%2032%20ALJR%20148" title="View LawCiteRecord" class="autolink_findcases">(1958) 32 ALJR 148</a>, per Dixon CJ at 149 and Fullagher J at 153.
That may well be so.  The position might be otherwise if the Commissioner had
commenced
the proceedings in the exercise of his duty under s12(4) of the Act,
to which I shall refer later, but that is not the case here.
 Counsel also
complained about the unexplained delay by the plaintiff in bringing the
proceedings in this Court, the summons being
filed a little over two months
after the matter was disposed of in the local court.  However, as I have
determined that the summons
should be dismissed on its merits, I find it
unnecessary to express any concluded view about either of these matters.
<P>

<b>Refusal to cancel the licence</b>
<P>

12    	Counsel for the plaintiff submitted that the learned
magistrate had erred in declining to order the cancellation of the licence,
as
she had applied "a test of skill and expertise which was not warranted under
the legislation".  He argued that the relevant requirements
are spelled out in
cl 10(2) of the regulations, and to recognise as sufficient some other measure
of qualification or experience
would circumvent that provision.  Reference was
made to the second reading speech of the responsible minister in relation to
the
amending Act of 1995, which led to <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s10.html" class="autolink_findacts">s10(6)(a)(iii)</a> in its present form.  The
main purpose of the amending legislation was said to be "to strengthen the
controls over the activities
of commercial agents and private inquiry
agents..." (Parliamentary Debates 21/02/1985 p3637).  A little later, the
minister continued
(at p3638):
<P>

To ensure that licensees under the Act are competent to perform their work, the
bill will enable the educational and other qualifications
or experience that a
person must have to obtain a licence to be prescribed.  From discussions with
various interest groups it was
decided that a technical college course or
similar educational prerequisite may be appropriate in addition to a minimum
school educational
level.  It is proposed to confer with the various interest
groups prior to prescribing requirements that applicants for a licence
will
have to meet in the future.
<P>

13    	The legislative intent is clear, but it does not
appear to me that it can be achieved only by the inflexible application
of a
provision such as that under consideration.  From the terms of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s11.html" class="autolink_findacts">s11(2)</a> of the
Act, it is apparent that a magistrate retains a discretion not to order
cancellation of a licence even though a ground for
such an order has been made
out.  A somewhat more circumscribed discretion in relation to the granting of a
licence, where objection
has been taken, is conferred by <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s10.html" class="autolink_findacts">s10(11)(c).</a>  No doubt,
in either case a magistrate would not lightly permit departure from the strict
requirements of the Act and Regulation.
 Nevertheless, in the circumstances of
this case, it was clearly open to the learned magistrate to consider that such
a departure
was warranted.  It is unnecessary to consider the circumstances in
which the discretionary judgment of a magistrate might give rise
to the relief
which the plaintiff seeks.  I am far from persuaded that her Worship erred in
the exercise of her discretion in such
a way as to attract the supervisory
jurisdiction of this Court.
<P>

<b>The order for costs</b>
<P>

14    	The plaintiff's claim for relief in relation to the
order for costs which her Worship made cannot be resolved as easily.
 As
observed above, the order for costs purported to be made under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81(4)</a> of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>.  That section empowers a magistrate "making any conviction
or order" to award costs: subs(1).  The submission for the plaintiff
in this
Court was that <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81</a> has no application to the present proceedings, and that a
power to order costs cannot be derived from any other source. 
<P>

15    	There is no provision for an order for costs in <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s11.html" class="autolink_findacts">s11.</a>
Nor is there in <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s10.html" class="autolink_findacts">s10</a>, in relation to contested applications for a licence.  On
the other hand, other sections of the Act do provide for the award of costs:
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s30.html" class="autolink_findacts">s30</a>, dealing with proceedings relating to an agreement for an agent's services,
and s39B/clause <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s16.html" class="autolink_findacts">16</a> of Sch 1, dealing with proceedings arising from the
appointment of a receiver.  It is well established that the jurisdiction of a
magistrate's court is confined to that which it is granted by statute, together
with such powers as must be implied to enable it
effectively to exercise that
jurisdiction: <i>Grassby v The Queen</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1989/45.html" title="View Case" class="autolink_findcases_inserted">[1989] HCA 45</a>;  <a href="/cgi-bin/LawCite?cit=%281989%29%20168%20CLR%201" title="View LawCiteRecord" class="autolink_findcases">(1989) 168 CLR 1</a>, per Dawson J at
16-17.  It would only be in an exceptional case that a power to award costs
would be implied: <i>Wilson v McDougall</i>  <a href="/cgi-bin/LawCite?cit=%281987%29%2011%20NSWLR%20241" title="View LawCiteRecord" class="autolink_findcases">(1987) 11 NSWLR 241</a> at 243-5.  It
is not suggested that this is such a case. 
<P>

16    	As observed, the power to order costs under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81</a> of
the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i> is conferred upon a magistrate making "any conviction
or order".  The term `conviction' relates to proceedings begun by way of
information,
while an `order' is the result of those initiated by a complaint:
<i>Dixon v McCarthy</i>  <a href="/cgi-bin/LawCite?cit=%5b1975%5d%201%20NSWLR%20617" title="View LawCiteRecord" class="autolink_findcases">[1975] 1 NSWLR 617</a> at 623.  It is unnecessary in this
case to consider the distinction between informations and complaints, which has
been the subject
of a deal of authority: see, for example, <i>Jones v
Metcalf</i>  <a href="/cgi-bin/LawCite?cit=%5b1979%5d%202%20NSWLR%20709" title="View LawCiteRecord" class="autolink_findcases">[1979] 2 NSWLR 709</a> at 711-2.  <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s53.html" class="autolink_findacts">Section 53</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>
provides that a complaint may be made to a Justice "having authority by law to
make an order for the payment of money, or otherwise".
 Both <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s53.html" class="autolink_findacts">ss53</a> &amp; <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">81</a> are
to be found in Div 2 of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/index.html#p4" class="autolink_findacts">Pt 4</a> of the Act, dealing with offences punishable on
summary conviction and complaints.
<P>

17    	<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/s11.html" class="autolink_findacts">Section 11(1)</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/" class="autolink_findacts">Commercial Agents and
Private Inquiry Agents Act</a> </i>provides that a licensed agent may, "on the
complaint of a member of the police force of or above the rank of sergeant", be
summoned
before a Local Court to show cause why the licence should not be
cancelled.  Counsel for Mr Payne argued that the term `complaint'
in that
subsection is a reference to a complaint under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s53.html" class="autolink_findacts">s53</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>,
so that the proceedings attract the provisions of Div 2 of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/index.html#p4" class="autolink_findacts">Pt 4</a> of that Act,
including <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81.</a>  He observed that the summons served upon Mr Payne is in the
familiar form required by <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s62.html" class="autolink_findacts">s62</a> of that Act, headed "Divisions 1 &amp; 2,
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>, 1902" , and recites that Sgt Gorman "complains on oath"
that Mr Payne is not a suitable person to hold a private inquiry agent's
licence as he does not have the prescribed qualifications or experience.   For
convenience, I shall refer to the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caapiaa1963429/" class="autolink_findacts">Commercial Agents and Private Inquiry
Agents Act</a> </i>as "the <i>Agents Act</i>" to distinguish it from the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>.
<P>

18    	Counsel for Mr Payne also pointed out that the
<i>Agents Act </i>provides no procedural framework for dealing with a summons
to show cause under s11.  The section itself does no more than empower
a
magistrate to order that a licence be cancelled and set out the consequences of
such an order:  subss(2),(3) and (4).  Section
44(1) provides that the Governor
may make regulations with respect to:
<P>

(a) prescribing any forms to be used under this Act,
<P>

...
<P>

(c) the procedure on applications and other proceedings under this Act,
<P>

...
<P>

No forms or procedure have been prescribed for the purpose of proceedings under
s11.
<P>

19    	That being so, the argument continued, one must turn
to Div 2 of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/index.html#p4" class="autolink_findacts">Pt 4</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a> </i>to initiate and pursue the
proceedings.  That Division provides for a form of summons <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s62.html" class="autolink_findacts">(s62)</a>, the manner of
service <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s63.html" class="autolink_findacts">(s63)</a>, the power to adjourn the hearing <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s68.html" class="autolink_findacts">(s68)</a>, the procedure at hearing
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s70.html" class="autolink_findacts">(ss70</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s77.html" class="autolink_findacts">77</a>-<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s80.html" class="autolink_findacts">80</a>), together with powers to deal with a matter in the event of
non-appearance of either party <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s74.html" class="autolink_findacts">(ss74</a>-<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s76.html" class="autolink_findacts">76</a>).  The <i>Agents Act </i>creates a
number of offences, punishable by fine and/or imprisonment: see, for example,
s8(3) and s33(4).  Nothing has been prescribed
by way of regulation for the
prosecution of those offences and, clearly, it is intended that they be dealt
with under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>: cf <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s40.html" class="autolink_findacts">s40.</a>  Section 4(1) of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices
Act</a> </i>applies its provisions to proceedings under any other Act whereby "any
person is made liable to imprisonment or other punishment,
or to any fine,
penalty, or forfeiture, or to pay any sum of money or costs, for any offence,
act, or omission, upon the conviction
or order of a Justice or Justices", and
where no provision is "expressly made in the Act dealing with the matter ...".
However, despite
an ingenious argument by counsel for Mr Payne to the contrary,
I am satisfied that the terms of that section do not embrace proceedings
under
s11 of the <i>Agents Act</i>.
<P>

20    	Early in these reasons I outlined the effect of ss10
&amp; 11 of the <i>Agents Act</i>.  In addition, s12 provides that, in certain
circumstances set out in subs(1), a court may determine of its own motion that
action
should be taken against an agent under s11.  In that event, the court
may order that the licence be suspended for a specified period
and delivered up
to the Commissioner of Police.  The Commissioner is then required to initiate
proceedings against the agent under
s11: s12(4).  In the submission of counsel
for the plaintiff, all these provisions demonstrate that, in objecting to the
grant of
a licence or in commencing show cause proceedings, the police are
acting in a non-partisan way, in the public interest.  Accordingly,
it was
said, the sections do not envisage normal adversarial proceedings between
parties.
<P>

21    	On the other hand, the argument continued, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81</a> of
the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a> </i>clearly is directed to adversarial proceedings.  It
speaks of a prosecutor or complainant on the one hand, and a defendant on the
other; a conviction or order on the one hand, and the dismissal of an
information or complaint on the other.  An analogy was sought
to be drawn with
the decision of McInerney J in <i>Commissioner of Police v Bennett </i>(1991) 9
Petty S.R. 4311.
<P>

22    	In that case, McInerney J held that an applicant for
the return of property under s358A (since repealed) of the <i>Crimes Act</i>
was not entitled to an order for costs.  Section 358A(1) provided:
<P>

(1) A court may, on the application of any person, make an order that any
property which is in the custody of a member of the police
force in connection
with any offence whether punishable on indictment or summarily, be delivered to
the person who appears to it
to be lawfully entitled thereto.
<P>

His Honour concluded that such an application was not an information or
complaint, and was not "the normal adversary litigation
inter partes" (at
4314).  Rather, it was a procedure for the protection of police, "designed to
resolve a situation where the police
entertain a doubt as to whether the person
applying does in fact have lawful title to the property" (at 4315).
Accordingly, his Honour
held that <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a> </i>had no
application, and that a power to award costs should not be implied.
<P>

23    	There is no real analogy between that case and this.
True it is that proceedings under s11 of the <i>Agents Act </i>are commenced by
summons to show cause, and are not strictly an application by the police for
the cancellation of a licence.  Nevertheless,
by the terms of s11(1) itself,
the police officer who initiates the proceedings is properly described as a
complainant.  At the hearing
it is he or she who adduces the evidence tending
to show why the licence should be cancelled.  Equally, the agent who contends
that
his or her licence should be retained is properly described as a
defendant.  If satisfied that the licence should be cancelled, the
magistrate
makes an order to that effect.  If not, as in this case, the complaint is
dismissed.  It appears, then, that proceedings
under s11 of the <i>Agents Act
</i>are of a sufficiently adversarial nature to attract the terms of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81</a> of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>.
<P>

24    	I have referred to s12 of the <i>Agents Act</i>, the
effect of which is that in certain circumstances the Commissioner of Police is
bound to initiate action under s11.  Counsel
for the plaintiff argued that it
would be absurd if the Commissioner, having no discretion about the matter,
were put at risk of
an order for costs if the complaint were dismissed.  The
answer to this is to be found in <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81(4)</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>, which
limits the circumstances in which costs may be awarded in favour of a
defendant, unless the proceedings were instituted by
an informant or
complainant acting in a private capacity only: subs(5).  For the most part,
subs(4) appears to be directed to prosecutions
for criminal offences.  However,
subs(4)(b) would permit an order for costs against an official complainant if
"the proceedings were
initiated without reasonable cause or in bad faith...".
It is inconceivable that action which the Commissioner of Police was required
to take by s12 of the <i>Agents Act </i>could be characterised in that way.
<P>

25    	Counsel for the plaintiff relied upon <i>Jones v
Metcalf </i>(supra) in support of his submission that the word "complaint" in
s11 of the <i>Agents Act </i>is not used in its technical sense: that is, by
reference to <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s53.html" class="autolink_findacts">s53</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>.  In that case, Yeldham J was
called upon to interpret s70(b) of the <i>Coal Mines Regulation Act </i>1912,
which provided as follows:
<P>

(b) Every court of petty sessions shall have jurisdiction to hear and determine
complaints for the breaches of this Act punishable
by fine.
<P>

His Honour considered the distinction between informations and complaints at
common law and under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>, and concluded that proceedings
under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s70.html" class="autolink_findacts">s70(b)</a>, being criminal in nature, were properly commenced by information.
His Honour observed (at 715):
<P>

... the word "complaints" as contained in <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s70.html" class="autolink_findacts">s70(b)</a> is used in a non-technical way
to refer to matters of complaint in relation to breaches of the Act punishable
by fine; and not to
a "complaint" in contradistinction to an "information" as
recognised by the common law, and by the sections of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a> </i>to
which I have earlier referred.
<P>

His Honour observed (at 712) that "the legislature has not always dealt with
the distinction between informations and complaints
with clarity", referring to
<i>Chinchen v Weiss </i> <a href="/cgi-bin/LawCite?cit=%281963%29%2080%20WN%20%28NSW%29%201676" title="View LawCiteRecord" class="autolink_findcases">(1963) 80 WN (NSW) 1676.</a>  In that case, McClemens J had
held that proceedings under s32 of the <i>Municipal Council of Sydney Electric
Lighting Act </i>1896-1935 did not amount to a prosecution for an offence and,
accordingly, should have been commenced by complaint rather than
information.
<P>

26    	Both those cases were concerned with legislation
which conferred jurisdiction upon magistrates, to be exercised in accordance
with the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>, and they turned upon the distinction between an
information and a complaint within the meaning of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s52.html" class="autolink_findacts">ss52</a> &amp; <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s53.html" class="autolink_findacts">53</a> of that Act.
Neither case called upon the judge to determine whether the word "complaint"
might be used in a broader sense, so as
not to invoke the provisions of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a> </i>at all.  The term is frequently used in legislation of a
supervisory or disciplinary nature, providing for complaints to be dealt
with
by an administrative body or tribunal established for that purpose.  Both
counsel referred me to legislation of that kind: see,
for example, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caoa1991315/s28.html" class="autolink_findacts">s28</a> of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/caoa1991315/" class="autolink_findacts">Chiropractors and Osteopaths Act </i>1991</a> and <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/mvra1980233/s44.html" class="autolink_findacts">s44</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/mvra1980233/" class="autolink_findacts">Motor Vehicle
Repairs Act </i>1980</a>.  These Acts, of course, do not confer jurisdiction upon
magistrates.  I was not referred to any case in which it was held that an
Act
providing for complaints to be dealt with by a magistrate did so without
bringing the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a> </i>into play.
<P>

27    	I have found this important question difficult to
resolve.  My summary of the arguments of counsel demonstrates that there
are
factors favouring both sides of the argument.  I should record my gratitude to
counsel for the assistance I have been afforded
by their detailed and carefully
researched submissions.  The conclusion I have reached is that s11 of the
<i>Agents Act </i>invokes the jurisdiction of magistrates under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices
Act</a></i>, including the power to award costs under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81</a> of that Act.
<P>

28    	I am mindful of the protective nature of the
relevant provisions of the <i>Agents Act</i>, designed to maintain the public
interest in the competence and probity of licensees under the Act.  Whether, in
certain circumstances,
proceedings under s11 might also have a punitive
function is not to the point: cf <i>Hoban v Davey </i> <a href="/cgi-bin/LawCite?cit=%5b1972%5d%201%20NSWLR%2059" title="View LawCiteRecord" class="autolink_findcases">[1972] 1 NSWLR 59</a>, per
Sugerman P at 63-6 and Mason JA at 72.  I accept that a contested application
for the grant of a licence under s10 does not
bring the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a>
</i>into play.  I respectfully agree with the opinion of Glass JA, in <i>Cook v
Head </i> <a href="/cgi-bin/LawCite?cit=%5b1976%5d%201%20NSWLR%20176" title="View LawCiteRecord" class="autolink_findcases">[1976] 1 NSWLR 176</a> at 181, that a magistrate hearing such an
application has no power to order costs.  What his Honour said was this:
<P>

Although it is unnecessary to decide the question, I incline to the view that
no such power exists.  I strongly doubt that an applicant
for a licence under
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s10.html" class="autolink_findacts">s10</a> can be regarded as a complainant seeking an order under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81(1)</a> of the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>, 1902, which appears to be the only relevant source of
power.
<P>

29    	The reasoning of Glass JA in that passage is
significant.  It was based, not on the protective nature of proceedings under
the section, but upon the fact that they are not initiated by complaint under
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s53.html" class="autolink_findacts">s53</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>.  They arise simply because an application for a
licence, when it is the subject of objection by the police, must be determined
by
a magistrate.  The difference between proceedings under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s10.html" class="autolink_findacts">s10</a> and s<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s11.html" class="autolink_findacts">11</a> is
apparent from the terms of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s11.html" class="autolink_findacts">s11</a> itself, providing for the issue of a summons to
show cause upon the complaint of a police officer.
<P>

30    	It is true that the <i>Agents Act </i>does not
expressly provide that proceedings under s11 are to be dealt with in accordance
with the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>.  In this respect the Act differs from the
<i>Child Welfare Act </i>1939, considered by Newman J in <i>Wilson v
McDougall</i> (supra) at 245ff: see now <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/s27.html" class="autolink_findacts">s27</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cpa1987261/" class="autolink_findacts">Children (Criminal
Proceedings) Act </i>1987</a>.  This may well be because no such provision was
considered necessary.  I cannot imagine that the draftsman of s11, conferring
jurisdiction
upon magistrates, was unmindful of the significance of the term
"complaint" in the framework of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>.  One might ask, as
counsel for the plaintiff did, why the regulation making power conferred by s44
of the <i>Agents Act </i>extends to the prescription of the procedure on
applications and other proceedings under the Act: para(c).  The answer lies, I
think,
in the fact that the Act provides for proceedings to which the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a> </i>has no application: contested applications for a licence
under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s10.html" class="autolink_findacts">s10</a> and proceedings relating to agreements for services <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s30.html" class="autolink_findacts">(s30)</a> and the
appointment of a receiver (s39B). 
<P>

31    	Views might differ about the policy of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s11.html" class="autolink_findacts">s11</a> as I have
interpreted it.  Not only does it expose the Commissioner of Police or his
officers to an order for costs, subject to the
restrictions imposed by <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s81.html" class="autolink_findacts">s81(4)</a>
of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act</a></i>, it also exposes the licensee to such an order
without those restrictions.  It might be asked why an order for costs should be
available
in proceedings under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s11.html" class="autolink_findacts">s11</a>, but not under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s10.html" class="autolink_findacts">s10.</a>  On the other hand, it
might be said that proceedings which could result in the cancellation of a
licence are more serious than a
contested application for the grant of one; and
that the sanction of costs might encourage careful consideration by the police
to
whether the proceedings should be instituted, and by the licensee to whether
they should be resisted.  However that may be, it is
a matter for the
legislature to determine whether the power to award costs is in the public
interest and, if not, to remedy the situation.
<P>

32    	Accordingly, I am satisfied that her Worship had a
discretion to make an order for costs in the present case.  No submission
was
directed to the manner in which that discretion was exercised.  It follows that
the plaintiff has not made out any claim for
relief, and the summons must be
dismissed.  The parties should have the opportunity to be heard on costs.
<P>

**********
<P>

LAST UPDATED: 	08/07/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/640.html</i><br>
</p>
</small>
</body>
</html>
