<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Nrma v Yates [1999] NSWSC 701 (13 July 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 701</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+701 or 1999+NSWSC+701">Noteup</a>]
[<a href="701.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Nrma v Yates [1999] NSWSC 701 (13 July 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_701.html-->
<!--sino date 13 July 1999-->


<P>Last Updated: 14 July 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	NRMA v YATES  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/701.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 701</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	1486/99
<P>

HEARING DATE{S): 	18/06/99
<P>

JUDGMENT DATE: 	13/07/1999
<P>

 PARTIES: 
<P>

NRMA v IAN YATES
<P>

JUDGMENT OF: 	Master Macready      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

T.E.F. Hughes QC &amp; A Leopold for the plaintiffs
<P>

J. Garnsey QC and B.J. Camilleri for the defendant
<P>

SOLICITORS: 
<P>

Freehill Hollingdame &amp; Page for the plaintiffs
<P>

Mr B.J. Camilleri
<P>

CATCHWORDS: 
<P>

Practice. Whether whole defence or merely parts of the defence should be struck
out.  Held following Trade Practices  Commission
v David Jones Aust Pty Ltd  <a href="http://www.canlii.org/en/ca/fc/doc/http://www.canlii.org/en/ca/fc/doc/$(year)/$(year)fca$(decno)/$(year)fc$(decno).html" title="View Case" class="autolink_findcases">7
FC 109</a> at 115 and Turner v The Bulletin Newspaper Co Pty Ltd <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1974/25.html" title="View Case" class="autolink_findcases_inserted">[1974] HCA 25</a>;  <a href="/cgi-bin/LawCite?cit=%281974%29%20131%20CLR%2069" title="View LawCiteRecord" class="autolink_findcases">(1974) 131 CLR 69</a>
at 94 that the whole of the defence should be struck out.
<P>

Equity.  General principles. Defences to claims of disclosure of confidential
information.  Nature of public interest defence discussed.
 Whether it is
arguable that the English approach to this defence may be followed in
Australia.    
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Para 67
<P>

JUDGMENT: 
<P>

- 31 -
<P>

<b>IN THE SUPREME COURT </b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>MASTER MACREADY</b>
<P>

<b>Tuesday 13 July 1999</b>
<P>

<b>1486/99 N.R.M.A. LIMITED v IAN YATES</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>  This is the hearing of a motion filed on 18
June 1999 whereby the plaintiffs seek to strike out the amended Defence of the
defendant
filed on 17 June 1999 and seek an order that the contents of
paragraphs 46, 48, 58, 69 and 73 of the amended Defence filed on 17
June 1999
not be published until further order. 
<P>

2   	In the principal proceedings the plaintiffs seek to
restrain the defendant, who is a director of the plaintiffs, from disclosing
any of what is described as "Project Outlook Confidential Information" other
than to members of the Boards of the plaintiffs or duly
qualified legal
representatives acting for him in these proceedings.  The Project Outlook
Confidential Information is information
touching upon proposals for the change
of the plaintiffs' corporate organisation and membership structures.  On 24
February 1999
His Honour Mr Justice Windeyer heard an interlocutory application
and as a result an earlier ex parte order was continued and the
defendant was
restrained until the final determination of the action or until further order
from disclosing any of the project outlook
confidential information other than
to members of the Boards of the plaintiffs or duly qualified legal
practitioners acting for him
in these proceedings unless with the consent of
the first plaintiff on terms agreed by the first plaintiff.  
<P>

3   	The second claim in the Notice of Motion arises because it
is alleged that the Defence which has been filed discloses information
which
was subject to the restraining orders of the Court made on 20 and 24 February
1999.  During the hearing of the motion I made
an order that the contents of
the relevant paragraphs be not disclosed until further order in order to
preserve the situation pending
my decision in this matter.
<P>

4   	When the matter was commenced before me the defendant made
certain minor amendments to the terms of the Defence to meet some
of the
objections which had been voiced by the plaintiffs.  Those amendments were as
follows:-
<P>

5   	<b>Paragraph 64 </b>- First line delete "instituted and"
<P>

6   	<b>Paragraph 63 </b>- Second and third lines delete
"against Mr Yates seeking orders restraining him from"
<P>

7   	It also foreshadowed an amendment to paragraph 48 to insert
a date at the commencement of the paragraph.
<P>

8   	The Defence is a long document being of some 57 pages and
incorporates by reference particulars occupying another 24 pages.
 In order to
comprehend the Defence it is useful to set out a summary of the structure of
the Defence.
<P>

<b>Paragraphs 1 to 4</b>
<P>

9   	These contain allegations of the steps which led to the
supply to the plaintiffs of Project Outlook documents and their receipt
by Mr
Yates.  The Defence admits most of the allegations but puts in issue the
confidentiality of the information.  Mr Yates also
alleges that any disclosures
made by him of the information was required by the proper performance of his
duties as a director. 
No complaint is made about these paragraphs of the
Defence.
<P>

<b>Paragraphs 5 to 5.4</b>
<P>

These paragraphs plead that no obligation of confidence arose in the
circumstances that:-
<P>

(a) the proposed demutualisation was contrary to the compact in the articles
(para 5.3(a)(b)),
<P>

(b) the President's team, being the majority of the Board, conducted themselves
in a manner (set out in paras 34-75 of the Defence)
which was wrongful and thus
no obligation of confidentiality arose (para 5.3(c)(d)), or
<P>

(c) the disclosure was necessary for Mr Yates to carry out his duties as a
Director (para 5.4).
<P>

<b>Paragraph 6</b>
<P>

This paragraph pleads that:-
<P>

(a) The disclosure was necessary for Mr Yates to carry out his duties (para
6.1).
<P>

(b) If any obligation of confidence arose, to grant relief would be a breach of
the compact in the articles (6.2).  
<P>

(c) If any obligation of confidence arose, to grant relief would countenance a
breach of duty by the Directors (para 6.3).
<P>

(d) If any obligation of confidence arose, to grant relief would be oppressive
and in breach of s 246AA of the <b>Corporations Law</b> (para 6.4).
<P>

(e) If any obligation of confidence arose, to grant relief would facilitate
conduct in breach of s 52 of the <b>Trade Practices Act,</b> s 995 and s 996 of
the <b>Corporations Law</b> and s 42 of the <b>Fair Trading Act</b>.
<P>

<b>Paragraph 7</b>
<P>

10   	This paragraph pleads
<P>

(a) the defence of unclean hands.
<P>

(b) that the plaintiff is not entitled to relief as it would be contrary to the
public interest.
<P>

<b>Paragraphs 8 to 75</b>
<P>

11   	These paragraphs contain a pleading of matters relating to
the history of the demutualisation proposals both past and present
including
allegations of conduct said to be breaches of duty by Directors.
<P>

<b>Paragraph 76</b>
<P>

12   	This paragraph pleads that the present proceedings are an
abuse of process as they were instituted for the improper purpose
of preventing
a proper consideration of the proposals and to denigrate and discredit the
defendant, Mr Yates, as a Director.
<P>

<b>Paragraph 77.1</b>
<P>

13   	This paragraph claims that the affairs of the plaintiff
are being conducted in an oppressive manner contrary to s 246AA of
the
<b>Corporations Law </b>and seeks relief including an appointment of a
receiver.  It is alleged that if relief in the action were granted to the
plaintiffs
that such relief would allow the oppressive conduct to continue.
<P>

<b>Paragraph 77.2</b>
<P>

14   	This paragraph pleads 
<P>

(a) a defence of unclean hands.
<P>

(b) that to grant relief would not be in the public interest
<P>

15   	The particulars to which I have referred contain a series
of allegations about actions by a number of the Board members and
the Chief
Financial Officer concerning the sale of various shares in Washington H. Soul
Pattinson Ltd and Brickworks Ltd which were
part of the plaintiffs' investment
portfolio.  It then alleges breaches of duties by various Directors in respect
of the sale of
those shares.  It should be noted that these particulars were
formerly in the original Defence and have been given as particulars
in
basically the same form as they originally appeared. 
<P>

16   	The plaintiffs in their submissions suggested that,
because of the manifold faults in the Defence, the whole Defence should
be
struck out rather than individual paragraphs and that the defendant should be
ordered to replead.  They relied upon well known
statements in <b>Trade
Practices Commission v David Jones Aust Pty Ltd </b><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1985/228.html" title="View Case" class="autolink_findcases_inserted">[1985] FCA 228</a>;  <a href="/cgi-bin/LawCite?cit=7%20FCR%20109" title="View LawCiteRecord" class="autolink_findcases">7 FCR 109</a> at 115 and
<b>Turner v The Bulletin Newspaper Co Pty Ltd </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1974/25.html" title="View Case" class="autolink_findcases_inserted">[1974] HCA 25</a>;  <a href="/cgi-bin/LawCite?cit=%281974%29%20131%20CLR%2069" title="View LawCiteRecord" class="autolink_findcases">(1974) 131 CLR 69</a> at 97.  
<P>

17   	It is probably useful to deal with a number of matters of
principle which appear in relation to some of the defences pleaded
before
descending into the detail of the criticisms of the actual pleading.  
<P>

18   	The first matter which I will address is the pleading
which appears in paragraph 5.3(a)(b) and 6.2(a)(b) and (c).  The thrust
of the
Defence is that the demutualisation process was contrary to the Memorandum and
Articles of Association of each of the two
plaintiffs and the general intention
and common understanding of members of the basis upon which they have from time
to time been
admitted to membership, namely, that their respective businesses
and undertakings would be conducted as mutual companies and associations
together in accordance with the articles.  
<P>

19   	According to the plaintiffs' submissions these pleadings
were based upon the unsound, implicit assumption that the plaintiffs
are
precluded from changing their articles in order to demutualise.  The defendants
rely upon the principle that equity will restrain
conduct otherwise authorised
where to engage in such conduct would be entirely outside what can fairly be
regarded as having been
within the general intention and common understanding
of the members when they became members.  This principle was referred to in
an
earlier case concerning the previous attempt at demutualisation, namely,
<b>Fraser v NRMA Holdings </b> <a href="/cgi-bin/LawCite?cit=55%20FCR%20452" title="View LawCiteRecord" class="autolink_findcases">55 FCR 452</a> at page 481.  As was pointed out by
the majority, conduct of that nature will give the court the power to wind up
the company on
the just and equitable ground and there was no reason in
principle, according to the majority, why equity should not intervene at
an
earlier point to restrain that conduct.
<P>

20   	It would be inappropriate on an application such as the
present to decide whether in fact such a common understanding can
be deduced
from the terms of the Memorandum and Articles of each of the plaintiffs.  The
way in which it is alleged is set out in
detail in paragraph 13 of the Defence.
The comments of the Full Court in <b>Fraser's case </b>does lend support for at
least there being an arguable case in respect of the second plaintiff.  The
submissions of the plaintiffs
did not address what follows if such a common
understanding is found to exist by the trial judge.  The question would then be
whether
the existence of such common understanding may either detract from the
confidentiality of the material or be a reason why Mr Yates
may disclose the
material to members being presented with a proposal which was the opposite of
the common understanding.  Given the
absence of argument on the point and
appreciating that the answer may well be different depending upon when the
material was to be
disclosed to members, I would be reluctant to  say that the
general thrust of the allegation by way of Defence should be struck out.
<P>

21   	The next major area concerns the pleadings in 5.3(c)(d)and
in paragraph 6.3.  In general these plead that some or all of the
President's
team, being the majority of Board, conducted themselves in a manner which was
wrongful and thus either no obligation
of confidentiality arose or,
alternatively as pleaded in 6.2, the Court would not in its discretion, enforce
the obligation.  The
plaintiffs criticise these pleadings on three bases.
<P>

1.	The actions to be incorporated by reference which are pleaded in paragraphs
34 to 75 do not deprive the information of its confidential
quality.
<P>

2.	The allegations are based upon defective material.
<P>

3.	The allegations deal with individual conduct which is not attributed to the
company.  It is the plaintiffs' claim which is being
resisted not a claim of
individual directors.
<P>

22   	The defendant relies in his submissions on what he says is
the special defence of "public interest" which applies and which
may incline a
court either to find that the information is not confidential or to decline to
enforce the confidentiality.  He refers
in submissions to the debate which
appears in paragraph 4123 of <b>Equity Doctrines and Remedies</b> by Meagher,
Gummow and Lehane, Third Edition.  It is plain from that discussion that there
is a substantial difference between what
is said to be the law in England and
that which may apply in Australia.  In <b>Attorney General v Observer Ltd
</b>(1990) 1 AC 109 at 268-269 and 282-283, Lord Griffith and Lord Gough
accepted the recent extensions to the original formulation of
the principle
said to flow from <b>Gartside v Outram </b> <a href="/cgi-bin/LawCite?cit=%281857%29%2026%20LJ%20Ch%20113" title="View LawCiteRecord" class="autolink_findcases">(1857) 26 LJ Ch 113</a> where it was
said there could be no confidence in an "iniquity".  The extension was that
this principle would include cases in which
it is in the public interest that
the confidential information should be disclosed.  That approach involves a
Judge balancing the
public interest in upholding the right to confidence which
is based on the moral principles of loyalty and fair dealing against some
other
public interest that will be served by the publication of the confidential
material.  In this country this proposition has
been doubted and critically
examined.  In <b>Castrol Australia Pty Ltd v Emtech Associates Pty Ltd
</b> <a href="/cgi-bin/LawCite?cit=%281980%29%2033%20ALR%2031" title="View LawCiteRecord" class="autolink_findcases">(1980) 33 ALR 31</a>, Mr Justice Rath held that a just cause for breaking a
confidence must be more weighty and precise than a public interest in the
truth
being told.  He followed Ungoed-Thomas J in <b>Beloff v Pressdram </b>Ltd
 <a href="/cgi-bin/LawCite?cit=%281973%29%201%20All%20ER%20241" title="View LawCiteRecord" class="autolink_findcases">(1973) 1 All ER 241</a> where His Honour said at 260:-
<P>

"The defence of public interest clearly covers and, in the authorities does not
extend beyond disclosure...of matters carried out
or contemplated, in breach of
the country's security, or in breach of law, including statutory duty, fraud,
or otherwise destructive
of the country or its people, including matters
medically dangerous to the public, and doubtless other misdeeds of similar
gravity.
 Public interest as a defence in law, operates to over-ride the rights
of the individual (including copyright) which would otherwise
prevail and which
the law is also concerned to protect.  Such public interest, as now recognised
by the law does not extend beyond
misdeed of a serious nature and importance to
the country and thus, in my view, clearly recognisable as such."
<P>

23   	Rath J's view was approved by Brownie J in <b>Bacich v
Australian Broadcasting Corporation </b>(1992) 29 NSWLR 1.
<P>

24   	The matter was further considered by Mr Justice Gummow as
a member of the Full Bench of the Federal Court in <b>Corrs Pavey Whiting and
Byrne v The Collector of Customs </b><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1987/266.html" title="View Case" class="autolink_findcases_inserted">[1987] FCA 266</a>;  <a href="/cgi-bin/LawCite?cit=%281987%29%2014%20FCR%20434" title="View LawCiteRecord" class="autolink_findcases">(1987) 14 FCR 434.</a>  His Honour's decision
was a minority decision but because of the way in which he approached the
construction of the relevant legislation
he was the only one who had to
consider the particular question with which we are now concerned.  His Honour
went back to an early
starting point and considered <b>Gartside v Outram </b>to
determine for what principle it was authority.  He found that the case provided
an insufficient basis for the present English public
interest defence to which
I have referred.  The basic principle to come from the case he expressed in the
following terms:-
<P>

"From this consideration of <b>Gartside v Outram </b>I conclude that that case
provides insufficient basis for any `public interest defence' of the kind that,
in its name, has been developed
in the recent English authorities.  The truth
as to what <b>Gartside v Outram </b>decided is less striking and more readily
understood in terms of basic principle.  It is that any court of law or equity
would have
been extremely unlikely to imply in a contract between master and
servant an obligation that the servant's good faith to his master
required him
to keep secret details of his master's gross bad faith to his customers.
Likewise, before any express contractual obligation
of confidence is enforced
at law or in equity the term relied on must be valid at law.  <b>A v Hayden
</b>provides one example.  Cases where express terms, allegedly designed to
protect trade secrets, have been struck down as being in restraint
of trade
provide further examples: <b>Drake Personnel Ltd v Beddison </b><a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1979/3.html" title="View Case" class="autolink_findcases_inserted">[1979] VicRp 3</a>;  <a href="/cgi-bin/LawCite?cit=%281979%29%20VR%2013" title="View LawCiteRecord" class="autolink_findcases">(1979) VR 13</a> at
19-21; <b>Pioneer Concrete Services Ltd v Galli </b><a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1985/68.html" title="View Case" class="autolink_findcases_inserted">[1985] VicRp 68</a>;  <a href="/cgi-bin/LawCite?cit=%281985%29%20VR%20675" title="View LawCiteRecord" class="autolink_findcases">(1985) VR 675.</a>  The case
presented to us is not one of an express or implied contractual term as to
confidence; it follows from what I have said
as to <b>Gartside v Outram
</b>that that case does not assist the 
<P>

appellant in the way the appellant submitted."
<P>

25   	His Honour went on to formulate an alternative basis,
namely, that the case stood for the fact that even if the plaintiffs
had valid
legal rights they would have been denied equitable relief in accordance with
the principle of unclean hands.  He finally
commented:-
<P>

"If there be some other principle of general application inspired by
<b>Gartside v Outram</b>, it is in my view of narrower application than the
`public interest defence' expressed in the English cases.  Such a narrow
principle
would not be concerned with contractual protection of confidence.
Where the plaintiff asserts a contractual right, the law of contract,
supplemented by equitable defences were equitable relief is sought,
sufficiently deals with the situation.  Any principle of the
kind I am now
considering will be applied in equity where there is no reliance on contractual
confidence.  That principle, in my
view, is no wider than one that information
will lack the necessary attribute of confidence if the subject matter is the
existence
or real likelihood of the existence of an iniquity in the sense of a
crime, civil wrong or serious misdeed of public importance,
and the confidence
is relied upon to prevent disclosure to a third party with a real and direct
interest in redressing such crime,
wrong or misdeed."
<P>

26   	It can be seen that Mr Justice Gummow's analysis, like
that of Rath J, is substantially narrower than the formulation which
now
applies in England.  The defendant conceded that he would need to rely upon the
English formulation in order to support the pleading.
 The defendant submits
that on a strike out basis such a pleading is permissible in order to allow him
to argue the matter.  I would
have thought that if a trial judge in this
division were clearly bound to follow the approach of Gummow J or Rath J then
the pleadings
should be confined to that law.
<P>

27   	The principles have not finally been determined by an
appellate court in this country.  Some justices of the High Court discussed
<b>Gartside v Outram </b>in <b>A v Hayden (No 2) </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1984/67.html" title="View Case" class="autolink_findcases_inserted">[1984] HCA 67</a>;  <a href="/cgi-bin/LawCite?cit=%281984%29%20156%20CLR%20532" title="View LawCiteRecord" class="autolink_findcases">(1984) 156 CLR 532</a>, the
case which concerned the botched ASIS "practice" raid on the Sheraton Hotel in
Melbourne in 1983.  The ASIS operatives involved
sought the enforcement of
confidentiality terms in an employer/employee contract whilst the Commonwealth
wished to reveal their names
to the Victorian police for the purpose of
investigating criminal prosecutions.  Gibbs CJ at 545 and Wilson and Dawson JJ
at 571-573
discussed a possible refusal to grant injunctive relief in terms of
the public interest involved in the administration of justice,
specifically the
revelation that crimes had been committed.
<P>

28   	Gibbs CJ (who was in the minority because he required more
precise details of the alleged criminal offences) made some broader
obiter
comments on the scope of the rule noting the expansion of the concept of
"iniquity" in <b>Gartside v Outram </b>to mean misconduct generally and
disagreeing with the view of Sheppard J in <b>Allied Mills Industries Pty Ltd v
Trade Practices Commission </b><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1981/11.html" title="View Case" class="autolink_findcases_inserted">[1981] FCA 11</a>;  <a href="/cgi-bin/LawCite?cit=%281980%29%2055%20FLR%20125" title="View LawCiteRecord" class="autolink_findcases">(1980) 55 FLR 125</a> at 167 that the public
interest in disclosure of iniquity will always outweigh the public interest in
the preservation of private
and confidential information.  Gibbs CJ thought a
weighing up of the nature of the offence and the public interest in disclosure
was required.  He also noted with caution the decision in <b>Woodward v
Hutchins </b>(1977) 1WLR 760;  <a href="/cgi-bin/LawCite?cit=%281977%29%201%20All%20ER%20751" title="View LawCiteRecord" class="autolink_findcases">(1977) 1 All ER 751</a> considered to be the
high-water mark of the "public interest defence" in English law where the
public interest in the disclosure
of the truth was said to outweigh the
interest in confidentiality even where there had been no misconduct.  He refers
to Rath J's
disapproving judgment in <b>Castrol Australia Pty Ltd v Emtech
Associates Pty Ltd &amp; Ors </b> <a href="/cgi-bin/LawCite?cit=%281980%29%2033%20ALR%2031" title="View LawCiteRecord" class="autolink_findcases">(1980) 33 ALR 31.</a>
<P>

29   	The matter appears to have been referred to in two cases
in the New South Wales Court of Appeal.  <b>David Syme &amp; Co Ltd v General
Motors-Holden's Ltd </b> <a href="/cgi-bin/LawCite?cit=%281984%29%202%20NSWLR%20294" title="View LawCiteRecord" class="autolink_findcases">(1984) 2 NSWLR 294</a> concerned an appeal from a decision
granting interlocutory injunctive relief to GMH.  An employee of GMH had leaked
allegedly confidential
technical and project information which was then
published in a Japanese magazine and which the appellant now wanted to publish.
The appellant had submitted that injunctive relief should be denied on the
basis of the public's right to know and argued that where
maintaining
confidentiality would mislead the public about a subject in which the public
has a legitimate interest in being informed,
the court must balance the
competing public interests.  The Court of Appeal found no reason to interfere
with the trial judge's rejection
of this defence at the interlocutory stage.
However, the court did consider its nature.  Hutley JA at 306 said:
<P>

"The proprietary right in its confidential information of this kind is not to
be weighed against other circumstances, except in
cases where questions of
iniquity are involved."
<P>

30   	Samuels JA at 309 thought that cases of misconduct should
be seen as representing a category of cases where the public interest
to know
should prevail over the public interest in maintaining confidentiality.  He
agreed with Lord Denning's view in <b>Woodward v Hutchins </b> <a href="/cgi-bin/LawCite?cit=%281977%29%201%20WLR%20760" title="View LawCiteRecord" class="autolink_findcases">(1977) 1 WLR 760</a>
at 764;  <a href="/cgi-bin/LawCite?cit=%281977%29%202%20All%20ER%20751" title="View LawCiteRecord" class="autolink_findcases">(1977) 2 All ER 751</a> at 754 that "it is a question of balancing the
public interest in maintaining the confidence against the public interest in
knowing
the truth".  This, of course, is contrary to the approach of Gummow
J.
<P>

31   	<b>Attorney-General (UK) v Heinemann Publishers Australia
Pty Ltd </b> <a href="/cgi-bin/LawCite?cit=%281987%29%2010%20NSWLR%2086" title="View LawCiteRecord" class="autolink_findcases">(1987) 10 NSWLR 86</a> was the Spycatcher case.  Kirby P discussed a
defence of public interest in relation to the disclosure of confidential
information
being the publication of a book about the activities of MI5, the
British spy agency.
<P>

32   	The majority of Kirby P and McHugh JA had different
grounds for their decisions to dismiss the appeal.  Kirby P had already
determined that the New South Wales Court Appeal had no jurisdiction to hear an
application to enforce a public foreign law but this
view was not shared by
McHugh JA, the other member of the majority.  On that basis Kirby P went on to
discuss his views on the respondent's
defence of public interest.  And so the
application of the public interest defence was for him obiter dicta.  Street CJ
and McHugh
JA did not make any findings on the defence but approached the
question by making a government/private information distinction.
<P>

33   	Kirby P at 170 adopted Megarry V-C's definition of "public
interest" in <b>British Steel Corporation v Granada Television Ltd</b>  <a href="/cgi-bin/LawCite?cit=%281981%29%20AC%201096" title="View LawCiteRecord" class="autolink_findcases">(1981)
AC 1096</a> at 1113: "something which is of serious concern and benefit to the
public".  His Honour went on to say that the word "iniquity" in
<b>Gartside v
Outram </b>did not express a principle but is "simply an instance of the wider
category of the public interest in disclosure which may sometimes,
even if
rarely, outweigh the public interest in confidentiality and secrecy: cf Gibbs
CJ in <b>A v Hayden (No 2) </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1984/67.html" title="View Case" class="autolink_findcases_inserted">[1984] HCA 67</a>;  <a href="/cgi-bin/LawCite?cit=%281984%29%20156%20CLR%20532" title="View LawCiteRecord" class="autolink_findcases">(1984) 156 CLR 532</a> at 545f."  The public
interest in information about the behaviour of national security agencies and
the defence of democratic institutions
was determinative.  (see 170).
<P>

34   	His Honour also eschewed an approach to <b>Gartside v
Outram</b> on the basis of the equitable principle of "clean hands" at (171).

<P>

35   	The case went on appeal to the High Court who dealt with
it without the need to consider the "public interest" defence.  Given
the dicta
of Mr Justice Kirby in the Court of Appeal and the High Court dicta referred to
above it could not be said that a judge
at first instance would be bound to
adopt the narrower view.  Accordingly, I will assess the pleading on the basis
that the broader
English approach would be appropriate.
<P>

36   	It is necessary to look at the allegations which are
incorporated into the pleading in order to appreciate the nature of the
public
interest defence and in doing so it is worth bearing in mind the other attacks
made upon these paragraphs by the plaintiffs,
namely, that they lack material
detail and are related only to conduct by individuals rather than conduct of
the plaintiff companies
themselves.  I turn to the particular paragraphs in the
defence.
<P>

<b>Paragraph 34 Coordination of Demutualisation and Election </b>
<P>

37   	This paragraph in the pleading alleges that the
demutualisation programme and the re-election of directors due in 1999 will
be
coordinated to occur at the same time to assist in the re-election of the
persons who will support Mr Whitlam and the President's
team at board meetings.
Given the particulars it is likely to be a matter which is a board decision.

<P>

<b>Paragraphs 35 to 37 The One Mutual Proposal</b>
<P>

38   	These recite some actions by some board members on an
earlier demutualisation proposal which was abandoned in early 1998.
 The
relevance to any possible defence is hard to see.
<P>

<b>Paragraph 38 Project Outlook Engagement of Consultants</b>
<P>

39   	This is a reference to the resolutions for the consultants
to do a scoping study in May 1998.
<P>

<b>Paragraphs 39 to 40 Takeover Committee</b>
<P>

40   	These paragraphs are not contentious.
<P>

<b>Paragraphs 41 to 45 Protocol for the Consultant's report.</b>
<P>

41   	These paragraphs plead the passing of resolutions by the
boards which adopted a media spokesperson protocol whereby only Mr
Whitlam and
Mr Dodd were to speak or comment on the consultant's report.  The relevance of
paragraphs 41 and 42 is not apparent.
<P>

<b>Paragraphs 46 to 51 Draft and Final "Confidential Reports".</b>
<P>

42   	These paragraphs plead the preparation of a draft report
and make allegations about its contents.
<P>

43   	Paragraph 50  makes allegations of failure of some of the
directors to bring the report to the Board's attention, to make
enquiry about
matters in the report and to consider what are now alleged to be defects in the
report.
<P>

44   	Paragraph 51 then pleads that in so acting those directors
committed various breaches of duty owed to the company.  The particulars
in
respect of the alleged breaches of duty are inconsistent with the allegations
in paragraph 50.  See for instance the allegation
that the report was
propounded in the particulars provided under paragraph (d) of 51(C).  Those
particulars also contain an allegation
that certain directors failed to act
honestly in the interests of the plaintiffs but acted in their own interests.
The circumstances
particularised of failing to act honestly do not support such
an allegation.   It is a wholly deficient pleading in this regard.
<P>

45   	More importantly, however, these paragraphs raise a matter
of substance and that is what is the role of allegations of breach
of duty by
directors in the course of board processes.  This one is a particularly stark
example because it concerns a draft report
and that draft report was not acted
on by the company.  The pleading is extremely confusing in its terminology but
appears to address
both the draft and the final report.  It seems to me that
these allegations have been made in order to add colour to what might be
described in the words of <b>Gartside v Outram </b>as "an iniquity".  If there
is to be some public interest reason why the confidentiality which belongs to
the company should not be
protected or held to arise, such reason must come
from actions of the company.  In many cases these actions will be those of
individuals
whose actions can be attributed to the company.  See for example
the facts alleged in <b>Gartside v Outram.</b>  In my view, individual actions,
of which this is a good example, by directors in the processes leading up to a
board decision could
not be relevant to any such defence.  Such actions may be
a matter of complaint which the company may wish to take up with the directors.
In short the actions do not show that the company has committed "an
iniquity".
<P>

<b>Paragraphs 52 Report Enquiry Committee</b>
<P>

46   	This pleads the establishment of a Report Enquiry
Committee to enquire into breaches of confidentiality concerning the report.

<P>

<b>Paragraphs 53 to 57 Resolutions of 28 January 1999</b>
<P>

This pleads a resolution of the board purporting to impose sanctions on the
directors who might be found to have breached a duty
of confidence in respect
of the report.  The pleading goes on to allege that the resolutions were
proposed and supported by Mr Whitlam
and members of the President's team to
prevent members of the companies being informed about the proposals in the
report except by
Mr Whitlam and Mr Dodd.  Paragraph 56 then in a somewhat
extraordinary way pleads that the resolutions were ultra vires and/or invalid
and ineffective and/or should be set aside.  If there is any claim to set them
aside clearly that should be in a cross claim and
not in a defence.  There are
a number of particulars given as to why the resolutions were ultra vires the
board.  In general terms
they were:-
<P>

1.	That the demutualisation was contrary to the compact in the articles.
<P>

2.	The resolutions prevented directors informing members of the proposed breach
of the compact.
<P>

3.	The resolutions imposed a regime which prevented them from carrying out
their duties as directors such duties apparently including
bringing defects in
the reports to the attention of members. 
<P>

47   	There was no articulation of how it might be said to be a
duty to bring such matters to the attention of members in contrast
with the
directors' duties to bring matters to the attention of the board for their
debate.  It will be seen that this general area
concerns resolutions of the
board which arguably, given the reference to the compact in the articles may
mean that the board was
embarking on a process which was contrary to that
compact.  Whether or not it could amount to a relevant public interest defence
is a matter of some debate.  
<P>

48   	Paragraph 57 then goes on to plead that Mr Whitlam, Ms
Keating and Mr Dodd breached their duties as a director in a number
of ways.
Some of these are linked to, for example, simply a placing before the board of
a report which may have defects.  Once again
it appears to me that the breaches
of duties which are alleged here are merely to add colour to a claim for some
iniquity.  In my
view they are totally irrelevant.  The relevant conduct is the
conduct of the board perhaps in this case being the passing of the
resolutions
to which I have just referred.
<P>

<b>Paragraph 58 and 59 A further Report</b>
<P>

49   	This pleads a further report discussing the principal
report to which I have been referring.
<P>

<b>Paragraph 60 Ernst &amp; Young</b>
<P>

50   	This refers to a report commissioned from this firm.  The
relevance is not apparent.
<P>

<b>Paragraph 61 Withholding of Information from Directors</b>
<P>

51   	This pleads that the plaintiffs have withheld information
on the Project Outlook  Report from Mr Yates.
<P>

<b>Paragraphs 62 to 65 Injunction Proceedings </b>
<P>

52   	These paragraphs plead the commencement of these
proceedings and the obtaining of the orders.  They then allege that the
proceedings
were instituted for the purpose of preventing information from
being disclosed to members of the plaintiffs concerning the reports.
 Paragraph
65 pleads that various persons were in breach of their duties as directors or
officers.  The relevance of these matters
escapes me in the context of this
claim which is that the proceedings were commenced for an improper purpose.  In
my view the pleadings
should not stand in respect of paragraph 65.
<P>

<b>Paragraphs 66 to 68 Resolutions of 25 February 1999 - The Project Outlook
Steering Committee.</b>
<P>

53   	These paragraphs plead decisions of the Boards on 25
February which effectively establish a Steering Committee for demutualisation
and put in place steps both as to membership and products available which would
apply after that day.  In paragraph 67 there is once
again a claim that the
resolutions were ultra vires the Boards and/or invalid and ineffective and/or
should be set aside.  The same
comment about this setting aside not being
appropriate as a defence is relevant.  However, there are particulars which
include, of
course, the resolution being contrary to the compact in the
articles and a number of other matters concerning what is alleged to
be the
ability of the plaintiffs to control membership.  Once again it is worth noting
that these are decisions of the Boards and
therefore of the companies.  The
question which has to be resolved is whether or not such a decision might be
one if it were, for
instance, ultra vires which would attract the public
interest defence.  Given the possible width of such a defence the matter
(excluding
the claim to set aside the resolution) should be allowed to stand.
Paragraph 69 once again pleads various breaches of director's
duties.  In my
view they are irrelevant to the question of whether the resolutions are ultra
vires which depends upon the matters
pleaded in paragraphs 66 and 67. 
<P>

<b>Paragraph 69 to 70 - Expenditure on Project Outlook.</b>
<P>

54   	This pleads expenditure on the project which is no doubt
linked to the previous part of the pleading with which I have just
dealt.  
<P>

55   	Paragraph 70 once again pleads various breaches of duties
of the directors to the companies.  Once again I am of the view
that they are
totally irrelevant to any public interest defence.
<P>

<b>Paragraph 71 to 75 The Two-Mutuals Committee</b>
<P>

56   	This pleads the establishment of a committee of the Boards
comprising Mr Yates and other directors to report on the disadvantages
of the
proposals in the report.  Paragraph 74 then pleads that certain directors and
the chief executive procured the committee to
be unable to carry out its work
by having the Boards pass some resolutions.  The relevance of what the
individuals did is not apparent
and even if the Boards did decide to disband
the committee I would not have thought that fact of itself would amount to
conduct which
would be within the wide public interest defence.  Once again the
allegations in paragraph 75 as to breach of duties by directors
are irrelevant.

<P>

57   	Standing back at this stage and looking at the matters
stripped of the allegations of breach of director's duties owed to
the
companies, one is left with a number of decisions of the companies which the
defendant desires to plead as showing conduct which
might amount to a public
interest defence in respect of the confidential information.  The relevant ones
are as follows:-
<P>

The adoption of a media protocol.
<P>

The resolution imposing sanctions for breach of duty of confidence.
<P>

The improper purpose in bringing these proceedings.
<P>

The Boards' resolutions of 25 February 1999.
<P>

58   	The difficulty in this matter is, of course, that the
confidential information is information which is said to be confidential
at a
particular time during the Boards' deliberations of the matters.  If the
matters go forward to the members of the plaintiffs
at an appropriate time and
place, a lot of what is now confidential will be made publicly available either
to the members and/or
to a court if, for example, a scheme of arrangement is
involved.  I have indicated above a view that arguably the public interest
defence might apply to the implementation of the demutualisation of proposals
if they are contrary to any common understanding about
the compact in the
articles.  In these circumstances the thrust of the pleading in respect of
these matters should be allowed to
stand.
<P>

59   	The next area of principle I will consider is the claim
that the grant of relief will further the oppressive management of
the affairs
of the plaintiffs in contravention of s 246AA of the <b>Corporations Law</b>.
This claim is made in paragraph 6.4 and paragraph 77.1.  Paragraph 6.4 merely
baldly asserts that to grant relief in respect of
conduct of which complaint is
made would be to further the oppressive management and affairs of the
plaintiffs in contravention of
the section.  That conduct is not defined.  In
paragraph 77.1 there is a general allegation of the affairs being conducted in
a manner
oppressive and unfairly prejudicial.  It then says that members would
be entitled to relief, that if the relief sought in the present
Statement of
Claim were granted it would continue that conduct and therefore that is a
reason for refusing relief.  Two things have
to be observed about these two
pleadings.  The first of them is that neither of them in any way gives any
proper pleading of the
grounds or the facts and circumstances giving rise to
oppression.  The second one is that a court should not be asked to determine
whether the affairs of the plaintiffs are being conducted in an oppressive
manner without proceedings seeking relief having been
instituted say, for
example, by Mr Yates.  In my view both these paragraphs should not be in the
pleading.
<P>

60   	The next matter of general principle which I will deal
with is that which appears as a result of paragraph 6.5 and paragraph
78.1.
Those paragraphs claim that the conduct (in one case contained in paragraphs 8
to 75) infringes s 52 of the <b><a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/" class="autolink_findacts">Trade Practices Act 1974</a> </b>and<b> </b>s 995
and s 996 of the <b>Corporations Law</b> and <a href="http://www.austlii.edu.au/au/legis/cth/num_act/tpa1974149/s42.html" class="autolink_findacts">s 42</a> of the <b>Fair Trading
Act</b> 1987 (NSW).  The plaintiff relied upon <b>Bank of New Zealand v Spedley
Securities Ltd</b> (in liq.)  <a href="/cgi-bin/LawCite?cit=%281992%29%2027%20NSWLR%2091" title="View LawCiteRecord" class="autolink_findcases">(1992) 27 NSWLR 91</a> which is authority for the
proposition that conduct proscribed by s 52 cannot be relied upon as a defence
in proceedings to establish
a constructive trust.  The defendants however
relied upon <b>Allied Mills Industries Pty Ltd v Trade Practices Commission
</b>(supra) the decision of Sheppard J to which reference has been made
earlier.  There the matter arose squarely for his Honour's decision
as to
whether a breach of s 52 may constitute a relevant iniquity for the purposes of
the rule formulated in <b>Gartside v Outram</b>.  He concluded that it did
notwithstanding the absence of criminality.
<P>

61   	Whether a trial judge comes to a similar conclusion is a
matter for him or her but at least on a strike out level the pleading
of
appropriate facts in order to support a breach of the provisions is an
appropriate matter of defence.  However, the difficulty
with the pleading is
the rolled up way in which it deals with the matters said to give rise to the
particular conduct.  It is simply
a bald incorporation by reference of
virtually the whole pleading.  In my view, given the different matters involved
in this area
the pleading should carefully set out the particular facts which
are said to give rise, for example, to the misleading and deceptive
conduct.

<P>

62   	The next matter of substance is the pleading of the
defence of unclean hands which appears in paragraph 7.1 and paragraph
77.2(a).
No particulars are given in respect of paragraph 7.1 and in respect of 77.2(a)
particulars are given of that allegation
and the public interest claim.  Those
particulars include a course of conduct comprising a failure to permit adequate
and proper
investigation and consideration of the affairs of the plaintiffs,
withholding of information from directors particularised in the
Washington H.
Soul Pattinson Ltd &amp; Brickworks Ltd particulars together with the conduct
pleaded in paragraphs 24 to 75 of the
defence.  The Soul Pattinson &amp;
Brickworks particulars as I have already mentioned comprise a separate document
of some 24 pages
dealing with a variety of allegations concerning the sale of a
number of investments held by the plaintiffs.  The thrust of the particulars
is
the role played by two directors in carrying out certain decisions of the
Boards of the plaintiffs to sell shares.  In my view
none of those particulars
would support some action by the company which would be an answer to the equity
claimed in the present
case.  It is totally removed from the subject matter of
the present case which is confidential information in a particular report.
 It
goes without saying that for the defence of unclean hands to operate at all the
impropriety complained of "must have an immediate
and necessary relation to the
equity sued for", see generally <b>FAI Insurance Ltd v Pioneer Concrete
Services Ltd </b> <a href="/cgi-bin/LawCite?cit=%281987%29%2015%20NSWLR%20552" title="View LawCiteRecord" class="autolink_findcases">(1987) 15 NSWLR 552</a> at 557E to 561E.  In my view the matters
referred to in these particulars cannot be raised as a defence of unclean
hands.  There
are other matters referred to in the pleading and it will be
apparent from what I have earlier said about the cases that one view
of the
public interest defence is that it might be akin to a defence of unclean hands.
To the extent that the public interest matters
are allowed to be pleaded, I
would have thought that it would have been appropriate for them to also have
been pleaded in the alternative
as a defence of unclean hands.
<P>

63   	The final matter of principle with which I wish to deal is
that contained in paragraph 76.  This paragraph alleges that the
proceedings
have been commenced and have been continued for the purposes set out in
paragraph 64 and to denigrate and discredit Mr
Yates as a director, being
improper purposes.  It alleges that the proceedings are an abuse of process.
There is a basic flaw in
the pleading in that it does not allege that this is
the predominate purpose, see <b>Williams v Spautz </b><a href="http://www.austlii.edu.au/au/cases/cth/HCA/1992/34.html" title="View Case" class="autolink_findcases_inserted">[1992] HCA 34</a>;  <a href="/cgi-bin/LawCite?cit=%281992%29%20174%20CLR%20509" title="View LawCiteRecord" class="autolink_findcases">(1992) 174 CLR 509.</a>  For
this reason the pleading should be struck out and indeed the defendant concedes
that this allegation will have to be made. 
Once again the pleading in
paragraph 76 alleges that a whole raft of matters, namely, those in paragraphs
8.1 to 75 of the defence
lead to a view that the proceedings have been
continued for improper purposes.  This is not a very satisfactory way of
dealing with
such a pleading and consideration will have to be given to this
when the matter is repleaded.  In respect of some of the particulars
given
there is a reference to the personal spite and antipathy of Mr Whitlam.  One of
these involves matters which are set out under
Particular (b) and no doubt they
may constitute a matter which it is appropriate to include.  Particular (a) is
the events in the
Pattinson and Brickworks Particulars.  Any attempt to
incorporate the whole of the particulars from that document under this
sub-heading,
I think, would be quite inappropriate.  There may be one or two
resolutions moved by Mr Whitlam which may go to the spite and antipathy
in some
arguable way and they could be particularised.  The matter should be addressed
by reference to the precise matters of relevance.

<P>

64   	I have earlier referred to the plaintiffs submission that
the whole pleading should be struck out.  Clearly there are many
parts of the
pleading which can stand.  However, what is apparent from the way it is drafted
is that there has probably been limited
time to get it into an appropriate
final form.  The matter came before me on short notice because I had time
available to deal with
it and I have no doubt the defendants, if they had had a
little more time, may have considered some of the matters which were ultimately
raised in argument.  However, I think this is one of those cases where there
are quite a number of difficulties in the pleading and
it would be more
appropriate if the pleader, with the benefit, hopefully, of these reasons, can
recast the whole pleading in a form
which makes it easy for the court and the
plaintiffs to understand.  
<P>

65   	Accordingly, I think it is appropriate that the defence be
struck out.  Although struck out it will remain on the court file
and this
raises for consideration the order which I made about restricting publication
of paragraphs 46, 48, 58, 69 and 73.  I think
it goes without saying that the
defendant should not achieve something which he is prohibited from doing by a
court order merely
by repeating such matters in a defence.  There is no harm in
them being repeated in the defence.  However, given the interlocutory
orders
clearly that material should not be made available while those orders are in
force.  
<P>

66   	In my view those paragraphs if published would disclose
some of the material protected by the court's orders and, accordingly,
I
propose to allow the order which I made in this regard on 18 June 1999 to
continue until further order.  
<P>

67   	The orders that I make are:-
<P>

1.	I strike out the defence filed 17 June 1999.
<P>

2.	I order the defendant to file an Amended Defence and serve it within 21 days
of today's date.
<P>

3.	Exhibit A before me, a confidential exhibit, may be returned to the
plaintiffs upon their undertaking to make it available in
the event of any
appeal from this decision.
<P>

4.	Subject to any submissions, I order the defendant to pay the plaintiffs'
costs of the motion.
<P>

<center><b>**********</b></center>
<P>


<P>

<b>IN THE SUPREME COURT </b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>EQUITY DIVISION</b>
<P>

<b>MASTER MACREADY</b>
<P>

<b>Tuesday 13 July 1999</b>
<P>

<b>1486/99 N.R.M.A. LIMITED v IAN YATES</b>
<P>

<b>EXPLANATORY MEMORANDUM</b>
<P>

In this action the two plaintiffs, NRMA Ltd and NRMA Insurance Ltd are suing Mr
Yates, one of their directors, to restrain the publication
of certain
information given to the Boards of the plaintiffs which information the
plaintiffs regard as confidential.  There are
already in place, following a
hearing before Justice Windeyer, orders restraining the publication of that
material until the final
hearing of the proceedings.
<P>

This judgment concerns the form of a defence filed by Mr Yates in answer to the
plaintiffs' claim which the plaintiffs seek to strike
out for a number of
different reasons.  In considering whether the defence should be allowed the
court is not now deciding whether
the defences advanced by Mr Yates are an
answer to the plaintiffs' claim.  <b>The task of the court is to see whether
the defences are ones which can fairly be argued at the final hearing of the
case.</b>
<P>

The allowing of a defence to remain at this stage of the proceedings does not
mean that the court has decided that the particular
defence will be successful
at the final hearing of the proceedings.
<P>

The court in its orders has struck out the defence but has allowed a further
defence to be filed which is in accordance with the
LEGAL principles set out in
this judgment.  In particular the judgment allows defences to be put forward
which rely upon public interest
considerations and what is suggested to be the
general intention and common understanding of the members when they became
members,
namely, that the plaintiffs would continue to carry on their
businesses as mutual companies and associations together in accordance
with
their respective Memoranda and Articles of Association.
<P>

LAST UPDATED: 	13/07/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/701.html</i><br>
</p>
</small>
</body>
</html>
