<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Coogan and Anor v Southern Publishers Pty Limited [1999] NSWSC 489 (21 May 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 489</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+489 or 1999+NSWSC+489">Noteup</a>]
[<a href="489.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Coogan and Anor v Southern Publishers Pty Limited [1999] NSWSC 489 (21 May 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_489.html-->
<!--sino date 21 May 1999-->


<P>Last Updated: 27 May 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Coogan &amp; Anor v Southern Publishers Pty Limited  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/489.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
489</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	19163 of 1993
<P>

HEARING DATE{S): 	21 May 1999
<P>

JUDGMENT DATE: 	21/05/1999
<P>

 PARTIES: 
<P>

JUSTIN JOHN COOGAN
<P>

(First Plaintiff)
<P>

GUY PETER WARREN
<P>

(Second Plaintiff)
<P>

v
<P>

SOUTHERN PUBLISHERS PTY LIMITED
<P>

(Defendant)
<P>

SOUTHERN PUBLISHERS PTY LIMITED
<P>

(Cross-Claimant)
<P>

STATE OF NEW SOUTH WALES
<P>

(Cross-Defendant)
<P>

JUDGMENT OF: 	Levine J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

P Gray
<P>

(Plaintiffs)
<P>

J S Wheelhouse
<P>

(Defendant/Cross-Claimant)
<P>

R Weaver
<P>

(Cross-Defendant)
<P>

SOLICITORS: 
<P>

Deacons Graham &amp; James
<P>

(Plaintiffs)
<P>

Bush Burke &amp; Company
<P>

(Defendant/Cross-Claimant))
<P>

Crown Solicitor
<P>

(Cross-Defendant)
<P>

CATCHWORDS: 
<P>

Adjournment application - late discovery - claim for special damages -
amendment of cross-claim - s 10 <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act 1987</a>
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/" class="autolink_findacts">Supreme Court Act 1970</a>
<P>

DECISION: 
<P>

See paragraphs 19-27
<P>

JUDGMENT: 
<P>

DLJ:  2
<P>

(Ex Tempore - Revised)
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DEFAMATION LIST </b>
<P>

<b>No.  19163 of 1993</b>
<P>

<b>JUSTICE DAVID LEVINE</b>
<P>

<b>FRIDAY 21 MAY 1999</b>
<P>

<center><b>JUSTIN JOHN COOGAN</b>
<P>

<i>(First Plaintiff)</i>
<P>

<b>GUY PETER WARREN</b>
<P>

<i>(Second Plaintiff)</i><b> </b>
<P>

<b>v</b>
<P>

<b>SOUTHERN PUBLISHERS PTY LIMITED</b>
<P>

<i>(Defendant)</i>
<P>

<b>SOUTHERN PUBLISHERS PTY LIMITED</b>
<P>

<i>(Cross-Claimant)</i></center>
<P>


<P>

<center><b>STATE OF NEW SOUTH WALES</b>
<P>

<i>(Cross-Defendant)</i></center>
<P>


<P>

<b>JUDGMENT (Adjournment application - late discovery - claim for special
damages - amendment of cross-claim - s 10 <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act, 1987</a>)</i></b>
<P>

1   	HIS HONOUR:  The first application before the court is made
by the defendant.  It arises from an asserted deficiency and lateness
in
discovery by the plaintiffs on the issue of their claim for special damages.
That claim was first identified as being made, as
I understand it, in a letter
dated 9 February 1994, being Item 2 in Exhibit A on the defendant's
application.  It was quantified
in a letter dated 7 September 1995 from the
solicitor for the plaintiffs to the solicitors for the defendant.  What is
quite clear
is that, extraordinarily, the plaintiffs have been lax in the
provision either of documents relevant to their claim for special damages,
or
in the preparation of proper lists of documents in accordance with the
applicable Rules of Court explaining absences or deficiencies.
<P>

2   	The most recent List of Documents, (as is contained in
Exhibit 1) is the plaintiffs' further supplementary List of Documents
appended
to an affidavit of Mr Warren sworn on 20 May 1999.  It appears, however, the
plaintiffs have now given discovery of "<i>all they have" </i>relating to their
claim for special damages. The problem confronting the defendant, it is
submitted, is constituted by the lack of
time between now and the fixed hearing
date, namely 15 June, for the defendant to submit to an appropriately qualified
accountant
or auditor such material as the plaintiffs have provided to enable
the defendant to meet the plaintiffs' claim.
<P>

3   	The plaintiffs' claim, such as it is, has been set out in
the letter of 7 September 1995, and it seems to me, on this application,
that
the defendant is confronted with some difficulty - but not insurmountable -
arising from the late discovery by the plaintiffs
of certain cash books,
presumably in support of that component of the claim for special damages,
namely loss of trading income which,
at 1995, was quantified at about $9,000.
There is, of course, a claim for interest.
<P>

4   	The folder of discovered documents in its physical bulk is
insufficient to persuade me that the defendant would be prejudiced
in the mere
obtaining of expert opinion in this area, given the rather narrow confines of
the enunciation of the claim as set out
in the letter of 7 September 1995.  It
will be, of course, for the plaintiffs to prove their case on this issue.  It
is not for me
to form any concluded  view about it, but I see the issue to be
rather one of evidence to be called by the plaintiffs, than the defendant
being
in a perfect position for defending any such claim.
<P>

5   	I decline to vacate the hearing date on the basis that the
discovery has been insufficient or the defendant is prejudiced.
 The defendant
forthwith can embark upon the obtaining of any expert opinion that it considers
necessary on the material provided.
 As I will be granting liberty to apply on
one days' notice between now and 15 June to all parties in respect of all
issues, the
defendant is otherwise protected.
<P>

6   	The other principal issue that has arisen today is an
application by the cross-defendant to amend its cross-defence to plead
the
defence said to be provided by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/s10.html" class="autolink_findacts">Section 10</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act, 1987</a></i>.
In the event that that amendment is granted, there will be, on the application
of the defendant, a consequential amendment of its
defence vis-a-vis the
plaintiffs.  The real issue in relation to this amendment application is not so
much the entitlement of the
cross-defendant to make it, but the consequences
that are perceived to flow from it, if leave is granted.
<P>

7   	From the affidavit and oral evidence of Mr Ball, a
solicitor with the Crown solicitor's office, it is clear that the existence
of
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/s10.html" class="autolink_findacts">Section 10</a> of that legislation came to his attention in July 1998.  Further, no
active step was taken to amend the pleading until after a conference
with Mr
Weaver of counsel for the cross-defendant on 28 April this year.  Mr Ball gave
evidence to the best of his recollection,
that more probably than not, he spoke
to Mr Sexton of counsel some time after 2 July on that subject, but apart from
that, there
is nothing of substance that establishes that the cross-defendant
took any active step to bring about that which it now seeks to
bring about
three to four weeks before the hearing, namely, the amendment of its
cross-defence.
<P>

8   	As between the cross defendant and the defendant, the
proposed cross-defence raises several issues, the proof of which would
exclude
liability in the cross-defendant, namely, that an act done by any officer of
the cross-defendant or any statement made or
issued by that officer, was made
in good faith in the course of the administration or execution of the Act.
<P>

9   	The factual material before me points to an issue of fact
that will be in dispute, namely the terms of the conversation that
took place
between the defendant's journalist and an officer of the cross-defendant.  It
can be anticipated that in the action as
between the plaintiffs and the
defendant, in the light of the issues in the proceedings as they presently
exist, that that matter
will be ventilated.  I do not see any difficulty
arising from any granting of leave in that area.  Further, it is to be borne in
mind that the obligation would be on the cross-defendant to prove in connection
with any statement made by its officer to the journalist,
that such statement
was made in good faith.  That, however, is not the only component of good faith
involved or that would be involved
in allowing  the amendment.
<P>

10   	The consequential amendment which would be sought by the
defendant arises from of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/s10.html" class="autolink_findacts">Section 10(2)</a>, where no doubt the defendant would
assert that it published in good faith either a statement or a fair report or
summary of a statement,
as provided for in subsection (1), which, itself, must
have been made in good faith by the officer of the department.  Here it is
particularly contended, both by the defendant and by the plaintiffs, that in
the event of leave to amend being granted, inquiries
would have to be put in
train by each side to explore their respective positions in relation to the
case to be made on the issue
of good faith raised in the foreshadowed
consequential amendment of the defendant of its defence.  That is so.
<P>

11   	I am not persuaded that the consequences of allowing the
amendment to the cross-defence would be such as, at present, to prejudice
either the defendant or the plaintiffs, to require the adjournment of the
hearing by itself in addition to consequential orders as
to costs as against
the cross-defendant.
<P>

12   	I accept that there is anxiety on the part of the
plaintiffs to have determined as soon as possible - and indeed on the date
presently fixed - their claim against the defendant.  I accept that as far as
the defendant is concerned, there is no action, on
its part, sought to be taken
intended to thwart the plaintiffs in their desire to which I have just
referred.
<P>

13   	I accept also that there is nothing that indicates that
the cross-defendant seeks to thwart the position of either of the
other two
parties in the attainment of finality, or to put it more accurately, that level
of finality constituted by a verdict at
trial, by the prosecution of its
amended cross-defence.
<P>

14   	Of the things I am not persuaded, one is the submission on
behalf of the plaintiffs that the very nature of the cross-defence
is futile,
and the second is the submission of the cross-defendant that the indulgence
that would be granted to it by this court
in allowing the amendment, should be
without penalty and without terms.
<P>

15   	I reflect in no way at all on Mr Ball in his capacity as a
solicitor with the State Crown, but it must be remarked that it
is
extraordinary that such a lapse of time was permitted to take place between the
client itself referring to a section now known
to create a defence and active
steps being taken to plead it.  It is desirable that all relevant issues be
tried amongst all parties.
<P>

16   	Finally, it is desirable that the interests of justice be
served by ensuring the elimination of matters that might thwart
or prejudice
otherwise the determination of all those issues.  That objective can be
achieved by putting in place a strict timetable
for further steps to be taken
in the action.  Those steps have to be taken as a consequence of the
indulgence.
<P>

17   	I do propose to grant leave to the cross-defendant, but at
the cross-defendant's costs.  Before coming to those directions
I will refer -
because it has been the subject of submissions - to a matter that I think I,
myself, initiated; namely the operation
of s 89 of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sca1970183/" class="autolink_findacts">Supreme Court
Act</a></i>.  Submissions have not been heard in detail as to whether the court, on
its own motion, can direct that all issues of fact be tried
without a jury. In
many respects, this case is preeminently one for a jury and I do not propose,
at this stage, to make any order
that it be tried otherwise than by that
tribunal, save, of course, for those areas reserved for the trial judge in any
event.
<P>

18   	I take this opportunity to remark that consideration
should be given to the amendment of ss 88 and 89, not only in relation
to
pre-1995 defamation actions, but particularly in relation to post-1995
defamation actions.
<P>

19   	The next matter is the question of interrogatories in
relation to the substance of the proposed amended cross-claim.  This
has not
been pursued in great detail before me today, although it has otherwise been
referred to.  I propose to order in relation
to those outstanding
interrogatories, that the cross-claimant answer interrogatories 1 and 2, and
interrogatories 18, 19, 20 and
21.  
<P>

20   	I grant leave to the cross-defendant to file an amended
cross-defence to the cross-claim by pleading a defence under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/s10.html" class="autolink_findacts">Section 10</a> of the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act 1987</a>.  The cross-defendant is to file in court by noon on
Monday, 24 May 1999, a pleading in accordance with that appended to the
affidavit
of Graham Viner Ball sworn on 1 May 1995.  However, in addition to
the particulars of the defence there appended, the cross-defendant
is to
particularise by amending its defence to the cross-claim, additional
particulars of the precise facts, matters and circumstances
upon which it
relies in support of the substantive defence under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/s10.html" class="autolink_findacts">s 10.</a>  The particulars
hitherto provided as set out in the amended defence appended to Mr Ball's
affidavit, are hypothetical. The cross-claimant
is entitled by reason
especially of the late amendment, to the precise particulars to which I have
referred.
<P>

21   	I grant leave to the cross-defendant by 5pm, 26 May 1999,
to file and serve a Verified List of Documents on both the
defendant/cross-claimant
and the plaintiffs.  
<P>

22   	I grant leave to the defendant to file by 5pm on
Wednesday, 26 May, any Second Amended Defence to the plaintiffs' Statement
of
Claim consequent upon the leave granted to the cross-defendant.  
<P>

23   	The plaintiffs have leave to file any amended Reply to any
amended defence by 5pm on Friday, 28 May.
<P>

24   	I grant leave to all parties further to interrogate in
relation to any issue arising under <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/s10.html" class="autolink_findacts">s 10</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act</a> </i>by 5pm
on Friday, 28 May.  Such interrogatories are not to exceed 30 in number.  Sworn
answers thereto to be filed and served by 5pm
on Friday, 4 June.
<P>

25   	I grant leave to all parties to issue subpoenas to be
returnable on Wednesday, 2 June.  I grant liberty to all parties to
apply on 24
hours' notice.  The cross-defendant is to pay the costs both of the
cross-claimant and of the plaintiffs in respect of
the cross-defendant's
application to amend, and the costs of the cross-claimant consequential upon
leave being granted.
<P>

26   	The exhibits are to be returned.  Costs in this
application should be costs in the cause. 
<P>

27   	I will note that the discovery argument occupied one hour
of the court's time today.
<P>

<center>***********</center>
<P>


<P>

LAST UPDATED: 	27/05/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/489.html</i><br>
</p>
</small>
</body>
</html>
