<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Jaffer v Fai Insurance [1999] NSWSC 538 (4 June 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 538</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+538 or 1999+NSWSC+538">Noteup</a>]
[<a href="538.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Jaffer v Fai Insurance [1999] NSWSC 538 (4 June 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_538.html-->
<!--sino date 4 June 1999-->


<P>Last Updated: 8 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Jaffer v FAI Insurance  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/538.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 538</a>
<P>

CURRENT JURISDICTION: 	
<P>

FILE NUMBER(S): 	N300012/1997
<P>

HEARING DATE{S): 	22/10/98, 23/10/98, 27/10/98, 28/10/98
<P>

JUDGMENT DATE: 	04/06/1999
<P>

 PARTIES: 
<P>

Belinda Jaffer 
<P>

FAI Insurance Company Limited
<P>

JUDGMENT OF: 	Dowd J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Plaintiff: Mr Gross Q.C.
<P>

Defendant: Mr Dodd
<P>

SOLICITORS: 
<P>

Plaintiff: Armstrongs Solicitors
<P>

Defendant: Hunt &amp; Hunt
<P>

CATCHWORDS: 
<P>

Assessment of damages consequent on motor vehicle accident
<P>

Causation credibility
<P>

Pre-existing injury and psychiatric condition
<P>

Mitigation
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/maa1988166/" class="autolink_findacts">Motor Accidents Act 1988</a>
<P>

DECISION: 
<P>

Verdict for plaintiff
<P>

Costs reserved
<P>

JUDGMENT: 
<P>

- 31 -
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DOWD J</b>
<P>

<b>4 June 1999</b>
<P>

<b>N300012/97 </b>
<P>

<center><b>JAFFER v FAI INSURANCE </b>
<P>

<b>REASONS FOR JUDGMENT</b></center>
<P>


<P>

1	The plaintiff, Belinda Jaffer, sued the defendant, a third party insurer
under the<u> <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/maa1988166/" class="autolink_findacts">Motor Accidents Act</u> 1988</a> for negligence claiming injuries,
loss and damage resulting from a motor vehicle accident that occurred at about
8.30 am on 20 May
1994 when the plaintiff was stationary on the Bradfield
Highway at North Sydney. Liability has been admitted by the defendant, but
damages remain at issue.
<P>

2	The plaintiff's case was that the driver of the insured vehicle was driving a
motor vehicle in a southerly direction in the same
lane as the plaintiff on the
Bradfield Highway approaching the Sydney Harbour Bridge when at a point
approximately 200 metres north
of the entrance to the North Harbour tunnel
entrance the insured's vehicle collided with the rear of the plaintiff's then
stationary
motor vehicle. After the collision occurred, the plaintiff, who was
able to drive her car away, felt slightly sore in the neck and
later suffered
from a headache. She was not taken to the hospital but eventually sought
medical treatment some four days later when
the pain in her neck became more
severe and she experienced pain in her back and arms.
<P>

3	The plaintiff's action for damages is in relation to the injuries to her neck
as well as her back shoulder and left arm, she alleging
a continuous discomfort
up until the hearing. The plaintiff also sought damages for the psychological
trauma she suffered as a result
of the  accident. 
<P>

	<b>The Plaintiff's Background</b>
<P>

4	The plaintiff who at the time of the accident lived in Fennell Bay, in the
Lake Macquarie area, was born on 7 March 1962 in South
Australia, where she was
educated until she left school in Year 10 to commence an apprenticeship as a
chef at a hotel. She did not
complete that apprenticeship and then worked in a
retail store whilst waitering and bar tending. Between 1980 and 1985 the
plaintiff
was a promotions hostess with a tobacco company involving
representation work at track meetings and similar venues. She then worked
overseas for twelve months on charter yachts as a cook and deckhand.
<P>

5	The plaintiff then operated a mixed business at a corner store for a year of
so employing assistants, then working in a clothing
store as a manager in
Adelaide and moved to Victoria in 1989, working in a ski resort at Mount Buller
as a bistro manager in charge
of some 20 people. The plaintiff then worked at a
country club to use her description as a `girl Friday' receptionist organising
bookings, assisting in managing and organising conferences and working in a
shop. She was then employed in 1990 as a sales representative
in Victoria for a
watch company selling calculators, watches and the like whilst doing bar work
at the same time.
<P>

6	From 1992 the plaintiff moved to Moree and in February 1994 the plaintiff
worked at Tiffany jewellers where she carried out various
sales representative
work. In 1993, for three months, the plaintiff worked as a sales representative
for Tiffany jewellers for the
whole State. Towards the end of 1993 the
plaintiff came to live in the Newcastle area working at Brown Brothers Milawa
in Cathedral
Street receiving some $500.00 in her hand with a 1993 Ford Falcon
sedan provided by her employers for her full time use in work and
otherwise,
which the plaintiff was driving at the time of her collision.
<P>

7	The plaintiff's work involved selling wine to licensed outlets through
Newcastle and Northern NSW, putting on promotions and wine
tasting, supervising
and training staff. The position involved her visiting Sydney from time to time
and driving considerable distances.

<P>

8	The plaintiff had been involved in a previous collision at about the age of
18 years, for which she received some $5,000.00 in
compensation for injury to
her neck. The plaintiff said that she had had slight trouble with her neck for
some time comprising of
headaches and occasional stiffness as a result of which
she had physiotherapy about once a month over a period of a year. The plaintiff
gave evidence of a number of periods of depression involving suicide attempts
over the period prior to that motor vehicle collision,
involving a suicide
attempt resulting in treatment at the Flinders Medical Centre. The plaintiff
acknowledged that she had a number
of difficulties with personal relationships
and a further suicide attempt occurred in 1988. The plaintiff further attempted
suicide
in about 1980-1981 and after taking tablets was admitted to a
psychiatric hospital in 1991 in Victoria for some six weeks followed
by some
six months of counselling. During this period of recovery the plaintiff did not
work. The counselling continued after the
plaintiff resumed work.      
<P>

9	The plaintiff in July 1990 suffered a fracture to he left leg, being the top
of the fibular and an injury to her hip, not involving
a fracture but soreness.
She went back to work with a cast on her leg. The plaintiff recovered from her
employer a settlement of
some $14,000.00 and costs. Notwithstanding her broken
leg the plaintiff was only a few days without being able to work. When a driver
was arranged she resumed work and her left leg now leaves her with no
disabilities.
<P>

10	The plaintiff continued to suffer from depression which she treated with
medication but did not, at the time of the hearing,
take any medication.
<P>

11	At the time of the 1994 collision the plaintiff was not undertaking any
physiotherapy for her original neck injury although the
plaintiff continued to
suffer from a migraine condition which she had had previous to the injury
sustained resulting in these proceedings.
The plaintiff's evidence was that she
was happy in her employment and was good at it. 
<P>

	<b>The Collision and Subsequent History</b>
<P>

12	Shortly after the collision on the approach to the Harbour Bridge the
plaintiff said that she was a little shaken up and had
a headache but continued
to do her duties and return to her home in the Newcastle area. She continued
the next day with a stiff neck,
sore back, aching arms and a nose bleed. The
pain in her neck extended down her left arm. She did not seek treatment at that
stage
because she believed it was a "flare-up" from her previous injury and
that it would settle down. Although continuing to work, she
felt sore. 
<P>

13	The plaintiff on 23 May 1994 went to a doctor at Port Macquarie concerning
the consequences of her injury and was sent for x-rays.
She was then suffering
from what she described as `raging headaches' but continued to work and
eventually went, on 31 May, to see
her G.P Dr Shah. She continues to have
headache, neck, left shoulder and back pain.
<P>

14	After visiting various doctors the plaintiff was admitted to Lingard Private
Hospital for an operation on her shoulder. 
<P>

15	The plaintiff last worked for her employer on 3 November 1994 and that
employer ultimately terminated her services in September
1995 at which stage
she was still receiving treatment. The plaintiff was admitted to Newcastle
Mater Misericordia Hospital in May
1995 for an overdose of tablets and alcohol
resulting from the considerable pain from which she was suffering. The
plaintiff said
that she was worried about her financial commitments and what
her future was.
<P>

16	The plaintiff has not worked since September 1995 her reason being that she
did not have the ability to return to work, the plaintiff
stating that she had
ongoing headaches, stiffness, spasms in her neck, pins and needles and aching
down both arms. She said that
she had lower back aching pains, sharp pains down
mainly down her left leg and some numbness in her hands and in the left part of
her leg.
<P>

17	The plaintiff said that although Dr Pacey a rehabilitationist physician
recommended injections as a block for pain. She declined
to have that
treatment, saying that she had spoken to other patients who were unhappy with
the treatment and did not want to take
any further risks. 
<P>

18	The plaintiff made a further suicide attempt on 30 October 1995, she then
going to James Fletcher Hospital to see the doctors
there and was followed up
by the Lake Macquarie Health Team.
<P>

19	On 3 November 1995 the plaintiff was admitted to Toronto Private Hospital
under Dr Pacey for a rehabilitation brain program involving
hydrotherapy, tapes
and music, walking and talking, being a drug free pain management program. The
plaintiff did not wish to continue
with the pain management program and felt
she was under pressure and suicidal again. The plaintiff did not know at that
stage she
was pregnant to her then finance who left after the birth of the
child.
<P>

20	The plaintiff ultimately took in a boarder, a Mr Rick Crabb, whom she
eventually married in April 1997, although the marriage
only lasted about 6
weeks, Mr Crabb leaving and returning to Sydney. She and her husband at the
time of the hearing were endeavouring
to reconcile and were both receiving
counselling, although were not living on a permanent basis. She has been
receiving workers compensation
payments since that time of approximately
$526.00 a fortnight net. Her medical and hospital bills have been paid by the
insurer.
The plaintiff's evidence was that she had received money from a
superannuation policy of between $1,500.00 and $2,400.00. 
<P>

21	The plaintiff's explanation for her not working is that she believes
extensive driving and lifting would cause her problems,
that she should not
lift anything over 10 kg because it would causes her pain. She said that he
neck goes into spasm without notice
and that she gets headaches but cannot tell
if they are true migraines or neck related and how long it will last. She
expressed fears
that she would not be able to return to work and hold down a
job because of these incapacities. Her evidence was that she was having
difficulty with relationships around her and her son. She was taking no
medication other than pain killers for her neck spasms, although
she was taking
Diazipam without being conscious that its effect was more than just pain.
<P>

22	The plaintiff's evidence was that she was able to work around the house and
on days that she was feeling great she was able to
do pretty much everything.
The plaintiff had said that she had some difficulty looking after her then two
year old as he was getting
heavier and harder for her to lift and that it hurts
more now at the time of the hearing and she did not feel she could cope with
the raising of a child as her coping skills were reduced. The plaintiff
complained of having no quality of life and that sometimes
she would lie on the
floor and try to get her child to lie with her. She said that she had lashed
out at her son when reacting to
his screaming.
<P>

23	The plaintiff said that she did assist her husband from time to time in his
lawnmowing activities. The plaintiff's evidence was
that when doing housework
she had some problems, that she had a home computer and that she found she
would get stiff in her back
and arms and numbness in her fingers, and numb in
her legs and lower pain and buttocks but that she has no difficulty in fact in
working the computer as such. 
<P>

24	The plaintiff said that she would like to work but that she did not believe
that she could work more than part time initially
but that she would like to
work provided it did not involve driving long distances and that she would like
to work in a sales or
merchandising capacity. She had said that she had looked
for some work and had applied for positions from anywhere between six to
twenty
five hours per week.  
<P>

25	The plaintiff said that she would have continued to work in the same type of
work as what she was doing for Brown Brothers and
that she had missed that work
because she enjoyed it very much. The plaintiff's intention is to sell the
house where she now lives
and move to Victoria or South Australia where she has
friends and a better support network. 
<P>

	<b>Medical Evidence as to the plaintiff's injuries</b>
<P>

26	I have had a number of conflicting medical reports exhibited before me
detailing the nature and extent of the plaintiff's injuries
on behalf of the
plaintiff and the defendant which I now propose to examine.  
<P>

27	On 23 May 1994 the plaintiff consulted Dr T King in Port Macquarie, in
relation to the pain she was experiencing. Dr King noted
some tenderness over
the plaintiffs left deltoid muscle and that notwithstanding the plaintiff
having a full range of movement over
the cervical spine there was a slight
tenderness over the lower part. 
<P>

28	On 26 May 1995 x-rays were taken of her left shoulder and spine which
revealed some loss of normal cervical lordosis in the neutral
position of the
cervical spine and a mild scoliosis convex to the right. The x-rays also
revealed some restriction of flexion and
extension of the spine but no evidence
of a fracture or dislocation. 
<P>

29	On 31 May 1994 the plaintiff consulted her G.P., Dr Shah at Fennell Bay,
complaining of severe headaches, dizziness and pains
in the shoulders with pins
and needles and restricted movement. Examination of the plaintiff revealed a
tenderness in the left trapezius
and shoulder area with painful neck movements
as well as some weakness on the left side. Dr Shah diagnosed severe soft tissue
and
whiplash injuries to her head, neck and left shoulder, restricted left
shoulder movements, stress and anxiety. Dr Shah recommended
the plaintiff
undergo physiotherapy with local applications and heat treatment as well as a
medrol injection in her left trapezius.

<P>

30	On 9 August 1994 the plaintiff was examined by Dr Morrissey a G.P. at
Warners Bay, who referred the plaintiff to Dr Roland Hicks,
orthopaedic
surgeon.
<P>

31	On 13 September 1994 the plaintiff was examined by Dr Hicks. By this time
the plaintiff had received physiotherapy as well as
acupuncture from Dr Godfrey
Fong, treatment from Dr Andrew Delbridge at the Hillsborough Physiotherapy and
Sports Injury Centre,
treatment from the Commonwealth Rehabilitation Service as
well as treatment from Dr Wollard, a rehabilitation specialist.
<P>

32	Dr Hicks' examination of the plaintiff conducted without x-rays, revealed a
full range of active movement in her neck with end
of range discomfort,
tenderness and spasm over the right trapezius muscle and tenderness in the left
and right supra clavicular regions.
There was minor restriction of elevation of
both shoulders because of neck and shoulder pain but no tenderness over the
shoulders
themselves. 
<P>

33	Dr Hicks opined that the plaintiff's neck and back symptoms and disability
were consistent with injury sustained in the motor
vehicle collision in 1994
and that she should continue with rest, exercise at home and with adequate oral
analgesia. Dr Hicks recommended
that further physiotherapy and similar
management be reserved for any periods of exacerbation of symptoms. 
<P>

34	On 18 November 1994 the plaintiff had an ultrasound taken of her left
shoulder and CT scans of her neck and back which revealed
a partial thickness
tear of the supraspinatus tendon and impingement on abduction. The CT scan of
the cervical spine showed no abnormalities
but the CT scan of the lumbo-sacral
spine showed a small partially calcified disc herniation at the L5-S1 segment.

<P>

35	On 11 January 1995 the plaintiff was further examined by Professor Ghabrial,
Director of the Department of Orthopaedic Surgery
at Royal Newcastle Hospital.
Dr Ghabrial's examination of the plaintiff revealed a decreased range of motion
in her neck in all directions
with left paraspinal muscle spasm and tenderness.
Dr Ghabrial further found that the plaintiff has some loss of the normal lumbar
lordosis with minor paraspinal lumbar spasm and a moderately restricted spinal
range of motion and a slight limitation of straight
leg raising with positive
tension signs bilaterally. A neurological assessment of the lower limbs showed
no abnormalities and femoral
stretch and sacro-iliac tests were normal. Dr
Ghabrial advised the plaintiff that she should preserve conservative management
and
instead be referred for rehabilitation assessment and management. The
plaintiff was then referred to Dr Kemp an upper limb surgeon,
who performed an
arthroscopy and acromioplasty on the plaintiff's left shoulder in 1995.
<P>

36	Dr Kemp in his report of 23 March 1995 reported the plaintiff's shoulder to
be in pretty good condition and that her range was
very close to full and that
she was moving fairly easily
<P>

37	On 26 April 1995, the next occasion Dr Ghabrial reviewed the plaintiff, he
discussed with her the merits and dangers of surgical
intervention after being
advised that her symptoms persisted. In relation to the effect of those
symptoms on the plaintiff's life,
Dr Ghabrial expressed his opinion, in his
report of 19 May 1995, as follows;
<P>

	"I believe that she is likely to continue with residual disabilities regarding
her neck and back injuries as well as the left shoulder
injury. It is unlikely
that she will come to any surgery for her neck. However I could not exclude the
option for the left shoulder
and the lumbo-sacral region."
<P>

	
<P>

38	Dr Ghabrial opined that the plaintiff was not fit, at that stage, for any
work involving any lifting over 5kg, excessive bending
and excessive use of her
right upper limb. Dr Ghabrial assessed the plaintiff's permanent impairment of
her back to be at 25%, her
neck at 20% and permanent loss of efficient use of
the left lower limb at 15%. Dr Ghabrial suggested that the plaintiff continue
with her treatment and rehabilitation program and return for  review.
<P>

39	 When Dr Ghabrial next examined the plaintiff on 16 August 1995 he opined
that she be referred to a neurologist for her headaches
and to a rehabilitation
physician concerning management of her lower back pain. As for surgery Dr
Ghabrial stated in his report of
16 August 1995 as follows;
<P>

	"Surgery is reserved for severe pain and sciatica and I do not think she is in
that category to rush towards this surgery for her
lower back."
<P>

40	Dr Ghabrial then referred the plaintiff to Dr Dianne Pacey, consultant
rehabilitation physician.
<P>

41	In her examination of the plaintiff on 14 September 1995, Dr Pacey found the
plaintiff to have a depressed effect demonstrating
considerable pain behaviour.
Dr Pacey found that the plaintiff had a protracted posture, loss of lumbar
lordosis, stiffness of spinal
movement and limited extension. Normal range of
movement of the cervical spine was assessed at 50%. Dr Pacey diagnosed the
plaintiff
to have suffered extensive soft tissue injury to the spine with CT
scan evidence of disc herniation at L5-S1 and probable zygapophyseal
joint
disruption of the cervical spine. Dr Pacey also diagnosed a left supraspinatus
tear. 
<P>

42	Dr Pacey recommended the plaintiff undergo a supervised rehabilitation
program involving a graduated exercise program, and the
involvement of a social
worker to look at pain management, supportive counselling and psychosocial
issues. Dr Pacey also recommended
referral for z joint diagnostic blocks to
relieve the headaches. 
<P>

43	On 24 November 1995 the plaintiff was examined by Dr John Christie,
neurosurgeon at the request of Dr Shah. Dr Christie who found
the plaintiff to
have poor range of voluntary neck movement and a poor range of voluntary left
shoulder elevation opined that there
was little he could do for the plaintiff
by way of treatment and held the view that surgery was unlikely to improve the
situation.

<P>

44	On that same day, being 24 November 1995 the plaintiff was also examined by
Dr Peter Burgess, who found the plaintiff to be quite
disabled with
neurological symptoms in both hands representing a 10% permanent loss of
efficient use of both her arms and a 25% permanent
impairment of her neck. 
<P>

45	In relation to her left shoulder Dr Burgess, diagnosed that the plaintiff
had developed a left shoulder post-traumatic capsulitis
with partial tear of
the supraspinatus tendon causing impingement on shoulder abduction and some
degree of trauma to the acromioclavicular
joint. Dr Burgess recommended the
plaintiff try depo-cortisone and local anaesthetic injections. As to the
plaintiff's injury to
her back, Dr Burgess diagnosed the plaintiff as suffering
from classical signs of disc prolapse with left sciatica representing a
20%
permanent impairment. 
<P>

46	Dr Burgess also found the plaintiff to be showing signs of reactive anxiety
and stress and felt it essential for the plaintiff
to consult a psychologist or
psychiatrist.
<P>

47	On 20 December 1995 the plaintiff was examined by Dr Gordon Kerridge, at the
request of the defendants solicitors. Dr Kerridge
was of the view that the
plaintiff has most definitely suffered a severe sprain injury of the neck and a
partial tear of the supraspinatus
section of the rotator cuff, and possibly an
injury to her back. Dr Kerridge assessed the plaintiff's injury to her neck at
about
15% impairment, a 10-15% impairment of her back and a  20% loss of
efficient use of her left arm. 
<P>

48	On 26 March 1996 the plaintiff attended the Department of Rehabilitation
Medicine at Prince Henry Hospital where she was examined
by the Director,
Professor Richard Jones.   
<P>

49	On 12 March 1997 the plaintiff was again examined by Dr Ghabrial at the
request of her solicitors. Continuing to complain of
neck, back and shoulder
pain, Dr Ghabrial found the plaintiff had suffered soft tissue injury to the
neck, a partial tear of the
rotator cuff of the left shoulder and an injury to
the L5/S1 disc with disc prolapse and impingement on the left <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/maa1988166/s1.html" class="autolink_findacts">S1</a> nerve. 
<P>

50	In his report of 12 March 1997 Dr Ghabrial opined that the permanent
impairment of her back was 25%, her neck 20%, the permanent
efficient use of
her left lower limb at or above the knee was 15%, and the permanent loss of the
efficient use of the left upper
limb at or above the elbow at 20%. Dr Ghabrial
opined that although the plaintiff's condition had stabilised and future
complications
are highly unlikely the plaintiff was likely to continue with her
present residual disabilities. 
<P>

51	On 14 November 1997 Dr Ghabrial assessed permanent impairment of the back at
25%, the neck 20%, permanent loss of the efficient
use of the left upper limb
at or above the elbow at 20% and permanent loss of efficient use of the left
lower limb at or above the
knee at 15%. Dr Ghabrial was of the view that whilst
the plaintiff's condition was reasonably stable he could not exclude the
possibility
of further surgical intervention for her lower back. Dr Ghabrial
maintained the same views in his final report of 7 April 1998.
<P>

52	The plaintiff also underwent a number of psychiatric assessments, one of
whom Dr Peter Corrigan, consultant psychiatrist, assessed
the plaintiff  on
several occasions, the first being in March 1995 in conjunction with the Lake
Macquarie Mental Health Team, after
she had taken an overdose of medication in
an attempt to end her life. Dr Corrigan then assessed the plaintiff on 26 July
1995, 10
August 1995, and 28 September 1995.
<P>

53	On the last occasion Dr Corrigan assessed the plaintiff, that is on 28
September, he was of the view that the plaintiff's mental
state had not
significantly improved but had been aggravated by termination of her employment
and significant financial stressors
and by chronic pain and disability. Dr
Corrigan diagnosed the plaintiff as having an adjustment disorder with
depressed mood and
warranted supportive psychotherapy as well as psychological
strategies at coping with pain.  
<P>

54	In her first assessment on 31 October 1995, Dr Howard Smyth, the duty
registrar noted the plaintiff's physical mental and social
decline since the
accident as well as a history of personal difficulties with repeated suicide
attempts predating the vehicle accident.
Dr Smyth diagnosed an adjustment
disorder with mixed emotional features on a background of borderline
personality disorder. Dr Smyth
could not however find a reason to admit the
plaintiff on this occasion under the Mental Health Act since she was not
displaying
overt suicidal tendencies and instead put her in contact with the
Lake Macquarie Mental Health Team. 
<P>

55	On 8 November 1995 the plaintiff was sent to James Fletcher Hospital by Dr
Pacey on a Schedule 11 being a mentally disordered
patient as she was
expressing suicidal ideation. Despite describing feelings of hopelessness and
powerlessness in the face of stress
Dr Slowiaczek, the duty doctor at James
Fletcher felt the plaintiff displayed considerable ambivalence about
suicidality and he did
not consider the plaintiff displayed worrying evidence
of a major depression. Dr Slowiaczek recommended the plaintiff continue to
receive help from the Lakes Mental Health Team. 
<P>

56	The plaintiff underwent a further psychiatric assessment on 24 January 1996
at the request of her solicitor. This assessment
was performed by Leonard
Lambeth at Warners Bay. In his report of 30 January 1996 Lambeth diagnosed the
plaintiff as being depressed
and opined that she required further treatment
with antidepressant medication and psychotherapy on a weekly basis. According
to Lambeth
the plaintiff's existing depressive personality "laid the foundation
for her to become depressed in the face of almost any adversity."

<P>

57	When he next assessed the plaintiff the following year on 17 February 1997
Lambeth's prognosis that the plaintiff was depressed
had not changed and
recommended further psychotherapy. At the time of this assessment the plaintiff
had ceased seeing her psychiatrist,
Dr Corrigan and was not taking
anti-depressant medication.
<P>

58	Ignoring Lambeth's advice, the plaintiff did not have regular psychiatric
treatment nor did she attend Shortland Clinic. 
<P>

59	On 12 August 1997 the plaintiff was again assessed by Lambeth. Lambeth's
opinion of the plaintiff remained unchanged and totally
rejected the idea as
propounded by Collin Bass that the plaintiff was suffering from Factitious
Disorder and/or Malingering. 
<P>

60	In his last report of 24 May 1998 Lambeth after having assessed the
plaintiff on 21 May 1998, and noting that the plaintiff had
again ignored his
instructions to seek regular psychiatric help, opined that whilst the plaintiff
has improved somewhat, she remained
depressed. Lambeth continued to ho1d the
view that the depression was exacerbated by her depressive personality. Lambeth
recommended
the plaintiff trial proper SSRI antidepressants (Prozac and the
like) as well as cognitive behavioural treatment to help her not
to think
negative and maximise her abilities.       
<P>

61	The evidence of Dr Lambeth is that the plaintiff had a history of depression
dating back to 1987 and as such the plaintiff was
vulnerable to psychological
disorder and depression. Dr Lambeth was of the opinion that there is an
inter-reaction between chronic
pain and an inability to cope and that the
plaintiff had an inability to respond to everyday routine. Dr Lambeth further
opined that
when the activities on video were described to him, of the
plaintiff looking happy, friendly and communicative and interacting with
other
people, he said that it was not inconsistent with the depression described in
his report. Dr Lambeth conceded that in expressing
his views that he was
dependant on the veracity of what he was told by the plaintiff.
<P>

62	The defendant then called a Dr Kerridge who was asked in addition to the
opinion he had expressed, about the symptoms which the
plaintiff had described
to him and about his opinion of the plaintiff, having watched the videos
exhibited before the court. Dr Kerridge
was told of the sort of work that the
plaintiff had been doing and opined that he could see no evidence to show that
the plaintiff
was unfit, although he would not be able to make a positive
physical diagnosis. Dr Kerridge further expressed the view that the plaintiff
seemed to be able to do everything she had wanted. His view that there was no
similarity in the presentation that the plaintiff have
to him and what he saw
on the video.
<P>

63	Dr Kerridge's evidence was that the plaintiff had told him that she had a
level of pain at constantly seven or eight on a scale
of nought to ten but
sometimes worse. Dr Kerridge, who I accept as a dispassionate witness whose
evidence was not intended and clearly
did not intend to favour either party,
was of the view that if the plaintiff were suffering pain at a level of about
eight to ten
then she would not have been able to carry out the physical
activities observed on the videos. 
<P>

64	Dr John Shand gave evidence as to his examination of the plaintiff on behalf
of the solicitors for the defendant. His evidence
was that the plaintiff had
given him a series of complaints and that he carried out a physical
examination. Dr Shand's opinion as
set out in his reports based on the history
he was given and an examination of the other reports was that the plaintiff did
suffer
from major depression and that the accident and injuries had been a
major contributing factor of her depression although in his report
of 14 March
1996 he said that he did not know the precise date of the onset of depression.

<P>

65	Dr Shand expressed the view that she was under the care of the psychiatrist
Dr Kerrigan and that she should be continued on antidepressant
medication. His
later opinion on 5 August 1997 was that the accumulated information which Dr
Shand then had supported a diagnosis
of a long standing personality disorder
with multiple overdoses and a psychiatric history that goes back at least to
1997 and probably
well before that into her childhood which contained a
dysfunctional family with whom she only had very rare contact.
<P>

66	In his further report of 15 May 1998, Dr Shand's examination showed the
plaintiff's range of movements to be full and painless
although tender to
palpitation on the right side of the lumbo-sacral spine. His view was that with
the possible exception of the
left shoulder and to a lesser extent the neck and
lower spine the results of his examination did not support significant
disorder.
His view then was that the diagnosis of a secondary psychiatric
disorder was doubtful.  
<P>

67	The evidence of Dr Owen White in his report of 14 January 1998 was that the
plaintiff did not suffer a physical or psychiatric
disorder as a consequence of
the motor vehicle accident on 20 May 1994 which is significant enough for her
to prevent her from living
a normal life. 
<P>

68	Dr Colin Bass is of the view that the plaintiff suffers a Factitious
Disorder and Malingering behaviours pre-dating her car accident
in May 1994 and
that the plaintiff is suited to positions such as those previously held by her
and capable of carrying them out.
<P>

69	I have not attempted to summarise all of the vast amount of medical evidence
tendered in the proceedings and have selected some
of that evidence to
demonstrate the nature of the difficulty the court has in assessing that
evidence and the basis for any findings.
<P>

	<b>The Plaintiff under Cross-Examination</b>
<P>

70	The plaintiff, in the course of cross-examination demonstrated, in the
manner of giving evidence and in her evidence that she
gave, including a series
of admissions which contradicted much of her evidence in chief, that she had
exaggerated and in some cases
fabricated some of her evidence. Examples of this
are in relation to her claim that her vehicle was hit at some 80 or 90 kms per
hour. When it was demonstrated to her that this was patently absurd, her
evidence was that all vehicles travel at that speed at that
location.  She had,
in fact,  not seen the vehicle before the collision.
<P>

71	When asked about some of the history that the plaintiff had given some of
the examining doctors her answers were evasive such
as at transcript, p.42 when
she answered  <i>"It may have been possible", "That may have been possible at
that time"</i>, <i>"I honestly couldn't say" </i>and <i>"I can't
remember."</i>
<P>

72	In relation to the examination by Professor Jones at the Department of
Rehabilitation of Prince Henry Hospital it was clear that
some of the history
which the plaintiff gave Professor Jones was an embellishment and exaggeration
of the restrictions and pain which
the plaintiff. When challenged in
cross-examination about her physical capacities the plaintiff again became
evasive in her manner
and the phrasing of her answers. On almost each occasion
when the plaintiff had to admit incapacity, she would mitigate her answer
by
indicating that she would "pay for it" later, in terms of pain to reduce the
implication that she was not suffering as much as
she alleged. In
cross-examination about fishing activities which the plaintiff said she carried
out, the plaintiff said that she
had observed someone with a camera pointing
the camera in her direction. 
<P>

73	The plaintiff was cross-examined about a series of videos which were taken
of her over a period of November 1995 to early 1997.
The videos were exhibited
before me and played in court.
<P>

<i>74	</i>The first of these videos showed the plaintiff gardening, crouching,
bending and freely walking. The video also showed her stretching
upward to her
clothes line, lifting a sizeable aluminium ladder which she carried without any
apparent difficulty, climbing to the
top of the ladder and extending her arms
upwards to work on blinds. 
<P>

<i>75	</i>Another video showed her at a garage sale bending, lifting and
stretching without apparent restriction, moderately heavy objects and
generally
conducting herself in a relaxed and apparently happy disposition. A further
exhibited video showed the plaintiff fairly
progressed during her pregnancy,
carrying a birdcage moving freely, and moving in a relaxed and easy manner. The
video showed her
lifting bending and crouching with no apparent restriction and
fairly free arm movements extended above her head touching her hair.

<P>

<i>76	</i>A further video showed the plaintiff moving freely, reaching and
carrying objects, putting objects into a car boot with ease, and
stretching and
moving forward at fairly awkward angles. A further exhibit showed the plaintiff
shopping, demonstrating the ease of
her turning her head when working in the
garden. It showed her moving fairly quickly bending and carrying out various
garden activities.
A video also demonstrated the plaintiff fishing, lifting a
stroller, bending and stretching with apparent perfect ease. This latter
video
was the occasion when the plaintiff became aware that she was being filmed.
<P>

<i>77	</i>When further cross-examined about what was depicted on the videos it
is apparent that the plaintiff, when giving her evidence in chief,
had been
conscious that she would face some video evidence. She endeavoured to qualify
any negative evidence such as at p.71 of the
transcript, <i>"Q. You certainly
weren't depressed on that day were you ?" </i>When asked about her activity on
film her answer was, <i>"Not that it showed."</i> She was also asked on p.71 of
the transcript<i> "Did you have headaches in January 1996 ?"</i> to which she
answered <i>"I have headaches all the time." </i>At a further stage when asked
about what she could do, her answer was at p. 73 <i>"I do everything now
whether it causes me pain or not."</i>
<P>

<i>78	</i>From the examination and cross-examination of the plaintiff and the
evidence of the private inquiry agent who took the film of the
plaintiff with
the birdcage and talking, I find that the plaintiff has exaggerated and
embellished considerably her injuries. Obviously
the plaintiff has only been
filmed on days when she is able to work in the garden, and it is not possible
to say that she is not
in some pain and that on occasions when she doesn't go
out are days when she suffers from more pain than when she does go outside.

<P>

<i>79	</i>The plaintiff unquestionably had periods of depression leading to the
suicide attempts. This condition preceded the accident anf continued
afterwards. It is not inconsistent with such people that they have ebullient
periods and the plaintiff clearly is, from looking at
her manner in the witness
box and on the video, an effervescent, outgoing ,energetic sort of person who I
accept would do things
even though she may be in pain, but clearly the answers
which she has given to most of the doctors were an attempt by her to give
a
considerably worse picture than she in fact endured. 
<P>

<i>80	</i>It is clear from the list of disabilities, exhibited before me, that
she showed to Professor Jones that she was conscious of presenting
her injuries
in the worst possible light. It is also clear that her evidence on the
limitations of her lifting capacity are also
not consistent with the video
evidence. 
<P>

<i>81	</i>The plaintiff largely presented visually as a relaxed, happy,
industrious person who demonstrated not the slightest restriction in
her
movement, even though, obviously, there may have been such restrictions which
were not noticeable. 
<P>

<i>82	</i>The plaintiff clearly did suffer a substantial injury to her
shoulder, her spine and neck. The operation which she had performed on
her
appears to have relieved some of the symptoms and restrictions in her shoulder.
I do not doubt that there was ongoing pain and
other symptoms. The difficulty
with the plaintiff's case is to assess the extent of those symptoms of pain,
headaches and the like.
<P>

<i>83	</i>A person who had pre-existing neck injuries and who always had
headaches has a difficult task of demonstrating injury resulting from
the
actions of the insured driver. 
<P>

84	The plaintiff has demonstrated a list of symptoms which are not easy to
corroborate since the history given to many of the doctors
who have not
necessarily any basis for questioning that history provided to them largely
depend that history in the forming of an
opinion. Some of the doctors have in
fact carried out physical examinations and determined inconsistencies between
what the plaintiff
has said and her demonstrated abilities both in the surgery
under examination and in the videos.
<P>

85	I find the plaintiff's credibility to be seriously impaired which required
the reading down of much of her evidence as to the
damages she suffered.
<P>

	<b>Damages </b>
<P>

86	The plaintiff has clearly suffered a severe injury to her neck, shoulder and
the lumbo-sacral region of her spine as a result
of the collision which
occurred on 20 May 1994. I consider that her ability to lead a normal life has
been significantly impaired
for a period of more than six months by the
injuries suffered in the accident. 
<P>

87	The plaintiff was unable to work for periods of time before ceasing
employment in November 1994 with her employer and had several
periods of
treatment for the physical injuries she sustained and would have been unable to
work for some period which is not easy
to define after the operation which
ensued. 
<P>

88	The plaintiff already clearly suffered from a depression condition with
episodes of suicide before the collision the subject
of these proceedings and
already had migraines and headaches and neck pains from the pre-existing
injury. 
<P>

89	She has endeavoured to sheet home the cause of her continuing problems as
submitted by Counsel for the defendant, to this collision.
The videos
demonstrate that only a short while after the symptoms were explained to
doctors examining her that she is quite capable
of physical activity contrary
to the history given to almost all of the doctors.  
<P>

90	The plaintiff has partly contributed to her own suffering by her failure to
mitigate damages and in ignoring the advice given
to her as to treatment,
particularly in that given by her psychiatrist Dr Corrigan. The plaintiff has
chosen not to mitigate damages
for her own reasons, whether understandable or
otherwise, but nevertheless has chosen to continue without assistance for her
depressed
state by way of medication, counselling and future treatment.
<P>

91	She has however suffered a severe injury and I find there has been
exacerbation of the pain symptoms from which she suffered
prior to the
accident. I consider that the amount of damages to be awarded for non-economic
loss as a proportion of the maximum amount
which may be awarded for a most
extreme case is, taking into account the pain and suffering and the fact that
there is ongoing depression
exacerbated by continuing pain symptoms is 25% and
the amount therefore I allow is the sum of $65,000.00
<P>

	
<P>

<b>	Past Economic Loss </b>
<P>

92	The plaintiff was earning $508.00 net per week at the time of the accident
and had the use of a company car although that use
was in fact restricted in
terms of her engagement but probably not in fact. I consider that the use of a
company car is probably
worth about $120.00 per week. I do accept the
contention based on average NSW female weekly earnings as submitted by the
Counsel
for the plaintiff that the plaintiff would have increased her average
weekly earnings based on the progress of female average weekly
earnings at a
rate of 1.17. 
<P>

93	I do not, however, consider that the plaintiff has been unfit for work for
the whole of that period. She clearly has been looking
for work, on her own
evidence, but in my view has not made a serious attempt to find employment. She
says that she is going to move
to South Australia or Victoria but when asked
about why she was seeking employment, in Newcastle she indicated that nothing
was set
in concrete. The plaintiff was able to work until November 1994 then
clearly had problems that were pain related and in part caused
an exacerbation
of a pre-existing physical and psychological condition. 
<P>

94	I consider that she was unable to work from November 1994 until a period of
two months after the arthroscopic acromioplasty which
took place on 9 March
1995, being a period of seven months at what I assess as an average for that
period to be the amount of $515.00
net per week plus $120.00 net per week for
the use of the car. I consider that the plaintiff,  in terms of the wide range
of skills
and the fitness which she has demonstrated that the plaintiff would
have been able to return to some part time work of the order
of  20 hours per
week for a period of six months thereafter. 
<P>

95	I consider that her adaptability as demonstrated by her earlier work history
would enable the plaintiff to in fact obtain suitable
employment on a part time
basis. Waitressing, bar tendering  and sales promotions clearly would provide
her with ample opportunity.
Such period would probably be without a car and she
would lose the benefit of $120.00 per week. 
<P>

96	Thereafter, I consider the plaintiff now capable of working full time
notwithstanding the exacerbation of her pre-existing physical
condition and
psychological condition. 
<P>

97	I find that the plaintiff has not demonstrated, notwithstanding the injury,
that this would result in loss of her employment.
The credibility of the
plaintiff was seriously shaken  both in cross-examination and by virtue of the
significant variation of her
history as given to various doctors and the
actuality demonstrated by the videos. It is submitted by Mr Dodd for the
defendant that
there would be a significantly higher level of vicissitudes
because of her pre-existing physical and psychological condition. 
<P>

98	I accept that this is correct and that the plaintiff will continue to have a
potential for changes of employment and unemployment
during the periods of her
depression. I consider, however, that the exacerbation of her pain symptoms
through the shoulder and spine
injuries are such that in conjunction with the
pre-existing psychiatric condition that she is likely to have an exacerbation
of periods
of unemployment and job loss.
<P>

99	I consider that it is almost impossible on the evidence that can be
presented in a case such as this to quantify this in loss
of hours per week. I
consider it therefore appropriate to allow a lump sum for future economic loss
to compensate the plaintiff for
the non-earnings periods as a result of the
exacerbation of her pain existing depression condition, and thus I allow a sum
by way
of cushion, of the amount of $40,000.00 to include the loss of use of a
motor vehicle and additional medication during those periods
of
unemployment.
<P>

100	It is submitted without challenge that the plaintiff's actual post injury
earnings were the sum of $9,44.00. I don't know in
the period since reservation
of judgment if there has been any change of this amount and therefore I grant
leave to the parties to
bring this amount up to date.
<P>

101	<u>Fox v Woods</u> has been calculated on the basis of a full wage loss and
therefore I allow the parties liberty to agree or make submissions as to
an
appropriate amount. 
<P>

102	I allow interest on past economic loss at the rate of 4.125% agreed between
the parties.
<P>

103	The parties have agreed that the payback under the <u>Workers Compensation
Act</u> was at the 13 October 1998, the sum of $120,060.08. This sum will need
to be brought up to date of judgment and I grant the parties
liberty to provide
evidence as to this amount.
<P>

104	I grant the parties liberty to apply in respect of any other matter not
covered by the findings above. 
<P>

105	The orders that I therefore make are as follows;
<P>

1. Verdict for the plaintiff.
<P>

2. I allow the sum of $65,000.00 for non-economic loss.
<P>

3. I allow the sum of $40,000.00 for future economic loss.
<P>

4. I grant the parties liberty to apply in respect of the calculation of
damages in respect of the findings above.
<P>

5. The defendant is entitled to deduct payments made under the Workers
Compensation Act and the amount of the s.66 and 67 payment
under that Act.
<P>

6. Any claim as to interest is reserved.
<P>

7. Costs are reserved.
<P>

oOo
<P>

LAST UPDATED: 	04/06/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/538.html</i><br>
</p>
</small>
</body>
</html>
