<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Randwick Labor Club Limited and 7 Ors v Amalgamated Television Services Pty Limited [1999] NSWSC 880 (3 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 880</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+880 or 1999+NSWSC+880">Noteup</a>]
[<a href="880.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Randwick Labor Club Limited and 7 Ors v Amalgamated Television Services Pty Limited [1999] NSWSC 880 (3 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_880.html-->
<!--sino date 3 September 1999-->


<P>Last Updated: 6 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Randwick Labor Club Limited &amp; 7 Ors v Amalgamated Television
Services Pty Limited  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/880.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 880</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	20024 of 1998
<P>

HEARING DATE{S): 	13 August 1999
<P>

JUDGMENT DATE: 	03/09/1999
<P>

 PARTIES: 
<P>

RANDWICK LABOR CLUB LIMITED
<P>

ACN 000 353 417
<P>

(First Plaintiff)
<P>

KEN MURRAY
<P>

(Second Plaintiff)
<P>

KEVIN SCOTT
<P>

(Third Plaintiff)
<P>

JOHN FRANCES FORD
<P>

(Fourth Plaintiff)
<P>

LENA BRIDGE
<P>

(Fifth Plaintiff)
<P>

PETER ROBERT BELL
<P>

(Sixth Plaintiff)
<P>

JOSEPH RIORDON
<P>

(Seventh Plaintiff)
<P>

LESLIE FREDERICK BRIDGE
<P>

(Eighth Plaintiff)
<P>

v
<P>

AMALGAMATED TELEVISION SERVICES PTY LIMITED
<P>

ACN 008 624 539
<P>

(Defendant)
<P>

JUDGMENT OF: 	Levine J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

M Neil Q.C.
<P>

R A Campbell
<P>

(Plaintiffs)
<P>

T Blackburn
<P>

(Defendant)
<P>

SOLICITORS: 
<P>

Bowen &amp; Gerathy
<P>

(Plaintiffs)
<P>

Mallesons Stephen Jaques
<P>

(Defendant)
<P>

CATCHWORDS: 
<P>

Imputations - capacity &amp; form
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

See paragraph 41
<P>

JUDGMENT: 
<P>

	                                              DLJ: 2
<P>

<b>THE SUPREME COURT	</b>
<P>

<b>OF NEW SOUTH WALES	</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>DEFAMATION LIST</b>
<P>

<b>No.  20024 of 1998</b>
<P>

<b>JUSTICE DAVID LEVINE</b>
<P>

<b>FRIDAY 3 SEPTEMBER 1999</b>
<P>

<center><b>RANDWICK LABOR CLUB LIMITED</b>
<P>

<b>ACN 000 353 417</b>
<P>

<i>(First Plaintiff)</i>
<P>

<b>KEN MURRAY</b>
<P>

<i>(Second Plaintiff)</i>
<P>

<b>KEVIN SCOTT</b>
<P>

<i>(Third Plaintiff)</i>
<P>

<b>JOHN FRANCIS FORD</b>
<P>

<i>(Fourth Plaintiff)</i>
<P>

<b>LENA BRIDGE</b>
<P>

<i>(Fifth Plaintiff)</i>
<P>

<b>PETER ROBERT BELL</b>
<P>

<i>(Sixth Plaintiff)</i>
<P>

<b>JOSEPH RIORDON</b>
<P>

<i>(Seventh Plaintiff)</i>
<P>

<b>LESLIE FREDERICK BRIDGE</b>
<P>

<i>(Eighth Plaintiff)</i>
<P>

<b>v</b>
<P>

<b>AMALGAMATED TELEVISION SERVICES PTY LIMITED</b>
<P>

<b>ACN 008 624 539</b>
<P>

<i>(Defendant)</i></center>
<P>


<P>

<b>judgment (Imputation - capacity &amp; form)</b>
<P>

1   	Pursuant to an <i>ex tempor</i>e judgment delivered by me
on 12 June 1998 the plaintiffs' have filed an Amended Statement of Claim.
<P>

2   	This pleading sets out imputations said to be carried by a
publication by the defendant on 5 June 1997 in the course of its
program
<i>"Sydney Nightly News"</i>.
<P>

3   	Shortly stated, it is the plaintiffs' contention that the
defendant's application challenging the imputations is incompetent,
the matters
raised having been disposed of by my earlier judgment.  It is desirable
therefore to review the history of the arguments
in relation to the pleadings
to date.
<P>

4   	Appended to these reasons is a transcript of the words
spoken in the publication complained of.
<P>

5   	In the <b>original</b> Statement of Claim the first
plaintiff contended that the publication conveyed the following imputations:
<P>

<i>"5(a)	that the first plaintiff was a slush fund Club for the Labor
Party;</i>
<P>

<i>(b)	that the first plaintiff was a participant in an arrangement with the
Labor Party for use of the Club as a slush fund whereby
tainted money was
donated to the Labor Party;</i>
<P>

<i>(c)	that the first plaintiff had falsified its records and books as part of
its activities as a slush fund Club for the Labor Party.</i>
<P>

<i>(d)	that the first plaintiff had committed a large number of serious
licensing offences;</i>
<P>

<i>(e)	that the conduct of the first plaintiff was such as to warrant it being
reasonably suspected of having committed a large number
of serious licensing
offences;</i>
<P>

<i>(f)	that the first plaintiff had concealed its activities as a slush fund
Club for the Labor Party and had been found out in respect
thereof;</i>
<P>

<i>(g)	that the first plaintiff had donated $125,000.00 of tainted money to the
Labor Party".</i>
<P>

6   	The individual plaintiffs contended that the matter
complained of conveyed the following imputations:
<P>

<i>"6(a)	that each of the second, third, fourth, fifth, sixth, seventh and
eighth plaintiffs was a Director of a Club which was a slush
fund Club for the
Labor Party;</i>
<P>

<i>(b)	that each of the second, third, fourth, fifth, sixth, seventh and eighth
plaintiffs by virtue of being a Director of the Randwick
Labor Club was a
participant in an arrangement with the Labor Party for use of the Club as a
slush fund whereby tainted money was
donated to the Labor Party;</i>
<P>

<i>(c)	that each of the second, third, fourth, fifth, sixth, seventh and eighth
plaintiffs by virtue of being a Director of the Randwick
Labor Club was
involving in the falsification of the records and books of the Club as part of
its activities as a slush fund Club
of the Labor Party;</i>
<P>

<i>(d)	that the conduct of each of the second, third, fourth, fifth, sixth,
seventh and eighth plaintiffs as a Director of the Randwick
Labor Club was such
as to warrant each of the second, third, fourth, fifth, sixth, seventh and
eighth plaintiffs being reasonably
suspected of being involved in the Club
committing a large number of serious licensing offences;</i>
<P>

<i>(e)	that each of the second, third, fourth, fifth, sixth, seventh and eighth
plaintiffs as a Director of the Randwick Labor Club had
concealed the
activities of the Club as a slush fund Club for the Labor Party and had been
found out in respect thereof;</i>
<P>

<i>(f)	that each of the second, third, fourth, fifth, sixth, seventh and eighth
plaintiffs as a Director of the Randwick Labor Club had
been involved in the
donation of $125,000.00 of tainted money to the Labor Party".</i>
<P>

7   	By letter dated 1 June 1998, the defendant's solicitors
informed the plaintiffs' solicitors that the defendant would seek the
following
orders:
<P>

<i>"1.	Imputation 5(b) be struck out on the ground that it does not differ in
substance from imputation 5(a).</i>
<P>

<i>2.	Imputation 5(f) be struck out on the ground that it does not differ in
substance from imputation 5(a).</i>
<P>

<i>3.	Imputation 5(g) be struck out on the ground that it does not differ in
substance from imputation 5(b);</i>
<P>

<i>4.	Paragraph 6 be struck out on the ground that it fails to plead
imputations alleged to be defamatory of each plaintiff separately.</i>
<P>

<i>5.	Imputations 6(a) and 6(b) be struck out as they are each ambiguous,
vague, embarrassing and objectionable in form.</i>
<P>

<i>6.	Imputation 6(e) be struck out on the ground that it does not differ in
substance from either imputation 6(a) or imputation 6(b).</i>
<P>

<i>7.	Imputation 6(f) be struck out on the ground that it does not differ in
substance from imputation 6(b)".</i>
<P>

8   	It will be seen that the defendant's complaint related to
imputations 5(b), 5(f) and 5(g) with respect to the first plaintiff.
 Its
complaint related to imputation 6(a), (b), (e) and (f) concerning the other
plaintiffs.
<P>

9   	It can be seen from that letter that the defendant was
raising no issue as to "<i>capacity</i>".  Written submissions were delivered
by Mr Blackburn of counsel for the defendant in support of the application
conformably with
the complaints set out in his instructing solicitors'
letter.
<P>

10   	On 12 June 1998 argument took place in relation to the
objections taken by the defendant as to form and difference in substance.
 The
<i>ex tempore</i> judgment delivered by me on that day brought about the
following outcome.
<P>

11   	Imputation 5(b) was struck out as not differing in
substance from imputation 5(a).  The judgment does <i>not</i> indicate that any
leave to replead was granted.
<P>

12   	Imputation 5(f) was struck out with leave to replead.
<P>

13   	Imputation 6(a) was struck out with leave to replead.
<P>

14   	Imputation 6(b) was struck out with leave to replead.
<P>

15   	Imputation 6(e) was struck out with leave to replead.
<P>

16   	Imputation 6(f) was not struck out.
<P>

17   	Consequent upon my ruling as to questions of "<i>form</i>"
the plaintiffs thereupon moved the Court under SCR Pt 31 r 2 to have determined
as a matter of law whether the matter complained
of was capable of conveying
"<i>certain of the imputations as remained following my earlier ruling</i>"
(that is, as to form).  The judgment then proceeds to deal only with
imputations 5(c) and 5(d) both of which were held to be capable
of arising (p
6).
<P>

18   	By the <b>Amended</b> Statement of Claim filed on 22
December 1998 after the delivery of the ruling on 12 June 1998, the plaintiffs
plead the following
imputations:
<P>

19   	The first plaintiff pleads:
<P>

<i>"5(a)	the first plaintiff was a slush fund Club for the Labor Party;</i>
<P>

<i>(b)	the first plaintiff had falsified its records and books as part of its
activities as a slush fund Club for the Labor Party;</i>
<P>

<i>(c)	the first plaintiff had committed a large number of serious licensing
offences;</i>
<P>

<i>(d)	the conduct of the first plaintiff was such as to warrant it being
reasonably suspected of having committed a large number of
serious licensing
offences;</i>
<P>

<i>(e)	the first plaintiff was caught out by the police as the repository of a
secret slush fund of tainted money which it had accumulated
for the use of the
Labor Party; and</i>
<P>

<i>(f)	the first plaintiff had donated $125,000.00 of tainted money to the
Labor Party".</i>
<P>

20   	The remaining plaintiffs plead:
<P>

<i>"6	The matter complained of in paragraph 4 above in its natural and ordinary
meaning conveyed the following imputations defamatory
of each of the Second,
Third, Fourth, Fifth, Sixth, Seventh and Eighth Plaintiffs:</i>
<P>

<i>(a)	the plaintiff was a director of the first plaintiff whilst knowing it to
be a slush fund Club for the Labor Party;</i>
<P>

<i>(b)	the plaintiff by virtue of being a director of the Randwick Labor Club
was involved in the falsification of the records and books
of the Club as part
of its activities as a slush fund Club for the Labor Party;</i>
<P>

<i>(c)	the plaintiff's conduct as a director of the Randwick Labor Club was
such as to warrant the plaintiff being reasonably suspected
of being involved
in the Club committing a large number of serious licensing offences;</i>
<P>

<i>(d)	the plaintiff as a director of the Randwick Labor Club was caught out by
the police whilst trying to conceal a secret slush fund
of tainted money which
the Club had accumulated for the use of the Labor Party; and</i>
<P>

<i>(e)	the plaintiff as a director of the Randwick Labor Club had been involved
in the donation of $125,000.00 of tainted money to the
Labor Party"</i>
<P>

21   	It is to be noted that there has not been appended to the
Amended Statement of Claim the Schedule appended to the original
pleading. In
<b><i>Chan v TCN Channel Nine Pty Limited</i></b> (unreported, 27 November 1997
at 2)<b><i> </i></b>I directed that, for obvious practical purposes, the
Schedule should be attached to each form of the Statement of Claim.
<P>

22   	The defendant now seeks to strike out imputation 5(a) and
(b) and 6(a) and (b) on the ground that they are imprecise because
of the use
of the terms "<i>slush fund</i>" and "<i>slush fund club</i>".
<P>

23   	The defendant did not avail itself of the occasion on 12
June 1998 when it did argue questions of form to advance this precise
argument.
It does seem clear from page 4 of my earlier judgment that there was some
consideration of the words "<i>slush fund</i>" but it is not apparent that it
was elevated to the level to which the defendant now seeks to raise it.  
<P>

24   	By reference to the Macquarie Dictionary definition of a
"<i>slush fund</i>" it is argued that the word is imprecise.  The definition is
"<i>a fund for use in campaign propaganda or the like, especially secretly or
illicitly, as in bribery</i>".  To my mind "<i>slush fund</i>" is quite an
uncomplicated expression particularly as used in this matter complained of. 
<P>

25   	Imputation 5(a) is not struck out and I find it to be
capable of being defamatory of the first plaintiff.
<P>

26   	As to imputation 5(b) of the Amended Statement of Claim
this is in substitution for 5(c) of the original Statement of Claim.
 It has
been ruled on as capable of arising.  The defendant's only remedy is by way of
an appeal.  In regard to this aspect no doubt
the defendant would seek to argue
that the program is about "<i>allegations</i>" and not about "<i>guilt</i>".
If the matter arises for further consideration particular attention will no
doubt be paid to those words attributed to Mr Adam
Walters "<i>the alleged
breaches relate mainly to irregularities in record keeping and book work"</i>.
What is there alleged are "<i>breaches".  </i>What is stated to be the fact are
the <i>"irregularities</i>".  In its present form there is no further order I
can make in relation to imputation 5(b) in the Amended Statement of Claim.  
<P>

27   	As to imputation 5(c) in the Amended Statement of Claim
that has been ruled upon and can be the subject of appeal only. 
<P>

28   	Imputation 5(d) has not been ruled upon in that form and
it is clearly what is known as a "<i>suspicion</i>" imputation which, in my
view, is clearly capable of arising, is clearly capable of being defamatory and
will thus go to the jury.
<P>

29   	Imputation 5(e) is new; is capable of arising and is
satisfactory as to form.
<P>

30   	As to 5(f) this is the equivalent of the earlier
imputation 5(g) which I declined to strike out and which is not the subject
of
any submission and therefore will go to the jury.  My finding is that it is
good in form, capable of arising and capable of being
defamatory.
<P>

31   	I turn now to the imputations pleaded in respect of the
other plaintiffs (paragraph 6)
<P>

32   	Dealing first with the "<i>slush fund</i>" point:  the
imputations 6(a), (b) and (d) will not be struck out.
<P>

33   	Imputation 6(b) is repleaded in substitution for the
original imputations 6(a) and (c).  The earlier judgment indicates no
ruling on
capacity in relation to any of the imputations pleaded in respect to the
individual plaintiffs.  Subject to a matter with
which I will deal below
namely, the relationship of being a "<i>director"</i> and "<i>involvement</i>",
I will observe that the consideration of <i>"guilt"</i> and "<i>suspicion</i>"
arises in this regard but again subject to the reservation to which I will
come, I am of the view that the reference in the program
to books and records
is such as to render the matter complained of capable of giving rise to an
imputation of "<i>guilt</i>" in regard thereto but not in relation to
"<i>breaches</i>".  This imputation does not plead breaches;  it is concerned
with the actual book work.
<P>

34   	Imputation 6(c) does deal with breaches or the commission
of a large number of serious licensing offences but on a "<i>suspicion</i>"
basis.  Without turning to the matter reserved for consideration below, I am of
the view that the matter complained of is capable
of giving rise to an
imputation of suspicion in relation to the commission of offences.  Imputation
6(c) will thus go to the jury.
<P>

35   	As to imputation 6(d), the notion of being "<i>caught
out</i>" is clearly capable of being conveyed by use of the word
"<i>raided</i>" and the continuation of audits and other checks.  The
imputation however is  not defective in form by the use of the expression
<i>"whilst trying to conceal a secret slush fund</i>".  That to which each of
the plaintiffs' is otherwise directing the imputation is the plaintiff being a
director and knowingly involved
in the conduct of a <i>"slush fund</i>" of
tainted money which the Club had accumulated for the use of the Labor Party.
<P>

36   	Imputation 6(e), subject to the outstanding matter, is
capable of arising and capable of being defamatory.
<P>

37   	I now turn to the "<i>reserved</i>" or
<i>"outstanding</i>" matter.  It is contended by the defendant that the
problems arise in the expression "<i>involved in</i>".  It was previously
argued in relation to "<i>participant</i>" in the earlier imputations that that
word was a "<i>weasel</i>" word.  It is contended that the same quality attends
the expression <i>"involved in</i>".  It is suggested that the defect can be
cured to some extent by the insertion of the word "<i>knowingly</i>" before
<i>"involved in</i>".  I agree that this would clarify the matter.  However, I
do not see any deficiency in the mere assertion of the individual plaintiff
to
be a director and involvement in (even without the word "<i>knowingly"</i>
inserted) because the program in its opening word states that the club was
"<i>run</i>" by senior Labor party figures and then proceeds to identify them
by photograph and name as members of the Board.
<P>

38   	As I have indicated I am of the view that the matter
complained of is capable of conveying that the directors <i>"knew</i>" that the
club was a source of tainted money for the Labor Party.  I have come to that
view contrary to the submission of Mr Blackburn
that it would not be arrived at
even making proper allowance for loose thinking on the part of the ordinary
reasonable viewer but
taking into account the opening line to which I have
referred.
<P>

39   	Accordingly I rule the status of the imputations is the
Amended Statement of Claim to be as follows:
<P>

<i>"5(a)	the first plaintiff was a slush fund Club for the Labor Party; </i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(b)	the first plaintiff had falsified its records and books as part of its
activities as a slush fund Club for the Labor Party;</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(c)	the first plaintiff had committed a large number of serious licensing
offences;</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(d)	the conduct of the first plaintiff was such as to warrant it being
reasonably suspected of having committed a large number of
serious licensing
offences;</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(e)	the first plaintiff was caught out by the police as the repository of a
secret slush fund of tainted money which it had accumulated
for the use of the
Labor Party; and</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(f)	the first plaintiff had donated $125,000.00 of tainted money to the
Labor Party.</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>6(a)	the plaintiff was a director of the first plaintiff whilst knowing it
to be a slush fund Club for the Labor Party;</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(b)	the plaintiff by virtue of being a director of the Randwick Labor Club
was knowingly involved in the falsification of the records
and books of the
Club as part of its activities as a slush fund Club for the Labor Party;</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(c)	the plaintiff's conduct as a director of the Randwick Labor Club was
such as to warrant the plaintiff being reasonably suspected
of being knowingly
involved in the Club committing a large number of serious licensing
offences;</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(d)	the plaintiff as a director of the Randwick Labor Club was caught out by
the police whilst trying to conceal a secret slush fund
of tainted money which
the Club had accumulated for the use of the Labor Party; and</i>
<P>

is capable of arising and will go to the jury.
<P>

<i>(e)	the plaintiff as a director of the Randwick Labor Club had been involved
in the donation of $125,000.00 of tainted money to the
Labor Party".</i>
<P>

is capable of arising and will go to the jury.
<P>

40   	The appropriate order for costs must be that the defendant
pay the plaintiffs' costs.
<P>

41   	The formal orders are:
<P>

1.	Imputations 5(a) to (f) and 6(a) to (e) in the Amended Statement of Claim
will go to the jury.
<P>

2.	The defendant is to file a defence to the Amended Statement of Claim within
14 days.
<P>

3.	The plaintiffs are to file any Reply to any such Defence within 14 days.
<P>

4.	Particulars of Defence and Reply are to be requested within 7 days of
service and provided within 14 days of the request.
<P>

5.	Verified Lists of Documents are to be exchanged within 21 days of the supply
of particulars.
<P>

6.	Inspection of documents to take place within 14 days of delivery of the
Verified List of Documents.
<P>

7.	Interrogatories to be delivered within 14 days of inspection and answered
within 21 days of delivery.
<P>

8.	The defendant is to pay the plaintiffs' costs of the proceedings on 13
August 1999.
<P>

9.	The matter is listed for further directions on 19 November 1999.
<P>

10.	Otherwise, liberty to restore to the Defamation List on 7 days notice after
the expiry of the times fixed in Order (2) to (4)
hereof.
<P>

<center>***********</center>
<P>


<P>


<P>

<center><b>Schedule A</b></center>
<P>


<P>

ANN SANDERS:	A Sydney Club run by senior Labor Party figures may be charged
with breaching licensing laws 13,000 times.
<P>

	The astonishing figure is being investigated by detectives who raided the
Randwick Labor Club.
<P>

ADAM WALTERS:	(Camera shots of Club from outside)
<P>

	It is not just another poker machine palace, it's as close as it gets to the
New South Wales ALP's inner sanctum but the Labor
Party's back rooms have been
gate-crashed by the police investigating more than 13,000 alleged breaches of
the Liquor and Licensing
Act.
<P>

	(Single camera shot of photograph of all Board members)
<P>

	(Close up camera shot of certain Board Members with names printed
underneath)
<P>

	The Club's board reads like who's who of Labor Party number crunchers
including right wing power broker and former Upper House
President, John Johnno
Johnson and senior ALP strategist, Ken Murray.
<P>

RICHARD BULL:	If these alleged 13,000 breaches are to be found, then these
Directors are going to have to ... mount a ... answer
to a please explain.
<P>

ADAM WALTERS:	The alleged breaches relate mainly to irregularities in record
keeping and book work.
<P>

	Senior police have confirmed the Club continues to undergo audits and other
checks by detectives from the Licensing Enforcement
Agency.
<P>

	(Camera shots of NSW Premier Bob Carr meeting patrons)
<P>

The Club's patrons include Premier Bob Carr - seen here revelling in his
election victory at what's become the traditional venue
for ALP
celebrations.
<P>

	(Camera shots of documents)
<P>

	Official documents on election funding show that between November 1991 and
January 1995 the Club donated $125,000.00 to the Labor
Party.
<P>

RICHARD BULL:	It is obviously their slush fund Club in the eastern suburbs.
This is in Bob Carr's heartland.
<P>

ADAM WALTERS:	Adam Walters - Sydney Nightly News".
<P>

<center>***********</center>
<P>


<P>

LAST UPDATED: 	03/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/880.html</i><br>
</p>
</small>
</body>
</html>
