<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Karmas v NSW Land and Housing Corp [1999] NSWSC 1311 (7 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1311</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1311 or 1999+NSWSC+1311">Noteup</a>]
[<a href="1311.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Karmas v NSW Land and Housing Corp [1999] NSWSC 1311 (7 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1311.html-->
<!--sino date 7 December 1999-->


<P>Last Updated: 19 April 2001
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Karmas v NSW Land &amp; Housing Corp  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1311.html" title="View Case" class="autolink_findcases">[1999] NSWSC 1311</a>
<P>

CURRENT JURISDICTION: 	Administrative Law Division
<P>

FILE NUMBER(S): 	030081/98
<P>

HEARING DATE{S): 	03/12/99-07/12/99
<P>

JUDGMENT DATE: 	07/12/1999
<P>

 PARTIES: 
<P>

Timothy Karmas in person and as Representative of the Estates Eleni Karmas
&amp; Anors
<P>

New South Wales Land and Housing Corporation &amp; Anor
<P>

JUDGMENT OF: 	Dowd J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr J.M. Atkin for the Defendant 
<P>

SOLICITORS: 
<P>

CATCHWORDS: 
<P>

Appeal from Residential Tenancies Tribunal
<P>

No tenancy created by payment of rent
<P>

Valid termination
<P>

No damage 
<P>

ACTS CITED: 
<P>

Residential Tenancies Tribunal Act 1987
<P>

Wills Probate and Administrative Act 1898
<P>

DECISION: 
<P>

Affirm decision of the Tribunal in relation to the order terminating the
tenancy.
<P>

Dismiss the amended summons filed on behalf of the plaintiffs 
<P>

Plaintiff to pay costs 
<P>

JUDGMENT: 
<P>

<b>IN THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>(COMMON LAW DIVISION)</b>
<P>

<b>DOWD J</b>
<P>

<b>7 DECEMBER 1999</b>
<P>

<center><b>No. 030081/98 - TIMOTHY KARMAS  -v- NSW LAND &amp; HOUSING
CORPORATION</b></center>
<P>


<P>

1  	This is an appeal under s.107 of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Residential Tenancies
Act</i> 1987</a> ("the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a>") from a decision of the Residential Tenancies Tribunal
("the Tribunal")  in respect of the tenancy from the New South Wales Land
&amp;
Housing Corporation ("the Corporation") to the late Eleni Karmas in respect of
premises at 10 Anthony Street, Padstow.
<P>

2  	Section 107 of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> provides that any person, a party to the
proceedings who is dissatisfied with the decision on a matter of law may appeal
to this
Court against that decision. The powers of the Court are to affirm
decisions or to make such order as in its opinion should have
been made by the
Tribunal, or to remit its decision to the Tribunal to order a re-hearing of the
proceedings.
<P>

3  	This application has been adjourned on several occasions, and was
adjourned to Friday 3 December 1999 on the order of Studdert
J.  He being
unable to hear the matter it commenced before me and continued yesterday, with
some interruption, and concluded this
morning, the adjournment to this morning
being for the purpose of allowing the attendance of a witness who had sworn an
affidavit.
<P>

4  	The original five plaintiffs include Mr Timothy Karmas, who
appears in his own personal capacity, and as administrator of the
estate of the
late Eleni Karmas who passed away on 19 July 1997 and also as administrator of
the estate of the late Nicholas Karmas,
one of the five plaintiffs who passed
away on 17 December 1998. Administration was granted in respect of both estates
on 12 April
1998.  
<P>

5  	On 10 December 1997 notice to quit was served on the occupants of
the premises at 10 Anthony Street, Padstow, they being the
four remaining
plaintiffs and on the late Nicholas Karmas.
<P>

6  	Application was made to the Tribunal on 13 February 1998, and at
a hearing on 25 February 1998 an order was made directing that
each of the
parties be advised of the need to notify the Department of Housing ("the
Department") of the succession of the late Eleni
Karmas.  On 26 February 1998,
a letter was posted addressed to the late Mr Nicholas Karmas and to the
occupants of the premises.
 That postage has been proved by the affidavit of
Mrs Yvonne Powell, on behalf of the Tribunal and her oral evidence today, which
evidence I accept.  Although the question of service on Mr Nicholas Karmas was
not raised as an issue in these proceedings, I consider
since Mr Karmas appears
on  behalf of his brother George Karmas, who is present in Court, he also
appears on behalf of the other
plaintiffs.
<P>

7  	On 1 May 1998 there was an application on behalf of the
plaintiffs to vacate the hearing for at least two weeks to obtain legal
advice.
That legal advice was eventually obtained although there was obviously an
inadequate period for briefing.  Nevertheless the
hearing took place before the
Tribunal after a further application for adjournment was refused.
<P>

8  	At the hearing an order for possession was made by the Member.
The plaintiffs then appealed to this Court in August of 1998.
 Expedition was
ordered on 3 November 1998 and there were then various callovers and the
adjournments to which I have already referred
<P>

9  	 There have been exhibited before me a considerable number of
exhibits, and written and oral submissions have been made during
the course of
this hearing.  I have allowed a degree of latitude in the admission of
documents, as indeed has Mr Atken on behalf
of the Department, because of the
lack of representation at this hearing on the part of the remaining Karmas
family.
<P>

10  	The plaintiffs originally proceeded against the Residential
Tenancies Tribunal by way of summons and subsequently,  at a period
when they
were represented by solicitors, an amended summons was filed on 9 September
1998 seeking a number of orders against the
first and second defendants. The
second defendant has filed a submitting appearance.
<P>

11  	The orders sought were that the decision of the Tribunal be set
aside, and a declaration that all five plaintiffs were tenants
at the premises
on 7 July 1998 or in the alternative at 1 May 1997, or in the further
alternative at 4 December 1997.  Further it
sought a declaration that on those
dates a residential tenancy agreement between the plaintiffs and the
corporation pursuant to 3
of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> was in existence, and further that the
notice of termination dated 4 December 1997 was invalid.  A number of further
declarations
were sought which I will deal with in due course.
<P>

12  	As at the date of death of the late Mrs Karmas rent was paid to
the corporation on a rebated basis, whereby some considerable
reduction of rent
was allowed on the basis that Mrs Eleni Karmas and Mr Timothy Karmas were the
sole occupants.  Rent is calculated
on the basis of the assessable income or
the actual income of the persons who then resided at the premises.  The late Mr
Nicholas
Karmas had been the tenant but the tenancy had been transferred to Mrs
Karmas on their separation.
<P>

13  	 Evidence was given before the Tribunal at the hearing of 7 July
that it was the policy of the Corporation to allow a widow
or an elderly person
remaining to occupy a house notwithstanding that the house was greater than the
requirements of that person.
 That policy does not subsist for people who may
apply to succeed to the entitlement of the deceased or survivor of them.  The
four
remaining plaintiffs are four of the children of the late Eleni Karmas and
the late Nicholas Karmas.
<P>

14  	<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/s35.html" class="autolink_findacts">Section 35</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> provides that a person occupying
residential premises may on the death of the tenant under a  residential
tenancy agreement to which
the premises are subject, or if the tenant no longer
occupies the premises, may apply to the Tribunal to be recognised as a tenant
under the agreement or be joined as a party to any proceedings before the
Tribunal relating to the premises, or both.  An application
by a person to be
recognised as a tenant may be made at the same time as any other application or
during proceedings before the Tribunal,
or independently of any such other
application in that proceedings.
<P>

15  	The Tribunal is empowered to order that a person be recognised
as a tenant and the person is deemed to be a tenant under the
agreement.  The
Tribunal has other powers in relation to such an application.  <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/s132.html" class="autolink_findacts">Section 132(2)</a>
of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> however does not apply to premises of which the corporation is the
landlord.
<P>

16  	The corporation however has a policy which it implements having
the force of a departmental policy in relation to the succession
of persons
entitled to make application to be recognised as a tenant.
<P>

17  	In the reasons for decision,  the Member Mr Moore, found that as
the late Mrs Eleni Karmas was deceased and no longer able
to occupy the
premises, the occupant of the premises namely Mr Timothy Karmas, was declined
succession to the premises at 10 Anthony
Street, Padstow, as he does not
qualify for succession of tenancy under the landlord's policy.
<P>

18  	During the course of the hearing it is not clearly indicated, as
it appeared the member did not appreciate at the beginning
of the hearing, that
Mr Nicholas Karmas was the widower of the deceased.  However, in the course of
the hearing it was clear that
the solicitor who appeared in the proceedings was
representing the interests of all parties, and there are various references to
Mr Nicholas Karmas during the course of the hearing, in particular that he was
unwell and unable to appear.
<P>

19  	I am satisfied that no question of lack of jurisdiction arises
since the finding of fact made by the Tribunal is that notice
was brought to
the attention of all of the parties, and even though service was effected on
the Public Trustee it was nevertheless
also brought to the attention of the
occupants of premises 10 Anthony Street, Padstow and the evidence is that Mr
Nicholas Karmas
at that time was in fact a resident of those premises and a
letter was also directed to him.
<P>

20  	I am satisfied that notice to terminate the tenancy was properly
served, and I can see no error of law on the part of the Tribunal.
 I can also
see that notice of the hearing was brought to the attention of the late Mr
Nicholas Karmas and all of the other members
of the family, and although Mr
Nicholas Karmas was not formally joined, in substance he was treated as being
represented by Mr Arnold
who appeared in the hearing on behalf of the persons
claiming to be entitled to succession of the tenancy.
<P>

21  	Under the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a>, and as a matter of law, even though it may be a
tenancy from week to week or for other period a tenancy is not terminated by
the
death of a tenant, but survives for the estate of the tenant and in this
case on an intestacy, there being no other assets in the
estate, the survivor
of the late Mrs Karmas was her then widower, Mr Nicholas Karmas, who was
entitled at the time of her death but
who has subsequently passed away.
<P>

22  	The <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> by s.93 refers to proceedings before the Tribunal and
provides that they are to be held in open Court, and that the Tribunal is not
bound by the rules of evidence and may inform itself on any matter in such
manner as it thinks fit, and shall act according to equity,
good conscience and
the merits of the case without regard to technicalities or legal forms.
<P>

23  	I am satisfied that no issue arises as to the jurisdiction of
the Tribunal and that the hearing before the Tribunal took into
account the
rights of the interests of the parties that were asserted, and that those
appearing on behalf of the late Nicholas Karmas
did not assert any right on his
behalf at the hearing, as indeed it was clear from the records that he was not
treated by either
party as a resident of the premises at the time of Mrs Eleni
Karmas's death.
<P>

24  	In any event the Tribunal is not bound by the policy of the
corporation which refers to a person resident and although there
has been some
evidence before me to suggest that he was resident on a van which sometimes
parked in the premises he does not appear
to me to come within the
corporation's policy. In any event the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> does not apply to him in terms of an
entitlement to assert any right as survivor under the intestate estate of the
late Mrs Eleni
Karmas and that even if he was so entitled, that proper notice
was effected on him and on the other parties and that the tenancy
was properly
terminated.
<P>

25  	In relation to the orders sought by the plaintiffs I reject the
oral submission made by Mr Timothy Karmas that the application
was invalid as
it was addressed to the late Eleni Karmas in person rather than the estate.
The form refers to the nature of the tenancy
itself and who was the tenant and
it is a matter that in substance was treated in the hearing as the though
estate of the late Eleni
Karmas was party to the proceedings as well as the
other plaintiffs in their own right.
<P>

26  	I reject the contention, as being irrelevant, that if the late
Mrs Eleni Karmas had known what the documents had meant she
would have made
other arrangements to include the children.  Clearly there was an arrangement
made to obtain a rebate of the rent
on the basis of who was occupying the
premises and there is no duty on the corporation to advise the late Mrs Karmas
of any arrangements
that she might make.
<P>

27  	There is no evidence before the Court nor was there before the
Tribunal, to say that any new lease came into effect by the
acceptance of rent,
and there is no basis for the contention made before me that the Tribunal
should have suspended its hearing whilst
the corporation  was reviewing the
various applications made to it.
<P>

28  	In relation to the written submissions lodged by Mr Frank
Donohue, counsel for the plaintiffs, lodged on 1 April 1999, upon
which Mr
Timothy Karmas relied, I reject the submission that the estate was not properly
served with notice of the proceedings as
I have already found that service was
properly effected and brought substantive notice of the matter to the parties,
both the notice
of termination and of the  notice of the hearing.
<P>

29  	There is no evidence before the tribunal that Mr Nicholas Karmas
was in occupation of the premises and therefore entitled to
succession of
tenancy, even if the landlord's policy had been the law.
<P>

30  	I am satisfied in any event that service of notice of the
proceedings on the Public Trustee did not prevent the parties having
a proper
opportunity to present a case on behalf of the estate of the late Mrs Karmas.
Mr Nolan, who was the delegate of the Tribunal
on 1 May 1998, had asked those
presently in occupation if they were representing the estate.  That evidence
was relied upon by the
Member in the decision of 7 July 1997.  I do not find
any basis of denial of natural justice as contended, or any breach of the
obligations
under the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a>.
<P>

31  	In relation to the submissions in relation to qualification for
succession I find no error of law on the part of the Tribunal
on the evidence
before it, or in any event which would have shown an entitlement on the part of
the late Mr Nicholas Karmas to succeed
to the tenancy.  He was not a tenant, he
was the successor in law under the Wills Probate and Administration <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> of the
premises as a matter of general law, but not after the operation of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/s35.html" class="autolink_findacts">s.35</a> of the
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a>.  He was not entitled in any event under the Department's policy, that is,
he did not have any rights to the tenancy as being in
occupation.  
<P>

32  	I find that the written residential tenancy agreement dated 17
August 1989 with the late Mrs Karmas made her the sole tenant
in relation to
premises 10 Anthony Street, Padstow and that on her death on 19 July 1997,
intestate, that Mr Timothy Karmas was the
only other occupant of the
premises.
<P>

33  	I find that a new lease did not come into existence after the
death of Mrs Karmas and I can see no error on the part of the
Tribunal in
similarly making that finding.  I consider that the tenancy was properly
brought to an end, and there does not appear
to be any error on the face of the
transcript or the reasons for judgment on the part of the Member.
<P>

34  	Therefore I, in terms of the amended summons, decline to make an
order that the decision of the Residential Tenancy Tribunal
be set aside.
There is no evidence that the plaintiffs were tenants of the premises at the
dates specified.  I find no basis for
any declaration that a residential
tenancy agreement came into existence between the plaintiffs and the first
defendant.
<P>

35  	I find no basis for a declaration that the notice of termination
was invalid, in particular because service was effected not
only on the Public
Trustee but on any person having any claim under the late Eleni Karmas's
estate, or any person entitled.  No basis
has been shown that  the order made
on 25 February 1998 for the parties to be legally represented was invalid, and
no basis has been
shown for a declaration that the order relating on that date
to the identification of the heirs, executors, administrators, or assigns
was
invalid.
<P>

36  	I find no basis for a declaration that the discharge of that
order made on 19 March 1998 was invalid.  I find no  evidence
or basis in law
for a declaration that leave for both parties to be represented was invalid.
<P>

37  	In relation to the order for the Tribunal to provide written
reasons, that matter has been the subject of a judgment of Dunford
J on 12
February 1999.  Similarly with the other orders against the second defendant in
relation to the provision of reasons no basis
has been shown for a declaration
that the refusal of the second defendant to grant the adjournment application
on 7 July 1998 was
invalid.
<P>

38  	I can see no basis for an order that the matter be remitted to
the  Tribunal for further consideration, and no basis has been
shown for a
declaration on the part of the plaintiffs for an entitlement to damages.
<P>

39  	 In terms of the powers of this Court under the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/" class="autolink_findacts">Act</a> I affirm the
decision of the Tribunal in relation to the order terminating the premises.  I
therefore dismiss the amended summons
filed 9 September 1998 on behalf of the
plaintiffs.
<P>

40  	ATKEN:  I seek an order for costs.
<P>

 
<P>

41  	PLAINTIFF:  I put notice to the Court that I am going to appeal
this.
<P>

 
<P>

42  	HIS HONOUR:  That's a matter for you.
<P>

 
<P>

43  	PLAINTIFF:  With regards to the costs, we are not in any
position to meet them, which would actually just cause a lot more
further
health problems.  We have no alternative accommodation.
<P>

 
<P>

44  	HIS HONOUR:  How many people are now residing in the
premises?
<P>

 
<P>

45  	PLAINTIFF:  Three.
<P>

 
<P>

46  	HIS HONOUR:  Who are they?
<P>

47  	 PLAINTIFF:   Myself, George my brother and David.
<P>

 
<P>

48  	HIS HONOUR:  Are they in employment?
<P>

 
<P>

49  	PLAINTIFF:   No.
<P>

 
<P>

50  	HIS HONOUR:  Are they in receipt of any other income?
<P>

 
<P>

51  	PLAINTIFF:   Yes, government allowances.
<P>

 
<P>

52  	HIS HONOUR:  What sort of allowances?
<P>

 
<P>

53  	PLAINTIFF:  Newstart and some incapacity allowance.
<P>

54  	HIS HONOUR:  Newstart is unemployment?
<P>

 
<P>

55  	PLAINTIFF:  That's correct.
<P>

 
<P>

56  	HIS HONOUR:  Who is that?
<P>

57  	 PLAINTIFF:  Myself, I am on Newstart myself.  George is on
Newstart - David is on a minimal work cover which is no more than
$200 a week
or less.
<P>

 
<P>

58  	HIS HONOUR:  He is on compensation for a work injury?
<P>

 
<P>

59  	PLAINTIFF:   Yes but there is it's been cut off at times and
it's about to lapse anyway.
<P>

 
<P>

60  	HIS HONOUR:  What's the situation concerning rent?
<P>

 
<P>

61  	PLAINTIFF:  We are not in a position to find alternative
accommodation.
<P>

 
<P>

62  	HIS HONOUR:  I think you have told the Court there is rent
outstanding in respect of the existing premises?
<P>

 
<P>

63  	PLAINTIFF:  Just in the recent month or so due to extensive
medications and traumas, makes it difficult to do anything.
<P>

 
<P>

64  	HIS HONOUR:  What have you to say about whether a costs order
should be made?
<P>

 
<P>

65  	PLAINTIFF:   Well, I have had no control over my lawyers in the
past I have had, and the way they submitted things and the
rest of them, they
were found wanting in many areas of the procedures and directions that were
taken.  
<P>

66  	They were the ones that motivated to me to believe the case has
merit I believe it does have merit and unfortunately because
of my medical
conditions and legal expertise I was not able to raise adequately.  That's my
apology, but what was the question?
<P>

 
<P>

67  	HIS HONOUR:  Anything further to say as to why you should not
pay the costs of the first defendant?
<P>

 
<P>

68  	PLAINTIFF:   Yes, to pay costs to the defendant, we already
started to pay costs to the defendant, it's only going to put us
in --
<P>

 
<P>

69  	HIS HONOUR:  They are seeking an order for costs?
<P>

 
<P>

70  	PLAINTIFF:  It will cause great hardship and depravity(sic) and
physically and mentally and it will render us unable to get
out of the ditch
that we are in at the moment.   We have problems enough as it is.  We are just
not able meet them.
<P>

 
<P>

71  	HIS HONOUR:  Anything further?
<P>

 
<P>

72  	PLAINTIFF:   Yes, I have heard your judgment, I'm not saying I
am happy with it, I am actually disappointed, it's your discretion.
 There is a
warrant that would be due to be executed on us possibly tomorrow.  The house
is, the house is furnished and everything
and we haven't got another place to
go to.
<P>

 
<P>

73  	HIS HONOUR:  I don't think the department will oppose an
application for a stay of 21 days.
<P>

  
<P>

74  	ATKEN:  I don't have instructions.  I don't want to be heard.
<P>

 
<P>

75  	HIS HONOUR:  I would propose if you are going to appeal that any
warrant issued be stayed for a further 21 days to allow -
we have a Christmas
problem.
<P>

 
<P>

76  	ATKEN:  Yes.  The order would be suspended during the period of
break normally up to about the second or third week in January
under the rules.
I really don't, I don't want to be heard on that.
<P>

 
<P>

77  	HIS HONOUR:  I order for a period of 21 days to enable the
lodgement of any appeal against the decision 
<P>

78  	I further order that any warrant for possession be stayed for
that period. That period is to exclude the normal Court holidays.
 That is to
say the period for which time does not run over Christmas is in effect added on
to the 21 days, so you have 21 days plus
that period of suspension of some two
weeks when time doesn't run, so it gives you effectively about five weeks.  You
will have to
see the Registry for that period.  Do you understand that you get
21 days, but the 21 days isn't counted during that holiday period,
so it stops
and starts again after the period of the Court holiday?
<P>

79  	PLAINTIFF:  Yes, I understand that.
<P>

80  	HIS HONOUR:  Mr Atken will tell you that date.  Is there
anything further to say in the matter of costs?
<P>

81  	PLAINTIFF:  Yes, we can't meet them.
<P>

82  	HIS HONOUR:  I understand that.
<P>

83  	PLAINTIFF:  With regards to costs can't meet them and if I have
a lawyer representing me the decision might be, would have
been reversed, but
these people were forced a mental case to run an important complex case. We
can't meet the costs.  We were thrown
out on a deep end by our solicitors in
the past and if costs were to be awarded to pay costs we can't meet them.   We
are already
in financial hardship.  
<P>

84  	Already each one of us have medical expenses, where are we going
to get it from, and the worst matters of concern that were
legitimately raised
regardless of your findings we were compelled and actually pushed into it by
the defendants.
<P>

85  	HIS HONOUR:  I think you, the applicant - sorry, perhaps the
date?
<P>

86  	ATKEN:  <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/index.html#p2" class="autolink_findacts">Part 2</a> <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/rta1987207/s5.html" class="autolink_findacts">rule 5</a> provides that the period is suspended from
the beginning of 25 December until the end of 9 January.  9 January falls on a
Sunday.
 Can I suggest that perhaps it go to 14 January which is the following
Friday.  
<P>

87  	What I have in mind is a couple of things.  Firstly
realistically a lot of things close down over Christmas.  The fact it ends
on a
Sunday realistically means not much will happen at least until the commencement
of that following  week.
<P>

88  	If your Honour is minded to take cognisance of that rule it
might be appropriate to give the plaintiffs until the end of that
week, that's
14 January which is a Friday.
<P>

89  	HIS HONOUR:  I will vary the earlier order I made to take into
account the Court holiday, the period for which time does not
run under the
Court rules being from 25 December until 9 January 2000. The warrant is not to
issue until after the Sunday, which
is 16 January, to entitle the plaintiffs to
lodge any appeal.
<P>

90  	Notwithstanding the very clear hardship of the plaintiffs, the
plaintiffs have been wholly unsuccessful in their application.
Whether the
first defendant endeavours to enforce the order for costs is a matter for the
corporation, and application may be then
made by the plaintiffs in respect of
that order.  However, it seems to me proper that an order be made that the
plaintiffs pay the
corporations costs of and incidental to these proceedings.
There is no order made in respect of the Tribunal.
<P>

 
<P>

LAST UPDATED: 	11/04/2001
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1311.html</i><br>
</p>
</small>
</body>
</html>
