<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Zhon Yuan Pty. Limited v Yuan Zhong [1999] NSWSC 195 (12 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 195</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+195 or 1999+NSWSC+195">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Zhon Yuan Pty. Limited v Yuan Zhong [1999] NSWSC 195 (12 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_195.html-->
<!--sino date 12 March 1999-->


<P>Last Updated: 23 June 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Zhon Yuan Pty. Limited v Yuan Zhong  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/195.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 195</a>
<P>

CURRENT JURISDICTION: 	Equity Division
<P>

FILE NUMBER(S): 	2113/98
<P>

HEARING DATE{S): 	12 March 1999
<P>

JUDGMENT DATE: 	12/03/1999
<P>

 PARTIES: 
<P>

Zhon Yuan Pty. Limited (P)
<P>

Yuan Zhong (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

SOLICITORS: 
<P>

Bannermans (P)
<P>

In Person (D)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

- 5 -
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Friday, 12 March 1999</i>
<P>

<b>2113/98	ZHON YUAN PTY LIMITED   -v-   YUAN ZHONG</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>    These proceedings were instituted by
Statement of Claim filed by the plaintiff Zhon Yuan Pty Ltd on 23 April 1998.
The defendant
named in that pleadings was Yuan Zhong. Apparently that Statement
of Claim has never been served. Subsequently, however, there was,
on 28
September 1998, filed an amended Statement of Claim.  That pleading bears the
endorsement that it was filed pursuant to Part
20 rule 2 of the Supreme Court
Rules. That rule, by subrule (1) thereof enables a party pleading to amend
without leave the pleading
once at any time before the pleadings are closed.

<P>

2   	It would be appear that difficulties were encountered by
the plaintiff concerning service of the amended Statement of Claim,
and
eventually orders for substituted service were made.  The amended Statement of
Claim was served by way of substituted service
on 13 January 1999; and pursuant
to the orders for substituted service in that regard it was deemed to have been
served on the defendant
on 20 January 1999.
<P>

3   	The causes of action pleaded in the amended Statement of
Claim include causes of action based upon the <i>Fair Trading Act</i>, causes
of action in restitution for unjust enrichment, in conversion and detention in
respect to various motor vehicles acquired
by the defendant for use as taxi
cabs. It is unnecessary for me, for the purposes of the present application, to
set forth in greater
detail the causes of action alleged in the amended
Statement of Claim.
<P>

4   	There was, on 15 February 1998, filed a document entitled
Defence, which appears to have been prepared by the defendant in
person. It
bears his name and address and is signed by and purports to be verified by the
defendant. The response of that document
to the amended Statement of Claim is
contained in paragraph 1, which in the following terms "The defendant denies
paragraphs 1 to
103 of the plaintiff's pleading."
<P>

5   	There was on 25 February 1999 filed by the plaintiff a
Notice of Motion, by which the plaintiff seeks an order that the defence
be
struck out and that judgment be entered in favour of the plaintiff. That Notice
of Motion, which was returnable this day, 12 March
1999, came on for hearing
before me.  The defendant has now filed a further document, entitled defence,
which was filed on 10 March
1999. That document, although in typewritten form
(in contrast to the earlier document filed on  15 February 1999, which was
handwritten),
also was filed by the defendant personally and purports to have
been verified by him.
<P>

6   	The plaintiff seeks that the Notice of Motion returnable
this day should be treated as applying not only to the document filed
on 15
February 1999 but also to the document filed on 10 March 1999.
<P>

7   	In support of the Notice of Motion there has been filed an
affidavit by David Bannerman, the solicitor for the plaintiff. In
paragraph 2
of that affidavit, sworn on 24 February 1999, the deponent rightly points to
the fact that the defence of 15 February
1999 is a general traverse, in that it
denies the allegations but does not set out a defence.  The deponent states
that the plaintiff
relies on Part 15 rule 27 of the Supreme Court Rules.  That
rule provides in subrule (1) "A party shall not plead the general issue".

<P>

8   	It is obvious that the document filed on 15 February 1999
must be struck out, and I propose so to order.
<P>

9   	It seems to me appropriate that the present application
should be regarded as an application either to strike out the document
filed on
10 March 1999, or, in the alternative, since that document was filed without
the leave of the Court and without the consent
of the plaintiff, to treat the
plaintiff's application as being one for the granting of leave to file that
document. 
<P>

10   	The purported defence of 10 March 1999 is not in a form
appropriate to a defence or indeed to any pleading.  If only on the
ground of
form, it must be struck out as improperly filed or leave to file it must be
denied to the defendant.
<P>

11   	However, that document does allege various matters which,
if properly pleaded may constitute defences to part or all of the
allegations
contained in the amended Statement of Claim.
<P>

12   	In saying that, I do not in any way wish to suggest that I
have arrived at any conclusion concerning the strength of any such
defences or
any conclusion as to the outcome of any application which might subsequently be
made to strike out any amended defence
which the defendant might ultimately
file. I merely say that there are allegations made in the document filed on 10
March 1999 which
might possibly constitute a defence to some or all of the
causes of action contained in the amended Statement of Claim.
<P>

13   	However, as I have already indicated, the purported
defence of 10 March 1999 cannot be allowed to stand as a defence in the
present
proceedings.
<P>

14   	The defendant should be allowed the opportunity of filing
an amended defence.  He seeks until the end of May in which to do
so.  The
plaintiff submits that he should not have any longer than 14 days.  The
plaintiff points to the fact that the proceedings
have now been on foot for the
best part of a year, that considerable difficulties have been encountered in
serving the defendant,
that in consequence of the orders for substituted
service the defendant must be taken to have been served with the amended
Statement
of Claim by 20 January 1999, that is, about seven weeks ago. Further,
the plaintiff points to the fact that, if ultimately successful
in his claim
against the defendant, he will, by any further delay, be kept out of the
benefit of the income being  generated by the
motor vehicles at least one of
which, according to the plaintiff, is still being used by the defendant as a
taxi cab.
<P>

15   	I do not propose to give to the defendant until the end of
May in which to file an amended defence.  I propose to give him
21 days from
today's date.  The defendant has appeared in person before me today. He has,
however, previously had legal representation.
 There are other proceedings
currently on foot between himself and the principal of the plaintiff company.
I would suggest that it
would be to the benefit of the defendant if he obtained
legal advice concerning the form of any amended defence which he might wish
to
file in this matter.
<P>

16   	I make the following orders. 
<P>

(1)	I order that the defence filed by the defendant on 15 February 1999 be
struck out. 
<P>

(2) 	I order that the document entitled Defence filed on 10 March 1999 be
struck out. 
<P>

(3)	I grant leave to the defendant to file and serve an amended defence on or
before Thursday 1 April 1999. 
<P>

(4) 	I order that the defendant pay the costs of the plaintiff of the Notice of
Motion filed by the plaintiff on 25 February 1999.

<P>

(5)	I grant leave to the plaintiff to proceed forthwith to assessment of the
forgoing costs. 
<P>

(6)	I stand the matter over to Friday 9 April 1999 before the registrar for any
application which the plaintiff might wish to make
in respect to any amended
defence filed by the defendant and for directions.
<P>

<b>**********</b>
<P>

<b>LAST UPDATED: 	21/06/1999
</b></p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/195.html</i><br>
</p>
</small>
</body>
</html>
