<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Hanna and Anor v Horler and Anor Hanna v Horler and Anor [1999] NSWSC 1159 (30 November 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1159</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1159 or 1999+NSWSC+1159">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Hanna and Anor v Horler and Anor Hanna v Horler and Anor [1999] NSWSC 1159 (30 November 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1159.html-->
<!--sino date 30 November 1999-->


<P>Last Updated: 2 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Hanna &amp; Anor v Horler &amp; Anor Hanna v Horler &amp; Anor
 <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1159.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 1159</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	12050/99
<P>

11963/99
<P>

HEARING DATE{S): 	18 October 1999
<P>

JUDGMENT DATE: 	30/11/1999
<P>

 PARTIES: 
<P>

Nadi Hanna &amp; Anor v Lilian Horler &amp; Anor
<P>

Nader Kryollos Hanna v Lilian Horler &amp; Anor
<P>

JUDGMENT OF: 	Simpson J      
<P>

LOWER COURT JURISDICTION: 	Local Court
<P>

LOWER COURT FILE NUMBER(S): 	
<P>

LOWER COURT JUDICIAL OFFICER: 	Ms L Horler
<P>

COUNSEL: 
<P>

12050/99 - M A Bradford - Plaintiffs
<P>

                   C P O'Donnell - 2nd Defendant
<P>

11963/99   M Lawler - Plaintiff
<P>

                   C P O'Donnell - 2nd Defendant
<P>

SOLICITORS: 
<P>

11963/99 Hanna &amp; Associates - Plaintiff
<P>

                 I V Knight - Defendant
<P>

12050/99 - Tress Cox &amp; Maddox - Plaintiff
<P>

                   I V Knight - Defendants
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/cth/consol_act/ca191482/" class="autolink_findacts">Crimes Act 1914</a> (Cth)
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act 1902</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lca1982149/" class="autolink_findacts">Local Courts Act 1982</a>
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sfa1951176/" class="autolink_findacts">Suitors Fund Act 1951</a>
<P>

DECISION: 
<P>

Entitlement to relief established by plaintiffs.
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>SIMPSON J</b>
<P>

<b>Tuesday 30 November 1999</b>
<P>

<b>12050/99</b>
<P>

<b>11963/99</b>
<P>

<center><b><u>Nadi HANNA &amp; ANOR  v  Lilian HORLER &amp; ANOR</u></b>
<P>

<b><u>Nader Kryollos HANNA  v  Lilian HORLER &amp; ANOR</u></b></center>
<P>


<P>

<center><b><u>Judgment</u></b></center>
<P>


<P>

<b>HER HONOUR  :</b>
<P>

1   	Division 1 of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/index.html#p4" class="autolink_findacts">Pt 4</a> of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act 1902</a></i> ("the
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a>") governs committal proceedings before magistrates.  <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41a.html" class="autolink_findacts">S 41A(1)</a> relevantly
provides:
<P>

"(1)	The Justice or Justices:
<P>

	(a)	when making an order discharging a defendant as to the information then
under inquiry, ...
<P>

may ... adjudge that the informant shall pay ... such costs as to the Justice
or Justices seem just and reasonable."
<P>

Sub s (2A) precludes the award of costs unless certain specified circumstances
are made out.  It is the scope of the power conferred
by sub s (1) that is the
question at issue in these proceedings.
<P>

<b>Background</b>
<P>

2   	The three plaintiffs (Nadi Hanna and Ulysses Crosson in
matter No.12050/1999 and Nader Hanna in matter No.11963/1999) were
charged on
information with numerous offences against the <i><a href="http://www.austlii.edu.au/au/legis/cth/consol_act/ca191482/" class="autolink_findacts">Crimes Act 1914</a> (Cth).
</i>Committal proceedings pursuant to the <a href="http://www.austlii.edu.au/au/legis/cth/consol_act/ca191482/s41.html" class="autolink_findacts">s 41</a> <i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Justices Act 1902</a></i>
commenced on 18 May 1998 before Mr D Kearney, Magistrate, and proceeded
thereafter through approximately twenty days of hearing.
 On 17 September Mr
Kearney determined under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41.html" class="autolink_findacts">s 41(2)</a> of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a> that, having regard to all the
evidence before him, the evidence was capable of satisfying a jury beyond
reasonable doubt that each
defendant had committed an indictable offence (or
offences).
<P>

3   	Shortly after that, in circumstances upon which it is
unnecessary to elaborate, Hulme J of this Court, pursuant to s 134 (now
repealed) of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a> ordered Mr Kearney to disqualify himself from further
hearing the committal proceedings against Nader Hanna.  He expressly
"reserve(d)
to the magistrate who hears any further committal proceedings
against [Mr Hanna] in ... respect of the charges ... costs of the proceedings
before [Mr Kearney] which have occurred since 16 September 1998".  The incident
which gave rise to the order for disqualification
occurred on 16 September.
<P>

4   	On 30 September, in compliance with Hulme J's order, Mr
Kearney did disqualify himself from further hearing of the proceedings
against
Nader Hanna.  It was an inevitable consequence that he also disqualified
himself in relation to the charges against the other
then defendants (present
plaintiffs).  All charges were then listed before the first defendant in the
present proceedings, Ms L Horler,
Magistrate.  By agreement between the parties
the transcript of evidence and the exhibits that had already been taken and
tendered
before Mr Kearney were put before Ms Horler;  but witnesses whose
credit was substantially in issue were recalled for further cross-examination,
presumably to enable Ms Horler to make her own judgment upon their
reliability.
<P>

5   	It appears that none of the parties regarded the decision
made by Mr Kearney under <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41.html" class="autolink_findacts">s 41(2)</a> as binding on Ms Horler, and on 19 May she
proceeded to make her own determination on that matter, which determination was
to the
same effect as that made by Mr Kearney.  Evidence in the defence case
was called and submissions made over a further period of about
five days.  Not
being of the opinion that, on the basis of all the evidence, there was a
reasonable prospect that a jury would convict
any defendant of an indictable
offence, Ms Horler ordered that the defendants be discharged <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41.html" class="autolink_findacts">(s 41(6)).</a>
<P>

6   	Ms Horler then considered applications for costs made on
behalf of all discharged defendants.  Being satisfied of the necessary
matters
for which <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41a.html" class="autolink_findacts">s 41A(2A)</a> provides, she ordered the informant to pay the costs of the
proceedings that had taken place before her.  She declined to make such
an
order in relation to the proceedings that had taken place before Mr Kearney.
Her reason for doing so was that she considered that
the proceedings that had
been conducted before her constituted "a different committal" to those that had
been conducted before Mr
Kearney, and that she lacked jurisdiction to make an
order in relation to the costs of the previous committal.
<P>

7   	It is this conclusion that the plaintiffs now challenge.
They argue that, on the proper construction of the relevant provisions
of the
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a>, Ms Horler did not lack jurisdiction to make the order sought. The Director
of Public Prosecutions (Cth) ("the DPP"), who is the
second defendant, appeared
to oppose the orders sought. A submitting appearance was filed on behalf of Ms
Horler.
<P>

8   	Because of recent amendments to those provisions of the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a>
that enable review of Local Court decisions in this Court, there is some
uncertainty as to the precise avenues available to the plaintiffs,
and the
precise form of orders that should be made should I accept the substance of the
plaintiffs' argument,  that the magistrate's
jurisdiction to award costs
extended to awarding costs in relation to the proceedings that have taken place
before Mr Kearney.  Counsel
for the DPP accepted that, if the magistrate was in
error, it would be appropriate for this court to exercise whatever jurisdiction
it has to make orders enabling that error to be corrected.  Accordingly, rather
than take up time with an arid argument as to the
applicable provisions, the
parties sensibly agreed that I should decide the question of substance in the
hope that, should the plaintiffs
be successful, they will endeavour to reach
agreement as to the consequential orders to be made.
<P>

9   	The first argument advanced on behalf of the plaintiffs
depended upon the agreement between the parties as to the procedures
to be
adopted before Ms Horler, as a result of which Ms Horler was provided with the
transcript and exhibits from the proceedings
before Mr Kearney.  That
agreement, it was argued, meant that the proceedings before Ms Horler should
not be seen as separate proceedings,
but as a continuation of those before Mr
Kearney.  In other words, the whole of the proceedings amounted to a single
committal presided
over consecutively by two different magistrates.  Counsel
for the DPP sought to gain some support for this submission from <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s3.html" class="autolink_findacts">s 3</a> of the
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a>, which defines "committal proceedings" as 
<P>

"a hearing before a Justice or Justices for the purpose of deciding whether a
person charged with an offence should be committed
for trial or for sentence,
and includes any proceedings that are preliminary thereto or ancillary
thereto."
<P>

10   	There were two aspects of this definition from which
counsel for the DPP sought to gain comfort.  The first was a reference
to "a
hearing before <u>a Justice or Justices</u>".  Counsel argued that this
suggests that the legislature envisaged the possibility of single committal
hearing divided between two
magistrates.  This cannot be accepted.  The <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a> is
littered with references to proceedings before "a Justice or Justices".  It
appears that there are still occasions on which a
Local Court may be
constituted by two or more Justices of the Peace:  see, for example, the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lca1982149/" class="autolink_findacts">Local Courts Act 1982</a></i>, <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/lca1982149/s8.html" class="autolink_findacts">s 8</a>;  it is unnecessary to detail the numerous
references in the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a> to a court constituted by two or more Justices of the
Peace, or to the conducting of committal proceedings by an inquiry so
constituted.
 
<P>

11   	The second part of the definition relied upon by the
plaintiffs was the final words, by which there are included in the definition
of committal proceedings "proceedings that are preliminary thereto or ancillary
thereto".
<P>

12   	I do not think this argument, either, can be accepted.
The simple fact is that the proceedings which took place before Mr
Kearney were
themselves "committal proceedings", (although they were never completed) and
were not preliminary or ancillary to committal
proceedings.  In my opinion the
argument put on behalf of the plaintiffs derives no support from the
definition.  
<P>

13   	Nor do I accept that the agreement between the parties as
to the procedure to be adopted changed, or was capable of changing,
the nature
of the jurisdiction being exercised by Ms Horler.  Her task was to hear, under
<a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41.html" class="autolink_findacts">s 41</a>, the committal proceedings.  The manner in which the evidence was put
before her was a procedural matter on which the parties were
free to reach
agreement in order to limit the time necessary for the hearing.  That does not
make proceedings commenced before Ms
Horler a continuation of proceedings that
had commenced before Mr Kearney.  The fact that neither the parties nor Ms
Horler apparently
considered her to be bound by the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41.html" class="autolink_findacts">s 41(2)</a> decision of Mr
Kearney adds strength to that conclusion.
<P>

14   	Counsel for the DPP relied upon the decision of the Full
Court of this Court in<b> R W Miller and Co  v  Wilson</b> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWStRp/1932/48.html" title="View Case" class="autolink_findcases_inserted">[1932] NSWStRp 48</a>;  <a href="/cgi-bin/LawCite?cit=%281932%29%2032%20SR%20%28NSW%29%20466" title="View LawCiteRecord" class="autolink_findcases">(1932) 32 SR (NSW)
466.</a>  In that case a trial commenced before a jury of four.  It was necessary
to discharge one member of the jury, and the parties agreed
to proceed with
only three.  The three remaining members of the jury were unable to reach a
unanimous verdict, and the trial judge
accepted a majority verdict of two of
the three jurors.  That verdict was declared a nullity.  The court held that,
where statute
provided for trial by a jury of four, trial by a jury of three
was not a trial by a duly constituted court.  Counsel urged that,
following
that decision, I should conclude that the proceedings before Mr Kearney were a
nullity.  
<P>

15   	In my opinion <b>Miller v Wilson </b>does not advance the
argument at all.  The proceedings before Mr Kearney were not a nullity;  they
were proceedings before a properly
constituted court until the events of 16
September, as a result of which Mr Kearney was required to disqualify himself,
and, indeed,
until he did disqualify himself.  It may have been also
appropriate to set aside the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41.html" class="autolink_findacts">s 41(2)</a> order he had made, and, in the absence of
the agreement between the parties, Ms Horler would not have been bound by any
rulings on
evidence or other decisions he had made.  But that does not mean
that the proceedings were a nullity, and even if they were, it does
not mean
that the fact of their occurrence should be entirely ignored for the purpose of
costs orders.
<P>

16   	In my opinion the answer to this question lies in a simple
analysis of <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/s41a.html" class="autolink_findacts">s 41A(1).</a>  That section provides for an award of costs following an
order discharging a defendant "as to the information then under inquiry".
 The
magistrate is empowered to order the payment of "such costs as ... seem just
and reasonable".  In my opinion there is nothing
in that section which deprives
the magistrate of the power to award costs which include the costs of an
aborted hearing.  They are
the costs relevant to the prosecution of the
information on which the defendants have been discharged. 
<P>

17   	Such a construction has the advantage of being consonant
with notions of ordinary justice.  If the position adopted by the
DPP were
correct, the plaintiffs, no matter how deserving, would be disentitled to any
costs orders in relation to the proceedings
before Mr Kearney, because the
power to award costs can only be exercised by a justice "when making an order
discharging a defendant..."
(or, pursuant to sub para (b), when committing a
defendant for trial...").  That is, the order for costs can only be made on the
completion of the committal proceedings.  Since, by reason of Hulme J's order,
Mr Kearney was precluded from completing the committal
proceedings, he was
disempowered in relation to costs.  To hold that defendants in those
circumstances had no avenue of recovering
costs would lead to an unjust
verdict.
<P>

18   	Counsel for the DPP did argue that the plaintiffs would
not, on his argument, be left entirely without the prospect of recovering
costs, in that it would be open to them to make an application under the
<i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sfa1951176/" class="autolink_findacts">Suitors Fund Act 1951</a>. </i>  In my opinion this is no answer.  Inter alia,
even assuming that <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sfa1951176/s6a.html" class="autolink_findacts">s 6A(1)(c)</a> would apply to the present circumstances, a
certificate of the judicial officer before whom the proceedings were conducted
is required
and payment of costs lies within the discretion of the Director
General of the Department of the Attorney General and is subject
to a
prescribed cap (see <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/sfa1951176/s6a.html" class="autolink_findacts">s 6A(16)).</a>  That is a less valuable right than the right to
apply under the <a href="http://www.austlii.edu.au/au/legis/nsw/repealed_act/ja1902119/" class="autolink_findacts">Act</a>.  
<P>

19   	In my opinion the plaintiffs have established their
entitlement to relief.  It will be necessary for the parties to bring
in short
minutes of order accordingly.  
<P>

**********
<P>

LAST UPDATED: 	02/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1159.html</i><br>
</p>
</small>
</body>
</html>
