<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Thomson v Earlwood-Bardwell Park R S L [1999] NSWSC 243 (25 March 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 243</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+243 or 1999+NSWSC+243">Noteup</a>]
[<a href="243.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Thomson v Earlwood-Bardwell Park R S L [1999] NSWSC 243 (25 March 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_243.html-->
<!--sino date 25 March 1999-->


<P>Last Updated: 9 April 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	THOMSON v EARLWOOD-BARDWELL PARK R S L  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/243.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 243</a>
<P>

CURRENT JURISDICTION: 	EQUITY
<P>

FILE NUMBER(S): 	1392/99
<P>

HEARING DATE{S): 	22 March 1999
<P>

JUDGMENT DATE: 	25/03/1999
<P>

 PARTIES: 
<P>

WILLIAM THOMSON
<P>

v
<P>

EARLWOOD-BARDWELL PARK R S L CLUB LIMITED
<P>

JUDGMENT OF: 	Bryson J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

PLAINTIFF:      MR P COOK
<P>

DEFENDANT:  MR M ASHURST
<P>

SOLICITORS: 
<P>

PLAINTIFF:      COLIN W LOVE &amp; CO
<P>

DEFENDANT:  MIDDLETONS MOORE &amp; BEVANS
<P>

CATCHWORDS: 
<P>

ASSOCIATIONS AND CLUBS
<P>

Expulsion Suspension and Disqualification
<P>

Registered Club incorporated under Companies legislation
<P>

procedural challenges to validity of decision by Club Board to suspend for 3
months member (President and Board Member) on charge
of prejudicial conduct
(sexual harassment of staff member)
<P>

on the facts it was found that there was procedural fairness and the suspension
was valid
<P>

information given to the Board by two staff members in the member's absence
which went beyond the Particulars was not of importance
and there was no basis
for finding that the decision was based on information outside the Charge.
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

SEE PARAGRAPH 33
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

BRYSON J
<P>

Thursday 25 March 1999
</p>
<TABLE><TR valign="TOP" align="left">
<TD colspan=1 align="left"><p><b>1392/99</b></p>
</TD>
<TD colspan=1 align="left"><p><b>WILLIAM
THOMSON v EARLWOOD-BARDWELL PARK R S L CLUB LIMITED
</b></p>
</TD></TR></TABLE><p>
<P>

<b>JUDGMENT</b>
<P>

1	<b>HIS HONOUR : </b>The plaintiff claims a declaration that his suspension
from the Club is null and void. The proceedings are serious because of the
implications of the Board's decision for the personal and social standing of Mr
Thomson and indeed of the Board members who made
the decision.  Important as
the conflict is, it is to be approached in a different way to decisions which
affect the opportunity
of an individual to earn a living, or significant
property rights.
<P>

2	The Club was incorporated under companies legislation in 1972 and Mr Thomson
has been a member since 1976.  He was elected to
the Board of Directors in 1993
and elected President in 1997, and still is.  An election of officers including
Board members and
President is to be held in April 1999. The timetable for the
Board election requires nominations by 4 April, ballot on 9, 10 and
11 April
and declaration on 18 April, and the suspension will prevent Mr Thomson from
participating.  This enhances the significance
of the suspension.
<P>

3	The Articles of Association deal with suspension in Article 11 which is in
these terms:-
<P>

	<i>"If any Member shall refuse or neglect to comply with the provisions of the
Memorandum and Articles of Association by-laws rules or
regulations of the Club
or if any Member shall in the opinion of the Board be guilty of conduct deemed
by the Board to be unbecoming
of a Member or prejudicial to the interest of the
Club such Member may be suspended or expelled by resolution of the Board and
such
resolution need not state the grounds facts or opinions upon which it is
based PROVIDED:</i>
<P>

<i>	(a)  That at least seven (7) days before the Meeting at which such </i>
<P>

<i>	resolution is passed the member concerned shall have been notified in
writing and requested to be present at the Meeting and that
he shall at such
Meeting and before such resolution is moved have an opportunity of giving in
writing or orally any explanation or
defence he may think fit.</i>
<P>

<i>	</i>
<P>

<i>	(b)  The Meeting shall be held within one (1) month of the date of </i>
<P>

<i>	the alleged offence or the date on which the charge is laid.</i>
<P>

<i>	</i>
<P>

<i>	(c)  That any resolution under this Article requires for its passing
</i>
<P>

<i>	the affirmative vote of not less than a majority of the Members of the
Board present at such Meeting and the decision of the Board
shall be
final.</i>
<P>

<i>	</i>
<P>

<i>	(d)  Any Member notified or any Member proposed to be notified </i>
<P>

<i>	in accordance with Clause (a) above may immediately be suspended from all
privileges of the Club until such time as the Meeting is
held."</i>
<P>

<i>	</i>
<P>

4	Article 30 relates to election of the Board of Directors and paragraph (f)
provides:-
<P>

	<i>"No person currently under suspension by the Board in accordance with these
Articles shall be eligible to nominate, stand for or be
elected to the Board of
the Club."</i>
<P>

5	There are no express procedural requirements for consideration of suspension
apart from those in Article 11.  However Article
12 provides for suspension
without formalities where a member does not pay a debt to the Club.  The
formalities expressly provided
for in Article 11 were met;  Mr Thomson had a
little over 7 days notification in writing before the resolution was passed and
he
was given an opportunity of giving orally any explanation or defence he
thought fit;  the meeting was held within one month of the
date on which the
charge was laid and the decision was unanimous.  Procedural fairness requires
that more be done than is expressly
set out in Article 11 and more was done. Mr
Thomson was given notice of the particulars of the charges.  The notice took
the form
that on 13 January he was allowed, in the presence of a Board member,
to read through the statements of Mrs Head and Mr Redford on
which the board
acted, and to make notes as fully as he wished, to the extent that if he had
wished he could have copied the statements
out;  but he was not allowed to make
photocopies, because the Board restricted making and distributing photocopies.
By a letter of
18 September which he received on 19 September he was given
particulars of the charge, and the particulars referred to those statements;
that is he had less than 7 days notice of the particulars, but Article 11 does
not expressly require 7 days notice and his evidence
shows that he had a full
opportunity to understand the particulars and prepare for the hearing.  His
counsel made some complaint
about his not being allowed to have a photocopy,
but in view of the nature of the particulars, which are not difficult to
understand,
and of his opportunity to inspect the statements, and of his own
knowledge of the events with which the statements dealt, that is
not a
complaint of substance.  The most substantial basis of the plaintiff's
complaint in these proceedings relates to information
given by Mrs Head and Mr
Redford to the Board of Directors while Mr Thomson was not present.
<P>

6	Mrs Storn Head, who is employed by the Club as a casual bar and change box
attendant, reported to the General Manager of the Club
Mr Mulhall in a letter
of 6 January 1999 on an event which she claimed constituted sexual harassment
in the workplace;  the complaint
related to events at the Club on the evening
of Sunday 3 January 1999 at 11.15pm when she claimed Mr Thomson touched her
person inappropriately
after speaking to her in the change box, and another
event 10 or 15 minutes later when she alleged that he spoke and gestured to
her
with an indecent suggestion when she asked about her prospects of promotion.
Mr Redford, who was the staff supervisor on duty
at that time, made a report by
letter to Mr Mulhall on 5 January 1999 about the events.  These reports seem to
show that only Mrs
Head and Mr Thomson were directly witnesses of the central
events.
<P>

7	On 12 January Mr Thomson was given a written request by the Board Secretary
Mr Collier that Mr Thomson attend a special meeting
of the Board on 13 January
at 6.00pm.  He attended, and was shown the statements of Mrs Head and Mr
Redford.  He was also permitted
to inspect the statements in the company of a
fellow director and make notes;  and he did so.  On 14 January he was given a
letter
from the Board Secretary informing him that on 13 January the Board had
charged him with conduct prejudicial to the interests of
the Club as in Article
11, and asking that he attend the hearing of charges on 21 January.
<P>

8	On 19 January he was given the letter dated 18 January notifying particulars
of the conduct charged;  in substance the particulars
referred to details in
the letters which he had seen on 13 January.
<P>

9	The substance of the charge of conduct prejudicial to the interest of the
Club must have been clear from the circumstances as
soon as Mr Thomson knew of
the charge on 14 January.  Mr Thomson acknowledged receiving the letter of 14
January and gave an assurance
that he would attend as requested by a letter of
19 January;  in that letter he made some contentions about the insufficiency of
particulars, but on the same day after sending his letter he received the
Club's letter of 18 January with particulars.
<P>

10	Mr Thomson denied the substance of the charges to the Board at all times
firmly and fully.  He again denied them in his evidence
before me, but there is
no right of appeal from the Club Board to the Court, and the Court cannot
review and decide whether the decisions
made by the Board were correct or
appropriate;  the Court can decide only whether the decision was made
lawfully.
<P>

11	All six Members of the Board other than Mr Thomson took part in the
decision.  The Chairman was Mr Goodfellow, who is the Vice-President.
 The
meeting of the Board on 21 January took about six hours.  Mr Thomson was not
present at all times.  He gave the Board his response
to the charges clearly
and distinctly, and denied the substance of what was charged about his
behaviour.  He was asked to leave;
 he said that he wished to hear the evidence
but was told that he should leave.  The Board then heard a statement from Mrs
Head,
who was accompanied by her father for moral support although he took no
part.  Mr Thomson was not present when that statement was
made.  By and large
her statement restated matters earlier reported, but there was some further
matter to which I will return.  Mrs
Head then left the meeting room and soon
afterwards Mr Redford entered the meeting room and gave the Board information.
Mr Redford's
information closely followed his earlier statement, with some
further matters to which I will return.  Mr Thomson was then called
into the
meeting room and he was permitted to ask Mrs Head questions which she answered.
He was also permitted to ask questions of
Mr Redford.  He was then asked to
leave the meeting room.  The Board's deliberations took place thereafter in his
absence.  After
he had been told the substance of the Board's decision he was
given an opportunity to address on the penalty, and did so.  (At one
point he
claimed that he had not had that opportunity, but in evidence he withdrew this
complaint.)
<P>

12	The Board's decision was recorded in the minute of the meeting of 21 January
1999 in this way:-
<P>

	<i>"After considerable deliberation, Mr Thomson was called back into the room
and informed:-</i>
<P>

<i>	`On the balance of probability we, the Board, have found that you have
acted improperly and in a manner not befitting your position
as President of
this Club.' "</i>
<P>

13	The decision upholding the charge was unanimous.  After some further
proceedings in which Mr Thomson addressed the Board on the
action they should
take and was again asked to leave the room, the Board deliberated and made this
resolution:-
<P>

	<i>"After deliberation it was moved by T Lewis, seconded R Collier that Mr W R
Thomson be suspended from the Club for a period of three
(3) months, commencing
on 21st January 1999.  Carried (3 votes for and 2 votes against)."</i>
<P>

14	Correspondence notifying Mr Thomson of the decision departed slightly from
the terms of the minute but not significantly;  other
correspondence may also
have departed slightly, but the terms of the decision must be known from the
Board minute, which has been
confirmed.
<P>

15	The letter from the Board Secretary Mr Collier to Mr Thomson on 25 January
told him:-
<P>

	<i>"It is the Board's decision that you shall not enter upon the
premises...for a period of three months from the date of this Special
Meeting
21st January 1999."</i>
<P>

<i>	</i>but went on to say that he could attend monthly Board meetings.  The
letter does not exactly state the terms of the decisions of 21
January 1999,
but Mr Thomson had been told of those when they were made.
<P>

16	Some of the proceedings at the Board meeting were tape-recorded;  the
Board's deliberations were not but Mr Thomson's participation
was
tape-recorded, as was that of Mrs Head and Mr Redford.  Exhibit 1 is a
transcript of a record made on one tape-recorder machine;
 it is an imperfect
record because some passages were inaudible.  Another transcript exists, but it
is incomplete;  this was prepared
with revision by two Board members.  There
are references to that transcript in evidence, but it was not itself tendered
in evidence.
<P>

17	The view has long been established in this Division and was not disputed in
this case that the Court has power to make declaratory
orders establishing
whether decisions of the directors of an incorporated club to expel or
discipline a member are valid, and injunctions
restraining action on invalid
decisions.  The view upon which the Court acts was stated by Needham J in
<i>McNab v Auburn Soccer Sports Club Ltd</i>  <a href="/cgi-bin/LawCite?cit=%5b1975%5d%201%20NSWLR%2054" title="View LawCiteRecord" class="autolink_findcases">[1975] 1 NSWLR 54</a> at 58G to 59F,
and has been acted on very often.  The application of the requirement to
observe natural justice in a particular case
must be considered in view of the
facts of the case, the events and their circumstances, and an appraisal must be
made for the particular
case of the fairness of the procedure actually
followed.  There is no established table of rules of fair procedure for this
purpose,
except for requirements which can be stated in outlines of the
broadest kind.  It is necessary to keep in view the nature of the
tribunal, of
the functions which it is exercising and of the interests which are affected by
the outcome. Conclusions about what
procedural fairness requires expressed in
cases relating to decisions by statutory bodies in public administration,
affecting entitlement
to hold public office or valuable private rights, cannot
be applied readily or directly to decisions relating to proceedings of a
social
or sporting club, which affect interests of a different kind, important in
themselves but not of high economic value and not
affecting a person's
livelihood.  Decisions in clubs are made by voluntary officers without a
regular or established course of procedure;
 disciplinary questions do not
arise often enough for there to be an established course of procedure or any
high degree of expertise
in dealing with them, and there is a marked contrast
with the situation of decisions by salaried public officers and tribunals which
have powers under public law and are regularly resorted to.  The different
approach was expressed in the opinion of the Privy Council
in <i>Calvin v Carr
&amp; Ors  <a href="/cgi-bin/LawCite?cit=%281979%29%201%20NSWLR%201" title="View LawCiteRecord" class="autolink_findcases">(1979) </i>1 NSWLR 1</a> at 12 thus:-
<P>

	<i>"While flagrant cases of injustice, including corruption or bias, must
always be firmly dealt with by the Courts, the tendency, in
their Lordships'
opinion, in matters of domestic disputes should be to leave these to be settled
by the agreed methods without requiring
the formalities of judicial processes
to be introduced."</i>
<P>

18	Judicial decisions about what formalities or procedures were required to
meet the standard of fairness must be always be understood
by reference to the
subject matter with which they deal.  In the opinion of the Privy Council in
<i>University of Ceylon v Fernando</i>  <a href="/cgi-bin/LawCite?cit=%5b1960%5d%201%20WLR%20223" title="View LawCiteRecord" class="autolink_findcases">[1960] 1 WLR 223</a> at 231-233 their
Lordships referred to an number of earlier judgments in which statements in
general terms had been made, often accompanied
by observations on the
difficulty of making statements of universal application, and their Lordships
expressed reservations as to
the utility of general definition.  The citations
given however recurringly mention an opportunity to know what accusation was
made
and an opportunity to answer it.  General statements do not usually
include an opportunity to hear as it is given all the evidence
or information
upon which a decision is based, or to know all of it before being required to
answer, or an opportunity to cross-examine
all persons giving information.  In
particular circumstances these may be required but they are not generally
essential for fair
procedure.
<P>

19	In <i>University of</i> <i>Ceylon v Fernando</i> at 233-234 their Lordships
regarded reception of information in the absence of the person affected, and
the consequent absence of
opportunity to cross-examine, as not involving any
violation of the requirements of natural justice, and referred to an earlier
judicial
observation to the effect that the adjudicator was not bound to treat
the matter as if it was a trial, but could obtain information
in whatever way
he thought best.  A similar observation was made by Dixon J in <i>Australian
Workers' Union v Bowen No. 2</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1948/35.html" title="View Case" class="autolink_findcases_inserted">[1948] HCA 35</a>;  <a href="/cgi-bin/LawCite?cit=%281948%29%2077%20CLR%20601" title="View LawCiteRecord" class="autolink_findcases">(1948) 77 CLR 601</a> at 628:-
<P>

	<i>"It is important to keep steadily in mind that we are dealing with a
domestic forum acting under rules resting upon a consensual basis.
 It is a
Tribunal that has no rules of evidence and can inform itself in any way it
chooses.  Members may act upon their own knowledge
and upon hearsay if they are
satisfied of the truth of what they so learn and if they give the member with
whom they are dealing
a proper opportunity of answering the charge and
defending himself.  The tests applied to juries' verdicts, namely, whether
there
was evidence enabling a reasonable man to find an affirmative or whether
upon the evidence a finding was unreasonable, had no place
in the examination
of the validity of such a domestic tribunal's decision."</i>
<P>

<i>	</i>See too <i>Hurt v Rossall &amp; Ors</i>  <a href="/cgi-bin/LawCite?cit=%281983%29%2042%20ALR%20252" title="View LawCiteRecord" class="autolink_findcases">(1983) 42 ALR 252</a> at 258 (Fox
J) and <i>McVeigh &amp; Anor v Willarra Pty Limited &amp; Ors</i> <a href="http://www.austlii.edu.au/au/cases/cth/FCA/1984/379.html" title="View Case" class="autolink_findcases_inserted">[1984] FCA 379</a>;  <a href="/cgi-bin/LawCite?cit=%281984%29%2057%20ALR%20344" title="View LawCiteRecord" class="autolink_findcases">(1984) 57 ALR
344</a> at 357 (an observation which goes somewhat further).
<P>

20	Counsel referred me to<i> Kanda v Government of The Federation of Malaya
</i><a href="http://www.bailii.org/uk/cases/UKPC/1962/1962_2a.html" title="View Case" class="autolink_findcases_inserted">[1962] UKPC 2</a>;  <a href="/cgi-bin/LawCite?cit=%5b1962%5d%20AC%20322" title="View LawCiteRecord" class="autolink_findcases">[1962] AC 322</a> and the consideration of the question of a reasonable
opportunity to be heard at pages 335 to 338.  That was a strikingly strong
case
in the context of exercise by a public officer of a power to dismiss a police
inspector, subject to a constitutional guarantee
of a reasonable opportunity of
being heard.  The evidence in support of the finding that there had been a
failure to afford a reasonable
opportunity to be heard was very strong, as the
adjudicating officer was furnished with a report of a Board of Inquiry which
dealt
in detail with the evidence of each witness, expressed views as to the
credibility and weight of each, set out inquiries made apart
from the evidence
of witnesses and savagely condemned the police officer, saying that he was a
villain, unscrupulous and prepared
to go to any lengths.  In the circumstances
the confirmation by the Privy Council of the finding at first instance that the
police
officer had not been given a reasonable opportunity of being heard, and
their Lordships' strong statements cannot cause surprise.
 <i>Shareef v
Commissioner for Registration</i>  <a href="/cgi-bin/LawCite?cit=%5b1966%5d%20AC%2047" title="View LawCiteRecord" class="autolink_findcases">[1966] AC 47</a> was also a very strong case
where a public officer exercising a statutory function did not disclose
material on which he acted and
which was at the heart of the case.
<P>

21	The substantial complaints on behalf of Mr Thomson in counsel's opening
address were:-
<P>

	-that Mr Thomson was not properly given the opportunity to prepare his case
because he was denied the opportunity to copy the statements
and take advice on
them.
<P>

	
<P>

	-that the Board heard evidence in Mr Thomson's absence and the opportunity to
cross-examine was useless.
<P>

	Counsel contended that the opportunity to be heard was so restricted as to be
meaningless.
<P>

22	Some matters which are debated from time to time in cases about procedural
fairness were not part of this case;  there was no
suggestion of bias or
pre-judgment, there was no debate about inadequate time for preparation or
inadequate particulars, and Mr Thomson
was given and took opportunities to
question Mrs Head and Mr Redford.  Although some other matters of complaint
were alluded to,
the substantial matter debated related to information given to
the Board by Mrs Head and Mr Redford in Mr Thomson's absence which
went beyond
the information in the statements which were shown to him.  The additional
information did not relate to the substance
of the charges;  it related to
other matters or to incidental matters.
<P>

23	The requirement of procedural fairness is not a requirement to reproduce
court procedure, and in particular court procedure for
the adduction of
evidence by witnesses in which all evidence is given in the presence of or is
fully available to the other party
and open to challenge by cross-examination
is not essential for procedural fairness.  The nature of the proceedings and
the nature
of the matter being inquired into may make an opportunity to hear
all evidence as it is given and to challenge by cross-examination
everything
that a witness has said a requirement for the procedure to be  fair:  but that
is not necessarily or usually so.  Mr Thomson
had an opportunity to answer and
state his position on the charge, he knew clearly what the charge was, he had a
full opportunity
to give his side of the story and it was considered with open
minds. <i>Kandar's</i> case and <i>Shareef's</i> case were gross cases in which
significantly and strongly expressed reports bearing directly on the subject to
be decided were known
to and considered by the adjudicator but were unknown to
the party affected;  with context of formal hearings before public officers
and
in one case of a constitutional guarantee.  They do not establish general
principles although the correctness of those decisions
on their facts cannot be
doubted.  They do not establish principles with which the Board of Directors of
a sporting or social club
have a legal duty to conform.
<P>

24	The passage in the information given to the Board by Mrs Head in Mr
Thomson's absence of which complaint was made appears at
pages 9 and 10 of the
transcript Exhibit 2.  It is not possible to follow it clearly but I will set
it out:-
<P>

	<i>"MS HEAD:  In the sense that (indistinct) stuff about his wife, stuff about
his penis - I mean that's not - I'm not worried about
that (indistinct) at the
time, so (indistinct).  He has not suggested (indistinct).  He has mentioned to
me about (indistinct). 
Him and his wife."</i>
<P>

25	While no clear understanding can be formed of what Mrs Head then said, it
appears that she told the Board that Mr Thomson had
said something to her which
was inappropriate for him to say about his wife, and also about his own person.
It also seems that she
may have said that she was not worried about, meaning
did not complain about those statements.  It seems possible that Mrs Head told
the Board that the inappropriate statements were made on a different occasion,
and not on the occasion complained about;  that is
possible but in no way
clear.
<P>

26	The statement of Mr Redford recorded in Exhibit 2 and the subject of
complaint appears at pages 14 and 15 in the terms:-
<P>

	<i>"MR REDFORD:  I'd just prefer to put this in my own sense (indistinct).  It
was (indistinct).  He was - what I would basically said
is `baling people up'.
At that point I was very embarrassed for the club, because (indistinct)
somewhat distressed by the way he
was acting, and that was only my concern -
that I don't feel it's the way how a representative of this club should be.
And it was
just not a pretty thing to see.  He was just rather embarrassing.
His tone of voice - he was shouting (indistinct) shouting.  And
I felt out of
control of the whole situation.  Being a member of (indistinct) the situation
and he was a very (indistinct) situation,
yes.  Towards the end of that of
course after (indistinct) I took up - I had a conversation with Stone again and
she made it quite
clear that she was very embarrassed - somewhat distressed
about it - and I certainly felt that (indistinct) and (indistinct)."</i>
<P>

27	Mr Thomson in fact raised and challenged Mr Redford on the question whether
Mr Thomson was affected by liquor at the time of
the events;  his counsel said
that he stumbled on the fact that Mr Redford had dealt with this, but he did
challenge it.  The subject
was only incidental;  it was not suggested that to
be in liquor is conduct prejudicial to the interests of the Club.
<P>

28	It seems that Mrs Head went into some further information in Mr Thomson's
absence which had not been set out in her earlier report.
 However it is not
clear that this is so;  and Mr Thomson as plaintiff bears the onus of proof
that the proceedings were not fair.
 It is not really clear that anything was
said which she complained about, or which the Board took as significant, or
could take
as significant for deciding the charge which they were considering.
There is on the evidence no reason for thinking that the Board
came to a
decision on anything other than the matter of the charge which they were
considering.  A tribunal with a more formal procedure
would have had ways to
record that evidence was irrelevant or had no effect on the outcome, such as by
rulings rejecting evidence
or by express findings in disposing of facts.  These
means were not available to the Board of Directors. The mere fact that the
information
was given is not a reason to conclude that the Board treated as
important or significant for their deliberations something which,
so far as has
been shown, was not.  As reasonable people they should have disregarded it;
and they probably did.  The further information
given by Mr Redford was an
expansion in detail of some matters which he had dealt with in his written
report.  It went very little
further beyond his earlier statements dealing with
behaviour of Mr Thomson which was inappropriate and distracting to staff.  I
regard
it as improbable that it had any significant impact on the outcome.  The
burden of the charge of prejudicial conduct was Mrs Head's
complaint about
sexual groping and bawdy talk about her employment prospects:  this if true was
quite serious enough to concentrate
minds.
<P>

29	There is no reason to suppose that the Board of Directors acted on any basis
which was not charged, or decided adversely on some
grounds relating to other
behaviour or behaviour at other times.
<P>

30	Adapting words used by Powell J<i> </i>in<i> Samuel v St George Leagues Club
Limited</i> (unreported 20 October 1992) at 22, it is a minimum of judicial
fairness that the person affected be fairly apprised of what is alleged
against
him, and have a fair opportunity to bring forward material to correct or to
controvert any allegation made against him. 
The additional material recorded
in Exhibit 2 as given by Mrs Head and Mr Redford does not show that
requirements of these kinds
were not met.
<P>

31	Overall there are indications that the Board approached its task in an
appropriate way.  Nothing in the evidence could indicate
bias, prejudgment or
action on irrelevant considerations, and the Board took ample time for
consideration and debate before reaching
its conclusions.  There are some
indications that Mr Thomson took a combative attitude at some points, and the
evidence shows that
this was dealt with patiently.  The nature of the complaint
and the relationship between Mrs Head and Mr Redford as members of staff
and Mr
Thomson as President of the Club make it understandable that there were signs
of strong feeling.  The suggestion, which was
alluded to but never made
directly, to the effect that the decision or the choice of penalty was affected
by the approach of Board
elections in April so that Mr Thomson would be unable
to stand for re-election if he was suspended, was not supported by any
evidence,
and any such influence on the decision can be dismissed from
consideration.
<P>

32	In my opinion the Board's resolutions of 21 January 1999 including the
resolution suspending Mr Thomson for three months were
effective.
<P>

33	<b>ORDER:</b>
<P>

The proceedings are dismissed with costs.
<P>

I hereby certify paragraphs 1-33 are the reasons for judgment of the Honourable
Justice John Bryson.  Dated 25 March 1999.	(H D
LEWIS) Associate.
<P>

LAST UPDATED: 	08/04/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/243.html</i><br>
</p>
</small>
</body>
</html>
