<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Domino Hire Pty Ltd v Pioneer Park Pty Ltd (In Liq) [1999] NSWSC 1046 (14 December 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1046</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1046 or 1999+NSWSC+1046">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Domino Hire Pty Ltd v Pioneer Park Pty Ltd (In Liq) [1999] NSWSC 1046 (14 December 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1046.html-->
<!--sino date 14 December 1999-->


<P>Last Updated: 15 December 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Domino Hire Pty Ltd v Pioneer Park Pty Ltd (In Liq)  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1046.html" title="View Case" class="autolink_findcases">[1999]  NSWSC
1046</a>
<P>

CURRENT JURISDICTION: 	Equity
<P>

FILE NUMBER(S): 	4398/99
<P>

HEARING DATE{S): 	15, 16 &amp; 22 November 1999
<P>

JUDGMENT DATE: 	14/12/1999
<P>

 PARTIES: 
<P>

Domino Hire Pty Limited (P1)
<P>

Clifford John Carpenter (P2)
<P>

Pioneer Park Pty Limited (In Liquidation) (D1)
<P>

Gregory Winfield Hall and Timothy Cuming (D2)
<P>

JUDGMENT OF: 	Hamilton J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

P Fordyce, Solicitor, (P1 &amp; 2)
<P>

M Speakman (D1 &amp; 2)
<P>

SOLICITORS: 
<P>

P A Somerset &amp; Co (P1 &amp; 2)
<P>

Blake Dawson Waldron (D1 &amp;2)
<P>

CATCHWORDS: 
<P>

CORPORATIONS [279] - Winding up - Liquidators - Resignation or removal - In
voluntary winding up - Liquidator having conflict of
interest - Actual or
perceived conflict of interest - Prior involvement with company as
investigating accountant for secured creditor.
<P>

ACTS CITED: 
<P>

Corporations Law
<P>

DECISION: 
<P>

Liquidators should cease to hold office.
<P>

JUDGMENT: 
<P>

IN THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

HAMILTON J
<P>

TUESDAY, 14 DECEMBER 1999
<P>

<b>4398/99	DOMINO HIRE PTY LTD &amp; ANOR v PIONEER PARK PTY LTD PTY LTD (In
Liq) &amp; ORS</b>
<P>

<b>JUDGMENT</b>
<P>

His Honour:
<P>

1   	These are proceedings brought by Domino Hire Pty Ltd
("Domino") and Clifford John Carpenter s 503 of the Corporations Law ("CL")
for
the removal of Gregory Winfield Hall and Timothy Cuming, who are partners of
Price Waterhouse Coopers ("PWC"), as the liquidators
of Pioneer Park Pty Ltd
(in liquidation) ("the company").  That section provides for the removal of
liquidators by the Court "on
cause shown".  The company was for many years a
manufacturer of equipment for the coal mining industry.  It operated on the
Central
Coast of New South Wales.  Mr Carpenter is a director of the company
and is the controller of Domino which is a creditor of the company.
 The
company in 1996 executed in favour of the Australia and New Zealand Banking
Group Limited ("the Bank") to secure finance facilities
a mortgage debenture by
which it granted to the ANZ Bank a fixed charge over its real property, plant
and equipment and a floating
charge over the balance of its assets ("the
floating charge assets").  The floating charge assets for present purposes
consist principally
of stock and book debts.  In May 1999, when the company's
indebtedness to the Bank was approaching $2.5 million, the Bank gave notice
terminating the finance facilities.  Thereafter the Bank appointed Mr Hall as
investigating accountant to report to the Bank on the
company's affairs.  Mr
Fordyce, solicitor, on behalf of the company immediately entered into
correspondence with the Bank and its
then solicitors.  Mr Fordyce continued to
act for the company until its liquidation.  He has since acted for the
plaintiffs in these
proceedings and appeared as counsel for the plaintiffs on
the hearing before me.
<P>

2   	The Bank's commission to Mr Hall as investigating
accountant by its letter of 20 May 1999 was for a report to cover the viability
of the company's business; the viability of the Bank's security; and whether
the value of the Bank's security was being improved
or eroded.  The main focus
of the report furnished by Mr Hall to the Bank by letter dated 7 June 1999 was
stated to be the security
position of the Bank in the company.  It is relevant
to note that the letter of 7 June 1999 shows that Mr Hall was already aware
that Domino was a creditor of the company.  A note of a meeting between Brian
Soper of the Bank, a representative of its solicitors,
and Mr Hall and Matthew
Turner of PWC shows a discussion which, not unnaturally, focused on the Bank's
interests, incuding at that
early stage a concern that employees' entitlements
"could use up all `floating charge' assets" to the detriment of the Bank.  On
8
June 1999 the Bank demanded of the company payment of a sum in excess of $2.5
million and on 10 June 1999 appointed Mr Hall and
Mr Cuming voluntary
administrators of the company under the provision in s 436C which authorises
that course.  
<P>

3   	The notices for the first meeting of creditors under the
voluntary administration required by CL s 436E are dated 11 June 1999.
 Carol
Paul of PWC's Newcastle office stated at the time and has since deposed that
notices were posted out to all creditors on the
attached list.  Carpenter
Owens, Mr Carpenter's accounting firm, is on the list.  Domino, although known
by Mr Hall to be a creditor,
was not on the list.  Mr Carpenter denied receipt
of the notice.  The notice included the following paragraph:
<P>

"The overriding qualifications of the person appointed as Administrator are
that the person must be, and be seen to be, independent
and must have the
necessary expertise to deal effectively and efficiently with the matter.  For
this reason, the legislation provides
that the person appointed as
Administrator must be a registered liquidator and must not be a significant
debtor or creditor, officer,
auditor, or partner or employee of an officer or
auditor, of the company.  You should note that neither I, my partner or staff
have
had any prior professional dealings with the company"
<P>

That statement emphasises the administrators' knowledge of the importance of
independence.  Overall, however, whilst the last sentence
of the paragraph may
be literally true, in my view it conveys a misleading impression that the
administrators had had no previous
dealings with the company, whereas Mr Hall
had investigated its affairs as investigating accountant for the Bank, by far
the largest
creditor, and which also had the benefit of security.  The meeting
was held on 18 June 1999.  The plaintiffs did not attend.  Ten
creditors, most
of whom were creditors in right of their employment entitlements, attended.
There is no doubt that Mr Hall drew to
the attention of those present at the
meeting his prior role as investigating accountant for the Bank.  Between 18
and 29 June 1999
there were negotiations for a Deed of Company Arrangement
("DCA").  This resulted in a proposed DCA under which the Bank would take
the
company's real estate in full satisfaction of its debt.  By their report to
creditors dated 29 June 1999 accompanying the notice
of the second creditors'
meeting pursuant to CL s 439A to be held on 7 July 1999 the administrators
recommended the creditors' acceptance
of the DCA.  
<P>

4   	The notices of the meeting were sent again by Carol Paul on
30 June 1999.  Again, Carpenter Owens was on the list of creditors
used by Ms
Paul, but Domino still was not.  There was evidence that Mr Carpenter was also
handed a bundle of documents including
a copy of the notice.  Mr Carpenter also
denied receipt of this notice, but in the witness box retracted that denial.
It was pointed
out to him that the notice was on the bottom, not on the top of
the bundle of documents handed to him, which commenced with the report
of 29
June 1999.  He still maintained that, being on the bottom of the bundle, it had
not come to his attention, although clearly
acknowledging that he received it.
I accept Mr Carpenter's evidence that he did not receive the first notice.  My
acceptance of that
is assisted by his ready acknowledgment that he did receive
the notice of the second meeting when its position at the bottom of the
bundle
was pointed out to him.  I accept his evidence that he did not see the second
notice at that time, although ultimately acknowledging
its receipt.  The notice
again did not draw attention to the fact of Mr Hall's activity as investigating
accountant of the company
on behalf of the Bank prior to his appointment as
administrator.  The importance of the inclusion of relevant material in notices
of company meetings has been emphasised by the courts on a number of occasions:
eg,<b> Tiessen v Henderson</b><i> </i> <a href="/cgi-bin/LawCite?cit=%5b1899%5d%201%20Ch%20861" title="View LawCiteRecord" class="autolink_findcases">[1899] 1 Ch 861</a> at 866-7, 869-70;<b> In
Re Dorman Long and Company Limited </b> <a href="/cgi-bin/LawCite?cit=%5b1934%5d%201%20Ch%20635" title="View LawCiteRecord" class="autolink_findcases">[1934] 1 Ch 635</a> at 657; <b>Bain &amp;
Company Nominees Pty Ltd v Grace Bros Holdings Ltd</b>  <a href="/cgi-bin/LawCite?cit=%281983%29%201%20ACLC%20816" title="View LawCiteRecord" class="autolink_findcases">(1983) 1 ACLC 816</a> at
819.
<P>

5   	On 7 July 1999 the second creditors' meeting was held.  At
that meeting the creditors approved the DCA.  To become effective
it had to be
executed within 21 days, ie, by 28 July 1999.  Owing to the impossibility of
fulfilment of certain of the conditions,
execution did not take place.
Thereupon, by the force of CL s 446A the company passed into liquidation as if
a voluntary winding
up resolution had been passed, with Messrs Hall and Cuming
becoming automatically the liquidators of the company.
<P>

6   	On 6 September 1999 the liquidators sent their report to
creditors enclosing notice of the meeting of creditors under the liquidation,
to be held on 22 September 1999.  On this occasion, there is no doubt that the
notice was sent to Mr Carpenter and to Domino.  On
the same day the Bank
demanded more than $2.5 million from Mr Carpenter as guarantor of the
obligations of the company.
<P>

7   	At the creditors' meeting on 22 September 1999 Mr Carpenter
complained of Mr Hall as a liquidator of the company, by reference
to his prior
role as investigating accountant for the Bank.  This is not noted in the
minutes of the meeting, but there is no contest
that it occurred.  A resolution
was passed for the appointment of a committee of inspection which included Mr
Fordyce as representative
of Domino, Jeanette Rossiter as representative of
Grahame Donovan and David Staples as representative of Mr Carpenter's
accounting
firm.  The balance of the members, or certainly the majority of
them, were employee creditors.  
<P>

8   	On 5 October 1999 Mr Fordyce wrote as the plaintiffs'
solicitor complaining of Mr Hall holding the office of liquidator in
view of
his prior role as investigating accountant.  These proceedings were commenced
by the plaintiffs on 20 October 1999 (a Wednesday).
 On that day injunctive
relief was obtained by them up to and including the following Monday, 25
October 1999, when the matter was
again to be before the Court.  The
liquidators then took what I regard as the somewhat extraordinary step of
attempting to call a
meeting of the committee of inspection for 3 pm on Friday,
22 October 1999 for the purpose of having that committee support their
position
as liquidators.  The meeting was to be held in PWC's offices in Newcastle, not
on the Central Coast as the previous creditors'
meetings had been.  This was
despite the fact that a number of the members of the committee were in Sydney
and others resident on
the Central Coast.  Notices of the meeting were on 20
October 1999 faxed to four creditors in Sydney including Mr Carpenter, Mr
Stewart,
Mr Fordyce and Carpenter Owens.  The notices did not enclose proxy
forms.  However, upon protest being made by Mr Fordyce as to the
validity of
the meeting, a facility for attendance at the meeting by telephone conference
was offered.  Mr Hall was unable to say
in evidence that all members of the
committee of inspection had been contacted.  He was unaware of the existence of
any faxes beyond
those to the four persons in Sydney already mentioned.
Certainly some of the members of the committee were given notice by telephone
call only from PWC's Newcastle office, as is apparent from the evidence of Mr
Taber, one of the employee creditors, who gave oral
evidence before me.  Mr
Taber's evidence was that the call was at around lunch time and he believed it
was on the Wednesday.  He
clearly remembered that it was in relation to a
meeting at PWC's office at Newcastle at 3 pm on the Friday.  He does not recall
whether
or not he was told the subject matter of the meeting, other than that
he believed it was a "creditors meeting".  He asked whether
he ought tell his
son, Gary (another creditor and member of the committee of inspection), about
the meeting and was told that he
should tell Gary.  Whilst Mr Taber believed it
was on the Wednesday at lunch time that he was telephoned, Mr Hall gave
evidence that
he did not decide to call this meeting until late on Wednesday
afternoon, after the result of the Court proceedings on Wednesday
had been
reported to him.  In view of this evidence, which there is no reason to doubt,
it seems likely that it was not until lunch
time Thursday that Mr Taber was
telephoned.
<P>

9   	At the meeting on Friday afternoon, at least two members
attended by proxy.  As proxy forms were not sent out with a written
notice of
meeting, it seems likely that these proxies were arranged in telephone calls
from PWC's Newcastle office.  A resolution
was passed at the meeting supporting
the liquidators' continuance in office.  There is no contest that there was not
at the time
that resolution was passed a quorum present at the meeting.
Although the meeting by statute stood adjourned for one week upon the
loss of
its quorum, no proceedings took place and there was no continuation of the
meeting on the following Friday, 29 October 1999.
 It should be said at once
that Mr Speakman, of counsel for the liquidators, conceded at the hearing that
there was no valid resolution
of a meeting of a committee of inspection in
favour of the liquidators and that what occurred on Friday, 22 October 1999,
could at
best be regarded as an indication by some creditors that they
supported the liquidators' continuation in office.
<P>

10   	On 22 October 1999, after the meeting had been held, Blake
Dawson Waldron ("BDW") as the liquidators' solicitors wrote to
the plaintiffs'
solicitors as follows:
<P>

"We confirm that at 3pm today Mr Hall held a meeting of the committee of
inspection of Pioneer Park Pty Limited (In Liquidation)
(the
`<b>Company</b>').
<P>

We note that neither you nor your client sought to join that meeting either by
the telephone conference facilities which were made
available, or in person.
<P>

We are instructed that at the meeting referred to above, the members of the
committee of inspection present unanimously passed the
following
resolutions:
<P>

1	`That this meeting confirms its support for the liquidators, GW Hall and TJ
Cuming to remain as liquidators of the Company and
that the liquidators should
resist the application which has been filed for their removal'; and
<P>

2	`That this meeting reaffirms its support for the administrators' fees
approved at the meeting of creditors held on 7 July 1999'."
<P>

The solicitors' letter is misleading in that it does not mention the lack of
quorum and suggests on its face a validly passed resolution
of a properly
constituted committee of inspection.  I should add that there is no evidence
that BDW had been informed at the time
that they wrote that letter, obviously
late on the day that the meeting was held, that there was not a quorum present
at the time
that the resolutions were passsed.
<P>

11   	The progress of the liquidation appears to be as follows.
The Bank has taken control of and realised the real property.  The
plant and
equipment, which had a book value of almost a million dollars, fetched bids of
only a total of about $100,000 at an auction
held by the liquidators.  As to
about half the plant and equipment the liquidators thought it best to let that
be sold at the $50,000
bid for it at the auction.  As to the balance, they
refused to sell at the prices bid, on the basis that the equipment being
specialised
equipment might be able to be sold at better prices by private
treaty on further enquiry.  Some complaint was made about the liquidators'
conduct in this regard, but that complaint appears to me to be quite unfounded.

<P>

12   	After realisation of the assets the liquidators hold a
fund of about $60,000.  The claims by employees amount to some $400,000.
 So
far as I can gather the Bank after receipt of the proceeds of sale of the
property held on fixed charge is owed a further sum
in the range $100,000 -
$200,000.  The unsecured creditors other than the employee creditors are owed
about $140,000.  By virtue
of its floating charge the Bank is entitled to the
proceeds of all property of the company necessary fully to satisfy its debt and
discharge its security.  That entitlement is subject to the statutory priority
of the claims of the employee creditors to assets
held under the floating
charge by virtue of CL s 436C.  It would only be upon satisfaction of the
employees' claims by payment or
settlement, and upon satisfaction of the Bank's
security, that the unsecured creditors would receive anything.  But if the Bank
had
received the proceeds of all the assets of the company without its debt
being fully satisfied, as to the balance, it would then become
an unsecured
creditor, the potential source of funds being the recovery claims.  These
claims amount to some hundreds of thousands
of dollars.  It is because they are
liquidator's claims under CL Part 5.7B and not assets of the company, so that
they are not subject
to the Bank's floating charge that its only entitlement to
any part of them would be as an unsecured creditor, if its fully indebtedness
were not paid out by the proceeds of all the company's assets.
<P>

13   	It does not require an analysis of all the possible
combinations and permutations of outcomes to show that live issues remain
among
three classes of creditors as to who will ultimately receive the benefit if the
recovery claims are successful, depending upon
the extent of the recovery.  At
the moment, if there were no recovery, the $60,000, so far as not required for
further expenses of
the liquidation, would be available to the employee
creditors in partial satisfaction of their claims.  Mr Hall has recognised that
a fund of a maximum of $60,000 would not be sufficient realistically to conduct
the recovery claims.  He has said that he will conduct
these only if litigation
recovery insurance is available and he is investigating that possibility at the
moment.  One further matter
that remains to be done is to finalise his
statutory report to the Australian Securities and Investment Commission
("ASIC").  There
is little left for him to do by way of investigation, although
a few final checks remain outstanding.  A draft report has been prepared.
 The
report may be critical of the directors of the company when promulgated.
<P>

<b>The Law</b>
<P>

14   	The law has been emphatic that liquidators of companies
must be independent and must have the appearance of independence.
 The CL by ss
448C(1) and 532(2) disqualifies company officers and persons associated with
them and company auditors and persons
associated with them from office as
administrators or liquidators of the relevant companies.  It was suggested by
Mr Speakman that
the inclusion of those categories in the statute constituted a
legislative indication that no objection could arise from a person
having been
an investigating accountant to that person's subsequent appointment as an
administrator of the same company.  I do not
think that is so.  In my view, the
purpose of the disqualifications in those sections is to give additional
protection to the appearance
of independence by excluding persons in those
categories, whether or not they may be thought to have any conflict of
interests. 
In relation to all persons other than those named in the sections,
the Court must exercise its own judgment as to whether there is
independence
and an appearance of independence when the issue is raised.  
<P>

15   	Among the statements of this principle that are often
quoted is that of Sir Laurence Street, when a Judge of this Division,
in <b>Re
Allebart Pty Ltd (in Liq) </b> <a href="/cgi-bin/LawCite?cit=%5b1971%5d%201%20NSWLR%2024" title="View LawCiteRecord" class="autolink_findcases">[1971] 1 NSWLR 24</a> at 30:
<P>

"It is essential that the independence and impartiality of a liquidator should
at all times exist in point of substance, and be
manifestly seen to exist."
<P>

Earlier (at 28), his Honour, had warned, in relation to the situation of a
creditor encouraging and funding courses of action by
a liquidator:
<P>

"This involves, however, the ever-present risk that the liquidator may either
yield or appear to yield to partisan considerations
in submitting to the
urgings of a creditor in conjunction with accepting financial assistance from a
creditor."
<P>

These dicta were approved by Needham J in <b>Re Intercontinental Properties Pty
Ltd (in liq)</b>  <a href="/cgi-bin/LawCite?cit=%281977%29%202%20ACLR%20488" title="View LawCiteRecord" class="autolink_findcases">(1977) 2 ACLR 488.</a>
<P>

16   	Sir Nigel Bowen, when Chief Judge in Equity of this Court,
said in <b>Stewden Nominees No 4 Pty Ltd </b> <a href="/cgi-bin/LawCite?cit=%281975%29%201%20ACLR%20185" title="View LawCiteRecord" class="autolink_findcases">(1975) 1 ACLR 185</a> at 187:
<P>

"It is true that an auditor is appointed by the shareholders and is a watchdog
for the shareholders.  However, even conceding this,
it may be that the
interests of creditors will be in conflict with those of shareholders or
contributories (see <b>Re McLeod &amp; Co (India) Ltd</b> <a href="http://www.austlii.edu.au/au/cases/nsw/NSWStRp/1925/29.html" title="View Case" class="autolink_findcases_inserted">[1925] NSWStRp 29</a>;  <a href="/cgi-bin/LawCite?cit=%281925%29%2025%20SR%20%28NSW%29%20319" title="View LawCiteRecord" class="autolink_findcases">(1925) 25 SR (NSW)
319</a> at p 322) ....  It is important that a liquidator should be independent,
and should be seen to be independent (<b>Re Allebart Pty Ltd</b>  <a href="/cgi-bin/LawCite?cit=%5b1971%5d%201%20NSWLR%2024" title="View LawCiteRecord" class="autolink_findcases">[1971] 1 NSWLR
24</a>, at p 30)."
<P>

17   	And McClelland J (as his Honour then was) said in <b>Re
Capital Management Securities Ltd </b> <a href="/cgi-bin/LawCite?cit=%281986%29%204%20ACLC%20157" title="View LawCiteRecord" class="autolink_findcases">(1986) 4 ACLC 157</a> at 158:
<P>

"Mere grounds of convenience and the improbability of any wrongdoing having
occurred which may be discovered by a liquidator seem
to me to be elements
which are likely to be present in many cases, and are not the kind of matters
which should induce the Court
to depart from the legislative policy that
normally a liquidator should be, and be seen to be, entirely independent of the
pre-liquidation
activities of the company. 
<P>

I think that the views I have expressed as to the implementation of such a
policy are consistent with what was said by Kaye J in
a similar kind of
application in the Supreme Court of Victoria in <b>Re Photo Holdings Pty
Ltd.</b> (1977-1978) CLC  40-301."
<P>

18   	In <b>Re West Australian Gem Explorers Pty Ltd</b><i>
</i><a href="http://www.austlii.edu.au/au/cases/cth/FCA/1994/973.html" title="View Case" class="autolink_findcases_inserted">[1994] FCA 973</a>;  <a href="/cgi-bin/LawCite?cit=%281994%29%2013%20ACSR%20104" title="View LawCiteRecord" class="autolink_findcases">(1994) 13 ACSR 104</a> at 106 Burchett J in the Federal Court stated the
position as follows:
<P>

"So far as the question of bias is concerned, it goes without saying, that an
officer of the court, appointed to act as provisional
liquidator of a company,
should be above suspicion.  There must not be any bias, and there must not be
any appearance of bias.  Where
there are circumstances which might predispose a
person to favour particular interests, those circumstances must be taken into
account,
and the possibility of unconscious partiality should not be
overlooked.  As Sheppard J said in <b>Re Stadbuck Pty Ltd</b> (18 May 1993,
unreported): 
<P>

`Unquestionably there is a risk that an accountant may, however subconsciously,
tend to favour those who have originally consulted
him and may, the more
readily, fall in with arrangements already made prior to the filing of an
application for winding up....  [T]he
appearances need to be considered."'
<P>

19   	The principle has been endorsed in Courts of Appeal in
Victoria, Queensland and South Australia:  <b>Re National Safety Council of
Australia, Victorian Division</b> <a href="http://www.austlii.edu.au/au/cases/vic/VicRp/1990/2.html" title="View Case" class="autolink_findcases_inserted">[1990] VicRp 2</a>;  <a href="/cgi-bin/LawCite?cit=%5b1990%5d%20VR%2029" title="View LawCiteRecord" class="autolink_findcases">[1990] VR 29</a> at 34;<i> </i><b>Re Chevron
Furnishers Pty Ltd (in liq) (No 2)</b> [1995] 1 QdR 125 at 130; <b>Pradhan v
Eastside Day Surgery Pty Ltd</b>  <a href="http://www.austlii.edu.au/au/cases/sa/SASC/1999/256.html" title="View Case" class="autolink_findcases">[1999] SASC 256.</a>
<P>

20   	The principle is neither novel nor in origin Australian.
It had its roots in England in the 19th century, as the law relating
to the
liquidator of the modern company was developed, as illustrated in <b>In re Sir
John Moore Gold Mining Company </b> <a href="/cgi-bin/LawCite?cit=%281879%29%2012%20ChD%20325" title="View LawCiteRecord" class="autolink_findcases">(1879) 12 ChD 325</a>, where Jessel MR said at
330-1:
<P>

"Now, what is the meaning of the words `on due cause shewn' in the Companies
Act, 1862, s 141?  ...  The words must have some meaning,
but it is difficult
to define the extent to which they distinguish a case from one in which the
ordinary words `if the Court shall
think fit' are used.  I should say that, as
a general rule, they point to some unfitness of the person - it may be from
personal
character, or from his connection with other parties, or from
circumstances in which he is mixed up - some unfitness in the wide
sense of the
term."
<P>

And Thesiger LJ said at 332-3:
<P>

"Here I think that sufficient cause has been shewn, because the case is one in
which Mr <i>Dicker's </i>interests may conflict with his duty.  Even if no
claim had been made against him personally, his intimate connection with and
his
favourable disposition towards <i>Barclay</i>, against whom the principal
claim is made, make it improper that he should be continued as liquidator.  I
am, therefore, of opinion
that, apart from any impropriety in his conduct,
sufficient cause has been shewn for removing him."
<P>

21   	The principle to be applied where the issue arises in a
the context of a removal application is the same as in relation to
an
appointment:  <b>Advance Housing Pty Ltd (in liq) v Newcastle Classic
Developments Pty Ltd </b> <a href="/cgi-bin/LawCite?cit=%281994%29%2014%20ACSR%20230" title="View LawCiteRecord" class="autolink_findcases">(1994) 14 ACSR 230</a> at 234.  The way in which it is to
be applied on an application for removal was discussed by Santow J in that
case<b> </b>at 233-4 as follows:
<P>

"In <b>Re Chevron Furnishers Pty Ltd (rec and mgr apptd) (in liq); Queensland
Amalgamated Industries Pty Ltd v Harris</b>  <a href="/cgi-bin/LawCite?cit=%281993%29%2012%20ACSR%20565" title="View LawCiteRecord" class="autolink_findcases">(1993) 12 ACSR 565</a> [[1995] 1 QdR
125] the following passage appears at 570 [130]:
<P>

`...  The principle established by those cases is undoubted.  The liquidator
must have had no prior or other involvement either
with the company in
liquidation, its directors and major shareholders, or one of its creditors<b>
</b>such that he could not fairly and impartially carry out his duties as
liquidator requiring him, in broad terms, to act in the best
interests of the
general body of creditors ....'
<P>

If the foregoing statement were taken as precluding any association, it being
in the circumstances obiter, then even the most limited
prior involvement with
the company in liquidation could disqualify the relevant firm of accountants
from providing one of its partners
as liquidator.  In my judgment, the correct
balance is struck by permitting a liquidator to act as such even if there be a
prior
involvement with the company in liquidation, provided that involvement is
not likely to impede or inhibit the liquidator from acting
impartially in the
interests of all creditors or be such as would give rise to a reasonable
apprehension on the part of a creditor
that the liquidator might be so impeded
or inhibited.  In short the question should be whether there would be a
reasonable apprehension
by any creditor of lack of impartiality on the
liquidator's part in the circumstances, by reason of prior association with the
company
or those associated with it, including creditors, or indeed any other
circumstance."
<P>

In expressing the conclusion that the liquidators should not remain in office,
Santow J said at 238:
<P>

"This is with the result that, though nothing before me indicates that Ernst
&amp; Young have not acted with perfect probity, nonetheless
there is not that
necessary appearance of absence of conflict.  That in turn may lead to a
reasonable <i>apprehension</i> that the liquidator may be impeded or inhibited
from taking actions that might otherwise be taken in the interests of all
creditors
or would not take them with the necessary degree of impartiality.
That said, I do not wish to suggest that the reality would accord
with that
apprehension."
<P>

22   	The Court in exercising the general discretion conferred
on it will take into account what has been done and what remains
to be done in
respect of the liquidation and the impact in relation to that of any lack of
appearance of disinterest in the liquidator:
 see <b>Re Dunquil Pty Ltd (in
liq) </b> <a href="/cgi-bin/LawCite?cit=%281985%29%209%20ACLR%20950" title="View LawCiteRecord" class="autolink_findcases">(1985) 9 ACLR 950</a>; <b>Re Biposo Pty Ltd; Condon v Rodgers</b> (1995)
120 FLR 339;  <a href="/cgi-bin/LawCite?cit=17%20ACSR%20730" title="View LawCiteRecord" class="autolink_findcases">17 ACSR 730.</a>  Furthermore, the Court in exercising the
jurisdiction must take care that it does not allow itself to become an
instrument of those
who seek merely for their own purposes to disrupt the due
course of the liquidation which is being carried out by order of or under
the
supervision of the Court.  This was emphasised by Young J in <b>Biposo</b>.
<P>

<b>The Contentions</b>
<P>

23   	The primary case put on behalf of the plaintiffs is that,
by reason of his engagement in the company's affairs in the interests
of the
Bank, as the largest creditor and a secured creditor, and his advice to the
Bank as to the manner in which it might in that
situation best maximise its
recovery, combined with irregularities that have taken place as to the giving
of notices of meetings,
and with the unfortunate appearance created by the
recent attempt at a committee of inspection meeting after the commencement of
these proceedings, there is an appearance to or apprehension in the plaintiffs
of interest or partiality.  Mr Carpenter deposes to
the holding of that
apprehension.  The plaintiffs also rely upon the misleading terms of Mr Hall's
letter of 11 June 1999 and the
solicitors' letter written after the creditors
meeting:  see [3] and [10] above.  There are also allegations of actual bias,
including
in the attribution of the administrators' and liquidators' costs as
between the assets subject to the fixed charge and the floating
charge assets.
The case for the liquidators is that they have displayed no actual bias; in the
transactions they have in fact carried
out they have not favoured the Bank; as
administrators they to recommended a proposed DCA in which the Bank made a
considerable compromise
as to its rights and they have recently attempted to
negotiate a simultaneous settlement of the employees' claims and the recovery
claims that would have brought those claims to an end in a way that provided no
further funds for the Bank over and above the proceeds
of the assets the
subject of the Bank's fixed charge; and the plaintiffs have been guilty of
delay in bringing these proceedings.
 It is said on the liquidators' behalf
that I should find that Mr Carpenter was not telling the truth when he denied
receipt of the
notices of creditors meetings under the administration; that I
should not believe that he has any apprehension at all of any lack
of
impartiality on the liquidators' part, but that this is invented solely for the
purpose of deflecting the recovery claims proceeding
against the Carpenter
interests since the $60,000 in hand will be used up by the redoing of work
thrown away if these liquidators
are dismissed and the making of those claims
will be precluded.  As to the suggestion that they have delayed in making the
complaint,
Mr Fordyce, the plaintiffs' solicitor, points to the fact that
during the administration the plaintiffs were prepared to negotiate
with Messrs
Hall and Cuming as administrators; a successful effectuation of the
consequential DCA would have removed the necessity
of a liquidation.  The
liquidators having been appointed on 28 July 1999, the plaintiffs are unable to
point to any activity of theirs
during August, but say that the complaint was
made, as was appropriate, at the first creditors meeting after liquidation,
which was
held on 22 September, and that they moved thereafter to formalise
their complaint through solicitors and to bring proceedings on
20 October.
<P>

<b>Witnesses</b>
<P>

24   	Apart from Mr Taber, whom I have already mentioned, oral
evidence was given by Mr Carpenter, Matthew Turner of PWC's Newcastle
office,
who has assisted the liquidators in the course of the liquidation, and Mr Hall
himself.  Mr Turner and Mr Hall were both
careful witnesses who were quite
prepared to make concessions when this was appropriate.  Mr Carpenter's
evidence was not compromised
by cross examination.  His sworn evidence about
non-receipt of the notice of the second creditors' meeting was proved to be
wrong,
but he readily admitted that it was incorrect when it was pointed out to
him that the notice was on the bottom of the bundle of documents
which he had
received (not through the post but by it subsequently being handed to him).  I
am not prepared to find that his evidence
that he did not receive the notice of
the first meeting was untrue and I accept that he in fact holds the
apprehensions that he says
that he holds.
<P>

<b>Issues</b>
<P>

25   	In the light of the foregoing, the matters to be decided
are whether there is a reasonable basis to say that there is an appearance
of
lack of partiality, or for the holding of Mr Carpenter's apprehensions, and, if
so, whether in the light of all the circumstances
the Court's discretion under
CL s 503<b> </b>should be exercised to remove the liquidators.
<P>

<b>Conclusions</b>
<P>

26   	The question is not an entirely easy one.  So far as their
actual actions are concerned, in my view it cannot justly be complained
that
there has been any partiality in the way in which the liquidators have acted.
Even in relation to the attribution of costs as
between fixed and floating
charge creditors, whilst different decisions may have been made, I agree with
Mr Hall's view in evidence
that this is a grey area, and I do not see anything
substantially wrong with what was done.  A large part in value of the company's
assets has already been disposed of by the real property having been taken by
the Bank under its security, and some further realisation
of assets has
occurred.  However, there remains deal to be done.  Not only must the report to
ASIC be completed and forwarded but
final decisions must be taken as to whether
the recovery claims are to be pursued and, if they are pursued, as to how they
are to
be pursued and whether or not they are to be settled (and on what
terms), rather than litigated to completion.  The Bank as secured
creditor
under the floating charge, and also as a potential unsecured creditor, as well
as the employee creditors and the other unsecured
creditors, all retain a
potential interest in the funds recovered, and the distribution among them may
differ, depending on the form
and extent of any settlement of or recovery under
these claims.  The outstanding report to ASIC may detrimentally affect the
directors
of the company, including Mr Carpenter.  It should be said here that
it was conceded on behalf of the defendants by Mr Speakman of
counsel that the
person who held the apprehension of partiality need not be the plaintiff, and
also that, certainly in the circumstances
of this case, Mr Carpenter had a
sufficient interest to maintain these proceedings as one of the plaintiffs.  It
seems to me that
in reality the decision of whether or not to proceed with the
recovery claims will depend on the availability of insurance litigation
funding, whether the decision is ultimately made by these liquidators or other
liquidators; $60,000 (less the remaining necessary
expenses) is not a fund with
which these claims could be pursued to conclusion, and neither the Bank nor any
of the other creditors
have shown any interest in providing funding for such
litigation.  However, the liquidators, whoever they may be, will obviously
play
a crucial role in the commencement, continuation and settlement of the recovery
claims and the distribution of any proceeds
that result from them.  
<P>

27   	It has been contended on behalf of the liquidators that I
should draw the inference that the whole or substantially the whole
of the
available fund would be consumed by repeat work to be done by the replacement
liquidators.  I do not accept that that is established.
 The inference can
easily be drawn that there would be some repeat work, but the work that has
been already done in the identification
and collection of assets need not be
repeated.  It is not clear how much additional work it would be necessary for
new liquidators
to do in checking and completion of the report to ASIC.  As I
have said, that there would be some repeat work on the appointment
of new
liquidators is inevitable, but, on the evidence available, its quantification
is completely at large, and it is not possible
to infer that that work would be
considerable or would consume the whole or substantially the whole of the
available fund.  
<P>

28   	It is also submitted, as noted above, that there was such
delay and in such circumstances by the plaintiffs in commencing
these
proceedings that relief ought not be granted.  I am not prepared to be critical
of the plaintiffs for the course they followed
during the administration.  Then
they did not object to the identity of the administrators, but rather, during
that constricted period,
and while there appeared to be a hope of saving the
Company and its enterprise, negotiated and attempted to implement a DCA.
Similarly,
I do not regard from 6 September, when Mr Carpenter publicly
complained of Mr Hall holding the office, to 20 October, when the summons
was
issued as an undue delay in the circumstances of this case, bearing in mind
that correspondence was taking place the while. 
The delay during August is
harder to justify, but in all the circumstances I do not think it should
preclude relief in this case.
<P>

29   	It has been suggested that the plaintiffs' sole motive is
to disrupt the recovery claims, so that to accede to their application
would be
to succumb to the sort of manipulation referred to in <b>Biposo.  </b>I have
already said in [24] that I accept Mr Carpenter's evidence of apprehension.  I
also accept his word that the motive is not
disruption.  That acceptance is
assisted by the fact that I do not think the likelihoods of pursuit of the
recovery claims will be
much changed by the identity of the liquidators.
<P>

30   	I am thus faced with the situation that there will be some
detriment to creditors from substitution of liquidators at this
stage, but it
is impossible to say how much, and I do not conclude that it will be great.  On
the other hand, it is my view that
the appearance of lack of independence
flowing from the liquidators' actions as the Bank's investigating accountants,
particularly
when coupled with the events since that time, is quite real.
Those events include the omission from notices of meeting of Mr Hall's
previous
involvment with the company, the sending of the misleading communications
referred to in [3] and [10] and the fact of and
circumstances surrounding the
calling of the meeting of the committee of inspection on 22 October 1999.  The
occurrence of any detriment
to the creditors is unfortunate, but, on the other
hand, the courts have emphasised the importance of the reality and appearance
of the independence of liquidators and, if reality is to be given to those
principles, must be prepared to act when they are breached.
 In all the
circumstances, I have formed the view that the appropriate resolution in this
case is that the liquidators should  cease
to hold that office.  I shall, if
necessary, order that they be removed.  Mr Cuming did not act as investigating
accountant, but
he is Mr Hall's partner in PWC and has acted in concert with
him as administrator and liquidator, and should not remain in office.
<P>

31   	Sometimes it is possible to cure problems such as the
present when they arise by appointing an additional liquidator to deal
with the
particular subject matter in relation to which lack of the appearance of
independence is relevant.  It has been objected
on behalf of the plaintiffs in
this case that that solution is not available because here the liquidators have
the status of liquidators
in a creditors' voluntary winding up rather than
liquidators appointed by the Court.  I do not have to decide upon the
correctness
of that interesting proposition, because in this case the lack of
appearance of independence has some relevance to virtually all
the matters that
remain to be dealt with by the liquidators, so that such a solution would not
solve the problem.
<P>

32   	When I say that I shall order the removal of the
liquidators if necessary, I have in mind that in <b>Associated Housing</b>
Santow J afforded the liquidators an opportunity to retire, rather than be
dismissed.  That was in accordance with a request made
to his Honour before the
delivery of judgment.  No such request has been made of me in this case, but I
should be prepared to consider
such a request, if now made, in the light of any
submissions made by the plaintiffs.
<P>

<center>...oOo...</center>
<P>


<P>

LAST UPDATED: 	14/12/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1046.html</i><br>
</p>
</small>
</body>
</html>
