<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Regina v Mailes [1999] NSWSC 942 (10 September 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 942</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+942 or 1999+NSWSC+942">Noteup</a>]
[<a href="942.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Regina v Mailes [1999] NSWSC 942 (10 September 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_942.html-->
<!--sino date 10 September 1999-->


<P>Last Updated: 17 September 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	REGINA  v MAILES  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/942.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 942</a>
<P>

CURRENT JURISDICTION: 	Criminal
<P>

FILE NUMBER(S): 	70037/97
<P>

HEARING DATE{S): 	10 September 1999
<P>

JUDGMENT DATE: 	10/09/1999
<P>

 PARTIES: 
<P>

The Crown
<P>

Graham Edward Mailes
<P>

JUDGMENT OF: 	Newman J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

P Conlon (Crown)
<P>

T Golding (Prisoner)
<P>

SOLICITORS: 
<P>

Director of Public Prosecutions (Crown)
<P>

Legal Aid Commission of NSW (Prisoner)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

Head sentence of 25 years constructed as follows: minimum term of 18 years
penal servitude commencing 28 march 1996 and expiring
27 March 2014. An
additional term of 7 years commencing 28 March 2014 and expiring on 27 March
2021
<P>

JUDGMENT: 
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>CRIMINAL DIVISION</b>
<P>

<b>NEWMAN J</b>
<P>

<b><u>FRIDAY, 10 SEPTEMBER 1999</u></b>
<P>

<b><u>70037/97  -  REGINA  v  Graham Edward MAILES</u></b>
<P>

<b>SENTENCE</b>
<P>

1   	<b>HIS HONOUR:</b>  At Wagga Wagga on 19 May this year,
following a trial which had commenced on 27 April, a jury found the prisoner
Graham Edward Mailes
guilty of the murder of Kim Louise Meredith at Albury on
23 March 1996.
<P>

2   	Earlier in the year, in February in Sydney, another jury,
following a hearing which lasted a number of days, found the prisoner
not unfit
to stand trial. I was the presiding judge in both of these proceedings. The
prisoner is now to be sentenced.
<P>

3   	The maximum penalty prescribed by the <b>Crimes Act</b> for
the crime of murder is life imprisonment. However that penalty is not
mandatory. It is now my duty to find the facts of the matter
consistent with
the jury's verdict. In so doing I have utilised the criminal standard of proof,
namely, proof beyond reasonable doubt.
<P>

4   	I should say at the outset that the Crown case presented at
the trial was overwhelming. I have no doubt that the jury's verdict
was a
correct one.
<P>

5   	I turn to the facts as I find them. As of 23 March 1996 Kim
Meredith, a nineteen-year old woman, was a student at Latrobe University
studying Business Management/Hospitality. Additionally, she, like many students
of her age, had a part-time job. Hers was as a casual
bar assistant at the
Commercial Hotel in Albury.
<P>

6   	On the evening of 22/23 March 1996 she worked a shift at
the hotel which commenced at 8.30 pm and finished after midnight.
At the
completion of the shift she drove her car to another Albury hotel, the
Terminus, where she socialised with friends. Earlier
in the evening she had
indicated to other friends that she would see them at another Albury hotel
called Sodens.
<P>

7   	The Terminus Hotel is about 150 metres from the Commercial
and Sodens is about 600 metres north from that establishment ie
450 metres from
the Terminus Hotel.
<P>

8   	Eventually Kim Meredith departed the Terminus Hotel, but
the exact time of that departure is not known. What is certain is
that she
departed on foot. Her car was still parked, when located, near the Terminus
Hotel later on 23 March. That she was heading
towards Sodens Hotel is to be
inferred from where her body was found and her previous stated intentions.
<P>

9   	Her body was found in the yard of premises on the corner of
Swift and Macauley Streets, Albury. Sodens Hotel is located on
the north-west
corner of the urban block encompassed by David, Wilson, Swift and Macauley
Streets. A reasonably direct route from
the Terminus Hotel to Sodens Hotel
would involve a passage west down Dean Street, a turn north at Macauley Street,
then a turn to
the west at Wilson Street and thence to Sodens Hotel.
<P>

10   	The prisoner was observed alone at the Terminus Hotel,
leaving that establishment somewhere between 1.45 am and 2 am. Earlier
in the
evening he had been in the company of a friend, one Damian Bennett. Together
they had visited a number of hotels, parting
company sometime around midnight
near a hot dog stand by QEII Square in Dean Street where that street intersects
the Hume Highway.
<P>

11   	The prisoner was observed to be heading west in Dean
Street shortly after 2 am. He was next seen attempting to use an automatic
teller machine at the Hume Building Society at 2.40 am. The card he was using
to unsuccessfully activate the machine belonged to
Kim Meredith.
<P>

12   	Kim Meredith's body was found by a patrolling security man
at about 3 am at the premises I have already mentioned. She was
naked but for
her socksand her throat had been cut. She suffered two deep incised wounds to
her neck. Such was the severity of the
wound to the left side of her neck that
it transected the left common carotid artery, left vertebral artery and left
jugular vein,
the oesophagus and completely transected the trachea exposing and
transecting the cervical spinal cord.
<P>

13   	She was killed under a back window of the premises in the
yard, dragged behind a lattice where some of her clothes were cut
from her and
others removed. She was then placed against a door where she was found. Items
of her clothing were found at a variety
of locations both within the boundary
of the premises where she was killed and in adjoining premises. As I have said
she was naked
save for her socks.
<P>

14   	Plainly the prisoner intercepted her on her journey,
forced her into the subject premises and then brutally attacked her causing
the
principal injuries which I have detailed together with other minor wounds
resulting, of course, in her death.
<P>

15   	Whether the prisoner's motivation for his attack was for
sexual gratification or theft is a matter for conjecture. There was
no positive
evidence of sexual interference. However, the prisoner did remove her clothes
and left her propped up against a door.
Certainly the prisoner did steal not
only her credit card but also her watch, which was subsequently discovered at
his aunt's place
at Forbes, where he normally resided. The prisoner did not
know his victim. The prisoner did not know his victim.
<P>

16   	However, one thing is clear. The prisoner intercepted his
victim, forced her into the premises, and then used a knife which
he had
purchased on 21 March in Albury to brutally murder her.
<P>

17   	Until recently the prisoner has not demonstrated any
contrition for his crime. Not only that, he sought to evade the consequences
of
crime by falsely claiming that he had witnessed another person committing it
and identified that person as one Tony Lamont. Mr
Lamont and the prisoner had
previously been residents of a refuge for persons with intellectual
disabilities and behavioural problems,
known as Woodstock.
<P>

18   	He also earlier concocted an alibi which, when
demonstrated to be false, he came out with his allegation attempting to
implicate
Mr Lamont. His allegations relating to Mr Lamont were contained in a
video-taped record of interview with police. In my view they
were patently
false and the jury rightly rejected them.
<P>

19   	In earlier interviews the prisoner had (as he later
admitted to police) falsely attempted to establish an alibi. It was after
the
falsity of that alibi was clearly demonstrated to him by police that he made
his equally false allegations concerning Mr Lamont.
He did not give evidence at
the trial.
<P>

20   	Objectively, the facts show that this was a brutal murder.
Paramount, in my view, amongst a number of disturbing features
relating to the
commission of this crime is the predatory nature of the attack which was
carried out. I shall return to this feature
later in these remarks.
<P>

21   	Before turning to the subjective features relating to the
prisoner I should record that the Crown conceded in the sentencing
proceedings
that this case does not fall within the category of the worst type of case of
murder and thus the sentencing option of
life imprisonment is not available to
the court. 
<P>

22   	Such was the brutal and predatory nature of the attack
that I had great difficulty in accepting that concession. However,
having
considered what fell from the Court of Criminal Appeal in <b>R v Twala</b>,
unreported, 4 November 1994, particularly Badgery-Parker J at 9-12) which was
affirmed by that court in <b>R v Fernando</b>, unreported, 14 April 1999 at
148, I have concluded that the prisoner's intellectual deficits (to which I
shall refer in more detail
later in these remarks) are such as to provide
mitigation in the objective sense which takes this case, serious as it is, out
of
the category of the worst type of case.
<P>

23   	I turn then to the subjective material adduced relating to
the prisoner. First, his age. He is a young man, now aged twenty-six,
having
been born on 22 February 1973. This is a matter I have taken into account.
<P>

24   	Second, his criminal antecedents. Excluding driving
offences, they relevantly include a number of convictions for assault
and for
carry a cutting instrument. While the assaults referred to in his criminal
record, of course, stand nowhere near this crime
in terms of the criminal
calendar they, plus his convictions for carrying a cutting instrument are
indicative that this crime should
not be regarded as an uncharacteristic
aberration on the prisoner's part. See <b>Veen v R (No 2)</b> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1988/14.html" title="View Case" class="autolink_findcases_inserted">[1988] HCA 14</a>;  <a href="/cgi-bin/LawCite?cit=%281988%29%20164%20CLR%20465" title="View LawCiteRecord" class="autolink_findcases">(1988) 164 CLR
465</a> at 477.
<P>

25   	Third, his intellectual capacity. As I have said I was not
only the trial judge but also the judge at the proceedings relating
to his
fitness to stand trial. Tendered during the course of the submissions made on
sentence are reports from Associate Professor
Susan Hayes, an extract from her
evidence in the fitness proceedings, a report from Thelma Buchanan,
psychologist, relating to her
assessment of the prisoner as at 15 March 1991
and an extract from the evidence of Dr Bruce Westmore, psychiatrist, at the
fitness
proceedings. All are agreed that the prisoner has intellectual
disabilities. There is disagreement as to the level of those disabilities.
<P>

26   	Prof Hayes places him in the category of being moderately
intellectually disabled but believes he functions at even lower
level of
disability, namely in the severe range. Thelma Buchanan places him within the
mild range of intellectual disability, one
higher than Prof Hayes. Dr Westmore,
while agreeing that he was in the category of being intellectually disabled,
placed his ability
to function in the community at a higher level than that of
Prof Hayes stating that the prisoner was predominantly independent.
<P>

27   	Having had the advantage of seeing and hearing the
evidence of Prof Hayes and Dr Westmore at the fitness proceedings, I, as
I
believe the jury there did (as is indicated by their finding) prefer the
analysis of Dr Westmore.
<P>

28   	Having observed the conduct of the prisoner during both
proceedings and having observed his attempt to exculpate himself by
calculated
mendacity, I find that the prisoner while moderately intellectually disabled is
a person who possesses an innate cunning
which makes him a potential danger to
the community when at large. All the evidence relating to his intellectual
capacity indicates
that his prospects of rehabilitation are poor.
<P>

29   	Fourth, he has led a life of privation and loss. His
sister gave evidence which I accept, of the devastating effect upon the
prisoner of the murder of his father to whom he was close, when the prisoner
was aged but eleven years.
<P>

30   	He has spent a considerable amount of his life in
institutions. He was in fact, as his antecedents show, committed to Woodstock
by the Children's Court. He has spent a lot of his life living in the open and,
as I have said, his history as contained in the documents
tendered on sentence
indicates that his past life has been one containing a lot of privation. I take
this into account.
<P>

31   	Fifth, he does have the support of his sister, Mrs Corner,
and of Mrs Hope who is a care assistant from the Department of
Community
Services who has had a long association with the prisoner. Also, he has the
support of Mrs Robinson who has known not only
the prisoner but his family for
many years. I take their support into account.
<P>

32   	His antecedents, in my view, counter-balance the
suggestion made by Mrs Hope that the commission of this crime is entirely
out
of character.
<P>

33   	As I have said, with one exception, the prisoner has
expressed no contrition for his actions. However, after the verdict Mrs
Hope
deposed that he expressed sympathy to her for both the victim and her parents.
However, this expression of sympathy was done
without any admission of his
guilt for the crime and must be weighed against the actions he took immediately
after the commission
of the murder. In my view, having balanced these matters
up, I conclude that he is not truly contrite for his actions.
<P>

34   	Because of his intellectual deficits I agree with the
submission made by Mr Golding of counsel on his behalf, that general
deterrence
is not a factor of great importance here. See what fell from the Court of
Appeal in <b>R v Scognamiglio</b>  <a href="/cgi-bin/LawCite?cit=%281991%29%2056%20A%20Crim%20R%2081" title="View LawCiteRecord" class="autolink_findcases">(1991) 56 A Crim R 81.</a> However, this
consideration is somewhat muted by what fell from the High Court in <b>Veen No
2</b>. In <b>Twala</b>, Badgery-Parker J stated the law in this way at p 8:
<P>

<i>"It needs to be made clear, however, that our law does not permit the
imposition of a sentence of preventive detention, and concern
that a prisoner
upon release may represent a danger to the community cannot justify the
imposition of a sentence which is disproportionate
to the gravity of the
crime."</i>
<P>

35   	Then, quoting from <b>Veen (No 1)</b> he said:
<P>

<i>"The risk of danger to the community, if established as in my view it is
established here, may nevertheless be taken into account
in determining what
weight may be given to subjective factors which otherwise call for leniency:
Veen (No 2); Garforth at pp11-13."</i>
<P>

36   	I have, of course, taken into account that the law does
not permit the imposition of sentences of preventative detention.
<P>

37   	I have read the victim impact statements provided by the
victim's parents. Those statements underscore the depth of the tragic
affect
upon the Meredith family which has flowed from this brutal crime. However, for
reasons detailed by Hunt CJ at CL  in <b>R v Previtera</b> unreported, 27 May
1997 I cannot take into account the contents of the victim impact statements in
coming to my conclusion as to
what is the appropriate sentence in this case.
<P>

38   	The predatory nature of this slaying places it high in
terms of criminal culpability. As I have indicated not only do I believe
that
the prisoner has poor prospects of rehabilitation but will remain a danger to
the community whilst at large. 
<P>

39   	I have, as I have indicated, taken fully into the
statement of the law by the High Court in this regard in <b>Veen No 2</b> in
determining sentence.
<P>

40   	The sentence will date from 28 March 1996 the date when
the prisoner entered custody. The prisoner's intellectual disabilities
are such
as will require considerable supervision on release for a long period of time.
I thus believe that special circumstances
exist for the purposes of the
<b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/" class="autolink_findacts">Sentencing Act</a></b> and have adjusted the relationship between the minimum
and additional terms accordingly.
<P>

41   	I impose a head sentence of twenty-five constructed as
follows: a minimum term of eighteen years penal servitude commencing
on 28
March 1996 and expiring on 27 March 2014; an additional term of seven years
commencing on 28 March 2014 and expiring on 27
March 2021.
<P>

LAST UPDATED: 	16/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/942.html</i><br>
</p>
</small>
</body>
</html>
