<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Diamond Hill International Pty Limited v Xu [1999] NSWSC 783 (26 July 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 783</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+783 or 1999+NSWSC+783">Noteup</a>]
[<a href="783.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Diamond Hill International Pty Limited v Xu [1999] NSWSC 783 (26 July 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_783.html-->
<!--sino date 26 July 1999-->


<P>Last Updated: 4 October 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Diamond Hill International Pty Limited v Xu  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/783.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 783</a>
<P>

CURRENT JURISDICTION: 	Equity Division 
<P>

FILE NUMBER(S): 	2017/98
<P>

HEARING DATE{S): 	26 July 1999
<P>

JUDGMENT DATE: 	26/07/1999
<P>

 PARTIES: 
<P>

Diamond Hill Internation Pty Limited (P)
<P>

Humphrey Xu (D)
<P>

JUDGMENT OF: 	Master McLaughlin      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr. S. W. Climpson (P)
<P>

Mr. P. Huntington (D)
<P>

SOLICITORS: 
<P>

Donald Junn (P)
<P>

Eric Fung &amp; Co (D)
<P>

CATCHWORDS: 
<P>

ACTS CITED: 
<P>

DECISION: 
<P>

JUDGMENT: 
<P>

SUPREME COURT OF
<P>

NEW SOUTH WALES
<P>

EQUITY DIVISION
<P>

<b>MASTER McLAUGHLIN</b>
<P>

<i>Monday, 26 July 1999</i>
<P>

<b>2017/98	DIAMOND HILL INTERNATIONAL PTY LIMITED   -v-   HUMPHREY JIAN
XU</b>
<P>

<b>JUDGMENT</b>
<P>

1   	<b>MASTER:</b>   There is presently before me a notice of
motion filed on behalf of the defendant, Humphrey Xu, on 5 July 1999.  That
notice of
motion seeks, substantively, an order that the orders which were made
by myself on 1 July 1999 be set aside.  
<P>

2   	It is necessary for me to refer, at least in summary, to
the procedural history of this matter.  On 10 May 1999 Bergin J, sitting
as
duty Judge in the Equity Division, delivered an oral ex tempore judgment after
a hearing occupying three days.  
<P>

3   	At that hearing each of the plaintiffs and the defendant
was represented by Senior Counsel and Junior Counsel.  Her Honour
indicated
that the plaintiff was entitled to orders for relief, including injunctive
relief, in relation to a property known as 52
Sugarloaf Crescent, Castlecrag.
The formal orders were pronounced by her Honour the following day, 11 May 1999,
apparently after
counsel had prepared short minutes of order and had agreed
upon the terms of those short minutes as reflecting the orders which on
10 May
had been indicated by her Honour.  The orders were entered on 13 May 1999.  
<P>

4   	I have been informed that at the conclusion of her Honour's
reasons for judgment on 10 May an application was made to her Honour
by the
defendant for a stay.  Her Honour was disposed to grant a stay only until 13
May.  In the meantime, however, on 12 May 1999
the defendant filed a notice of
motion. That notice of motion sought substantively the following orders:
<P>

(1)	The orders by Bergin J made on 10 May 1999 be set aside or alternatively
varied pursuant to Part 40 rule 9.
<P>

(2)	Alternatively that the orders made by Bergin J on 10 May 1999 be stayed for
a period of 21 days.
<P>

5   	I have been informed that the defendant also has instituted
an appeal (described as a holding appeal) but that no application
has been made
to the Court of Appeal for a stay of the orders of her Honour.  The notice of
motion filed by the defendant on 12 May
1999 was returnable on 27 May 1999 and
thereafter was adjourned on several occasions by the Registrar.
<P>

6   	The matter was on 17 June 1999 stood over by the Registrar
to 1 July 1999.  On that latter date the plaintiff, Diamond Hill
International
Pty Limited, was represented but the defendant was not represented upon its own
motion.  The plaintiff therefore had
the matter referred to the Duty Master in
the Equity Division for the purpose of having the motion dismissed.
<P>

7   	I was the Duty Master on that day and in the absence of any
representative of the defendant in support of the defendant's own
notice of
motion I made the following orders dismissing that notice of motion, which the
plaintiff requested should be made:
<P>

(1)	Order that the notice of motion filed by the defendant on 12 May 1999 be
dismissed.
<P>

(2)	Order that the defendant pay the costs of the plaintiff of the aforesaid
notice of motion, such costs to be on the indemnity
basis.
<P>

(3)	Grant leave to the plaintiff to proceed forthwith to assessment of the
foregoing costs.
<P>

8   	The defendant now seeks to have those orders set aside.  A
considerable quantity of affidavit and other material has been placed
before
the Court upon the hearing of the present application.  However the material
relevant to that application, being material
essential to the defendant for the
application to succeed, is skimpy in the extreme.  It consists of no more than
two sentences in
the affidavit of Mr George Yip, the solicitor for the
defendant, sworn on 23 July 1999.  In paragraph 26(d) Mr Yip says:
<P>

"After the appearance of 17 June I received advice from counsel that the matter
had been next listed for 1 July.  However, I overlooked
this and such oversight
was not corrected by my discussions with counsel and we both proceeded as if
this matter was next beforethe
[<i>sic</i>] court on 2 July also."
<P>

9   	No evidence has been placed before the Court as to why Mr
Yip did not make some record of the matter being listed on 1 July,
and,
significantly, no evidence has been placed before the court as to why Counsel
who had informed Mr Yip of the date was not present
on 1 July.  I have been
told from the Bar table by Counsel presently appearing before me that he also
overlooked the date.
<P>

10   	It has been submitted that, if the Court does not set
aside the order made on 1 July dismissing the application of the defendant,
the
defendant will be precluded from pursuing the application in accordance with
the provisions of Part 40 rule 9.  That Part provides
for the setting aside or
varying of a judgment or order, and specifically empowers the Court to set
aside or vary a judgment where
notice of motion for the setting aside or
variation is filed before the entry of judgment.
<P>

11   	In the present circumstances the notice of motion seeking
the setting aside or variation of the orders of Bergin J outlined
on 10 May and
pronounced on 11 May was filed on 12 May before the entry of judgment, which
took place on 13 May.  
<P>

12   	I would not wish to pre-empt any decision by either Bergin
J or any other Judge who might be the Duty Judge in the Equity
Division, but
the submissions which have been made to me concerning the likelihood of her
Honour's orders being set aside or varied
seem to me to proceed with scant
regard to the nature of the hearing before her Honour, to the fact that the ex
tempore judgment
covers some 32 pages, and to the fact that her Honour has the
assistance of two Senior Counsel and two Junior Counsel at the hearing
before
her.
<P>

13   	To suggest, as has now been done on behalf of the
defendant, that her Honour might have overlooked certain matters and that
the
circumstances had changed between the delivery of her Honour's judgment on 10
May and the filing of the notice of motion on 12
May, does not in my view
constitute a strong ground, or indeed any ground at all, for a conclusion that
it is likely that the defendant
would succeed in obtaining the setting aside or
variation of her Honour's orders. But, in any event, there is no procedural bar
to
the defendant seeking a stay of her Honour's orders either from the Duty
Judge in the Equity Division or from the Court of Appeal.
 It seems to me to be
not without significance that the defendant, having instituted an appeal, has
chosen not to seek a stay from
the Court of Appeal.
<P>

14   	Even if the dismissal of the defendant's notice of motion
of 12 May 1999 remains in force the defendant is not precluded from
seeking a
stay either in the Division or from the Court of Appeal.  
<P>

15   	I have referred to the skimpiness of the evidence
explaining the absence of the defendant from being represented upon the
hearing
of its own application.  In truth, there is no adequate explanation whatsoever.
Were I to consider that there was any substance
in the notice of motion of 12
May or any likelihood that it would succeed, it may well be that I would set
aside my orders dismissing
that notice of motion.  I can see no such substance.
There is no real explanation for the absence of the representation of the
defendant
on 12 July. I propose to dismiss the present application.
<P>

I make the following orders:
<P>

(1)	I order that the notice of motion filed by the defendant on 5 July 1999 be
dismissed.
<P>

(2)	I order the defendant pay the costs of the plaintiff of the aforesaid
notice of motion.
<P>

(3)	I grant leave to the plaintiff to proceed forthwith to assessment of the
foregoing costs.
<P>

LAST UPDATED: 	30/09/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/783.html</i><br>
</p>
</small>
</body>
</html>
