<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Bayeh -v- State Government of New South Wales and Anor [1999] NSWSC 1070 (3 November 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 1070</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+1070 or 1999+NSWSC+1070">Noteup</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Bayeh -v- State Government of New South Wales and Anor [1999] NSWSC 1070 (3 November 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_1070.html-->
<!--sino date 3 November 1999-->


<P>Last Updated: 4 November 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Bayeh -v- State Government of New South Wales &amp; Anor  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1070.html" title="View Case" class="autolink_findcases">[1999]
NSWSC 1070</a>
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	11915 of 1999
<P>

HEARING DATE{S): 	22 October, 1999
<P>

JUDGMENT DATE: 	03/11/1999
<P>

 PARTIES: 
<P>

Louis BAYEH - Plaintiff
<P>

State of New South Wales - First Defendant
<P>

Parole Board of New South Wales - Second Defendant
<P>

JUDGMENT OF: 	Ireland J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

C Waterstreet - Plaintiff
<P>

P Saidi - Defendants
<P>

SOLICITORS: 
<P>

John B Hajje &amp; Associates - Plaintiff
<P>

I V Knight, Crown Solicitor - Defendants
<P>

CATCHWORDS: 
<P>

Self-incrimination - privilege as regards answers, documents etc. given in
evidence before Independent Commission Against Corruption
and Royal Commission
(Police Service) - use which Parole Board may make of such evidence when
tendered on behalf of applicant for
release on parole - waiver of privilege by
tender of transcript of evidence - declaration that Parole Board not entitled
to view
adversely to applicant for release on parole such evidence tendered by
him refused.
<P>

ACTS CITED: 
<P>

Independent Commission Against Corruption Act 1989 - S.37
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/" class="autolink_findacts">Royal Commissions Act 1923</a> - <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S.17.</a>
<P>

The <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/" class="autolink_findacts">Royal Commission (Police Service) Act 1994</a> - <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s5.html" class="autolink_findacts">Ss. 5</a>,<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s6.html" class="autolink_findacts">6</a>,<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s7.html" class="autolink_findacts">7</a>,<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s9.html" class="autolink_findacts">9</a> and <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s12.html" class="autolink_findacts">12</a>.
<P>

DECISION: 
<P>

Amended Summons dismissed with costs.
<P>

JUDGMENT: 
<P>

THE SUPREME COURT
<P>

OF NEW SOUTH WALES
<P>

COMMON LAW DIVISION
<P>

IRELAND J
<P>

<u>Wednesday, 3 November,, 1999</u>
<P>

<b><u>011915/99 - Louis BAYEH -v- State Government of New South Wales &amp;
Anor</u></b>
<P>

<b><u>JUDGMENT</u></b>
<P>

1   	HIS HONOUR:  The plaintiff, Mr Louis Bayeh, proceeds by way
of Amended Summons filed in court on 24 August, 1999, seeking relief
in the
nature of declarations and orders against the State of New South Wales, first
defendant, and Parole Board of New South Wales,
second defendant.
<P>

2   	The second defendant has filed a consenting appearance.
<P>

3   	Counsel for the plaintiff and counsel for the first
defendant are in agreement that the only issue for determination by the
Court
is the question raised in paragraph 1(a) of the Amended Summons which seeks, on
behalf of the plaintiff, a declaration in the
following terms:-
<P>

"1(a).	A declaration that the Parole Board took into account matters of
evidence that it was not entitled to take into account...".
<P>

4   	The declaration which is sought, relates to hearings before
the Parole Board (the second defendant), concerning the plaintiff.

<P>

5   	The hearings took place on 25 June and 2 July of this year
and it is anticipated that the question of the plaintiff's release
on parole
will come back before the Parole Board on 12  November next.
<P>

6   	Determination by this Court of the question raised in the
declaration now sought, will, it is said, bear upon the evidence
to be adduced
or relied upon at the pending hearing.
<P>

7   	The background of relevant events is the following.
<P>

8   	His Honour Judge Stewart, sitting as an Acting Judge of the
District Court, sentenced the plaintiff to a term of 4 years imprisonment
which, following a finding of special circumstances within the meaning of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s5.html" class="autolink_findacts">S
5(2)</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/" class="autolink_findacts">Sentencing Act</a></b>, 1989, was comprised of a minimum term of 2
years with an additional term of 2 years.
<P>

9   	It is common ground that in determining this sentence, the
sentencing judge reduced the overall sentence by 1 year to take
into account
assistance given by the plaintiff to police, pursuant to the relevant
provisions of the <b>Crimes Act</b>, 1900.
<P>

10   	The sentence above referred to was passed on 14 November,
1997, but was deemed to have commenced in July, 1997.  The minimum
term
accordingly expired in July, 1999.
<P>

11   	There are, however, two further outstanding charges:
<P>

(a)	A charge of demand money with menaces, relating to events occurring in the
late 1980's, in regard to which the plaintiff was
granted bail of $10,000.  The
plaintiff was apparently on bail at some stage following this grant of bail,
and;
<P>

(b)	A charge of conspiracy to supply prohibited drugs, regarding which the
plaintiff was granted self-bail.
<P>

12   	To both charges (a) and (b), the plaintiff has entered
pleas of not guilty.  They have not been dealt with by the court and
are for
mention on 30 November next.
<P>

13   	During the course of the first Parole Board hearing, the
Chairman, in the words of Mr Waterstreet, counsel for the plaintiff,
" - raised
the prospect of his own motion whether the Parole Board would have access to
the evidence Mr Bayeh gave before the Royal
Commission (Police Service) and
ICAC".
<P>

14   	Mr Waterstreet stated that in the proceedings before the
Police Royal Commission the plaintiff, having taken objection to
giving
evidence on the basis of self incrimination, gave "many days" of evidence "...
indicating who he bribed and matters of notoriety
in relation to activities in
Kings Cross and other areas".  Before ICAC the plaintiff, having once again
taken objection, gave evidence
relating to the inquiry into Mr Gibson, a
parliamentarian.
<P>

15   	The plaintiff was represented by his solicitor, Mr Hovan,
before the Parole Board on each occasion.  In placing the evidence
given by the
plaintiff at both the Police Royal Commission and ICAC, before the Parole
Board, Mr Hovan sought to qualify the tender
of his client's evidence as being
receivable by the Parole Board to be used in favour of the plaintiff but, in
his submission per
force of statutory protection, it could not be used against
the plaintiff, in the sense that it was not open to the Parole Board
to draw an
inference adverse to the plaintiff from the tendered evidence.
<P>

16   	The submission was made by Mr Waterstreet that on any
reading of the interchange between the Parole Board and Mr Hovan, the
evidence
was used adversely or, as I understand the submission, was being used by the
Parole Board to consider, in an adverse light,
the release to parole of the
plaintiff.
<P>

17   	The jurisdiction of this court to make the declaration
sought, which is in the nature of an interlocutory step, designed,
so it is
submitted, to assist the parties in the further determination of the release of
the plaintiff to parole is sought as an
exercise of the Court's discretion.
<P>

18   	Certainly this application is not founded upon a right of
appeal, arising pursuant to the <b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/" class="autolink_findacts">Sentencing Act</a></b>, 1989, which provides in
S 23 for applications to the Court of Criminal Appeal for directions where the
Board has decided that a
prisoner should not be released on parole and the
prisoner alleges that the decision of the Board was made on information which
was
false, misleading or irrelevant 
<P>

(S 23(1)(a) and (b)).
<P>

19   	Mr Saidi, counsel for the first defendant, in his helpful
written submissions, has made reference to the appeal provisions
arising under
S 23 and notes that "... arguably (the plaintiff) seeks to circumvent the
appropriate appeal procedure by the bringing
of this application, at least in
relation to some of the grounds relied upon".  This submission was made at a
time when some six
declarations and orders, as set out in the Amended Summons,
were apparently in issue.  Since that time, the relief sought by the
plaintiff
has been confined to a single issue, and that issue even further refined in the
manner to which I shall shortly refer.
<P>

20   	No argument to the contrary of this Court having
jurisdiction has been advanced by the first defendant and in the circumstances,
it seems to me that this Court should offer assistance by resolving the issue
as presently presented.
<P>

21   	<b>The Independent Commission Against Corruption Act</b>,
1989 relevantly provides in S 37 as follows:-
<P>

"37.	<b>Privilege as regards answers, documents etc</b>
<P>

(1)	A witness summoned to attend or appearing before the Commission at a
hearing is not entitled to refuse:
<P>

(a)	to be sworn or to make an affirmation or, 
<P>

(b)	to answer any question relevant to an investigation put to the witness by
the Commissioner or other person presiding at a hearing,
or
<P>

(c)	to produce any document or other thing in the witness's custody or control
which the witness is required by the summons or by
the person presiding to
produce.
<P>

(2)	A witness summoned to attend or appearing before the Commission at a
hearing is not excused from answering any question or producing
any document or
other thing on the ground that the answer or production may incriminate or tend
to incriminate the witness, or on
any other ground of privilege, or on the
ground of a duty of secrecy or other restriction on disclosure, or on any other
ground.
<P>

(3)	An answer made, or document or other thing produced, by a witness at a
hearing before the Commission is not (except as otherwise
provided in this
section) admissible in evidence against the person in any civil or criminal
proceedings or in any disciplinary proceedings.
<P>

(4)	Nothing in this section makes inadmissible:
<P>

(a)	any answer, document or other thing in proceedings for an offence against
this Act or in proceedings for contempt under this
Act, or
<P>

(b)	any answer, document or other thing in any civil or criminal proceeding or
in any disciplinary proceedings if the witness does
not object to giving the
answer or producing the document or other thing irrespective of the provisions
of sub-section (2), or
<P>

(c)	any document in any civil proceedings for or in respect of any right or any
liability conferred or imposed by the document or
other thing.
<P>

(5)	...
<P>

(6)	(Repealed)".
<P>

22   	Section 38 provides as follows:-
<P>

"38. <b>Declaration as to objections by witness</b>
<P>

The Commissioner or person presiding at the hearing may declare that all or any
classes of answers given by a witness or that all
or any classes of documents
or other things produced by a witness will be regarded as having been given or
produced on objection
by the witness, and there is accordingly no need for the
witness to make an objection in respect of each such answer, document or
other
thing."
<P>

23   	<b>The <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/" class="autolink_findacts">Royal Commissions Act</a></b>, 1923 in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17</a> provides as
follows:-
<P>

"17.  <b>Answers and documents</b>
<P>

(1)	A witness summoned to attend or appearing before the Commission shall not
be excused from answering any question or producing
any document or other thing
on the ground that the answer or production may criminate or tend to criminate
the witness, or on the
ground of privilege or on any other ground.
<P>

(2)	An answer made, or document or other thing produced by a witness to or
before the Commission shall not, except as otherwise
provided in this section,
be admissible in evidence against that person in any civil or criminal
proceedings.
<P>

(3)	Nothing in this section shall be deemed to render inadmissible:
<P>

(a)	any answer, document or other thing in proceedings for an offence against
this Act;
<P>

(b)	any answer, document or other thing in any civil or criminal proceedings if
the witness was willing to give the answer or produce
the document or other
thing irrespective of the provisions of subsection (1);
<P>

(c)	any book, document or writing in civil proceedings for or in respect of any
right or liability conferred or imposed by the document
or other thing.
<P>

(4)	...
<P>

(5)	...".
<P>

24   	<b>The <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/" class="autolink_findacts">Royal Commission (Police Service) Act</a></b>, 1994
provides in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s5.html" class="autolink_findacts">S 5</a> as follows:-
<P>

"<b>5.	Relationship with 1923 Act</b>
<P>

(1)	This Act is to be read as if it formed part of the 1923 Act (but only for
the purposes of the operation of this Act in relation
to a Royal Commission to
which this Act applies).  A reference in any other Act to the 1923 Act does not
include a reference to this
act except as expressly provided by this Act.
<P>

(2)	The provisions of this Act are in addition to and not in derogation of any
provisions of the 1923 Act, except as specifically
provided by this Act.  In
particular, Part 2 of this Act does not limit or otherwise affect the provision
of the 1923 Act with respect
to a person summoned to attend or appearing as a
witness before the Commission.
<P>

(3)	Nothing in the 1923 Act operates to constrain or restrict the exercise of a
function conferred or imposed by or under this Act."
<P>

25   	In Section 6 the power of the Commission to obtain
information is set out and in S 7, the power of the Commission to obtain
documents is set out.
<P>

26   	The compensatory protections are to be found in S 9, which
provides:
<P>

"<b>9.	Self-incrimination (s. 26 ICAC Act)</b>
<P>

(1)	This section applies where, under S 6 or 7, the Commissioner requires any
person:-
<P>

(a)	to produce any statement or information; or
<P>

(b)	to produce any document or other thing.
<P>

(2)	If the statement, document or other thing tends to incriminate the person
and the person objects to production at the time,
neither the fact that the
requirement nor the statement, document or thing itself (if produced) may be
used in any proceedings against
the person (except proceedings for an offence
against this Act or the 1923 Act).
<P>

(3)	They may however be used for the purposes of the Commission's inquiry,
despite any such objection."
<P>

27   	Section 12 provides:-
<P>

<b>"12.	Declaration as to objection by witness (S.38 ICAC Act)</b>
<P>

The Commissioner may declare that all or any classes of answers given by a
witness or that all or any classes of documents or other
things produced by a
witness will be regarded as having been given or produced on objection by the
witness, and there is accordingly
no need for the witness to make an objection
in respect of each such answer, document or other thing."
<P>

28   	In the Parole Board proceedings on 2 July, 1999, the
learned Chairperson in considering what use may be made of evidence given
over
objection (in circumstances where compensatory protections are available),
expressed the view that notwithstanding the fact
that the Parole Board is
constituted under Part 5 of the <b><a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/" class="autolink_findacts">Sentencing Act</a></b>, a hearing before the
Board could not properly be characterised as a criminal proceeding.  In
<b>Hartmann -v- Commissioner of Police</b>  <a href="/cgi-bin/LawCite?cit=%281997%29%2091%20A%20Crim%20R%20141" title="View LawCiteRecord" class="autolink_findcases">(1997) 91 A Crim R 141</a>, Cole JA,
with whom the other members of the Court agreed, at p 147 said:-
<P>

"The principle that the ingrained nature of the protection against self
incrimination requires a strict construction of provisions
said expressly or
impliedly to remove that protection also requires that a liberal interpretation
be given to the protective provisions
in a statute purporting to protect a
person from the consequences of the abrogation of the protection against self
incrimination.
 In my judgment it is plain that the combined consequences of <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/s6.html" class="autolink_findacts">ss
6</a> and <a href="http://www.austlii.edu.au/au/legis/nt/consol_act/sa121/s7.html" class="autolink_findacts">7</a> of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/" class="autolink_findacts">Royal Commission (Police Service) Act</a></b>, and <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s17.html" class="autolink_findacts">s 17(1)</a> of the
<b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/" class="autolink_findacts">Royal Commissions Act</a></b> is to remove the privilege against self
incrimination.  The compensatory protections are given by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s9.html" class="autolink_findacts">ss 9</a> and <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s12.html" class="autolink_findacts">12</a> of the
<b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/" class="autolink_findacts">Royal Commission (Police Service) Act</a></b> and <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rcsa1994334/s17.html" class="autolink_findacts">s 17(2)</a> <b>Royal Commission
Act</b>.  The words "in any civil or criminal proceedings" in s 17 are not to
be narrowly construed but are to be read as expressing the
legislature's
intention that statements of evidence, or documents, or oral evidence produced
to or given to the Police Royal Commission
are not available as evidence
against the person providing or giving the statement, document or evidence in
any future proceedings,
howsoever they are categorised.  The expression "any
civil or criminal proceedings" was intended to encompass the full category of
possible future proceedings."
<P>

29   	In reliance on this authority I am content to find that
the compensatory protections which arise under S 37 of the <b>Independent
Commission Against Corruption Act</b> and under S 17 of the <b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/" class="autolink_findacts">Royal
Commissions Act</a></b> may be availed of by a person in the position of the
plaintiff, provided objection is taken to the evidence being led.
<P>

30   	The suggested refined issue now for determination by this
Court is whether, as a matter of statutory construction, the use
of the words
"... does not object to giving the answer or producing the document ..." in S
37(4)(b), and the cognate words "... was
willing to give the answer or produce
the documents ... " in <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(3)(b)</a>, refers to the position adopted by the person
in whose favour the compensatory protection runs:-
<P>

(a)	at the time of giving evidence or producing the documents before the
Commission or Commissions <b>or alternatively</b>
<P>

(b)	at the time of the later proceedings, when the compensatory protection is
invoked (in the present case at the hearings before
the Parole Board).
<P>

31   	The plaintiff contends for alternative construction (a)
with the consequence, so the submission runs, that once the objection
is taken
before either Commission (or both) the compensatory protection extends to
prohibit a subsequent tribunal from reliance upon
the privileged evidence in a
manner adverse to the protected witness (in this case the plaintiff).
<P>

32   	The significance of the construction contended for by the
plaintiff in the present case, so it is submitted, is that no matter
for what
purpose the privileged evidence may be placed before the subsequent tribunal by
the protected witness, no inference adverse
to the protected witness may be
drawn.
<P>

33   	It is necessary to consider, in the present case, the
purpose for which the evidence given by the plaintiff before the two
Commissions was placed before the Parole Board.
<P>

34   	The transcript of evidence given by the plaintiff before
the Police Royal Commission was tendered and marked Exhibit "B".
 The
transcript of evidence given by the plaintiff before ICAC was tendered and
marked Exhibit "D".
<P>

35   	The purpose of the tender was made plain by the
submissions of Mr Hovan, who submitted to the Board that the tender of the
transcripts of the plaintiff's evidence was to demonstrate:-
<P>

(a)	that the plaintiff was forthcoming in his evidence about his activities in
and around Kings Cross;
<P>

(b)	that there had and has been a clear removal of the plaintiff from his
criminal past; and
<P>

(c)	that the people with whom he had been involved in the past, police officers
and others, were such that having given the evidence
before the two
Commissions, which was tendered before the Board, he had burnt his bridges and
could never resume his past criminal
activities.
<P>

36   	It is apparent from the transcript of what fell from the
Board members that they did take into account in a manner adverse
to the
plaintiff the contents of the transcripts, Exhibits "B" and "D".
<P>

37   	The clear purpose of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17</a> and S 37 of the respective acts
is to abrogate the common law right of an individual to decline to answer
questions, the answers
to which may tend to self-incriminate and to provide
compensatory protection to the witness with regard to subsequent or
consequential
proceedings.
<P>

38   	The compensatory protection afforded by <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(2)</a> of the
<b><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/" class="autolink_findacts">Royal Commissions Act</a></b> is to render the evidence (being an answer or
document or other thing) inadmissible in evidence "against that person in any
civil
or criminal proceedings", "... except as otherwise provided in this
section".
<P>

39   	The civil or criminal proceedings there referred to cannot
be a reference to the Commission - the evidence is admissible before
the
Commission by force of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(1)</a> - they can only relate to proceedings subsequent
to the giving of the evidence.
<P>

40   	The words in subsection (2) of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17</a> "... except as
otherwise provided in this section", embrace subsection (3)(b) which provides
that "Nothing in this section shall
be deemed to render inadmissible - (b) -
any answer, document or other thing in any civil or criminal proceedings if the
witness
was willing to give the answer or produce the document or other thing
irrespective of the provisions of subsection (1)."
<P>

41   	In my view, this subsection, on a proper construction,
means that in any subsequent civil or criminal proceedings the evidence
in
question shall not be inadmissible if the witness did not, at the hearing
before the Commission raise an objection to giving the
evidence, (i.e. gave the
evidence willingly without objection, in terms of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(3)(b)</a> and in terms of S
37(4)(b) did not object to giving the evidence).
<P>

42   	It follows that the plaintiff's contention, which is
alternative (a) above, is correct, however, the issue cannot rest there.
 The
relief which the plaintiff seeks, calls for a finding that the Board took into
account evidence that it was not entitled to
take into account.
<P>

43   	As stated above, the plaintiff, having taken objection to
giving the relevant evidence before both Commissions was entitled
to claim
privilege against self-incrimination and object to the evidence being placed
before the Board.  Nevertheless, it is of the
essence of a privilege that it
may be waived by the person who enjoys it; <b>Cross on Evidence</b> 4th Aust Ed
667.  Waiver of privilege may be express or implied; it may be deliberate or
inadvertent; <b>Great Atlantic Insurance Co -v- Home Insurance Co</b>  <a href="/cgi-bin/LawCite?cit=%281981%29%202%20All%20ER%20484" title="View LawCiteRecord" class="autolink_findcases">(1981) 2
All ER 484(CA).</a>
<P>

44   	The purpose for the tender of Exhibits "B" and "D" before
the Parole Board was made plain beyond question.  It was the clearest
possible
waiver of privilege in the course of supporting the plaintiff's claim for
release on parole.  The submission made by Mr
Waterstreet that the evidence
tendered may be used by the Board favourably to the plaintiff, but that the
Board is prohibited by
virtue of  privilege from considering the evidence in a
light adverse to the plaintiff, does not find favour.  The plaintiff cannot
approbate and reprobate in this way.
<P>

45   	It follows that the Parole Board did not take into account
matters of evidence that it was not entitled to take into account.
<P>

46   	Mr Saidi further submits that in the present case, by
force of <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(3)</a>, <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(2)</a> has no application.  This argument, as I understand
it, proceeds on the basis that whilst <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(2)</a> affords protection to a witness,
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/rca1923224/s17.html" class="autolink_findacts">S 17(3)</a> contemplates use of the otherwise privileged evidence without objection
and that once the evidence is admitted, it is available for
all purposes.
(Similar considerations, it is submitted, apply, <i>mutatis mutandis </i>to S
37 of the <b>ICAC Act.</b>)  This argument is in essence no different from
considerations of waiver and for the reasons previously given, in my view, the
defendants
are entitled to succeed on this basis also.
<P>

47   	Accordingly, this court declines to make the declaration
sought in paragraph 1(a) of the Amended Summons.
<P>

48   	The order of the Court is that the Amended Summons is
dismissed with costs.
<P>

LAST UPDATED: 	03/11/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/1070.html</i><br>
</p>
</small>
</body>
</html>
