<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Lang v Licciardello [1999] NSWSC 93 (19 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 93</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+93 or 1999+NSWSC+93">Noteup</a>]
[<a href="93.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Lang v Licciardello [1999] NSWSC 93 (19 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_93.html-->
<!--sino date 19 February 1999-->


<P>Last Updated: 22 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	LANG v LICCIARDELLO  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/93.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 93</a>
<P>

CURRENT JURISDICTION: 	Common Law Division
<P>

FILE NUMBER(S): 	13085/95
<P>

HEARING DATE{S): 	25  - 27 November 1998, 17 December 1998
<P>

JUDGDMENT DATE: 	19/02/1999
<P>

 PARTIES: 
<P>

Allan Gordon Lang      (P1)
<P>

Thelma Beatrice Lang (P2)
<P>

Sammy Licciardello (D)
<P>

Gregory Harrison Healey (XD)
<P>

JUDGMENT OF: 	Adams J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

Mr S White  (P)
<P>

Mr M Gorrick (D)
<P>

Mr S Stevenson (XD)
<P>

SOLICITORS: 
<P>

John J Paine Ross &amp; Co (P)
<P>

J A Brown &amp; Co (D)
<P>

Mallesons Stephen Jaques (XD)
<P>

CATCHWORDS: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cra1980201/" class="autolink_findacts">Contracts Review Act 1980</a>
<P>

Mortgage by third party volunteer as direct debtor
<P>

Funds paid to borrower
<P>

Duty of mortgagee's solicitor 
<P>

Conflict of interest
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cra1980201/" class="autolink_findacts">Contracts Review Act 1980</a>
<P>

DECISION: 
<P>

Judgment for the plaintiffs and the cross defendant with costs
<P>

JUDGMENT: 
<P>

17
<P>

<b>THE SUPREME COURT</b>
<P>

<b>OF NEW SOUTH WALES</b>
<P>

<b>COMMON LAW DIVISION</b>
<P>

<b>ADAMS J</b>
<P>

<b>FRIDAY 19 FEBRUARY 1999</b>
<P>

<b>13085/95</b>
<P>

<center><b>ALLAN GORDON LANG v SAMMY LICCIARDELLO &amp; ORS</b></center>
<P>


<P>

<center><b>JUDGMENT</b></center>
<P>


<P>

<i>1	</i><b>HIS HONOUR:  </b>By mortgage dated 10 May 1991, Mr Sammy
Licciardello mortgaged his property at 95 Myall Street, Merrylands to Allan
Gordon and Thelma
Beatrice Lang to secure a debt of $110,000 plus interest.  On
10 May 1993 that mortgage was discharged and a fresh mortgage was entered
into
between the same parties over the same property in respect of a debt of
$105,600 plus interest.  (Although the mortgages were
in somewhat different
terms, that is not material to the issues in this case.)  Payments under the
mortgage have been in default
since February 1995.  Proceedings were commenced
in this Court on 22 August 1995 by the mortgagees to enforce the mortgage.  The
mortgagor defends the proceedings under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cra1980201/" class="autolink_findacts">Contracts Review Act 1980</a></i>,
alleging that the mortgage was unjust in the circumstances relating to it at
the time it was made.  The proceedings are also defended
under the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair
Trading Act 1987</a></i> and pursuant to an allegation of unconscionability.  The
essence of the relief sought is to render the mortgage unenforceable.  
<P>

<i>2	</i>The solicitor concerned in the first mortgage was Mr Dennis McCabe
who, sadly, died on 31 October 1992.  His practice was, to some
extent,
acquired by Messrs G H Healey &amp; Co who acted in connection with the 1993
discharge and fresh mortgage.  Mr Healey is
the subject of a cross claim
alleging negligence in arranging for the execution of the 1993 mortgage;
alternatively, he is sued for
breach of contract and fiduciary duty, for
alleged breaches of the <i><a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/fta1987117/" class="autolink_findacts">Fair Trading Act 1987</a></i> and for being directly or
indirectly concerned in conduct contravening that Act.  Other parties have made
brief appearances in the
pleadings but they do not concern us.  
<P>

<i>3	</i>Mr McCabe was first retained by Mr Lang (who, at all relevant times,
acted for both himself and his wife) towards the end of the 1960s
when he
handled a lease for him on a small business in Kirrawee.  In 1991 he handled
the purchase and sale of two houses.  Mr and
Mrs Lang had invested the proceeds
of the sale in the building society and informed Mr McCabe of his fact.  It
appears that Mr McCabe
contacted the Langs in early 1991 to suggest that he
might be able to arrange a mortgage advance at a more attractive rate than they
were currently earning.  It seems that this enquiry was precipitated by a
request for funds from Mr Frank Licciardello (Mr Licciardello),
the mortgagor's
elder brother.  He operated a business, Dynpack Pty Limited (Dynpack), involved
in the building trade.  Mr McCabe
was Mr Licciardello's solicitor and was
approached by him to obtain finance for Dynpack, which had what Mr Licciardello
described
as "a cash flow problem".  He informed Mr McCabe that although he
could offer no security, he would approach his brother to see whether
he might
be willing to provide some.  Mr McCabe informed Mr Licciardello that a couple
of valuations would need to be obtained. 
Mr Licciardello said that he told his
brother that he needed a guarantee so that he could borrow money for his cash
flow for Dynpack.
 His brother agreed to provide the guarantee but told Mr
Licciardello :  "Make sure nothing going to happen, I got the parents live
with
me.  The last thing I want is to kick them in the street".  Of course, this
conversation, deposed by Mr Licciardello indicates
that his brother was aware
that it was proposed that his guarantee would be secured by mortgage over the
house and that a failure
by Mr Licciardello to repay the debt would result in
his home being lost.  No mention was made by Mr Licciardello in his affidavits
of his telling his brother at any time either of the loan or of the instalments
payable.  For reasons which I mention later, I consider
this omission to be
most significant.  Mr Licciardello deposed that at the time the loan
transaction was entered into, he had a firm
belief that the company would trade
out of its debts and make full payment of the loan.  There is no reason not to
accept that this
was the case.  In due course, Mr McCabe informed Mr
Licciardello that the certificate of title to his brother's property at 95
Myall
Street was subject to a writ and another mortgage.  Valuations were
arranged by Mr Licciardello.  During the course of discussions
with Mr McCabe,
Mr Licciardello said that he told him:  "Look, don't give Sam too much detail
because he might change his mind" and
that Mr McCabe replied:  "Look, I've got
to do my job".  Whilst this indicates that Mr Licciardello was prepared to
manipulate his
brother, it also indicates that Mr McCabe was alive to his
responsibility to inform the mortgagor of relevant information.  In his
affidavit, the mortgagor does not advert to any conversation about his concerns
that his parents might be homeless.  According to
the mortgagor, the
conversation with his brother was to the following effect -
<P>

<i>	</i>He said:  "I need some money for a job.  Can you guarantee the money?
My payments will be $600 - $700 per month for two years".  I
thought about what
my brother said to me and asked him how much he was borrowing.  He said, "About
$20,000".  I said, "Well, that
seems all right".
<P>

<i>4	</i>The fundamental complaint made by the mortgagor is not so much that he
did not understand the nature of the obligations into which
he was entering by
giving a mortgage, but that he had been deceived by his brother as to the
amount at stake.
<P>

<i>5	</i>When Mr Licciardello was called, counsel for the mortgagor sought and
obtained leave (which was not objected to) to examine him in
chief about the
conversations that he had with the mortgagor when he sought his agreement to
the guarantee and which were not adverted
to in his affidavits.  Mr
Licciardello then gave evidence of the following conversation -
<P>

<i>	</i>I said "I need some money because I got a big job.  I am short of cash
for it.  Can you please help with this matter?"  He asked me,
"How much?"  I
said, "It's only a small amount.  I don't know if it is $20, $25, [meaning
thousands] something like that.  We might
take it for a period of time but it
could be paid quick, about two years".  I said that payments for the loan would
be about $650
to $700 a month.  He said, "As long as you are not putting me on
trouble losing my house or things like that because you know I got
parents who
are living with me".  I said, "Don't worry, I don't do those things to you for
anyone".
<P>

<i>6	</i>Having regard to the later history of the matter, when the mortgagees
sought to enforce the mortgage and commenced these proceedings,
the fact that
Mr Licciardello had lied (as he said he did, in his evidence) to his brother
about the amount being borrowed, and thus
brought about a catastrophe, must
have been in the forefront of his mind.  It is difficult to accept that, when
giving his account
of this conversation for the purposes of the litigation,
that Mr Licciardello would have forgotten it.  Indeed, he gave this evidence
-
<P>

<i>	</i>Q.	Sitting there now you can't remember mentioning any figure to your
brother can you?
<P>

<i>	</i>A.	The figure I remember, because I knew I was lying to him, because
there's one thing.  Because this thing, you know, things can't
really come to
me all the time.  The way I feel, and the way I lied to him, so I remember
this, what I said to him.  
<P>

7	It is obvious that of crucial importance is what occurred on the occasion
when the mortgage was signed in Mr McCabe's presence.
 Mr Licciardello says
that his and his brother attended Mr McCabe's premises together and both were
present in his office at the
time that the mortgagor signed the mortgage.  He
said that Mr McCabe "explained the document in very few words".  He said that
his
brother did not enquire as to the nature and effect of the document.  The
mortgagor gives a similar account, adding that he at no
stage read the
documents, nor were they read to him or explained in any way.  He says that he
was in the solicitor's office for no
more than 5 to 10 minutes.  During this
time, Mr Licciardello and the solicitor were discussing matters not connected
with the papers
put in front of him.  The mortgagor says it was at all times
his belief that Mr McCabe was acting on his behalf.  
<P>

8	The plaintiffs called Ms Tracey Arnold, who was employed as a legal secretary
by Mr McCabe from April 1980 till August 1988 full
time and then part time
until November 1991, resuming full time work for him until he died in October
1992.
<P>

9	Ms Arnold said that she prepared the mortgage in this matter.  It was unusual
in that the rate of interest was higher and the
principal sum greater than was
common in the mortgages mostly prepared by her at that time.  The account in
her affidavit is as follows
-
<P>

	7.  On the date that the First Mortgage was signed by Mr. Sammy Licciardello
he arrived at Mr. Denis J. McCabe's office accompanied
by his brother, Frank
Licciardello.  I spoke to both Sammy and Frank Licciardello in English.  We
exchanged greetings and neither
Frank nor Sammy Licciardello indicated to me in
any way on that occasion, or on any other occasion that they had any difficulty
in
comprehending the English language or expressing themselves in the English
language.  I had no difficulty on any occasion in comprehending
their speech
either when together or alone.  After exchanging greetings with Frank and Sammy
I then went to Mr. Denis J. McCabe who
was in his office which adjoined my
office with a thin partition separating the two offices.  I then had a
conversation with Mr.
Denis J. McCabe to the following effect, "Sammy and Frank
Licciardello are here to see you."  Mr. McCabe said to me, "Please show
them
in."  I then went and escorted Sammy and Frank Licciardello into Mr. McCabe's
office and then went to my office.
<P>

<i>	</i>8.  It was Mr. Denis J. McCabe's habit to speak loudly in the office.
After showing Sammy and Frank Licciardello into Mr. Denis J.
McCabe's office.
I heard Denis J. McCabe say words to Sammy and Frank Licciardello to the
following effect, "Does Sam speak good
English"  Both Frank and Sammy
Licciardello replied to Denis J. McCabe, "Yes."  Mr Denis J. McCabe then said
to Frank Licciardello,
"Well Frank that being the case you will have to wait
outside while I speak to Sam."  Mr. Frank Licciardello then left Mr. Denis
J.
McCabe's office and went to the waiting area of the office where he sat down
and waited until Mr. Denis J. McCabe and Mr. Sammy
Licciardello had completed
their conference.
<P>

<i>	</i>9.  During the course of the conference between Mr. Denis J. McCabe and
Mr. Sammy Licciardello I heard Mr. McCabe say to Mr. Sammy
Licciardello words
to the following effect, "This is a Mortgage on your home and if you default in
making the payments under the
Mortgage you could lose your home.  Do you
understand that?" and I heard Mr. Sammy Licciardello reply to Mr. McCabe,
"Yes."  Mr.
Sammy Licciardello was with Mr. McCabe in his office for a
considerable time whilst Mr. Denis J. McCabe explained the terms of the
First
Mortgage and the nature of the Mortgage transaction to Mr. Sammy Licciardello.
The conference between Mr. Denis J. McCabe and
Mr. Sammy Licciardello was not
cut short or carried out hastily and Mr. Denis J. McCabe spent longer than
usual conferring with Mr.
Sammy Licciardello in relation to the matter.
<P>

<i>10	</i>It was put to Ms Arnold in cross examination by counsel for the
mortgagor, that when the two brothers were shown into Mr McCabe's
room, the
door was closed and they remained in the office together.  Ms Arnold said that
Mr McCabe's door could not close because
bookshelves that had been built into
the office obtruded into the door space.  She acknowledged that she could not
recall the whole
conversation that she heard.  Ms Arnold recalled, however, the
way in which Mr McCabe spoke to the mortgagor: "He was very adamant
and
thorough to the point of being rude".  She said, "He kept repeating things to
the point that it was aggravating me so I can imagine
what it did to the
client".  She felt that Mr McCabe was being very patronising towards Sammy
Licciardello.  Indeed, Ms Arnold approached
Mr McCabe following the conference
and remarked that she thought he was "a bit rude" when he continually asked
Sammy whether he understood
what he was being told and that Mr McCabe responded
that he had to make sure that Sammy understood what he was telling him.
<P>

<i>11	</i>Mr McCabe's file, which has been produced, contains no note of this
occasion or of the attendance.  But Ms Arnold said that to make
such notes was
not Mr McCabe's usual practise.  Ms Arnold denied that the meeting took no more
than 5 or 10 minutes and that it was
the purpose of the meeting merely to get
the mortgagor to sign the documents.  Ms Arnold corrected the account given in
her affidavit
in the sense that her recollection was not that the mortgagor
would lose his home if he did not make the payments but that he would
do so if
Frank did not keep up the payments.  She was quite certain that Mr Licciardello
was in the reception area at the front of
the office whilst Mr McCabe spoke to
his brother.
<P>

<i>12	</i>Mr Sammy Licciardello had given evidence that he had attended Mr
McCabe's office on only one occasion.  However, Ms Arnold said that
on one
occasion Sammy came to the office with an instalment cheque, asked to speak to
Mr McCabe and complained about the high interest
rate, Mr McCabe telling him
that he would have to wait until the term of the mortgage expired before it
could be renegotiated.  Ms
Arnold agreed, however, that there were many
occasions on which, on Mr McCabe's instructions, she needed to follow up late
payments
and, for that purpose, spoke to Frank Licciardello, usually
telephoning him at his business premises.  If the mortgagor delivered
an
instalment cheque and discussed the interest rate with Mr. McCabe, the
inference that he was aware of its amount is strengthened.
<P>

<i>13	</i>Having regard to the manner in which the material witnesses on this
point gave their evidence, I accept Ms Arnold's account without
hesitation as
being the most reliable.  Mr McCabe, who was a solicitor of many years'
experience, could have had no doubt about his
duty to ensure that the mortgagor
was aware of his obligations under the mortgage.  It is the mortgagor's case
that Mr McCabe acted
both for him and for his brother, Frank.  Whatever was the
formal character of the retainer, the implicit rejection by Mr McCabe
of Mr
Frank Licciardello's request that his brother should not be told full details
of the mortgage and the fact that he saw Sammy
alone, points strongly to the
conclusion that he proposed to inform him in detail of his obligations.  This
conclusion is corroborated
by Ms Arnold's evidence of such part of the
conversation as she was able to overhear.  I conclude, therefore that Mr McCabe
told
Sammy not only of the amount of the mortgage but also of the amount and
frequency of the instalments required to be paid.  
<P>

<i>14	</i>I accept that both the Licciardello brothers had limited education
and that, in particular, Sammy may have had some considerable difficulty
in
reading the mortgage and understanding its terms.  On the other hand, it would
have been difficult for him (though possible) to
have overlooked the
specification of the principal sum of $110,000 but a few centimetres from the
place where he signed the document
on its first page.
<P>

<i>15	</i>I have mentioned that the Myall Street property was subject to a
mortgage given by Sammy to the Commonwealth Bank.  The outstanding
sum at the
date of settlement was $11,548.79.  It is obvious that Mr McCabe needed to
inform Mr Sammy Licciardello of the discharge
of this mortgage.  It follows, of
course, that the mortgage had to be at least for this sum in addition to
whatever Frank Licciardello
needed.  Indeed, on 13 May 1991, he wrote to Mr
Licciardello at 95 Myall Street Merrylands, setting out the discharge sum, the
mortgage
advance and the costs and disbursements relating to the transaction,
noting that the balance of $95,512.21 was to be paid to Mr Frank
Licciardello
and asking Sammy to confirm this by signing a duplicate letter which was
attached.  No such letter signed either by
Sammy or Frank Licciardello is in
the file.  Mr Sammy Licciardello denies receiving the letter of 13 May and the
statement sent with
it.  However, I think that the letter and statement were
sent and I think it probable that he received them.  On 16 May 1991, Mr
McCabe
forwarded to Sammy, under cover of a letter addressed to him at 95 Myall
Street, Merrylands, a copy of the epitome of mortgage,
which clearly sets out
the principal sum of $110,000, the interest rate and the amounts of quarterly
payments.  Sammy denies receiving
this correspondence as well.  However, I
think it probable that in fact he did receive it.  On 6 June 1992, Mr McCabe
addressed a
letter to Sammy at his home, reminding him that the interest
payment due on 10 May had not been paid and that a cheque for $5,018.75,
calculated at the penalty rate of interest, was required immediately.  The
letter pointed out that the due dates on the mortgage
were the 10th of each of
August, November, February and May.  Mr Licciardello denies receiving this
letter.  Again, I think it probable
that he did receive it.  At the very least,
it appears to me that it was most unlikely that none of these three
communications were
actually delivered and any one of them would have informed
Mr Sammy Licciardello of the amounts (one way or another) actually involved.
Ms Arnold's evidence was, where it was necessary to chase up mortgage payments,
a letter would go out to Frank Licciardello (addressed
to his brother, as I
understand it) and a copy would be sent to Sammy's home address, to let him
know that the mortgage was in arrears.
 Where a letter was addressed to Mr
Sammy Licciardello's home, she would expect it to have gone to him.  Some
letters in the file
are addressed to Sammy Licciardello care of his brother.
Ms Arnold thought that copies of those letters would have been sent directly
to
Sammy but she could not be certain that this occurred on every occasion. 
<P>

<i>16	</i>It is not in dispute that the proceeds of the mortgage were to be
used by Frank Licciardello for the purposes of his business and
that, except in
so far as the amount used to discharge his mortgage to the Commonwealth Bank is
concerned, the mortgagor was a volunteer.
 It was submitted to me that one of
the unjust elements on the transaction was that rather than there being a
direct contractual
relationship of borrower and lender created between the
Langs on the one hand and Frank Licciardello on the other, with Sammy
Licciardello
then entering into a guarantee secured by a mortgage, the
principal borrower was, in the result, Sammy Licciardello.  In some
circumstances,
the fact that there was no direct obligation created between Mr
Frank Licciardello and the Langs, might be significant.  However,
in the
circumstances of this case, I do not think that anything turns on this matter.
Sammy, himself, stated in evidence that he
was aware that, if his brother did
not continue to pay the instalments required, he would need to take them over
in order to fulfil
his obligations as guarantor.  The fact is that, with delays
from time to time, Mr Frank Licciardello indeed made the instalment
payments.
As a practical matter, there were good reasons for simplifying the transaction
as between the Langs and Sammy by providing
that he should be the principal
debtor as well as the mortgagor.  On the other hand, the lack of any formal
agreement between the
two brothers certainly might have operated to Sammy's
disadvantage.  In the context of this litigation, however, and having regard
to
the events that have happened, this does not seem to me to be relevant.
Certainly, no relief is sought by Sammy Licciardello as
against his brother in
connection with the transaction.
<P>

<i>17	</i>Although there is a hint in Mr Frank Licciardello's evidence that
might provide a basis for suggesting that he exercised undue influence
on his
brother in connection with this matter, no case of this kind has been made out
nor is it claimed.  Sammy's evidence is quite
clear.  He says that had he been
aware of the true extent of the loan he would not have agreed to secure its
repayment.  However,
I have concluded that he was aware both of the principal
sum and the interest payments due under the mortgage.  So far as any claim
of
relief relates to this mortgage, it follows that I should find for the
plaintiffs.  
<P>

<i>18	</i>However, the mortgage sought to be enforced is the fresh mortgage
entered into in May 1993.  It is necessary to move to the circumstances
in
which that mortgage came to be executed.
<P>

<i>19	</i>It is worth pointing out, before moving on, that according to Frank
Licciardello, and I accept his evidence, when the first mortgage
was entered
into his financial position was very good, although he had some problems with
cash flow.  He was involved in a big project
at a substantial office and
commercial site in Sydney which would have more than covered the amount that he
was borrowing, the expected
profit being over $600,000.  Unfortunately,
however, the contract became the subject of litigation and Dynpack was not paid
for the
job.  Although on some occasions payments were late and, as a
consequence, penalty interest was incurred, Dynpack made all payments
of
interest under this mortgage.
<P>

20	As I have mentioned, late in October 1992 Mr McCabe died, and his practice
was taken over by Messrs G H Healey &amp; Co in December
of that year.  Shortly
afterwards, Mr Lang spoke to Ms Robinson, who was then the solicitor in charge
of the Hurstville practice
of the firm, to discuss the mortgage with her and,
in particular, to advise that the interest payment due on 10 November 1992 was
in arrears.  It appears that on 8 December 1992, Mr Frank Licciardello had
raised with Ms Robinson some matters arising out of a
trader's bill of sale,
unconnected with this matter.  At this time, it seems, Mr Frank Licciardello
informed Ms Robinson that he
would bring in a cheque in the next day or so to
pay outstanding interest.  He informed Ms Robinson that he wished to extend the
mortgage for a further two or three years at a cheaper rate of interest.  On 13
January 1993, the firm wrote to Sammy at his Merrylands
home to inform him that
the Langs were willing to extend the term of the loan for a further twelve
months at the interest rate specified
in the letter which was somewhat less
than the interest rate charged under the 1991 mortgage.  Failing agreement to
"vary" the mortgage,
then it would be discharged.  This letter refers to
"discussions we have had with you" concerning the matter.  This letter was
apparently
sent by Miss McCabe, the daughter of the late Mr McCabe, who was
employed in his practice.  However, I do not think that the letter
provides a
sufficient evidentiary basis for me to infer that discussions had actually
occurred with Sammy as distinct from Mr Frank
Licciardello.  Indeed, I think it
most unlikely that there would have been any such discussions.  By some time in
January, Ms Robinson
learned, probably from Mr Lang, that the loan was for the
benefit of Mr Frank Licciardello although his brother had provided the
mortgage
security.  Towards the end of the month, Ms Robinson wrote to the Langs to
advise them that "Mr Licciardello" (I infer that
this was Frank) sought an
extension of the term of the existing loan for a further 24 month period at a
lower rate of interest. 
The Langs were also advised that the payment due on 10
November 1992 had been received and would be sent on to them when the cheque
was cleared.  On 27 January 1993, Mr Lang instructed Ms Robinson that he would
approve an extension of the loan at an interest rate
of 12.5%, but that the
penalty rate for late payment of interest would be 14.5% rather than the 13.5%
offered by Frank Licciardello.
 I think it fair to infer that this increase
reflected the delays experienced in the past by Mr Lang in due payment of the
interest
instalments.  On 11 March 1993, Ms Robinson set out in a letter
addressed to Mr Sam Licciardello, care of his brother at the latter's
business
premises, proposed mortgage renewal terms, specifying the principal as
$110,000, the term at 24 months, the interest rate
at 12.5% with the penalty
rate of 14.5% for late payment and repayment dates as fixed by the earlier
mortgage.  Further valuations
were required.  The payment which was due on 10
February 1993 had not been made and this matter was brought to Mr
Licciardello's
attention and a request made for immediate payment of the
instalment.  The letter stated that if the outstanding instalment was not
made,
then the mortgagees would require repayment of the whole of the principal on
the expiry of the mortgage.  On 19 March, Mr Lang
instructed Ms Robinson to
remind Mr Licciardello (presumably Frank) that the next payment was due on 10
May and, if not then paid,
he would reconsider the grant of the new mortgage.
It seems that the February instalment was not paid until early April 1993.  Ms
Chadwick, who was then handling the matter in G H Healey &amp; Co, pointed out
to Mr Lang that there was a history of making late
interest payments and
advising him to consider increasing the penalty rate specified.  There was no
suggestion, however, that Mr
Licciardello was in financial difficulties;
rather, he was characterised as a tardy payer. 
<P>

21	Mr Frank Licciardello deposed in his affidavit to a conversation which he
alleged occurred with a Ms Maria Reid from G H Healey
&amp; Co, in which Ms
Reid said to him that he must either renew the mortgage or pay the debt or
legal proceedings would be commenced.
 He said that he responded that he could
not afford to pay the mortgage out at that time as he was involved in
litigation with a
company which had not paid him and he did not have other
funds.  Under cross examination he said that he was unable to remember the
name
of the person with whom he had this conversation nor was he certain of the time
and he agreed that the conversation might have
occurred either with Ms Chadwick
or with Ms Robinson.  However, both denied that this conversation occurred.  Ms
Robinson had carriage
of the matter at the material time and said that he
believed that she had no such conversation with Mr Frank Licciardello because
had he said words to that effect, she would have been concerned and would have
wished to undertake investigation and raise the matter
with the Langs.  Indeed,
one would expect that there would have been a file note to this effect.
However, in the result I do not
think much turns on the point.  If Mr Frank
Licciardello was, in fact, unable to repay the borrowed sum as at May 1993,
then that
would simply have had the effect of triggering the default provisions
and enabling the Langs to proceed against the property.  In
the result, the new
mortgage extended the period of the loan, effectively, and gave Mr Frank
Licciardello time in which to put his
affairs in order.  Even so, I have no
doubt that had there been a real question raised concerning the financial
position of Mr Frank
Licciardello the Langs would, in all probability, not have
renewed the loan.  Sammy's position was not made worse by the extension
of the
loan on the assumption that Frank Licciardello was, indeed, insolvent.  It is,
perhaps, true that further amounts of interest
would not have accrued under the
fresh mortgage, but the second mortgage provided, in the result, for a penalty
interest rate of
16.5%, significantly less than the penalty interest rate
applicable under the 1991 mortgage of 18.25%, whilst the applicable interest
rate on due payment was, under the 1993 mortgage, 12.5% as distinct from 16.25%
under the 1991 mortgage.  However, it is unnecessary
to enter into the effect
of the extension since I am of the view that it was the overwhelming likelihood
that no suggestion was made
by Frank Licciardello of any difficulty in paying
the loan.  Aside from the uncertain nature of his evidence on this point, it is
most unlikely that he would have intimated that he was in difficult financial
circumstances given that he was extremely anxious to
obtain an extension of the
loan.  Ms Chadwick also denies being informed by Frank Licciardello, or anyone
else, that he was in financial
difficulty.  Counsel for Sammy did not suggest
in submission any advantage that might have accrued to this client if the loan
had
not been renewed in 1993.
<P>

22	There was some evidence which I do not think it necessary to analyse and
which was the subject of dispute concerning communications
between Mr Lang and
Mr Frank Licciardello over late payments.  Even if Mr Frank Licciardello's
evidence be correct, and I am far
from accepting its reliability in this
regard, it does not justify an inference that Mr Lang was aware that Mr
Licciardello was unable
to service his brother's mortgage.
<P>

23	At the end of April 1993, Ms Chadwick wrote to Mr Sammy Licciardello care of
his brother at the latter's business address indicating
that the Langs were
prepared to enter into a new mortgage with him if the interest payment due on
10 May 1993 was paid promptly.
 Shortly afterwards, a valuation of 95 Myall
Street was undertaken on Mr Frank Licciardello's instructions.  Its reduced
value resulted
in a deduction of $4,400 from the proposed advance of $110,000.
The draft mortgage contained the larger sum and was amended in manuscript
to
the lower amount.  Ms Chadwick said she pointed out to the brothers (but
conceded in cross examination that it may have been only
to Frank) that the
value was $160,000 and that the mortgagees would lend only two-thirds of that
value with the consequence that
the principal of the loan was reduced to
$105,600 and that the outstanding difference of $4,400 interest would need to
be paid before
the advance would be made.  That amount was shortly afterward
paid, probably directly to Mr Lang although this is somewhat uncertain.
 Sammy
Licciardello's initials, in accordance with usual practice, appear in the
margin next to the alteration in the figures to
which I have referred.  Ms
Chadwick says that she would have pointed out, following her invariable
practice, the alteration to Mr
Licciardello at the time that she asked him to
initial the change.  Mr Sammy Licciardello insists that he did not notice any
particular
figure and assumed that the mortgage was for the lesser sum, which
he says that his brother had told him he was borrowing in the
first place.
Whilst I do not think I can be certain about this, I think that the probability
is that Ms Chadwick did point out the
figure and that it did not cause Mr Sammy
Licciardello to take particular notice because he was already aware of the
amount of the
advance.  Ms Chadwick's evidence was, and about this there is not
dispute, that she did not give either of the Licciardello's any
advice as to
the nature of the transaction or the document, because in her view, she did not
act for them but, rather, was acting
for the Langs.  I have no doubt that this
is correct and that neither Frank Licciardello nor Sammy believed Ms Chadwick
was acting
on their behalf.  Counsel for Mr Licciardello submitted that I
should infer a retainer from the terms of the account sent to Mr Licciardello
by G H Healey &amp; Co which contains the following paragraph -
<P>

	To our professional costs for acting in relation to the mortgage on your
behalf in consideration of $105,600 as per scale...
<P>

24	However, I am satisfied that this wording was inappropriate, probably pro
forma, and did not in fact rest upon any retainer.
 It is, of course, a usual
conveyancing practise that the mortgagor pays the mortgagee's legal costs.
<P>

25	I have referred to Ms Chadwick's evidence that she did not give any advice
about the mortgage to Mr Licciardello because he was
not her client.  I think,
however, that I should point out that it was in the Langs' interest, that is,
the persons for whom she
did act, that the intending mortgagor should be
informed of the material characteristics of the transaction.  <i>The
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cra1980201/" class="autolink_findacts">Contracts</i> <i>Review Act</a> </i>had, after all, been in existence since 1980
whilst the equitable doctrines relating to mortgages, especially those given by
third
party volunteers had, of course, been part of the law for a long time
(see <i>Commercial Bank of Australia Ltd v Amadio</i> <a href="http://www.austlii.edu.au/au/cases/cth/HCA/1983/14.html" title="View Case" class="autolink_findcases_inserted">[1983] HCA 14</a>;  <a href="/cgi-bin/LawCite?cit=%281983%29%20151%20CLR%20447" title="View LawCiteRecord" class="autolink_findcases">(1983) 151 CLR 447)).</a>
There is no doubt that the most desirable position is that such a mortgagor
should be given independent legal advice but, in the
circumstances facing Ms
Chadwick, it seems to me that, quite apart from any interest of Mr
Licciardello, it was in the interest of
the Langs that the salient points of
the mortgage should be explained to him. It seems to me that the supposition
that a mortgagee's
solicitor is in conflict with the interests of that client
if he or she gives advice to the mortgagor on the legal effect of the
mortgage
is a significantly inaccurate over-simplification of the position.  However,
having regard to the issues in this case, which
are concerned essentially with
Mr Sammy Licciardello's knowledge of the amounts of the loan and the
instalments, it is unnecessary
for me to deal further with this aspect since I
have concluded that he was well aware of these matters.  
<P>

26	I should mention that tendered before me without objection is the affidavit
of Dr Lim, who was Mr Sammy Licciardello's physician
since 1987.  His report
indicates a number of severe medical conditions associated with diabetes and
complicated by anxiety.  I have
considered the possible effect of these
difficulties on his ability to give evidence in a way that was fair to his case
and, as well,
on its possible impact on his understanding of the nature of the
transaction.  However, making every allowance in his favour arising
out of the
regrettable state of his health, I consider that the findings of fact to which
I have referred and which are adverse to
him are nonetheless appropriate.  No
case was sought to be made that his illness was known to or ought to have been
known to any
of the relevant persons with whom he had contact concerning the
mortgages and, having regard to the limited character of the essential
issues,
I am quite satisfied that his health would not provide any basis for relief.

<P>

27	Accordingly, I give judgment for the plaintiffs and the cross defendant with
costs.  The plaintiffs are to draw up a minute of
orders giving effect to this
judgment.
<P>

LAST UPDATED: 	19/02/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/93.html</i><br>
</p>
</small>
</body>
</html>
