<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Zorbas v Avco Financial Services Ltd [1999] NSWSC 54 (3 February 1999)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000" link="#0044BB" alink="#FF0000" vlink="#660099" marginheight="20" marginwidth="20">
<p></p>
<!--sino noindex-->
<table border="0" width="100%" cellspacing= "2" cellpadding="2">
<tr valign="top">
<td align="left" rowspan="2" width="10%">
<a href="/"><img alt="AustLII" border="0" src="/images/logos/AustLII_small.jpg"></a></td>
<td align="left" width="80%">
<small>
[<a href="/">Home</a>]
[<a href="/databases.html">Databases</a>]
[<a href="http://www.worldlii.org">WorldLII</a>]
[<a href="/forms/search1.html">Search</a>]
[<a href="/austlii/feedback.html">Feedback</a>]
</small>
<h1>Supreme Court of New South Wales</h1>
</td>
</tr>
</table>
<small><b>You are here:</b>&nbsp;
<a href="/">AustLII</a> &gt;&gt;
<a href="/databases.html">Databases</a> &gt;&gt;
<a href="../">Supreme Court of New South Wales</a> &gt;&gt;
<a href="./">1999</a> &gt;&gt;
<b>[1999] NSWSC 54</b>
</small>
<p></p>
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC">Database Search</a>]
[<a href="/form/search1.html?mask=au/cases/nsw/NSWSC&title=1">Name Search</a>]
[<a href="../recent.html">Recent Decisions</a>]
[<a href="/cgi-bin/sinosrch.cgi?method=boolean&query=NSWSC+1999+54 or 1999+NSWSC+54">Noteup</a>]
[<a href="54.txt">Download</a>]
[<a href="/austlii/help/cases.html" title="Help">Help</a>]
<!--sino index-->
<hr>
<h2>
Zorbas v Avco Financial Services Ltd [1999] NSWSC 54 (3 February 1999)
</h2>
<!--make_database: source=/home/philip/austlii/db/NSWSC/data/1999_54.html-->
<!--sino date 3 February 1999-->


<P>Last Updated: 18 February 1999
</P>

<p>NEW SOUTH WALES SUPREME COURT
<P>

CITATION: 	Zorbas v Avco Financial Services Ltd  <a href="http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/54.html" title="View Case" class="autolink_findcases">[1999]  NSWSC 54</a>
<P>

CURRENT JURISDICTION: 	Common Law
<P>

FILE NUMBER(S): 	19161/93
<P>

HEARING DATE{S): 	1-3 February 1999
<P>

JUDGDMENT DATE: 	03/02/1999
<P>

 PARTIES: 
<P>

(Plaintiff) Vicki Zorbas
<P>

(Defendant) Avco Financial Services Ltd
<P>

JUDGMENT OF: 	Grove J      
<P>

LOWER COURT JURISDICTION: 	Not Applicable
<P>

 LOWER COURT FILE NUMBER(S):	Not Applicable
<P>

LOWER COURT JUDICIAL OFFICER: 	Not Applicable
<P>

COUNSEL: 
<P>

(Plaintiff) P. Glissan/O. Harrison
<P>

(Defendant) M. Ashurst
<P>

SOLICITORS: 
<P>

(Plaintiff) Chegwidden Solicitors
<P>

(Defendant) Noyce &amp; Associates
<P>

CATCHWORDS: 
<P>

contracts review - mortgage agreement - unfairness not established
<P>

ACTS CITED: 
<P>

<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cra1980201/" class="autolink_findacts">Contracts Review Act 1980</a>
<P>

DECISION: 
<P>

Judgment for defendant
<P>

JUDGMENT: 
<P>

1	HIS HONOUR : In this action the plaintiff seeks relief pursuant to the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cra1980201/" class="autolink_findacts">Contracts Review Act</a>.  The relevant transaction took place on 21 September 1992
when the plaintiff in company with her estranged husband attended the
office of
the defendant at Burwood.  It is apparent that whilst in the office she applied
her signature to a number of documents
being a loan application, a loan
contract and a mortgage.  In evidence the plaintiff said she only remembered
signing one document
but, as I have said, it is clear and she does not dispute
that her signature appears upon the others.
<P>

2	The relief sought by the plaintiff is the declaration that the loan contract
and mortgage were unjust and relief is sought in
accordance with the statute
which I have mentioned.
<P>

3	The evidence and addresses concluded yesterday and whilst I might be able to
express myself more fully and felicitously if I were
to reserve my judgment, as
I have formed a firm view of the outcome of the litigation I proceed to this
judgment.
<P>

4	There are a number of background circumstances, not necessarily
interconnected, which it is appropriate to record.  The plaintiff's
husband had
for a number of years been engaged in a business of concrete formwork building.
Their son, Nicholas, left school and
worked in the business with his father.
The plaintiff said that she was unaware of the nature of the business relations
between them.
<P>

5	The plaintiff herself was born in Corinth during the Second World War and
arrived in Australia as a young woman aged 20.  She
obtained employment as a
process worker and that employment lasted for about seven years.  She met her
husband shortly after her
arrival in Australia.  She claims that she has not
learned to speak English.  Her husband's affidavit filed in these proceedings
supports her contention and asserts that she speaks but a few words of English.
Her education in Greece ceased at about the age of
eleven whereafter she
assisted on her parents' farm.
<P>

6	That background gives rise to a number of particulars which are set out in
the schedule to paragraph 3 of the further amended
statement of claim filed on
13 November, 1998 which I will not pause to recite.
<P>

7	Many of the particulars incant the matters which are to be taken into
account, if they exist, pursuant to the terms of the statute
and others relate
to the plaintiff's asserted handicaps in participating in the transaction upon
which this action is centred.
<P>

8	The plaintiff and her husband had separated in about August 1991.  The
matrimonial home which is the subject of the mortgage encumbrance
arising out
of the transaction in September 1992 had been purchased in the early 1970's.
The separation of the parties apparently
took place when the husband had become
the father of a child by another woman and this circumstance became known to
the plaintiff.
<P>

9	The parties were ultimately divorced in about 1994. However, in October 1992,
that is to say in the month following the transaction
upon which this action is
centred, a consent agreement was filed in the Local Court at Kogarah exercising
jurisdiction pursuant to
the Family Law Act.  I shall return to remark about an
aspect about that agreement in due course.
<P>

10	The plaintiff's case was opened on the basis that on the occasion in
question her husband had simply asked her to attend with
him in order to sign
some documents in connection with the payment of wages for his business.
<P>

11	The course of evidence revealed that the plaintiff acknowledged that she was
aware that the purpose of the excursion was to raise
money for the stated
object but her claim was effectively articulated in her statements to the
effect that she did not know that
the house was involved.  It is fair to
observe that the assertion that the plaintiff did not know the house was
involved appeared
to be something of a mantra which was repeated frequently
during the course of her cross-examination in response to many questions,
some
of which could not have reasonably been understood to be seeking such an
answer.  The evidence of the plaintiff was taken through
a Greek
interpreter.
<P>

12	There is no allegation that the terms of the loan contract themselves were
inherently unjust or unreasonable nor is there any
assertion that the defendant
or any party on its behalf misrepresented the nature of the transaction. The
latter statement must be
qualified to the extent that it is submitted that the
husband was, in effect, an agent of the defendant, in that it was left to him
to explain the nature of the transaction to his wife.  That is not a
proposition which I accept, but in any event my acceptance or
non acceptance of
that proposition is not something which is essential to my determination of the
outcome of the case. The particulars
to which I have referred include an
assertion in a variety of language that the plaintiff was inexperienced in
commercial matters
and essentially it would be unjust to hold her to this
agreement because it can be concluded that she did not really understand the
nature of the transaction.
<P>

13	That is a proposition which I reject.  The matrimonial home which as I have
said was purchased in the early 1970's was the subject
of many mortgages in the
period prior to September 1992 and indeed, has been the subject of mortgage
since.  That is to say, a mortgage
separate from that upon which this action is
centred.
<P>

14	A background fact which it is convenient to recount and interpolate is that
the defendant and his son both became  bankrupt.
<P>

15	The date of the plaintiff's husband's bankruptcy is established in the
evidence and it is reasonable to assume, having regard
to the report to
creditors in respect of both the husband and the son that his bankruptcy was at
about the same time, that is to
say, December, 1994.
<P>

16	It is of interest to observe that although the plaintiff describes herself
as a pensioner and makes these claims of business
inexperience, she has filed
an affidavit which does not elaborate upon the bland statement that:
<P>

	"In 1996 I wished to purchase certain building scaffolding materials owned by
Emmanuel Zorbas, the brother of George Zorbas, the
cost of the scaffolding was
$140,000. The only way in which I was able to obtain funds to purchase the
scaffolding was by borrowing
money secured against the title against my house
at 31 Cometrowe Street, Drummoyne."
<P>

17	I would add to these observations that the notice to the creditors of the
husband and the son, Nicholas, records that a business
called Sydney Formwork
Pty Limited was being conducted under the directorship of two ladies known as
Niki and Patti Zorbas.  It appears
that those ladies are, respectively, the
plaintiff's daughter-in-law and daughter.
<P>

18	Part of the money raised by the 1996 mortgage was in fact used to discharge
the mortgage obligation owing to the defendant.
<P>

19	The payment was made without prejudice and I would accept the contention
that in the circumstances, if the plaintiff could demonstrate
that she was
otherwise entitled to relief that that payment should not stand in the way of
grant.
<P>

20	Counsel for the defendant vigorously submitted that the mortgage, having
been discharged,  could be regarded as entirely irrelevant.
 I do not agree
that this is so. However, this is a matter that need not be pursued unless I am
otherwise persuaded that the plaintiff
is entitled to relief.
<P>

21	The evidence manifests that the plaintiff, herself, had considerable motive
and interest in keeping the husband's business in
operation.  She has testified
that had she known the house was involved she would not have entered the
transaction.  She distinguishes
the transaction in 1996 by asserting that she
was prepared to do this to help her son but she was not prepared to help her
then estranged
husband in 1992.  That claim is somewhat contradicted by the
circumstance that in the series of mortgages that had been applied to
the
matrimonial home, but one month before the visit to the Burwood office of the
defendant the plaintiff had joined in the mortgaging
of the property to the ANZ
Bank in the sum of $360,000.  That security and money was raised to discharge
an existing obligation but
it is plain that she  was willing, on that occasion,
to secure the house in the interest of the husband's business.
<P>

22	This leads me to return to the settlement of the property under the Family
Law Act. The document which was filed in court after
the parties had legal
advice demonstrates that in reality the plaintiff was to receive the
matrimonial home and the husband was to
receive the business.  Importantly,
however, the husband took upon himself the obligation to free the matrimonial
home of mortgages
and to pay maintenance or alimony to the plaintiff of $500
per week.
<P>

23	It is self evident that there was no source from which such payments could
be made other than the conduct of the business and
it is for that reason that I
have become convinced that the plaintiff had not only a motive for ensuring the
continued operation
of the business but was in fact actively interested in
achieving that result.
<P>

24	In the course of counsel's address, I drew attention to the second paragraph
in the consent orders made pursuant to the Family
Law Act which referred to
mortgages over the family home being discharged.  The use of the plural was
appropriate as there were,
on the evidence, two mortgages: the presumably
registered mortgage to the ANZ Bank and the unregistered mortgage to the
defendant.
<P>

25	As I have already observed, those orders were made within a couple of weeks
of the attendance at the defendant's office in Burwood.
<P>

26	For all these reasons, and having regard to my observations of the
plaintiff, and giving full consideration to the circumstance
that her evidence
was being translated to me, I have nevertheless firmly come to the view that
her assertion that she did not know
the house was involved in the relevant
transaction cannot be accepted.  Indeed, I am affirmatively satisfied to the
contrary.  The
plaintiff entered into the transaction, therefore, with adequate
knowledge of what was involved.
<P>

27	It is true, as counsel for the plaintiff pointed out, that the documents
contemplate that copies would be given her, but this
did not occur.  It is also
true that the documents suggest that the benefit of the loan is to go directly
to the plaintiff's husband.
 However, this leads to another curious piece of
evidence to which I should make passing reference.  Despite the terms of the
documentation
there appeared in the plaintiff's Verified List of documents
reference to cheques and deposit slips.  Copies have been tendered and
become
Ex. 2 in the proceedings.  These reveal that two cheques, which I am satisfied
are the cheques respectively for $40,000 and
$10,000 drawn by Avco in favour of
the plaintiff and her husband were deposited into an Australia and New Zealand
Bank account on
21 September 1992. That is to say, on the date of the visit to
the Burwood office.  Bearing the same date, a cheque in favour of
the
plaintiff's husband was drawn by her on an account in the ANZ Bank at Drummoyne
for $40,000.
<P>

28	The plaintiff claims no recollection of this transaction.  She said that she
has signed cheques from time to time.  That activity,
as represented by the
drawing of cheques, is fortifying in my view of the conclusion that the
plaintiff was well aware of what she
was engaged upon at the time.  It may be
that the plaintiff herself did not have considerable business experience, and
it may be
that she was handicapped in a lack of understanding of the English
language.  The history which I have sketched shows, however, that
she was well
fitted to engage in a transaction of mortgage giving the home as security such
as occurred on the relevant occasion
and which had occurred on many prior
occasions and as I have indicated on at least one occasion since.
<P>

29	The relief pursuant to the <a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/cra1980201/" class="autolink_findacts">Contracts Review Act</a> can follow upon a finding
that the terms of a contract were inherently unjust or unreasonable.  No such
contention was here advanced.
 Nor, indeed, is there any material upon which
such a finding could reasonably be made.  
<P>

30	As I have said, there was no misrepresentation on the part of any agent of
Avco and it remains to consider whether or not arising
out of the surrounding
circumstances there emerges an injustice of the type that attracts the relief
contemplated by the statute.
 As I have sought to indicate, the plaintiff
joined in this contract for the loan.  The funds were passed.  She was, in my
finding,
fully aware of the nature of the transaction and there would be no
injustice in that contract or the contract of mortgage being enforced
against
her.
<P>

31	As I have indicated, somewhat unusually, in the litigation that is
comparable to this which usually comes before the Court, the
mortgage has in
fact been discharged and payment made on it on a without prejudice basis.
Therefore, it seems to me the only appropriate
order needed to be made is that
the action be dismissed and I direct entry of judgment for the defendant.
<P>

32	It would follow that there be an order for costs.  I order the plaintiff to
pay the defendant's costs of the action.
<P>

33	HIS HONOUR:  After delivery of judgment in this matter there were tendered
for the purpose of an application on costs, copies
of two letters from the
defendant's solicitors.  The first letter is dated 18 August 1998 and is
addressed to Messrs Simpson and
Harrison, who were then the solicitors on the
record for the plaintiff.  The document itself shows that it is addressed to a
document
exchange and also has endorsed upon it a fax number.
<P>

34	It is submitted by counsel for the plaintiff that I should act upon a
conclusion that there is inadequate evidence before me
that the letter was
dispatched or received.
<P>

35	In the circumstances I regard the dispatch and the receipt of the letter as
not genuinely in dispute and I regard the tender
of the letter as evidence of
the facts manifest therein including dispatch to the addresses that I have
mentioned.  I am prepared
to infer that the letter was received.  The letter
does specify attention to a former partner of the firm who by August 1998, I
accept,
had left the firm and, indeed, been admitted to the bar - or what I
think is more accurate these days, had commenced to practice
as a barrister.
<P>

36	The letter in its terms makes an offer of judgment for the defendant without
costs and includes not uncommon declaration that
the letter is a "Calderbeck"
letter and the defendant's solicitors reserved the right to tender this letter
if the issue of costs
should arise.  The offer was expressed to remain open
until the close of business on 25 August 1998 at 5pm.
<P>

37	As is apparent from the continuation of litigation the offer was not
accepted.  Indeed, the second part of the tender consists
of a letter in not
dissimilar terms dispatched to the new solicitor on record dated 27 January
1999.   The offer in this case was
expressed to be open only until 4pm Friday
29 January.  The case was listed for hearing on Monday 1 February instant.
<P>

38	Mr Glissan, for the plaintiff, has said practically everything that one
could imagine could be said to resist this application.
 In addition to the
submission that I have already mentioned he points out that the defendant's
success was in a large way perceptibly
attributable to concessions made by the
plaintiff herself in cross-examination.  He contends that therefore the
defendant would not
have been entirely confident of his position when offering
a settlement, as it were, based upon judgment in its favour. The issues
in the
case it is claimed were complex.  The position of the plaintiff as a non
English speaking migrant to the country should not
be ignored and it was
submitted that it could not be said to have been vexatious to continue
litigation.  Given all that, it is my
duty to exercise my discretion in
accordance with the overall principles which have been conveniently stated by
Young J in <b>Wallace v Baulkham Hills</b> <b>Smash Repairs Pty Ltd (No 2)</b>
Equity Division, unreported 21 August 1995.
<P>

39	I would respectfully adopt what his Honour had to say there.  Applying that
adoption, and adapting matters to the present circumstances
I come to the
conclusion that the non-response of the plaintiff to the letter of the 18
August 1998 should result in a consequence
that indemnity costs be paid after
expiry of the offer of that date.  Accordingly I amend the order for costs
already made that the
plaintiff pay the defendant's costs of the action to add
that those costs be paid on an indemnity basis after 25 August 1998.
<P>

<b>I certify that paragraphs 1 - 39 </b>
<P>

<b>are a true copy of the reasons for </b>
<P>

<b>judgment herein of the </b>
<P>

<b>Honourable Mr Justice Grove.</b>
<P>

<b>Associate V.J. King</b>
<P>

<b>Date : 11 February 1999</b>
<P>

LAST UPDATED: 	11/02/1999
</p>
<!--sino noindex-->
<p></p><hr>
<small>
<p>
<b>
AustLII:
</b>
<a href="/austlii/copyright.html">Copyright Policy</a>
<b>|</b>
<a href="/austlii/disclaimers.html">Disclaimers</a>
<b>|</b>
<a href="/austlii/privacy.html">Privacy Policy</a>
<b>|</b>
<a href="/austlii/feedback.html">Feedback</a><br>
URL: <i>http://www.austlii.edu.au/au/cases/nsw/NSWSC/1999/54.html</i><br>
</p>
</small>
</body>
</html>
